[2015-06-09 21:49] lealgerardo commented on #3446
Well, turns out that it is then a nashorn issue, though i also see it in rihno with 1.4.

The problem seems to be that there are more than 255 properties on the ts.Diagnostics object

ts.Diagnostics = {
};

If i reduce the number of properties int hat object to 255 it works, if i add one more i see the error because the entire ts.Diagnostics gets undefined,

Of course this is strange, since it see

[2015-06-09 21:53] mhegazy commented on #3445
As @danquirk mentioned, the definition for the interface is in `lib.es6.d.ts`, along with other interface definitions in the ES6 spec. The reason why they are split in a separate file, is to avoid confusion when using new ES6 interfaces on current engines that do not support them. From the compiler perspective, all what is needed is the type declarations. you can include the interface definitions

[2015-06-09 21:55] mhegazy commented on #3446
thanks for looking into this @lealgerardo. this is useful information. We need to file an issue for Nashorn for this one.

[2015-06-09 22:02] vladima commented on #3444
@rolandjitsu currently Angular2 still uses traceur and thus depends on traceur runtime..

[2015-06-09 22:02] mhegazy commented on #3438
TypeScript does not bundle Angular code with it. so there is no version dependency here. you can find Angular 1.* definitions on definitelyTyped: https://github.com/borisyankov/DefinitelyTyped/tree/master/angularjs

you can also use [tsd](http://definitelytyped.org/tsd/) to search, download and update your .d.ts in general.

[2015-06-09 22:02] #3438 closed

[2015-06-09 22:06] blesh commented on #3445
it seems like, for the majority of interfaces at least, it shouldn't matter that I'm targeting ES6 or ES5. I'm just saying "I expect this contract for this object". I understand that certain declarations won't be in place, but interfaces seem legit to me.

[2015-06-09 22:11] Arnavion opened #3457 "Intellisense gives "any" type for the original name in a destructuring assignment"
[code]

This gives the type "any" when mousing over `x`

![image](https://cloud.githubusercontent.com/assets/1096010/8070646/a8984194-0eb7-11e5-82c6-54bf3f66956c.png)

(Not sure what the corresponding services API is. `getTypeDefinitionAtPosition` ?)

Mousing over `x2` is fine - it gives "number". It would be nice if mousing over `x` gave the same, since it helps with nested destructuring to see t

[2015-06-09 22:14] mhegazy commented on #3445
I agree interfaces are fine. it is just untangling what is fine and what is not is a bit.. manual. should `Promise` be defined or not for instance, or just put the interface but not the constructor declaration... so we lumped them all based on the version of the language they came from.

[2015-06-09 22:14] danquirk commented on #3445
It matters in the sense that your completion lists are now filled with a mix of things that will and won't work, and the compiler is not giving an error for things that don't actually exist where you'll be running your code. Yes they're just types so there's no missing runtime code but if you're writing a bunch of TS against the Iterator concept but then executing on ES5 you're probably not gettin

[2015-06-09 22:34] DanielRosenwasser commented on #3457
Duplicate of #2675.

[2015-06-09 22:34] #3457 closed

[2015-06-09 22:40] RyanCavanaugh commented on #3437
Experience with re-using an existing value-position keyword as a type-position operator with a different meaning has not proven it to be a good approach.

People are continuously confused about the difference between type-position `typeof` and value-position `typeof` -- people try to write `typeof T` in a type position where `T` is a type parameter, or think that `typeof` returns something other t

[2015-06-09 22:42] CyrusNajmabadi opened #3458 "GetCompletionItems needs to be profiled."
On Vlad's machine we're seeing that GetCompletions is taking longer than we would expect inside checker.ts.  Often times being >100ms, and sometimes up to 250ms.  We need to profile this to see where our time is going, and to see if there is low hanging fruit we can attack to speed things up.

Ideally we'd see a breakdown that is something like:
20-40ms parsing
5-10ms binding
20ms on completion it

[2015-06-09 22:57] lealgerardo commented on #3446
Thanks guys. If anyone reading this needs to run the typescript compiler from the JVM you will run into this and for now my workaround is to modify the typescript.js from the ts node module directly adding the message = message || {} inside the first line of  createFileDiagnostic as follows:

[code]

This will at least allow nashorn to run the compiler.

[2015-06-09 22:59] mhegazy commented on #3458
Since you guys are looking into perf anyways. can you and @vladima take this one as well.

[2015-06-10 00:41] mhegazy commented on #3314
Nothing prevents using the cast explicitly today, so in a sense this is not blocked on the compiler, it is just more convenient.

As @RyanCavanaugh  mentioned in https://github.com/Microsoft/TypeScript/issues/2444#issuecomment-85097544 run time type information is something that we have considered out of scope. this might change in the future though.

[2015-06-10 00:41] #3314 closed

[2015-06-10 00:47] mhegazy commented on #3304
The compiler does not treat the library any differently than any other file. `--noLib` is a supported way of using a custom library file. If you see this suggestion as an appropriate way to type DOM for your scenarios, by all means go for it, and the compiler should just not give you any more hard time. For reasons outlined previously in https://github.com/Microsoft/TypeScript/issues/3304#issuecom

[2015-06-10 00:47] #3304 closed

[2015-06-10 00:47] jhlange commented on #3314
This isn't quite the same.-- It has nothing to do with the js type system, it is more about conformance to a type.-- It would greatly simplify programs if it were supported, eliminating many error-prone conformance style checks like if(typeof myObject.x === 'string'.....)  all over the place.-- The result is cleaner, less buggy code.

[2015-06-10 00:48] jhlange commented on #3314
@mhegazy This isn't quite the same.-- It has nothing to do with the js type system, it is more about conformance to a type.-- It would greatly simplify programs if it were supported, eliminating many error-prone conformance style checks like if(typeof myObject.x === 'string'.....) all over the place.-- The result is cleaner, less buggy code.

[2015-06-10 01:11] jhchen commented on #3442
Perhaps Typescript should just pick the effective name? A human would likely pick something similar anyways and part of the point of overloading is not having to think of a different name.

Given your example:
[code]

Typescript could keep track of unique function signatures and append an index in the generated Javascript:
[code]

Or it could pick more descriptive names by appending the type inste

[2015-06-10 01:43] wardbell opened #3462 "Specialized signature yields incorrect intellisense in playground"
At least it seems that way to me.

Below  is the code I entered in the [playground](http://www.typescriptlang.org/Playground) based on your documentation for [specialized types] (http://www.typescriptlang.org/Content/TypeScript%20Language%20Specification.pdf).

If you hover over the `el` variable in

    var el = foo.createElement('div')

intellisense reports the type is "HTMLSpanElement"

That's

[2015-06-10 01:45] wardbell commented on #3462
Here's the intellisense image:
![2015-06-09_18-45-25](https://cloud.githubusercontent.com/assets/129061/8073285/bb229c4a-0ed7-11e5-9ac3-4eef758bdb4c.png)

[2015-06-10 02:00] wardbell commented on #3462
The code variation below yields more reasonable intellisense
![2015-06-09_18-45-25](https://cloud.githubusercontent.com/assets/129061/8073415/843b5f1c-0ed9-11e5-93fa-b1dcf1933cdf.png)

so not *everything* feels broken.

I was mildly disappointed that it didn't use the information in the specialization string to determine that the type of the element had to be a "number". But at least it isn't wron

[2015-06-10 02:03] danquirk commented on #3462
This is a common source of confusion. You actually have to repeat the signatures you want in the implementing class in order to get the behavior you want. What you have currently is saying 'here is a type that defines a set of signatures' (IFoo) and then with an implements clause you ask the compiler 'make sure this thing (Foo) conforms to the set of signatures in this other thing (IFoo)'. The imp

[2015-06-10 02:03] #3462 closed

[2015-06-10 02:14] duanyao commented on #3304
@mhegazy I think I've answered your concern above ( https://github.com/Microsoft/TypeScript/issues/3304#issuecomment-106969510 ), maybe you are too busy to reply in detail.

I'd like to stress:

* `UniversalElement` approch is as safe(or unsafe) as type assertion used today in DOM programming.
* WebIDL of DOM should not always be the consitution of TS typing. WebIDL is designed mainly for the purp

[2015-06-10 02:22] mhegazy commented on #3314
@jhlange, I get your point; I am not saying there is no use case for this; i  just saying this is out of the scope of the project at this point. So far Typescript gives you a desigtime-only erasable type system, with code looking almost identical to your source code (not even reordered based on declaration dependency) and no dependency on runtime libraries (just small helpers like  __extends). Goi

[2015-06-10 02:26] aleksey-bykov commented on #3423
- `fromNone` is a constructor for the `Optional<a>` type, it **has** to be generic in order to produce `Optional<a>`

- you are right that the `a` parameter is no use in `fromNone` function, i deliberately simplified the example for better clarity, the original definitions that we use in production code look that this:

[code]

- sugar or not the whole point of the `none` case is to be able to enc

[2015-06-10 02:53] clement911 commented on #2056
I got that error too. It started happening because I had the micro character in a string 'µ'. Once removed, the error goes away...

[2015-06-10 04:52] Ciantic commented on #3448
It's not artificial example, I'm creating a validator and it requires me to type both generics even though the second one is always much better as type inferred.

It's hard to explain this succintly, but I suspect there is whole lot of other use cases for leaving rest of the generics for type inference.

Did you look at this edit I added: the intentional syntax `test<Thingie,>("test");` makes it c

[2015-06-10 05:01] blesh commented on #2719
I'm trying to redevelop [RxJS in TypeScript](https://github.com/ReactiveX/RxJS/pull/33), and this is a requirement, as RxJS needs to support CJS very cleanly. Any idea of where this sits as a priority?

[2015-06-10 05:10] blesh commented on #3445
But interfaces with simple types *do* exist...

[code]

And `{ done: true }` exists in all versions of JavaScript.

[2015-06-10 05:28] wardbell commented on #3462
Thanks for the explanation, @danquirk.  Maybe it belongs in the documentation as well? I just re-read it and the requirement to re-express the signatures in the implementation is neither stated nor illustrated.

FWIW, let's emphasize the word ***all*** in your statement "*push \_all\_ the signatures into the implementing type*".  When I was confirming your example, I omitted the final declaration

[2015-06-10 05:36] NoelAbrahams commented on #3304
@duanyao, I would follow the advice of @jeffreymorlan above and encapsulate the interaction with the DOM. (I just did a search of our large code-base and we have just 3 references to `querySelector`, and 22 references to `getElementById, but 21 of those 22 references were in the test harness.)

It doesn't make sense to me to define this composite interface called `UniversalElement` that is going t

[2015-06-10 05:44] rolandjitsu commented on #3444
I've included traceur runtime as well. I am not quite sure where the issue occurs.

Sent from my iPhone

[2015-06-10 06:29] duanyao commented on #3304
@NoelAbrahams If your project rarely uses `querySelector/getElementById` etc., it is just fine.
But this is not the case for many other projects (including mine). The popular library jQuery was born to provide such "query" functionality and latter implemented by `querySelector`.

I'm not sure what do you mean by "TypeScript-specific" and "indirection". Actually I think `UniversalElement` makes cli

[2015-06-10 07:17] panuhorsmalahti opened #3464 "TypeError: Cannot read property 'failedTypeParameterIndex' of undefined"
I'm getting this exception with TypeScript 1.5.0-beta when I'm creating a class which doesn't satisfy the constraits of the generic type.

[code]

Unfortunately, I'm not able to create a small reproducable test case. It should be similar to this:
[code]

but that reports the error correctly.

If I comment out lines 14007...14011 in my application's build, the error is reported correctly:
[code]

[2015-06-10 07:36] poelstra commented on #2812
Nice, thanks!

[2015-06-10 07:40] jcchalte commented on #3412
I have managed to reproduce the issue once with TS 1.5 beta. I was coding in typescript for 3 hours, had around 10 TS opened. DevEnv.exe was using between 1.8GB and 2GB of RAM. I had to execute a package manager command (an entity framework initialization one in the case). The command hang Visual Studio. This only happens when the RAM usage is near 2 GB (it either hang, or throws an OutOfMemoryExc

[2015-06-10 08:57] jcchalte commented on #3412
Another crash right now. I was editing a typescript file and used the "file filter" in the solution explorer. The main thread seems to be locked on a Typescript operation :

 	mscorlib.dll!System.Runtime.InteropServices.Marshal.InternalGetObjectForNativeVaraintLogging(System.IntPtr pSrcNativeVariant)	Inconnu

 	TypeScriptLanguageService.dll!TypeScriptLanguageService.ScriptContext.OpenProject.ReadT

[2015-06-10 09:14] rolandjitsu commented on #3444
@mhegazy, @vladima I managed to setup TS eventually. The example you have from ngConf is using SystemJS to compile the ts files at runtime, but I am actually compiling before hand. So it wasn't that helpful.

I did not manage to make it work using the `system` module format, so I switched to `commonjs` and I added the `cjs` extension from SystemJS (I was only using the [register](https://github.co

[2015-06-10 09:30] evil-shrike commented on #3451
Hi.
As I mentioned in #2997 the fix didn't change anything in my case. I built `deeplyNestedTypeArgumentInference` branch, copied built/local into my project's typescript/bin and run:
[code]

[2015-06-10 11:41] NoelAbrahams commented on #3304
JQuery is an anti-pattern :smile: and mimicking that behaviour is not entirely advisable. "TypeScript-specific" and "indirection" because we are attempting to replace well-known interfaces with something new.

[2015-06-10 12:28] jbondc commented on #3440
@mhegazy There's a subtle issue:
[code]
It's a simple fix:
[code]
Anyways let me if you change your mind.

[2015-06-10 13:48] jbondc commented on #1007
I really like this feature but could we instead write it as:
[code]
The implementation would be roughly the same would instead we attach the identity mapping to the function signature.
This would allow to support:
[code]

[2015-06-10 14:01] duanyao commented on #3304
@NoelAbrahams ,
So you are saying `querySelector` is also an anti-pattern and WHATWG/W3C made a big mistake to introduce it? In my experience, `querySelector` or similar APIs can only be avoided if we are using a comprehensive web framework, but this is not always feasible.

I don't think most web developers are familiar with all those DOM interfaces, because they don't use them directly in JS. Ho

[2015-06-10 14:17] NoelAbrahams commented on #3054
I've also noticed that when the IDE is left unattended for a couple of hours (e.g. lunch break) it just becomes ultra slow and unresponsive upon returning, and often crashes soon after.

[2015-06-10 14:38] pmccloghrylaing commented on #1985
@kitsonk I think that suggestion belongs in #285.

My vote is for `this` as the first argument, without a special separator. It seems to more accurately represent what is happening without adding a special syntax. I think by including `this : any` implicitly for functions that don't specify `this` means assignability is already taken care of as `this` is treated as another argument. It *should* al

[2015-06-10 14:48] jbondc opened #3465 "BUG 831833"
What does the bug make reference to?
https://github.com/Microsoft/TypeScript/blob/9a89147587c06ba51181ff2ee5ade69a98b171ea/tests/cases/conformance/types/typeRelationships/subtypesAndSuperTypes/enumIsNotASubtypeOfAnythingButNumber.ts#L123

[2015-06-10 15:15] RyanCavanaugh commented on #3440
Your first comment was about `typeof e.m`, but now you're talking about `typeof e`. Those are two very different things -- `typeof e.m` is a long way of writing `e`, but there's a reasonable use case to allow `typeof e`.

[2015-06-10 15:17] RyanCavanaugh commented on #3465
Old internal bug report. Contents reproduced:

---
[code]
Expected: no errors
Actual: enum isn't a subtype or assignable to Object or {}

[2015-06-10 15:17] #3465 closed

[2015-06-10 15:25] jbondc commented on #3465
I'm confused what should be the behavior?
[code]
Is that correct?

[2015-06-10 15:40] dani-h commented on #1616
(Y)

[2015-06-10 15:56] zhuravlikjb opened #3466 "enum vs const enum - order matters"
This code is compiled okay:

[code]

This code produces a compiler error:

[code]

Seems not to be very nice to depend on declarations order in this case.

[2015-06-10 16:20] WaldemarH opened #3467 "VS plug in: Unchecked automatic formatting still formats the code"
Using VS 2015 RC and even if all the items in Options/Text Editor/Type Script/Formatting are unchecked when I write a line and press enter the line is formatted.

Ex.:
	var		brb: string = "test";     <-- contains spaces or tabs between var and brb
on enter is converted to
	var brb: string = "test";               <-- only one space is left between var and brb

I would assume if all formatting is un

[2015-06-10 16:24] WaldemarH commented on #3467
A the first line contained tabs, but the same symptom is when multiple spaces  are used between var and brb.

[2015-06-10 16:28] zhuravlikjb opened #3468 "Very slow TypeScript processing for TypeScript/nodejs project"
VS2013 / Node.Js extension from here http://www.codefoster.com/open-existing-nodejs-project-in-visual-studio/
This project: https://github.com/TypeStrong/atom-typescript, just open it, and open TS files one by one, trying to perform typing in opened files. This happens really slowly.

[code]
Full performance snapshot is here: https://www.dropbox.com/s/yrjnwz2k4kqjrrd/Snapshot.zip?dl=0. (Unzip and

[2015-06-10 16:31] zhuravlikjb commented on #3466
The same happens even for two const enums.

[code]

[2015-06-10 16:41] jonathandturner opened #3469 "Support "medium-sized" projects"
Listening to @nycdotnet has me fired up to tackle this one.  Thanks, Steve.  (btw, you can check out his good interview here: http://www.dotnetrocks.com/default.aspx?showNum=1149)

The proposal here was first started in times prehistoric (even before #11), when dinosaurs walked the scorched earth.  While nothing in this proposal is novel, per se, I believe it's high time we tackled the issue.  Ste

[2015-06-10 16:55] vilic commented on #3411
So can I take that as "this suggestion is reasonable"? :D

[2015-06-10 17:22] nycdotnet commented on #3469
Oh my goodness!

[2015-06-10 17:26] JsonFreeman commented on #3451
That is a shame. Unfortunately, without a longer stack trace or a sample that represents the issue, I'm out of ideas. If it is okay for me to see your original source code, I don't mind debugging on that.

[2015-06-10 17:32] JsonFreeman commented on #1007
@jbondc The scenario you are describing is covered by #1003, not this feature.

[2015-06-10 17:39] RyanCavanaugh commented on #3203
Summary of a meeting we had on Monday

----

We need to use the Uppercase-vs-lowercase distinction to distinguish between Intrinsic elements and Class elements. The problem is that during single-file transpilation, we're not going to be able to see any of the `IntrinsicElement` interface properties. That means when we see `var div = <div />`, we're going to think that we should emit `div` instead

[2015-06-10 17:41] RyanCavanaugh commented on #3465
I believe that bug (and thus that test) refer to out-of-date behavior. All types are assignable to `{}` and `Object`, so those shouldn't be an error.

[2015-06-10 18:00] RyanCavanaugh commented on #3411
Summary: When we see a property access where the indexing expression is an enum member, we should resolve the property access as if the indexing expression were actually the computed value of the enum member's value.

In other words, `var x = Foo[E.bar]` is equivalent to `var x = Foo[2]` if we can resolve `E.bar` to its value `2`.

[2015-06-10 18:14] vladima commented on #3467
should be fixed by @paulvanbrenk in our internal bits. pinging him to confirm

[2015-06-10 18:16] #3467 closed

[2015-06-10 18:23] vladima commented on #3412
@jcchalte your heap dump shows that the majority of memory is used by ReSharper. Can you try to disable it and use only built-in TypeScript support - will it show better perf/memory characteristics?

[2015-06-10 18:32] danquirk commented on #3448
Could you post an example of code where you need to explicitly specify some type arguments which aren't inferred correctly while others are? The better fix from my perspective would be to fix the inference process so that you don't have to specify any of the type arguments explicitly.

[2015-06-10 18:34] paulvanbrenk commented on #3467
Yes, this is fixed for RTM

[2015-06-10 18:42] vladima commented on #3468
@zhuravlikjb just to confirm, there are lots of errors in the error list when you have these slowdowns?

[2015-06-10 18:49] danquirk commented on #3445
But all the things you are likely to want to do with an Iterator require ES6 unless you have a post-build step that transpiles for you. Since that post-build step doesn't exist by default and we can't tell whether it's there we're trying not to lead someone down a path where they use a bunch of Iterator based APIs when targeting ES5.

[2015-06-10 18:54] vladima commented on #3468
And can you also try [TypeScript 1.5 beta for VS2013](https://visualstudiogallery.msdn.microsoft.com/107f89a0-a542-4264-b0a9-eb91037cf7af) to see if it makes any differences (number of errors, general responsiveness)

[2015-06-10 19:07] danquirk commented on #3462
It's not specific to specialized signatures that's why it's not in that spec section. 8.1.1 (Class Heritage Specification) for example says:

_The implements clause of a class provides a mechanism to assert and validate that the class contains the appropriate sets of instance members, but otherwise it has no effect on the class type._

And yes, the fact that the implementation signature does not c

[2015-06-10 19:17] danquirk commented on #3464
I assume you're unable to share the full project with us in some form (privately if not posted publicly)? Do you still get the crash with the latest bits from ```master```?

[2015-06-10 21:21] vladima commented on #3412
And can you also try [TypeScript 1.5 beta for VS2013](https://visualstudiogallery.msdn.microsoft.com/107f89a0-a542-4264-b0a9-eb91037cf7af) to see if it makes any differences (number of errors, general responsiveness)

[2015-06-10 23:08] randombk commented on #3464
I've also found this bug. This code triggers it:

[code]

I've bisected it to 93dbcf006f3855c20f02e587970add1744cf32d1

[2015-06-10 23:32] unional commented on #3469
:+1:

[2015-06-10 23:51] tomitrescak commented on #2009
Hi, the documentation says that "noEmitHelpers" flag is supported now, but using it with 1.5.0-Beta does not do anything? Is there any particular release I should be using? Thanks.

[2015-06-11 00:12] kungfusheep commented on #3469
Yep! This makes perfect sense for the use-cases you've provided. Providing the tools we use with a better view on how our code is intended to be consumed is definitely the right thing to do. Every time I F12 into a .d.ts file by mistake I feel like strangling a kitten!

[2015-06-11 00:21] DanielRosenwasser opened #3472 "Empty object binding parameter emits invalid code"
From `tests/cases/compiler/declarationEmitDestructuring4.ts`:

[code]

Emits:

[code]

[2015-06-11 00:26] randombk commented on #3464
I fixed the bug and created PR #3473

[2015-06-11 00:35] DanielRosenwasser opened #3475 "'let' should not be allowed to be bound as a variable in a for-of loop or let/const decl"
The following examples should trigger an early error in JS:

[code]

[code]

<sub>Note: a similar test exists in `tests/cases/conformance/es6/for-ofStatements/for-of56.ts`) for the following 3 examples</sub>
[code]

[code]

[code]

I'm not sure if the following should trigger an error:

[code]

-------
-------

-----------------

[2015-06-11 00:41] chicoxyzzy commented on #2719
this is must-have feature. our team is really missing it and this is a stopper.

[2015-06-11 01:18] ttowncompiled commented on #3375
A few questions, if any of you wouldn't mind taking the time to answer them:

1. Is there currently a way to implicitly create an intersection of two interfaces? Or would an adapter have to be defined?
2. Can a union type in a parent interface be constrained by a child interface?
3. During compilation, is it not possible to assert the claim that a value is both a string and number? Intersection ty

[2015-06-11 01:31] vladima commented on #3444
what is interesting, result `angular.js` in 'lib' folder does not have `System.register` call for 'angular2/angular2' module, however this call exists in '[angular2.dev.js](https://code.angularjs.org/2.0.0-alpha.26/angular2.dev.js)' that is used in ngconf demo repo

[2015-06-11 01:35] vilic commented on #3411
And also consts, I think.

[2015-06-11 03:34] rolandjitsu commented on #3444
@vladima are you talking about [this](https://ng2-play.firebaseapp.com/lib/angular2.js)? Because it's actually the very first line that registers `angular2/angular2` if that is what you are talking about.

[2015-06-11 04:15] tinganho commented on #3426
Just tried to fix this. I think I'm too unfamiliar with the formatting code base.

[2015-06-11 04:38] RyanCavanaugh commented on #3426
This might help as a comparison point -- https://github.com/Microsoft/TypeScript/pull/3470/files#diff-c00fb970b520e73379126b81f2de14f5L472

[2015-06-11 05:03] Ciantic commented on #3448
@danquirk and @mhegazy

This example would be prohibitively long, so I'll try again with use case. But the use case is so cool and useful that I really want this to work! This is basically Django class fields syntax as object literal, and with interfaces, no classes was abused!

It allowes to create nested validator in *fully readable* format, check this out:

[code]

Get it? The `V.objectField` i

[2015-06-11 06:42] tinganho commented on #3426
Just two lines of code :smile:

[2015-06-11 06:53] blesh commented on #3445
Any *interface* can be implemented and returned in plain es5. This is the principle on which transpilers are built. If I want to return a type that doesn't exist in my target, then the onus is on me to polyfill that type.

tsc could warn me, maybe, but their is no reason it should error. All that does is cause me to add the interface myself, or worse, return type `any`.

[2015-06-11 06:58] blesh commented on #3445
Incidentally, I've just added the interface myself to each file I need it in. So I've worked around this sort of unfriendly feature. I haven't closed this only because I thought you might want to track the concern.

[2015-06-11 07:02] blesh commented on #2719
@chicoxyzzy Thus far my solution is to transpile to es6, then use Babel to get to AMD and CJS. Finally Browserify to create a global, bundled file. It's a little wonky, but it works. (I'm authoring a library though)

[2015-06-11 07:20] WaldemarH commented on #3467
Thanks guys, it's really appreciated what you do.

[2015-06-11 07:38] HerringtonDarkholme commented on #1616
Awesome! My first try on this is `type classOf<T> = {new(): T}`

[2015-06-11 07:51] mariusschulz opened #3478 "Types with same name but different type parameters"
I was wondering: Are there any plans to support multiple types with the same name, but with a different number of type parameters, like this (similar to the `Func<T>` type in C#)?

[code]

The current error message says that *"all declarations of an interface must have identical type parameters"*.

Or, with https://github.com/Microsoft/TypeScript/issues/1616:

[code]

[2015-06-11 08:32] CyrusNajmabadi commented on #1616
@HerringtonDarkholme That seems like an odd use of generic type aliases.  An interface seems like a better choice here:

[code]

[2015-06-11 10:19] hafizahmedattari commented on #3444
How can I use Component instead of ComponentAnnotation as Component, when I use Component it's throw an Error: Error during instantiation of Token(ComponentRef)!. ORIGINAL ERROR: No Directive annotation found on App

[2015-06-11 10:50] guybedford commented on #2719
Just to clarify on the interop discussion - Babel's handling of making the default export the primary module.exports is a convenience unrelated to Babel's handling of CommonJS interop - they are orthogonal concerns. The handling of CommonJS interop is exactly the flag system though.

[2015-06-11 12:53] aleksey-bykov commented on #2727
I think that as a least painful start in order to customize the emitter all what needs to be done:

1. Define and expose a public interface of the emitter.
2. Have a way to get an instance of the original emitter.
3. Be able to inject an object implementing the emitter interface (or a factory for such object) back to the compiler

In addition to what's above it would also be nice:

4. Add a comman

[2015-06-11 13:01] aleksey-bykov commented on #3442
@jhchen, you are right that compiler is able to generate synthetic effective names, i don't think it will contribute to the readability of the generated code though, i don't think that saving a little hassle with giving naming is worth less readable code

[2015-06-11 13:51] madmanpierre commented on #2056
I have two cases that hopefully will help other people. If you edit code in MS-Word or Outlook, your single quotes and dashes can get changed into 'fancy' ones. If they are then copied back into Visual Studio, you get this helpful (not) message when you build.

I don't know for sure how it happened to us. My best guess is: I copied a comment from code into an email, then I edited it in the email a

[2015-06-11 13:58] jbondc commented on #1007
I think the boolean/predicate is just a special case:
[code]
Infer the constant on the RHS to be true:
[code]
The general rule for type narrowing by constant value is:
[code]
It's not too concrete right now, but fairly confident the end result is the same without two different narrowing algorithms.

[2015-06-11 14:53] Ziriax opened #3479 "Generic function overloading in TS 1.4+, dummy declaration needed?"
I'm trying to understand why the following code doesn't compile with TS 1.4+:

[code]

But this one compiles fine:

[code]

Is this a feature or a bug?

Thanks,
Peter

[2015-06-11 15:34] vladima commented on #3412
@jcchalte apologies, ignore the last comment, somehow I've missed that you already on TS 1.5 beta. Keep using it, just try to disable ReSharper.

[2015-06-11 16:00] jcchalte commented on #3412
Yes I will try to gather another more relevant dump. Usually, we have many crashes daily but this week, the majority of the team is working on non-coding related things.

However, I have managed to reproduce two issues :

1. One visual studio "CPU spike" made this morning where Visual studio became unresponsive for multiple minutes :
- Two TS files opened for around 2 hours without any modificatio

[2015-06-11 16:41] jbondc commented on #364
Haven't looked at all examples but I could have a go at this.

I'd propose the following syntax:
[code]

[2015-06-11 16:53] tkrotoff commented on #2521
A JavaScript getter and setter with different types is perfectly valid and works great and I believe it is this feature's main advantage/purpose. Having to provide a `setMyDate()` just to please TypeScript ruins it.

Think also about pure JS libraries that will follow this pattern: the .d.ts will have to expose an union or `any`.

Then this limitation should be fixed and this issue should stay ope

[2015-06-11 17:05] RyanCavanaugh commented on #2521
I realize this is just an opinion, but writing a setter such that `a.x === y` is not `true` immediately after `a.x = y;` is a giant red flag. How do consumers of a library like that know which properties have magic side effects and which don't?

[2015-06-11 17:10] wgebczyk commented on #3442
If TS wants to be only transition to ES6+, then let's do what ES6+ spec says in that area.
If TS wants to be somethng more than that, this is very helpful as many other features that are available to the moment of generating JS.

Yes! I want language that has more features that JS(whatever), so please add as many as possible options that helps develop applications!

[2015-06-11 17:14] jbondc commented on #3003
@CyrusNajmabadi Interesting, about immutability I think you could 'emulate' via a Proxy. That is, you wrap an object via another object. Don't know about performance impact (especially memory) but it does give safety. Structs would be nice, ask the IE team to do something about that :smile:

[2015-06-11 17:19] tkrotoff commented on #2521
In JavaScript it can be un-intuitive, in typed languages like C# and TypeScript the tools (IDE + compiler) will complain. Why do we love TypeScript again? :)

[2015-06-11 17:24] blesh commented on #2719
@guybedford nonetheless, if you want CJS interop without having to add `__esModule` all over your code, *for now* the answer is tsc -> es6  then babel -> cjs

[2015-06-11 17:42] nycdotnet commented on #3394
@NoelAbrahams Thanks for replying.  I think that sounds like a good solution for projects using internal modules in VS.  I have been tracking NTVS for more than a year, but always uninstalled it because it felt too unstable with TypeScript.  Is the latest version fairly solid?  Does that help you link to external modules hosted in external projects, or do you still have to generate and copy around

[2015-06-11 17:42] #3394 closed

[2015-06-11 17:48] JsonFreeman commented on #1007
I see what you are saying, but it requires a way for the user to express the intended mapping from return values to narrowing types. I think this is not a useful capability in general. Certain special cases are useful though. Type predicates and property accesses with literals are indeed useful cases. They can use different mechanisms because they are different enough.

[2015-06-11 17:48] vladima commented on #3444
@rolandjitsu yes, for some reason I was getting different content for angular.js depending on whether I use `gulp` or `gulp play`. Regarding the bug: these symptoms look similar to the issue that was fixed in es6 module loader 0.17 when it got TypeScript support. In short: if '.ts' file has multiple import/export statements with the same module name and it was compiled to system module - setter fo

[2015-06-11 17:53] jonathandturner commented on #206
Just to follow up - https://github.com/Microsoft/TypeScript/pull/3266, so this is now supported.

[2015-06-11 18:04] jhchen commented on #3442
Why have overloading at all if you still have to pick another name? The whole point of overloading is addressing the problem that the name the programmer wants is already being used. Requiring an effective and nominal name not only does not solve this problem, it introduces new syntax and unintuitive syntax purely for the benefit of generated code (which people read less and less given source maps

[2015-06-11 18:04] rolandjitsu commented on #3444
@vladima I've actually got an older version of both, 16.6 I think. I will give it a try and see how that works out, let's hope I won't have that issue :)

[2015-06-11 18:26] nycdotnet commented on #3469
Jonathan,

Thank you so much for the kind feedback and for deciding to take this on.  TypeScript is such a great tool and this functionality will help many people who want to componentize their medium-sized codebases that can't justify the inefficiency mandated by enormous projects that rely on strict division of concerns (for example the Azure portals or project Monacos of the world with > 100klo

[2015-06-11 18:32] aleksey-bykov commented on #3442
@jhchen inconvenience of picking an extra name is a one-time thing whereas being able to address different functions by the same name is a repeatable positive experience

requiring an extra name does solve the problem

it's one of the primary goals of typescript to keep generated javascript readable

agree, the syntax might or might not be intuitive, subject for discussion

generated names that yo

[2015-06-11 18:40] kitsonk commented on #3442
The thing that strikes me about this is, what problem are you trying to solve?

The disadvantages of perpetuating this "overloading" into JavaScript is that it increases the emitted code footprint dramatically and emits items that are very hard to optimise out in a subsequent build step in another tool chain.  Why are you trying to place this unnecessary overhead on every other user of TypeScript

[2015-06-11 18:48] aleksey-bykov commented on #3442
can't see how a naming without overloading that i originally suggested (with handpicked effective name) is better as far as the size of footprint?

can you elaborate on this?

[2015-06-11 18:49] kitsonk commented on #2521
This is arguing that JavaScript is weakly typed, so TypeScript should be weakly typed. :-S

[2015-06-11 19:04] nycdotnet opened #3480 "JSDoc on custom types"
While working on updating the node.js definitions on DefinitelyTyped this past weekend, I thought I came up with a very clever idea that turned out not to be very valuable (yet).

In the Node.js `fs` module, many functions take an `encoding` property which is a `string`.  Valid values for `encoding` are standardized across the functions in the `fs` module and look something like this: 'utf8', 'utf

[2015-06-11 19:06] vladima commented on #3412
@jcchalte just to clarify: when you say 'waiting for the background compilation' do you mean 'I can type but I'll wait until CPU usage drops to zero assuming that at this point all project analysis is completed' or 'wait because editor is sluggish and I cannot type'?

[2015-06-11 19:09] mhegazy commented on #3375
No. but it is a structural type system, so you can define a new type that has a union type member and that would be assignable to both types.

yes. the only check here is that an interface is expected to be a subtype of its base types. that matches the intuition in `interface Foo extends Bar` that any `Foo` is a `Bar`.

in the example above, `number | string` is not assignable to `number`, but the

[2015-06-11 19:13] #3426 closed

[2015-06-11 19:13] mhegazy commented on #3426
thanks @tinganho!

[2015-06-11 19:13] johnnyreilly commented on #206
Awesome!

[2015-06-11 19:36] mhegazy commented on #3469
There are two probelms here that we need to break apart, there is build, and there is language service support.

For Build, I do not think tsconfig is the right place for this. this is clearly a build system issue. with this proposal the typescript compiler needs to be in the businesses of:
- figuring out dependency
- up-to-date checks fro asserts
- configuration management (release vs. debug)

Th

[2015-06-11 19:36] tkrotoff commented on #2521
C# allows it and that does not make this language weakly typed.

[2015-06-11 19:37] bryanforbes opened #3481 "Default export is not re-exported in type information"
Given a module `one` which exports a default function, a module `two` that re-exports everything in `one` (`export * from './one'`), and a module `three` which attempts to import the default function from `two`, the compiler outputs an error that `two` has no default exports. I have put this into a gist: https://gist.github.com/bryanforbes/12c9e9705b27aa2b7a6a.

From my reading of the spec, the `_

[2015-06-11 19:40] mhegazy commented on #3440
@jbondc feel free to send a PR for this if this is interesting to you. please limit the scope to skipping the error reporting if the use of const enum is in a type position.

[2015-06-11 19:51] mhegazy commented on #3480
@JsonFreeman is looking into #1003 now. so this should solve the underlying problem. the issue with type aliases is a design limitation. type aliases are computed aggressively and resolved to what they alais.

[2015-06-11 19:51] jcchalte commented on #3412
Here is the dump file of my coworker

https://www.dropbox.com/s/r69sup7nnr4ay6a/devenv.rar?dl=0

I tried to open the dump file inside VS but it is too big. Which tools do you use to see relevant informations about the dump file ?

To answer your question, when I speak about "compilation", I mean 'I can type but I'll wait until CPU usage drops to zero assuming that at this point all project analysi

[2015-06-11 19:56] mhegazy commented on #3481
This is correct according to the [ES6 spec - section 15.2.1.16.3](https://people.mozilla.org/~jorendorff/es6-draft.html#sec-resolveexport):

The emitted code does not try to filter default out when exporting *, but the design time error should be sufficient to catch the issue.

[2015-06-11 19:57] nycdotnet commented on #3480
OK, Thanks Mohamed.

[2015-06-11 19:57] #3480 closed

[2015-06-11 20:04] mhegazy commented on #3479
This is a common source of error. the function implementation is not included in the signatures of the functions when there are more than one.

so:
[code]

[2015-06-11 20:05] bryanforbes commented on #3481
Thank you! I missed that in the spec.

[2015-06-11 20:07] mhegazy commented on #2009
This was added after 1.5-beta, so it should be in the next release 1.5.2

[2015-06-11 20:26] nycdotnet commented on #3469
Thanks for your reply, Mohamed.  Let me restate to see if I understand:

  * You think that the task of coordinating multi-project builds should remain the domain of dedicated build tools.
  * You think that there may be something to this suggestion for the TypeScript language service.
  * You think that running `tsc --project` on this `tsconfig.json` would be the same as running `tsc file1.ts ../

[2015-06-11 21:09] ConstantlyVariable opened #3482 "Working with JSX?"

[2015-06-11 21:14] RyanCavanaugh commented on #3482
#3470 ?

[2015-06-11 21:27] tomitrescak commented on #2009
Thanks for the info! Any estimate on when it will be?

[2015-06-11 21:34] silhouettes commented on #392
+1

[2015-06-11 21:39] jhchen commented on #3442
This is probably the source of disagreement. In my experience I’ve found it to be true that naming is one of the [few hard problems](http://martinfowler.com/bliki/TwoHardThings.html) in computer science.

Agree this is subjective. In the current form it resembles namespace syntax in other languages but agree the specifics could be discussed. However, I’m not aware of any other language has a synta

[2015-06-11 21:58] vladima opened #3483 "Extra error is reported when transpile is called for file without extension."
code in this [`else if` branch](https://github.com/Microsoft/TypeScript/blob/master/src/compiler/program.ts#L342) will be executed even if `findSourceFile` in `if` above succeeded so incorrect extra diagnostic is reported.
NOTE: ES6 module loader often uses synthesized filenames that lack extensions. Also we have an outstanding request to report errors that appear during the transpile. This bug sh

[2015-06-11 23:18] mhegazy commented on #3469
@nycdotnet you summed it up right; i would like to create a system that is loosely coupled and allows mixing and matching diffrent build tools with diffrent IDEs but still get a great design time experience.

[2015-06-11 23:32] mhegazy commented on #2009
we usually like to stabilize a release for a few weeks before it is released. We are not adding any more features just big fixes at the point. So hopefully soon.

[2015-06-11 23:57] diegope opened #3485 "Compiler does not enforce read only properties"
Our team hit an issue when turning on strict in our code. Consider the following code:

class bug {
	public get id() { return 5; }
}
var b = new bug();
b.id = 10;

In this example, the id property only declares a getter, however, it is still possible to assign a value to it in TS. This is neither a syntax or compile time error in TS (1.4.0). Is there a workaround? Or Is this something that is alre

[2015-06-12 00:30] mhegazy commented on #3485
see #12

[2015-06-12 01:13] #3482 closed

[2015-06-12 01:35] aleksey-bykov commented on #3442
agree, good and consistent naming is a hard thing to come by (that's why we are here talking about this feature), however not-as-good yet meaningful names aren't too hard to make up, and this is what handpicked effective names are, just good enough for the job to get done

i am glad we pay so much attention to very personal subjective things, let's ask for your experience one more time, how many l

[2015-06-12 01:54] RyanCavanaugh commented on #3442
Can you fill in the emit for this block?
[code]

[2015-06-12 02:04] aleksey-bykov commented on #3442
No problem:

[code]

[2015-06-12 02:29] nycdotnet commented on #3469
Sounds great!

[2015-06-12 07:06] kitsonk commented on #3442
That isn't an emit... that is copying TypeScript and adding some comments.

Every "overload" will emit a full function.  Current implementation means that in a lot of use cases dealing with permutations of arguments can be handled in one line of code.  Why put the overhead of a full function on the the developer in TypeScript and in the emitted code?  Your proposal does not preserve current functi

[2015-06-12 07:09] kitsonk commented on #2521
:wink:

[2015-06-12 10:12] Yellowmat opened #3486 "typescriptServices.js is not "strict mode" friendly"
I am using typescript for a project where strict mode is enabled and I have some problem using typescriptServices.js because it is not "strict mode" friendly. As an example, "arguments" must not be used as an identifier ...

This is not a big deal, hope this issue will soon be fixed ;)

[2015-06-12 10:19] Mustafa-Sadikot opened #3487 "Cannot integrate TypeScript_15beta_Dev12 with VS 2013"
The installer runs completely but it does not integrate with VS 2013. I tried all the previous versions but in vain. I looked in https://github.com/Microsoft/TypeScript/issues/1162 thread and it still does not seem to be fixed in 1.5 Beta version. Can you please help me out with this?

[2015-06-12 10:25] ghost opened #3488 "Can't find node's modules ... client side."
I am using typescript client side in a project managed using web pack.

When web pack processes typescriptServices.js, some part of the getNodeSystem code is evaluated because (typeof module !== "undefined" && module.exports) is true.

Evaluating the code, web pack finds some references to require calls and try to find modules, it fails to do so because I don't use node modules client side.

Is th

[2015-06-12 11:20] rolandjitsu commented on #3444
@vladima once I've updated, everything breaks :) Something to do with `defaultJSExtensions`, if it is on, it breaks angular 2 when trying to load its modules.

But, as I mentioned before, I do not use TS with runtime compilation, I compile the files to js in `commonjs` or `register` format before and then System is using the compiled js files. Or is there some kind of confusion here? Because I can

[2015-06-12 12:25] aleksey-bykov commented on #3442
if you look closely there is nothing to emit either because of an obviously unresolvable situation or lack of details, i believe all these corner cases were picked to illustrate possible difficulties, a typical situation (when a signature is clear and known) is as easy as pie

it looks like you are not getting the idea, there is no overhead and nothing that breaks how typescript currently works as

[2015-06-12 13:09] HerringtonDarkholme commented on #1256
+1 again for this. It is needed not only by today's `Object.assign` but also by [ES7's object spread](https://github.com/sebmarkbage/ecmascript-rest-spread)

[2015-06-12 13:42] blendsdk opened #3489 "Why does this compile!!??"
Hi,

I was wondering why the code below compiles fine!
The compiler should complain for the last two lines, not?

[code]

[2015-06-12 15:06] DustinEwan commented on #3487
I'm currently having the same issue w/ VS 2015 and a coworker is experiencing this with VS 2013.

[2015-06-12 16:05] mhegazy commented on #3487
@Mustafa-Sadikot and @DustinEwan do you have other versions of TypeScript installed on these machines? if so what are they? also can you try uninstalling TypeScript and reinstalling it again, and share the installer logs. these should be in `%TEMP%\dd_Typescript*.log`

[2015-06-12 16:07] carltonf commented on #3489
Aren't all properties in the interface are optional? The it's ok that they are not there.
See http://www.typescriptlang.org/Handbook#interfaces-optional-properties

Quote: "The advantage of optional properties is that you can describe these possibly available properties while still also catching properties that you know are not expected to be available."

[2015-06-12 16:11] RyanCavanaugh commented on #3489
It's a structural type system, so an interface with all optional properties is assignable from anything.

This is a known pain point; see #391.

[2015-06-12 16:11] #3489 closed

[2015-06-12 16:13] RyanCavanaugh commented on #3442
Keep it unsarcastic, please.

[2015-06-12 16:14] mhegazy commented on #3488
well.. all what this does is it says if your system supports importing and exporting, it will export a value. I am not familiar with webpack can you explain more what happens when the export is invoked?

[2015-06-12 16:15] mhegazy commented on #3486
Pleas feel free to send PRs to fix these issue.

[2015-06-12 16:17] ConstantlyVariable commented on #3482
Awesome, thanks!

[2015-06-12 16:22] kitsonk commented on #3442
Not if you are exporting the functions.

I understand the concept of overloading, which TypeScript supports.  What I am unclear on is what problem are you trying to solve that the current implementation doesn't cover.  You seem to indicate in your further comments that it is "allowing a user to address different functions by the same name" in the emitted JavaScript.  If you are trying to solve tha

[2015-06-12 16:41] ahejlsberg commented on #3478
No plans to support that. It wouldn't work with classes unless we also introduced name mangling or some scheme for generating multiple constructor functions for the same class name.

If we were going to do anything here I think it would be more along the lines of supporting "type parameter tuples", for example such that you could "spread" a generic tuple type into a function call in a type paramet

[2015-06-12 16:42] bryanforbes commented on #3481
This can be closed if you'd like. I'm not sure if I'm supposed to close it or not.

[2015-06-12 17:21] omidkrad commented on #206
Fantastic!

[2015-06-12 17:36] vladima commented on #3444
there is an existing issue https://github.com/systemjs/systemjs/issues/506 that tracks path related questions for TypeScript in SystemJS.

[2015-06-12 17:59] mhegazy commented on #3481
thanks!

[2015-06-12 17:59] #3481 closed

[2015-06-12 18:00] OliverJAsh commented on #2233
Where can I track support for bundling in jspm?

[2015-06-12 18:04] panuhorsmalahti commented on #3464
@danquirk That's correct, unfortunately I cannot share the code.

[2015-06-12 18:33] mhegazy commented on #855
closing this issue for now, please reopen if there further details needed.

[2015-06-12 18:33] #855 closed

[2015-06-12 18:34] mhegazy commented on #887
looks like we have no good answer, so i am inclined to punt on this.

[2015-06-12 18:34] #887 closed

[2015-06-12 18:35] mhegazy commented on #1481
looks like no further information required. closing.

[2015-06-12 18:35] #1481 closed

[2015-06-12 18:38] mhegazy commented on #1680
Looks like there is no more information needed here. closing.

[2015-06-12 18:38] #1680 closed

[2015-06-12 18:38] #1958 closed

[2015-06-12 18:39] mhegazy commented on #1945
looks like there is no actions/information required from this issue at this point. closing.

[2015-06-12 18:39] #1945 closed

[2015-06-12 18:41] mhegazy commented on #978
resolving overloads is order dependent, not merging results in a more predictable system.

[2015-06-12 18:41] #978 closed

[2015-06-12 18:43] mhegazy commented on #2600
closing this issue for now, please reopen if there further details needed.

[2015-06-12 18:43] #2600 closed

[2015-06-12 18:43] mhegazy commented on #2867
closing this issue for now, please reopen if there further details needed.

[2015-06-12 18:43] #2867 closed

[2015-06-12 18:44] mhegazy commented on #2920
closing this issue for now, please reopen if there further details needed.

[2015-06-12 18:44] #2920 closed

[2015-06-12 18:46] mhegazy commented on #3267
Looks like there is no action/information needed from this issue. closing.

[2015-06-12 18:46] #3267 closed

[2015-06-12 18:46] mhegazy commented on #3176
closing this issue for now, please reopen if there further details needed.

[2015-06-12 18:46] #3176 closed

[2015-06-12 18:50] mhegazy commented on #3238
Looks like there is no further information needed at this point. closing.

[2015-06-12 18:50] #3238 closed

[2015-06-12 18:52] ianfp commented on #2302
+1 Being able to compile files with a .js extension using `tsc` would be very useful for people like me, who are exploring the possibility of migrating an existing Javascript project to TypeScript. I don't want to have to rename all of my .js files, and I certainly don't want to hack Typescript like [this guy suggests](http://elegantcode.com/2014/05/18/how-to-compile-plain-js-javascript-files-with

[2015-06-12 18:57] mhegazy commented on #3321
closing this issue for now, please reopen if there further details needed.

[2015-06-12 18:57] #3321 closed

[2015-06-12 19:35] danmarshall opened #3493 "Bad path when installing TypeScript 1.4 for Visual Studio 2013"
I installed TS for VS2013 using this link: https://visualstudiogallery.msdn.microsoft.com/2d42d8dc-e085-45eb-a30b-3f7d50d55304

Close VS, reopen VS, create new TS HTML project, get these errors:

* Your project file uses a different version of the TypeScript compiler and tools than is currently installed on this machine.  No compiler was found at C:\Program Files (x86)\Microsoft SDKs\TypeScript\1.

[2015-06-12 19:36] danmarshall commented on #3493
Also found others with the same issue:

https://runtimereflection.wordpress.com/2015/05/21/typescript-the-specified-task-executable-location-path-is-invalid/

http://stackoverflow.com/questions/30142996/how-to-edit-the-typescript-1-4-specified-task-executable-location

Solutions are kinda ugly.

[2015-06-12 20:30] lucamorelli opened #3494 "vs error trying to enable ts custom language service file"
Hi,
  I have vs 2015 rc with ts 1.5 beta installed. I tried to enable custom language service file following the indications in the wiki and pointing it to the typescriptServices,js file in the bin directory of a clone of the git bug repo, but when I try to open a project with typescript files I receive and error message, and in the activity log file I find this:

    <description>Microsoft.Visual

[2015-06-12 20:32] #3494 closed

[2015-06-12 20:38] #3483 closed

[2015-06-12 21:03] paulvanbrenk commented on #3487
what do you mean, does not integrate? What is working and what is not?

What files are in the following folder:

C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\CommonExtensions\Microsoft\TypeScript

Do you have any other extensions installed, like resharper?

Do you see the TypeScript extension in the Add/Remove Programs dialog in Windows?

[2015-06-12 21:08] #3464 closed

[2015-06-12 21:11] #3451 closed

[2015-06-12 21:11] opensrcken opened #3496 "recursive type definitions"
I have a recursive type definition for JSON Serializable entities (Exhibit A, edited after discussion with @JsonFreeman ):
[code]

I would like to be able to write the following, but get a circular reference error (Exhibit B):
[code]

How difficult would it be to address this limitation of the type system?

[2015-06-12 21:19] #1520 closed

[2015-06-12 21:19] mhegazy commented on #2757
Looks like there is no more information needed for this issue. closing.

[2015-06-12 21:19] #2757 closed

[2015-06-12 21:33] opensrcken commented on #3496
This seems to work in the TS Playground, so I take it that this issue has been fixed in an untagged version of TS that the Playground happens to be using?

http://www.typescriptlang.org/Playground#src=export%20type%20IJSONSerializable%20%3D%20IJSONSerializableObject%20%7C%20number%20%7C%20string%20%7C%20Array%3CIJSONSerializableObject%20%7C%20number%20%7C%20string%3E%3B%0D%0A%0D%0Ainterface%20IJSO

[2015-06-12 21:46] opensrcken commented on #3496
Never mind, reproduced my issue. It seems to have to do with the interaction of that type definition with an interface method.

http://www.typescriptlang.org/Playground#src=export%20type%20IJSONSerializable%20%3D%20IJSONSerializableObject%20%7C%20number%20%7C%20string%20%7C%20Array%3CIJSONSerializableObject%20%7C%20number%20%7C%20string%3E%3B%0D%0A%0D%0Ainterface%20IJSONSerializableObject%20%7B%0D

[2015-06-12 22:50] #2821 closed

[2015-06-12 22:51] mhegazy commented on #888
Should this be a bug instead?

[2015-06-12 22:51] mhegazy commented on #2932
looks like there is no information/action required by this issue. closing.

[2015-06-12 22:51] #2932 closed

[2015-06-12 22:53] mhegazy commented on #2974
Looks like this is addresses. please reopen if there is missing information.

[2015-06-12 22:53] #2974 closed

[2015-06-12 22:53] #3009 closed

[2015-06-12 22:54] mhegazy commented on #2942
Looks like there is on action/information needed in this issue. closing.

[2015-06-12 22:54] #2942 closed

[2015-06-12 22:54] #3240 closed

[2015-06-12 22:55] #3263 closed

[2015-06-12 22:55] mhegazy commented on #3334
Looks like the issue has been handled. please reopen if there is any other issues.

[2015-06-12 22:55] #3334 closed

[2015-06-12 22:56] mhegazy commented on #3361
Looks like this issue has been addressed. please reopen if there more questions.

[2015-06-12 22:56] #3361 closed

[2015-06-12 22:58] mhegazy commented on #3464
@panuhorsmalahti can you give the fix from @randombk a try and see if the problem still persists.

[2015-06-12 22:59] mhegazy commented on #3451
@evil-shrike can you verify that #3452 did indeed fix the issue?

[2015-06-12 23:49] mhegazy commented on #3448
looks like this is a dupe of  #3423 then?

[2015-06-12 23:50] mhegazy commented on #909
I do not think there is more actions here that are not already captured in other issues. please reopen a new issue if this is not the case.

[2015-06-12 23:50] #909 closed

[2015-06-12 23:51] mhegazy commented on #2868
looks like this is already tracked by #2869.

[2015-06-12 23:51] #2868 closed

[2015-06-12 23:52] mhegazy commented on #2985
@designxtek this is not planed at the moment.

[2015-06-12 23:52] #2985 closed

[2015-06-12 23:53] JsonFreeman commented on #888
I guess. I'm not sure how we'd detect the implicit any here. We may have to have a different type to track the implicit any introduced by generic signature erasure, and then change it to a regular any at the end of the inference process, or when inferentially typing a parameter. I'm worried that the type would leak though.

[2015-06-12 23:56] mhegazy commented on #888
I am inclined to punt on this one. it is rather complicated, we get the right type, but we miss the noImplicitAny warning.

[2015-06-12 23:57] #3479 closed

[2015-06-12 23:58] mhegazy commented on #3148
looks like this is already covered here: https://github.com/Microsoft/TypeScript/issues/3015#issuecomment-98852421

[2015-06-12 23:58] #3148 closed

[2015-06-13 00:00] mhegazy commented on #3406
looks like this issue has been addressed. closing. please reopen if there is more information needed.

[2015-06-13 00:00] #3406 closed

[2015-06-13 00:00] mhegazy commented on #3060
looks like this is already covered in https://github.com/Microsoft/TypeScript/issues/3015#issuecomment-98852421

[2015-06-13 00:00] #3060 closed

[2015-06-13 00:01] mhegazy commented on #3445
We are looking into allowing `--lib` flag to allow for using different version of the library.

[2015-06-13 00:01] #3445 closed

[2015-06-13 00:02] #3154 closed

[2015-06-13 00:02] JsonFreeman commented on #888
That is fine with me

[2015-06-13 00:04] mhegazy commented on #3398
This is already tracked by #3273

[2015-06-13 00:04] #3398 closed

[2015-06-13 00:05] #888 closed

[2015-06-13 00:06] mhegazy commented on #2987
@damienbod has this issue been resolved?

[2015-06-13 00:06] mhegazy commented on #3218
looks like this issue has been addressed. please reopen if there more information needed.

[2015-06-13 00:06] #3218 closed

[2015-06-13 00:13] mhegazy commented on #3282
We are looking into enabling extending arbitrary expressions not just classes. this should allow you to extend from Rx without having to change the definition.

[2015-06-13 00:13] #3282 closed

[2015-06-13 00:18] mhegazy commented on #2062
Sorry for the delay. this fell off my radar. The problem is you are trying to define an internal and external modules. external modules can not be extended. consider using a pattern like:

[code]

[2015-06-13 00:18] #2062 closed

[2015-06-13 00:20] mhegazy commented on #3410
Pinging @JsonFreeman

[2015-06-13 00:22] mhegazy commented on #3244
I have chatted with @jrieken and @egamma about this, and we need a new command to force the server to reload all projects. The host would fire this whenever a tsconfig file is added.

[2015-06-13 00:23] JsonFreeman commented on #3410
Our assignability relation ignores generics and constraints in signatures. It just replaces all type parameters with `any`.

[2015-06-13 00:24] #3410 closed

[2015-06-13 00:26] JsonFreeman commented on #3410
I will add that we ignore generics because we believe taking them into account will be slow. And in general it leads to never-ending recursion if the signature was in a generic type. Because of this it seems not worth it.

[2015-06-13 00:37] mhegazy commented on #3446
Please note that this means you will not get any errors from the compiler, as it will not be able to find any error messages.

[2015-06-13 00:37] #3446 closed

[2015-06-13 01:25] ttowncompiled commented on #3375
Thanks @mhegazy .

[2015-06-13 06:07] damienbod commented on #2987
@mhegazy Hi

No, I use a workaround, I have a second index_debug.html which links all the single files and this is used to debug. Each new file has to be linked twice, in the grunt file and in the index_debug file. The index_debug will be deleted in a none debug deployment. Not very pretty, but works.

The problem happens when the src files get reduced to one file, maybe typescript could provide t

[2015-06-13 06:48] kitsonk commented on #3496
That isn't just recursion, it is infinite recursion.  How do you suggest the compiler could resolve that, since it needs to understand `IJSONSerializable` to be able to type guard `IJSONSerializable`?

[2015-06-13 06:56] kitsonk commented on #2302
@ianfp it sounds like a totally different problem/subject in that you are looking for a JavaScript -> TypeScript migrator that helps you easily get on the right path of converting a code base from JavaScript to TypeScript.  Sounds like an interesting project...

[2015-06-13 06:56] Ciantic commented on #3448
In my case the User is not inferrable from anywhere, it's tight to the validator object when validator is defined. I mean this:

[code]

Can't be simplified anymore in any way. It already contains *everything* it needs to. This "User" can't be inferred from anywhere. Because the above syntax defines the validator for `User`, inferring it on using the validator would be dangerous because the point

[2015-06-13 09:28] mariusschulz commented on #3478
Interesting. Thank you for the explanation.

Well, to solve the interface naming collision, one could use different names like `Func1` (for one argument), `Func2` (for two arguments), and so on, although that's not as pretty as in C#. ;-)

[2015-06-13 09:34] thorn0 commented on #3203
@RyanCavanaugh If I understand correct, 1) types are not checked during single-file transpilation, 2) TS is going to emit JSX as is. So I don't understand this part

Why would TS emit "div" or div or anything if it doesn't perform JSX transformations?

[2015-06-13 11:37] JirkaDellOro opened #3499 "Use enums in literal definition of objects using interface with index of type number"
There are some issues concerning the declaration of an interface index of an enum-type. However, at least the following should be possible in my opinion:
[code]
It appears inconsistent, that the first definition is not accepted, the TypeScript-Service misses commas and colons here.

[2015-06-13 12:10] JirkaDellOro opened #3500 "Explicit any type in for..in loop"
For the reason of consistency, it should be possible to explicitly annotate the iterator variable at least with the "any" type in a for..in loop.

[2015-06-13 13:21] NekR opened #3501 "CanvasRenderingContext2D#drawImage overloading problem"
This code:

[code]
fails with error:
[code]
But I thought ```drawImage``` accepts one of ```HTMLCanvasElement | HTMLImageElement | HTMLVideoElement```, isn't it?

[2015-06-13 13:30] si-robertson opened #3502 "Unsupported --target ES6"
Hi,

I have just installed TSC 1.0.3 via NPM. According to a [MSDN blog article](http://blogs.msdn.com/b/typescript/archive/2015/01/16/announcing-typescript-1-4.aspx) regarding TS 1.4, posted in Janurary, we should be able to `--target` ES6 now. Unfortunately, setting `--target` to ES6 results in a 5002 error `ECMAScript target version ES6 not supported`.

[2015-06-13 15:25] jasonwilliams200OK commented on #3198
Any update on this one?

[2015-06-13 17:02] series0ne opened #3503 "TypeScript minification and obfuscation"
A friend recently asked me: "Is it worth learning advanced JavaScript or just learn TypeScript instead?" - My response was something along these lines:

<em>The reason I became a better JavaScript developer was because I paid close attention to the way the TypeScript compiler emits JavaScript code, so by learning TypeScript, I automatically became a better JavaScript programmer.</em>

With this in

[2015-06-13 17:34] DanielRosenwasser commented on #3502
This is your problem. TS 1.0.3 is older than 1.4, so you should probably install TypeScript 1.4. You can even install 1.5 beta at this point if you're really interested in ES6 compatibility.

[2015-06-13 17:34] #3502 closed

[2015-06-13 17:39] si-robertson commented on #3502
Ah, fair enough. Thanks Daniel. I will grab the source files from here and use the tools directly.

[2015-06-13 18:46] img opened #3504 "tsc crash for TypeScript 1.5"
Hi. this (ill-formed) source file crashes tsc 1.5.0-beta

    class VariableDeclarations {
      public {[name:string]:VariableDeclaration};
    }

$ tsc t.ts
here's the o/p:

    /usr/local/lib/node_modules/typescript/bin/tsc.js:654
		    throw new Error("Debug Failure. False expression: " + (message
			  ^
    Error: Debug Failure. False expression: Should not have attempted to parse class membe

[2015-06-13 18:56] DanielRosenwasser commented on #3502
You can clone the basically ready `release-1.5` branch, or if you'd like to play around with `master` that works too.

You can still do `npm install -g typescript` to get 1.4 right now or `npm install -g typescript@1.5.0-beta` to get the beta.

[2015-06-13 19:03] blendsdk opened #3505 "Mixins and the applyMixins function?"
Hi,

Since the compiler can distinguish between a class being used as an interface, what is the reason the compiler does not automatically emit "applyMixins" at the end of the compilation cycle? It there a particular reason for this?

Regards,
Gevik.

[2015-06-13 19:03] DanielRosenwasser commented on #3504
Note this occurs for the minimal object binding pattern with an accessibility modifier:

[code]

It does not work for an array binding pattern because that is viewed as an index signature.

[2015-06-13 22:23] DickvdBrink commented on #3503
Hi @series0ne, you might want to read this discussion

[2015-06-13 23:27] JsonFreeman commented on #1003
One interesting question is whether a string literal type should be nullable (allow null / undefined as a value). Right now, our type system has types for null and undefined, but these types are assignable to all types. Should string literals be an exception because they denote one particular value? The motivation is this:
[code]
There are 3 options:

1. Null and undefined are not assignable / sub

[2015-06-14 05:47] kenhahn85 commented on #3496
I haven't looked into the typescript compiler code. Lazily evaluate the type definition? Decompose the type definition from the desired type definition into the former before evaluating? If you point me to the relevant area in the code base, I can attempt to address it.

[2015-06-14 05:52] opensrcken commented on #3496
I haven't looked into the typescript compiler code. Lazily evaluate the type definition? Decompose the type definition from the desired type definition into the former before evaluating? If you point me to the relevant area in the code base, I can attempt to address it.

[2015-06-14 07:23] nycdotnet commented on #1003
Interesting dilemma!  I've been thinking about this for an hour or so, and have typed up three different responses to how there was an obvious choice and the rest were evil.

I must say that the most vexing part of this code sample is `// Suppose this assignment is allowed`.

My selections in order of decreasing preference:
  * Implement non-nullable types holistically and get choice 1 for free, c

[2015-06-14 08:34] tarh commented on #2338
About path mapping, is it possible to make recursive definitions? It would help to make sub-projects:

	project/
		subproject1/
			moduleA/
				MA.js
			modulePaths.json
		moduleB/
			MB.js
		modulePaths.json

File `project/subproject1/modulePaths.json`:

	{
		"basePath": "[current-directory]",
		"paths": {
			"moduleA": "moduleA/MA"
		}
	}

File `project/modulePaths.json`:

	{
		"include": ["subp

[2015-06-14 10:19] frankwallis commented on #3469
I agree with @mhegazy and actually I think it is important for TypeScript to stop thinking of itself as a 'compiler' and start thinking of itself as a 'type-checker' and 'transpiler'. Now there is single-file transpilation support I don't see any reason for compiled JavaScript files to be created except for at runtime/bundling. I also don't see why it is necessary to generate the external referenc

[2015-06-14 12:25] si-robertson opened #3506 "Typed arrays should be classes."
Hi guys,

The following code is valid in JavaScript.

[code]

Unfortunately that isn't possible to do in TypeScript at the moment because all of the typed arrays appear to be interfaces, and there are also some weird interfaces such as `Float32ArrayConstructor` floating around which confuse matters.

[2015-06-14 12:50] jbondc commented on #1003
[code]
If you create a union of string literals, numeric literals or boolean literals, this does not include the value 'null' or 'undefined'.

So yes you get an easy way to declare strict non-nullable types.

You can however add them:
[code]
Type narrowing by constant value:
[code]
Similarly, a 'number set' does not include Infinity | NaN:
[code]
You can however add them:
[code]

[2015-06-14 15:24] milkshakeuk commented on #2338
@mhegazy, could you give a more verbose example of your response to @subesokun on how to inform the compiler of the template?

[code]

does this need to declared in a d.ts file i.e.
[code]
followed by
[code]

 and does this need to be done for each of the html partials we want to import though the text plugin or is there a more generic approach for this sort of import?

[2015-06-14 15:25] OliverJAsh commented on #2233
Testing https://github.com/Microsoft/TypeScriptSamples/tree/jspm/jspm with the latest jspm beta (0.16).

I don't seem to get compile errors in the browser, e.g. this succeeds:

[code]

/cc @mhegazy

[2015-06-14 15:30] kitsonk commented on #3506
Dup of #1168

[2015-06-14 15:34] si-robertson commented on #3506
In that case, consider this issue a friendly reminder that the seven month old bug still exists :)

[2015-06-14 16:44] vladima commented on #2233
@OliverJAsh  complete typechecking in transpile scenarios is not possible: TypeScript compiler deliberately works within given file without attempting to resolve any references to external files (including standard library). In this circumstances it cannot build the full set of types that will be available in the program and will report lots of errors which are in fact false positives. If you want

[2015-06-14 20:12] ustims commented on #10
This is very outdated, but probably could be helpful: https://github.com/evanw/typescript-closure-compiler

[2015-06-14 20:36] lucasmciruzzi opened #3507 "Bugs with enum (import and typing)"
When I import a module that has an enum and then I pass a string variable as index, with the noImplicitAny flag set to true, I get an error of implicit any in the index signature.

### Examples:
**This works but it has an unwanted behavior detailed in the comment:**
[code]
**This trows an error:**
[code]

[2015-06-14 20:47] dsebastien commented on #2616
+1 for being able to generate a bundle containing n system modules, that'll be sweet!

[2015-06-14 20:57] loucyx opened #3508 "Support proposed ES Next "::" bind operator"
*Edit from @DanielRosenwasser: Since this issue was filed, a separate proposal for `::` was created called "extensions".*

https://github.com/tc39/proposal-extensions
___

It will be great if TypeScript had an implementation of the "::" bind operator of ECMAScript 7. Some examples of this operator and the implementation in ES5:
**Bind**

[code]

**Call**

[code]

[[ref](http://wiki.ecmascript.org/

[2015-06-15 00:22] CyrusNajmabadi commented on #3500
@JirkaDellOro I agree.  I'd also like to be able to explicitly type it as 'string'.

[2015-06-15 03:11] yortus commented on #1003
I think option 1 is correct and preferrable for the kind of type-level reasoning that singleton types are able to bring to the language.

I think of a singleton type as a subset of a broader type where the subset is a single value from the broader set, ie a singleton set. `null` and `undefined` are always members of the broader set, but a singleton type is a subset and can therefore exclude these

[2015-06-15 03:17] basarat commented on #3458
FWIW calling `getCompletionEntryDetails` drastically slows stuff down. Therefore I only call it on the first 10 items for atom-typescript.

[2015-06-15 03:58] DanielRosenwasser commented on #3507
Sounds like a dupe of #1232. You may want to look into `--suppressImplicitAnyIndexErrors`.

[code]

See:
* [The wiki page on compiler options](https://github.com/Microsoft/TypeScript/wiki/Compiler-Options)
* @danquirk's [explanation/context of the issue](https://github.com/Microsoft/TypeScript/issues/1232#issuecomment-64510362)

[2015-06-15 04:01] DanielRosenwasser commented on #3506
It's on [the roadmap](https://github.com/Microsoft/TypeScript/wiki/Roadmap) for TypeScript 1.6.

[2015-06-15 04:01] #3506 closed

[2015-06-15 04:11] DanielRosenwasser commented on #3508
I keep seeing this being called an ES7 operator. The strawman proposal has been up on the wiki for quite a while, but [I don't see any proposal for it right now](https://github.com/tc39/ecma262/blob/c87d1f5b65067865bab3e1ac81b6d35e2553b515/README.md). I've tentatively marked it as ES7 anyway, but perhaps someone else can weigh in on this.

[2015-06-15 05:55] CyrusNajmabadi commented on #3458
@BASArat  You should only call getCompletionEntryDetails for the item currently selected in your completion list.  When a user selects another item, you call again.

[2015-06-15 06:18] basarat commented on #3458
Yeah I expected that but still wanted to point out a bottleneck, reason being that the atom API doesn't currently allow lazy loading description (the `description` needs to be presented upfront https://github.com/atom/autocomplete-plus/wiki/Provider-API)

Again not a problem. This was just info :)

[2015-06-15 06:55] kitsonk commented on #3508
They implemented it in [Babel](http://babeljs.io/blog/2015/05/14/function-bind/) but even they say it is highly experimental.  While it might be a good idea, it is far away from being a standard and no runtime has implemented it.

[2015-06-15 08:05] sebmck commented on #3508
@DanielRosenwasser It was discussed at the March TC39 meeting (notes [here](https://github.com/tc39/tc39-notes/blob/master/es6/2015-03/mar-25.md#6vi-function-bind-and-private-fields-redux-kevin-smith)). It's also an important distinction to draw that Babel and TypeScript have completely different priorities and features implemented in one are not necessarily appropriate for both.

[2015-06-15 08:59] rahulgarg1985 commented on #2564
We are using VS2012. Do we have any way to use TypeScript advanced version like 1.5 Beta on VS2012 ?
Can we use  1.5 Beta with Sublime or Bracket IDE ?

[2015-06-15 09:11] ddotlic commented on #3198
I'm sorry to pollute the discussion here, but it's been days if not weeks that the only items open are weird corner cases/bugs in Visual Studio 2013/2015.

I have a feeling that the 1.5 final release is blocked due to these items, yet TS itself has no blocking issues and could be used just fine from other editors like Code, Atom or Sublime.

Could someone from the compiler team please comment on t

[2015-06-15 09:33] jasonwilliams200OK commented on #3198
It seems like the release itself is aligned to VS2015 release, things are dramatic this way.. :smile:

[2015-06-15 09:43] ddotlic commented on #3198
@jasonwilliams200OK Darn, if true, this is exactly the kind of thing I hoped we would avoid. In the "old days" this is how it has been, but these days with so many editors to choose from and bizarrely having a better experience **out** of VS 2015, it's weird to align the releases together.

[2015-06-15 09:55] wgebczyk opened #3510 "TS 1.5 release"
When 1.5 will be released?
Does it wait for VS 2015 release time?
If so, please split VS plugin from language itself and do not block language/tools from usage.

[2015-06-15 10:18] ivogabe commented on #3508
I think this is the best way to implement extension methods (#9), since with this proposal the emit isn't based on type info.

Also this will (partially) solve #212 (bind, call & apply are untyped), since we can use the `::` operator to bind methods:
[code]
We don't need bind, call and apply any more if we use the bind operator. The only missing feature of the bind operator would be currying, but

[2015-06-15 10:58] OliverJAsh commented on #2233
@vladima Thanks for the explanation.

I'm looking at VSCode and the IDE plugins now. Is it possible to hook these up to SystemJS so they read the config and can parse third party dependencies, e.g. `import jquery from 'jquery`;`?

[2015-06-15 12:09] atrauzzi commented on #2233
@OliverJAsh That would be simply amazing.  Would almost offer a first-class client side dev experience.

I'm fairly curious about this realm, because I feel like there are numerous undiscovered challenges:

 - If it's a pure JavaScript package, how far can the hinting really expect to go?
 - If it's a TypeScript package, does it read built JS, or does it look somewhere for TS code?
 - If it's buil

[2015-06-15 12:32] lucasmciruzzi commented on #3507
I don't want to suppress the implicit any errors (they are useful), the thing is that enum is trowing errors and it shuldn't.

Let's say I have an enum like this: `enum EnumExample { "value" }`. When I write `EnumExample[0]` I should get a string (`"value"` in this case) or undefined, and when I write `EnumExample["value"]` I should get a number (`0` in this case) or undefined. The bug is that I g

[2015-06-15 14:45] nycdotnet commented on #1003
@yortus A very straightforward example that I can think of is setting the value of a variable programmatically, e.g.:

[code]
Of course you could always have a `"NotSure"` in there, but then that's basically the same thing as allowing undefined, just more explicit.  I know you could write this simple example slightly differently to eliminate the temporary variable, but more complex examples might

[2015-06-15 14:52] lazutkin commented on #3510
:+1:

[2015-06-15 15:09] opensrcken commented on #3496
Edited previous comments for clarity.

[2015-06-15 15:14] ianfp commented on #2302
@kitsonk Perhaps I misunderstood what this issue is about... but yes, I'd basically like to replace [r.js](http://requirejs.org/docs/optimization.html) with `tsc` as my compiler and then start migrating the code from there. Perhaps this is not possible?

[2015-06-15 15:40] HerringtonDarkholme commented on #3508
I personally think supporting a new feature without type safety is desirable. FYI, https://github.com/Microsoft/TypeScript/issues/1985

[2015-06-15 15:45] DanielRosenwasser commented on #2564
Our [TypeScript Sublime Plugin](https://github.com/microsoft/typescript-sublime-plugin) currently uses the 1.5 beta release.

From what I can see, there are a couple of plugins for Brackets that support 1.4 (and only bump on stable releases), but since 1.5 should be out soon ideally, they should be on 1.5 in the near future. - maybe @fdecampredon and @tomsdev can weigh in.

[2015-06-15 15:49] #3485 closed

[2015-06-15 15:50] rahulgarg1985 commented on #2564
@DanielRosenwasser : Thanks for your response. Is there any way to use 1.5 in   VS2012 ?

[2015-06-15 16:11] DanielRosenwasser commented on #2564
Unfortunately as @mhegazy mentions above, the architecture of our language service has changed in such a way that we cannot easily support 1.5 in VS2012. When VS 2015 is released, we will have support for that.

Also you may want to look into [Visual Studio Code](https://code.visualstudio.com/), an editor which not only supports TypeScript 1.5-beta, but is partially built in it as well.

[2015-06-15 16:29] danquirk commented on #3499
[code]
This is explicitly declaring a property name. There are specific rules that JavaScript has for what kinds of names can be used for properties (like not allowing dotted names). If you want to do this you can use a string property name:
[code]
Whereas
[code]
is a property access which happens to have the semantics of setting the property when that property doesn't exist. JavaScript defines di

[2015-06-15 16:29] #3499 closed

[2015-06-15 16:31] danquirk commented on #3501
Unfortunately while ```drawImage``` does have 3 overloads which cover the three types you mention, that is not the same as actually accepting a union of those 3 types. See https://github.com/Microsoft/TypeScript/issues/1805 for some more discussion, these DOM APIs are certainly motivating examples for why we should consider the solution in that issue where we would special case single argument fun

[2015-06-15 16:31] #3501 closed

[2015-06-15 16:34] danquirk commented on #3505
Are you asking why the current behavior is this?
[code]

[2015-06-15 16:35] #3503 closed

[2015-06-15 16:45] danquirk commented on #3198
@ddotlic don't worry, we're aware that the current system is... suboptimal. We also don't like how long 1.5 has taken as it exacerbates this problem. We're making an effort to keep the next release cycles shorter as well as some other engineering work to try to keep the VS experience top notch and up to date (while also allowing other editors to keep moving fast and be top notch).

[2015-06-15 16:54] danquirk commented on #3496
@opensrcken Compiler code is not necessary here to define a general algorithm that will solve the problem.

[code]
Lazily evaluating the original type definition isn't the issue. The problem comes as soon as you try to use it, like here, where we need to check whether something is assignable to that type. So the compiler asks is ```{ foo: string }``` assignable to ```IJSONSerializable```? Well to

[2015-06-15 17:08] mhegazy commented on #3510
We usually like to stabilize releases a few weeks before we ship them. release-1.5.2 is now in the final stabilization stages. no more features going in just critical bug fixes. so stay tuned.

you can always grab the latest from [release-1.5](https://github.com/Microsoft/TypeScript/tree/release-1.5/bin) and give it a try, and use [dev mode](https://github.com/Microsoft/TypeScript/wiki/Dev-Mode-in

[2015-06-15 17:08] #3510 closed

[2015-06-15 17:15] Kavignon commented on #9
How could someone contribute for the extension classes in Typescript ?

[2015-06-15 17:29] DrRataplan commented on #1256
@mweststrate 'cause that would make a type be either MyClass or MyOtherClass, instead of the actual union of the types: `{a: string, b: number} & {d: string, b:string[]} => {a:string, b: number|string[], d:string}`.

For now, for Object.assign, I am using an overloaded definition in the lines of:
[code]

This works, and is kindof better than the any approach proposed by @duanyao, because it does h

[2015-06-15 17:34] JirkaDellOro commented on #3499
I don't think that this is the correct point, since Javascript actually never gets to see this kind of declaration. In the example, Num is an enumeration-type and its value num1 should translate from TypeScript simply to the value of 1. So

obj = { Num.num1: "Hello" };
in TypeScript is expected to translate to
obj = { 1: "Hello" };

in Javascript, which is valid code. Just as the accepted example

[2015-06-15 17:40] JsonFreeman commented on #1003
@jbondc, you cannot denote the null type and undefined types explicitly today. I'm not sure there is value in adding those words in the type syntax, rather than some sort of nullability marker.

To @yortus's comment, I was going to say that null and undefined are not really in the spirit of singleton types, and having the types be nullable is just a type system limitation. But I am actually convin

[2015-06-15 17:40] rahulgarg1985 commented on #2564
Thanks for quick response. :+1:

[2015-06-15 17:52] jbondc commented on #1003
@JsonFreeman Have you looked at my patch?

A set type:
[code]
Is the creation of a type from literal values, not other types.
[code]
I haven't encoded those values into 'bits' yet but plan to add them:
[code]
I'm kind of concerned you want to implement this differently.

[2015-06-15 19:47] CyrusNajmabadi commented on #3198
@jasonwilliams200OK We've fixed this for VS2013.  The next update of VS will hopefully include it.  This is not an issue with VS2015 as we've completely rewritten how these components work.

[2015-06-15 19:47] RyanCavanaugh commented on #3499
obj = { Num.num1: "Hello" };
in TypeScript is expected to translate to
obj = { 1: "Hello" };
[code]
to compile to
[code]

[2015-06-15 19:52] ddotlic commented on #3198
@danquirk Yeah, I'm sure you're aware this isn't great and I guess you would have changed things if you could. It's just silly that we all couldn't use 1.5 final sooner, but seeing how 2015 RC was quite some time ago, I'm hopeful you will be allowed to release soon. Thanks for an honest comment!

[2015-06-15 19:56] RyanCavanaugh commented on #3203
Let's say you wrote some code:
[code]
We need to *emit* this as:
[code]

Now consider the JSX case:
[code]
This will break at runtime if we don't rewrite `<MyDiv />` to `<M.MyDiv />`

[2015-06-15 20:21] CyrusNajmabadi commented on #3198
@ddotlic

You can use 1.5 sooner, if you're willing to use some of our beta bits.  It's not true that 1.5 is ready to ship.  As you can see from our commits, we're still addressing issues with it.

[2015-06-15 20:26] ddotlic commented on #3198
@CyrusNajmabadi

I actually **am** using 1.5-beta, and a client of mine is running code in production based on this very beta :smile: . I had an impression based on the very, very low number of bugs _not_ related to VS 2013/2015 that the release is being held up due to obscure issues which aren't in the compiler itself.

Sorry if I sounded harsh, I just want to get ahold of the newer bits asap.

[2015-06-15 20:27] jasonwilliams200OK commented on #3198
@CyrusNajmabadi, thanks for the clarification. :+1:

@ddotlic, and to get the latest/greatest/bleeding-edge bits via npm:

[code]

[2015-06-15 20:30] ddotlic commented on #3198
@jasonwilliams200OK I'm not willig to bleed that much :wink: Kidding aside, this is for a project of a client of mine, so a certain dose of stability is preferred over the totally latest and greatest.

Anyway, the only thing I'm sorta waiting for is the `namespace` keyword, I'm not aware of any issues actually affecting my codebase and my IDE (Sublime).

[2015-06-15 21:34] JirkaDellOro commented on #3499
I agree, but I guess it's a matter of how you expect ENUMS to be handled. If you expect them to be replaced by their actual values at "transpile"-time, as TypeScript does here
obj[1 /* num1 */] = "Hello";

you'd expect it there as well
obj = { 1 /* num1 */: "Hello" };

I'd consider const to be different, since you can use them with arbitrary data types and the values are still mutable, whereas enu

[2015-06-15 21:48] opensrcken commented on #3496
@danquirk, I think the compiler implementation is relevant. In your example, the compiler could check the non-recursive types first, i.e. whether the value is a number or string, and could break before recursing.

Let's simplify this a bit -- we are trying to define the type of a data structure that is legitimately recursive, theoretically infinitely so. For simplicity's sake, we do not need to th

[2015-06-15 21:50] bryanforbes commented on #3499
Since TypeScript allows ES6 computed properties, modifying the original "not accepted" code to a valid ES6 computed property works:

[code]

[2015-06-15 22:14] mprobst opened #3514 "Cannot re-export global symbol - circular definition of import alias"
Assuming these two files:

`a.d.ts`:

[code]

`b.ts`:

[code]

Gives this error:

[code]

The use case for this is moving from internal modules to external modules by re-exporting symbols.

/cc @mhegazy & @rbuckton

[2015-06-15 22:40] mprobst commented on #3514
/cc @mhegazy

[2015-06-15 23:23] vladima commented on #3412
@jcchalte WinDbg can open big dump files quite easily. The last one that you've shared is quite interesting. As I can see amount of managed memory (reported by `eeheap - gc` and `eeheap -loader`) is `515898356 + 14716928  = 530 615 284 bytes`. Total amount of memory allocated by in proc JS engines is ~400 MB (thanks to Chakra folks for helping to figure this out). In total this gives us ~900 MB wh

[2015-06-16 00:22] yortus commented on #1003
That's just an uninitialised variable. The compiler can already flag an error for this - eg:

`const a;  // Error: 'const' declarations must be initialized`

Its also trivially easy to avoid:

[code]

I guess there's a trade-off for the user of singletons: either they must pay the cost of initialising singleton variables to a valid value, or they must pay the cost of having to have extra type guar

[2015-06-16 00:45] tinganho commented on #3203
Maybe related. Seems like we TypeScript user must use Babel to transform the JSX elements into JavaScript. They are deprecating JSXTransformer and react tools. Seems little bit weird to use Babel as a post build since it is a direct substitute to TS.

http://facebook.github.io/react/blog/2015/06/12/deprecating-jstransform-and-react-tools.html

[2015-06-16 00:50] tinganho commented on #3203
Oops, just disregard my last comment just saw the spec have been updated.

[2015-06-16 00:55] sebmck commented on #3203
Just to clarify, this means that TypeScript will track Babel's JSX compilation right?

[2015-06-16 01:09] duanyao commented on #1256
@mweststrate The problem of `{a: string, b: number} & {d: string, b:string[]} => {a:string, b: number|string[], d:string}` is that `{a:string, b: number|string[], d:string}` is assignable to none of its super types.

[2015-06-16 04:51] RyanCavanaugh commented on #3203
I don't know what Babel's policy is regarding changing their emit to match latest React behavior.

[2015-06-16 05:26] tinganho commented on #3203
Here is an excerpt of their announcement:

Source: http://facebook.github.io/react/blog/2015/06/12/deprecating-jstransform-and-react-tools.html

[2015-06-16 06:14] mweststrate commented on #1256
Ah indeed, overlooked both items. Thanks :)

On Tue, Jun 16, 2015 at 3:09 AM, Duan Yao <notifications@github.com> wrote:

[2015-06-16 07:17] rayshan commented on #299
Hi all, pinging this thread. I ran into this issue with `Event.target`. I would imagine most of the time a target is an `HTMLElement`. It is a little odd that the default type assumes it isn't. I tried @SaschaNaz's suggestion and ran into the "duplicate identifier" issue (sorry I may be missing something, I'm pretty new to TypeScript).

[2015-06-16 08:04] kitsonk commented on #299
@rayshan the suggestion was for what should go into the `lib.d.ts` file and the file is auto generated based directly on the implementation of Internet Explorer.  So the error you encountered is accurate.  Right now the only way around it is to build without the built in lib (`--noLib`) and use the workaround, or do what you have done, which is cast the target.  There are currently a number of cha

[2015-06-16 08:58] sebmck commented on #3203
I'm confused by what this means. There's no "React" behaviour. There's just the Babel implementation which is now standard.

[2015-06-16 09:06] IgorWolbers opened #3518 "TypeScript Project Properties for Unit Test Projects"
I would like to request the feature to support Visual Studio Unit Test projects with this extension (ie. include the project tab TypeScript Build in unit test project properties).

Standard practice is to have 1 unit test project for every code project in Visual Studio and I want to include my type script tests written against my typescript in my web project in the unit test project. The problem i

[2015-06-16 09:13] muzuiget commented on #563
+1

[2015-06-16 11:00] dbaeumer commented on #3469
I agree with @mhegazy that we should keep build separate from the compiler/transpiler. I do like to include the tsconfig -> tsconfig dependency in the files section assuming that if the section doesn't list any *.ts files it still scans for them. E.g.

"files" : [
    {
        "path": "externalLibraries/projectB.d.ts",
         "sourceProject": "../projectB/"
     }
]

Will still include all ts f

[2015-06-16 11:41] aleksey-bykov commented on #3442
Even if you are exporting them, given that you have the entire code base at hands, you can see what's used and what is not. For libraries it's a different story.

Current TypeScript implementation allows function overloading that has to be resolved at runtime by examining arguments.

My idea is to leverage the type system and do overload resolution at the compile time basing it on function signatu

[2015-06-16 12:25] jcchalte commented on #3412
Thank you very much for the time you take to help us.

We will be coding the next few days, I will collect everything I can to help you.

I don't have the right to send you directly our code (obviously) but I managed to create a script that replaces all our business terms to random english ones. Here is the csproj and all our TS files :

https://www.dropbox.com/s/vyiqtu97q4f6oys/Project.7z?dl=0

E

[2015-06-16 12:52] Yellowmat commented on #3488
What it does is module and module.exports are defined, then the function getNodeSystem is executed and it search for node modules.

My problem is that I am in a browser, I have defined module and module.exports but as I am client side I have no node modules installed, then getNodeSystem execution failed.

If my module and module.exports properties were named different, I probably wouldn't have any

[2015-06-16 13:13] aleksey-bykov commented on #3203
@RyanCavanaugh sorry for a stupid question, but isn't something like a template engine be more appropriate for binding makup/elements/etc to the language constructs, rather than including it in TypeScript via specially crafted syntax (even as an extension)?

I can see how syntax support for inlined HTML elements whould be a valuable addition to the language, but it should come framework-agnostic r

[2015-06-16 13:57] Auggetit opened #3519 "New Website Logo: [insert name]"
Please fill the following out:

- Name: (correctly formatted)
- Homepage url: (homepage/primary entry point for users)
- Brand Guidelines/Licensing: (or anything we need to know before using your logo)
- Logo: (svg if possible, pngs over 500x200px with transparent backgrounds are also acceptable)

[2015-06-16 14:11] nexussays commented on #3203
@aleksey-bykov I had the same concerns, but if you think of JSX as a (simplified) replacement for E4X instead of some framework-specific syntax it makes a lot more sense.

[2015-06-16 14:35] jamiewinder opened #3520 "Intellisense behaviour of functions and parameters"
Some odd/unintuitive Intellisense behaviour:

[code]

The intellisense description for the 'Uid.uniqueName' property is now description B, however the intellisense for the parameter is description A. There isn't anything overriding here - the description of the function is always taken from the export, and the parameter description is always taken from the function definition. As such, I need to d

[2015-06-16 15:21] jpolo commented on #1256
+1
I am looking forward an expressive solution for something like ``` function (assertAPI, assertExtension) { return mix(assertAPI, assertExtension) } ``` and intersection type would fit right in.

[2015-06-16 15:46] thorn0 commented on #3203
@aleksey-bykov See my explanation here https://github.com/Microsoft/TypeScript/issues/296#issuecomment-103892505

[2015-06-16 15:51] danquirk commented on #3518
See #1398

[2015-06-16 15:51] #3518 closed

[2015-06-16 15:52] danquirk commented on #3519
Copy/paste error?

[2015-06-16 16:05] wardbell commented on #3462
Thanks, Dan. It does make sense and it is H2O for a thirsty dev. The wiki and gradual accumulation of community lore will help.

It is damned noisy though. I suppose that is the nature of strong typing.

So where is the benefit? As you say, I could have just declared the simplest possible signature that covers the bases from a type checking perspective. I could even have used `any` and called it a

[2015-06-16 16:21] kitsonk commented on #563
People randomly +1 this isn't going to move it on.

The use cases so far are:
* I have really big classes that span multiple files. @RyanCavanaugh indicated that it was likely a major design issue with code that complex and not sufficient to warrant the complexity of implementation.
* It like them.
* An other argument seems to be C# has them.
* The other argument is around generated code from othe

[2015-06-16 16:26] piloopin opened #3521 "Incomplete intl.d.ts interfaces"
DateTimeFormat.format takes a number or _a date object_.
NumberFormatOptions has some additional fields: minimumIntegerDigits, minimumFractionDigits, ...

[2015-06-16 16:38] jfrank14 commented on #563
It does look like #9 would accomplish the same thing and be even more general (because you could extend classes other than your own). But it might be reasonable to want class content in two files (perhaps because one is hand written and the other generated by a template), and to say that both files define the essential members of the class with equal importance, and not require that one file "exte

[2015-06-16 16:50] mhevery opened #3522 "Inline classes not supported"
[code]

Throws:
[code]

I believe that is a valid ES6 syntax, and it should work.

[2015-06-16 16:55] mhegazy commented on #3521
The [spec](http://www.ecma-international.org/ecma-402/1.0/#sec-11.3.2) is really hard to read. but feel free to submit a PR to update the definitions to reflect the spec.

[2015-06-16 16:57] mhegazy commented on #3522
We are adding the support for class expressions currently. class expressions should be fully supported in 1.6.

[2015-06-16 16:59] RyanCavanaugh commented on #3203
See also https://facebook.github.io/jsx/#why-not-template-literals

Engineering for the world that *ought to* exist (a general templating framework, a new HTML-specific syntax, pure MVC architecture everywhere, something else...) rather than the world that *does* exist (lots of people using JSX and being happy about it) is a good way to make a programming language that no one uses.

I hadn't seen

[2015-06-16 16:59] mhegazy commented on #3469
@dbaeumer you then want to have it in a different property, correct? currently, if files is defined, it is always used and we ignore the include *.ts part.

[2015-06-16 17:02] mhegazy commented on #3488
so what would be a better condition to check for node but not run into webpack? currently it is:
[code]

[2015-06-16 17:04] gautamsi commented on #1194
This does not work with ES6 style import statement, error: "An Import declaration cannot have modifiers"

running with 1.5 beta 1 in VS Code.

[2015-06-16 17:04] aleksey-bykov commented on #3203
wow, there must be a great person who have said that

is there a way not to be bound to JSX.* stuff so much and make it a default but not only option?

[2015-06-16 17:10] filipstachura commented on #3508
Here is more detailed description of the bind operator strawman:
https://github.com/zenparsing/es-function-bind

I must say that syntax proposed by Trine (https://github.com/jussi-kalliokoski/trine) looks way better than anything I saw before. I would love to write code in such functional form.

[2015-06-16 17:10] RyanCavanaugh commented on #3203
I'm not sure what you mean?

In terms of supporting arbitrary syntactic extensions, that's not happening. Anyone is free to write a tool that takes a file as input and produces TypeScript as output, and chain in our tools/compiler, but we're not going to deal with the headaches.

In terms of making the name `JSX` configurable when using `<Foo>content</Foo>` syntax, I don't see what the point of th

[2015-06-16 17:12] danquirk commented on #3522
#497 is the main source of discussion

[2015-06-16 17:12] #3522 closed

[2015-06-16 17:13] mhegazy commented on #3520
Documentation is attached to declarations; so when you do `Uid.uniqeName` we go and try to find its declaration location, and that is the object literal. now when you call it, we resolve the type of `uniqueName` and we find it to be `{ (name: string): string; }`, so we pick that signature, and now we want to show parameter help, so we go to the declaration of the call signature, which is the funct

[2015-06-16 17:13] Davidhanson90 commented on #563
I don't want partial on classes for reasons stated, but I'm modules it makes sense IMHO

[2015-06-16 17:15] mhegazy commented on #1194
@gautamsi if you want to use the ES6 imports/exports you  can just export directelly from the other module:
[code]

or split them into two statements:
[code]

[2015-06-16 17:21] mhegazy commented on #3500
@JirkaDellOro it is implicitly typed as `any`. and --noImplicitAny is excluding it, so what is the additional value you would be getting?

@CyrusNajmabadi, `string` is not accurate, though we should be able to type it as a `PropertyKey` now that we have union types (i.e. `string|number|symbol`).

[2015-06-16 17:23] gautamsi commented on #892
+1, I am working on large code base to port from c# and it would leak many methods to consuming code outside of my module.
may I suggest few options (for internal and external modules):
* use tsconfig.josn list of files to allow use of internal modifiers
* add a section in tsconfig.json to list those files. they can use each others internal modifier
* use ///<reference like section with wildcard r

[2015-06-16 17:24] aleksey-bykov commented on #3203
I mean it would have been great if (in addition to React) the syntax you are taking about could have been transformed into a subtree of DocumentFragment:
[code]

[code]

[2015-06-16 17:27] RyanCavanaugh commented on #3203
That's why we're supporting `--jsx preserve` -- if you want to write a JSX transformer that does that, you can.

There are also some (brave) people writing frameworks that expose an API that "looks like" React. You can write `import React = require('someotherlib');` and use the React transform even though it's invoking some other library.

[2015-06-16 18:26] JsonFreeman commented on #3520
To me, this is an example of shorthand properties / aliases posing challenges for the language service design. My intuition would be that for a shorthand property, you first obtain the documentation from the property declaration. In the absence of that, you go to the declaration that it's referencing.

For parameter documentation though, I think we should look for it on the original declaration. T

[2015-06-16 18:33] aleksey-bykov opened #3523 "Question: is there a way to detect an unsound assignment via public compiler API?"
My situation (#3067):
[code]
I've managed to get an AST and a type checker. I am holding a reference to the argument (copyB from above) object.

Can anyone outline the steps that need to be taken to determine that the assignment from the example is unsound using the public compiler API?

[2015-06-16 18:48] jussi-kalliokoski commented on #1985
FWIW, I (unaware of this issue) opened a similar one on facebook/flow#452, in my last comment proposing the same syntax that was proposed here (e.g. `function add (this : number, b: number) { return this + b; }`).

I think that would be the most intuitive syntax for this, and I use it in [trine](https://github.com/jussi-kalliokoski/trine) for annotating function types (I use `_this` because babel

[2015-06-16 19:12] JsonFreeman commented on #3514
Just an update. I have been thinking about this for a day or so, and it raises an interesting language design question that we have not considered before. I was trying to make a decision on that, but I am leaning towards opening a separate issue for it, and trying to fix this bug without changing the current design yet.

[2015-06-16 19:32] JirkaDellOro commented on #3500
This year, I chose TypeScript to teach programming in the first year at the university. Up to now, we were using Java/Processing. I really enjoy TypeScript, since it offers access to the huge world of Javascript-Platforms while maintaining a proper coding style. Since the students may switch to other languages later, I enforce type annotations to get them acquainted to explicit types and for pract

[2015-06-16 19:52] joelmdev opened #3525 "Lambda losing track of scope of "this""
I have a function like this in my TypeScript+Angular application (using Definitely Typed typings):

    public login() {
        this.dataModel.login({
            grant_type: "password",
            userName: this.userName,
            password: this.password,
            isPersistent: this.rememberMe
        }).then<void>(
            successResult => {
                this.$rootScope.user = new

[2015-06-16 20:31] piloopin commented on #3521
The spec is actually [this one](http://www.ecma-international.org/ecma-402/1.0/#sec-12.3.2). I was looking at [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DateTimeFormat) though as a reference, matching it with the original spec.

I'll send a PR for these two specific issues, but I guess there might be other mismatches too.

[2015-06-16 20:39] JirkaDellOro commented on #3499
We're using 1.4, so this is currently not supported. Also I'd like to stay with ES5 for a while. Will ES6 support enums natively?

However, while Bryans suggestion may become a good workaround, it feels more like having Javascript fix what TypeScript should have done by transpiling the enums consistently.

[2015-06-16 20:40] mohsen1 commented on #1206
+1 for this and I am suggesting supporting all primitive types for enum values. Just like Swift. This is the syntax in Swift which I really like:

[code]

[2015-06-16 20:42] mhegazy commented on #3525
This is already tracked by #2617; this is an issue with the debugger extension not knowing that `this` was renamed to `_this` when you hover over it.

[2015-06-16 20:42] #3525 closed

[2015-06-16 20:43] bryanforbes commented on #3499
Once/if you move to 1.5, that syntax will compile to ES5, so you don't need to give up using ES5. ES6 does not support enums natively.

[2015-06-16 21:01] impinball commented on #1206
I would like to mention that, because of ECMAScript language limitations
themselves, const enums should be limited to non-Symbol primitives. Because
`{} !== {} and Symbol("foo") !== Symbol("foo")`, other enums can't be
inlined.

I do feel this would be incredibly useful, though.

On Tue, Jun 16, 2015, 16:41 Mohsen Azimi <notifications@github.com> wrote:

[2015-06-16 22:14] gautamsi commented on #1194
that works!  I was using split way earlier. now this will help me streamline my module main file..

[2015-06-16 23:56] impinball commented on #3081
:+1: I find this behavior surprising coming from other strongly typed languages, such as C/C++ and Haskell.

[code]

[code]

[code]

[2015-06-16 23:56] impinball commented on #3081
And, @spion I agree with that.

[2015-06-17 00:03] aleksey-bykov commented on #3081
A tslint rule for this is trivial and operates at the syntax level. If
there is a result node in the AST for a function then you are good. Can
share code if you want.
On Jun 16, 2015 7:57 PM, "impinball" <notifications@github.com> wrote:

[2015-06-17 00:22] mohsen1 opened #3531 "Deep interface errors are not helpful"
If an interface has some deep property and an object from that type has a inner property that is not conforming to the type interface, TypeScript compiler will throw an error which is not very helpful because it's not pointing to exact property that is not matching.

Consider following example:

[code]
**Error thrown:**
[code]

The error that is thrown is not telling me that `name` needs to be a s

[2015-06-17 00:58] mohsen1 opened #3533 "Feature Request: Allow aliasing unions"
If I need to repeat a union type in multiple places, it would be very nice to have an alias from that union type

For example, if I can assign
[code]

The above syntax is not something I recommend. I don't know what the best syntax would be but it would be nice if I can alias all those union types in one type and re-use it elsewhere

[2015-06-17 01:01] JsonFreeman commented on #3533
This is supported in 1.4 and above. The syntax is:
[code]

[2015-06-17 01:01] #3533 closed

[2015-06-17 01:06] mohsen1 commented on #3533
Sweet!
Thank Jason, I asked this question in Gitter a [couple of hours ago](https://gitter.im/Microsoft/TypeScript?at=5580ab70f207aa853a8bb4ac). You guys should hangout there more! :)

[2015-06-17 01:22] JsonFreeman commented on #3496
@opensrcken The types you've defined in exhibit A and exhibit B are not even the same. In exhibit B, your type would allow `Array<Array<number>>`, whereas the type in exhibit A would not. Am I correct?

The reason this is an error is the `Array<IJSONSerializable>` reference. In order to know what that type represents, we cannot create a type for `Array<IJSONSerializable>` because we don't even kno

[2015-06-17 01:24] JsonFreeman commented on #3496
Forgot to clarify, it is not a result of failure to detect relations between types that are infinitely recursive.

[2015-06-17 01:26] JsonFreeman commented on #3496
Also, it's simple recursion in this case (classic mu type), not infinite/generative recursion.

[2015-06-17 02:21] tinganho commented on #449
Right now, this is a deal breaker for me in a project I'm working on.

I helped developed an in-house isomorphic framework that could be ran on server and the client. So in AMD we use a lot of conditional imports and conditional executions.
[code]
We haven't been able to switch to TS because there are no mechanism that deal with our problem.

I think there many other projects that could benefit fr

[2015-06-17 02:22] tinganho commented on #449
I'm also not sure if the conditional in C# would fit our use case.

[2015-06-17 02:52] joelmdev commented on #3525
Great thanks! Sorry for the dupe!

[2015-06-17 04:27] IgorWolbers commented on #3518
Thank you for the pointer Dan. What I am looking for is not a javascript/typescript unit test runner but the option to automatically compile typescript (.ts) files to javascript (.js) in a visual studio unit test without the use of another plugin. I figure the easiest way to add this support is to add the project settings for typescript to other projects. If I am unclear please see this link where

[2015-06-17 04:59] JsonFreeman opened #3535 "Should merging ambient external modules share a scope that includes their export specifiers?"
When namespaces merge, any members exported by one namespace declaration are in scope in all the merged declarations. Ambient external modules like `declare module "foo" { }` can merge too. It seems natural then that exported declarations are in scope in merged external modules too. But external modules have additional ways of exporting their members, via export specifiers, export default, and `ex

[2015-06-17 05:15] kseo commented on #1256
+1 for intersection types.

In Flow, intersection types are used to mimic function overloading:

[code]

In TypeScript, we use union types to support function overloading.

[code]

These two functions actually have the same type because TypeScript used union types to encode intersection types of Flow. Intersection types are the dual of union types. When an arrow is distributed over a union, the un

[2015-06-17 05:46] HerringtonDarkholme commented on #1256
@kseo Just a side note, flow's intersection type is problematic.  Please refer to  https://github.com/facebook/flow/issues/342 and https://github.com/facebook/flow/blob/master/tests/intersection/test.js

For TypeScript, because function is bivariant, there is probably fewer problems with intersection type

[2015-06-17 06:48] impinball opened #3536 "Allow default methods/instance variables in interfaces"
This would be epic to have. Java itself had a problem with forcing the implementing class to implement the abstract methods, and solved it with default interface implementations. Sometimes, multiple inheritance is necessary to have. For example, I have a sea of crisscrossing is-a relationships to handle, with a ton of things like the following:

[code]

It's not pretty, but I also have to check ma

[2015-06-17 06:50] impinball commented on #2919
I do feel that an even better idea would be permitting default interface implementations. Java had this very problem, and fixed it with default interface implementations in Java 8. I feel this could profit from the same addition. (I filed #3536 regarding this alternative)

[2015-06-17 13:18] TiagoBraga39 opened #3537 "Attribute Annotation"
Why doens't typescript support Attribute Annotation?

For example, in C#, we could do something like:

Method 1:
---
Work around that may work. Not the best solution.

[code]
So, with that said: Why not try this in typescript?
My thoughts:

[code]

Method 2:
---
Every class has a list of properties, and every property has a list of validators:

![capturar](https://cloud.githubusercontent.com/asset

[2015-06-17 13:59] HerringtonDarkholme commented on #2249
May I ask why decorator cannot change the decorated result type from the type being decorated?

For example, MethodDecorator can be alternatively proposed as below:

[code]

So decorator can be more flexible to use and works somewhat like a macro. The type of decorated class / field can be updated correspondingly to decorator returning type, so that type safety is still kept.

[2015-06-17 14:38] danylaporte commented on #3533
Is it possible to have a generic signature for the aliasing unions?

[code]

[2015-06-17 15:04] DanielRosenwasser commented on #3533
@danylaporte yup, that's slated for 1.6. See [our roadmap](https://github.com/Microsoft/TypeScript/wiki/Roadmap).

[2015-06-17 15:12] DanielRosenwasser commented on #3440
@RyanCavanaugh considering that const enums do not always have a runtime representation, could you explain what that might be?

[2015-06-17 15:32] RyanCavanaugh commented on #3440
In input positions (e.g. function parameters), `typeof E` seems equally valid whether `E` is const or not

[2015-06-17 15:35] RyanCavanaugh commented on #3531
?. Keep reading to the end of the error:
[code]

Imagine the opposite world, where for an arbitrarily-deep object, we *didn't* tell you the path to the member that was causing the incompatibility. That would be a nightmare -- you might have ten different properties, each with a different type that had a `name` member. It'd be impossible to figure out which type had the incompatible one.

[2015-06-17 15:35] #3531 closed

[2015-06-17 16:12] kitsonk opened #3538 "Proposal: Conditional Compilation"
# Proposal: Conditional Compilation
## Problem Statement

At design time, developers often find that they need to deal with certain scenarios to make their code ubiquitous and runs in every environment and under every runtime condition.  At build time however, they want to emit code that is more suited for the runtime environment that they are targetting by not emitting code that is relevant to th

[2015-06-17 16:25] mohsen1 commented on #3531
I understand that the error has the information about the mismatched property. The error pointer is pointing to `obj` not `name`. Doesn't it make sense to point to `name`?

[2015-06-17 16:48] DanielRosenwasser commented on #3499
Yes, as @bryanforbes mentions, you can still use most of the new ES6 constructs in TypeScript 1.5, as well as all the TypeScript constructs we've implemented so far, all while targeting ES5.

(If you mean that you're unwilling to use any ES6 features for the time being, arrow functions and classes are also part of ES6, and are pretty nice to use)

[2015-06-17 16:57] RyanCavanaugh commented on #3531
As strange as this sounds, we don't actually know which property is "to blame" in these kinds of situations.

The compiler works by determining the type of the right-hand side of the expression, then seeing if that type is assignable to the left-hand side. There's no mechanism that keeps track of where that type came from in terms of mapping the properties of that type to the initializations that

[2015-06-17 17:22] vladima commented on #3488
what about checking global variable `process` and probably some of its properties

- [option 1](https://github.com/Microsoft/TypeScript/issues/3538)
[code]

- [option 2](https://www.npmjs.com/package/detect-node)
[code]

[2015-06-17 17:33] DanielRosenwasser commented on #3537
I think you might be interested in [TypeScript 1.5's upcoming decorators](https://github.com/Microsoft/TypeScript/issues/2249) - see [our roadmap](https://github.com/Microsoft/TypeScript/wiki/Roadmap).

[2015-06-17 17:33] JirkaDellOro commented on #3499
Indeed! I just got Bryan wrong thinking ES6 needs to be targeted.

[2015-06-17 17:34] JsonFreeman commented on #3533
Generic type aliases are actually checked in already. Feel free to try it out early if you like.

[2015-06-17 17:38] danylaporte commented on #3533
Nice! Thanks.

[2015-06-17 17:42] jbondc opened #3539 "Bug with resolveClassOrInterfaceMembers"
https://github.com/Microsoft/TypeScript/blob/master/src/compiler/checker.ts#L2823
[code]
The compiler finds 24 call expressions because it appends 'monster' from each base type.

[2015-06-17 17:58] opensrcken commented on #3496
Yes, you are correct about the difference between exhibit A and B. That is an oversight on my part.

I think the important thing here is that JSON is not some sort of edge case. Recursive types are fairly commonplace in programming, and it seems worth supporting.

[2015-06-17 18:12] #647 closed

[2015-06-17 18:14] colbyrussell opened #3540 "Bad line endings in src/compiler/program.ts"
The repo uses DOS-style line endings, but there are two lines in program.ts that don't follow the convention.  It's causing VIM to choke on the file.

![line-endings](https://cloud.githubusercontent.com/assets/10376674/8214966/9348ef64-14f2-11e5-8387-5d9efeb7bc19.png)

[2015-06-17 18:19] mhegazy commented on #3458
@vladima any more work needed here, or should we close this?

[2015-06-17 18:21] vladima commented on #3458
we are done here, it can be closed

[2015-06-17 18:21] #3458 closed

[2015-06-17 18:35] #3081 closed

[2015-06-17 18:37] mhegazy commented on #3540
Thanks @colbyrussell !

[2015-06-17 18:37] #3540 closed

[2015-06-17 18:38] vanesyan commented on #2719
Must have future.

[2015-06-17 20:13] danquirk commented on #3520
_For parameter documentation though, I think we should look for it on the original declaration. That means that if we find documentation on the property declaration, we may still have to chase down the reference to find parameter documentation._

Agree. It's not clear to me there's any reason the shorthand property declaration would have any useful information to override the original JSDoc commen

[2015-06-17 20:23] danquirk commented on #3518
Ah, got it. I'm not an MSBuild expert. You're definitely not going to get the project properties page updated by doing that though. Can you set the action on your TypeScript files to build though (in the Properties window)?

[2015-06-17 20:25] danquirk commented on #3536
Definitely feels like part of a mixin story.

[2015-06-17 20:27] danquirk commented on #3537
As mentioned, this is essentially decorators.

[2015-06-17 20:27] #3537 closed

[2015-06-17 20:36] mhegazy commented on #3518
@IgorWolbers from your msdn issue, looks like you did not add the targets file. what you need is:
1. prop files at the top
2. targets at the bottom
3. all typeScript files should be in `TypeScriptCompile` tags
4. configurations

e.g:
[code]

[2015-06-17 21:27] #511 closed

[2015-06-17 21:32] ahejlsberg commented on #1168
Fixed by #3516. Classes can now extend arbitrary expressions of constructor function types.

[2015-06-17 21:33] #1168 closed

[2015-06-17 22:10] #3504 closed

[2015-06-17 23:56] mhegazy commented on #3514
@mprobst can you give this a try, and see if you are still running into issues.

[2015-06-18 00:08] mhegazy commented on #3500
the type is decided by runtime. it is the keys on the object you are passing. The TypeScript type system is structural, so you could have something like:
[code]

So the compiler can not really provide any sort of safety here, we do not know what other keys are on the object you are iterating on. Originally TypeScript did not have union types, so the only correct annotation was `any`. The interesti

[2015-06-18 00:20] mhegazy commented on #3500
just to reiterate.. if you add a type annotation on a variable say, the compiler will make sure that any assignments to this variable have types that are compatible; for the for..in, it does not matter what type annotation you use, it does not gives you any grantees, it all depends on values at run time, and the compiler has no way of knowing them.

on a related note, i think requiring an annotati

[2015-06-18 00:25] mhegazy commented on #3488
Pinging @csnover for this one. @csnover any insight on the correct check here that would work with node-like loaders e.g. browserfiy and webpack?

[2015-06-18 00:33] mhegazy commented on #3520
We would be open to look at a implementation proposal if some on is interested.

[2015-06-18 00:51] Arnavion commented on #3277
@mhegazy fs.watchFile already allows you to know if the watched file is deleted. The "current" Stats object has modified time set to the zero Date, so `mtime.getTime() === 0` can be used to detect deletion. (It's because libuv calls the callback with a default zero-initialized uv_stat_t reference, although this is not documented in libuv's nor node's docs as far as I can see).

[2015-06-18 01:12] DanielRosenwasser commented on #1882
This appears to be a duplicate of #964.

[2015-06-18 01:12] #1882 closed

[2015-06-18 01:27] DanielRosenwasser opened #3544 "Compiler doesn't keep declaration files consistent between 'namespace' and 'module'"
`foo.ts`:
[code]

Run the following:
[code]

Expected `foo.d.ts`:
[code]

Actual `foo.d.ts`:
[code]

[2015-06-18 02:01] mhegazy commented on #3277
Nice. Thanks @Arnavion, that would do the trick. We would accept a PR implementing @Arnavion's proposal.

[2015-06-18 02:06] mhegazy commented on #3523
No. That is too deep in the stack at this point and not surfeced. @JsonFreeman any ideas?

[2015-06-18 03:01] tinganho commented on #3538
I don't quite like that the proposal isn't addressing conditional imports. I think that is the core issue of having conditionals in the first place.

if (hostNode) {
    console.log('You are running under node.');
}
else {
    console.log('You are not running under node.');
}

I'm not sure if I like the runtime property check. We are all developers and we know TypeScript is a compiled language. Wh

[2015-06-18 03:43] DanielRosenwasser commented on #3523
I believe you'd have to extract relations that you're interested from the compiler/create your own relations and test whether types in certain positions pass those relations.

[2015-06-18 04:43] mhegazy commented on #3523
the relationship check might not be sufficient, if the relation was used in overload resolution, it would be too late at this point.

[2015-06-18 05:29] DanielRosenwasser commented on #3523
True. This and type argument inference might complicate things.

[2015-06-18 06:03] kitsonk commented on #3538
I think that would be a different solution.  That is mainly because it is not likely the same pattern can be used with imports without breaking the functionality.  The way we addressed this in Dojo, which then worked for both runtime and build time, was to utilise the AMD loader plugin mechanism to evaluate the "magical" MID string expressed as a ternary expression to determine if a certain `has`

[2015-06-18 06:28] mhegazy commented on #3539
that is by design. they should all be there, with specialized signatures all coming ahead of non specialized ones i.e. `(x: string): void;`.

[2015-06-18 06:32] mhegazy commented on #2249
@HerringtonDarkholme I would say this needs to be tracked in a different suggestion. The main reason is the way the compiler reasons about types is through declarations. once a type is declared it can not change. adding type mutators in the mix means we need to resolve these as we are resolving the declaration which can get hairy.

[2015-06-18 06:36] #3521 closed

[2015-06-18 06:36] mhegazy commented on #3521
thanks @piloopin

[2015-06-18 06:56] #3544 closed

[2015-06-18 07:22] CKGrafico commented on #2947
Anything new about this?

[2015-06-18 09:40] TiagoBraga39 commented on #3537
Oh I couldn't find anything...
Thank you both :)

[2015-06-18 09:46] ArtemGovorov opened #3548 "Difference between 1.4 and 1.5 in generating JavaScript for enums in declared modules"
For the code like this:
[code]

1.4 generates
[code]

1.5 generates
[code]

Is it expected?

[2015-06-18 09:59] jbondc commented on #3539
@mhegazy Yep but chooseOverload() on m5 ends up getting 24 'candidates' instead of 6.

[2015-06-18 10:51] jbondc commented on #3539
For better clarity:
![snap](https://cloud.githubusercontent.com/assets/199519/8229600/6764aa0c-1586-11e5-9a86-a7024ba9d3b5.png)

[2015-06-18 12:27] HerringtonDarkholme commented on #2249
@mhegazy so, can I understand this as a compromise for implementation ease, rather than a deliberate design?

According to this [proposal](https://github.com/wycats/javascript-decorators), decorators restore the ability to run code at design time, while maintaining a declarative syntax. So the following code shall be
valid in future's JavaScript, but not valid in today's TypeScript (however this m

[2015-06-18 13:08] colbyrussell opened #3549 "No source for the diagnosticInformationMap generation?"
We have diagnosticInformationMap.generated.ts and its diagnosticMessages.json source, but there doesn't seem to be any build step that produces the former from the latter, nor does there seem to be any file in the repo for the generator source.

The generator should be checked in, the build process fixed to invoke it, and diagnosticInformationMap.generated.ts should be added to .gitignore and remo

[2015-06-18 13:09] zhuravlikjb opened #3550 "Crash on trying to apply invalid type predicate"
[code]

[code]

[2015-06-18 13:13] zhuravlikjb commented on #3550
By the way, should type predicates operating on something other than predicate-function arguments work, or should it be a compiler error? Thanks.

[2015-06-18 13:24] colbyrussell opened #3551 "Move ts.optionDeclarations data into JSON"
If you open commandLineParser.ts, what you'll find is that the first 48% of the file is taken up by a definition that really wants to be JSON.

See also #3549

[2015-06-18 13:24] zhuravlikjb opened #3552 "[Question] Type predicates and unions"
[code]

Seems that currently union type annotations which use type predicates are ignored. It is a correct assumption?

At first attempt it was quite natural to think that such type predicate pair could have the same meaning as:
[code]
But seems that now it doesn't work so.
Are there any enhancements planned for this feature, or will it be left only in form of only one "is" expression per type ann

[2015-06-18 13:31] jbondc commented on #3539
@mhegazy Have a patch I'll send in for review later today.

[2015-06-18 14:04] zhuravlikjb commented on #3552
Okay, I see now that it is a question of parenthesizing:
is "m is V | m is S" equivalent to "(m is V) | (m is S)",
or is it equivalent to "m is (V | m is S)"?

[2015-06-18 14:30] zhuravlikjb commented on #3552
Okay, as far as I see from an example like this:
[code]
you process everything afterwards "is" as a type usage (because applying this type guard narrows the type of "m" to "V|S"), and you disallow parentheses around "is"-expression, so that combined things like "(m is V) | (m is S)" are impossible.

Then I close this, because it became clear how it works.

[2015-06-18 14:30] #3552 closed

[2015-06-18 14:47] IgorWolbers commented on #3518
Thank you! I am going to try it first thing tomorrow and will report back the results.

[2015-06-18 14:48] zhuravlikjb opened #3553 "Should process parenthesized argument as well with type-predicate-guards"
[code]

[2015-06-18 14:58] zhuravlikjb opened #3554 "Inconsistency: type-predicate-guard is not treated as a guard with tagged template"
Tagged template is a kind of invocation, so it's valid to suppose that it will function the same way as an ordinary invocation at the same place.

But it's not so for type-predicate-guards:

[code]

[2015-06-18 15:07] DanielRosenwasser commented on #3553
Given the contextual typing issues we had with parenthesized expressions, I'm inclined to call this a bug, though I don't necessarily see why you'd have an identifier wrapped in parentheses other than those of a call.

[2015-06-18 15:11] zhuravlikjb commented on #3553
I was just testing around how type-predicates work in their current implementation, to understand this mechanism better. Surely this is a border case, and it's not very likely that someone will write such code intentionally.

[2015-06-18 15:45] tinganho commented on #3554
I can try to fix this later.

[2015-06-18 15:59] csnover commented on #3488
There isn’t any way to detect Node.js as a distinct environment any more because it isn’t. Electron and NW.js for example stick Node.js APIs into a browser context, where you have the ability to do script injection to load any code like a browser, but also you can call sync `require` to load local code like Node.js.

So, all you can try to do as an author is attempt to infer that the APIs you actu

[2015-06-18 17:25] colbyrussell commented on #3549
In fact, I was.  (Was grepping only through ./src instead of project-wide.)

The generator is processDiagnosticMessages.ts, invoked by Jakefile.js.

[2015-06-18 17:25] #3549 closed

[2015-06-18 17:27] DanielRosenwasser commented on #3549
To clarify for others, the command you're interested in is

[code]

[2015-06-18 17:30] DanielRosenwasser commented on #3551
It wants to be JSON but

[code]

[2015-06-18 17:32] #3551 closed

[2015-06-18 17:46] mhegazy commented on #2947
@aozgaa is looking into this

[2015-06-18 17:51] mhegazy commented on #2249
The current check is that you have to return something from your decorator that is assignable to the target. the missing part is we are not capturing any additions to the type. I do not think we have an idea on how to do that, but we have not really thought about it either. so i think it is a fair suggestion, but the cost to implement it may be very high.

[2015-06-18 17:54] mhegazy commented on #3553
This is the same in cases of `typeof` type gurards as well.
[code]

type guards have a limited support, and that is by design, similar to `==` support.

[2015-06-18 17:55] #3553 closed

[2015-06-18 18:04] colbyrussell commented on #3551
Right, and neither is the `Diagnostics` stuff itself in diagnosticInformationMap.generated.ts.  And yet diagnosticMessages.json exists.

No.  The translation layer already exists in processDiagnosticMessages.ts, which operates on the two aforementioned files.

"I don't want to spend any time on this" is something I can appreciate, but is it also the intent of the TypeScript project to also say, "w

[2015-06-18 18:12] thorn0 commented on #3203
module M {
  export class MyDiv { ... }
}
module M {
  var x = <MyDiv />;
}
[code]

And minifiers usually remove unused variables anyway.

[2015-06-18 18:16] mhegazy commented on #3551
@colbyrussell this is a JSON object but it has a contextual type attached to it.
[code]
this allows us to use our tools to do things like rename, find all refes, etc.. which is helpful.

The size of the object is not big enough to warrant moving it out. I also do not see any user/functional benefits for taking this change.

[2015-06-18 18:27] colbyrussell commented on #3551
... how does this differ from diagnosticMessages.json?

[2015-06-18 18:32] danquirk commented on #3548
Yes, that's intended. See http://stackoverflow.com/questions/28818849/how-do-the-different-enum-variants-work-in-typescript, in particular the end:

_Changes in TypeScript

Between TypeScript 1.4 and 1.5, there was a change in the behavior (see https://github.com/Microsoft/TypeScript/issues/2183) to make all members of non-declare non-const enums be treated as computed, even if they're explicitly

[2015-06-18 18:32] #3548 closed

[2015-06-18 18:36] mhegazy commented on #3551
These are two different issues. the reason diagnostic messages is in a .json file is we are creating the id automatically. putting it in a .json file makes it easier for the script to access it.
We had a list of requirements, that generating the file seemed like the best choice, we wanted:
- the id of the message to tell you what the message text is
- we wanted the compiler to check the usage of t

[2015-06-18 18:45] colbyrussell commented on #3551
I'm reminded of why I avoid GitHub when I do open source.

*shrugs*

[So long, TypeScript](http://soledadpenades.com/2015/02/18/how-to-keep-contributors-when-they-are-not-even-contributors-yet/).

[2015-06-18 19:02] stephanedr commented on #3538
I would also like that TS supports conditional compilation, but more in the C++/C# way too.
My main use is for assertions.
With your proposal @kitsonk, I would be able to empty a function, but not remove its call, e.g.:
[code]
With a C++/C# implementation:
[code]
Additionally, if TS would provide "macros" for the current filename and line number, I would be able to retrieve them relative to the TS

[2015-06-18 19:08] JsonFreeman commented on #2249
Ideally, I think the type returned by the decorator should be identical to the target. There's no telling whether you will use the decorated type in a source or target position in an assignment.

Although I guess really we should merge the decorator return type and the target, kind of like a mixin.

[2015-06-18 19:15] JsonFreeman commented on #3523
You'd have to do a couple of things:

1. Augment checkTypeAssignableTo to take a flag indicating that you only want to allow sound assignments.
2. Add the checks that you want to fail on, guarded by this flag.
3. Add a relation cache that stores results for sound checks, so it doesn't mix with the existing cache.
4. Expose this function on the type checker interface.

[2015-06-18 19:17] jamiewinder opened #3562 "Computed properties"
[code]
Could be wrong, but isn't this now legal syntax? In both ES5 and ES6 modes, this generates the error:

"*A computed property name in a class property declaration must directly refer to a built-in symbol.*"

Computed properties are listed on the Roadmap for Typescript 1.5 - is that still the case? If so, will ES6 mode be required, or will it work with ES5? Thanks.

[2015-06-18 19:45] mhegazy commented on #3551
I am sorry you feel this way. It is our intention to shutdown contributions, we would be happy to have you as a TypeScript contributor, in any capacity you choose.. also we always welcome feedback for our process, or interactions. Give us another try with bug report or PR..

[2015-06-18 20:14] splintor commented on #3548
But https://github.com/Microsoft/TypeScript/issues/2183 explicitly says:

And this problem is about ambient (declared) non-const enums. In 1.5, they are treated as computed and are not inlined.

[2015-06-18 20:26] DanielRosenwasser commented on #3551
In addition to the reasons @mhegazy mentions, tsc.exe needs to support other languages, and so we need to be able to normalize into an XML format for processing and swap out different `diagnosticMessages.d.ts` files.

"I don't want to spend any time on this" is not at all my intention. It is simply a matter of using the right tool for the job. Sorry if my initial response came off as a little ters

[2015-06-18 20:46] JsonFreeman commented on #3550
It should be a compiler error

[2015-06-18 21:00] JsonFreeman opened #3563 ""is" keyword does not show up in completion"
[code]
'is' doesn't show up in completion. This is not good for type predicates:
![iskeyword](https://cloud.githubusercontent.com/assets/8052525/8242157/6363ce06-15c2-11e5-97a5-aade7ec8dddd.gif)

[2015-06-18 21:04] JsonFreeman commented on #3563
My language service was not up to date.

[2015-06-18 21:04] #3563 closed

[2015-06-18 21:09] #3550 closed

[2015-06-18 21:28] RyanCavanaugh commented on #3562
Computed property names are valid in object literals. They are not supported as class property declarations (note that property declarations are not part of the ES6 class specification, so this is orthogonal to ES5/ES6).

[2015-06-18 21:41] rayshan commented on #16
+1

[2015-06-18 21:43] JsonFreeman commented on #1003
Talked with @mhegazy. We think that this issue really doesn't have much to do with string literal types. Instead it has more to do with type guards that involve property accesses. To this end, our inclination is that if you have a type guard based on a property access, we will only narrow the type in the true branch. The false branch could trick us into doing a faulty process of elimination.

[2015-06-18 21:49] ttowncompiled commented on #3444
My team believes we found a bug today with the TypeScript compilation to Systemjs.
This is the source code:
[code]
This is the output:
[code]

This generates an error because the both reflector_1 and reflections_capabilities_1 are undefined. Even though the imports are specified in the source file, those imports are not being translated to the systemjs output.

We believe this might be caused by t

[2015-06-18 21:51] jamiewinder commented on #3562
Understood, thanks. I think a similar syntax would be useful specifically for TypeScript though. The code above effectively indicates that is a property is accessed on an instance of this case with the const variable (i.e. a[nameMember]) then assume the return value is a string. Perhaps this is something different entirely, but it'd be very handy.

[2015-06-18 22:28] mhegazy commented on #3550
thanks @tinganho

[2015-06-18 22:33] colbyrussell commented on #3551
Thanks for the disproportionately warm response, and apologies about the curtness of my last message.  Resuming audit.  Will comment on this topic in coming days and follow up with PRs, docs, tests, other changes corresponding to my notes soon after.

[2015-06-18 23:26] basarat commented on #16
In news today, Dart is getting official support for it : https://github.com/gbracha/nullAwareOperators/blob/master/proposal.md

[2015-06-18 23:27] JsonFreeman commented on #3562
The feature you are asking for is constant propagation. We'd have to recognize in certain contexts that a const declared name corresponds uniquely to a single value. Then we could support class properties for these kinds of constants.

One requirement is that we could only support string or number literals because we have to know the value of that const at compile time. Otherwise we cannot know if

[2015-06-19 00:34] OliverJAsh commented on #2233
I don't seem to get compile errors when bundling (now supported in `jspm@0.16-beta.2`.

[2015-06-19 01:09] yortus commented on #1003
@JsonFreeman can you clarify what this means for whether or not the type system would consider `null`/`undefined` as valid values for singleton types?

[2015-06-19 01:58] basarat commented on #2338
FWIW as a workaround I've done : https://github.com/TypeStrong/atom-typescript#packagejson-support

When #2338 lands the user will be able to delete the `typescript.definition` from their package.json and everything will continue to *just light up* perpetually.

[2015-06-19 04:46] vladima commented on #2233
Technically bundling as it is done in jspm now is not a whole program analysis as it processes modules one by one. I already have a workitem in my list to add support for reporting syntax errors during `transpile` part in es6-module-loader and in systemjs/builder.

Also we already have plenty of requests to add support for bunding in TypeScript compiler - is already in the roadmap (I think it is c

[2015-06-19 05:36] JsonFreeman commented on #1003
Sure, it means that singleton types are just like any other type, in that they implicitly allow null and undefined. This minimizes friction with the rest of the type system.

I do see the merit in making singleton types not allow null or undefined. However, doing that would mean that we need to provide a way to denote a nullable singleton type. We have thought about nullability in general from tim

[2015-06-19 05:52] yortus commented on #1003
Got it. Still curious to see an example illustrating why someone might want to constrain a type to a singleton value and also *want* it to be nullable. Bearing in mind this is all purely about compile time type checking since singleton types obviously have no runtime support.

[2015-06-19 05:57] kitsonk commented on #3538
My main use is for assertions.

@mhegazy said "Pre-processor directives (i.e.#ifdefs) are not desirable."  I took him at his word.

As far as your example, I am a bit lost on how the following would eliminate the function call?  Doesn't it generate an assert as a noop anyways, just like you did in TypeScript?

Totally different topic... You do know about the [sourceMap](https://github.com/Microsof

[2015-06-19 06:02] yortus commented on #1003
Clarifying my last comment... I would like to know the justification for this statement:

What need does a nullable singleton satisfy?

[2015-06-19 06:07] yortus commented on #1003
Also isn't `undefined` itself (as in the value of the expression `void 0`) an instance of both:
a) a singleton type
b) a non-nullable type

So its not like they are unprecedented.

[2015-06-19 06:40] Lenne231 commented on #3136
Type Providers for TypeScript would be awesome for something like Relay/GraphQL https://facebook.github.io/react/blog/2015/05/01/graphql-introduction.html

[2015-06-19 07:04] frankwallis commented on #2338
@milkshakeuk something like this should work I think

declare module "template.html!text" {
    var __html__: string;

}

[2015-06-19 07:37] milkshakeuk commented on #2338
@frankwallis, @basarat thanks for the responses hopefully typescript will includea nice non-manual approach for this in a future release.

Typescript + systemjs is making for a fun time :+1:

[2015-06-19 07:49] alainfrisch commented on #1003
I don't follow the reasoning.

First, for a variable whose type is an union of singletons and a guard testing one of the values (which does not involve any property access):  the fact that the value can be `null` or `undefined` should not change the fact than in the false branch, there is one less possibility.  Now if you test all possibilities (with a cascade of if-then-else or a switch), you're

[2015-06-19 08:34] Yellowmat commented on #3488
@mhegazy @vladima @csnover thank you guys for the time you spent analyzing my problem and suggesting solutions.

I found a hack fitting my architecture in two steps :
First, I exclude typescriptservices.js from web pack processing, thus, I avoid the failure of generating the production environment.
Finally, I load the content of typescriptservices.js, create a new function which body is the conten

[2015-06-19 09:26] ghost opened #3569 "Question : Can typescript compute the outline and goto definition of javascript code ?"
If there is a positive answer to my question, I would be happy to know how to do such thing :)

Thanks in advance guys !

[2015-06-19 10:14] shumy commented on #2249
Just some additional functionality idea. Since TypeScript compiler output is JavaScript, there are some similar languages for Java, like [Xtend](eclipse.org/xtend)

You can learn about some interesting ideas on this project. Look for Active Annotations "Active annotations allow developers to participate in the translation process of Xtend source code to Java code via library"

Controlling the Type

[2015-06-19 10:15] anstarovoyt opened #3570 "Context typing doesn't work for object literals"
Context typing doesn't work for object literals. Simple example:
[code]

[2015-06-19 10:22] poelstra commented on #2338
It seems things have become a bit stuck on whether to 'just' support node_modules, or create a more generic and flexible path-mapping system.

Would it be feasible to e.g. go for the implementation that @basarat provided a while ago for the node case, then later expand that into a generic solution? A bit like what's been done for the 'exclude' property first, versus complete globbing support later

[2015-06-19 10:32] poelstra commented on #3356
We've ran into this multiple times too (not just with Promises, but other generic classes as well).

I've been thinking whether it might make sense for the compiler to allow any 'trailing void parameters' to be ommitted (or maybe only when they were defined as a generic type) by marking them as optional automatically.

Example:
[code]

@Arnavion I agree that making it required instead of accidenta

[2015-06-19 10:46] Arnavion commented on #3356
(null is also assignable to the void type so I wrote it for convenience, but sure.)

[2015-06-19 12:22] jbondc commented on #1003
Should have a patch in a couple of days, it's looking pretty awesome :smile:

@JsonFreeman The conclusion I came to is that constants deserve special treatment, they can 'bypass' the type check. So the compiler has a notion of two things:
- Type checking
- Constant checking
[code]
My thinking aligns more closely with:
http://blog.golang.org/constants

These ideas are my own, go is the closest thin

[2015-06-19 12:31] DanielRosenwasser commented on #3570
Strangely enough, this might be [per spec](https://github.com/Microsoft/TypeScript/blob/7ee698c450e8317651ecb102534b0601da5ecb9f/doc/spec.md#4.19):

* [...]
* In a contextually typed object literal, each property value expression is contextually typed by
  * the type of the property with a matching name in the contextual type, if any, or otherwise
  * for a numerically named property, the numeric

[2015-06-19 12:38] anstarovoyt commented on #3570
@DanielRosenwasser anyway this example works fine:
[code]
so context typing works for parameter types and doesn't work for return type.

[2015-06-19 12:40] DanielRosenwasser commented on #3569
Hi @Yellowmat - usually we propose you simply rename your `.js` files to `.ts` files, and your TypeScript-aware editor will be able to work with your code.

It sometimes depends on the JS codebase that you started with, but in my experience, even in the face of semantic errors, our language service is able to piece things together reasonably well and give you the information you're interested in.

[2015-06-19 12:50] DanielRosenwasser commented on #3570
Yes - actually I just noticed the following from the same section of the spec:

So this is still per spec, but for a different reason. I'd still like to get @ahejlsberg's take.

[2015-06-19 13:04] anstarovoyt commented on #3570
@DanielRosenwasser I guess the main point is ' that has a return type annotation' in the part of spec.

[2015-06-19 13:24] jbondc commented on #1003
I'll add this will work with const enums or any const binding that resolves to literal:
[code]
We just have to know the RHS resolves to a constant value then we're good to go.

[2015-06-19 13:31] Yellowmat commented on #3569
Thanks for your reply @DanielRosenwasser !

I already did change the extension of my JS files, and I'm able to get code completion which is really cool. I also load some predefined ts files describing API such as JQUERY to have code completion on those API.

The LanguageService API export a getDefinitionAtPosition methods, which may does what it says (I will check this soon and I'll add a comment

[2015-06-19 13:38] ghost opened #3571 "Question : Is it possible to get specific code completions such as a list of constructors in JS after typing the keyword new ?"
I don't know if it is possible to get such specific completions after the keyword new in JS using TypeScript, any advice ?

Thanks for your help guys !

[2015-06-19 13:39] DanielRosenwasser commented on #3569
The language service method you're interested is `getOutliningSpans`:

[code]

@Yellowmat just curious, is there a particular goal you're trying to achieve outside of text editing? Are you building an editor client?

[2015-06-19 13:42] DanielRosenwasser commented on #3571
Right now we don't do type-directed completion - we simply provide all entities in scope as well as keywords.

You could potentially use the returned completion data after a `new` to see if each entry has a construct signature or is a `void`-returning function, and filter that down.

[2015-06-19 13:49] Yellowmat commented on #3571
Thank you for your answers, you really help me !

Guessing if I'm currently typing a new statement shouldn't be to difficult, and if I just have to filter some results could easily make the job and be of good help.

I'll share my experience as soon as possible.

[2015-06-19 13:52] Yellowmat commented on #3569
Yep, I have a specific goal in mind.

I mainly come from C++, which is a compiled language. The compilation steps is really important and avoid to get some nasty bugs, the code being in production or not.

I don't have the same knowledge in JavaScript and I'm missing such code analyzing tools to help me understand what is going on.

Being able to code safer and faster is also something I'm interes

[2015-06-19 14:08] DanielRosenwasser commented on #3569
It is a panacea, and silver bullet, for every problem you can conceive :smile:

There are quite a few editors with language support for TypeScript, such as [Visual Studio](https://www.visualstudio.com/), [VS Code](https://code.visualstudio.com/), [Sublime](https://github.com/Microsoft/TypeScript-Sublime-Plugin), [Atom](https://github.com/TypeStrong/atom-typescript), [Eclipse](https://github.com/pa

[2015-06-19 14:11] ahejlsberg commented on #3570
Agreed, this is inconsistent. We already have it captured in #1610.

[2015-06-19 14:11] jbondc commented on #1206
@impinball Not necessarily, the compiler just needs to distinguish between:

a) const of primitive type (gets removed from emitted code)
[code]
b) const of non-primitive types (stays in emitted code)
[code]

[2015-06-19 14:11] #3570 closed

[2015-06-19 14:15] Yellowmat commented on #3569
May TypeScript solve, at least, my coding problems, I'll be ok to use any other solution for my personal ones ;)

You have a place where to chat about TypeScript ? Is there a better place where to post them instead of creating "fake" issues ?

[2015-06-19 14:16] anstarovoyt commented on #3570
@DanielRosenwasser @ahejlsberg thank you!

[2015-06-19 14:28] DanielRosenwasser commented on #1610
Just to reiterate on the conversation in #3570, the spec may need to be amended to reflect this.

[2015-06-19 14:51] DanielRosenwasser commented on #3569
Yup, we have a [Gitter chat room](https://gitter.im/Microsoft/TypeScript), and while the team isn't actively on IRC, there's often a friendly bunch on [#typescript in freenode](https://webchat.freenode.net/).

[2015-06-19 14:59] mprobst commented on #3514
@mhegazy @JsonFreeman confirmed, this fixes our issue.

[2015-06-19 15:22] timmyzaid commented on #2655
It seems like the way TypeScript currently generates enums, it would require you to access them with enumX['value'] when you are intending to minify your code.  Some people may prefer accessing them this way but in the project I work on we exclusively access enums with dot notation.  To get the best of both worlds, why not include a compiler option to specify how you want enums to be constructed?

[2015-06-19 15:25] jbondc opened #3572 "const enum: numeric name"
[code]
Don't think those should be errors.

[2015-06-19 15:46] kitsonk commented on #3572
Well, enums can't have numeric names and `NaN` and `Infinity` are actually numeric symbols.  `typeof NaN === 'number'` and `typeof Infinity === 'number'`.

[2015-06-19 15:47] jbondc commented on #3572
typeof "NaN" === "string" ?

[2015-06-19 15:49] jbondc commented on #3572
An enum is indexed with strings not numeric things:
[code]

[2015-06-19 16:03] kitsonk commented on #3572
Hmmm interesting:

[code]

[2015-06-19 17:06] blesh opened #3573 "super[symbol] does not compile in TypeScript"
TSC complains about using `super[anything]` really, this is problematic for Symbols.

[code]

Output:

[2015-06-19 17:24] DanielRosenwasser commented on #3572
This has nothing to do with `typeof`. This has to do with the fact that when indexing with a value equal to `NaN` (e.g. `0/0`), you are actually indexing with `"NaN"`. If we don't check to make sure an enum name is numeric, then the reverse-mapping no longer applies - in the following example, even though the expression indexed with is of type `number`, you'll get `10` (which is also a `number`) i

[2015-06-19 17:24] #3572 closed

[2015-06-19 17:26] jbondc commented on #3572
@DanielRosenwasser But NaN can't be assigned to a const enum

[2015-06-19 17:27] jbondc commented on #3572
It also isn't a valid value for ambient/declared enums:
[code]

[2015-06-19 17:32] mhegazy commented on #2655
@timmyzaid have you considered using const enums instead?

[2015-06-19 17:38] jbondc commented on #3572
I was writing this code:
[code]

[2015-06-19 17:39] timmyzaid commented on #2655
Interesting, I had not.  While that does get around the mangling problem, it also produces code that is harder to debug.

[2015-06-19 17:45] timmyzaid commented on #2655
Now maybe if there was conditional compilation?

[2015-06-19 17:46] stephanedr commented on #3538
I just wanted to report my need for conditional compilation, which doesn't seem supported by your proposal. At the end I don't really care of the exact mechanism which might be implemented.
For example, a decorator like C#'s `Conditional[DEBUG]` could be fine for me, but this would also require the TS compiler to remove calls to the excluded method.

When `DEBUG` is 0 (or not defined), `assert(...

[2015-06-19 17:47] DanielRosenwasser commented on #3572
That is a decent use case, but I'd still rather not have const enum rules deviate too much from enum rules.

@vladima and @mhegazy might have more insight as to why `NaN` and +/-`Infinity` can are not valid RHSs in enum members.

I don't believe it should be; declaring an enum implies that there exists a variable with the same mapping semantics at runtime.

[2015-06-19 18:25] RyanCavanaugh commented on #3572
We disallow `NaN` and `Infinity` because we consider them to be *numeric names* (because `(+'NaN').toString() === 'NaN'`); i.e. it's the same reason you can't write `enum X { '0': 1 }`.

We could reasonably remove that restriction for identifier-like things because it's very unlikely you would actually have an enum member whose *value* was one of those non-real numbers.

[2015-06-19 18:27] RichiCoder1 commented on #3538
@stephanedr Just jumping in, the idea of giving the compiler hints using design-time decorators like `@conditional(DEBUG)` has been tossed around more then once and would partial meet the goal of this.

[2015-06-19 18:56] DanielRosenwasser commented on #3572
If you mean for all enums, I don't see why, since we've already settled on a reasonably consistent semantics.

If you mean for const enums, I feel like that would introduce more inconsistencies between the two which is undesirable.

[2015-06-19 19:57] jbrosi commented on #2655
I assume const enums would solve my problem too, but as timmyzaid said: it's harder to debug, and so I'd like the normal enums to be compatible, too. The direct access to my enums with enum['asd'] for me is not acceptable as it would kill all the autocompletion / typechecking my ide offers.

[2015-06-19 20:59] karimjouini opened #3574 "New Website Logo: Expensya"
Please fill the following out:

- Name: Expensya
- Homepage url: http://www.expensya.com
- Brand Guidelines/Licensing: Go ahead, we want you to add the logo :)
- Logo: https://notefraistest.blob.core.windows.net/emails/Expensya.png

[2015-06-19 21:25] aleksey-bykov opened #3575 "Suggestion: #error directive"
C# and C++ have a handy `#error` directive that results to a compiler error. It would not hurt to have something similar in TypeScript:
- https://msdn.microsoft.com/en-us/library/c8tk0xsk.aspx
- https://msdn.microsoft.com/en-us/library/x5hedts0.aspx

[2015-06-19 21:32] mhegazy commented on #3575
Can you share a scenario where this is useful in the absence of conditional compilation using preprocessor directives (i.e. `#ifdef`)

[2015-06-19 21:34] IgorMinar opened #3576 "Emit 'use strict' code for input defined via ES6 modules"
ES6 modules default to running the code in the module in the strict mode. When transpiling this input into ES5 the strict mode should be preserved.

As of Typescript 1.5 beta this is not the case:

input:

[code]

transpile with: `tsc --module commonjs test.ts`

actual output:

[code]

expected output:

[code]

The same issue affects output for amd and system module formats.

[2015-06-19 21:38] danquirk commented on #3576
I think #1135 covers this topic

[2015-06-19 22:14] mhegazy commented on #3576
There are two parts, 1. parse module in strict mode, and this is covered by #1135, and 2. emit a `"use strict";` directive at the top of the file. i do not think 2 is needed if 1 is in place. @IgorMinar is this correct?

[2015-06-19 22:20] aleksey-bykov commented on #3575
Any block of code that is left unfinished during refactoring and requiring
my attention. An alternative would be to leave it unfinished without a
trace attracting attention and thus prone to being forgotten.
On Jun 19, 2015 5:33 PM, "Mohamed Hegazy" <notifications@github.com> wrote:

[2015-06-19 22:51] aozgaa opened #3578 "Proposal for Abstract Classes and Methods"
# Proposal for Keyword `abstract`

This is a proposal for a new keyword, `abstract`, to allow for incomplete/partially implemented classes.

# Introduction

This proposal expands upon #6, #2946, #2947.

Consider the following situation. A user would like to create a base class that shouldn't be instantiated as a template for derived classes. S/he might write something like

[code]

Today, the writ

[2015-06-19 22:54] aozgaa commented on #2947
I've posted an updated proposal in #3578 and made a pull request in #3579. Take a look and let me know what you think!

[2015-06-19 23:17] aleksey-bykov commented on #3575
A error raised should not be an early one like those of syntax, should be raised while doing senatic checking.

[2015-06-19 23:26] danquirk commented on #3575
Is // TODO (and an editor supporting task lists) and "throw new Error('not yet implemented')" that much worse? You lose a little compile time checking but little else. You could also use a linter to catch this kind of thing at compile time with some custom tag (// #error).

[2015-06-19 23:57] IgorMinar commented on #3576
I think you need both.

1. allows you to catch issues during static analysis
2. ensures that the code runs with the semantics of the strict mode

good example of where 2. is needed is assigning to non-writable or frozen properties of an object, which can't be reliably detected statically (AFAIK). At runtime, such assignment fails with an error in strict mode, but in sloppy mode the error is silenc

[2015-06-20 00:14] aleksey-bykov commented on #3575
True. Anything can be done with extra syntax served in comments and a
little patience. With a bit more patience a pen and a piece of paper one
can get a hard copy of their todo list. Low tech shoots and scores.
On Jun 19, 2015 7:26 PM, "Dan Quirk" <notifications@github.com> wrote:

[2015-06-20 00:19] aleksey-bykov commented on #3575
Btw are there any plans to marry TypeScript with the Task list in Visual
Studio, so that // TODO's are seen there?
On Jun 19, 2015 8:14 PM, "Aleksey Bykov" <aleksey.bykov@gmail.com> wrote:

[2015-06-20 01:06] danquirk commented on #3575
Yep, VS2015 already has the Task List wired up like that.

[2015-06-20 01:36] DanielRosenwasser commented on #3576
I wouldn't necessarily say it's "needed", but if you get strict mode for free in an ES6 module, is there any actual harm of writing `"use strict";` at the top of your file?

As a side note, this would be helpful in verifying our JS output by ensuring that a module is properly emitted in strict mode.

[2015-06-20 02:58] aicioara opened #3581 "Create type Math on Window, in lib.d.ts"
`tested with tsc 1.5.0-alpha`

[code]
`error TS2339: Property 'Math' does not exist on type 'Window'.`
Workaround:
[code]

This does not seem alright. It seems normal to have `Map`, `Set`(ES6), `Map`(ES6) available on `Window`. Please let me know if this is not the correct way to access `Math`

[2015-06-20 05:44] kitsonk commented on #3538
Again, side topic... [Mozilla's Source Map](https://github.com/mozilla/source-map/) would allow you to determine the TypeScript original positions for the source and actually rewrite the stack trace.  There are a few other more complete tools out there that leverage source-map and would do the heavy lifting for you.  I suspect even with your macros, it would be hard to cover all the transforms tha

[2015-06-20 06:06] kitsonk commented on #3576
Also, not everyone writing modules in TypeScript are expecting ES6 behaviours and auto-injecting `"use strict;"` into ES5 will likely cause breakage and surprise.

[2015-06-20 06:08] kitsonk commented on #3581
Is there a reason you aren't doing?

[code]

[2015-06-20 06:54] DanielRosenwasser commented on #3576
This is my fear; that someone will concat their output files in such a way that this causes everything to break. Though I don't know enough about scenarios in which one would do this with external modules.

[2015-06-20 07:27] CKGrafico commented on #3578
Thanks for that!

[2015-06-20 08:27] QuantumInformation commented on #3203
Hi, I am wanting to try this out in a reflux project, can someone advise of my best course of action?

[2015-06-20 09:26] ttony opened #3582 "Incorrect JSON generated using simple Class"
Hi there,

please visit the link as the sample code which shows the problem

http://www.typescriptlang.org/Playground#src=%09class%20Simple%20%7B%0D%0A%09%2F%2F%09constructor(private%20_name%3A%20string)%20%7B%7D%0D%0A%09%0D%0A%09%09private%20_name%3A%20string%3B%0D%0A%09%09%0D%0A%09%09get%20name()%20%7B%0D%0A%09%09%09return%20this._name%3B%0D%0A%09%09%7D%0D%0A%09%09%0D%0A%09%09set%20name(name%3A%

[2015-06-20 15:23] DanielRosenwasser commented on #3582
This is simply the semantics of `JSON.stringify`, and is what you'd get in the analogous ES6 code.

[2015-06-20 15:23] #3582 closed

[2015-06-20 15:26] DanielRosenwasser commented on #3582
Hi @ttony, this is simply the semantics of `JSON.stringify`, and is what you'd get in the analogous ES6 code.

Property accessibility is purely a compile-time construct, and so these fields are still accessible at runtime.

[2015-06-20 18:22] mhegazy commented on #3581
if you want to augment window, just add the definition as such:
[code]

[2015-06-20 18:28] mhegazy commented on #3575
my attention.

you can just use `unknownFunction("not done")`, or `var n: number = "still needs some work";` to achieve the same result.

[2015-06-20 18:29] #3575 closed

[2015-06-20 18:30] mhegazy commented on #3575
possibly reconsider if an applicable form of conditional compilation (#3538) is supported.

[2015-06-20 19:59] sockfish opened #3583 "lib.d.ts HTMLTableElement, HTMLTableSectionElement, and HTMLTableRowElement"
A couple of html table related methods in lib.d.ts return HTMLElement, but they could return a more precise type:

- HTMLTableElement.insertRow should return HTMLTableRowElement instead of HTMLElement
- HTMLTableElement.createTHead should return HTMLTableSectionElement instead of HTMLElement
- HTMLTableElement.createTBody should return HTMLTableSectionElement instead of HTMLElement
- HTMLTableElem

[2015-06-20 19:59] mariusschulz commented on #3581
@mhegazy This solves the problem, but I'm still wondering: Is there any reason *not* to add this typing (directly or augmented) to *lib.d.ts*?

[2015-06-20 23:50] mhegazy commented on #3581
Window is considered the global polluter. any thing you put on the global scope in a js file in a web context, is accessible of window, and this in the global scope. Use of window/this/global scope to declare variables is considered an anti-pattern, and accessing global of window hinders your code from working with other js environments, e.g. node. TypeScript opted in a more conservative world vie

[2015-06-20 23:50] #3581 closed

[2015-06-20 23:54] mhegazy commented on #3578
I do not understand what you mean by this.

[2015-06-21 05:00] tinganho commented on #3554
I think this is maybe by design. Main purpose of template strings is to return an another string. Though it can also be used to validate strings. Still it is for validating strings and not types.

Though maybe we can add an error check when used with tagged template?

[2015-06-21 05:39] kitsonk commented on #3582
If you really need to serialize your classes/objects differently, you can provide a `toJSON()` function to provide the right behaviour.  It is exampled at MDN's [JSON.stringify()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify#toJSON_behavior).

[2015-06-21 05:43] DanielRosenwasser commented on #3554
Oh yeah, it's absurd, kind of dumb, and I can't see a single use case out of it, but it's a matter of consistency.

I'm okay with this; better to disallow it at first and see if there are any legitimate needs for it than to get headaches over it in the future.

Maybe just "A tagged template's tag cannot return a type predicate."

[2015-06-21 05:51] DanielRosenwasser opened #3584 "Consider disallowing tagged templates with tags returning type predicate types"
Basically the following is kind of absurd:

[code]

This is the dual suggestion of #3554: see https://github.com/Microsoft/TypeScript/issues/3554#issuecomment-113865503.

[2015-06-21 05:51] DanielRosenwasser commented on #3554
See #3584.

[2015-06-21 05:54] DanielRosenwasser commented on #3582
@kitsonk's suggestion seems pretty great - thanks for pointing that out!

[2015-06-21 06:04] DanielRosenwasser commented on #3540
Hey @colbyrussell what Vim extension do you use for TypeScript?

[2015-06-21 07:13] srehanuddin opened #3585 "Issue in Function Type"
[code]
As per my knowledge this mentioned code should show error on compilation time because myFunction accept two parameters, 1st is string type and 2nd is function which accept 1 parameter of string, but i passed the function which have no arguments.

[2015-06-21 08:12] frankwallis commented on #2338
Just adding the resolve method to the Host will enable most scenarios, personally I would like to see the resolve method called for referenced declaration files as well as imports as this will give more flexibility in how the declaration files are delivered.

Ideally the resolve method would be asynchronous and return a promise but I don't think that is currently possible.

[2015-06-21 08:25] jasonwilliams200OK commented on #563
Partial classes are extremely useful for specializing use-cases. It is not a violation of any OOP pattern but a way to arrange code document, which provides:

1. Ability to split the class/type definition in multiple files. For huge code files, it is maintainability++ feature.
2. Opportunity for compiler/build-system to make use of conditional linkage at compile-time. Analogy MSBuild, concrete use

[2015-06-21 09:27] michel-kraemer commented on #3446
Just for your information. The JVM bug is here:
https://bugs.openjdk.java.net/browse/JDK-8079426

It has been closed/solved so upcoming JVM versions should have the fix.

[2015-06-21 11:02] michel-kraemer commented on #3446
By the way, here is a working workaround which might be useful for other people trying to run the TypeScript compiler on the JVM:
https://github.com/michel-kraemer/vertx-lang-typescript/commit/89e168fb7d08ab721409f67116ce2d9621cb3c40

It basically replaces the following code

[code]

with

[code]

Works great in vertx-lang-typescript!

Cheers,
Michel

[2015-06-21 18:43] IgorWolbers commented on #3518
Works like a charm, thank you so much!

[2015-06-21 20:57] colbyrussell commented on #3540
I'm "using" [typescript-tools.vim](https://github.com/clausreinke/typescript-tools.vim) as of Friday afternoon, but then, not really.  I tried [typescript.vim](https://github.com/leafgarland/typescript-vim) a couple of weeks ago, but disabled it because it's kind of a mess like almost everything surrounding the current Vim plugin ecosystem.  Right now I'm just working blind/raw with no language su

[2015-06-21 21:47] ghost opened #3587 "processDiagnosticMessages.ts collision handling doesn't actually work"
Background:

The build does a preprocessing step to build the `Diagnostics` map, which contains items naming tsc error codes and their corresponding human-readable messages.  The generate-diagnostics target runs before the actual compilation step for tsc.  It takes the diagnostic message from a JSON source and mangles it to create a suitable property name for the `Diagnostics` object.

For example

[2015-06-21 21:51] colbyrussell commented on #3587
There's a fix for this on my diagnosticspp branch.  See [rev cf1d9c2](https://gitlab.com/crussell/typescript-public/commit/cf1d9c24d865232b6ca8fd2be940b93cc5ba3508).

This message will have to do for a pull request, because GitHub doesn't allow filing a PR for non-GitHub branches.

[2015-06-21 21:53] colbyrussell commented on #3587
No automated tests created, because I can't make sense of the TypeScript test infrastructure (especially directory layout).  Want to help me out here?

[2015-06-21 21:56] ghost opened #3588 "processDiagnosticMessages.ts collision detection is O(n^2)"
Problem:

When trying to find collisions among the mangled names, processDiagnosticMessages.ts uses an algorithm that is O(n^2) wrt the number of names.

This is not a big deal right now (no perceptible difference operating on the ~550 diagnostics we have now), although when I test with a couple different datasets with 5000 entries, the new version using the O(n) algorithm consistently performed a

[2015-06-21 22:01] ghost opened #3589 "Improper escaping for processDiagnosticMessages.ts"
Problem:

`buildInfoFileOutput` doesn't reliably escape diagnostic messages.

Reasonable input that would be problematic (i.e., non-pathological and yet still not adequately handled) would include backslashes and newlines.  The safe `JSON.stringify` should be used instead of an ad-hoc, regexp-based approach.

Example Input:

[code]

[2015-06-21 22:08] colbyrussell commented on #3589
Fixed in [rev 42a2df03 on diagnosticspp](https://gitlab.com/crussell/typescript-public/commit/42a2df03ca15e134970ad37afc7f64f49e00b41b).

[2015-06-21 22:24] colbyrussell opened #3590 "generate-diagnostics collision handling chokes if two or more collisions are markde "fixed""
The problem:

If `handleCollisions` finds two collisions that are both marked "fixed" (in the `isFixed` array), it silently allows both names to escape unaltered and leaving the collisions intact:

[code]

The code for handling `isFixed` and `isCaseSensitive` is dead code, so there's no way to trigger this problem, even with alternative input.  All names are treated as if they're not fixed, so it'

[2015-06-21 22:47] ghost opened #3591 "Generated diagnostics file doesn't explain its source."
Background:

The `generate-diagnostics` build step takes JSON-encoded diagnostics data and transforms it into TypeScript to define the `Diagnostics` object used throughout the compiler.

Problem:

The only indication that this has occurred is a comment at the top of the generated file that says `// <auto-generated />`, but neither the name of the JSON source file nor the name of file containing th

[2015-06-22 00:06] RyanCavanaugh commented on #3585
See https://github.com/Microsoft/TypeScript/wiki/Type%20Compatibility#comparing-two-functions

[2015-06-22 00:06] #3585 closed

[2015-06-22 02:20] RyanCavanaugh commented on #3591
This is just a mimic of C# auto-generated files; there's no implication for tools (just humans). It'd be fine to put some more complex message up there.

[2015-06-22 02:21] RyanCavanaugh commented on #3590
Any improvements to this tool are welcome :smiley:

[2015-06-22 02:23] RyanCavanaugh commented on #3587
We don't have any tests for the build-time tools like generate-diagnostics nor do we intend to add any, since they basically never break (assuming non-malformed inputs). A PR that fixes up the tool without any negative side effects is fine go in without any tests.

[2015-06-22 04:08] colbyrussell commented on #3587
@RyanCavanaugh, how is the project handling git pull requests from non-GitHub sources?  I have a fix in [rev cf1d9c2](https://gitlab.com/crussell/typescript-public/commit/cf1d9c24d865232b6ca8fd2be940b93cc5ba3508) as mentioned above.  I'd like to submit it for review.

[2015-06-22 07:22] wgebczyk commented on #3510
... and by accident you sufficiently stabilize that in the moment of VS 2015 rtm?
... and other outstanding things will be silently moved to milestone 1.6 or later...?

Do you really want to stabilize that and solve ALL bugs as of current time?

[2015-06-22 09:45] dbaeumer opened #3593 "tsserver: newly added files aren't consider being part of tsconfig.json until restart of the server"
Steps to reproduce:

- VSCode, empty workspace
- add file provide.ts with the following content:

export function provide(): void {
}

Observe: you get a message about a missing module system configuration

- add a tsconfig.json file and restart VSCode (see #3244 why)
- add a second file provide2.ts with the following content:

export function provide2() {
}

Observe: you get AGAIN the message abo

[2015-06-22 12:15] jbondc commented on #3578
- Increases the complexity of the language.

Pretty much how I feel about it. I'd rather see a more lean functional-like TypeScript then adding astronaut like  OO patterns like abstract or decorators.

This overlaps tons with mixins or traits too (combining things from other things)

[2015-06-22 12:42] jbondc opened #3594 "Optimization tools or guidelines"
a) Which tools or guidelines are recommended for optimizing TypeScript?

V8/node has some pretty good tools:

[code]

http://mrale.ph/irhydra/2/

There's NodeJS tools in Visual Studio, wondering if there's anything specific for Chakra that I can use today.

https://github.com/Microsoft/node

b) Which non v8 specific tools exist today?

[2015-06-22 13:22] DanielRosenwasser commented on #3594
@vladima, @CyrusNajmabadi, and @mhegazy might be well-suited to answering this.

You can use the F12 tools in Edge (Project Spartan) and IE to do some profiling (and the same goes for Chrome as well).

I believe you can accomplish this by running the tests in the browser:

[code]

[2015-06-22 13:43] DanielRosenwasser commented on #3587
Hey @colbyrussell, is there any reason you don't want to add GitHub as a remote? While I'd personally be fine with doing a manual merge, it makes review fairly difficult because feedback is no longer in a consolidated location.

We also need a contributor license agreement (which @msftclas would ordinarily send to you when sending out a GitHub PR). @mhegazy and @jonathandturner might know what to

[2015-06-22 13:51] DanielRosenwasser commented on #3590
@CyrusNajmabadi might have some input regarding this; I remember there was some unused code which we determined that we might be using down the line.

[2015-06-22 14:24] DanielRosenwasser commented on #3540
Consider looking at @Quramy's [Tsuquyomi](https://github.com/Quramy/tsuquyomi) plugin as well. It looks pretty solid, the code looks clean, and uses the same server backend that our Sublime plugin does (TSServer). Also, thanks to @icholy, [YouCompleteMe](https://github.com/Valloric/YouCompleteMe)'s server [ycmd](https://github.com/Valloric/ycmd) just added support for TSServer and my understanding

[2015-06-22 14:28] CyrusNajmabadi commented on #3590
These functions are useful, and i intend for them to be used when we start implementing things like "generateFunction/Method".

They were copied from the Roslyn codebase, and provide the same semantics.

Yes.  This is a feature.  The purpose of 'isFixed' is for the client to state explicitly that these names are correct and that they should not be affected.  However, the names should still be in t

[2015-06-22 14:48] colbyrussell commented on #3587
I don't have a problem with that.  In fact, I already have it as a remote.  Unfortunately, it's not as easy as that.

![screenshot from 2015-06-22 09 36 24](https://cloud.githubusercontent.com/assets/10376674/8284445/86ff82ee-18c2-11e5-9db6-ccfccb0ef7c5.png)

Without contributor branches for the repo, it means in order for anyone to submit their changes they have to spin up an on-GitHub fork, wait

[2015-06-22 15:14] DanielRosenwasser commented on #3587
This is the intended workflow for GitHub. Make your own personal GitHub fork, clone it, modify it (on a separate branch, not `master`), and send a pull request.

The forking takes very little time. In general, the friction associated with this is common to all projects on GitHub. Adding a remote takes one command, and fixing a remote in your case is just one more:

1. `git remote rename origin ups

[2015-06-22 15:47] colbyrussell commented on #3587
Yes.  This isn't your fault.

Even this one isn't necessary, really.  It can be left as "origin".  But it doesn't change the fact that there's lots of friction elsewhere.

[2015-06-22 16:42] henrjk opened #3597 "module cats with exported var cats"
I ran into this while converting some pre existing code.
The code uses a classic JavaScript module pattern for the browser.
[code]

I converted this to the following TypeScript code:
[code]

This works as expected by me and introduces a kind of submodule that can be used under name `cats.model`. Now the existing code has also a root module `cats`. The original code looks like this:
[code]
which gi

[2015-06-22 17:27] DanielRosenwasser commented on #3597
I think what you want is:

[code]

Now you can do

[code]

[2015-06-22 17:46] MrKomish opened #3598 "Error "TS2320" when interface extends interface that has optional member and another interface that has same named required member"
I have 3 interfaces:

[code]

I'm getting `TS2320: [Object Object]` error,
because interface A's `member1` is *required* property, and B's `member1` is *optional*.

How to resolve it?

[2015-06-22 17:52] MrKomish commented on #3598
However if I do:
[code]

it works.

but it doesn't work when I do:
[code]

[2015-06-22 18:19] danquirk commented on #3554
So do we need both bugs or can we close this one?

[2015-06-22 18:20] DanielRosenwasser commented on #3598
Users might be better served if the message said something like "Consider declaring a property that is compatible with both."

[2015-06-22 18:20] DanielRosenwasser commented on #3554
It really depends on the direction we'd like to take; if we want consistency, close the other one. If we want to take the conservative route, close this one.

[2015-06-22 18:24] kitsonk commented on #3598
And also what you are describing here is a union of two interfaces, which conflict with each other.  Because it is option in `B` means that it can be extended to be not optional, but in `A`, it is clearly not properly extended.

For example, how would you suggest this be resolved?

[code]

[2015-06-22 18:28] henrjk commented on #3597
Thank you for the suggested mapping. This would certainly work.

However I remain curious whether the effect of introducing cats.cats to qualified reference such as  cats.<something>  in other cats namespace is intended?

[2015-06-22 18:32] lilred opened #3599 "EventTarget interface not generic"
`EventTarget` objects expose an `addEventListener` method, which registers an `EventListener` (or `EventListenerObject`) with the target. An `EventListener` is simply a function from some `Event` to `void`; however, many `EventTarget` objects pass an argument to their `EventListener`s with more structure than just `Event`.

This is a problem because we completely lose type safety when using `addEv

[2015-06-22 18:37] DanielRosenwasser opened #3600 "GoToDefinition doesn't seem to work on parameter of a type predicate"
Might be an issue with how I did it, but I built TypeScript and patched up the tsserver.js in my Sublime directory. Then tried this out:

[code]

Go-to-definition doesn't work on the LHS of the type predicate type.

[2015-06-22 18:58] DanielRosenwasser commented on #3597
You can use an alias if you so desire:

[code]

or if you're not concerned with exported types and namespaces, you can just do

[code]

Unfortunately, you can't just alias it to `cats` because we don't have a way of referring to the global `cats` right now.

[2015-06-22 19:05] RyanCavanaugh commented on #3599
Can you post some examples of how this happens? In general you should be able to provide a function that takes a more-specific type as an argument.

[2015-06-22 19:29] stephanedr commented on #3538
@RichiCoder1, correct me if I'm wrong, but using decorators will only allow to empty the assert function. What I would like is to remove all the assert calls.

@kitsonk, providing file name / line number should be quite easy for a compiler, as it already maintains them to report compilation errors.

[2015-06-22 21:05] henrjk commented on #3597
Thank you for the instant turnaround.

I am mostly concerned in not requiring widespread changes to the original sources when converting them to TypeScript. It appears that one just has to look out and avoid to name a module member with the module name.  That said it would perhaps be better if one would not have to depend on these kind of name clashes not occurring.

Strangely perhaps I just came

[2015-06-22 21:09] DanielRosenwasser commented on #3597
Yes, it can be a problem because you've implicitly shadowed the module name within the module, but the emit in that slide is slightly outdated (that used to be a bug). This is the new emit:

[code]

[2015-06-22 21:11] cascadian opened #3602 "Error TS2506 when class extends class in module with same name"
I am using some type definitions that follow the pattern below and that have been compiling up until commit d71af8a3fb485880866e097cbb6963d5aab62678

[code]

After commit d71af8a3fb485880866e097cbb6963d5aab62678 I'm getting errors like
`error TS2506: 'Foo' is referenced directly or indirectly in its own base expression.`

[2015-06-22 21:13] aozgaa commented on #3578
@mhegazy This definitely needs re-wording.

We want to prevent the constructor of an abstract class from being invoked. So we wanted to restrict the assignability of the constructor function. Consider the following example:

[code]
We don't want the second assignment to be legal. So we restrict the assignabilty of objects whose type is the type of an abstract class to other objects whose type is t

[2015-06-22 21:33] AlicanC commented on #1897
type Json = string;

[2015-06-22 21:41] AlicanC commented on #1897
Since when JSONs are objects?

[code]

[2015-06-22 22:29] RyanCavanaugh commented on #3602
Can you point us to some examples? We'd like to understand why someone would write that

[2015-06-22 23:23] cascadian commented on #3602
Lots of examples under https://github.com/fivetran/typescript-closure-tools

Such as https://github.com/fivetran/typescript-closure-tools/blob/master/index/closure-library/closure/goog/async/delay.d.ts

In my project, I'm using the typescript definitions from https://github.com/3x0dv5/ol3-typescript-definitions and the author indicates they were created with the help of typescript-closure-tools

[2015-06-22 23:30] DanielRosenwasser opened #3603 "Rename display name for LHS of export specifier shows wrong text"
Probably related to #3268

![image](https://cloud.githubusercontent.com/assets/972891/8295677/eb75d30c-18fb-11e5-92ef-6e6c9a6ad3f3.png)

[2015-06-23 00:00] mhegazy commented on #3510
release-1.5 is the branch where the release is coming from. we have been submitting fixes, as late as yesterday. so i do not think it is ready yet. we try to keep the issues in sync. new issues will go to 1.6 as we want to minimize new changes to the 1.5 release. hopefully this will be ready within a few weeks.
We align with the VS release scheduled, but this is not the main diving force here. rel

[2015-06-23 00:22] mhegazy commented on #3518
glad it helped.

[2015-06-23 01:38] basarat commented on #574
This can be closed thanks to : https://github.com/Microsoft/TypeScript/pull/3516 just tested this with `atom-typescript@4.6.0`

[code]

![image](https://cloud.githubusercontent.com/assets/874898/8297073/619c4ade-199c-11e5-9216-18389fd71888.png)

[2015-06-23 08:42] jrieken opened #3604 "Parameters with default value should be allowed anywhere"
Have code like this

[code]

which is valid ES6 syntax (http://www.ecma-international.org/ecma-262/6.0/index.html#sec-functions-and-classes). TypeScript flags such a signature as error because it treats default values like optional parameters.

[2015-06-23 14:40] NoelAbrahams commented on #1897
@AlicanC,

JSON is string over the wire, but when one calls `JSON.parse` it becomes an object. This object is a subset of regular JavaScript and that is what we'd like to model.

[2015-06-23 14:59] lmcarreiro opened #3605 "Generators "not supported" even with --target ES6"
Visual Studio display a syntax error in function* and the message "Generators are not currently supported." even when I'm targeting to compile to ES6, that already has support for generators.

This message wouldn't apper only in ES3 or ES5 mode?

[2015-06-23 15:06] DanielRosenwasser commented on #3605
Hi @lmcarreiro, support for generators are slated for TypeScript 1.6. See [our roadmap](https://github.com/Microsoft/TypeScript/wiki/Roadmap) for more details.

[2015-06-23 15:30] lmcarreiro commented on #3605
Hi @DanielRosenwasser, thanks for response...
But it's not a TypeScript support, I'm talking only about syntax recognition when compiling TypeScript to ES6.
For generators support I'm using traceur in TypeScript *.js output files...

Will it work only in 1.6 too?

[2015-06-23 15:45] DanielRosenwasser commented on #3605
Ah, I misunderstood - in fact, I think I ran into this issue myself with #3328. @paulvanbrenk can you confirm that this is a duplicate and has since been fixed?

[2015-06-23 16:00] AlicanC commented on #1897
Yes, the JSON becomes an object and it's not JSON anymore. JSON is what you give to `JSON.parse()`, not what you get from it. What you get is a value. Maybe you guys should rename your types to `JsonValue`.

[2015-06-23 16:07] NoelAbrahams commented on #1897
Can you elaborate? Which guys and what types?

[2015-06-23 16:31] mhegazy commented on #574
With the change to allow extending expressions (#3516), there is no need for the definition in the lib.d.ts to be classes. we could reconsider and change the, to classes in the future.

[2015-06-23 16:38] mhegazy commented on #3599
is this different from  #299?

[2015-06-23 16:39] mhegazy commented on #3600
@tinganho interested in looking into this one?

[2015-06-23 16:43] mhegazy commented on #3554
looking at this again, i would say this is a won't fix. Type guards already support a small subset of code patterns, e.g. "===" but not "==" and the use of parenthesized expressions..

[2015-06-23 16:43] #3554 closed

[2015-06-23 16:45] mhegazy commented on #3584
I do agree that this is absurd, and hence do not see the value of fixing it. inclined to resolve this as won't fix.

[2015-06-23 16:45] #3584 closed

[2015-06-23 16:47] mhegazy commented on #3589
@colbyrussell we would appreciate a smaller PRs for these issues instead of one large one.

[2015-06-23 16:47] DanielRosenwasser commented on #3584
@mhegazy this issue is for disallowing it instead of silently failing.

[2015-06-23 16:52] mhegazy commented on #3584
It is not failing. the guard will not work. similarly to `typeof x == "string"` does not work, and there is no warning for it either. if we hear enough complains about it we can restrict it. i do not see much probability of the two features being used in conjunction in real world scenarios.

[2015-06-23 17:11] mhegazy commented on #3594
We have a perf test script that we run against node, and tsc.exe (which is a Chakra wrapper). the script it self can be posted, the issue is we run it on snapshots from some user code bases that we do not have permissions to open them. we can open the script if this helps.

[2015-06-23 17:17] upta opened #3606 "Formatting issue (might be VS specific, not sure where else to mention it)"
I know that at some point in the past I didn't have this problem TS, but over the last several months it's been doing some funky stuff when auto-formatting.

http://imgur.com/yVORrUA

It used to move my {}'s over to line up with their ".then", but no longer :(

Any ideas?

[2015-06-23 17:26] vladima commented on #3606
this looks like a dupe of #1888 that was already fixed.

[2015-06-23 17:26] #3606 closed

[2015-06-23 17:55] DickvdBrink opened #3607 "Error getSyntactifClassifications"
I was testing the latest TypeScript in VS (644ea82ee39f16102b776f98a9) and I had some error popups when typing.
It only happened on invalid code (because I was typing) so I'm not sure if this really is an issue but see the attached image
![tserror](https://cloud.githubusercontent.com/assets/765657/8313227/c2bac17a-19e1-11e5-9412-bd2415eb26cb.png)

Feel free to close if this is just expected becaus

[2015-06-23 17:57] vladima commented on #3607
This is bug, repro:
[code]
pinging @CyrusNajmabadi

[2015-06-23 17:59] colbyrussell commented on #3589
Huh?  This is a one line change.

[2015-06-23 18:02] mhegazy commented on #3589
It is easier and faster to get smaller changes in. if you have this fix ready, send it over.

[2015-06-23 18:30] vladima commented on #3594
also there is a set of helpers that allows to host language service on the web page and perform a targeted profiling of different aspects of LS functionality using built-in browser tools

[2015-06-23 18:37] colbyrussell commented on #3589
I'm still confused.  I haven't filed any pull requests at this point, and at least for the time being, I don't have any concrete plans to, due to impedance with GitHub's pain points and the poor way it integrates with/chooses to impose overhead on git.

Anyone is certainly welcome to submit PRs for this stuff in the mean time.  I won't be upset.  Like I said, the problem outlined in this issue is

[2015-06-23 18:39] #3607 closed

[2015-06-23 18:47] paulvanbrenk commented on #3605
@lmcarreiro if it compiles as expected on the command line it's indeed the same issue as #3328 which has been fixed.

[2015-06-23 18:50] DickvdBrink commented on #3607
That was fast! Thanks!

[2015-06-23 18:54] DanielRosenwasser commented on #2137
I don't think there's any way to test this since I believe NavigateTo is semantic, but I'll have a fix in a bit.

[2015-06-23 18:58] DanielRosenwasser commented on #2137
Actually, if I make this change, I believe you'll end up with every overload in your result. This isn't a problem for the language service, but it will still be a problem in your scenario.

Any opinions @mhegazy?

[2015-06-23 19:06] mhegazy commented on #3589
I see. sorry i miss understood then. i thought you were actively working on these issues.

[2015-06-23 19:57] leeavital opened #3609 "AST does not include an `Any` token for restructured bindings"
The AST will not include an Any token when parsing restructured bindings. I wrote the following program to demonstrate.

test.ts
[code]

print_tokens.js
[code]

We expect two Any tokens (code=112).  The output is:
[code]

When I change test.ts to
[code]

I get

[code]
which includes 112.

Is this expected behavior?

[2015-06-23 20:10] RyanCavanaugh commented on #3609
Yes. The names `any` and `number` in your example are *identifiers* in the value space, not keywords that are types. This destructuring means "Take the `a` member of the RHS and assign it to the variable `any` and take the `b` member of the RHS and assign it to the variable `number`".

[code]

[2015-06-23 20:10] #3609 closed

[2015-06-23 20:12] tinganho commented on #3600
Yes I can look into it.

ons 24 juni 2015 kl 00:39 skrev Mohamed Hegazy <notifications@github.com>:

[2015-06-23 20:23] danquirk commented on #3609
For completeness, if you want a type annotation on a destructuring binding you need to apply it to the whole binding, not individual elements, since ES6 uses that syntax for renaming:
[code]

[2015-06-23 21:13] mhegazy commented on #2338
@vladima started on fixing up the module resolution, and enabling a better experience there. @basarat has contributed the node resolution piece, we still need to work out the language service part of the story.

@vladima then got busy with some release-1.5 perf/memory bugs, he is finally done and should be able to get back on that.

However, I am not sure i see the module resolution work would fit

[2015-06-23 22:02] colbyrussell commented on #3590
In light of the previous comment, this should be marked WONTFIX and closed, instead of "Accepting PRs", no?

[2015-06-23 23:09] mhegazy commented on #3590
yup. thanks.

[2015-06-23 23:09] #3590 closed

[2015-06-23 23:23] mhegazy commented on #2137
I am not able to get a repro of the original issue on the latest bits.. @DanielRosenwasser i am not sure i understand your question.

[2015-06-24 00:21] #497 closed

[2015-06-24 00:31] wardbell opened #3610 "Why are TS get/set definedProperties in a class transpiled as enumerable/writable?"
I just confirmed in the TS Playground that the following TS:

[code]

Produces this JS:

[code]

This [MDN link](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/defineProperty) confirms that, for `Object.definedProperty` accessors:
• enumerable: Defaults to false.
• configurable: Defaults to false.

Clearly the generated code is overriding the default values

[2015-06-24 03:27] DanielRosenwasser commented on #3610
This might actually be a bug.

=================================================================================================================================================================================================================================

  1.  If IsStatic of *m* is **false**, then
      1.  Let *status* be the result of performing PropertyDefinitionEvaluation for *m* with argum

[2015-06-24 05:06] mprobst commented on #3514
Declaring success here might have been premature. With the latest LKG from `release-1.5` I get this stack trace:

[code]

Repro:
* check out https://github.com/angular/angular/pull/2715
* npm install
* gulp build.js.cjs

I haven't worked on the branch in a while, so I'm not sure when this happened, and I only confirmed with a synthetic example (mea culpa).

[2015-06-24 06:21] almilo commented on #2719
While evaluating TS for a new big project I am working on, we stumbled upon this issue which is a blocker.
See: https://github.com/almilo/ts-es6-interop-issue

[2015-06-24 06:29] wardbell opened #3612 "TS compiler thinks express "errorhandler" module isn't a module"
I'm using **tsc** Version 1.5.0-beta

I tried to switch from standard node `require` syntax to `import` for several common express packages. TS allows this conversion for some, but not all packages ... and I cannot tell what accounts for the difference.

Here are four packages w/ the original `require` syntax

[code]

Here they are again w/ `import`

[code]
of course the code actually runs because

[2015-06-24 06:44] kitsonk commented on #3612
What packages does it not work for? I read your issue several times and I can't figure out what specifically are you expecting to work.

You realise that what you are trying to do is convert from old TypeScript module syntax to ES6 module syntax but then you are targeting ES5 for your code which then is transpiling to CommonJS format.

[2015-06-24 06:51] milkshakeuk commented on #2338
Could there not be a plugin system for the reference which allows you to specify how the reference path gets resolved in a similar style to how you can now give AMD module references a name for variable resolution.
This way the compiler can get the information it needs and not complain that the module doesn't exist

[code]

Is this a feasible suggestion or am I just talking rubbish?

[2015-06-24 08:04] wardbell commented on #3612
Well it half works.

I've listed the four npm node/express packages at the bottom of my issue; they are extremely well known to any one who writes a node/express application. Add them to any *package.json* and call `npm install` to acquire them.

The node server app works flawlessly whether I use the "old" `require` syntax or the "new" `import` syntax because BOTH transpile to the standard ES5 com

[2015-06-24 08:40] bidiboom commented on #3300
Hello!

it seems they just strip module information as seen here in documentation : https://babeljs.io/docs/usage/modules/

They gave an example :

[code]

Will give :

[code]

It is probably not as robust as you may want.