[2015-12-09 20:59] yortus commented on #3089
@mhegazy #5090 doesn't work for commonjs and this proposal is for node (commonjs) so I think it's not covered by #5090?

[2015-12-09 21:01] falsandtru commented on #6009
Yes, but it is not the point.

It is good rules but how can I get it error?

Those language functions cannot reject that mistakes caused by that coding style, and reject the correct counter measure. Those constraints makes a new risk. Will you accept it risk and weakness as a spec? I think, it is not good as a language.

[2015-12-09 21:03] Matthias247 commented on #6012
Where do you see problems with static resolution?
JSPM creates a SystemJS config file which contains all the necessary information:
[code]

This means if we can locate this file and parse it we know that `import 'angular2/x'` points to `jspm_packages/npm/angular2@2.0.0-alpha.50/x`.

[2015-12-09 21:04] rbuckton commented on #3628
I am firmly of the belief that any DI system for JavaScript is better served by using unique exported string or symbol values. I've been thinking more and more about adding special compiler-specific decorators that could target things like interfaces and add metadata to the classes that implement them.

[2015-12-09 21:10] falsandtru commented on #6018
Should I create an another issue?

[2015-12-09 21:29] mhegazy commented on #4708
As mentioned in the earlier comments, this is more of local style that can be enforced by a tslint rule, than a generic rule that can be applied all the time by the compiler.

[2015-12-09 21:29] #4708 closed

[2015-12-09 21:32] #4492 closed

[2015-12-09 21:32] mhegazy commented on #2945
tsconfig now supports comments, see https://github.com/Microsoft/TypeScript/issues/4987

[2015-12-09 21:32] #2945 closed

[2015-12-09 21:33] mhegazy commented on #3692
this is subsumed by #185

[2015-12-09 21:33] #3692 closed

[2015-12-09 21:33] sandersn commented on #6018
No, your example already works in Typescript, `this` just has type `any`. It's definitely part of this feature. I added your example to open question (2).

[2015-12-09 21:34] mhegazy commented on #2481
looks like  #4168 and #4692 covers the request here. closing.

[2015-12-09 21:34] #2481 closed

[2015-12-09 21:35] sandersn commented on #6000
@ahejlsberg, you said you know the cause of the problem and the fix, so I'm assigning to you.

The problem is that we delay body checking for functions until after the object literal has been checked, but not for the bodies of getters and setters.

[2015-12-09 21:35] mhegazy commented on #3670
looks like #4691 has more details now. closing in favor of #4691.

[2015-12-09 21:35] #3670 closed

[2015-12-09 21:42] vladima commented on #6012
the difference between node module resolution and JSPM is that node rules are exactly [specified](https://nodejs.org/api/modules.html#modules_all_together) whereis JSPM resolution logic can only be reconstructed from the implementation (and implementation has several augmentations during the last year). I can see TypeScript having support for JSPM module resolution after it will be stabilized and

[2015-12-09 21:55] mhegazy commented on #3089
that is correct. thanks @yortus.

This is now not needed after https://github.com/Microsoft/TypeScript/issues/2338

[2015-12-09 21:58] mhegazy commented on #4846
JS files are now supported in compilation using --allowJS (https://github.com/Microsoft/TypeScript/issues/4792). please give that a try reopen if there are issues.

[2015-12-09 21:58] #4846 closed

[2015-12-09 22:05] adidahiya commented on #6011
@RyanCavanaugh I'd be happy to open a separate issue if you prefer.

[2015-12-09 22:08] falsandtru commented on #6018
Thank you.

[2015-12-09 22:08] raveclassic commented on #4669
@AJamesPhillips
Re: "instance-bound handlers":
This is not about types at all but about enforcing implementation in subclasses, void is just an example and a common return type of a typical event handler. The point here is that to preserve instance context a handler should be defined as a bound function (with that fat arrow) - but then it cannot be marked as abstract. I mean that "every particular

[2015-12-09 22:09] mhegazy commented on #1874
We have not had much feedback about the OP.

Output Formatting is a different issue, that includes semicolon as well as other issues. we would need a clear and detailed proposal for what that entails to be able to asses that request; in general we have not accepted output formatting issues.

[2015-12-09 22:09] #1874 closed

[2015-12-09 22:10] #5232 closed

[2015-12-09 22:10] #1928 closed

[2015-12-09 22:12] mhegazy commented on #5334
We have something similar in JS file completions, i wounder if that is what we should enable if we run in an `any`.

[2015-12-09 22:13] #5734 closed

[2015-12-09 22:14] mhegazy commented on #1823
We have been getting consistent feedback about this. i think we should reconsider the current position.

[2015-12-09 22:15] #4630 closed

[2015-12-09 22:16] mhegazy commented on #2232
Looks like a duplicate of #1823.

[2015-12-09 22:16] #2232 closed

[2015-12-09 22:17] axefrog commented on #3788
@RyanCavanaugh "React emit exists as a convenience for those who don't want to chain in another tool." ... what you mean to say is "React emit exists as a convenience that only people who specifically use React.js can use if *they* don't want to use another tool". I still cannot for the life of me figure out why it's so hard to output a function call that doesn't assume that React.js is the only g

[2015-12-09 22:17] DanielRosenwasser commented on #5334
That's precisely what I mean. :smiley:

[2015-12-09 22:17] mhegazy commented on #3241
this should be part of the work in https://github.com/Microsoft/TypeScript/issues/5595

[2015-12-09 22:18] mhegazy commented on #1753
thanks!

[2015-12-09 22:18] #1753 closed

[2015-12-09 22:20] yortus commented on #3089
@mhegazy #2338 is about module resolution, this issue is about emitting a `.d.ts` file. Not sure how related?

[2015-12-09 22:22] mhegazy commented on #2068
The installer is not touching the %PATH% any longer. this issue persists from older releases. I do not think there is a good solution here.

[2015-12-09 22:22] #2068 closed

[2015-12-09 22:24] rwyborn commented on #3788
@axefrog just to chime in, I am currently working on a PR that will let you specify the emit option in exactly the same way as the "pragma" jsx option in Babel (see https://babeljs.io/docs/plugins/transform-react-jsx/ ). This would make Typescript JSX support equivalent to Babel.

eta at some point, currently lower priority than my day job :)

[2015-12-09 22:27] mhegazy commented on #1806
looks like a duplicate of #3076.

[2015-12-09 22:27] #1806 closed

[2015-12-09 22:27] DanielRosenwasser opened #6020 "Differently named type parameters are not considered "identical" for interfaces"
[code]

We give the error "All declarations of an interface must have identical type parameters."

[2015-12-09 22:29] DanielRosenwasser commented on #4630
Should be fixed for 1.8. Thanks for the heads up @vvakame

[2015-12-09 22:34] RyanCavanaugh commented on #3788
@axefrog When we implemented JSX support, we decided that React emit + Preserve emit was the right trade-off in terms of convenience vs the engineering effort of adding more configurability. That was informed by the number of non-React JSX consumers in the world at the time (which is honestly still pretty low) and a general desire to reduce complexity where it makes sense. Non-React consumers do s

[2015-12-09 22:35] mihailik commented on #5730
You can't own the editor-side story whatever your best intentions. Brackets, vim, emacs, Cloud9 etc. have their own plans, so prescriptive model will create friction and cost, even if there were one good for Python, Sublime and Java.

Perhaps the least-prescriptive model today is to let the editor-side drive, and get out of their way?

[2015-12-09 22:39] ridiculousfish opened #6021 "Presence of function changes 'this' value, even if the function is not executed"
I have some code in which 'this' seems to change unexpectedly. Here is a reduced test case:
[code]

In this code the value of `this` changes unexpectedly. `this` matches `savedThis` within the outer loop, but not within the inner loop.

However remove the `function yikes`, and `this` returns to its expected value. This is very surprising to me since the function `yikes` is never actually encounter

[2015-12-09 22:44] RyanCavanaugh commented on #6021
Looks like this has been fixed in `master` at some point -- this outputs `true` in either case in all lines for me.

Can you verify using the nightly build (`npm install typescript@next`) ?

[2015-12-09 22:46] RyanCavanaugh commented on #6020
Why `bug`? This is the intended behavior.

[2015-12-09 22:46] basarat commented on #1823
FWIW @blakeembrey has done an excellent job : https://github.com/TypeStrong/ts-node :rose:

[2015-12-09 22:47] ridiculousfish commented on #6021
Yes, it no longer repros in master. Closing. Thanks for your quick response.

[2015-12-09 22:47] #6021 closed

[2015-12-09 22:56] ahejlsberg commented on #6020
This is by design. We require the names to be identical in each declaration.

[2015-12-09 22:56] #6020 closed

[2015-12-09 23:00] robwormald opened #6022 "External modules that don't export anything emit empty declarations."
Background - in RxJS we have a number of "operators" that extend our base Observable type.

[code]

[code]

This separation allows a user to import the `map` operator function and use it without bringing in the other 95 or so - without "side-effects":
[code]
Without functionBind, this is slightly unergonomic, so we defined a set of "patch" modules that import the `Observable` type and the the `map

[2015-12-09 23:09] #6009 closed

[2015-12-09 23:11] DanielRosenwasser commented on #6009
We can't pick apart what would be considered an "acceptable" snippet of code that's unreachable. Better than a `throw` statement would be a filler comment like `////////////////////////////`.

[2015-12-09 23:12] DanielRosenwasser commented on #6009
Alternatively, you can use a `fail` function for now:

[code]

[2015-12-09 23:19] blakeembrey commented on #1823
Also just a note, but I don't recommend making it **too** easy to do this. It's good in specific contexts which should be heavily documented (yeah, guilty, missing in `ts-node` - I made assumptions on the context people would _try_ to use it), but you don't want to get into the situation like CoffeeScript where every CoffeeScript module was published as is on NPM and everyone used the register fun

[2015-12-09 23:22] thomas-darling commented on #3628
Just to clarify, I don't really have a strong preference as to whether an interface is emitted as a constructor function or any other unique value - I just used the abstract class as an example due to the similarity between the two, but I guess emitting a `Symbol` might technically be more correct, as what we're talking about here is an identity and not something that should ever be instantiated -

[2015-12-09 23:22] falsandtru commented on #6009
How do I use it function? It seems useless.

[code]

[2015-12-09 23:59] DanielRosenwasser opened #6023 "Compiler doesn't recognize original name for default export"
*  `./foo.ts`
[code]

* `./bar.ts`

[code]

We give an error that `./foo.ts` has no exported member named `Foo` even though it does. Curiously, we give completion for `Foo` in the curly braces.

[2015-12-10 00:03] DanielRosenwasser opened #6025 "Emit for default exports doesn't actually export original name"
Potentially related to #6023.

Input:
[code]

Output:
[code]

Notice we don't add a binding like `exports.C = C;`

[2015-12-10 00:29] zhengbli commented on #6016
@bpasero there is a fix in #6026, can you give it a try? It uses directory watchers instead of single file watchers. Thanks.

[2015-12-10 00:32] DanielRosenwasser commented on #6008
At least part of the issue is that tslint had errors we weren't supporting. As a result, TypeScript has problems building off of tslint@next. Waiting on https://github.com/palantir/tslint/pull/863 before we can do this, but in the mean time I'm publishing the builds manually.

[2015-12-10 01:03] devpunk commented on #3743
Sorry, I used a bit awkward language here. I thought about using @LordJZ's proposal but forgot that you weren't satisfied with it because

**Note** *"true nature as class variable"* in the sense of Java is not possible to achieve in JavaScript.  The way it is currently solved in TS is what comes most closely to class variables (at the cost of inheritance and `this` accessibility). This is why anot

[2015-12-10 01:14] #5732 closed

[2015-12-10 01:15] DanielRosenwasser commented on #5732
Thanks @reavowed!

[2015-12-10 01:22] #5764 closed

[2015-12-10 01:42] yortus opened #6027 "async function return type checking is too strict"
[code]

This behaviour seems to be by design but the inconsistency is annoying. There is no 'in principle' justification for different treatment of the last two examples.

This has been discussed on #5911 but the consensus there on fixing the bug seems like it might involve just changing the error message text.

I think it should be possible to make the last two examples work consistently like the

[2015-12-10 01:44] GoToLoop commented on #3743
The OOP notion of class variable is 1 unique `static` field / property which is shared among instances of its class.
This is completely achievable in JS by putting them inside the class / constructor function's `prototype`.

As I've mentioned before, the way `static` is used by TS is foreign on how Java achieves its static-ness.
Since classes don't have properties in Java, everything is stored in

[2015-12-10 01:49] yortus commented on #6007
If we must accept that type-directed emit is here to stay, could we at least fix the inconsistency described in #6027? If that was done, then the type-directed emit of async functions would at least be in harmony with the expected behaviour of type annotations, rather than in conflict with it.

[2015-12-10 01:54] GoToLoop commented on #3743
I was adapting my 1st example which already had a class variable called CONSTANT.
Of course in real code I would assign a value to it once and never change it during the app's execution.  :-P

I was very aware of that. As much as I only used the assignment operator accompanied by `prototype`:
`SomeClass.prototype.CONSTANT = 10;`

Assignments over `this` creates **hasOwnProperty()** for anything, i

[2015-12-10 01:56] angelozerr commented on #5730
I understand. I'm very exciting with this plugien feature. Hope it will be available soon.

Great!

Yes sure.

Yes to provide an Angular2 Outline.

No, I need that too!

To be honnest with you, I have already done those 2 features (Angular Outline and custom completion for ng template) for Angular1 by developping a tern plugin for angular1. So I have started to develop a tern plugin for angular2.

[2015-12-10 02:34] mhegazy commented on #6027
I would appreciate it if you can keep the discussion to one issue in the future.

As discussed in #5911, this matches the design. There are already two other issues on this topic where we have discussed the design, so le's keep it there.

[2015-12-10 02:34] #6027 closed

[2015-12-10 02:37] aleksey-bykov opened #6028 "enable type guards over string literal types"
Now that the string literal types #5185 are merged in, the type guards based on them would be an [awesome](https://github.com/Microsoft/TypeScript/issues/1003#issuecomment-61130784) addition:

by @ahejlsberg:

The original issue #1003 got closed with the following comment:

A quick search suggests that there isn't a ticket for this yet. So here we go.

[2015-12-10 02:52] GoToLoop commented on #3743
Java Example:
---
[code]

TS Example:
---
[code]

http://www.TypeScriptLang.org/Playground#src=class%20SomeClass%20%7B%0A%20%20non_static_var%20%3D%20-99%3B%20%20%20%2F%2F%20it's%20cloned%20and%20goes%20to%20%22this%22.%0A%7D%0A%0Ainterface%20SomeClass%20extends%20SomeClass.prototype%20%7B%7D%0A%0Anamespace%20SomeClass%20%7B%0A%20%20export%20interface%20prototype%20%7B%0A%20%20%20%20static_var%3A%

[2015-12-10 03:15] mhegazy commented on #3420
The original proposal should be handled by #5453. The promise.all case has improved by adding oveloads in https://github.com/Microsoft/TypeScript/issues/5935. closing in favor of #5453.

[2015-12-10 03:15] #3420 closed

[2015-12-10 03:16] mhegazy commented on #2738
Looks like a dupe of https://github.com/Microsoft/TypeScript/issues/3136

[2015-12-10 03:16] #2738 closed

[2015-12-10 03:19] mhegazy commented on #2152
this is addressed by --rootDir: https://github.com/Microsoft/TypeScript/pull/2772

[2015-12-10 03:19] #2152 closed

[2015-12-10 03:23] mhegazy commented on #2902
looks like another duplicate of  #3628

[2015-12-10 03:23] #2902 closed

[2015-12-10 03:40] mhegazy commented on #424
PRs welcomed, here is some information about submitting lib.d.ts changes: https://github.com/Microsoft/TypeScript/blob/master/CONTRIBUTING.md#contributing-libdts-fixes

[2015-12-10 03:41] mhegazy commented on #299
PRs welcomed. here is some infromation on contributing lib.d.ts changes: https://github.com/Microsoft/TypeScript/blob/master/CONTRIBUTING.md#contributing-libdts-fixes

[2015-12-10 03:42] mhegazy commented on #4163
PRs welcomed. here is some infromation on contributing lib.d.ts changes: https://github.com/Microsoft/TypeScript/blob/master/CONTRIBUTING.md#contributing-libdts-fixes

[2015-12-10 03:47] mhegazy commented on #1486
This looks like a lot of magic. it is not clear when this would happen and when it would not. how can users opt-out of this auto-initialization? what if the object literal has some property declarations, does the auto-initialization still occur? what about optional properties? what about properties that does not have default values...

[2015-12-10 03:47] #1486 closed

[2015-12-10 04:05] yortus commented on #5911
@mhegazy, @rbuckton What do you think of the following minor change to async function parse/emit to address this issue? It's a non-breaking change and it makes type annotations on async functions consistent with how they behave for ordinary and generator functions.

##### Given this sample code
[code]

##### Current compiler behaviour pseudocode, with proposed additional logic
[code]

##### Result

[2015-12-10 04:20] yortus commented on #6027
Sorry @mhegazy it must look like I'm trolling but that's not my intention. I genuinely thought the issue described here was not being considered in #5911 as per the comments [here](https://github.com/Microsoft/TypeScript/issues/5911#issuecomment-162701753) and [here](https://github.com/Microsoft/TypeScript/issues/5911#issuecomment-162706033). I would just like this specific issue to receive due co

[2015-12-10 05:07] bootstraponline commented on #4692
Targeting node via typescript without babel is still a mess due to lack of granular targeting. I updated to TypeScript 1.7.3 and the [spread operator](https://github.com/bootstraponline/async_await_typescript/commit/8bcb118a28a6e4f748e571bfd43d4de50cdf133d#diff-770f94c2e0e0034dc966fa186bcaf5f6R18) fails on node yet compiles fine with tsc.

If toggles for each feature is going to take a while then

[2015-12-10 05:48] JsonFreeman commented on #943
I'll also add that if the user does not want to write the long union type, nor do they want to provide a catch-all overload, return type inference can infer the return type for the implementation signature.

[2015-12-10 06:18] SaschaNaz commented on #1486
I think auto-completion list will be better here.

[2015-12-10 06:38] mhegazy commented on #5911
@yortus, the proposal above is actually a type-directed emit. The emit logic, in this proposal, depends on whether the type checker managed to **correctly** resolve the type from the type annotation, and **correctly** identified that it is constratable.

This breaks the transpile scenarios, where the compiler has access only to one file at a time. For these scenarios the transformation done by the

[2015-12-10 06:38] mhegazy commented on #1486
+1 for @SaschaNaz proposal.

[2015-12-10 06:41] vilic commented on #3113
I would like to give it try this weekends. But I am not very sure about what you mean by "size of the change"? Do you want the implementation to be limited to file system utils or with the help of something else?

[2015-12-10 07:16] rohitverma007 commented on #5773
@GoToLoop sounds good, I will ignore the webgl2 stuff for now then, but still use an interface for the webgl context,
@mhegazy kind of stuck at something, any help would be appreciated :).
I noticed there is already a WebGLContextAttributes ( threw me off a bit since I named it the exact same before realizing it already existed :)) , to add a new property to the existing WebGLContextAttributes, I

[2015-12-10 07:30] bpasero commented on #6016
@zhengbli I am using it for this morning and the issue seems fixed! If this change is too risky for 1.7.5, then at least please restore the polling mechanism.

[2015-12-10 07:43] DanielRosenwasser commented on #943
@JsonFreeman not quite, you'll get something like "No common supertype exists between returned expressions" or we'dl infer `Animal` which is the issue.

[2015-12-10 07:44] DanielRosenwasser commented on #6028
Thanks for filing @aleksey-bykov!

[2015-12-10 07:51] j6lim opened #6029 "tsx file compile fails on optional properties"
Once reported here, https://github.com/TypeStrong/ntypescript/issues/17 but it seems that this problem happens on the current typescript trunk version.

`tsconfig.json`:
[code]

`tsd`:
[code]

`main.tsx`:
[code]

`typescript 1.8.0-dev.20151210` tsc fails with these error messages
[code]
The error message says that 'key' and 'props' property must be given, but they are defined as optional on Intrin

[2015-12-10 08:16] yortus commented on #5911
This finally might explain something about why we seem to be at such cross purposes. Can you please confirm if I have understood the implications of this. Suppose the compiler needs to emit code for `async (): M => {}` but doesn't know what type `M` is. The current implementation *always* emits `M`, leaving the question of validity of `M` in that type position to the checker. OTOH what I have prop

[2015-12-10 08:27] jrieken commented on #6017
Makes sense to me.

[2015-12-10 08:27] #6017 closed

[2015-12-10 08:27] DanielRosenwasser opened #6030 "JSX tags don't provide completions for imported names"
Adapting from #6029 as an example:.

Assuming `tsd` is installed (`npm install -g tsd`)

Run

[code]

* `tsconfig.json`:

[code]

* `main.tsx`:
[code]

Notice that at `/*1*/` and `/*2*/`, you'll get `App`, but not `Button`.

[2015-12-10 09:00] kitsonk commented on #6018
:+1: for seeing a well thought out proposal!  Yay!

[2015-12-10 09:15] JsonFreeman commented on #943
That's true, but it might make sense to lift the common supertype restriction in the presence of overloads. If you are going to check the implementation return type against all the overload return types, I'm not sure what would be the point of enforcing that there exists a common supertype. It's a bit like how you infer the union type of the return expressions (instead of the common supertype) whe

[2015-12-10 09:45] leebenson commented on #4692
@bootstraponline I agree. Without granular (i.e. per feature) targets, native node targeting is going to be tough.

The problem is that Node ES2015 support differs by version. In the 4.x branch, it's 49%. In 5.x, it's 54%. If TypeScript allow a single "node" target, it would mean polyfilling the missing features in the lowest usable node version, which is probably still the 0.10+ branch. And then

[2015-12-10 09:59] yortus commented on #4692
@leebenson @bootstraponline looks like an external solution will be the way to go for a good while yet. I can't speak for the language team but I have noticed that of the many features added to the [roadmap](https://github.com/Microsoft/TypeScript/wiki/Roadmap)  recently, right out to v2.1, granular targeting is not one of them

[2015-12-10 10:05] leebenson commented on #4692
yup. Add babel and be done with it (for now.) It adds ~1s to the build time but otherwise, is pretty much invisible.

[2015-12-10 10:07] Artazor commented on #1213
@metaweta any news? If you need any help/discussion I would be glad to brainstorm on this issue. I really want this feature.

[2015-12-10 10:09] yortus commented on #4692
@leebenson unfortunately that still doesn't help with the `lib.d.ts` issues outlined in the OP, which can be just as painful.

[2015-12-10 10:46] stevemansell commented on #1890
Me too - thanks!

[2015-12-10 10:59] falsandtru opened #6031 "AMD module refer to an incorrect path when I import own package using package name"
In this case, commonjs module refer to `index.d.ts`(`typings` field is removed), but amd module refer to `typescript.ts`.

[code]

[2015-12-10 11:03] leebenson commented on #4692
@yortus understood. That hadn't been an issue I came across, but I can see how that could be a show-stopper.

[2015-12-10 11:17] SaschaNaz commented on #1486
#606 discusses auto-completion of string literals so we can talk more there.

[2015-12-10 12:11] #6031 closed

[2015-12-10 12:18] hhelwich opened #6032 "Wrong message type in Error constructor"
The JavaScript `Error` constructor can handle any type for the `message` parameter [1] and then converts it to a string (non nullable) `message` property.
So in the `ErrorConstructor` definition in `src/lib/core.d.ts` [2] the type for the `message` parameter should be `any` instead of `string`.

[1] http://www.ecma-international.org/ecma-262/6.0/#sec-error-message
[2] https://github.com/Microsoft/

[2015-12-10 13:27] falsandtru commented on #5537
TypeScript cannot discover own delivered typings of own and depended packages using package name when I use amd module. :disappointed:

[2015-12-10 13:36] #3105 closed

[2015-12-10 13:48] falsandtru opened #6033 "Does not TypeScript resolve module names when a project uses non-commonjs modules?"
A following resolving model said about only commonjs module?

https://github.com/Microsoft/TypeScript/wiki/Typings-for-npm-packages

A non-commonjs module project seems require the DefinitelyTyped. How can we share declaration files in a non-commonjs module project?

[2015-12-10 15:06] igl commented on #1823
Having it in a stand-alone module ala `require('typescript/register')` wouldn't clutter up lib/typescript.js with node specific code that is not used/would break in other envs.
Same reason why coffee and babel have it in seperate modules.

I like the idea of having a *fast* compile-without-type-checks for hot module reloading.
Type-checking can be done in a slow threaded rebuild on the side.

[2015-12-10 15:27] Artazor commented on #12
Any progress?

[2015-12-10 15:35] metaweta commented on #1213
No, things at work took over what free time I had to work on it.

[2015-12-10 15:38] GoToLoop commented on #6011
Perhaps besides string & number, it should also accept string literals & enums?

[2015-12-10 16:07] Gaelan commented on #3105
@jbondc Why the withdrawal? This was a good idea.

[2015-12-10 16:20] BarryVickers commented on #5801
Hi there,

If there is anyway of making this happen here a little quicker, we'd be delighted. We are a big supporter of TypeScript and are the host of the Ireland Typescript Meetup group (http://www.meetup.com/Dublin-TypeScript-Meetup/events/226080932/)

[2015-12-10 17:15] OlegDokuka opened #6034 "unexpected argument in new decorators function"
Hi guys!

Today I have moved to typescript 1.7.3, and got unexpected issue in my decorator (there is some code below)

[code]

This worked perfectly with TS 1.6, where decorators function looked like

[code]

and compiler for TS code
[code]
generate next JS code

[code]

***BUT*** new TS 1.7.3 generate a bit different function with new one unexpected argument

[code]
Also, I have found that last '

[2015-12-10 17:31] fuzing opened #6035 "Compiler not complaining about instantiation of abstract class"
typescript@next => Version 1.8.0-dev.20151204
is allowing me to instantiate abstract classes..........

See here for gist.
https://gist.github.com/fuzing/bc1f5db88e9440490e7c

Thanks,

Peter B.

[2015-12-10 17:54] fuzing commented on #6035
Error is not being emitted only when 'declaration: true;' in the tsconfig.json file.   It is being masked by another problem (already reported) - the TS5055 error.
If 'declaration' is set to false (i.e. get rid of the problematic TS5055 error) then the compiler will start complaining about instatiation of abstract classes again.

Will watch for the TS5055 fix and then re-open if the problem still

[2015-12-10 17:54] #6035 closed

[2015-12-10 18:24] RyanCavanaugh commented on #5801
@BarryVickers thanks for your support! We do these the website logo updates in batches so the delay can be a bit long depending on where we are in the cycle. @mhegazy any idea when the next update is?

[2015-12-10 19:00] angelozerr commented on #5730
@billti @mhegazy I know it's diffiicult for you to give me an answer because plugins features is a POC, but this feature doesn't appear in the  [Roadmap](https://github.com/Microsoft/TypeScript/wiki/Roadmap) and I tell me when you could (have the intention to) provide this plugin features (in several weeks? months? years?).

I would like just know if I continue to integrate tsserver inside Eclipse

[2015-12-10 19:31] DanielRosenwasser commented on #6011
@adidahiya that would be #2491.

[2015-12-10 19:33] aleksey-bykov opened #6037 "inference strangeness - 3"
Overheard conversation on the street:

[code]

![image](https://cloud.githubusercontent.com/assets/937933/11726729/05a3fe10-9f4e-11e5-8647-d9b0f42ef517.png)

[2015-12-10 19:43] #5650 closed

[2015-12-10 19:43] #5680 closed

[2015-12-10 19:43] #5715 closed

[2015-12-10 19:43] #5801 closed

[2015-12-10 19:43] #5803 closed

[2015-12-10 19:43] #5815 closed

[2015-12-10 19:43] #5837 closed

[2015-12-10 19:43] #5703 closed

[2015-12-10 19:43] #5795 closed

[2015-12-10 19:43] #5883 closed

[2015-12-10 19:43] #5885 closed

[2015-12-10 19:48] DanielRosenwasser commented on #6037
Just to make sure, you meant `value` where you last wrote `values` right?

[2015-12-10 19:48] vladima opened #6038 "super property access should be allowed in computed property names when class is nested in the method of another class"
[code]

This is legal ES6 code and it should not error

[2015-12-10 19:54] aleksey-bykov commented on #6037
I did. Good catch. Fixed.

[2015-12-10 19:55] mhegazy commented on #5730
@billti can comment better on the timeline. i think he can also share his current work if you are interested in trying it out/helping.

The plan is to use this work as a proving grounds for an extensiblity model. once we have a clear idea of the work/API commitment involved, we should be able to publish the details of the new extensiblity API.

[2015-12-10 20:00] DanielRosenwasser commented on #6037
Okay, so here's what's happening, cutting to the important parts.

1. `fold` infers its `r` as a `[string, string]` thanks to the type assertion.
2. `result` gets inferred the type `[string, string]` as expected, due to contextual typing.
3. `append` now needs to infer its type arguments. Its candidates are:
    * `[string, string]` from the type of `result`
    * `string[]` from the type of `['',

[2015-12-10 20:03] aleksey-bykov commented on #6037
Glad we found a corner case.

[2015-12-10 20:04] DanielRosenwasser commented on #6037
Hey, guess what - thanks to @ahejlsberg's current work on allowing type parameters to extend each other (#5949), you should be able to do this in TypeScript 1.8! You'll just need to write `append` as follows:

[code]

Here's the full example:

[code]

[2015-12-10 20:10] DanielRosenwasser commented on #6037
So while I'm marking this as by design, you should have a (more correct) workaround.

[2015-12-10 20:10] #6037 closed

[2015-12-10 20:30] DanielRosenwasser opened #6039 "TSServer needs some way of specifying editor options"
Currently, the options are hard-coded ([see here](https://github.com/Microsoft/TypeScript/blob/58400ed7716826bbaff22d3c15feba2eeee2cf8c/src/server/session.ts#L623-L630)).

We need some way of letting the client specify their editor options to fix issues like https://github.com/Microsoft/TypeScript-Sublime-Plugin/issues/382

[2015-12-10 20:33] basarat commented on #6039
How about using `tsconfig.json` : https://github.com/TypeStrong/atom-typescript/blob/master/docs/tsconfig.md#formatcodeoptions :rose:

At some point I imagined seeing TSServer do this. Must have been mistaken.

[2015-12-10 20:56] ctaggart commented on #5595
Will you be able to create the Syntax Tree from scratch?
Will be be to write the transformed Syntax Tree to a file (a .ts file)?

[2015-12-10 20:57] aleksey-bykov commented on #6037
looks like working the language service in VS doesn't complain about, however I cannot verify 109% because of `--declaration` argument problem that I reported: https://github.com/Microsoft/TypeScript/pull/5949#issuecomment-163744349

will be waiting for that branch to be merged and available in nightly builds

thanks!

[2015-12-10 20:57] adidahiya commented on #2491
+1 this feature is high value to me

[2015-12-10 20:57] mhegazy commented on #5595
that is the plan :)

[2015-12-10 21:06] aleksey-bykov opened #6040 "type parameters as constraints feature doesn't compile with --declaration argument"
In the latest [typeParametersAsConstraints](https://github.com/Microsoft/TypeScript/tree/typeParametersAsConstraints) branch the following:

[code]
compiles with
[code]
but fails with
[code]
saying
[code]

[2015-12-10 21:15] MrHen opened #6041 "Why does { foo: T } not satisfy { [key:string]: T }?"
Various libraries I use want to see dictionary "loops" that take some number of key/value pairs and operate on them. E.g.:

[code]

The typings file for async likes to [define helper dictionary](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/async/async.d.ts#L6) types like this:

[code]

Periodically, I need to create these key/value pairs conditionally and on the fly but the compi

[2015-12-10 21:17] DanielRosenwasser commented on #6008
I'll wait until tonight and see if the publish works correctly before I close this one.

[2015-12-10 21:26] kasajian commented on #5287
This may be an obvious point, but if I have a developer add a .ts file in Visual Studio, will it go into both the .csproj and tsconfig.json files?   Or will Visual Studio have a visual way to show the contents of the tsconfig.json file?

Or, are we saying that, when someone is using tsconfig.json file for web project, they should not add .ts files to Visual Studio at all, but only add them to tsco

[2015-12-10 21:38] weswigham commented on #6039
:+1: for adding editor options to the tsconfig in the default host.

[2015-12-10 21:39] falsandtru opened #6043 "error TS2323: Cannot redeclare exported variable"
A following code was compiled with no error on TS1.7 but latest nightly build is not. Is this breaking changes?

[code]

[code]

[2015-12-10 21:42] vladima commented on #6043
meanings of `const a` and `type a` don' collide so it should be allowed. @weswigham can you have a look?

[2015-12-10 21:49] paulvanbrenk commented on #5287
We expect most users to not explicitly add ts files to their `tsconfig.json` file, but depend on the logic in the compiler to automatically pull in all .ts files. This way they would just add them to Visual Studio.

You will still be able to see the compiler context for the `tsconfig.json` file using the Virtual Project option. If there's a lot of feedback we can decide to make changes later, but

[2015-12-10 21:54] weswigham commented on #6043
I need to add an exception to the duplicated exported identifiers check for `type` declarations.

[2015-12-10 21:57] MrHen commented on #6041
After browsing the issues a bit deeper, this _may_ be the same thing as https://github.com/Microsoft/TypeScript/issues/5683.

[2015-12-10 22:12] ahejlsberg commented on #6040
Now fixed in #5949.

[2015-12-10 22:12] #6040 closed

[2015-12-10 22:26] RyanCavanaugh opened #6045 "Issue a useful error when calling a function with too many arguments"
[code]

Gives you this:

This is unhelpful. We should elaborate with an error about arity.

[2015-12-10 22:47] mhegazy commented on #6045
:+1:

[2015-12-10 23:10] sandersn commented on #6041
What is the error you get? It looks to me that you'll get a different type inferred for the values of `block` -- the first is a function and the second is a tuple. I would expect Typescript to complain that it can't infer a type for T.

[2015-12-10 23:13] fongandrew commented on #5930
+1 on changing the behavior to narrowing the type.

With respect to prior user behavior, I don't think it's something to be encouraged, but if it is widespread, it's because `instanceof` existed prior to typeguards being introduced. For user-defined typeguards however, that's not the case. If I define a function with the signature `(arg: any) => arg is A`, there's zero ambiguity that the user inte

[2015-12-10 23:13] nevercast commented on #3215
Commenting to say that I have a similar issue to @donaldpipowitch and @glen-84 regarding Duplicate definitions of Promise when targeting ES6 with the intention to use async/await.

Watching to see if there is any resolution to this in the future.

[2015-12-10 23:22] fuzing opened #6046 "tsc generating TS5055 error when generating declaration files"
I'm consistently getting the following error when compiling any .ts file:
error TS5055: Cannot write file 'dist/[source-file-name].d.ts' because it would overwrite input file.

The compiler should be willing to overwrite the declarations files any time it recompiles.   There are no permissions issues and this seems to be a new problem introduced recently since I moved from a stable ts1.7 release t

[2015-12-10 23:29] RyanCavanaugh opened #6047 "Migrate-a-thon Instructions"
## Instructions
1. Self-assign an issue from this list: https://github.com/Microsoft/TypeScript/labels/Migrate-a-thon. Each includes a short description of what might be involved and the approximate size. If you don't like any of these and want to pick your own, just log a new bug and tag it Migrate-a-thon.
2. Fork the repo (into your own account)
3. Start porting!

If you're looking for some othe

[2015-12-10 23:32] RyanCavanaugh opened #6048 "Migrate-a-thon: Bastille"
https://github.com/mweitzel/bastille

Size: medium
Tech: JSX, nodejs

[2015-12-10 23:34] RyanCavanaugh opened #6049 "Migrate-a-thon: ProceduralPlant"
URL: https://github.com/GreenSpiny/ProceduralPlant

Size: Small
Tech: Browser, THREE

[2015-12-10 23:35] RyanCavanaugh opened #6050 "Migrate-a-thon: mondedie-chat"
URL: https://github.com/mondediefr/mondedie-chat

Size: Large
Tech: Lots

Note: Very unlikely this will be something we can get 'running'.

[2015-12-10 23:36] RyanCavanaugh opened #6051 "Migrate-a-thon: Mutt-Match"
URL: https://github.com/Laura-Harris/Mutt-Match

Size: Medium
Tech: HTML, JSX, puppies

[2015-12-10 23:37] RyanCavanaugh opened #6052 "Migrate-a-thon: bee-app"
URL: https://github.com/kellydavid/bee-app

Size: Medium/medium-small
Tech: Cordova, Ionic, Angular

[2015-12-10 23:40] RyanCavanaugh opened #6053 "Migrate-a-thon: cutie-clicker"
URL: https://github.com/stawberri/cutie-clicker

Size: Medium
Tech: jQuery, non-prototypal classes (challenge!)

[2015-12-10 23:42] RyanCavanaugh opened #6054 "Migrate-a-thon: Pokemon-Showdown"
URL: https://github.com/Zarel/Pokemon-Showdown

Size: Large
Tech: Node, probably others

Note: This includes a 4,000-line file to make compiler devs feel at home :wink:

[2015-12-10 23:43] RyanCavanaugh opened #6055 "Migrate-a-thon: github-pull-review"
URL: https://github.com/Kegsay/github-pull-review

Size: Medium
Tech: React/JSX

[2015-12-10 23:44] RyanCavanaugh opened #6056 "Migrate-a-thon: perseus"
URL: https://github.com/Khan/perseus

Size: Very large
Tech: JSX

[2015-12-10 23:56] DanielRosenwasser commented on #6046
I can see a user getting extremely frustrated that we blindly overwrote a file that they won't be able to recover. I think the protection introduced is likely to outweigh the effort in workarounds. Any thoughts @mhegazy?

[2015-12-10 23:57] DanielRosenwasser commented on #6047
Should I be on the lookout for projects we can add to the migrate-a-thon?

[2015-12-10 23:59] fuzing commented on #6046
But I’m asking tsc to generate the file, and it’s a definition file, so it
should be free to do this.    This has certainly been the case until
recently.

Thanks for your quick response,

PB

On Thu, Dec 10, 2015 at 4:56 PM, Daniel Rosenwasser <
notifications@github.com> wrote:

[2015-12-11 00:03] t0yv0 opened #6057 "tsc hangs and loops consuming CPU on a single input file"
TypeScript compiler hangs for me and does not complete compilation within 5 minutes on a 50 KB source file. To reproduce, run on this input file:

https://raw.githubusercontent.com/Tachyus/gluon/master/src/Gluon.Client/Gluon.ts

[code]

[2015-12-11 00:43] mhegazy commented on #6057
looks like a duplicate of https://github.com/Microsoft/TypeScript/issues/5849

[2015-12-11 00:45] mhegazy commented on #6057
Can you try [VS2015 TS 1.7.6 Update](http://go.microsoft.com/fwlink/?LinkID=717098) or [VS 2013 1.7.5 Update](http://go.microsoft.com/fwlink/?LinkID=717464) and let us know if it solves the issue?

[2015-12-11 00:46] t0yv0 commented on #6057
Yea sounds like a good idea to try. Can I install 1.7.6 via NPM?

[2015-12-11 00:48] mhegazy commented on #5894
We think we have a fix for this.

@KentSwan, @nicholashead, @PageEngine, @gaziqbal, @JudahGabriel, @JamesDSch, @pmiddleton, @mattbrooks2010 , @brentdavid2008 @JiriZidek, and @mdsharpe -- Can you try [VS 2015 TS 1.7.6 Update](http://go.microsoft.com/fwlink/?LinkID=717098) or [VS 2013 1.7.5 Update](http://go.microsoft.com/fwlink/?LinkID=717464) and let us know if it solves the issue?

[2015-12-11 00:48] vladima commented on #6057
you can use `typescript@next` to install the latest nightly build

[2015-12-11 00:50] mhegazy commented on #6046
can you add `./dist` to the `exclude` list?

[2015-12-11 00:53] #2304 closed

[2015-12-11 00:59] t0yv0 commented on #6057
Nice. Thank you. Indeed, with Version 1.8.0-dev.20151210 everything is fine.

[2015-12-11 00:59] #6057 closed

[2015-12-11 01:13] JamesDSch commented on #5894
@mhegazy Just tried for VS2015 and our Azure cloud service publish worked fine; we're back in business!  Thanks for fixing this prior to the next scheduled release.

[2015-12-11 01:23] ahejlsberg commented on #6041
@MrHen Can you post a repro that shows the exact issue?

[2015-12-11 01:24] nevercast commented on #4692
My current build pipeline is emit ES6 with async/await, and then pipe in to Babel and down emit an __awaiter and use Generators, supported in Node 5.x.

The __awaiter is designed to allow drop-in Promise replacement but the lib.es6.d.ts tramples that by declaring a global Promise type. That's fair enough as ES6 has native promises.

I would like to not use native promises but instead use Bluebird

[2015-12-11 01:24] RyanCavanaugh commented on #6047
Totally!

[2015-12-11 01:24] brentdavid2008 commented on #5894
This works for us too.  TFS 2015 update 1 Xaml Builds normal web publishing - non Azure. Thanks!

[2015-12-11 01:29] mhegazy commented on #6057
thanks @t0yv0!

[2015-12-11 02:01] yortus commented on #4692
@nevercast have you come across discussion [here](https://github.com/Microsoft/TypeScript/issues/3005#issuecomment-121766789) and [here](https://github.com/Microsoft/TypeScript/issues/4168#issuecomment-128162983)?

There is no 'easy' solution at present. You can tell the compiler to use a `lib.d.ts` file that you specify by using the `--noLib` flag and including a custom lib file in your build. Yo

[2015-12-11 02:04] zhengbli commented on #6016
@bpasero It might be safer to use polling for all cases for now. I reverted the mechanism in #6026, if you could give it a final try and I'll check the fix in. I'll send out a separate PR after the release.

[2015-12-11 02:06] mattkaiser commented on #5801
Hi Barry,

Let me know if you need me to do anything

From: Barry Vickers [mailto:notifications@github.com]
Sent: Friday, December 11, 2015 12:21 AM
To: Microsoft/TypeScript
Cc: Matt KAISER
Subject: Re: [TypeScript] New Website Logo: Ericsson (#5801)

Hi there,

If there is anyway of making this happen here a little quicker, we'd be delighted. We are a big supporter of TypeScript and are the host

[2015-12-11 02:08] heroboy opened #6059 "How to know the version of typescript used in an IDE."
For example: http://www.typescriptlang.org/Playground, vs2015 or vscode.
Can I know what is the version or feature enabled by js generated or intellisense?

[2015-12-11 02:16] remojansen opened #6060 "default export in external modules vs. default export in ES6 modules"
I have the following module in a file named `arrays.ts`:
[code]

### import default export using ES6 syntax (Works as expected)
[code]

### import default export using external module syntax

When I import `arrays.ts` using the external module syntax `default` doesn't seems to work as I would expect because I have to use the following code to achieve the same behaviour than the preceding example (

[2015-12-11 02:29] RyanCavanaugh commented on #5930
I'm serious about the number of breakages we found in real-world code. It was very large, and feedback from people trying early builds said they didn't want this.

It's so far been basically impossible to get a type error on a value of type `any` and there would need to be a stronger justification other than "You should be stricter on people" when the entire point of the `any` type is to be as uns

[2015-12-11 02:36] aleksey-bykov commented on #5930
Don't see a contradiction. Let `any` be the most unrestricted thing in the world. No problem. But when someone does `if (anything is Potato) { eatSteak(anything); }` they expect a compiler error, `any` won't give it to them, so they don't want `any`, they want a shaped value. So the strictness is welcome here, it's a good thing, why would anyone be pissed by it.

[2015-12-11 02:41] RyanCavanaugh commented on #5930
What you've written there is runtime-invalid code. The point is that there's lots of runtime-*valid* code that also issues a type error if we narrow `any`

[2015-12-11 02:49] SetTrend opened #6061 "Documentation on TypeScript 1.7/1.8"
Currently were are at the verge of TypeScript 1.8, but the documentation (handbook and language spec) don't even comprehensively document TypeScript *1.5*.

How are we supposed to use the new features if only obsolete documentation is available?

Please finalize the documentation and add a title to it stating the version it fully describes.

[2015-12-11 02:55] aleksey-bykov commented on #5930
Let's not use word strictness or narrowing for a second. Type guard is a predicate that asserts at run time that a given value is of certain type. Ultimately one can put anything in it and it would say yes or no. Once it said yes you get a guarantee (up to the implementation of the type guard) that a value is of that type. Am I right so far? If so, then your example with the `woof` method must bre

[2015-12-11 02:58] ckapatch commented on #5894
@mhegazy Thank you, my azure web project published after the installation of the update.

[2015-12-11 02:59] kasajian commented on #5287
Paul, thank you.   I'm trying to figure out how I'll be able to use this feature in the future to solve a problem that I have right now that forces me to abandon the TS build step altogether from within Visual Studio and issue tsc.exe commands directly from the "pre-build" step from the web project (via a batch file).  Ugly, but I don't have another solution.   The issue that I'm talking about is

[2015-12-11 03:12] Buildstarted commented on #5608
Seems to me the decorator should just filter down to the implementation. cleaner to have the overloads closer to each other and the `@decorator` on top of them all - the decorator can easily get lost in the clutter of doc comments and what not.

[2015-12-11 03:13] aleksey-bykov commented on #5930
I am not trying to convince you. Just ranting. I get it that the design goal is to make a mainstream language that fits the least competent developer. It is indeed very frustrating that correctness isn't the goal. I get that too. There is already quite a number of features that I wish didn't exist at all, we one more one less doesn't make a difference. Hopefully the niche for a correct/sound count

[2015-12-11 03:36] PageEngine commented on #5894
@mhegazy  Fixed here as well on VS 2015 (did not test VS 2013), packaging for an Azure cloud service. Have answered my SO question with links to the downloads. Thanks for the quick fix.

[2015-12-11 03:45] johnfn commented on #6061
This is a very good resource in the meantime: https://github.com/Microsoft/TypeScript/wiki/What%27s-new-in-TypeScript

[2015-12-11 04:44] DanielRosenwasser commented on #6061
We're working on it. A more up-to-date version of the handbook is on https://github.com/Microsoft/TypeScript-Handbook.

[2015-12-11 04:53] fuzing commented on #6046
I seem to be missing something.......

The way I have my tsconfig set up, I'm asking tsc to "please generate
definition files for me".
It will generate one when there's not one already there, but then when I
change the .ts file it complains and says "I can't overwrite the one that I
just generated".

A similar argument could be made for the .js files that are emitted by the
compiler (i.e. Even tho

[2015-12-11 04:59] JKillian commented on #6061
:+1:  Glad to hear a new handbook is coming! It seems possible to find up-to-date info right now, but you often have to hunt around in the GitHub issues or other places to find it.

[2015-12-11 05:06] DanielRosenwasser commented on #6061
Yeah, I'm deeply sorry that this has become a problem, but we've been working on it. I'm hoping to get the new handbook content published by the end of the month.

[2015-12-11 05:07] d180cf opened #6063 "Do vs2015/vscode use ts language service for js files?"
I noticed a considerable regression in how the editor works in js files since vs2012. It's so dramatic that in some cases I have to open vs2012 and edit js files there. The update 1 for vs2015 has made things a bit better, but still editing js files causes too much frustration. vscode behaves similarly, and they say they use the ts language service, hence the title of the question. Particular prob

[2015-12-11 05:15] MrHen commented on #6041
@sandersn, @ahejlsberg Here is a [Playground](http://www.typescriptlang.org/Playground#src=interface%20Dictionary%3CT%3E%20%7B%20%5Bkey%3A%20string%5D%3A%20T%3B%20%7D%0A%0Afunction%20auto%3CT%3E(commands%3ADictionary%3CT%3E)%20%7B%09%0A%7D%0A%0Avar%20block%20%3D%20%7B%0A%09'foo'%3A%20(cb)%20%3D%3E%20%7B%20console.log('foo')%3B%20cb()%7D%2C%0A%09'bar'%3A%20(cb)%20%3D%3E%20%7B%20console.log('bar')%3

[2015-12-11 06:28] d180cf commented on #3508
The bind operator looks like an attempt to get partial classes without the need to modify prototypes. This looks great as long as these methods-extensions have unique names. But it seems to me that many such methods will have similar names, e.g. `each` and `forEach`, and there will be conflicts between different libraries. To resolve the name conflicts, we will have to introduce namespaces and the

[2015-12-11 06:51] weswigham commented on #3508
@d180cf just use modules.

[2015-12-11 06:53] vladima commented on #6063
out of curiosity,  do you have any entries in Windows event log  that approximately match the time when VS crashes? I suspect it should be errors with .NET Runtime as a source

[2015-12-11 06:56] DanielRosenwasser commented on #6046
You are asking the compiler to overwrite an input file. Seeing as we are planning to support `.js` files as input files, yes, I would be inclined to say that we should not allow you to overwrite an input file.

[2015-12-11 07:01] DanielRosenwasser commented on #6059
In the Playground, it's 1.7.4. There's no way to tell unless you open up the services/server code being used, or potentially if you have some way of interacting with the runtime. For example, in http://www.typescriptlang.org/Script/vs/languages/typescript/common/lib/typescriptServices.js, look for the string `version="` and that should help find it.

[2015-12-11 07:06] DanielRosenwasser commented on #6059
To clarify, for VS2015, I believe you can look in add/remove installed programs.

I'm not sure about with VSCode. @egamma, I don't see where one can find out the current version of each bundled language service.

[2015-12-11 07:09] DanielRosenwasser opened #6064 "Supply a better error message for a decorator on a method overload"
From #5608.

[code]

Expected: `A decorator can only decorate a method implementation, not an overload.`
Actual: `Decorators are not valid here.`

[2015-12-11 07:10] DanielRosenwasser commented on #5608
That's a bad error message though, so I've filed #6064.

[2015-12-11 07:19] toddwong commented on #2709
:+1:

[2015-12-11 07:20] xielongjiang opened #6065 "Microsoft.VisualStudio.LanguageServices.TypeScript.TypeScriptProjectPropertyPage.resources"
Right click on the project and go to the properties. Then select “TypeScript Build” tab Tip this error

尝试加载该页时出错。
未能找到任何适合于指定的区域性或非特定区域性的资源。请确保在编译时已将“Microsoft.VisualStudio.LanguageServices.TypeScript.TypeScriptProjectPropertyPage.resources”正确嵌入或链接到程序集“Microsoft.VisualStudio.LanguageServices.TypeScript”，或者确保所有需要的附属程序集都可加载并已进行了完全签名。

[2015-12-11 07:34] OlegDokuka commented on #6034
Hi guys, again. I spend a bit more time on this issue and found, that this additional argument added only when in my `tsconfig.json` exist `"target": "es5",` property

[2015-12-11 07:38] egamma commented on #6059
We currently do not expose the TS version in the UI. In general, in VS Code we bundle the latest official TS version that is available for the monthly update. So the December update will include 1.7.*.

Users can configure another TS version using the `typescript.tsdk` configuration setting.

[2015-12-11 07:40] #5816 closed

[2015-12-11 07:41] zhengbli commented on #6016
Should be fixed now by #6066.
A non-polling fix will be updated later at #6026.

[2015-12-11 07:41] #6016 closed

[2015-12-11 07:41] zhengbli commented on #6016
@bpasero can you confirm? Thanks!

[2015-12-11 07:53] prabirshrestha commented on #3508
@d180cf Here is an example on how conflicts could be solved.

[code]

[2015-12-11 08:05] OlegDokuka commented on #6034
Also, due to *lib.d.ts*, `MethodDecorator` declaration should  have next list of parameters
[code]
but in compiled JS code there are no passings of `descriptor` argument

For example:
[code]
compiled to
[code]
or for ES5 to
[code]

Is it okay???

[2015-12-11 08:29] OlegDokuka commented on #6034
Also, I created [example](http://www.typescriptlang.org/Playground#src=function%20test(a%3A%20any%2C%20b%3F%3A%20any%2C%20c%3F%3A%20any)%3A%20void%20%7B%0A%0A%7D%0A%40test%0Aclass%20Greeter%20%7B%0A%20%20%20%20%40test%20greeting%3A%20string%3B%0A%09%0A%09%0A%20%20%20%20constructor(%40test%20message%3A%20string)%20%7B%0A%20%20%20%20%20%20%20%20this.greeting%20%3D%20message%3B%0A%20%20%20%20%7D%0A%0

[2015-12-11 08:33] OlegDokuka commented on #6034
Also, I understand that by ES 3 specification there are no Property descriptor, but if I targeting on ES5, or even on ES6, why should I gtt this?

[2015-12-11 08:35] bpasero commented on #6016
@zhengbli I am a bit confused, this is not the solution used in 1.6 right? Why the hassle of making a change like this if you end up with the same polling?

[2015-12-11 08:37] bpasero commented on #6016
Ah sorry, I did not realize that the watched file set was introduced during 1.7 already. I will give it a try today, thanks!

[2015-12-11 08:59] mattbrooks2010 commented on #5894
Tested using VS2013.5 desktop build / publish and also TFS2015.1 CI build and publish. Original reported symptoms have been fixed. Thanks!

[2015-12-11 09:44] BarryVickers commented on #5801
I see this is live now – thank you all!

From: Ryan Cavanaugh [mailto:notifications@github.com]
Sent: 10 December 2015 18:25
To: Microsoft/TypeScript
Cc: Barry Vickers
Subject: Re: [TypeScript] New Website Logo: Ericsson (#5801)

@BarryVickers<https://github.com/BarryVickers> thanks for your support! We do these the website logo updates in batches so the delay can be a bit long depending on where

[2015-12-11 10:01] SetTrend commented on #6061
@DanielRosenwasser:

Thanks. Excellent! I'm very much looking forward to it.
<br/>
@johnfn :

Thanks for pointing. Yet, I believe it's important for users and learners to have *one single* place of truth; reference material with a good structure and a sufficiently detailed TOC is required to quickly and easily lookup a language feature when a question arises during development. Or even to browse t

[2015-12-11 10:01] #6061 closed

[2015-12-11 10:24] bpasero commented on #6016
@zhengbli LGTM from using it on Mac.

[2015-12-11 10:51] jods4 commented on #3508
@d180cf
TS is going to implement what TC39 standardizes, so if you have concerns about the feature you should probably raise your voice there.

BTW like the two comments before me, I don't quite see how this problem is unique to the bind operator.

Importing functions with identical name is not allowed even in "normal" code and the solutions are the same. If I faced such a situation I would do lik

[2015-12-11 13:12] tehsenaus commented on #4669
@AJamesPhillips: to answer ```"what is undesirable about specifying the property in the abstract base?"```:

It's undesirable as it doesn't force an implementation in the subclass. It's essentially equivalent to this, if we were using getters:
[code]

You would never write this, right? You'd want the compiler to do its job and enforce an implementation.

[2015-12-11 13:15] SetTrend opened #6067 "Destructuring in declarations and assignments - really an improvement to language?"
Am I the only one to believe that the language feature of destructuring in declarations and assignments rather adds confusion to source code than being a valuable addition?

I have a very hard time reading code examples using destructuring. To me the syntax is in no way self-explanatory or intuitive. The only benefit I apprehend is to avoid accessing properties in property syntax or arrays in arra

[2015-12-11 13:23] yortus opened #6068 "Different result running native vs down-levelled async function"
In the following example, running `original.js` directly in MS Edge 25 / EdgeHTML 13 (with experimental JavaScript enabled) outputs `"Get to the chopper!"` to the console.

`downlevel.js` is produced by running `typescript@next` (I used v1.8.0-dev.20151210) over `original.js` with the `--allowJs` option. Running `downlevel.js` in MS Edge outputs an error `SCRIPT445: Object doesn't support this act

[2015-12-11 13:39] AJamesPhillips commented on #4669
@raveclassic no problem :)  re: `onClose` yeah I read that wrong.  Apologies.  I can see how it's partially relevant to "Abstract Properties" but this probably belongs in it's own issue... I'm not sure how others solve it and I would be interested to know but you can solve it with this:

	interface EventHandler {
		(): void;
	}

	abstract class Popup {
		onClose: EventHandler;
		abstract defineOnC

[2015-12-11 13:57] AJamesPhillips commented on #4669
@tehsenaus Sorry I don't understand.  I agree that:
* an abstract class should enforce its subclasses to implement abstract _methods_.
I also think that:
* an abstract class declaring any property should not enforce a subclass to implement a `get` or `set` method as what implementation is required?
Again even a partially concrete use case would be useful to understand what problem you are trying t

[2015-12-11 14:32] jbondc commented on #3105
@Gaelan I'm sure the TS team will come up with something. I've left the link to ```set types```, maybe they will call it ```collection types``` or something. When philosophies diverge too much, it's best to part ways.

[2015-12-11 15:48] fuzing commented on #6046
After thinking about this a little more, it's probably a situation where you're damned if you do and damned if you don't (i.e. one could see it from either perspective).......

In any event, per @mhegazy's suggestion, simply 'excluding' the dist directory works in my case.   I'm wondering if there will be knock-on effects if/when file globbing patterns are allowed and folks are doing 'in-place' co

[2015-12-11 15:48] #6046 closed

[2015-12-11 15:52] DanielRosenwasser commented on #6068
@bterlson should Edge have errored on assigning to Promise, on executing the asynchronous function, or is it exhibiting correct behavior?

[2015-12-11 16:26] fzzzt commented on #4530
That doesn't actually work, at least not with TS 1.7 and TSX, as far as I can tell. Maybe there is some other dependency for this to work. When I write it that way, `this` still doesn't reference the component instance and my `this.state` doesn't exist (same for just defining it as `handleClick()`, which is what brought me here). Maybe that works if you're writing ES7 directly, I dunno, we're usin

[2015-12-11 16:41] sandersn commented on #6047
When does migrate-a-thon start? How long does it last?

[2015-12-11 16:51] sandersn commented on #6067
Destructuring is an EcmaScript feature, so it is not up to Typescript to decide what to do with it.

[2015-12-11 16:52] #6067 closed

[2015-12-11 17:20] aleksey-bykov opened #6069 "in 1.8 comments are removed from empty blocks and unreachable places regardless of the unset --removeComments flag"
### Case 1

typescript

[code]

javascript

[code]
### Case 2

typescript

[code]

javascript

[code]

[2015-12-11 17:33] DanielRosenwasser commented on #6008
Fixed - thanks for reporting @myitcv!

[2015-12-11 17:34] #6008 closed

[2015-12-11 17:35] DanielRosenwasser commented on #6059
Thanks for the response @egamma! Hope that helps @heroboy.

[2015-12-11 17:55] DanielRosenwasser commented on #6065
Translated:

[2015-12-11 17:56] DanielRosenwasser commented on #6065
@xielongjiang what version of TypeScript are you using?

[2015-12-11 18:09] DanielRosenwasser commented on #6034
@rbuckton could you take a stab at answering the concerns here?

[2015-12-11 18:32] RyanCavanaugh commented on #6047
We'll start Monday, work extra hard on Tuesday, and I'll be asking people for their feedback Wednesday morning.

[2015-12-11 18:43] DanielRosenwasser commented on #6060
Hey @remojansen. `import foo from "bar" is not semantically equivalent to `import foo = require("bar")`. default exports should be thought of as exporting a member on the module named `default`. The concepts serve the same purpose, but the CommonJS defaulting mechanism was a bit of a hack.

[2015-12-11 18:43] #6060 closed

[2015-12-11 18:44] DanielRosenwasser commented on #6046
No prob, thanks for filing the issue. It's always worth talking over.

[2015-12-11 18:55] Pajn commented on #4669
Dart have abstract properties and uses them quite a lot in the standard library in a very nice way.
For example List which is an abstract class and have abstract getters for things like length, reversed and similar things that classes implementing a List need to implement.
https://github.com/dart-lang/sdk/blob/master/sdk/lib/core/list.dart

I can't see how a language that have getters and setters

[2015-12-11 19:34] aleksey-bykov opened #6070 "is there a way to narrow down the amount of information that goes to the member info tooltip of intellisense?"
Namely, is there a way to opt out from seeing:

- union type constituens
- members of a type alias referring to an anonymous product type?

![img_11122015_142244](https://cloud.githubusercontent.com/assets/937933/11753625/2650bf74-a014-11e5-8237-9e0db8857922.png)

[2015-12-11 19:59] paulvanbrenk commented on #6065
@xielongjiang and which version of VS? Can you post the image in 'Help->About'

[2015-12-11 20:00] RyanCavanaugh commented on #5441
Design meeting resolution: `super` should be allowed only in ES6 in a shorthand method body in an object literal and is of type `any`

[2015-12-11 20:04] paulvanbrenk commented on #5287
@kasajian I think the multiple `tsconfig.json` support will do exactly what you want.

[2015-12-11 20:12] OlegDokuka commented on #6034
So, is it my lack of knowledge or it is an issue?

[2015-12-11 20:48] fuzing commented on #6046
Appreciate it - have a nice W/E

On Fri, Dec 11, 2015 at 11:45 AM, Daniel Rosenwasser <
notifications@github.com> wrote:

[2015-12-11 20:48] LordZardeck commented on #4130
:+1: Having the same issue, with the specific use case of the `Date` constructor:

[code]

[2015-12-11 21:21] vladima commented on #338
#5860 lifts the restriction for ES6, we still need a separate proposal for the downlevel emit

[2015-12-11 21:21] vladima commented on #4465
#5860 lifts the restriction for ES6, we still need a separate proposal for the downlevel emit

[2015-12-11 21:21] #4465 closed

[2015-12-11 21:29] devpunk commented on #3743
You're right. I have updated my example which I wrote in plain JS in a Chrome Console and tried to properly adapt it to TS syntax. Well, you see why I support a more convenient syntax. ;-).

If that's your premise I'd agree, that's possible to achieve. But its another question if it's wise to employ the prototype to achieve it.

Therefore, it's not some so-called "bad" concept; but used & expected

[2015-12-11 21:53] GoToLoop commented on #3743
I'm not asking for TS to have 100% safe-guards against "shared" re-assignments. have
Java/C# don't have such issue b/c they don't create fields on-the-fly like JS/Lua.

So it's crystal clear for the former when we attempt to re-assign some `static` field via `this`, we haven't meant some nonexistent instance field.

But that's ambiguous for JS! And a brand new instance property is born, canceling

[2015-12-11 22:04] RyanCavanaugh commented on #6011
Re #2491 -- we discussed it and decided against it. Given the number of suggestions already in the queue, we don't have resources to endlessly relitigate things. People can leave their comments there and we can review again at a later date, but its short-term status remains declined.

[2015-12-11 22:04] #6011 closed

[2015-12-11 22:10] kasajian commented on #5287
cool.  So how would that work?  Like, would I specify in Visual Studio which tsconfig file a particular .ts file is associated with?

[2015-12-11 22:26] DanielRosenwasser commented on #943
We discussed this a bit offline.

There are two scenarios that the union of all returns doesn't answer:

1. The `Animal` case as mentioned above.
2. The case where each type is a type predicate.

The second one has certain non-trivialities associated with it. Consider the following:

[code]

Specific issues in figuring out what to write for `/*????*?` are:

1. The `boolean` type is currently not a

[2015-12-11 23:15] paulvanbrenk commented on #5287
You use the `files` element, as discussed here: https://github.com/Microsoft/TypeScript/wiki/tsconfig.json

[2015-12-11 23:31] blakeembrey opened #6072 "Maximum call stack when using `typeof` own namespace"
Minimal test should reproduce it (it did in the playground, confirmed it was not working with `typescript@next` locally):

[code]

The stack trace locally:

[code]

Feel free to let me know if I'm trying to do something wrong, but it probably shouldn't crash anyway.

Edit: For additional information, it come from trying to type `make-error` (https://raw.githubusercontent.com/typings/typed-make-err

[2015-12-11 23:31] kasajian commented on #5287
Okay, then I'll circle back to what I said previously to which you responded "We expect most users to not explicitly add ts files to their tsconfig.json file, but depend on the logic in the compiler to automatically pull in all .ts files. This way they would just add them to Visual Studio."

So then it goes to reason that using the Visual Studio UI to add files to the project is really only useful

[2015-12-11 23:43] paulvanbrenk commented on #5287
Or you could do something like this
[code]

something like this

[2015-12-11 23:53] kasajian commented on #5287
beautiful

[2015-12-12 00:06] sant123 commented on #3343
Let me explain this:

[code]

The result....
[code]

Are you really sure that this is not a bug? I mean, tom: Animal is using the method FROM Animal, that's why the compiler offers you to pass the parameter 34. But in spite of the 34 parameter is provided, it is just ignored. So if I pass a parameter to a function I expect that my parameter works in the function. Just saying... common sense.

[2015-12-12 00:07] DanielRosenwasser commented on #6070
We should consider either performing a text cutoff (**in certain positions**) on union/intersection members for quick info, or just consider using the type alias in those positions.

[2015-12-12 00:09] sandersn commented on #6070
Just showing the alias is the right thing to do here. An alias serves mainly as documentation in Typescript, and intellisense tooltips are documentation.

[2015-12-12 00:09] blakeembrey opened #6073 "Can not use parameter of a constructor in generic function, but allowed as a argument"
[code]

Couldn't find an existing issue on this, but the same thing occurs in the function body. As far as I understand, they are compatible types - the behavior is just different from within and outside the `test` function.

[2015-12-12 00:10] axefrog commented on #3788
@RyanCavanaugh thanks, you've satisfied my argumentative urges :)

[2015-12-12 00:12] DanielRosenwasser commented on #6070
I think we'd be willing to take a PR on this if anyone's interested. The reason I listed this as moderate is because the display writer code is a little hairy.

[2015-12-12 00:15] #6043 closed

[2015-12-12 00:22] blakeembrey commented on #6073
On the same note, I can't quite solve how to describe this interface:

![image](https://cloud.githubusercontent.com/assets/1088987/11758714/6405af64-a023-11e5-8912-b3214b89c247.png)

[2015-12-12 00:59] jiaweihli commented on #338
@vladima I have a working solution (built on top of my [gist](https://gist.github.com/jiaweihli/807b56a75909a628fe7e), fixes a few bugs) for ES5, which we're running in production.  It uses 2 external dependencies, but these aren't strictly necessary and their functionality can be inlined.  Should I open a new issue?

[2015-12-12 02:54] jwbay commented on #5039
What module targets does this proposal affect? Specifically, will this bring baseUrl support to the commonjs and es6 module targets?

[2015-12-12 03:01] electricessence commented on #3578
It works in 11.

From: Daniel Rosenwasser [mailto:notifications@github.com]
Sent: Tuesday, November 03, 2015 3:44 PM
To: Microsoft/TypeScript
Cc: electricessence
Subject: Re: [TypeScript] Proposal for Abstract Classes and Methods (#3578)

@electricessence <https://github.com/electricessence>  WebStorm doesn't use our language service, so unless this is an issue you're seeing at compilations (i.e.

[2015-12-12 03:04] electricessence commented on #9
The problem with doing this is that (as hopefully we’ve all dealt with), is it could pollute the existing code in a more complex environment.
“Extensions” would simply be compiler sugar for writing utility methods that would pass the ‘this’ along.

From: Wander Wang [mailto:notifications@github.com]
Sent: Friday, October 30, 2015 5:52 AM
To: Microsoft/TypeScript
Cc: electricessence
Subject: Re: [T

[2015-12-12 03:56] xielongjiang commented on #6065
@DanielRosenwasser @paulvanbrenk  This Error in Visual Studio 2015 update1. I using 'Typescript Tools for Microfot Visual Studio 2015 1.7.40' found this error.When it comes to this error, I try take this version relegation to the latest 1.6. But unfortunately, this makes Visual Studio unable to work properly.
I thought it would be a problem with the Visual Studio 2015 update1,but the truth tells m

[2015-12-12 04:04] vladima commented on #5039
currently module resolution strategy is decoupled from module targets so you can use whatever combination you like by specifying `moduleResolution` option. If this option is omitted then compiler will try to use strategy it thinks will be the most appropriate: i.e. use `node` if `target` is `commonjs`

[2015-12-12 05:02] heroboy commented on #6059
Thanks @DanielRosenwasser . But I want a general method. In languages like c++, I can get the version or feature by macro. Typescript is a frequently updated language, the language features and compiler bugs are frequently changed. If I can get the version more easily, then it can make me better to search the issues or report the issues.
Another problem is in an IDE sometime the typescript used by

[2015-12-12 06:22] SaschaNaz opened #6078 "Ensuring an object literal fully implements an interface"
[code]

Is there a good way to declare the object literal as `Bar` without an additional variable so that compiler can show an error when more members are required for the object to be `Bar`?

[2015-12-12 06:26] falsandtru opened #6079 "No completion builder present after a '<'"
Input `>` key on a following code.

[code]

expected:

[code]

actual:

[code]

experience:

[code]

[2015-12-12 06:28] jasonwilliams200OK commented on #9
(-1'ing everything is not really helping)

There are countless real world use-cases where extension methods are proven to be useful.

If you are unsure about the significance of extension methods, take a look at C#.

If you don't like the way it is proposed to be implemented, please provide an alternate approach.

Yes and this is in the very first line of this proposal.

[2015-12-12 06:42] SaschaNaz commented on #5731
2. Not sure about alternative syntax. One in my thought:

[2015-12-12 06:45] falsandtru commented on #9
I don't think that it is declarative because we cannot get the whole story. We must find pieces of a class.

[2015-12-12 07:03] falsandtru commented on #6078
Probably, interface is structural subtyping.

You can get an error on a following code.

[code]

But you cannot get an error if you use the inheritance.

[code]

I think this is a feature of structural subtyping and nominal subtyping.

[2015-12-12 07:10] JsonFreeman commented on #943
@DanielRosenwasser

1. For the type predicate case, is `boolean` really not assignable to a type predicate? I'm looking at line https://github.com/Microsoft/TypeScript/blob/master/src/compiler/checker.ts#L5070, and it seems like it will be assignable. If `boolean` is assignable, then I think `boolean` is what you would put in that `/*????*/` slot. Though it's possible I missed something.
2. I'm no

[2015-12-12 07:12] SaschaNaz commented on #6078
@falsandtru That makes `useFoo({ foo: "", bar: "" } as Bar);` as an error too. I would want compiler not to complain with this.

[2015-12-12 07:22] falsandtru commented on #6078
Probably, it is impossible because it seems a design of type system of TypeScript.

[2015-12-12 07:22] yortus commented on #6068
@DanielRosenwasser this seems to have been asked on tc39/ecmascript-asyncawait [here](https://github.com/tc39/ecmascript-asyncawait/issues/65), and answered in the comment thread for that issue by @domenic and @bterlson [here](https://github.com/tc39/ecmascript-asyncawait/issues/65#issuecomment-145200246) and [here](https://github.com/tc39/ecmascript-asyncawait/issues/65#issuecomment-145201464).

[2015-12-12 07:33] AJamesPhillips commented on #4669
@Pajn I don't follow that chain of logic.  Abstract methods are valuable, they force subclasses to implement them.  In a comment 5 hours before yours and 2 above it I have [used an abstract method](https://github.com/Microsoft/TypeScript/issues/4669#issuecomment-163938094).

Thanks for the link to the dart library.  So is it only a case for brevity?  i.e. it would allow you to condense this:

	abs

[2015-12-12 07:43] SaschaNaz commented on #6078
Then this is my proposal:

[code]

[2015-12-12 08:11] jasonwilliams200OK commented on #9
If you are building the library yourself, then you should be able to add the additional methods in the class. If you are working with someone's else library (which is most likely documented) then you can add extension methods elsewhere in your code without touching `vendor/**` code. Finding the pieces to form the 'whole story' is a non-issue especially when editors are there to assist you.

Splitt

[2015-12-12 08:21] yortus commented on #1664
I've just been trawling through the issues on tc39/ecmascript-asyncawait to see what's been discussed about returning custom promise types from async functions. I was surprised to see that it seems pretty definitive that `async` functions will not return custom promises under any circumstances:

* [Allow generating sub-classed Promise #73](https://github.com/tc39/ecmascript-asyncawait/issues/73)
*

[2015-12-12 08:29] SaschaNaz commented on #6059
@egamma I have found that resources\app\out\vs\languages\typescript\common\lib\typescriptServices.js is from version 1.5 (from #5771), do you know why this file is not updated?

[2015-12-12 09:13] angelozerr commented on #5730
Thanks a lot @mhegazy for your answer! I'm waiting for answer of @billti to know what I will do it.

[2015-12-12 09:29] pavlovt commented on #16
+1 I've been missing this for a long time

[2015-12-12 10:14] RyanCavanaugh commented on #6078
I can't think of a way to do this at the argument level.

You could assert the left side instead:
[code]

Given how rarely this is desired in practice, I don't think it merits a new type operator.

[2015-12-12 10:14] #6078 closed

[2015-12-12 10:37] SaschaNaz commented on #6078
Usable workaround. Thanks :)

[2015-12-12 10:50] SaschaNaz commented on #6078
Note that it still won't work when assigning to a variable:

[code]

[2015-12-12 11:23] vilic opened #6080 "Value of string literal type as property name."
For example:

[code]

[2015-12-12 12:11] Pajn commented on #4669
@AJamesPhillips

Just as abstract properties forces subclasses to implement them. They are the same thing.

Mostly, however I would argue that it's about intention as well. A property should never have a side effect, methods might. Mixing Java style getters with good getters makes the code more confusing.

We could probably think of some strange edge case where some library expect a good getter bu

[2015-12-12 13:11] JiriZidek commented on #5894
Tested succesfully on TFS2015.1 classical XAML build. Thx.

[2015-12-12 13:20] SaschaNaz commented on #6063
+1 for 4 but maybe that's a VSCode issue.

As for markdown numbering you should indent all sub-paragraphs. Example:

1. Foo

[code]

2. Bar

[2015-12-12 13:34] domenic commented on #6068
Ideally transpilers should do something like this in a "header" file that runs before any author code:

[code]

then when they actually use it, instead of just straight transpiling to `Promise` or `Promise.resolve` or `.then`, they can use these stored and unchangeable values.

(Also the TypeScript transpiler's "cast" function seems entirely unnecessary; just use `Promise.resolve`/`PromiseResolve`

[2015-12-12 14:37] falsandtru commented on #6018
I want an error for implicit `any` type of `this` using a compiler option. Implicit `any` type is dangerous.

[2015-12-12 15:39] Ziink commented on #3645
@mhegazy
Couldn't get multiple tsconfig.json to work. At least with TypeScript 1.7.3, only one tsconfig.json is read and that is expected to be in the root directory (or parent) of the project.

[2015-12-12 16:17] adidahiya commented on #6011
cool, that makes sense. thanks :+1:

[2015-12-12 16:27] egamma commented on #6059
@SaschaNaz you a found the version of TS used for the Javascript language service. We haven't updated this one as eagerly as the one used for the TS language service, since we plan to migrate to Salsa soon and each upgrade has development costs.

This is the location with the typescript used by the typescript language service:
`resources\app\extensions\typescript\server\typescript\lib`

[2015-12-12 16:48] SaschaNaz commented on #6059
@egamma Thanks for your explanation :+1: There are some old formatter problems in JS so I wondered why.

[2015-12-12 17:16] ahejlsberg commented on #6073
The error in your original example is by design. The type `typeof Test` is not assignable to type `T` because `typeof Test` is not be assignable to all possible type arguments for `T`. For example:

[code]

Here, the inferred type argument for `T` is `typeof Derived`, and `typeof Test` is not assignable to that type.

[2015-12-12 17:16] #6073 closed

[2015-12-12 17:32] blakeembrey commented on #6073
Interesting. Is there a way or proposal to solve the initial example? Having a generic with some constraint used on the input. I expected this to work since they are structurally the same, I just needed to say I can accept more than defined. For example, this works:

[code]

Is there a resource I should read to get my head around this?

[2015-12-12 18:24] yuit commented on #6079
@falsandtru I agree with you that such behavior is pretty annoying.

[code]
However, in such position of the above statement, it is not clear whether you want to do type casting or declare generic type parameter. And language service assume on the side that you are doing type casting and so it completes with `TemplateStrngArray`

[2015-12-12 18:28] remojansen commented on #6060
Thanks for clarifying it :) @DanielRosenwasser

[2015-12-12 18:30] olmobrutall commented on #2000
+1, also the tooling will get much better. My use case is using react. I've to check the definiton every time I'm using the `ComponentLifecycle` methods:

[code]
With override, or other equivalent solution,you'll get a nice auto-completion.

One problem however is that I will need to override interface methods...

[code]

[2015-12-12 19:37] falsandtru commented on #6079
In general, autocompletion is determine the input by tab key or enter key. Visual Studio should not use other keys for determining. It is an undesired behavior. I know an another case.

Input `:` key.

[code]

expected:

[code]

actual:

[code]

Is this really useful autocompletion? I think, developers will probably want to uninstall the Visual Studio. Please give me the common behavior.

[2015-12-12 19:48] laurelnaiad commented on #596
xmodule.ts:
[code]

[code]

If xmodule has statements, .e.g. the console.log statement, it is by definition not just a pile of declarations. It should not be the responsibility of the importing module to make statements which use xmodule in order for xmodule to be considered more than just a series of type declarations.

[2015-12-12 20:09] dime2lo commented on #4238
Followed the `devenv /updateconfiguration` & `devenv /clearcache` steps and it solved the issue for me. Thanks!

[2015-12-12 20:24] jeffreymorlan commented on #6018
I think the best thing to do is default to `this: this` if using method syntax (`foo(): string`), default to `this: void` if using property syntax (`foo: () => string`)

It's extremely common for interface members of function type to be implemented using class methods, which require that the correct `this` always be passed:
[code]
But it's also very common for interface members to be used as `this

[2015-12-12 22:19] d180cf commented on #6063
The 4th issue appears in vs2015.

[2015-12-12 22:30] yuit commented on #6079
@falsandtru I do agree that these are not useful completion. Either we only use certain key such as tab and enter to do completion like what you suggest or we have to be able to better detect when to insert completion.

[2015-12-12 23:07] ToddThomson commented on #8
For anyone who is interested.. I've experimented with walking the container nodes and minimizing blockscopedvariables. This requires a minimal amount of code, so I'm going to add it to TsProject. It will work only on bundles.
As for whitespace elimination, there is currently no way to change the way the indentation works in the js text writer, so this will have to be done as a processing step afte

[2015-12-12 23:26] unional commented on #6012
Would it be possible to specify a resolution plugin and the plugin implementation is managed by jspm or someone closer on that end?

I have the same need (as everyone using typescript with jspm should).

[2015-12-12 23:39] ahejlsberg commented on #6073
You could write your example like this:

[code]

You can then pass `Constructor` or any class derived from `Constructor` as an argument. The returned value will always have the static type `typeof Constructor`, and might be `Test` if the value you passed was undefined. This contrasts with your initial example where the static type of the result is the same as the static type of what you passed as

[2015-12-12 23:42] DanielRosenwasser opened #6081 "Design Meeting Notes for 12/11/2015"
# `this` type guards (#5906)

* Some unaddressed concerns in PR.
*  Differences between parameter/this type guards
    * Parameter type guards check against type of parameters
    * `this` type-guards tied to a signature
    * `this type-guards allowed on properties
        * Rationale for allowing on properties is we needed to allow them for get-accessors.
        * Type-compatibility
* Narrowing

[2015-12-12 23:43] #6081 closed

[2015-12-12 23:45] #6000 closed

[2015-12-13 00:03] Gambero81 opened #6082 "Visual studio JSDoc comments do not collapse"
Collapse to definition on typescript code do not collapse JSDoc multiline comments.
Please add collapse functionality for jsdoc comments as done in c# with vsdoc comments.

[2015-12-13 00:29] blakeembrey commented on #6073
Thanks for the explanation.

What I was trying to type is https://github.com/julien-f/js-make-error, but it sounds like it won't be possible to make it 100% correct. The type definition I currently ended on is https://github.com/typings/typed-make-error/blob/master/index.d.ts, but it's not accurate. The issue is that it takes a function, mutates the prototype of the input and then returns the same

[2015-12-13 05:21] bryanerayner commented on #8
Fantastic! That's a great first step.

On Sat, Dec 12, 2015, 5:08 PM Todd Thomson <notifications@github.com> wrote:

[2015-12-13 05:34] cur3n4 commented on #2103
@xogeny I would be very interested in having a look at that library. Thanks

[2015-12-13 06:40] plopinou opened #6085 "Type Guard complaining when type hinting with an herited abstract class"
I stumbled upon this problem while playing with angular 2 new Form Builder.

[code]

Because we want groups to be able to contain others groups, we type hint the CtrlGrp constructor with AbstrCtrl instead of Ctrl. But then, Type Guard complains that the AbstrCtrl class does not have a setValue method, even thought we clearly pass as argument to CtrlGrp instances of Control.

Is it a normal behavio

[2015-12-13 06:47] vladima commented on #6012
currently module resolution is customizable if you use compiler API, we don't support loading user defined resolvers when using command line compiler. This is something that we have in our backlog but the size of this workitem is quite large (it should just work not only in command line compiler but also in all editors we officially support)

[2015-12-13 06:56] unional commented on #6012
Indeed. From what you are saying, is it correct that in order to have editor support (`webStorm`, `atom` `VS Code` etc) resolving jspm packages correctly, we need to either:
1. Complete the command line compiler backlog item, or
2. Editors can use the compiler API to implement the proper resolution
Is 2 possible?

Thanks,
Uni

[2015-12-13 07:11] vladima commented on #6012
In theory it is possible however keep in mind module resolution in editor and in compiler should be consistent otherwise we'll get quite annoying behavior when compiler cannot find some module that editor can discover just fine and vice versa.

[2015-12-13 07:13] unional commented on #6012
Agree. Currently that is exactly what annoys me as systemjs/jspm can discover and run application correctly but the editor cannot.

[2015-12-13 09:37] weswigham commented on #6085
This is normal behavior - to do what you want, [consider using a generic class.](http://www.typescriptlang.org/Playground#src=abstract%20class%20AbstrCtrl%20%7B%0A%7D%0A%0Aclass%20Ctrl%20extends%20AbstrCtrl%20%7B%0A%20%20_value%3A%20any%0A%20%20setValue(value%3A%20any)%20%7B%0A%20%20%20%20this._value%20%3D%20value%3B%0A%20%20%7D%0A%7D%0Aclass%20Ctrl2%20extends%20AbstrCtrl%20%7B%0A%20%20%2F%2F...%2

[2015-12-13 09:47] weswigham commented on #943
@JsonFreeman
Signatures are special-cased so boolean return types are not assignable to predicate return types [here](https://github.com/Microsoft/TypeScript/blob/master/src/compiler/checker.ts#L5671) to preserve existing behavior. Though I'd be all for removing it.

[2015-12-13 11:17] falsandtru commented on #6079
thanks!

[2015-12-13 11:49] SetTrend opened #6086 "Please add default values to tsconfig.json compiler options specification"
Please add default values to [tsconfig.json compiler options specification](https://github.com/Microsoft/TypeScript/wiki/Compiler-Options) so it won't be a matter of guessing whether to be required to add a setting.

[2015-12-13 12:19] SetTrend opened #6087 "TSC fails when having Angular2 referenced in Visual Studio project"
After having set tsconfig.json according to documentation, TSC fails, claiming that it required Angular2 TypeScript sources:

![typescript compiler fails](https://cloud.githubusercontent.com/assets/9283914/11766917/585e7442-a19b-11e5-9f28-c4feae8b526e.png)

Angular2 isn't part of my project. Providing a `rootDir` option to tsconfig.json should even confirm that the Angular2 sources are *not* suppo

[2015-12-13 13:09] saschanaz opened #6088 "Position right before block gets incorrect indentation"
[code]

[2015-12-13 13:47] aleksey-bykov opened #6089 "what are the guidelines to adding new error codes?"
What are 1000-2000-3000-4000-5000-6000 ranges for?

[2015-12-13 13:56] xogeny commented on #2103
@cur3n4 I have [a repository](https://github.com/xogeny/ts-redux) where I've been playing with these ideas.  It changes quite a bit (since this is all still evolving).  I was [using a special modules that leveraged `updeep` initially](https://github.com/xogeny/ts-redux/blob/master/test/UpdeepTest.ts) and [that functionality is still in the library](https://github.com/xogeny/ts-redux/blob/master/sr

[2015-12-13 13:57] SaschaNaz commented on #6080
See also #394.

[2015-12-13 14:04] MarcioMonego commented on #5894
I was caught by the same problem on 1.7.4
Resolved in 1.7.6
Thank you!

[2015-12-13 14:06] vilic commented on #6080
@SaschaNaz Thanks for the reference. So basically now we may have `memberof` operator return a string literal type, that's interesting. Hopefully somebody would take that PR.

[2015-12-13 14:18] falsandtru commented on #6033
I was resolved using a `--moduleResolution node` option. Thanks.

[2015-12-13 14:18] #6033 closed

[2015-12-13 16:15] falsandtru opened #6090 "How to make an isomorphic single file node module without Browserify"
Proposal of a new wiki content. TypeScript 1.8 can make a isomorphic single file node module without Browserify using a following snippet. It will be a good PR point of TypeScript:

https://gist.github.com/falsandtru/390683f4880aa3e4467a

Sample product:

https://github.com/falsandtru/arch-stream

Overview of changes for switching from Browserify to TypeScript:

https://github.com/falsandtru/arch-

[2015-12-13 18:08] aleksey-bykov commented on #3523
gentlemen, can this be considered  a pull request: https://github.com/aleksey-bykov/TypeScript/commit/8a8b2a46fddc0e55494c7a009f077bf499b077a7

[2015-12-13 18:13] aleksey-bykov commented on #3523
works:

[code]

[code]

[2015-12-13 19:48] DanielRosenwasser commented on #3523
That's not actually correct, since parameters are contravariant when relating functions types. `yy` should be assignable to `xx` since `yy` expects less of its `values` parameter, so it's permissible to pass in more. The fix for this is to swap `s` and `t` in each call to `isRelatedTo`.

Another problem is that you're not elaborating the error that was previously checked (`Types_of_parameters_0_an

[2015-12-13 19:50] DanielRosenwasser commented on #943
@JsonFreeman that's correct, that's the general feeling we had offline. If @ahejlsberg or @RyanCavanaugh would like to weigh in, it'd be welcome.

All of you are encouraged to leave feedback on #6075. :smiley:

[2015-12-13 19:53] plopinou commented on #6085
Thank you for your answer, I'm still learning typescript and this indeed correct the problem.

[2015-12-13 19:54] DanielRosenwasser commented on #6089
It used to matter, but now it's kinda sorta just about grouping related things somewhat closely.

For instance, I'd place something [regarding warning users of parameter covariance](https://github.com/Microsoft/TypeScript/issues/3523#issuecomment-164284633) as soon after the `noImplicitAny` errors as possible.

[2015-12-13 22:03] #6085 closed

[2015-12-13 22:32] DanielRosenwasser commented on #6090
@RyanCavanaugh and @vladima, would this be something we want to put out as a best practice?

[2015-12-14 00:26] DanielRosenwasser commented on #6087
The default `tsconfig.json` has `node_modules ` excluded by default, but it is not implicit because not every user necessarily wants that behavior. You'll need to add it yourself.

[2015-12-14 02:45] plantain-00 opened #6092 "use `const` rather than `var` for es6 module grammar when target es6 and the module is commonjs"
eg:
[code]
Now the generated js is:
[code]
I think it is better:

[code]

considering the url is a `const`, no bad things happen:

[code]

history:

~~suggest `let`~~

[2015-12-14 05:23] bobbyinsane commented on #5445
it worked. Now the problem is, the IDE that I'm using stopped showing the suggestions(IntelliSense). Basically, I wanted to have method chaining and with earlier code I was able to get IntelliSense, but after double assertion, it stopped showing the parent class methods in the child classes. Is it the compiler problem? or side effects of 'double assertion'.?

[2015-12-14 07:29] kitsonk commented on #6092
Actually, the block scoping of `let` and the temporal dead zone effects would likely cause issues if that were used.  According to the [ES6 spec](http://www.ecma-international.org/ecma-262/6.0/#sec-static-semantics-importentriesformodule) imports actually behave more like this:

[code]

I think technically rules against redeclaration do not apply, but considering the spec for the module loader is

[2015-12-14 07:31] DanielRosenwasser commented on #6082
Which version of Visual Studio are you running?

![image](https://cloud.githubusercontent.com/assets/972891/11775213/ae67b2f8-a1f1-11e5-8397-a5124cc065c4.png)

[2015-12-14 08:04] DanielRosenwasser commented on #6080
I know @weswigham has brought this up, though I'm not sure if there's an existing issue for it.

[2015-12-14 08:07] DanielRosenwasser commented on #6063
Pinging @billti

[2015-12-14 08:13] falsandtru opened #6093 "Docs and VS config options of `--suppressImplicitAnyIndexErrors `"
Please add a `--suppressImplicitAnyIndexErrors ` flag to:

https://github.com/Microsoft/TypeScript/wiki/What%27s-new-in-TypeScript
https://github.com/Microsoft/TypeScript/wiki/Roadmap

And please add a `Suppress implicit any index errors ` checkbox after an `Allow implicit any types` checkbox in Visual Studio.

[2015-12-14 08:18] plantain-00 commented on #6092
For ES6 js code, basically all variables are declared by `let` or `const`, eg `a`(above), but the `url`(above) is a `var`(is it a variable?), so use `let` or `var` may be a good idea.

So it's just a reason that it looks good.

[2015-12-14 09:14] myitcv commented on #6008
@DanielRosenwasser - thanks

[2015-12-14 09:46] SetTrend commented on #6087
Thank you for enlightening me on this.

I see. Please allow me these follow-up questions:

 * Can I edit the *default* `tsconfig.json` file on my machine?
 * Is there a switch available in Visual Studio (Tools > Options ...) to have TSC log it's actions to the output window messages like:
    * `Searching @ ...\...\ due to 'rootDir' setting`
    * `Ignoring folders '...\...\', '...\...\' due to 'e

[2015-12-14 11:00] aleksey-bykov commented on #3523
I am afraid the whole point is that `yy` should **not** be assignable to `xx`. It's what I am trying the compiler to get me protected from. I agree that passing more should be permitted, but more is what what `xx` is, because it's on `xx` side where intersection of `a[] & AsNonEmpty` is and such intersection means a more elaborate type.

The thing is that the original code (very convoluted in my o

[2015-12-14 12:06] SaschaNaz opened #6094 "Describing an overridden but incompatible method signature in an ambient class"
From SO: http://stackoverflow.com/questions/34087631

[code]

This is the current [generated code](https://github.com/SaschaNaz/uwp-type-generator) by expressing UWP [PnpObjectCollection](https://msdn.microsoft.com/en-us/library/windows/apps/windows.devices.enumeration.pnp.pnpobjectcollection.aspx). `PnpObjectCollection.prototype.__proto__ === Array` is true here so I added `extends Array` but as

[2015-12-14 12:37] falsandtru commented on #6090
Design of module system compatibility and interoperability:

Module|Browser|Browserify|Node|AMD
---|---|---|---|---
Compatibility|Yes|Yes|Yes|Maybe weak
Interoperability|Both|Both|Both|Maybe weak
Import|`window['module']`|`require('module')`|`require('module')`|`define(['module'], ...)`
Export|Global variable|Alias mapping|Native|RequireJS

- Unsupport the `module` object in Node(Unsupport `export

[2015-12-14 12:51] SaschaNaz commented on #6094
Current winrt.d.ts in DefinitelyTyped have manually added ES5 compatible Array methods on IVectorView interface but that will:

1. force the class declarations to have all the interface members copied
2. make them lack ES6 methods (adding ES6 ones will break ES5 compatibility)

[2015-12-14 13:34] falsandtru commented on #4706
Babel's implementations:

Note that the default export is always accessed via the exports object_assert2 (line A), never directly, like this:

    var assert = _assert2.default;

The reason for that is support for cyclic dependencies.

http://www.2ality.com/2015/12/babel-commonjs.html

[2015-12-14 13:45] Strate opened #6095 "Define function, which transforms an object, keeping keys"
I need to define a function, which accepts an object of this type:
[code]
and transforms that object, keeping the keys, but replaces a values:
[code]
and I also want to keep typechecking for that case. This is JS example:
[code]

Any way to do that?

[2015-12-14 13:50] Gambero81 commented on #6082
I use Visual Studio 2015 Update 1
The collapse sign (+ and -) are present and manual collapse work, but if i collapse all code in file with contextual menu Outlining -> Collapse to definitions, JSDoc comments remains expanded and not collapse:

![jsdoccollapse](https://cloud.githubusercontent.com/assets/13186600/11782506/b0e00190-a271-11e5-921f-bc257a695d0c.png)

if i collapse manually comment is

[2015-12-14 14:08] falsandtru commented on #12
+1 for `final` modifier.

[2015-12-14 14:53] crash-dive opened #6096 "HTMLSelectElement selectedOptions Property"
The HTMLSelectElement interface does not implement the selectedOptions property. This should be a collection of HTMLOptionElement which are currently selected and can be found in the spec here: http://www.w3.org/TR/html5/forms.html#the-select-element

This SO question suggests it is implemented in all major browsers: http://stackoverflow.com/questions/10711767/is-selectedoptions-broken-or

However

[2015-12-14 15:51] guybedford opened #6097 "System.register __moduleName support"
I don't mean to be making work, but I think it's worth generically supporting this `__moduleName` identifier for System.register at this point and it is a relatively simple addition to the format of the form:

[code]

This allows use cases like relative dynamic loading relative to the module being executed. The argument can even be omitted when it is not needed with binding detection as well.

Up

[2015-12-14 16:33] aleksey-bykov commented on #6089
Thanks!

[2015-12-14 16:33] #6089 closed

[2015-12-14 16:40] capaj commented on #6097
:+1:

[2015-12-14 16:43] pocesar opened #6099 "Inconsistent "else" after compiling"
Sometimes `else` will come in the next line, sometimes it'll stay in the same line, like this generated UMD:

[code]

those will stay on the same line:

[code]

most of the time, the `else` is in the same line as the `}` and the `{` as expected. can it be made consistent? `standard` doesn't like this

[2015-12-14 16:49] LinusU commented on #1713
It's also very useful when calling third party functions:

[code]

vs.

[code]

[2015-12-14 17:00] bbotond90 commented on #4298
What if I just want to check if a class implements an interface in run-time ?
I can't because the Interface does not exists in the JavaScript file.

But what if I still want to hack this capability? Then I have to create a class that will hold the needed properties and I have to extend this basic and "empty" class. The JavaScript instanceof method works in this way. Hack, but works.

So for exampl

[2015-12-14 17:12] richwatts commented on #8
Can someone please clarify if minification of the TypeScripts **output** is likely to be problematic? Some of the files in a project I'm working on seem to minify correctly while others do not.

[2015-12-14 17:45] RyanCavanaugh commented on #6095
There isn't a way to represent this in the type system today.

[2015-12-14 17:49] nicholashead commented on #5894
Working great here. Thanks for being so fast with a fix! Another test case for the books, eh? :+1:

[2015-12-14 18:15] Mauricio2Code commented on #5549
I'm experiencing the same thing. Using Visual Studio 2013-> TypeScript for MS VS 1.6.3.0 and this is the code that I'm using:
class MessageBus {

    private static _instance: MessageBus = new MessageBus();
..
}

The compiler errors intermittently  with "Build: Property '_instance' does not exist on type 'typeof MessageBus'.

[2015-12-14 18:30] SetTrend commented on #6087
I just moved the `tsconfig.json` file up the hierarchy to be applied only to the `/scripts/` folder, but to no avail: Although the `/node_modules/` folder is now outside the `tsconfig.json`, it's still being considered by TSC.

![typescript compiler fails](https://cloud.githubusercontent.com/assets/9283914/11789848/f3be1c6e-a298-11e5-8c7b-4728653719bd.png)

I wonder how the statement given in #364

[2015-12-14 18:33] RyanCavanaugh commented on #4298
@bbotond90 I believe your question simply boils down to "Why doesn't TypeScript have a runtime type system?", which because a primary goal of the language is to compile to overhead-free JavaScript.

[2015-12-14 18:54] #6072 closed

[2015-12-14 18:55] flyon opened #6101 "Unable to set sourceRoot in tsconfig"
I'm trying to start using tsconfig.json, which works perfectly, except that it does not pick up "sourceRoot", making it impossible for me to debug in the current setup.

My editor (WebStorm) only allows either a compiler command, OR a tsconfig. So right now I cannot switch without support for sourceRoot in tsconfig

[2015-12-14 18:56] am11 commented on #8
@richwatts, generally it should not be problematic but sometimes the configuring uglify is bit unpalatable. I recently had issues with jQuery and some other (non-AMD) plugins in the mix. I was using `gruntfile.js` to produce single minified file. Here is the how the configuration looks like:

*(gruntfile.js in the root of simple 'website' project)*

[code]

*(package.json side by side with grunt.j

[2015-12-14 18:58] bbotond90 commented on #4298
But would this be possible to write ? I mean JavaScript capable to use the instanceof operator. Also the first part of my code is working it doesn't need any cheating with runtime type system. That is a part of JavaScript. The overhead with the empty abstract object that just implements the interface would be nice to hide. I already used it and its working. Just not nice.

The second part is my tr

[2015-12-14 19:16] RyanCavanaugh commented on #4298
Your proposal only allows for the checking of one interface type per class (because the `instanceof` operator checks the prototype chain, and the prototype chain is a chain, not a tree). In which case, there's no need to even have the interface type at all (you could just check for the class type instead).

[2015-12-14 19:18] RyanCavanaugh commented on #2000
@olmobrutall it seems like your use case is better solved by the language service offering refactorings like "implement interface" or offering better completion, not by adding a new keyword to the language.

[2015-12-14 19:44] Artazor commented on #1773
Would be great to see this feature!

[2015-12-14 20:15] paulvanbrenk commented on #6065
Yes, the only version of TypeScript that works with Visual Studio 2015 Update 1 is TypeScript 1.7.

Can you try a repair of Visual Studio?

Do the rest of the TypeScript features work, like colorization in a .ts file and IntelliSense?

[2015-12-14 20:23] rwyborn commented on #2000
Lets not get distracted thou :) Language service features are only a small part of maintaining interface hierarchies in a large code base. By far and away the biggest win is actually getting compile time errors when a class way down in your hierarchy somewhere does not conform. This is why C++ added an optional override keyword (non-breaking change). This is why Typescript should do the same.

Mic

[2015-12-14 20:26] DomenicD commented on #2491
+1

[2015-12-14 20:27] #5961 closed

[2015-12-14 20:36] rodrigogq commented on #4341
I am having the same issue even if the class is used after the other:

BaseClass.ts:
[code]
ChildClass.ts:
[code]

Generates:
[code]
It seems that the order is correct, although it doesn't look like it is working as expected.

[2015-12-14 20:38] Strate commented on #6095
Any plans to future? Maybe some existing issue?

[2015-12-14 20:43] aleksey-bykov opened #6102 "allow a flag that turns off covariant parameters when checking function assignability"
Currently the following flawed code is permitted:

[code]

Thank to the following line: https://github.com/Microsoft/TypeScript/blob/master/src/compiler/checker.ts#L5654

I suggest to give developers a flag that would disable such unsound behavior allowing function subtyping the way it is supposed to be: https://en.wikipedia.org/wiki/Subtyping#Function_types.

An outline of a pull request of how t

[2015-12-14 20:46] NoelAbrahams commented on #8
@richwatts, uglify will not minify private methods.

[2015-12-14 21:00] Artazor commented on #6018
@sandersn Nice work!

However my personal belief is that the constraint for the thisArg should look like

<i>CallSignature:
&nbsp;&nbsp;TypeParameters<sub>opt</sub></i>  <b>ThisArgSpec<sub>opt</sub></b> `(`<i> ParameterList<sub>opt</sub></i> `)`<i> TypeAnnotation<sub>opt</sub>
</i>
<i>ThisArgSpec:
&nbsp;&nbsp;PrimaryType</i> `::`

for example

[code]
or
[code]

and even more

[code]

What do you t

[2015-12-14 21:06] amcdnl commented on #5039
Another work of art for Babel - https://github.com/tleunen/babel-plugin-module-alias

[2015-12-14 21:19] WebReflection commented on #6018
I don't know if it's relevant for this case but regarding having a class with an `onClick` event and non accessible `this`, you might want to know or remember that since about ever you can define instead a `handleEvent` method which will automatically have the right `this`.

[code]

Any `instanceof Handler` will be invoked with the right `this` as long as the event will be set correctly.

[code]

[2015-12-14 21:38] fgalassi commented on #4892
+1

[2015-12-14 21:38] jasonwilliams200OK commented on #8
@NoelAbrahams,

Private visibility is a design-time construct; it is enforced during static type checking but does not imply any runtime enforcement. ... TypeScript enforces encapsulation of implementation in classes at design time (by restricting use of private members), but cannot enforce encapsulation at runtime because all object properties are accessible at runtime. Future versions of JavaScr

[2015-12-14 21:38] DanielRosenwasser commented on #6016
@bpasero we've released 1.7.5. It should be on npm, and I've put out a [release on GitHub](https://github.com/Microsoft/TypeScript/releases/tag/v1.7.5).

[2015-12-14 21:38] Artazor commented on #6018
@WebReflection it is almost impossible to assign the correct type to the expression that involves free-form indirect member access. That is why `obj[arbitraryExpression]` is chosen to be of type `any`. Even with monstrous type system with [dependent types](https://github.com/Microsoft/TypeScript/issues/6018) we hardly could reason about these expressions statically.

I've meant only a syntactical

[2015-12-14 21:47] RyanCavanaugh commented on #6102
I checked out your branch and it has hundreds of warnings in lib.d.ts. It would be good to see a demo branch where this isn't the case.

I cannot see how this would be useful in practice. Consider some normal code:
[code]
This errors in your branch:
[code]
So the user is supposed to write... `scan(<{}[]>[1, 2]);` ? Or something else? It's very confusing that you'd have to write *upcasts* everywher

[2015-12-14 22:05] RyanCavanaugh commented on #4341
@rodrigogq the generated code you posted runs without error. The input code you posted has a compile error because `Base` is not exported from its module and is thus invisible in the second declaration.

[2015-12-14 22:09] ccrabb commented on #5894
1.7.6 on our build server solved problems here as well! Thanks!

[2015-12-14 22:09] aleksey-bykov commented on #6102
Sorry obviously this is a blooper. Let me take a look, closing for now.

[2015-12-14 22:13] ahejlsberg commented on #4053
Fixed in current copy of spec.

[2015-12-14 22:13] #4053 closed

[2015-12-14 22:24] ahejlsberg commented on #5020
Closing this issue until we make a decision on whether to merge #5011.

[2015-12-14 22:24] #5020 closed

[2015-12-14 22:28] RyanCavanaugh commented on #6051
# Notes

[2015-12-14 22:30] RyanCavanaugh commented on #6051
String literals as types become *super dangerous* when porting:
[code]

[code]

[2015-12-14 22:31] RyanCavanaugh commented on #6051
Would save work if we allowed commas between class members

[2015-12-14 22:33] kungfusheep commented on #2000
I have to agree. One pitfall that crops up in our teams is people thinking they've overridden methods when in fact they've slightly mis-typed or extended the wrong class.

Interface changes in a base library when working across many projects is harder than it should be in a language with an agenda like TypeScript.

We have so much great stuff, but then there are oddities like this and no class-lev

[2015-12-14 22:38] RyanCavanaugh commented on #6051
Several big problems in backbone.d.ts

[2015-12-14 22:38] RyanCavanaugh commented on #6051
"Go to def" should work on prototype member of classes

[2015-12-14 22:41] mattdistefano commented on #2709
:+1: for `import myTemplate: string from "./my-template.html"`

[2015-12-14 22:45] NoelAbrahams commented on #8
@jasonwilliams200OK, well yes. I think most people on this forum understand private methods without recourse to a quote.

[2015-12-14 22:57] mironx commented on #17
@mhegazy
Thank your encouragement. I had know this tool and I had afraid bit of configuration - that it could be to complicated.

Thanks your encouragement I the ice has broken up :-) and
I have spend several weeks with webpack and also systemjs.

# What I would like to achieve?
But first what I would describe what I need to achieve.

I would like to create my suite of component which would exists

[2015-12-14 22:59] RyanCavanaugh commented on #6051
Why is this an error?
[code]

[2015-12-14 23:06] aleksey-bykov commented on #6102
Sorry for confusion. A blooper was fixed.

More working code: https://github.com/aleksey-bykov/TypeScript/commit/b5ce252342c26ebef2bde66036e58d6c05b0200b

Lib.d.ts compiles no problem.

Your example [compiles too](https://github.com/aleksey-bykov/basics/blob/master/src/either.ts#L89).

Here is a [real project](https://github.com/aleksey-bykov/basics) that is [taking advantage](https://github.com/a

[2015-12-14 23:17] M-jerez commented on #2630
@mhegazy this is actually a very good documentation it would be great to have a link to it from the official website http://www.typescriptlang.org/Handbook#modules.

I just couldn't find it before (it is appearing in google search now), thanks for pointing it.

[2015-12-14 23:18] DanielRosenwasser opened #6103 "VS freezes up when trying to perform a semantic operation within the first 10 seconds of opening Monaco"
1. Clone VS Code
2. Open a file
3. Try to get quick info
4. VS freezes

[2015-12-14 23:36] WebReflection commented on #6018
if that's the problem you can use a switch statement but if it's about adding listeners, unless the operator goes out the way I've suggested, having `obj::method === obj::method` it's going to be even more impossible to ever remove any listener through the `::` form which is why I've said there are better patterns.

About the `obj[method]` form, the moment you invoke it's clearly a method that sho

[2015-12-14 23:43] vladima commented on #6103
@DanielRosenwasser can you make a dump using [procdump](https://technet.microsoft.com/en-us/sysinternals/dd996900.aspx) at the moment when VS stops responding?

[2015-12-14 23:48] amcdnl commented on #2709
My 2 cents: This seems rather ridiculous that I can't use external modules that don't having typings. I understand the value of typings but i'm not going to go and write typings for every module I use.  It will end up users not using modules they want to use because there aren't TSDs for them. Also, if I were converting a project this would be a NIGHTMARE!

[2015-12-14 23:55] RyanCavanaugh commented on #6102
I don't see what's being accomplished now
[code]

[code]

Same behavior with the initial example you posted

[2015-12-15 00:05] aleksey-bykov commented on #6102
you are right, surprisingly that example does not work, it must be a
different place in the compiler that I have yet to find and fix, which is
confusing because the following example works as expected:

interface A { x: number }
interface B { x: number, y: number }
let copyA: (value: A) => A;
let copyB: (value: B) => B;
copyB = copyA; // works in original, breaks in mine

does it mean that there i

[2015-12-15 00:43] paulvanbrenk commented on #3940
I published a couple of NuGet packages to [https://www.myget.org/users/typescriptteam](the new TypeScript page on MyGet.org).

The following packages are published:
* Microsoft.TypeScript.Compiler, this contains just the compiler
* Microsoft.TypeScript.MSBuild, this contains the MSBuild tasks, target files, and the compiler

Although the version of the packages is 1.7-rc, the components are the 1.

[2015-12-15 00:46] RyanCavanaugh commented on #6051
Had to fix #6029 to unblock myself

[2015-12-15 00:49] aleksey-bykov commented on #6102
you are right, surprisingly that example does not work, it must be a
different place in the compiler that I have yet to find and fix, which is
confusing because the following example works as expected:

[code]

[code]

does it mean that there is more than one place in the checker that does
matching? not sure how these 2 examples are different

any insights would be welcome

[2015-12-15 00:55] RyanCavanaugh commented on #6051
It is *crazy* frustrating to not be able to type an external module import as `any` without doing extra work

[2015-12-15 00:57] RyanCavanaugh commented on #6051
This project sometimes imports things and sometimes doesn't (relying on the global pollution of libraries instead). How can we help users enforce a consistent policy?

[2015-12-15 00:58] DanielRosenwasser commented on #6056
I can't even get this to compile.

[2015-12-15 01:24] JsonFreeman commented on #3523
@aleksey-bykov The "more elaborate type" in your description actually corresponds to "being able to pass less" in @DanielRosenwasser's description. So @DanielRosenwasser is correct that the two signatures should be assignable with respect to the first parameter at least (assuming contravariance).

[2015-12-15 01:26] xielongjiang commented on #6065
@paulvanbrenk
I've tried many times to repair operation, but sorry to tell you, this does not effect. I guess this is after the Visual Studio 2015 RTM has been existing problems.

[2015-12-15 01:47] paulvanbrenk commented on #6049
**Feedback**

Used Visual Studio 2015 Update 1 + TS 1.7.5

1. Created a new TypeScript HTML Application, and included the non-lib files as `.ts` files.
2. Included required definition files.
3. Disabled allow implicit any.

**Remarks**
Definition files on Definitely Typed have a number of errors, both because they were not updated to the latest version of the library, and because of genuine errors

[2015-12-15 02:18] aleksey-bykov commented on #6102
oh crap, you are right, just realized I don't make sense, let me get my shit together

[2015-12-15 02:18] #6102 closed

[2015-12-15 02:22] aleksey-bykov commented on #3523
been giving it an extra though, you both are right, ugh, let me figure out
what I am fighting with

@aleksey-bykov <https://github.com/aleksey-bykov> The "more elaborate type"
in your description actually corresponds to "being able to pass less" in
@DanielRosenwasser <https://github.com/DanielRosenwasser>'s description. So
@DanielRosenwasser <https://github.com/DanielRosenwasser> is correct that
t

[2015-12-15 02:31] rbuckton commented on #6018
I am somewhat concerned about `this` in a parameter list as it could be forwards-incompatible should TC39 some day allow `this` in a parameter list with actual semantics that differ from TypeScript's expectations.

I'd generally prefer some other type-only mechanism for identifying the type of `this` that is easily erased during emit. @Artazor's suggestion has some parity with some variants of the

[2015-12-15 02:37] jeffreymorlan commented on #6102
@aleksey-bykov: the check you actually want is the contravariant one: `isRelatedTo(t, s, reportErrors)`

I tried checking some code with covariant parameters disallowed, and most errors found were `Subtype[]` not being assignable to `Supertype[]`, due to the `.push` method (and similar errors with a few other generic container-ish classes). I think for a --noParameterCovariance flag to be viable w

[2015-12-15 02:42] SaschaNaz commented on #6018
[code]

Just a brainstorming.

[2015-12-15 03:00] RyanCavanaugh commented on #6102
We chatted about this for a while in the team room.

I was hoping to have a sort of Socratic "But what about ..." inspection of this since I know we've argued about it for a long time, but let me relay some points @ahejlsberg raised that might inform your next direction here.

Your premise here is that it should be invalid to assign `(x: Derived) => void` to `(x: Base => void)`, even though `Deriv

[2015-12-15 03:14] SaschaNaz commented on #6095
This may be close but the problem here is the value types of `key1` and `key2` is not `string|number` but `number`.

[code]

[2015-12-15 06:12] Strate commented on #6095
This is not about `string|number`, this is more about keeping object shape replacing types of values. The real-world case is trannsforming object of plain strings to object of complex objects, i.e.:

[code]

This function transforms `{[index: string]: string}` to `{[index: string]: { id: string, defaultMessage: string }}`. I want to keep keys in this case.

I don't know how this can be achieved :)

[2015-12-15 06:13] bpasero commented on #6016
Thanks!

[2015-12-15 07:05] olmobrutall commented on #2000
@RyanCavanaugh true, but the language service could be triggered after writing override, as many languages do, without the keyword is much harder to figure out when is the right moment.

About implement interface, note that most of the methods in the interface are optional and you're meant to override only the few ones you need, not the whole package. You could open a dialog with check boxes but s

[2015-12-15 07:30] kitsonk commented on #6018
@rbuckton I get what you are saying about `this` in the parameter list, though when I first read it, I thought you were just afraid that TC39 would actually do something, though what I think you are trying to express is that, syntactically, the aim is not to play around in the space that is the syntax of JavaScript, especially because it needs to be fully erasable.

I think of trying to align to t

[2015-12-15 07:40] myitcv commented on #6095
@Strate see https://github.com/Microsoft/TypeScript/issues/4967#issuecomment-153810944 for a related question

[2015-12-15 07:53] alanouri commented on #2803
@DanielRosenwasser can you please reopen this issue as it has either regressed or it was never fixed: [TypeScript Playground](http://www.typescriptlang.org/Playground#src=var%20a%20%3D%20%60hello%5Cworld%60%3B%0D%0Avar%20b%20%3D%20%60hello%5C%5Cworld%60%3B%0D%0Avar%20c%20%3D%20%60hello%5C%5C%5Cworld%60%3B%0D%0Avar%20d%20%3D%20%60hello%5C%5C%5C%5Cworld%60%3B%0D%0Aalert(a)%3B%0D%0Aalert(b)%3B%0D%0Aa

[2015-12-15 08:22] DanielRosenwasser commented on #2803
Why do you say there's a regression? The emit is as I've listed above, which is semantically the same.

[2015-12-15 08:26] DanielRosenwasser commented on #2803
Sorry, my comment above is incorrect. The current emit is

[code]

Which is correct. Here's why:

1. `a` should have `"helloworld"` because `\w` just maps to `w`.
2. `b` should have `"hello\\world"` because `\\` needs to keep its escape
3. `c` should have `"hello\\world"` because of the reasons for (1) and (2) combined; namely, `\\` continues to need to be escaped, and since `\w` just maps to `w`,

[2015-12-15 08:27] alanouri commented on #2803
Oh, right, yes, that is correct.  Sorry, I didn't verify the earlier comment and just assumed the behavior was wrong, the the comment.  Please feel free to leave it closed :)

[2015-12-15 08:32] DanielRosenwasser commented on #2803
No worries, every time I look at this issue (or a related one), I find myself saying "That's right - wait, that's wrong - wait, no it's fine." Counting backslashes is annoying. :smile:

[2015-12-15 09:10] GoToLoop commented on #6086
:+1:

[2015-12-15 09:14] PavelAgejkin commented on #5894
Hi,
I tried to install VS 2015 TS 1.7.6 Update on my build machine with no luck.
First I installed https://connect.microsoft.com/VisualStudio/ExtendVS Isolated Shell
Then Installed VS 2015 Update 1
Then trying to install TS 1.7.6 I get "This version of TypeScript requires Visual Studio 2015 Update 1 to be installed"

How can I install TS 1.7.6 on my build machine without installing full version of

[2015-12-15 09:31] DanielRosenwasser commented on #6099
Could you post the code sample that generates the latter example?

[2015-12-15 09:39] DanielRosenwasser commented on #6082
Hmm, I think it was originally desired behavior to not collapse comments. @CyrusNajmabadi, any thoughts?

[2015-12-15 09:40] bbotond90 commented on #4298
You're right. Thank you for the information :)

[2015-12-15 09:51] pocesar commented on #6099
actually, in closer look, the `else` and `else if` are always on the next line, could them be made to the same line? (or even change the way the compiled code is generated, through a configuration like jscs?)

[2015-12-15 11:35] osi-oswald commented on #16
+1
so ugly to write: someVariable && someVariable.someMember
when you could write: someVariable?.someMember

[2015-12-15 11:51] NoelAbrahams commented on #8
The point about private methods is, given the following TypeScript

[code]

We get JavaScript output:

[code]

Running the JavaScript output [through uglify](https://skalman.github.io/UglifyJS-online/) produces:

[code]

This minification is inefficient, because the private method should have been reduced to a single character, say `a` instead of `myPrivateMethod`. Doing so would improve minificat

[2015-12-15 11:51] falsandtru commented on #6090
How about?

[2015-12-15 12:18] maku commented on #16
+1, this would be great.... (most wanted feature for me)

[2015-12-15 12:22] amcdnl commented on #1823
@blakeembrey how many people are going to use a TS project that don't use TS though? I think you should start tspm ;)

[2015-12-15 12:40] 3n-mb opened #6105 "target=e6 with module=commonjs need "use strict" in the output"
tsc -v 1.7.5
When compiling for es6 target, with let, const, etc., and using commonjs module, browser (Chrome) complains about let and co. used outside of "strict mode" zone. Adding "use strict" at the beginning of commonjs module should fix this.

Note:
 - spec for es6, 10.2.1 Strict Mode Code says that "Module code is always strict mode code". This assumes that es6 modules are used, while common

[2015-12-15 12:49] thorn0 commented on #3364
As for now, where can I find a full list of all these helpers?

I use `noEmitHelpers` to substitute `__awaiter` with my own implementation, but also I must know what else I may break with this option.

[2015-12-15 13:05] Artazor commented on #6018
@rbuckton

I think it's rather subjective. I believe that this solution has several advantages

1. It doesn't conflates formal parameters;
2. It doesn't conflates formal type parameters and doesn't violates current restriction: <i>Constraint of a type parameter cannot reference any type parameter from the same type parameter list</i>;
3. It uses type parameter natural order: introduce, then use;
4

[2015-12-15 13:18] pimterry commented on #6015
Any thoughts on this?

Looks clearly incorrect to me, but I can't find a definitive spec on user-defined type guards, which makes it difficult to verify. I'd be very surprised that they're actually intended to differ from built-in type guards in this regard though.

[2015-12-15 13:40] crash-dive commented on #424
I am happy to add this. But I need to know what would be accepted. I was thinking of adding a new type modelled on NodeListOf called HTMLCollectionOf and then adding generic methods for the collection methods. For example I have these in the project I have open at the moment:

[code]

Not an exhaustive list but just an example I have to hand.

Thoughts?

[2015-12-15 13:48] SetTrend commented on #3645
I agree with @Eisenspalter here.

@mhegazy : You wrote you don't want to support `tsconfig.json` file inheritance, thus I'd like to propose the following:
<br/>
#### My proposal

TSC should come with a **new command line parameter**, enabling the following behaviour:

1. The TSC process will browse the project directory for `tsconfig.json` files.
* If no `tsconfig.json` files will be found, TSC pr

[2015-12-15 14:13] shivajiraot commented on #563
+1

[2015-12-15 14:26] mtestrot opened #6106 "The return type of the index in DataTransferItemList (lib.d.ts) should be DataTransferItem and not File"
current Definition:
[code]

should be:
[code]
cf. Spec at https://html.spec.whatwg.org/multipage/interaction.html#datatransferitemlist

[2015-12-15 14:59] aleksey-bykov commented on #6102
To me the most important point you made is that `in` and `out` annotations are a must to be able do it right. I assume they are out of the list of TypeScript features. If so, it's the end of story.

But to nourish this idea a bit more.

I see no reason why `Derived[]` can not be assigned to `Base[]` as long as the set of methods of `Base[]` is shrunken to read only which is a fair thing to ask, is

[2015-12-15 16:10] sandersn commented on #6018
@falsandtru this types are planned to be behind a flag that prevents implicit any. It will not be the default, however, because `this` has defaulted to any in too much existing code.

@jeffreymorlan the syntax distinction does solve the problem nicely. It's a bit subtle but it might be needed in this case just to be usable. I'm afraid the syntax distinction would end up in tons of posts like "12 S

[2015-12-15 17:20] dbaeumer opened #6107 "Grammar checking errors should be reported during binding phases instead of type-checking phase"
_From @StrongRef on December 15, 2015 9:32_

When declaring an octal literal, an error is shown.
![error1](https://cloud.githubusercontent.com/assets/16247609/11806897/601b9f94-a316-11e5-901c-d3a59257fb5f.png)

However, if another error is introduced, the error for octal literal usage is omitted.
![error2](https://cloud.githubusercontent.com/assets/16247609/11806917/7d572592-a316-11e5-8913-9faa08d

[2015-12-15 17:20] dbaeumer commented on #6107
This is the tsserver. Moving to TS.

[2015-12-15 18:22] blakeembrey commented on #1823
@amcdnl I think I missed some context, but you're joking about creating a TypeScript package manager so we can skip the JavaScript publishing? I think your first question is my point, most peoples main audience is still non-TS users. Anyway, not a fun idea - that'll take a long time to build, even though I got a bit of experience building `typings` now :wink:

[2015-12-15 18:27] mjohnsonengr commented on #2388
:+1: this would be really awesome to have.

[2015-12-15 18:49] DanielRosenwasser commented on #6105
Hey @3n-mb, this seems to be a duplicate of #3576. You give our nightlies a try by installing `npm install -g typescript@next` and seeing the new behavior there.

[2015-12-15 18:49] #6105 closed

[2015-12-15 18:50] aere-github commented on #16
+1, it's a good idea!
Only, if the object is complicated, the expression will be full of ?. after each property (var result=myValue?.a?.b?.c?.d?.e;) when I need to recieve a value of the last one (var result=?myValue.a.b.c.d.e;).

[2015-12-15 19:35] Gambero81 commented on #6082
As done for vsdoc comments it would be very nice to collapse comments when user choose "Collapse to definition", because this feature allow read all functions signs in a compact way, viewing comment preview on collapsed comment is also a very good feature for read short comments.. please reply the behaviour of c# vsdoc comments :-)
Thanks

[2015-12-15 19:41] paulvanbrenk commented on #5894
The build tools for VS 2013 and VS 2015 are identical, so for your build server installing the VS 2013 bits should be sufficient.

You may have to copy the files from:

`C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\TypeScript`

to

`C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v12.0\TypeScript`

We'll make sure any future installers work as expected.

[2015-12-15 19:51] amcdnl commented on #1823
@blakeembrey Yes, I was joking! I think it doesn't really matter whether ur a TS user or not, u want to take advantage of the rich JS community.

Side note: I was able to get this working w/ ts-node but breakpoints are never hit in my IDE ( VSCode ).

[2015-12-15 20:37] DanielRosenwasser opened #6108 "Incorrect parsing for comma-separated interface/type literal properties with no type annotation"
The following snippets should be equivalent:

[code]

[code]

![image](https://cloud.githubusercontent.com/assets/972891/11823305/292f9b72-a328-11e5-8b18-b9a7a1f6bf9d.png)

![image](https://cloud.githubusercontent.com/assets/972891/11823326/3cf6a3c6-a328-11e5-97e4-1d704c528ed2.png)

[2015-12-15 20:38] DanielRosenwasser commented on #6097
@guybedford is this something that TypeScript users are supposed to use directly? I'm not familiar with the intended usage here.

[2015-12-15 20:48] DanielRosenwasser commented on #6015
The thing is that user-defined type guards are "weaker" than `typeof` guards given that an implementation might use `instanceof` in some way. `instanceof` type guards have to be weaker because narrowing a value's type from `any` to `Object` limits what you can do with it. Clearly this gives you a not-so-great experience when you try to work with primitives.

@ahejlsberg and I have discussed this o

[2015-12-15 20:49] DanielRosenwasser commented on #6015
If anyone is considering sending a PR for this, give a heads up here so we don't duplicate work. :smiley:

[2015-12-15 20:53] paulvanbrenk commented on #6065
Where did you install TS 1.7.4 from?

[2015-12-15 21:20] SetTrend opened #6109 "Proposal: Support for multiple tsconfig.json per project"
Referencing #3645:
<br/>
I agree with @Eisenspalter: Multiple tsconfig files are indispensable for large enterprise apps.

@mhegazy : As you wrote you don't want to support `tsconfig.json` file inheritance, I'd like to propose the following:
<br/>
#### My proposal

TSC should come with a **new command line parameter**, enabling the following behaviour:

1. The TSC process will browse the project d

[2015-12-15 21:26] DanielRosenwasser commented on #6094
I've answered on http://stackoverflow.com/a/34299582/4386952.

In general, it seems strange that the library authors disregarded the implementation - but that's the thing. We require all derived signatures to be compatible in an ambient class even if a library author is doing shenanigans, and we should discuss whether that should be the case.

[2015-12-15 21:34] DanielRosenwasser commented on #6099
Sorry, that's probably better served by another external tool, like a JS pretty printer.

[2015-12-15 21:34] #6099 closed

[2015-12-15 21:35] DanielRosenwasser commented on #6101
@flyon does `sourceRoot` get respected by `tsc` on its own? Which version of the TypeScript compiler are you running?

[2015-12-15 21:39] DanielRosenwasser commented on #6090
I'm not clear on what that chart is supposed to tell users and why it would be significant to a TypeScript user. Can you elaborate a little bit?

[2015-12-15 21:40] rbuckton commented on #3364
Right now, the only full list is in src/compiler/emitter.ts. We've been discussing releasing a separate script/library with all of our emit helpers.

If I may ask, what was the reason you chose to use your own implementation of __awaiter? Is there something deficient with the current implementation?

[2015-12-15 21:43] falsandtru commented on #6090
What should I do?

[2015-12-15 22:53] dotDeeka opened #6110 "Default property values of child Class overriding values set by parent Class' constructor"
In my application I have a series of model classes and they all extend the same base class. The BaseClass has a constructor implemented that when given a key value map will set the values of that map on the class.

Something like:
base-class.ts
[code]

Where my problem comes in is when extending the base class, If I define any default values for properties in the child class they will always overr

[2015-12-15 23:35] RyanCavanaugh commented on #6110
See #1617

[2015-12-15 23:35] #6110 closed

[2015-12-15 23:40] thorn0 commented on #3364
I'm experimenting with performance optimizations for Angular 1.x apps.

Angular 1.x has two implementations of promises with different behaviour: $q and $$q. They both are compatible with Promises/A+ and (mostly) with ES6. The difference is in how they schedule the execution of their callbacks. As for $q, the callbacks are executed during Angular's digest cycle. $$q works like normal ES6 promises.

[2015-12-16 00:15] vladima commented on #6103
this looks like a consequence of https://github.com/dotnet/roslyn/issues/7403, so resolving it as external

[2015-12-16 00:15] #6103 closed

[2015-12-16 00:33] DanielRosenwasser commented on #6056
My Ubuntu VM is blank-screening on me. =/

[2015-12-16 00:49] rbuckton commented on #3364
IIRC, in Angular 1.x you get $q and $$q via dependency injection, and there is no Promise available globally or via a module import. You could always try:

[code]

For an async function, the return type annotation must be both a *type* and a *value* in the same scope. By creating a type alias for $q and $$q, you *should* be able to switch between them. I haven't tested this yet as I'm not terribly

[2015-12-16 01:03] dotDeeka commented on #6110
Thanks. Sorry for the dupe.

[2015-12-16 01:29] thorn0 commented on #3364
Yes, this magic works. :sparkles: Is it documented?

That's how I initialize `Promise`, `$q` and `$$q` globals now:
[code]

[2015-12-16 01:33] sandersn commented on #6053
Cute clicker is a clicker game that focuses on complex mechanics. I couldn't find anything that automates the clicking either. Fortunately I didn't have to understand how it worked in order to port to typescript. In two days I was able to port the whole thing, including compiling without implicit any and adding decent d.ts for the two that were missing from definitely typed. At the end of the seco

[2015-12-16 02:22] cuterajat26 opened #6112 "Proposal: Support for optional chaining as in Swift"
Proposal to implement forced and optional unwrapping in Typescript to avoid boilerplate null checking code.This is a feature in Apple's swift language and very helpful in following clean code practices.

Reference -https://developer.apple.com/library/mac/documentation/Swift/Conceptual/Swift_Programming_Language/OptionalChaining.html

[2015-12-16 03:37] diegohb commented on #4581
not sure if this is the same bug or a new one but i have the following and it crashes visual studio as I start to type the extending type/interface.

`interface IFruit<T extends IFruit> { ... }`

[2015-12-16 04:46] xielongjiang commented on #6065
@paulvanbrenk  http://www.typescriptlang.org/

[2015-12-16 05:50] DanielRosenwasser commented on #6112
Thanks for filing, but this is a duplicate of #16.

[2015-12-16 05:50] #6112 closed

[2015-12-16 06:07] DanielRosenwasser commented on #4581
@diegohb I don't think so; where are you typing that you see that issue? If you need to record it, you can try http://screentogif.codeplex.com/.

[2015-12-16 06:25] #6096 closed

[2015-12-16 06:44] cyj100 commented on #6065
I have this error too.
I using latest typescript and visual studio 2015 update1.
I want and AMD, but now I can't.

[2015-12-16 07:59] nova-qiang commented on #6065
I have the error, maybe it is caused by chinese resource file?

[2015-12-16 09:12] DanielRosenwasser commented on #6096
Thanks @crash-dive!

[2015-12-16 09:27] DanielRosenwasser commented on #6087
You can feed options into `tsc` when you use `tsc --init`.

Unfortunately not as of present, though @paulvanbrenk might want a heads up on that.

I'm not entirely certain; `rootDir` will inform the directory structure to use when using `outDir`. While it would make sense to inform the compilation scope here, I think it would be ideal to keep the behavior simple.

______

As a follow up, let me jus

[2015-12-16 09:58] alvivi commented on #2388
Right now I am using type coercion to avoid falling into a pyramid of doom, so +1.

[2015-12-16 10:31] guybedford commented on #6097
Yes this is a user API, for use cases like for relative dynamic loading:

[code]

[2015-12-16 11:23] stroborobo commented on #1226
So this issue is not really about writing the compiled output to stdout anymore, that was fixed by #5454. This is about making it nice to use, so reading from stdin, writing errors to stderr and accepting `-` shortcuts, is that right?

[2015-12-16 11:34] knuton commented on #2655
Maybe I am missing something, but the easiest solution that should make everybody happy seems to be always emitting

[code]

for member access instead of

[code]

which solves the issue with Closure Compiler, and also allows for a uniform emit pattern not only for member creation, but also for member access.

[2015-12-16 11:55] tinganho opened #6113 "__awaiter is not defined"
Was there something changed recently on the `async/await` for typescript? I'm using `typescript@next` to compile my project.

With below version it works fine:
[code]

But for this version it doesn't:
[code]

I got a runtime error:
[code]

And in my code I have a bunch of object literals that has async functions:
[code]

I'm targetting es6. Though I cannot produce a self-contained test. Even thoug

[2015-12-16 12:00] raregrass opened #6114 "Find a way to suppress the errors generated by importing modules"
I need to use some external modules without .d.ts files, but, I do not want to use the corresponding third party .d.ts files. Please tell me how to just suppress the errors - "Cannot find the module ...", thinks.

[2015-12-16 13:01] bbotond90 commented on #4298
I am just curious, what do you think about this code. So IF I create abstract classes instead of interfaces I got the proper behavior that I want. Why can't I do the same with Interfaces ?
Also the c Object can see B and A as a parent but not "notA" class.

Or am I wrong again?
[Click here to see generated the code on typescriptlang.org](http://www.typescriptlang.org/Playground#src=abstract%20clas

[2015-12-16 13:02] bbotond90 commented on #4298
Or should I open a new issue ?

[2015-12-16 13:28] thorn0 commented on #3364
@rbuckton After playing with this for a while, I have a bit of feedback about using TypeScript's async/await with Angular. I think it's not relevant for the current issue, so where should I write it instead?

[2015-12-16 14:26] xmehaut opened #6115 "Transferring props in TSX"
Hello,
There is a very useful syntactic feature of React JSX which misses in typescript react, ie the ability to transfer props to chlidren:
[code]
(https://facebook.github.io/react/docs/transferring-props.html)

Could it be possible to add it?
regards

[2015-12-16 14:50] bryanmig commented on #16
+1 - This is arguably one of the greatest features of CoffeeScript and is by far my team's most desired TypeScript feature after converting much of our code from CS to TS.

[2015-12-16 15:14] adidahiya commented on #6115
This is called JSX spread and it is supported by TypeScript...

[2015-12-16 15:24] sebastien commented on #1226
That would be a nice addition, given that it's standard practice in UNIX . So yes, `-` should be aliased to `stdin` for input and `stdout` for output.

[2015-12-16 15:25] xmehaut commented on #6115
normally yes, but with 'this.props' an error is indicated

[2015-12-16 15:43] waynejuckts commented on #1479
+1

[2015-12-16 17:02] adidahiya commented on #6115
I think this is fixed in the latest version of eclipse-typescript, but if not, please file an issue on the project here: https://github.com/palantir/eclipse-typescript

[2015-12-16 17:41] billti commented on #6052
The conversion went well. You can see the changes at https://github.com/billti/bee-app/commits/ts-migration. Below is a brief overview of the timeline, and my general process and experience.

### Adding the basic infrastructure
 - I am completely new to Ionic, and not that familiar with Angular1, so ramp up and understanding the project before any changes was a non-trivial task.
 - As all the sour

[2015-12-16 17:51] jbrosi commented on #2655
@knuton You're right, this would compile correctly (in terms of compatibility to closure compiler), but breaks Code completion for most IDEs :). So I'd still prefer the suggested output of typescript to be directly compatible with closure compiler while having the code completion features and stuff.

[2015-12-16 18:06] kenhowardpdx commented on #6005
At this point I'm not able to get the client's approval to release the code for debugging.

I did find this (http://stackoverflow.com/questions/31409941/visual-studio-typescript-out-of-stack-space) and wonder if my problem is related to the `let` keyword as I've been using it more frequently.

I still get the error, but can put up with it for now.

[2015-12-16 18:10] knuton commented on #2655
@jbrosi Where do you want code completion? In the emitted JavaScript?

My suggestion is not for *you* to write `ResourceType["STRING"]`, but for the TypeScript compiler to recognize whatever you write (probably one of `ResourceType["STRING"]`/`ResourceType.STRING`) as an enum member access and produce `ResourceType["STRING"]` in the generated JavaScript.

Doesn't change anything about your input.

[2015-12-16 18:17] ahejlsberg commented on #539
I'm going to close this as Won't Fix. This is ultimately an implementation detail of the .d.ts emitter and not something that is part of the language.

[2015-12-16 18:17] #539 closed

[2015-12-16 18:44] DanielRosenwasser commented on #6113
@rbuckton any clue?

[2015-12-16 18:50] DanielRosenwasser commented on #6113
@tinganho looks like you have a typo - did you mean

[code]

I get an awaiter here.

[2015-12-16 18:52] Think7 commented on #6018
Disclaimer: I am not sure if this adds to the discussion or is about the same thing. i may have missed the point entirely. I apologize in advance it this is the case!

The below example DOES work as expected though despite the TS compiler complaining about it. The idea here is for the compiler to know that Person.fromData() returns a Person instance rather than an any or Base instance.

[code]

Er

[2015-12-16 19:15] yuit opened #6116 ""use strict" should be emitted after triple slash references"
currently we emit
[code]

Thought triple-slash reference has no particular meaning in js. It is desirable to emit it correctly as a good example.

[2015-12-16 19:15] yuit opened #6117 "We should error when triple-slash reference is not top of the file"
we should error in this case
[code]

[2015-12-16 19:29] yuit commented on #6079
Here is another example of annoying autocompletion:
[code]

[2015-12-16 19:38] ahejlsberg commented on #540
This is covered in 11.3.6 in the current spec.

[2015-12-16 19:38] #540 closed

[2015-12-16 19:57] danquirk commented on #6117
See https://github.com/Microsoft/TypeScript/issues/1920

[2015-12-16 19:57] #6117 closed

[2015-12-16 20:07] billti commented on #6087
I'm not sure I'm fully following. Are you able to provide the project so I can load it up and see what is happening first hand? Is this only a problem if the `rootDir` option is provided?

If interested, I just got a skeleton ASP.NET 5 RC with Angular2 Beta solution running VS2015. I uploaded it to https://github.com/billti/ASPNET5-with-Angular2 . Take a look and see if anything in here helps in t

[2015-12-16 20:10] falsandtru commented on #6079
Another:

[code]

Please add to fixes.

[2015-12-16 20:11] CyrusNajmabadi commented on #6082
The current behavior is to not collapse comments.  But we've been talking on Roslyn if we should have a collapse-comments command.  Or some other way to get comments out of the view so that you can focus on the code.  No plans as of yet though.

[2015-12-16 20:14] sandersn commented on #6018
@Think7, you're working with the classes' `this` type, which is already in Typescript. It's not related to specifying `this` inside a function body.

[2015-12-16 20:19] paulvanbrenk commented on #6109
What you describe is something a build engine can/should provide and not something the compiler provides. I'm working on making sure MSBuild does what you describe, and you should see that in the 1.8 timeframe.

[2015-12-16 20:19] #6109 closed

[2015-12-16 20:20] sandersn commented on #6051
1+ for commas between class members.

[2015-12-16 20:25] jbrosi commented on #2655
@knuton ah sorry, I indeed missunderstood. If the compiler would emit it like you suggest everything would be fine :)!

[2015-12-16 20:37] olmobrutall commented on #3192
My two cents while this gets approved:

Not that you can pretend this feature like this.

[code]

The benefit is that then your API is better documented, asking for an `OrderType` instead of a dirty string.

The problem is that you need to repeat the identifier for the common case when declaring.

Also, when using it, you have to cast from `string` -> `any` -> `OrdeType`:

[code]

[2015-12-16 20:41] rbuckton commented on #6113
@tinganho I am also unable to reproduce this issue. We recently fixed an issue where __awaiter was added to the top of every file following a file with an async function, even when those files did not contain an async function. Could it be that the file in question does not have a valid async function?

[2015-12-16 20:52] Gambero81 commented on #6082
I see @CyrusNajmabadi, but can't understand the advantages of current behaviour compared to vsdoc comment behaviour (collapsible with comment preview on collapsed line), hope in a change!
Thanks

[2015-12-16 20:58] ENikS opened #6119 "Code Generation using Annotation Processors (JSR 269)"
I would like to propose a feature:
It would be extremely nice if TypeScript compiler allowed code generation and annotation processing similar to JSR 269.

Code in TS relies on runtime reflection for everything. If some of the analysis done at compile time and properly statically linked code generated, it would have huge performance increase during run time.
For example of successful implementatio

[2015-12-16 21:01] DanielRosenwasser commented on #6082
Because the command right now is "Collapse to Definitions"; not necessarily "Collapse Comments". What one person thinks is desirable, another might feel the opposite about.

So @CyrusNajmabadi, there's no Roslyn issue open for this at all?

[2015-12-16 21:16] lazutkin commented on #6109
@paulvanbrenk I'm voting for this job to be done by compiler but not by an external tool like MSBuild, since:
- MSBuild tool must support all environments that tsc does (linux, osx etc)
- it is common to build/compile files during deployment process, and MSBuild (or any other tool) will complicate deployment at whole
- devs will have to juggle with another one tool and handle version compatibility

[2015-12-16 21:28] ahejlsberg commented on #6116
The issue basically is that triple slash references are ignored after the first token in a file, so emitting `"use string"` before triple slash references silently causes the references to have no effect.

[2015-12-16 21:50] CyrusNajmabadi commented on #6082
Not that I know of.

[2015-12-16 22:00] tinganho commented on #6113
@rbuckton I think they are correctly defined. There are no compile errors though.

I think I narrowed down the root cause. The one file that is not including an `__awaiter` on the top has some circular dependencies. At least, when I remove the circular dependency the `__awaiter` comes back.

[2015-12-16 22:02] paulvanbrenk commented on #6109
These tools (i.e. grunt/gulp/msbuild) are already in wide use, and used for deployment, minification, etc. They are perfectly situated for figuring out where the `tsconfig.json` files live, managing dependencies, invoking process across multiple cores, machines, handle incremental compilation.

[2015-12-16 22:25] DanielRosenwasser commented on #6079
We need to show a builder in all of these locations.

@falsandtru in the future, can you file a separate issue when you find these problems?

[2015-12-16 22:27] DanielRosenwasser commented on #6079
Any fix should consider JSX as well.

[2015-12-16 22:37] DanielRosenwasser opened #6120 "Fourslash tests which loop over every range should assert the presence of a non-empty list of ranges"

[2015-12-16 22:46] lazutkin commented on #6109
I use grunt/gulp in my day-by-day work and I don't happy with them (especially when working with big projects with multiple submodules). I've opened #3645 not because these tools are perfect and I see problems that I would like to be handled by compiler.

@paulvanbrenk There is a real-world usecase when we want to deploy a codebase into platform like Heroku, so my question is: _will MSbuild allows

[2015-12-16 22:54] DanielRosenwasser commented on #6097
Spoke offline with @vladima about this and this seems reasonable, but to support this automatically, we'd have to specially support a hard-coded `__moduleName` in the type system, which we'd need to discuss.

The more-likely workaround is that that users would need to define an uninitialized `var`-scoped variable named `__moduleName` like so:

[code]

Given that, I'm going to say we should wait on

[2015-12-16 23:02] falsandtru commented on #6079
I will separate these my three cases if you want. Please pick up buggy cases.

[2015-12-16 23:25] DanielRosenwasser commented on #3192
Here's a way you'll be able to emulate string enums in `typescript@next`. Taking a modified version of Esprima's `Syntax` object:

[code]

![image](https://cloud.githubusercontent.com/assets/972891/11854189/1a3ab12c-a3f7-11e5-9e27-2fba97ffe226.png)

(@ariya)

The problem is that you can't do something like the following:

[code]

[2015-12-16 23:42] vladima commented on #6025
this behavior is by design: [exported names](https://tc39.github.io/ecma262/#sec-exports-static-semantics-exportednames) for `export default ClassDeclaration` include only `default`.

[2015-12-16 23:42] #6025 closed

[2015-12-16 23:53] aeisenberg opened #6121 "tsc cannot resolve the node temp module"
I am trying to use [node temp](https://github.com/bruce/node-temp/), but tsc is not finding the module. When I use this module in a raw javascript project, I have no problems.

I am attaching a very simple project that illustrates the problem. To reproduce:

1. `npm install temp`
2. create `file.ts` in same location with the following contents: `import temp = require('temp');`
4. `tsc --module com

[2015-12-17 00:10] paulvanbrenk commented on #6109
As I said `tsc.exe` is not a general purpose build tool; other tools like Grunt/Gulp/MSBuild are designed for that purpose. Trying to bolt that functionality on the TypeScript compiler will result in duplicate work, and wasted effort which will not add value to most users.

If you're un-happy with Grunt/Gulp/MSBuild you should file bugs on those projects, so they can be improved for all users not

[2015-12-17 00:17] g162h3 commented on #6063
@vladima, perhaps the event log has something, but since the crashing is probably the least significant issue, I wouldn't spend much time on it at the moment.

5
Another curious problem is intrusive line breaks. The moment I type `;` in this code, vs2015 inserts a line break before `}` (obviously, the line break is inserted in such a way, that the indentation for the next line is dropped):

[code]

[2015-12-17 00:25] #6115 closed

[2015-12-17 00:28] cyj100 commented on #6065
Every computer here have the error.
so "LanguageServices" give the clue.

[2015-12-17 00:35] DanielRosenwasser commented on #6025
To clarify, this was confusing because *ExportedBindings* is distinct from *ExportedNames*.

[2015-12-17 00:36] DanielRosenwasser commented on #6023
By design for reasons explained in #6025.

[2015-12-17 00:36] #6023 closed

[2015-12-17 00:48] unional commented on #3788
@rwyborn are you giving this a try?  I would suggest instead of `JSX.createElement(...)`, it is better named as `JSX.compose(...)` so it would be more generic. Not all `jsx` compose to a DOM/VirtualDOM element.
They simply convert to a compilation target that can be understand by the respective framework.

[2015-12-17 00:50] thorn0 opened #6122 "Getting Promise implementation for async methods from a property of the current class"
As per @rbuckton in #3364:

It's nice as it allows using any compatible Promise implementation. However, it requires that this implementation should be assigned to a variable in the scope. Unfortunately, this doesn't always work well with AngularJS (Angular 1.x), whose approach discourages globals in favour of dependency injection for the sake of testability. Consider this code of an AngularJS con

[2015-12-17 00:51] DanielRosenwasser commented on #6114
Would the ideas in #2709 be a suitable way of dealing with this? Something like:

[code]

[2015-12-17 00:51] paulvanbrenk commented on #6065
Trying to reproduce, but can you try the 1.7.6 version from here [0]. Note: this does require Visual Studio 2015 Update 1.

[0] https://www.microsoft.com/en-us/download/details.aspx?id=48593

[2015-12-17 01:04] paulvanbrenk commented on #6049
I migrated the files one at a time initially

After enabling no implicit any, you're forced to complete all files, and the number of errors can be overwhelming.

[2015-12-17 01:07] DanielRosenwasser commented on #6121
You'll need to declare the structure of the `"temp"` module with a `.d.ts` file.

As a workaround, you can also just write something like the following:

[code]

[2015-12-17 01:11] aeisenberg commented on #6121
Hmmm...it works if I use `var` instead of `import`. Why is that?

[2015-12-17 01:17] nova-qiang commented on #6065
@paulvanbrenk thanks for your suggestion, but the error is still not solved.

[2015-12-17 01:29] DanielRosenwasser commented on #6121
My understanding is that when TypeScript originally did imports, we had AMD and CommonJS. It's not entirely clear when you're using one and not the other, and users often want to target both, so `import temp = require("temp")` was created as a specialized syntax.

As a side note, I'm working on a definition for you right now since this seems to be a simple-enough module to type. :smiley:

[2015-12-17 01:36] raregrass commented on #6114
Yes, I will go there for seeking the answer, thinks for your help!
BTW, I think the idea below is good and doesn't need to change any grammar in current project. It's more friendly for developers because sometimes someone maybe want to suppress a special kind of error for debugging and there isn't, maybe I have not noticed, any way to achieve this. Please consider this proposal.

{
      ignoreRul

[2015-12-17 01:40] falsandtru opened #6123 "Annoying autocompletions of Generics"
Press enter key:

[code]

expected:

[code]

actual:

[code]

[2015-12-17 02:01] xielongjiang commented on #6065
@paulvanbrenk I try to use you to download address.but the error is still not solved.

[2015-12-17 02:12] DanielRosenwasser commented on #6121
@aeisenberg can you check out https://github.com/DefinitelyTyped/DefinitelyTyped/pull/7234 and tell me if that type definition looks okay?

[2015-12-17 02:54] AbraaoAlves commented on #2214
+1

[2015-12-17 02:55] plantain-00 commented on #3192
[code]
Like this, you can get a type, and tips when typing from `responseType`.

[2015-12-17 03:50] basarat commented on #3960
Updated @RyanCavanaugh's example to be be something you can copy paste :rose:

[code]

[2015-12-17 04:42] DanielRosenwasser commented on #3192
When doing that, the `json` property has type `"json" | "others"` if that's fine with you.

[2015-12-17 04:43] basarat commented on #3960
Note: For whatever reason (not debugging it right now) `type` falls over if you use modules and import. `interface` still works:

[code]

[2015-12-17 04:43] DanielRosenwasser commented on #6123
That happens to be a combination of auto-formatting on the enter key even though a completion list was present.

[2015-12-17 04:55] DanielRosenwasser opened #6124 "Name of default export should not appear in import completion lists"
Named default exports don't export a named declaration with the original name, so we shouldn't show that name in the list.

* `file1.ts

[code]

* `file2.ts`

[code]

Request completion at `/**/`

Expected: `x` and `default`<sup>[1]</sup> appears in list
Actual: `x` and `C` appear in list.

<sup>[1]</sup> Yes, `default` is valid; an *ImportSpecifier* can have an *IdentifierName* on the left of the

[2015-12-17 04:58] DanielRosenwasser commented on #6114
Sure, that's another issue as well (#4094). I'm going to close this as a duplicate of those issues.

[2015-12-17 04:58] #6114 closed

[2015-12-17 05:02] DanielRosenwasser commented on #6005
Hey @kenhowardpdx, sorry about the delay, Mohamed's out for this week. Is it at all possible to use Node in the mean time to avoid the error?

[2015-12-17 05:11] aeisenberg commented on #6121
Commented on the commit. Looks great to me.

So, when using commonjs, are we better off using `var` or `import`? We had been using import, but it seems like there's a problem with that.

[2015-12-17 05:13] tinganho commented on #6113
@rbuckton @DanielRosenwasser I could produce a self contained test now:

`a.ts`:
[code]
`b.ts`
[code]
`shell:`
[code]

`output of a.js`:
[code]

No, `__awaiter` on `a.js`.

[2015-12-17 05:18] kenhowardpdx commented on #6005
Yeah. It's working fine from the command line. Just annoying that AppVeyor needs to be watched and PR's need to get rebuilt frequently.

[2015-12-17 06:08] falsandtru opened #6125 "Unsafe type mismatch of destructuring assignment"
A following valid destructuring assignment always occurs a TypeError.

[code]

**Destructuring assignment should constrain type declarations.**

[code]

Destructuring assignments violate a following type constraint.

[code]

**Destructuring assignments have a own implicit type but TypeScript breaks it type improperly.**

[2015-12-17 06:19] isiahmeadows commented on #5453
If I understand correctly, this would actually solve the mixin story in TypeScript. Am I correct in this understanding?

[2015-12-17 06:44] derekcicerone commented on #6115
@adidahiya Is this fixed in a newer version of TypeScript? The Eclipse plugin has no special functionality for JSX...

[2015-12-17 06:48] falsandtru opened #6126 "No completion builder present after a '('"
Input `:` key.

[code]

expected:

[code]

actual:

[code]

Divides #6079.

[2015-12-17 06:53] falsandtru opened #6127 "Completion fails to find subsequent declaration in incomplete ternary"
[code]

Divides #6079.

[2015-12-17 07:18] SaschaNaz commented on #6094
@DanielRosenwasser It helps me a lot, thanks! :+1:

My thought:

[code]

[2015-12-17 07:21] xmehaut commented on #6115
mea culpa :(
It actually works... What I did it was to port a javascript code into typescript... but I forgot that typescript makes a types checking even on the {...this.props} statement, i.e. the props hich have to be destructured into the component are checked to see if the attributes are compatible to the one the component accepts.... What was accepted in javascript, was not anymore in typescri

[2015-12-17 07:36] PLEEROCK commented on #2919
+1 for mixins

[2015-12-17 07:53] isiahmeadows commented on #3960
Is there any practical reason why [my 1-token lookahead](https://github.com/Microsoft/TypeScript/issues/3960#issuecomment-132192858) wouldn't be feasible? (JS already requires a whole potential expression of lookahead with async arrow functions, [which are implemented already when targeting ES6](https://github.com/Microsoft/TypeScript/pull/5231).)

[2015-12-17 08:02] DanielRosenwasser commented on #6127
Specifically, you will only see this if you have one ternary at a time. In other words, this works:

[code]

and this does not work:

[code]

I think this is actually due to the parse error where we expect a `:`, and then assume we must have a function expression in the false branch. Since a function expression doesn't create a binding in the rest of the function, it won't show up in your completi

[2015-12-17 08:22] DanielRosenwasser commented on #6121
Alright, so my definitions for the `temp` library have gone in. Here's what you should do from here:

1. Install `tsd` by running `npm install tsd`
2. Use `tsd` to grab the type definitions by running `tsd install temp --save`
3. Add `typings/tsd.d.ts` to the list of files you're compiling.
4. Use `import * as temp from "temp";`

Let me explain each of these so I'm not just pushing you into a dark

[2015-12-17 08:43] DanielRosenwasser commented on #6113
Confirmed; `b.js` is getting an awaiter, but not `a.js`.

[2015-12-17 09:02] Think7 commented on #5863
The size and shape of my boat is quite similar! Ahoy!

A factory method in a superclass returns new instances of its subclasses. The functionality of my code works but requires me to cast the return type:

[code]

[2015-12-17 09:11] lazutkin commented on #6109
In this issue tracker we discuss a feature that I and other people want to be a part of `tsc`. MSBuild like any other tool may evolve separately, and I would be happy to know that there are tools that provide some kind of solution. But since TS is getting better and more teams start to use it in their daily work support for subprojects becomes more indispensable.

It is ok to use Grunt/Gulp/MSBuil

[2015-12-17 09:44] guybedford commented on #6097
Thanks for the feedback. A user-level declaration like that sounds fine to me.

[2015-12-17 09:58] samvloeberghs commented on #1375
good job! was looking for this :)

[2015-12-17 09:58] Dynalon opened #6128 "Destructuring of Array argument in arrow function requires parentheses"
I don't know if this is a bug, a feature request or not possible to implement at all, but it would be nice if destructuring of a single array argument in an arrow function would work without the parentheses.

A real-world code example taken from dealing with angular promises:
[code]
Tested locally with TS 1.7.5. (update: fixed signature of IPromise interface)

[2015-12-17 10:46] falsandtru commented on #6127
Sorry for my poor English. Thanks for your fix.

[2015-12-17 11:05] SetTrend commented on #6087
Yes, it looks like the error still appears after having set the "exclude" config setting.

Here's a link to the respository: https://github.com/SetTrend/AspNet.Security.OpenIdConnect.Samples

The actual project I'm working with within this solution is @ "...\samples\Multiple Projects Sample\Clients\AngularClient\"

[2015-12-17 11:19] SetTrend commented on #6109
I agree with lazutkin:

Two examples:
* ".gitignore" is interpreted intrinsically by *git*, not by gulp/grunt/MSBuild.
* "web.config" is interpreted intrinsically by ASP.NET, not by gulp/grunt/MSBuild

Extracting the management of `tsconfig.json` files out of TSC adds unnecessary configuration overhead to the project, because while TSC is browsing the files/directories anyway and is able to interp

[2015-12-17 11:27] SetTrend commented on #6109
May I add that this thread is being closed a bit too quickly for my liking.

We are not trolling around here but discussing a constructive improvement to the project. If I remember right, the term "Open Source" implicates active participation. That's what's actually happening here.

[2015-12-17 11:55] falsandtru commented on #6128
It would be a es6 specification.

Destructuring declaration is not BindingIdentifier.

BindingIdentifier[?Yield]
CoverParenthesizedExpressionAndArrowParameterList[?Yield]

http://www.ecma-international.org/ecma-262/6.0/#sec-arrow-function-definitions

    someArray.map(([x,y]) => x+y) // OK

http://www.2ality.com/2015/01/es6-destructuring.html

[2015-12-17 12:41] crobi opened #6131 "Implicit conversion of number to const enum"
The following code compiles, even though variable `n` obviously is assigned value that is incompatible with its type.

[code]

Is there any reason why the compiler allows an implicit conversion of numbers to const enums?

An instance of a base class cannot be implicitly converted to an instance of a derived class. I would have expected the same for const enums and numbers (all const enum values "a

[2015-12-17 13:09] Brooooooklyn opened #6132 "Missing class name when use decorator"
[code]

It works. *But*
[code]
these code is ok when compile target was `ES5`, but missing class name when target was `ES6`

[2015-12-17 15:06] ahejlsberg commented on #6131
It's to allow patterns such as `n = n + 1`. We actually take the view that all numbers *are* enum values, but that one enum value is not assignable to another enum value. In other words, numbers and enums freely implicitly convert to each other, but different enums do not.

It is obviously possible to construct stricter views of enum types, but those stricter views also often force you to write ty

[2015-12-17 15:38] aeisenberg commented on #6121
Makes sense. Thanks for your help. Using it now. It's still a bit confusing on how many different ways there are to import modules. But this is probably not the proper forum to ask the question. I'll get a stackoverflow question together about this.

[2015-12-17 16:08] fzzzt opened #6133 "Question about type parameter assignment error with inheritance"
I have something like this:
[code]

I get these errors in VS 2015:

[code]

This is using TSX in VS with `tsc` 1.7.5. Using the `as` operator doesn't help. It would seem that this should work but it isn't realizing that Table ultimately does implement Foo and should be able to be cast to that, or maybe my assumption is invalid, or maybe the generic piece in the middle is causing a problem. Is it p

[2015-12-17 16:30] sandersn commented on #5453
Maybe. Can you give an example? I'm not fluent with mixin patterns.

[2015-12-17 16:53] pspeter3 opened #6134 "Is there a defined order for AMD modules in a single file?"
For example, is it guaranteed that all dependencies will appear before a file?

[2015-12-17 17:21] h82258652 commented on #6065
same problem with 1.7.6 version.
maybe missing some resources?

[2015-12-17 17:22] ahejlsberg commented on #6133
You're passing the `MyTable` *constructor function* to a function that expects a `MyTable` *instance*. You need to write:

[code]

Or, if you actually intend to pass the constructor function, you need to write something like:

[code]

[2015-12-17 17:22] #6133 closed

[2015-12-17 17:44] Kurtz1993 opened #6135 "noImplicitAny is detecting an error in lib.d.ts"
Yesterday I was compiling a new version of ionic-minify module and added the noImplicitAny flag. It showed an error in lib.d.ts

[2015-12-17 17:48] Kurtz1993 commented on #6135
[code]

[2015-12-17 18:07] DanielRosenwasser commented on #6135
Could you specify what declaration it errored on? We haven't seen this at all.

[2015-12-17 18:10] DanielRosenwasser commented on #6121
Yup, StackOverflow and our [Gitter channel](https://gitter.im/Microsoft/TypeScript) are usually better venues for this sort of thing.

Modules are a surprisingly subtle in JS, and it's pretty common to discover how when starting with TypeScript. We're in the process of trying to add more documentation on it (https://github.com/Microsoft/TypeScript-Handbook).

[2015-12-17 18:10] #6121 closed

[2015-12-17 18:26] paulvanbrenk commented on #6109
@lazutkin gulp/grunt etc work great in non-windows systems.

@SetTrend I guess we disagree on the scope of the project, but as clearly stated in bullet 4 of the [https://github.com/Microsoft/TypeScript/wiki/TypeScript-Design-Goals#non-goals](Non-goals):

This is not something we're interested in providing, since many tools exist that are either capable of exactly the functionality wanted, or can b

[2015-12-17 18:34] DanielRosenwasser commented on #6128
Yup; to elaborate, you were expecting a *BindingPattern*. See http://tc39.github.io/ecma262/#prod-CoverParenthesizedExpressionAndArrowParameterList.

[2015-12-17 18:34] #6128 closed

[2015-12-17 18:37] DanielRosenwasser commented on #6127
It's fine, I knew what you meant, I was just changing the title so whoever works on this knows exactly what the problem is. :smile:

[2015-12-17 19:39] falsandtru commented on #1809
Great. I want to use this type in TS1.8.

[2015-12-17 19:59] mindplay-dk commented on #3788
Very good point.

[2015-12-17 20:07] Arnavion opened #6137 "Why do multiple ES6 imports compile to multiple requires / define() deps with suffixed names?"
I didn't find any existing issue for this, but why does

[code]

compile to

[code]

instead of

[code]

and similar for cjs output? The latter is how one would write the JS, and does away with the `_1` `_2` names as well.

---

Of course in this example they can be combined. My original code has a mix of import-from and export-from.

[code]

I *could* change that to

[code]

but even a single imp

[2015-12-17 20:13] falsandtru opened #6138 "Method type declarations violate a es6 specification"
[code]
1. Methods cannot call with `new` keyword.
2. Methods must not have a `prototype` property.

Class declarations also have same problems.

[code]

http://www.ecma-international.org/ecma-262/6.0/

[2015-12-17 20:22] DanielRosenwasser commented on #6138
It says functions created for get/set accessors, which these functions aren't, so it's not clear that this is actually a problem.

[2015-12-17 21:03] paulvanbrenk commented on #6065
I have a repro and a fix, I'll let you know when we'll be able to patch this.

[2015-12-17 21:42] DanielRosenwasser commented on #6137
I think we'd be willing to take a pull request on this one. Any implementers should be careful to test the case where one import is elided but the other is not.

[2015-12-17 22:23] SetTrend commented on #6109
I tend to agree on that we disagree on the scope on the project.

To me it looks like you seem to consider the TSC transpiler reacting to a *single* configuration file a compiler matter while reacting to *multiple* configuration being an external build configuration.

I cannot share this point of view. To me it's like a hen allowed to only lay one single egg during its life but not to lay many egg

[2015-12-17 22:59] paulvanbrenk commented on #6109
What you're proposing is more like a hen laying another hen, in addition to an egg...

[2015-12-17 23:02] paulvanbrenk commented on #5894
Closing this since it's been resolved and verified.

[2015-12-17 23:02] #5894 closed

[2015-12-17 23:20] vitrilo commented on #3192
@olmobrutall thanks for perfect workaround! Well serialized/deserialized, apart from unreadable numeric enums inside json.
Below working even in v1.4:

      enum OrderType { Ascending = <any>"Ascending", Descending = <any>"Descending" }

[2015-12-18 00:15] falsandtru commented on #6138
I could not find a just said section about this behavior. This spec is a closest explanation about this behavior. I thought this is spec because there is this behavior in chrome and firefox. But edge has not this behavior. Sorry, now I cannot know that which implementation reflects a spec.

[2015-12-18 00:28] Kurtz1993 commented on #6135
I'm closing this issue since it seems that my TypeScript installation was corrupted, I reinstalled the typescript module and it doesn't complain anymore.
I'm using tsc with Ubuntu 14.04.4 LTS with Visual Studio Code (latest)

[2015-12-18 00:28] #6135 closed

[2015-12-18 00:31] #1748 closed

[2015-12-18 00:39] eliorcohen opened #6139 "Function parameters with default value is not compiled properly to node environment"
Hi,

i'm working on a node project and i recently modified my project to support the new feature of async/await :+1: .
as part of the modification i'v change the target to ES6 and added "strict mode" on the headers.

now i'm getting an error from node when trying to execute the project because of a compile error.
the exception is thrown while node try to parse a function that has a defined paramet

[2015-12-18 00:50] vladima commented on #6139
have you tried `--harmony-default-parameters`? (https://github.com/nodejs/node/issues/3070)

[2015-12-18 01:08] DanielRosenwasser commented on #6135
Awesome, glad it's working correctly.

[2015-12-18 01:11] DanielRosenwasser commented on #6138
That's the fun of it though! :smile:

[2015-12-18 01:11] DanielRosenwasser commented on #6138
@bterlson any clue what this section corresponds to specifically?

[2015-12-18 01:17] vladima commented on #6125
I'm not sure that I'm following you here. In all cases that you claim as illegal you've explicitly stated that properties are optional so compiler does not try to enforce their presence. I.e.
[code]
if optionality is removed then compiler will error since some fields on the left hand side are optional when they should be required

[2015-12-18 01:18] DanielRosenwasser commented on #943
This should be fixed for TypeScript 1.8.

[2015-12-18 01:18] DanielRosenwasser commented on #4180
This should be fixed for TypeScript 1.8.

[2015-12-18 01:19] #4180 closed

[2015-12-18 01:23] vladima commented on #6138
spec is clear (at least regarding to prototype) and TypeScript should be more strict:
[DefineMethod](https://tc39.github.io/ecma262/#sec-runtime-semantics-definemethod) accepts optional parameter `functionPrototype` that is not passed during [PropertyDefinitionEvaluation](https://tc39.github.io/ecma262/#sec-method-definitions-runtime-semantics-propertydefinitionevaluation)

[2015-12-18 01:24] isiahmeadows commented on #3192
@DanielRosenwasser I would generally prefer to use const numeric enums where possible (a JS-to-ESTree AST parser couldn't for spec reasons) for that just for memory and performance reasons (both reduced for free). But I could see merit in a string enum to hold error messages like what [jshint uses](https://github.com/jshint/jshint/blob/master/src/messages.js).

[2015-12-18 01:34] falsandtru commented on #6138
I checked v8 and spidermonkey bug tracker but it seems has not reports about this implementation. As a spec, I also agree with @vladima . Edge seems has correct implementations.

[2015-12-18 01:46] DanielRosenwasser commented on #6138
A fix will need a way to propagate this information along with the signature or type. I think this also would be a breaking change.

[2015-12-18 01:48] #6125 closed

[2015-12-18 02:05] DanielRosenwasser commented on #5659
Oof. Specifically, the errors are:

[code]

Luckily we're removing restrictions on specialized signatures.

[2015-12-18 02:06] DanielRosenwasser commented on #5659
Actually, something is making this consider itself a specialized signature, so I'm going to fix this first.

[2015-12-18 02:16] DanielRosenwasser opened #6143 "Consider removing special checks for specialized signatures with other overloads"
Specialized signatures needing to be compatible with an overload was an artificial requirement due to issues in #943. Now that we've fixed that, we should consider what we're going to do with this rule.

Could we remove it wholesale? That would potentially be a breaking change, but it seems like good one. Basically, the situations you'd run into this would be where you have something like the foll

[2015-12-18 02:39] falsandtru commented on #6125
I think, implicit type of `({x: {y}} = o)` should be `:{x: {y}} = {}`, not `:{x?: {y?}} = {}`.

[code]

[2015-12-18 03:36] #943 closed

[2015-12-18 04:02] DanielRosenwasser commented on #6125
Why would that be an error, but not the following?

[code]

[2015-12-18 04:05] yortus commented on #6139
@eliorcohen you are using `target:ES6` so tsc emits the `statusCode = 0` default parameter into the JavaScript, but V8 doesn't support default parameters yet (unless using special flags as @vladima suggests), so you get a runtime error.

This is an example of the granular targeting problems discussed in #4692, e.g. see https://github.com/Microsoft/TypeScript/issues/4692#issuecomment-160789493

If

[2015-12-18 04:18] #6029 closed

[2015-12-18 04:18] RyanCavanaugh commented on #6029
Fix should be in next nightly build

[2015-12-18 04:30] DanielRosenwasser commented on #6122
You mean being able to write the following?

[code]

[2015-12-18 05:52] #4686 closed

[2015-12-18 05:53] #6038 closed

[2015-12-18 05:54] #5441 closed

[2015-12-18 06:01] falsandtru commented on #6125
Because type of destructuring assignment should not be an optional.

Your code example will be an error but right because it accepted by an explicit type.

[code]

But it does not have my suggested problem.

[code]

If destructuring assignment has a implicit type, it will be a not optional type because a following code always throw TypeError. Destructuring assignment requires the accessibility of

[2015-12-18 06:46] Gambero81 commented on #3192
@olmobrutall @DanielRosenwasser @vitrilo there workaround are good but a good feature of string enum should be to inlining string const enum without emit js as done with standard const enum, unfortunally for this porpouse all these workaround doesn't work

[2015-12-18 06:56] olmobrutall commented on #3192
@Gambero81, of course having native support from the language will be the best solution, simplifying the declaration (no repetition for the simple cases), and the usage (no casting).

About const enums, we already have the syntax and the concept for normal enums, it will make sense just to extrapolate the same concepts for string enums.

[code]

[2015-12-18 08:06] falsandtru commented on #6125
These are a same processing:

[code]

[code]

`f` function does not accept the implicit type cast of own parameter type because `f` function does not work if anyone cast own parameter type. But destructuring assignment accept the implicit(not explicit) type cast of own type for the acceptance of right-hand type, and it occurs an error. **An explicit type declaration of destructuring assignment era

[2015-12-18 09:10] salihkesepara commented on #5445
test

[2015-12-18 09:46] jrieken opened #6145 "Go To Symbol (Ctrl+Shift+O) doesn't pick up on prototype methods"
_From @KrofDrakula on December 17, 2015 18:13_

It seems that the code editor only scans for symbols with named functions, not functions assigned to variables, which makes the following code not have any symbols to go to, except for the constructor:

[code]

## Expected behavior

The Go To Symbol command should find the `myMethod` function symbol instead of just `A` in the dropdown list.

## Curre

[2015-12-18 09:46] jrieken commented on #6145
_From @egamma on December 18, 2015 7:47_

@jrieken fyi

[2015-12-18 09:46] jrieken commented on #6145
Will move to TypeScript since they to the math for us.

[2015-12-18 11:27] xmehaut opened #6147 "Mixins use problem with React"
Hello,

I'm trying to use mixins with React. The compiler tells me that I try to reefined as property some features which are functions... Here is the code :
[code]

with classGenerator
[code]
any clue?

[2015-12-18 12:16] SetTrend commented on #6109
OK, I think arguments have been exchanged sufficiently now. I'm excited to see the outcome of v1.8. And we'll see then.

I don't believe it makes any more sense now to discuss unhatched eggs :wink:

[2015-12-18 12:18] coderfox opened #6148 "Working with async/await and bluebird"
I know TypeScript recently adds `async/await` keyword, which is of great use to program async codes. And I use `Bluebird` instead of the built-in `Promise` object since it has useful utilities like `.promisifyAll()`, `.spread()` and so on. However, I found it unable to use `Bluebird` instead of the built-in `Promise` with async functions.

I have ignored the errors created related to bluebird defi

[2015-12-18 12:18] coderfox commented on #9
:+1:

[2015-12-18 12:28] dsebastien commented on #6012
+1, this is really pushing me to consider letting go of JSPM :(

[2015-12-18 12:32] coderfox commented on #9
:+1:

I would suggest that Extension is only useful for telling the compiler there is an existing member for the existing class, so the code:

[code]

could be just compiled to:

[code]

but such Extension is of great use to intellisense.

[2015-12-18 12:40] phiresky commented on #4362
My use case is the following:
[code]
Declaration works fine, but it can't be used because (I think) of the above problem.

[2015-12-18 13:23] thorn0 commented on #6122
I don't think a new syntax is needed. Now when the TypeScript compiler sees this:
[code]
it looks for the variable `$q`. I propose that it should look first for the property `$q` within the current class, and then for the variable if the property isn't found. *Not* having a special syntax for this would, in particular, allow omitting the type declaration if `$q` is assigned to the property `Promis

[2015-12-18 13:23] xmehaut commented on #6147
(...)
I succeded in implementing the behavior I wanted as follow, but it is not very convenient :-(
[code]

[2015-12-18 13:45] alexandrudima commented on #1748
@mhegazy @sandersn Thank you!! :heart:

[2015-12-18 15:42] aleksey-bykov commented on #5453
Can we leave the case of a type parameter identifier up to the developer?

[2015-12-18 15:50] aleksey-bykov opened #6149 "unreachable code detection for switch cases out of range of string literal types"
[code]

[2015-12-18 15:58] aleksey-bykov opened #6150 "unreachable code detection for default case in switches with exhausted cases based on a string literal type"
[code]

[2015-12-18 16:18] aleksey-bykov opened #6151 "allow constants for string literals types"
[code]

[2015-12-18 16:25] aleksey-bykov commented on #6002
gonna close this one until get some evidence

[2015-12-18 16:25] #6002 closed

[2015-12-18 16:49] fredpalmer opened #6152 "New Website Logo: Artist Growth"
Please fill the following out:

- Name: Artist Growth
- Homepage url: https://artistgrowth.com/

- Brand Guidelines/Licensing: (or anything we need to know before using your logo)
- Logo: (svg if possible, pngs over 500x200px with transparent backgrounds are also acceptable)
![primary-mark-space](https://cloud.githubusercontent.com/assets/32422/11902012/95372ce2-a574-11e5-86b9-b5d6a5fe9d56.png)

[2015-12-18 16:55] speigg opened #6153 "const enum should allow "Infinity" as a valid name"
[code]

[2015-12-18 17:00] RyanCavanaugh commented on #6153
This is intentional because `Infinity` is also a valid enum *value*; we disallow any name that might be a value because the lookup object only works if no names are values and no values are names.

Recommended fix is to just use `Infinite` instead of `Infinity`

[2015-12-18 17:01] RyanCavanaugh commented on #6150
The code you have there *does* reach the `default` label...

[2015-12-18 17:02] RyanCavanaugh commented on #6149
This is somewhat surprising -- we should be issuing an error that `boom` isn't assignable to `'hey'|'nay'`. @DanielRosenwasser what's your take?

[2015-12-18 17:02] speigg commented on #6153
What is the lookup object exactly? Using the name `Infinity` as a property key is completely valid in javascript by the way.

[2015-12-18 17:04] RyanCavanaugh commented on #6151
We can't do this since it would be a breaking change -- `vow` has not previously introduced an entry in the type namespace, so doing so now would mean random types would start getting shadowed.

`typeof vow` should do what you want here (if we made `const`s be of their string literal type  @DanielRosenwasser please confirm?).

[2015-12-18 17:05] RyanCavanaugh commented on #6153
I missed that this enum was `const`. We don't need to enforce this rule for those.

[2015-12-18 17:06] RyanCavanaugh commented on #6153
(Lookup object, see http://stackoverflow.com/a/28818850/1704166)

[2015-12-18 17:13] RyanCavanaugh opened #6154 "Remove restriction of properties overriding prototype methods"
We currently enforce this rule:

[code]

This breaks two real scenarios:
- You can't declare 'foo' as a property and then mix it in later (#6147)
- You need to implement `foo` as an arrow function because you have some unbound callers that your base class didn't

The reverse case is important to continue to enforce, but no one can remember why we have this rule.

[2015-12-18 17:13] RyanCavanaugh commented on #6147
Looks like you found a good workaround. Tracking the root cause here with #6154

[2015-12-18 17:13] #6147 closed

[2015-12-18 17:14] speigg commented on #6153
Not enforcing that rule for `const` sounds great.

[2015-12-18 17:19] RyanCavanaugh commented on #4362
Fixed in nightly build

[2015-12-18 17:19] #4362 closed

[2015-12-18 17:31] RyanCavanaugh commented on #3788
A comment from #6146 I'd like people to weigh in on
----
How does this look?

[code]
 * `--jsx preserve`
   * `let x = <Foo />;`
 * `--jsx react`
   * `let x = React.createElement(Foo);`
 * `--jsx react --reactNamespace rt`
   * `let x = rt.createElement(Foo);`
 * `--jsx make`
    * `let x = make(Foo);`

[2015-12-18 17:34] xmehaut commented on #6147
Thanks , nevertheless, when i try to use a component which is defined by
this method, the compiler indicates thats the Props must be an Object
type... even if it compiles a working code...

regards

2015-12-18 18:15 GMT+01:00 Ryan Cavanaugh <notifications@github.com>:

[2015-12-18 17:41] vladima commented on #6150
btw, this is similar to why F# compiler does not consider match over all cases of enum as exaustive: rule cannot be enforced in runtime
[code]

[2015-12-18 17:41] RyanCavanaugh commented on #6147
Are you using TypeScript from the nightly build (`npm install typescript@next`) ? The issue should be fixed there

[2015-12-18 17:44] eliorcohen commented on #6139
i have added the --harmony-default-parameters flag to the run command, and it's seems to work, thanks @vladima .

this is not the desired solution from my perspective, but will work for now, hoping until i finish the project the feature will not needed to be flag with harmony, i don't know if there is any more limitations..

i'm fully supporting the idea in #4692 that by @weswigham to enable/disab

[2015-12-18 17:44] #6139 closed

[2015-12-18 17:46] xmehaut commented on #6147
not yet, because I use an IDE which is not yet updated for this purpose
(but palantir will do it normally soon)... It will be valuable, beacuse I
need literal strings too :)   (I would like also to use the ability to
compile javascript too, but I don't see how to use the allowJS feature)

regards

2015-12-18 18:43 GMT+01:00 Ryan Cavanaugh <notifications@github.com>:

[2015-12-18 17:57] aleksey-bykov commented on #6151
in the expression context `typeof vow` gets me `"string"`
in the type expression context it gets me "will never change", but it's a **type** which I cannot assign to a variable

[2015-12-18 18:03] aleksey-bykov commented on #6150
Enlighten me please, how come it does? Can't see any typos.

Provided a value of foo (by contract) cannot be anything other than `'hey'` or '`nay`' and we are not falling through.

[2015-12-18 18:09] DanielRosenwasser commented on #6151
Like @RyanCavanaugh said, in order to do `typeof vow`, you'd need #5796. That said, I don't know if that PR will go in. The behavior isn't entirely ideal because it's not clear when you want the literal type and not `string`.

[2015-12-18 18:14] RyanCavanaugh commented on #6150
I'm not sure if you're trolling us on nullability or not?
![image](https://cloud.githubusercontent.com/assets/6685088/11903662/c24bf2e4-a56f-11e5-8d02-56e94d0e5dfd.png)

The "unreachable code" rule is only for code that is *provably* unreachable. You could easily be writing code like this:

[code]

[2015-12-18 18:14] #6150 closed

[2015-12-18 18:19] aleksey-bykov commented on #6150
wasn't trolling you sorry, i never use undefined or type assertions myself, so to me this piece of code is rock solid

[2015-12-18 18:27] aleksey-bykov opened #6155 "consider allowing exhaustive switch statement"
[code]

[2015-12-18 18:31] aleksey-bykov commented on #6155
(it's up to the developer to take the responsibility for possible contract violations at runtime)

[2015-12-18 18:31] billti commented on #6063
VSCode uses the TypeScript engine for JavaScript files, whereas VS2015 uses an entirely different engine for JavaScript files. If you are seeing similar behavior in both with regards to auto formatting and indenting that you dislike, then it may well be "by design" rather than a bug (else it seems quite a coincidence it behavior identically in the two different codebases).

The goal is that going

[2015-12-18 18:32] weswigham commented on #6155
The `default` branch in your example can be triggered when `value` is `undefined` or `null` as both `let value : foo = null;` and `let value : foo = undefined;` are valid for type `foo`.

[2015-12-18 18:35] aleksey-bykov commented on #6155
let's
- either require them explicitly too
[code]
- or leave it up to the developer whether or not to guard the switch
[code]

[2015-12-18 18:45] miqmago opened #6156 "Bug: Exporting boolean variable gets exported twice when checked with `if (myVar) { ...`"
Don't understand why this code:

[code]

Transpiles to this one, which in fact makes DEBUG to be true at the end! (tried also with `export const DEBUG: boolean = false;` with exactly the same result)

[code]

And this one:

[code]

Transpiles to this one which is the correct one:

[code]

Here are my typescript options (gulp-typescript):

[code]

[2015-12-18 18:57] unional commented on #3788
A comment from #6146:

Apparently I don't know where should I add my comment to. :p

[2015-12-18 19:18] Arnavion commented on #6051
This bit someone in the IRC channel today in a slightly different way. They had something like `class Scope { keyword: "" }; scope.keyword = someArray.join(",");`, got `Type string is not assignable to type '""'` and couldn't understand why a string couldn't be assigned to a string. They worked around it by changing it to `keyword: any;` but of course their real intention was `keyword = "";`

The

[2015-12-18 19:44] ctaggart commented on #1789
This would be great to see! It would be nice to get contacts at Oracle to see if they still [plan on open sourcing](https://blogs.oracle.com/nashorn/entry/nashorn_performance_work_in_the) their Nashorn TypeScript. Otherwise, Apigee's [rowboat](https://github.com/apigee/rowboat) project is set to use Nashorn instead of Rhino for the JavaScript Engine like [trireme](https://github.com/apigee/trireme

[2015-12-18 19:56] jhp opened #6158 "Simple encoding of sum types causes strange error"
The following code fails with some bizarre errors, like "Maybe is not callable," in typescript 1.7.5.

(see below for updated code, this version had a bug)

[2015-12-18 19:58] #6156 closed

[2015-12-18 19:59] vladima commented on #6156
@miqmago thanks for reporting this, fix should be availabled in today's nightly build (`typescript@next` on npm)

[2015-12-18 20:00] jhp commented on #6158
fail.ts(25,12): error TS2322: Type 'boolean' is not assignable to type 'Maybe<{ out<Z>(ft: (t: T) => Z, fs: (s: S) => Z): Z; }>'.
      Property 't' is missing in type 'Boolean'.
    fail.ts(25,20): error TS2348: Value of type 'typeof Maybe' is not callable. Did you mean to include 'new'?
    fail.ts(27,47): error TS2322: Type 'Maybe<{ out<Z>(ft: (t: S) => Z, fs: (s: {}) => Z): Z; }>' is not assig

[2015-12-18 20:01] EToreo commented on #2341
+1

[2015-12-18 20:01] jhp commented on #6158
my mistake

[2015-12-18 20:10] jhp commented on #6158
I think my code is correct now, the problem is still present.

    function just<T>(t: T) {
        return new Maybe(t) }

    function nothing<T>() { return new Maybe<T>() }

    class Maybe<T> {
        private t: T
        constructor(t: T = null) { this.t = t }
        fmap<U>(fn: (t:T) => U) : Maybe<U> {
            if(this.t === null) {
                return nothing<U>() }
            else

[2015-12-18 20:12] Arnavion commented on #6158
The error about boolean is because you have unmatched `<>` in the `v.out` line. Fixed code is at http://www.typescriptlang.org/Playground#src=function%20just%3CT%3E(t%3A%20T)%20%7B%0A%20%20%20%20return%20new%20Maybe(t)%0A%7D%0A%0Afunction%20nothing%3CT%3E()%20%7B%20return%20new%20Maybe%3CT%3E()%20%7D%0A%0Aclass%20Maybe%3CT%3E%20%7B%0A%20%20%20%20private%20t%3A%20T%0A%20%20%20%20constructor(t%3A%20

[2015-12-18 20:14] angelozerr commented on #1789
Just for your information, I have implemented [ternjs server](http://ternjs.net/) to consume it in Java context with [tern.java](https://github.com/angelozerr/tern.java) with several JavaScript engine (node.js, [J2V8](https://github.com/eclipsesource/J2V8), Nashorm and Rhino) and the performance is not very good with Nashorn (I have not benchamrk, but when I consume ternjs with Nashorm (like open

[2015-12-18 20:16] jhp commented on #6158
Oy, right you are.

[2015-12-18 20:16] #6158 closed

[2015-12-18 20:37] miqmago commented on #6156
Thanks :+1:

[2015-12-18 21:22] jeremyalan commented on #2537
This issue appears to be happening again in v1.7.5... it works fine in v1.7.3.

Should this be reported on a new issue?

[2015-12-18 21:36] DanielRosenwasser commented on #6149
`"boom"` is a `string`, and `"hey" | "nay"` are assignable to `string`s, so you can check against the two.

We could contextually type `case` expressions, but how exactly is this different from `(<foo>undefined) === "boom"`? We'd need a proposal to catch this.

[2015-12-18 21:40] aleksey-bykov commented on #6149
In this case `"boom"` isn't just a string (expression), but a string **literal** which we can immediately match against known cases, don't we?

[2015-12-18 21:42] aleksey-bykov opened #6159 "why is expression an optional property in the CaseClause?"
[code]

comparing to the JavaScript [spec](http://www.ecma-international.org/ecma-262/5.1/#sec-12.11)

[2015-12-18 21:54] aleksey-bykov commented on #6155
slippery moment here is that the `undefined` is just a variable, not a literal, but hey, why would you want to mess with it? anyway the emitter can take care of it:

[code]

TypeScript should stop this nonsense and straiten things up by proclaiming `undefined` a **literal** and thus prevent it from being assigned. How is that?

[2015-12-18 21:57] aleksey-bykov commented on #6155
On top of that please admit that `Undefined` is a real type that can be referenced as well as `Null` for goodness sake. It's never a good idea to depart from what the real world is (I mean JavaScript here) by trying to model it using wrong entities (void type in TypeScript).

[2015-12-18 22:05] falsandtru opened #6160 "Generic function types cannot merge using union types"
[code]

[code]

[2015-12-18 22:05] ctaggart commented on #1789
Thanks @angelozerr! Looking at the J2V8 docs, it looks similar to [Edge.js](https://github.com/tjanczuk/edge), but for Java instead of .NET. I think that will work.

[2015-12-18 22:08] DanielRosenwasser commented on #6159
Nice catch @aleksey-bykov, I just sent out #6161.

[2015-12-18 22:11] aleksey-bykov commented on #6159
Just learning from the best.

[2015-12-18 22:21] ToddThomson opened #6162 "function and inside var with same name"
if I have:
[code]
The resulting SourceFile AST nodes are confusing me: the "var someNumber = 6" is a variable statement, variable declaration list, variable declaration, which is fine, but the symbol flags for the identifier, someNumber indicate that the variable is a function scoped variable rather than a block scoped variable. Any help would be appreciated!

[2015-12-18 22:24] sandersn commented on #6162
Are you talking about the `someNumber` that's part of the `var someNumber`? Wouldn't you expect it to be function-scoped since `var` is function-scoped?

[2015-12-18 22:30] weswigham commented on #6160
This is by design, apparently. We have this comment in the [related code](https://github.com/Microsoft/TypeScript/blob/master/src/compiler/checker.ts#L3493):
[code]

However, I'm not sure if we have good spec/test coverage for this, and I think attempting quick info on the function call in [this example](http://www.typescriptlang.org/Playground#src=type%20call1%20%3D%20%7B%0A%20%20%3CT%3E(a%3A%20T

[2015-12-18 22:30] RyanCavanaugh commented on #6155
This is already the case in strict mode.

As for the null and undefined types, I think we want to keep their names "off limits" until we address nullability as a real language feature and understand the desired semantics there.

[2015-12-18 22:34] jeremyalan commented on #2537
This appears to be broken again in 1.7... it appears to be working fine in 1.6.

Should this be reported as a new issue?

[2015-12-18 22:35] falsandtru commented on #6160
Shall I change this issue to a proposal?

[2015-12-18 22:36] RyanCavanaugh commented on #6162
This code doesn't parse?

[2015-12-18 22:37] ToddThomson commented on #6162
@sandersn Yes, if the var is changed to a let then the someNumber identifier symbol flags indicate a block scoped variable. lt is clear now - long day.

[2015-12-18 22:39] falsandtru commented on #6160
Please change this issue title if you need.

[2015-12-18 22:44] ToddThomson commented on #6162
@RyanCavanaugh Sorry Ryan, the above example parses correctly ( after edit of 'function' to 'public' above ).

[2015-12-18 22:44] #6162 closed

[2015-12-18 22:44] vladima commented on #2537
Can you please share a repro code since I cannot reproduce this issue locally?
This is what I got using the latest bits from master:
[code]

Looks like an expected output to me.