[2015-09-28 07:16] DanielRosenwasser commented on #4997
We're glad you gave us a shot! We always love hearing positive experiences, so thanks for the personal note. :smiley:

[2015-09-28 07:24] JsonFreeman commented on #4045
You could use "A class member cannot have *the* '{0}' modifier"

[2015-09-28 07:28] DanielRosenwasser commented on #4045
Or specifically for the 'var' case, "A class member cannot have the '{0}' keyword."

Does that still work?

[2015-09-28 07:41] Zorgatone commented on #229
+1

[2015-09-28 07:42] Zorgatone commented on #3694
+1

[2015-09-28 07:42] Zorgatone commented on #1985
+1

[2015-09-28 07:44] heycalmdown commented on #247
Okay, I got it. Your repositories look like a kind of a good example.

[2015-09-28 08:00] Zorgatone opened #4999 "Adding functions to Class Prototype should check type of this"
I usually write class method implementations after the class declaration, to separate the code.
In order to do that, I define the method using the prototype property of the class. However I can't get type checking on the `this` variable.

[code]

I have to use a workaround for this (that) to statically type it. But I think the compiler should be able to guess the type of `this` on its own. Also if

[2015-09-28 08:05] JsonFreeman commented on #4045
Yes I think so.

[2015-09-28 08:09] Zorgatone commented on #9
:+1:

[2015-09-28 08:23] kitsonk commented on #4999
Dupe of #3694 and being implemented in #4910 in the next release of TypeScript.

[2015-09-28 08:32] Zorgatone commented on #4999
Also the compiled JavaScript catches the wrong `_this` (global window instead of the class), when using the fat arrow function

[2015-09-28 08:58] Arnavion commented on #4999
The fat arrow is working as designed. Fat arrow functions capture lexical this, so if the code in your post is running in global context `this` inside the function will be the global variable. You should use regular functions for that.

For example, try this in babel or any runtime with compliant arrow functions:

[code]

[2015-09-28 09:32] Zorgatone commented on #4999
I know that already. I was describing my proposal to allow that syntax to work, when adding to `A.prototype`

[2015-09-28 10:08] icefapper commented on #4953
@DanielRosenwasser thanks a lot :)

[2015-09-28 10:39] alirezatc opened #5000 "Ama Vira Kian"
Please fill the following out:

- Name: Ama Vira Kian
- Homepage url: http://amasystem.ir
- Brand Guidelines/Licensing: http://amasystem.ir
- Logo: http://amasystem.ir/Assets/Image/ama-vira-logo-b.png

[2015-09-28 10:52] ylemoigne commented on #557
Great ! thanks @weswigham .

[2015-09-28 11:11] AGiorgetti opened #5001 "Visual Studio Edit & Continue: missing sourcemap reference in .js file if editing while debugging"
In my web application project I have the following flags enabled:
Web - 'Enable Edit & Continue.
TypeScript - Compile on Save.
TypeScript Generate Source maps.

I can run and debug a TypeScript file correctly, but if - while still debugging - I edit a TypeScript file and save it, I loose the ability to see the breakpoints.

The .js file will be updated with the modifications I made to the TypeScri

[2015-09-28 11:19] ylemoigne commented on #557
Ho no... Sorry, it still not good.

It works for one file only. As soon as I have a second file and I want it to contribute to the same module, I can't use `import` twice with same identifier in the `app.tsx`

[2015-09-28 12:55] weswigham commented on #557
Namespace merging is not a feature you can use with external modules. Instead of using namespaces to create a group of methods, use a file instead. For example, assume I have a foo.ts and a bar.ts:
[code]
[code]
If I want to access both of those through one object, I can create a third file, api.ts:
[code]
And now I can `import * as api from "./api" ` to get a single object with all the exported m

[2015-09-28 14:13] mylesmegyesi commented on #4976
Wow! Thanks all!

One question about the code example, what is the first parameter (`rootFiles`) to the `compile` function used for?

[2015-09-28 15:00] vilic commented on #3340
@zhengbli Not on the playground.

[2015-09-28 15:51] vladima commented on #4976
@mylesmegyesi this is the set of source files to be compiled. I've renamed them in the sample, sorry for confusion.

[2015-09-28 16:25] Arnavion commented on #4999
That proposal would not be accepted, since it breaks ES semantics of how arrow functions behave.

[2015-09-28 17:18] zhengbli commented on #3340
@vilic I don't think the playground has the most up-to-date bit. Here is what I tried on VS with the master branch:
![gif](https://cloud.githubusercontent.com/assets/1171301/10142887/372c3e38-65ca-11e5-9c99-e83b5289c6a1.gif)

[2015-09-28 17:32] alexeagle commented on #4669
+1 angular has been wishing for this as well:
https://github.com/angular/angular/blob/a88e6f31063ac3abb439f93cbbc3a46c065f7614/modules/angular2/src/core/compiler/element_ref.ts#L60
cc @tbosch

[2015-09-28 17:41] #4952 closed

[2015-09-28 17:42] mhegazy commented on #4952
thanks @csnover!

[2015-09-28 17:42] mhegazy commented on #4908
thanks @MartyIX!

[2015-09-28 17:47] paulvanbrenk commented on #4993
My current thinking is to make this a single dialog for all the projects in the solution. Do you think you'll always want to update all projects in a solution or do this one project at a time?

[2015-09-28 17:47] RyanCavanaugh commented on #4999
What others have said -- this is either addressed by other existing issues, or is not in the scope of TypeScript (e.g. diverging from the ECMAScript specification)

[2015-09-28 17:47] #4999 closed

[2015-09-28 17:50] paulvanbrenk commented on #4982
Duplicate of #4430

[2015-09-28 17:50] #4982 closed

[2015-09-28 17:52] RyanCavanaugh commented on #4981
The usefulness of this doesn't justify the complexity needed to implement it. With flow control analysis we could do more broadly-useful "use before initialization" things. And because JavaScript has `let` now, there's no need for `o` to exist before its initialization anyway, so these kinds of bugs should be rather rare in practice.

[2015-09-28 17:52] #4981 closed

[2015-09-28 18:06] mhegazy commented on #4984
We do not touch comments, and this is by design. comments are not code, and should not be formatted.
as for empty lines, this is more of an optimization, and can be removed.

[2015-09-28 18:07] NoelAbrahams commented on #8
@kitsonk, there are some problems with using closure and uglify that have been discussed above.

[2015-09-28 18:13] #4511 closed

[2015-09-28 18:14] mhegazy commented on #4987
@tinganho had a pull request for this. @tinganho feel free to resubmit the comments PR.

[2015-09-28 18:16] mhegazy commented on #3340
looks fixed. thanks @zhengbli

[2015-09-28 18:16] #3340 closed

[2015-09-28 18:18] #4968 closed

[2015-09-28 18:18] vladima commented on #4995
Copying the [note](https://github.com/Microsoft/TypeScript/pull/4994#discussion_r40518517) from the original PR that raised this issue:

[code]

[2015-09-28 18:24] zhengbli commented on #4995
Then it shouldn't be a bug. Though the `case` statements feel kind of like a block, and in blocks the last comments preceding the closing bracket are indented the same way as other elements in the  block.

[2015-09-28 18:27] mhegazy commented on #4976
thanks @vladima

[2015-09-28 18:27] #4976 closed

[2015-09-28 18:27] mhegazy commented on #4996
//CC: @SaschaNaz

[2015-09-28 18:29] myitcv commented on #4984
Thanks for confirming this is the position as far as TypeScript is concerned.

[2015-09-28 18:35] tinganho opened #5003 "Module path mapping"
Many module libraries/tools(requirejs, systemjs) has a feature for module path mapping. They want to map module path to module name. Sometimes it is little bit annoying to specify a long relative module path when you can just specify the name of the module.

[code]

Instead of:

[code]

I recommend it being configurable in `tsconfig.json`:
[code]

Prior Art:
[RequireJS](http://requirejs.org/docs/a

[2015-09-28 18:41] #4806 closed

[2015-09-28 18:44] RyanCavanaugh commented on #4930
While this is clearly useful for the "make a counter" function, it doesn't seem more broadly useful enough to justify adding a new runtime feature to the language. If this actually has a bunch of use cases I'm not aware of, it's probably worth taking it to the ES Discuss group as a proposal for ES7+ since it's a runtime feature rather than a type system feature.

[2015-09-28 18:44] #4930 closed

[2015-09-28 18:54] mhegazy commented on #5003
@vladima is working on adding this as part of #2338. we should close that one and open a new issue just for this part.

[2015-09-28 18:55] #5003 closed

[2015-09-28 18:55] GoToLoop commented on #4930
Indeed it's just syntactic sugar to make easier to create closures w/ a more simple syntax by declaring a local variable as `static`.

I'm not the OP, but I pretty knew it wouldn't be approved. But I'm not getting the reason given to it.
This feature is costly prohibitive for runtime. In no way I'd ask such feature for the JavaScript language!

This is merely a smart pre-compiler text replacement

[2015-09-28 18:56] mhegazy commented on #4916
based on popular demand 1.7 is back... :D

[2015-09-28 18:57] tinganho commented on #5003
Oops, sorry missed that.

[2015-09-28 19:13] lvita commented on #4993
All projects would be best ☺

From: Paul van Brenk [mailto:notifications@github.com]
Sent: Monday, September 28, 2015 10:48 AM
To: Microsoft/TypeScript <TypeScript@noreply.github.com>
Cc: Luis Vita Gimenez <Luis.Vita@microsoft.com>
Subject: Re: [TypeScript] Improvements to "Upgrade project's Tools Version" dialog in VS (#4993)

My current thinking is to make this a single dialog for all the projec

[2015-09-28 19:16] DanielRosenwasser commented on #5000
Hey @alirezatc, I think some people might [misunderstand](https://en.wikipedia.org/wiki/Swastika#As_the_symbol_of_Nazism) your logo and potentially take offense. To avoid that confusion, and in the interest of being sensitive to all members of the community, do you have an alternate logo that we could use that just uses your company name?

[2015-09-28 19:20] RyanCavanaugh commented on #4930
If it's as simple as a text replacement, I don't see how it could be prohibitively costly for runtimes to implement.

The set of expression-level features that should exist in compile-to-JS languages that *don't* belong in the JS language itself ought to be very small. Outside of the type system, we have a very short list of runtime syntax sugar: namespaces, enums, class property initializers, and

[2015-09-28 19:24] mhegazy commented on #4995
The problem is it is hard to know the intent,  i.e. commenting the next case label, or the last line in the block. the simple solution, either way you park it, will break one group of comments.

[2015-09-28 19:24] DanielRosenwasser commented on #4995
Wait why is it a leading comment for the block? It's not immediately above the `case` clause

[2015-09-28 19:26] #4995 closed

[2015-09-28 19:29] djarekg commented on #5001
Sounds like your using IE. We had this problem and to get around it you either have to clear your IE temp files (ctrl+shift+delete) and make sure "Temporary Internet File and website File" is selected and then refresh the page. Or you can change your IE settings to always look for newer versions of a page which will force IE to check for newer JS files if they are available and then a refresh of t

[2015-09-28 19:33] mhegazy commented on #5001
@AGiorgetti, just to confirm, when saving the file (regardless if you are debugging or not) do you see the `//# sourceMappingURL` generated or not?

if not, can you share the project file?

[2015-09-28 19:38] GoToLoop commented on #4930
I had no idea that would be also an old JS proposal feature.
Nonetheless, I still think doing it at compile time is much more efficient performance wise.
Analyzing the whole scope looking for local `static` declarations and replacing them as 1 parent closure seems a daunt job for me.

[2015-09-28 20:06] RyanCavanaugh commented on #4941
As policy, we don't change user code to have different semantics from how it was written.

[2015-09-28 20:06] #4941 closed

[2015-09-28 21:02] mhegazy commented on #1928
Duplicate of https://github.com/Microsoft/TypeScript/issues/3469?

[2015-09-28 21:10] RyanCavanaugh commented on #4861
This needs a spec if we're going to do automatic inference from it.

As @Lenne231 points out, the example posted doesn't seem to be how it works.

Given the example from the release notes:
[code]
We could type this fairly easily:
[code]

[2015-09-28 21:13] RyanCavanaugh commented on #4356
Duplicate of #3841

[2015-09-28 21:25] johnfn opened #5004 "Extended arrays act more like objects"
Here's some code to explain what I'm seeing:

    class MyArray<T> extends Array<T> { }

    var specialArray = new MyArray();
    specialArray.push("value");

    var normalArray = ["value"];

    for (var i in specialArray) console.log(i);
    for (var i in normalArray) console.log(i);

The first loop prints out `0`, `length` and `constructor`. The second loop just prints out `0`.

This ends up

[2015-09-28 21:36] battmanz commented on #2947
Why can't property getters / setters be abstract?

[2015-09-28 21:53] RyanCavanaugh commented on #5004
This is the expected runtime behavior according to the ECMAScript spec.

The root problem is that `length` on a normal `Array` object is a non-enumerable property, but when `push` sets the new `length` on the derived `Array` class, there is no own property for `length`, so the setting creates a new property slot on the derived object using the default configuration (which is not non-enumerable).

[2015-09-28 21:53] #5004 closed

[2015-09-28 22:02] johnfn commented on #5004
Ah, I see. Thanks!

[2015-09-28 22:03] RyanCavanaugh opened #5005 "Design Meeting Notes, 9/28/2014"
## Exponentiation operator
* Has reached Stage 3 ES7 proposal
* Always compiles to `Math.pow` call
* Open questions on the precedence relative to `-`
* :+1:

----------------

## `this` type
### What is the behavior of `this` inside an object type literal?
e.g.
[code]

* Error to avoid ambiguity. Multiple people have strong opposite opinions on what this would mean
* Workaround is to enclose in a

[2015-09-28 22:08] mhegazy commented on #2947
@battmanz see  https://github.com/Microsoft/TypeScript/issues/4670

[2015-09-28 22:09] #5005 closed

[2015-09-28 22:57] RyanCavanaugh commented on #4514
Problem was that we were seeing the `</` and thinking it was the start of a closing tag. Fix is to check the next char for `*` when trying to produce a `LessThanSlash` token

[2015-09-28 23:03] jeffreymorlan opened #5006 "program recreated on every services call (programUpToDate always returns false)"
From `programUpToDate` in services/services.ts:

    // If number of files in the program do not match, it is not up-to-date
    let rootFileNames = hostCache.getRootFileNames();
    if (program.getSourceFiles().length !== rootFileNames.length) {
        return false;
    }

`program.getSourceFiles()` is generally longer than `rootFileNames`, because it includes non-root files (the default lib `li

[2015-09-28 23:13] mhegazy commented on #5006
Which version are you using?

with 1.6, createProgram takes an old program as an option allowing for reusing almost all of the program structure. the time spent in "refreshing" a program if nothing changed should be in the order of 10 ms. if you are not seeing that, then there is something more going on.

[2015-09-28 23:32] jeffreymorlan commented on #5006
Version 1.6. `createProgram` doesn't take a long time *itself*, but it does mean that calling `getSemanticDiagnostics` on all source files in a large project takes significantly longer than it should (over twice as long). Type checking one file requires doing some of the work to type check other files, and that work gets thrown away if the program is recreated for each file.

As a workaround I'm i

[2015-09-28 23:49] kaotik4266 commented on #1484
+1

[2015-09-29 00:23] weswigham commented on #5004
If this is expected behavior by spec, this is _not_ the observed behavior as actually implemented by classes in node/v8.

Drop this into node 4:
[code]

See printed:
[code]
as would be desired, I expect.

Would you happen to know the relevant portion of the spec, so we can file a bug against v8?

[2015-09-29 00:38] weswigham opened #5010 "Support "use strong"; prologue"
v8 (and node 4) have an in-progress implementation of the proposed [use strong](https://developers.google.com/v8/experiments) mode. According to [this presentation](https://drive.google.com/file/d/0B1v38H64XQBNT1p2XzFGWWhCR1k/view) there are plans to make a formal proposal to the ECMA at some time in the future, but given that both chrome and node already implement much of it (albeit behind a flag

[2015-09-29 00:40] RyanCavanaugh commented on #5004
Unless there's some overriding language, step 9 of 'push' should be setting a property on the object

http://www.ecma-international.org/ecma-262/6.0/#sec-array.prototype.push

This should be roughly equivalent to:
[code]

[2015-09-29 00:41] mhegazy commented on #5006
that is correct. you have two options, you can implement as you noted getProjectVersion, or make sure you do the resolution separably and make sure to pass all files to the language service, so that the program will always be used (i.e. `rootfiles === oldProgram.sourceFiles()`).

For tsserver, it does not query for all files for errors, it only does for open files, which limits the number of reque

[2015-09-29 01:14] #4908 closed

[2015-09-29 03:41] tinganho commented on #4987
I will do, just a little bit busy with other things right now.

[2015-09-29 06:28] DanielRosenwasser commented on #4032
Is this a duplicate of #606?

[2015-09-29 06:32] DanielRosenwasser commented on #4177
This seems reasonable to me. Maybe @zhengbli has some input for this.

[2015-09-29 06:58] weswigham commented on #5004
The 'set' spec operation will set the property on the parent property descriptor before creating a new one with defaults (9.1.9). Arrays have length as a nonconfigurable member (as mentioned 9.4.2), so it would make sense that length exists on Array subclasses and correctly inherits the base class's length property's behavior.

[2015-09-29 07:45] vilic opened #5012 "Have to suffix directory "." with "/" to import correctly."
E.g.

[code]

Is this the desired behaviour?

[2015-09-29 07:48] vilic commented on #5012
Oh it's actually working...

[2015-09-29 08:00] AGiorgetti commented on #5001
@mhegazy good catch, if I edit the file (even when not debugging) and save it, I cannot see the `//# sourceMappingUrl`.
If I run the application with the debugger (F5) the .ts files are recompiled and the `//# sourceMappingUrl` is there.

I have an edited version of my project file in which I stripped out all the references and file list, but GitHub is not allowing me to attach it here (neither if

[2015-09-29 08:06] alyahmedaly commented on #4971
work around just change environment path to new version
![capture4](https://cloud.githubusercontent.com/assets/6495633/10158345/bee7652e-6691-11e5-8a73-e2250d9227de.PNG)

[2015-09-29 08:29] AGiorgetti commented on #5001
I think I've found the problem, double checking my web.csproj file I've found that I was missing some settings related to TypeScript compilation:

[code]

changing some settings on the TypeScript Build tab in the project properties added these lines to the project file, honestly I have no clue on why they were not there given the fact that I changed these settings multiple times in the past.

Addi

[2015-09-29 08:33] kitsonk commented on #3841
Also, for clarity, as discussed in #4356 it is logical based on the ES specification to strongly type `.constructor` property of an instance and the following is essentially equivalent valid ways of creating instances:

[code]

[2015-09-29 08:48] kitsonk commented on #5004
`Array.length` is an auto magical part of JavaScript.  The property doesn't conform to standard properties and it is impossible to create a subclassed Array in ES5 that behaves like an Array (you can sort of come close, by intercepting all the mutating functions and creating a accessor `.length`, IIRC there are still holes).  Many man have been lost about the rocks of subclassing Array in ES5.  It

[2015-09-29 10:43] vitrilo commented on #3192
Using of String are really neat feature. In our 20k loc project we still use workarounds.
Apart, using objects as enum values (like in #1206 or http://stackoverflow.com/a/15491832/1224258) are risky - comparison fails after any Enums serialization/de-serialization or deepcopy (angular.copy).

[2015-09-29 11:16] kirilpopov commented on #563
+1

[2015-09-29 11:39] Koloto opened #5013 "ES6 syntax for import/export doesn't work in ambient modules"
Code to reproduce:
[code]
[code]
Old syntax with `require` works fine:
[code]
But I can't use `require` to `export *`. This is a problem (`export =` is not the same)
Tested in TS 1.5.3 and 1.6.2 with `--module amd` compiler option.

[2015-09-29 12:48] BBGONE opened #5014 "type alias does not work with classes"
I defined a class:

        export class TCommand<TSender, TParam, TThis>
        {
        }

and created a synonym for the closed type:

     export type Command = TCommand<any, any, any>;

now when i try:

     export class NextCommand extends Command {
     }

the compiler says: Error	1	Cannot find name 'Command'

but i can write

      var cmd: Command = null;

without errors,

Expected: to a

[2015-09-29 12:58] BBGONE commented on #5014
var cmd = new MOD.mvvm.Command();

Does not work too. The same Error!

[2015-09-29 13:32] dbaeumer opened #5015 "tsserver: a closed document should be re-read from disk"
Due to the async nature of file events and the async communication channel to the tsserver a document close request should reread the content from disk. Consider the following steps:

- VSCode sends a document open for A.ts and therefore 'owns' the content
- VSCode sends changes to the content of A.ts to the tsserver.
- The file is saved on disk from another program.
- The file change event is pro

[2015-09-29 13:56] stepancar opened #5016 "different path resolving behavior on unix and windows"
hello!
see screen
on windows i haven't any problems, but on unix atom, and ts loader emits errors. I think that its compiler mistake.
windows allow use not caseSensetive strings
![screenshot_5](https://cloud.githubusercontent.com/assets/2854910/10166070/13f04c78-66cb-11e5-8400-d24ff7c8a97e.png)

[2015-09-29 14:53] CyrusNajmabadi commented on #1484
For those talking about resharper, could you let me know what they do with something like this:

[code]

as well as

[code]

In the first example, you should not get automatic completion as you are typing an arithmetic expression.  in the latter, you should, because you're typing generic type arguments.

However, to do this properly, you need both your syntax tree up to date, and you need your sem

[2015-09-29 16:04] slikts commented on #4987
Having comments in the configs would be very helpful, and JSON as a config format is an exception in not having them. It would also be nice to add support for trailing commas in the same way to make editing JSON less fiddly.

[2015-09-29 16:21] mhegazy commented on #4032
it is related, #606 is mainly about specialized signatures.

[2015-09-29 16:22] mhegazy commented on #5012
//cc: @vladima

[2015-09-29 16:25] mhegazy commented on #5001
glad we got to the bottom of this issue. could be caused by #4077.

[2015-09-29 16:25] #5001 closed

[2015-09-29 16:35] mhegazy commented on #1484
how about using the formatting thread? all these trigger characters are not formatting trigger characters, so we know the thread will be likely idle.

[2015-09-29 16:38] vladima commented on #4959
@zhengbli already has fix for this, reassigning to him

[2015-09-29 16:43] mhegazy commented on #5016
looks like a duplicate of  #4719, #3626 and #2011. the compiler is case-insensitive on windows, but case-sensitive on *nix systems. we can not make it case-insensitive all the time, but we can make it case-sensitive when you set a flag, this way you get the same errors on all systems.

[2015-09-29 16:43] #5016 closed

[2015-09-29 16:56] mhegazy commented on #5014
The problem here is `extends` needs a value to use at run time.  The generated code will look something like:

[code]

So you can only extend from *value*. the type alias `Command` is just an alias, another name you can use in the TS code to refer to type `NextCommand` and does not exist in the generated code, this is why you can use it in a type position, e.g. `var cmd: Command`, as this has no i

[2015-09-29 16:56] #5014 closed

[2015-09-29 17:17] #2192 closed

[2015-09-29 17:21] mhegazy commented on #5013
I can not repor this locally..

[code]

[2015-09-29 17:30] vladima commented on #5012
Current module resolution logic for node follows [Modules all together](https://nodejs.org/api/modules.html#modules_all_together): module will be attempted to be loaded as file\directory if its name starts with './', '../' or '/', otherwise it will be loaded from 'node_modules' folder.

[2015-09-29 17:30] #5012 closed

[2015-09-29 17:40] Koloto commented on #5013
@mhegazy Remove `declare module "moduleB"` from `ambient.d.ts`

[2015-09-29 17:41] BBGONE commented on #5014
@mhegazy
Thanks for yor reply. It was not a problem if typescript would create a true alias.
That means instead of "Command" put in that  place TCommand - because "Command"  is only an alias for TCommand. We need replacements, not a new definition "Command" in the compiler's output.

[2015-09-29 17:59] BBGONE opened #5017 "type alias does not work with classes"
I defined a class:

    export class TCommand<TSender, TParam, TThis>
    {
    }

and created an alias for the closed type:

 export type Command = TCommand<any, any, any>;

now when i try:

 export class NextCommand extends Command {
 }

the compiler says: Error 1 Cannot find name 'Command'

  var cmd = new MOD.mvvm.Command();

 Produces the same error
 but i can write

  var cmd: Command = null

[2015-09-29 18:14] #4574 closed

[2015-09-29 18:14] #4832 closed

[2015-09-29 18:15] RyanCavanaugh commented on #4832
Fixed in master branch. Thanks!

[2015-09-29 18:21] mhegazy commented on #5014
if you want an alias for both value and type use `import`:

[code]

for your request, see #2559

[2015-09-29 18:28] mhegazy commented on #5013
thanks. my bad. @vladima can you take a look.

[2015-09-29 18:29] BBGONE commented on #5014
@mhegazy
Is this would work too?
export import Command = MOD.mvvm.TCommand;<any,any,any>

[2015-09-29 18:30] mhegazy commented on #5014
yes.

[2015-09-29 18:30] mhegazy commented on #5017
duplicate of #2559

[2015-09-29 18:30] #5017 closed

[2015-09-29 18:32] ahejlsberg commented on #5017
A class declaration creates two entities with the same name: A *type*, which you can use in type annotations, and a *constructor function*, which you can use in expressions.

The problem is that you're exporting an alias for the type, but not the constructor function.

If you're using ES6 modules I'd suggest exporting an alias:

[code]

If you're using namespaces, you can do the following:

[code]

[2015-09-29 18:35] BBGONE commented on #5014
@mhegazy
No it dos not work with generic parameters

[2015-09-29 18:41] mhegazy commented on #5014
Please see #2559 .

[2015-09-29 19:02] CyrusNajmabadi commented on #1484
@mhegazy Ah, I think you're right.  None of the characters should overlap.  And because they're all synchronous, we'll essentially only ever have one in the queue at a time, so we don't have to worry about bottlenecks.  So that thread should be a good choice here.

[2015-09-29 19:29] BBGONE commented on #5017
@ahejlsberg
Thanks for the reply
My current workaround is to create a new class

export class TCommand<TSender, TParam, TThis> {
}

export class Command extends TCommand<any, any, any> {
}

But it produces the unneeded overhead.
But anyway thanks for the compiler, i did not manage to find a better one.
That means it is the best now.

[2015-09-29 19:40] ahejlsberg commented on #5017
Thanks for the kind words.

If you're concerned with the overhead of a derived class, you could write it this way instead:

[code]

You'd need to modify the `new () => Command` type to have the appropriate constructor parameters.

[2015-09-29 20:00] #1036 closed

[2015-09-29 20:08] dazinator commented on #4971
@alyahmedaly I don't have an entry in my PATH at all for Typescript. Can try adding one.. but it seems like VS is shadowing the path somehow anyway but will try!

[2015-09-29 20:12] #4986 closed

[2015-09-29 20:13] DanielRosenwasser commented on #717
Thanks @MartyIX!

[2015-09-29 20:13] #717 closed

[2015-09-29 20:18] mhegazy commented on #4986
thanks @MartyIX !

[2015-09-29 20:24] DanielRosenwasser opened #5020 "Update spec to reflect narrowing behavior on values typed as 'any'"
With #4432 getting fixed by #5011, we need to reflect this change in the spec.

[2015-09-29 20:26] DanielRosenwasser commented on #4926
Pinging @lazutkin - can we close this?

[2015-09-29 20:39] mhegazy commented on #4971
there are two issues here:

1. path set to `C:\program files (x86)\Microsoft SDKs\TypeScript\1.0` if you ever installed TypeScript 1.0, and not removed by further versions. the variable should be in your `System Variables`, and **not** in `User Variables` as shown in the above screenshot. Best way to find out is to use `where tsc` from a command prompt.
2. in VS command prompet, you always have th

[2015-09-29 21:29] nycdotnet opened #5021 "Duplicate emit when using amd-dependency and es6 ambient import"
Hi,

I think that the `///<amd-dependency />` functionality exhibits odd behavior when combined with an ES6 import.

For example, this TypeScript code:

[code]

emits as this JS when using AMD module mode:

[code]

In the emitted JS, the string 'jquery' is included in the requirements for the module (causing an HTTP 404 error at runtime).  My expectation would be that 'jquery' here would be consid

[2015-09-29 21:47] danquirk commented on #1484
Many requests for this feature are coming from folks who use text editors that have nowhere near enough understanding of the code to be 100% correct in their completion behavior. Let's not let the perfect be the enemy of the good.

In Sublime < is not completed. Most of the others characters are completed in any non-string context. The closing element is skipped over when you type the closing elem

[2015-09-29 21:51] DanielRosenwasser commented on #1484
See https://github.com/Microsoft/TypeScript-Sublime-Plugin/issues/95

I think we can just forget about `<` for now.

[2015-09-29 21:53] mhegazy commented on #5021
this looks right to me. you have two imports one to `jquery` and one to `/jquert/jquery.min.js`. i would say remove the `amd-dependency` and just make the import:

[code]

[2015-09-29 22:12] #4996 closed

[2015-09-29 22:13] mhegazy commented on #4996
thanks @SaschaNaz!

[2015-09-29 23:01] dazinator commented on #4971
Yeah *2* is the relevant issue for me. Thanks for the workaround!

[2015-09-29 23:08] mhegazy opened #5025 "tsserver completion sorting does not respect CompletionEntry.sortText"

[2015-09-29 23:09] mhegazy opened #5026 "Limit identifier completions to current file identifiers"
Also remove duplicates from completion list.

[2015-09-29 23:33] mhegazy opened #5027 "Add JS module import format to preprocessFile"
[code]

[2015-09-29 23:53] #4959 closed

[2015-09-29 23:55] jeffreymorlan opened #5028 "Variable in "extends" clause ignored by services"
In the following code:
[code]
services does not recognize that the `base` identifier in the second line refers to the variable declared in the first. Rename, find occurrences, etc do not work on it.

The same problem also occurs with JSX spread attributes in .tsx code:
[code]

[2015-09-30 00:02] #5013 closed

[2015-09-30 00:03] mhegazy commented on #5013
@Koloto can you give tonight's `typescript@next` a try. the package is published to npm a little after 12:00 am PST.

[2015-09-30 00:53] DanielRosenwasser commented on #4629
@yuit and I spent a good bit of time looking into alternative approaches, and while we got something that works decently, the gain seems relatively marginal compared to the hoops we had to jump through.

I think that overall this is easily amended by a pretty-printer or minifier.

[2015-09-30 00:53] #4629 closed

[2015-09-30 01:33] dsherret commented on #3914
:+1:

[2015-09-30 02:55] nycdotnet commented on #5021
Interesting.

I wasn't aware of that minimalist import syntax, and it does work in this case.  However, I think maybe jQuery was a bad example because it's actually implemented as a UMD module and `$` and `jQuery` are in-scope in all files merely by including the `jquery.d.ts` file in the TypeScript compilation context.

Even if you don't think it's a bug that they are both emitted, do you believe

[2015-09-30 02:55] phestermcs opened #5029 "from 'x' import { y }"
Is it too late to change the import statement around? (I know it probably is).
If it was
[code]
Tooling could provide very handy intelli-sense about what could be imported.

[2015-09-30 03:18] nycdotnet commented on #5021
Thanks for the reply, Mohamed.  I wrote a response before, but I deleted it because I think this one is better.

I wasn't aware of the minimalist import syntax that you suggested, and it does work in this case.  However, I think maybe jQuery was a bad example because it's actually implemented as a UMD module so `$` and `jQuery` are in-scope in all files merely by including the `jquery.d.ts` file i

[2015-09-30 03:33] DanielRosenwasser commented on #5029
Duplicate of #2371 and #4880.

From my comment in https://github.com/Microsoft/TypeScript/issues/4880#issuecomment-141895032:

[2015-09-30 03:33] #5029 closed

[2015-09-30 03:36] d180cf opened #5030 "An unnecessary space is inserted in ${...} by the auto formatter"
This is what I get after Ctrl+K+D in VS:

[code]

As you see, a space was inserted after `JSON.stringify(...)`. The bug doesn't appear if a plain variable is used: `${x}`.

[2015-09-30 04:35] mhegazy commented on #5021
What you describe was never the intended behavior of the 'amd-dependencey' tags, these were mainly Kent for importing non-code resources, and should not be used with imports.

[2015-09-30 04:38] mhegazy commented on #3364
Is this issue still needed?

[2015-09-30 04:44] mhegazy commented on #1806
@danquirk's reply in https://github.com/Microsoft/TypeScript/issues/1806#issuecomment-71539513 would be my opinion as well. I do not think this is the intention of void as a type; and I have not seen compelling use cases so far. I would say the issue should be closed.

[2015-09-30 04:58] mhegazy commented on #4846
The js file is a runtime dependency; the /// reference and the // #sourcetypingsurl are design time dependencies;  so having one does not remove the need for the other. Can you elaborate on how this would be used and how referencing the is file would simplify the workflow?

[2015-09-30 05:05] mhegazy commented on #4888
The current behavior matches the design of the feature. the solution would be to convert the decorator metadata helpers to getters, but that would be a breaking change.

[2015-09-30 05:05] #4888 closed

[2015-09-30 05:10] d180cf commented on #4846
It can be used just like I've described: a .ts files will reference to a .js file which will make tsc include the .js file into the output and take typings from the file referred to by sourceTypingsURL.

[2015-09-30 05:35] DanielRosenwasser commented on #4846
I think I understand the scenario, but you could also just pass the typings through `tsc` and integrate the js file with a custom concatenation step in your build process.

[2015-09-30 06:05] basarat commented on #3192
Probably better if https://github.com/Microsoft/TypeScript/issues/1003 is done instead

[2015-09-30 06:10] matthewrwilton commented on #3583
Seems like this didn't make v1.6. Is it possible to get a milestone update?

[2015-09-30 06:19] d180cf commented on #4846
It's possible to concatenate .js files with an extra build step, just like it's possible to not use the tsc's `out` parameter and concatenate files with your own script, but it's not convenient. Btw, to keep the source map valid, that extra build step needs to be quite sophisticated.

Another reason to make this work is async/await you're working on. Since Promise isn't available everywhere yet, p

[2015-09-30 06:28] impinball commented on #3192
@basarat I think both have their uses. A primitive enum (excluding symbols) could be seen as the union of their values in that sense. And also, I believe that should be expanded to also include numbers.

[2015-09-30 06:29] kitsonk commented on #4846
Most tooling that bundles/concatenate files rewrite the source maps.  It is expected in fact.

Realistically you wouldn't concatenate bluebird to every file.  That is what modules are for.  If you need polyfills, you tend to load those once, either through a script import in your application or through your module loader, or as a final bundle/layer that is then loaded by your module loader.  Addin

[2015-09-30 06:32] impinball commented on #1003
Although now that I come to think about it, this could complement enum types, as enums are effectively a type union of constants. Enums should be typed like classes, and type unions would be the duck-typing equivalent.

Also, shouldn't this be expanded for other primitive constants as well? I know of a few use cases for numeric constants, and a few cases where false is treated specially, while tru

[2015-09-30 06:33] impinball commented on #3192
I made a relevant response over there on #1003.

[2015-09-30 06:54] dbaeumer opened #5032 "tsserver: Format on type broken"
See the animated git here: http://pan.baidu.com/s/1kTCNhdX

Format on type deletes valid code on the next line. This is reproducible using VSCode and tsserver from 1.6.2

[2015-09-30 07:06] dbaeumer commented on #5032
Since the bug is important for us I investigate. There are two issue:
- if the lineText has a '\t' the indentPosition is to be subtracted by the number of spaces in the text however later on in the replace edit only one character can be removed ('\t')
- if indentPosition is negative then the replace
[code]
creates an edit that eats from position to the right. Hence it removes the 'va' in the anima

[2015-09-30 07:24] dbaeumer commented on #5032
@mhegazy If you accept the PR can you please merge it to 1.6.x as well. This is really a bad experience in VSCode. I will even ship a patch version for this in this weeks drop.

[2015-09-30 07:28] schungx opened #5034 "Destructuring variable declarations with types"
There doesn't seem to be a way to specify type information on destructuring variable declarations with types.  For example:

[code]

This will be interpreted, as per ES6 rules, as the field `data.x` being assigned to a variable named `string` and so on.

The alternative syntax discussed before in another issue:

[code]

did not make it into the current version.

Currently, you need to use initiali

[2015-09-30 08:10] BBGONE commented on #5017
@ahejlsberg
Thanks very much! it is working.
Althougth the syntax is very convoluted.
For example, it is one of my  definitions;

      export type Command = TCommand<any, any>;
      export const Command: new (fn_action: TAction<any>, thisObj: any, fn_canExecute: TPredicate<any>) => Command = TCommand;

      export type PropChangedCommand = mvvmMOD.TCommand<{ property: string; }, any>;
      exp

[2015-09-30 08:45] Koloto commented on #5013
@mhegazy, @vladima thanks, `typescript@next` works fine. Could you fix this in 1.6?

[2015-09-30 10:52] zhuravlikjb opened #5035 "Incorrectly parsed object destructuring assignment with short-hand properties"
[code]

As far as I see in spec, that's allowed for object destructuring assignment, in form of:
[code]

[2015-09-30 12:30] myitcv opened #5036 "TypeChecker returns Any type for function defined to return string"
Using [the boolean trivia `tslint` rule](https://github.com/Microsoft/TypeScript/blob/1cd016b2892d923d7da41130adb48d7713d83d14/scripts/tslint/booleanTriviaRule.ts) as an example, I set about trying to write a `tslint` rule to restrict the types of operands to the binary `+` operator.

However when running this rule over my code I see some strange results from the type checker.

Here, in its curren

[2015-09-30 12:49] jbondc commented on #3192
@basarat The two are related:
[code]
With enough effort 'Flag me down' ```#4``` can be solved:
http://www.informit.com/articles/article.aspx?p=2425867

Oh and const enums can't have null or undefined values, so hmm... food for thought.

[2015-09-30 13:00] myitcv commented on #5036
In case it's relevant, this is using [`tslint v2.6.0-dev.1`](https://github.com/palantir/tslint/releases/tag/2.6.0-dev.1) which is built against `v1.7.0-dev.20150924`

[2015-09-30 13:26] ahejlsberg commented on #5034
You *can* use type annotations with destructuring patterns, but only on the top-level pattern:

[code]

It's not the greatest, but at least it is clear what is going on. I'm concerned that proposals to introduce more overloaded meanings for `:` or `as` in destructuring patterns just make matters worse.

[2015-09-30 13:32] nycdotnet commented on #5021
OK.  Thanks for your responses.  It's been very helpful.

As far as aliasing dependencies as a `.js` script name (instead of as an external module ambient declaration name) when using ES6-style imports and AMD compilation mode - is that impossible still without a post-processor until #2338 is complete for AMD?

Thanks.

[2015-09-30 13:32] #5021 closed

[2015-09-30 13:57] mpawelski commented on #2338
It would be nice to at least know where you put this requirejs support on [Roadmap](https://github.com/Microsoft/TypeScript/wiki/Roadmap). Are you planning to implement this for example in 1.8 version?

We are thinking about using TS in our current solution that heavily use requirejs modules with module path mapping and I believe this feature is crutial for easy migration from JavaScript to TypeSc

[2015-09-30 13:57] speigg commented on #3576
The spec mandates that es6 modules be `execuated` in strict mode: https://people.mozilla.org/~jorendorff/es6-draft.html#sec-strict-mode-code

strict-mode javascript is not a subset of non-strict-mode, it has intentionally different semantics. Transpiling from es6 modules to es5 javascript strictly requires injecting `"use strict;"`, it's really not an option.

[2015-09-30 14:16] speigg commented on #3576
@DanielRosenwasser es6 modules cannot be simply concatenated together. Any bundler has to ensure that each module has it's own scope.

[2015-09-30 14:33] jbondc commented on #5005
```Are .d.ts files supposed to be 100% human-friendly?```
I'd say yes.

What does that have to do with modules / justify adding the feature?

[2015-09-30 14:42] schungx commented on #5034
Not the greatest, since it requires double-typing the property names which may lead to errors before 1.6.  1.6 will now catch the mismatched property names.

But I hear you about over-over-loading `:`.

[2015-09-30 14:42] #5034 closed

[2015-09-30 14:45] schungx opened #5037 "Conditional member access"
Just out of curiosity, is TypeScript going to have a conditional member access operator similar to C#'s `?.`?

Instead of writing

    foo && foo.bar && foo.bar.baz();

We can write:

    foo?.bar?.baz();

Or is something like this already possible?

[2015-09-30 14:58] myitcv commented on #5036
Ok, I now see that the `Any` type is used here because `toString()` is defined in a file that is not loaded in our call to `createProgram`. [Related `tslint` issue](https://github.com/palantir/tslint/issues/680). Apologies for the noise.

[2015-09-30 14:58] #5036 closed

[2015-09-30 15:11] jbondc commented on #3870
If you just reference ```T```:
[code]
Current behavior is ```typeof mixA``` which I don't really understand. Would have imagined it to be
[code]

Not really familiar with other use cases, I guess a more general alternative could be something along :

A ```...``` type would:
 - In a function, require same number of the types of the '...rest' parameter.

    function f<T>(...params: T[]): (...args:

[2015-09-30 15:59] Arnavion commented on #3870
@jbondc

It's because mixA, mixB and mixC are all the same type `{}`, so `typeof mixA` is a valid specialization for T. Try adding unique members to them.

[2015-09-30 16:21] mhegazy commented on #5013
this will be in the next TypeScript release (TS 1.7).

[2015-09-30 16:22] jbondc commented on #3870
Ah right on, looks like it tries to reduce to the ```common supertype``` (a type common to all other types).

![image](https://cloud.githubusercontent.com/assets/199519/10199028/d8211252-676c-11e5-803f-aa1a6a11e99c.png)

My intuition here would have been ``` mixA | mixB | mixC  ```

[2015-09-30 16:24] mhegazy commented on #5005
The feature is mainly to make the .d.ts look simpler/cleaner. it is possible to write a tool that will remove declarations from the file, but it is not `100% human-friendly`

[2015-09-30 16:26] mhegazy commented on #5037
duplicate of #16

[2015-09-30 16:26] #5037 closed

[2015-09-30 16:34] mhegazy commented on #5032
@dbaeumer this part has not changed in a while? is this a regression? do you know when it was introduced?

[2015-09-30 16:46] mhegazy commented on #5035
//CC: @DanielRosenwasser

[2015-09-30 17:01] vladima commented on #5035
yes, we are wrong here. Grammar allows it and Babel can handle this correctly.
[code]
the problem is that expression on the LHS is parsed as regular object literal so in case of regular property assignment it will be interpreted as object literal with property `x` that has initializer `x = 1`. Later in the checker we can recognize this syntactic pattern and deal with it correctly. However in case

[2015-09-30 17:05] #5026 closed

[2015-09-30 17:11] mhegazy opened #5038 "Support `this` in services"
Commit: https://github.com/Microsoft/TypeScript/commit/06a250effeb19536bc7bbf7fe10c58160df02a0e disables a set of language services tests. the tests should be enabled again with the correct support.

[2015-09-30 17:12] DanielRosenwasser commented on #3576
@speigg I realized this as I opened this issue and re-read my comment.

@weswigham is doing some work in this area. I believe the new behavior is going to be that we only expect strict mode if the module target is ES6 (a new module target that is separate from the language target).

This is because if someone is purely targeting something like CommonJS, then the strict mode requirement no longer r

[2015-09-30 17:13] impinball commented on #3192
@jbondc I tried to include those, but I didn't get a very positive response from it.

[2015-09-30 17:16] mhegazy commented on #3583
@zhengbli is working on releasing the script that generates the typings file. it should come out shortly, and with that we should be able to take PRs for features like this one. putting it on @zhengbli for now.

[2015-09-30 17:25] speigg commented on #3576
Not sure what you mean by "expecting strict mode". If the input is es6 modules and the output is also es6 modules, then "use strict;" doesn't need to be injected, it's implied. If the input is es6 modules and the output is anything other than es6 modules, then "use strict;" is required. If the input is not es6 modules, then "use strict;" is not required.

[2015-09-30 17:26] jbondc commented on #3192
@impinball Meant more:
[code]
Seems clear this should error (the same for string enums), effectively these are non-nullable types.
[code]

[2015-09-30 17:42] vladima opened #5039 "Path mappings based module resolution"
# Proposed module resolution strategy

**UPDATE**: proposal below is updated based on the results of the design meeting.
Initial version can be found [here](https://gist.github.com/vladima/725949fd9464e6a94771).

Primary differences:
- instead of having `baseUrl` as a separate module resolution strategy we are introducing a set of properties
that will allow to customize resoluton process in existi

[2015-09-30 17:45] vladima commented on #2338
### Summary
Node resolution was implemented in shipped in TypeScript 1.6. Its specifics are tracked by separate issues. Remaining work here is related only to path mappings so I'm closing this issue in favor of #5039.

[2015-09-30 17:45] #2338 closed

[2015-09-30 18:02] kitsonk commented on #3576
The challenge though is in TypeScript you can mix the inputs but target a specific output:

[code]

What about that use case?  Also, just because a developer is using ES6 module syntax, but targeting AMD/UMD/CommonJS that they are expecting strict behaviour.

[2015-09-30 18:03] weswigham commented on #3576
@speigg I opened #4963 to start a discussion on this. Our present behavior is to require strict mode everywhere when targeting any module form, however, we do not emit a `"use strict";` prologue in our module emit for non-es6 module targets to match this. We could do one of two things to rectify this mismatch:

- Parse non-es6 module forms in non-strict mode (So if `--module` is not `es6`, we don'

[2015-09-30 18:14] mhegazy commented on #2338
@mpawelski #5039 is now tracking that and is added to the [roadmap](https://github.com/Microsoft/TypeScript/wiki/Roadmap#17)

[2015-09-30 18:18] danquirk commented on #4888
@mhegazy Could we at least report an error here then rather than have the decorator silently fail?

[2015-09-30 19:07] phestermcs commented on #5029
@DanielRosenwasser What would be valid reasons for TS deviating from ESx? (and how is JSX less of a deviation than the above?) If no valid reasons, then either TS will soon be much less relevant, or it will continue to be a 'superset' of ESx, implying language syntax and semantics a developer will be 'coupled' to (if their are valid reasons, then how does the above request fall outside them? how a

[2015-09-30 19:36] AdamTReineke commented on #1182
Since I'm stuck on 1.4, saving the file as UTF-8 fixed this for me. Attached screenshots from Visual Studio for using Save As to change the encoding for those who need them (since this bug is the first result on search results for the error string).

![save-with-encoding](https://cloud.githubusercontent.com/assets/518655/10204248/81377ef6-676f-11e5-9229-9bd63e32d1d8.png)
![save-with-encoding-2](ht

[2015-09-30 19:37] mhegazy commented on #4888
An error would not be correct in all cases. what if your decorator never used the type information, the error is not relevant.. what if it only used the return type, should we validate the parameter types?

this is a typical TDZ issue; and i think a reasonable fix is to switch to getters, that means more overhead on access, and breaking change.

[2015-09-30 19:42] DanielRosenwasser commented on #5029
@phestermcs those aren't unreasonable questions, and it's always worth discussing.

One of the biggest issues that we want to avoid is creating syntax that conflicts with future versions of the language. It is conceivable that ECMAScript may eventually introduce a better syntax; however, it might not be exactly the same, or it might be the same and not behave the same at all.

We try to be conserv

[2015-09-30 20:11] #4731 closed

[2015-09-30 20:14] evilangelist commented on #3960
Using the example above, when making use of StringSelect I always receive a "TS2304: Cannot find name 'StringSelect'" using Typescript 1.6.2. Example:

[code]
See gist of full example here: https://gist.github.com/be0453ed4a86c79da68e.git

Any ideas?

[2015-09-30 20:18] vitrilo commented on #3192
@basarat Thanks, I've just discovered related #1003, #1295. Great proposals/ideas!
My understanding #1003 (string literal union type) vs #3192 (string enums) are following:
* String enums are simple, straightforward approch
*  #1003 - are more wider idea, which are may be both: multi-purpose (like for type guards) sulution and space for funky/unwanted/corner cases
* Syntax are RADICALLY different

[2015-09-30 20:20] RyanCavanaugh commented on #3960
You need to write something like this. `type` doesn't create a value, so what you have would be a runtime error.

[code]

[2015-09-30 20:40] RyanCavanaugh commented on #4688
Thanks for the test!

[2015-09-30 20:44] DanielRosenwasser commented on #5028
I think the latter is a symptom of #4688. @RyanCavanaugh can you confirm?

[2015-09-30 20:48] dbaeumer commented on #5032
@mhegazy: no idea. I saw something comparable a while ago but then the formatter changed and I couldn't reproduce anymore. This one I could today on tsserver 1.6.2 with VSCode.

[2015-09-30 20:59] RyanCavanaugh commented on #5028
That's correct.

[2015-09-30 21:03] mmv commented on #5039
The proposal seems sound :+1:

I think the references to data should not be considered for now: their added value is marginal but the added configuration complexity would not be (eg: either refs are mandatory or there would have to be a good way to distinguish them from directory names). They seem like a nice improvement to consider after this is implemented and usage data about the mappings becom

[2015-09-30 22:22] #4514 closed

[2015-09-30 22:42] mhegazy commented on #4967
from a cursory look, it seems that `flatMap` should be defined as*:
[code]

this way no need to infer any new type parameters, just pass them through, which seems to be the expected behavior of flatMap if understand the [documentation](https://facebook.github.io/immutable-js/docs/#/Iterable/flatMap) correctly.

[2015-09-30 23:24] ahejlsberg commented on #5035
We need to modify the parser to parse the *CoverInitializedName* production (I would suggest by allowing an initializer in a `ShortHandPropertyAssignment`) and then generate grammar errors if the production is found to occur as a non-LHS expression. Shouldn't be too hard.

[2015-09-30 23:44] heycalmdown commented on #1194
Is there a way to re-export imported default by one line?

[code]

[2015-10-01 00:24] EToreo opened #5049 "require untyped JS file"
I am working with typescript 1.6.2 and trying to write some newer sections of code with it.  The problem is, I need to consume other native JavaScript code I have already writen and am not prepared to convert to TypeScript just yet.

So I would like to do something like this (where lib/helper.js is a file I'm not ready to convert to TS yet):
[code]

When I try to compile this, I get an error: `err

[2015-10-01 00:26] mhegazy commented on #1194
[code]

[2015-10-01 00:28] heycalmdown commented on #1194
Clear solution! Thanks.,

[2015-10-01 00:32] mhegazy commented on #5049
https://github.com/Microsoft/TypeScript/issues/4792 should do the trick. there is PR: https://github.com/Microsoft/TypeScript/pull/4826 will allow you to import your JS modules, and the TS compiler will "understand" the shape of the module from your .js files and let you code against it in your .ts files.

can you elaborate on what your .js module looks like? are you using ES6? are the module expo

[2015-10-01 00:44] EToreo commented on #5049
Thanks for the reply.

Not using ES6 anywhere.  The exports are very static.  They are my own modules.  I don't deliver them, they are just run on a server that hosts a product I sell a subscription to.  In the future, I would like to bundle it all up and sell it for "behind the firewall" use - but that's neither here or there at the moment.

I'm trying to introduce unit test for the first time to

[2015-10-01 01:19] rwyborn opened #5052 "Generic type inference breaks when deriving from generic type"
I have found a simple case where generic type inference breaks when you have a type derived from a generic type.

[code]

Note that for simplicity the example code uses ambient declarations, but the same issue also occurs with concrete implementations.

[2015-10-01 02:15] daniel-a-melo commented on #3364
If helpers functions are emitted right before a `System.register` call it prevents this module from being loaded from SystemJS. As it seems to be a valid use case it would be nice to have some config option to prevent that

[2015-10-01 03:06] rwyborn commented on #2000
@RyanCavanaugh So we are at Typescript 1.6 and decorators are still an experimental feature, not something I want to deploy in a large scale production codebase as a hack to get override working.

To try yet another angle, every popular typed language out there supports the "override" keyword; Swift, ActionScript, C#, C++ and F# to name a few. All these languages share the minor issues you have ex

[2015-10-01 04:40] #4701 closed

[2015-10-01 05:04] DanielRosenwasser commented on #2000
It's not just a cost/benefit issue. As Ryan explained, the issue is that marking a method as an override doesn't imply that another method *isn't* an override. The only way that it would make sense is if all overrides needed to be marked with an `override` keyword (which if we mandated, would be a breaking change).

[2015-10-01 05:20] rwyborn commented on #2000
@DanielRosenwasser As outlined above, in C++ the override keyword is optional (exactly as proposed for Typescript) yet everyone uses it no problem and it is hugely useful on large code bases. Furthermore in Typescript is actually makes a lot of sense for it to be optional because of javascript function overloading.

[code]

As for the whole  "doesn't imply that another method isn't an override" ar

[2015-10-01 05:24] rwyborn commented on #2000
You know what, I think you guys are fixated on the literal interpretation of "override". Really what it is marking up is "exactly_match_signature_of_superclass_method", but thats not quite as readable :)

[code]

[2015-10-01 07:06] kitsonk commented on #4963
If in fact you are parsing all modules in strict mode, irrespective of the target, then it makes sense in my mind to emit the prolog in other module targets.  My comment in #3576 was of a worry that it might cause breakage or surprises, but since essentially if external modules have always been parsed in strict mode, if there is breakage, then it was in theory a bad emit and should break so it can

[2015-10-01 07:10] tinganho opened #5053 "Named type parameter"
A spin-off idea from #2175. If a class has many type parameters and let say that default type parameter gets landed. And If I have a class with three type parameters like below:

[code]

Now, I just want to assign a type to one of the type parameter `S`:

[code]
The above solution is quite redundant since you need to assign a type to the type parameters `P` and `E` too. When in fact, you just want

[2015-10-01 07:42] DanielRosenwasser commented on #5049
I would probably create a `.d.ts` file that describes the structure of your module. Gradually, as you use things from that module, you can define/export them from the `.d.ts` file. Initially, this is a little time-consuming, but it gets better as you go along and it pays off next time you have to use that module.

If you really don't want to have to think about using it too much, just define your

[2015-10-01 08:41] zhuravlikjb commented on #5035
Also note that the same problem exists with the destructuring pattern of for-of loop (perhaps, due to the same reasons):
[code]

[2015-10-01 09:33] kitsonk commented on #5010
For those who don't want to dig through the presentation, outside of run-time enforcement of typings (in the TypeScript style) strong mode enforces the following:

 - Remove support for <code>var</code>, instead <code>let</code> or <code>const</code> would be used.
 - No undeclared variables
 - No use before declaration, except for recursive function calls.
 - Accessing missing properties throws

[2015-10-01 11:03] MichalPaszkiewicz commented on #11
Library projects would be awesome!!!

[2015-10-01 11:36] plantain-00 commented on #4448
I find that 3 files was deleted when run `jake baseline-accept`, and I committed it, I'm checking this now.

[2015-10-01 11:52] bpasero commented on #2850
+1 !!

[2015-10-01 13:16] LordFixer opened #5055 "Targeting ES6 not working for .njsproj projects."
When working with .csproj project in Visual Studio I can set the target of ECMAScript version in Properties tab and it works correctly, so I can use generators and all this stuff.
But when working with .njsproj project (node.js project) Visual Studio doesn't seem to care about these settings. I can see, that inside .njsproj file the target is actually set to ES6, but I keep getting "Generators are

[2015-10-01 13:19] slikts commented on #5055
You could try using `tsconfig.json` instead of `.njsproj`. IIRC VS uses `tsconfig.json` instead of project files in some cases. This is not an issue with TS but with VS.

[2015-10-01 13:51] ahejlsberg commented on #5052
This is by design. The problem is that `BaseData` never actually uses the `Schema` type parameter in a member. Thus, when inferring from `ExtendedData` (the type of your argument) to `BaseData<Schema>` (the type of the parameter), there is nothing to infer from and we end up with `{}`. If you add a member to `BaseData` that actually uses `Schema` (e.g. `x: Schema`) it all works as expected.

[2015-10-01 13:58] ahejlsberg commented on #5052
I should add that the reason this breaks with a derived class is that when inferring from references to different types (in this case `ExtendedData` and `BaseData<Schema>`), we make the inferences *structurally*, i.e. by relating the members of the two types. However, when inferring from references to the same type (e.g. `BaseData<DataSchema>` and `BaseData<Schema>`) we can simply infer by relatin

[2015-10-01 13:58] #5052 closed

[2015-10-01 14:30] MaceWindu opened #5056 "Type inference broken for this in master"
[code]

[2015-10-01 14:38] MaceWindu commented on #5056
Looks like it's due to this feature #4910. Gonna read it carefully - not sure wether it expected behavior or not.

[2015-10-01 14:43] MaceWindu commented on #5056
ok, looks like its expected behavior...

[2015-10-01 14:43] #5056 closed

[2015-10-01 16:39] kitsonk commented on #5039
The biggest concern with this is that it sounds like a lot of complexity.  I can understand the desire to align to SystemJS in hopes that it aligns to whatwg and eventually the loaders that are implemented in the runtime environments.  Maybe it is the me being "myopic" but having lived with AMD for nearly a decade now, there are few use cases where my loader configuration is overly complex.  For t

[2015-10-01 16:44] mhegazy commented on #2850
PRs are always welcomed

[2015-10-01 16:51] vladima commented on #5039
we have a request for this specific scenario, but I do agree that in majority of cases it is not necessary. That  is why it should be opt-in thing: if `rootDirs` are not specified then all relative module names are resolved using location of containing module which is the behavior most of people would expect. I've tried to emphasize the intent by increasing complexity in examples :
- simplest scen

[2015-10-01 16:51] mhegazy commented on #3364
the helpers emit have been moved in 1.6 to inside the System.register call. so
[code]

emits:
[code]

[2015-10-01 17:06] #5025 closed

[2015-10-01 17:08] weswigham commented on #5010
The typing parts of their proposal are a separate "SoundScript" extension and are proposed to be used with the prologue `"use strong+types";`. For now, that part seems a longer way off than the simple strong mode semantic changes, so I don't think we need to worry about it yet. For a minimum amount of work, `"use strong ";` is supposed to include all use strict restrictions, so we could begin by r

[2015-10-01 17:21] fredgalvao commented on #939
What if the `makeDeferred` is actually a constructor? Type parameters are not allowed on constructors, so it doesn't work that easy...

The scenario is the Promise implementation (from [lib.es6.d.ts](https://github.com/Microsoft/TypeScript/blob/master/lib/lib.es6.d.ts), but other 3rd party definitions have the same issue):

[code]

With that,
[code]

Some libraries' definitions, like [bluebird.d.t

[2015-10-01 17:40] nycdotnet commented on #5021
For posterity's sake, I've figured out a good technique to permit the TypeScript type system to be happy *and* to have an arbitrary path be emitted in the `define()` call when using ES6 import syntax that works today.  This technique assumes that the types for the module are available globally.  It involves using a supplementary ambient external module definition.  This technique eliminates the ne

[2015-10-01 18:06] mhegazy commented on #3364
I chatted with @vladima offline, this issue is tracking moving the helpers into a module, and alloing the compiler to emit imports to that module, e.g. the above code would emit:

[code]

[2015-10-01 18:10] mhegazy commented on #5053
this looks like a syntax proposal for the implementation of #2175. if you agree, i would keep it in #2175, instead of a separate issue.

[2015-10-01 18:22] danquirk commented on #5055
You'll probably want to file this issue specifically against NTVS: https://github.com/Microsoft/nodejstools

[2015-10-01 18:22] #5055 closed

[2015-10-01 18:49] redpsalm commented on #2302
I am in the same situation and in fact waiting for this feature to move to VSC!

[2015-10-01 18:54] anievagomez commented on #2302
I have the same needs as ldminoc and robertsundstrum.

[2015-10-01 18:55] lucamorelli opened #5057 "jake local fails"
Hi,
  since I have a few issues with tsx inside vs, I would like to use the latest language service instead of the packaged one to see if something is different.
  I updated my typescript clone and launched **jake local** (I have already done this in the last months) but this time fails:
  if I run from a command shell I obtain this error message

if I run from powershell

This is the first time I

[2015-10-01 18:56] mhegazy commented on #2302
@anievagomez can you elaborate? do you have other es6 assets that you want the TS compiler to transpile,  or just es5 sources that you do not want to migrate but still want to code against?

[2015-10-01 19:15] danquirk commented on #5057
Run 'npm install' to update the necessary dependencies.

[2015-10-01 19:28] cspotcode commented on #4101
Can you rewrite all variable *assignments* to also assign to the export?  No need for getters.  The local variable and all exports are kept in sync every time the exported variable is assigned.

[code]
...generates:
[code]

Sorry to bump an old issue.

[2015-10-01 19:33] ldminoc commented on #2302
@mhegazy,  it seems intuitive to me that any serious 'ambitious' application or enhancement to existing long-lived projects (incrementally transitioning to newer technology) would need both capabilities when considering adopting TypeScript, or face a massive uplifting exercise.

[2015-10-01 19:35] DanielRosenwasser opened #5058 "Method syntax not accounted for in object literal completion filtering"
![methodsnotaccountedfor](https://cloud.githubusercontent.com/assets/972891/10231648/b776edca-6838-11e5-9590-256182959e1c.gif)

[code]

Request completion at the `/**/`. `a` should not appear in the list.

Now change the declaration of `a` to a method declaration:

[code]

Request completion at the `/**/`. `a` now *does* appear in the completion list.

[2015-10-01 19:36] #5028 closed

[2015-10-01 19:45] jimmymain commented on #4238
This is still an issue with typescript 1.6.3.
I have removing and installing components for an hour now. This needs attention, it's wasting a lot of time.

[2015-10-01 19:49] mhegazy commented on #2302
@ldminoc i am interested in building an intuition of what a .js file "mean" in a typescript context. is it a reference (e.g. library, sources from that you do not intend to migrate to ts) that you would code against, or a source (i.e. an ES6 JS file that you want transpiled and bundled with your other .ts file outputs).

[2015-10-01 19:53] mbraude commented on #4238
I'm sorry for your trouble @jimmymain, but I promise you the steps I outlined above will fix the issue. Please follow them exactly.

[2015-10-01 19:54] lucamorelli commented on #5057
looks like it solved, but I don't understand why works fine from a powershell admin console and not from a cmd admin console

[2015-10-01 20:25] EToreo commented on #5049
@DanielRosenwasser I wouldn't mind doing that (I might not even mind being forced by TypeScript to do that), but I still can't figure out how to get the require statement to take a path relative to my files ("./lib/helpers.js").  It's like the imoprt/require from TypeScript assumes all your code is in node_modules or ts files.

[2015-10-01 21:02] weswigham opened #5059 "Directive prologues emitted outside of module wrappers"
Given
[code]

we presently emit:
[code]

but should emit:
[code]

Our current emit is detrimental to the module concatenation story, as it:
- Litters the concatenated files with useless string literals.
- Breaks concatenating strict and non-strict modules together.

[2015-10-01 21:29] DanielRosenwasser commented on #5057
@weswigham does `&&` execute conditionally in PowerShell?

[2015-10-01 21:41] yuit opened #5060 "Completion inside interface has inconsistent behavior"
There is no completion shows up on the first property declaration in an interface
![nocompletiononthefirstline](https://cloud.githubusercontent.com/assets/489742/10234261/2fd9146e-6848-11e5-84d9-08b73c7b1d9c.gif)

which is fine if it is consistent with the rest. However, we do give completion on the second property declaration.
![autocompletionafterparen](https://cloud.githubusercontent.com/assets

[2015-10-01 21:49] yuit opened #5061 "Completion shouldn't be completed by parenthesis when declaration method in an interface"
![autocompletionafterparen](https://cloud.githubusercontent.com/assets/489742/10234707/430331de-684b-11e5-9b7e-684a0a97de41.gif)

Typing parenthesis in this position shouldn't cause completion. The behavior should be the same to property declaration in class declaration instead. For property declaration in class declaration, completion is inserted when users press tab or enter only.

[2015-10-01 21:50] Christopher1065 commented on #596
It appears the team is already having to make special-case code for these types of imports such as in checker.ts:

[code]
As @mhegazy points out this isn't just about optimization but rather it is to avoid requiring an import with no runtime definition (e.g. Interface) which would cause a runtime error.

I question which will happen more often. You could easily detect if the import is a *.d.ts so

[2015-10-01 22:02] DanielRosenwasser commented on #5061
We just shouldn't be suggesting identifiers other than those found in heritage clauses.

[2015-10-01 22:04] DanielRosenwasser commented on #5061
Actually, this is a suggestion to avoid using `(` as a commit character. I think it makes more sense to do #5060, since that's the actual issue.

[2015-10-01 22:06] yuit commented on #5061
I have similar feeling that there shouldn't be any suggestion aside those found in heritage clause. Though if we decide to go down that route, we should do the same thing for class declaration

[2015-10-01 22:07] weswigham commented on #5057
`&&` was removed from powershell as a valid deliminator recently, I think. You have to use `;` instead.

[2015-10-01 22:12] yuit opened #5062 "Give an error indicating that the triple slash has syntax error"
I think it will be very nice to give a syntax error when there is a syntax error in triple slash
[code]

[2015-10-01 22:13] DanielRosenwasser commented on #5061
Yup, #3377 tracks that.

[2015-10-01 22:15] DanielRosenwasser commented on #5057
Awesome. Is there anything we can do to fix this now?

[2015-10-01 22:16] mhegazy commented on #5059
I believe we already have an issue for this. Could not find it though. Feel free to send a PR.

[2015-10-01 22:23] weswigham commented on #5057
Cross-shell compatibility has never been easy... ahh... `|` I believe is supported on most shells, which could work if everything that needs to be run doesn't care about the output of the prior process...

[2015-10-01 22:23] yuit commented on #5061
:cookie:

[2015-10-01 22:26] weswigham commented on #5057
@DanielRosenwasser But his question why why it worked in powershell but not in cmd, so I'm not sure it's important.

[2015-10-01 22:29] DanielRosenwasser commented on #5057
Why wouldn't it have been important? This means that in PowerShell it wasn't explicitly failing because `tslint` wasn't present.

[2015-10-01 22:35] mhegazy commented on #5062
if we want to pursue this, we scan ///<references differently, instead of treating them as comments.. see https://github.com/Microsoft/TypeScript/pull/2002#issuecomment-74445060 for more details.

[2015-10-01 22:41] mhegazy commented on #5061
#5060 is the real issue here. it should be a builder. i do not think we need to change the commit characters here.

[2015-10-01 22:41] #5061 closed

[2015-10-01 22:54] weswigham commented on #5057
Looking at his stack traces, the different is that in powershell he was never even able to load `jake` from the local node_modules dir whereas in `cmd` he had at least gotten `jake` installed and started to read the jakefile before it got to the missing tslint dependency.

[2015-10-01 22:54] weswigham commented on #5057
I don't see anything there that would have anything to do with a `&&` at all.

[2015-10-01 23:01] sandersn commented on #4611
async doesn't work inside class declarations either:

    async
    s();

is parsed as

    async s();

[2015-10-01 23:01] weswigham commented on #5057
@DanielRosenwasser Also, TIL `;` is a valid separator in bash. I've always used `&&`.

[2015-10-01 23:13] DanielRosenwasser commented on #4611
Pinging @bterlson; @rbuckton would like to know whether the *AsyncMethod* production should hold even in the presence of a `static` modifier:

&nbsp;&nbsp;`async` [no *LineTerminator* here] *PropertyName*<sub>[?Yield, ?Await]</sub> `(`*StrictFormalParameters*<sub>[Await]</sub>`)`
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`{` *AsyncFunctionBody* `}`

[2015-10-01 23:13] yuit opened #5063 "Squiggle error doesn't get update properly"
The squiggle error persists even though the statement that causes the error is removed. The bug is quite hard to repo. I ran into it under two different scenarios: 1) toggle allow implicit any compiler setting on/off and remove the statement that causes an error while doing so (this one is a bit uncommon) 2) using the the project for a while and then the bug starts to creep in. These error do not

[2015-10-01 23:16] #3277 closed

[2015-10-01 23:17] mhegazy commented on #3277
Thanks @ShyykoSerhiy

[2015-10-01 23:25] DanielRosenwasser commented on #4611
@sandersn I think we should make all class modifiers (apart from `static`) have a "[no LineTerminator here]".

[2015-10-02 00:04] engineforce opened #5064 "TypeScript codes copied from Visual Studio 2015 do not contain syntax highlight"
Codes copied from Visual Studio always contain syntax information (including spacing, syntax highlight, etc.), this allow me to copy codes to Word for documentation purpose.

However, I just found that this feature is broken for TypeScript 1.6.3.0 in Visual Studio 2015, when I copy TypeScript codes to Word, they don't contain Syntax Highlight, which is very annoying. Note that this feature for all

[2015-10-02 00:35] mhegazy commented on #5064
this is managed by Roslyn. @CyrusNajmabadi any ideas?

[2015-10-02 01:04] weswigham commented on #4611
@DanielRosenwasser we allow newlines after `get` and `set`:
[code]

[2015-10-02 02:17] rwyborn opened #5068 "Generic type inference broken when using | anywhere in a class"
NOTE: This is a different issue to #5052, which was a spurious example based on stripping down the example code too much.

The below code fails to compile because the Schema type is not correctly inferred. The root cause is this declaration in the BaseData<schema> class.
[code]
If I remove that method, or change it to only take Schema[], then everything compiles OK.

Example Code:
[code]

[2015-10-02 02:20] rwyborn commented on #5068
Follow up. I can also fix the compile error by changing the BaseData declaration to the following:
[code]

[2015-10-02 07:56] dbaeumer opened #5069 "Extending from Error doesn't work correctly under tsc 1.6.2"
Test case:

myError.ts
[code]
tsconfig.json
[code]
compile and run using node:

node myError.js

Observe: nothing is printed to the console. Debugging it shows that the message passed to super is not recorded. Something seems very strange with the prototype chain in this case.

I was under the impression from https://github.com/Microsoft/TypeScript/pull/3516 that this should work now even if gener

[2015-10-02 08:06] paulsouche opened #5070 "cannot mixin and keep private properties"
Hi,

I'm wondering how to achieve this ?

[code]

Thanks

[2015-10-02 08:23] forbesmyester commented on #2302
A .ts file can just mean a JavaScript file with some ES6 features and
TypeScript's amazing editor support for guessing types and function
metadata. In fact it could even just be the latter if the code is well
written ES6...

At the moment I'm not sure TypeScript is the right choice for a project,
but some form of ES6 is probably the way to go, forcing me to change all my
extensions is too big an a

[2015-10-02 08:33] kitsonk commented on #2302
You are right...

[code]

is too much to ask...  The whole project is doomed.

[2015-10-02 08:38] ivogabe opened #5071 "Branch release-1.4 removed"
I noticed the `release-1.4` branch was removed. The tests of gulp-typescript are now failing, as it cannot download typescript 1.4 from that branch. TS 1.4 is downloaded as a git submodule since npm cannot download multiple versions of the same version. Was this branch removed accidentally? Other release branches (1.0.3, 1.1, 1.3, 1.5, 1.6) still exist.

[2015-10-02 08:47] kitsonk commented on #5070
I am not 100% certain, but I think you have fallen down a bit of a rabbit hole.  `implements` treats the classes as interfaces (and not as classes) and you cannot have private members of an interface (because they aren't part of the exposed API).  I think the only way you can solve it, is remove the `private` from the `Test` class.

I think logically it works, even if it was `class TestPlopMixin e

[2015-10-02 09:04] tinganho commented on #5053
OK I its fine.

On Fri, Oct 2, 2015, 02:10 Mohamed Hegazy <notifications@github.com> wrote:

[2015-10-02 09:07] DickvdBrink commented on #5071
Can't you use the tag? https://github.com/Microsoft/TypeScript/tree/v1.4 That one still exists

[2015-10-02 09:55] forbesmyester commented on #2302
I can write simple Bash too, that's not the issue.

Not all projects are single person project and some people __really__ hate
TypeScript. Also How do I ensure that I'm not breaking everybody's syntax
highlighting and plugins on whatever editors they're using?

It'd be nice if I could use TypeScript without anyone else being effective,
if I'm careful, at least for a short period.

Matt

On Fri, 2

[2015-10-02 10:12] kitsonk commented on #2302
What is the issue then?  The assertion was "forcing me to change all my extensions is too big an ask at this point"... Why?

[2015-10-02 11:08] gloomybrain opened #5072 "TS2300 when typescript is installed & run locally"
I'm trying to use local installation of ts compiler and having lots of "TS2300" errors.
Step by step:
 - install typescript as a local npm module (`npm install typescript` **without -g**)
 - create some .ts source files
 - create tsconfig.json file
 - use "rootDir" entry in tsconfig.json to make typescript compile everything inside some project dir
 - use "outDir" entry in tsconfig.json to point o

[2015-10-02 11:34] kitsonk commented on #5039
I guess I am just missing how the last two points can't be addressed by a simple `paths` that only takes a path, either or absolute to the `baseUrl`, and then some recursion that keeps relative MIDs relative to the importer.  Even with the other scenarios, I suspect you would also still need some sort of sledgehammer `map`.  The specific use case I run into now that makes this challenging (and the

[2015-10-02 11:36] paulsouche commented on #5070
Thanks for the quick answer.

According to the [doc](http://www.typescriptlang.org/Handbook#mixins) TypeScript allow us to create mixins by creating classes that implements other classes.

I think this is already a bit "silly" for a non-JavaScript developer. So we cannot use this when an implemented class have private properties. Delete privates or make it public work but I don't think this is a g

[2015-10-02 12:06] weswigham opened #5073 "import * as alias syntax doesn't work with export = function unless merged with namespace"
[code]

Can't be included via `import * as f from "foo";`.
(`test.ts(1,20): error TS2497: Module '"foo"' resolves to a non-module entity and cannot be imported using this construct.`)
Whereas
[code]

_Can_ be. The distinction seems artificial.

[2015-10-02 12:19] jbondc commented on #5070
I'd say this is a bug, the check happens here:
https://github.com/Microsoft/TypeScript/blob/master/src/compiler/checker.ts#L12869

What it should in the context of ```implements classType``` is only check public members:
https://github.com/Microsoft/TypeScript/blob/master/src/compiler/checker.ts#L5141

Can likely submit a patch if TS team agrees.

[2015-10-02 12:25] ivogabe commented on #5071
@DickvdBrink Thanks for the suggestion, I'll try that later today

[2015-10-02 12:32] jbondc commented on #5010
Seems a bit early, it's an interesting way "scaling up" complexity and stronger constraints.

I'd add remove ```delete``` and possibly other things. Would be nice to have a discussion on impacts to type system.

[2015-10-02 12:44] jbondc commented on #4955
Very nice. Probably all ```this.``` assignment expressions should work.

Think ```delete``` deserves some thought too:
[code]

[2015-10-02 13:06] mprobst commented on #5039
@kitsonk I have the use case @vladima is talking about. For me, just a set of `--includeDir`s would be sufficient (but I do need the canonicalization-of-relative-paths!). Once you add that, you might as well try and be compatible with what SystemJS does, I don't think it substantially increases complexity over that.

[2015-10-02 13:29] billccn opened #5074 "Mistake in TS1.6 breaking changes doc?"
[The doc](https://github.com/Microsoft/TypeScript/wiki/Breaking-Changes#typescript-16) gives the following example:
[code]

I think the type should be wrapped in an array.

[2015-10-02 13:38] ahejlsberg commented on #5074
You're right, thanks for catching this. I just fixed it.

[2015-10-02 13:38] #5074 closed

[2015-10-02 13:46] cfgj opened #5075 "w temperatur"

[2015-10-02 13:57] forbesmyester commented on #2302
Not all projects are single person project and some people __really__ hate
TypeScript. Also How do I ensure that I'm not breaking everybody's syntax
highlighting and plugins on whatever editors they're using?

Matt

On Fri, 2 Oct 2015 11:13 Kitson Kelly <notifications@github.com> wrote:

[2015-10-02 13:57] jrieken opened #5076 "server doesn't watch for file add/remove"
* run tsserver
* run a command that removes/add TS files, like _tsd install foo, git pull, etc_

[2015-10-02 13:58] ahejlsberg commented on #5068
The issue arises when trying to infer from the type `DataSchema[] | {}[]` to the type `Schema[] | {}[]`. Union type inference relates each source type to each target type, so we end up inferring that `Schema` *might* be `{}`, which indeed is true given the way you're written the types.

I'm wondering why you're writing `Schema[] | {}[]` in the first place? You might as well just write `{}[]` since

[2015-10-02 14:16] dbaeumer commented on #5076
The interesting case here is the tsconfig.json which defines the project scope. Reloading the project in this case is an 'overkill' since all that needs to be done is to add/remove files to/from the project. IMO the tsserver should either handle that case correctly or should give up on file watching and rely on the editor to provide the file events.

[2015-10-02 14:21] dbaeumer commented on #5032
@mhegazy I will work on test and the comments beginning of next week. Busy with VSCode this week.

[2015-10-02 14:24] dbaeumer commented on #5032
The PR also addressed #3681

[2015-10-02 14:33] myitcv opened #5077 "Using a union type for a rest parameter type annotation"
According to the spec (see later in this note), the following should be valid:

[code]

but this gives an error:

[code]

I'm guessing this is therefore an error in the spec?

[code]

[2015-10-02 15:00] #4688 closed

[2015-10-02 15:01] bgoerdt opened #5078 "ES6 Promise definition has non-optional property [Symbol.toStringTag]"
I am using TypeScript with AngularJs I am trying to cast Angular's ng.IPromise to an ES6 Promise, but I am getting the following error:

Type 'Promise<any>' has non-optional property '__@toStringTag' which is not present in the type 'IPromise<any>'

Can the [Symbol.toStringTag] property be made optional so that this Promise definition can interface with other definitions?

[2015-10-02 15:09] BobFrGit opened #5079 "If I search Typescript I find myself in the generated JavaScrpt"
A number of times recently I've run into problems when I search for a function in TypeScript, deleted it and find that I'm not getting errors for the missing references. Turns out it found the generated .JS not the source. This is VS2015 fully updated.

How do I prevent it from stumbling into the .JS code.

Or is this a bug one one of the addins for Visual Studio? If so which one?

[2015-10-02 15:26] RyanCavanaugh commented on #5077
It's a valid grammatical production, but not valid according to the type system. The grammar is about what's syntactically valid, not necessarily semantically valid (the same way that `var x: number = 'foo'` is allowed by the grammar, but not allowed by the type system).

We perhaps *could* change the rule from "a rest parameter must be an array type" to "a rest parameter must be an array type or

[2015-10-02 15:26] #5077 closed

[2015-10-02 15:27] RyanCavanaugh commented on #5075
w temperatur indeed :wink:. Please log a new issue.

[2015-10-02 15:27] #5075 closed

[2015-10-02 15:27] electricessence commented on #8
Maybe I'm missing something, but I've been having significant difficulty in getting sourcemaps and uglify/minify to work as expected.   What I really want is a TSC.exe compiler option to minify the file with sourcemaps.   IMO, simply stated, if you are using AMD or any other module based code, you really don't care about how the resultant JS looks because you have the sourcemaps.

Here's what I've

[2015-10-02 15:29] electricessence commented on #8
Also, it would be neat if you could replace the __extends code with an AMD module called 'extends' or something. :)  Could take a chunk out of the total code.

[2015-10-02 15:31] RyanCavanaugh commented on #4955
What is the intent of that code? :confused:

[2015-10-02 15:33] RyanCavanaugh commented on #5071
We periodically clean up branches. Tags are the intended release markers; please log an issue if there's a missing tag.

[2015-10-02 15:33] #5071 closed

[2015-10-02 15:35] myitcv commented on #5077
Got it, thanks.

Agreed.

No, you understood me correctly!

[2015-10-02 16:16] JoshuaKGoldberg opened #5080 "Maximum call stack size exceeded when type references a recursive type"
Another one of these :)

[code]

Error in tsc version 1.6.2:
[code]

Seems to be a duplicate of #4443.

[2015-10-02 16:22] jbondc commented on #4955
Wasn't able to find any convincing cases in JS. Seen this in PHP sometimes ~ ```this._tmp``` can be used as temporary variable:
https://github.com/bluelovers/Scophp/blob/64f114e521ff607f83812391579f4f74809c2f10/Scorpio/Sco/Array/Sorter/Stable.php

Not a huge issue but part of the question: parameter properties count as declared properties?

If someone wants a pure ES6 way to declare properties, I

[2015-10-02 16:29] mhegazy commented on #5032
no rush. feel free to update the PR at your convenience. thanks for fixing this!

[2015-10-02 16:32] jbondc commented on #4955
More concrete:
[code]
Don't really want ```_tmp``` in there :/

[2015-10-02 16:33] DanielRosenwasser commented on #5074
Thanks @billccn. In the future you can send a PR at https://github.com/TypeScript-wiki

[2015-10-02 16:34] RyanCavanaugh commented on #5080
Confirmed repro in master branch

[2015-10-02 16:44] bryanforbes commented on #5039
@mprobst Could you provide a concrete example of this need and how you would solve it with SystemJS? I'm having a hard time coming up with a real-world example of merging two code trees together that couldn't be solved by creating a package for one tree and importing it in the other.

[2015-10-02 16:49] ajshankar opened #5081 "New Website Logo: Everlaw"
Please fill the following out:

- Name: Everlaw
- Homepage url: http://www.everlaw.com/
- Brand Guidelines/Licensing: none
- Logo: http://everlaw.com/presskit/images/everlaw-1600-square.png

[2015-10-02 16:50] ajshankar commented on #5081
We've also written a pretty sweet TypeScript plugin for NetBeans, which includes code completion, error checking, etc.: https://github.com/Everlaw/nbts

We've released it as open source. Is there a place where you're collecting such resources for potential (and active) TypeScript users?

[2015-10-02 17:03] mhegazy commented on #5071
I have restored the branch. but as @RyanCavanaugh, the branches can disappear at anytime. please use the tags instead.

[2015-10-02 17:09] mhegazy commented on #5073
there is no way in an ES6 module to achieve this. the parallel in an ES6 module world is to `default` export. `import *` will import the namespace component of the export, if it exists, if it does not, it is an error. That you can call the alias as a function in the second case, is the bug i would say.

[2015-10-02 17:09] #5073 closed

[2015-10-02 17:11] mhegazy commented on #5080
@ahejlsberg wanna take a look?

[2015-10-02 17:12] mhegazy commented on #5076
@zhengbli is working on a fix for this as part of #4553 and #4643

[2015-10-02 17:13] #5053 closed

[2015-10-02 17:13] mhegazy commented on #5053
thanks!

[2015-10-02 17:17] mhegazy commented on #5072
If you have a tsconfig.json, with no "files" property defined in it, the whole folder is considered part of your "project". the compiler will load **all** .ts files in the folder and subfolders, this includes node_module (as you pointed in the original post). the correct thing to do is, again as you mentioned, to add node_modules to the "exclude" property.

one handy trick is to use `tsc --init`,

[2015-10-02 17:18] mhegazy commented on #5072
forgot to mention that once all files are included in the compilation, such as files in packages like the TypeScript package (e.g. lib.*.d.ts) will produce the TS2300 or duplicate identifier errors.

[2015-10-02 17:19] mhegazy commented on #5072
hope that helps. and welcome to TypeScript :)

[2015-10-02 17:21] mhegazy commented on #5079
when you trigger Search All dialog in VS, restrict the search to "*.ts" files:

![image](https://cloud.githubusercontent.com/assets/8000722/10252916/48f6f522-68ef-11e5-80c9-5de49f938835.png)

the other option, do not include the generated .js files in your project.

[2015-10-02 17:25] mhegazy commented on #2302
@forbesmyester what you are looking for is #4793 then, correct? you want the TS developer experience (completion, highlighting, etc..) in an ES6 source file, without committing to using types, TS-specific-syntax, etc.. is this accurate?

[2015-10-02 17:31] #5027 closed

[2015-10-02 17:53] ldminoc commented on #2302
@mhegazy, it would be yes to both:
1. es5 files treated as external modules, not requiring transpilation (but uplifted with typing support via .d.ts files)
2. es6 files (files using es6 features) requiring transpilation to specified --target

Both are bundled but that will be the responsibility of a third-party tool such as webpack, hth.

[2015-10-02 17:53] BobFrGit commented on #5079
That's not a real answer. Sure i can remember in this one case to use the long search but the generated .js file isn't included in the project so it shouldn't be searched by default.

[2015-10-02 18:15] DanielRosenwasser commented on #5079
You can use our **Navigate To** functionality. Trigger it with `Ctrl+,`.

[2015-10-02 18:49] BobFrGit commented on #5079
Thanks for the reminder of ^,

But still, searching for non-included items is a bug. And once we open that can-of-worms would be nice to get a fix to say that I don't want to search inside comments (similar to the options for replaceing names)

[2015-10-02 19:05] RyanCavanaugh opened #5082 "Design Meeting Notes, 10/02/2015"
Can we make TSLint part of the build? Yes. Make it part of ‘runtests’

### Simple reachability checks
 * Done as part of the binder
 * Cheap in terms of perf
 * ~Couple hundred LOC
 * Found two bugs in the compiler
 * Has some checks for e.g. while(true), but nothing extra-fancy
 * Does not include definite assignment
   * Need a faster implementation of `Set` to do this quickly
   * Suggestion: u

[2015-10-02 19:05] #5082 closed

[2015-10-02 19:50] mhegazy commented on #5069
The issue is with how these built in types are hand eked by the engine. They are extensible as per the es6 spec, but do not think the engines are there yet.

Here is some related discussion https://github.com/Microsoft/TypeScript/issues/1168#issuecomment-107833988

[2015-10-02 20:12] ldminoc commented on #4792
Here are some opinions:
- the environment should provide syntactic support for ES5 (or lower?) but should not compile. Alternatively provide a compiler flag to ignore (i.e not compile). There are reason to want to NOT re-compile third-party sources.
- definitely support transpilation of es6 files unless an alternative transpiler has been configured
- definitely support jsx, by default or compiler

[2015-10-02 20:13] RyanCavanaugh commented on #5005
(whatyearisit.jpg)

[2015-10-02 20:14] mhegazy commented on #4578
We would like to keep the syntax as simple as possible; Could not find any blocked scenarios by now allowing abstract on class expressions. So, use an abstract class declaration instead.

[2015-10-02 20:14] #4578 closed

[2015-10-02 20:15] JKillian commented on #4955
I assume the driving force behind this change is to let TS be able to mimic ES6-style JS classes? On one hand it seems like an unnecessary extra way to do things, but I like how it would let you copy over an ES6 class and be able to start using it with type-checking in TS.

 I don't think there's a good answer for parameter properties. If they're considered declared properties, it disallows their

[2015-10-02 20:32] kripod opened #5085 "Partial files for better modularization"
_Inspired by the ```@import``` function of SASS._

I would like to propose a mechanism for creating partial files, which are not compiled by default, but embedded into files which reference them. It's just like bundling, but with less hassle and in a more unified approach.

As a brief example, suppose that we have 4 files:

- index.ts
- user.ts
- _auth.ts
- _position.ts

The ```index.ts``` and ```

[2015-10-02 21:32] mhegazy commented on #4669
declaring the property as abstract does not change anything different from just declaring it. the type is going to always have the property.

As for getters and setters., the type system does not differentiate between getter/setter and a property declaration.

[2015-10-02 21:36] mhegazy commented on #4670
Although, the convenience of not writing the declaration would be nice, the possible confusion/complexity arising from this change would not warrant it. by examine the declaration, it is not clear which members appear on the type, is it all properties, methods, or properties with call signatures; would they be considered abstract? optional?

[2015-10-02 21:38] mhegazy commented on #4429
Though the class is marked as abstract, the class do exist at runtime. as per the ES6 spec, super needs to be invoked. if all you need is the type, either implement the class, and not extend it, or define it as an interface.

[2015-10-02 21:38] #4429 closed

[2015-10-02 21:45] mhegazy commented on #5085
looks like a duplicate of #17

[2015-10-02 21:45] #5085 closed

[2015-10-02 22:00] mhegazy commented on #5070
The current behavior is by design. private members will stick on the type. if you do not want the privates to appear, do not implement the class, implement an interface that is structurally equivalent to the class's public shape.

@paulsouche it is not possible to "implement" a class with a private member. the idea is that privates are unique to a specific class, and can not be accessed, redefined

[2015-10-02 22:18] yuit opened #5088 "Incorrect completion in end tag of JSX element"
We are able to give useful completion in opening tag of jsx element. We should be doing the same thing for closing tag. It will also be helpful to insert appropriate name when users type `</`

![autocompletioninjsxelement](https://cloud.githubusercontent.com/assets/489742/10259004/6a196a90-6918-11e5-9704-af809d1f8ce7.gif)

In this case, the completion in the close tag should show `</div> and compl

[2015-10-02 22:25] rbuckton commented on #5078
The `Promise` interface in lib.es6.d.ts matches the API for the specification for ES6. There is also a `PromiseLike` interface in both lib.d.ts and lib.es6.d.ts:

[code]

Are you targeting ES6?

[2015-10-02 23:04] mhegazy commented on #5088
i would say, the completion list should only have the containing open tags

[2015-10-02 23:47] rbuckton commented on #4681
This should be addressed as of #4741.

Decorators are now allowed when targeting ES3. In this case, all decorators on members of a class are treated in the same fashion as a decorator on a property declaration. A descriptor for the declaration will neither be provided to nor consumed by the `__decorate` helper in this case.

Decorators for ES5 and higher should be unaffected (although the actual e

[2015-10-02 23:47] #4681 closed

[2015-10-02 23:51] mhegazy commented on #4556
I think `target` is the wrong property here. we need something else to mean `sourceVersion` or something along these lines.

[2015-10-02 23:56] danquirk commented on #5088
Even better would be just automatically inserting the closing tag when you create an opening tag. Many other editors do this.

[2015-10-02 23:59] #4670 closed

[2015-10-03 00:06] danquirk commented on #5079
I'm inclined to agree here. Why would people want the default search experience to include a duplicate result for every search result?

[2015-10-03 00:08] BobFrGit commented on #5079
Not just duplicate -- the problem is that you don't know you're in the JS which is generated code and that window should be readonly or at least marked so it is obvious that you aren't editing the source.

[2015-10-03 00:12] yuit commented on #5088
@danquirk I agree. that will be sweet :cookie:

[2015-10-03 00:12] danquirk commented on #5079
Right, there're many reasons it's a suboptimal default. At various points we've debated the merits of having the JS files shown in Solution Explorer at all, which suggests the search results in those files are equally unimportant.

[2015-10-03 00:13] alexeagle opened #5089 "Type inference lacking on index signature types"
The compiler gives an error on the last line:
[code]

`Index signature is missing in type '{thing: 'otherthing'}'`

Which is very sad since I'm refactoring all of angular to use string index signatures instead of our hacky StringMap (https://github.com/angular/angular/issues/4483)

[2015-10-03 00:25] danquirk commented on #5089
The reason for this rule was because we could not guarantee that ```t2``` did not get additional properties after initialization that would make it invalid for use with ```s```. For example:
[code]
The rule is that object literals that are contextually typed by a type with an indexer signature then get the index signature pushed into the literals type (this is what happens to ```t```). However, no

[2015-10-03 00:29] alexeagle commented on #5089
Okay, thanks for explaining. I'm almost done adding explicit types.

What about this case, where I get an error, it seems like the type narrowing within the type guard should work?

[code]

[2015-10-03 00:32] RyanCavanaugh commented on #5089
We don't yet narrow the `else` clause on account of `instanceof`; see #1719

[2015-10-03 00:34] alexeagle commented on #5089
thanks, world-class support! :bouquet:

[2015-10-03 00:34] #5089 closed

[2015-10-03 00:49] DanielRosenwasser commented on #4481
Should this work for function expressions too? @mhegazy @CyrusNajmabadi

[2015-10-03 01:40] mhegazy commented on #4481
We chose to not include functions in the past, just to avoid polluting the list. I think class expressions are different enough; I woul not mind trying the experience with function expressions as well.

[2015-10-03 04:20] tinganho opened #5091 "Restrict top-level expressions and add main function"
If I import a module in TS I want to make sure that it doesn't do some top-level calls or evaluations before I use any of its method. It can be harder to debug if it doesn't follow a predictable execution order. By predictable execution order I mean blocks of code that could be traced back to a main function by following a call stack of functions you called(so excluding import statements).

I prop

[2015-10-03 05:17] tinganho commented on #1719
I will try to tackle this issue.

[2015-10-03 05:40] kripod commented on #5085
@mhegazy I think that I've defined a proposal for #17, then. :) It should only be implemented now...

[2015-10-03 06:51] kripod commented on #17
# Proposal suggestion
(Based on #5085)

_Inspired by the ```@import``` function of SASS._

I would like to propose a mechanism for creating partial files, which are not compiled by default, but embedded into files which reference them. It's just like bundling, but with less hassle and in a more unified approach.

As a brief example, suppose that we have 4 files:

- index.ts
- user.ts
- _auth.ts
-

[2015-10-03 06:54] gloomybrain commented on #5072
Ok, I've got it, thanks for your reply. But then what is the purpose to have "rootDir" defined in tsconfig (as I do have defined), if it doesn't tell the compiler where to grab the sources? Or am I missing something obvious?

[2015-10-03 11:18] andrewvarga opened #5093 "Using shared classes for single output client and common.js based node.js code"
I have a general question about project structures / modules.
It's a project with 3 types of code:
- client: classes used for the client web-app, built into a single js file (with --out).
- server: code running on node
- shared: classes used by both client and server, typically model classes with functions like validation, etc

My aim is this:
- use 1 file per 1 class at the source level
- deploy

[2015-10-03 12:14] andrewvarga opened #5094 "Using shared classes for single output client and common.js based node.js code"
I have a general question about project structures / modules.
It's a project with 3 types of code:
- client: classes used for the client web-app, built into a single js file (with --out).
- server: code running on node
- shared: classes used by both client and server, typically model classes with functions like validation, etc

My aim is this:
- use 1 file per 1 class at the source level
- deploy

[2015-10-03 13:46] paulsouche commented on #5070
Yeah indeed it works with an interface but I think it's weirder to implements both interfaces and classes. As the implementation of the mixin is up to me, I will only use interfaces that represent the classes.

Thanks for your time on this question.

[2015-10-03 13:46] #5070 closed

[2015-10-03 16:09] mprobst commented on #5039
@bryanforbes I think @vladima's example is good. Imagine you have something that generates TypeScript source. E.g. Angular 2 will have a build tool that transforms templates to TypeScript code that you can directly call in your app, for various reasons (mostly app startup time).

So you have your Angular controllers together with your templates, `src/some/widget/foo_controller.ts` and `src/some/wi

[2015-10-03 16:54] DeanB2015 opened #5095 "Adding d.ts to tsconfig.json wiki"
https://github.com/Microsoft/TypeScript/wiki/tsconfig.json has great information.  Would be nice to see a `d.ts` in the files element in `Using the "files" property example.  It would demonstrate how d.ts files can be used instead of  reference path="angular2/angular2.d.ts" />   ???

Example:

"typings/tsd.d.ts"
"angular2/angular2.d.ts"
.....

[2015-10-03 17:04] ToddThomson commented on #17
@kripod https://github.com/toddthomson/tsproect already does this. It adds bundling to the tsconfig.json file and will build a bundle from modules using ES6 syntax.

[2015-10-03 17:06] kripod commented on #17
@ToddThomson I have seen that project before proposing my specification, but bundling from a single file seems to be overcomplicated for such a little effect.

[2015-10-03 17:07] mhegazy commented on #5072
The rootDir is used only when outDir is passed to detect the directory structure the compiler needs to recreate in the output.

Here is some more information about options: https://github.com/Microsoft/TypeScript/wiki/Compiler-Options

[2015-10-03 17:08] ToddThomson commented on #17
@kripod No that is not how it works. Your Typescript ES6 exported files are defined in separate files. When you specify a bundle it works out all the dependencies and build a single bundled ts, js and d.ts. Take a look at the sample on the github tsproject repository.

[2015-10-03 18:34] DanielRosenwasser commented on #5095
Hey thanks for the suggestion @DeanB2015 - we're going to be focusing on documentation soon, so I've opened up a bug on our wiki's issue tracker: https://github.com/Microsoft/TypeScript-wiki/issues/35.

[2015-10-03 18:34] #5095 closed

[2015-10-03 18:49] SimoneGianni commented on #4888
@mhegazy true if we're talking about the metadata, but not if the decorator is asking for a type in it's own signature.

I mean, if I have a decorator :
[code]
Even if them the decorator does not use the parameter, same as any other function, it should be reported as an error if it can't be resolved.

[2015-10-03 18:54] SimoneGianni commented on #4888
But the error reporting is another issue, it happens for every static call (decorators are actually "static calls"), also when the compiler could report the error, like not using external modules but simply inside the same code block.

Try to paste this in the playground :

[code]

It will produce a code that can't work at runtime, but the compiler is not reporting any error, while it could cause

[2015-10-03 18:57] mikehaas763 commented on #3628
Is this issue getting at being able to do something like the following for using interface annotations with as DI tokens?

[code]

The specific reason I'm asking is because when using a DI system for TypeScript that uses type annotations as metadata (such as what exists for Angular 2) this is currently not possible because no runtime "Reflect" unique metadata is emitted for interfaces so you can't

[2015-10-03 18:57] SaschaNaz commented on #5088
Is there any open issue for the "HiHi" part? I think no completion should be there.

[2015-10-03 18:57] DanielRosenwasser commented on #4988
Actually, I'm not so sure about this anymore; if you subclass array, then you definitely aren't going to get the expected behavior when you `.slice()`.

[2015-10-03 18:59] DanielRosenwasser opened #5096 "Completion should not appear at positions of JSX text"
Courtesy of @SaschaNaz at https://github.com/Microsoft/TypeScript/issues/5088#issuecomment-145278660

![autocompletioninjsxelement](https://cloud.githubusercontent.com/assets/489742/10259004/6a196a90-6918-11e5-9704-af809d1f8ce7.gif)

For the "HiHi" part, no completion should be there.

[2015-10-03 18:59] DanielRosenwasser commented on #5088
Just opened #5096, thanks @SaschaNaz

[2015-10-03 19:11] alexeagle opened #5097 "Can I package my dependencies typings in a way that snapshots the version?"
I'm using the new 1.6 module loading for typings from https://github.com/Microsoft/TypeScript/issues/2338

I distribute my library with NPM and clients pick up the typings for my code magically from the path indicated by the "typings" field in the `package.json`. So great! The version of the typings will always match the version of the runtime code.

But, one of my files might try to import from a

[2015-10-03 19:12] alexeagle commented on #5097
From discussion with @rkirov

[2015-10-03 19:49] SpenceDiNicolantonio opened #5098 "File import ignored if the file containing the import statement doesn't explicitely reference a class deifined in the file"
Class `MyClass` is defined in `my-class.ts`. The class is decorated with a custom decorator. The result of the decorator is some logic that will eventually cause `MyClass` to be instantiated.

Another file, `other-file.ts`, imports `my-class.ts` with:
[code]
`other-file.ts` has no explicit reference to `MyClass`, as it will automatically be instantiated and used as needed as a result of its decora

[2015-10-03 20:36] mhegazy commented on #4988
I would not say Subclassing array is the common scenario.

[2015-10-03 20:49] mhegazy commented on #4888
Passing a class explicitly to a function call, regardless if it is a decorator or not, is a different issue. I think this is a fair case for the compiler to detect and warn about. Using compiler jargon, this is [definite assignment analysis](https://en.m.wikipedia.org/wiki/Definite_assignment_analysis); e.g. Using a variable before its definition, or variable used before definitely initialized. Th

[2015-10-03 21:57] rbuckton commented on #4888
For classes, at least, we should perform the same analysis that we do for let/const as class declarations in ES6 are treated like `let` declarations, IIRC.

[2015-10-04 00:19] JoshuaKGoldberg commented on #5080
Found a one line fix, am currently wrestling with the jake tests to make a test for it.

In checker.ts > `instantiateAnonymousType`, the `mapper.instantiations[type.id] = result` line should be before the `stringIndexType` and `numberIndexType` calls to `instantiateType`.

[2015-10-04 00:52] ahejlsberg commented on #5080
@JoshuaKGoldberg Thanks for looking at this. That does indeed fix the issue for your example, but unfortunately it still blows up if you modify it slightly:

[code]

The root problem is that we're too eager in our instantiation of members of instantiated anonymous types (yes, bit of a mouthful). I'll be putting up a PR that properly defers instantiation of members shortly. It handles both your exa

[2015-10-04 00:56] JoshuaKGoldberg commented on #5080
@ahejlsberg Ok, thanks for the fix & clarification!

[2015-10-04 02:09] tinganho opened #5100 "Type guards doesn't work on multilevel if statements"
I just noticed that type guards doesn't work on multilievel if statements? Is it by design?
[code]

[2015-10-04 03:15] jbrantly commented on #4682
I'm not able to duplicate using the current files listed in the OP and the latest definitions from DT (and TS 1.6.2). I believe the DT definitions are correct here. The `ref` prop for a particular component returns an instance of that component and the typings are (mostly) set up to model that.

[2015-10-04 04:23] Gaelan opened #5101 "Infer Type Guard Return Values"
If a function returns a type guard, either the result of an `instanceof`or the return value of another type guard function, it could be inferred as being a type guard itself. However, it is simply inferred as a `boolean`.

This change would allow the following code to work:

[code]

[2015-10-04 05:52] denvned commented on #4669
@mhegazy Actually, there is an important difference. Using an **abstract** property I could specify that the property must be specialized (usually with getters and/or setters) in a derived class, and the compiler should rise an error if it's not specialized.

Please reconsider closing this proposal.

[2015-10-04 06:00] denvned commented on #4670
@mhegazy I used to think that abstract classes are just like interfaces but with some members implemented. I know that TypeScript very often works non-intuitively different from other languages, but that is the difference in this specific case comparing to languages that don't have such problems with abstract classes?

[2015-10-04 06:46] mhegazy commented on #4888
@sheetalnandi has a PR out with that already.

[2015-10-04 07:29] denvned commented on #5082
@RyanCavanaugh Regarding abstract properties, see my [comment](https://github.com/Microsoft/TypeScript/issues/4669#issuecomment-145319720) about why they are actually make sense. Workaround with delegating to protected methods requires more cluttered code, and have runtime performance overhead implications.

[2015-10-04 08:37] weswigham commented on #5097
#4913 - The package scope proposal - would loosen current restrictions and allow you to redistribute the types you require inside your package.

[2015-10-04 09:56] heycalmdown opened #5102 "Node.js-like module resolution doesn't follow parent paths"
When I have following environment

* parent
  * node_modules
    * my-proper-external-module
      * index.d.ts
      * index.js
  * my-application
    * index.ts (`import m_p_e_m from 'my-proper-external-module'`)

It couldn't resolve where the `my-proper-external-module` is.

It should work according the proposal (https://github.com/Microsoft/TypeScript/issues/2338) and the source code(https://g

[2015-10-04 09:59] heycalmdown commented on #5102
Got it.

When if I compile like this

[code]

doesn't work. But when if

[code]

works.

[2015-10-04 10:14] SaschaNaz commented on #299
Now that #4910 is merged, can this be revisited?

[2015-10-04 18:44] SaschaNaz commented on #5030
Does this accept PR?

[2015-10-04 19:01] alexeagle commented on #5097
Cool, I hope we can get a solution for that, it's the biggest remaining issue with our new quickstart.
I have a working demo, see https://github.com/alexeagle/angular2-distro/blob/master/README.md

[2015-10-04 19:27] vladima commented on #5030
Sure! PR will definitely be appreciated

[2015-10-04 19:39] mhegazy commented on #5082
There is no distinction anywhere in the typeset stem between a getter/setter and a property declaration. So declaring an abstract setter for instance will not force the driver class to implement the property as a getter/setter pair.

[2015-10-04 20:02] DanielRosenwasser commented on #5100
I wonder if this is at all related to #4874, but it definitely seems like a bug.

[2015-10-04 20:16] DanielRosenwasser commented on #4988
In our compiler we have `NodeArray<T>`. I'm a little ambivalent about this, but I get the use-case.

[2015-10-04 23:52] kuon commented on #4682
I still get the issue with TS 1.6.2 and latest (as of october 4) https://github.com/kuon/DefinitelyTyped/blob/master/react/react.d.ts

You must ensure the parent and child component don't have the same method signatures.

[2015-10-05 00:54] jbrantly commented on #4682
No idea why I wasn't able to duplicate the first time, but I was able to this time.

I see the issue, but I think the typings are *mostly* correct for the time being and likely shouldn't be changed. Instead, for now, I'd suggest working around the issue by not extending from `React.Props` in your child component. You're not actually using `ref` there currently.

The issue is that in the React worl

[2015-10-05 02:22] Gaelan opened #5104 "Edge Case w/ Decorator Type Checking"
`tsc` crashes when compiling this code:

[code]

[2015-10-05 02:35] djg07 opened #5105 "Compilation of TS files faster within Visual Studio as opposed to being run externally"
I am finding that when I run my typescript project from within Visual Studio 2013, compilation is extremely quick ( < 1s ) on save.

However, if I attempt to compile outside of Visual Studio using sublime text and grunt/gulp, the compilation can take 30s to 1 minute for the same change. Is this an issue with the compiler itself?

[2015-10-05 02:59] gregoryagu commented on #4691
I am in favor of support `#if` and `#endif`.  It works well in c#, and having moved from c# to ts, find the need arises for the same reasons.  I use VS 15 to compile ts.  An external tool would have to run every time I make a change to a ts file.  Often, I make a small change, save, and refresh the browser.  I don't know how an external tool would be included in such a workflow.  If I could just s

[2015-10-05 03:20] omidkrad commented on #4691
@gregoryagu introducing `#if` and `#endif` would be a major diverging from current ECMAScript proposals and for that many people may not like it. VS 15 integrates Gulp builds in Web projects and provided that the external tool can watch files for changes, it is pretty easy to include that into the build pipeline.

[2015-10-05 04:03] alexeagle commented on #5105
The difference is likely incremental compilation. Your command-line build has to parse the standard library (`lib.d.ts`), then your code, then run the type-checker globally, and emit everything. In the editor, it caches the library, does incremental type-checking, and emits only for the changed files.
If you want command-line to be similar, https://github.com/broccolijs/broccoli which is a much mo

[2015-10-05 04:05] alexeagle commented on #4553
+1 to have this soon. Is it for 1.7 like in #5076 or for 1.8 like here?

[2015-10-05 04:28] alexeagle opened #5106 "--declaration exposes private members"
[code]
`$ tsc tmp.ts baz.ts --declaration -m commonjs`
[code]

I don't really want users of my library to know about `bar`, even though the type-checker will give them the red squiggle underline.
OTOH, it's really nice that you hide the type information for the parameter and the return type of `bar`, so my `Secret` isn't exposed to users, as @mhevery and I had thought might happen.

(Sorry there i

[2015-10-05 04:48] basarat opened #5107 "Did `out` become `outFile`"
I no longer see `out` in https://github.com/SchemaStore/schemastore/blob/master/src/schemas/json/tsconfig.json

Is it deprecated? (sorry I couldn't find the main issue, although there are a few references to the topic e.g. https://github.com/Microsoft/TypeScript/issues/4399)

If so I would think of this as a breaking change in 1.6, worthwhile to add here : https://github.com/Microsoft/TypeScript/w

[2015-10-05 04:50] denvned commented on #5082
@mhegazy Yes, I know that. That's why I'm actually [proposing](https://github.com/Microsoft/TypeScript/issues/4669) abstract property declarations, and not abstract getters/setters.

[2015-10-05 05:10] denvned commented on #5082
Today I can write:
[code]
But why should not I be able to write the following then?
[code]

[2015-10-05 05:11] zhengbli commented on #4553
@alexeagle these two issues are both for 1.7

[2015-10-05 05:41] DanielRosenwasser commented on #5107
Yup; see https://github.com/Microsoft/TypeScript/wiki/Compiler-Options:

But I don't think it's a breaking change; we still support `--out`, it's just that `--outFile` isthe preferred way to go.

[2015-10-05 05:43] DanielRosenwasser commented on #5105
If you use the `--watch` command line option (which is only supported under Node.js right now), we also cache source files that haven't been changed.

[2015-10-05 05:44] CyrusNajmabadi commented on #5064
This is likely due to us using View taggers, whereas the editor is probably only getting classification for Copy/Paste from buffer taggers.

[2015-10-05 05:48] tinganho commented on #5100
@DanielRosenwasser I think it is related.

[2015-10-05 05:48] CyrusNajmabadi commented on #5064
To solve this, we'll need to export a buffer tagger provider for this purpose.  *However* (and this is critical) the buffer tagger provider needs to return a tagger that does *nothing* inside it's ```GetTags``` method.  That's because we definitely do *not* want to be doing full classification in this buffer tagger through the normal ```GetTags``` call.  This would defeat the purpose of us having

[2015-10-05 06:14] basarat commented on #5107
Cool :rose: I'll support both (by copying `outFile` to `out`) till there is a breaking change.

[2015-10-05 06:14] #5107 closed

[2015-10-05 06:23] HJoost opened #5109 "Missing compiler warning on if-clause"
Hi,

last week I made a mistake while typing an if-clause:

if(x === false);
{...}

When I debugged it, the code inside the brackets got hit every time. For many code runs I did not see the wrong semicolon after the if-statement.

For me, a compiler warning about the misplaced semicolon would be great, like the C# compiler does it.

Helmut

[2015-10-05 06:57] DanielRosenwasser commented on #5109
While I am dubious of any actual use case for that sort of code, a good workaround for now is to use TSLint: https://github.com/palantir/tslint

The `"curly"` tslint rule would have caught this for you.

[2015-10-05 06:59] DanielRosenwasser commented on #5107
Wait, what do you mean exactly? Why can't you just use `--outFile`?

[2015-10-05 07:03] basarat commented on #5107
I don't have to refactor any code past the point of parsing outFile from config

[2015-10-05 07:07] DanielRosenwasser commented on #5106
The thing is that your users *want* to know that a private member exists in case they subclass your class.

Check out the following [on the playground](http://www.typescriptlang.org/Playground#src=class%20C%20%7B%0A%09private%20a%3B%0A%7D%0A%0Aclass%20D%20extends%20C%20%7B%0A%09private%20a%3B%0A%7D):

[code]

It currently gives the error:

[code]

[2015-10-05 07:09] kuon commented on #4682
Yes that's what I meant with my last paragraph (that key and ref should get a "special" handling).

I tried to change the definition but I soon find out it wasn't a good idea. My current workaround is, as you said, to no extend React.Props.

[2015-10-05 07:10] #5106 closed

[2015-10-05 07:19] DanielRosenwasser commented on #5107
Well the two have slightly different behavior in [how the file paths are parsed](https://github.com/Microsoft/TypeScript/blob/331d26f40271c7a21c6fa74ffac633b45f653dda/src/compiler/commandLineParser.ts#L449). From my understanding, `--outFile` works relative to the path of `tsconfig.json`, whereas the path given to  `--out` is relative to the current working directory (i.e. wherever the user typed

[2015-10-05 07:20] HJoost commented on #5109
Thanks for your reply.

Indeed this type of code should not be used, it was just a mistake and I wondered why the if path got hit independent of the value of x... (I think you how easy it is to overread such a little mistake while debugging ;-) ).

[2015-10-05 07:25] weswigham commented on #5105
I believe gulp-typescript with gulp.watch should also perform incremental builds.

[2015-10-05 08:32] tomitrescak opened #5110 "import statements are transpiled even if output is set to ES6"
Hi

Up until latest update my es6 imports were left the way they was when transpilig to es6.
From the latest update now they are transpiled to the module representation.

For example:

[code]

is transpiled to

[code]

The worst part is, that it breaks the TSX transpilation as for example

[code]

is transpiled to:

[code]

Note how the closing tag is not transpiled.

This is probably bug in trans

[2015-10-05 08:44] ivogabe commented on #5071
I'm now using the tag, the tests are passing again. Thanks!

[2015-10-05 09:38] axelcostaspena opened #5111 "Defined type instances are reported as not inheriting from Object"
tsc can't compile this code complaining about
`Error:(14, 7) TS2345: Argument of type 'typeof A' is not assignable to parameter of type 'ObjectConstructor'.
 Property 'getPrototypeOf' is missing in type 'typeof A'.`

    class A {

    }
    class B {
        public Foo(anA: typeof A):void {

        }
        public Bar(anA: typeof Object):void {

        }
    }

    var b = new B();
    b.Foo(A

[2015-10-05 12:02] dev-tim commented on #165
:+1:

[2015-10-05 12:35] SamuelMarks commented on #4897
@DanielRosenwasser: Top secret project which I'll open-source in November :wink:

No worries, will try and manage with that lower level compiler API.

[2015-10-05 12:56] engineforce commented on #5064
Thanks for the quick response, could you please give me a rough estimate on when will you release a patch/fix for this issue?

[2015-10-05 13:20] stepancar opened #5112 "after compile .d.ts files will not be included in build (outDir) folder"
Hello.
i have typescript project.
it contains autogenerated from .net interfaces.
file has .d.ts extension and contains in tsconfig.json
after compile in outDir i have js, d.ts for my source but i havnt autogenerated.d.ts
Why d.ts is not included in compilation result?

I think, each d.ts files should be included in outDir according project sources tree

[2015-10-05 13:41] mwambler opened #5113 "Default value for primitives"
Working through some code samples while getting familiar with typescript, and have noticed that typescript doesn't assign default values to primitive types(e.g. counter: number == NaN, b: boolean == undefined).  Would it make sense to add this behavior at compile time, or maybe add a compiler setting to set appropriate default values (e.g. counter : number = 0, b :boolean= false)?

thanks

-Mark

[2015-10-05 14:05] EisenbergEffect opened #5114 "bug(d.ts): does not allow simple computed properties on declared classes"
The error "A computed property name in an ambient context must directly refer to a built-in symbol." is produced by the following code in the aurelia-templating-binding.d.ts file.

[code]

This code works fine in the TypeScript playground when used normally in a class, but not inside a declaration. This is a problem for us since it means we can't generate complete d.ts files for our api and also c

[2015-10-05 15:36] schungx commented on #16
Similar to @basarat's Feb comment, I.... *sigh*...

However, if you think about it, 99% of the use cases of this will be to check against a null pointer to an object.  Frankly speaking, who does `x?.b?.c` when `x` is a `number`?  There just aren't many real-life use cases for *long* chains when we are *not* talking about an object (with the possible exception of `string`).  For short chains, I thi

[2015-10-05 15:42] Back-io commented on #16
@schungx What if a member in the chain is an "any" type? Disallow completely? Or just let it through and hope for the best?

[2015-10-05 16:07] kitsonk commented on #5113
I think that would be surprising behaviour to anyone who as worked with JavaScript as defined variables without a value are set to `undefined`.  What is the reasoning for changing that behaviour?

[2015-10-05 16:19] kitsonk commented on #5111
What specifically are you trying to guard against in `Bar`?  Because `typeof Object` is retrieving the structural typing of the Object constructor for JavaScript, which `A` is not of that type.  Are you trying to type guard against any sort of constructor function?  If so, you want something like this:

[code]

[2015-10-05 16:19] mhegazy commented on #5079
I am not sure i understand the issue.. My search all behavior is what you mention. if i search all with with the `look in` is `Entire Solution`, in a .csproj, created from the "HTML Application with TypeScript" template, and i hit `Find All` I only see .ts files.

The .js files are only included if you have them included in the project, or you are searching in a directory.

The generated files are

[2015-10-05 16:27] cevek opened #5115 "incorrect return type of async function ruined tsc 1.6.2"
/usr/local/lib/node_modules/typescript/lib/tsc.js:29825
[code]

[code]

[2015-10-05 16:45] mhegazy commented on #5082
The `abstract` here is irrelevant. in your example, adding an `abstract` modifier to a property declaration does not add any additional expressiveness, in the view of the type system, all these are equivalent:

[code]

all what the type system cares about is that there is a slot called 'p' on that type, and that it is a 'number'. getters/setters are not treated any differently from properties. mor

[2015-10-05 16:49] mhegazy commented on #5107
There is no breaking changes here. both are supported. from the command line they both behave identically. the only difference is in tsconfig.json, `outFile` is resolved relative to the tsconfig.json file location (like other path properties in the file), while `out` is resolved relative to the current directory (a bug that fixing will cause a breaking change to existing projects).

Since the beha

[2015-10-05 16:52] mhegazy commented on #5107
see https://github.com/Microsoft/TypeScript/pull/4388 for more information.

[2015-10-05 17:00] mwambler commented on #5113
I had the opposite reaction. Statically typed languages typically set primitives to a default value unless explicitly set.  Not a big deal, I can certainly adjust.  Thanks for responding...

-Mark

[2015-10-05 17:00] #5113 closed

[2015-10-05 17:28] #4675 closed

[2015-10-05 17:31] RyanCavanaugh commented on #5109
I'm not aware of any C-syntax languages that flag this as an error. +1 for TSLint.

 I remember spending a *long* time in college debugging this infinite loop :stuck_out_tongue_closed_eyes:
[code]

[2015-10-05 17:35] bryanforbes commented on #5039
@mprobst Thanks for clarifying! I didn't understand the `generated` directory containing TypeScript files, but your explanation helps. What still confuses me is why merging two trees together necessitates another configuration flag with potentially duplicated settings (`rootDirs`) instead of just using path mapping to solve everything.

[2015-10-05 17:35] #4611 closed

[2015-10-05 17:38] mhegazy commented on #4897
We would love to get feedback here. give it a tree and let us know how it goes.

[2015-10-05 17:42] mhegazy commented on #4611
@sandersn can you add blurb on this in https://github.com/Microsoft/TypeScript/wiki/Breaking-Changes.

[2015-10-05 17:59] vladima commented on #4544
Current behavior is by design:

[The Void Type](https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md#325-the-void-type)

 [Simple Variable Declarations] (https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md#5.2.1)

[code]

[Return Statements] (https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md#510-return-statements)

[code]

The same rule also applied to arrow fu

[2015-10-05 17:59] #4544 closed

[2015-10-05 18:05] RyanCavanaugh commented on #5114
I think you want to write this instead:
[code]
The bracketed syntax shouldn't be used for statically-named things

[2015-10-05 18:16] denvned commented on #5082
As I already said, I know that. My point is that it should be possible to force a property to be not forgotten to be implemented by any means (not necessarily with getters/setters):

[code]
Here a compilation error should carefully remind us to implement the property. Without `abstract` it would be harder to achieve.

And when [`readonly`](https://github.com/Microsoft/TypeScript/issues/12) will be

[2015-10-05 18:20] vladima commented on #5039
My concern about using path mapping for both canonicalization of relative module names and remapping non-relative module names is that this configuration settings become overloaded:
- it becomes more difficult for the end-user in understanding of the concept since it is no longer just path mapping
- it may lead interesting bugs when some value of path mapping  that was not intended to be used for

[2015-10-05 18:26] sandersn commented on #5110
What version did the latest update give you? I tried the following code with 1.6.2:

[code]

With a file named tab_control.ts:
[code]

And using your tsconfig, I got the below output:

[code]

[2015-10-05 18:33] EisenbergEffect commented on #5114
@RyanCavanaugh  Is that a TypeScript-specific syntax rule? because it is valid ES6. Can you emit the brackets with ES6 too? or is this a divergence between ES6 and TypeScript.

[2015-10-05 18:42] mhegazy commented on #5038
@sandersn can you take a look

[2015-10-05 18:46] weswigham commented on #5114
Actually method declaration with a string without square brackets is still valid es6, but not supporting square brackets in type definitions for any other primitives than symbols is a known limitation and has been discussed in #4653 (most recently, AFAIK).

[2015-10-05 18:50] danquirk commented on #5114
Yeah I think we can close this as a dupe

[2015-10-05 18:50] #5114 closed

[2015-10-05 18:54] danquirk commented on #5115
At a glance, every single test we have using ```async``` returns ```Promise<void>```. Really need to beef that up for non-void Promises as well as other cases like this one.

[2015-10-05 18:58] mhegazy commented on #5115
+1  for more tests

[2015-10-05 19:00] d180cf commented on #4846
Another example of where this would be useful.

Let's say there is a library and a couple satellite projects that were created to test the library: the unit tests and the testbench. The folder structure looks as following:

[code]

All this is written with `/// reference <path = "..."` />` because the library needs to be shipped as a single js file.

To build all this, tsc needs to be invoked 3 ti

[2015-10-05 19:04] RyanCavanaugh commented on #5111
@kitsonk is right as usual. The type `typeof Object` has members like `getPrototypeOf`, `defineProperty`, `freeze`, etc. which are not present on `A`. It seems like you're trying to represent some other pattern; outlining what the expected constraint on `Bar` is would help us clarify the right thing to write.

[2015-10-05 19:04] #5111 closed

[2015-10-05 19:04] mhegazy commented on #5101
We should add the overload to the library regardless of this suggestion. @Gaelan feel free to send us  PR for updating the library.

[2015-10-05 19:06] danquirk commented on #5112
The .d.ts files you use are an input to the build system but not an output. It's perfectly reasonable to consume some types from a .d.ts but have your output not use those types, so there'd be no reason to distribute the input .d.ts with your build results. It sounds like you'll want a post-build step in your build tool to copy the relevant .d.ts files wherever you need them.

[2015-10-05 19:07] mhegazy commented on #5091
This looks like a [tslint](https://github.com/palantir/tslint) rule for me.

[2015-10-05 19:07] #5091 closed

[2015-10-05 19:15] danquirk commented on #299
@zhengbli might have some context on the status of lib.d.ts issues that require script based generation

[2015-10-05 19:17] #5059 closed

[2015-10-05 19:17] mhegazy commented on #5098
@SpenceDiNicolantonio can you provide more data, i can not get this to reproduce locally:

[code]

[code]

[2015-10-05 19:20] mhegazy commented on #5098
And to answer your question, the compiler will elide imports that are only used in a type position. see @danquirk's answer in https://github.com/Microsoft/TypeScript/issues/4717#issuecomment-139057640 for more information. if any of these imports are used by a decorator, the import will not be elided.

[2015-10-05 19:22] mhegazy commented on #3235
Fixed by https://github.com/Microsoft/TypeScript/pull/5116

[2015-10-05 19:22] #3235 closed

[2015-10-05 19:30] mhegazy commented on #4846
you can do this today with no additional references. just call the compiler with `--declarations` and then pass the `mylib.d.ts` to the compiler the next time around. you just need to concat the JS code your self.

[2015-10-05 19:31] mhegazy commented on #4846
I am still not sure i understand what is the workflow that this proposal is solving, and can not be done today..

[2015-10-05 19:46] #5080 closed

[2015-10-05 19:49] d180cf commented on #4846
This proposal is all about making tsc concatenate js files: you're saying that I can do this myself, while I'm saying that this is a responsibility of tsc.

We can imagine the following discussion if tsc didn't have the `--out` option:

A: When I add a `<reference path="foo.ts" />` into `bar.ts` I want tsc to concatenate `foo.js` with `bar.js`
B: It's not tsc's responsibility to merge files. You c

[2015-10-05 19:53] mhegazy commented on #5080
@JoshuaKGoldberg the fix should be in `typescript@next` tonight.

[2015-10-05 19:54] d180cf commented on #4846
B: Or in the opposite order: compile ts files separately and then merge all the produced js files.

Possible? Definitely. But would be extremely inconvenient as I couldn't just type `tsc` in the command line and get `lib.js` - I would've needed to come up with my own `compile` script that would invoke tsc, invoke some tool that merges files, cleanup all those temp files, worry about source maps an

[2015-10-05 19:55] danquirk commented on #5079
@BobFrGit can you clarify what project template/setup you have that's making JS show up?

[2015-10-05 20:14] aflevin opened #5117 "New Website Logo: Everlaw"
Name: Everlaw
Homepage url: http://everlaw.com
Brand Guidelines/Licensing: N/A
Logo: http://everlaw.com/images/everlogo.png

[2015-10-05 20:16] BobFrGit commented on #5079
I just use new or existing projects with as a blank typescript website. The Typescript build:
Ecma 5
JSX/TSX none
Compile on save, allo implicit any
CommonJS
keep comments
combine JS
Do not emit on error
generate source maps
JS is NOT included

What other settings might help?

[2015-10-05 20:16] RyanCavanaugh commented on #1863
@wereHamster can you post an update of what more you'd like to see happen here? Wasn't immediately clear to me what we have implemented vs what you posted

[2015-10-05 20:20] mhegazy commented on #4846
tsc can not just concat the files. it has to parse them, transpile them, and emit them again. it has to respect your --removeComments your --target and your --module, if we do that also, we need to support reading the original sourceMaps and concatenating them, something that is not supported today. so the perf win would not be that significant in the example listed above, given that we are still

[2015-10-05 20:28] mhegazy commented on #5079
if you are using a website, and your sources are emitted to the same location, they will always be part of the project. i would either search only in the sources directory, or limit the search to "*.ts".

[2015-10-05 20:32] RyanCavanaugh opened #5119 "Suggestion Backlog Slog, 10/5/2015"
Planned for discussion today

* #1579 `nameof` operator
* #1611 contextually type getter return statements in object literal methods
* #2103 rest/spread object properties (Stage 2 ES7 proposal), https://github.com/sebmarkbage/ecmascript-rest-spread
* #2491 allow enums as index signature keys
* #3311 relax rules around `super` call
* #3411 indexing by a const enum should be the same as a literal (i

[2015-10-05 20:35] BobFrGit commented on #5079
I'm not sure what you mean by "using". The project directory is the website and the .JS is emitted there. But it is not included so why would it be searched? In any case it's dysfunctional behavior whether it's a coding bug or a design flaw.

[2015-10-05 20:37] d180cf commented on #4846
I'm actually suggesting to include the js file blindly, without parsing it. The idea is to look at such js+d.ts pairs as opaque binary obj files: when obj files are linked together, the linker sees the overall structure of the module (function names, variables and so on), but doesn't attempt to parse the assembly code in those functions.

Whether it needs to respect `--removeComments` is debatable

[2015-10-05 20:45] DanielRosenwasser commented on #4846
The problem is that there are people who have different expectations of that the compiler should do with a .js file (see #2302). I think easing into TypeScript by using it as a downlevel compiler is the scenario that other tools cannot perform as easily, whereas in this scenario, concatenating has many other existing solutions.

[2015-10-05 20:54] RyanCavanaugh commented on #5079
Can you post a screenshot of the 'Find' dialog as you have it configured?

[2015-10-05 21:04] gloomybrain commented on #5072
Well, as being said in documentation (thanks for the link) the "rootDir" points to the directory with sources. In my case I have both "rootDir" and "outDir" defined. And I have a file tree like that:
[code]
I have "rootDir" pointing to "src" and "outDir" pointing to "out" in file tree.
So the problem is that even in theese conditions TS compiler somehow is looking through node_modules folder (unle

[2015-10-05 21:11] fredgalvao commented on #1579
Fantastic indeed. So much could be done with such an operator.

[2015-10-05 21:30] alexeagle commented on #5106
Okay, that seems reasonable to me.

On Mon, Oct 5, 2015 at 12:11 AM Daniel Rosenwasser <notifications@github.com>
wrote:

[2015-10-05 21:30] BobFrGit commented on #5079
OK, I did more investigating and this may be my error. In one project i did have a .ts restriction and other I didn't but that is spurious for searching .js. What is really going on is that in one project I did a clone and accidentally included the .js in the project hence making it searchable.

So it's a user error but VS is not out of the woods because a generated file should be visually distinc

[2015-10-05 21:45] basarat commented on #5107
Thanks for the clarification and link 🌹

[2015-10-05 21:48] jeffrey-easyesi commented on #5081
@ajshankar @aflevin Do we want this logo or the one in https://github.com/Microsoft/TypeScript/issues/5117?

[2015-10-05 21:48] jeffrey-easyesi commented on #5117
@aflevin @ajshankar Do we want this logo or the one in https://github.com/Microsoft/TypeScript/issues/5081?

[2015-10-05 21:51] jvilk opened #5122 "Missing source map mapping for `return` keyword in single-statement lambda output"
TypeScript 1.6.2 will fail to emit a source map mapping from the `return` keyword in the generated JavaScript back to a single-statement lambda *if* that lambda spans multiple lines.

Minimal test case:

[code]

Output with embedded source map / source code:

[code]

You can reproduce this behavior yourself using that TS file alone; just run `tsc --inlineSourceMap --inlineSources test.ts`.

[Here'

[2015-10-05 21:55] ajshankar commented on #5081
@jeffrey-easyesi This one, please. It matches their resolution requirements.

[2015-10-05 22:06] jvilk commented on #5122
I just found a minimal test case; updating description...

[2015-10-05 22:08] stepancar commented on #5112
@danquirk , thank you for your answer! I have in serverModels.d.ts declarations of server models. In my projects i use this declarations for checking translation from client models to server models.
d.ts  participates in project type checking. Imagine that what i described is npm modile, which contains api-services. In another typescript code i will import this one apiservice from package describe

[2015-10-05 22:16] RyanCavanaugh commented on #5119
* #1579 `nameof` operator
  * Some overlap with `memberof` proposal we have floating around somewhere
  * What if Rename / Find References solved this instead?
  * Punt and see if related approved suggestions address this sufficiently
* #1611 contextually type getter return statements in object literal methods
  * Won't Fix due to complexity in how we fix parameters during overload resolution and

[2015-10-05 22:17] mhegazy commented on #5072
that is correct.

I updated the docs, it now says:

[2015-10-05 22:23] mhegazy commented on #5072
dose this make sense to you?

[2015-10-05 22:25] RyanCavanaugh commented on #5117
Closing in favor of #5081

[2015-10-05 22:25] #5117 closed

[2015-10-05 22:33] RyanCavanaugh commented on #1579
We want to see how things 'feel' once #394 and #1003 land. It's possible we can solve these use cases in the type system without having to resort to adding new expression-level syntax.

In the meantime it'd be good to collect any use cases that wouldn't be adequately addressed by those proposals.

[2015-10-05 22:35] RyanCavanaugh commented on #1611
Punting based on complexity (due to how we might fix the type of `q` during overload resolution) and lack of feedback.

[2015-10-05 22:35] #1611 closed

[2015-10-05 22:35] RyanCavanaugh commented on #2103
We want to wait for the proposal to reach Stage 3 before addressing this.

[2015-10-05 22:48] RyanCavanaugh commented on #2491
While the use cases make sense, we didn't think this provided enough value to justify its added complexity.

[2015-10-05 22:48] #2491 closed

[2015-10-05 22:49] RyanCavanaugh commented on #3311
Approved. Access to `this` (lexically) before the `super` call should be disallowed to match ES6 runtime behavior.

[2015-10-05 22:50] RyanCavanaugh commented on #3411
Approved for `const enum` members only. @jbondc can you get your PR up-to-date?

[2015-10-05 22:51] RyanCavanaugh commented on #3841
Accepting PRs for this. Anyone interested? :smile:

[2015-10-05 22:52] RyanCavanaugh commented on #3749
Approved + accepting PRs: allow `typeof expr['str']` and `typeof expr[42]` in type positions.

[2015-10-05 22:54] RyanCavanaugh commented on #3915
Approved; tentatively assigning to @vladima because I hear he has a working prototype of some sort.

Details:
* Support unlabelled `break` (turns into `continue`)
* Error on labelled `break` (too complex vs value)
* Make sure to hoist any `var`s in the body
* Don't bother with Babel's complicated TDZ detector since we will catch that at compile-time

[2015-10-05 22:55] RyanCavanaugh commented on #4035
Approved. Not sure when we'll get to it.

[2015-10-05 22:56] RyanCavanaugh commented on #4089
We'd rather error on the side of not restricting the typing here.

[2015-10-05 22:56] #4089 closed

[2015-10-05 22:57] RyanCavanaugh commented on #4241
Approved for PRs. This should be an easyish fix for anyone who's interested in trying out a compiler change.

[2015-10-05 22:57] RyanCavanaugh commented on #4260
Approved. Should be useful for `Promise<void>`.

[2015-10-05 22:59] RyanCavanaugh commented on #4868
If anyone's still here, we'd happily accept a PR for the type guards mentioned in the OP.

[2015-10-05 23:01] #5030 closed

[2015-10-05 23:01] mhegazy commented on #5030
thanks @SaschaNaz !

[2015-10-05 23:02] RyanCavanaugh commented on #5101
Accepting PRs for the lib.d.ts overload.

The more complex portion of inferring type guards based on `return` statements was declined based on complexity. It's fun and easy to write a curried version of this that works today:

[code]

[2015-10-05 23:03] #5119 closed

[2015-10-05 23:07] mhegazy commented on #3411
@jbondc, we would appreciate it if you can keep it only for const enums, and not for generic constant propagation.

[2015-10-05 23:11] rbuckton opened #5124 "Async Methods do not support `super`"
Given the TypeScript:
[code]

We emit the following JavaScript:
[code]

However, `super` is not bound inside the generator function.

We may instead want to consider changing the emit to the following:

[code]

In this case the `super` binding in `_method_async` works as expected. Also, we pass `B.prototype._method_async` to `__awaiter` here, rather than `this._method_async` so that we will won't

[2015-10-05 23:16] mhegazy commented on #5122
PRs are welcomed.

[2015-10-05 23:19] mhegazy commented on #5064
No ETA at the time being. we will try to get this in the next release. but no promises.

[2015-10-05 23:22] bterlson commented on #4611
I'm not sure if this is still relevant but... yes, the production for async methods should be identical with and without a static modifier (and in both cases should not allow a line break after async). While not technically necessary, since it is necessary for async function decls I thought being consistent is better.

[2015-10-05 23:27] weswigham commented on #3841
I spoke with @ahejlsberg about this - we could type constructor fairly well just with a change to our lib.d.ts now that we have `this` types (in theory):
[code]
 - but there are two issues - we don't instantiate this types on apparent type members (as in, anything on object) correctly right now, and there would be a performance impact in making every object have a this typed member (it's construct

[2015-10-05 23:30] jedmao opened #5125 "Transpile into Babel/tcomb syntax"
I know this is a stretch, but what if you could set a flag to transpile TS code into code that would be readable by [`babel-plugin-tcomb`](https://github.com/gcanti/babel-plugin-tcomb), which came out recently? This would enable runtime type checking, which I previously brought up in #1573, but it would require interfaces be transpiled into structs:

[code]

becomes...

[code]

If not provided dir

[2015-10-05 23:35] jedmao commented on #5125
For the record, I already have node modules that transpile from TS into ES6 and then Babel transpiles it from there and [it works great](https://github.com/jedmao/postcss-center)! If only this last missing piece of the puzzle were implemented, we would have an awesome solution for both compile time and runtime type checking.

[2015-10-05 23:37] DanielRosenwasser commented on #4611
:+1: :+1:

[2015-10-05 23:42] RyanCavanaugh commented on #3841
This was a dealbreaker for us since it wouldn't even address the problem in the OP. Wiring it up in the compiler the same way we do `prototype` seems necessary.

[2015-10-05 23:46] mhegazy commented on #3628
@mikehaas763 nothing stops you today from doing the same thing but using strings in place of types. i am assuming this would be sufficient. your DI system needs to have a key to store and locate these, if you use strings, then nothing in this issue should block you.

[code]

[2015-10-05 23:54] fredgalvao commented on #1579
Well, the case partially described by @frodegil about managing components that are registered somehow with a name (that most of the times is the same name of the `Function/Class` that is registered), as is the case with Angular, is a case that, as far as I can see, cannot be handled by either #394 's `memberof` nor by string literal types from #1003 (I'm really looking forward to the later though!

[2015-10-06 00:00] mhegazy commented on #5094
what does your shared code look like? does it have any dependncy on Node

[2015-10-06 00:13] mhegazy commented on #5094
First things first, i think you should have a two or three tsconfig files, each represent one of your build targets. so a directory structure like so:

[code]

Then a simple proposal is to use ES6 modules all the way. the compiler will emit your modules down to the appropriate format, so in your server tsconfig.json, you would specify `"module": "commonjs"` where as in your client you would specif

[2015-10-06 00:21] DanielRosenwasser commented on #4988
If we used an alternate interface instead of Array, then at least this would be slightly less deceptive. Something like

[code]

[2015-10-06 00:29] mhegazy commented on #5093
duplicate of #5094?

[2015-10-06 00:29] #5093 closed

[2015-10-06 00:30] mikehaas763 commented on #3628
@mhegazy I don't understand what you're trying to portray with that code snippet. What I would like to do is be able to register an interface type as a key in a DI container. Can you elaborate?

[2015-10-06 00:48] mhegazy commented on #3628
I do not know much about autofac, so my comments are assuming you have a central registry that records mapping between a type and an exported entity, something a la [MEF](https://msdn.microsoft.com/en-us/library/dd460648(v=vs.110).aspx).

I am also assuming you need a key, and you want to use the name of the interface as key, all what i am saying is you can do that by making the key as a string (i

[2015-10-06 00:49] mikehaas763 commented on #3628
@mhegazy A problem with using strings in place of types is that you lose the automatic given uniqueness of that type. Two different libraries may have an IAlgorithm interface type and both may need to be registered with a single DI container. That's easy enough to do like so if the compiler generated some sort of unique metadata token to help guarantee uniqueness and a fake import could somehow st

[2015-10-06 01:10] mikehaas763 commented on #3628
I don't want to use the string name of the interface as a key, I want to use the interface itself as a key. This is possible with concrete types because they exist at runtime. Interfaces don't exist at runtime and obviously for good reason but it would be nice to have this sort of metadata for interfaces at runtime.

One implementation that may work is to compile the interface to an empty lightwei

[2015-10-06 02:10] BobbieBarker commented on #3628
I think Mike's point addresses a real concern for serious application development which utilize frameworks and Dependency Injection systems. With out something like Mike's proposal in place DI systems typically work as you suggest on strings or tokenized versions of the strings. In a non TS world, that works for the most part. But in a TS/typed universe I think we should be including and utilizing

[2015-10-06 02:36] sandersn commented on #4611
The change is now documented on the breaking changes list.

[2015-10-06 02:36] Gaelan opened #5128 "Colorize TSC output when stdout is a shell"

[2015-10-06 02:40] Gaelan opened #5129 "Type Guards with &&"
[code]

[2015-10-06 03:10] mikedon opened #5130 "Merged ambient declaration issue"
I'm trying to use the new capability of merging classes and interfaces to extend the definition of an ambient external module.  For simplicity I'll use the following example

foo.d.ts
[code]

foo-ext.d.ts
[code]

index.ts
[code]

If I remove the constructor definition from foo.d.ts then the compile error goes away.  I've tried this with 1.6.2 and 1.7.0-dev.20150922.

Am I misunderstanding this fea

[2015-10-06 03:27] nycdotnet commented on #3915
Cool.

[2015-10-06 03:34] schungx commented on #16
Well, my suggestion?  Disallow completely.  Inelegant as hell, I know...  :-)

But my rationale:

1. This is a short-hand, so if somebody is using `any`, just use long-hand.
2. If somebody is using TypeScript, most likely you use it for the typing support, so hopefully he/she won't have many `any`'s around!
3. `any` really should be handled with care.  Allowing usage of such short-hands with a fle

[2015-10-06 05:14] d180cf opened #5131 "Ladder-like indentation of nested ? : expressions."
This ladder looks odd:

[code]

To forestall a possible answer that there is nothing wrong with that and it's a matter of personal preference, I want to point out that this sequence of nested `?..:` is just a shorter version of the corresponding sequence of nested `if..else` blocks: if the `?..:` are indented like a ladder, then `if..else` must be indented the same way.

[2015-10-06 05:28] basarat commented on #5110
The version from master two days ago.

Tracked from [atom-typescript package.json](https://github.com/TypeStrong/atom-typescript/blob/129187d2f5c098d8c71cfa0b849ef15b0bdea8f4/package.json#L56)  to [this version](https://github.com/TypeStrong/ntypescript/releases/tag/1.201510040223.1%2B331d26f40271c7a21c6fa74ffac633b45f653dda)

The bug was not in [this version](https://github.com/TypeStrong/atom-ty

[2015-10-06 05:30] SamuelMarks commented on #4897
Sure thing, I'll post my thoughts in the most recent reply (as edits) of this thread.

Current thinking:

  - Esprima goes from JS=>AST and escodegen goes from AST=>JS. Their AST follows the [estree schema](https://github.com/estree/estree).
  - [typescript-closure-tools](https://github.com/fivetran/typescript-closure-tools) goes from JavaScript to TypeScript using Closure doc syntax as a way of f

[2015-10-06 05:53] DanielRosenwasser commented on #5128
Hey @Gaelan, this is a duplicate of #3852. Can you add a :+1: to that thread? Thanks!

[2015-10-06 05:53] #5128 closed

[2015-10-06 05:54] Gaelan commented on #3852
:+1:

[2015-10-06 06:02] myitcv commented on #3852
Can I ask that if colourisation of terminal output is considered that it be off by default? Covers the case where tools consume the output of `tsc`.

[2015-10-06 06:43] TomaszKucharzyk opened #5132 "Double quotes in tsx are not escaped correctly in produced javascript"
Double quotes in tsx are not escaped correctly in produced javascript

test.tsx
[code]

compiles to:

[code]

This is not valid javascript

I'm compiling it using typescript 1.6.2  using the following command ``` tsc  --jsx react --module commonjs test.tsx ```

[2015-10-06 06:56] mhegazy commented on #5110
@basarat do you have a reproduction of this issue that you can share?

[2015-10-06 07:18] DanielRosenwasser commented on #5132
@RyanCavanaugh you can look into the `escapeString` function.

[2015-10-06 07:49] HJoost commented on #5109
![c semikolon](https://cloud.githubusercontent.com/assets/13537894/10302804/757c41f6-6c0f-11e5-9836-1d9af66a374c.png)

This is the way how it looks in my Studio with C#, sadly it doesn't in typescript :-(

[2015-10-06 08:17] basarat commented on #5110
Original issue report https://github.com/TypeStrong/atom-typescript/issues/643 But I'll test more ... see below:

Quick test with `typescript@1.7.0-dev.20151006` yielded valid results :

![image](https://cloud.githubusercontent.com/assets/874898/10303299/753af4cc-6c5e-11e5-875e-81f845f98868.png)

I'll investigate further the next time I upgrade and comment. Sorry about a possibly invalid issue :ro

[2015-10-06 08:19] dbaeumer opened #5133 "tsc compiler generates wrong JS code with let and casts"
tsc version 1.6.2

Test case:
[code]

The compiler generates
[code]

The problematic code is If (matcher.mySpecial) ...  This must be if (matcher_2.mySpecial)

[2015-10-06 08:38] AbubakerB commented on #5129
use the Strict Comparison Operator (===) instead of Equality Operator (==).

[2015-10-06 08:47] basarat commented on #5110
@tomitrescak can you share a sample ... Would save me some time as another user had the same issue 🌹

[2015-10-06 09:11] tomitrescak commented on #5110
Dears, unfortunatelly it only happened in that given verision of Atom Typescript.
I tried to replicate in console but no luck. Am glad that someone else experience the same issue so that I'm not crazey ... ;)

<img width="527" alt="screen shot 2015-10-06 at 20 03 22" src="https://cloud.githubusercontent.com/assets/2682705/10304500/5743501a-6c66-11e5-99e2-a69ca3900db5.png">

[2015-10-06 09:43] SaschaNaz commented on #5131
You may want to see #3676.

[2015-10-06 14:42] editedredx opened #5134 "tsconfig outDir does not keep directory structure"
I'm on version 1.6.2

Using directory structure
[code]
 and tsconfig.json only contains:
[code]
than when running tsc inside temp I'm expecting foo.js in path `/temp/build/some/dir/foo.js`, it's actually in `/temp/build/foo.js`.

It's the same result as running `tsc --outDir build` with an empty tsconfig, while it should be the same as `tsc --rootDir . --outDir build` since ["The presence of a tsc

[2015-10-06 15:24] gloomybrain commented on #5072
Being honest I'd loved to see the change in behaviour rather than in documentation =)
Current behaviour looks sophisticated and unclear to me. Let me suggest my opinionated sane behaviour:

1) Having `files` defined means that these (and only these) files should be considered as sources.
2) Having `rootDir` defined means that there is no any other place to get sources from, except this directory a

[2015-10-06 16:10] senseiweb opened #5135 "Unable to use tab/enter to have intellisense complete let/const declarations"
In VS 2015, unable to use to tab/enter to select intellisense variables that have been declared as const/let.

`const isExample = true;`

`isExample` will appear in the intellisense list; however, when pressing tab/enter/punct to select `isExample` nothing happens. Changing the variable declaration to var corrects the problem.

[2015-10-06 16:30] vladima commented on #5133
cannot repro on the latest bits in master. Code
[code]
is compiled to
[code]

[2015-10-06 16:45] andrewvarga commented on #5094
Thanks for the reply!

My shared code is very simple: it has no dependency on node or anything outside it's folder, it is just a bunch of interfaces and classes (typically simple models with some methods to validate data).

A sample structure would be:
[code]

The reason I would want to avoid any dynamic module loading on the client is that I will likely have a lot of module files (= classes in my

[2015-10-06 16:48] senseiweb commented on #5135
Fixed in 1.6

[2015-10-06 17:02] alexeagle commented on #3745
Now that we have `abstract`, I think this problem is solved:
[code]
[code]

[2015-10-06 17:09] danquirk commented on #5131
Thanks for finding the dupe @SaschaNaz

[2015-10-06 17:09] #5131 closed

[2015-10-06 17:25] danquirk commented on #5129
It would be nice if we could make it clearer why this happened but as mentioned this is by design. Type guards support specific patterns only.

[2015-10-06 17:25] #5129 closed

[2015-10-06 17:31] mhegazy commented on #5094
We have a PR out (https://github.com/Microsoft/TypeScript/pull/5090) that will allow you to emit all your modules to a single file (assuming you are not targeting CommonJS).  i think this will solve the startup speed, and will act like your bundler. you still need a loader to resolve dependencies, but i think the worst case scenario, you can have a microloader that is 20 lines long, if you have no

[2015-10-06 17:34] mhegazy commented on #5072
i think all of your suggestions work the way you describe, except for rootDir. and while i would agree that it can be better, i would not want to break existing user code by changing its semantics, let a side introducing yet another flag that has a better behavior.

[2015-10-06 17:34] #5072 closed

[2015-10-06 17:39] mhegazy commented on #5109
i do think there is room for making this an error. it is clearly wrong, or at best very bad pattern to follow,  in the case of the if statement, and can be detected in cases of while/for cases if we limit it to expressions with side-effects (let's say only assignments, and call expressions).

[2015-10-06 17:40] mhegazy commented on #5133
looks like a duplicate of #4832

[2015-10-06 17:41] #5133 closed

[2015-10-06 17:46] mhegazy commented on #4016
@Anupheaus is this still an issue with 1.6 release?

[2015-10-06 18:42] rbuckton opened #5136 "Incorrect emit for ES6 export default class with static initializers"
Given the following TypeScript:

[code]

We emit the following JavaScript:

[code]

Where we should emit the following instead:

[code]

[2015-10-06 19:15] cveld opened #5138 "Type inference not working when assigning somewhere in the function chain"
Using TypeScript 1.6 in Visual Studio 2015 RTM, the following code does not provide intellisense:

[code]

Is this something on TypeScript's roadmap to solve?
Or what is the best way to refactor? Ideally I would have intelligent support in Visual Studio that lifts the assignment towards the variable declaration, e.g.:

[code]

[2015-10-06 19:18] senseiweb commented on #5135
Further testing reveals the problem still in existing 1.6 beta

[2015-10-06 19:22] mikehaas763 commented on #3628
@mhegazy Do you think I should start a new issue to propose/track this?

I'd like to get more people's thoughts on this. After stepping away I think the most seamless way to do this would be like I mentioned above is to compile an interface type to a "class" type.

Maybe a compiler option such as `--runtimeInterfaces`? I realize that this in a way is a huge change because the spec is explicit that

[2015-10-06 19:22] jamiewinder commented on #1664
Out of interest, can we expect support for the `await*` syntax (https://github.com/lukehoban/ecmascript-asyncawait#await-and-parallelism) in TypeScript? It's mentioned above, but only in passing. It's only sugar for await Promise.all, but I much prefer the syntax.

[2015-10-06 19:32] #5134 closed

[2015-10-06 19:33] mhegazy commented on #5134
should be fixed by @denvned in #4724. should be in `typescript@next` tonight after 12:00 am PST

[2015-10-06 19:33] mhegazy commented on #4721
thanks @denvned.

[2015-10-06 19:33] #4721 closed

[2015-10-06 19:39] mhegazy commented on #5135
I can not get this to reproduce locally, though @DanielRosenwasser mentioned he ran into something similar yesterday. there should not be any functional difference between a variable declared as `const` and that as `var` except for the icon. can you share more context on when this happens?

[2015-10-06 19:42] mhegazy commented on #1664
@jamiewinder async/await is already supported under `--experimentalAsyncFunctions` when targeting ES6 in TypeScript 1.6. see the sample here https://github.com/Microsoft/TypeScriptSamples/tree/master/async.

this issue is tracking the transformation of async functions and await expressions when targeting ES3/ES5.

[2015-10-06 19:49] RyanCavanaugh commented on #5138
We only infer from the initialization of a variable, not from other assignments. There is no plan to change that.

I would write the code this way given what's declared:
[code]

[2015-10-06 19:53] jamiewinder commented on #1664
@mhegazy - thanks, though I was specifically asking about `await*` as it doesn't appear to be recognised in the current version and the flag you mentioned set.

[2015-10-06 19:55] andrewvarga commented on #5094
That sounds good about that PR and using a microloader.

For the suggestion, do you mean that the PR you linked could be able to only output referenced modules or?

ES6 modules seems to be the standard, although I definitely remember a few years ago when everyone was all about amd and that that was going to be the future. I believe that it will in fact be ES6 modules, but my biggest concern about

[2015-10-06 19:56] weswigham commented on #4527
Hey, @sheetalkamat I'd like to work on this so I have it done for dts bundling/flattening (I don't want to even try to handle the case where a module tries to export members with the same name and gets flattened). Can I steal this from you?

[2015-10-06 19:58] senseiweb commented on #5135
So after more testing, expected behavior achieved in all scenarios except when used inside a exported default class. Will provide a video in a couple of minutes

Example
`export default class TestExample {
    constructor() {
        const isWorking = false;
        if (isW)
    }
}`

[2015-10-06 20:17] mhegazy commented on #3628
I am not sure i understand what you mean by "compile" to "class type". interfaces do exist in a different space (type space), and emit a value for them would cause problems when it comes to merging (see [declaration merging docs](https://github.com/Microsoft/TypeScript-Handbook/blob/master/pages/Declaration%20Merging.md#basic-concepts) for more information).

one thing to note is TypeScript's type

[2015-10-06 20:53] mhegazy commented on #5094
Sorry about that. i was thinking of #4434. i think for your needs, you can get this working today. assuming that you have your code all organized in modules, if you pass your "entry module" to the compiler, it will follow the "import" statements and only emit the ones that are used. giving you a module-level tree shaking support.

it is totally up to you, but again, if you are starting on a new pr

[2015-10-06 20:56] zhengbli commented on #4942
I agree it would be better to make it an union type instead of `any`, MDN said so too. Will fix soon.

[2015-10-06 21:13] DanielRosenwasser commented on #3852
I've put out #5140 if you guys'd like to try it out and give some feedback. :smiley:

[2015-10-06 21:13] #2910 closed

[2015-10-06 21:15] #2742 closed

[2015-10-06 21:15] mhegazy commented on #2742
This looks fixed already.

[2015-10-06 21:17] asvetliakov commented on #3628
If you agree with this proposition, then it should just work with classes. classes have values, and can be used at rumtime as keys to your DI system. and that should be easy to model today using decorators, e.g.:

Using abstract classes as interfaces approach works not very well for DI. Any abstract methods will be omitted from compiled JS, so it's not possible to create tests stubs from interface

[2015-10-06 21:17] #1749 closed

[2015-10-06 21:31] mhegazy commented on #4432
We have a discussion about this and narrowing `any` a. is a breaking change, b. is not clear that there is any value added, and more importantly, c. there is no way to opt-out unless cast is used inside the blocks.

with union types available now, the user specified any explicitly (assuming noImplicitAny is on) and i would take that as an indication that she does not want more compiler checks. rev

[2015-10-06 21:31] #4432 closed

[2015-10-06 21:35] mikehaas763 commented on #3628
As an FYI, I was just suggesting compiling an interface to a type as one specific way to solve the problem of providing this sort of interface metadata. It could be handled other ways.

I'm aware. I suggested this purely as a means to be able to use interfaces in a meta way at runtime by just compiling it to a value type. I'm not saying it's the only way or even the proper way.

Why would this cau

[2015-10-06 21:35] mhegazy commented on #1150
closing again as by design. please reactivate with a proposal if there is one, and outline what is the work needed.

[2015-10-06 21:43] asvetliakov commented on #3628
Ideally it will be cool if you guys implement something like that:

[code]

Which will be compiled to:

[code]
This will not interfere with existing interfaces in type scope and people will be able to use DI as it was intended.

[2015-10-06 22:17] xLama opened #5142 "VSCode shows me "Type must have a [Symbol.iterator]() method (...) " but Type has it."
I can see that error with this code:
[code]

[2015-10-06 22:29] mhegazy commented on #5142
You are augmenting the `Number` interface without telling the type system about it, so it does not know that a number now has an iterator. you need to augment the declaration of interface `Number` to add the iterator declaration, so adding something like this to your file should get rid of the error:

[code]

[2015-10-06 22:36] mhegazy commented on #2952
@Griffork is this still an issue with TypeScript 1.6?

[2015-10-06 22:39] Griffork commented on #2952
I have no idea. I stopped using Typescript a while ago.

[2015-10-06 22:55] #5136 closed

[2015-10-06 22:56] mikehaas763 commented on #3628
@asvetliakov I like where you're going with that but at the same time IDK if I like that it has to be explicitly marked. If I'm implementing an interface that some 3rd party lib has provided, then I don't have the ability to mark that interface.

[2015-10-06 23:01] asvetliakov commented on #3628
@mikehaas763 Don't see any issues. 3rd party libs are usually declaring variable (with interface type) if exporting something, so there will be runtime information.

[2015-10-06 23:07] mhegazy commented on #5102
looks like this is fixed in master. can you give `typescript@next` a try?

[2015-10-06 23:07] rwyborn commented on #5068
Hi @ahejlsberg, here is a more complete example. Apologies for the slow response, I have been extracting this example code from a large code base... it was tricky to isolate exactly what real world combination was triggering the issue.

[code]

I think the problem is that the structural typing is inferring that EventCollection is an Array<T>, and therefore has generic type Event, which is then inf

[2015-10-06 23:15] mikehaas763 commented on #3628
@asvetliakov I mean them declaring an interface to use as in the concept of inversion of control. They define an interface that a consumer implements and passed back into their lib.

[2015-10-06 23:19] mhegazy commented on #4933
so the proposal is to put the es6.d.ts before core.d.ts.

[2015-10-06 23:20] mhegazy commented on #4933
the change should be limited to JakeFile.js

[2015-10-06 23:21] mhegazy commented on #4799
this should be fixed by #4724. can you give `typescript@next` a try tonight.

[2015-10-06 23:22] #4799 closed

[2015-10-06 23:24] mhegazy commented on #4610
@DanielRosenwasser can you log a https://github.com/dotnet/roslyn issue for this.

[2015-10-06 23:26] mhegazy commented on #4130
this is currently by design. but we should reconsider it.

[2015-10-06 23:28] vladima opened #5143 "block scoped variable capture errors is not shown if variable is closed in method of local class"
[code]
This code is compiled with no errors and prints 11 10 times in runtime

[2015-10-06 23:35] vladima opened #5144 "Local classes don't behave like block scoped variables when captured in closures"
[code]
Code compiles without errors and prints "true" in runtime whicn means that `C` in all function expressions stored in `data` refers to the same value

[2015-10-06 23:35] mhegazy commented on #4873
looks like https://github.com/dotnet/roslyn bug. please refile.

![completion](https://cloud.githubusercontent.com/assets/8000722/10325669/4b947816-6c48-11e5-9eea-60275144eff6.gif)

[2015-10-06 23:38] mhegazy commented on #5143
is not this and #5144 mutually exclusive? either we make it work correctly or show the error? or am i missing something?

[2015-10-06 23:40] DanielRosenwasser commented on #4610
Tracking this at https://github.com/dotnet/roslyn/issues/5739.

[2015-10-06 23:43] vladima commented on #5143
these issues are different (but both of them should work in sense that we should either report an error or do the right thing):
- in #5143 we don't account that local class can act as closure and thus don't report an error. Note that data here stores `C` and not `() => C`
- in #5144 we miss the fact that class itself should behave as block-scoped variable that is captured in closure

[2015-10-06 23:48] mhegazy commented on #3628
now you are talking about limiting it to only module scopes. that was not in the OP.

interfaces in TypeScript are design-only constructs, just like the rest of the types. using these constructs in the value space is not a TS design goal.

[2015-10-06 23:50] mhegazy commented on #3628
talking with @rbuckton today, here is another option that works today and does not use classes:

[code]

[2015-10-06 23:50] DanielRosenwasser commented on #3095
@ahejlsberg I think the spec might need to reflect this.

[2015-10-06 23:54] mhegazy commented on #3095
@DanielRosenwasser please create a new spec issue for this.

[2015-10-06 23:57] #5115 closed

[2015-10-07 00:00] mhegazy commented on #5143
Compiling the above code, i see the error as expected:

[2015-10-07 00:06] lazutkin commented on #4806
:+1:

[2015-10-07 00:15] DanielRosenwasser opened #5146 "Provide more information when module resolution fails but a '.js' file was found"
If a `.js` file was found in performing module resolution, we should inform the user that they are missing a declaration file.

[2015-10-07 00:17] vladima commented on #5143
ok, something seems to be messed up with my enlistment. After trying on clean environment I can see that we do report an error.

[2015-10-07 00:17] #5143 closed

[2015-10-07 00:19] danquirk opened #5147 "Publish TypeScript 1.6+ on VS Gallery"
Right now if you search online through the VS Extension Manager for 'typescript' you'll see the latest thing we uploaded: TypeScript 1.5beta. We should continue to publish to the VS Gallery if only so that searching for TypeScript in the Gallery gets someone the latest bits.

Tagging @yuit

[2015-10-07 02:22] BretJohnson opened #5149 ""Cannot find module" message should be more explicit, saying where it's looking"
With all the vagaries around module loading, it'd be great to give a more verbose, helpful error message for "Cannot find module 'foo'", saying where the compiler looked for the module.   That can help clue the user into (1) how TypeScript works and (2) how to fix their issue.

The message text could be semi-static, maybe something like:   IF using commonjs loading AND path isn't relative THEN say

[2015-10-07 02:23] BretJohnson commented on #5146
+1 on this.   As a semi-noob I can attest that with all the vagaries around module loading logic, the more hints we can give the user about what's wrong (and what they may need to do to fix it) the better.
I also wrote up #5149, which is related.

[2015-10-07 02:34] egeland opened #5150 "Missing `endsWith` method on strings in lib.d.ts ?"
Hi, I'm still very much a beginner with TS (and almost-a-beginner at JS), but thought I'd report what looks like a possible omission:

I was writing what I though was a pretty standard `mystringvar.endsWith('/')` line, but the `endsWith` method comes up as `Property 'endsWith' does not exist on type 'string'`.

I searched my typescript installation for `endsWith` and it didn't appear.

I'm using t

[2015-10-07 02:37] DanielRosenwasser commented on #5150
`endsWith` is an ES6 string method. You'll either need to set your compiler target to ES6 in your `tsconfig.json`, use `lib.es6.d.ts` explicitly, or use the definitions for a polyfill library like core.js.

[2015-10-07 02:49] DanielRosenwasser commented on #5109
Yes, I somewhat agree; unlike a `while` loop, I don't see how this could ever be useful.

[2015-10-07 03:42] JsonFreeman commented on #1150
I think the proposal I had in comment https://github.com/Microsoft/TypeScript/issues/1150#issuecomment-123066470 would work fine, it's just a matter of whether it's worth the extra plumbing.

[2015-10-07 04:04] d180cf commented on #1664
Why is `await*` same as `Promise.all` and not `Promise.race`? If it was possible to overload operators in JS, then this problem could be solved in a more elegant way:

[code]

[2015-10-07 04:38] IgorMinar commented on #4963
+1 for emitting `"use strict"` when the code is parsed in strict mode.

[2015-10-07 04:56] denvned commented on #5134
@editedredx but note, that even after the fix #4724, you should use the rootDir option to achieve what you want, because otherwise it defaults to the common path prefix of all the sources.

[2015-10-07 09:34] stepancar commented on #5112
@danquirk, @RyanCavanaugh, @basarat, Can you help me to solve my problem? Or maybe I should provide you repo with example?
Thank you!

[2015-10-07 09:49] ducin opened #5151 "typescript checking frontend template files"
The greatest feature of TypeScript, in terms of big enterprise apps, is type checking. When modifying/extending something low-level, I'll get all errors that arise beneath - just like I would in Java and .Net. But this relates to TS code.

My question is: **is it possible to use TypeScript to check types used in frontend templating engines, such as Handlebars, Underscore or [your favourite templat

[2015-10-07 11:03] remojansen commented on #3628
@mhegazy Your approach is good because you only have one magic string:

[code]

I still think that we need to come up with some way to enable this without having to do extra work. When I say extra work I mean declaring magic strings or symbols. This are just "manual metadata hacks" metadata should be generated by the compiler.

I don't know if it is the best way but we could use a new compiler opt

[2015-10-07 12:30] andrewhathaway opened #5152 "TypeScript.transpile + TSX crazy outcome"
Hi there.

Using the TypeScript.transpile API and I'm getting some really weird outcome from the transpiler. I've looked around a lot and nothing helps, so this lead me to think this is a bug? Using TS 1.6.2.

Input:

[code]

Output:

[code]

Usage:

[code]

Notice issues around the onClick handler etc. Is this something I'm doing wrong, or is this a bug?

[2015-10-07 12:35] kataras commented on #5152
Same problematic output to mine .tsx files too, the output of the .js file is incorrect using meteor js and meteor-typescript package.

[2015-10-07 14:04] jamiewinder commented on #1664
@d180cf - I'm only going off what the original proposal said the behavior of `await*` should be. This actually seems to be out of date as the proposal has moved to:
https://github.com/tc39/ecmascript-asyncawait

And the `await*` part of the proposal was dropped. It is still implemented in Babel, and I think it's a nice bit of syntax. I'm not so sure about using logical operators as you suggest, bu

[2015-10-07 15:01] symaxian commented on #2655
This is an issue for me as well, I have a large TypeScript project that uses enumerations extensively and is ultimately run through the Closure compiler. The workaround I use now is to just declare a module to hold the enumerated values, though this doesn't provide any actual type support beyond number/string.

It would be nice to have a compilation mode in TypeScript where only valid dot-notation

[2015-10-07 16:25] sandersn commented on #4988
As far as I understand, the deception (pun?) is built in to the re-purposing of arrays as tuples. This PR just makes the pun applicable in more places.

I don't think the result of `new NodeArray<string>().slice() : NodeArray<string>` is that bad either, but maybe I'm missing something.

[2015-10-07 16:26] ahejlsberg commented on #5152
I think the issue is that you're not passing a `fileName` argument to `transpile`. Understandable, since you're supplying the text as a string, but we still need a (virtual) file name so we can check it's extension to see if you're transpiling a `.ts` or `.tsx` file (we default to `.ts` when no file name is specified). Try this:

[code]

[2015-10-07 16:30] mhegazy commented on #1664
yes. sorry did not had my coffee when i replied :) `await *` was pulled out. @bterlson is the proposal sponsor, and can comment more about this.

[2015-10-07 16:34] ahejlsberg commented on #4988
@sandersn The issue is that the implementation of `slice` isn't going to clone any additional properties you might have added in a derived class. Thus, it strictly isn't true that `slice` returns `this`. Indeed, the only time it is true is when a method actually returns the `this` instance.

If we change `slice()` to return `this` we're basically requiring subclasses of `Array<T>` to override `sli

[2015-10-07 16:37] andrewhathaway commented on #5152
Hey @ahejlsberg!

Ahh I see. Yes that worked. Thanks for tip, appreciated. This should probably be documented somewhere?

I also feel like the transpile API isn't very well documented and results in a struggle to find information around it, even though reading the source is helpful.

Thanks again. @kataras - This works.

[2015-10-07 16:38] vladima commented on #5152
Currently if filename is not provided by user we'll [use](https://github.com/Microsoft/TypeScript/blob/master/src/services/services.ts#L1854) `module.ts` as a filename. As an option in this case if value of `jsx` is either `React` or `Preserve` then we can use `module.tsx` instead.

[2015-10-07 16:40] mhegazy commented on #5152
you can find more documentation about transpile at https://github.com/Microsoft/TypeScript/wiki/Using-the-Compiler-API#transpiling-single-file

[2015-10-07 16:41] andrewhathaway commented on #5152
@mhegazy I read this, but theres no mention of JSX/TSX compiling and the fact that you must supply the file name for it to be compiled in the correct way!

[2015-10-07 16:44] vladima commented on #5152
fair point, I'll update it

[2015-10-07 16:47] mhegazy commented on #1150
The issue though annoying, is not common; you have to be in a string literal, that has a comma, while in a parameter help session. Moreover, a fix would require changes to the managed VS plugin, which is not an OSS component; so i can not just say "Accepting PRs", as that would be misleading. So options, either wait until the VS plugin is open sourced, and have some one sponsor the change, and fix

[2015-10-07 16:47] andrewhathaway commented on #5152
Awesome, cheers guys!

[2015-10-07 16:56] mhegazy commented on #5152
We should also fix the underlying issue, and if the name is not provided, a correct name (i.e. `module.tsx` should be generated)

[2015-10-07 17:15] mhegazy commented on #5151
This is an interesting topic, but I do not have any ideas here. the main problem i see, is that the html template and the JS code that populates its context are detached, and the linkage happens dynamically. JSX on the other hand does not have this issue, as the JSX elements are evaluated in the context of their declaration.

Would love to discuss ideas here on how to we can get the type checking

[2015-10-07 17:17] DanielRosenwasser commented on #4988
It's also worth stating that if a user is totally sure that this is what they want, they can always add the overload themselves.

[2015-10-07 17:19] mhegazy commented on #5112
The .d.ts files are considered "references" the compiler will not touch them, not move them, or recreate them. the only thing it will do, if you have a `/// <reference >` to an input.d.ts, the generated output will have the reference rewritten to point to the source location.
An easy way to think of the .d.ts files is that they go along with your .js files. if you are copying the .js files, you sh

[2015-10-07 17:21] RyanCavanaugh commented on #2655
We're generally not going to add flags that can be solved trivially in a build pipeline. In this case, replace the regular expression

with

using the tool of your choice before running through Closure.

[code]

[2015-10-07 17:23] mhegazy commented on #4988
So the right thing is to do what @DanielRosenwasser suggested and have a new type to represent the Tuple that extends Array. one thing to note, we would not want to require users to update their library as they update the compiler (as some users have a hand crafted version of the library) so we need to come up with a solution that does not violate this constraint.

[2015-10-07 17:28] JsonFreeman commented on #1150
Yes, makes sense. It's true that it would require changes on both sides, and the bug is only a minor annoyance (it doesn't block any scenario).

[2015-10-07 17:45] krimple commented on #1927
+1 for filesGlob support on tsc...  would be a great update.

[2015-10-07 17:55] sandersn commented on #4988
I need to go read the spec for tuple types and assignment. Right now I don't understand well enough how the type system supports it. I'll see if I can come up with a proposal afterwards.

[2015-10-07 18:21] zdychacek commented on #1927
+1 globbing should be standard feature

[2015-10-07 18:54] bterlson commented on #1664
`await *` is not part of the proposal. It is not worth adding the syntax as sugar for `Promise.all(` + `)` and it is not analogous with yield * so is confusing in that respect as well. It is better to save this syntax for a proposal that will have a bigger impact on async programming than saving a few characters.

[2015-10-07 19:23] CyrusNajmabadi commented on #1150
I'm reopening this because it's pretty clearly a bug, and should not be considered "By Design".  I agree that it will take work to fix it across several modules.  But that's no reason to close something prematurely.  Even if it takes us a while to get around to this, we should be tracking things properly and we should keep this in our system.

I would only close this in two situations:
1. We actua

[2015-10-07 19:24] errorx666 commented on #4930
@RyanCavanaugh I concede your argument that this feature may not be appropriate for TypeScript.

I do, however, think that the applications are much more broad than "make a counter" functions.  It can be used for any function that maintains an internal state.  (Though some may argue a class would be more appropriate; I like that it can keep its internals hidden from external view.)

For example, m

[2015-10-07 19:29] CyrusNajmabadi commented on #1150
True.  But it does happen.  I've certainly run into it before.  And just because something isn't common doesn't mean that the bug should just be closed.  The bug accurately reflects the state of the product, and provides a way for us to track this defect all the way to a good resolution (in some timeframe).

I think the latter is acceptable.  Someone on the team can eventually fix it if they want.

[2015-10-07 19:37] jbrosi commented on #2655
Unfortunately this regex won't help us because sometimes (especially when working with external javascript libraries) we have to use the quoted identifier notation to mark variables which do *not* have to be changed by google closure compiler. The regex would match on those cases, too (not only on the enums).

I am still wondering why it would be a problem to handle the enums just the way typescri

[2015-10-07 19:38] DanielRosenwasser opened #5156 "Should unions and non-primitives be allowed for relational comparisons?"
[To quote 4.19.1 of the spec](https://github.com/Microsoft/TypeScript/blob/738b26f065a4d859c19b4c417b359baf1d74900a/doc/spec.md#4193-the--------and--operators):

This has probably unintended consequences in the case of union types:

[code]

The question is: is this still desirable behavior?

@ahejlsberg @RyanCavanaugh @danquirk @mhegazy @JsonFreeman

[2015-10-07 19:56] RyanCavanaugh commented on #2655
The regex *only* matches things in the form `X[X[Y] = N] = Y` where both `X`s are the same and both `Y`s are the same and `N` is a number. I can't imagine that there are any uses of that pattern that aren't enum emit?

[2015-10-07 20:02] jbondc commented on #2491
Would be great to elaborate on ```Meh``` (Meeting Exchange History)

[2015-10-07 20:11] RyanCavanaugh commented on #2491
There's not a huge amount to add -- we understand the use cases, we understand the value proposition, and we understand the additional complexity. Given a finite complexity 'budget', we didn't think this was worthwhile compared to other things we could do instead.

[2015-10-07 20:12] jbrosi commented on #2655
@RyanCavanaugh Thanks for your answer! While I must admit, it would be a very rare case if anything else matches this regex... It still *could* happen and it still doesn't feel right for me - it's more like a workaround.

(Though that workaround might work well for us at the moment and we're definitely going to evaluate it, thanks for the idea!)

[2015-10-07 20:12] paulvanbrenk commented on #1150
@zhengbli do you know if this repros in the sublime plugin?

[2015-10-07 20:28] alexeagle opened #5157 "when installed globally, tsc should check for ./node_modules/.bin/tsc"
If I am in a project directory where I've installed a particular version of typescript, I should get that version, even if it differs from whatever typescript version I may have installed globally.

This way, I get best of both worlds:
- short command to type
- the version of typescript that my project/team is currently using

[2015-10-07 20:44] JsonFreeman commented on #1150
Good points, @CyrusNajmabadi. I have one question about this though:

Wouldn't the language service have to have access the tree to answer the question accurately about whether ',' is a trigger? It has to check if its an actual token, and whether its parent is the call expression.

[2015-10-07 20:45] JsonFreeman commented on #1664
I just want to say I wholeheartedly agree with that rationale.

[2015-10-07 20:48] jamiewinder commented on #1664
No problem, thanks for the replies

[2015-10-07 20:49] danquirk commented on #4873
Gonna leave this open until it gets logged on the Roslyn side so it doesn't get dropped on the floor. @DanielRosenwasser please link the issue into this thread and then we can close this one.

[2015-10-07 20:52] zhengbli commented on #4689
This is arguable, because there was complainant before saying that it was too cumbersome to always cast the type `Element` to `HTMLElement` when in most common cases the actual type is `HTMLElement`, even though the spec says it should be `Element`.

For example, the return type of `getElementById` is defined as `Element`, however we made it `HTMLElement` to avoid too much casting. If the type is

[2015-10-07 20:54] CyrusNajmabadi commented on #1150
@JsonFreeman You are correct that the LS would need the tree to answer this question with total accuracy.  The open question to me is if total accuracy would be necessary.  The concern here is that this request is synchronous from the plugin side.  And i'm *loathe* to perform tree operations synchronously :)

That said, it's quite possible this does *not* need to be synchronous.  The entirety of t

[2015-10-07 20:59] JsonFreeman commented on #1150
Yup, both of those options make sense to me. My gut says to go with the async approach, but maybe that's just me being a perfectionist. I guess it largely depends on what heuristic is chosen for the synchronous approach. Maybe something like scanning that particular line of text to see if the comma actually gets scanned as a token (instead of part of a string or template literal or comment).

[2015-10-07 21:04] rbuckton commented on #4870
A `global` modifier might be interesting when writing a polyfill inside of a module. Consider the following:

**symbol-polyfill.ts**
[code]

**app.ts**
[code]

Which might result in something like the following AMD module:

**symbol-polyfill.js**
[code]

I'm not certain this is something we want to do, but it does still come up from time to time.

[2015-10-07 21:16] rbuckton commented on #892
My take on `internal` is that it should have the following behavior:

* Available only on a class declaration/expression (for now)
* A member may be marked with only one of `public`, `protected`, `internal`, or `private` (no `protected internal`, at least for now)
* Members marked `internal` are treated as `public` for any **Source File** within a Program
* Members marked `internal` are treated as

[2015-10-07 21:19] DanielRosenwasser opened #5158 "Consider parenthesized expressions with JSDoc to be a form of type assertions"
To quote @weswigham on https://github.com/Microsoft/TypeScript/issues/4447#issuecomment-143099295:

We should consider supporting this in Salsa.

[2015-10-07 21:19] alexeagle commented on #5157
@mprobst implemented similar in https://github.com/angular/clang-format/blob/master/index.js#L69

[2015-10-07 21:20] zhengbli commented on #1150
@paulvanbrenk no it doesn't repro. I think the decision of when to show the tooltip is a editor-specific thing.

[2015-10-07 21:20] ducin commented on #5151
Considering the easiest example, [underscore's _.template](http://underscorejs.org/#template) function:

    var compiled = _.template("hello: <%= name %>");
    compiled({name: 'moe'});
    => "hello: moe"

we should be able to decorate/extend the base function, so its contract remains the same (behaves the same way from the outside).

**What we want here is to make typescript compiler throw erro

[2015-10-07 21:29] zhengbli commented on #4684
Indeed this is a bug. These constants are supposed to be in the static side of the interface, it should be:
[code]

And then you can do:
[code]

Will fix soon.

[2015-10-07 21:30] CyrusNajmabadi commented on #1150
Going back to this:

So looking at the managed side, this remains true.  *however*.  I'm a little wary of going down that path.  The reason for this is that this will essentially mean that in the internal machinery of sighelp we'll *always* be kicking off this async chain of events on every keystroke (since we don't know if the character will be a trigger character or not).

That's a lot of churni

[2015-10-07 21:32] JsonFreeman commented on #1150
Oh, good idea! The TriggerReason would actually contain the information that was missing before.

[2015-10-07 21:39] ducin commented on #5151
How to wrap the original `_.template` function with typechecking? I came up with following idea: each time typescript compiler encounters a template, it scans it and produces following (or similar) javascript output:

[code]
this is something new. And for each occurence of `_.template` in original ts code, such as a [backbone view](http://cdnjs.com/libraries/backbone.js/tutorials/what-is-a-view):

[2015-10-07 21:58] falconepl commented on #4684
Agree. That's exactly what we need.

[2015-10-07 22:01] egeland commented on #5150
Aha, that explains it!

Thanks for the clarification! :smile:

[2015-10-07 22:01] #5150 closed

[2015-10-07 22:14] ducin commented on #5151
For [Handlebars](http://jsfiddle.net/aybalasubramanian/N2b5M/1/):
[code]
it could work exactly the same way (just with more advanced data structures, but it all seems parsable):
[code]
in above example this:
[code]
has been replaced with:
[code]

## Different templating engines

just the preprocessor would need a different analyser for underscore and handlebars syntax.

[2015-10-07 22:23] DanielRosenwasser opened #5160 "Compiler crash when variable has same name as a function with overloads"
[code]

[code]

[2015-10-07 22:38] CtrlZvi commented on #4833
I might be missing something, but without proptypes support, how do I write the equivalent of
[code]
interface IMyComponentProps extends React.Props<MyComponent> {
}

interface IFooState {
}

class MyComponent extends React.Component<IMyComponentProps, IMyComponentState> {
    render() {
        return (
            <div>
                {this.props.children}
            </div>
        );
    }
}

[2015-10-07 22:51] RyanCavanaugh commented on #4833
There's currently no type system enforcement of child elements.

We looked into this but a) there doesn't seem to be a lot of code that has meaningful constraints on its children and b) we would have had to encode a *ton* of very React-specific semantics into the type system, which we weren't comfortable doing at this point.

[2015-10-07 23:05] DanielRosenwasser commented on #1150
Yeah, I think that's what I originally meant by "soft"/"hard" trigger.

[2015-10-07 23:18] alexeagle opened #5161 "Intellisense for the 'from' of an import"
We have a lot of modules which a user might want to import, and it would be nice to show a list of these as a completion hint after `import {} from '`
Additionally, we have so many modules that walking the filesystem is not practical, and some of them are generated external module names, not files. So we would like to run a periodic indexing, and then somehow provide a list of these to the languag

[2015-10-07 23:20] DanielRosenwasser commented on #5161
Hey Alex, seems like a duplicate of #188.

[2015-10-07 23:20] #5161 closed

[2015-10-07 23:21] DanielRosenwasser commented on #5150
No prob, glad that cleared things up!

[2015-10-07 23:23] alexeagle commented on #188
we have so many modules that walking the filesystem is not practical, and some of them are generated external module names, not files. So we would like to run a periodic indexing, and then somehow provide a list of these to the language services (eg. an RPC, or a file we stage on local disk, etc.)

[2015-10-07 23:27] basarat commented on #5112
what he said ^ `.d.ts` are not moved around -> by design :rose:

There are reasons why I feel this is good ... e.g. one would not want `node.d.ts` to be moved around ... its just an ambient ref, that any module consumer should include themselves if they need it.

[2015-10-07 23:33] #5152 closed

[2015-10-08 00:54] nycdotnet opened #5162 "Please confirm the equivalent MSBuild tag for --jsx"
This Wiki article is missing the MSBuild tag for `--jsx`:

https://github.com/Microsoft/TypeScript/wiki/Setting-Compiler-Options-in-MSBuild-projects

I can add it if you're willing to just confirm it.  Thanks!  (Note I'm only asking due to the case-sensitive nature of it)

[2015-10-08 01:55] jbrantly commented on #4691
Another scenario that could potentially benefit from this which is not covered by the above are `import` statements and tripleslash references. Specifically this could be useful for [manipulating test files](https://github.com/borisyankov/DefinitelyTyped/issues/6125) on DefinitelyTyped.