[2015-06-24 08:54] RyanCavanaugh commented on #3612
Linking to the DefinitelyTyped .d.ts files would be useful here:

https://github.com/borisyankov/DefinitelyTyped/blob/master/errorhandler/errorhandler.d.ts
https://github.com/borisyankov/DefinitelyTyped/blob/master/method-override/method-override.d.ts

ES6 has the concept of a "default export". It also has the notion of importing named exported values from some 'root' object. It does *not* have th

[2015-06-24 09:31] lukeapage commented on #279
is a type parameter on the amd-dependency possible? e.g.

typescript 1.4
[code]
typescript 1.5
[code]
typescript 1.x ?
[code]

[2015-06-24 10:48] wardbell commented on #3612
INTERESTING.

Thanks to your prompting,  I re-discovered that my project has a supplementary, handcrafted *express-middleware.d.ts* that describes the three of the middleware packages I mentioned. That's where I can see how things go wrong.

I'm sure you are right about ES6 not importing a function. Something must have changed. Permit me to quote [Axel Rauschmayer's well-known post] (http://www.2a

[2015-06-24 13:04] NekR opened #3613 "XML getElementsByTagName returns Node"
Hi,

I understand all concerns around HTML/SVG elements with ```querySelector()```, etc. But why method which should return **```Element```** cannot even return ```Element``` but returns ```Node```? Do you think it's possible to query processing instructing with ```getElementsByTagName()```? I know it's ```NodeList``` returned by that method, but **NodeList** does not mean that it always should co

[2015-06-24 13:36] ivogabe commented on #3612
ES6 modules are not fully compatible with commonjs (nodejs) modules. This is valid ES6:
[code]
But you cannot compile it with an export assignment, as that would cause side-effects:
[code]
Instead, the default function is emitted as a property of the exports object. When you use TypeScript for the whole project, you'll get ES6 behavior for default exports. Creating a behavior that's consistent in

[2015-06-24 14:06] kitsonk commented on #3613
As per the [W3C DOM Level 3](http://www.w3.org/TR/DOM-Level-3-Core/core.html#ID-536297177), NodeList is an array-like structure containing items of Node.  And [Node](http://www.w3.org/TR/DOM-Level-3-Core/core.html#ID-1950641247) does not contain `getAttribute`.

The easiest way to deal with this, because you know something that can't be derived from the code, is to use a cast:

[code]

[2015-06-24 15:35] jbondc commented on #3594
@mhegazy That would be great, is there a plan to allow building the wrapper or that will be integrated in windows 10? I'm looking more for command line tools so I have an alternative to 'v8 optimization' and its specific type guessing.

[2015-06-24 16:26] djarekg commented on #3583
How about also HTMLTableElement cells and rows property return a new generic type HTMLCollectionOf<T extends HTMLElement> where cells is HTMLCollectionOf<HTMLTableCellElement> and rows is HTMLCollectionOf<HTMLTableRowElement>

[2015-06-24 16:58] #3246 closed

[2015-06-24 17:04] mhegazy commented on #3300
I am not sure i understand how this is meant to be used later. looking at babel's output in this case:

[code]
emits with `--m ignore`:
[code]

so you still have a call to `require`; if that is fine, just use `--m commonjs`.

[2015-06-24 17:07] mhegazy commented on #279
@lukeapage it is just a proposal at this point. it has not been implemented. if and when it is added, i do not think it will be in an `/// <amd-dependency>` tag. more of a syntax extension to ES6 default module import syntax.

[2015-06-24 17:12] #3600 closed

[2015-06-24 17:16] mhegazy commented on #2338
@milkshakeuk it is reasonable. Making it extensible is part of the changes @vladima is making. The question is how to surface that, i would argue you do not want to type this `/// <reference>` tag for every template, possibly you want to specify some rule/resolver for every extension once throughout your project.

[2015-06-24 17:48] frankwallis commented on #2338
I really like the proposal in https://github.com/Microsoft/TypeScript/issues/2709#issuecomment-91968950 for the following reasons:

- it makes importing primitives like strings very easy, e.g.

```import myTemplate: string from "./my-template.html"```
- it lets you import modules as 'any' when you are just prototyping/hacking

```import someCoolLibrary: any from "cool-new-thing-without-a-dts"```
-

[2015-06-24 18:15] NekR commented on #3613
@kitsonk Oh, man, I know how it's per spec, but I am a bit tired of such answers here. It's not a question how to solve this problem, I understand how to cast types. Problem is that ```getElementsByTagName()``` cannot return anything than ```Element```, am I wrong?
And if you are so spec funs, why then ```getElementsByTagName('a')``` in HTML document returns ```NodeListOf<HTMLAnchorElement>```?

P

[2015-06-24 18:21] NekR commented on #3613
And please, as per spec, ```Element``` inherits from ```Node```, right? I believe it's true because this code returns ```true``` in browsers:
[code]

So returning ```Element``` won't be any incorrect per-spec, if you always like to be per-spec (but you are not of course in some other cases, but who cares).

[2015-06-24 19:40] guybedford commented on #2338
I was pointed to this issue from the jspm chat room, only just found out about it now. Would it be possible to make the resolution algorithm itself hookable in TypeScript? I certainly agree the Node resolution should be the default, but trying to work out other fixed types of resolution mechanisms at this point seems like they will only be left lacking.

[2015-06-24 19:55] Zoltu commented on #2338
:+1: to https://github.com/Microsoft/TypeScript/issues/2338#issuecomment-114989607  In particular, I would like to be able to run the TypeScript compiler with a plugin (perhaps through a compiler option) which would result in some third-party-authored module resolution system being used *instead of* the built-in one.  In particular, if I am using JSPM, I want to be able to *turn off* node resoluti

[2015-06-24 20:03] vladima commented on #2338
Yes, current intention to push module resolution responsibilities to the host and provide a number of predefined implementations to handle popular scenarios

[2015-06-24 20:32] subesokun commented on #2338
I'd like to see a hookable resolution algorithm in combination with https://github.com/Microsoft/TypeScript/issues/2338#issuecomment-114989607. Meaning that TS transforms a call like `import * as foo: IFoo from "foo";` figuratively spoken into its plain form `import * as foo from "foo";`, let it resolve by some external resolver and then assign the type `foo`  to this result.

If the resolver is s

[2015-06-24 20:49] #3326 closed

[2015-06-24 20:50] #3472 closed

[2015-06-24 21:25] DanielRosenwasser commented on #3600
Thanks @tinganho!

[2015-06-24 21:41] jasonwilliams200OK opened #3618 "Rename doc to docs or Documentation"
The folder in source tree called `doc` is not consistent with other repos on GitHub.

IMO, it should either be `docs` (many repositories use this) or use `Documentation` (ASCII sort order) so it appear at the top in source tree (like https://github.com/torvalds/linux, https://github.com/dotnet/corefx/ and https://github.com/dotnet/coreclr/).

Also, please convert existing pdfs/docx to markdown and

[2015-06-24 21:52] DanielRosenwasser commented on #3605
@lmcarreiro can you confirm that on the command line, this compiles correctly right now?

[2015-06-24 22:05] vladima opened #3619 "incorrect formatting when deriving from function call that returns type with generic construct signature"
[code]

[2015-06-24 22:05] JsonFreeman commented on #3514
I think we just have a non-exhaustive switch because when we added syntax kinds, we didn't know to update this function. I'm surprised that doesn't happen more often, as our language has no way of catching such things.

[2015-06-24 22:07] #2632 closed

[2015-06-24 22:10] danquirk commented on #3618
Changing to docs seems pretty innocuous if that's the convention.

The only pdfs/docx in \doc is the language spec which is also in there in Markdown (spec.md). We still find the other formats useful sometimes (ex Word's authoring tools/change tracking, PDFs for attaching to email).

The wiki content is currently in a separate repo per prior suggestions: https://github.com/Microsoft/TypeScript-wik

[2015-06-24 22:23] aleksey-bykov opened #3620 "Question: how can the empty type {} be detected?"
I wonder what the sufficient set of checks is that detects the empty type as a result of failed type inference. I have an expression and a type checker that gives me its type and symbol. My problem is that I get false positives on module references and type parameters.

[2015-06-24 22:33] RyanCavanaugh commented on #3620
It would be useful to post at least one code example of a thing you'd like to detect

[2015-06-24 22:40] aleksey-bykov commented on #3620
Like here https://github.com/Microsoft/TypeScript/issues/3423

[2015-06-24 23:22] mhegazy commented on #3618
feel free to send a PR for this. you will need to make sure that `jake generate-spec` is still working correctly.

[2015-06-24 23:49] jasonwilliams200OK commented on #3618
@danquirk, thanks for your input.

One of the ideas of having docs in the source-control is to encourage contributors to keep the docs in sync with code changes. This way the commit history keeps track of code changes + docs + PRs. Having a separate repository is a good idea (I wasn't aware of Typescript-wiki repository), but the most popular workflow is to keep the docs within the source-control.

[2015-06-25 00:03] danquirk commented on #3618
Makes sense. @DanielRosenwasser has been the main one managing the syncing of the two repos so he might feel opinionated one way or the other. Mostly we were just holding out hope for GitHub to actually support editing repo wikis in a good way.

[2015-06-25 00:57] aleksey-bykov commented on #3620
[code]

[2015-06-25 01:07] aleksey-bykov commented on #3620
my clueless attempt to code it

[code]

[2015-06-25 01:19] aleksey-bykov commented on #3578
@jbondc so true, inheritance (for the sake of code "reuse" or whatever else) is a hands down [rotten idea](https://www.google.com/search?q=inheritence+is+evil), composition does it all with a little bit more effort, screw this s*t

[2015-06-25 02:12] Gaelan commented on #3578
:+1:

[2015-06-25 02:53] #2676 closed

[2015-06-25 02:55] DanielRosenwasser commented on #3620
This was how I did it: https://github.com/Microsoft/TypeScript/commit/abd44b1d7ec4d3d546a4ce7a2b47729892c7014a

[2015-06-25 03:14] DanielRosenwasser opened #3623 "Unclosed object binding patterns do not give correct completions"
Now that #3615 is in, here's an annoying one for editors without brace completion:

[code]

Expected: `abcdef` is in the completion list.
Actual: `property1` and `property2` are in the completion list.

[2015-06-25 03:57] DanielRosenwasser commented on #3618
I don't think there's a standard - for instance, Rust uses "doc" as well. I'm not seeing a strong benefit of a rename, but I'm not that strongly opinionated on it.

I understand the desire to have wiki pages in the `doc`/`docs` directory; however, I personally don't want to conflate wiki history with TypeScript history. Others on the team may feel differently, and if so, I encourage them to voice

[2015-06-25 04:16] DanielRosenwasser commented on #2675
In addition to quick-info not working:

### Go-to-definition doesn't work on the property name:

[code]

### Find-all-references and rename doesn't work at either location:

[code]

[2015-06-25 04:53] #3205 closed

[2015-06-25 05:02] rbuckton opened #3624 "Rename refactor for parameter does not rename parameter in TypePredicate"
A rename refactoring for a parameter in a function whose type annotation is a type predicate does not rename the parameter in the type predicate.

[2015-06-25 05:07] DanielRosenwasser commented on #3624
This might be working thanks to #3611. I'm seeing correct behavior in Sublime with an updated tsserver. Can you try a recent services version and confirm?

[2015-06-25 05:13] rbuckton opened #3625 "Incorrect classification for parameter name and type of type predicate"
The parameter name and type in a type predicate are classified such that they are colored the same as a keyword.

[2015-06-25 05:24] duanyao opened #3626 "///<reference path=... /> is case sensitive on Linux, but case insensitive on Windows"
tsc treats path values in `///<reference path=... />` as case sensitive on linux, but case insensitive on Windows. This behavior makes codes writing on windows not portable if the casing of source file paths is inconsistant with the paths in `///<reference path=... />`.

[2015-06-25 06:04] kitsonk commented on #3613
If you think I am affiliated with TypeScript, you are wrong.  I am trying to point out though that your expectations do not align to the specs, so I am surprised you think that TypeScript shouldn't follow the specs and do what you think it should do, versus what the spec says.  I even gave you a working piece of code that gets around the issue.  So to be honest, I am "tired of such" attitude for j

[2015-06-25 06:25] duanyao commented on #3613
Note that the DOM spec is written in a language called [WebIDL](http://heycam.github.io/webidl). The mapping of WebIDL to ECMAScript is defined in WebIDL spec, but is undefined for other languages. So it is up to TS to decide how to map from DOM spec. Also note that some WebIDL features are not possible in TS currently, such as overriding a member in a sub interface.

As to `getElementsByTagName()

[2015-06-25 06:25] Gaelan opened #3627 "Enum Object Keys"
[code]
[play][]
* * *
Enums are internally numbers, so this should be able to compile fine.

[play]: http://www.typescriptlang.org/Playground#src=enum%20Foo%20%7B%20%7D%0D%0A%0D%0Avar%20fooMap%3A%20%7B%20%5Bfoo%3A%20Foo%5D%3A%20string%20%7D

[2015-06-25 07:01] kitsonk commented on #3613
@duanyao that is a fair point about `getElementsByTagName()`.  Thanks for taking the time to look up information and reference it.

As far as the WebIDL, if I understand correctly, lib.d.ts is auto-generated from the internal implementation of IE's ECMAScript engine, which is based on Chakra's implementation of the DOM spec.  Ergo, I suspect Chakra is returning a `NodeListOf<Node>`.  Obviously @Ry

[2015-06-25 07:34] kitsonk commented on #3626
Isn't that an underlying OS challenge?  I am not sure how you can resolve that cleanly, because there is no way to force either one at the runtime engine perspective to behave like the other.  You can't force Linux to cover off every permutation of case sensitivity.  The only option is to see if the actual file name returned from the OS call on Windows matches the case of the original file, and I

[2015-06-25 08:40] christyharagan opened #3628 "Discussion: (Reflective) Type Model"
Hi all,

We currently have a AST model for TypeScript which is useful for compilers, editors, and linters.

However, it would be extremely useful to have a type model, a la Java's reflective model. There are a huge number of use-cases supporting this, but I will list a few here:
- I have a REST interface and I define a data model for it as a TypeScript interface. I use this interface for the funct

[2015-06-25 09:17] duanyao commented on #3613
@kitsonk AFIW `NodeListOf<N>` and related things are manual tweaks on top of auto-generated `lib.d.ts`, and `lib.d.ts` is auto-generated from WebIDL files of IE 11 (those files are also used to generated C++ bindings of DOM objects).

[2015-06-25 10:05] duanyao commented on #3626
I think it is technically possible to make the behavior on Windows becomes case sensitive, because Windows file system is case-preserving, i.e. when you ask what the path of a file is, Windows gives you the result in correct case. So after tsc has resolved the referenced file, it can query the actual path from the OS, and compare it with the path specified in .ts case-sensitively; if not matching,

[2015-06-25 10:32] flcdrg opened #3629 "Error "The following two items have duplicate item metadata" when building with /p:EnablePackageProcessLoggingAndAssert=true"
Steps to reproduce:

1. Create new empty ASP.NET project in Visual Studio
2. Add TypeScript file to project
3. Accept prompt to add TypeScript functionality to project
4. From command-line, build the solution:

`msbuild /p:DeployOnBuild=true /p:EnablePackageProcessLoggingAndAssert=true`

The following error is logged:
[code]

I think the problem is that the file is being added twice. Once by TypeS

[2015-06-25 10:42] jbondc commented on #3578
:hankey:  I'd love to hear how this aligns with the design goals:
[code]

[2015-06-25 12:23] kitsonk commented on #3578
I have long argued of the merits of embracing the protypical nature of ECMAScript instead of projecting a traditional OO paradigm.  On the other hand, that hasn't stopped the wider community rejecting that and ECMAScript has taken a large bend towards traditional OO with ES6, though there seems much debate on this, as several of our ECMAScript luminaries seems to be conflicted on every aspect of t

[2015-06-25 12:26] NekR commented on #3613
@kitsonk You know, after your answers here I really do not want to report any bugs here to TypeScript. If you are tired here, then please, do not answer here, it's simple. You was wrong here but was arguing with such rage like only you can be right.

It's so obvious that get**Elements**ByTagName returns **Elements**. Treating the spec so literally it's like junior Police man (or any such position,

[2015-06-25 13:19] aleksey-bykov commented on #3578
Here is the statement: **inheritance is a dangerous tool that causes more problems that solves**
- it takes knowledge, practice and discipline to use it right (which junior/mid developers generally lack)
- it takes experience to grasp the understanding where it may **NOT** be used
- yet, given all of above, even experienced developers with well designed systems fall short when requirements change

[2015-06-25 13:44] DanielRosenwasser commented on #3578
Alright, while we'd love to have a [constructive conversation on the merits of different approaches in software design](http://www.c2.com/cgi/wiki?ParadigmPissingMatch), I believe that classes are a useful abstraction and the `abstract` modifier would bring utility. For those who prefer using this paradigm, it would surely be helpful.

Unless there are specific "gotchas" introduced in our language

[2015-06-25 15:09] johnnyreilly opened #3630 "Strange colourisation of template strings when "#/" present after first placeholder"
I've noticed some odd behavior with the syntax colourisation for template strings in Visual Studio 2013 (using TypeScript 1.4 plugin).  It occurs when the string "#/" is present within the template string **after** at least one placeholder is present.  I realise reading that is as clear as mud so look at the screenshot below for clarification:

![image](https://cloud.githubusercontent.com/assets/1

[2015-06-25 15:23] DanielRosenwasser commented on #3630
TypeScript 1.4 didn't have proper template string colorization support in VS2013, so I believe it thinks it's seeing the identifier `_well_things_look_a_little_odd_colour_wise_after_the_`, followed by invalid token `#`, and finally unterminated regex ``/_${"That_is_what_I_think_anyway"}`;``

If you're curious for a more technical explanation, you can check [this page out on our wiki](https://githu

[2015-06-25 15:23] #3630 closed

[2015-06-25 15:26] johnnyreilly commented on #3630
Ah great! Thanks for the detail.

[2015-06-25 15:35] DanielRosenwasser commented on #3630
No prob; while 1.5 proper should be out pretty soon, you can use [the beta](https://visualstudiogallery.msdn.microsoft.com/107f89a0-a542-4264-b0a9-eb91037cf7af) in the mean time.

[2015-06-25 15:48] mhegazy commented on #3625
Pinging @tinganho for this one.

[2015-06-25 15:49] DanielRosenwasser commented on #3625
As mentioned in https://github.com/Microsoft/TypeScript/issues/3624#issuecomment-115107309, are we sure this wasn't fixed by #3611?

I can't confirm on my end.

[2015-06-25 15:54] DanielRosenwasser commented on #3627
Duplicate of #2491.

[2015-06-25 15:54] #3627 closed

[2015-06-25 16:11] jbondc commented on #3578
Objective thinking:
http://ocw.kfupm.edu.sa/ocw_courses/phase3/ICS201-Offering-052/Readings/p123-armstrong.pdf

What bothers me the most is the increasing and consistent sidestepping of the 'TS design rules' in favor of:
- Whatever aligns with the Microsoft Way does not require any justification

[2015-06-25 16:30] lmcarreiro commented on #3605
Which version should it work? I tried in 1.5.0-beta and it doesn't work.

[code]

[code]

[2015-06-25 16:37] jbondc commented on #3578
@kitsonk I must have missed it, when was abstract ever proposed?
http://wiki.ecmascript.org/doku.php?id=strawman:oldes6

[2015-06-25 16:37] DanielRosenwasser commented on #3605
@mhegazy should that be showing 1.5.2 or something along those lines?

[2015-06-25 16:50] RyanCavanaugh commented on #3578
Here's the justification as I see it:

 1. `abstract` is extremely demanded. It's the highest-ranked thing (sorry, no upvotes on GitHub) from the CodePlex days that we haven't implemented yet. Issue #6 is the only one we've ever cleaned up because there were too many :+1:s to read the thread easily. The most common request we get from internal teams using TypeScript in large systems is `abstract`.

[2015-06-25 16:51] DickvdBrink commented on #3578
Don't think it is fair to call It "the Microsoft way" because it is a really a much requested feature here on GitHub (https://github.com/Microsoft/TypeScript/issues/6#issuecomment-96849896) and on CodePlex.

So some might not like it but others do. It is impossible to keep everyone happy after all.

[2015-06-25 17:06] jbondc commented on #3578
@RyanCavanaugh Yes because there's no multiple inheritance in Java or C#?

If people prefer a faster horse, fine. I'll take the car.

[2015-06-25 17:47] mhegazy commented on #3605
Generators support is added in 1.6, 1.5-beta or 1.5.2 would give you the same error message (see [roadmap](https://github.com/Microsoft/TypeScript/wiki/Roadmap#16)). @lmcarreiro if you want to use that, grab the latest from master it should do the trick.

[2015-06-25 17:47] #3605 closed

[2015-06-25 17:51] mhegazy commented on #3626
It should be fairly easy to add a compiler flag to always treat file lookups as case sensitive. the infrastructure is already in, it is just now surfaced as a compiler option. We would consider a PR if you are interested. you will need to do some pluming through in all places where getCanonicalFileName is used.

[2015-06-25 17:52] jbondc commented on #3578
http://stackoverflow.com/questions/1991042/what-is-the-advantage-of-using-abstract-classes-instead-of-traits

Odersky et al's Programming in Scala recommends that, when you doubt, you use traits.

What's the Microsoft philosophy?

[2015-06-25 17:54] mhegazy commented on #3624
confirmed this is already fixed in latest.

[2015-06-25 17:54] #3624 closed

[2015-06-25 17:55] mhegazy commented on #3625
looks like this one is fixed too. thanks @tinganho !

[2015-06-25 17:55] #3625 closed

[2015-06-25 17:59] ttowncompiled opened #3633 "Error: System.register format output for extending classes"
Hey guys, I'm from the Angular team and we are currently trying to use the TypeScript compiler to compile the project to system.register format. In the process, I noticed a bug with the output. I've cloned your branch **release1.5** to make sure that it wasn't just a bug on our end.

Here is a small example that I have composed independent of the Angular project.

Export file with super class:
[co

[2015-06-25 18:03] mhegazy commented on #3633
looks like a duplicate of  #3364

[2015-06-25 18:21] wardbell commented on #3612
OK. We just have to make sure this is well documented.

The key is that I will always be able to fall back to the common.js syntax when necessary.

[2015-06-25 18:21] #3612 closed

[2015-06-25 18:38] gautamsi opened #3634 "Invalid left-hand side of assignment expression error when LHS is ES6 style imported object"
I get this error when I try to perform following. Idea is that value is populated during bootstrapping module when consuming code import my module. consumer can then change this value to something they want (an IApi interface type)
file 1:
[code]
[code]

if I use old style import statement like following, there are no error thrown
[code]

is it by design? or bug?
Should not compiler take care of t

[2015-06-25 18:41] jonathandturner commented on #3578
It's not useful to argue the merits of inheritance in this thread.  Inheritance is part of JavaScript.  TypeScript supports JavaScript.  Done.

Will TypeScript support other modeling methods, like composition via traits?  I suspect it will at some point, especially since the JS committee is working on things like mixins.  We'll support them as they land in JS.

Let's keep the conversation here to

[2015-06-25 18:54] DanielRosenwasser commented on #3634
I believe this is by design; exported variables, if I recall correctly, can't be written to.

[2015-06-25 19:03] vladima commented on #3634
this is by design: per ES6 spec import bindings (created via [CreteImportBinding](https://people.mozilla.org/~jorendorff/es6-draft.html#sec-createimportbinding)) are immutable.

[2015-06-25 19:03] #3634 closed

[2015-06-25 19:13] danquirk commented on #3628
You might be interested in https://github.com/Microsoft/TypeScript/issues/2577. Reflection type functionality has been an oft requested but controversial issue for us.

[2015-06-25 20:19] lmcarreiro commented on #3605
Thank you all for your answers...
I took the last version on master branch and it worked. Compiles ok with ES6 and displays an error with ES5.
[code]

[2015-06-25 20:31] mhegazy commented on #3628
Another related topic would be #3136.

can you elaborate on how this is done.

[2015-06-25 20:33] mhegazy commented on #3605
@lmcarreiro we are should be adding ES5 support in the next release (post 1.6). plans has not solidified yet at this point, but stay tuned.

[2015-06-25 21:11] RyanCavanaugh commented on #3613
If you don't mind, I'd like to leave this open so that we can fix the bug?

[2015-06-25 21:12] bleiddyn commented on #2011
This issue caused me a few hours of confusion as well. If the file system check is expensive, perhaps we could add a fallback to case-insensitive when the compiler has trouble finding the file?

As an aid for people who have the same issue, the compiler error I was getting said, rather unhelpfully, "Module cannot be aliased to a non-module type."

[2015-06-25 21:56] mhegazy commented on #3613
@zhengbli can you take a look.

[2015-06-25 23:48] tinganho commented on #3625
:+1:

[2015-06-26 00:09] gautamsi opened #3639 "Provide a way to supress specific compiler message like TS2415, incorrectly extends base on override method with different return type"
I am working on a code port from c# to TypeScript. Having some instance of overridden methods with new keyword in derived class. like following. Is there a way that I can suppress this instance of error TS2415.
I can live with error message as it does compile the file. It will have issues when I start putting build system around, they will show as failed all the time.

[code]

[2015-06-26 00:19] danquirk commented on #3639
See https://github.com/Microsoft/TypeScript/issues/2900

[2015-06-26 00:19] #3639 closed

[2015-06-26 00:43] mhegazy opened #3640 "Assert emitting declarations for a global exported using an export specifier"
Reported by @mprobst in #3514

mimial repro:

`a.d.ts`:

[code]

`b.ts`:

[code]

Debug Failure. False expression: isDeclarationVisible unknown: SyntaxKind: 218
    at Object.assert (/Users/martinprobst/src/angular/node_modules/typescript/bin/typescript.js:1418:23)
    at Object.fail (/Users/martinprobst/src/angular/node_modules/typescript/bin/typescript.js:1423:19)
    at determineIfDeclarationIs

[2015-06-26 00:43] mhegazy commented on #3514
Sorry for the delay. this looks like a different issue. I have logged issue #3640 to track it.

[2015-06-26 00:43] #3514 closed

[2015-06-26 00:44] mhegazy commented on #3514
@mprobst can you give PR #3641 a try.

[2015-06-26 00:44] flcdrg commented on #3629
I think the problem lies with the FilesForPackagingFromProject line in Microsoft.TypeScript.targets:
<pre><code>
&lt;ItemGroup&gt;
  <b>&lt;FilesForPackagingFromProject Include=&quot;@(GeneratedJavascriptWithTargetPath-&gt;'%(Identity)')&quot;/&gt;</b>
  &lt;ContentWithTargetPath Include=&quot;@(GeneratedJavascriptWithTargetPath-&gt;'%(Identity)')&quot;/&gt;
  &lt;Content Include=&quot;@(Generated

[2015-06-26 00:58] duanyao commented on #3626
@mhegazy Good news, thank you. I'd like to look at this when I have time, though can't promise.

[2015-06-26 01:09] flcdrg commented on #3629
A temporary workaround until this is fixed in Microsoft.TypeScript.targets is to add the following to your web project (or project.wpp.targets)

[code]

[2015-06-26 06:55] lazutkin opened #3645 "Support for multiple tsconfig.json per project"
Hi! Is it possible to use multiple `tsconfig.json` per project, that is some kind of project-wide `tsconfig.json` located in root directory and additional `tsconfig.json` files located in sub-directories which may override/tune some options for that dirs? Like `.gitignore` does.

It would  be very usefull when, for instance, developing external module under `node`-environment.  Such modules usuall

[2015-06-26 06:57] lygstate opened #3646 "Generated JS code's style is not correct."
The generated code for
[code]

is
[code]

the else after } should not newline.

[2015-06-26 07:38] atsu85 opened #3647 "Compiler error from method with return type + body with if and throw: A function whose declared type is neither 'void' nor 'any' must return a value or consist of a single 'throw' statement."
Hi,
Here is an example that incorrectly (as I understand) generates a compile-time error with TypeScript 1.5 beta:

[code]

But if i remove the if or add return after throw statement (that never gets executed), then compiler is fine with it:
[code]
**Expected behavior:**
First example should compile fine without errors, workaround shown in second example should not be needed to make compiler happy

[2015-06-26 07:39] zhengbli commented on #3613
I agree that it is safe to assume that ``getElementsByTagName()`` returns only ``NodeList<Element>``. And similar functions include ``getElementsByClassName``, ``getElementsByName`` and ``getElementsByTagNameNS``.

[2015-06-26 09:10] mihailik opened #3649 "Conflict with Object.prototype.watch in FireFox/Gecko"
In Gecko engine `commandLine.options.watch` evaluates to a truthy value — [Object.prototype.watch](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/watch). That means running the compiler in Gecko (as opposed to V8/node) it effectively defaults --watch to true

Here's a pull request to work around the conflict:

https://github.com/Microsoft/TypeScript/pull/36

[2015-06-26 09:56] jakepetroules opened #3650 "Possibly add a new compiler option to list output files."
I'm adding support for TypeScript in the [Qbs](http://doc.qt.io/qbs) build system. Due to the way we track dependencies, we require knowing the list of output files a particular tool will produce when invoked with a particular set of arguments.

Currently, this can be difficult to determine since it requires actually parsing the TypeScript source code (i.e. external modules) rather than simply loo

[2015-06-26 12:27] hesselink opened #3651 "Type incorrect program doesn't give error (subtyping)"
The following program crashes, but doesn't give a type error:

[code]

I would expect this to give a type error because `f` expects something with a `foo`, but `g` is only going to pass it an empty object.

[2015-06-26 12:29] kitsonk opened #3652 "Overloaded Union Return Types"
Stupid question of the day, why does this not work:

[code]

Where as this is valid:

[code]

I am allowed to "delegate" the sorting out of the typing of my argument to my overloaded function implementation, but, I am not allowed to delegate the return type, though I am contracting to only return to return a certain type of return value (which is what I am doing with the handling arguments).  Is t

[2015-06-26 13:03] DanielRosenwasser commented on #3651
This is a symptom of [bivariance when relating function arguments](https://github.com/Microsoft/TypeScript/wiki/Type%20Compatibility#function-argument-bivariance), which was an intentional design choice taken to support certain JavaScript patterns.

[2015-06-26 13:03] #3651 closed

[2015-06-26 13:06] hesselink commented on #3651
Ah, that's too bad. Perhaps this could be added to the specification, then? I looked there but couldn't find it.

Are there any plans to make this more strict at some point, perhaps with a flag. While I can see it enables some code to work, in our case it failed to catch bugs that we expected to be caught. We'd rather have to occasional cast than the occasional bug.

[2015-06-26 13:08] DanielRosenwasser commented on #3651
Totally understandable. Actually, there is issue #274 which covers just that (i.e. making things more strict).

[2015-06-26 13:12] hesselink commented on #3651
Thanks, I'll follow that issue.

The example on the wiki looks *almost* like the overloading on string values that typescript already allows. Perhaps overloading on enum values could be added as well to support that use case, removing a need for this bivariance?

[2015-06-26 13:18] hesselink commented on #274
Since you're looking for motivating examples for disallowing function argument bivariance: we have code where we pass around constructor functions. These constructors accept an argument of an interface, but one of them incorrectly assumed it would get one specific concrete implementation of this interface instead. We expected this kind of thing to be caught but instead it was a runtime bug.

[2015-06-26 13:19] DanielRosenwasser commented on #3651
@RyanCavanaugh recently suggested overloading on enums. I think he might also be able to weigh in here on that question.

[2015-06-26 13:25] DanielRosenwasser commented on #3646
Hi there @lygstate, this is actually a duplicate of #3297. The decision we came to there is that one can use a JS formatter to get output that conforms to different users' standads.

[2015-06-26 13:25] #3646 closed

[2015-06-26 13:54] mihailik commented on #3650
It would be inconsistent this JSON way.

Inputs are dumped as line-separated list, so the output should go line-separated as well. Would that work for you, @jakepetroules ?

I'd name the new option --listOutputFiles, and required an extra line between input and output files if both options are specified at the same time.

[2015-06-26 14:14] mihailik opened #3653 "Compiler Options wiki: separateCompilation has weird description"
[Compiler Options](https://github.com/Microsoft/TypeScript/wiki/Compiler%20Options)

Is it really the meaning of this option? You'd never guess!

[2015-06-26 14:18] jbondc commented on #3578
I see, so its not useful to discuss progress. Will be my last comment but will address the @RyanCavanaugh philosophy:
[code]
It's called a selection bias. Fairly referred to as the "Microsoft Way".
[code]
 There used to be a time in the 1940s when women weren't allowed to vote. That got quite a lot of thumbs up. Fortunately, there's something called progress and believe it applies to programming l

[2015-06-26 14:29] Gitgiddy commented on #1066
A good counter example is GitHub-Electon or similar background-worker script/dom-script situations where definintions might only be available in certain contexts.  For Electron, there are two modules called 'ipc' that are loaded in different contexts only ("renderer" vs "main" contexts).  With Typescript automatically including ALL available files in the project, I cannot be selective about which

[2015-06-26 14:47] mihailik opened #3654 "Clarify whether glob patterns like *.* can be used for tsc.js and tsconfig.json"
Several PRs/issues address globbing, but the [tsconfig.json docs](https://github.com/Microsoft/TypeScript/wiki/tsconfig.json) and [schema](http://json.schemastore.org/tsconfig) are not up to date.

#3232 Adds glob-style pattern matching for file specifications using new "include" property in tsconfig.json **(unmerged)**

#3188 Support "exclude" property in tsconfig.json **(merged 16th of May)**

[

[2015-06-26 14:58] DanielRosenwasser commented on #3578
I'm not sure why you feel so impassioned against a feature you are sure you will never use.

Progress is a relative term, and while you may not find your domain is sufficiently serviced by a paradigm, consider the importance of being open minded in building a language - others have built well-thought-out designs using such paradigms and benefited greatly from them.

Furthermore, ad hominems like s

[2015-06-26 15:07] DanielRosenwasser commented on #3653
We had a very hard time trying to name this option. See #2499. Actually, in #3208, this was renamed to `--isolatedModules`.

I just fixed it, but in the future, you can send a PR/file an issue on [TypeScript-wiki](https://github.com/Microsoft/TypeScript-wiki). Does that more or less address what you had in mind?

[2015-06-26 15:17] DanielRosenwasser commented on #3654
2 of those haven't been merged yet, one won't be out until 1.6, and 1.5 isn't even out yet.

[2015-06-26 15:23] DanielRosenwasser commented on #3645
Hey @lazutkin. Currently that's not supported, though I just want to link this issue to #2869 because it is somewhat related.

[2015-06-26 15:28] kitsonk commented on #3578
While I feel as impassioned about that wrangling purist-OO paradigms into ECMAScript is "bad", I agree with @DanielRosenwasser that laying it at the feet of "Microsoft way" diminishes all the hard work the TypeScript team have done.  They strike me as a group of people who try their hardest to do the right thing, and try to limit external commercial imperatives that might influence them.  `abstrac

[2015-06-26 15:32] jbondc commented on #3578
I've retracted some of my comments, no intent to insult anyone and the fantastic job by the TS team. Learned a lot from the compiler, continue to learn and its a real work of art. Got carried away by the "question the good faith of someone", apologies for that.

[2015-06-26 15:33] poeschko commented on #2175
+1. This would be great indeed when working with React.

[2015-06-26 15:46] DanielRosenwasser commented on #3578
No worries; text is a lossy format for tonality and intent :smile:. Everyone in this discussion is well-intentioned. Even if it's not coming off that way, know that we understand your concerns and value them. Keep giving us feedback - it's a learning experience for us too.

(Also we appreciate the kind words guys!)

[2015-06-26 15:56] nycdotnet commented on #3652
It's a good question.  See #1805.  There's been talk of implementing a special case for this, but I haven't seen it yet.

[2015-06-26 16:11] shumy commented on #2249
Decorators for interfaces, should be possible.

[2015-06-26 16:12] DanielRosenwasser commented on #3652
It's actually not quite related to that @nycdotnet.

It's actually in the spec. From [6.1 Function Declarations](https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md#61-function-declarations):

`C | D` isn't assignable to either `C` or `D`; in fact, it's the reverse (`C` and `D` are each assignable to `C | D`).

This leaves me wondering whether there's a better way to do this or if we n

[2015-06-26 16:17] DanielRosenwasser commented on #3261
A (partial) fix might be available at thttps://github.com/Microsoft/TypeScript/commit/0b1db589bad2a73f606cb616159b9251e8036a53 (branch `indexersAndContextualTypesAndStuff`).

[2015-06-26 16:23] jakepetroules commented on #3650
JSON would be ideal since it can losslessly represent any file path... but I suppose filenames containing newline characters are uncommon enough. Just being pedantic. :)

[2015-06-26 16:29] mhegazy commented on #3650
We talked about a `verbose` mode that would make the compiler write out some additional info to stdout, this can be one of the things we could emit along with resolution order, search locations, tsconfig location, etc..

[2015-06-26 16:30] jakepetroules commented on #3650
@mhegazy I don't think that this would be well suited for a verbose mode -- it must be output in a well-defined format that is machine parseable and will not change.

[2015-06-26 16:34] kitsonk commented on #3652
Hmm... That does feel reversed. Obviously the use case is that having determined which override is being invoked, the implementation is contracting to return that type, thereby not requiring further type disambiguqtion by the consumer.

[2015-06-26 16:39] RyanCavanaugh commented on #3651
Overload on enum is compelling; I think we have an issue for it somewhere? We would probably tackle that after the "string literals as types" proposal as that will set a good foundation for it.

[2015-06-26 16:40] RyanCavanaugh commented on #3652
See #943

[2015-06-26 16:43] kitsonk commented on #3652
Yup, it is a duplicate of #943. I will take a look there.

[2015-06-26 16:43] #3652 closed

[2015-06-26 17:11] mhegazy commented on #3650
We have tried to limit the number of flags that the compiler supports to limit support costs and complexity. --listFiles is merely a debugging aid, and so was my --verbose suggestion.

One option for finding out the output files, we do something similar for MSBuild task in VS, by inspecting the inputs to the compiler, and the compiler options you can enumerate the expected output files, e.g.: if y

[2015-06-26 17:12] mhegazy commented on #1066
@Gitgiddy tsconfig.json (with full support in next VS2015 public release) should solve this issue for you.

[2015-06-26 17:18] mhegazy commented on #3647
This is because the compiler does not do control flow analysis at this point. it would be a restriction that can be relaxed once this support is added.

As for now this is by design, as per the [section 6.3: function implementations](https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md#63-function-implementations) from the language spec:

[2015-06-26 17:18] DanielRosenwasser commented on #3651
@RyanCavanaugh I can create the issue for it in the mean time.

[2015-06-26 17:18] mhegazy commented on #3647
see #1042

[2015-06-26 17:18] #3647 closed

[2015-06-26 17:28] mhegazy commented on #3653
Thanks @mihailik

[2015-06-26 17:29] #3653 closed

[2015-06-26 17:32] mhegazy commented on #3645
The compiler picks the closest tsconfig.json to the folder you are building if you are running `tsc` with no arguments in a folder. so if you have an inner directory with a tsconfig.json it will be picked up before the one in the outer directory.

I do not think we will support integration/overriding configuration from multiple tsconfig.json.

[2015-06-26 17:55] mhegazy commented on #3610
/CC: @bterlson

[2015-06-26 18:02] Gaelan commented on #3578
Abstract support will never hurt anyone. If you don't want to use it, don't. Nobody's forcing you to use it. Assuming that this won't require re-architecting the project much (I doubt it will), I see absolutely no reason not to implement this feature.

[2015-06-26 19:37] danquirk commented on #3649
Looks like the fix was already merged.

[2015-06-26 19:37] #3649 closed

[2015-06-26 19:40] mhegazy commented on #3649
Thanks @mihailik !

[2015-06-26 20:22] mihailik commented on #3653
Thanks a lot, the links create a perfect context. Pieces fall into their places.

[2015-06-26 20:41] ttowncompiled opened #3655 "__extends (and friends) should be emitted withing the `System.register` call when targeting System"
Using this contrived example again,

Export file with super class:
[code]
Import file with sub class:
[code]
System.register format output:
[code]
The output of System.register contains no namespace. This is not valid System.register bundle format output. When we bundle our files, our bundle will be broken with this output. To adhere to proper bundle format, the output would need to be:
[code]
Not

[2015-06-26 21:24] mhegazy commented on #3613
and `NodeSelector.querySelectorAll` as well.

[2015-06-27 04:42] aholmes commented on #195
Another point for integer and float types are for writing definition files. When APIs call for specifically an int or a float, it is dishonest to claim that the type is a number.

[2015-06-27 05:16] Arnavion opened #3656 "TDZ error is a bit overzealous"
[code]

This complains that `x = 5;` is referencing x before its declaration. While technically true, this is not really a TDZ error. Though the access of x appears before its declaration in source code order, it's being executed after it, so the assignment will not throw a ReferenceError and is valid ES6 that will log `5`

If it was `bar(); let x;` instead, then the error would be valid, since th

[2015-06-27 06:47] rogergl opened #3657 "How to declare method that exists in a base class ?"
I'm using ember with typescript and I'm trying to provide the necessary type hints. The problem is that I can't figure out how to declare the get method in my interface. If I add a get declaration to RouteObj I get:  Property 'get' is missing in type, which makes sense since I haven't declared it, but get is a member of a base class, which TypeScrip doesn't know.

The source is:
[code]

The type d

[2015-06-27 07:01] jakepetroules commented on #3650
I think using the compiler API is probably the best solution for my use case. Here's what I've come up with for that:

[code]

Thanks for your help!

[2015-06-27 08:50] mihailik commented on #3650
@mhegazy just curious, this analysis of compiler inputs seems to have a flaw: you miss `/// <references/>` and `imports` for example.

Does your msbuild logic include a mini-parser to fish files for such sub-strings?

[2015-06-27 09:14] grofit opened #3658 "ES6 Modules and *.d.ts files with compiler"
I am currently working with aurelia which uses ES6 module loading (`System`) and it is great as I do not need to worry about slapping reference tags everywhere. Now my IDEs (VS/Webstorm) know about the d.ts files so while I am developing they know what types come from where. i.e:

[code]

It knows in the IDE that `aurelia-framework` is included within `aurelia.d.ts` which is in another folder in t

[2015-06-27 11:05] mehrdd opened #3659 "New Website Logo: Vandaw"
- Name: Vandaw
- Homepage url: http://vandaw.com
- Logo: http://vandaw.com/logo-header.svg

thanks.

[2015-06-27 15:39] aleksey-bykov commented on #3620
It helped thanks

[2015-06-27 15:39] #3620 closed

[2015-06-27 18:14] delebash commented on #3658
I think you could try using a tsconfig.json file altough I have not tried this yet  but I think it should work. see https://github.com/Microsoft/TypeScript/wiki/tsconfig.json also https://github.com/Microsoft/TypeScript/issues/2865

[2015-06-27 18:55] grofit commented on #3658
I did look at using the typescript config file before I even had this problem, but for larger projects it is just un-maintainable to have to put in each file, I know they are working on exclusions but its still not ideal. That aside the tsconfig still interacts with the TSC so if the project notion in tsconfig would fix this, ideally there should be a way to do this manually with TSC without the c

[2015-06-27 18:59] drudru opened #3660 "Document a way to determine class at runtime (reflection)"
Typescript generates standard JavaScript and erases the types in the generated code. I think this is fine, but for many dynamic programs, there is a need to process a heterogeneous collection. In that situation, the ability to easily determine the class of an instance at run-time is a requirement.

A solution or best practice for his does not appear to be specified or described in the Handbook or

[2015-06-27 19:30] mhegazy commented on #3650
Nope :) it is an approximation. Turns out most msbuild users list files in their project file, as they use VS for other features. So the input list is usually exhaustive; but again it is not 100% correct.

[2015-06-27 20:11] Ciantic commented on #3448
I just discovered a way to "omit" generics using a function, that returns a function:

[code]

[2015-06-27 22:30] matthewjh opened #3661 "error TS1206: Decorators are not valid here?"
Hi,

What's the problem here? I can't see it.

[code]
This produces the following compiler error:
[code]

My only guess is that it's on a function, but aren't decorators supposed to be applicable to functions?

[2015-06-27 22:41] robertbaker commented on #3661
+1 Having a similar issue with master and using ng-decorate. Was working fine before.

TS1240: Unable to resolve signature of property decorator when called as an expression.
Supplied parameters do not match any signature of call target.

[2015-06-28 00:57] delebash commented on #3658
@grofit  I am using Phpstorm 9 EAP and gulp-typescript and I do not have any problems with the compiler, no errors, beside 1 where a d.ts file needs updating.  I am using the typings folder in the root of my project from https://github.com/cmichaelgraham/aurelia-typescript/tree/master/master/typings.

Here is my build.js file if that helps.
https://gist.github.com/delebash/d346d139bbb8659e52a1

[2015-06-28 07:29] grofit commented on #3658
Ah I think the reason why yours works is because you have set `noExternalResolve` and are passing in the *.d.ts files, I tried doing this but it threw up errors with the `*.d.ts` files, but I had not set the `noExternalResolve`, let me try that as I think this may be the solution.

[2015-06-28 13:57] aleksey-bykov commented on #833
is this by design too?

[code]

[2015-06-28 15:09] delebash commented on #3658
Good hope that works for you.  As far as commonjs, typescript had a problem awhile ago which is now fixed and I guess I just haven't updated it to systemjs, no particular reason :)

[2015-06-28 15:43] olso commented on #3659
What?

[2015-06-28 16:40] grofit commented on #3658
for anyone else here my issues were down to me using an older version of the aurelia.d.ts file, there is only a temporary 1.5 one which is only available on a specific branch of the above project:

https://github.com/cmichaelgraham/aurelia-typescript

Also one other thing to note, it complains that it requires a module argument, which I am passing as `system` which is apparently supported in TS 1.

[2015-06-28 16:40] #3658 closed

[2015-06-28 16:49] ctrlShiftBryan commented on #189
+ 1

[2015-06-28 19:33] youngroger commented on #1226
@mhegazy Is it possible to add this to the 2.0 release? As npm evolves, I think more people will use `npm scripts` as a build-tool in the future and for that use-case piping is quite essential to reduce overhead.

[2015-06-28 21:13] RyanCavanaugh commented on #833
I will let Fred Brooks know that developer time is completely fungible and that it would be plausible to take the intern off his summer project to redesign how generic type inference works.

[2015-06-28 21:46] paf31 commented on #833
What is this in response to?

[2015-06-28 22:01] mihailik opened #3662 "Advanced DocumentRegistry: what's expected of SourceFile"
I want to speed up the startup of language service. The biggest hit by far is parsing of `lib.d.ts`, which may easily take many seconds on underpowered devices.

Wiki page [Using the Language Service API](https://github.com/Microsoft/TypeScript/wiki/Using-the-Language-Service-API#document-registry) suggests I can implement a custom document service, which would cache `SourceFile`s.

Sounds good: `

[2015-06-28 22:20] RyanCavanaugh commented on #833
Aleksey's comment that we should change this instead of doing `abstract`

[2015-06-28 22:31] bchavez commented on #9
Would be great if we could extend enums with this. Something like

[code]

vs what we have to do now:

[code]

[2015-06-28 22:34] RyanCavanaugh commented on #9
Note that you can add to an `enum` using `module` (or `namespace`):
[code]

[2015-06-28 23:36] aleksey-bykov commented on #833
sarcasm, i has it too

seriously, why do new controversial OOP features take precedence over not
working inference let alone anything that supports coding in functional
style?
On Jun 28, 2015 6:20 PM, "Ryan Cavanaugh" <notifications@github.com> wrote:

[2015-06-28 23:43] Zoltu opened #3663 "Decorators and SystemJS"
[code]

[code]

The problem is with `__metadata('design:paramtypes', [Foo])`, at runtime `Foo` doesn't exist.  I'm guessing `Foo_1` was intended here?

[2015-06-29 01:11] yuit commented on #2439
as per ES6 spec, let can be used as an identifier in non-strict-mode code [11.6.2.1](https://people.mozilla.org/~jorendorff/es6-draft.html#sec-keywords).
[code]

becomes
[code]

due to automatic semicolon insertion.
In strict mode, however, ```let``` is a keyword and thus TypeScript will output
[code]
Note:```const``` is a keyword regardless of ```use strict```

[2015-06-29 01:18] yuit opened #3664 "Let should not be allowed as identifier in let and const declaration"
In ES6 spec in section in [Let and Const Declaration](https://people.mozilla.org/~jorendorff/es6-draft.html#sec-let-and-const-declarations)

currently we allow
[code]
which should be syntax error regardless of strict-mode.
Note: below shouldn't be a syntax error unless it is in strict-mode
[code]

[2015-06-29 01:24] DanielRosenwasser commented on #3664
Duplicate of #3475.

[2015-06-29 01:24] #3664 closed

[2015-06-29 01:54] BobFrGit opened #3665 "Multiline strings in VS 2015 RC"
Bugs in entering multiline strings

I typed:
![image](https://cloud.githubusercontent.com/assets/5490484/8399553/c6606b76-1dde-11e5-9090-b4ec1398b6ac.png)

and when I entered the trailing ; I got

![image](https://cloud.githubusercontent.com/assets/5490484/8399554/d48d6aa0-1dde-11e5-96e1-3262294e0707.png)

There are other errors -- such as pressing ; and losing the last line

![image](https://clou

[2015-06-29 02:09] laco0416 opened #3666 "Error in a case without type annotation."
[Playground](http://www.typescriptlang.org/Playground#src=interface%20PolymerElement%20%7B%0D%0A%20%20properties%3F%3A%20%7B%20%5BpropName%3A%20string%5D%3A%20StringConstructor%7CPolymerElementProperty%20%7D%3B%0D%0A%7D%0D%0A%0D%0Ainterface%20PolymerElementProperty%20%7B%0D%0A%20%20type%3A%20StringConstructor%3B%0D%0A%7D%0D%0A%0D%0A%2F%2F%20Why%20is%20this%20incorrectly%20implements%3F%0D%0Aclass%

[2015-06-29 04:41] RyanCavanaugh commented on #833
It's not a matter of precedence.

Choosing not to do `abstract` will not a) make fixing this any easier or b) free up any resources that are capable of fixing this problem.

[2015-06-29 04:50] RyanCavanaugh opened #3667 "Contextually type class property initializers by `extends`/`implements` types"
When a property has exactly one type from an `extends` or `implements` clause, we should contextually type that property's initializer by the type from the clause. For example:

[code]

Ideally we could take this one step further when widening. The following behavior is also undesirable:
[code]

e.g. #3666

[2015-06-29 04:51] RyanCavanaugh commented on #3666
Necessary background: http://stackoverflow.com/questions/22077023/why-cant-i-indirectly-return-an-object-literal-to-satisfy-an-index-signature-re

The root problem here is that we don't contextually type class property initializers with the type the property "should" have from an `implements` or `extends` clause. Without a contextual type on the object literal, the property is inferred to not have

[2015-06-29 05:10] laco0416 commented on #3666
Thanks, Ryan. I understood the problem's background.
I hope it'll be resolved someday.

[2015-06-29 08:40] vilic opened #3668 "Array destructuring suggests type `any` when it should be more specific."
[code]

[2015-06-29 09:47] tinganho opened #3669 "Goto definition shouldn't go to named import"
It would help me a lot if the current behaviour of goto definition goes to the definition and not the named import:
[code]
[code]

[2015-06-29 09:51] canmrt commented on #2712
How can I import a javascript file which consists of several modules with a single d.ts file by using relative paths?

Example:

[code]

[code]

[2015-06-29 10:41] NoelAbrahams commented on #3667
Is this not the same as #1373?

[2015-06-29 10:43] NoelAbrahams commented on #3669
I've also found this to be annoying.

[2015-06-29 12:07] tinganho opened #3670 "Preprocessor directives proposal"
This proposal is based on `C#` spec for preprocessor directives. https://msdn.microsoft.com/en-us/library/aa691099(v=vs.71).aspx

### Problem

Some JS applications are used in multiple platforms. I.e. Cordova/Phonegap for mobile platforms, isomorphic applications for server-side and client-side rendered applications. And those platforms are hosting different set of API:s. We use import statements

[2015-06-29 12:22] mdzieg opened #3671 "combined output causes error when there is an inheritance (order in file is wrong)"
In solution (Visual Studio 2013) with a couple of separate ts files, when one class extends another one and files are combined together, it may happen that resulting file causes exception in __extends method. Second parameter has undefined value (derived class goes first, parent class is not yet defined).

I think that parent classes should be placed before derived ones.

[2015-06-29 13:10] DanielRosenwasser commented on #3668
Same problem if destructuring from a value with that type:

[code]

[2015-06-29 13:51] delebash commented on #3613
I agree this should not be throwing an error.  Example code
No error thrown because it is ById which is HtmlElement and defined correctly in lib.d.ts
document.getElementById('left-aside-wrapper')[0].classList.toggle('isOpen');

Error thrown Property 'classList' does not exist on type 'Node'.
document.getElementsByClassName('left-aside-wrapper'[0].classList.toggle('isOpen');

I understand this is b

[2015-06-29 13:53] pixelshaded opened #3672 "Not Assignable Types That Should Be"
I'm using angular-resource.d.ts

[code]

[code]
[code]
[code]
[code]

And this code has the line generating the error.
[code]

I feel like filter.options = companies should be valid. ICompany and IGridFilterOption have the same properties. IResource is simply a wrapper around ICompany that adds CRUD ops to it. IResourceArray extends Array by adding promise related properties.

[code]

What needs t

[2015-06-29 14:26] pixelshaded commented on #3672
This is all I could come up with:

[code]

While this works, it feels highly inflexible. Anytime I wrap something with IResource and need to access its generic, I would need to create another interface.

[2015-06-29 15:26] DanielRosenwasser commented on #3661
Decorators are not supported on function declarations. To quote #2249:

* Decorating function expressions and arrow functions are not supported. The same effect can be achived by applying the decorator function as `var x = dec(function () { });`
* Decorating function formal parameters is currently not part of the ES7 proposal.

[2015-06-29 15:26] #3661 closed

[2015-06-29 15:43] DanielRosenwasser commented on #3669
I think it should be the case that if you go to definition on the import once more, you'll land in the exported function in `module.ts`. Is it not?

[2015-06-29 15:49] RyanCavanaugh commented on #3672
Is it the case that something that is `IResource<T>` really does have all the members of `T`?

If so, it seems like intersection types (#3622) should be able to model this.

[2015-06-29 15:52] RyanCavanaugh commented on #3667
#1373 is about methods, this is about properties

[2015-06-29 15:52] nippur72 commented on #2919
Can we replace the verb "mixes" with the word "with" (a la Dart):
[code]

[2015-06-29 15:55] tinganho commented on #3669
yes, in the import clause it will go to the exported function. But could this be a direct jump to the export function? It doesn't help me that much that it jumps to the import clause. I guess people want to figure out what a function does, when they goto definitions and jumping to the import clause doesn't give me so much info except the name, which I already know.

FWIW, namespaced import jumps d

[2015-06-29 16:18] bpasero opened #3673 "[format] wrong indent in this case"
- VSCode 0.3.0
- create a TS file
- put below contents
- Right click -> Format

=> the closing is on the wrong indent

[code]

=>

[code]

[2015-06-29 16:26] DanielRosenwasser commented on #3667
So is this a broader proposal than #1373? In other words, in the following example, is the arrow function in `SortByQueryId` contextually typed?

Additionally, if we declared `getvalue` in `ISortInfo` as a property but defined it as a method in the class, would its parameter's type be inferred?

[code]

[2015-06-29 16:27] #3065 closed

[2015-06-29 16:27] #3230 closed

[2015-06-29 17:03] CyrusNajmabadi commented on #3591
It’s a general convention for how auto-generated files are marked.  If you want to add additional information, it would be preferred if you could do it in a comment provided after this line.

       -- Cyrus

From: Ryan Cavanaugh [mailto:notifications@github.com]
Sent: Sunday, June 21, 2015 7:21 PM
To: Microsoft/TypeScript
Subject: Re: [TypeScript] Generated diagnostics file doesn't explain its so

[2015-06-29 17:10] RyanCavanaugh commented on #3667
I don't think we should distinguish between method-style and property-style declarations in the interface - both are an equally valid "source" in terms of type information, regardless of how the class is implementing it.

In the example, I would expect the arrow function to be contextually typed under *this* proposal, but not #1373.

[2015-06-29 17:32] DanielRosenwasser commented on #2212
@JsonFreeman it looks like things are currently being generated correctly. Let's figure out whether this is still an issue when you return.

![image](https://cloud.githubusercontent.com/assets/972891/8414037/1013278e-1e63-11e5-95c1-5825cf21e642.png)

[2015-06-29 17:35] JsonFreeman commented on #2212
The final _a still looks unmapped in the picture you gave.

[2015-06-29 17:38] DanielRosenwasser commented on #3660
Thanks @drudru, I've filed https://github.com/Microsoft/TypeScript-Handbook/issues/52, not sure if that's exactly what you had in mind.

[2015-06-29 17:39] DanielRosenwasser commented on #2212
Ah I see what you'e saying. Let me get on that.

[2015-06-29 17:42] JsonFreeman commented on #1003
@yortus The reason it is valuable to denote a nullable singleton type is the example @nycdotnet gave: https://github.com/Microsoft/TypeScript/issues/1003#issuecomment-112094477. Like you said, in order to get around this, you have to have a sentinel value ("zero" in the example you gave), which seems kind of unnatural.

Your point about undefined being a non-nullable singleton type: That is true,

[2015-06-29 17:44] JsonFreeman commented on #1003
@jbondc Your suggestion to fold in constant propagation seems to mix too many features together, and it seems to have much wider scope than the feature calls for.

[2015-06-29 18:04] RyanCavanaugh opened #3674 "Incorrect emit when using external module import in JSX tag"
From @prabirshrestha (thanks!) at https://github.com/Microsoft/TypeScript/pull/3564#issuecomment-115919094

-----

Tried building tsc locally and running this.

[code]

app.tsx:

[code]

button.tsx

[code]

The output `app.js` does not seem to set the `button` as a dependency.

[code]

This makes `button_1` undefined. Even with `-m amd` it doesn't seem to work. Am I missing something here or is th

[2015-06-29 18:17] mhegazy commented on #3660
Classes are compiled to functions. if you are in a engine that supports [function.name](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/name) iinstance.constructor.name should work. if you are on an older browser, you can use a pollyfill for function.name, e.g. corejs, (implementation here: https://github.com/zloirock/core-js/blob/master/modules/es6.functi

[2015-06-29 18:18] #3660 closed

[2015-06-29 18:29] mhegazy commented on #3669
The rational that gotoDef takes you to where the construct you are using is defined. and in this case it is the import declaration. It is a declaration, it has its own scope, and it can introduce new named binding, in that sense it is the same like an object literal property for instance. i also find it a bit disorienting when imports introduce renames e.g.:

[code]
[code]
changing it should not b

[2015-06-29 18:43] danquirk commented on #3656
#2854 is the larger item for flow control

[2015-06-29 18:43] mhegazy commented on #2712
@canmrt add a /// <reference to your bundle.d.ts and then import your modules by name. e.g.:
[code]

[2015-06-29 19:30] danquirk commented on #3665
The issue here is with the auto formatting kicking in incorrectly? I don't fully understand the last example. You typed ; and a line was deleted?

[2015-06-29 19:39] mhegazy commented on #3657
The problem is the 'extend` method is defined to return `any`. that means that the compiler does not know anything about the shape of the output. Disclaimer, I do not know much about Ember to be able to help much; looking at other ember extend declarations, e.g.:  https://github.com/borisyankov/DefinitelyTyped/blob/master/ember/ember.d.ts#L1001 you would want to define extend function as a generic

[2015-06-29 19:42] #2439 closed

[2015-06-29 19:42] danquirk commented on #833
@aleksey-bykov In addition to what's been covered, don't think we haven't spent _a lot_ of time talking about generic type inference over the years. It's not like where inference is now is as far as we thought about it and we just punted on thinking about going any deeper. We'll continually re-evaluate what is and isn't feasible in that part of the system over time, but as Ryan notes, it's not as

[2015-06-29 19:45] mhegazy commented on #1226
@youngroger i would be new typescript-cli tool that does that, or possibly adding a commandline flag to support this if there is enough user demand.

[2015-06-29 19:48] mhegazy commented on #3662
So just to be clear do you want to serialize a `SourceFile` instance and re-hydrate it later on? or do you want to persist a single instance of 'lib.d.ts' source file instance in memory across different compilations?

[2015-06-29 19:52] mhegazy commented on #3671
The compiler does not reorder emitted code. the files are emitted in order supplied on the commandline and through resolving /// references. you can either move the derived class definition to be after the base, or add a `/// <reference>` tag to the file with the derived class pointing to the file with the base class to ensure correct emit order.

See #21 for more details about this issue.

[2015-06-29 19:54] #3666 closed

[2015-06-29 19:56] mhegazy commented on #3670
duplicate of #449?

[2015-06-29 20:06] RichiCoder1 commented on #3670
Arguably a very specific sub-topic.

[2015-06-29 20:26] aleksey-bykov commented on #833
Good to know. Thank you
On Jun 29, 2015 3:43 PM, "Dan Quirk" <notifications@github.com> wrote:

[2015-06-29 20:28] mhegazy commented on #3665
@BobFrGit i can not get a repro for this locally following the visible part of your snippet. can you share larger code snippet.

[2015-06-29 20:31] mhegazy commented on #3203
@QuantumInformation the PR has landed in master today: https://github.com/Microsoft/TypeScript/pull/3564 you can give it a try.

[2015-06-29 20:38] thorn0 commented on #296
As #3564 is merged into master, this issue can be closed.

[2015-06-29 20:38] #296 closed

[2015-06-29 21:05] BobFrGit commented on #3665
Here is the entire contents of the file (is there a way to upload it) in a separate TS

export class wMsgLog {
    constructor(msg: string) {
        this.msg = msg;
        this.dn = utils.DeviceName;
        var bx = `appName: ${navigator.appName}
platform: ${navigator.platform}
useAgent: ${navigator.userAgent}`;

        var bi = `appName: ${navigator.appName}
            navigator.appVersion}

[2015-06-29 21:05] BobFrGit commented on #3665
DId I close this -- didn't mean to -- was

[2015-06-29 21:11] danquirk commented on #3665
You're good now, it's open/active. https://gist.github.com/ is usually an easy way to share larger chunks of code if you don't want to actually put the file itself on DropBox, OneDrive, etc.

[2015-06-29 21:26] BobFrGit commented on #3665
Thanks. I can do the others but I presume gist is more forever (Yeah, I know more forever is like more unique -- doesn't make sense but it does make sense).

[2015-06-29 21:31] mihailik commented on #3662
The former: serialize SourceFile for lib.d.ts and re-hydrate it for faster startup in subsequent sessions (assuming re-hydration is signifcantly faster than parsing).

[2015-06-29 21:43] danquirk commented on #3665
You can delete a gist when you want to:
![image](https://cloud.githubusercontent.com/assets/7121557/8419230/24ec8b00-1e6d-11e5-913b-497125e3798a.png)
but I get what you're saying. Any of the usual file sharing services is a fine option too.

[2015-06-29 21:45] RandScullard commented on #563
My use case for partial classes is for code generation -- my team needs to be able to auto-generate part of the class in one file and add custom methods and properties by hand in another file. I'm a bit confused why @RyanCavanaugh is "not sure those kind of situations apply in JavaScript/TypeScript", since this use case is unrelated to the language of choice.

Neither decorators nor extension meth

[2015-06-29 21:56] mhegazy commented on #3662
then that is an uncharted territory:) the interface you want to look at is the one types.ts, this is the actual object that the compiler creates. the LS code augments that with some additional helpers by setting the prototype at: https://github.com/Microsoft/TypeScript/blob/master/src/services/services.ts#L7348

I think it should just work if you do not set the parent pointers when you parse the f

[2015-06-29 22:04] mhegazy commented on #3665
thanks @BobFrGit, This looks like it should be fixed in the next release.

[2015-06-29 22:10] #3665 closed

[2015-06-29 22:30] mihailik commented on #3662
Not entirely clear still, but hopefully it gets easier as I go along :-)

Thanks, if I get any results will report back.

[2015-06-29 22:33] #2715 closed

[2015-06-29 22:34] RyanCavanaugh commented on #3203
Merged!

[2015-06-29 22:34] #3203 closed

[2015-06-29 22:42] impinball commented on #2919
I agree that the `with` seems a little clearer and more descriptive of the intent. Also, it's a little easier to reserve, since `with` isn't a valid identifier already (and won't need new highlighting for a lot of IDEs).

[2015-06-29 22:44] impinball commented on #3536
I'm going to close this for now, since I'm looking at the fact it's not as nice as the original proposal on the other thread.

[2015-06-29 22:44] #3536 closed

[2015-06-29 23:11] mhegazy commented on #2715
for future references, the flag name is `--isolatedModules`

[2015-06-29 23:17] mhegazy commented on #3662
there are two interfaces for SoruceFile. 1. in types.ts: https://github.com/Microsoft/TypeScript/blob/master/src/compiler/types.ts#L1214
and 2. in services.ts: https://github.com/Microsoft/TypeScript/blob/master/src/services/services.ts#L61

The one in types.ts is the truth. it is all data properties, no methods. this is what you get back when you call ts.createSoruceFile, the methods defined in t

[2015-06-29 23:24] JsonFreeman opened #3676 "Indentation is too aggressive for ternary operator"
Actual:

[code]

Expected:

[code]

I believe the fix is that if the false branch of the ternary operator should have the same indentation as the true branch. In the case where the true branch is on the same line as the condition, it should not be considered indented, and therefore the false branch should not be indented.

[2015-06-29 23:28] aozgaa commented on #3676
I was thinking of lispy indentation (with if-else blocks) earlier, but I don't think that's a very useful point of reference.

How does this compare to the indentation of the ternary operator in other languages, such as vanilla JavaScript, `C/C++`, `C#`, etc. ?

[2015-06-30 00:18] tinganho commented on #3670
@mhegazy that one needed a proposal so I came with one proposal.

[2015-06-30 00:24] alanouri commented on #3203
@RyanCavanaugh can you summarize how this landed and how we can use it?  Or is your original post still accurate and we should just read that?

[2015-06-30 00:28] #3640 closed

[2015-06-30 00:37] RyanCavanaugh commented on #3203
I'm working on docs now. The original post is not 100% accurate, but is reasonably close. I'll post here when we have something more authoritative.

[2015-06-30 01:08] danquirk opened #3678 "Parse error with identifier name in JSX"
[code]
No error
[code]
Error:
[code]

[2015-06-30 01:43] basarat commented on #3678
might be good to have a `jsx` tag

[2015-06-30 02:17] basarat commented on #3203
FWIW I just pushed a release of `atom-typescript` that allows you to use `.tsx` files

Version `v4.8.0` :rose:

Thanks for the great work guys :heart:

[2015-06-30 02:45] impinball commented on #229
FWIW, this is required for a lot of .d.ts files on DefinitelyTyped. Here's an incomplete list of modules that require this:

- `jquery`
- `underscore`
- `lodash`
- `lazy.js`

Also, many of the native ECMAScript APIs use bound `this` arguments, such as many of the `Array.prototype` methods and some of the String methods. `JSON.{stringify,parse}` call their callback with either an object or array.

[2015-06-30 04:15] RyanCavanaugh commented on #3203
@basarat making us look like a bunch of :turtle:s!

[2015-06-30 04:26] DanielRosenwasser commented on #3676
I think that's the right question to ask here. Let's try to stay close to other languages service teams. If it turns out there are shortcomings, then they should know too.

[2015-06-30 04:41] yuit commented on #2598
This PR#3517 covered parsing module declaration in strict mode

[2015-06-30 04:41] #2598 closed

[2015-06-30 04:42] yuit commented on #1135
PR#3517 covered parsing module declaration in strict mode

[2015-06-30 04:42] #1135 closed

[2015-06-30 04:43] #1940 closed

[2015-06-30 05:15] saneyuki opened #3679 "Cannot compile jsx if we provide `noImplicitAny` option"
we cannot compile jsx if we provide `noImplicitAny` option.

## Reproducible revision

https://github.com/Microsoft/TypeScript/commit/fe4612273ccc2017cfec598521eec5ce30bbd4dc

## Testcase

### command

[code]

### test case: test.tsx

[code]

## Actual Result

[code]

## Expected Result

Success the compilation  if we provide `noImplicitAny` option.

## Remarks

Of course, this will be success if

[2015-06-30 05:27] wang-prtimes opened #3680 "Use `import` in class or module"
I want to know why `import` statement isn't allowed when in a class or module.
Is there a way to import module as local variable in class or module !?

[code]

[2015-06-30 05:49] RyanCavanaugh commented on #3679
As the errors say:

and

If you want to compile JSX files, you can define those types:
[code]

I recommend getting the `react-jsx.d.ts` file from DefinitelyTyped

[2015-06-30 06:37] saneyuki commented on #3679
aha. Thank you!

[2015-06-30 06:37] #3679 closed

[2015-06-30 07:20] basarat commented on #3203
I just think of myself as a cheerleader \*\o/\* . You guys are the :moyai: :star:s

[2015-06-30 08:08] mhegazy commented on #3680
This is the ES6/ES2015 specification for what a module import/export can be. There is no support for conditional/deferred module loading. TC39 (the JS committee)'s rational was to make modules statically analyzable.

Now if you are not using/planning on using ES6 modules, i.e. you are sticking with commonJS/AMD for a while, you can do this as a normal function call to `require`. e.g.:

[code]
see

[2015-06-30 08:25] mdzieg commented on #3671
Thank you @mhegazy. This seems to be exactly what I need.

[2015-06-30 08:31] mhegazy commented on #3671
glad it helped.

[2015-06-30 08:31] #3671 closed

[2015-06-30 08:38] dbaeumer opened #3681 "tsserver: format correction code in session.ts doesn't respect tab versus space setting"
The line in question is:

var spaces = generateSpaces(indentPosition);

it always generates spaces even if the user wants tabs as indentation.

[2015-06-30 08:41] wang-prtimes commented on #3680
Thanks mhegazy!

Seems like I have use the good old 'require()' now :(

[2015-06-30 09:19] canmrt commented on #2712
@mhegazy this works nice, thanks a lot!

[2015-06-30 09:41] wang-prtimes opened #3683 "Compile error when using `external export` and `reference path` in conjunction"
I'm encountering a compiler error when using `external export` and  `reference path` in conjunction.
I have some .ts files placed like below.

[code]

`User.ts`
[code]

`UserAction.ts`
[code]

The compiler says `TS2304 Cannot find name 'User'.`
With using `import User from '../User'` instead, problem solved. But I just want to use the `type` of `User`, not  `User` it self (won't perform something

[2015-06-30 13:56] AGiorgetti opened #3684 "Error: TS2300 Duplicate Identifier when having multiple web projects on the same solution referencing .d.ts files"
Hi, I'm porting a "huge" solution which consists of more than one web application project on the same Visual Studio solution. The scenario is like this:
- a Visual Studio Solution consisting of multiple App Library projects and multiple websites, all using a mix of jquery/signalr/angularjs and so on client side libraries.
- the plain javascript portion of each website projects is going to be porte

[2015-06-30 14:31] antoinerousseau commented on #8
Why has this issue been closed?

[2015-06-30 14:53] jasonwilliams200OK commented on #8
@antoinerousseau, this issue is not closed :question::grey_exclamation:

[2015-06-30 14:57] antoinerousseau commented on #8
oops yes sorry I got confused with the `Closed` label next to the #3503 reference just above

[2015-06-30 15:18] MariaTimova opened #3685 "New Website Logo: Ignite (Infragistics)"
Please fill the following out:

- Name: Ignite UI
- Homepage url: http://www.igniteui.com/
- Brand Guidelines/Licensing: I am Josh Anderson the Director of Marketing at Infragistics.  You have permission to use our logo
- Logo:
![vector_logo_final_ignite_ui](https://cloud.githubusercontent.com/assets/11754033/8425870/102246aa-1f13-11e5-8adf-4702d2e1dc26.png)
(svg if possible, pngs over 500x200px w

[2015-06-30 16:16] SaschaNaz commented on #1925
Fixed by #3001?

[2015-06-30 16:41] JsonFreeman commented on #3676
I just tried an experiment. Javascript and C# don't modify the indentation at all. They leave it as the user wrote (in VS at least). I could see this as a solution as well, at least that way we could format things how we want. But my favorite solution is still to be prescriptive, and indent the false branch the same as the true branch.

We could also add an option that toggles formatting for terna

[2015-06-30 17:10] aholmes opened #3686 "Requesting support for variadics with varargs in arbitrary but contiguous positions in .d.ts files"
Some libraries with variadic methods that use varargs don't always place the parameters at the end of the parameter list. One such example is lodash's `assign` method whose signature and API documentation is as follows.

`_.assign(object, [sources], [customizer], [thisArg])`

  1. object (Object): The destination object.
  2. [sources] (…Object): The source objects.
  3. [customizer] (Function): T

[2015-06-30 17:58] dalcib commented on #3655
1+

[2015-06-30 18:19] vladima commented on #1925
seems so, doesn't repro on the latest bits. Thanks for noticing this!

[2015-06-30 18:19] #1925 closed

[2015-06-30 18:25] danquirk commented on #3683
This is by design. A top level `export` like this changes the scope of the things in your file vs what it sees from other files (ie it requires an import to bring things into its scope). See https://github.com/Microsoft/TypeScript/wiki/Modules.

We have an issue somewhere for 'type only' imports but I cannot find it at the moment. Our old import syntax (import x = require()) would elide the import

[2015-06-30 18:25] #3683 closed

[2015-06-30 18:31] danquirk commented on #3686
We have had previous requests for this (not requiring optional/rest params to be last) but I cannot find them via search at the moment...

[2015-06-30 18:35] DanielRosenwasser commented on #3686
#1024 seems vaguely related. Maybe that's what you're looking for @danquirk

[2015-06-30 18:52] danquirk commented on #3686
No I think it was a specific request for optional parameters in the middle of the param list due to some particular JavaScript APIs doing this.

[2015-06-30 19:55] NoelAbrahams commented on #3684
@AGiorgetti,

I believe it's possible to have a single solution with multiple projects, each a separate website.

Are there cross references amongst the projects? I mean using `/// <reference>` comments.

If there are library projects that are being shared in this way, then it is necessary to ensure duplicate definitions are not imported. It might be necessary, for example, to create a single proj

[2015-06-30 20:16] aholmes commented on #3686
Is it #1360?

[2015-06-30 20:19] danquirk commented on #3686
That looks like it, thanks. Will close this as a dupe unless there's something unique to your request that isn't captured there.

[2015-06-30 20:19] #3686 closed

[2015-06-30 20:23] aholmes commented on #1360
As mentioned in #3686, to add to the list of libraries doing this, lodash uses this pattern in extend/assign.

[2015-06-30 21:35] mihailik commented on #3662
Thanks a lot :+1:

[2015-06-30 21:38] #3674 closed

[2015-06-30 22:06] leeavital opened #3688 "Inconsistency in getDocumentHighlights for import aliases"
For the file:

[code]

getDocumentHighlights will not find that the fs on line 1 is the same as the one on line 2.

But for the file:
[code]

----------------

I wrote a small program to demonstrate the problem.

[code]

When `test.ts` contains the first example, it outputs 1. When `test.ts` contains the second example, it outputs 2.

[2015-07-01 01:47] mrbedo commented on #3663
I have the same issue!

[2015-07-01 06:33] DanielRosenwasser commented on #3688
I assume this also means find-references and rename is also not working in this scenario.

[2015-07-01 07:46] AGiorgetti commented on #3684
Hi @NoelAbrahams,
Yes it is possible to have a single solution with multiple projects and most of the times it works.
as for your question: No the projects do not share any cross reference (no /// <reference> to f.ts files that belongs to other projects).

I do not have problems on the .ts files I wrote myself, most of the problems come from the .d.ts files I download through NuGet, a situation si

[2015-07-01 09:09] NoelAbrahams commented on #3684
I meant "one can have a single solution with multiple projects without having the duplicate identifier problem".

What particular error are you having? I mean what is being reported as a duplicate?

If we look at this from first principles, each project should have an isolated context, and identifiers do not leak across projects, unless there are explicit references via `<reference>`. It does soun

[2015-07-01 09:17] dbaeumer commented on #2830
@mhegazy Vladimir is working on improving this.

[2015-07-01 12:01] PLEEROCK opened #3691 "Ignore missing vendor definitions"
Typescript is amazing. But when it comes to work with vendor libraries written in pure javascript it sucks. It sucks because afaik you have only one option: create a definition file for these vendors. And this is a bad option. Typescript says that "creating defintion files is easy". Yes it is, but it is only on surface. Why it is not easy:

* you need to cover all api of the vendor library, otherw

[2015-07-01 12:36] tinganho commented on #3691
This is a community problem and not a technical problem. I think a better way to tackle this problem is to encourage people to submit declarations not to TSD, but to repo owners directly. I have also seen many repos being outdated and not even being present at TSD. TSD is not a good option in my mind. So current strategy of encouraging people to use TSD is not an effective strategy.

Also submitti

[2015-07-01 12:56] AGiorgetti commented on #3684
I'm getting the errors on the various 'jquery.d.ts', 'angular.d.ts', and so on...
all the type definition files I that belongs to the definitelytyped packages.

[2015-07-01 13:45] tinganho opened #3692 "Access undefined guard checking"
Given this code:
[code]
I want it to error on the line:
[code]
because I didn't add a check:
[code]

I think access undefined errors are one of the most common bugs.

[2015-07-01 14:19] wgebczyk commented on #3691
You can write "vendor definition" this way:
[code]

[2015-07-01 16:48] jameslong opened #3693 "Allow function types to omit param names"
It would be nice to be able to omit function type parameter names. e.g.

[code]
This could make code more concise and readable in some cases where the param name is not important.

[2015-07-01 16:53] DanielRosenwasser commented on #3692
I believe this would need control/data flow analysis which @vladima has worked on a bit.

[2015-07-01 17:24] mhegazy commented on #3692
is not that the same as #185?

[2015-07-01 17:34] RyanCavanaugh commented on #3693
See #3081 for discussion of parameters lacking type annotations.

It is waaaaaaaaaaaaaay too late to change this now.

[2015-07-01 17:34] #3693 closed

[2015-07-01 17:38] mhegazy commented on #3684
Can you share the commandline args for tsc.exe, you should find it in your msbuild log, just search `tsc.exe`?

[2015-07-01 17:45] Eisenspalter commented on #3645
Multiple tsconfig files are indispensable for large enterprise apps.
Suggestion: Everytime tsc find a new tsconfig file in a subdirectory, tsc stopps here  and create a new tsc process with its own tsconfig file.

[2015-07-01 17:56] #3680 closed

[2015-07-01 18:29] jonathandturner opened #3694 "Supporting 'this' type"
# Background

We've had a few requests to support this typing (like #229).  This proposal addresses the use cases for a function 'this' type, a class 'this' type, and a corresponding feature for interfaces.

# Motivating Examples

## Extension (lightweight mixin)
[code]

## Safe instantiation
[code]

## Safe method invocation
[code]

## Well-typed fluent APIs (also useful for cloning)
[code]
# Des

[2015-07-01 18:36] RyanCavanaugh opened #3695 "No attribute completion between JSX expression and closing tag"
Thanks @billti

Repro:
[code]

Expected: Should get more attribute names
Actual: Global identifier list

[2015-07-01 18:45] DanielRosenwasser commented on #3694
Should methods now all implicitly gain a `this` type variable? This would prevent users from shooting themselves in the foot. For example:

[code]

[2015-07-01 18:54] mhegazy commented on #3645
@Eisenspalter this sounds like a build driver job something like grunt, gulp or msbuild.

[2015-07-01 18:54] #3645 closed

[2015-07-01 18:55] jonathandturner commented on #3694
@DanielRosenwasser possibly?  Though I suspect that won't give you what you need.  If the 'this' type shows up in the type of c.method, if you pass it to a callback that forgets the 'this' piece of the type, you won't catch the error.

[2015-07-01 19:01] mhegazy commented on #3655
The problem is choosing the name. should this file be called "Bar" or "mymodules\bar" or something else.. the correct path is to use https://github.com/systemjs/builder to build your bundles. we are working on adding TypeScript support in the next release.

[2015-07-01 19:27] #693 closed

[2015-07-01 19:28] mhegazy commented on #693
This has been sitting there for a while. We ran into issues with build tools e.g. msbuild fixing this, and there is not an easy way to remove them without breaking other things.

[2015-07-01 19:31] #2581 closed

[2015-07-01 19:32] mhegazy commented on #2581
this is working as expected now.

[2015-07-01 19:34] mhegazy opened #3696 "Error when extending null"
[code]
generates error:

in this case, a call to `super` is guaranteed to fail.

[2015-07-01 19:36] mhegazy commented on #2830
@vladima has a fix for this in #3616

[2015-07-01 19:40] jiaweihli commented on #185
For anyone following this issue: I'm maintaining a library called [monapt](https://github.com/jiaweihli/monapt) that lets you declare the nullability of a variable.  It includes Typescript definitions, so everything is compile-time checked.

Feedback welcome!

[2015-07-01 19:40] mhegazy commented on #2879
I do not see this in the latest drops.

[2015-07-01 19:40] #2879 closed

[2015-07-01 19:44] DanielRosenwasser commented on #2674
This is a duplicate of #2675 and will be fixed by #3636.

[2015-07-01 19:44] #2674 closed

[2015-07-01 19:47] lazutkin commented on #3645
@mhegazy I agree with @Eisenspalter because we both talk not about building process but about development process including sources writing, testing and other activities we need to complete before  build. On all this intermediate steps we need to have support from `typescript` including intellisense, typechecking etc. Moreover as I said before, for different parts of project we would like to apply

[2015-07-01 19:48] DanielRosenwasser commented on #3303
Looks like it's fixed by #3615 but I'll add a test case.

[2015-07-01 19:49] #3303 closed

[2015-07-01 19:55] #1888 closed

[2015-07-01 20:03] Back-io commented on #16
Very important feature.

Possibly an off-the-wall idea but the codegen for this feature could be done very easily without side effects if everyone decided that it would be OK to handle the feature with keyed property access:
[code]
Could compile to
[code]
A `__chain` function would have to be emitted similar to `__extends`. The `__chain` function could just iterate through the `arguments` array, r

[2015-07-01 20:15] Eisenspalter commented on #3645
@mhegazy Why closed? Please reopen.

[2015-07-01 20:28] kevinb7 commented on #16
If ```aaa?.bbb?.ccc?``` returns the value of ```a.b.c``` if all props exist and it happens to be a function, then couldn't
[code]
compile to
[code]
?

[2015-07-01 20:35] Back-io commented on #16
@metaweta: Your solution is only checking for void 0 ... doesn't that kind of defeat the purpose of the feature?

What about this:

[code]
Generates:
[code]

I'm pretty sure this handles all the cases.

(Minor downside here of unexpected local variables being emitted ... could be wrapped in an IIFE maybe)

[2015-07-01 20:38] Back-io commented on #16
@kevinb7: What happens if `ccc` isn't a function? With the code you've described, `__chain` would always have to return a valid function, or a TypeError would be emitted.

[2015-07-01 20:45] mhegazy commented on #2744
This looks specific to dev mode. resolving this as won't fix.

[2015-07-01 20:45] #2744 closed

[2015-07-01 20:50] mhegazy commented on #2206
We have completely rewrote this part as we moved to VS2015 to fix this issue. Porting the change to VS2013 would be expensive at this point. so resolving this as won't fix.

[2015-07-01 20:50] #2206 closed

[2015-07-01 20:52] mhegazy commented on #2070
This issue should be solved in VS 2015. we have rewrote the infrastructure for compile-on-save. i do not think we can port these changes back to VS2013 at this point. so closing it as won't fix.

[2015-07-01 20:52] #2070 closed

[2015-07-01 20:54] mhegazy commented on #1768
@nycdotnet this should be fixed in VS 2015. We have rewrote most of the compile-on-save implementation for this release to handle this class of issues. Porting the fix back to VS2013 would not be farly expensive. Closing this as won't fix; please reopen if you see issues on VS2015.

[2015-07-01 20:54] #1768 closed

[2015-07-01 20:58] metaweta commented on #16
@Back-io Replace === with == to include null.  Your solution fails for looking up properties of falsey values like empty string and zero.

[2015-07-01 21:16] mhegazy commented on #3645
you can have multiple tsconfig today, each pointing to overlapping set of files. so one at src\tsconfig.json, one in tests\tsconfig.json, etc.. the compiler/tools will locate the file by walking up the directory tree to find the closest one. so you can have a third file at the root to catch all.

This all works today, in the compiler and the different IDEs. the original issue was about allowing a

[2015-07-01 21:16] Back-io commented on #16
@metaweta: No it doesn't: http://jsfiddle.net/25LppbL6/

[2015-07-01 21:19] prabhjots commented on #3694
'this' is a good idea. Also it could be applied to the 'call', 'bind' and 'apply' scenarios.

For Example:
[code]

[2015-07-01 21:20] Back-io commented on #16
Also, I would imagine the TS team isn't crazy about using loose equality due to the fact that some people's linters warn against it.

[2015-07-01 21:25] metaweta commented on #16
@Back-io Yes it does: http://jsfiddle.net/25LppbL6/2/

[2015-07-01 21:38] metaweta commented on #16
@Back-io Regarding null, I'm not sure what the intended semantics of a.?b is.  If it's "If the property b is defined then use it", then my code is almost correct.  The only way you'd get null is if it's assigned to be null, because lookups of nonexistent properties return undefined.  It does fail to catch the case where the property exists but is set to undefined.  To be completely correct, it wou

[2015-07-01 21:39] Back-io commented on #16
Umm ... unless I'm missing something ... the changes you made to the fiddle just further prove me right ... `var result` is still `undefined` in all 3 cases. And I'm not sure what case you're trying to bring forward by extending the primitive prototypes ...

[2015-07-01 21:42] Back-io commented on #16
I'm fairly certain that the behavior of the feature would be to short circuit with `void 0` instead of generating an error. (I like your idea above that it should always return void 0 in the case of a missing member).

[2015-07-01 21:43] metaweta commented on #16
What is the intended output of `''.?toString`?

[2015-07-01 21:47] kevinb7 commented on #16
Good point.

[2015-07-01 21:49] nycdotnet commented on #1768
Did you mean would be fairly expensive or would not be?  As of now, do you intend to backport into VS 2013 update 5?  If I update my TypeScript course, I can include that info.

Thanks all - I look forward to trying it in VS 2015 when it RTMs in a few weeks.  :-)

-Steve O

[2015-07-01 22:14] mhegazy commented on #1768
Back porting the fixes to VS2013 would be expensive; we had to do some architectural changes to make sure this class of issues are addressed. So no change coming in Update5 for this issue in VS2013.

[2015-07-01 22:25] Back-io commented on #16
@metaweta: I would imagine most people would expect a reference to the `toString` function, so I see where your point, It does break down somewhat in the case where you're accessing the prototype members of 0, false, or ''.

[2015-07-01 23:14] DanielRosenwasser opened #3700 "Completion of object literal/binding patterns suggests identifiers at beginning of existing identifier"
[code]

Both `property1` and `property2` are suggested at that position even though it currently exists in the object literal. To make this worse, if you commit with `property1, you end up with the following:

[code]

[2015-07-01 23:16] #3578 closed

[2015-07-01 23:17] #6 closed

[2015-07-01 23:17] #2947 closed

[2015-07-01 23:28] aozgaa opened #3702 "Abstract Constructor Assignability not restricted"
The following error isn't triggered:

[code]

In order to fix this, we'll mark the construct signature of the class as abstract and then examine this flag during assignability comparison. Note that when we do assignability comparison in the declaration, we do not examine the construct signature (as we don't require that the extended class' constructors be assignable to the base class).

[2015-07-01 23:43] Gaelan commented on #3578
@aozgaa Why the close?

[2015-07-01 23:45] RyanCavanaugh commented on #3578
`abstract` implemented in PR #3579 and merged into `master`

[2015-07-01 23:45] bryanerayner commented on #3578
Beautiful

[2015-07-01 23:46] RyanCavanaugh commented on #6
Merged into `master` and will be available in our 1.6 release. Thanks @aozgaa !

[2015-07-01 23:53] aleksey-bykov commented on #3578
Another language got contaminated. Mainstream developers got a mainstream
reason to be happy. Black day of sadness.
On Jul 1, 2015 7:45 PM, "Bryan Rayner" <notifications@github.com> wrote:

[2015-07-01 23:55] Gaelan commented on #3578
@aleksey-bykov Many developers think this is a useful feature. You can create a fork without abstract support, stay on an old version, or just don't use abstract support. Nobody is making you use it.

[2015-07-02 00:04] nycdotnet commented on #1768
Thanks so much.  I can't wait for 1.5 official, not to mention VS 2015 RTM.

[2015-07-02 00:07] aleksey-bykov commented on #3578
Just another thing to throw to garbage at linting and the rule for it is
darn simple. Nevermind
On Jul 1, 2015 7:55 PM, "Gaelan" <notifications@github.com> wrote:

[2015-07-02 00:09] mhegazy commented on #2137
This functionality expects bind to have happened. probably the right fix is to call bind all the time from this function.

[2015-07-02 00:17] mhegazy commented on #3436
@SaschaNaz wanna take a look at this one?

[2015-07-02 00:19] mhegazy commented on #3487
@Mustafa-Sadikot and @DustinEwan are you still running into this issue?

[2015-07-02 00:21] aleksey-bykov commented on #3578
Algebraic data types and pattern matching is not even in the road map.
Shame shame shame. Upsetting
On Jul 1, 2015 8:07 PM, "Aleksey Bykov" <aleksey.bykov@gmail.com> wrote:

[2015-07-02 00:21] mhegazy commented on #3623
This is a hard one to get right just because of the grammar.

[2015-07-02 00:21] #3623 closed

[2015-07-02 00:23] aleksey-bykov commented on #3578
Looks like C# is going to get them sooner than we here. Thats just plain
embarrassing
On Jul 1, 2015 8:21 PM, "Aleksey Bykov" <aleksey.bykov@gmail.com> wrote:

[2015-07-02 01:10] JsonFreeman opened #3703 "Modifiers are not allowed on class members inside a function"
There is an error on the use modifiers in a local class definition.
[code]

Ditto for class expressions.

[2015-07-02 01:59] tinganho commented on #3692
@mhegazy that is suggesting a modifier, though very related to this suggestion. Since null is assignable to every type. If that got landed maybe add checking for null too then.

[2015-07-02 02:12] MaikelChan opened #3704 "Redundant lines of code generated from constructors?"
Hello everyone.

I'm learning TypeScript and I noticed some weird behaviour. I don't know if it's intentional or not and I didn't find answers because I don't know exactly how to describe the issue since English is not my main language. But let me show you an example:

I have this class:

[code]
And it generates this javascript code, which is fine:

[code]

However, from what I understand, there i

[2015-07-02 02:59] bryanerayner commented on #3578
@aleksey-bykov, I'd actually love to have mixins as a feature, but can't comprehend doing it without structured type support. Our codebase is far too big and our developers too few to do much meaningful development without the benefits typing brings.

Have you started submitting a proposal for mixins with typescript? If you haven't, are there good references to prior work where someone might begin

[2015-07-02 03:00] HerringtonDarkholme commented on #1265
There are quite a lot hidden features in flow, not documented in flow's site. Including SuperType bound and existential type

http://sitr.us/2015/05/31/advanced-features-in-flow.html

[2015-07-02 03:06] mhegazy commented on #3704
When annotating a constructor paramter with `public`, `private` or `protected`, the compiler emits code to intialize the properties for you. this helps with common pattern with instance properties initialized to constructor arguments.

So
[code]
is equivalent to:
[code]
in your example you are intializing the values to `0` if they are empty, so to do that you can:

[code]
or as:
[code]

[2015-07-02 03:29] SaschaNaz commented on #3436
@mhegazy Sure, interested. I will take a look.

[2015-07-02 03:35] daniel-shin1104 opened #3705 "Export type alias?"
Foremost, thanks for all the work you guys have put into this amazing language.

Is there a support for `export`ing `type` alias?

For example,

types.ts
[code]

api.ts
[code]

I have failed to compile so far and wonder if this isn't implemented.

Thanks in advance.

[2015-07-02 04:59] DanielRosenwasser commented on #3623
Right - this shouldn't be a bug. I forgot that an initializer is valid on a nested binding pattern.

[2015-07-02 05:20] jasonwilliams200OK commented on #6
In case you are wondering, it all happened with #3579 (with no back reference to this *original* issue :cry:)

[2015-07-02 06:12] CKGrafico commented on #3578
@Gaelan You're totally right!

[2015-07-02 06:27] ddotlic commented on #6
Yeah, thanks @aozgaa! Lately, I've been adding many, many `throw new Error('this should not have been called, it's abstract')` across my codebase with the intention of replacing it all with proper `abstract` support.

Beta/Alpha 1.6 cannot come soon enough :wink:

[2015-07-02 06:52] #3695 closed

[2015-07-02 06:55] #3216 closed

[2015-07-02 07:37] vilic opened #3706 "Queue files that trigger failed compiling on save, and emit files related to them together with the last successful compiling. (Visual Studio)"
This may help the compiled results be better synced with desired output.

BTW, can we expect compile on save feature in Visual Studio Code?

[2015-07-02 07:56] dharmendrachouhan opened #3707 "Type of variable x is number but still able to assign a return type of String type"
var x:number = 10;

function add(x, y) {
	return x + y;
}
x =  add('1', 2); // since type of x is number, this line should have given compilation error

[2015-07-02 08:02] AGiorgetti commented on #3684
Hi, here's what I can read from the msbuild log file

PreComputeCompileTypeScript:
C:\Program Files (x86)\Microsoft SDKs\TypeScript\1.5\tsc.exe  --sourcemap --target ES5 --noEmitOnError --locale en-US COMPUTE_PATHS_ONLY [list of .ts files]
CompileTypeScript:
2>  C:\Program Files (x86)\Microsoft SDKs\TypeScript\1.5\tsc.exe  --sourcemap --target ES5 --noEmitOnError --locale en-US [list of .ts files]

[2015-07-02 08:29] Ciantic opened #3708 "Constrain object literal without losing the keys and values"
Simple example:

[code]

It would be nice if we could retain the keys and values, but still constrain the object literal. For backwards compatibility it probably can't be introduced in above syntax, but perhaps new syntax is required like `var out: Object<string, number>` or something.

Here is a longer use case, where it is important to retain the keys and values:

[code]

It does work if I remov

[2015-07-02 08:52] NoelAbrahams commented on #3578
:+1:  thank you. A right tool for the right job.

[2015-07-02 09:18] rolandjitsu commented on #3633
I actually stumbled upon the same issue a while back and I just decided to use  `commonjs` format until fixed.

[2015-07-02 09:21] isidorn opened #3709 "Do not give me default inteli-sense suggestions when there are better matches"
Trigger inteli-sense inside an object creation literal.
I would expect to get the fields of the expected argument as only suggestions, not the global suggestions.

Picture attached
![screen shot 2015-06-30 at 09 43 35](https://cloud.githubusercontent.com/assets/1926584/8473766/3b1e9bfc-20ac-11e5-8f34-6d06837512c0.png)

[2015-07-02 09:47] gphoenix commented on #3412
Hello, do you have some news about this bug ?

[2015-07-02 10:01] theqwertman opened #3710 "TS2339 Fails to trace Interface inheritance"
In some TypeScript code I'm trying to compile, `return { value: this.props.value || '' };`, however this results in the error `Property 'value' does not exist on type 'TodoTextInputProps'` even though

[code]

and in the React Module,

[code]

Because `React.HTMLAttributes` contains `value?: string`, and `TodoTextInputProps` extends that class, it seems that `TodoTextInputProps` should be able to

[2015-07-02 10:19] dsebastien commented on #3251
@mhegazy Is there already a fixed release date for the 1.5.0 final release?

[2015-07-02 12:13] philipooo commented on #3707
Actually the return type of add is of type `any` and the Typescript Sepcification says

[2015-07-02 12:32] dharmendrachouhan commented on #3707
Thanks for the explanation,

but even if I make return type of add as number, it works. Please see below

var x:number = 10;

function add(x, y):number {
return x + y;
}
x = add('1', 2); // since type of x is number, this line should have given compilation error

[2015-07-02 12:46] philipooo commented on #3707
Of course this works.

Look at this. This is what your code looks implicitly:
[code]

As you see
- you assign `'1'` to `x` which is legal because x is of type any.
- you make an addition between `x`and `y` which is legal because you add any to any.
- you return a value of type `any` which is legal because you are able to assign `any ` to `number`

You have to change your code like this wo make the

[2015-07-02 15:29] jbondc commented on #1003
Well sometimes you need building blocks to create new things, I added two fundamental concepts 'set types' + constants. The 'set types' is very similar to ```4. Variant types``` here:
http://lucacardelli.name/papers/inheritance.pdf

Anyways not sure if I'm headed in the same direction as TS so may fork it into something else.

[2015-07-02 16:16] aozgaa opened #3711 "Extra Errors on Invocation of Abstract Constructor"
Consider the following code:

[code]

This should report one error, for invoking an abstract constructor. We currently report
`
error TS2346: Supplied parameters do not match any signature of call target.
`
`
error TS2511: Cannot create an instance of the abstract class 'A'.
`

so we should eliminate the first error.

[2015-07-02 16:19] RyanCavanaugh commented on #3710
I can't reproduce this - maybe there's something else in your project that's causing an issue in the compiler. Can you post a zip file or something else self-contained?

[2015-07-02 16:21] RyanCavanaugh commented on #3709
Which editor is this? The TypeScript language service isn't reporting all those other things -- those look like snippets being provided by the editor's plugin.

[2015-07-02 16:24] RyanCavanaugh commented on #3707
@philipooo's explanation is correct. Parameters without type annotations have type `any`.

[2015-07-02 16:24] #3707 closed

[2015-07-02 16:26] JsonFreeman commented on #1003
The tagged union usage is the most similar thing to variant types that Typescript can have. The problem is that there are no first class "labels" in Javascript, so we use type guards instead. And then to make a label at compile time, there is a choice between using const entities (what you suggested), or types that represent constant values (what this proposal was about).

[2015-07-02 16:46] mhegazy commented on #3251
@dsebastien correct. latest from master should have the fix as well.

[2015-07-02 16:48] mhegazy commented on #3705
This builds fine for me on 1.5-beta. see the example in http://www.typescriptlang.org/Playground#src=interface%20Foo%20%7B%20%7D%0D%0A%0D%0Aexport%20type%20ExpressResponse%20%3D%20Foo%3B

[2015-07-02 17:34] mhegazy commented on #3706
I am not sure i understand the proposal. can you elaborate..

[2015-07-02 17:40] mhegazy commented on #3684
So to be clear, the errors do not show on build, they only show in VS, and they do not have a prefix "Build:" in the error text?

Can you enable your virtual project view and get me a snapshot of what you see. (feel free to email me directly if you do not want to share it publicly, my email: mhegazy at microsoft com). to enable the view go to tools\options\TextEditor\TypeScript\Project and check "

[2015-07-02 17:42] DanielRosenwasser commented on #3708
Why not add properties to the type of interest?

[code]

[2015-07-02 17:43] #3332 closed

[2015-07-02 17:56] dansilivestru opened #3713 "New Website Logo: bitHound"
Please fill the following out:

- Name: bitHound
- Homepage url: https://bithound.io
- Brand Guidelines/Licensing: Please feel free to use as you see fit, we only ask that you do not modify the colours or the aspect ratio.
- Logo: since we cannot attach an svg file here. Here's a link to it: https://dl.dropboxusercontent.com/u/14172300/bitHound_full_colour_rgb.svg

[2015-07-02 17:59] #3711 closed

[2015-07-02 18:12] Ciantic commented on #3708
@DanielRosenwasser check out the full use case at the bottom:

[code]

Where should I shovel those, write them all again in generic?

[2015-07-02 18:36] dsebastien commented on #3251
Sorry, my question didn't make much sense; what I meant was: when do you think that 1.5.0 will be released & available on npm?

[2015-07-02 18:49] rbuckton opened #3714 "Support Block-level function declarations"
From the kangax compatibility table ([related test](http://kangax.github.io/compat-table/es6/#block-level_function_declaration)):

In ES6, block-level function declarations have block scoping in strict mode. Currently the following is a compiler error in TypeScript:

[code]

We should consider the following changes:
1. Allow the above in ES6 when in strict mode, with the function declaration `f` b

[2015-07-02 18:52] vilic commented on #3706
For example, if we have two files `a.ts` and `b.ts`:

[code]

[code]

Assuming they are been correctly compiled at the first place.

Then update `a.ts` and save:

[code]

We won't get any output if `noEmitOnError` is true.

Then update `b.ts` and save:

[code]

We'll get an updated `b.js` but leave `a.js` unsynced.

I hope we may queue files that failed compiling on save until a successful compili

[2015-07-02 18:55] rbuckton opened #3715 "Down-level destructuring in `for..in` statement"
We report an error for the following code, :

[code]

We also emit the following incorrect javascript:

[code]

We should instead emit:

[code]

While it is unlikely this will be very useful, this is another of the [ES6 compatibility tests](http://kangax.github.io/compat-table/es6/#destructuring_in_for-in_loop_heads) on the kangax compatibility table that we could consider addressing as it seems a

[2015-07-02 18:57] JsonFreeman commented on #3708
The issue is that we do not take the apparent type of the contextually type when we do inferential typing. Believe it or not, the following bug stems from the same issue:
[code]

[2015-07-02 19:06] rbuckton opened #3716 "Down-level lexical 'arguments' binding for arrow functions"
* *Related compatibility test: [arrow functions - lexical "arguments" binding](http://kangax.github.io/compat-table/es6/#arrow_functions_lexical_arguments_binding)*

Currently we make this an error when compiling to ES5, however we recently added lexical argument capturing for ES6 async functions in #3078, so we may want to revisit this.

[2015-07-02 19:30] #3378 closed

[2015-07-02 19:49] DanielRosenwasser opened #3718 "Quick info for object property binding elements in a for-of gives incorrect type"
Confirmed with @rbuckton

[code]

Expected: `(property) x: number`
Actual: Something like `(property) x: { x: number }`

[2015-07-02 20:18] fernandezpablo85 opened #3720 "generic constraint not working"
This compiles cleanly:

[code]

and obviously, numbers don't have a `someNumber` numeric property.

[2015-07-02 20:24] jrieken commented on #3709
This looks like VS Code which adds template suggestions now and then. Maybe we should re-label this work item to either: (1) suggestions should include templates or (2) suggestion should hint what template scope is appropriate.

[2015-07-02 21:37] RyanCavanaugh commented on #3720
See #3410 as mentioned in the Stack Overflow answer

[2015-07-02 21:37] #3720 closed

[2015-07-02 21:49] DickvdBrink opened #3721 "IDBRequest interface error while upgrading from 1.4 to 1.5"
Hi guys,
I was converting some more TS code to 1.5 but I noticed a problem while upgrading from 1.4 to 1.5.

My issue is that the code below used to compile in 1.4 but doesn't in 1.5 because the onerror event changed.

    addReq.onerror = (event) => {
        deferred.reject("Error" + event.message);
    };

addReq is of type `IDBRequest` and the error with 1.5 is:

This happens because on 1.4 on

[2015-07-02 22:24] aozgaa commented on #6
My apologies about not offering the back-reference. Thanks @jasonwilliams200OK for linking above!

[2015-07-02 22:54] DanielRosenwasser opened #3725 "Rest parameter with modifier is allowed"
Even though the TS spec's grammar doesn't seem to permit it, the following is now allowed:

[code]

Seems to have been introduced by 80edb2de4a058ccd8594d8faad5f8e1f4cbe8962.

[2015-07-02 22:57] danquirk commented on #3578
@aleksey-bykov C# operates under a completely different set of constraints than TypeScript does. We could love pure functional programming more than anyone but it doesn't change the rules we actually need to operate with as we design for the future (ie conforming to future ECMAScript standards). If you want an arbitrary set of language features/semantics that compile to JS there are a lot of optio

[2015-07-02 22:59] danquirk commented on #3412
@gphoenix are you having similar issues? I'm not sure of the status of any fixes here (especially as this is still labeled as Needs More Info) but @vladima might be interested in similar logs/dumps from you if so.

[2015-07-02 23:05] danquirk commented on #3251
@dsebastien we're closing down the last few bugs, it'll be ready soon, a matter of weeks

[2015-07-02 23:09] mhegazy commented on #3721
@zhengbli can you take a look

[2015-07-02 23:13] danquirk commented on #3725
Did we really not have a compiler baseline for this?

[2015-07-02 23:14] mhegazy commented on #3709
what locations are ok to include templates and what are not? looks like you are in a function body in the example above, `class`, `if` are still valid, `get` is not though..

I think this is a better approach. can you elaborate of some possible values? may be:
- global
- class body
- object literal
- function body
- switch body
- expression

[2015-07-02 23:15] DanielRosenwasser commented on #3709
Sublime would also greatly benefit from this. @zhengbli @billti

[2015-07-02 23:21] mhegazy commented on #3706
This should be the behavior in VS2015. Compile-on-save will queue the generation of all files to ensure the program recovers of error states as you mentioned. which version of VS are you using?

[2015-07-02 23:21] JsonFreeman commented on #3725
We really did not

[2015-07-02 23:28] #3725 closed

[2015-07-03 00:02] JsonFreeman opened #3728 "Completion is incorrect for export specifier with module specifier"
[code]

Expected: Only vv is in the completion list.
Actual: vv is not in the completion list, and all the globals are, including ww.

Another issue here:
Whatever I type in the export specifier itself also appears in the completion list. This is true whether or not there is a module specifier.

[2015-07-03 00:05] DanielRosenwasser opened #3729 "Import specifier shouldn't show builder"
[code]

We shouldn't show a builder in the above, but we currently do so.

![image](https://cloud.githubusercontent.com/assets/972891/8490372/746662c0-20dc-11e5-9127-99706d8ab68b.png)

[2015-07-03 00:18] drudru commented on #3660
Ok - thx

@DanielRosenwasser - thanks for filing that to the Handbook

[2015-07-03 00:36] JsonFreeman commented on #1447
I don't think we should fix this issue. I think the fix is too costly and complex, and I don't think the issue is serious enough to warrant it.

@mhegazy @ahejlsberg Do you agree?

[2015-07-03 01:25] fernandezpablo85 commented on #3410
I understand the reasons to not constraint this, but why allow it?

[2015-07-03 02:40] tinganho opened #3730 "Undefinining a non optional interface property doesn't yield an error"
I think this code:
[code]

should yield an error at line:

[code]

because we are undefining a non-optional property.

[2015-07-03 02:43] tinganho commented on #3730
Also passing an initialized undefined value to an function argument like this:
[code]
shouldn't it yield an error?

[2015-07-03 02:47] daniel-shin1104 commented on #3705
Hi,

The part that fails to compile isn't the `export` part. It fails when I access type from api.ts.

[code]

I'm guessing it's syntactically valid to `export type` but internally, it doesn't actually export?

Thanks for your help.

[2015-07-03 02:55] tinganho commented on #3705
@daniel-shin1104 I think what you are trying to do is?

[code]
Though this doesn't stop you from adding the reference in the affected file in the first place or just add it in the root file(and no need to add references in all subsequent files).

[2015-07-03 02:59] daniel-shin1104 opened #3731 "Import root / parent directory files without relative path?"
I found that `import`ing files in root directory didn't require relative path to be specified like
[code]
instead `require`ing by its filename worked just as well like when you `import` external modules.
[code]
However, I've also found when I try to `import` sub-directory's file from parent-directory, I was forced to specify relative path.
[code]

Is this an expected behaviour? As in files in root

[2015-07-03 03:06] ahejlsberg commented on #1447
I agree, I think we can close this one.

[2015-07-03 03:11] daniel-shin1104 commented on #3705
@tinganho Hello,

I'm pretty new to this language. Could you elaborate more on what
[code]
achieves?

I'm guessing it destructures and then export `Response`?

What I'm trying to achieve here is to have one consolidated `Types.ts` where I can reference often used external module types in more concise manner since some of types defined by external module definition files are somewhat convoluted.

T

[2015-07-03 03:15] tinganho commented on #3705
@daniel-shin1104 yes, it re-exports the import.

Also the syntax you are using for import `import something = require('somehting')` is deprecated or not recommended in favor of ES6 modules.

[2015-07-03 03:25] RyanCavanaugh commented on #3730
`undefined` is a valid value for all types (see #185 for discussion of non-nullable properties). Only `delete` actually "undefines" a property in JS, and it's very rarely used.

[2015-07-03 03:25] #3730 closed

[2015-07-03 03:44] blakeembrey commented on #2388
:+1: I prefer writing code without using `else` so this would be pretty amazing

[2015-07-03 03:57] tinganho commented on #3730
I expect most people treat `undefined` as not a value? Even though I use an assignment operator for undefining something, the meaning is still undefining a property like `delete` does? Or does it mean assigning it an undefined value?

[2015-07-03 04:07] daniel-shin1104 commented on #3705
Thanks for your help.

So does that mean when we target es6, `import something = require("something");` will not compile? Is this what compiler args `--module commonjs` was for?

And now that we have this new module system (`import .. from`) implemented natively, we don't need to include that compiler arg anymore?

[2015-07-03 04:08] daniel-shin1104 commented on #3705
I'm asking because I just switched to target es6 and compiler erred as following

`Error:TS1204: Cannot compile external modules into amd or commonjs when targeting es6 or higher.`

[2015-07-03 04:16] tinganho commented on #3730
Ok I think I got it clarified in here https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/undefined.

So the interface:
[code]
`a?` means optionally initialized and NOT optionally `undefined`.

[2015-07-03 04:50] tinganho commented on #185
I just read through the whole thread.

I guess the proposal should use `non-voidable` and `voidable` terms, because `void` in TS spec is a type for the `null` and `undefined` value. (I assume the proposal also covers undefined value :smile: )

I also agree access undefined or null exception is root of all evil in programming adding this feature will save countless hours for people.

[2015-07-03 05:02] tinganho commented on #3705
`--module commonjs` is for `< es6` since the ECMAscript spec doesn't cover module definitions. I guess the TS team decided not to implement other module compilation target other than `ES6` when you are targeting `ES6`. And I guess `import something = require("something");` was a temporary module solution for TS, because they couldn't wait for ES6 modules spec to be finished.

[2015-07-03 05:09] daniel-shin1104 opened #3732 "DefinitelyTyped d.ts files and --target es6"
I tried to compile using `--target es6` compiler option and majority of d.ts files from DefinitelyTyped spit out error primarily concerning new module system.

Is there any workaround to this? Am I stuck with `--target es5 --module commonjs` until all other definition files are correctly updated to target es6?

[2015-07-03 06:25] vilic commented on #3706
Strange then, I am using VS 2015 RC.

[2015-07-03 06:42] daniel-shin1104 commented on #3705
Aha! Thanks for the clarification.

Also apparently, after some experimentations,
[code]

New module system seemed to fix this 'issue'. Thanks for the help!

[2015-07-03 06:42] #3705 closed

[2015-07-03 06:55] tinganho commented on #3705
@daniel-shin1104 there is also namespace import in ES6:
[code]

[2015-07-03 07:02] HerringtonDarkholme commented on #3694
:+1:  for the proposal

For the interface and class part, it seems `this type` overlaps a lot with F-bounded polymorphism. Can `this type` cover the latter?

[2015-07-03 09:31] AGiorgetti commented on #3684
Hi @mhegazy, yes that's what is happening, I cannot verify the "Build:" prefix because yesterday never happened.
I've enabled the "Display Virtual Project" option, as soon as it happens again I'll post some screenshot to you.

[2015-07-03 13:06] bergmark opened #3733 "generics Instantiated as null : {} causes other type errors to disappear"
Examples:
[code]

Here, any time `new C(1)` is used it should have the type `C<number>` and not unify with `C<string>`. It seems like `R` not being known in `new C(null)` prevents these other type errors from occurring.

[2015-07-03 14:37] tcstory opened #3734 "Error:(2, 28) TS2339: Property 'querySelector' does not exist on type 'Node'."
I have the following code:
**test.html**
[code]

and the ts file **test.ts**
[code]

and i got the error.
`Error:(2, 28) TS2339: Property 'querySelector' does not exist on type 'Node'.`
could someone tell me what's wrong with that?

the version of typescript is 1.4

[2015-07-03 15:20] piraveen opened #3735 "Object.observe() Generating a warning"
The method Object.observe(object, callback) generates a warning during the build.

[2015-07-03 18:12] rielz commented on #3734
`querySelector` is only defined on `Document`, `DocumentFragment` and `Element` but not on `Node` which you are getting with `parentNode`.

You can use `parentElement` instead, that should fix the problem.

[2015-07-03 20:55] prabirshrestha opened #3737 "JSX props are not validated"
//cc @RyanCavanaugh

Here is the code to reproduce.

Notice how I make a spelling mistake for props when using `Message` component. `<Message mesage="World!" />`. I would had expected TypeScript to give me a compile error here.

[code]

[code]

Here is the generated code.

[code]

Here is the definition of `createElement` from `react.d.ts` file.

[code]

`React.createElement(Message, {"messagex":

[2015-07-03 22:43] DanielRosenwasser commented on #3733
Basically what is happening here is that you're getting `C<any>` from `new C(null)` and `C<number>` from `new C(1)`. Between the two, `C<any>` "wins out" and is assignable to `C<string>`.

Surprisingly, `--noImplicitAny` doesn't report a problem with this. Wondering if @JsonFreeman or @danquirk know whether this is intentional or not.

[2015-07-03 23:31] bergmark commented on #3733
Thanks for the clarification. It seems then that in e.g. `x = p ? a : b`  there are only checks that `a` and `b` unify and that `a+b` unify with `x`. I think it would make sense to check that `a` and `b` unify with `x` individually. I was surprised that the typing differs between if statements and ternary expressions.

[2015-07-04 01:18] RyanCavanaugh commented on #3737
Did you include `react-jsx.d.ts` ? That file contains type definitions for the JSX part of React.

[2015-07-04 02:42] ahejlsberg commented on #3694
Some questions that come to mind...

(1) Your proposal doesn't specifically say, but I assume within a class `this` would denote a type that behaves like a subtype of the containing class (effectively like a type parameter with the current class as a constraint). That means we'd break the following code:

[code]

(2) The proposal doesn't specify what the type of a method in a class is. For example

[2015-07-04 03:05] prabirshrestha commented on #3737
no difference with or without `react-jsx.d.ts`.

[code]

Do I have to import the jsx module? if so how? I only added the references.

[2015-07-04 04:34] jbrantly commented on #3203
It seems this behavior was changed to "Type the expression as implicit any" due to the following code in the PR:

[code]

@RyanCavanaugh can you confirm? Thanks!

[2015-07-04 05:49] rscholey commented on #2011
+1 million - One of our team members is having exactly the same problem and has been trying to fix this for the last hour with no luck.

[2015-07-04 16:33] SetTrend opened #3739 "External Modules - Inappropriate Naming"
Far be it from me to pour cold water on this solemn decision, but what on earth were the grounds to use the term "external" in *External Modules*?

Just let's stick with this decision for a while ... Then why are JavaScript files stored in separate files, loaded asynchronously from distinct sources into a document or scope called *internal*? By what reasons?

I believe the terms *Internal Module*

[2015-07-04 16:38] SaschaNaz commented on #3436
I'm not sure about the second example. #3738 currently makes it into:

[code]

and this is in fact what I expect. Is your indentation example generally preferred?

[2015-07-04 16:40] AbubakerB opened #3740 "Suggestion: Type guarding by means of property checking"
Hi guys,

In regards to type guards, one thing that is fairly common in the javascript world is checking a property to see if its a certain type.

[code]

Would this be a possible thing to include in typescript?

One thing i see as an issue/blocker (probably why this hasn't already been implemented) is that ```length``` isn't a valid property of ```variable```.
But i thought, just like how we can

[2015-07-04 17:25] lucamorelli commented on #2988
Hi, looks like that now it works, and I see that now .d.ts files are inside the package.
I'm giving a look to the code and I see that in this code

[code]
response is any, I think because of this.
[code]
can you give me more informations on how to modify the .d.ts files?

[2015-07-04 17:47] kuon commented on #3436
I think the first argument should be aligned with the other arguments.

Ii could also be something like this:

[code]

Which is even better. And I think it's what JSBeautifier produces.

[2015-07-04 17:48] RyanCavanaugh commented on #3740
See #1260

[2015-07-04 18:27] AbubakerB commented on #3740
I guess i didn't search good enough... my bad! :smile:
I'll close this and move the discussion over there

[2015-07-04 18:27] #3740 closed

[2015-07-04 19:36] DanielRosenwasser commented on #3739
@SetTrend we understand the confusion, and ultimately this naming scheme was a big foot-gun for our users. We have since decided to change the terminology, and for 1.5, [we are introducing the `namespace` keyword](https://github.com/Microsoft/TypeScript/issues/2159) and deprecating the usage of the `module` keyword.

In short, **external modules are now just called modules, and internal modules ar

[2015-07-04 19:49] DanielRosenwasser commented on #3694
@ahejlsberg, my comment brings up (2). From what I understand, @jonathandturner responded that because of your point in (3), we lose the benefit resulting from (2) because of the callback case.

We could instead always take `this` constraints into account, and say that if an instance method never accesses `this`, it does not receive a `this` constraint. This way, we'd only break code in cases wher

[2015-07-04 20:03] AbubakerB commented on #1260
Any update on this?

if i can weight in:

In addition to what Daniel said, what would be cool is when ```getCompletion``` is called, intellisense shows an info/warning symbol near the properties that don't belong to the union type and maybe some text indicating that this property exists in only TypeA or TypeA | TypeB or TypeC etc...

Also, in the case of
[code]
if bar doesn't exist in the union ty

[2015-07-04 21:51] d180cf opened #3742 "Conditional signatures of generic methods."
Let's say I want to write a `Promise<T>`-like generic class with a method that makes sense only for certain `T`:

[code]

As you see, `.take` is a small wrapper around `.then` which makes sense if `T` is an array type:

[code]

Unfortunately, this doesn't work because tsc tries to verify the `.take` method at the moment of its declaration and says that `T` doesn't have to be an array type in the g

[2015-07-04 22:21] WangJi commented on #563
+1

[2015-07-04 23:28] Gaelan commented on #2249
@shumy The problem is that interfaces do not exist at runtime in any way, and decorators run purely at runtime.

[2015-07-05 00:35] Zoltu commented on #1778
This includes the alias `String`.

[code]

[2015-07-05 00:41] Zoltu commented on #1778
It would seem you also can't pass aliased types to an indexer either:
[code]

`An index expression argument must be of type 'string', 'number', 'symbol, or 'any'`

And yes, there is a missing `'` in the error message.

[2015-07-05 00:57] daniel-shin1104 commented on #3731
Sorry stupid question. It was just that my IDE was mistaken.

[2015-07-05 00:57] #3731 closed

[2015-07-05 01:20] tinganho commented on #3737
Autocompletion is also missing using @basarat 's atom typescript.

[2015-07-05 01:39] mhegazy commented on #3436
Yup. I believe backgrondElement should be pushed back one step.

[2015-07-05 02:11] GoToLoop opened #3743 "Declare static non-method members within class' prototype"
This TS code for class declaration :
[code]

Transpiles into the following JS code:
[code]

Playground link:
http://www.typescriptlang.org/Playground#src=class%20SomeClass%20%7B%0D%0A%20%20static%20CONSTANT%20%3D%2010%3B%20%2F%2F%20Wanna%20insert%20it%20as%20a%20prototype%20member!%0D%0A%20%20showStatic()%20%7B%20alert(SomeClass.CONSTANT)%3B%20return%20this%3B%20%7D%20%2F%2F%20OK...%0D%0A%20%20sho

[2015-07-05 02:36] tcstory commented on #3734
@rielz thanks

[2015-07-05 02:43] tcstory commented on #3734
@rielz but, if `querySelector` is not defined in Node,why i can access  `querySelector`  in Node ? the type returned by  `parentNode` is Node ,isn't it?
 sorry,i am a novice

[2015-07-05 05:13] SaschaNaz commented on #3436
The JSBeautifier way looks a bit more complicated. Okay, I'll follow the general preference.

[2015-07-05 10:14] basarat commented on #3737
If you open `rView.tsx` within atom-typescript's source code it works fine:

![autocomplete](https://cloud.githubusercontent.com/assets/874898/8511266/f90f6d74-2351-11e5-848e-653ee9d81ff4.gif)

steps I did: https://github.com/TypeStrong/atom-typescript#configuration-tips

[2015-07-05 10:27] tinganho commented on #3737
@basarat I was referring to the React prop `<Message mesage="World!" />`. All other HTML attributes is working fine :smiley: .

[2015-07-05 10:56] kuon commented on #3436
Perhaps you may introduce some form of configuration, style is quite personal.

[2015-07-05 11:30] LordJZ commented on #3743
[code]

[2015-07-05 12:40] kobezzza commented on #229
+1 Very need this feature.

[2015-07-05 12:41] kobezzza commented on #563
+1

[2015-07-05 14:16] Gambero81 commented on #1206
+1 for the generica syntax.
It would be usefu emit primitive enum value for primitive type enums:

enum myStringEnum<string> {
   one = "myOneValue",
   two = "myTwoValue",
   three = "myThreeValue"
}

var value = myStringEnum.one; //emits 'var value = "myOneValue" /* myStringValue.one */'

emit inline value for primitive typescript (number,  string, boolean ...) is very useful because the enum de

[2015-07-05 14:22] tinganho opened #3744 "inline type-guard"
I want to be able to define type guards inline like below:
[code]

Multiple inline type narrowing with `&&` operator:

[code]

[2015-07-05 17:12] mhevery opened #3745 "Support getter setters in interfaces"
Classes support getters / setters

[code]

but the corresponding interface is not supported:

[code]

[2015-07-05 17:36] lucamorelli commented on #2988
I'm trying to convert to full typescript some parts of the samples

[code]

if I'm correct, I think that in the .d.ts files are included just methods, not properties, because in the RouterConfiguration class I had to add the property title.
Same problem for config.map method: I suppose that is an array of NavigationInstruction, but if I'm correct the properties are missing

[2015-07-05 17:45] GoToLoop commented on #3743
Thx for the attempt but you've removed `static` from CONSTANT.
That means if we instantiate **_SomeClass_** 1000x, we're gonna get 1001 CONSTANT properties rather than 1 only!
My ultimate goal is to create "d.ts" files for libraries which got non-method members in their prototypes.

[2015-07-05 20:31] nenadvicentic commented on #2068
This might be good approach to solve the problem. Oracle;s registration of Java path:
Path: `C:\ProgramData\Oracle\Java\javapath`
Folder content:

    <SYMLINK>  java.exe [C:\Program Files\Java\jre1.8.0_45\bin\java.exe]
    <SYMLINK>  javaw.exe [C:\Program Files\Java\jre1.8.0_45\bin\javaw.exe]
    <SYMLINK>  javaws.exe [C:\Program Files\Java\jre1.8.0_45\bin\javaws.exe]

[2015-07-05 20:45] doskallemaskin commented on #3704
I'm not sure if it's a wierd behaviour or if you're just not using default parameters as intended. For instance why don't you just do this:

    class Vector2D {
        X: number;
        Y: number;
        constructor(X:number = 0, Y:number = 0) {
            this.X = X;
            this.Y = Y;
        }
    }

this should cover all the constructors you asked for without overloading it.

or

[2015-07-05 23:58] basarat commented on #3737
Sorry. I didn't read the complete issue details. My bad :rose:

[2015-07-06 02:55] tcstory commented on #3734
I found the following sentence in [MDN](https://developer.mozilla.org/en-US/docs/Web/API/Node/parentNode)
**parentNode is the parent of the current node. The parent of an element is an Element node, a Document node, or a DocumentFragment node.**

here is my test
[code]

[2015-07-06 02:59] SaschaNaz commented on #3744
I would love this.

[2015-07-06 03:47] jbrantly commented on #3203
I just posted a fairly detailed writeup on this at http://www.jbrantly.com/typescript-and-jsx/

Since a lot of the information on how this is actually implemented is somewhat scattered across multiple comments I wanted to try and consolidate it in a hopefully easy-to-parse format. Would certainly welcome  feedback on anything I got wrong, and I hope it proves useful to those of us testing this out

[2015-07-06 06:28] tinganho opened #3746 "tsx files are not compiled by default"
It seems like when running only `tsc` on the root folder of a project. It doesn't compile all the `.tsx` files. The current behavior is that it compiles all `.ts` files(if not using `exclude` option).

[2015-07-06 07:35] tinganho opened #3747 "Missing folder when compiling using outDir flag"
I have one folder `src` in root path that contains the folders `folder1` and `folder2`. I specify a `outDir` flag to `built`. The compiled output is now skipping the `src` folder under `built`. So it only contains `built/folder1` and `built/folder2` and not `built/src/folder1` and `built/src/folder2`.

Please clone this repo to check it out:
https://github.com/tinganho/ts-test

This is appearing i

[2015-07-06 07:37] AGiorgetti commented on #3684
OK I've spotted the problem, thanks to the 'Display Virtual Project' option I was able to identify a file that had a reference to the libraries .d.ts files in another project.
That file was moved between projects and was the root of all evil.

I'm closing this because it's not an issue.

Thanks for the tip!

[2015-07-06 07:37] #3684 closed

[2015-07-06 08:50] hesselink commented on #3733
@DanielRosenwasser What surprises me is that the behavior of `new C(null)` is different from e.g. `[null]` or `{ x : null }`. Those are inferred to `Array<any>` and `{ x : any }`, but ternary expressions like above fail to type check for them. What makes a user defined class different?

[2015-07-06 09:11] tinganho opened #3748 "Can't access static members in function scope."
Am I doing something wrong in below code? or is it a bug?
[code]

Works in babel.

[2015-07-06 09:21] lazutkin opened #3749 "Proposal: Expose collection element's type"
I often needed (and I think others do) to get type of element of collection, especially when dealing with collections of complex type. As a workaround I introduce new dummy variable which is assigned with a value of collection element in order to get its type further through the `typeof`. Here is a sample with simple collection of type `number[]`

[code]

A bad things about this approach is need t

[2015-07-06 10:27] dbaeumer commented on #3469
@mhegazy not necessarily a different section although it would make things clearer at the end. All I want to avoid is to be forced to list all files if I use a tsconfig -> tsconfig dependencies. In the above example I would still like to not list any *.ts files to feed them into the compiler.

[2015-07-06 14:46] vfonic opened #3750 "Enum error: Index signature parameter type must be string or number"
Hi,

I have an object that has an Enum as key. The Enum values get eventualy compiled to number in JS.

I'd like to be able to specify this:
`var mapping: { [mappingKey: MappingKey]: string; }`
(MappingKey is Enum)

This doesn't work and throws compile errors.

Specifying `mappingKey: number` is not the correct behavior, as I would be able to do this in TS code then:
`mapping[5] // this should thr

[2015-07-06 16:42] RyanCavanaugh commented on #3750
Duplicate of #2491

[2015-07-06 16:42] #3750 closed

[2015-07-06 16:43] DanielRosenwasser commented on #3733
Hey guys, I just remembered - this seems to be a duplicate of #531, but a symptom of #1436. What we proposed doing is widening type arguments to `any` at specific points instead of when inferring them.

[2015-07-06 16:47] RyanCavanaugh commented on #3749
It'd be good to understand what kind of things are showing up in your code other than `number` that make introducing new syntax preferable to just writing `function mapper(v: number)`.

One alternative approach would be to allow indexing expressions with numeric literals in `typeof` positions. This would allow you to write:
[code]

[2015-07-06 16:48] LordJZ commented on #3743
Nope, instantiate SomeClass 1000 times and you only get 1 property.

[2015-07-06 16:49] RyanCavanaugh commented on #3748
The type you wrote, `new () => A`, means "any constructor function for `A`". It does not refer to the *specific* constructor function `A` that also has members on it.

You can write `typeof A` to refer to the actual constructor function `A` that the class defines:
[code]

[2015-07-06 16:49] #3748 closed

[2015-07-06 16:53] RyanCavanaugh commented on #3743
@LordJZ 's suggestion is correct.

Putting non-method members on the prototype is usually a bad idea; we likely won't add special syntax for this unless there's some compelling reason to do so. The approach of setting it manually immediately after the class declaration is a good solution for people who really know what they're doing.

[2015-07-06 16:53] #3743 closed

[2015-07-06 16:55] #3704 closed

[2015-07-06 16:56] RyanCavanaugh commented on #3745
You simply declare it as a property.
[code]
Whether a property is implemented as a field or a getter/setter pair is an implementation detail, not part of the type.

[2015-07-06 16:59] RyanCavanaugh commented on #1778
`String` is not an alias for `string`. It refers to the non-primitive type `String` in JavaScript.

[2015-07-06 17:04] RyanCavanaugh commented on #3410
Can you clarify? We "allow" it because we don't do the computation that would tell us whether or not the code might be an error. Given a lack of answer, we can't simply disallow all uses of generics.

[2015-07-06 17:09] Zoltu commented on #1778
Ah I didn't know that, thanks!  I suppose this means I should be using `string`, `number` and `boolean` (lowercase) everywhere in my code rather than `String`, `Number` and `Boolean`.  Most unfortunate.

[2015-07-06 17:16] #1447 closed

[2015-07-06 17:18] #3708 closed

[2015-07-06 17:35] RyanCavanaugh commented on #3734
I think in practice any `parentNode` is going to have a `querySelector` method, but the W3 spec does not define the API in such a way that this is guaranteed to be true (N.B. for people who say this is all we need to do! :wink:). Since we generate lib.d.ts from a specification, that kind of information is unfortunately lost. You'll need to add a type assertion depending on what you know the type o

[2015-07-06 17:35] #3734 closed

[2015-07-06 17:41] JsonFreeman commented on #3733
I think this is a duplicate of #1436, as @DanielRosenwasser said. I am still in favor of not widening when we infer a type argument. As @ahejlsberg points out, the cost is that we have to have a general algorithm for walking a type and performing widening, and the algorithm has to be resilient to circularities in the type. I don't think this is unreasonable. We do this for all the other type walks

[2015-07-06 17:41] #3733 closed

[2015-07-06 17:42] JsonFreeman commented on #1436
See my comment on #3733. Also, there is a nice sample their that exercises contrasting cases.

[2015-07-06 17:46] mhegazy commented on #3747
use `--rootdir` to point to the parent directory of `src`

[2015-07-06 17:48] mhegazy commented on #3746
@RyanCavanaugh this will also happen on the managed VS side. i believe we are filtering on *.ts now.

[2015-07-06 18:04] RyanCavanaugh commented on #3203
Fantastic write-up, @jbrantly! Comprehensive, great examples, and up-to-date (great job tracking down all the changes the design has gone through). Would you be interested in putting this into the TypeScript wiki and/or Handbook?

[2015-07-06 18:12] fernandezpablo85 commented on #3410
Sure. If I understood correctly, generic constraints are replaced with `any` (as per @JsonFreeman comment above). So given these three cases:

[code]

Only the latter works. Seems to me that the `<T extends SomeType>` should be disallowed, since it does not enforce the type constraint and gives you a false sensation of safety.

[2015-07-06 18:15] jbrantly commented on #3203
@RyanCavanaugh Absolutely. Just create a PR for the wiki?

[2015-07-06 18:15] RyanCavanaugh commented on #3203
Yep

[2015-07-06 18:18] RyanCavanaugh commented on #3410
Constraints still provide many errors:
[code]

[2015-07-06 18:20] tinganho commented on #3747
Miss the help section, thanks!

[2015-07-06 18:20] #3747 closed

[2015-07-06 18:20] mhegazy commented on #3735
`Object.observe` is a proposed ES7 feature and not a standard JS feature that sported by all engines. this is why it is not defined in lib.d.ts. Interfaces are open ended, thus you should be able to augment the `Object` constructor definition by adding it to `ObjectConstructor`; to define the function, in one of you files add:

[code]

[2015-07-06 18:24] fernandezpablo85 commented on #3410
Oh, okay, so what are the cases where those constraints are not enforced? I could do this in your example:

`[b].map(myFunc)`

is it only when passing `myFunc` around?

[2015-07-06 18:38] JsonFreeman commented on #3410
When you call a function with a constrained type parameter, that function's type parameter constraint is checked. When you *pass* a function with a type parameter constraint, the constraint is *not* checked.

[2015-07-06 18:42] yuit opened #3752 "FindAllReference and Rename for unicode escape sequence"
[code]
 Highlight ```B``` or findAllReference at ```B``` should display both ```B``` and ```"\u0042"```. Currently it only show ```"\u0042"

Also doing rename at ```B``` show the rename info as ```"\u0042"````

[2015-07-06 18:47] mhegazy commented on #3752
That is currently by design. we do not handle any Unicode escapes in the language service features though the language permits them. I am inclined to maintain that course as the value added does not justify the cost or complexity.

[2015-07-06 18:47] #3752 closed

[2015-07-06 18:48] danquirk commented on #1206
@Gambero81 are you aware of const enums for the purposing of skipping emit like you want?

[2015-07-06 18:52] xtuc opened #3753 "URL is missing from Window interface"
From PR https://github.com/Microsoft/TypeScript/pull/3741

[2015-07-06 18:58] danquirk commented on #3744
Seems nice, but it's a bit unfortunate to require each conditional essentially be written twice, with the second one the form the compiler 'understands'.

[2015-07-06 19:00] lazutkin commented on #3749
Problem I'm talking about arises when we deal with complex types (especially tuples), or when data interface defined inline, like
[code]

instead of

[code]

So here an another version of code from previous post:

[code]

[2015-07-06 19:02] mhegazy commented on #3753
@zhengbli can you take a look

[2015-07-06 19:47] GoToLoop commented on #3743
* Indeed you're right! B/c TS won't emit JS code for non-initialized properties, _CONSTANT_ doesn't end up becoming an instance variable of **_SomeClass_**.
* So as long as any assignment happens outside the `class` block, it's gonna go straight to _SomeClass.prototype_.
* Only problem is that for any1 checking out _CONSTANT_ is gonna think it is an instance variable rather than its true nature as

[2015-07-06 19:51] RyanCavanaugh commented on #3743
I don't understand why you'd care, from a *type system perspective*, whether a property is initially defined in the prototype or not. It seems more like the kind of thing you'd put in the documentation.

What kinds of things would be errors for a prototype-defined property that wouldn't be an error for a non-prototype property (or vice versa)?

[2015-07-06 19:58] #1256 closed

[2015-07-06 20:21] yuit opened #3754 "Update class expression icon in visual studio completion list & nav bar"
Currently in nav-bar and completion, the class expression name has incorrect icon. We need to update the icon to be similar to the one used by class declaration.

[2015-07-06 20:22] GoToLoop commented on #3743
* Most obvious error is that TS `static` style properties can't be accessed via `this`!
* While class variables stored in _prototype_ can be accessed by 3 diff. ways:
  1. `this.CONSTANT;`
  2. `this.__proto__.CONSTANT;` // (btW `__proto__` isn't automatically recognized by TS!)
  3. `SomeClass.prototype.CONSTANT;`
* So we can access it via an instance of the `class`:
`someMethod(instance: SomeCla

[2015-07-06 20:50] JsonFreeman commented on #3443
I can't repro this on master as of commit 71c64335140cfe3effa9e9087b5e83c4a4fc7cbd

[2015-07-06 20:50] #3443 closed

[2015-07-06 21:05] RyanCavanaugh commented on #3203
Got another blog post here http://blog.mgechev.com/2015/07/05/using-jsx-react-with-typescript/

[2015-07-06 21:09] danquirk commented on #3744
I see Flow recently added tagged unions that really handle this kind of pattern better

[2015-07-06 21:33] RyanCavanaugh opened #3755 "Strict Interfaces"
## Motivating Examples

Today, TypeScript does not correctly detect certain kinds of errors:
[code]

There are two core problems here:
 1. Interfaces with all optional properties are assignable *from* anything with a disjoint set of properties (a set which includes the vast majority of values)
 2. There is no way to say in the type system "These are the only things I can handle", e.g. options bags

[2015-07-06 21:53] danquirk commented on #3755
:+1:

I would note that traditionally we have tried to keep interfaces and type literals essentially the same from a semantic point of view, which would argue in favor of allowing strict on type literals. I can imagine people wanting to do this on single use options bags with ```init``` kind of functions:

[code]
where ```typeof opts``` is never re-used so they didn't feel the need to create a nam

[2015-07-06 21:53] JsonFreeman commented on #3755
Yeah I agree with @danquirk

[2015-07-06 22:24] DanielRosenwasser opened #3756 "Import specifiers give inappropriate completion options on the current property name"
[code]

Request completion on `ABC`. Even though there's no way we could be typing out `DEF`, we're given that option.

![trampledunderimport](https://cloud.githubusercontent.com/assets/972891/8534562/63847f96-23f2-11e5-940d-a965ce74dffa.gif)

This **isn't** the way it works in an object binding pattern or contextually typed object literal expression:

![notrampleinobject](https://cloud.githubuser

[2015-07-06 22:58] danquirk commented on #3756
I assume your code snippet is meant to match the gifs (DEF not ABCDE)

[2015-07-06 23:00] RyanCavanaugh commented on #3737
Can you give it a shot with the new definition file from https://github.com/borisyankov/DefinitelyTyped/pull/4846 ?

[2015-07-06 23:07] DanielRosenwasser commented on #3756
@danquirk yes I corrected it

[2015-07-06 23:10] RyanCavanaugh commented on #3746
I can't reproduce this. Are you on the latest sources from master?

[code]

[2015-07-06 23:16] danquirk commented on #3742
Are there other languages with this sort of support?

[2015-07-06 23:28] xtuc commented on #3753
I'm trying to help but that's the only thing I can do. The Window Interface is in the dom.generated.d.ts source file: https://github.com/Microsoft/TypeScript/blob/master/src/lib/dom.generated.d.ts#L11848. I can't find the way to create the URL object.

[2015-07-06 23:38] Gambero81 commented on #1206
@danquirk const enum are great, but attually does not support generics type but is only for numeric type..

[2015-07-06 23:48] DanielRosenwasser opened #3758 "Object literals in an assignment pattern do not get completions"
As mentioned by @JsonFreeman in https://github.com/Microsoft/TypeScript/pull/3698#discussion_r33834234, completion at the cursor in the following example should list `a` and `b` (and I believe with no builder allowed).

[code]

[2015-07-06 23:50] tinganho commented on #3746
I was probably not using the latest master. But it works for me now.

[2015-07-06 23:50] #3746 closed

[2015-07-06 23:52] basarat opened #3759 "JSX: Used import does not generate a dependency"
Consider the following class:

[code]

If you use it :

[code]

emit:
[code]

The code generated *does not contain the emit* for `import {MyComponent} from "./valuebasedUsage";`

/cc @RyanCavanaugh
Refs : https://github.com/TypeStrong/atom-typescript/issues/442

[2015-07-07 00:08] ecp3 opened #3760 "get InterfaceKeyword instead of letKeyword during tree walk"
1.5-beta.

I am using the Node interface to walk the syntax tree.  However, when I hit a node that should be 'let', I appear to be getting a 'kind' of InterfaceKeyword instead of LetKeyword.  The text of the node is 'let'.  These two items are adjacent in the enum, so I suspect that's not coincidence.

[2015-07-07 00:25] JsonFreeman commented on #3602
I can't think of a good way to fix this. We'd have to somehow special case property access to first check if a property can be found without looking at the type of the left hand side (aka using symbols instead). This is not a regression, so I'm going to say won't fix. I recommend instead writing the code like this:

[code]

[2015-07-07 00:25] #3602 closed

[2015-07-07 00:26] JsonFreeman commented on #3602
I'll add that the spec says you cannot reference yourself in your base reference. And referencing the module is still referencing yourself.

[2015-07-07 00:27] JsonFreeman commented on #3602
Oh, you can also write it like this if you want:
[code]

[2015-07-07 00:37] tinganho commented on #3744
You're right. But, I guess people need to bookkeep and make the tags unique in Flow, which might not be so scalable? (I don't totally understand their blog post).

[2015-07-07 00:43] #3678 closed

[2015-07-07 00:47] RyanCavanaugh commented on #3759
What commit are you on? Should have been fixed in #3675; I can't repro using current bits.

[2015-07-07 00:48] #3732 closed

[2015-07-07 00:51] RyanCavanaugh commented on #3760
I think we're going to need more information than what's been given to help you here.

[2015-07-07 00:55] tinganho commented on #3744
Closing this in favor of Flow's type guards.

[2015-07-07 00:55] #3744 closed

[2015-07-07 01:02] basarat commented on #3759
Sorry. I should have tried latest :rose: fixed indeed.

[2015-07-07 01:02] #3759 closed

[2015-07-07 01:05] ecp3 commented on #3760
I'll try to throw some sample code together tomorrow.

[2015-07-07 01:06] rbuckton opened #3761 "Declaration emitter does not emit type predicate"
For the source:
[code]
The declaration output is:
[code]

But it should be:
[code]

[2015-07-07 01:07] JsonFreeman commented on #3573
I guess this is true for decorators as well.

[2015-07-07 01:11] JsonFreeman commented on #3077
@yuit, you might have a fix for this.

[2015-07-07 01:56] tinganho commented on #3203
@RyanCavanaugh is there a way of trying out JSX in VSCode?

[2015-07-07 03:47] impinball commented on #3694
Couldn't the above use case be covered by this?

[code]

That, I believe, fits closer to the emerging syntax consensus in #229.

[2015-07-07 03:53] impinball commented on #1206
Also const enums should be restricted to primitive types, and the whole reason they aren't emitted is to lessen code size (especially minified), which would *not* usually be the case with other types, such as strings and booleans.

But as for normal enums of non-numeric types, this definitely should be possible. Currently, there is little reason to prefer a normal enum over a const enum, and this

[2015-07-07 05:02] DanielRosenwasser commented on #3694
@impinball could you clarify which use case you're referring to?

[2015-07-07 05:05] RyanCavanaugh commented on #3203
Yep, it's very easy:

Replace `tsserver.js` in `C:\Users\<yourname>\AppData\Local\Code\app-0.5.0\resources\app\plugins\vs.language.typescript\lib` with a version from `built\local` in an up-to-date TypeScript enlistment

Edit `ticino.plugin.json` in `C:\Users\<yourname>\AppData\Local\Code\app-0.5.0\resources\app\plugins\vs.language.typescript\`; change line 12 to:

    "extensions": [".ts", ".js"]

[2015-07-07 05:17] tinganho commented on #3744
@danquirk I was thinking about this issue a bit more. I just want to know your thoughts about using an identity operator/modifier as below, so we can declaratively mark one property for type identification:

[code]

and then just check a property:

[code]
I don't think checking a property against a value is so expressive. Because, it is a property of the instance and because it checks against a va

[2015-07-07 05:19] tinganho commented on #3203
Ok I will try it out :+1:

[2015-07-07 05:31] tinganho commented on #3203
It worked perfectly!

[2015-07-07 07:00] zhengbli commented on #3753
According to https://developer.mozilla.org/en-US/docs/Web/API/Window/URL:

we should add a constructor for interface ``URL`` too. It may look like this:
[code]

Then for ``window``, add:
[code]

[2015-07-07 07:53] piraveen commented on #3735
@mhegazy My bad, sorry for the wrong feed. And thanks for the definition example :+1:

[2015-07-07 08:43] tinganho opened #3764 "React import is being omitted"
I'm getting an issue with React/JSX on VSCode with the master from today and I use the latest `react-jsx.d.ts` and `react.d.ts` from `DT`. I extend `React.Component` in an another file and then use it on my current file. So I don't expose React namespace in my current file. And when I import React it is being shaked off.

`module1.tsx`
[code]
`module2.tsx` (notice omit comment)
[code]
`module1.js`

[2015-07-07 09:10] impinball commented on #3694
Sorry...I meant the `this` in function types in the main proposal. It wasn't specifically about your comment...probably should have mentioned @jonathandturner.

Also, as for that mixin model, there's already half a dozen mixin proposals out there, but this specific version proposed in the main bug is probably not the best way to go (feels incomplete).

[2015-07-07 09:59] xtuc commented on #3753
The URL interface is already created: https://github.com/Microsoft/TypeScript/blob/master/src/lib/dom.generated.d.ts#L10773-L10776 but it isn't instantiated.

[2015-07-07 11:51] ecp3 commented on #3760
Okay, looks like the problem was I had a 'bad' services header file.  I'm not sure where I got mine from, but it was called tsServices.d.ts.  In that file an excerpt of SyntaxKind looks like this:

       WithKeyword = 101,
        AsKeyword = 102,
        ImplementsKeyword = 103,
        InterfaceKeyword = 104,
        LetKeyword = 105,
        PackageKeyword = 106,
        PrivateKeyword = 107,

[2015-07-07 12:52] yukulele opened #3766 "Spread arguments in new call don't work in TS 1.4"
Array literal (rest parameter) don't seem to work with constructor

example:
[code]

[2015-07-07 13:23] NekR opened #3767 "JSX IntrinsicElements detection"
Let's say I have a tool completely not related to React which transforms JSX to JS. And let's say I want it to use with NativeScript elements/controls.

One of main things of JSX is that it has built-in elements and custom elements (components) are based on built-in elements, because in the end of a day they return some built-in element (or primitive).
This all works fine with DOM and html tags be

[2015-07-07 13:52] jeremyhallden opened #3768 "Generics allows erroneous type casting"
Using generics, it seems as the TypeScript compiler fails to identify illegal type casts.
See the code below, which should be self-explanatory.
The convertSucceedsCore method allows you to convert anything without compiler warnings. This should only be possible if one uses an explicit any-cast.

Am I missing something here? :)

Thanks,
Jérémy

----------------
[code]

[2015-07-07 14:10] mhevery commented on #3745
Sorry for not being more clear. How do I create an interface which only has getters (no setters). Please reopen.

[code]

[2015-07-07 14:48] billccn commented on #3764
For module2: see https://stackoverflow.com/questions/15267705/typescript-compiling-removes-unreferenced-imports

For module1:
This is due to the particular way `react.d.ts` is coded. It declared `React` as an exported module, which tells the compiler the `React` symbol is a reachable object regardless of whether the library is imported. I guess this is to accommodate front-end setups where the Rea

[2015-07-07 14:55] billccn commented on #3768
This is because `<T>obj` is a type __assertion__ meaning you're saying to the compiler "I know better than you and the value must be this type here".

Your code has the same semantics as
[code]
which is expected to compile.

[2015-07-07 15:00] tinganho commented on #3764
That SO thread is not relevant for me, since it is an amd reference. I still think module2 is a bug, because I declared with a flag that I'm using `React.createElement` factoring and in my code I have wrote `<div/>`

I agree with you on `module1`. Maybe send a PR and have `d.ts` file not exposing globals.

[2015-07-07 15:01] jonathandturner commented on #3745
We've had an outstanding feature request for read-only: https://github.com/Microsoft/TypeScript/issues/12  You might want to pile on there, also.

[2015-07-07 15:03] billccn commented on #3766
Should work with ES5 target, see #2369

[2015-07-07 15:13] wholroyd commented on #2953
So where is the new flag or when should it be expected? I'm getting compile issues for DataView, Map, Set, and WeakMap from the node.d.ts TSD typings file. What is the workaround?

[2015-07-07 15:19] RyanCavanaugh commented on #3764
There's already a pending PR to go back to the previous style of .d.ts for React, which was to have a separate .d.ts file for the global 'React' vs the importable module.

Under `--jsx react` we should treat any element as a usage of the 'React' symbol.

[2015-07-07 15:27] RyanCavanaugh commented on #3767
Let's keep going on this hypothetical. Say this tool exists, and that it supports a notion of user-defined classes (the same way React does).

Then I define a user class `MyClass`

What mechanism would this tool use to determine that it should transform `<MyClass>...` to `NativeScript.Create(MyClass, ...)` and `<StackLayout>...` to `NativeScript.Create("StackLayout", ...)` ?

If it's a hardcoded l

[2015-07-07 15:27] #3745 closed

[2015-07-07 15:32] RyanCavanaugh commented on #3768
To expand a bit, `<T>x`, where `x` is of type `U`, is allowed if `T` is assignable to `U` or vice versa.

Pretty much anything is assignable to `Object`, so the assertion in `convertSucceedsCore` always works.

If instead your method had been written:
[code]
You'd get an error there saying `T` is not assignable to `U`.

[2015-07-07 15:32] #3768 closed

[2015-07-07 15:34] RyanCavanaugh commented on #3760
Bad news :smiley:  These numbers *are* going to shift and you should make sure you're compiling against a matching version of the definition file when using this enum. They have to be able to move because we frequently add keywords and tokens that need to go in specific places (we use sentinel values in this enum to define ranges, e.g. "all reserved words" are a contiguous block).

Sorry that this

[2015-07-07 15:34] #3760 closed

[2015-07-07 15:36] jonathandturner commented on #3694
@ahejlsberg - yeah, good to call out (1).  Though I allude to it in the proposal by talking about assignment compat with 'this', I think the way you spell it out works better and gives a better intuition.

@DanielRosenwasser - We should explore implied 'this' constraint more, and try it out on some real world code to see what impact it might have.

@impinball - agreed. This isn't intended to be us

[2015-07-07 16:02] rwilliams-scottlogic commented on #1812
It took me some digging to find the fix that was made, so here it is if anyone else also needs to patch their 1.4 typescriptServices.js:  4d14e971cf1d5768f17da9283cdbbc14d26ef976

It's on line 18265.

[2015-07-07 16:13] NekR commented on #3767
You misunderstood me. As I said, it's completely separate and is not any compatible to React.
That hypothetical tool is able to look into scope and determine if such variable exists or not. And yes, it has configurable list of built-ins (plus ability to disable scope look-up, but this is not important). So for DOM config might look like this:

[code]

Then transpilation of this code:
[code]

will

[2015-07-07 16:25] ecp3 commented on #3760
Ugh.  That seems unfortunate because it means that an update to the typescript version will require every tool that uses the services to be rebuilt.    And it will be impossible to have one version of the tool that runs against multiple versions.  I'm in an environment where this is not much of a problem (just some dev tools), but it seems like backward compatibility should be a higher priority.

[2015-07-07 16:46] #3735 closed

[2015-07-07 16:47] mhegazy commented on #3735
glad it helped.

[2015-07-07 16:48] DanielRosenwasser commented on #3766
Yup, @tinganho fixed this one. Thanks guys!

[2015-07-07 16:48] #3766 closed

[2015-07-07 16:56] enlight commented on #2953
@wholroyd

Put a copy of `lib.es6.d.ts` in your project, that has the missing types.

[2015-07-07 17:25] mhevery commented on #12
:+1:

[2015-07-07 17:39] wholroyd commented on #2953
I don't see a `lib.es6.d.ts` anywhere, but I do see a `lib/es6.d.ts` [here](https://github.com/Microsoft/TypeScript/blob/master/src/lib/es6.d.ts). Is that the same file?

[2015-07-07 18:06] enlight commented on #2953
@wholroyd https://github.com/Microsoft/TypeScript/blob/master/bin/lib.es6.d.ts
Or you can grab the one that was shipped with the TypeScript version you use from a source zip on the [releases page](https://github.com/Microsoft/TypeScript/releases).

[2015-07-07 18:33] prabirshrestha commented on #3737
Doesn't work. But I found an interesting pattern here.

*All the code snippets here use `react.d.ts` from https://github.com/borisyankov/DefinitelyTyped/pull/4846*

From http://www.jbrantly.com/typescript-and-jsx/

[code]

This above code will throw the appropriate error as mentioned in the blog. But if I export the class it will silently compile without any errors.

[code]

Then I tried the same

[2015-07-07 18:41] dsebastien commented on #3015
+1 for full type information at runtime. There are many cool things that we'll be able to do with these.

[2015-07-07 18:52] RyanCavanaugh commented on #3737
Got it, thanks for narrowing it down! Working on a fix now.

[2015-07-07 19:00] mhegazy commented on #3732
just out of curiosity, what engine you are using that supports all of the es6 features including modules?

[2015-07-07 19:07] rbuckton commented on #3015
@pavelsavara, @dsebastien: I've been considering this, but truly capturing full type information would require not only compiler support but a full runtime library. I have an updated [gist](https://gist.github.com/rbuckton/f6ee6fcdcc21d44fdfa0) with a tentative JSON schema for type information. There are still many issues to consider, such as the fact that TypeScript uses structural typing for int

[2015-07-07 19:20] mhegazy commented on #3756
The issue is that the filtering logic removes the entry from the completion list, leaving only one entry on the list.

The filtering logic needs to keep the entry if the cursor is at the end of it. we do this for object literal completion, this way you make sure you have the current entry on the list, so "tab" would not overwrite it.

[2015-07-07 19:20] mhegazy commented on #3756
you probally need to do the same for destructuring, and for jsx elements

[2015-07-07 19:22] mhegazy commented on #3756
here is the relevant section: https://github.com/Microsoft/TypeScript/blob/master/src/services/services.ts#L3458-L3461

[2015-07-07 19:39] danquirk commented on #3760
@ecp3 re: backwards compatibility, it absolutely is important, but the compiler API isn't fully baked yet, see: https://github.com/Microsoft/TypeScript/wiki/Using-the-Compiler-API :
_Keep in mind that this is not yet a stable API - we’re releasing this as version 0.5, and things will be changing over time._

That said, maybe we need to make sure we publicize changes like this a little more clearer

[2015-07-07 19:52] ecp3 commented on #3760
Fair enough.  I was assuming it was a little more cooked than it actually is.

[2015-07-07 20:01] zhengbli commented on #3753
Actually after trying it out on several browsers, I found that the constructor of ``URL`` doesn't exist in both IE and Spartan. And the two methods ``createObjectURL`` and ``revokeObjectURL`` turn out to be static methods. So it might be more proper this way:

[code]

[2015-07-07 20:15] zhengbli commented on #3753
Actually after trying out on various browsers, we found that the constructor of interface ``URL`` is not supported in both IE and Spartan. Therefore I think it is safer now to just add the property to ``window`` without changing the ``URL`` interface.

[2015-07-07 20:49] zhengbli commented on #3721
The reason was that in the spec, the type of ``error`` event fired by ``IDBRequest`` is ``Event`` instead of ``ErrorEvent``. And according to the [W3C](https://w3c.github.io/IndexedDB/#dfn-fire-an-error-event):

Therefore the change might be safer. A workaround might be:
[code]

[2015-07-07 21:29] ahejlsberg commented on #3755
It feels like overkill to introduce a whole new kind of type to solve a very confined problem. There are some really counter-intuitive effects around extending and implementing these things, and it isn't clear to me that they could work as type arguments without some sort of "strict" constraint, adding even more complexity.

Perhaps we should consider a simpler and more targeted solution. For exam

[2015-07-07 21:33] JsonFreeman commented on #3755
In particular, I have discussed with @RyanCavanaugh and it seems that strict interfaces have a really weird interaction with intersection types.

[2015-07-07 21:38] #3764 closed

[2015-07-07 21:45] #3729 closed

[2015-07-07 21:45] #3242 closed

[2015-07-07 22:18] danquirk commented on #3744
@tinganho The problem I see is that marking it in the type itself isn't very scaleable. While it may be nice for types that use single values like this (particularly enums) what do you do with types that have more overlap? Ex:

[code]
What do I tag in each type as the discriminator? A Point2D and a Point3D share x and y but not z, while a Point2D and Line share x and y but not length. If you were

[2015-07-07 23:26] RyanCavanaugh commented on #3755
It's not just all-optional types, though. Adding one required property to `TextOptions` only fixes some of the problems:

[code]

[2015-07-08 00:30] tinganho commented on #3744
@danquirk How do you deal with if two interface have the same shape?

[code]

[2015-07-08 00:31] ahejlsberg commented on #3755
@RyanCavanaugh I guess there are two ways things go wrong with types that have only optional properties. One is when you accidentally pass a value of a completely unrelated type (i.e. no overlap whatsoever in property names). Another is when you accidentally misspell a property name (but there is *some* overlap in the remaining properties). I'm not sure which is the more common failure mode, but I

[2015-07-08 00:38] JsonFreeman commented on #3755
It wouldn't be a new kind of type though. It would just be an attribute on an object type that says being assignable to it entails having no extra properties.

That said, it violates the assumption that providing more information about a type makes the type more specific. Our type system assumes that, especially with the new intersection rules.

[2015-07-08 00:53] RyanCavanaugh commented on #3755
I think the property names in these examples are only disjoint because people are simplifying their code down to the minimum number of properties required to demonstrate the problem.

In practice, it's very easy to find code in the wild that typos a property name to e.g. `$.ajax` while getting other property names correct. Specifying `timeOut` instead of `timeout` or `onfailure` instead of `onFail

[2015-07-08 00:54] #3737 closed

[2015-07-08 00:56] danquirk commented on #3744
In that case you are kinda screwed regardless of type guards :)

[2015-07-08 02:22] ahejlsberg commented on #3755
Ok, here's another idea...

An interesting fact about object literals (and array literals) is that an object reference produced by a literal is known to be the *only* reference to that object. Thus, when an object literal is assigned to a variable or passed for a parameter of a type with fewer properties than the object literal, we know that information is irretrievably lost. This is a strong indi

[2015-07-08 02:54] RyanCavanaugh commented on #3755
A while back I had a prototype that flagged errors on surplus properties on object literals when those literals were contextually typed by a non-empty object type. That seems very close to what you're describing (in terms of behavior I can't identify a difference).

This actually worked quite well. The only meaningful false negative was in one of the RWC suites because someone had a thing like thi

[2015-07-08 03:25] d180cf opened #3779 "Generic meta types"
As far as I know, in Flow there are so called "generic meta types" that can operate on other types:

[code]

Such "type algebra" would be useful to construct function signatures and interfaces that are hard/impossible to construct  with other techniques:

[code]

Do you think this would be a useful addition to the type system?

[2015-07-08 03:48] ahejlsberg commented on #3755
Yes, using the contextual type as you describe does indeed seem like it would have the same effect. All up I much prefer this targeted approach to introducing full blown "strict" interfaces.

Not sure about the "all-optional types require at least one match" rule if we do this. I think we should evaluate that one separately.

[2015-07-08 04:50] tinganho commented on #2719
I'm not sure why everyone is +1:ing. Either everyone is TypeScript library owners or they think it solves the opposite problem.

I'm actually more annoyed about the opposite problem. How to import a default export from CommonJS in ES6. I want to write everything using the ES6 module syntax and not having to resolve to `import module = require('./module')`.

Many libraries have a default exported f

[2015-07-08 07:35] JirkaDellOro commented on #3500
Dan closing this brought the issue back to my attention. As opposed to Cyrus, I'm not talking about a type other than "any". If TypeScript implicitly uses the any-type here, I should be allowed to annotate that type, and only that, explicitly. I don't see the reason to say: "You are not allowed to type four more characters, even if you really want to, since you don't add value". Consequently, you

[2015-07-08 10:18] impinball commented on #212
`apply` and `call` could be easily fixed by the many variadic argument proposals (syntax only for demonstration, requires `this` typing).

[code]

`bind` would be a beast to properly type, though, as a compiler would have to properly infer this kind of thing (syntax only for demonstration, requires `this` typing for the function version):

[code]

Let's just say it requires lazy inference of the t

[2015-07-08 10:23] impinball commented on #212
And as for this specific issue, it's nearly completely covered by the variadic generic proposal in #1773 and the `this` typing proposal in #229 and the large number of other dupes.

[2015-07-08 11:48] impinball commented on #185
Please add this! And it would be best if this became a feature I could pass a flag to make it the default. It would save a lot of debugging hell for a lot of people.

[2015-07-08 12:49] impinball commented on #195
And there are certain operations that only return 32-bit integers:

- `Math.fround`
- `Math.trunc`
- `Math.imul` (requires both arguments to be 32-bit integers)
- `Math.clz32`
- `Math.floor`
- `Math.sign`
- `x & y`
- `x | y`
- `x ^ y`
- `~x`
- The `length` property of nearly every builtin (every one pre-ES6)
- Any `enum` without numbers assigned
- All the `Date` instance methods that return number

[2015-07-08 12:54] impinball commented on #2881
And it's now the current standard.

[2015-07-08 13:58] impinball commented on #2695
@Arnavion

Neither [NodeList](https://dom.spec.whatwg.org/#interface-nodelist) and [DOMTokenList](https://dom.spec.whatwg.org/#interface-domtokenlist) are supposed to be Array subclasses. They are only supposed to be iterable, as in:

- JavaScript:
[code]

- Python:
[code]

- Java:
[code]

- Scala:
[code]

[2015-07-08 14:54] Lenne231 commented on #3779
I like the idea, but maybe this can also be solved with type providers #3136

[2015-07-08 16:48] kuon opened #3781 "Wrong indentation for multiline rvalue"
The current formatter will produces:

[code]

I think the following would be better:

[code]

Same goes for just the assignment (no `var`).

[2015-07-08 17:01] kuon commented on #3781
The function arguments case is not that clear

[code]

or

[code]

or even

[code]

[2015-07-08 17:13] kuon opened #3782 "Proposal: Incremental build mode"
I am using tsify and browserify to build my typescript application.

It works, but it is sadly very slow ( https://github.com/smrq/tsify/issues/54 ).

It seems the typescript compiler would need an incremental build mode to make "tsify like uses" faster. The same issue arises when using typescript in something like ruby on rails asset pipeline.

The incremental build mode would work exactly like `

[2015-07-08 17:19] Arnavion commented on #2695
@impinball Yes they are supposed to be, per the spec. I gave links for the other CSSOM objects in the previous post, and the link for NodeList is [here](http://www.w3.org/TR/2015/WD-dom-20150618/#old-style-collections:-nodelist-and-htmlcollection) where you can also see it's described as ArrayClass.

I already explained that no browser has actually implemented them as ArrayClass.

[2015-07-08 17:22] mhegazy commented on #3782
The compiler provide a [services API](https://github.com/Microsoft/TypeScript/wiki/Using-the-Compiler-API#incremental-build-support-using-the-language-services) that can do most of this work. [gulp-typescript](https://github.com/ivogabe/gulp-typescript) uses the same API for incremental compilation. the other alternative is to use the new ts.transpile interface similar to the support in [es6-modul

[2015-07-08 17:25] mhegazy commented on #3781
Seems like a good suggestion, though I have not seen this behavior in other language formatter that i have used in the past, and we have tried to keep the formatter predictable.

[2015-07-08 17:25] mhegazy commented on #3781
We would be open to a PR showcasing this behavior.

[2015-07-08 17:47] jens-duttke opened #3783 "New Website Logo: HexEd.it"
- Name: HexEd.it
- Homepage url: https://hexed.it
- Brand Guidelines/Licensing: N/A
- Logo: https://hexed.it/img/logo.svg

HexEd.it is an online hex editor running in the web browser, which is built using TypeScript.

[2015-07-08 17:56] DanielRosenwasser opened #3784 "ASI incorrectly kicks in for let declarations"
From looking through the specification, I don't think we are doing the right thing when a `let` declaration spans multiple lines.

The following:

[code]

seems to incorrectly compile to

[code]

instead of

[code]

I'm not seeing a "[No *LineTerminator* here]" for `let` declarations in the spec. The most relevant restriction on `let` that I see is the following:

=================================

[2015-07-08 17:57] RyanCavanaugh commented on #3783
Neat!

[2015-07-08 18:17] danquirk commented on #3500
As Mohamed mentioned, this is consistent with our treatment of variables in ```catch``` statements, another case where the only valid type is ```any```. We consistently don't allow type annotations in places where they do nothing. Allowing a type annotation there implicitly suggests there's a space of options available, when in fact there isn't. Your comparison to the value of comments is pretty o

[2015-07-08 18:26] danquirk commented on #3779
It seems like $Merge would be better described through intersection types:
[code]
$Args and $RetV look like they're essentially compile time reflection APIs.

[2015-07-08 18:29] CyrusNajmabadi commented on #3784
This is because it would otherwise be a breaking change moving from ES5 to ES6.  In ES5:

[code]

Is parsed as

[code]

So we need to preserve that.  In ES5 though

```let x```

won't legally parse, so it's ok to now parse that as a let-declaration.

[2015-07-08 18:31] CyrusNajmabadi commented on #3784
Interesting point about ```let [```.  It would seem like they're allowing a breaking change there.  someone could have had "let[0] = 1" in their existing ES5 code, and that would break moving to ES6.

[2015-07-08 18:35] kuon commented on #3782
I'll have a deeper look at the API and see if I can improve the compilation speed. I'll come back here if more support is required on the typescript compiler side.

[2015-07-08 18:35] #3782 closed

[2015-07-08 19:08] danquirk commented on #3599
Gonna call this a dupe of the issue Mohamed mentioned unless we get more info.

[2015-07-08 19:08] #3599 closed

[2015-07-08 19:11] #3519 closed

[2015-07-08 19:12] DickvdBrink commented on #3721
Ah oke, Just mentioned this because the upgrade broke my code but if it is by design it is fine with me. Easy fix so no worry :)

Guess this one can be closed :)

[2015-07-08 19:12] #3721 closed

[2015-07-08 19:37] danquirk commented on #3507
@lucasmciruzzi with the latest bits in master I see the same behavior in both scenarios (the single file and multi file case). The type of ```output``` is any and no errors are reported.

See https://github.com/Microsoft/TypeScript/issues/592 for why we give an ```any``` here.

[2015-07-08 19:37] #3507 closed

[2015-07-08 19:40] corps commented on #3755
In my experience, this tends to be an exceptional case around interfaces with optional parameters, where as the laxness of type interfaces is super useful most of the time.  Golang has a similar problem with their interfaces, and suggests introducing fields to distinguish types if you really need it, although their interface semantics don't have optional attributes in the same way.

Some poor-man'

[2015-07-08 19:56] JsonFreeman commented on #3755
@ahejlsberg It is interesting that you are talking about a rule involving optional properties with fresh object types. We have something that works like this today in the subtype relation (but not assignability). Specifically, an unwidened object literal type is not a subtype if it is missing an optional property in the target. My point is that we already have freshness detection for object litera

[2015-07-08 20:17] corps commented on #3755
@JsonFreeman

That's not quite what I mean.  As per the top example, **interfaces with optional properties are generally used to express optional configuration** as a parameter.  This is, of course, my experience.  An interface's property should usually not be optional unless you are saving the effort of creating object literals with lots of properties (often the case of, say `$.ajax({ blah: "foo"

[2015-07-08 21:04] OlegDokuka opened #3785 "problem with rest params and function overloading"
[code]
I`v got the compilation error
[code]
and

[code]

Have you any idea?

[2015-07-08 21:10] danquirk commented on #3785
What code is actually triggering the compilation error? Those lines you pasted do not have the errors you're mentioning.

[2015-07-08 22:00] RyanCavanaugh commented on #3785
I'm presuming the code looks like this:
[code]

Several problems going on here.

First, this line is wrong:
[code]
Having a rest arg in the implementation signature means that you're always going to have your arguments wrapped in an array, which means you're never going to hit the `else` clause. Instead, this should be `value: any`.

More accurately, though, you can write:
[code]
If you do this, w

[2015-07-08 22:07] #3703 closed

[2015-07-08 22:21] michaelaird opened #3786 "Radical (and random) reorganization of output file"
We have typescript set to combine output into a single file. we've noticed that, seemingly at random, a very small change in a source file will result in huge changes in the output file resulting from the order of classes being totally reorganized.

i realize that the .ts file should be treated as "output" but these massive changes make it difficult to track edits in source control.

Ideally, a tr

[2015-07-08 22:30] yuit commented on #3077
Can't repo the bug. This PR #3643 will help get correct completion list

[2015-07-08 22:34] #3077 closed

[2015-07-08 22:34] RyanCavanaugh commented on #3786
The compiler doesn't re-order code at all.

One possibility of what's going on is that you're using `tsconfig.json` and not specifying a file list or using `/// <reference>` directives. In that case, the order of the files would (I think?) be the order returned by the file system, which is not guaranteed to be any particular order. If the files do have some ordering preference, you should specify

[2015-07-08 22:47] jakepetroules commented on #3783
Wow, this is an incredible app. Performance is excellent and the UI is really well designed and well thought out. Great job!

[2015-07-08 22:52] michaelaird commented on #3786
Interesting. Maybe this is specific to building in Visual Studio.

I'm using TypeScript 1.5beta and Visual Studio 2015 RC. there's no tsconfig.json.

[2015-07-08 23:52] DanielRosenwasser commented on #3784
Discussed offline with @CyrusNajmabadi; while the above was our reason for implementing things the way they are now, we're leaning towards just aligning with the ES6.

[2015-07-09 00:00] mhegazy commented on #3786
In a Visual Studio project, files will be passed to the compiler in the order they appear in the project file. since editing the project file is not that user-friendly, you can add a file  `_references.ts` at the root of your project, and specify the order of files you care about in `/// <references>`

To see how VS and the compiler get the files look at the build log (tools\options\projects and s

[2015-07-09 00:06] rbuckton commented on #3508
This feature would work well with an ability to specify the type of `this` in a function declaration (#229).

[2015-07-09 00:13] #2973 closed

[2015-07-09 00:49] tinganho opened #3788 "Support other JSX factories"
Seems like Babel supports other JSX factories other than `React.createElement(...)`:

Here is docs from `deku` another JSX framework from Segment.io
Using `.babelrc`:

[code]
Source: https://github.com/dekujs/deku/blob/master/docs/guides/jsx.md#babelrc

I propose we add something similar to the TS compiler options. Letting people to do a post build of preserved JSX element is not the nicest soluti

[2015-07-09 01:11] tinganho commented on #3788
To be more specific about JSX factories, I mean  `React.createElement` is switched with whatever specified factory function. All the other rewires like attributes etc. remains the same. So I guess this is a small change.

PS. Also the `jsx-transform` supports other factory functions: https://github.com/alexmingoia/jsx-transform

[2015-07-09 02:52] RyanCavanaugh commented on #2378
What's the deal with the `in progress` label?

[2015-07-09 03:54] impinball commented on #2695
@Arnavion I see what you're talking about in the edit...This bug is actually about the following problem:

[code]

Does that repro in any of the three cases? I don't have a dev version handy to test it.

[2015-07-09 04:16] Arnavion commented on #2695
Without the `*` (asterisks are not needed for declarations), yes all of those compile, as they're supposed to. This bug is about adding Symbol.iterator properties to the DOM types in the first place.

[2015-07-09 04:54] d180cf commented on #3779
Some of these meta types can have corresponding meta operators: `&` can denote `$Merge`, `+` can denote `$Concat` and so on; while other meta types, like `$Args`, won't have a corresponding operator. Such operators will essentially allow to write expressions that operate on types and construct other types.

@Lenne231, I'm not familiar with type providers, but a brief look at #3136 made me think th

[2015-07-09 05:00] mrcrowl commented on #1222
Just a quick update on this.  Our company is now switching to VS2015 RC, and I've found that the slow responsiveness for "Jump to definition", "Rename" etc is still there.  To answer your question @mhegazy, I believe this is now 1.4 by default?

[2015-07-09 05:08] mrcrowl commented on #1222
Also, not sure that I'll be allowed to share the project, but to give a sense of scale it has 683 .ts files, and about 80K line of actual typescript (excluding whitespace and brackets lines).

[2015-07-09 05:12] d180cf commented on #3742
Does C++ have this feature? It has pretty advanced templates.

I'm not an expert in writing compilers, so my question might be naive: why is this feature hard to implement? It seems fairly trivial to just check whether an inferred type `T` makes sense at each use of the method. Currently tsc seems to check whether the method's implementation makes sense for every possible `T` (for optimisation pur

[2015-07-09 05:48] OlegDokuka commented on #3785
Thanks a lot!!!

[2015-07-09 06:06] tinganho opened #3790 "export keyword has different color(blue in VSCode) on classes and interfaces"
I'm not sure if this is an editor bug or LS bug. I just noticed this difference in color:

<img width="213" alt="screen shot 2015-07-09 at 2 03 56 pm" src="https://cloud.githubusercontent.com/assets/1324476/8588978/60c22634-2643-11e5-8c12-3dca98ad5cfa.png">

Also all identifiers are not colored the same. Some has light blue/gren and some black.

[2015-07-09 06:17] SaschaNaz commented on #3436
One question: What do we want in this case?

[code]

[2015-07-09 06:32] DanielRosenwasser commented on #3790
@dbaeumer might have filed something similar under https://github.com/Microsoft/TypeScript-Sublime-Plugin/issues/274.

[2015-07-09 06:44] RyanCavanaugh commented on #1719
Tagging this as something that needs discussion. Based on available evidence, *no one* writes an `instanceof` expression and treats it as a non-exhaustive check for that type. We shouldn't interfere with that assumption for the sake of the 0% of programmers who are doing this "correctly".

[2015-07-09 07:05] RyanCavanaugh commented on #3742
What you're describing is something like C++-style template instantiation, which is a very different strategy (note that they use different names; templates are *not* generics). That's a plausible strategy when every compilation has the source code (or equivalent) of the entire program, but that's not a luxury many other languages have.

Let's say you wrote this class:
[code]
`method` should be av

[2015-07-09 07:13] impinball commented on #2695
Okay...that is probably trivial

[2015-07-09 07:15] impinball commented on #2695
Unless it's something else...[the declarations already exist.](https://github.com/Microsoft/TypeScript/blob/master/src/lib/dom.es6.d.ts)

[2015-07-09 07:16] impinball commented on #2695
That file was merged on [June 5](https://github.com/Microsoft/TypeScript/commit/cc858071033b9daa8ee2d664655a59b422f5776b).

[2015-07-09 07:17] JirkaDellOro commented on #3500
Thanks for the clarification, Dan. I can perfectly understand, that you need to decide where to invest your energy. And I'm very aware that my case appears somewhat special. Assumably, I'm just one of a few using TypeScript to teach programming to beginners. But I think it would be great for TypeScript when our number grows, so it might be worth the support. I hope you don't mind that I keep discu

[2015-07-09 07:18] Arnavion commented on #2695
Please read this thread...

[2015-07-09 07:58] impinball commented on #2695
It type-checks for me with the latest compiler with `--target es6`. I just checked on my machine.

[2015-07-09 07:58] tinganho opened #3791 "No error checking on generic abstract method"
[code]

[2015-07-09 08:11] kuon commented on #3436
Seems that https://github.com/Microsoft/TypeScript/issues/3673 is a duplicate of this one

[2015-07-09 08:13] kuon commented on #3673
Also see https://github.com/Microsoft/TypeScript/issues/3781#issuecomment-119662750

[2015-07-09 08:23] tinganho commented on #2947
@RyanCavanaugh Is there a way I can write a contract where on extending class's static methods has a certain signature?

[code]

React seem to want to put a lot of stuff as static members(GrahpQL, Relay). And I want some autocompletion on those only by extending a class.

[2015-07-09 11:11] zhuravlikjb opened #3792 "Cannot 'export default' abstract, ambient class or interface"
[code]

By the way, the same with

[code]

Seems to be a parser bug

[2015-07-09 12:10] jeremyhallden commented on #3768
Thanks for the repsonses.
I'm still not quite sure why
var helloer: IHelloer = <IHelloer>(<Object> new GoodByer());
is any different from
var helloer: IHelloer = <IHelloer>(new GoodByer());
since GoodByer is a subtype of Object?

Thankful for the help :)

[2015-07-09 13:15] michaelaird commented on #3786
Thanks! i'll try the _references.ts solution and see how that works.

[2015-07-09 13:16] zhuravlikjb commented on #3468
Was verified on latest TS add-on by colleague who reported it - performance fixed.

[2015-07-09 13:16] #3468 closed

[2015-07-09 13:41] billccn commented on #3768
(Please note markdown stripped the angle brackets, so I am guessing here.)

The TypeScript type checker tries to help you by rejecting obvious errors in type assertions, e.g. `var x = <string> 1`. However, if you remove enough information from the right-hand side of an assertion such that there is a possibility where the assertion is valid, then the compiler shuts up (in the hope that you've used

[2015-07-09 14:14] jods4 opened #3793 "Incorrect codegen with emitDecoratorMetadata + ES6 modules"
I upgraded from the 1.5 beta to a nightly build (ntypescript 20150709...) and found this regression:

Relevant code:
[code]

ES5 + AMD code gen fails at runtime with "Router is not defined", relevant parts:
[code]

With the skeleton, `Router` should be `aurelia_router_1.Router`.

[2015-07-09 14:17] michaelaird commented on #3786
So. The _references.ts file works great for ordering but the `/// <references>` lines get included in the combined output.

i don't think this is correct since the code referenced is already included (and this causes havoc for bundling solutions like Cassette that try to resolve those references)

[2015-07-09 14:17] toddwong commented on #12
Can we(actually you :D) just add the getter only property in interface first?  I really want it, very badly!
For the compatibility issue, I agree with the idea of "use strict" thing. And maybe a writable keyword for calling legacy code from strict mode.
[code]

[2015-07-09 16:12] pitosalas opened #3794 "What is current advice for multi-file apps?"
Is this an appropriate question for here or do you prefer I put it on Stack Overflow or somewhere else?

My [app](https://github.com/pitosalas/typescript/tree/master/csvproc) has grown to two classes and I want to organize it into three files, one for each class and one "main" program. I recently read that the /// <reference path="node/node-0.10.d.ts" /> notation is no longer recommended, that the

[2015-07-09 16:48] JsonFreeman commented on #2378
@danquirk is experimenting with an issue visualizer called waffle, which works off of the github labels. In addition to using the labels that we've created, it supplies some of its own, and tags our issues using its tags. "In progress" is one such tag that is included in waffle.

[2015-07-09 16:57] yuit commented on #3475
[code]
This should trigger an early error from this grammar production
[code]

[2015-07-09 16:59] RyanCavanaugh commented on #2947
There isn't. Let us know if you see other cases where this would be useful - we generally didn't see a need for it.

[2015-07-09 17:08] RyanCavanaugh commented on #3791
The type parameter `FetchT` in `fetch` is shadowing the outer generic type parameter from the class. Remove it and errors appear.

[2015-07-09 17:08] #3791 closed

[2015-07-09 17:31] DanielRosenwasser commented on #3475
Yup - it would be useful to have a test like

[code]

As well as one like this:

[code]

Neither of these should error.

[2015-07-09 17:35] DanielRosenwasser commented on #3792
Under what situations would one need to make an ambient class a default export?

[2015-07-09 17:39] mhegazy commented on #3792
These two are by desing. We have felt that the `export default` syntax is already long enough, so no modifiers are needed. for a workaround use:
[code]

[2015-07-09 17:48] mhegazy commented on #1222
@mrcrowl sorry to bug you again, but can you upgrad to the latest: [TypeScript 1.5-beta](http://blogs.msdn.com/b/typescript/archive/2015/04/30/announcing-typescript-1-5-beta.aspx) and let us know what you are seeing?

[2015-07-09 17:54] mhegazy commented on #3706
My bad, should have been more specific. this should be fixed in the next public release of VS2015.

[2015-07-09 17:55] #3785 closed

[2015-07-09 18:05] mhegazy commented on #3793
@rbuckton has a fix for this.

[2015-07-09 18:10] SetTrend commented on #3739
Excellent. Thanks a lot for clarifying.

Can't help having a grin imagining your meeting when you bring this up :))

[2015-07-09 18:10] mhegazy commented on #2566
This should be fixed in the next release. thanks @NoelAbrahams soooo much for the help!

[2015-07-09 18:10] #2566 closed

[2015-07-09 18:22] JsonFreeman opened #3796 "Type argument inference into static members of a class expression does not work"
[code]

Expected: Infers string
Actual: No inference candidates

The problem is the condition in `inferFromTypes`:
[code]
It neglects to check SymbolFlags.Class

[2015-07-09 18:30] #3742 closed

[2015-07-09 18:48] danquirk commented on #3500
Always happy to discuss options :)

From a user experience point of view certainly there is a fine line between these:
[code]
in that both are perfectly specific about both the error and how to correct it. From an implementation perspective the former is slightly faster since it's merely a grammatical check while the latter requires checking the type of the annotation. Likewise for the for...in ca

[2015-07-09 18:52] danquirk commented on #3786
/// references being preserved or not has always been a back and forth issue as some people had tools that relied on them hanging around, others relied on them not being around (I believe Cassette has been referenced before for this latter case). On the plus side it's easy to remove them manually in a post build step with a regex.

[2015-07-09 18:53] danquirk commented on #3794
ES6 modules are generally going to be your best bet going forward.

[2015-07-09 18:54] danquirk commented on #2378
I've turned off the thing that causes the 'in progress' label to be created so people stop bugging me about it :) If people want to look at the waffle board for issue management they can: https://waffle.io/Microsoft/TypeScript

[2015-07-09 18:54] michaelaird commented on #3786
Interesting. I wonder what the scenario would be for keeping `/// <references` comments to code that had been in-lined by combining the output into a single file?

[2015-07-09 18:56] danquirk commented on #3791
I wonder how often this sort of shadowing is necessary/desirable, it's not unreasonable to just error on it in the first place.

[2015-07-09 18:56] jods4 commented on #3793
Have to say that I'm disappointed this is scheduled for 1.6.
It's a show stopper and I can't use any TS release after the bug was introduced.
Hopefully you'll publish a 1.6 beta at the same time as 1.5 (I'm already on the beta "channel" after all).

[2015-07-09 18:59] danquirk commented on #3792
We should just allow these. It's a strange inconsistency, the workaround is _more_ verbose, and the error gives you no help getting to the workaround.

[2015-07-09 19:04] vilic commented on #3706
+1

[2015-07-09 19:04] #3706 closed

[2015-07-09 19:07] DanielRosenwasser commented on #3792
Yeah, discussed with @danquirk and @RyanCavanaugh offline; in a `.d.ts` file, a default exported ambient class makes sense.

I don't think it's that unreasonable to support the original syntax.

[2015-07-09 19:09] DanielRosenwasser commented on #3486
Hey @Yellowmat, @ShyykoSerhiy sent us a fix which should be in our `master` branch. Give it a try and let us know how it works out.

[2015-07-09 19:09] #3486 closed

[2015-07-09 19:34] #3761 closed

[2015-07-09 19:35] mhegazy commented on #3761
thanks @tinganho

[2015-07-09 19:37] mhegazy commented on #3793
@jods4 can you give this: https://github.com/Microsoft/TypeScript/pull/3690  a try?

[2015-07-09 20:11] danquirk commented on #3420
May be that some extension of ```typeof``` is the right way to approach this if we were to go down this path.