[2015-11-18 23:23] spion commented on #185
@tejacques - FWIW, I completely agree with your assessment and proposal. Lets hope the TS team agrees :)

[2015-11-18 23:53] sheetalkamat commented on #3317
@Masclaux  Are you still having issues with debugging through <TypeScriptOutFile>? I was finally able to load your project and run but I am not sure what to update to enable TypeScriptOutFile.

[2015-11-18 23:57] dallonf commented on #185
Actually, two things:

One, I'm not sure the Flow-like analysis mentioned Part One is necessary. While it's very cool and useful, I certainly wouldn't want it to hold up voidable/`?T` types, which seem much more feasible in the current design of the language and provide much more long-term value.

I would also phrase `--noImplicitVoid` a bit differently - let's say it disallows assigning `null` an

[2015-11-19 00:08] jods4 commented on #185
@tejacques

This statement is incorrect. Lots of aspects of nullability can't be accounted for even with full code source available.

For instance: when calling into an interface (statically), you can't know if passing null is alright or not if the interface is not annotated accordingly. In a structural type system such as TS, it's not even easy to know which objects are implementations of the int

[2015-11-19 00:13] Griffork commented on #185
@tejacques my bad, I misread your comment.
Thanks for the extra post though, it made far more sense to me than your original post. I actually quite like that idea.

[2015-11-19 01:15] tejacques commented on #185
I'm going to reply to the three of you separately because writing it out on one posts is an unreadable blob.

[2015-11-19 01:15] tejacques commented on #185
@Griffork No problem. Sometimes it's hard to convey everything properly through text and I think it was worth clarifying anyway.

[2015-11-19 01:24] Artazor commented on #5324
If it is what I'm thinking about - it's awesome!

[2015-11-19 01:28] tejacques commented on #185
@dallonf Your rephrasing is exactly what I mean --we're on the same page.

I think the difference between `x?: T` and `y: ?T` would be in the tooltips, and possibly in the guard used.

Declaring as an optional argument changes the tooltips so it's clear it is optional.

`x?: T` implies optional argument, so the type is really `T | undefined` and requires a `if (x !== 'undefined')` guard.
Note the

[2015-11-19 01:46] #5324 closed

[2015-11-19 01:55] mhegazy commented on #2103
We would consider a PR here. One note though, wiring the type system for this feature is not a simple task. If you are interested in perusing this I would keep it incremental, and would start by parsing then emit then type checking. @sandersn should be able to help you if you have any questions.

[2015-11-19 02:16] tejacques commented on #185
@jods4 I agree with pretty much everything you said. I'm not trying to downplay the importance of non-`void` typing. I'm just trying to push it one phase at a time. If the TS team can't do it later, at least we're better off, and if they can do it down the road after implementing more checks and `?T` then that's a complete mission accomplished.

I think that the case with `Arrays` is a really tric

[2015-11-19 02:24] tejacques commented on #185
I feel like a total jerk for doing this, but I'm going to make one more post.

At this point I'm not sure what to do to proceed. Is there a better idea? Should we:

* keep discussing/speccing out how this should behave?
* turn this into three new feature proposals?
  * Enhanced Analysis
  * Maybe/Option type `?T`
  * `--noImplicitVoid` compiler option
* ping TypeScript team members for input?

I'm

[2015-11-19 02:38] Griffork commented on #185
@tejacques
 * You're missing a "typeof" in the triple equals example to dallonf.
 * You appear to be missing some ? in the example to jods4.
Much as I think the stuff should stay in this thread, I think this thread isn't really being "watched" any more (maybe more like glanced at occasionally). So creating some new threads would definitely build traction.
But wait a few days/a week for people to p

[2015-11-19 02:49] jesseschalken commented on #185
Commenting on this thread is pretty futile at this stage. Even if a proposal is made which the TypeScript team considers acceptable (I attempted this above in August) there's no way they'll find it among the noise.

The best you can hope is that the level of attention is enough of a prompt for the TypeScript team to come up with their own proposal and implement it. Otherwise, just forget about it

[2015-11-19 05:55] DanielRosenwasser opened #5714 "'let'/'const'-declared variables have lower priority than 'var' in completion lists"
With a `var`:

![image](https://cloud.githubusercontent.com/assets/972891/11162780/ca135f96-8a65-11e5-8d80-e1d4fa3bd6a0.png)

With a `let`

![image](https://cloud.githubusercontent.com/assets/972891/11162777/b5e13c14-8a65-11e5-9b49-24f63446af6f.png)

With a `const`:

![image](https://cloud.githubusercontent.com/assets/972891/11162758/31585a4a-8a65-11e5-879e-be1efb1d38ce.png)

Notice the `let` and

[2015-11-19 05:56] DanielRosenwasser commented on #5135
I opened up #5714 until we can get some detail from @senseiweb.

[2015-11-19 05:56] develar commented on #5224
@sheetalkamat Answered in the linked ticket. It is a wrong decision to drop name mappings generation.

[2015-11-19 06:23] senseiweb commented on #5135
@DanielRosenwasser As requested...disabled reshaper and the problem does indeed resolves; after re-enabling reshaper the problem returns. So I am assuming the bug needs to file with the JetBean team, correct?

[2015-11-19 06:37] senseiweb commented on #5135
For completeness opened a bug with the JetBrains team ==> referenced: https://youtrack.jetbrains.com/issue/RSRP-451140

[2015-11-19 07:20] DanielRosenwasser commented on #5135
Thanks for the update! Glad we were able to identify the other bug though :smiley:

[2015-11-19 07:20] #5135 closed

[2015-11-19 08:08] Masclaux commented on #3317
Hi

Did you use the original project with issue => https://github.com/Masclaux/LightReader_old

or the new one => https://github.com/Masclaux/LightReader who are totqally different and option TypeScriptOutFile cannot be activated.

[2015-11-19 09:57] kobezzza commented on #3694
+1

[2015-11-19 10:46] Zorgatone commented on #3694
+2

[2015-11-19 12:49] hadjloo opened #5715 "New Website Logo: Faraconesh"
Please fill the following out:

- Name: Faraconesh Corporation
- Homepage url: http://www.faraconesh.com
- Brand Guidelines/Licensing: Faraconesh Corporation and its Logo are registered trademark in Iran, all rights reserved, anyone can use Faraconesh logo to represent Faraconesh with a link to the Faraconesh.com website; Do not use the Faraconesh corporation logo in products, product packaging or

[2015-11-19 14:07] aleksey-bykov commented on #5705
Since `--project` is taken already I suggest the `--configuration` parameter

[2015-11-19 15:26] bvahdat opened #5716 "Question about TypeScript Coding-guidelines"
Could you please elaborate the reason why a TypeScript based App [should better make use of `undefined` and not `null`](https://github.com/Microsoft/TypeScript/wiki/Coding-guidelines#null-and-undefined) as I do exactly the opposite!

Out of curosity I just looked into the [Angular 2](https://github.com/angular/angular) TypeScript codebase and:

- Found `return undefined` [6 times](https://github.c

[2015-11-19 15:42] impinball commented on #185
+1 for splitting this up, but for now, the `--noImplicitVoid` option can
wait for the nullable type to be implemented.

So far, we've mostly come to agreement on the syntax and semantics of
nullable types, so if someone could write out a proposal and implementation
of it, that would be golden. I've got a proposal from a similar process
regarding enums of other types, but I just haven't had the tim

[2015-11-19 17:24] wwrafter opened #5717 "Function requiring IVector<string> does not accept string array"
In a Windows 10 Universal app, I'm trying to use the FileSavePicker to select a file. I am using Typescript. The insert method takes two parameters, a string and an IVector. The following code is from the MS website, but it is just straight javascript.

savePicker.fileTypeChoices.insert("Word Document", [".docx"]);

The error text is, "Argument of type string[] is not assignable to parameter of ty

[2015-11-19 17:28] vladima commented on #5681
this flag is already available in master and should be in TypeScript 1.8

[2015-11-19 17:39] DanielRosenwasser commented on #5716
This is our codebase's style guideline:

To answer your question, there's no reason to introduce `null` into the mix. `'undefined `already pops up by default if you don't set a value (in object properties, out of bounds accesses on arrays, variables, parameters, etc.), so differentiating between the two becomes a major pain. This is exacerbated even you are using the better equality operators (`==

[2015-11-19 17:57] sheetalkamat commented on #3317
@Masclaux  I used the new project. Will give it a try with the old one to see if I can repro the issue

[2015-11-19 18:07] mhegazy commented on #5705
this is a duplicate of  #2869. we should revive  #2869 as well as #4883

[2015-11-19 18:08] #5705 closed

[2015-11-19 18:12] mhegazy commented on #5708
PRs are welcomed. Here is some information about contributing lib.d.ts fixes: https://github.com/Microsoft/TypeScript/blob/master/CONTRIBUTING.md#contributing-libdts-fixes

[2015-11-19 18:25] aleksey-bykov commented on #2869
since my request #5705 got closed I am writing here:

- let's add a parameter that points to whatever configuration file we please: `--configuration c:\foo\bar\myproject.csproj`

[2015-11-19 18:31] mhegazy commented on #2869
@aleksey-bykov can you elaborate on what is the expectation here? do you expect tsc to read the .csproj? where would the infrormation be stored?

[2015-11-19 18:33] aleksey-bykov commented on #2869
i am saying the developer should be free to specify any file that has a valid tsconfig JSON content even if the name itself doesn't make any sense

[2015-11-19 18:43] mhegazy commented on #1593
@dsherret this is not a supported compiler flag. you can not pass this on the commandline. this flag is mainly for tooling purposes, e.g. Monaco web editor where file names do not have full extensions.

[2015-11-19 18:46] mhegazy commented on #1593
for future searchs, if you are using this flag to allow consumption of .js files, [`--allowJs`](https://github.com/Microsoft/TypeScript/pull/5471) is the right flag to use.

[2015-11-19 18:46] mhegazy commented on #2869
i see, so why not use `--project` as in the OP?

[2015-11-19 18:47] aleksey-bykov commented on #2869
because it's already taken it would be a breaking change

[2015-11-19 18:52] mhegazy commented on #5717
I am amusing you are suing winjs.d.ts from definitelytyped. this bug should go to https://github.com/DefinitelyTyped/DefinitelyTyped/

[2015-11-19 18:52] #5717 closed

[2015-11-19 18:53] mhegazy commented on #2869
not really, we can check if it is a file path use it, if it is a directory append "tsconfig.json" before reading the file.

[2015-11-19 18:55] aleksey-bykov commented on #2869
true, good catch

[2015-11-19 18:58] mhegazy commented on #5467
@jrieken and @danquirk any ideas here?

[2015-11-19 19:07] videege opened #5718 "VS 2015 Update 1 RC crash"
After installing Update 1 RC, I now cannot open any project that contains TypeScript files.  I thought my TypeScript extension might be out of date, but I still experience the crash after updating to the latest extension version.  My activity log has the following entries:

[code]

[2015-11-19 19:26] mhegazy commented on #5718
in Add/Remove programs, what version of TypeScript do you have installed?

[2015-11-19 19:27] mhegazy commented on #5718
the error indicates that the latest version of TS was not installed. can you share your setup logs?

[2015-11-19 19:27] mhegazy commented on #5718
//cc: @yuit

[2015-11-19 19:35] sheetalkamat commented on #3317
@Masclaux , Ok I got this working and it seems like the issue doesn't repro any more. I was able to debug the project and it did end up hitting breakpoint in index.ts correctly as shown here.
![debuggingworkingwithoutfile](https://cloud.githubusercontent.com/assets/8052792/11281902/8cd93af6-8eb1-11e5-937d-cb5815ab9cf1.JPG)

[2015-11-19 19:39] mhegazy commented on #3034
for future searches, MSBuild properties mapping to compiler flags are documented in https://github.com/Microsoft/TypeScript/wiki/Setting-Compiler-Options-in-MSBuild-projects

[2015-11-19 19:40] mhegazy commented on #5699
@yortus can you give `typescript@next` a try.

[2015-11-19 19:42] #5619 closed

[2015-11-19 19:45] mhegazy commented on #4168
I do not think we can do a generic support for all hosts, the ones we know about are "core", i.e. some ES3/ES5/ES6 compliant engine (things like Object, JSON, Error, etc..), and "DOM" (regular and webworker, only latest, version would not possible here). for anything else, you need to pass a .d.ts for your host. so you should have `electron.0.34.d.ts` that you feed in to the compiler along with `-

[2015-11-19 20:00] videege commented on #5718
In Add/Remove programs I have TypeScript Tools for Microsoft Visual Studio 2015 1.5.3.0 and 1.6.3.0 installed.

[2015-11-19 20:22] zhuravlik commented on #5135
To let others with the same problem know, this issue is fixed in ReSharper 10.0.

[2015-11-19 20:24] goleafs commented on #3672
running into this now... just trying to have a generic service returning a promise of an array
but can't find a clean way to do this..

strange that this works...
[code]
but this does not
[code]

[2015-11-19 20:34] mhegazy commented on #5718
OK, so this means that you installed Update 1 but not the TS that matches it (1.7.*), the error you are getting is because some platform APIs changed in Update 1, and your old TS extension did not know about them.

Now the question is how you system ended up in this situation. can you share your install logs from VS Update1? these should be under %temp% and will have the prefix "dd_",  if you sort

[2015-11-19 20:55] uwinkelvos opened #5720 "Examples from handbook for "Writing .d.ts files" do not compile with 1.6.2"
I copied the examples for external modules from here http://www.typescriptlang.org/Handbook#writing-dts-files-examples into files and fed them to the compiler. They both do not compile. The _zoo example_ can be fixed by adding a "declare", but i have no idea how to fix the _eagle example_.

See my test project here: https://github.com/uwinkelvos/tsc-dts-bug

[2015-11-19 20:56] DanielRosenwasser commented on #5720
Hey @uwinkelvos, if you'd like to send a PR to https://github.com/Microsoft/TypeScript-Handbook, we'd appreciate it.

[2015-11-19 20:58] DanielRosenwasser commented on #5720
Just a question, which eagle example do you mean specifically?

[2015-11-19 21:29] pankleks opened #5721 "tsconfig.json - reference files"
Hello,

I have a directory of ts files.
Each file is referencing same d.ts files using /// <reference ...

I was wondering if there is (or could be added) option in tsconfig to add static references that would be used for every file in the directory.

I know I can use "files" section in tsconfig, but I wish compiler to pick files automatically, I don't wish to add any new ts file manually to "file

[2015-11-19 21:47] DanielRosenwasser commented on #5721
I don't understand; your `/// <reference ... />`s are being manually added, so what's the issue with adding these files to the `files` section?

Alternatively, if the problem is that you have many `/// <reference ... />` comments, you could have a central `.d.ts` that references those, and have each file reference the central one.

[2015-11-19 21:48] DanielRosenwasser commented on #5721
Also see #1927 for a better overall solution.

[2015-11-19 21:49] pankleks commented on #1927
+1

[2015-11-19 21:58] uwinkelvos commented on #5720
This:
https://github.com/Microsoft/TypeScript-Handbook/blob/master/pages/Writing%20Definition%20Files.md#typing-4
https://github.com/uwinkelvos/tsc-dts-bug/blob/master/external/eagle.d.ts

I kind of need exactly that functionality to type koa-body.

[2015-11-19 21:59] borisjoffe opened #5722 "Cannot use TypeScript for files without .ts extension"
I would like to start using TypeScript but renaming all of my files to have a .ts extension is a dealbreaker. Can there be a command line option to force compilation regardless of extension?

[2015-11-19 22:07] DanielRosenwasser commented on #5722
Hey @borisjoffe, see #2302 and #4789 for issues tracking this scenario.

[2015-11-19 22:07] #5722 closed

[2015-11-19 22:49] pankleks commented on #5721
file wildcards would definitely solve my problem, I would then add:

I have following directory structure:
* /root
 * file1.d.ts
 * file2.d.ts
 * /bin
   * tsconfig.json
    * userfile1.ts
    * userfile2.ts
    * ...
    * /bin2
      * userfile3.ts
      * ...

All user files needs reference to file1.d.ts and file2.d.ts
Since user files might be added dynamically, I don't wish to modify "files"

[2015-11-19 23:08] yuit commented on #5718
@videege also it will be great if you can run the following tool http://aka.ms/vscollect

The link will download an exe called Collect.exe. Put Collect.exe into %temp% and run it there. After it finishes, you will see vslog.zip and if you could share it with us that will be great !

[2015-11-19 23:34] videege commented on #5718
@yuit I will try to get my installation logs to you tomorrow (already left work for the day).  From what I recall I had no option pre-setup to select anything about Web Tools (I just downloaded the updater from http://go.microsoft.com/fwlink/?LinkId=626599 and hit "Install").

[2015-11-20 00:19] plantain-00 opened #5723 "Can not assign a generic function to a normal function"
[code]
the error is: `error TS1005: '(' expected.`
this is OK:
[code]

[2015-11-20 00:30] #4424 closed

[2015-11-20 00:32] sheetalkamat commented on #4556
With #5471 we would be emit the es3 and es5 syntax of javascript input file for es6 syntax hence these are not errors any more

[2015-11-20 00:37] mhegazy commented on #4792
This should be available now with https://github.com/Microsoft/TypeScript/pull/5471 using `--allowJs`

[2015-11-20 00:37] #4792 closed

[2015-11-20 01:34] DanielRosenwasser commented on #5720
Fixed by https://github.com/Microsoft/TypeScript-Handbook/pull/102

What's wrong with that example? [It seems to work correctly in the playground](http://www.typescriptlang.org/Playground#src=%2F%2F%20Note%3A%20can%20use%20any%20name%20here%2C%20but%20has%20to%20be%20the%20same%20throughout%20this%20file%0Adeclare%20function%20eagle(name%3A%20string)%3A%20eagle%3B%0Adeclare%20module%20eagle%20%7B%

[2015-11-20 01:46] yuit commented on #5718
@videege thanks. I will wait for you log and I will let you know more what I find out

[2015-11-20 01:57] uwinkelvos commented on #5720
The .d.ts file will "compile", but the code using it won't. please see: https://github.com/uwinkelvos/tsc-dts-bug

[2015-11-20 03:42] rwhepburn opened #5727 "Nested files in VS 2015 show false TypeScript compilation errors in IDE"
We just upgraded to from VS 2013 Ultimate with TypeScript 1.6 to VS 2015 Enterprise with TypeScript 1.6 and now we are seeing an issue with nested files in our solution where the IDE is reporting errors despite the project building without errors.

We use nested files (using Mads Kristensen's File Nesting VS extension v2.2.31) to nest our test specs under the related .ts file to test. For example:

[2015-11-20 07:25] yortus commented on #5699
@mhegazy confirmed fixed in `typescript@next`, thanks guys.

[2015-11-20 07:52] DanielRosenwasser commented on #5720
Wow, I just realized that. That's awful. I think the intent was to export something that had a type and value side, but the example conveys that poorly.

[2015-11-20 08:01] DanielRosenwasser commented on #5720
Fixed in 55ceaf7b86ff4314dfd8b3bb8214d336ddd02bb1.

[2015-11-20 08:01] #5720 closed

[2015-11-20 08:05] DanielRosenwasser commented on #5721
Yes, I think globs are the key solution.

In the mean time, if all you have is source in that directory, you could just omit the `"files"` field entirely and use the `"exclude"` field to filter out what you *don't* want. For more details see here: https://github.com/Microsoft/TypeScript/wiki/tsconfig.json

[2015-11-20 08:05] #5721 closed

[2015-11-20 08:54] kitsonk opened #5729 "Issues with AMD Plugin syntax"
I was trying typescript@next (specifically v1.8.0-dev.20151120) and we extensively use AMD loader plugins, where we use `[module id]![resource id]`.  In v1.6.2 and earlier we would simply declare an ambient declaration describing our module, for example, we have a module that reverts to the CommonJS loader and we would do something like this to load a CommonJS only module in our `.d.ts` file:

[co

[2015-11-20 08:59] glen-84 commented on #1927
Whitelisting (include) is almost always better than blacklisting (exclude). It's easy to forget to exclude something, but things simply won't work unless you include them. However, listing every file manually is crazy, especially in larger projects. With the current options, there is just no flexibility.

@mhegazy, would you please consider adding this to the roadmap? It seems that a large part of

[2015-11-20 09:14] angelozerr opened #5730 "[tsserver] custom command (ex: to collect Angular2 @Component/selector)"
At first I explain you what I would like to do with tsserver. @dbaeumer I think you could be interested with this issue for VSCode and Angular2 support.

Take the sample https://angular.io/docs/ts/latest/quickstart.html with Angular2 & TypeScript. There is a ts file:

[code]

And the HTML:

[code]

The HTML contains `<my-app>` which is binded with decorator @Component/selector property. My goal is

[2015-11-20 09:24] bvahdat commented on #5716
Then why do I find more usage of `null` compared to `undefined` inside the TypeScript codebase?

- Found `return undefined` [107 times](https://github.com/Microsoft/TypeScript/search?l=typescript&q=%22return+undefined%22&type=Code&utf8=%E2%9C%93)
- Found `return null` [231 times](https://github.com/Microsoft/TypeScript/search?l=typescript&q=%22return+null%22&type=Code&utf8=%E2%9C%93)

I'm already

[2015-11-20 10:14] SaschaNaz opened #5731 "Type-guard-assertion-like syntax does not do anything"
The following code does not cause any error nor does type-guard thing.

[code]

Is this by design? The language service implicitly thinks the `foo` inside type assertion as `any`. I would prefer to making this as a valid type guard syntax if there is no spec about this.

[2015-11-20 10:17] uwinkelvos commented on #5720
ah thx. fixed the eagle-eddie-diversion here: https://github.com/Microsoft/TypeScript-Handbook/pull/103

This might not solve my Koa typing problems though, but that's an other story/issue. :)

[2015-11-20 10:33] Pajn commented on #4362
A GlobalAttributes interface would be great because it would make it possible to add global attributes without redefining the entire typing file of for example react.

[2015-11-20 11:12] T18970237136 commented on #5324
This is really great! Thanks a lot!

Now, I tried to use the Monaco editor in a simple HTML page just like the playground does, but I'm having problems and don't know how to to it correctly.

I downloaded the vscode repository and invoked tsc in the [src directory](https://github.com/Microsoft/vscode/tree/master/src) to compile the TS to JS. Then in that directory I created a HTML page that direct

[2015-11-20 11:26] kitsonk commented on #5324
Probably best asked in the VSCode repository, not here @T18970237136.

[2015-11-20 14:11] ahejlsberg commented on #5731
That's a bug. The type predicate syntax should only be allowed in a return type position.

[2015-11-20 14:23] ahejlsberg commented on #5723
That is by design. You can only supply type arguments in a call expression. For purposes of function assignment compatibility checking, generic functions are implicitly instantiated using type `any`, so your assignment should work if you simply say `a = f`.

[2015-11-20 14:24] #5723 closed

[2015-11-20 15:17] teobugslayer commented on #228
This check is very important when working with promises, because people sometimes forget to return a promise, thus breaking a promise chain. Consider this sample:

[code]

If you execute it, the result is:
[code]

Now, lets assume, a programmer makes a mistake and forgets to return the result of f2:

[code]

The result is

[code]

This mistake is very unfortunate. It is very easy to be made, espec

[2015-11-20 15:21] nadyaA commented on #228
:+1: for @teobugslayer 's suggestion

[2015-11-20 15:29] vladima commented on #228
your wish is my command

[code]

compiling with current master bits
[code]

[2015-11-20 15:37] simonvizzini opened #5732 "'BestCommonType error' returns wrong error range inside class methods"
I'm working on a JS project with ES6 syntax and today I tried out the latest VS Code release (0.10.1). Today I've also learned that the IntelliSense support in VS Code for JS is coming from TS, so I've been told to report it here (https://github.com/Microsoft/vscode/issues/230)

This is the result when there is a "BestCommonType" error inside a class method:
![image](https://cloud.githubuserconten

[2015-11-20 15:39] teobugslayer commented on #228
@vladima, I assume this will be released in typescript 1.8, is this correct?

[2015-11-20 15:40] vladima commented on #228
Yes

[2015-11-20 15:42] teobugslayer commented on #228
Great news, thanks you!

[2015-11-20 16:09] KamyarNazeri commented on #228
@vladima Great!

[2015-11-20 16:18] SaschaNaz commented on #5731
@ahejlsberg Can we make it valid? It may allow inline type-guard which will be useful when the custom type guard function (1) only requires one single property check (2) is being used only once.

[2015-11-20 17:18] jeffreymorlan commented on #5677
Why not make it an instance method instead?
[code]

[2015-11-20 17:53] arkdemon commented on #4615
+1

[2015-11-20 18:27] RyanCavanaugh commented on #5716
@bvahdat all the hits you see for `return null;` are in our testcases. Even if we don't use `null` in the compiler, we still have to make sure it works for user code.

[2015-11-20 18:46] RyanCavanaugh commented on #5732
Text transcription of a repro:
[code]

[2015-11-20 18:51] RyanCavanaugh commented on #3672
@goleafs can you get this to be a self-contained repro? There are many promise libraries floating around out there so it's hard for us to check these things locally.

[2015-11-20 19:57] jtheoof commented on #3192
:+1: This feature would be great.

Right now, the `enums` are a bit counter intuitive from a JavaScript usage perspective. They work well for internal TypeScript code but not so much when code is used in third party apps.

It would be especially useful for bridging the gap between both worlds:

Example:

[code]

Right now, `client.hostname()` will fail because `Environments.PRODUCTION === 1`.

[2015-11-20 20:06] datoml opened #5734 "Is there an equivalent to babel/register?"
Currently we testing server side rendering with react and typescript.
I created an express server in typescript and run it on node.js with ts-node.

Babel is using require(babel/register) for on the fly transpiling.
[Babel/register](https://babeljs.io/docs/usage/require/)
Coffee script seems like to achieve the same with register.coffee
[Register.coffee](http://coffeescript.org/documentation/docs/

[2015-11-20 20:20] GoToLoop commented on #5716
* Perhaps rather than banning `null` ban `=== undefined` & `!== undefined` instead.
* Even very strict linters open exception for `== null` or `== undefined`.
* Since either of them catches both `undefined` & `null` in 1 swoop.
* `null` exists in JS in order to denote something already declared but it's not initialized yet or it doesn't have a meaningful value at that moment.

From https://develop

[2015-11-20 20:36] JsonFreeman commented on #4362
What does this proposal allow exactly? The attributes type can be any type in the world? Or just an intersection of object types? Keep in mind that an intersection of object types would not fix the `Component<P>` example above because P is a type parameter.

If the attributes can be any type in the world, what are the semantics for union types and type parameters?

[2015-11-20 20:48] aleksey-bykov opened #5735 "incorrect implementation message is the most mysterious, please demystify"
![image](https://cloud.githubusercontent.com/assets/937933/11311482/1cbea8bc-8f9e-11e5-982e-574662d61f2e.png)

[2015-11-20 21:18] #5716 closed

[2015-11-20 21:20] weswigham commented on #5731
I'd like to point out that this is also true with `as` style casts:
[code]

[2015-11-20 21:30] RyanCavanaugh commented on #5735
Normally when we issue an error like this, there's supposed to be "more" - an additional error message shown underneath this one:

![image](https://cloud.githubusercontent.com/assets/6685088/11312329/4fa94020-8f8a-11e5-9892-f24e9df66f35.png)

There can be compiler bugs that result in error messages that should have elaboration not getting them. Can you isolate the repro for getting this error with

[2015-11-20 21:37] blakeembrey commented on #5734
There's no official one (correct me if that's wrong), but I what's the issue your having with `ts-node`? What do you mean by "a well supported one" that isn't `ts-node`?

[2015-11-20 21:44] zpdDG4gta8XKpMCd opened #5737 "Make functions generic when contextually typed by a generic signature"
[code]

[2015-11-20 22:12] wycats opened #5739 "Intersection types containing `string` cannot be used as an index"
[code]

The error is demonstrated in the TypeScript playground (http://goo.gl/STqLUU) and is still present as of the latest `typescript@next`.

[2015-11-20 22:19] datoml commented on #5734
Not really an issue.

Babel-node for instance shouldn't be used in production. So I thought this will be the same with ts-node.

[2015-11-20 22:26] weswigham commented on #5739
Duplicates #5599

[2015-11-20 22:40] blakeembrey commented on #5734
It'll be the same for any system where you want to transpile in memory. However, it's possible to optimise the process a little bit (the current `ts-node` approach **is not** made for this, it keeps an entire language services instance in memory).

I'd actually love any thoughts from the TypeScript team on this, but I was considering making a new flag to enable to current in-memory process which s

[2015-11-20 22:58] billti commented on #5727
I have no ideas how that extension performs the nesting, but if it is restructuring the way items are represented in the project somehow, then it likely breaks how TypeScript infers the project contents.

@madskristensen Any insight you can provide here?

+ @paulvanbrenk

[2015-11-20 23:03] RyanCavanaugh commented on #5737
Technically this is according to per spec (I know, your favorite response), but I think we should do better here.

Section 4.2.3 (https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md#423-contextually-typed-expressions) says

We already said that we should contextually type parameters when type annotations are present somewhere --- no reason we shouldn't contextually type using the non-g

[2015-11-20 23:14] RyanCavanaugh opened #5740 "Design Meeting Notes, 11/20/2015"
* Walkthrough of JSX SFCs and `IntrinsicAttributes`
* Walkthrough of Salsa JS Class inference
* Type inference for intersection/union types
  * :+1:
* Grand unified theory of enums
  * Clear your mind and let's go on a journey of imagination :rainbow: :star:
  * Imagine a "string enum" `enum Direction { North = 'north', South = 'south', ...}`
  * `type NS = Direction.North|Direction.South`
  * Wha

[2015-11-20 23:14] #5740 closed

[2015-11-20 23:26] mhegazy commented on #5740
some additional notes on JSX and JS prototype assignments:

## JSX
* Fix `ref` and `key` unknown attribute by adding `IntrinsicClassAttributes` adds all globally available properties
* [JSX statles function components](https://github.com/Microsoft/TypeScript/pull/5596)
 * add `IntrinsicAttributes` interface
 * a valid reference in a JSX element has to be a class with a constructor returning a JSX

[2015-11-20 23:59] Elephant-Vessel commented on #5716
@GoToLoop Totally agree, null and undefined can have completely different semantic meaning.

[2015-11-20 23:59] aleksey-bykov opened #5741 "another strangeness"
[code]

[2015-11-21 00:06] weswigham commented on #5741
`string & Marker` is assignable to `string`, so `(one: string) => number` is assignable to `(one: string & Marker) => number`

[2015-11-21 00:06] aleksey-bykov commented on #5741
oh god...

[2015-11-21 00:31] #5741 closed

[2015-11-21 01:06] mhegazy commented on #5730
//cc:@billti
@billti is looking into the extensiblity portion, so i will let him comment on that. one thing to note, the connection should go both ways. i.e. the template LS worker needs to know about the TS files, but the TS LS worker needs to know about it also to be able to handle things like rename, and find all references.

for your other question about extracting decorator information, here

[2015-11-21 01:18] mhegazy commented on #1927
Not to sound like a broken record, but please see my reply in https://github.com/Microsoft/TypeScript/issues/1927#issuecomment-142804773. I believe adding [`exclude`](https://github.com/Microsoft/TypeScript/pull/3188) unblocked many scenarios, adding the full glob support is still open, but it is not on the top of the list of features that the core team is working on right now. If some one is inte

[2015-11-21 07:20] lucamorelli opened #5743 "informations about language services"
HI,
where I can find more informations about using typescript language services from csharp programs like a scaffolder and/or a visual studio extension?
When I'm able to interface to the language services, what can I do?

[2015-11-21 08:18] datoml commented on #5734
Thank you for this additional explanation.
So the difference is that ts-node is keeping it in memory and babel/register is using a cache folder?

[2015-11-21 10:22] Masclaux commented on #3317
Hi

if i remember correctly the issue appear when you continue to Step Over.

Try to break in Bakatuski.ts or MenuParser.ts .

I test it at home and look like it work now. Maybe the issue was fix with cordova tools update.

From: Sheetal Nandi
Sent: Thursday, November 19, 2015 8:35 PM
To: Microsoft/TypeScript
Cc: Jérémy Masclaux
Subject: Re: [TypeScript] Break point are not trigger in the correct

[2015-11-21 16:54] blakeembrey commented on #5734
You might have to try Babel and check, but I looked at the README and it made an assertion of a cache existence. That cache may just be metadata though.

[2015-11-21 17:42] datoml commented on #5734
I am not too experienced with node yet ;).
But under the there can't be that much difference.

Is this type also used in production I wonder?
Or do I use an compiled version?

[2015-11-21 17:43] paulcode83 opened #5744 "Automation server can't create object problem"
after i installed Typescript 1.6.3 on visual studio 2015 , when i build a project i have this error in output window :"VSTSC : tsc.js(704, 13) JavaScript runtime error : Automation server can't create object . " When i unistall it, all works correctly. what happens? has anyone the same problem?
Thank you for your time

[2015-11-21 18:55] aleksey-bykov opened #5745 "Formatter adds a extra space around embedded expressions in template literals"
[code]

[2015-11-21 19:08] DanielRosenwasser commented on #5745
Looks like a duplicate of #5030, which should have a fix in 1.7.

[2015-11-21 19:08] #5745 closed

[2015-11-21 19:46] DanielRosenwasser commented on #5743
Hey @lucamorelli, you can take a look at:

* [Using the Compiler API](https://github.com/Microsoft/TypeScript/wiki/Using-the-Compiler-API)
* [Using the Language Service API](https://github.com/Microsoft/TypeScript/wiki/Using-the-Language-Service-API)
* [A list of available APIs in our services layer](https://github.com/Microsoft/TypeScript/blob/c94dcbd770f0ed8631678c69d00e3c2d4f30613a/src/services

[2015-11-21 19:50] DanielRosenwasser opened #5746 "'this' not appropriately captured when downleveling loop with block-scoped variable"
From https://github.com/Microsoft/TypeScript/pull/5208#issuecomment-158668418 by @Nemikolh

[code]
is not correctly transformed. (The `_this` binding is not created)

Specifically the output is:

[code]

[2015-11-21 20:02] DanielRosenwasser commented on #1206
@impinball, we discussed the matter at our last design meeting (#5740). We're trying to come up with a future-proof idea where enums might individually have their own types as well, and so it's not clear exactly what the most ideal way to do that is while allowing values other than primitive literals.

[2015-11-21 22:35] DanielRosenwasser commented on #5734
@rbuckton, @weswigham, and @mhegazy might know more about this.

Is there any reason you can't just compile your project/tests and run them like that?

[2015-11-21 23:05] blakeembrey commented on #5734
@DanielRosenwasser Personally, I don't because it gets messy too quickly. I don't want specs in my compiled output since they'd end up in NPM with the way `tsc` currently works - unless I split it into two commands and two output directories. On top of that, I use fixture files that I'd have to copy from the `src` directory into the `tsc` output directory for tests to actually work and resolve pro

[2015-11-22 01:40] leonyu commented on #4689
I just encountered this bug. The issue occurred with SVG on the page.

Maybe this can be solved with generics? Though the syntax would be ridiculous. (e.g. `Node<Element<HTMLElement>>>`

[2015-11-22 04:17] vladima commented on #5734
looks like a dupe of #1823

[2015-11-22 10:31] hbakhtiyor commented on #5386
:+1:

[2015-11-22 11:04] macdevign commented on #5091
I find it useful for source file to have  its main method ( eg  java's main, ruby's __FILE__ == $0 check) so that we develop app piece by piece easily. The "main" concept allow for one to easily test and experiment with code related to the code in the file. Considering that Typescript is designed for large scale application development, having "main" as part of language feature to quickly run code

[2015-11-22 13:59] unicomp21 opened #5748 "flag return within forEach as error"
correct me if i'm wrong, TS can't handle a return within a forEach

[2015-11-22 14:35] #5201 closed

[2015-11-22 14:51] NekR opened #5749 "Implementation of interface requires members redeclaration"
[code]

Here TypeScript says that `B` incorrectly implements `A` and requires `B` to also have `foo` property with the same signature. So question is: why I need duplicate definition of properties when implement interface if I cannot override that definition anyway:

[code]

Here `B` again incorrectly implements `A`. Only way to fix it is to add `foo:Function` to `B` which absolutely has no point

[2015-11-22 15:24] lucamorelli commented on #5743
thanks

[2015-11-22 15:33] lucamorelli opened #5750 "errors for duplicate declaration when double versions of the same package is installed"
Hi,
  this is and issue I had a few times upgrading aurelia packages during the preview time, but I think may a problem even in production, because looks like that frameworks like aurelia and angular 2 are going to add .d.ts files inside the packages.
  the problem is that upgrading the standard set of aurelia packages, I can have another additional package that still references an older version o

[2015-11-22 16:28] myitcv commented on #228
@vladima does [this page](https://github.com/Microsoft/TypeScript/wiki/Compiler-Options) need to be updated to reflect this change?

[2015-11-22 16:38] vladima commented on #228
It will be updated before the release

[2015-11-22 16:38] PLEEROCK commented on #2341
+ 1

[2015-11-22 16:46] angelozerr commented on #5730
Thank a lot @mhegazy for your help! I will study your suggestion.

I'm glad that @billti works about this topic, very cool!

[2015-11-22 17:39] hessryanm commented on #1734
I'm still having this problem, even though it's marked as fixed.

Please see Gist: https://gist.github.com/hessryanm/177b0cada8c51516371e

Error is: models/Card.ts(13,14): error TS2420: Class 'Card' incorrectly implements interface 'ICard'.

[2015-11-22 17:42] hessryanm opened #5751 "Error: Class incorrectly implements interface with no reason specified"
Creating new issue because the other one is closed/fixed.

Relates to issue #1734.  I just ran into this problem again today.

See Gist https://gist.github.com/hessryanm/177b0cada8c51516371e

Error is models/Card.ts(13,14): error TS2420: Class 'Card' incorrectly implements interface 'ICard'.

[2015-11-22 18:10] mydiscogr opened #5752 "Problem about this operator"
Hi I have a problem with traspiling class and mixing it with existing es5 code to better esplain the issue I've created a repo. the problem is to use in this simple function a method of class generated via typescript

[code]
repo:
https://github.com/mydiscogr/jscontextproblem

There's is a workaround for this problem thanks

[2015-11-22 19:27] SaschaNaz commented on #5752
You are passing a prototype member function which will only work when called by the prototype chain. This will always work, BTW.

[code]

[2015-11-22 20:04] aeschli opened #5753 "TypeScript syntax highlighting wrong after decorator"
From https://github.com/Microsoft/vscode/issues/349
When adding a decorator to a variable declaration i TypeScript, both public/private and the name of the variable is plain white, while if removing the decorator both are colored correctly.

[2015-11-22 20:05] vladima commented on #5748
can you please elaborate:
- what `forEach` do you mean: [Array.prototype.forEach](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/forEach), [ts.forEach] (https://github.com/Microsoft/TypeScript/blob/master/src/compiler/core.ts#L84) or something else
- what 'can't handle return' mean

[2015-11-22 20:10] aeschli commented on #5753
Reproduced with
	class MyClass {
		@enumerable(false)
		private get prop() {
			return true;
		}
	}

[2015-11-22 20:31] Lenne231 commented on #5546
There are more and more frameworks using JSX coming up, i.e. https://github.com/garbles/yolk. So this would be very useful.

[2015-11-22 20:35] unicomp21 commented on #5748
Array.prototype.forEach, doing a return from logic within the loop doesn't seem to work.  As a workaround I assigned to a variable declare outside the loop, and then returned it.

[2015-11-22 20:46] ironside commented on #4987
It would be great if this format followed the popular [HOCON](https://github.com/typesafehub/config/blob/master/HOCON.md) format

I realize this is merged, but its the most relevant ticket I found to mention it.

[2015-11-22 23:16] Eisenspalter commented on #5677
If something is static you should not declare it as an instance member. That is not a good approach.
[code]
If you extend T like `<T extends DefaultTemplate>` the typescript compiler could implement access to static methods or variables like this `T.defaultTemplate`. That would improve typescript.

[2015-11-23 01:47] RyanCavanaugh commented on #5751
See also #5735. Can you reduce this to a self-contained repro (i.e. one that doesn't require a bunch of references to other .d.ts files)?

[2015-11-23 01:53] RyanCavanaugh commented on #5752
It sounds like you're proposing that we emit all classes as constructor functions which re-allocate a closure per method. This isn't a good idea, both in terms of ES6 compat and in terms of runtime performance (one closure per method __per instance__ is *much* worse than one closure per method). But if this is actually a question or something (I can't tell), we'll need more information to answer i

[2015-11-23 01:56] RyanCavanaugh commented on #5741
:rose:

[2015-11-23 02:19] GoToLoop commented on #5749
Stating class B implements interface A is like promising to implement each member present in A inside B.
Remember that interfaces only describe members. They don't implement anything.
Implementation is reserved for classes. Classes can extend other classes and promise to implement interfaces.

[2015-11-23 04:40] DanielRosenwasser commented on #5749
This looks like a duplicate of #340. @RyanCavanaugh explained some of the rationale here: https://github.com/Microsoft/TypeScript/issues/340#issuecomment-51098654.

[2015-11-23 04:40] #5749 closed

[2015-11-23 04:46] DanielRosenwasser commented on #5753
Hi there @martinwoodward, thanks for filing. This is tracked by https://github.com/Microsoft/TypeScript-TmLanguage/issues/8.

Just as a heads up for next time, bugs relating to VSCode's TmLanguage syntax highlighting should be filed under the [TypeScript-TmLanguage](https://github.com/Microsoft/TypeScript-TmLanguage) repo.

[2015-11-23 04:47] #5753 closed

[2015-11-23 05:10] DanielRosenwasser commented on #5720
Hopefully you're not having too much trouble! Feel free to post an issue if there's a real problem with the language, or if you're unsure of how to accomplish something there's always StackOverflow and Gitter.

[2015-11-23 05:27] vladima commented on #5748
1. TypeScript does not polyfill `forEach` so in runtime you should get the whatever behavior is provided by the runtime or was polyfilled by some another library
2. do you mean that if you return value from the callback on some iteration it does not become the `forEach`? If yes - then then this behavior per [spec](http://tc39.github.io/ecma262/#sec-array.prototype.foreach) - callback is invoked fo

[2015-11-23 05:53] #5746 closed

[2015-11-23 06:12] am11 opened #5754 "error: Property 'innnerHTML' does not exist on type 'Element'"
I am getting this error with `v1.6.3` with the following code:

[code]

To remedy it, I had to explicitly cast it as `HTMLElement`:

[code]

However, `innerHTML` is supported by `Element` interface:
https://developer.mozilla.org/en-US/docs/Web/API/Element/innerHTML.

[2015-11-23 06:33] architruc commented on #2709
:+1: for import myTemplate: string from "./my-template.html"

[2015-11-23 06:49] DanielRosenwasser commented on #5748
Yes, TypeScript is just JavaScript at runtime, so all the same libraries will have the same behavior.

[2015-11-23 06:49] #5748 closed

[2015-11-23 09:15] mydiscogr commented on #5752
prequel.
"I have wrote time ago one app in node so i would integrate with typescript"

Sorry, I would better explain the problem.
I have a simple ES5 function:

function setObjVal(fn,param){
  fn(param);
}

well I see only, that if ,fn is a method, and the object method use this operator,
in my many way to declare in es5 an object don't work.
I've found that only in one way works, with closure, as

[2015-11-23 09:18] NekR commented on #5749
@GoToLoop Thanks, I know what is interfaces and what is classes.

Exactly. This is why duplicate declaration of members shouldn't be needed.

@DanielRosenwasser I am talking here about implementation of one interface, while @RyanCavanaugh shows examples of multiple classes. These cases are not relevant, you can handle multiple implementation in other way than since implementation. Still, I want to

[2015-11-23 09:48] begemotx2 commented on #2709
:+1: for `import myTemplate: string from "./my-template.html"`

[2015-11-23 10:29] anuraj opened #5755 "Object.create with typescript with namespace"
I am using object.create to create objects dynamically. I have added one namespace in the typescript file like this. - dotnetthoughts.net.javascript with a class helloworld. It generates a file like this
[code]
Now if I am trying to create an object with dotnetthoughts.net.javascript.HelloWorld it is failing.

How can I fix this issue?

Here is what I am doing - http://stackoverflow.com/questions/

[2015-11-23 12:51] aleksey-bykov commented on #4895
**Unfortunately** as long as there is bi-variance assignability checks for function parameters (as of today) is there **the whole idea of tag types in TypeScript is worthless**: #5741

[2015-11-23 12:52] aleksey-bykov commented on #5741
RIP tag types: #4895

[2015-11-23 16:29] sandersn commented on #5712
The problem is that the initial run of `isRelatedTo` correctly finds the top-level error `'() => Container<string[]>' is not assignable to '() => Container<number[]>'`, but when `isRelatedTo` is re-run with `reportErrors: true`, it fails to find an error, setting `errorInfo` to `undefined`, which causes `createDiagnosticMessageChains` to crash.

So far I've found that `isRelatedTo` correctly ident

[2015-11-23 16:39] helios1138 commented on #3215
+1

[2015-11-23 16:45] reflectivecode commented on #5624
I'm also waiting for the 1.7.x release.

[2015-11-23 16:51] janakerman commented on #5711
Hi Ryan - thanks for the advice RE stack overflow and the advice - adding the import to `ModuleA` got things compiling as expected.

A little context here - my goal here is indeed to generate declarations for my external modules. (Something I believe isn't quite working yet? #5039?) This import may be completely necessary but It feels a little strange for `ModuleA` to need to import the symbols th

[2015-11-23 17:25] RyanCavanaugh commented on #5711
I'm not sure exactly what you're saying. What should `ModuleA.d.ts` look like in this proposal?

[2015-11-23 17:38] kitsonk opened #5756 "What is TypeScript Salsa?"
I have noticed a few things with the [tag](https://github.com/Microsoft/TypeScript/labels/Salsa) and a mention of a [Salsa server](https://github.com/Microsoft/TypeScript-Sublime-Plugin/issues/364#issuecomment-144939687), [design meeting minutes](https://github.com/Microsoft/TypeScript/issues/5740) that mention it and that some things will only be available in Salsa, but I cannot seem to find any

[2015-11-23 17:42] paulvanbrenk commented on #5727
Nothing in the project file immediately stands out as problematic, I would expect this to just work. I don't think this a problem with the 'nesting extension'.

[2015-11-23 17:42] kitsonk commented on #5729
Is anyone able to comment on if this is expected behaviour and if there is any way to avoid it?

[2015-11-23 17:56] hessryanm commented on #5751
Yep, after I posted this I figured out what the problem was - it's fairly simple.

For the record, after making this issue I realized I had read the handbook about classes/interfaces wrong, so I realize that the code I am about to post is wrong, but the issue in terms of it not explaining the problem stands.

[code]

Basically, the problem with my code was that it's the *class* that has the `new`

[2015-11-23 18:01] billti commented on #5756
It's a codename for this effort: https://github.com/Microsoft/TypeScript/issues/4789

[2015-11-23 18:01] #5756 closed

[2015-11-23 18:18] wereHamster commented on #5675
Still, the error remains. TSX in 1.6 doesn't seem to support stateless functional components. Is there a plan to add support for those?

[2015-11-23 18:47] RyanCavanaugh commented on #5675
#5596 will implement support for them

[2015-11-23 19:01] mhegazy opened #5757 "Error: Class incorrectly implements interface with no reason specified"
The fix in https://github.com/Microsoft/TypeScript/issues/1734 does not handle all cases.

From @hessryanm  post in https://github.com/Microsoft/TypeScript/issues/1734#issuecomment-158780467:

Please see Gist: https://gist.github.com/hessryanm/177b0cada8c51516371e
Error is: models/Card.ts(13,14): error TS2420: Class 'Card' incorrectly implements interface 'ICard'.

[2015-11-23 19:01] mhegazy commented on #1734
@hessryanm filed #5757 to track this issue.

[2015-11-23 19:17] mhegazy commented on #5729
this is not intentional it is a regression. @vladima can you take a look.

[2015-11-23 19:31] mhegazy commented on #5754
PRs are appreciated. here is how to send lib.d.ts PRs: https://github.com/Microsoft/TypeScript/blob/master/CONTRIBUTING.md#contributing-libdts-fixes

[2015-11-23 20:03] mhegazy commented on #5448
Sorry for the delay. first thanks for the complete write up. short answer there is not a good way to do this in VS today. @paulvanbrenk has a fix for this allowing multiple tsconfig.json files in a project, but this will not be available until 1.8.

Here are some details, the compiler supports two output modes, 1. one-to-one mapping of input to output, and 2. all-to-one concatenating all outputs i

[2015-11-23 20:03] #5448 closed

[2015-11-23 20:12] sheetalkamat commented on #3317
@Masclaux, tried your suggestion and still no repro. As you mentioned this looks fixed. I am going to close this but feel free to open it again if you run into issues.

[2015-11-23 20:12] #3317 closed

[2015-11-23 20:21] donaldpipowitch commented on #3215
I have the same problem as @glen-84. It would be nice to see a fix or recommendation how to handle this.

[2015-11-23 20:46] lucamorelli opened #5758 "typescript editor slow to refresh error state"
Hi,
  I'm using vs 2015 update 1 rc, with ts 1.7. Looks like that sometimes the typescript file editor is slow on updating the error status after changes
![untitled](https://cloud.githubusercontent.com/assets/127777/11349231/597efab0-922b-11e5-9511-13f2e6340e0b.png)

In this file I removed a parameter in the constructor, and although I have recompiled the file, the editor still show the error of t

[2015-11-23 21:12] RyanCavanaugh commented on #5757
Repro provided in #5751

[2015-11-23 21:12] #5757 closed

[2015-11-23 21:23] pankleks opened #5760 "Field annotation produces code without namespace name"
Hi, I have function for annotation:

[code]

It compiles without any errors, but generates code without namespace "planck":

[code]

it should be:

[code]

It seems to work fine with class annotations.

[2015-11-23 21:30] mhegazy commented on #5758
looks like a duplicate of #5063. this should be fixed in the next release.

[2015-11-23 21:40] RyanCavanaugh commented on #5751
Fewer-moving-parts repro:
[code]

[2015-11-23 21:59] #5712 closed

[2015-11-23 22:08] #5729 closed

[2015-11-23 22:11] jpierson commented on #1927
+1

[2015-11-23 22:32] DanielRosenwasser opened #5762 "Default initializers for binding elements are not contextually typed appropriately"
The following example should error; instead, it passes because `v` is not contextually typed and instead gets the `any` type:

[code]

The following example should be free of errors; instead the compiler errors on `prop` with an assignability error:

[code]

Error:

[code]

Similarly, with string literal types:

[code]

Error:

[code]

[2015-11-23 22:32] DanielRosenwasser commented on #5762
To whomever is assigned, please include at least all three of the above tests, each with `noImplicitAny` set.

[2015-11-23 23:10] basarat commented on #5740
thank you :rose:!

[2015-11-23 23:55] mrcrowl commented on #1007
@RyanCavanaugh, did support for `this is X` make it into the 1.6 release?
[code]
I'm doing something along the lines of the following, but it appears to be unsupported?
[code]

[2015-11-24 00:01] mrcrowl opened #5764 "Add support for "this is X" style user-defined type guards"
I'd like to use user-defined type guards in the following manner:
[code]

This use-case was suggested by @RyanCavanaugh when he opened #1007 but seems to be unsupported as of TypeScript 1.6.

[2015-11-24 00:39] mhegazy commented on #5729
@kitsonk can you give `typescript@next` a try tonight?

[2015-11-24 02:47] impinball commented on #1206
@DanielRosenwasser How does that factor into my proposal? I'm willing to withdraw it if it's not very good.

[2015-11-24 04:16] DanielRosenwasser commented on #1206
It isn't bad at all, but if we take enums in a direction where each enum member claims a type representing its value (e.g. a string enum creating a string literal type alias for each member), it isn't clear what kind of literal type we would create for each member of a non-primitive enum. That would be a weird inconsistency between a `string` enum and a `Dog` enum.

[2015-11-24 06:03] andriniaina commented on #16
This would be make code cleaner 👍

[2015-11-24 06:13] falsandtru opened #5766 "Some signatures should use union instead of overloads"
I think, this code should be correct code by fixes of lib.d.ts or type system.

[code]
## Manual: Replace to union types

Resolve by type definition.

from:

[code]

to:

[code]
## Automatic: Generate union types

Resolve by auto generated merged signature from overloads.

from:

[code]

Generate the merged signature internally, implicitly.

to:

[code]

[2015-11-24 06:45] falsandtru opened #5767 "Duplicate type definitions of XMLHttpRequest"
Duplicate some `addEventListener` signature in XMLHttpRequest interface. `onxxx` props are not, but `addEventListener` methods are duplicate. At least, this is inconsistent coding.

actual:

[code]

expected:

[code]

[2015-11-24 07:44] Masclaux commented on #3317
ok next time i provide video and a better repro :)

[2015-11-24 08:06] kitsonk commented on #5729
Yup, works perfectly with v1.8.0-dev.20151124!  Thanks @vladima and @mhegazy!!!!

[2015-11-24 08:41] Strate opened #5768 "How to force compiler to check that library imported?"
I use "Immutable-Js" in ny project. My project targets to "es6". Typical module looks like:

[code]

But sometimes I miss the `import` statement, and typescript silently compiles that. How to force to check that library is imported?

[2015-11-24 08:47] vilic opened #5769 "What is a Classic Component/Element in React declaration?"

[2015-11-24 09:49] jrieken opened #5770 "decorators in object literals not working"
_From @pascalopitz on November 19, 2015 11:43_

I am getting a parsing error for decorators on object literal properties. My jsconfig.json looks like this:

    {
        "compilerOptions": {
            "target": "ES6",
            "module": "commonjs",
            "experimentalDecorators": true
        }
    }

This code compiles okay in babel 5.8.12 using the "es7.decorators" extension.
Can I s

[2015-11-24 09:51] jrieken opened #5771 "Wrong multiline parenthesis indent (JS)"
_From @alexanderby on November 19, 2015 9:27_

When formatting JavaScript the indent of right parenthesis (that is placed on different line) is too large.
This is expected to be
[code]
but actually is
[code]

_Copied from original issue: Microsoft/vscode#181_

[2015-11-24 09:52] jrieken opened #5772 "Wrong comment indent in multiline expressions (TS, JS)"
_From @alexanderby on November 19, 2015 9:35_

When formatting JavaScript or TypeScript, comments placed between parts of multi-line expressions are placed wrong.
Expected to look like
[code]
but actually is
[code]

_Copied from original issue: Microsoft/vscode#184_

[2015-11-24 10:10] GoToLoop opened #5773 "HTMLCanvasElement.getContext() missing "webgl" type in lib.d.ts"
[code]

Overloaded `getContext(contextId: "experimental-webgl"): WebGLRenderingContext;` is missing "webgl" according to these reference sites below:
https://developer.Mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/getContext
http://www.JavaScripture.com/HTMLCanvasElement

Also all the overloaded methods got an optional `contextAttributes?: {}` parameter.
And I don't think `...args: any[]` repre

[2015-11-24 11:40] helios1138 opened #5774 "how do I use external JS module without using .d.ts or writing one myself?"
Since type definitions for external modules are sometimes either missing or outdated or in conflict with each other - is there a way to just suppress the checks for specific module to avoid `TS2307: Cannot find module ***` error?

[2015-11-24 11:42] kitsonk commented on #5768
It should be throwing an error on the 3rd line.  TypeScript will emit on error, even if it isn't valid unless you specify the `noEmitOnError`.  If the compiler still thinks it is valid, without defining `Immutable` then you must have something declared in the project that defines that in the global scope (like you are including a `.d.ts` that is saying it is in the global space).

[2015-11-24 11:48] kitsonk commented on #5774
The easiest way, is to just to declare an ambient module yourself and put it a project `.d.ts`:

[code]

[2015-11-24 11:55] NekR commented on #5749
And please, open this back. I do not want create new issue for it
On Nov 23, 2015 6:40 AM, "Daniel Rosenwasser" <notifications@github.com>
wrote:

[2015-11-24 11:59] helios1138 commented on #5774
@kitsonk, thanks.

In case anyone has the same problem: my case was a module that had a default export which is a function so apparently this works:

[code]

[2015-11-24 11:59] #5774 closed

[2015-11-24 12:09] kitsonk commented on #5749
The issues is a duplicate of #340.  While the example given demonstrates why it becomes complex when implementing multiple interfaces, it is the root cause of why the team of chosen to not implement this feature as #340 states, it is too complex and they consider it out of scope.  Opening another issue will just get it closed and marked as a duplicate again.

Your example is that you have an inter

[2015-11-24 12:11] kitsonk commented on #5774
That is a good point of why you wouldn't want to just turn it off, because having at least an idea of what the module returns (e.g. a function or a object) is useful and then lets you potentially incrementally decorate the ambient module as you want to in the future.

[2015-11-24 12:15] helios1138 commented on #5774
Makes sense. Ability to be able to incrementally decorate modules is exactly what I was looking for

[2015-11-24 14:14] glen-84 commented on #4337
I'm trying to use the type definitions for Gulp.

Are the only options right now:

1. Target ES5/CommonJS and use the old syntax: `import gulp = require("gulp");`
2. Target ES6, use the new syntax, but the definition must be changed to `export default x` instead of `export = x`.

?

For the 2nd option, if I send PRs to have various definitions updated, will that break applications using older (or

[2015-11-24 14:17] Strate commented on #5768
Yes, immutable's d.ts file contains `declare module Immutable`. Is it breaking?

[2015-11-24 14:23] myitcv commented on #5768
@Strate see https://github.com/facebook/immutable-js/pull/642

[2015-11-24 14:27] Strate commented on #5768
@myitcv merci!

[2015-11-24 14:27] #5768 closed

[2015-11-24 14:29] ahejlsberg commented on #5766
Agreed, we should fix the declaration of `split` to take a union type for the first parameter.

[2015-11-24 14:31] ahejlsberg commented on #5764
Looks like a good suggestion to me.

[2015-11-24 14:52] falsandtru commented on #5766
Thanks! Should I list up all integration targets? Such as String#match/replace/search, and more many types.

[2015-11-24 15:53] SaschaNaz commented on #5772
Duplicate of #4563?

[2015-11-24 16:30] #5769 closed

[2015-11-24 16:33] #5456 closed

[2015-11-24 16:37] ahejlsberg commented on #5456
Now fixed by #5738.

[2015-11-24 16:37] ahejlsberg commented on #2264
Now fixed by #5738.

[2015-11-24 16:38] ahejlsberg commented on #4212
Now fixed by #5738.

[2015-11-24 16:38] ahejlsberg commented on #5417
Now fixed by #5738.

[2015-11-24 16:49] jrieken opened #5775 "bitwise operations in if structure"
_From @gilberto389 on November 24, 2015 1:30_

if(window.innerWidth < 1600 <b>&</b> window.innerWidth > 1200){
....
}

the "<b>&</b>" It allowed in javascript. It is a bitwise operation
![Uploading bitwise.png…]()

http://diyo.netai.net/bitwise.png

_Copied from original issue: Microsoft/vscode#526_

[2015-11-24 17:01] wesleycho opened #5776 "TypeScript does not recognize getters with union types"
I have a particular setup

[code]

TypeScript throws an error in this situation saying `bar` does not exist on `Foo | Bar` - this is incorrect behavior IMO, especially if I have already screened out what type it is via other mechanisms.

[2015-11-24 17:34] RyanCavanaugh commented on #3812
I don't think #1260 and this are really the same thing

[2015-11-24 17:35] RyanCavanaugh commented on #5776
Duplicate of #3812

[2015-11-24 17:35] #5776 closed

[2015-11-24 17:41] RyanCavanaugh commented on #5775
As the error message suggests, `&&` is by far the better operator to use for booleans. `&` is dangerous to use for logical operations.

[2015-11-24 17:41] #5775 closed

[2015-11-24 18:16] wesleycho commented on #5776
Ah sorry, couldn't find anything mentioning union types in particular when searching for issues.

[2015-11-24 19:38] SaschaNaz commented on #5771
See also #3436.

[2015-11-24 20:03] lucamorelli commented on #5758
thanks, good news.

[2015-11-24 20:03] #5758 closed

[2015-11-24 20:49] #2869 closed

[2015-11-24 20:51] RyanCavanaugh commented on #2869
Thanks @SaschaNaz ! :tada:

[2015-11-24 20:55] RyanCavanaugh commented on #5766
It's probably worth having a script or something to find these cases.

Unfortunately we can't perform this merging on the type system side because the two forms (two overloads vs one overload with a union) actually have rather different semantics in practice.

[2015-11-24 21:05] jseanxu opened #5778 "Declaring a named module with call signature?"
I'm having trouble typing the following scenario.

defs.d.ts
[code]

main.ts
[code]

Line 2 in `main.ts` compiles fine, VS even shows the correct call signature, however, `defs.d.ts` does not compile correctly:
`error TS2304: Cannot find name 'any'`

[2015-11-24 21:30] varghesep commented on #5540
I posted a similar issue in [Stack Overflow](http://stackoverflow.com/questions/33900469/importing-rxjs-in-an-angular2-component-gives-error).

[2015-11-24 21:43] vladima commented on #5778
can you define "my/module" like this?
[code]

[2015-11-24 21:58] #3576 closed

[2015-11-24 21:58] #4963 closed

[2015-11-24 22:44] Eisenspalter opened #5779 "Use Decorators for Validation: How to extend knockout observables with Decorators using Typescript?"
I have the same issue like this guy [link to stackoverflow](http://stackoverflow.com/questions/33858657/how-to-extend-knockout-observables-with-decorators-using-typescript).

[2015-11-24 23:28] dsebastien commented on #5537
+1 for anything that will make the pain go away :)

I'm linking a set of related Angular 2 issues that shows how annoying things currently are and to help more people chime in: https://github.com/angular/angular/issues/5459

[2015-11-25 01:36] falsandtru commented on #5766
All right, I'll leave it up to you.

[2015-11-25 03:35] Beingbook opened #5783 "Why 'experimentalAsyncFunctions' compiler option is not in jsconfig.json?"

[2015-11-25 03:37] #5783 closed

[2015-11-25 03:37] Beingbook commented on #5783
how could delete it. I mistook.

[2015-11-25 03:52] basarat commented on #5783
closing is sufficient :rose:

[2015-11-25 07:00] mhegazy opened #5785 "Show bind errors in js files"
Bind errors for JS files should be valid errors, we should show them. The following errors i would expect to be flagged:

[code]

[2015-11-25 07:07] tobich opened #5786 "Method overriding rules might be too permissive"
Consider this example:
[code]

`B::checkValue(T2)` can override `A::checkValue(T1)` because `T2` is assignable to `T1` (as it is its subclass).

However, following code, while perfectly valid, will break the second assertion:

[code]

[2015-11-25 09:20] kitsonk opened #5787 "Better support for loader plugins"
Currently TypeScript does not have a good understanding of loader plugins.  Both AMD and SystemJS support the concept of loader plugins (though they vary in format).  Currently the only way to integrate a loader plugin is specify the full module name as an ambient declaration and describe the shape of what is returned.  For some plugins, this is quite a redundant activity (like a text plugin) sinc

[2015-11-25 09:29] hath995 opened #5788 "Adding methods to class prototype produces error"
I'm trying to build a class which has a number of very similar methods, such that they could be constructed using a higher order function. I want them to be saved on the class to conform to an existing interface and for convenience.

[code]
When I compile I get the error message that
line 20: Property 'add' does not exist on type 'MyObj'
Which is a little confusing considering I am adding that pro

[2015-11-25 09:30] DeadMG commented on #2304
I would really like this as well for strongly typing a function that can merge properties, e.g. _.extends. The intersection syntax can correctly tell the compiler the return type of the function, but it can't infer types for the properties of the arguments that also exist on T. Having T extend U would be sufficient I think.

[2015-11-25 09:52] weswigham commented on #5788
Try adding a declaration like
[code]
below you class to tell TS about these generated members and their types. Class & interface merging is a fairly recent addition to TS.

[2015-11-25 10:00] hath995 commented on #5788
That produces numerous errors, among them not related to generics:
Individual declarations in merged declaration 'MyObj' must be all exported or all local.
Individual declarations in merged declaration 'Series' must be all exported or all local.

I am running the nightly typescript build.

[2015-11-25 10:04] kitsonk commented on #5785
Isn't the second issue really a linting issue versus a syntax issue?  Also, if you want to trap that as an error, you need to account for `break`, `catch`, `throw` as well as `return`.  I think jshint, jslint and tslint trap all those already.

[2015-11-25 10:11] kitsonk commented on #5537
And to pile on, we have long struggled with this for Dojo: dojo/dojo2-package-template#3 and was hoping some sort of consensus would emerge and would obsolesce [dts-generator](https://github.com/SitePen/dts-generator/).

[2015-11-25 11:15] yortus commented on #5361
+1

I was about to open the same issue and found this. At present there is no combination of compiler switches that allows ES7 `async/await` to just pass through - it is unconditionally down-levelled. I'd like the option to have it pass through as-is to the rest of my build pipeline.

[2015-11-25 13:26] JerryGingerFox opened #5789 "Async/Await with custom promise when targeting ES6 and CommonJS"
Seems like tsc uses invalid class name when targeting ES6 and CommonJS, at least with custom promises in async functions.

[code]

compiled to

[code]

Instead of `return __awaiter(this, void 0, Task, function* () {});` should be `return __awaiter(this, void 0, Task_1.Task, function* () {});` since `Task` is imported as `Task_1.Task` when using commonjs.

1.8.0-dev.20151125
tsc --target es6 --modu

[2015-11-25 14:02] Victorystick opened #5790 "export [default] class A {} generates invalid ES6 module code"
Running TypeScript version 1.7.4 (the Playground version) with the following options
[code]
yields incorrect outputs in these two situations:
[code]
when I'd expect
[code]

Oddly enough, this seems to work as expected:
[code]

(See rollup/rollup-plugin-typescript#9 for the original discussion.)

[2015-11-25 14:14] teobugslayer commented on #228
I've tested with this code

[code]

and it was **successfully** compiled **without** errors using this command line

`node_modules\.bin\tsc index-async.ts --module commonjs --noImplicitReturns --target ES6`

I am using typescript by installing  `npm i typescript@next`.

Is this expected?

[2015-11-25 14:20] falsandtru opened #5791 "Plugable modular ES.next features"
I want plugable modular es.next feature implementations and lib.d.ts likes babel plugins using npm for testability, maintainability, and quick release for each plugin. This is following of ecma script specifications development style.

Or segregate the type checking and transforms.

[2015-11-25 14:34] IgorMinar commented on #3576
Awesome! Thanks Wesley.
On Nov 24, 2015 1:59 PM, "Wesley Wigham" <notifications@github.com> wrote:

[2015-11-25 14:54] Victorystick commented on #5790
This may be related to #5594, and possibly (at least partially) fixed by #5648.

[2015-11-25 14:55] WreckedAvent commented on #5788
@weswigham 's suggestion works fine for me, check out this [playground](http://www.typescriptlang.org/Playground#src=class%20MyObj%20%7B%0A%09%2F%2F%20stuff%20%2F%2F%0A%7D%0A%0A%2F%2F%20stubs%20to%20get%20the%20example%20to%20compile%0Afunction%20add(a%3A%20MyObj%2C%20b%3A%20MyObj)%20%7B%20return%20a%3B%20%7D%0Afunction%20sub(a%3A%20MyObj%2C%20b%3A%20MyObj)%20%7B%20return%20b%3B%20%7D%0A%0Afunctio

[2015-11-25 15:34] nycdotnet opened #5792 "Strongly-typed DOM access"
If I have a `textarea` element on my HTML page, the following JavaScript works:

[code]

However to get this to work in TypeScript, I'm currently forced to use parentheses like this:
[code]

This is not only ugly, but the extra parentheses remain in the transpiled JS.

It'd be great if getElementById had a generic form in lib.d.ts such as:

[code]

This would allow the much cleaner-looking TypeScr

[2015-11-25 16:13] hath995 commented on #5788
huh, it seems to be my editor plugin shows the errors when saving, but running tsc does compile just fine.

[2015-11-25 16:13] #5788 closed

[2015-11-25 17:01] vladima commented on #228
currently it is by design, `any` as promised type (and as return type) suppresses `noImplicitReturn` check

[2015-11-25 17:16] teobugslayer commented on #228
I see, thanks for the explanation.

[2015-11-25 17:27] vladima commented on #5785
Reachability checks are already in master (#4788), they just were not reported for javascript files.

[2015-11-25 17:35] vladima commented on #5789
@rbuckton can you take a look?

[2015-11-25 17:50] vladima commented on #5790
note that original example is not legal ES6 code: `export default class A {} `introduces export named `default` as well as local name `A` which will collide with `class A` declared above. Your workaround is actually the right way to go, alternatively you can use:
[code]
or
[code]

[2015-11-25 17:51] #5790 closed

[2015-11-25 17:51] NCC1701M opened #5793 "Define output folder and/or output file for declarations"
When using the declaration option the .d.ts files are all generated in the output directory of the .js files. Please provide an option to define the output directory and/or the output file for the declarations.

[2015-11-25 18:08] Arnavion opened #5794 "Add explicit error to __extends when base class is undefined"
We occasionally get people in the IRC channel asking about their transpiled JS failing with `TypeError: undefined is not an object`. It happens when accessing `b.prototype` inside `__extends` because the child class is before the base class, but they often think it's a bug in `__extends`. Would it make sense to detect if `b` is undefined at the start of the function and throw an appropriately word

[2015-11-25 18:42] mhegazy commented on #5792
I would say the ideal solution here, is if you had a some "tool" that would inspect your .html files, and generate a .d.ts file to match them, so in your case, you would generate an overload to `Document`:
[code]

now for your use case, i do not see any issue with defining your additional overload:
[code]

[2015-11-25 18:48] aleksey-bykov commented on #4868
sorry for being noisy, just curious, is a type guard something with a clean interface that can be written and tested separately or it's something baked in the code in many different places which cannot be easily abstracted/isolated?

[2015-11-25 18:49] BobFrGit commented on #313
I'm now trying to create IoT applications using Node.js and it's very disappointing that Microsoft isn't treating TypeScript as a first class language by providing VS templates to parallel the JavaScript ones. Has Microsoft given up on TypeScript?

[2015-11-25 19:16] TeamviennaJeremy opened #5795 "New Website Logo: Team Vienna Games GmbH"
Please fill the following out:

- Name: Team Vienna Games GmbH
- Homepage url: https://www.teamviennagames.com/
- Brand Guidelines/Licensing: -
- Logo: https://www.teamviennagames.com/images/logo.png

[2015-11-25 19:54] kitsonk commented on #313
Clearly not @BobFrGit, [vscode](https://github.com/Microsoft/vscode/tree/master/src/vs) is mostly written in TypeScript, @ahejlsberg plus a load of other really bright folks at Microsoft are dedicated to it.  There are several other parts of Microsoft that are starting to contribute and help with it as well, but the beauty of it all is that it is truly open source and loads of non-Microsoft folks

[2015-11-25 19:59] BobFrGit commented on #313
I appreciate all of that but my pragmatic test is whether there is TypeScript counterpart to each JavaScript template including those for windows IoT. I had to roll my own to use TS for IoT. The good news is that support has been improving -- if I create a ..ts file much of the magic happens. So it's close but ...

[2015-11-25 20:03] DanielRosenwasser commented on #4868
@aleksey-bykov what do you mean specifically? Like in the compiler itself?

[2015-11-25 20:08] SaschaNaz commented on #5792
You may want a type provider feature suggested by #3136.

[2015-11-25 20:21] mydiscogr commented on #5752
No other comment? .. a solution.

[2015-11-25 20:31] impinball commented on #1206
Okay. I'm guessing you're talking in the same vein of string literal types,
like `type Foo = "foo" | "bar"`?

On Mon, Nov 23, 2015, 23:17 Daniel Rosenwasser <notifications@github.com>
wrote:

[2015-11-25 21:26] Victorystick commented on #5790
I wasn't being clear enough. What I meant is that
[code]
transpiles to
[code]
although the target module syntax is supposed to be ES6, where you'd expect something like
[code]
to be generated. TypeScript is _mixing CommonJS with ES2015_ although the latter was requested.

[2015-11-25 21:30] lucamorelli opened #5797 "any c# to typescript compatible with asp.net 5?"
Hi,
  I'm going to start a project with asp.net 5, angular 1 and typescript, and I would like to use some tool to convert c# models to typescript, but I don't find any running under asp.net 5.
  TypeLite uses a tt file that is not installed inside the project and I don't think can run.
  Is there something available? It is possible to convert the classes creating ts file compatible with the es6 im

[2015-11-25 21:45] vladima opened #5798 "Compiler option validation errors should by reported in "transpile*" scenarios."
#5790 is a motivating example, we do not report errors in illegal scenario

[2015-11-25 21:45] vladima commented on #5790
This scenario is not supported, attempt to compile this code from the command line yields
[code]
`transpile*` currently reports only syntax errors (assuming that other errors are semantic and thus cannot be 100% trusted) however I think we should report errors that are produced during compiler option validation - #5798 tracks this.

[2015-11-25 21:51] aleksey-bykov commented on #4868
Yes, what you call a type guard in the compiler, is it something with an interface that can implemented outside of the TypeScript code (provided all *.d.ts) and later plugged into some type guard registry of some sort to be immediately available for use.

[2015-11-25 21:55] jseanxu commented on #5778
That works, thanks!

[2015-11-25 21:55] #5778 closed

[2015-11-25 23:03] DanielRosenwasser commented on #4868
`instanceof` type guards are based on the type of both sides of the expression. User-defined type-guards are based on whatever the resolved signature of the called function is.

`typeof` type guards are hard-coded because they originally were there only to support primitives, and primitives themselves are hard-coded.

[2015-11-25 23:33] sheetalkamat opened #5799 "noEmit is not handled correctly and compile on save will save the file even of noEmit is on"
Only tsc.ts checks for noEmit but that's not enough because should we not be writing file when invoked through compile on save as well?

[2015-11-25 23:37] sheetalkamat commented on #5799
b5c64ad  shows the bug

[2015-11-26 00:24] mhegazy commented on #5718
@videege any news about the logs?

[2015-11-26 00:48] mhegazy commented on #5752
Class emit in TypeScript is meant to be inline with the ES6 spec. this allows you to interoperate your classes with other ES6 classes and vice versa. TS will place methods on your prototype, and will support inheritance as well.

You can still port your implementation to TS by giving your function a type annotation as:

[code]

[2015-11-26 00:48] #5752 closed

[2015-11-26 00:53] yuit commented on #4747
@migajek sorry for very very very long overdue reply. In short, the version 1.5.0.0 beta doesn't have proper setup authorization that is why the extension page doesn't work correctly.

The new version TypeScript 1.7 will be in the VS Gallery (this will allow you to search in the Tools-> Extensions and Updates page in VS Community) as well as [here] (http://www.microsoft.com/en-us/download/details.

[2015-11-26 00:54] #4747 closed

[2015-11-26 00:55] #5147 closed

[2015-11-26 01:00] mhegazy commented on #5794
would https://github.com/Microsoft/TypeScript/pull/4343 be sufficient to address the underlying problem?

[2015-11-26 01:01] vladima commented on #5798
update: we correctly fill `diagnostics` property on the output result if `reportDiagnostics` on input `transpileOptions` is set to `true`

[2015-11-26 01:01] #5798 closed

[2015-11-26 01:03] mhegazy commented on #5793
We would like to limit the complexity of the number of options allowed by the compiler. Can you elaborate on if/why this is a blocking issue, and if using a build tool like grunt or gulp would address the issue.

[2015-11-26 01:03] vladima commented on #5790
update: we correctly fill `diagnostics` property on the output result if `reportDiagnostics` on input `transpileOptions` is set to `true`. This code
[code]
yields
[code]

[2015-11-26 01:15] #5594 closed

[2015-11-26 01:20] weswigham commented on #5790
Though if enough people see a need for it, we could conceivably support the configuration - it's just not something our emitter currently expects to need to do.

[2015-11-26 03:00] Arnavion commented on #5794
It seems to me that PR only detects child before base in the same file? Does it handle, say, base class imported from another module that also has circular reference so base class is still undefined?

[2015-11-26 04:02] hath995 commented on #5788
@weswigham and @WreckedAvent thanks for the help.

[2015-11-26 05:21] jimior2 commented on #5797
I know there's a utility call TypeLITE:
TypeLITE is an utility, that generates TypeScript definitions from .NET classes. It supports all major features of the current TypeScript specification, including modules and inheritance.
The library offers several extensibility points, so you can easily customize generated code.

reference　http://type.litesolutions.net/

Hope this could help.

[2015-11-26 05:37] #5743 closed

[2015-11-26 05:58] DanielRosenwasser commented on #393
I think we can close this now.

[2015-11-26 06:42] NCC1701M commented on #5793
I develop a web site with node.js. IDE is Visual Studio Code. I build and run the server witth Code.

At the server I have a data model and I like to use the data model classes or rather their definitions at the client side to. But I don't want to have multiple .d.ts files in the server output folder I need them as a single .d.ts file in the client source folder.

[2015-11-26 06:53] lucamorelli commented on #5797
I already tried to install it, but looks like it's based on a tt file that is installed inside the script folder, and in asp.net 5 is not installed. Anyway, I don't think I can run .tt inside the scripi

[2015-11-26 07:04] Victorystick commented on #5790
@vladima Thanks for `reportDiagnostics`; I was missing that.

@weswigham Is there any reason not to allow ES2015 modules with an ES5 or ES3 compile target? Practically all other configurations seem to be supported. Such a configuration should allow [Rollup](http://rollupjs.org) to bundle TypeScript apps, without having to rely on a separate pass just to transpile the generated ES2015 code to ES5.

[2015-11-26 09:01] mrcrowl commented on #3192
:+1:

[2015-11-26 09:44] mattkaiser opened #5801 "New Website Logo: Ericsson"
Please fill the following out:

- Name: Ericsson
- Homepage url: http://www.ericsson.com
- Brand Guidelines/Licensing: http://www.ericsson.com/article/logotype_914590152_c
http://www.ericsson.com/thecompany/press
- Logo:
![ericsson](https://cloud.githubusercontent.com/assets/11627354/11419844/170d70b2-9465-11e5-9814-bba7462f7519.JPG)

[2015-11-26 10:32] JerryGingerFox commented on #5789
Also if custom promise is referenced only as return type in async method tsc removes import from generated js.

[2015-11-26 10:52] NoelAbrahams opened #5802 "Visual Studio: Hyperlink @see to referenced type"
Hi,

In the following

[code]

it will be useful if the text referenced by [@see](http://usejsdoc.org/tags-see.html#examples) (i.e. `foo.Bar`) is hyperlinked to interface `Bar` in `file A`.

[2015-11-26 11:18] TobiasTimm commented on #2341
+1

[2015-11-26 11:30] FredOvervliet opened #5803 "New Website Logo: [AppMonkeys]"
Please fill the following out:

- Name: AppMonkeys
- Homepage url: http://www.appmonkeys.nl
- Brand Guidelines/Licensing: (no guidelines)
- Logo: http://www.appmonkeys.nl/corporate-images/AppMonkeys-logo-square-600x600.png

[2015-11-26 12:05] aleksey-bykov opened #5804 "is there a way to export more than one module per npm package via typings?"
According to [typings for npm packages](https://github.com/Microsoft/TypeScript/wiki/Typings-for-npm-packages) there can be a file specified in the `"typings"` property or an `index.d.ts` which implies that there can only be a single typescript module (javascript file + declaration file) per npm package.

Is there a way to export typings for more than one module per npm package?

[2015-11-26 12:07] danpantry commented on #247
At risk of stepping into a minefield, how is this expected to work with plain-old npm modules that *don't* have a `typings` property in package.json? Trying to use either `tape` or `get-parameter-names` with `typescript@next` causes it to blow up in my face as it is unable to find those packages due to the fact they don't have that property.

Sure, they are not typescript modules, but I can't seem

[2015-11-26 12:13] aleksey-bykov opened #5805 "Typing for nested modules doesn't seem to work"
So basically it looks like typings for npm modules only work for immediate modules. A typing that depends on a nested typing cannot export nested types.

I created a repository that illustrates the problem: https://github.com/aleksey-bykov/nested-typings-problem

If you would first build the inner module by running:
https://github.com/aleksey-bykov/nested-typings-problem/blob/master/node_modules/b

[2015-11-26 13:18] falsandtru commented on #5804
You can export many files in single file:

[code]

[2015-11-26 13:19] AbubakerB commented on #2341
Is this still on the radar? The PR is hella stale!

[2015-11-26 13:24] chanon commented on #247
@danpantry Usually you would use a normal .d.ts file written specifically for that module. The DefinitelyTyped project has .d.ts files for lots of common modules. There is a tsd utility that can help install and manage .d.ts files from DefinitelyTyped for you.

You can use normal modules without typing by just using the normal commonjs require syntax.

eg
var moduleName = require("moduleName")

[2015-11-26 13:44] danpantry commented on #247
@chanon feels like a bit of a hack to use the 'classic' `require` syntax when using the ES6 syntax with TypeScript so I can use JavaScript dependencies, but thank you. I have heard of the tsd utility but I am unsure of how that would factor in to using ES6 imports.. unless I have to start using `/// <reference path=...` for these sorts of modules?

[2015-11-26 13:48] chanon commented on #247
Yes that is one way. Another way is to us tsconfig.json files and put your root tsd.d.ts file as the first file.

[2015-11-26 13:51] frankwallis commented on #5794
Coincidentally the circular referenced superclass issue came up on stack overflow just the other day: http://stackoverflow.com/questions/33897273/typescript-and-systemjs-circle-dependency/33905499#33905499

[2015-11-26 14:01] pkozlowski-opensource opened #5806 "ES6 modules for ES5 output"
As of today specifying ES6 as a module format to transpile to with ES5 as a target will result in the "error TS1204: Cannot compile modules into 'es2015' when targeting 'ES5' or lower." error.

But having ES6 modules in the ES5 output would be beneficial for ES6-based tree-shakers like [Rollup](https://github.com/rollup/rollup).

Currently one can ES5 output with ES6 modules by using `ts.transpile

[2015-11-26 14:04] pkozlowski-opensource commented on #5806
Oh, it looks like @Victorystick opened a similar #5790, closing this one as a duplicate and moving the discussion in there.

[2015-11-26 14:04] #5806 closed

[2015-11-26 14:07] pkozlowski-opensource commented on #5790
@weswigham IMO there are 2 options:
- ES6 modules are supported for ES5 target and we can use external packagers / tree-shakers
- TypeScript provides build-in packager with tree-shaking capabilities.

I don't know what is easier from the technical point of view nor what is TS longer-term strategy / vision for packaging / bundling / tree-shaking but IMO splitting those efforts and let external bund

[2015-11-26 14:19] joewood commented on #247
You may also be interested in reading this, covering **tsd** and **typings** https://angularclass.com/the-state-of-typescript-packages/

[2015-11-26 14:20] aleksey-bykov commented on #5804
interesting idea

[2015-11-26 14:20] falsandtru commented on #5804
And you can define many modules but you should not.

[code]

[2015-11-26 14:45] aleksey-bykov commented on #5804
Mind me asking why shouldn't I?

[2015-11-26 14:50] falsandtru commented on #5804
Because you should not override other module typings. It is global namespace pollution.

[2015-11-26 15:05] aleksey-bykov opened #5807 "Is there a way to get an ambient module from typescript.d.ts of 1.6?"
Before version 1.6 `typescript.d.ts` used to be an ambient module declaration file. Now it is so called typing file. Where a typing is a sort of hybrid between an external module and ambient declaration. It [might turn out](https://github.com/Microsoft/TypeScript/issues/5805) that typings aren't always a desirable way to go.

The current `typescript.d.ts` can be transformed into an ambient declara

[2015-11-26 15:17] falsandtru opened #5808 "Disallow global namespace pollution: External ambient module declaration should not override other external module typings"
Ambient module declaration scope should be only own module(node package).

[code]

`bar` self hosted typings overridden by ambient module declarations in `foo`. This is global namespace pollution. Global namespace management should be systematic.

[2015-11-26 15:55] danpantry commented on #247
@joewood thanks for the info, last time I looked into typescript was in the days of individual `.d.ts` files. excellent article

[2015-11-26 16:06] DickvdBrink commented on #393
Yeah, think so :)

[2015-11-26 16:06] #393 closed

[2015-11-26 16:06] aleksey-bykov commented on #5537
@jasonswearingen consider using "peerDependencies" instead of "dependency" configuration property insider package.json of you xlib and app. This way you can avoid duplicates and redeclarations.

[2015-11-26 17:09] falsandtru commented on #5537
Hi, I introduce my useful typings management maintenance-free implementation compatible with .d.ts files of DefinitelyTyped. I don't want to break this model by breaking changes of typescript.

https://github.com/mochajs/mocha/pull/1933

[2015-11-26 17:19] falsandtru commented on #228
I am very glad. Great work.

[2015-11-26 17:50] falsandtru commented on #1927
+1 I already use globs with tsc.

[2015-11-26 18:01] falsandtru commented on #185
+1 I need type safety.

[2015-11-26 18:42] falsandtru commented on #9
-1 Humans cannot understand code flow using extension methods. Extension should be declarative feature.

[2015-11-26 19:07] MartyIX commented on #2965
Shouldn't this issue be closed?

[2015-11-26 22:15] robianmcd commented on #5326
just ran into this. I think either approach would satisfy most use cases. Hope to see this in a future version.

[2015-11-27 01:03] blakeembrey commented on #5804
You can not use ambient modules for the `typings` field in `package.json` so those examples would not work. Typings in NPM packages should only ever be external module declarations which limit you to exporting a single module anyway. You should not be exporting more than one module from your NPM package, since the NPM package is itself only one module.

[2015-11-27 01:09] blakeembrey commented on #5807
You shouldn't be using ambient module declarations. You can use a tool like `typings` to do this though, but if you're using node module resolution it shouldn't be needed.

For example: https://github.com/TypeStrong/ts-node/blob/master/typings.json#L11

[2015-11-27 01:11] aleksey-bykov commented on #5807
it doesn't work with nested typings
On Nov 26, 2015 8:09 PM, "Blake Embrey" <notifications@github.com> wrote:

[2015-11-27 01:13] blakeembrey commented on #5807
@aleksey-bykov Can you elaborate?

[2015-11-27 01:14] aleksey-bykov commented on #5804
Since when a typescript module is equal to a npm package?
On Nov 26, 2015 8:04 PM, "Blake Embrey" <notifications@github.com> wrote:

[2015-11-27 01:14] aleksey-bykov commented on #5807
see the link in the original issue description
On Nov 26, 2015 8:14 PM, "Blake Embrey" <notifications@github.com> wrote:

[2015-11-27 01:16] blakeembrey commented on #5804
When you publish it on NPM and use their module namespace options, you're publishing your code as a package under a single name that node will use to resolve. You can not have two modules inside the same NPM package, so TypeScript doesn't resolve like that either.

[2015-11-27 01:19] blakeembrey commented on #5807
But that issue isn't related right? I understand it's a problem you're having, but I can't comment on that right now. I answered your question in this issue. Did my answer not work for you?

[2015-11-27 01:19] aleksey-bykov commented on #5804
that's not true, you can load separate JavaScript files from under a
module:

var sub = require ('npm-module-name/separate-javascript-file');
On Nov 26, 2015 8:17 PM, "Blake Embrey" <notifications@github.com> wrote:

[2015-11-27 01:22] aleksey-bykov commented on #5807
that issue is what brought up this question in the first place, I
appreciate you opinion, but I would like to get an answer from the design
team
On Nov 26, 2015 8:19 PM, "Blake Embrey" <notifications@github.com> wrote:

[2015-11-27 01:25] blakeembrey commented on #5804
Perfect, now I understand. I was mixing the terminology of module and package since I'm coming from the NPM ecosystem where they are used interchangeably. Only ambient modules have that ability in the same file. I thought TypeScript resolved the files using that syntax already, but I could be wrong. There's a few more limitations right now that just that in TypeScript, such as not differentiating

[2015-11-27 01:36] aleksey-bykov commented on #5779
why do you need decorators? how are they better than the extend method?

[2015-11-27 06:01] dsebastien commented on #5537
The example of @falsandtru is interesting because it shows that some JS libraries maintainers are actually against including type definitions in their project. I've had the same experience with Firebase, I proposed the same thing and they did not seem interested.

Whatever the future of TS typings holds, it should provide a way to easily make the link between a typings file and some version of the

[2015-11-27 06:22] enlight opened #5809 "Compiler outputs files to the wrong directory structure"
I've noticed a couple of issues with the way the compiler resolves the output directory structure. I've created a [minimal project](https://github.com/enlight/typescript-output-dir-structure-issues) that can be used to reproduce these issues, it's setup as an NPM package, so after cloning/extracting run `npm install` to install the latest nightly build of TypeScript (support for filenames in the `

[2015-11-27 06:59] falsandtru commented on #5809
`--rootDir` option will solve your issue. See: https://github.com/Microsoft/TypeScript/wiki/Compiler-Options

[2015-11-27 07:32] louy commented on #390
I believe this shouldn't cause an error but rather a warning.
For the situation @RyanCavanaugh mentioned, a function would only be deprecated if there doesn't exist any non-deprecated implementation.
As for implementing an interface-deprecated method in a class, you should get a warning once in the class implementation, not each time you're calling the method.

[code]

[2015-11-27 08:14] kitsonk commented on #390
That syntax collides with decorators. :frowning:

Considering this hasn't seen any action in a long time, and now that the compiler parses and integrates JSDoc, it could in theory understand and warn on `/* @depecrated */` JSDoc, but is there yet the concept of warning in TypeScript or does it still consider everything an error?

Otherwise this should be the domain of something like [tslint](https

[2015-11-27 08:20] kitsonk commented on #5790
Outside of the potential of bundling, as far as the tree-shaking, that is specifically against the design goals of TypeScript and been discussed before and likely won't ever arrive.

If your external packager / tree-shaker only supported ES6 modules, I would get a different one.  I can see the value in outputting ES5 code in an ES6 module format, but I can't think of a single mainstream module loa

[2015-11-27 08:20] louy commented on #390
Yeah I know. I didn't know that the complier considered JSDoc comments. I thought we might have a reserved keyword or something.
I also think this is beyond the scope of tslint. Linting should be about coding style, not type checking.

AFAIK TS has no concept of warnings. In my opinion however, it should. Similar to ESLint's error/warning concepts.

[2015-11-27 08:32] kenfdev opened #5810 "Commenting a function in an array emits duplicate comments"
Hi all,

Commenting a function inside an array emits duplicated comments after the `ts` is transpiled to `js`.

below is an example.

[code]

The transpiled `js` file is as below

[code]

The `// 関数` part is emitted two times.  It looks like it is emitted only if the target is a function.
I apologize not having enough time to narrow down the problem further and thanks in advance.

[2015-11-27 08:33] pkozlowski-opensource commented on #5790
@kitsonk we are talking abut https://github.com/rollup/rollup here. Are you aware of any other packager that does (or at least tries) real tree-shaking?

[2015-11-27 08:44] squarepants opened #5811 "Why use double quotes for strings"
I have read this wiki [《Coding guidelines》](https://github.com/Microsoft/TypeScript/wiki/Coding-guidelines), it says we should use double quotes for strings and I have no problems with that.

But I can't stop wondering that what are the reasons behind this?

[2015-11-27 08:53] enlight commented on #5809
Thanks for the tip @falsandtru. Setting `rootDir` to `.` in bad-tsconfig.json does indeed solve the first issue, though it seems to me like that ought to be the default value of `rootDir` anyway.

Unfortunately I can't seem to fix the second issue by setting `rootDir`, I've tried modifying `src/second/tsconfig.json` like so:
[code]
but the compiler then fails to find the source files:
[code]

[2015-11-27 09:27] falsandtru commented on #5809
Correct code:

[code]

[2015-11-27 09:35] enlight commented on #5809
That does indeed work, thanks @falsandtru.

[2015-11-27 09:57] falsandtru commented on #5809
Not at all. Let's complete a issue with closing of it.

[2015-11-27 10:00] kitsonk commented on #5790
Sorry, I am clearly out of touch with the internet for 6-7 weeks since rollup came into existence.  It seems the wheel of re-invention comes around again.  I think the assertion though that tree shaking/dead code removal is not unique to rollup.  Instead of improving WebPack or Browserify, we go off and invent something new.  :cry:  (Also with dead code removal/tree [shaking coming in WebPack2](ht

[2015-11-27 10:10] pkozlowski-opensource commented on #5790
@kitsonk I'm too familiar with the lamentable state of ES6 loaders / build tools. But let's not side-track here - the issue here is very specific.

Precisely. And afaik WebPack2 will also work off the ES6 modules.

So the practical question is: how do we feed ES6-modules code into those tools. Of course I could use:
TS -> Rollup (or whatever) -> Babel (or anything that can do ES6 to ES5) but it ma

[2015-11-27 10:10] kitsonk commented on #390
I disagree... It should be about things deal with code quality, things that are syntactical errors.  tslint and other linting tools do lots of [quality checking](https://github.com/palantir/tslint#supported-rules), like unused variables, conditional assignments, switch statement drop through and defaults, etc.

In fact we draw the defenition from the [UNIX `lint` tool which](https://en.wikipedia.o

[2015-11-27 10:11] Eisenspalter commented on #5779
Cleaner constructor and class. Easier to change and maintenance things, like validation outside the class.

[2015-11-27 10:29] kitsonk commented on #5790
TS -> Rollup (or whatever) -> Babel (or anything that can do ES6 to ES5) but it makes the whole setup even more complex.

Yes, I was getting side tracked.  My personal opinion is that there is no harm in emitting ES5 code in ES6 module format (though my opinion is far from official).

Personal experience is that UglifyJS does static analysis and does a decent job of removing unreachable code.  It

[2015-11-27 10:30] sjclemmy opened #5812 "Cannot find module 'fs'"
Possibly related to https://github.com/Microsoft/TypeScript/issues/5149
I'm getting the above error when trying to compile a node reference. I've set up all the typings correctly I believe, my IDE (webStorm) is comfortable with the module name resolution and the compiled files are correct. However the compiler is still throwing these errors for core node components.
Is this a current issue or am I

[2015-11-27 10:32] kitsonk commented on #5812
What is your `moduleResolution` compiler setting?

[2015-11-27 12:22] sjclemmy commented on #5812
I wasn't aware of that flag, but I've just added it and put in 'node' as the option and I still get the error.

[2015-11-27 13:08] enlight commented on #5809
For future reference, the explanation of the `rootDir` option in https://github.com/Microsoft/TypeScript/pull/2772 is vastly better than the two short sentences written about it in https://github.com/Microsoft/TypeScript/wiki/Compiler-Options

[2015-11-27 13:08] #5809 closed

[2015-11-27 13:53] xabufr opened #5813 "Property 'matches' does not exist on type 'Element'"
Example:
[code]
Raise the following error: `Property 'matches' does not exist on type 'Element'`
Defined in DOM Living Standard
 * https://developer.mozilla.org/en-US/docs/Web/API/Element/matches
 * https://dom.spec.whatwg.org/#dom-element-matches

[2015-11-27 14:12] nycdotnet commented on #5792
Mohamed - would you be willing to take a PR for generic versions of the `document.` functions?  Perhaps if `T` extended `HTMLElement`?

@SaschaNaz I think a Type Provider is precisely what is required.  A more formalized mechanism to implement Mohamed's tool idea within the context of the language.

[2015-11-27 14:30] dbaeumer commented on #1748
@billti @RyanCavanaugh I stumbled over this today as well and found it annoying. What is the reasons behind that this is by design.

[2015-11-27 14:47] TonyValenti commented on #563
+1 for code generation.
I have been getting into angularjs and webapi and I want to make a tool that essentially creates automatic JS definitions from my c# objects and services. I want to then be able to extend these classes without having to edit the "scaffolded" JS definitions. I've see that a few other people are requesting this and it seems like we have similar use cases.

[2015-11-27 14:50] s-KaiNet commented on #563
+1 for code generation

[2015-11-27 15:24] louy commented on #390
@kitsonk okay I'm convinced. I'll open a new issue in tslint's repo then.

[2015-11-27 15:30] alexandrudima commented on #1748
:+1: I think enums and classes should follow the same or as much as possible similar rules?
[code]

[2015-11-27 18:02] myitcv opened #5814 "noImplicitReturns compile error for void functions as of 1.8.0-dev.20151126"
As of `1.8.0-dev.20151126` the following now generates a compile error when `noImplicitReturns` is specified in `tsconfig.json`:

[code]

[code]

even though the type of `x` is `() => void`

This feels like a bug to me...

[2015-11-27 18:33] DanielRosenwasser commented on #5814
@vladima this is what I mentioned in the PR; I don't think we should be this strict if there are no return statements at all. I'm going to mark this as a bug.

[2015-11-27 18:35] DanielRosenwasser commented on #5811
Hi there @squarepants, did you read the top paragraph?

[2015-11-27 18:35] #5811 closed

[2015-11-27 18:44] DanielRosenwasser commented on #5811
But to specifically answer your question, we occasionally work in languages other than TypeScript. All those languages either *require* double quotes for strings (e.g. C#, C++, F#) or at least allow double quotes for strings (e.g. Python, Ruby). It's easier not to ask people to shift their muscle memory when switching back and forth between languages.

One of the most common head-scratching proble

[2015-11-27 18:47] codebitmx commented on #2709
:+1: for import myTemplate: string from "./my-template.html"

[2015-11-27 18:57] aleksey-bykov commented on #5811
we decided to ban single quotes after a day of full text searching for
"width" in code and not being able to find it because it was written 'width'

On Fri, Nov 27, 2015 at 1:44 PM, Daniel Rosenwasser <
notifications@github.com> wrote:

--
Aleksey Bykov

[2015-11-27 21:00] lgolven commented on #5754
I would to try to fix this bug, is it possible to assigned it to me ?
Thanks !

[2015-11-27 23:46] jasonszhao commented on #1544
When I use `module: system` with `out: app.js`, I get the output in the *the cwd*/*the cwd*, like `~/Repositories/app/Users/Jason/Repositores/app`. See https://github.com/ivogabe/gulp-typescript/issues/123

[2015-11-28 02:51] DanielRosenwasser commented on #5810
Confirmed in for Version 1.8.0-dev.20151127

[2015-11-28 05:24] apapadimoulis opened #5815 "New Website Logo: Inedo"
We :heart: TypeScript, and have tightly integrated it in all of our front-ends of our products. It has made JavaScript infinitely better to work with!

- Name: Inedo
- Homepage url: http://inedo.com/
- Brand Guidelines/Licensing: open to use - http://inedo.com/company/media
- Logo: attached png, but a svg is available here (GitHub does'nt allow upload of .svg) - https://s3.amazonaws.com/cdn.inedo.

[2015-11-28 05:33] DanielRosenwasser commented on #5815
We're glad to hear that! TypeScript :heart:s you too. :smile:

[2015-11-28 05:39] DanielRosenwasser commented on #5812
WebStorm doesn't use the TypeScript language service, so I'd file an issue on JetBrains. I think their issue tracker is located at https://youtrack.jetbrains.com/issues/WEB.

[2015-11-28 05:39] DanielRosenwasser commented on #5812
Whoops, misread the original issue and removed my comment.

[2015-11-28 05:42] DanielRosenwasser commented on #5812
I'm not able to reproduce the issue. You're saying that you're getting issues at the command line, right? What version of TypeScript are you using? What are you typing on the command line to execute the compiler?

[2015-11-28 11:03] rixrix opened #5816 "AudioContextState missing in lib.d.ts"
Hi

This has been implemented in Chrome(Opera), Firefox, Safari and lately Edge.

Reference:
https://webaudio.github.io/web-audio-api/#idl-def-AudioContextState
https://developer.mozilla.org/en-US/docs/Web/API/AudioContext/state
https://dev.windows.com/en-us/microsoft-edge/platform/status/webaudioapi

[2015-11-28 11:20] falsandtru opened #5817 "Resolving contextual `this` type in object like a class declaration"
Graceful type inference proposal.

[code]

[2015-11-28 12:43] jjrv opened #5818 "Allow exporting only declarations"
Now that `outFile` supports modules, the produced `.d.ts` bundle is very similar to [dts-generator](/SitePen/dts-generator) output. It would be nice to have a command line flag to suppress actual code generation and only produce the `.d.ts` file, or to allow bundling the definitions even if the module type is commonjs or es2015.

[2015-11-28 12:57] jjrv opened #5819 "rootDir doesn't affect outFile output (and working dir always does)"
If my code is under `src/` then the `.d.ts` file produced together with `outFile` declares a module `src/moduleName` and the `.js` file contains for example `System.register("src/moduleName", ...`. Setting `--rootDir src` should IMHO remove the initial `src` component, like it does with `outDir`.

Also, whatever path is given to `tsc -p` also shows up as a prefix in paths output to `outFile`. This

[2015-11-28 14:27] arkdemon commented on #4892
+1

[2015-11-28 17:18] jasonswearingen commented on #5537
@aleksey-bykov Thanks for the detail, that indeed is helpful for my plans for xlib,  though that's not the problem I was having in this thread (which is, multiple ```d.ts``` collisions)    I might end up actually wrapping the various libs in a facade (thus normal "dependencies") if there isn't a complimentary ```d.ts``` answer to peerDependencies

[2015-11-28 18:08] joesonw opened #5820 "Class as parameter?"
Can we do something like
[code]

[2015-11-28 19:21] mydiscogr commented on #5817
+1
I Agree with you, I've post this proposal, but I dunno why is dissapear, such declaration correct some issues... and for me the current "traspiling" of a class is wrong... (for me)
so give a look here https://github.com/mydiscogr/jscontextproblem this is the demostration that current implementation is bugus :) and seems to there's not an hack to avoid such porblem

[2015-11-28 19:58] DanielRosenwasser commented on #5817
I think this is partially a duplicate of #3694 (see "Functions and 'this'").

[2015-11-28 20:00] #5444 closed

[2015-11-28 20:00] DanielRosenwasser commented on #5444
Thanks @jeffreymorlan!

[2015-11-28 20:04] DanielRosenwasser commented on #5820
You might want something like

[code]

Where the type `new () => T` means that you can call a value of that type and get a `T` out of it.

[2015-11-28 21:07] falsandtru commented on #5817
I agree. Should I merge into #3694 ?

[2015-11-29 00:32] louy opened #5821 "Suggestion: from ... import"
So one of the tiny silliest things when writing in typescript is that completion for import statements.
The ES6 spec suggests that import statements should look like this:
[code]
That spec was apparently designed to be an alternative to `var someFunc = require('./someFunc');`. They clearly didn't have autocompletion in mind, which is one of the best features in TS.

My suggestion is introducing a

[2015-11-29 00:39] DanielRosenwasser commented on #5821
We understand it can be a pain, and we've gotten this request a few times now:

* #5029
* #2371
* #4880

As I replied elsewhere:

[2015-11-29 00:39] #5821 closed

[2015-11-29 00:44] louy commented on #5821
I'm sorry I haven't seen those earlier. Reading your comments there I think I get why it's the case. We should probably request this in ES7 or something.
Cheers!

[2015-11-29 01:48] ridiculousfish opened #5822 "Variable can be used before declaration"
function foo():number {
        var v2 = 5 + v1
        var v1 = 3
        return v2
    }

When compiled, I expect this to output a warning because the variable v1 is used before it is declared. Instead it compiles without complaint, and emits a function that returns NaN.

message TS6029: Version 1.6.2

[2015-11-29 04:33] falsandtru opened #5823 "Intersection types does not work as generics"
[code]

[2015-11-29 04:39] falsandtru commented on #5822
It is correct behavior in specification of JavaScript(EcmaScript). Let's use `let` and `const` keyword:

[code]

[2015-11-29 06:56] ridiculousfish commented on #5822
I understand TypeScript is a strict superset of JavaScript and is therefore bound to participate in this insanity, but can it at least issue a warning? This use-before-declaration feature has no value and causes real bugs.

[2015-11-29 07:07] jesseschalken commented on #5822
The reason this is allowed is because the value of a variable that is declared (i.e. `var ...` for the variable occurs anywhere in the function) but unassigned is `undefined` which always satisfies the type for the variable, because all types are nullable.

So I consider this a duplicate of #185.

You're better off using `let`, or the Flow type checker.

[2015-11-29 07:08] kitsonk commented on #5822
It is a superset, which means it follows the rules...  It is valid JavaScript therefore it is valid TypeScript.  Use `let` or `const`.

A linting tool such as `tslint` would also warn you of such things.

[2015-11-29 07:16] kitsonk commented on #5823
I think you have the concept of generics wrong.  `string & number` is a single type.  Therefore it occupies a single generic type place holder.  A generic intersection, like you are suggesting.

Also, an intersection of `string & number` is useless.  How can a variable be a `string` and a `number` at the same time?

Functionally what are you trying to accomplish?  Because you code is very confusin

[2015-11-29 07:21] falsandtru commented on #5822
Restriction of @ridiculousfish wants may be a compiler option proposal such as `--noVarDeclaration`.

[2015-11-29 07:29] ridiculousfish commented on #5822
function f() {
        var equal = foo == bar
        var foo = 3
        var bar = "abc"
        return equal
    }

is valid JavaScript (and returns true!) but not valid TypeScript. So if we can disallow nonsense constructs like comparing strings and ints, maybe there's room for disallowing nonsensical constructs like use-before-declaration.

Anyways I don't mean to insert myself into the langua

[2015-11-29 07:31] falsandtru commented on #5823
Okay, I show more real example. This is a solution for formal proof, and a simple bug of generics:

[code]

[2015-11-29 10:19] jesseschalken commented on #5822
The syntax itself is a superset, but the set of valid programs is a subset. The whole point of TypeScript is to add static typing, i.e. to restrict the valid programs to those which are statically type safe, i.e. a subset. Together with the additional syntax, that makes it an overlapping set.

The only problem this thread is highlighting is the lack of null safety, i.e. #185.

To be precise, there

[2015-11-29 10:55] ridiculousfish commented on #5822
Are you wearing your ECMAScript-Standards-Lawyer hat or language-designer hat? I'd wager that 100% of use-before-declaration are either accidental shadowing of a global variable, or cut-and-paste code motion where "it works" is surprising and probably not what's intended. That's true even if there's assignment-before-use: probably the assignment was intended for a global variable, and the local va

[2015-11-29 11:47] jesseschalken commented on #5822
Sorry, since you mentioned that TypeScript "emits a function that returns NaN" as the concrete problem, and the NaN comes from the use-before-assignment, I thought your real problem _was_ use-before-assignment and you just didn't already know declaration and first assignment were different things.

It would be easy to make your code pass a use-before-declaration test without actually fixing the pr

[2015-11-29 13:31] myitcv commented on #1351
Where would this list start and end?

Is a better approach here to allow for special modules to be defined to contain such globals, which when transpiled erase the reference to the module?

e.g.

[code]

would transpile to:

[code]

[2015-11-29 14:47] sjclemmy commented on #5812
I've isolated the commands and created a new folder etc, and I can't reproduce the issue. Let me see if it's something to do with some other element in the ts file I've created.

[2015-11-29 14:54] sjclemmy commented on #5812
Found the issue.
My script has `#!/usr/local/bin/node` at the top. This causes the issue.

[2015-11-29 17:23] BBGONE commented on #5797
Look at https://github.com/BBGONE/jRIAppTS
you can take the code from this folder
https://github.com/BBGONE/JRIAppTS/tree/master/RIAppDemo/RIAPP.DataService/Utils/CodeGen

[2015-11-29 18:15] da99 opened #5825 "Where is documentation on the placement of declarations/references, etc?"
Is there any place in the [TypeScript Handbook](http://www.typescriptlang.org/Handbook), or any other documentation, that goes into detail about the placement of `/// <reference path` and similar declarations?

I've found that any code, (e.g. `"use code";`, `var my_var...`), leads to an error if placed above the declaration:

[code]
Everything compiles fine once the code is placed under `/// <refe

[2015-11-29 20:06] #5813 closed

[2015-11-29 23:07] aguzubiaga commented on #16
+1 Need this!

[2015-11-30 00:08] vladima commented on #5812
this is bug - we should ignore shebang trivia similar to what we do with other kinds if trivia when processing reference comments

[2015-11-30 00:52] remojansen opened #5826 "Type guard not working as expected in function overloading with union types"
[code]
The following works as expected:
[code]
However, when I use an union type instead of `any`in the implementation signature:

[code]

I get a compilation error:

[code]

Looks like the type guard is not working as expected. I can use an `if` instead of `if else` to fix the error:

[code]

I'm using TypeScript `1.8.0-dev.20151129` with gulp-typescript:

[code]

And the following `tsconfig.json

[2015-11-30 01:19] lbguilherme commented on #5826
error TS2339: Property 'length' does not exist on type 'Triangle'.

Just a note: 'length' indeed doesn't exist for Triangle. It should be 'base', no?

[2015-11-30 02:25] omefire commented on #5789
Trying to repro this issue, I get the following generated .js:

-- Test.js:
[code]

[2015-11-30 02:27] omefire commented on #5789
It seems to me like a require('Task') statement is missing from the generated js.

[2015-11-30 02:43] joesonw commented on #5820
But it also allows to pass anything to it (like some class did not extend from serializable) .

[2015-11-30 03:54] squarepants commented on #5811
Thank you @DanielRosenwasser , I take your point completely.

[2015-11-30 04:59] DanielRosenwasser commented on #5820
That's because your implementation of `Serializable` just requires `toString(): string`, which every type has by default anyway. That means every constructor function is structurally compatible with `Serializable`. If the method's name was something else, or you added an extra property on `Serializable` (like `__serializable: any`), then you'd get some safety here.

[2015-11-30 05:20] DanielRosenwasser commented on #5826
I think this is happening because we try to eliminate all types in the union that are assignable to `Square` in the first `else`. That's very incorrect because `Rectangle` is assignable to `Square`, but it has nothing to do with its instance identity.

[2015-11-30 06:13] #5820 closed

[2015-11-30 07:01] JerryGingerFox commented on #5789
@omefire Try this.

[code]

As already mentioned, when class is referenced only as return type tsc removes import, so it's just a part of the problem - `__awaiter` still called with `Task`, when `Dummy` uses correct `Task_1.Task`.

[code]

[2015-11-30 07:42] kitsonk commented on #5822
@ridiculousfish but this is valid typescript:

[code]

If you want eliminate code issue like that... leverage the language and use `let` and `var`.  Why impose additional arbitrary rules when there are already sufficient constructs in the language that do exactly what you want?  If you don't want use before assignment, use the proper language construct, but I have seen lots of old code the exploit

[2015-11-30 07:51] kitsonk commented on #5823
Ok... you are right, the second one should be an error but isn't:

[code]

Still confusing what you are actually trying to accomplish though functionally, like what the real use case is.

[2015-11-30 07:56] ridiculousfish commented on #5822
To be honest this is the first I've heard of `let` in TypeScript! I can't find a single mention of it in the tutorial or handbook: all of their examples use `var` exclusively, so that's what I used. Why do all of the TypeScript resources use `var` when `let` is so much better?

[2015-11-30 08:03] jesseschalken commented on #5822
`let` was only recently added to JavaScript (ES6, June 2015) and TypeScript inherited it from there. The handbook and tutorials would have been written earlier, and `var` is more common and thus less surprising to see (for tutorial/handbook purposes).

[2015-11-30 08:05] kitsonk commented on #5822
`¯\_(ツ)_/¯`

I suspect the team need to overhaul their documentation.  In fact we have `no-var-keyword` for TSLint turned on in our projects, since as you said earlier, it is a bit of JavaScript silliness that was finally addressed in ES6.  Even though when emitting to ES5, TypeScript will "save" you:

[code]

The second `bar` get emitted as `bar_1`.

[2015-11-30 09:02] falsandtru commented on #5823
It is not important... There are many usages because union types and intersection types has relation to the set theory. This is useful for the formal proof. e.g.

[code]

Okay?

[2015-11-30 09:45] nippur72 commented on #2940
One of the advantages of the closure model is avoiding references to `this` so I would keep this feature in TypeScript too (e.g. no `this.x` but simply `x` in the above code).

Perhaps there could be another keyword `closure` to be used in place of `class` since I don't think that a closure can be extended/chained like a normal class. E.g.

[code]
etc..

[2015-11-30 10:06] dbaeumer opened #5828 "Different tsconfig lookup behaviour between tsc and tsserver"
_From @tkrotoff on November 26, 2015 18:37_

Context: you can add all your .d.ts files inside tsconfig.json instead of writing `/// <reference path="my.d.ts" />` in each .ts file (way better).
It works fine with `tsc`.

Unfortunately it does not always work with vscode.

Example: https://github.com/tkrotoff/vscode-tsconfig.conf-issue
[test/tsconfig.json](https://github.com/tkrotoff/vscode-tsconfig

[2015-11-30 10:06] dbaeumer commented on #5828
@tkrotoff when running tsc in the src directory it will only compile Foo.ts since the tsconfig.json file inside the src directory only lists that file. If you run the tsc command inside the test folder it will use the tsconfig.json from there.

If you open the Foo.spec.ts file we try to find a tsconfig.json file to use. The rule the tsserver uses is to look for the first tsconfig.json file in the

[2015-11-30 10:06] dbaeumer commented on #5828
Adjusted the title to reflect the problem in TS land. To reproduce do the following after cloning the example:

* cd test
* tsc -p .

Observe: the Foo.spec.ts file is compiled nicely

Try to open Foo.spec.ts in a editor like Sublime or VSCode. The tsserver always picks the tsconfig.json file in the src directory using its defined lookup rules.

[2015-11-30 10:41] tkrotoff commented on #5828
This is exactly what I want to avoid :-) I want my tests as close as the code as possible. Instead of separating my code by type of files (controllers, templates, tests, models...), I prefer to regroup files by features/modules (this is very common nowadays).

Example:
[code]
vs
[code]

Anyway, TypeScript/vscode/tsserver should be agnostic about the way code is organized and should not add any lim

[2015-11-30 11:08] dbaeumer opened #5829 "TS Server should inform 'clients' about recomputed diagnostics"
Clients currently need to actively request diagnostics for TS files from the tsserver. The are not pushed 'automatically' by the tsserver. This causes problems when the tsconfig.json file changes. Consider the following test case:
- a TS file with use of decorators.
- tsconfig.json doesn't have a experimentalDecorators flag.
- editor shows a corresponding error

User edits the tsconfig.json file a

[2015-11-30 11:17] dbaeumer commented on #5828
@tkrotoff I already moved the issue to TS. It is #716

[2015-11-30 12:30] pankleks commented on #5760
Any updates on that? are you able to reproduce? Can I help?

[2015-11-30 14:51] adidahiya commented on #5822
@ridiculousfish yeah, as @kitsonk said, I'd suggest trying out TSLint for stricter control over TS semantics like this. Some relevant lint rules: `no-var-keyword`, `no-use-before-declare`, `no-unused-variable`, `no-duplicate-variable`, `no-shadowed-variable`, etc.

[2015-11-30 16:40] aleksey-bykov opened #5830 "fluent api style method chain formatting problem"
Seen in 1.8 nightly build (1.8.0-dev.20151130)

[code]

[code]

[code]

[2015-11-30 16:45] aleksey-bykov opened #5831 "fluent api style method chain formatting problem - 2"
Seen in 1.8 nightly build (1.8.0-dev.20151130)

[code]

[code]

[code]

[2015-11-30 17:09] yuit commented on #5718
@videege I will am going to close this bug for now. If you still run into an issue again, please feel free to reopen the bug.And feel free to send us the log. Thanks!

[2015-11-30 17:16] mhegazy commented on #5813
thanks @xabufr!

[2015-11-30 17:23] #5812 closed

[2015-11-30 17:26] tkrotoff commented on #5828
@dbaeumer

You can delete [your comment](https://github.com/Microsoft/TypeScript/issues/5828#issuecomment-160601868): issue 716 is unrelated. We are already commenting on the TS issue :-) I've quoted you just to thank you.

[2015-11-30 17:38] vladima commented on #3436
closing this issue since it was marked as fixed few months ago

[2015-11-30 17:38] #3436 closed

[2015-11-30 17:41] SaschaNaz commented on #3436
Not completely fixed, but I think the remaining problem should be posted as a separate issue.

[2015-11-30 17:45] #4715 closed

[2015-11-30 17:51] vladima commented on #3436
@SaschaNaz can you please file it it so we can understand what part of work is not finished yet?

[2015-11-30 17:51] mhegazy commented on #1748
Enums are compared in a nominal fashion. similarly classes with private or protected members. so in the example above, if you add a private member the behavior will be identical to enums.

The rational was that enums represent disjoint subtypes of number, and that trying to assign one value from one enum to another (even if the enums were identical in structure) is probably an error that the user

[2015-11-30 17:55] aksharpatel47 opened #5832 "Incorrect definition of createIndex function of IDBObjectStore"
I'm trying to create a composite index in Indexeddb such as

[code]

but I'm getting an error in the keyPath field due to the createIndex function having the following signature

[code]

I checked the IndexedDB specification on w3.org and it states that keyPath can be a string or an array of strings. Hence, the function should have the following signature:

[code]

[2015-11-30 18:41] saschanaz opened #5834 "Keep indentation level consistent in a multiline list"
Copied from #3436:

[2015-11-30 18:42] SaschaNaz commented on #3436
Okay, I just opened #5834.

[2015-11-30 18:45] ahejlsberg commented on #5823
This isn't a bug. The problem is that class `Bar<T>` never actually references `T` itself in a *member* so all instantiations of `Bar<T>` are structurally compatible. In particular, note that use of `T` as a type argument doesn't necessarily cause any members to reference `T`. If you add a member that actually references `T` you will indeed see an error (as is the case with the `Foo<T>` class).

[2015-11-30 18:51] aleksey-bykov commented on #5823
would it be an option to add pseudo fields for the type parameters that don't have a property (a member referring to them)?

[2015-11-30 19:20] weswigham commented on #5823
A type argument which doesn't change the structure of a type doesn't affect its structural equality. If you need it to behave as though it does, that's on you to add the dummy brand member. Its not "counterintuitive" - its consistent with the rest if the type system.

[2015-11-30 19:21] zhengbli commented on #3583
I have a PR fixing this at https://github.com/Microsoft/TSJS-lib-generator/pull/24
If you want to take a look @mhegazy @sockfish

[2015-11-30 19:22] falsandtru commented on #5823
@ahejlsberg thank you for your explain. I mostly understood that. There is one thing that bothers me. Is that a trade off for the performance or the optimization?

[2015-11-30 19:26] aleksey-bykov commented on #5823
@weswigham, I speak for myself and @falsandtru who, as we see, happen to tip over it too. My code is full of dummy brand members ever since I was told I have to use them in order to make the type system to consider the type parameters that otherwise ignored (although present because written on purpose). Hence the question, if the type parameter is already declared in the type why we default to ign

[2015-11-30 19:28] kasajian commented on #5448
Thanks for the input.

So I'm curious about a feature request to support this, in a way that seems sensible.    I now understand that the two scenarios we've been talking about are considered two output modes of the compiler, as you defined above.   Perhaps there can be a third output mode to support this.  First, could it be done in a simply-to-understand way.   Second, is it main-stream enough t

[2015-11-30 19:30] aleksey-bykov commented on #5823
the very idea of brand members is sucked out of the thumb, there is no other language out there that requires dummy properties to make their type system work

[2015-11-30 20:04] falsandtru commented on #5823
Probably, this is incorrect behavior as a theory but this is not a bug as a type resolution. This is a selection of the design. Thanks.

[2015-11-30 20:04] #5823 closed

[2015-11-30 20:09] aleksey-bykov commented on #5823
so it was proclaimed by design that the "structural" can only come from the members but not from the type arguments, if we take it as a definition of what structural is then yes, structural has nothing to do with the unused type parameters

but if we consider the type parameters (declared with as much consciousnesses as any other member of a type) as a different part of being of "structural" that

[2015-11-30 21:08] falsandtru commented on #5823
I know, it is not a better behavior. It is violation of the principle of least astonishment. But all things are the balance and the demand.

[2015-11-30 21:10] v7r7 commented on #2709
:+1: for import myTemplate: string from "./my-template.html"

[2015-11-30 21:13] rdogmartin opened #5837 "New Website Logo: Gallery Server"
Please fill the following out:

- Name: Gallery Server
- Homepage url: https://galleryserverpro.com
- Brand Guidelines/Licensing: None specified
- Logo: https://galleryserverpro.com/wp-content/uploads/2015/11/gallery_server_digital_asset_management.png

[2015-11-30 21:21] aleksey-bykov commented on #5823
If ignoring an unused type parameter had **one single meaningful use case**, then yes, we would have been talking about trade-offs.

**here is no such cases.**

What we see instead is that **always** when there is a type parameter there is **either** a real member **or** a dummy surrogate. So there are trade-offs between one situation or another, there is one single 100% same situation. All type p

[2015-11-30 21:50] sheetalkamat opened #5838 "Should javascript files report errors like cannot find module?"
moduleTest\a.js
[code]
After compiling this as
[code]
no errors are reported.

[2015-11-30 21:56] sheetalkamat commented on #5838
https://github.com/Microsoft/TypeScript/commit/5657469666c8257a9e6bb32d02925e074bf9e522#diff-5f84377bdd5fb13a5afbefcee52563d2R10 shows has testcase for this

[2015-11-30 22:19] domoritz opened #5842 "Type guards don't work for interfaces with only optional properties"
For some reason type guards to not work if an interface has only optional properties.

[code]

[2015-11-30 22:21] omefire commented on #5789
@JerryGingerFox , Adding the 'Dummy' method, I've been able to repro and get the same results as you.
I'll keep investigating the issue ...

[2015-11-30 22:30] jiaweihli commented on #5236
@RyanCavanaugh
With the release of abstract types, this solution no longer works in all scenarios.

[code]

On a related note, interfaces and abstract classes feel a bit kludgey since I can't seem to verify that an arbitrary object actually conforms to them.  I can require them as parameter types and use user-defined type guards, but there's no generic equivalent to `instanceof`.

[2015-11-30 22:30] jiaweihli opened #5843 "Generic `{ new(...args: any[]): T }` parameter doesn't work for abstract classes"
Following up on https://github.com/Microsoft/TypeScript/issues/5236#issuecomment-147738916, the proposed solution doesn't cover all bases now that abstract classes are supported.

[code]

On a related note, interfaces and abstract classes feel a bit kludgey since I can't seem to verify that an arbitrary object actually conforms to them.  I can require them as parameter types and use user-defined t

[2015-11-30 22:30] jiaweihli commented on #5843
@RyanCavanaugh

[2015-11-30 22:44] jesseschalken commented on #5843
As a guess, the error seems to suggest there is a way to denote an "abstract constructor type" (eg `typeof A`), which would solve your problem. Maybe `abstract new (...args:any[]) => T` or something?

[2015-11-30 22:48] jiaweihli commented on #5843
I interpreted the error to mean that `typeof A` is an abstract constructor type.  Normally (as a non-abstract type), this is fine since `typeof A` is a subset of `new (...args: any[]) => A`.  But it looks like abstract types don't have an equivalent superset?

[2015-11-30 22:53] mhegazy commented on #5843
the error is that `A` is not constructable. your function `isType` says it expects things that it can construct, though in the implementation it never constructs anything. so you can not pass an abstract class to a function that may use it to construct objects. consider:

[code]

i think we need a way to enable the scenario, though this needs a propsal

[2015-11-30 23:01] blakeembrey commented on #4692
I just wanted to see if there's any renewal of this issue. I just discovered with https://github.com/TypeStrong/ts-node/issues/43#issuecomment-160785145 that node supports some ES6 features but doesn't seem to support others such as destructuring. Seems like a pretty major bottleneck for people wanting to use ES6 features but using a runtime like node. It would be great to have something like:

[c

[2015-11-30 23:45] #5564 closed

[2015-11-30 23:48] rbuckton commented on #5789
This is a regression. This used to work correctly, but a recent change to fix another issue regressed this functionality. I've added a test to validate this issue and prevent future regressions.

[2015-12-01 00:16] #5814 closed

[2015-12-01 01:00] joeduffy opened #5844 "Unnamed default exports don't work with `--t es6 --m commonjs`"
Compiling the following code:

[code]
Using the command line `tsc --t es6 --m commonjs` produces illegal JavaScript:

[code]
I realize this is a weird combination of switches, however it seems necessary to target current versions of Node.js/V8 that don't yet natively support ES6 modules.

[2015-12-01 01:15] weswigham commented on #5844
[This conditional](https://github.com/Microsoft/TypeScript/pull/5648/files#diff-20a9fa4d3e9d09f60c275a3dda245867L5522) needs to be updated to emit the temp name if the class is an exported default class when not targeting ES6. Forgot about unnamed classes when adding tests in #5648.

While looking at it, it would probably also be a good idea to verify all of the results with functions and unnamed

[2015-12-01 01:33] blesh opened #5845 "Need something more robust than polymorphic `this` typing for RxJS"
I was pretty excited about `this` typing for RxJS, since it does have a sort of "fluent" style interface. However we have some issues with it that are discussed here: https://github.com/ReactiveX/RxJS/issues/846

Basically, we have operators that return same-shaped, but different generic types:

`map` for example: `Observable<T>.prototype.map<R>((value: T) => R): Observable<R>`

The reason we were

[2015-12-01 02:04] eggers opened #5846 "Does the TypeScript implementation of `for...of` call the `return` function of `IterableIterator`?"
for example:

[code]

[2015-12-01 02:44] eggers commented on #5846
Similarly, this:

[code]

[2015-12-01 03:01] aleksey-bykov opened #5847 "formatting problem with union types"
[code]

[code]

[code]

[2015-12-01 03:11] vvakame commented on #5844
same as unnamed function.

[code]

[2015-12-01 03:12] alvarorahul opened #5848 "Some comments get stripped out of JS output"
The following TS file

[code]

produces the following JS output

[code]

NOTE that the comments // Test 3 and // Test 4 are not present

I would expect that all comments in the TS file are preserved in the generated JS file

[2015-12-01 03:49] yortus commented on #4692
I'd also be interested if the team has had further thoughts on this. In the v1.7 release (congrats team on this and thanks!) blog post it states:

[code]

But to take @blakeembrey's example, anybody doing this and using destructuring in their code will find themselves getting runtime errors from node but no errors from `tsc`. And more of this kind of situation can be expected in future as ES7 matu

[2015-12-01 05:37] lucamorelli commented on #5797
thanks, I'm giving a look but remove all the dependencies to the framework code is a bit hard I think

[2015-12-01 05:39] Arnavion opened #5849 "Massive slowdown in compiling complicated union types"
This is the same code as what originally prompted #2997

While it isn't crashing because of infinite loops any more, it *has* become very slow with 1.7. If I pause it in the debugger I see the following stack repeating many times.

[code]

Reduced test case:

[code]

Compile with `tsc foo.ts` on node 4.2.2 x64 on Windows 7.

This takes ~18s on my machine. If I remove `Module` from the union type a

[2015-12-01 05:48] denis-sokolov opened #5850 "Array.prototype.filter definition forces a boolean"
It is natural to use `Array.prototype.filter` to filter items with missing information:

[code]

Unfortunately, this [does not compile](http://www.typescriptlang.org/Playground#src=%0Atype%20Foo%20%3D%20%7B%20prop%3A%20string%20%7D%0A%0Aconst%20a%3A%20Foo%5B%5D%20%3D%20%5B%0A%09%7B%20prop%3A%20'bar'%20%7D%2C%0A%09%7B%20prop%3A%20null%20%7D%2C%0A%09%7B%20prop%3A%20'baz'%20%7D%0A%5D%20%0A%0Aa.filter

[2015-12-01 05:53] yuit commented on #2435
This seems to be similar issue with #1507

[2015-12-01 05:59] vladima commented on #5849
@Arnavion can you give a try to typescript@next. Seems that this issue is already fixed in master. I can confirm that it takes 17.50 s on my machine to compile your sample using release-1.7, however on master it takes only

[2015-12-01 06:04] nycdotnet commented on #5792
I wrote a little spike to inventory HTML files:

https://github.com/nycdotnet/html-to-ts-definition/

I suppose this would be a good way to achieve the automatic strongly-typed functionality.

I will submit a PR for the generic `document.getElementById`.

I'll close this in favor of #3136.

[2015-12-01 06:04] #5792 closed

[2015-12-01 06:06] JsonFreeman commented on #2435
Indeed it is. I don't see a conceptual difference. Sorry for the redundant bug. You can close it, and just add this case as a test for the other bug.

[2015-12-01 06:08] yuit commented on #2435
Thanks @JsonFreeman! a :cookie: point for you :)

[2015-12-01 06:10] Arnavion commented on #5849
Yes, looks like it. The original code also takes ~2s with next, same as 1.6.

[2015-12-01 06:28] Arnavion commented on #5849
Can the fix be backported to 1.7 or do I skip it and wait for 1.8?

[2015-12-01 06:31] mhegazy commented on #5849
depends on the fix. @vladima do you know what is going on?

[2015-12-01 06:37] hsinha commented on #2232
+1 A require hook (like Babel) would be extremely useful

[2015-12-01 06:47] mhegazy commented on #5850
how about:
[code]

Alternatively, you can define a new signature for filter in a file in your project as such:

[code]

[2015-12-01 06:59] SaschaNaz commented on #5847
I think this and #5834 have same problem. Another example:

[code]

[2015-12-01 07:05] mhegazy commented on #294
this is addressed by the node module resolution enhancements in https://github.com/Microsoft/TypeScript/issues/2338.

[2015-12-01 07:05] #294 closed

[2015-12-01 07:05] vladima commented on #5849
yes:  https://github.com/Microsoft/TypeScript/pull/5738. If source and target types are unions or intersection then removing matching constituents from source and target sides significantly reduces amount of types that participate in type inference.

[2015-12-01 07:09] mhegazy commented on #1274
duplicate of #3583, and should be fixed in https://github.com/Microsoft/TypeScript/pull/5836

[2015-12-01 07:09] #1274 closed

[2015-12-01 07:13] mhegazy commented on #4992
PRs are welcomed. We will need to create a new es7.lib.d.ts along the lines of https://github.com/Microsoft/TypeScript/blob/master/src/lib/es6.d.ts

[2015-12-01 07:16] myitcv commented on #5814
:+1: thanks very much! Confirmed all is good as of `1.8.0-dev.20151201`

[2015-12-01 07:19] mhegazy commented on #1003
The original issue is addressed by #5185. the remaining part is extending the type guards to support the string literal types. but this should be tracked by a different issue.

[2015-12-01 07:19] #1003 closed

[2015-12-01 07:19] denis-sokolov commented on #5850
Well, yes, type casting is the current way to appease the compiler.
My point was that we probably would want to not need to appease the compiler.

Sure, thanks for the suggestion. I know how to do that.

My point was not how to workaround this limitation in my project, I have no problem with that.
My point was to suggest an improvement to the core for the benefit of everybody.

[2015-12-01 07:21] DanielRosenwasser commented on #5843
We've discussed this issue elsewhere, and this is not the only thing a construct signature is used for. One specific scenario is checking `super` calls as well. Any solution to this problem should enable the user to extend a given value with a subclass as well.

[2015-12-01 07:30] #5584 closed

[2015-12-01 07:30] #5224 closed

[2015-12-01 07:32] jiaweihli commented on #5843
Right, I got burned by that a few times when learning TypeScript - this is why I only use the `{ new(...args: any[]): T }` syntax now.  I haven't found any real uses for `typeof T`, outside of strict type bounds (which I haven't encountered).

[2015-12-01 07:33] mhegazy commented on #4828
PRs are welcomed.

[2015-12-01 07:33] DanielRosenwasser commented on #5850
We've run into this sort of problem with `lib.d.ts` a few times now (e.g. #4002). JavaScript is technically okay with a lot of things, but basically it comes down to trying to help users catch mistakes when we can. Forgetting to add a condition is an easy mistake, and `!!` is such an easy remedy for when you want to say "It's okay, I know what I'm doing."

If we did ever want to fix this, we could

[2015-12-01 07:34] mhegazy commented on #4800
After discussion this some more, 1. npm v3 and later should flatten by default, so no additional work needed by the compiler, and 2. enums should not be compared nominally, see https://github.com/Microsoft/TypeScript/issues/5740

[2015-12-01 07:34] #4800 closed

[2015-12-01 07:40] mhegazy commented on #5285
this should be handled with the new `--allowSyntheticDefaultImports` in https://github.com/Microsoft/TypeScript/pull/5577

[2015-12-01 07:40] #5285 closed

[2015-12-01 07:46] mhegazy commented on #1915
see my reply in https://github.com/Microsoft/TypeScript/issues/1915#issuecomment-73096530

[2015-12-01 07:46] #1915 closed

[2015-12-01 08:06] mhegazy commented on #5448
with the two modes the compiler support 1:1 and n:1, you can get all the combinations you need, you just need to run the compiler multiple times, once for each output. i do not see why we need the compiler to do be able to do everything in one shot.
i understand the scenario you want to achieve, the limitation is not that the compiler can not handle m:n output mode, the limitation is the build sys

[2015-12-01 08:22] BBGONE commented on #5797
another option for  you
https://www.nuget.org/packages/Fonlow.Poco2Ts/
https://webapiclientgen.codeplex.com/wikipage?title=Fonlow.Poco2Ts

[2015-12-01 09:04] denis-sokolov opened #5851 "Mix indexed and non-indexed properties"
How can I specify that I accept any object, whose property values are `T`?
Here is my experience so far ([Playground](http://www.typescriptlang.org/Playground#src=%0Afunction%20foo(param%3A%20%7B%5Bk%3A%20string%5D%3A%20number%7D)%20%7B%0A%7D%0A%0A%2F%2F%20This%20is%20not%20an%20error%2C%20correct%3A%0Afoo(%7B%20a%3A%202%20%7D)%0A%0A%2F%2F%20This%20should%20not%20be%20an%20error%20either%3A%0Afoo(

[2015-12-01 09:17] synaesthesia commented on #5848
Known bug: #1311

[2015-12-01 09:19] denis-sokolov commented on #5850
@DanielRosenwasser, you’re right, this is a judgement call about inconvenience vs catching errors.
It is up to you, of course, to make the call.

Do consider, that in my point of view, `.filter` is equivalent to an `if` statement. And surely you [do not plan](http://www.typescriptlang.org/Playground#src=const%20foo%20%3D%20'value'%0Aif%20(foo)%20%7B%0A%09%0A%7D) to enforce mandatory type conversio

[2015-12-01 10:20] denis-sokolov opened #5853 "Typecast sometimes warns about an error when properties don't align"
Some inconsistent behavior in errors on type casts.
In the following example, I expected consistency - either x and y is an error, or none of them are.

[code]

[Playground](http://www.typescriptlang.org/Playground#src=%2F%2F%20No%20error%0Aconst%20x%20%3D%20%7B%20a%3A%20'a'%20%7D%20as%20%7B%20a%3A%20string%2C%20b%3A%20string%20%7D%0A%2F%2F%20Error%0Aconst%20y%20%3D%20%7B%20a%3A%20'a'%2C%20c%3A%20

[2015-12-01 10:29] kitsonk opened #5854 "Suggestion: Generics and JSDoc"
Related to both #2913 and #2916, it is great having support for JSDoc annotations.  One thing that does make using TypeScript with JSDoc a little bit of a challenge is how to annotate Generics.  You can supply a lot of information to a consumer of the API now, but if you have generics, the consumer might be left wondering "what is this generic used for, what should I pass?"

There doesn't seem to

[2015-12-01 10:33] weswigham commented on #5854
[Actually, the closure compiler specifies `@template` for generics](https://developers.google.com/closure/compiler/docs/js-for-compiler?hl=en). The closure compiler jsdoc support list is more complete, from a type system perspective.

[2015-12-01 10:37] kitsonk commented on #5853
I think the answer is that the value of `x` is a compatible shape with its type... `x.b = undefined` would be a valid type structure.  Where as `y.c` is a different structure that isn't compatible with `{ a: string, b: string }`.

As of 1.6 and strict object literal checking, you cannot have excess properties... `y.c` is an excess property for an object literal.  Prior to 1.6, `y` would not be an

[2015-12-01 10:42] kitsonk commented on #5854
@weswigham thanks! Ok, then I suggest the following:

[code]

The one limitation is that it `@template` doesn't seem to have a structure for narrowing the type of generic.

[2015-12-01 10:43] denis-sokolov commented on #5853
@kitsonk, that is a very reasonable hypothesis. Sorry I forgot to include a case which possibly disproves it:

[code]

[2015-12-01 10:49] kitsonk commented on #5853
Ok, I give up! :smile:

[code]

`¯\_(ツ)_/¯`

[2015-12-01 10:53] denis-sokolov commented on #5853
I do not understand TypeScript very well, but it is my understanding that `as` is supposed to silence the type-checked and trust the developer. In that case, only the `y` being an error is a bug. The rest is consistent with the hypothesis.

[2015-12-01 12:07] Riim commented on #4736
+1

[2015-12-01 12:54] crobi opened #5855 "Opaque types for WebGL"
WebGL types are included in the default `lib.d.ts`. However, most types are defined as empty interfaces, which means that the compiler doesn't catch many WebGL errors.

Consider the following code:
[code]

- The second parameter of `gl.bindFramebuffer` should be a `WebGLFramebuffer` object, but passing a `string` does not emit a compile error or warning.
- The type `WebGLFramebuffer` can only be c

[2015-12-01 14:29] ali-abdalla opened #5856 "parse identifiers automatically"
Here's a simple code from my project

[code]

it compiles successfully. How is that ?!

[2015-12-01 15:12] bryanerayner opened #5857 "Proposal: Passing Arguments by Name"
When a function has multiple optional arguments, callers of the function must use `undefined` to get the default, optional value.

## Proposal

Add a syntax allowing function arguments to be passed by name. Unless there is a better suggestion, I propose the use of `:=`. This would be sugar, and rewrite the call site to invoke the function properly. A syntax error would be thrown if the argument na

[2015-12-01 15:17] kitsonk commented on #5857
Personal opinion... it is anti-TypeScript design goals:

Non-goal:

Object destructuring in ES6 with the combination of the terse object literal declarations in ES6 (both downward emittable) are more than sufficient to cover this type of functionality.  TypeScript isn't trying to be a new language, it is trying to be a superset of JavaScript.  This sounds a lot like a new language.

[2015-12-01 15:21] kitsonk commented on #5856
TypeScript by default always emits on error, but there is [an error reported with your example](http://www.typescriptlang.org/Playground#src=class%20CommentId%20%7B%0A%20%20constructor(public%20value%3A%20number)%20%7B%7D%0A%7D%0A%0Alet%20id%20%3D%20new%20CommentId(%22Text%22)%3B%0A).

To have no emit on error, you need to enable the `noEmitOnError` [compiler option](https://github.com/Microsoft/T

[2015-12-01 15:44] IceDragon200 opened #5858 "Specify a tsconfig.json for use with `tsc` on the command line"
Expected:
[code]

If tsc is able to load a `tsconfig.json`, why can't I specify what to load?

Certainly I could use the `@text.txt` format, but that's no fun, I even tried tsc `@tsconfig.json` only to be met with errors (you couldn't extract the extension from the filename and just load it as a json file, like really?).

[2015-12-01 15:50] nippur72 commented on #4014
I've just installed VS2015 update 1, finally getting rid of this annoying bug. Thanks! :smile:

[2015-12-01 16:39] nmalaguti commented on #5844
This also appears to be a problem with named classes that are default exports.

[code]

**example.ts**
[code]

**subExample.ts**
[code]

[code]

**example.js**
[code]

**subExample.js**
[code]

When run with node v5:
[code]

[2015-12-01 16:59] mhegazy commented on #5858
the flag name is `--p` or ``--project` and not `config`. it takes the path the the folder containing tsconfig.json, and starting with 1.8, it will allow a full path to the file (see https://github.com/Microsoft/TypeScript/issues/2869)

you can find more information about this in https://github.com/Microsoft/TypeScript/wiki/tsconfig.json#using-tsconfigjson

[2015-12-01 16:59] #5858 closed

[2015-12-01 17:02] #5856 closed

[2015-12-01 17:04] mhegazy commented on #5857
looks like a duplicate of #467

[2015-12-01 17:04] #5857 closed

[2015-12-01 17:13] kitsonk commented on #467
(Said originally this on #5857)
Personal opinion... it is anti-TypeScript design goals:

Non-goal:

Object destructuring in ES6 with the combination of the terse object literal declarations in ES6 (both downward emittable) are more than sufficient to cover this type of functionality.  TypeScript isn't trying to be a new language, it is trying to be a superset of JavaScript.  This sounds a lot like

[2015-12-01 17:17] spion commented on #52
It seems like this doesn't work if the module is exported by assignment?

[code]

[2015-12-01 17:26] myitcv commented on #5285
@weswigham @mhegazy - thanks very much for implementing this.

[2015-12-01 17:30] mhegazy commented on #5855
@crobi you raise two issues, the first about `WebGLObject` being an empty object, and this should be fixed, either by updating the WebGL definitions or by just adding a `constructor` property to each of these types, this should do the trick. @zhengbli does your update of the spec take care of this? if not can we add the constructor declaration declaration?

[code]

the second one is about construc

[2015-12-01 17:31] alexandrudima commented on #1748
@mhegazy

I am not sure I understand the definition you propose for structurally comparing enums where `Colors` would equal `Directions`. I believe an enum should be structurally equal if both name and values are equal. E.g. I would not expect that the following classes are structurally equal and TypeScript agrees and correctly flags this as an error:
[code]

:+1:

Also please consider the followi

[2015-12-01 17:31] mhegazy commented on #5855
@crobi as a work around, you can define the constructor in your files, and this should cause the compiler to flag the error as expected.

[2015-12-01 17:34] mhegazy commented on #1748
this sounds like #4800. Are the modules the same? are they flattened? can they be flattened?

[2015-12-01 17:40] mhegazy commented on #5855
sorry, scrap my original comment, the constructor would not do it, we need something not defined on object, some sort of `_brand:any`.

[2015-12-01 17:45] mhegazy commented on #5848
thanks @synaesthesia

[2015-12-01 17:45] #5848 closed

[2015-12-01 17:49] alexandrudima commented on #1748
@mhegazy I actually hit this in another context (not with node modules) where I really just want enum structural typing.

See https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/browser/pluginHost.api.impl.ts#L112 and the many `<any>` casts.

The problem is the following:
 * we want to provide API to VSCode extensions
 * we specify our api in a `vscode.d.ts` (we must do this other

[2015-12-01 18:08] mhegazy commented on #5853
Type assertions, either using the postfix `as` operator or using the prefix style `<T>` are a "assert" to the compiler the type of an expression. The rule is that ether the type of the expression is assignable to the type (down casting) or the type is assignable to the type of the expression (up casting). this is why things like:

[code]

You can find more information about type assertions in: htt

[2015-12-01 18:14] denis-sokolov commented on #5853
Okay, I understand that this is the designed functionality, and thus, not a bug. Thank you for a very thorough explanation in terms of the implementation.

If it's not too impolite, may I ask you for explanations in terms of use cases?
I can see a use case for `const z = { a: 'a', c: 'c' } as { a: string };`. This is popular duck typing - I have something that does `a`, it does not matter that it

[2015-12-01 18:24] Arnavion opened #5861 "Generic of union type inferred as {}"
(1.8.0-dev.20151201)

[code]

In 1.6 and 1.7 `lift`'s generic is correctly inferred as `U`, so `prop` is of type `U` as expected. In 1.8 it's inferred as `{}`

Explicitly specifying the generic with `lift<U>(value).prop` works.

[2015-12-01 18:26] RyanCavanaugh commented on #5853
Fair questions. Let's think about some concrete examples that have the same type relationships as the types in your examples

[code]
This example might be rewritten as
[code]
Here we got back an `HTMLElement`, but have the additional ouf-of-band information that it's actually an `HTMLInputElement`. This is a very plausible assertion -- often we have something of type `Animal` but we know it's actu

[2015-12-01 18:35] RyanCavanaugh commented on #52
@spion The name `inner` is not "shared" between declarations here -- when there's an `export =`, all other declarations inside that module declaration are considered to not be visible at all

[2015-12-01 18:38] #467 closed, assigned to nobody

[2015-12-01 18:43] weswigham commented on #5844
That last bit duplicates #5594 and should be fixed in master. However your original issue still stands.

[2015-12-01 18:45] denis-sokolov commented on #5853
This has been very helpful, @RyanCavanaugh. It still seems partially inconsistent theoretically, but the practical benefits are very reasonable.

It is notable that your explanation is very inheritance oriented. What about the interface-heavy workflow?
The same example with the input element may be presented as follows:

[code]

Pardon my poor attempt at coming up with proper interfaces, I hope yo

[2015-12-01 18:47] mhegazy commented on #5787
thanks @kitsonk for the detailed writeup. @vladima is working on https://github.com/Microsoft/TypeScript/issues/5039, not sure how this proposal would fit in there. how do you propose to integrate option 1?

For linking purposes, this is the same issue as  #2709, just an alternative approach to solving the issue.

[2015-12-01 18:47] #1558 closed

[2015-12-01 18:47] #3583 closed

[2015-12-01 18:47] #1253 closed

[2015-12-01 18:52] #5533 closed

[2015-12-01 18:53] adidahiya commented on #5850
+1, it is inconsistent to have different levels of strictness for `if` and `filter`. I'd love to implement a TSLint rule to flag implicit coercion for users who want the additional safety though: https://github.com/palantir/tslint/issues/625

[2015-12-01 18:57] mhegazy commented on #5851
if you are casting, you are not using the contextual type from the function declaration, and thus did not inherit the index signature so you will need to explicitly add it:

[code]

in the case of your interface, add the constraint on it to ensure the two are compatible:
[code]

[2015-12-01 18:57] #5851 closed

[2015-12-01 18:58] mhegazy commented on #5847
thanks @SaschaNaz

[2015-12-01 18:58] #5847 closed

[2015-12-01 18:59] #2435 closed

[2015-12-01 19:03] mhegazy commented on #5846
if you are compiling with `--target es3` or `--target es5`, the only supported target for a `for..of` loop is an array. the emitted code always assume it is an array and does a simple indexed loop over it. the iterator protocol is only supported if you target ES6.

you can find more information about this in https://github.com/Microsoft/TypeScript-Handbook/blob/master/pages/Iterators%20and%20Gener

[2015-12-01 19:03] #5846 closed

[2015-12-01 19:09] eggers commented on #5846
@mhegazy Yeah, it must be an issue with node 4.2.1 not calling `return()` on breaking from the `for...of` loop since I found the same issues running plain es6 code with node. And, running the code through `babel-node` worked fine.

Thanks.

[2015-12-01 19:17] paulvanbrenk commented on #4746
This is by design, once msbuild migrates to the new error list API this should improve. Until then there's nothing TypeScript can do here.

[2015-12-01 19:20] #4746 closed

[2015-12-01 19:21] mhegazy commented on #5829
we should recompute diagnostics.

[2015-12-01 19:23] mhegazy commented on #5831
this looks like a dupe of #5830. the base indentation was different in both cases, but the rest of the issue is the same.

[2015-12-01 19:23] #5831 closed

[2015-12-01 19:26] mhegazy commented on #5832
PRs are welcomed. here is some documentation on how to submit lib.d.ts fixes: https://github.com/Microsoft/TypeScript/blob/master/CONTRIBUTING.md#contributing-libdts-fixes

[2015-12-01 19:30] mhegazy commented on #5816
@zhengbli is this covered in your update for the spec?

[2015-12-01 19:32] mhegazy commented on #5817
@falsandtru please post that comment in #3694.

[2015-12-01 19:32] #5817 closed

[2015-12-01 19:34] mhegazy commented on #5754
@lgolven feel free to send a PR for it.

[2015-12-01 19:37] mhegazy commented on #5773
PRs are welcomed. here is some details on adding these type definitions: https://github.com/Microsoft/TypeScript/blob/master/CONTRIBUTING.md#contributing-libdts-fixes

[2015-12-01 19:41] RyanCavanaugh commented on #5853
FWIW I use inheritance-based examples because the subtype/supertype relations are more clear.

It seems better to write `... as ValueContaining & AttachedToDom` in that example, which would typecheck without error and is higher-fidelity. Alternatively, if `getAttachedDomElement` is going to return arbitrary objects from which you might select a trait of your own choice, having it return `{}` inste

[2015-12-01 19:42] RyanCavanaugh commented on #5854
I'm working on JSDoc support now and will keep this in mind

[2015-12-01 19:44] zhengbli commented on #5816
@mhegazy It was not covered in my update.
@rixrix You are welcomed to contribute to the lib.d.ts bugs :) ! The instruction is at https://github.com/Microsoft/TypeScript/blob/master/CONTRIBUTING.md#contributing-libdts-fixes
Or I'll fix it later.

[2015-12-01 19:45] kitsonk commented on #5787
I have what is in my mind, I just don't know how practical to implement in the compiler, the most straight forward would have a simple string glob with matching specific to least specific, for example:

In the `.d.ts`:

[code]

In module:

[code]

The other thought that came to mind, which would be more flexible, but might not be as easy for the average developer to wrap their mind around, is allo

[2015-12-01 19:50] asgerhallas commented on #4746
@paulvanbrenk @mhegazy thank you for looking into it!

[2015-12-01 19:52] mhegazy commented on #5842
For a type guard, it will look through all the union type constituents (`B` and `boolean` in the example), and will filter out types that are not assignable to the target type. since `B` has only optional properties, booelan is assignable to, and it is not filtered out from the union. looks like a good candidate for #3842.

a work around is to tag type B, see https://github.com/Microsoft/TypeScrip

[2015-12-01 19:52] #5842 closed

[2015-12-01 20:01] RyanCavanaugh commented on #5822
There is indeed a fundamental tension here between "all JS is TS" and "report errors on suspicious code" caused by reasonably-common JS code that *is* suspicious.

At this point it doesn't seem worth it to break a bunch of previously-compiling code when there's already the `let` keyword available for those who want saner scoping rules. We should definitely update the docs to use `let` everywhere,

[2015-12-01 20:01] #5822 closed

[2015-12-01 20:04] mhegazy commented on #5787
that is not too bad. this is can be 2 extra lookups for failed module imports with a bang in them.. so in resolveExternalModuleName:

[code]

[2015-12-01 20:05] mhegazy commented on #5787
@vladima and @RyanCavanaugh thoughts?

[2015-12-01 20:19] xealot opened #5862 "Polymorphic "this" for static members"
When trying to implement a fairly basic, but polymorphic, active record style model system we run into issues with the type system not respecting `this` when used in conjunction with a constructor or template/generic.

I've posted before about this here, #5493, and #5492 appears to mention this behavior also.

And here is an SO post this that I made:
http://stackoverflow.com/questions/33443793/cre

[2015-12-01 20:23] xealot opened #5863 "Polymorphic "this" for static members"
When trying to implement a fairly basic, but polymorphic, active record style model system we run into issues with the type system not respecting `this` when used in conjunction with a constructor or template/generic.

I've posted before about this here, #5493, and #5492 appears to mention this behavior also.

And here is an SO post this that I made:
http://stackoverflow.com/questions/33443793/cre

[2015-12-01 20:25] RyanCavanaugh commented on #5862
Closing in favor of #5863

[2015-12-01 20:25] #5862 closed

[2015-12-01 20:29] mprobst opened #5864 "When extending a new'able expression, TypeScript does not inherit the ctor signature"
Given this code snippet, TypeScript [flags the call to `new C(1)` as incorrect](http://www.typescriptlang.org/Playground#src=declare%20interface%20P%20%7B%7D%0Adeclare%20const%20P%20%3A%20%7Bnew(a%3A%20number)%3A%20P%7D%3B%0A%0Aclass%20C%20extends%20P%20%7B%7D%0Anew%20C(12)%3B%0A), "Supplied parameters do not match any signature of call target":

[code]

The transpiled code at runtime however does

[2015-12-01 21:05] #5173 closed

[2015-12-01 21:06] DanielRosenwasser commented on #5173
Thanks @delta-nry!

[2015-12-01 21:49] mhegazy commented on #5793
so why not use a build system to manage this for you?

[2015-12-01 21:51] mhegazy commented on #5770
This is currently not supported. it is only supported on classes. i suspect will add support after the next TC39 meeting, just to have the proposal stabilizes.

[2015-12-01 21:52] kitsonk commented on #5787
One additional thought, if I had my wish (which I don't think your example covers) is that the `*` is truly a wildcard.  The reason I say this is that there are a use cases of complex chaining of plugins.  For example in Dojo we have the `dojo/has` which the MIDs can look like this:

[code]

Where if the `feature-flag` is `true` then the `module/native` gets loaded and `module/shim` gets loaded if

[2015-12-01 21:53] mhegazy commented on #5771
looks like it is fixed in latest. thanks @SaschaNaz

[2015-12-01 21:53] #5771 closed

[2015-12-01 21:55] ngbrown opened #5865 "React import is being omitted in --jsx preserve case"
When using `--jsx preserve`, the React declaration is removed if not directly used.  Issue #3764 fixed this for `--jsx react` but not for the preserve case.

[code]

This breaks the the app after ran through webpack -> babel

Currently, the workaround is to include a dummy reference to `React;`, but this shouldn't be necessary and the imports should pass through to babel.

[2015-12-01 21:58] mhegazy commented on #5760
what version are you using? i do not seem to get it to repro on latest:

[code]

[2015-12-01 22:04] rixrix commented on #5816
Hello, thanks for looking into this PR,

@zhengbli thanks for the docs, I'd love to submit a PR ;)

[2015-12-01 22:04] mhegazy commented on #5865
the current behavior is the intended design, `React` is never used as we are not emitting it, so it is removed. having said that, we should make this scenario work. all workaround are ugly,

[2015-12-01 22:09] spion commented on #52
@RyanCavanaugh I see. The original problem is express.d.ts

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/express/express.d.ts

Here, express exposes a namespace `Express` to let us extend `Request`. Unfortunately those extensions cannot contain types imported from ambient external modules, which means they're of limited use. However, since express-the-module is also a function, t

[2015-12-01 22:17] spion opened #5867 "Allow declaring that module is also function / constructor without declaration merging"
Use case: `express.d.ts` on DefinitelyTyped:

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/express/express.d.ts

Here, express exposes a namespace `Express` to let us extend `Request` via declaration merging.

Unfortunately those extensions cannot contain types imported from ambient external `"modules"`, which means they're of limited use.

However, since express-the-module is al

[2015-12-01 22:26] DanielRosenwasser commented on #5838
But it looks like https://github.com/Microsoft/TypeScript/commit/5772dade970d366f61c8b5bffb0f7d60b1edf8d1#diff-5f84377bdd5fb13a5afbefcee52563d2R10 actually *should* resolve correctly given that it has a `c.js` in `node_modules`

[2015-12-01 22:32] ghalle commented on #394
I am currently using [Baobab](https://github.com/Yomguithereal/baobab) for a project, it is an immutable data tree / cursor library. When using it I have to use something like this (non-working simplified example):
[code]

This for one does not check that the property actually exist and also forces me to cast the `get` to the correct type every time, which can lead to error for example if I change

[2015-12-01 22:33] billti commented on #5854
Note @RyanCavanaugh that the initial work @CyrusNajmabadi did already had support for the JsDoc @template tag (see https://github.com/Microsoft/TypeScript/commit/0cb45c5b2a2a9db88458fa41d34bb18913f3cae9 ).

[2015-12-01 22:36] #5844 closed

[2015-12-01 22:37] DanielRosenwasser opened #5868 "Add a 'no-in-operator' linting rule"
We should only use `hasProperty` in the compiler.

@weswigham

[2015-12-01 22:39] mhegazy commented on #5867
ES6 modules do not allow for changing the module shape and/or exporting the module object as a function. the only way you would do this in ES6 is by exporting `default`. Modules are already hard enough for users to understand; and with default exports/imports, there is a variety of ways to define a module. I do not think we should be adding yet another way to express the shape of a module, special

[2015-12-01 22:40] weswigham commented on #5826
I think this may be a regression - [in the playground, there's no errors for this example](http://www.typescriptlang.org/Playground#src=class%20Square%20%7B%0D%0A%20%20%20%20constructor(public%20length%3A%20number)%20%7B%7D%0D%0A%7D%0D%0A%0D%0Aclass%20Rectangle%20%7B%0D%0A%20%20%20%20constructor(public%20length%3A%20number%2C%20public%20width%3A%20number)%20%7B%7D%0D%0A%7D%0D%0A%0D%0Aclass%20Trian

[2015-12-01 22:40] mhegazy commented on #5844
@joeduffy and @nmalaguti can you give `typescript@next` a try tomorrow and let us know if the issue has been resolved.

[2015-12-01 22:41] #5799 closed

[2015-12-01 22:41] vladima commented on #5868
this is not currently possible on the services layer: `in` is used to check the presence of methods on COM implementation of host objects

[2015-12-01 22:44] spion commented on #5867
I don't propose this syntax to be valid outside of declarations.

Also, the facts are:

* lots of CommonJS (node) modules use this
* the declaration merging hack is the non-obvious, hard way to do it - having dedicated syntax would actually be easier for newbies compared to what we have now.

[2015-12-01 22:45] Roam-Cooper opened #5869 "Why don't declaration files specify a compiler version?"
It would be very useful if declaration files specified a compatible compiler version as I am constantly having trouble with declaration files written for a newer or older version of the compiler.

[2015-12-01 22:47] mhegazy commented on #5825
there is not, but we have an issue to add some documentation there. and yes, the `/// <reference ... />` is ignored if is not the first line in the file.

Issue #1920 is tracking reporting an error if a `/// <reference ... />` tag is not at the top of the file.

[2015-12-01 22:47] #5825 closed

[2015-12-01 22:47] DanielRosenwasser commented on #5869
Curious, with TypeScript 1.7, what sorts of issues are you running into regarding definitions written for older versions of the compiler?

[2015-12-01 22:49] joeduffy commented on #5844
Thanks all, that was fast!  I'll give it a try in the AM.

[2015-12-01 22:51] aleksey-bykov opened #5871 "resolving type parameter"
[code]

I am traversing the shown types starting the type alias `C` which led me to type `A` which has a member `value` of type `Array` which has a type argument that is type parameter `b` of `A`. Now being at **this** point:

- What do I have to do to resolve `b` to `string`?

[2015-12-01 22:57] mhegazy commented on #5867
we already have a concept of declaration merging, as well as export =. we can not remove these, or we will be breaking a lot of code out there. what i am saying is we should not add yet another way.

[2015-12-01 22:59] mhegazy commented on #5869
the problem is not the version of the compiler that generated the file. the problem is in the features that the file contains. just cause you created this file on 1.7, does not mean you can not compile it on 1.1.

[2015-12-01 23:02] rbuckton commented on #4736
The proposals for property declarations and decorators are still very much in flux, and this suggestion was based on an earlier (and now outdated) proposal. I'm closing this issue for the time being, and will file a new issue once the proposals align and have some forward momentum in the standards process.

[2015-12-01 23:02] #4736 closed

[2015-12-01 23:03] DanielRosenwasser opened #5873 "Make linter report errors on all files instead of one file at a time"
That way you don't have to run the linter until you hit a fixed point.

@weswigham

[2015-12-01 23:04] #5789 closed

[2015-12-01 23:06] mhegazy commented on #5808
While i do agree that global namespace pollution is bad, it does exist and ppl build large scale applications and libraries on top of that. i think there is enough user feedback to allow/regulate more of this side effects rather than to limit it. see https://github.com/Microsoft/TypeScript/issues/5269 and https://github.com/Microsoft/TypeScript/issues/5867 to name a few..

[2015-12-01 23:06] #5808 closed

[2015-12-01 23:08] mhegazy commented on #5789
@omefire and @JerryGingerFox can you give `typescript@next` a try later tonight, and let us know if the issue is resolved.

[2015-12-01 23:10] mhegazy commented on #5794
you are correct, it does not handle circular references in modules, just in the same file, or if you are using --out.

[2015-12-01 23:12] pascalopitz commented on #5770
Hi there. I am not sure why this has been moved to TS? Is the jsconf also using the TS parser?

[2015-12-01 23:16] mhegazy commented on #5549
since it is not consistent, i would think it is the same as #4185. @bertrandpsi and @romanresh can you try with `node tsc.js` instead of `tsc.exe` and see if there is any difference?

[2015-12-01 23:18] weswigham commented on #5770
Yes - some js services in vscode are based on the typescript language service.

[2015-12-01 23:18] DanielRosenwasser commented on #5871
Before I start a response, are you trying to understand compiler internals, or are you just trying to just get information about the state of your program?

[2015-12-01 23:20] mhegazy commented on #5818
can you elaborate on the use case? are you using npm to distribute your code?

[2015-12-01 23:21] #5739 closed

[2015-12-01 23:26] crobi commented on #5855
This crossed my mind as well, but I'm not sure such a workaround would look nice in `lib.d.ts`. Maybe this is another use case for #202? Structurally, all WebGL objects are identical to the empty interface, but (due to being native browser objects with hidden properties?) nominally they are all distinct types.

In plain Javascript, `instanceof` works as expected on WebGL objects (see below). Is th

[2015-12-01 23:26] #5873 closed

[2015-12-01 23:28] RyanCavanaugh commented on #5794
The other common case I see is that someone refactors into two script files and forgets to add a script tag for the base class.

[2015-12-01 23:30] aleksey-bykov commented on #5871
I need to traverse my data structures starting from the root interface down
though the properties to their types etc till until I get all types that
directly or indirectly consitute the root interface. Once that done I need
to generate a report with the name of the properies, their **resolved**
types and JDOC annotations.

If this can be done via compiler API that would be great.
On Dec 1, 2015 6:

[2015-12-01 23:36] mhegazy commented on #5855
No run time transformations. the right operand of `instanceof` is expected to have a constructor, so we will need to remove this restriction, or add a non-callable constructor.

[2015-12-01 23:36] #5868 closed

[2015-12-01 23:37] weswigham commented on #5855
@mhegazy A noncallable constructor would be what abstract classes would need as well, so I suspect that would be the more general solution.

[2015-12-01 23:44] RyanCavanaugh commented on #5869
I don't see what the proposal is or what we could even do with that information if it existed. A file generated in 1.5 might work in 1.6, a file generated in 1.6 might work in 1.5. And a hand-written file could do anything. The real problem comes when there's new syntax... but the file won't even parse at that point, which is going to be a bigger problem than anything else. The best we could do is

[2015-12-01 23:46] DanielRosenwasser commented on #5871
You can get a `TypeChecker` instance and use `TypeChecker#getTypeAtLocation` on `C`. Here's some code that currently might do something similar to what you want to do: https://github.com/Microsoft/TypeScript/pull/5332/files

[2015-12-01 23:51] aleksey-bykov commented on #5871
I already did that. How do I get the`value` property resolved to `string
[]`?
On Dec 1, 2015 6:46 PM, "Daniel Rosenwasser" <notifications@github.com>
wrote:

[2015-12-01 23:54] aleksey-bykov commented on #5871
(getting it as an unresolved `b[]` is trivial)
On Dec 1, 2015 6:51 PM, "Aleksey Bykov" <aleksey.bykov@gmail.com> wrote:

[2015-12-02 00:07] DanielRosenwasser commented on #5871
Have you been using `typeChecker.getPropertiesOfType` and `typeChecker.getPropertyOfType`?

[2015-12-02 00:09] aleksey-bykov commented on #5871
no I used `Type.getProperties`, let me try doing it via the checker
On Dec 1, 2015 7:08 PM, "Daniel Rosenwasser" <notifications@github.com>
wrote:

[2015-12-02 00:12] DanielRosenwasser commented on #5871
I think that should still work, though let us know if that's the problem.

[2015-12-02 00:33] thomas-darling opened #5877 "Incorrect function return type: expected it to match generic type parameter"
I may just be abusing the type system here, but there's no warnings or errors, so I have to assume it should work. I'm trying to dispatch a command to a registered handler and return the result, which should be of the type specified by the command.

Question is, why is the result always of type object, when the type parameter is clearly a string? Is this a bug or known limitation, and if so, is it

[2015-12-02 00:45] mhegazy commented on #5877
The problem is that T is never manifested in the object, and since it is a structural type system, setting T to a string without using it has no impact on the inference. if you add a property `p: T` to your interface, your result should be of type `T`, in this case, `string` as you would expect.

[2015-12-02 00:45] #5877 closed

[2015-12-02 00:46] #5869 closed

[2015-12-02 00:53] mhegazy commented on #5755
I am not sure i understand the question.. this code works for me.. if you add:
[code]
and run it using node:

i get:

[2015-12-02 00:53] #5755 closed

[2015-12-02 00:53] weswigham commented on #5787
It seems okay - I'd like the regex more, personally, since I think it'd allow more flexibility in the future (given that we don't know hoe module loaders will evolve/what crazy plugin witchcraft may depend on the string contents of the module name), though I know it'd be a bigger perf hit to utilize - though it would mean we'd understand it syntactically rather than by convention.

[2015-12-02 00:54] mhegazy commented on #2965
thanks @MartyIX. this should be fixed now.

[2015-12-02 00:55] mhegazy commented on #5772
indeed. thanks @SaschaNaz!. it should be fixed in latest.

[2015-12-02 00:55] #5772 closed

[2015-12-02 00:58] Arnavion commented on #5849
Yes, cherry-picking that PR onto 1.7 fixes the issue (and introduces #5861 but that's a minor annoyance in comparison).

[2015-12-02 01:04] thomas-darling commented on #5877
Ahhh, that makes sense, although it would likely have been a while before I figured that one out on my own - looking at the code it kinda feels like it should just work. But thanks for the quick response, the workaround solved my problem :-)

[2015-12-02 01:11] mhegazy commented on #5849
@Arnavion is there a chance you can move to `typescript@next` directly?

[2015-12-02 01:19] mhegazy commented on #5805
there are two issues here. first the error. The error means that the declaration emitter is trying to write a type annotation in the generated .d.ts and could not come up with a valid name. This happens either because the name is not accessible in the current scope, or that it is shadows by another declaration with the same name.

In this case it was the first, in `export var program= b.compile([]

[2015-12-02 01:22] RyanCavanaugh commented on #360
We have since fixed this

[2015-12-02 01:22] #360 closed

[2015-12-02 01:22] mhegazy commented on #5871
`Type.getProperties` is just a wrapper around `checker.getPropertiesOfType(Type)`. do you have a sample i can debug?

[2015-12-02 01:39] #5675 closed

[2015-12-02 02:06] wmono commented on #247
@chanon @danpantry It's somewhat unfortunate that `import foo = require('foo')` (with foo under node_modules) does not work when foo's package.json does not have a typings.

[2015-12-02 02:07] steffansluis commented on #4236
:+1: For generic generics

[2015-12-02 02:33] Arnavion commented on #5849
If you're asking because you don't want to backport it, that's fine. I have no problem staying with 1.6 until 1.8 is released. :)

[2015-12-02 02:44] chanon commented on #247
@wmono well, since maybe TypeScript 0.80 or maybe earlier `import foo = require('foo')` syntax was only for importing modules with typings. If it didn't have typings you'd use `var foo = require('foo')` instead. So I'd say its just the way it is.

[2015-12-02 02:58] aleksey-bykov commented on #5871
ok this is what did it:

[code]

thank you for you help

[2015-12-02 03:00] ridiculousfish commented on #5822
Thanks for your thoughtful consideration guys!

[2015-12-02 04:19] mhegazy commented on #5849
I am asking to figure out the logistics, porting it and publishing an npm is easy, but we will need to publish a VS 2012, VS 2015, and sublime text plugin updates and that all adds up.

[2015-12-02 04:21] mhegazy commented on #1206
It is more like trying make string literal types and enums make sense togather.

[2015-12-02 04:24] mhegazy commented on #5731
@sandersn can you take a look

[2015-12-02 04:25] mhegazy commented on #5744
Did you happen to uninstall or reinstall IE after you installed TS/VS?

[2015-12-02 04:32] denis-sokolov commented on #5853
These are two great suggestions. Thank you a lot for your help.

[2015-12-02 04:32] #5853 closed

[2015-12-02 05:06] mhegazy commented on #5702
looks like a duplicate of #1260

[2015-12-02 05:06] #5702 closed

[2015-12-02 05:06] aksharpatel47 commented on #5832
Great. I'll do it tonight.

[2015-12-02 06:33] mhegazy commented on #5711
The compiler will not add dependencies (i.e. import statements) that did not exist in the user code when it emits declarations. the error you are getting means that the compiler is trying to write a type annotation for an exported declaration but could not. this can have one of two reasons, either the name is not accessible, i.e. not imported in the current module, or there is a declaration that i

[2015-12-02 06:33] #5711 closed

[2015-12-02 06:43] Think7 opened #5882 "Bad Link in Handbook"
The documentation on the following page seems to be missing:
https://typescript.codeplex.com/wikipage?title=https://github.com/Microsoft/TypeScript/issues&referringTitle=Writing Definition (.d.ts) Files

I found the link on this page:
http://www.typescriptlang.org/Handbook

Writing .d.ts files > Guidelines and Specifics > Examples > Please post a comment [HERE] if there's a pattern...

Thank You :

[2015-12-02 06:47] DanielRosenwasser commented on #5882
Thanks @Think7, we're in the process of updating the handbook and this should be fixed soon.

[2015-12-02 06:47] #5882 closed

[2015-12-02 06:47] mhegazy commented on #5882
For future references, the handbook has moved to https://github.com/Microsoft/TypeScript-Handbook

[2015-12-02 06:48] myitcv commented on #5869
Related discussion in the context of `typings` https://github.com/typings/typings/issues/49

[2015-12-02 07:04] wmono commented on #247
@chanon Pardon me; user error. It looked like webpack was struggling with the "bare" `require` but the problem lay elsewhere.

[2015-12-02 07:32] #5819 closed

[2015-12-02 08:37] aksharpatel47 commented on #5832
The definition of createIndex is in webworker.generated.d.ts. I checked out https://github.com/Microsoft/TSJS-lib-generator. It seems I'll have to change the specification written in browser.webidl.xml in the inputfiles directory of TSJS-lib-generator. Please correct me if I'm wrong.

[2015-12-02 09:29] JerryGingerFox commented on #5789
@mhegazy Fixed.

1.8.0-dev.20151202
tsc --target es6 --module commonjs

[2015-12-02 10:58] hesselink opened #5883 "New Website Logo: Silk"
- Name: Silk
- Homepage url: http://www.silk.co
- Brand Guidelines/Licensing: None
- Logo: https://silk-blog.s3.amazonaws.com/logo/silk_with_logo.svg

[2015-12-02 11:14] markvandenbrink commented on #5039
Another use case for path mappings involves working with (git) submodules. We do this on large projects to separate repositories (work domains). But is has a undesirable side effect when the source of a module exists multiple times in a project due to the use of submodules (the TypeScript compiler treats those duplicate sources as separate modules which is technically correct). Assume the followin

[2015-12-02 11:36] hesselink opened #5884 "Generic type arguments not inferred, default to {}"
I sometimes run into scenarios where it's clear to me what a generic type argument should be, but typescript fails to infer it. I think this is because inference only looks at the call site, and not the context. The example I just ran into was this:

[code]

In the last case it infers type parameter `A` to `{}`, causing it to fail since `{}` has no property `foo`. But from the context (`comparing`

[2015-12-02 11:39] edencakir opened #5885 "New Website Logo: Simenty"
Please fill the following out:

- Name: Simenty
- Homepage url: http://www.simenty.com
- Brand Guidelines/Licensing: None
- Logo: http://s14.postimg.org/kacp4rf0h/512x512.png

[2015-12-02 11:39] bschapendonk opened #5886 "TypeScript 1.7 standalone installation fails"
When I try to install TypeScript 1.7 on our build server I get the following error

![2015-12-02_123545](https://cloud.githubusercontent.com/assets/886018/11530005/52cc462e-98f1-11e5-931a-206db85fef2d.png)

We don't have Visual Studio installed on our build server (only the .net sdk and msbuild), this worked with the previous version (1.6)

[2015-12-02 11:52] frankwallis opened #5887 "Typing issue with React Higher-Order-Components (JSX elements attributes type 'T' must be an object type)"
I am having an issue trying to get the right typings flowing through when creating [higher order components](https://medium.com/@dan_abramov/mixins-are-dead-long-live-higher-order-components-94a0d2f9e750#.yg7d6ipdp) in React. Consider the following:

[code]

But this errors with ```JSX elements attributes type 'T' must be an object type```. Is this an issue or am I doing something wrong here?

Thi

[2015-12-02 12:24] BigDataSamuli opened #5888 "Unexpected step over/into behavior in files using async/await"
Using VS 2015 Update 1 and TypeScript 1.7.4, I create a new "HTML Application with TypeScript", set ECMAScript version to ES6 in project properties, and replace app.ts with the following:

[code]

Running the program in Chrome, setting a breakpoint at the first await line, and refreshing the page causes the debugger to stop at the correct line. After pressing F10 (step over), however, the executio

[2015-12-02 12:27] tehsenaus commented on #4669
+1
Lack of abstract getters/setters is an oversight imo

[2015-12-02 12:33] #5871 closed

[2015-12-02 12:35] louy commented on #2225
I think I found a solution for this:
[code]

[2015-12-02 12:37] aleksey-bykov commented on #321
@mhegazy, @DanielRosenwasser, @RyanCavanaugh

guys, is this `@internal` marker official?

![image](https://cloud.githubusercontent.com/assets/937933/11530988/538b4148-98c7-11e5-9aa6-d69ff05e09d1.png)

[2015-12-02 12:49] markvandenbrink opened #5889 "Improve compiler to deal with duplicate sources in project (caused by use of git submodules)"
We have a large TypeScript project using different git repositories to separate work domains inside the project. We tend to create separate repositories for self-contained modules and use those modules in other repositories using git submodules. This helps tremendously to reduce clutter and distribute work.

In our case some modules are used in many other repositories and those repositories are in

[2015-12-02 12:52] aleksey-bykov commented on #5884
TypeScript doesn't crave up type arguments from the context. Type parameters of `compare` can only be resolved from its argument (function `f`). In the last case there is nothing said about the types of the `o => o.foo` lambda used as an argument `f`, so `compare` has nothing to deduce it's type arguments from, so the inference fails.

The question remains why a function declaration defaults its p

[2015-12-02 12:54] hesselink commented on #5884
Yes, that's what I gathered, and why I asked if that could be changed so the context influences the type inference. This is what I'm used to from e.g. Haskell but of course typescript has many features that make this more complicated.

[2015-12-02 13:05] aleksey-bykov commented on #5884
Hindley-Milner type system as in Haskell doesn't work very well with subtyping and inheritance, also the (disjoint) union type is problematic to work with, so it seems it was a trade-off that TypeScript design team had to make

http://stackoverflow.com/questions/7234095/why-is-scalas-type-inference-not-as-powerful-as-haskells

[2015-12-02 13:09] hesselink commented on #5884
Yes, that's what I was afraid of. I'm still hoping there is a way to do something local (but less local than now) to get cases like this working.

[2015-12-02 13:20] aleksey-bykov opened #5890 "angle brackets formatting problem"
[code]

[code]

[code]

[2015-12-02 13:51] IngbertPalm commented on #5886
Same problem when installing on a machine with Visual Studio Prof.

Installer is searching for a key 'SOFTWARE\Microsoft\DevDiv\vs\Servicing\14.0\enterprise' which doesn't exists when the Prof. version is installed. No problem with an Enterprise edition.

As workaround I've added the key to the registry. After this I was able to install TS. But now I'm unable to edit ts-files in the VS2015 Update1

[2015-12-02 14:02] alexanderby commented on #5771
@mhegazy @SaschaNaz I've reported this issue for [VS Code](https://github.com/Microsoft/vscode/issues/181). The bug appears when formatting JavaScript and still remains.

[2015-12-02 14:25] bschapendonk commented on #5886
Afaik the Visual Studio 2015 Update 1 includes TypeScript 1.7, so you shouldn't need to install it

[2015-12-02 14:29] jrieken commented on #5771
VS Code uses the TS formatter even for JS, that's why this bug is here

[2015-12-02 14:41] IngbertPalm commented on #5886
Yes it's included. Updating RTM to Update 1 resulted in the same error as in your post.
I assume the same package is used when updating the RTM version of VS or when installing TS as standalone.

[2015-12-02 15:01] dbaeumer commented on #5829
If we go with the recompute diagnostics path then we should make this consistent and remove the geterr request. The tsserver should decide by itself when it is best to produce diagnostics based on document open, change and close calls.

[2015-12-02 15:12] noggin182 commented on #3343
Why was the bug label removed again? I think this is quite a bad bug and is preventing me from adopting type script. I quite like #2000 as a possible solution which would make the behaviour the same as virtual functions in most languages.

[2015-12-02 15:51] aayushkapoor206 opened #5892 "Arrow function input parameter transpilation"
[code]
Both the functions output the brackets in the arrow function's parameter as passed when transpiling to ES6. There should be a standard output like using brackets even if it isn't present in the .ts file
So the output should be
[code]
if the brackets are enforced in the output

[2015-12-02 15:53] nmalaguti commented on #5844
This has resolved the issue with default named classes that I was seeing on 1.7 when using ts@next.

How does this interact with libraries compiled to commonjs using babel?

[2015-12-02 15:54] iongion opened #5893 "Multiple source roots - or something like classpath, like python_path, like include_path !!!"
I need to have the following structure:
 * build
   * debug
   * release
 * sources
   * clients
     *  APIClient.ts
   * runtime
   * services
 * test
   * cases
     * clients
       * APIClientTest.ts
     * runtime
     * services
 * typings

My goal is that in the tests I want to be able to import the associated tested class without using `/// reference`.

This would work out of the box if t

[2015-12-02 16:37] gwicksted commented on #5718
I ran into the same issue (cannot resolve):
* The web tools were checked.
* Tried manually changing the project file TypeScript version to 1.7 (from 1.6) = no luck.
* Tried installing the 1.7.4 package and hit repair = no luck.
* Using "Programs and Features" to remove "Typescript Tools for Microsoft Visual Studio 2015 1.5.4.0" as well as 1.6.3.0 and 1.7.4.0.
* Re-installed 1.7.4.0 using "TypeScri

[2015-12-02 16:43] mhegazy commented on #5886
@IngbertPalm  TS 1.7 have a dependency on Update 1 binaries. if you bypass the check it is going to fail at runtime. the only way to get 1.7 is to install Update1 first. please uninstall TS 1.7, install update1 and then try again.

[2015-12-02 16:44] mhegazy commented on #5886
@bschapendonk for your build machine, i am assuming it does not have VS installed. if this is the case, use the installer from https://www.microsoft.com/en-us/download/details.aspx?id=48739

[2015-12-02 16:46] mhegazy commented on #5771
@alexanderby the issue has been fixed in the latest formatter, the next time VSCode picks up the update it should be fixed.

[2015-12-02 16:50] mhegazy commented on #3343
@noggin182 this issue is tracking updating the sample on the playground. if you think there is another issue please file a separate one and add some more details.

[2015-12-02 16:55] mhegazy commented on #5829
We do not want to be computing errors unless the editor is interested in them as it is a long and blocking operation. what we could do is remember which file you asked for errors in the past, and give them to you if anything changes.

[2015-12-02 16:58] mhegazy commented on #5832
We should not be changing the specification, we have inputfiles/overridingTypes.json that allows you to override existing declarations when the script runs. @zhengbli can help you more.

[2015-12-02 17:02] mhegazy commented on #5892
both are valid ES6 syntax. the compiler tries to keep the output close to the input, if you think the output should have a pair of parentheses, add then to the input.

[2015-12-02 17:02] #5892 closed

[2015-12-02 17:03] mhegazy commented on #321
no, it is an internal "hack", that we can remove with no warning. we are looking for ways to make this scenario supported. so stay tuned.

[2015-12-02 17:09] vladima commented on #5893
if you are using modules then [this proposal](https://github.com/Microsoft/TypeScript/issues/5039) might be helpful

[2015-12-02 17:11] javierquevedo commented on #1479
+1

[2015-12-02 17:17] IngbertPalm commented on #5886
@mhegazy The problem is that Update 1 failed with the above exception. When I try to reinstall Update 1, the installer tells me that it's already installed. The problem occurred on two different machines with VS 2015 Pro. No problem when applying to an enterprise edition.

[2015-12-02 17:20] gwicksted commented on #5718
Ok so noticed there were two TypeScript directories here:

`D:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\CommonExtensions\Microsoft`

One was TypeScript and the other was TypeScript1.5

Removed TypeScript1.5 and VS got errors starting up so I ran a repair install using the TypeScript_Full.exe (for 1.7)

No more error!

So it's likely only those that used TS 1.5 (possibly the bet

[2015-12-02 17:27] mattbrooks2010 opened #5894 "TypeScript v1.7 MSBuild tooling breaks web application publish"
# Summary

Installing TypeScript 1.7 tooling for Visual Studio causes different behaviour from 1.6 when publishing web applications, both from within Visual Studio (right click > publish) and via msbuild.exe (`/p:DeployOnBuild=true`).

This issue has only been observed using a file system publish.

# Symptoms

Generated JavaScript is no longer included in the packaged / published output.

# Observ

[2015-12-02 17:52] mhegazy commented on #5718
The installer never appended a version in a directory name in this location. if i am to guess, some one has manually created this directory.

glad the issue is resolved.

[2015-12-02 17:52] #5718 closed

[2015-12-02 17:55] mhegazy commented on #5886
can you share the install logs, you can collect them by running the following tool http://aka.ms/vscollect

[2015-12-02 17:56] mhegazy commented on #5894
@paulvanbrenk has been looking into this, we are talking to the azure tools team to figure out the issue and get back to you.

[2015-12-02 17:59] electricmonk commented on #1549
+1, would be very useful for stubbing interfaces, a-la Mockito (http://mockito.org/), something like:

[code]

[2015-12-02 18:01] mhegazy commented on #5789
thanks @JerryGingerFox !

[2015-12-02 18:02] mhegazy commented on #5791
which features are you interested in?

[2015-12-02 18:02] mhegazy commented on #5791
related to https://github.com/Microsoft/TypeScript/issues/5595

[2015-12-02 18:02] tex23bm commented on #3343
Well that's not entirely true. While this bug was noticed while trying to use the sample on the playground. It does have to do with the inconsistent nature in which inheritance is handled within typescript.

Is there a cogent explanation as to why typescript's inheritance does not behave as expected?

[2015-12-02 18:08] gwicksted commented on #5718
@mhegazy you're probably right!  I may have been testing out TS from the repo during 1.5.

Thank you!

[2015-12-02 18:09] gwicksted commented on #1890
Updating ReSharper fixed a similar issue for me.

[2015-12-02 18:10] yuit commented on #5886
@IngbertPalm just to clarify on collecting the logs
- download the tool from the link:  http://aka.ms/vscollect
- put the exe in your temp folder (%temp%)
- run the exe. It will produce the logs folder called vslogs.zip.

I will try to find more information in the mean time but the logs will let us know the installation steps in details

[2015-12-02 18:12] mhegazy commented on #3343
Is question why `Snake.move` has no parameters where as `Animal.move` has one?

If so then because the one with no arguments does not violate the is-a relationship. in JavaScript it is allowed to pass additional arguments to a function that does not expect them, they will be ignored. in other words, it is safe to call `move` on an object of type `Snake` as if it was an `Animal`. this is identical

[2015-12-02 18:15] pankleks commented on #5760
I'm using latest official release - 1.6.2

I do have decorator function and class in two different files - maybe it has some influence.

[2015-12-02 18:21] tex23bm commented on #3343
no.

The question is this:

Tom is a horse, which is an extension on an animal.

When Tom calls his move function, and is passed a parameter, the expectation is that the Animal.move Method, which takes a parameter matches the signature of the call.

Instead, the Horse.move function, which takes no parameters is executing.

That doesn't make sense. Tom is an Animal. Animal has a move function that

[2015-12-02 18:33] mattbrooks2010 commented on #5894
Thanks — please keep me updated.

What has made this issue worse for me is that uninstalling the VS tooling leaves the MSBuild tooling files in place.

Repairing the 1.6 tooling installation replaced the .targets and .props files but crucially not the task .dll file which, based on a diff of the compiled code, is possibly where the issue lies.

I've managed to successfully revert back to the 1.6 t