[2015-07-21 16:21] NoelAbrahams commented on #2566
@vladima, @mhegazy,

The memory and CPU for the version released with VS 2015 RTM look very stable and normal. The performance of the intellisense engine is also markedly faster.

Good job with fixing this!
Thanks.

[2015-07-21 16:33] billti commented on #3941
I see you logged this on the Node Tools side also ( https://github.com/Microsoft/nodejstools/issues/302 ). We'll address it there and track it with that issue. Thanks!

[2015-07-21 16:33] #3941 closed

[2015-07-21 16:36] #3146 closed

[2015-07-21 16:36] #3574 closed

[2015-07-21 16:36] #3659 closed

[2015-07-21 16:36] #3685 closed

[2015-07-21 16:36] #3713 closed

[2015-07-21 16:36] #3783 closed

[2015-07-21 16:36] #3839 closed

[2015-07-21 16:36] #3869 closed

[2015-07-21 16:36] #3905 closed

[2015-07-21 16:38] nippur72 commented on #3953
as for the workaround, what about
[code]

[2015-07-21 16:39] NoelAbrahams commented on #3939
What the Lord giveth with one hand, he taketh away with the other.

[2015-07-21 16:41] ahejlsberg commented on #3925
This is by design. It doesn't have to do with call signatures, but rather with the assignment compatibility rules for type parameters. Given a type parameter T with a constraint C (that is `<T extends C>`), T is assignable to C, but not the other way around. This is because a type parameter is a proxy for some type that is known to satisfy the constraint but is likely to have more members. It woul

[2015-07-21 16:41] Vadorequest commented on #3953
This workaround should make it, thanks. ;)

[2015-07-21 16:41] #3925 closed

[2015-07-21 16:42] mhegazy commented on #3953
Sorry about that. i have added it to the breaking changes list. they are IE-specific and we have cleaned up most of these, to keep the library accurate. to get your code to work all you need is the defintiion for these, so include this in one of your files:

[code]

[2015-07-21 16:42] #3953 closed

[2015-07-21 16:44] Vadorequest commented on #3953
It makes sense! Thanks for the quick review and help, much appreciated!

[2015-07-21 16:46] mhegazy commented on #3952
it is the slash before the `$` that is tricking the colorizer.

[2015-07-21 16:46] Vadorequest commented on #3953
Just another thing, I just saw you made a spelling mistake in the breaking change page at `detatchEvent `:

[2015-07-21 16:53] mhegazy commented on #3951
this is currently by design. we have disabled some of the colorization logic in this release as it was causing memory pressure. we are working on fixing this in the next release. sorry for the trouble.

[2015-07-21 16:54] mhegazy commented on #3953
thanks! fixed.

[2015-07-21 16:56] ahejlsberg commented on #3912
Sadly, this is not a bug. The ES6 destructuring syntax is eerily similar to the syntax for object types. The following is perfectly valid ES6:

[code]

Not entirely clear how we'd make something like that an error.

[2015-07-21 16:56] SaschaNaz commented on #3952
I think the last `` ` `` character should not be blue, should it?

[2015-07-21 16:56] mhegazy commented on #3937
@jamiewinder sorry i did not explain. your diagnosis is correct. @yui is fixing it by ensuring that the `__extends` is emitted inside the body.

[2015-07-21 16:59] aleksey-bykov commented on #185
- uninitialized class members - classes forbidden
- optional fields - optional fields/parameters forbidden
- missing return statements - a custom tslint rule that makes sure that all execution paths return

[2015-07-21 16:59] mhegazy commented on #3655
Just to clarify, the issue we are tracking here is making sure that `__extends` is emitted inside the body of the register call.

[2015-07-21 17:01] mhegazy commented on #3937
another workaround is to use `--noEmitHelpers` to suppress emitting the `__extends` in all files, but you need to include it at least once in your project.

[2015-07-21 17:02] mhegazy commented on #3952
the whole thing should not be blue :D it should be colorized just like the one in `const url1 =`

[2015-07-21 17:02] yuit commented on #2213
I can't repo this when trying to debug  above code in Firefox debugger

[2015-07-21 17:06] SaschaNaz commented on #3952
Ah, you're right.

[2015-07-21 17:07] mhegazy commented on #3912
Just to clarify, the issue here is that the declaration file generated is not valid. there is an extra ":" emitted after "prop" in:

[code]

[2015-07-21 17:11] DanielRosenwasser commented on #2213
@yuit can you confirm with this tool as well? http://sokra.github.io/source-map-visualization/

[2015-07-21 17:23] sgreer commented on #3939
I've been able to workaround the issue using grunt.  I updated my gruntfile to have a watch task that copies the files to the required directory after the JavaScript file is emitted by the TypeScript compiler.  You have to bind the watch task to the Project Open event in the Task Runner Explorer, but then it works flawlessly.

I'd be interested in an interim build as well, however this will work f

[2015-07-21 17:44] paulvanbrenk commented on #3939
I also found that a fully qualified path works for both the single file and the directory redirection.

[2015-07-21 17:51] #3938 closed

[2015-07-21 17:52] #3346 closed

[2015-07-21 17:54] RyanCavanaugh commented on #3927
That code doesn't even run?

It makes zero sense to *try* to put a `this`-bound object on `prototype`. The entire point of `prototype` is that there's only one per class (instead of per instance) -- how could a function there possibly have the correct value for `this` if the same object is acting as a method for multiple class instances?

[2015-07-21 17:59] RichiCoder1 commented on #3655
Is it? I'm reading this as a namespace issue. `__extends` just seems related.

[2015-07-21 18:00] osdm opened #3954 "Strange tuple typing"
[code]

[2015-07-21 18:07] mhegazy commented on #3655
The module name issue should be handled by the builder(see https://github.com/Microsoft/TypeScript/issues/3655#issuecomment-117796197), We have a workitem to get this done for 1.6,

[2015-07-21 18:08] mhegazy commented on #3346
Users will need to update to latest System.js/JSPM

[2015-07-21 18:10] spion commented on #185
@aleksey-bykov its funny that you mention performance, because wrapping all nullable types with ADTs imposes significant cpu and memory overhead compared to just enforcing null checks (like flowtype)

[2015-07-21 18:20] RyanCavanaugh commented on #3928
Should have a fix today

[2015-07-21 18:23] danquirk commented on #3948
A large spec update is in progress, not sure of the exact ETA.

[2015-07-21 18:24] danquirk commented on #3949
tagging @paulvanbrenk

[2015-07-21 18:25] danquirk commented on #3950
See https://github.com/Microsoft/TypeScript/issues/1544

[2015-07-21 18:25] #3950 closed

[2015-07-21 18:26] aleksey-bykov commented on #185
its funny that you think that the sole purpose of ADT's is for representing a missing value that would have been otherwise encoded by null

i'd rather say that having the "null" problem gone (and classes too) is a byproduct of all good things ADT's bring us

addressing your curiosity, for performance critical pieces like tight loops and large data structures we use so called Nullable<a> abstractio

[2015-07-21 18:27] ahejlsberg commented on #3948
@danquirk This bug is about the links on http://typescriptlang.org not pointing to the latest released specs (which is 1.5 from February). We should fix that. Yes, we also need to update the spec itself, and that is work in progress (don't have an exact ETA).

[2015-07-21 18:29] ilbmiller commented on #3930
1. Is there an 'minimum-lib.d.ts' available that has the minimum declarations to avoid the noisy TS 2318 errors when using the --noLib flag?  Or should we just mine the lib.d.ts for the above 8 global types?

2. Is there a way to specify 'use minimum-lib.d.ts' as a compiler flag?  If not, I assume we have to manually put a ///<reference path="../../../defs/minimum-lib.d.ts" /> in every ts source f

[2015-07-21 18:31] yuit commented on #2213
Here is the [link](http://sokra.github.io/source-map-visualization/#base64,dmFyIF9hID0gWzEsIDJdLCBhID0gX2FbMF0sIGIgPSBfYVsxXTsNCihfYiA9IFsxLCAyXSwgYSA9IF9iWzBdLCBiID0gX2JbMV0sIF9iKTsNCnZhciBfYjsNCi8vIyBzb3VyY2VNYXBwaW5nVVJMPTAuanMubWFw,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiMC5qcyIsInNvdXJjZVJvb3QiOiIiLCJzb3VyY2VzIjpbIjAudHMiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEsSUFBSSxLQUFTLENBQUMsQ0FBQyxFQUFFLENBQUMsQ0FB

[2015-07-21 18:31] sgreer commented on #3939
Thanks, Paul!  That's very good to know.

[2015-07-21 18:32] ahejlsberg commented on #3755
Closed in #3823.

[2015-07-21 18:32] #3755 closed

[2015-07-21 18:34] paulvanbrenk commented on #3949
Yes, you need the tsconfig.json file to set the compiler options. We do expect the tsconfig.json file to be located in a "scripts" folder next to the "wwwroot" folder.

[code]
Further you need to enable 'Compile on Save' for files that are not part of a project in tools\options.

![image](https://cloud.githubusercontent.com/assets/5273975/8809263/6effaa52-2f9c-11e5-8a7c-60693c072280.png)

[2015-07-21 18:36] johnnyreilly opened #3956 "core-js and TypeScript - how do these fit together?"
The recent blogpost on the TypeScript 1.5 release highlighted the contrast between Babel and TypeScript in terms of ES6 compatibility.

However both are listed as Babel + **core-js** and TypeScript + **core-js**:

![image](https://cloud.githubusercontent.com/assets/1010525/8809143/8d982d80-2fde-11e5-8bbc-d1bc43cb5d43.png)

I understand that Babel ships with core-js but I'm a little confused as to

[2015-07-21 18:37] ahejlsberg commented on #391
Fixed in #3823.

[2015-07-21 18:37] #391 closed

[2015-07-21 18:37] agrafix commented on #3927
Sorry, that was a mistake this morning. I now copied the output of the typescript compiler (and removed the console.log and added a simple incr operation) to benchmark the differences:
[code]

Benchmark in Google Chrome (Version 42.0.2311.135) with http://benchmarkjs.com/ :
[code]

The classic method call is fastest, and the arrow binding is 25% percent slower. The `.bind(this)` is terrible, as yo

[2015-07-21 18:41] RyanCavanaugh commented on #3927
You can! Simply write your method as an arrow function and this will happen.

You should also understand that it isn't just a case of a 25% function invocation hit. Let's say you have a class with 30 methods and you allocate 200 instances of it. If all methods are on the prototype, you'll allocate 30 closures. If all methods are put on the instance, you'll allocate **6,000** closures. That's going

[2015-07-21 18:47] HellBrick opened #3957 "Adding a TS file to a project breaks renaming files in VS 2015 RTM"
Here are the steps to reproduce the issue:

1. Create a new ASP.NET 4 project in VS 2015 RTM by using the default MVC template.
2. You can make sure the renaming works at this point: use Solution explorer to rename any file with a C# class in it (HomeController.cs, for example), agree to rename the class itself and verify that it has been renamed successfully.
3. Add a TypeScript file to the proje

[2015-07-21 18:48] NickHeiner commented on #1544
Hi – I just posted a dup of this (#3950) after losing a lot of time tracking it down. It looks like there are other people who have had similar issues. I would strongly :+1: throwing an error or at least logging a warning in this case. If you just log a warning, then at least people can search for that text string and find the docs you write about it, and start to understand what's going on.

[2015-07-21 18:50] RyanCavanaugh commented on #3956
"TypeScript + core-js" is just what it sounds like - using the TypeScript compiler with the core-js polyfills.

The Kangax table is a little confusing because it's designed for measuring runtimes, not transpilers. For example, the TypeScript language isn't itself going to do anything special to support the "Array.prototype methods" row. We just add it to lib.d.ts and we're "done", but the Kangax t

[2015-07-21 18:51] jonathandturner commented on #3954
In your example, there isn't really a type to bind to.  You're saying T extends a type, but there's not enough information to know which type you mean.  It's like saying "pick a subtype of T, but I won't tell you which one".

The x=>x isn't enough to help figure it out either.

When the compiler hits that point, it chooses a conservative answer, like {}, to help prevent other errors from slipping

[2015-07-21 18:51] sccolbert opened #3958 "The Playground website appears to be broken"
http://www.typescriptlang.org/Playground

Here's a small sample of the errors being thrown when loading the page:
[code]

[2015-07-21 18:53] RyanCavanaugh commented on #3958
Working fine for me. Try doing a cache clear / hard reload?

[2015-07-21 18:53] jonathandturner commented on #3958
What browser are you using?

You may need to clear your browser cache and reload, as I recently updated the browser to the newest version.

[2015-07-21 18:54] osdm commented on #3954
Could you please point to paragraph in the specification which discusses this process of choosing a conservative answer?

[2015-07-21 18:55] spion commented on #185
Why use two fields there? `'uses a': a` should be sufficient

I suppose you also have callNullableResult<T,U>(f: T -> U, arg:T) => Nullable<U> (including all other overloads for functions with different arity) to deal with all external functions that return nulls?

And if the null keyword is forbidden by a linter, how do you get a `Nothing` stored in a nullable? do you special-case `toNullable(nul

[2015-07-21 18:56] agrafix commented on #3927
Thanks for pointing that out - I now see why the suggested work-arounds are probably not a good idea in general case. I will go with the arrow function methods for now (as needed) and hope that maybe proper `this` typing ( #3694 , #229 ) will land in typescript soon! Thank you for your time!

[2015-07-21 18:57] osdm commented on #3954
And one more question. If we have a tuple as a result, then we have a contextual type with a property "0" for our array literal. But at the same time, we don't have a contextual type for array element. I think this is not logical.

[2015-07-21 19:00] sccolbert commented on #3958
Hard reloading worked. Running on Chrome, where I usually only get stale cache for localhost. Weird.

Thanks, and sorry for the noise!

[2015-07-21 19:00] #3958 closed

[2015-07-21 19:02] danquirk commented on #3948
Sorry, you're right, Will get @jonathandturner on that.

[2015-07-21 19:03] kdcllc commented on #3493
The issue is with MSBuild. I am not completely sure but I think when VS.NET 2013 TypeScript Extension is installed it sets the version of the Typescript somewhere. TypeScriptToolsVersion = 1.4

So I modified the MSBuild for the machine: C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\TypeScript

to the following:

[code]

[2015-07-21 19:03] RyanCavanaugh commented on #3954
This isn't specific to tuples. You see the same behavior with object literals:
[code]
We don't meaningfully contextually type `x => x` because the parameter type is just `T`. Arguably we should use base constraint of a type parameter when contextually typing by it, which should make all these examples "just work". @ahejlsberg ?

[2015-07-21 19:06] RyanCavanaugh commented on #3930
`src\lib\core.d.ts` isn't fully minimal, but is much smaller than the full `lib.d.ts`

Why would you have to put this in every source file? The "flag" you're describing is equivalent to `--noLib` plus adding the path to the lib.d.ts file you want.

[2015-07-21 19:10] osdm commented on #3954
@RyanCavanaugh Well, at least there should be an compilation error, because [{}] is not assignable to { "0": (p1: number) => number }. Because of this IMHO this is a bug.

[2015-07-21 19:12] RyanCavanaugh commented on #3954
That's a good point

[2015-07-21 19:16] s-panferov opened #3959 "TSX: Cannot read property 'flags' of undefined"
Minimal example to reproduce:

[code]

Trace:

[code]

Command to run:

[code]

Compiler is the latest:

[code]

Here is the repo https://github.com/s-panferov/ts-jsx-issue

[2015-07-21 19:19] RyanCavanaugh commented on #3959
See #3903 (fix pending at #3942)

[2015-07-21 19:19] #3959 closed

[2015-07-21 19:19] aleksey-bykov commented on #185
well, in this example it is enough, but it doing it like this overloads the purpose of such field, which 2 distinct cases:
- to turn type into nominal (the filed name in your example): https://gist.github.com/aleksey-bykov/0ab85f0b5e83fc848f85
- to make it aware of a generic type parameter so it is accounted for as far as the surface of the object (type of the value in your example): https://githu

[2015-07-21 19:24] RyanCavanaugh commented on #204
I'm still not sure what you're proposing that is meaningfully different from `typeof` or `new() => T`.

[2015-07-21 19:24] aleksey-bykov commented on #185
ha! i am not a fan of union types at all and can talk for hours of what makes them a bad idea

back to your question, give me a reusable equivalent of `Either a b`  using unions and type gurards
(a hint https://github.com/Microsoft/TypeScript/issues/2264)

[2015-07-21 19:28] s-panferov opened #3960 "What is the right way to use generic components with JSX?"
Hello,

I have a generic component, e.g. `class Select<T> extends React.Component<SelectProps<T>, any>`. Is there any "right" way to use it from JSX?

It is impossible to write something like `<Select<string> />` in JSX. The best thing that I've found is to write

[code]

And use `StringSelect` instead of `Select<string>`. Is there anything better?

[2015-07-21 19:30] ilbmiller commented on #3930
Thx Ryan - but I'm a bit unclear as to how to go about 'adding the path to the lib.d.ts file you want'?  Can you show an example invocation of 'tsc' that uses lib.core.d.ts in conjunction with a --noLib flag?
In other words, here is my 1.5.3 experiment:`
touch foo.ts
tsc --noLib foo.ts                 // get TS 2318 errors, so how do I get lib.core.d.ts in the 'path'?
`
Of course, 'tsc foo.ts' wor

[2015-07-21 19:32] bterlson commented on #3696
I missed the isConstructor check! You're right that's what the spec says, but this is an error. Spec will be fixed. Intention is for this not to throw via not installing a default constructor with a super call in this case.

[2015-07-21 19:36] RyanCavanaugh commented on #3960
I can't think of a better way to do it, though I'll try to come up with something more clever.

Note that your code isn't quite right (this is why you saw the crash in the other issue) -- it should be
[code]
Your `Select` class is a constructor function, not an instance of it. It's probably worthwhile to make a type alias:
[code]

[2015-07-21 19:37] MihaMarkic opened #3961 "Breakpoints and systemjs"
Looks like breakpoints are disabled in Visual Studio when working with systemjs and using IE.
Here is a [stackoverflow issue](http://stackoverflow.com/questions/29017386/typescript-debugging-in-vs-not-working-for-aurelia-jspm-set-up) and here is a [blog post](http://colinsalmcorner.com/post/aurelia--debugging-from-within-visual-studio).
Is this a bug, a feature, something else?

[2015-07-21 19:38] bterlson commented on #3696
Well, maybe. See bug here: https://bugs.ecmascript.org/show_bug.cgi.

[2015-07-21 19:43] spion commented on #185
The types in your example [aren't more nominal just because they're recursive](http://bit.ly/1MG9k2X) - they remain "pseudo-nominal".

The [playground](http://www.typescriptlang.org/Playground#src=interface%20Y%20%7B%20'i%20am%20a%20very%20certain%20type'%3A%20Y%20%7D%0Avar%20y%20%3A%20Y%20%3D%20%3CY%3E%20undefined%3B%0Afunction%20destructure%3Ca%2C%20r%3E(%0A%09something%3A%20a%20%7C%20Y%2C%0A%09

[2015-07-21 19:49] aleksey-bykov commented on #185
Ha! That's a damn good catch of yours. Well, something must have changed in the recent versions of the compiler. Here is the bulletproof nominal:

[code]

[2015-07-21 19:51] s-panferov commented on #3960
@RyanCavanaugh yes, I see, you are right. I just could not go further and see error messages because of the compiler crash.

I think that generic components is not a common case, so maybe this workaround is quite enough right now (maybe it must be documented somewhere). But I will be glad to see a better way to do this.

[2015-07-21 19:52] aleksey-bykov commented on #185
Wait a second! You [cheated](http://www.typescriptlang.org/Playground/#src=interface%20User%20%7B%0D%0A%20%20%20'a%20user'%3A%20User%3B%20%2F%2F%20%3C--%20name%20has%20a%20whitespace%20preventing%20it%20from%20autocomplete%0D%0A%20%20%20key%3A%20string%3B%0D%0A%20%20%20name%3A%20string%3B%0D%0A%7D%0D%0A%0D%0Ainterface%20Aser%20%7B%0D%0A%09'a%20aser'%3A%20Aser%3B%0D%0A%09key%3A%20string%3B%0D%0A%09

[2015-07-21 20:15] ilbmiller commented on #3930
Aha - I was thinking 'path' as in 'java classpath', but it turns out that adding the lib.core.d.ts as one of the files to be compiled works.  So the solution that worked for me is:
[code]

[2015-07-21 20:17] RyanCavanaugh commented on #3696
@bterlson can you fix that link?

[2015-07-21 20:24] kfisher723 opened #3962 "Compiling to SystemJS module type ignores alias definitions"
When attempting to alias an exported namespace from an external module, if the compilation is set to SystemJS module type, it appears the alias is being ignored.

Here's an example:
[code]
Import Test Code:
[code]
When compiled as an AMD type, the aliases are clear in the code:
[code]
However, when compiled as a systemJS module type, the aliases aren't defined:
[code]

[2015-07-21 20:32] aleksey-bykov commented on #185
| To answer your question though: you don't implement a generic Either, precisely because types are not nominal. You simply use...

that's nice what you say, how is it `Either` though? that authentic `Either` is **GENERIC** and there are some 30 standard convenience functions around it, now you are saying I i need to go resolved (nominal) and have as many as 30 x number_of_combinations_of_any_2_ty

[2015-07-21 20:38] danquirk commented on #3961
tagging @vladima

[2015-07-21 20:51] JsonFreeman commented on #3696
So for TypeScript, it seems like there are two things to fix:

1. The error we give is actually wrong for `extends null`. In that case, the user should not have a super call. And also, the fact that we require a super call could be bad for extending an expression where the runtime value *could* be null.
2. We need to change our pre-ES6 emit for default constructors if you extend null. Again, this

[2015-07-21 20:54] vladima commented on #3466
An open question here: what behavior should we have in case of cycles:
[code]

should it be an error or should we implicitly break the cycle and use some default value instead of the actual one?

Current behavior does not have this problem and is consistent across const and regular enums. I'm going to convert this issue into the suggestion to alter existing behavior and pick reasonable strategy to

[2015-07-21 20:57] vladima opened #3963 "Error message is misleading when const enum member is initialized with const value defined below"
[code]

Error message does not give any clues about how to fix the problem since member initializer here *is* a constant expression.

[2015-07-21 20:57] yuit commented on #3696
@JsonFreeman : you are right. I believe we will need to fix our emit default constructor for below es5 to be able to handle ```extends null```

[2015-07-21 20:58] vladima commented on #3466
Error message issue #3963

[2015-07-21 21:06] mhegazy commented on #2719
thanks @vvakame!

[2015-07-21 21:06] #2719 closed

[2015-07-21 21:07] mhegazy commented on #3957
@paulvanbrenk can you take a look

[2015-07-21 21:20] paulvanbrenk commented on #3957
This is a problem in the Visual Studio codebase, not in the TypeScript code. We did submit a fix there, but I can't tell you at this time when that will be available.

[2015-07-21 21:20] #3957 closed

[2015-07-21 21:25] johnnyreilly commented on #3956
Thanks for that @RyanCavanaugh.

For my own part I'd come away with the impression that TypeScript was planning by 1.6 to provide near enough 100% ES6 compatibility.  I took this to mean not only compilation level but also polyfills for downlevel transpilation.  From what you've said I now realise it doesn't.

Is there somewhere I can look to clarify what polyfills TypeScript supplies and so which

[2015-07-21 21:33] bterlson commented on #3696
Gah, edited. Sorry.

[2015-07-21 21:35] JsonFreeman commented on #3954
I'm debugging this now. I'll be able to give you an answer soon about what is going on.

[2015-07-21 21:36] paulvanbrenk commented on #3939
I checked in a fix for this, which should be part of 1.6

[2015-07-21 21:39] JsonFreeman commented on #3954
@jonathandturner @RyanCavanaugh @osdm We do use the base constraint for contextual typing, as of recently, #3822. So there is something else amiss.

[2015-07-21 21:39] jods4 commented on #185
Hopefully this thread is still monitored by people from the TS team. I want to try to reboot it!
It seems to me that non-null types got stuck when it became obvious that it was impossible to introduce this in a non-breaking way. The C# team is thinking about non-nullable reference types and is of course faced with the same problems, notably compatibility. I like the ideas that they are exploring a

[2015-07-21 21:41] DanielRosenwasser commented on #3956
See [the DefinitelyTyped `.d.ts` for core.js](https://github.com/borisyankov/DefinitelyTyped/blob/master/core-js/core-js.d.ts) to get an idea of what we don't polyfill ourselves.

The rule of thumb is that if there's a canonical/sane emit that doesn't have a huge perf-hit, we'll try to support it. We don't add any runtime methods or data structures, which is more what core.js serves to do.

[2015-07-21 21:46] JsonFreeman commented on #3954
Ok, turns out we are leaking an internal compiler type that looks like `{}`. It happens whenever you try to infer a type for a type parameter, and the type parameter contains the anyFunctionType, but isn't directly the anyFunctionType.

[2015-07-21 21:59] Gambero81 opened #3964 "suggestion to inline const keywords for ES5"
it would be great to transpile const declaration with inline value when target is ES5 (as already Done with const enum), so it will prevent to include useless javascript.
An example:

[code]

what do you think?

[2015-07-21 22:06] aleksey-bykov commented on #185
it's amazing how people want a faster horse instead of an automobile..

[2015-07-21 22:13] jods4 commented on #185
No need to be condescending. I have read your comments about ADT and I don't think they are what I need. We may discuss that if you want to, but in a new issue about "ADT support in TS". You may write there why they are great, why we need them and how the alleviate the need for non-nullable types. This issue is about non-nullable types and you're really hijacking the topic.

[2015-07-21 22:16] JsonFreeman commented on #3696
I think SameValue(protoParent, null) is a better check, that way it doesn't change the behavior for `extends Function.protoype`. But maybe that will break `extends { prototype: null }`.

[2015-07-21 22:17] robfe commented on #1558
Is there any special reason why this one-line fix keeps getting pushed back? https://github.com/Microsoft/TypeScript/blob/master/src/lib/dom.generated.d.ts#L6078

If it's just a matter of priorities I'd love to help out. This one is annoying me since there's no clean way to replace the interface property

[2015-07-21 22:26] DanielRosenwasser commented on #3952
This is not us being "confused" by the slash. This is a VS specific feature that is agnostic to our language service. You can see the same behavior within regex literals as well.

![image](https://cloud.githubusercontent.com/assets/972891/8813960/64c4025c-2fbc-11e5-835e-c1702392e462.png)

As a work-around, you can disable single-click URL navigation in `Tools` > `Options`:

![image](https://cloud.

[2015-07-21 22:41] aleksey-bykov commented on #185
what you are talking about is called constant propagation and, if implemented, should not be limited only by 2 random constants that happened to be `null` and `undefined`. Same can be done to strings, numbers and whatever else and this way it makes sense, otherwise it would be just for nurising a few old habits some people are not willing to quite

[2015-07-21 22:52] JsonFreeman commented on #3954
I am adding a rule in the subtype relation to fix this.

[2015-07-21 22:55] mhegazy commented on #1558
@zhengbli can you take a look.

[2015-07-21 22:58] JsonFreeman commented on #3954
Ok, the new rule is that a type with signatures is *not* a subtype of the anyFunctionType. It is assignable, but it's not a subtype.

[2015-07-21 23:00] mhegazy commented on #3964
How does it get emitted in a .d.ts for instance? what if the const value is dependent on non-const values or has side effects, e.g.

[code]

the const enums are restricted to only constant expressions which is different from the const semantics; so we can not copy the implementation, we need to come up with a different proposal.

[2015-07-22 00:01] #3952 closed

[2015-07-22 00:05] spion commented on #185
@aleksey-bykov and of course then to get better type restrictions you implement higher kinded types, and to get derived instances you implement typeclasses and so on and so forth. How does that fit with the "align with ES6+" design goal of TypeScript?

And its still all useless in solving the original problem from this issue. Its easy to implement Maybe (and Either) in TS using generic classes, ev

[2015-07-22 00:14] JsonFreeman opened #3970 "Add anyFunctionType to the spec"
We have a wildcard type in the compiler called anyFunctionType. Since there are some type system rules that relate to this type (for example the change in #3968), it should ideally be added to the spec. Note that this likely fits into the work of #1186 for updating overload resolution in the spec.

[2015-07-22 00:30] DanielRosenwasser commented on #2916
I adapted @mhegazy's list to a task list in the original issue. @CyrusNajmabadi can check off anything he's already worked on. I think the first item has been taken care of.

[2015-07-22 00:39] mhegazy opened #3971 "TypeScript 1.6 Breaking Changes log"
This issue tracks breaking changes to the 1.6 release. The full list can be found in the wiki: https://github.com/Microsoft/TypeScript/wiki/Breaking-Changes#typescript-16

* [External modules parsed in strict mode](https://github.com/Microsoft/TypeScript/wiki/Breaking-Changes#module-body-is-parsed-in-strict-mode) see #2598 for more details
* [System module output uses bulk exports](https://github.

[2015-07-22 00:42] #3962 closed

[2015-07-22 00:51] DanielRosenwasser opened #3972 "Should not get a builder after 'export default' in completion lists"
![image](https://cloud.githubusercontent.com/assets/972891/8815669/05e3ae76-2fd1-11e5-87ea-936affe60cf7.png)

[2015-07-22 00:52] #3972 closed

[2015-07-22 01:02] Griffork commented on #185
@jods4 does that mean that all currently existing .d.ts files will need to be updated with an out-of-work flag, or that the project-wide setting doesn't affect .d.ts (and a .d.ts without a flag is always assumed to be the 'old'  way.
How understandable is this (is it going to cause problems for people working on multiple projects or confusion when reading .d.ts files)?
What will the interface betw

[2015-07-22 03:39] d180cf opened #3975 "Transpiling ES6 generators into a ES5 state machine?"
This must have been discussed here, but I couldn't find that discussion. So what's the reason for not supporting es6 generators when targeting es5?

In my spare time I'm writing a tsumego (it's like a mating problem in chess) solver in js which is supposed to be run on a tsumego hosting site like goproblems. This means that the solver must be es5-compatible. The solver itself is a fairly complicat

[2015-07-22 03:45] basarat commented on #3975
You can compile with `--target es6` to strip out annotations and then pass it through to traceur / others.

Just work that needs to be done. It will come with release 1.6 :https://github.com/Microsoft/TypeScript/issues/1664

[2015-07-22 04:25] d180cf commented on #3975
Will I lose the ability to debug the original .ts files via source maps? Theoretically a tool like traceur could take into account a preexisting source map and generate a composition of source maps, but I have a doubt that traceur is this advanced.

Thanks. This answers my question.

[2015-07-22 04:42] DanielRosenwasser commented on #3975
To be clear, targeting ES6 with async will be supported in 1.6. Not downlevel support.

My understanding is that the work required is understood (#1781), but the team is still weighing the complexity/gain tradeoff.

[2015-07-22 04:59] RyanCavanaugh commented on #1558
@robfe it's a prioritization thing. FWIW we're always accepting PRs for lib.d.ts fixes (or anything else that's very low-risk, e.g. wiki edits, comments / formatting improvements, etc).

[2015-07-22 06:01] kitsonk commented on #185
It maybe lost in this thread, but what problem does this solve?  That is something that has alluded me.  The arguments I have seen recently in this thread are "other languages have it".  I am also having a hard time seeing what this solves that is useful that doesn't require some sort of machinations on TypeScript.  While I can an understand that `null` and `undefined` values can be undesirable, I

[2015-07-22 06:10] Griffork commented on #185
@kitsonk
The problem is that all types can be null, and all types can be undefined but not all operations that work on a specific type don't work on null or undefined values (e. g. divide) causing errors.
What they want is the ability to specify a type as "is a number and is never null or undefined" so that they can ensure that when using a function that has the possibility of introducing null or

[2015-07-22 06:25] unional opened #3976 "template string not parse correctly in es3"
[code]

transpiled to:
[code]
This is in `frankwallis/plugin-typescript@2.0.1/lib/plugin.js` of the jspm (systemjs) package.
Using `mhegazy/typescript@v1.5-beta2` jspm package.
Is this fixed in 1.5.3?

[2015-07-22 06:45] MariaTimova commented on #3685
Hi Jonathan,

Thanks for helping with the process.

[2015-07-22 06:46] unional commented on #3976
Likely systemjs issue. Closing this.

[2015-07-22 07:16] DanielRosenwasser commented on #3976
I'm not able to repro it, but it seems odd that you even get that output. Can you fully confirm this is a systemjs issue?

[2015-07-22 07:23] s-panferov commented on #3960
Full working workaround for generic components:

[code]

[2015-07-22 07:55] bergmark commented on #185
@kitsonk this is a great argument for this issue; `null` is not a `number`, it's no more a `Person` than a `Car` is. It's its own type and this issue is about allowing typescript make this distinction.

[2015-07-22 08:13] tinganho commented on #185
@kitsonk I think one of the most common error is null reference/access undefined errors. Having the capability to specify a property or variable to not being null/undefined will make software code more sound. And also let tools such as LS to catch bugs like this one https://github.com/Microsoft/TypeScript/issues/3692.

[2015-07-22 08:24] kitsonk commented on #185
Thanks for the clarification.  Maybe I am missing something here again too, having looked back through this...  Since there is already an "optionality" argument in TypeScript, why would the following not work as a proposal?

[code]

While there is greater functionality in some of the proposed solutions, I suspect type guarding against them becomes a challenge, where as this (though I don't know th

[2015-07-22 08:41] tinganho commented on #185
Just to clarify the optionals right now in TS are only optional during initialization. `Null` and `undefined` is still assignable to all types.

This is some unintuitive cases of optionals

[code]

[2015-07-22 08:44] tinganho commented on #185
Or to just keep it simple `optional` in TS means not initialized. But this proposal says that undefined and null cannot be assigned to a non-voidable(non-null, non-undefined) type.

[2015-07-22 08:46] Victorystick commented on #185
The `?` is placed by the property/argument name because it refers to the _existence_ of that name or not. @tinganho explained it well. Extending his example:
[code]

The non-null `!` is unrelated to _existence_ of a name. It is related to the type, which is why it should be placed by the type. The type is non-nullable.

[code]

[2015-07-22 09:33] NoelAbrahams commented on #3939
@mhegazy,

This has been marked as a high priority issue, but then it only be available in 1.6, which is probably many months away.

Putting in a workaround (of copying the files to the output directory) is going to be quite an undertaking, because we have 40 plus projects to worry about.

Is there any chance of getting this fix early?

[2015-07-22 09:42] Knagis opened #3977 "InterfaceTypeWithBaseTypes.baseTypes is lazily loaded without clear API to do that"
This issue appeared after upgrading from 1.4 to 1.5 - the baseTypes of a class were always returning `undefined` - by looking in the source I found that calling, for example, `getConstructSignatures()` would lazily load the data.

        if (node.kind === ts.SyntaxKind.ClassDeclaration) {
            var cl = <ts.InterfaceTypeWithBaseTypes>checker.getTypeAtLocation(node);
            console.log(

[2015-07-22 09:46] ilmax commented on #3939
I'm asking for an early fix either.

[2015-07-22 09:53] NoelAbrahams commented on #3952
Okay, thanks. Turning off the hyperlinking seems to be a reasonable solution. There might still be a tiny bug in here because in `url2` in my original post the first back tick is coloured but not the second.

[2015-07-22 11:27] jods4 commented on #185
@Griffork Existing `.d.ts` would work fine and can be updated smoothly to support more strict definitions.
By default `.d.ts` do not opt-in. If a library author updates its library with faithful non-null definitions, it indicates so by setting a flag at the top of the file.
In both cases everything just works without any thinking / configuration from the consumer.

@kitsonk The problem this solves

[2015-07-22 12:01] jbondc commented on #185
@kitsonk ```void 0``` is the keyword/constant for the value 'undefined'. In ES6 it can finally be fixed by using:
``` const undefined = void 0;```

Would likely avoid confusion to use these terms:
- null, undefined as *values*.
- Null as the *type* which contains only the value 'null'
- Undefined as the *type* which contains only the value 'undefined'
- void as the *primitive type* which contains

[2015-07-22 12:06] guybedford commented on #3346
TypeScript was only supported in SystemJS 0.17, which had the bulk export handling in place, so this shouldn't be breaking for TypeScript users of SystemJS.

[2015-07-22 12:22] mariusschulz commented on #3861
For future reference, here's the mentioned `for` loop:

https://github.com/Microsoft/TypeScript/blob/32bec3b3e7ba55600da7b3f065251b02388089dd/src/services/services.ts#L275-L282

@aozgaa If you want to link to a specific line (or a range of lines), you can get a permalink to the blob by pressing <kbd>y</kbd> while you're looking at the file on GitHub. That way, changes to the file don't mix up your

[2015-07-22 12:57] ctrlShiftBryan commented on #3939
Hoping for a fix before 1.6....

[2015-07-22 13:07] nippur72 opened #3978 "[async] Cannot read property 'members' of undefined"
when compiling this code for ES5 (not ES6)
[code]
instead of giving the "only available in ES6" warning, it throws this exception:
[code]

using tsc `1.5.3`

[2015-07-22 13:11] aleksey-bykov commented on #185
type *void* doesn't have any values but both `null` and `undefined` values are assignable to it

[2015-07-22 13:17] meirgottlieb commented on #3015
When considering a format for JSON type information and a library to work with it, take a look at these two projects:

Generates type information in JSON format:
https://www.npmjs.com/package/tsreflect-compiler

Library for working with type information in Node:
https://www.npmjs.com/package/tsreflect

[2015-07-22 13:30] Sharpiro commented on #3939
Also requesting an interim build

[2015-07-22 13:46] UTGuy commented on #3949
I checked this morning... here is our project structure...

/project root
    /wwwroot
    /client
        /app
            - *.ts
            - tsconfig.json

I have the compile "Compile on save" option checked and this works.

I also tried putting a "scripts" folder next to the "wwwroot" folder as you suggested with the tsconfig.json file in it and that would not work unless the "Compile on save

[2015-07-22 14:07] aikeru commented on #3956
@RyanCavanaugh I personally disagree and I think you have it backwards.
As core.js does not ship with TypeScript, TypeScript shouldn't get the extra score.

Why not core.js + Traceur?
For that matter, why not core.js + Chrome/Firefox/IEx?

...and why stop at core.js when there are other shims and polyfills that could raise other scores?

I'm sympathetic that those who support and enjoy TypeScript

[2015-07-22 14:14] jbondc commented on #185
The TS spec doesn't match reality:
[code]
Agree with the intent of 'void' as a return type is to say no value is returned. Though people have different definitions of what ```void``` should be so don't have the answer there.

[2015-07-22 14:17] tinganho commented on #185
@jbondc I think I checked the spec recently. `void` is an umbrella term for `null` and `undefined`. Don't know about `void 0`, but I guess `void` also has it under its umbrella.

[2015-07-22 14:23] tinganho commented on #185
Ref: https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md#324-the-void-type

[2015-07-22 14:29] jbondc commented on #185
So let me spin this around:
[code]
This currently infers the type ```any```, what should it infer?
[code]
This currently infers the type ```any```, what should it infer?

[2015-07-22 14:30] tinganho commented on #185
Infers `any`. but `null` and `undefined` is still assignable to all types.

[2015-07-22 14:33] tinganho commented on #185
void 0 always returns `undefined` also http://stackoverflow.com/a/7452352/449132.

[2015-07-22 14:38] djcsdy opened #3979 "Incorrect type definition for TypedArray `set(array, offset)` functions"
TypeScript 1.5.3 defines the following type signature for `Uint8Array#set(array, offset)`:

[code]

And for `Uint16Array#set(array, offset)`:

[code]

Similar type signatures are defined for the other TypedArray view types.

These definitions match neither ES6 nor the obsolete Kronos TypedArray spec.

For the `array` argument, ES6 accepts any TypedArray view type, or any object with a `length` pro

[2015-07-22 14:40] robertsundstrom commented on #3015
I see type metadata emission as useful when wanting to infer things at runtime, for example generating a data model or serialize data. I really hope that the community can come up with a proposal that also works with decorators in cases where there are no type annotations available, like in standard ECMAScript.

[2015-07-22 15:10] s-panferov opened #3980 "Class expression inside a generic function bug"
This code seems to be valid TS:

[code]

But it fails to compile:

[code]

Is it a bug?

[2015-07-22 15:23] jods4 commented on #185
@jbondc if the question was about a potentiel null-aware type system such as the one I described above,

[code]

should infer the type `null`.

There are lots of corner cases around `undefined` and to be honest I am not (yet?) sure about what is the best way to tackle it. But before spending a lot of time thinking about it I would like to know if the TS team would be OK with an opt-in strategy.

L

[2015-07-22 15:55] kitsonk commented on #3956
@aikeru I didn't realise it was a game to try to win by scoring the most points...  As long as the table is clear on how what is being measured, then it is like any other table/chart.

Personally, I find it informative to see how TypeScript compares with other solutions that are looking to fill the whole gap of ES6/ES2015 in a runtime environment.  TypeScript is not looking to polyfill functionali

[2015-07-22 15:58] aikeru commented on #3956
@kitsonk I invite you to read my response to @RyanCavanaugh in the kangax ticket.

I will reiterate one of the key points I made here, however.
The question we should be asking is this one:

What percentage of ES6 (or 7, etc.) works with Babel out of the box, in the default configuration?
What percentage of ES6 (or 7, etc.) works with TypeScript out of the box, in the default configuration?

The r

[2015-07-22 16:05] RyanCavanaugh commented on #3956
To even the playing field, let's define "out of the box" as "the compiled JS runs without any other scripts loaded"

[2015-07-22 16:59] mhegazy commented on #3346
I believe TypeScript support was added in release [v0.17.0](https://github.com/ModuleLoader/es6-module-loader/releases/tag/v0.17.0), where as the bulk export was added in release [v0.17.1](https://github.com/ModuleLoader/es6-module-loader/releases/tag/v0.17.1). @guybedford would it be safe to assume no one is using 0.17.0?

[2015-07-22 17:02] johnnyreilly commented on #3956
Thanks for the clarifications @ryancavanaugh and @danielrosenwasser. I don't want to participate in the bun fight this issue is fast becoming.

That said, I think it would be valuable to list somewhere in the official TypeScript documentation what ES latest => ES5/ES3 transpilation is provided by TSC "out of the box" / where "the compiled JS runs without any other scripts loaded".

Whilst it's pos

[2015-07-22 17:02] DanielRosenwasser commented on #3952
That's still just the issue with VS itself. It's looking for anything in a text buffer that it considers part of a URL and formatting it as such.

[2015-07-22 17:03] aikeru commented on #3956
@RyanCavanaugh I see. So rather than basing it off of the npm package for babel/typescript or the playground/try-it-now environments on the official site or the actual install you'll use for your project ... Because Babel, by default, includes the shims for those functions in a library, are you saying you think it should be excluded for all of them?

Nevermind that it's included in the packaging a

[2015-07-22 17:11] aikeru commented on #3956
Is there even a canonical answer from TypeScript folks on how core.js should be included?
It would be awfully nice to have.

[2015-07-22 17:15] kitsonk commented on #3956
@aikeru not to be rude, but I am afraid I have other things to do then read your arbitrary personal opinions in other forums.  I am interested in participating in the TypeScript community, contributing to it, not randomly bashing people in a semi-neurotic way.

[2015-07-22 17:16] DanielRosenwasser commented on #3861
@mariusschulz thanks for the tip! That's going to save me quite a bit of frustration in the future.

[2015-07-22 17:25] aikeru commented on #3956
@kitsonk the level of integration and support that TypeScript provides for core.js is simply not the same as with babel. That's a fact, but we (the community) could change this.

My hope is to engage the JavaScript community at large into a productive discussion which will lead to better information when choosing a transpiler or a set of tools for client code.

Please, if you wish to contribute to

[2015-07-22 17:25] RichiCoder1 commented on #3956
These two, at least, are specifically excluded in part by:
https://github.com/Microsoft/TypeScript/wiki/TypeScript-Design-Goals#non-goals

I could agree with providing some link to Core JS. Would love some official documentation or a wiki blurb in including it in a project.

[2015-07-22 17:27] mhegazy commented on #3977
pinging @JsonFreeman

[2015-07-22 17:28] DanielRosenwasser commented on #3956
A wiki/handbook blurb might be useful. Perhaps we'll mention it around our non-goals, but that might not be as visible for interested users.

[2015-07-22 17:31] RichiCoder1 commented on #3956
To use the meme, why not both? A dedicated wiki page, a mention in the getting started ocs, and a [1] in non goals with a reference to aforementioned wiki page. Might require some more somewhere, but that would cover most the bases.

[2015-07-22 17:39] mhegazy commented on #3980
this is not really related to classes or functions. the constraint on S is it has to be *at least* of type state, but does not mean that a value of type State is assignable to it, it may need more properties that are missing in the base type.

here is a simplified version of your snippit:
[code]

[2015-07-22 17:41] s-panferov commented on #3980
@mhegazy I understand, thanks!

[2015-07-22 17:41] #3980 closed

[2015-07-22 17:49] JsonFreeman commented on #3977
In general, there are two recommendations for using the Types API:

1. Do not cast to a type that grants you access to more properties. These properties are generally hidden in a subtype for a reason.
2. Do not directly access properties that start with `resolved`

Instead, you should call a function that gets you these things and that will take care of the lazy computation.

@Knagis In the versio

[2015-07-22 17:49] JsonFreeman commented on #3977
@mhegazy Is there anything that needs to be done here?

[2015-07-22 17:52] paulvanbrenk commented on #3949
Compile on build expects the tsconfig.json to be located in the root of the scripts folder next to the wwwroot folder.

[2015-07-22 17:54] JsonFreeman commented on #3977
@Knagis, are you asking us to expose the getBaseTypes function on the TypeChecker interface? What are you trying to use it for?

Also, I think we should designate these properties as internal.

[2015-07-22 18:05] NoelAbrahams opened #3981 "Unhandled error at `Microsoft.CodeAnalysis.Editor.TypeScript.Features.Classifier`"
Hi,

**Version**:VS 2015 RTM/TS 1.5

I got this crash while editing a code file

[code]

[code]

[2015-07-22 18:31] danquirk commented on #3975
As mentioned, this is on the table, we just haven't done/committed to it yet.

[2015-07-22 19:14] guybedford commented on #3346
Yes there was a ~10 day release window where 0.17.0 was the primary release for TypeScript testing. Because it's a patch upgrade, and the TypeScript support was clearly indicated as a new in-progress feature, I see no issue with including this in TypeScript and allowing the break for that tiny segment, who can simply do a patch update. Strictly it is a breaking change though for this segment, so c

[2015-07-22 19:30] Knagis commented on #3977
In the master branch I only see `resolvedBaseTypes` field but no `getBaseTypes()` method.

---

I am writing code that extracts certain classes and properties from the code and creates documentation page from that. I need base types both to check if a class should be included in the documentation (if it is derived from a certain base class) and to display the type hierarchy there. Is there a diffe

[2015-07-22 19:31] guybedford commented on #3408
@wforney are you saying here that a file `web.config` located in the base-level of the TypeScript folder with those contents would make this work in IIS?

[2015-07-22 19:37] vladima commented on #3408
yes, removing `bin` from the set of hidden segments will make it work however ASP.NET guys have not recommended to use this approach as it might result in a security hole (i.e. if some sensitive data is stored somewhere in folder named `bin` )

[2015-07-22 19:52] lazutkin commented on #3749
@RyanCavanaugh I think that allowing indexing expression with numeric literals in would be concise and good solution.

[2015-07-22 20:00] JsonFreeman commented on #3977
I was talking with @mhegazy and he suggested maybe getting the base type nodes from the AST and then getting the types of those base type nodes. So if you have the class declaration node `classNode`, you would `classNode.heritageClauses`, find the extends list in there, call it `heritage`. Then `heritage.types`, and those will be expressions with type arguments. Then call `checker.getTypeAtLocatio

[2015-07-22 20:06] Gitgiddy commented on #3939
:+1:

[2015-07-22 20:27] Gitgiddy opened #3983 "It is unclear to me how tsconfig.json is used in Visual Studio 2015"
It is unclear to me how tsconfig.json is used in Visual Studio 2015.  And what happens when the TypeScript panel in the Project Properties conflicts?  Does switching to use tsconfig.json kill features like Save-On-Compile?

[2015-07-22 20:39] btesser opened #3984 "Bug: Incorrect return type of SubtleCrypto.digest"
Currently window.crypto.subtle.digest() return type is specified as `any`.  Instead, it should be a ```Promise<ArrayBuffer>```

[2015-07-22 20:48] Knagis commented on #3977
That could be done, it just slightly increases the complexity since there can be multiple declarations.

What is the reason why the Type could not expose the baseTypes? If I call `Type.getProperties()`, it returns all properties including inherited properties from base types - so it does have this information internally.

[2015-07-22 20:50] JsonFreeman commented on #3977
Oh I see, you are not using the TypeChecker interface, you are using the Type interface defined in services. I think you're right - it's reasonable for us to expose getBaseTypes().

[2015-07-22 20:59] mhegazy commented on #3983
Sorry for the confusion.. we are working on cleaning this up. An easy way to think of this, is a project file (.csprox, .jsproj, .vbproj or .njsproj) and a tsconfig.json are mutually exclusive. if you have a project file the tsconfig is ignored. if you want to use a tsconfig file, do not use a project.

In the future, i would see us adding an option in the project property pages to allow you to us

[2015-07-22 21:00] taicho commented on #3939
This has also ruined the ability for my projects containing TypeScript with --out to build normally. Unfortunately my team and I will not be able to use VS 2015 with our current projects as the redirect output option for TypeScript does not appear to use relative paths anymore and appears to not honor the VS macros i.e. $(ProjectDir). Anybody that has embraced TypeScript and makes heavy use of it

[2015-07-22 21:02] taicho commented on #3939
To add to the pitch forks - we need an interim build or patch otherwise it's back to VS 2013 for those of us who love TS.

[2015-07-22 21:06] taicho commented on #3939
Why is this issue closed? The bug may be fixed but it is a critical issue to any real-world user of TypeScript. Please re-open to give this issue much needed attention...

[2015-07-22 21:08] aleksey-bykov opened #3985 "Syntax highlighting not working properly for template strings."
![image](https://cloud.githubusercontent.com/assets/937933/8837389/1e6628fc-3094-11e5-82d9-0ac6814f4894.png)

Can be seen at [playground](http://www.typescriptlang.org/playground#src=%60%24%7B%60%0D%0A%60%7D%0D%0A%09interface%0D%0A%60%3B).

[2015-07-22 21:12] JeroMiya opened #3987 "Remove preferGlobal flag"
Most projects should be using a local version of the typescript compiler, typically via a build tool like grunt/gulp, not a globally installed one. That way each project can upgrade the typescript compiler when it's ready to. The warning on npm install is misleading, and can confuse new programmers jumping into an existing project.

[2015-07-22 21:53] danquirk commented on #3987
Seems worth considering. I think originally we imagined taking so few breaking changes that you'd just always use the latest tsc since a project that hadn't updated to vNext features would still 'just work' with the new compiler. Since we've been taking more breaking changes over time it's less and less the case that you could confidently take all your new projects to tsc vNext and experience 0 ne

[2015-07-22 21:54] frankwallis commented on #3976
The issue is that transpile does not accept the ```target``` option as a string. I don't know if this is intentional or not. To recreate:

[code]

[2015-07-22 21:57] aleksey-bykov opened #3988 "Question: is there a more elegant way to representing `type Line = string | Line[]`?"
I wish I could define a type as follows

[code]

Looks like it's there is a fundamental limitation in the type system that doesn't allow doing so.

I ended up having my type defined like this:

[code]

but I don't like it because it only works that many times

Is there a more elegant and typesafe way of getting a type like this that works beyond 27 nested levels?

[2015-07-22 21:57] craigktreasure commented on #1812
@mhegazy I am hitting this again with the VS 2015 RTM and TS 1.5 with my project targeting 1.5. Enum definitions are not converted to constants. Any thoughts?

[2015-07-22 22:02] mhegazy commented on #3939
@taicho we are working on it. hopefully i will have an update in the next day or so..

[2015-07-22 22:06] RyanCavanaugh commented on #3988
I would probably write
[code]
and call it a day at 4.

I don't think we have a way to represent an infinitely-expanding type alias like this.

[2015-07-22 22:06] taicho commented on #3939
Thanks for the prompt response @mhegazy! Sorry for the trolling I just wanted to make sure this didn't get lost in the sea tasks.

[2015-07-22 22:12] mhegazy commented on #1812
are they regular enums or const enums? can you share a repro?

[2015-07-22 22:16] craigktreasure commented on #1812
They are regular enums. Same repro as the first post when i opened this issue. Workaround is to mark the enum as a const enum in the definition, but that shouldn't be necessary.

[2015-07-22 22:19] RyanCavanaugh commented on #3988
A shorter and sillier way of writing this type to depth 10
[code]

[2015-07-22 22:25] DanielRosenwasser opened #3989 "Error for findReferences/getDocHighlights/quickInfo on type alias type parameter"
Try getting references/occurrences/quickinfo at the following markers:

[code]

[code]

[2015-07-22 22:29] vladima commented on #1812
this is [breaking change in TypeScript 1.5](https://github.com/Microsoft/TypeScript/wiki/Breaking-Changes#enum-reference-in-lining-changes):

[2015-07-22 22:29] DanielRosenwasser commented on #3989
If you try to get completion entry details for `T` when typing, you'll get the same issue.

[2015-07-22 22:32] JsonFreeman commented on #3977
@Knagis does #3990 address your need?

[2015-07-22 22:33] aleksey-bykov commented on #3988
+1 i like it

[2015-07-22 22:33] mhegazy commented on #3976
aah.. these functions do not do input validation, they assume you are compiling using the typescript compiler :).

looks like since we have different checks like if(target <= ES3) where the string would make it pass, the parser behaves unexpectedly.

[2015-07-22 22:34] mhegazy commented on #3976
and @frankwallis it is intentional. see the definition: https://github.com/Microsoft/TypeScript/blob/8fcca92e4ee400afaa550e0279c90209c9809751/bin/typescript.d.ts#L2074

[2015-07-22 22:38] mhegazy commented on #3976
@frankwallis i believe this is a plugin issue then.

[2015-07-22 22:46] paulvanbrenk commented on #3983
tsconfig.json is only supported in Asp.net 5 and Cordova projects currently. Since neither has a Project Properties for TypeScript they won't conflict, and tsconfig.json will take precedence.

To enable Compiler on Save, you need to enable Compile on Save for files that are not part of a project, in the Tools/Options/Text Editor/TypeScript.

We plan to have more comprehensive support in 1.6.

[2015-07-22 22:47] craigktreasure commented on #1812
Ouch. Good to know. I wish there had been a link to those in the 1.5 announcement post. If it was, i missed it.

[2015-07-22 22:49] DanielRosenwasser commented on #3985
So there are a few elements in play here:

1. In VS 2015, you will currently get the same results. See "[Why does the lexical classifier sometimes give inaccurate results for nested template strings?](https://github.com/Microsoft/TypeScript/wiki/FAQs-for-API-Consumers#why-does-the-lexical-classifier-sometimes-give-inaccurate-results-for-nested-template-strings)"
2. We are working on using the synt

[2015-07-22 22:51] mhegazy commented on #1812
Good point. Will do that next release. we usually put it in the release notes: https://github.com/Microsoft/TypeScript/releases/tag/v1.5.3

[2015-07-22 22:52] #3985 closed

[2015-07-22 22:52] phestermcs commented on #1664
@JsonFreeman TypeScript is awesome, but I have been waiting sooo patiently for sooo long for async/await support for <ES6, and you just ruined my year stating TS 1.6 will only support async/await for ES6 output. Please please please please reconsider supporting for <ES6 output in TS 1.6. Im crying.....

[2015-07-22 22:54] danquirk commented on #3988
I think https://github.com/Microsoft/TypeScript/issues/3496 covers your initial request.

[2015-07-22 23:16] DanielRosenwasser commented on #1664
@phestermcs Believe me, we understand the appeal of `async`/`await`. We're crying too.

Luckily, your entire year doesn't have to be ruined. We're aiming to release a lot more frequently from now on. :smiley:

[2015-07-23 00:01] JsonFreeman commented on #3604
@jrieken Correct me if I'm wrong, but I think you can only elide arguments at the end of the argument list, right? You can't do this for example:
[code]

[2015-07-23 00:04] DanielRosenwasser opened #3991 "Error for missing 'super' call is misleading"
[code]

Right now the error message is

[code]

But it *does* contain a `super` call.

The culprit is

[code]

Note that this function is very incorrect because you can now have nested classes where `super` does not refer to the correct `super`, but we report no error.

[code]

[2015-07-23 00:12] impinball commented on #185
@jods4 I would prefer the inferred nullable `any`, which would keep the existing syntax. And an opt-in strategy would be preferable. [1]

I would prefer an explicit syntax for non-nullable types. For objects, it would break a few too many things all at once. And also, optional arguments should always be nullable for obvious reasons (and it should be impossible to change). Default arguments should

[2015-07-23 00:31] impinball commented on #1206
@jbondc Would you mind punting the idea about extra string interpolation stuff until the rest of this gets solidified and merged? Then a followup bug would be a great place to bikeshed the rest of this out. I feel the rest of my proposal hasn't gotten the proper bikeshedding it needs.

[2015-07-23 00:35] #3898 closed

[2015-07-23 00:36] phestermcs commented on #1664
Oh no Daniel... I didn't mean for you to move async/await off to 2.0!!!! sobbing now......

[2015-07-23 02:51] DanielRosenwasser commented on #1664
I'm tempted to keep changing it just for your reactions. :wink:

![image](https://cloud.githubusercontent.com/assets/972891/8842118/e2c11b6a-30aa-11e5-93d0-5b71895f0b69.png)

[2015-07-23 03:09] alexander-matsievsky opened #3992 "TypeScript compiler bug."
Good day!

I've isolated the offending source to a separate [branch](https://github.com/alexander-matsievsky/circuitry.ts/blob/ts_compiler_error_2015-07-23T02colon51colon30dot461Z/examples/todo/classic/js/main.ts#L367-377). The commenting out of the specified lines resolves the error.

To run the code, clone the repo and compile, no `npm` or build required.

I'd have tried to fix this bug myself,

[2015-07-23 03:37] fletchsod-developer commented on #1664
👍👍
On Jul 22, 2015 10:51 PM, "Daniel Rosenwasser" <notifications@github.com>
wrote:

[2015-07-23 03:47] Knagis commented on #3977
Yes, it does.
Thank you!

[2015-07-23 03:47] #3977 closed

[2015-07-23 03:48] alexander-matsievsky commented on #3992
After some playing with the code I've found out that this compiles OK:

[code]

This produces the error:

[code]

[2015-07-23 04:23] impinball commented on #12
Bump...this would become even more useful if (and when) non-numeric enums become part of TS. The typical use case for enums involve zero state, just data.

[2015-07-23 04:23] impinball commented on #1206
I feel the rest of my proposal hasn't gotten the proper bikeshedding it needs.

- Constructor argument inference?
- Syntax itself?
- Enforced stronger typing when explicitly typed?
- Value inference when no value is explicitly given, but type is?
- Type inference based on first entry's type?
- Instances not automatically frozen (although the [`readonly` suggestion](https://github.com/Microsoft/Typ

[2015-07-23 04:35] teppeis commented on #2719
Thanks! Conclusion:
* default exports interop with CommonJS (this original issue): **won't fix**
* default exports interop with other ES6 transpilers like Babel (https://github.com/Microsoft/TypeScript/issues/2719#issuecomment-92368965): **fixed** #3586

[2015-07-23 04:44] RyanCavanaugh commented on #3992
Verified repro at the specified tag. This no longer crashes in `master` or at `v1.5.3`, so I'd recommend updating to either the latest or the released 1.5 version. Thanks for the detailed report, though!

[2015-07-23 04:44] #3992 closed

[2015-07-23 04:46] d180cf commented on #3779
Btw, does TS have plans to support nested types: `interface Foo { type Bar = number; }`? If yes, then it seems natural to have built-in nested types:

[code]

[2015-07-23 04:57] impinball commented on #3964
Suggestion: limit that scope to what enums can handle. And FWIW, in my [enum proposal](https://gist.github.com/impinball/1462ff07309111810799), I already created an algorithm to figure out most of what's safe to replace. It's intentionally limited to booleans, numbers, strings, `null`, and `undefined`, and function calls do not count. It's towards the end of [this section](https://gist.github.com/

[2015-07-23 05:07] alexander-matsievsky commented on #3992
@RyanCavanaugh Oh, it's great to know! Thank you!

[2015-07-23 06:00] impinball commented on #3987
Not saying I disagree with this (I don't), but TypeScript [isn't][coffee] [the only][babel] [one][livescript] [guilty][jshint] of using `"preferGlobal": true`, when the best, most common use case is locally. Even CoffeeScriptRedux, Traceur, and (almost surprisingly) Browserify don't. It's simple enough, I'm opening a quick PR for it.

*<sub>(The ones I linked were [CoffeeScript][coffee], [Babel's

[2015-07-23 06:06] mhegazy commented on #3964
This is then just constant propagation. it is not strictly tied to `const` declarations or enums. we will have to allow constant expressions to emitted in .d.ts files (which today they do not) to enable this feature.

[2015-07-23 06:17] phestermcs commented on #1664
Oh yeah! well Fork you!

![image](https://cloud.githubusercontent.com/assets/4985028/8844253/d09fb55a-30c7-11e5-85e7-5c3c21ffc68d.png)

[2015-07-23 06:19] vvakame commented on #2719
ah, I missed it.

@mhegazy
now, TypeScript's es6 module syntax is not support `export = ` style export assignment.
We can't replace external module syntax to es6 module syntax in .d.ts file.
I have a question. whether or not to write es6 module syntax definition for CommonJS code?

[2015-07-23 06:41] impinball commented on #3964
@mhegazy I'm aware of that. That's basically what the suggestion would entail, just as the enum situation currently does. I am fairly neutral on this, although it would be better for the compiler to allow some sort of pluggable transform like what Babel does, or a similar framework to allow that. The API exists to do the manipulations, but there isn't much of an ecosystem to go with it.

[2015-07-23 06:47] DanielRosenwasser opened #3994 "Apply more TSLint rules"
Including

- [ ] One variable declaration per variable statement (see https://github.com/palantir/tslint/issues/525)
- [ ] Spaces, not tabs
- [ ] No space preceding colons
- [ ] Double quotes for strings (though, depending on TSLint's behavior on this, we can be flexible.
- [ ] No explicit types for inferrable entities
- [ ] use `namespace` instead of `module` (see https://github.com/palantir/tsli

[2015-07-23 06:50] RyanCavanaugh commented on #3987
Not sure. From the NPM docs:

I think this applies to the NPM `typescript` package (same as it does to the other packages you linked). I don't believe that local npm usage is the most common use case -- is there any data available on that?

I agree with this part, but come to a different conclusion. The way I see it is that there are two cases -- people who generally know what they're doing with N

[2015-07-23 07:09] jrieken commented on #3604
unsure about that, but you can all ```foo(undefined, 2, 3)```

[2015-07-23 07:09] mhegazy commented on #3859
thanks @ShyykoSerhiy !

[2015-07-23 07:09] #3859 closed

[2015-07-23 07:12] guybedford commented on #3655
Note anonymous `System.register` output as it is doing should always be the default, with names optional only for creating bundles.

There is another issue here actually, and that is that code outside of the `System.register` closure statement is not strictly supported by the format. It runs in a global scope, so will leak variables declared here onto the global object which isn't ideal. It also m

[2015-07-23 07:13] guybedford commented on #3655
(note the above explains the multiple anonymous System.register statements issue - it's not detecting the file as a System.register format due to this extra code)

[2015-07-23 07:13] guybedford commented on #3655
The suggested fix would be to output:

[code]

[2015-07-23 07:20] mhegazy commented on #3604
The initialization is considered a marker for optionality, and `?` is prohibited. no non-optional members are allowed after an optional one. doing this would be a large breaking change, unless we only treat them as optional if they fall at the end, which would be a convoluted rule.

Unless we have a proposal for how to make this work, i would be inclined to mark it as won't fix.

[2015-07-23 08:41] NoelAbrahams commented on #1664
Down-level emit has been one of the strong points of previous TypeScript releases - especially the excellent work in 1.5.

I would really welcome an experimental emit for `async/await` under a flag in 1.6. That way there is likely to be better feedback from users. I really don't seem many people compiling up to ES6. Browser support is still many years away and hooking up external transpilers kind

[2015-07-23 09:08] matthiasg commented on #3908
@adidahiya application.js would be a normal common js file with module.exports = ...

the idea is to introduce typescript in a slow and orderly fashion and not change every file bottom up to be touched.

for namespaces: having looked at that i would have to do some experimentation with it to find out how this would really affect us since it seems to map very well to a simple wrapper function ...()

[2015-07-23 10:26] impinball commented on #3987
@RyanCavanaugh

Browserify does not. And out searching for ["npm"][npm] and ["command"][command], the only one I found that is remotely close to that kind of problem is [this bug][bug]. And I actually clicked on about a quarter of them (the ones that weren't immediately obvious as not related). As for a heuristic off of that, people are usually stupid, but developers are usually not as stupid as t

[2015-07-23 11:58] aminroosta opened #3996 "typescript 1.5 language specifications"
Where can i find the **typescript 1.5 language specifications** ?
[This Link](http://www.typescriptlang.org/Content/TypeScript%20Language%20Specification.pdf) is for the **1.4** version.
Even a draft or a working version of **1.5** language specification is OK,

Since so much have changed in the new version of typescript.

[2015-07-23 12:10] AlicanC commented on #1664
Actually, TypeScript could just emit ESMAX and let Babel or Traceur or whatever do the rest of the job.

`tsc sick-es7-stuff.ts --target "babel:es3"`

[2015-07-23 12:56] qdrj opened #3997 "New Website Logo: RoboWhale"
- Name: RoboWhale
- Homepage url: http://robowhale.com/
- Brand Guidelines/Licensing: ...
- Logo: http://robowhale.com/wp-content/uploads/robowhale_logo.png

We're developing all our web games in TypeScript. Thanks!

[2015-07-23 13:06] ToddThomson opened #3998 "VS2015 Community Should have a TypeScript New Item Type in the Folder base website"
When adding a new item (file) to a VS2015 Web Site there is no option to add a Typescript file type. Everything else under the sun, but no Typescript file option ( or Typescript Definition, d.ts ).

[2015-07-23 13:27] jods4 commented on #185
@impinball

Why would you want to infer `any?`? You only return `null` so clearly the inferred type should be `null`, I think anything else would be muddying the static types.
Returning `any` allows you to do things like: `let x = returnsNull(); if (x !== null) x.yadaYada()`, which makes no sense as it's only dead code.

I proposed above to opt-in to the new breaking checks but I have to say I hav

[2015-07-23 13:36] corruptmem opened #3999 "HTML File constructor does not declare the required parameters"
The HTML5 File API specifies that the File constructor has two required parameters and one optional parameter: http://www.w3.org/TR/FileAPI/#file-constructor-params

However the dom.generated.d.ts file specifies that the File constructor has no parameters:
https://github.com/Microsoft/TypeScript/blob/84a6ee1fb9b6f820840bac227c039ef6d1d830b9/src/lib/dom.generated.d.ts#L3033

This leads to the follo

[2015-07-23 14:35] phaas opened #4000 "Document the tsconfig.json file"
Please add documentation for the `tsconfig.json` file.

I did not find any information in the [Handbook](http://www.typescriptlang.org/Handbook) and the [1.5 Release Announcement](http://blogs.msdn.com/b/typescript/archive/2015/07/20/announcing-typescript-1-5.aspx) only links to the [pull request](https://github.com/Microsoft/TypeScript/pull/1692).

Unfortunately the pull request does not make it

[2015-07-23 14:58] impinball commented on #185
@jods4

I didn't mean it in that sense. I meant there's less of a use case for nullable numbers than for nullable strings. I'm not that attached to that suggestion, anyways (I wouldn't care either way).

With what means? I don't believe you can currently configure the compiler on a file-by-file basis. I'm open to be proven wrong here.

[2015-07-23 15:28] JeroMiya commented on #3987
First, keep in mind that removing the flag doesn't mean users can't still install typescript globally. It just removes the warning which, for a significant portion of users, is not really true - the preferred place to install the compiler is at the project level, not global. Remember, projects want to list typescript as a dependency not just because of breaking changes, but because they need a min

[2015-07-23 16:02] impinball commented on #3987
@JeroMiya A few (Gulp as an example) just bundle both the module and CLI into a module, and requires the local version for the task list, bailing if one doesn't exist.

[2015-07-23 16:35] NoelAbrahams opened #4001 "Incorrect indenting for promise"
Hi,

**Version**: VS 2015 RTM/TS 1.5

The formatting for the `then` callback seems wrong. Towards the end, I am required to hit Cntrl+D to get the document to format. I shouldn't have to do this.

![giff1](https://cloud.githubusercontent.com/assets/1106823/8856165/f4a0996c-3160-11e5-82ff-108b0e66741c.gif)

[2015-07-23 16:41] RichiCoder1 commented on #4001
Very much agree with this. Drives me crazy.

[2015-07-23 16:46] darrylring opened #4002 "`isNaN` and `isFinite` should accept number or string"
According to the ES5.1 spec (15.1.2.4, 15.1.2.5), `isNaN(number)` and `isFinite(number)` perform the `ToNumber(number)` abstract operation before checking if `number` coerces to `NaN` or `±Infinity`.

To me, this implies that the argument to these functions can be any type. I think TypeScript should follow this as well. Why check if a variable is a number before checking if it's not a number (NaN)

[2015-07-23 16:53] vvakame commented on #4000
https://github.com/Microsoft/TypeScript/wiki/tsconfig.json ?

[2015-07-23 16:55] DanielRosenwasser commented on #4000
We're tracking this with https://github.com/Microsoft/TypeScript-Handbook/issues/2

[2015-07-23 17:10] danielearwicker commented on #1664
An initial release without downlevel, followed by a later release with downlevel, is exactly what I requested/predicted 6 months ago (see above) so I'm feeling pretty damn smug right now. :sunglasses:

Seriously though, this is way better than having no option while waiting until downlevel is good and ready.

[2015-07-23 17:38] ecp3 opened #4003 "incorrect source map"
I think the source maps being generated are incorrect in some instances.  I had an IntelliJ 'node' project working in 1.5.0-beta that experienced debugging problems (not stopping at some breakpoints, and not stopping at each line when stepping) when I moved to 1.5.3.  I have tracked down the problem (I think) to a difference in the source maps being generated if there are comments involved.  Some

[2015-07-23 17:49] ecp3 commented on #4003
It seems like turning preserveComments off might  fix this...at least my first attempt at debugging stopped at a breakpoint I had been missing.

[2015-07-23 17:51] JsonFreeman commented on #1664
I don't know about this. To me the main value of TypeScript is in the type checking. Ideally, the downlevel emit is just to bridge small gaps between ES5 and ES6 in a way that is aesthetic, safe, and direct. It seems like Babel has already figured out how to compile generators to ES5, and it would be a shame to not leverage Babel's experience. But inevitably, we will compile generators to switch s

[2015-07-23 17:53] adidahiya commented on #3908
@matthiasg a PR for a `no-internal-module` rule in tslint is underway: https://github.com/palantir/tslint/pull/517

[2015-07-23 17:55] weswigham commented on #3994
We also need a rule to capture having `else` and `catch` statements on the line _after_ the closing curly of the previous statement. [Open issue on tslint requesting a rule for it.](https://github.com/palantir/tslint/issues/88)

[2015-07-23 17:57] RyanCavanaugh commented on #4002
The same is true of many other functions -- `Math.max`, for example, but we don't allow `Math.max(window, 'world')`.

What's some example code where you'd intentionally to pass a non-number to those functions?

[2015-07-23 18:00] jeffreymorlan commented on #3988
[code]

[2015-07-23 18:04] RyanCavanaugh commented on #3988
@jeffreymorlan :trophy: :+1:!

[2015-07-23 18:05] NoelAbrahams commented on #1664
The realities of using TypeScript as a hobby project on the side versus using it on a large-scale project are quite different. With the latter, there is much less flexibility (and desire) to take on yet another dependency, Babel in this case. This argument has been dealt with above already.

[2015-07-23 18:06] aleksey-bykov commented on #3988
whose name shall it put on the check?

[2015-07-23 18:10] darrylring commented on #4002
At the very least it should allow a string. `"4"` is finite. My use case is having a variable of type `string | number` representing a position -- similar to CSS's `vertical-align`, it could be "left", "right", "center", or 50, or -10.

[code]

If `isFinite(position) == true`, then `position` is numeric enough to compare to 0. It doesn't matter if position is `-4` or `"-4"`, it's finite, and it's

[2015-07-23 18:10] JsonFreeman commented on #1664
Yeah I know. Like I said, we are planning to do it, it just takes time.

[2015-07-23 18:21] vladima commented on #3408
Here is what we can do with TypeScript npm package to unblock this scenario
- rename `bin` to `dist` and change `main` to be `dist/typescript.js`
- add a [postinstall script](https://docs.npmjs.com/misc/scripts) to package.json that will create `bin` folder and fill it with links to files in `dist`.
[code]
This way we can be both backwards compatible in scenarios when somebody references `typescri

[2015-07-23 18:21] phestermcs commented on #1664
Saving time is what TS is all about, by enabling team scaling and better
tooling support. Feature prioritization should be lead by that. Many of the
features in progress have less impact on cost of development than helping
ease async dev. Would give up having others to get async/await now.
On Jul 23, 2015 11:11 AM, "Jason Freeman" <notifications@github.com> wrote:

[2015-07-23 18:21] AlicanC commented on #1664
Enterprise reasons for not having cool stuff earlier is so Microsoft :heart:

[2015-07-23 18:25] kitsonk commented on #4002
That sort of unintended coercion I see as one of the major use cases for TypeScript, as there is just too much "flexibility" in ES.  I personally would much prefer to throw an error and then for me to explicitly coerce it.  It make my code more explicit.  While technically it isn't needed at runtime, that is almost the whole point of TypeScript, isn't it?

[2015-07-23 18:32] JsonFreeman commented on #1664
I'm not sure it's an enterprise reason. It's just that it's not done yet.

[2015-07-23 18:32] kitsonk commented on #1664
@AlicanC that is a silly (and unnecessary) comment...  Try down emitting async... it is a butt load of work...  Properly polyfilling Promises is hard enough.  When you got loads of things to do, you have to pick and choose your fights.  I am lucky that I have been using the Promise mechanism for async coding, so I am not too fussed with this feature.

[2015-07-23 18:32] RyanCavanaugh commented on #4002
Implicit coercions are the bane of JavaScript. 99% of the 'wat' things people make fun of JS for are implicit coercions.

Thinking about `Math.max` and what its signature should be:
* `Math.max("4", 3)` is `4`, which is *not `===` to any of its inputs*
* `Math.max(" \r\n\t  ", -1)` is `0`, which again is not either of its inputs
* `Math.max(10, [11])` is `11`. So we should allow `number[]` as an i

[2015-07-23 18:35] JsonFreeman commented on #1664
I also want to mention that Promises are not even the hard part. The hard part is the generator and being able to unravel every single construct that can contain a yield expression into a state machine.

[2015-07-23 18:41] kitsonk commented on #1664
I just assumed it would be crazy difficult, because you are trying to take code written in a synchronous way (with whole loads of edge cases) and re-emit it in an ES5 async way, with loads of closure and scope issues without messing any of it up.  I am wholly unsurprised it is getting pushed out a little.

[2015-07-23 18:43] darrylring commented on #4002
I agree with both of you, but I would suggest it's a matter of degree. Let's ignore `Math.max()` because, as you say, the output can be `!==` to any of its inputs. I was not originally thinking about it, so my comment was just off-hand.

`isFinite("hello") == false` is neither unexpected nor unintended. The result makes sense and is meaningful. I understand the `+` coercion, but I do not agree tha

[2015-07-23 18:44] JsonFreeman commented on #3604
@jrieken Yes, I just wanted to make sure that was the only way to pass undefined.

@mhegazy I discussed this with @ahejlsberg and we think it is reasonable to only treat them as optional at the end (the one that you are saying is a convoluted rule).

[2015-07-23 18:47] JsonFreeman commented on #1664
Yes, it is certainly a nontrivial transformation, where every edge case needs to be accounted for. And that every new kind of expression and statement that gets added in the future needs to have special logic for this transformation.

[2015-07-23 18:47] darrylring commented on #4002
[code]

Tell me how this is more explicit or clear. JavaScript is the worst.

[2015-07-23 18:49] ahejlsberg commented on #3996
Latest copy is located here:

https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md

I'm working on an update that incorporates the latest features, but can't give you an ETA. Meanwhile, your best source of information is the linked issues on the roadmap page:

https://github.com/Microsoft/TypeScript/wiki/Roadmap

[2015-07-23 18:49] #3996 closed

[2015-07-23 18:51] JeroMiya commented on #3987
@impinball yes, I pointed out that option as well. in that case, I would still remove the flag because the package serves a dual use (local or global), where the global package would defer to the local one, if present.

[2015-07-23 19:01] druppy opened #4004 "amd reexport symbols"
I have been trying the new reexport feature together with amd modules, and found a strange detail.

It seem like the compiler does not understand that the symbol need to be reexported. So this code :

[code]

using the tsc --module amd ...

emits the following :

[code]

here the function is exported but the imported amd module is totally ignored, and therefor not reexported.

If, I ... on the oth

[2015-07-23 19:05] kitsonk commented on #4002
Well, that is why I don't like the simplified coercions... I prefer to use the more explicit:

[code]

Because of exactly that...  No one is going to get confused (including the runtime) about what I am trying to do, including myself.  More typing, sure... but far less surprising.

[2015-07-23 19:11] NoelAbrahams commented on #1664
All the more reason to have an experimental version out early, no? :smile:

[2015-07-23 19:15] ahejlsberg commented on #2469
@mhegazy Curious why you removed the bug label?

[2015-07-23 19:31] darrylring commented on #4002
My thinking is that in the case of `isFinite` and `isNaN`, they tell you if something can be coerced into a number that is finite or not. If you're going to use it as a number, it's going to have to be coerced anyways:

[code]

I guess I just don't really see what the second line buys you over the first, at least as far as `y` being a number or a string goes.

[2015-07-23 19:36] RyanCavanaugh commented on #4002
Unary `+` is in nearly every programming language -- it might be unclear if you've never seen it before, but the same is true of every operator.

The real problem here is that calling `isFinite` is a meaningful and well-defined operation on numbers, and an *incredibly tricky* operation on non-numbers with many counter-intuitive results. Doing the *tricky* operation by default is dangerous. If you

[2015-07-23 19:36] #4002 closed

[2015-07-23 19:38] RyanCavanaugh commented on #3604
How is making a prior error a non-error a breaking change?

[2015-07-23 19:41] RyanCavanaugh commented on #3994
Do we have one for spaces between `if` and `(` ?

[2015-07-23 19:52] weswigham commented on #3994
We also need one for the space after a method declaration but before the method body, ie disallowing:
[code]
and
[code]

[2015-07-23 19:52] JsonFreeman commented on #3604
@RyanCavanaugh That is a good question.

[2015-07-23 19:55] weswigham commented on #3994
Also a rule for enforcing inferred typing on primitive literal declarations, ie
[code]
should be
[code]

[2015-07-23 19:58] JsonFreeman commented on #3604
I do not think it is a breaking change.

[2015-07-23 19:59] weswigham commented on #3994
The rule added that will be added from [this PR](https://github.com/palantir/tslint/pull/517) should also be enabled to disallow the `module` keyword for internal modules.

[2015-07-23 20:01] weswigham commented on #3994
@RyanCavanaugh `"whitespace": [true, "check-branch"]` should be covering that.

[2015-07-23 20:04] jamesxv7 commented on #3948
Being **TypeScript** an open source project, why the specification document can not be a living document that the community can contribute in the same way as it contributes to source code. I'm sure there are many excellent technical writers in the community with the desire to genuinely contribute in this project.

[2015-07-23 20:09] danquirk commented on #3779
@d180cf local/nested types are already in, planned for 1.6: https://github.com/Microsoft/TypeScript/pull/3266

[2015-07-23 20:12] danquirk commented on #4001
This is the kind of bug that one could call minor but is in fact anything but.

[2015-07-23 20:12] #4000 closed

[2015-07-23 20:51] robfe commented on #1558
I've just noticed that IE 11 itself considers `options` to be a reference to the select element

[code]

In the older spec options is a `HTMLCollection`: http://www.w3.org/TR/REC-DOM-Level-1/level-one-html.html#ID-94282980

But as per http://www.w3.org/TR/html5/forms.html#dom-select-options it's an `HTMLOptionsCollection`

where HTMLOptionsCollection is:

[code]

I'm keen to submit a fix for this,

[2015-07-23 21:15] luisfco commented on #3981
I have a related error, editing VB files:
C:\Users\Luis\AppData\Roaming\Microsoft\VisualStudio\14.0\ActivityLog.xml

System.InvalidOperationException: Unexpected false at Roslyn.Utilities.Contract.ThrowIfFalse(Boolean condition, String message) at Microsoft.CodeAnalysis.Editor.Shared.Tagging.ProducerPopulatedTagSource`1.GetTagIntervalTreeForBuffer(ITextBuffer buffer) at Microsoft.CodeAnalysis.Edit

[2015-07-23 21:28] zuzusik opened #4007 "Error in wiki on What's New page"
https://github.com/Microsoft/TypeScript/wiki/What's-new-in-TypeScript#computed-properties has the following code example:
[code]
On line `[initialNeighbor.name] = initialNeighbor` it should  be `:` instead of `=`

[2015-07-23 21:29] jods4 commented on #185
@impinball

Maybe I am wrong. I've never used them but when looking at test cases I see lots of comments looking like `// @module amd`. I've always assumed that it was a way to specify options from inside a ts file. I've never tried to do it, though, so maybe I'm completely wrong! Look for example here:
https://github.com/Microsoft/TypeScript/blob/master/tests/cases/conformance/externalModules/amd

[2015-07-23 21:46] vladima commented on #3981
@luisfco hey! thanks for this information. I don't think it is related to the original issue since it happened in VB files. Also I would suggest to report your finding to the [Roslyn issue tracker](https://github.com/dotnet/roslyn/) as this looks like a disturbing symptom

[2015-07-23 21:48] DanielRosenwasser commented on #4007
Thanks for the heads up - in the future, if you see a problem with our wiki you can send a pull request yourself to https://github.com/Microsoft/TypeScript-wiki.

[2015-07-23 21:48] #4007 closed

[2015-07-23 21:50] jonathandturner commented on #3948
@jamesxv7 there's also a markdown version of the spec.  Generally, though, specs are too difficult to write in something like markdown.  This is due in part to the need for rich support for change tracking in the editor.  TC39 experiences the same problem with the JavaScript spec, though there are a couple efforts to help with this.

BTW, the markdown version is here: https://github.com/Microsoft/

[2015-07-23 21:56] jonathandturner commented on #3948
I've bumped the version on the TS website

[2015-07-23 21:57] impinball commented on #185
There are also practical limitations in some cases - it's not the most practical for some arguments like ES6 features, as it would require completely re-parsing the file. And IIUC the type checking is done in the same pass as the AST creation in the first place.

[2015-07-23 22:09] jods4 commented on #185
If you look at the parser code, the `/// <amd-dependency />` and `/// <amd-module />` comments are read before anything else is parsed in a file. Adding something like `/// <non-null-types />` would be feasible. OK that's terrible naming and I'm not for the proliferation of arbitrary "magic" options but that's just an idea.

[2015-07-23 22:34] darrylring commented on #4002
I realized I should be using a type guard instead. There's no need to coerce anything because I always know what the type is.

[2015-07-23 23:04] zhengbli commented on #1558
Confirmed that in Edge the ``HTMLSelectElement.options`` is still a reference of itself, the same with IE 11. I suggest to make the type of ``HTMLSelectElement.options`` ``HTMLSelectElement | HTMLCollection`` to avoid assignability problems.

[2015-07-23 23:08] dalcib commented on #3655
@guybedford  In some cases this can be useful even out of creating bundles.
For example in [Meteor](www.meteor.org), with anonymous modules, all files are reload again by *xhr* in Systemjs.
Only in production mode the files are bundled.

Today it is solved by [meteor-angular2-typescript](https://github.com/netanelgilad/meteor-angular2-typescript/blob/master/plugin/handler.js) package with this cod

[2015-07-23 23:16] vladima commented on #3655
in TypeScript 1.5 [`transpile` function](https://github.com/Microsoft/TypeScript/blob/master/src/services/services.ts#L1773) has parameter `moduleName` for this exact purpose.

[2015-07-23 23:19] Griffork commented on #185
@jods4 I think @I'm pinball is saying that IDEs won't support it without large changes to how the syntax highlighting works.

[2015-07-23 23:40] rwyborn commented on #1999
@mhegazy there is now a VS2015 and VS2013 Update 5 out. Should both of these contain the fix?

[2015-07-23 23:42] ahejlsberg commented on #2469
@JsonFreeman I don't think this is a bug. The order of precedence for determining the type of a variable or parameter is:

1. Type annotation
2. Initializer
3. Type implied by binding pattern (if applicable)

Consider this example:

[code]

It would be odd indeed if the type of f's parameter isn't Foo as specified in the type annotation, but rather `{ x: number, y?: string }` because y is magicall

[2015-07-23 23:58] mhegazy commented on #1999
give VS2015 a try and let us know if you are still seeing the issue.

[2015-07-24 00:01] #3948 closed

[2015-07-24 00:10] mhegazy commented on #4001
This has been fixed in latest bits. thanks to @SaschaNaz.

[2015-07-24 00:10] #4001 closed

[2015-07-24 00:15] mhegazy commented on #3408
fine by me. @billti any concerns/ideas?

[2015-07-24 00:16] mhegazy commented on #3408
do we have to change `main` in package.json? i thought we can configure JSPM to find the right file without updating package.json?

[2015-07-24 00:19] JsonFreeman commented on #2469
It's funny. Reading your three examples, I actually think the first one should just be Foo, as you say. But in the second and third, y feels like it should be optional. The way I am thinking of it, a type annotation is a firm indication of the type. But an initializer, while it does specify the types of the binding elements, it doesn't tell you the whole story about optionality. I feel like it's n

[2015-07-24 00:22] vladima commented on #3408
@mhegazy if using overrides to specify different entry point does not put restrictions on some jspm scenarios we can do the other way around, keep everything in `bin` and create `dist` folder with links as a postinstall step. @guybedford can you please clarify if this solution is ok from the jspm perspective?

[2015-07-24 00:25] #3363 closed

[2015-07-24 00:50] Jak3b0 commented on #3124
I'm trying to use the tsconfig.json inside an empty ASP.NET vNext project and it is not being used. I have to set the properties inside a PropertyGroup in the .xproj file... Is there any steps I need to do in order to make it work? @paulvanbrenk, as you mentionned in a previous reply, this should work right?

[2015-07-24 01:18] jamesxv7 commented on #3948
Excellent, I really appreciate the feedback and thanks for the reference.

[2015-07-24 02:26] ChrisTorng opened #4011 "VS 2015 RTM crash on opening ts file"
VS 2015 RTM crash on opening ts file. A lot of following errors in ActivityLog.xml:

System.Runtime.InteropServices.COMException (0x80020006): 不明的名稱。 (Exception from HRESULT: 0x80020006 (DISP_E_UNKNOWNNAME))
at System.RuntimeType.InvokeDispMethod(String name, BindingFlags invokeAttr, Object target, Object[] args, Boolean[] byrefModifiers, Int32 culture, String[] namedParameters)
at System.RuntimeT

[2015-07-24 03:34] vladima commented on #4011
@ChrisTorng   can you share typescriptServices.js file from your machine? It should be located in `C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\CommonExtensions\Microsoft\TypeScript\typescriptServices.js`

[2015-07-24 04:03] ChrisTorng commented on #4011
It's created date is 2015/7/15, size is 2,446,477 bytes.
https://onedrive.live.com/redir?resid=7E615CF7BC5DB818!44822&authkey=!AHJ1BSZURjoa4oo&ithint=file%2czip

[2015-07-24 05:14] weswigham commented on #3987
As @JeroMiya brings up, that the TS package has multiple reasons to install it is part of the issue - stemming from the multiple ways to use `npm install` - you can install executables (ie, `-g`) and/or update/install dependencies with it. And those dependencies may be for another node package or for a browserify/webpack/component/whatever browser project. As has been mentioned by others, given ho

[2015-07-24 05:16] weswigham commented on #4003
There's a possibility this is related to #2546.

[2015-07-24 05:33] mhegazy commented on #10
@hraban you are right, we will need to 1. parse jsdoc in .ts files, 2. Emit the jsdoc correctly from the AST and 3. Augment the jsdoc with type information if the jsdoc already exist.

1, is fairly trivial and so is 2. 3 needs some synthetic nodes to be created, but should not be thst complicated either (I belive it should be done as a syntactic transformation and only for explicit type annotation

[2015-07-24 06:26] DanielRosenwasser commented on #10
@mhegazy, isn't @aozgaa doing something similar?

[2015-07-24 06:34] cyparu commented on #3948
Great to see it fixed so fast:zap:! Here are all the relevant specification docs:
- [TypeScript 1.5 Language Specification **(.pdf)**](http://www.typescriptlang.org/Content/TypeScript%20Language%20Specification.pdf)
- [TypeScript 1.5 Language Specification **(.docx)**](http://www.typescriptlang.org/Content/TypeScript%20Language%20Specification.docx)
- [TypeScript 1.5 Language Specification **(.md)

[2015-07-24 06:34] AlexMaroz opened #4012 "VS2015RTM: Property 'write' does not exist on type 'Document | Window'"
Hi,

I have a web project where I using TypeScript.
When I used VS2015 Preview everything was OK. But when I've upgraded to RTM then I got error message:

This issue simple to reproduce with code below:
[code]
TypeScript [playground](http://www.typescriptlang.org/Playground) also shows the error.

Thanks

[2015-07-24 06:56] DanielRosenwasser commented on #2469
2. Initializer
3. Type implied by binding pattern (if applicable)

@ahejlsberg Is that actually the case? In the following example, `param` is contextually typed as a `string`, and the local variable `x` has the type `(s: string) => number`.

[code]

But if we used the initializer first, wouldn't we acquire the type of `x` from the type of `x` from the RHS of the top-level initializer?

Yes, I see

[2015-07-24 07:24] ddotlic commented on #3939
@NoelAbrahams  If there was a way to "Like" a comment or "+1" it, I would have done so multiple times for this comment of yours :grinning:

[2015-07-24 09:06] cveld opened #4013 "1.5 does not contain the Intl.DateTimeFormat fix (#3281)"
In 1.5 lib.d.js is still reading:
var DateTimeFormat: {
        new (locales?: string[], options?: DateTimeFormatOptions): Collator;
        new (locale?: string, options?: DateTimeFormatOptions): Collator;
        (locales?: string[], options?: DateTimeFormatOptions): Collator;
        (locale?: string, options?: DateTimeFormatOptions): Collator;
        supportedLocalesOf(locales: string[], opti

[2015-07-24 09:22] mariusschulz commented on #3861
@DanielRosenwasser You're welcome. Did you also know that you can (manually) append `?w=1` to any URL pointing to a commit diff to ignore whitespace-only line changes? Another one of those handy GitHub secrets. ;)

[2015-07-24 10:01] nippur72 opened #4014 "[VS2015] text editor "tabs" option always behaves "smart""
In VS2015, I can change the "tab" text editor options for TypeScript (none/block/smart) but the editor always behaves like it's set in `smart` mode.

I tried restoring the default settings, but didn't worked. It's stuck in smart mode.

Example
[code]
hitting `return` right after the curly brace should move caret to:
- A when "none"
- B when "block"
- C when "smart"

In this issue, Visual Studio al

[2015-07-24 11:14] nwolverson opened #4015 "lib.webworker.d.ts refers to types not defined"
`lib.webworker.d.ts` seems to refer to some types not defined in either that file or `lib.core.d.ts`: `EventInit`, `UIEvent`, `MSAppAsyncOperation`, `MSExecAtPriorityFunctionCallback`, `XMLHttpRequestUpload`, `Node`, `NodeList`, `Position`, `PositionError`, `MediaQueryList`, `MutationRecord`, `MutationObserver`, `AudioBuffer`.

It would seem that some of those types shouldn't be there, while other

[2015-07-24 11:16] Anupheaus opened #4016 ""Output Generated Successfully" on file with errors"
Using v1.5 in VS 2013, TypeScript now tells me that it has compiled any .ts file successfully, even if there is an error in it.  However, even though it says it generated the output successfully, it doesn't actually change the compiled .js file if there is an error.  Put simply:
Save file with error -> "Output Generated Successfully" -> no change to .js file
Save file without error -> "Output Gene

[2015-07-24 13:27] xsilen commented on #3444
@ttowncompiled +1 waiting to be fixed

[2015-07-24 13:42] chilversc opened #4017 "NullReferenceException when the project only contains definitions"
If a project only contains definition files and the option "Redirect JavaScript output to a directory" is set then VsTsc fails with a NullReferenceException.

    The "VsTsc" task failed unexpectedly.
    System.NullReferenceException: Object reference not set to an instance of an object.
       at TypeScript.Tasks.VsTsc.ComputeCommonDirectoryPath()
       at TypeScript.Tasks.VsTsc.GenerateOutputP

[2015-07-24 13:50] hraban commented on #10
@DanielRosenwasser Ouh, if that's the case then it's good to know now :) I sent Arthur an e-mail to ask him about it.

@mhegazy:

1. If all you want is information that is used by the compiler, then this is indeed trivial. Remove the if-guard at `if (isJavaScript(fileName)) { addJSDocComments() }` in parser.ts, and you have augmented the AST with JSDoc.
2. However, addJSDocComments is incomplete.

[2015-07-24 13:55] vvakame commented on #964
closed by #3875 ?

[2015-07-24 14:13] thewiseman commented on #3710
I'm seeing this, too.

I have an Event 'e' being returned, but trying to access e.target.result fails with the error message described above. 'e.target' is an EventTarget, and the EventTarget interface is extended by several interfaces that have the property 'result' defined (such as IDBRequest), so it seems like it should be allowed by the compiler. I would expect interface fields be required by

[2015-07-24 14:51] nycdotnet opened #4018 "Will language service getEmitOutput always return map before JS?"
We've just added support for using Babel as an alternate transpiler in atom-typescript (mostly to work around https://github.com/Microsoft/TypeScript/issues/3915 , and if any other similar issues crop up).

The feature includes support for doubly-mapped source maps.  This functionality relies on the language service returning the `.js.map` file *before* the corresponding `.js` file when `getEmitOu

[2015-07-24 15:30] ToddThomson commented on #2795
Ok, this request didn't get into the vs2015 typescript text formatting options.

I will try once again to bring this "oversight" :santa: to the typescript coding gods.

Please provide a text formatting option for including a space before and after brackets. C# has it, heck every other visual studio supported language has it.

Leaving quietly now...

[2015-07-24 15:50] mjw56 opened #4019 "Importing html template with 1.5"
Hi, I would like to be able to import an html file. However when I try this doing something like:

[code]

I get ```Cannt find module './home.html'```

Is there any way to do this currently in 1.5?

[2015-07-24 15:52] billti commented on #3408
A canonical pattern for NPM modules is to have the command line in './bin' (i.e. the file we have at https://github.com/Microsoft/TypeScript/blob/master/bin/tsc ), and have the remainder of the content in a './lib' folder. We could leave the current 'bin' files there (i.e. `tsc` and `tsserver`) and move the other to `lib`, and the only `package.json` updates needed would be to point `main` to `./l

[2015-07-24 16:02] DanielRosenwasser commented on #964
Not just yet; I need to ensure that the nightly build script actually works when it gets triggered before closing.

[2015-07-24 16:49] LPGhatguy commented on #4003
I'm seeing this same issue with a project I'm working on.

[2015-07-24 17:23] paulvanbrenk commented on #3124
What does your project look like?
The following setup should work:
[code]

[2015-07-24 17:27] mjw56 commented on #4019
Closing as it's being discussed here https://github.com/Microsoft/TypeScript/issues/2709

[2015-07-24 17:27] #4019 closed

[2015-07-24 17:56] RyanCavanaugh commented on #2795
I'll bring this up at suggestion triage.

We usually don't support uncommon formatting styles. Linking to some projects that put spaces there would be useful for establishing how many people might want this vs the complexity of adding another formatting option.

[2015-07-24 18:01] JsonFreeman commented on #2469
@DanielRosenwasser the contextual typing you are talking about is that the RHS gets contextually typed by the type *implied* by the binding pattern. However, the final type of x is determined by the outer initializer (which got contextually typed using the inner initializer).

@ahejlsberg We could just do the contextual typing rule for optional properties like you mentioned. It would only work whe

[2015-07-24 18:23] DanielRosenwasser commented on #964
Pretty confident it works so far. The command is

[code]

[2015-07-24 18:23] #964 closed

[2015-07-24 18:29] danquirk commented on #4016
The message should certainly reflect what's actually happening.

[2015-07-24 18:52] Arnavion commented on #964
@DanielRosenwasser How often are you guys going to publish? Then I can retire my repo :)

[2015-07-24 18:55] ToddThomson commented on #2795
@RyanCavanaugh Ok. Here you go for supporting bracket "[]" spacing in visual studio languages:

First, only c# and typescript matter anymore!

C# and C++ have abundant support for the unloved "[]" in typescript.

Typescript should look to be the C# of the Javascript world. Don't just support the nodejs and javascript formatting options! Be More!

Example code that looks great; is easy to read:

le

[2015-07-24 19:01] DanielRosenwasser commented on #964
@Arnavion Nightly :D

Check around midnightish to see the end-of-day build.

[2015-07-24 19:07] Sharpiro opened #4021 "Breakpoints in ASP.NET 5 Web Application"
I have been experimenting with Visual Studio 2015 RTM and Typescript 1.5.3.  After setting up gulp-tsc to generate sourcemaps in an ASP.NET 5 Web Application, i have been able to get breakpoints to be hit in the project, and even go to the correct line.

However, as soon as the breakpoint is hit, it goes to the Javascript file rather than the Typescript file, which is not acceptable.

Am I missing

[2015-07-24 19:11] dsebastien commented on #964
Awesome news :)

[2015-07-24 20:19] RyanCavanaugh commented on #2795
We usually don't support uncommon formatting styles. Linking to some projects that put spaces there would be useful for establishing how many people might want this vs the complexity of adding another formatting option.

[2015-07-24 21:20] ToddThomson commented on #2795
@RyanCavanaugh Ok. Here you go for supporting bracket "[]" spacing in visual studio languages:

First, only c# and typescript matter anymore!

C# and C++ have abundant support for the unloved "[]" in typescript.

Typescript should look to be the C# of the Javascript world. Don't just support the nodejs and javascript formatting options! Be More!

Example code that looks great; is easy to read:

le

[2015-07-24 21:26] ToddThomson commented on #2795
I realize that reposting my replay to your repost will get me no where with this issue, but heck, I do like your hat and I can turn off your MS approved no spacing within brackets!

[2015-07-24 21:34] ahejlsberg commented on #2786
The spec states that it is an error to reference a constant enum ***object*** in any other context than than a property access that selects one of the enum's members. This doesn't mean that it is an error to reference a constant enum ***type***, which is what your example does. I think [section 9.1](https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md#91-enum-declarations) in the spec i

[2015-07-24 21:34] #2786 closed

[2015-07-24 21:56] ahejlsberg commented on #2780
The introductory sentence is intentionally vague with respect to what the "destination" because it is introduction the concept of contextual typing. We could perhaps talk about the "consumer of the value computed by the expression", but I don't think we can get much closer--that's the whole point of the (long) list of bullets that follows.

I'm inclined to leave this one alone.

[2015-07-24 21:58] ahejlsberg commented on #2762
The spec is being revised to use the ECMAScript 6 grammar as a base, so this particular issue is no longer relevant.

[2015-07-24 21:58] #2762 closed

[2015-07-24 23:06] darrylring opened #4024 "tsc: Display source line and mark position where error occurred"
It would be super helpful to see the source line with the position of the error marked in the output from `tsc`. I've done a very quick, naive implementation of this (darrylring/TypeScript@0dfcc3ad7d664f622fcd5f139759bd6801d50b5d) and it seems to work nicely:

[code]

[2015-07-24 23:08] RyanCavanaugh commented on #2795
I asked you to provide some evidence that this is a common formatting style. Instead, you told me about how much you would like to have it, and talked about some other languages that also don't commonly use this spacing, which seems entirely irrelevant. Asking again seemed like an appropriate response.

If only a few people in the world want spaces between their brackets, then we're not going to d

[2015-07-24 23:26] danquirk commented on #4024
I believe @DanielRosenwasser was looking at this kind of thing.

[2015-07-24 23:59] mhegazy commented on #4018
no. :) this is not not something you can take a dependency on. this can change.

[2015-07-24 23:59] #4018 closed

[2015-07-25 00:07] mhegazy commented on #10
@aozgaa is working on jsdoc tooling in the language service. so this is up for grabs.

@hraban

I do not know, what other tags we need? do you have a list in mind? i think we should be adding them as we go, or just add a catch all generic tag that would be available in the tree but ignored by tooling cause they do not understand them. @CyrusNajmabadi  would have better ideas here.

1. simplicity,

[2015-07-25 00:13] hraban commented on #10
re: the other tags: if we make a whitelist of tags we parse to AST and rebuild the final JSDoc from that AST, the rest is lost in the output. This effectively cripples the JSDoc dialect (which is now 100%) to only those tags; the rest will be removed by tsc. This doesn't sound ideal?

[2015-07-25 00:18] mhegazy commented on #10
that is why i am saying parse them, keep them in the AST, but not report errors for them for instance.

[2015-07-25 00:22] mhegazy commented on #4013
The fix will be in next release, you can try the nightly build: `npm install typescript@next`

[2015-07-25 00:26] ToddThomson commented on #2795
@RyanCavanaugh I provided you with formatting options that Visual Studio currently offers for C# and C++. I did this to show you that they offer a programmer the choice of having spacing within brackets ( and of course other scenarios ). I also tried to provide an argument for readability in array indexing.
Yes, you did ask for references to projects that use spaces in array indexing. Seriously, h

[2015-07-25 01:23] mhegazy commented on #4012
@zhengbli can you take a look

[2015-07-25 01:58] nycdotnet commented on #4018
OK, thanks.  We'll make sure that our build component is robust enough to handle that.  Thanks!

[2015-07-25 09:13] robertknight opened #4025 "Compile options diagnostics not displayed"
Compiler options error messages are not logged to the terminal in current TSC nightly builds.

STR:

1. With typescript 1.6.0-dev.20150725, run `tsc -m commonjs -t es6 test.ts --noEmitOnError` where test.ts is an empty file

Expected Result: Error message about combining commonjs with es6 (`error TS1204: Cannot compile modules into 'commonjs', 'amd', 'system' or 'umd' when targeting 'ES6' or highe

[2015-07-25 10:37] nippur72 commented on #2819
@mhegazy but you still have to provide a list of names/aliases which is annoying if you have a file with lot of definitions. Instead it would be very useful to support a `*` syntax like this:
[code]
Ideally the best syntax would be:
[code]
but as I see from #2242 it's already taken for "Bare Imports".

Allowing import of whole files is a well established pattern (for example) in the Dart language.

[2015-07-25 11:18] qbunia commented on #3939
I managed to fix the issue in my case:
Instead of writing in Combine JavaScript output into file:
AllTypescripts.js
I wrote
C:\\Users\\Qbusoft\\Desktop\\AngularTest\\AngularTest\\AngularTest\\AllTypescripts.js

and now everything works fine :+1:

[2015-07-25 12:39] xsilen commented on #3444
@ttowncompiled I have same problem in angular2 to js in system module

So I also hope typescript can remove dumplicate dependence, After I try  to fix this problem in typescript, It sames it need more hours than i expect. I have to do it manual

 it sames the following angular file have dumplicate system.register
[code]

I use regex to fetch the error code file, maybe it can help you
[code]

[2015-07-25 17:10] MicahZoltu opened #4026 "Isolate transpile from type checker code."
Currently, if you want to do runtime transpilation in the browser you need to ship the entire compiler to the browser (~2.3MB).  I suspect that the code required for just the `transpile` method would be much smaller if it could be isolated from the type checking code

I would like to see the two separated into different files so I can ship the transpiler to the browser in a relatively small packag

[2015-07-25 17:46] ToddThomson commented on #2795
@RyanCavanaugh I took a quick look to see if spacing inside brackets is uncommon. I have to say, quite to the opposite of what I thought, the more popular coding style is to have no whitespace in brackets and parenthesis. However, spacing within parenthesis and brackets is used a little more that by a few people in the world. There are linters that can enforce spacing within non-empty brackets. I

[2015-07-25 18:40] mvolkmann commented on #3164
I find this really disappointing. I can use for-of with any iterable and target ES5 with Traceur and Babel today. I'm interested in proposing that our team switch from Traceur to TypeScript, but this limitation in TypeScript will stop that from happening. When TypeScript says it aims to be a superset of ES6, I think that needs to include the ability to target ES5 browsers for all the ES6 features

[2015-07-25 18:49] mvolkmann commented on #3164
I guess I could use TypeScript to target ES6 and then run that output through Traceur or Babel. I really don't want to have to do that though.

[2015-07-25 19:02] mhegazy commented on #4013
you can include a custom copy of the library with `--nolib`; you will need to include your custom version of the library in your project, VS and command-line build should honor it.

[2015-07-25 19:02] #4013 closed

[2015-07-25 19:05] mhegazy commented on #4026
It should be simple to separate transpile from services, that saves you 500-600 KB; separating it from the checker is more work though. if would be open to taking a PR for the first, and discussing the design of the second.

[2015-07-25 19:08] mhegazy commented on #2819
The only issue with `import *  from "file"` is it breaks single file transpilation scenarios. and prevents modules from being statically-analyzable, one of the design vectors the committee stressed.

[2015-07-25 19:10] mhegazy commented on #4025
I believe so. feel free to send a PR for this.

[2015-07-25 19:13] mhegazy commented on #2795
@ToddThomson, we would be open to accepting a PR if this is something you would be interested to contribute.

[2015-07-25 19:14] robertknight commented on #964
Indeed. Thanks so much!

[2015-07-25 20:28] vladima commented on #3444
Having duplicate entries in the list of dependencies should be perfectly fine, they should be handled correctly by SystemJS. If you are seeing some unexpected behavior related to duplicate entries, can you provide a repro as it is a bug that should be fixed.

I also would appreciate a repro for the original problem so it can be addressed as well

[2015-07-25 20:32] hraban commented on #10
Understood.

I think your reason nr 4 is pretty sensible, considering sometimes automatic types are inferred quite aggressively. E.g. `let vals = [{value: 3}, {value: 4}].map(x => x.value)` being number[] could just be a coincidence, and maybe a future value will be "foo".

Roadmap:

1. Parse JSDoc in .ts files
2. Create a wild-card JSDoc node that holds unknown directives
3. Rebuild JSDoc from th

[2015-07-25 20:40] mhegazy commented on #10
@CyrusNajmabadi any objections/suggestions

we also need a new command line arguments for generating documentation in the output.

the test cases for ts.transpile are in here: https://github.com/Microsoft/TypeScript/blob/master/tests/cases/unittests/transpile.ts

[2015-07-25 20:48] CyrusNajmabadi commented on #10
@mhegazy

I agree with '1' and '2'.  I'm not sure that '3' needs us to go so far as producing Synthetic nodes or anything that complicated.  I would just take the AST for the DocComment and emit that with some specialized emit logic.  It would basically emit the comment mostly as is, with some specialized logic around dealing with certain tags.  For example, for an ```@param``` tag, we would:

1.

[2015-07-25 20:52] CyrusNajmabadi commented on #10
@hraban

This is not quite accurate.  The JSDoc parser doesn't ignore or lose JSDoc elements.  It just doesn't create specialized nodes for JSDoc elements that it doesn't consider special.  It will always at least create a tag no matter what you end up putting after the ```@``` .  This is handled in the handleUnknownTag branch of this code:

[code]

So you could still preserve tags without any pro

[2015-07-26 00:21] ToddThomson commented on #2795
@mhegazy I think I'm up for that! I have some time in the 2nd week of Aug.

[2015-07-26 04:07] sccolbert opened #4027 "Is it possible to specify the AMD module (project) name during compilation?"
I have a large library separated into many sub directories and modules which use ES6 module syntax. They are arranged on disk something like this:
[code]

Instead of generating anonymous AMD modules and declaration files, I'd like to be able to specify a root path name and have the output explicitly define the module names, so that the files can be easily concatenated and minified:

`foo.js`
[code

[2015-07-26 04:13] elitecoder74 commented on #4011
Any movement on this issue?

[2015-07-26 04:14] tinganho commented on #4027
In addition to setting baseurl, I also think something like requirejs route mapping would also be appropriate for TS.

[2015-07-26 05:35] xsilen commented on #3444
They have deleted duplicate entries,
https://github.com/systemjs/systemjs/blob/master/lib/register.js#L538
dedupe
https://github.com/systemjs/systemjs/blob/master/lib/proto.js#L23
@guybedford

[2015-07-26 06:51] kitsonk commented on #4003
@weswigham they might be related...  It seems the compiler is not updating the source map internally wit the current position when consuming a comment.  I just ran across this one (the source file maps being wrong with `preserveComments: true`.

Here is a [link to a visualisation](https://sokra.github.io/source-map-visualization/#base64,ZnVuY3Rpb24gZm9vKHN0ciwgbnVtKSB7DQogICAgcmV0dXJuOw0KfQ0KLyoqD

[2015-07-26 07:45] nippur72 commented on #2819
@mhegazy it doesn't have to be different from what TypeScript is actually doing now.

To be more clear, my suggestion is that:
[code]
to became a shortcut for
[code]
Its only purpose should be to avoid to re-type names; it should not introduce any new behaviour.
In other words, it would scan "file" looking for exported symbols and put in place of the `*`.

[2015-07-26 12:48] s-panferov opened #4028 "Incorrect source map with jsx=preserve"
Let's create a file with some JSX inside:

[code]

And compile it:

[code]

After that, let's load the result into the http://evanw.github.io/source-map-visualization/:

Everything is fine with the first `div`:

![source map visualization](https://cloud.githubusercontent.com/assets/198327/8893958/8575a556-33ad-11e5-8ab5-86e5488abc99.png)

But not for the children:

![source map visualization2](htt

[2015-07-26 16:39] teppeis commented on #2819
@nippur72
As @mhegazy mentioned, it breaks single file transpilation scenarios.
TypeScript should use ES Modules spec syntax. It considers most of scenarios.

[2015-07-26 16:57] nippur72 commented on #2819
@teppeis if `import { * }` breaks single-file-transpilation scenarios, then `import { foo,bar }` does too (assuming that `*` would be replaced by the list of exported names). What am I missing?

[2015-07-26 18:14] aleksey-bykov opened #4029 "Type guards have strange narrowing behavior when other guard branches exhaust union constituents"
[code]

[2015-07-26 18:36] aleksey-bykov commented on #4017
can't help it, get that non-nullable types request done already or go functional

[2015-07-26 18:39] aozgaa commented on #2916
Regarding the first step, it appears <https://github.com/jsdoc2md/jsdoc-parse> already provides some of the facilities for parsing JSDoc, though it additionally gets type information from declaration signatures. Perhaps rather than re-writing the tool for our own purposes we could contribute and add a PR for an API?

[2015-07-26 18:50] rgbkrk commented on #2916
That would be so great to see adoption within the community. :smile:

[2015-07-26 19:06] aleksey-bykov opened #4030 "those sneaky debugger statements make the compiler upset"
[code]

live [demo](http://www.typescriptlang.org/playground#src=function%20f1%3Cr%3E()%3A%20r%20%7B%0D%0A%09throw%20new%20Error(String(Math.random()))%3B%20%2F%2F%20works%0D%0A%7D%0D%0A%0D%0Afunction%20f2%3Cr%3E()%3A%20r%20%7B%0D%0A%09debugger%3B%0D%0A%09throw%20new%20Error(String(Math.random()))%3B%20%20%2F%2F%20all%20hell%20breaks%20loose%0D%0A%7D%0D%0A%0D%0A)

[2015-07-26 19:08] mhegazy commented on #2819
The idea is that you can process a module in isolation, without knowing anything about other modules..

in cases where you want the compile to bring all bindings in scope using `import * from mod"` this is not possible. consider:

[code]

we do not know if `a` referes to `mod1.a` or `mod2.a`, or a global `a`. the only way the compiler can resolve these is by understanding all exported bindings fro

[2015-07-26 19:10] mhegazy commented on #4029
@tinganho wanna take a look?

[2015-07-26 19:15] mhegazy commented on #4027
The current way is to use `amd-module` tag ([more info](https://github.com/Microsoft/TypeScript/wiki/What%27s-new-in-TypeScript#amd-module-names)].

Filling in the names should be simple assuming you have a `--rootDir` specifided. the question is how you would tell the compiler to do that? new flag? or always do it if you have `rootDir`?

[2015-07-26 19:19] mhegazy commented on #4030
looks like a dupe of #1042

As i mentioned in https://github.com/Microsoft/TypeScript/issues/3647#issuecomment-115777566:

This is because the compiler does not do control flow analysis at this point. it would be a restriction that can be relaxed once this support is added.

As for now this is by design, as per the [section 6.3: function implementations](https://github.com/Microsoft/TypeScript/blo

[2015-07-26 19:19] #4030 closed

[2015-07-26 19:29] sccolbert commented on #4027
I think a new flag would be reasonable. It would be nice not to have to use an `amd-module` tag in each module when the names just reflect the input hierarchy. Maybe something like `--amdRoot` which is used as the root of all module names, with the balance of the name computed from the input directory structure.

[2015-07-26 19:29] mhegazy commented on #2795
Adding a new rule with a new config option should do it. there might be some other rules that conflict with it that would need some work.

Option InsertSpaceAfterOpeningAndBeforeClosingNonemptyParenthesis seems like a close match, so i would start by looking at it.

The formatting engine is rule based. so you will need to add a new rule for it. The rules are all in: rules.ts, see NoSpaceBeforeClos

[2015-07-26 19:33] mhegazy commented on #4027
is this for both JS and .d.ts? how about enabling `--out` with `--module` to generate a single file for all modules with multiple `define` calls? would that solve the problem?

[2015-07-26 19:52] sccolbert commented on #4027
That would be fantastic. The ultimate goal is to concat the entire library (both JS and d.ts) into a single file(s) which can be distributed and easily consumed by external users via:

[code]

Having the compiler generate the module names would at least make it possible to concat with external tools, but having it handle the total sequence would be awesome!

[2015-07-26 20:13] mvolkmann opened #4031 "iterators with ES5 target"
This is related to https://github.com/Microsoft/TypeScript/issues/3164 which implies that TypeScript will NEVER support using generic iterators when the target is ES5. I understand that supporting this requires design tradeoffs that the team wants to avoid. However, if this is not done, it's difficult to see how TypeScript can be considered a serious alternative to Babel and Traceur for ES6 suppor

[2015-07-26 20:44] elitecoder74 commented on #4011
I'm not sure which key in the registry fixed this issue for me, but I deleted both of the following:
HKEY_CURRENT_USER\Software\Microsoft\VisualStudio
[HKEY_CURRENT_USER\Software\Microsoft\VSCommon

Therefore the issue appears to be profile related.  I hope this helps.

[2015-07-26 22:48] chocolatechipui opened #4032 "Better handlng of hyphenated properties"
It is common in JavaScript to have hyphenated property names. For example:

[code]

The property "foo-bar" can be accessed like so:

[code]

From my use of TypeScript I've noticed that when using these in code or interfaces, TypeScript does not seem to reveal them as possible values. I'm talking about Intellisense, code completion, etc. I've noticed that when examining these types of properties in

[2015-07-26 22:56] paulvanbrenk commented on #4017
@chilversc Which version of VS are you using?

[2015-07-26 23:25] mhegazy commented on #4032
That is a missing feature in the language service API. The assumption is that you will call getCompletions after a dot, something that is hyphenated is not valid after a dot; what we need to do is for get completions to return a substitution string, i.e. `a.|` => `a["accept-language"]`.

[2015-07-26 23:26] mhegazy commented on #4032
We would be open to take a PR for this if you are interested.

[2015-07-26 23:27] chilversc commented on #4017
VS 2013, I think it's SP3. Though I left SP4 installing the other day so unfortunately can't confirm that.

[2015-07-27 00:42] ToddThomson commented on #2795
@mhegazy You really are an excellent example of OSS project leadership!

When I opened this issue I did a bit of research on what was required - thus the title of the issue. However, your input above is so nice to see.

[2015-07-27 02:36] ChrisTorng commented on #4011
As the information @elitecoder74 provided, I found the solution.

In HKEY_CURRENT_USER\SOFTWARE\Microsoft\VisualStudio\14.0\TypeScriptLanguageService, there are three keys:
CustomTypeScriptServicesFileLocation=C:\Users\xxx\Source\Repos\ngconf2015demo\tsc\typescriptServices.js
CustomDefaultLibraryLocation=C:\Users\xxx\Source\Repos\ngconf2015demo\tsc\lib.d.ts
CustomDefaultES6LibraryLocation"=C:\User

[2015-07-27 02:36] #4011 closed

[2015-07-27 03:46] chocolatechipui commented on #4032
I'm assuming that's in ```tsserver.js```. From looking at that method, it appears that the real one of interest is ```getCompletionsAtPosition```, which is ```server/client.ts```.  I don't see any documentation regarding the internal workings, not even comments. At least some types are there. Is there any documentation for tsserver.js?

[2015-07-27 05:24] tinganho commented on #4029
@mhegazy  I will take a look.

[2015-07-27 05:36] DanielRosenwasser commented on #4029
This is not a type predicate issue, this applies to all type guards:

[code]

[2015-07-27 07:02] rolandjitsu commented on #3444
@xsilen building Angular 2 works just fine, the problem is with a `_extend` (or `__extend`) method that is created outside `System.register`. I cannot remember where the issue was reported, TypeScript or SystemJS repo, but it seems like it has not been resolved yet.

[2015-07-27 07:18] aleksey-bykov commented on #4029
thanks for narrowing down the problem, interestingly if the last possible cases isn't explicitly typeguarded it gets deduced correctly
[code]

[2015-07-27 07:34] s-panferov commented on #4031
@mvolkmann just want to ask why they must be alternatives? You easily create TS(es6) -> Babel -> es5 pipeline with such tools as `webpack`.

[2015-07-27 07:44] Wordenskjold commented on #3864
Same issue for me in 1.5. I'll close it for now, and add another, more specific, issue, when I've found the exact reason for this behavior. Thanks!

[2015-07-27 07:44] #3864 closed

[2015-07-27 08:13] pkune2 commented on #3493
The extra version in the path seems to be coming from the "VsTsc" task (TypeScript.tasks.dll) which appends the version number in the "FindToolPath()". So, the workaround is to remove the version from TscToolPath for now.

[2015-07-27 08:18] nippur72 commented on #2819
@mhegazy thank you for the example, now it's more clear what is meant by "breaks single file scenarios".

If the goal is avoiding scanning external files, then it makes sense to be forced to explicitly list names.

[2015-07-27 08:19] chilversc commented on #4017
Oh, out by 1, was probably SP4, and just installed SP5

[2015-07-27 08:38] xsilen commented on #3444
NO NO NO, it is going to wrong
above @ttowncompiled have point it out
[code]
Right code run perfect in systemjs should be like this
[code]

I have fixed the feature(combine dumplicate dependence) in my local typescript. i am checking if there are extra bug will make

[2015-07-27 08:45] Maks3w opened #4035 "Publish typescript on Bower"
Since TypeScript v1.5 is it possible to load the typescript transpiler in a browser (see bin/typescript.js)

So will be good if typescript adds a bower.json package definition and register the package on bower directory

See http://bower.io/docs/creating-packages/

PD: I can't provide a PR because I'm against of CLAs

[2015-07-27 10:22] xsilen opened #4036 "Issue use -m system, systemjs cant handle dumplicate dependence, They have deleted it"
systemjs when there are dumplicate dependence in system.register entry,
the problem occur because the below systemjs function
[code]
They really delete dumplicate dependence, and the system.register `dependence` array length can't math the `setter` array then I see a lot of red in my console... ...

https://github.com/Microsoft/TypeScript/issues/3444#issuecomment-113298972

fix solution in my loca

[2015-07-27 10:24] kitsonk commented on #2819
How do you scan files when you are transpiling client side?  It isn't a goal, it is a technical reality in some environments.

[2015-07-27 10:28] Lenne231 commented on #3779
A "generic meta type" that creates a subset would also be nice,  especially for functions that update data.

[code]

[2015-07-27 10:51] evil-shrike commented on #10
Let me add some thoughts.
Generating and/or updating jsdoc for emitted js isn't enough. There are interfaces in TS which should become `@typedef` doclets in jsdoc comments in js.
BTW currently if I add a `@typedef` doclet before an interface in TS (even not in .d.ts) it will be stripped out in emitted js.

[2015-07-27 10:54] hraban commented on #10
@evil-shrike what are your thoughts on making that a new issue altogether? We could split this up, and make this issue just about annotating e.g. function parameter types and variable types. Then we grow from there. What do you think?

[2015-07-27 12:19] ecp3 commented on #4003
Incidentally, I tried switching to VS Code (using the same tsconfig file) to see if I could move off of IntelliJ.  Breakpoints in Code often seem not to get hit (where IntelliJ works fine).   I assume this means that there are also some problems with Code breakpoint setting that aren't sourcemap problems.

[2015-07-27 13:39] evil-shrike commented on #10
I don't mind, but my point is related to "annotating function params".
It's common practice to use interfaces for params:
[code]
What type for options params should be specified?
As it's typescript code it's logically to use Area.Options but it'll become meaningless in js.
Currently I have to repeat all Area.Options properties in jsdoc:
[code]
If this type is being used in several places I'll have

[2015-07-27 14:24] mvolkmann commented on #4031
Yeah, I considered that option and even tried it to verify that it works. However, I don't think that's an acceptable solution for development on medium to large projects. I would increase build times too much.

I think TypeScript should aim to be a complete solution for transpiling ES6 to ES5.

[2015-07-27 15:00] ghost opened #4038 "Feature suggestion: treat prototype assignments like merging type declarations"
I would like better native support for code of this nature:

[code]

The code above works, but has a couple of drawbacks, which I think are resolvable:
The compiler has no way of knowing what `this` pointer should be in `impl1` and `impl2`
- I would like a way to redefine what type `this` is for functions.
- It would also be nice if the compiler could detect if this contract is not honored (e.g.,

[2015-07-27 15:34] kitsonk commented on #4038
Sounds like a combination of several dupes: #229 #3694 #3442

[2015-07-27 15:42] errorx666 commented on #4038
@kitsonk Fair enough for #229 and #3694.  #3442 refers to overloading instead of overriding, so I think it's different.

I don't see the second part, "override by assignment," in any of those.

[2015-07-27 15:50] kitsonk commented on #4038
Ah, I see, you then are looking for mixins/traits (#311) or some sort of abstract class (#6, #2947).  The way you are doing it, by directly modifying the prototype will mean the current scope is always a bit of a challenge.

[2015-07-27 17:01] tinganho commented on #4029
The root cause is that it narrows down to 1 type. There is nothing that handles if the narrowing type is the same as narrowed type by an if clause.

[code]
we could probably just add one check for it:

[code]

[2015-07-27 17:03] aleksey-bykov commented on #4029
[code]

[2015-07-27 17:07] DanielRosenwasser commented on #3886
#3973 adds tests `tests/cases/conformance/es6/modules/multipleDefaultExports01.ts` and `tests/cases/conformance/es6/modules/multipleDefaultExports02.ts`.

[2015-07-27 17:08] tinganho commented on #4029
Also `instanceof` doesn't seem to narrow the type correctly :
[code]

http://www.typescriptlang.org/Playground#src=class%20A%20%7B%0A%09a%3A%20boolean%3B%0A%7D%0Aclass%20B%20%7B%0A%09b%3A%20boolean%3B%0A%7D%0Aclass%20C%20%7B%0A%09c%3A%20boolean%3B%0A%7D%0A%0A%0Alet%20s%3A%20A%20%7C%20B%20%7C%20C%3B%0Aif%20(s%20instanceof%20A)%20%7B%0A%09s.a%3B%0A%7D%0Aelse%20if(s%20instanceof%20B)%20%7B%0A%09s.b%3

[2015-07-27 17:20] tinganho commented on #4029
@aleksey-bykov it probably makes more sense with `void`.

[2015-07-27 17:21] DmitryEfimenko commented on #1484
+1

[2015-07-27 17:34] aleksey-bykov opened #4040 "union types + type guards are extremely awkward with loops"
Consider an implementation of a list and a `fold` function  in TS1.6:

[code]

Now in order to iterate through such list *in JavaScript* all it would take is:

[code]

So I would expect that something like this could be easily done *in TypeScript* using its latest safety features like type guards and union types.

[code]

However what I ended up with doesn't look nearly as simple:

[code]

Now any

[2015-07-27 17:46] RyanCavanaugh commented on #4040
It seems like we should be type guarding the third clause of a `for` and its body by the second clause? Is that sufficient to fix this?

[2015-07-27 17:47] aleksey-bykov commented on #4029
hm.. i think there might be something in the specs that clears this out

[2015-07-27 17:48] RyanCavanaugh commented on #4029
@tinganho See #1719 re: `instanceof` not affecting `else` blocks

[2015-07-27 17:51] aleksey-bykov commented on #4040
third clause is a major pain point: the left side of it should be guaded, but the right should be not:

[code]

[2015-07-27 17:59] RyanCavanaugh commented on #4040
Thinking about it some more, another problem is that we're never going to apply a type guard to something that's assigned to, so we'd need #2388 first to be able to remove that restriction.

Anyway, for simplicity's sake, I would write this:
[code]

[2015-07-27 18:04] aleksey-bykov commented on #4040
sure thing you can, it's just upsetting that unions and guards are effectively useless upon arival, hope you guys can thinks something up

[2015-07-27 18:53] cnshenj opened #4041 "for...of failed to deduce element type"
Environment TypeScript 1.5 for VS 2015.

[code]
Block level variable `script` should be `HTMLScriptElement`, but TypeScript recognizes it as `any`.

And `for (let script: HTMLScriptElement of scripts)` doesn't work because it is not allowed. Only a separate declaration works, which should not be necessary.

[2015-07-27 18:56] jedmao opened #4042 "tsconfig.json compiler option: indent"
I would just love an `indent` option for the [tsconfig.json](https://github.com/Microsoft/TypeScript/wiki/tsconfig.json) file, not only for the obvious reason of preserving indentation, but also to prevent issues like the following, where I have TypeScript code with template strings compiling into an ES6 target:

![ts-compiled](https://cloud.githubusercontent.com/assets/1058243/8914821/03f01024-34

[2015-07-27 18:58] jedmao commented on #4042
Of course, if my editor displayed tabs in a different width, this would look even more horrible.

[2015-07-27 19:03] #3095 closed

[2015-07-27 19:07] RyanCavanaugh commented on #4041
I can't reproduce this

VS2015
![image](https://cloud.githubusercontent.com/assets/6685088/8915130/075f3942-3458-11e5-8a20-89e07d319f77.png)

TypeScript playground
![image](https://cloud.githubusercontent.com/assets/6685088/8915003/24c6c1a4-3457-11e5-94e5-8b1112d343d6.png)

[2015-07-27 19:18] NoelAbrahams commented on #4021
I've logged a similar set of issues with debugging NTVS projects: Microsoft/nodejstools#324.

To quote:

* Ensuring the debugger only every hits breakpoints in TypeScript files, instead of the JavaScript.
* Solve the problem of the occasional hang.

[2015-07-27 19:20] cnshenj commented on #4041
Appears to be a ReSharper bug. Sorry, I'll close this issue and report it to JetBrains.

[2015-07-27 19:20] #4041 closed

[2015-07-27 19:41] #3903 closed

[2015-07-27 20:01] errorx666 commented on #4038
I want:

[code]

to have the same output as

[code]

Along with the benefits of type checking.  I think the scope is much smaller than some of the other proposals.  No new keywords: it's basically sugar for something that already works.  To make type checking easier, there can be a requirement that the value assigned must be a compile-time constant.

The assignment might reference a function, a st

[2015-07-27 20:03] wgebczyk commented on #4031
true, complete transpiler instead of multiple packages for packages for packages...

[2015-07-27 20:20] danquirk commented on #4032
There's some amount of documentation in the wiki in the same section as this page: https://github.com/Microsoft/TypeScript/wiki/Architectural-Overview

[2015-07-27 20:24] danquirk commented on #4036
A minimal repro would be helpful if possible

[2015-07-27 20:28] raminmjj opened #4043 "New Website Logo: Dariksoft"
Please fill the following out:

- Name: Dariksoft
- Homepage url: http://dariksoft.com
- Brand Guidelines/Licensing: http://dariksoft.com/BrandGuidelines.html
- Logo: http://dariksoft.com/logo.html

[2015-07-27 20:31] danquirk commented on #4042
This seems like a setting better suited to .editorconfig?

[2015-07-27 20:48] #3861 closed

[2015-07-27 20:48] mhegazy commented on #1953
This should be fixed after the strict object literal changes

[2015-07-27 20:48] #1953 closed

[2015-07-27 20:48] vladima commented on #4036
should be handled by https://github.com/systemjs/systemjs/pull/623

[2015-07-27 20:50] jedmao commented on #4042
@danquirk I use [EditorConfig](http://editorconfig.org/) religiously and [belong to the organization](https://github.com/orgs/editorconfig/people); however, this is definitely a compiler option. The only way I could see EditorConfig coming into the mix is if the compiler actually ran each file path against EditorConfig to see which settings should be applied per file. I really don't want to incur

[2015-07-27 20:51] #1610 closed

[2015-07-27 20:52] jedmao commented on #4042
We already have a configuration option to control the newline character, why not the indentation as well?

[2015-07-27 20:57] mhegazy commented on #1449
Since we have not gotten any concrete feedback on this, i am inclined to leave the current rule the way it is.

[2015-07-27 21:00] mhegazy commented on #241
We need an implementation proposal for this one.

[2015-07-27 21:02] mhegazy commented on #1036
it is a bug alright.. but we have not gotten any reports of this from the wild, nor we have a clear idea on how to fix it.

[2015-07-27 21:11] Bobris commented on #1579
I don't see this as dupe of any mentioned issues. This could be critical to support advanced minification together with metaprogramming. Currently there is no way how to get member string after minification.
Though I don't have a clue how to add it to language without conflicting with other features...

In C# this works other way - you get unminified string. In Typescript I would need minified str

[2015-07-27 21:15] robertsundstrom opened #4044 "Variables are not exported when targetting SystemJS"
I use TypeScript with SystemJS, and want to export some variables that I've declared in a module.

Example: ```export let foo = new Foo();```, or with ```var```

However, I can't seem to import them from consuming code.

Not with ```import * as myModule from "myModule";```

Why are these variables not exported as expected?

[2015-07-27 21:16] RyanCavanaugh commented on #1042
We should treat `throw` as equivalent to `return` for the purposes of this check

[2015-07-27 21:18] mhegazy commented on #4032
one thing to note here, is we need to do this in a way that is backward compatible, i.e. editor using the services today would not need ot make changes (or just minimum if at all).

[2015-07-27 21:19] nycdotnet opened #4045 "`const` in class body"
Hi,

I know ES6 doesn't support using const with class members and I'm assuming this is why TypeScript also does not.  I'm wondering if the error if someone tries to do this with TypeScript can be improved.

[code]

In the code above, TypeScript gives the error "`'=' expected.`", twice.

It would be much better to get an error such as "Class members cannot be declared with the const keyword.".  Bo

[2015-07-27 21:25] DanielRosenwasser opened #4046 "Should not show completion when properties of type literals/interfaces span different lines"
![completionintypeliterals](https://cloud.githubusercontent.com/assets/972891/8918175/4c8921b4-346b-11e5-977b-404112cc07f8.gif)

[2015-07-27 22:04] mhegazy commented on #3095
@DanielRosenwasser can you add a blurb for this in breaking changes section.

[2015-07-27 22:12] JsonFreeman opened #4047 "Allow a BindingPattern in a BindingRestElement"
Destructuring an AssignmentRestElement is allowed in TypeScript, but not so for a BindingRestElement:

[code]

This is in line with the released ES6 spec, but there is a movement to allow the BindingRestElement case. Many engines and transpilers do support it in fact. So we should allow it syntactically and make sure it is typed correctly.

[2015-07-27 22:28] vladima commented on #4036
fixed in https://github.com/systemjs/systemjs/commit/7efd6f8d79b1757836b33acfb2f2e8fbcf1108cf

[2015-07-27 22:28] #4036 closed

[2015-07-27 22:48] DanielRosenwasser commented on #3095
@mhegazy done: https://github.com/Microsoft/TypeScript-wiki/commit/bd1a80d1fe8aecf0f6a9bd7e6555c499a3e8bf88

[2015-07-27 22:50] DanielRosenwasser commented on #4047
Is

[code]

semantically different from the following?

[code]

[2015-07-27 22:59] #3696 closed

[2015-07-27 22:59] JsonFreeman commented on #4047
Only in a pretty silly way. The first example collects the rest of the elements into an array before destrucutring that new array into `b` and `c`. The second one does not create an array, it just uses the existing one. As far as I can tell, there is absolutely no good use for this pattern, and the only purpose is to be consistent with AssignmentRestElement, which was useless to begin with.

[2015-07-27 23:00] mhegazy commented on #3971
Adding [Function and class default export declarations can no longer merge with entities intersecting in their meaning](https://github.com/Microsoft/TypeScript/wiki/Breaking-Changes#function-and-class-default-export-declarations-can-no-longer-merge-with-entities-intersecting-in-their-meaning) see #3095 for more details

[2015-07-27 23:00] yuit commented on #3696
I open separate issue to track what our decision is for default constructor

[2015-07-27 23:04] vladima commented on #4044
Can you give a repro? It seems to be working for me:
https://gist.github.com/vladima/25d05c091697d3df1dea

[2015-07-27 23:04] mhegazy commented on #4044
Can you provide more details..

[code]

emits
[code]

and importing it from another module, seems to work fine:

[code]

[2015-07-27 23:10] mhegazy commented on #3754
Do we still need this?

[2015-07-27 23:34] yuit opened #4048 "Handle default constructor when extending null"
From this [comment](https://github.com/Microsoft/TypeScript/issues/3696#issuecomment-122143431), and [bug] ( https://bugs.ecmascript.org/show_bug.cgi?id=4429.) we would like to provide appropriate handling for the following case:
[code]
Depended on how ES6 spec handles above case (i.e. fix the calling to ```super``` or just leave it as is), we will have to make appropriate change into our emitted

[2015-07-27 23:56] yuit opened #4049 "Extending an arbitary expression that can be null at run time"
In this original issue #3696. Currently, we give an error in the following case
[code]

However, in the case of an arbitrary expression that can return null, we will not give an appropriate error and will also give an error for not calling ```super```
There are possible fixes for the problem:
* Do not give any error for not calling ```super``` when users extends an arbitrary expression.
* Only all

[2015-07-28 00:02] mhegazy commented on #4042
The new line is used for the generated .js not as an editor configuration. here you are talking about editor configuration.

Having said that, now there is a different way to set these options in different editors. maybe we should put formatting options in tsconfig.json and use it in all editors. @jrieken and @billti what do you think?

[2015-07-28 00:50] jedmao commented on #4042
@mhegazy I am absolutely NOT talking about the editor setting. My screenshot shows the original source on the top half and the compiled output on the bottom half.

[2015-07-28 00:50] jedmao commented on #4042
The TS compiler replaces leading-tab indentation with 4 spaces is my point. I'd like to control that!

[2015-07-28 01:13] #3963 closed

[2015-07-28 02:38] mhegazy commented on #4042
Ah.. Sorry my bad. In this case, if output formatting is important to you, we suggest you add a JS beautifier to your build. There are many formatting parameters like where to place curlies, spaces before and after keywords, etc.. And trying to do all adds a lot of complexity for small value.

[2015-07-28 02:39] #4042 closed

[2015-07-28 04:39] JsonFreeman commented on #1036
Reopening this because I have an idea I want to try. We might be able to fix this by not caching infinitely expanding results at the top level. We would have to add the ability to distinguish between Maybe that's because of simple recursion, versus Maybe that's because of infinite expansion. For the infinite expansion case, we do not cache at the very top, we only the intermediate results in a tem

[2015-07-28 05:06] d180cf commented on #3779
It seems, that the appropriate place for such "generic meta types" (that would better be called "type expressions" or "computed types") is the .d.ts files. Currently they can contain only static type definitions, but could also contain "dynamic definitions":

[code]

Such computed types could be compiled in some special "compilation context" in which all these `Type` and `ObjectLiteral` are define

[2015-07-28 06:26] robertsundstrom commented on #4044
My exported variable looks like this:

    export let bindingHandlers = {
	    defaultNamespace: ""
    };

And this is emitted:

    exports_1("bindingHandlers", bindingHandlers = {
        defaultNamespace: ""
    });

[2015-07-28 08:02] tinganho commented on #4029
I just submitted a PR to handle void narrowing.

I'm just wondering how to handle the case when dealing with distinct types(not union types).
[code]
Though, I think it would mean walking up the parent for every variable, if we support distinct types as well.

[2015-07-28 08:57] lazutkin opened #4052 "Derive tuple element's type accessed by const enum index"
It would be handy if TS will use values of const enum literals when deriving element type.

[code]

[2015-07-28 09:23] tinganho opened #4053 "Wrong in type guard spec"
I just stumbled up on the spec for type guard and just saw these two paragraphs:

And I think this is wrong:

Shouldn't it be?
[code]

In this test [file](https://github.com/Microsoft/TypeScript/blob/master/tests/cases/conformance/expressions/typeGuards/typeGuardsInIfStatement.ts)  there is assignments both in the true branch and false branch:

[code]

[2015-07-28 10:34] frodegil commented on #1579
Agree. Doesnt look like a duplicate. A nameof operator should be considered as a very good idea. Probably "easy" to implement too.
I use typescript with angularjs and I like to create static string constants inside my controller/directive classes that I use when I register these classes in an angular module. Instead of hardcoding these names I would like to use nameof(MyDirectiveClass) instead.
It

[2015-07-28 10:54] OvidiuGuta commented on #1236
+1. It would be really useful.

[2015-07-28 11:53] gulbanana commented on #3203
this is some excellent work. by handling the complexity of reconciling TS and JSX, you've saved downstream developers like myself a great deal of effort.

[2015-07-28 12:54] bgrieder commented on #2262
There does not seem to be much tooling (external to the ts compiler) available either. A similar question I asked n StackOverflow is not attracting many answers... (http://stackoverflow.com/questions/31654376/automatically-generating-ambient-module-declarations)

This issue should trigger more attention. The ability to easily write reusable (external) modules - usable both from typescript and java

[2015-07-28 13:00] vvakame commented on #1236
:+1:
We need tsc allow below syntax.

[code]

but, now we got below error message.

[code]

[2015-07-28 13:03] aleksey-bykov commented on #4029
TLDR: should be void

Isn't a distinct case just a special case of a union of one? If so, then void in the else block is quite expected. More to that, if you think about it, what else can it be? It's declared to be of a certain type and this is what we just asserted. According to its declaration it cannot be anything else. So the else block is technically unreachable and doesn't make sense, becaus

[2015-07-28 13:30] outring opened #4054 "Common generic parameter type inference doesn't work for derived parameter types"
Consider following definitions:
[code]

In `usingParameters(new BaseClass<number>(), "string")` call common type inference works well and as a result can't infer common generic parameter type and compiler fails with error.

In `usingParameters(new DerivedClass(), "string");` call common type inference doesn't seem to check if `DerivedClass` derives exactly from `BaseClass<string>` or that `"string

[2015-07-28 14:55] teppeis commented on #2650
Finally, nightly build is published. Thanks!
http://blogs.msdn.com/b/typescript/archive/2015/07/27/introducing-typescript-nightlies.aspx

[2015-07-28 16:53] RyanCavanaugh commented on #1579
Good point -- the other issues don't quite cover what this is talking about

[2015-07-28 16:56] RyanCavanaugh commented on #4054
The problem here is that `BaseClass` doesn't have any members of type `T`. So in terms of a structural type system, `class DerivedClass extends BaseClass<number>` is the same as `class DerivedClass extends BaseClass<Rocket>` -- they have identical members.

If you add a member of type `T` to `BaseClass`, everything works like you expect. In practice, you should *never* have an unconsumed generic t

[2015-07-28 16:56] #4054 closed

[2015-07-28 16:59] RyanCavanaugh commented on #4052
Dupe #3411

[2015-07-28 16:59] #4052 closed

[2015-07-28 17:05] mhegazy commented on #2262
@bgrieder i am working on this right now. can you elaborate on your scenario..

For input:

`api/Token.ts``
[code]

`index.ts`
[code]

would  1. emit all in a single file:

`out.d.ts`
[code]

2. knowing that the entry module is "index.ts", follow the exported surface area of that and just emit its shape as such:
`index.d.ts`
[code]

3. bundle that and rename it maybe.. would you want it to bundle,

[2015-07-28 17:10] mhegazy commented on #2262
also as a note, your post on stackoverflow assumes that a default export can be exported. that is not true based on the ES6 spec.

so
`api\token.ts`
[code]

`index.ts`
[code]

so if you want to export token, you will either have to 1. mark interface `Token` as exported, or 2. import the default and reexport it.

[code]

or

`index.ts`
[code]

[2015-07-28 17:23] jasonswearingen commented on #2262
I'd like to chime in with my currently (as of 1.5) unsupported scenario:

I have a typescript library I'd like to publish to NPM, let's call it "CoreLib".   And a program I'd like to reference this library.  lets call it "MyApp"
CoreLib's structure is like this:
[code]

The ```corelib/index.ts``` file exports the modules found under ```corelib/dev```, something like:

[code]
I'm using CommonJs, an

[2015-07-28 17:27] jasonswearingen commented on #2262
currently my workaround is that both ```corelib``` and ```myapp``` are in seperate folders under an umbrella typescript project.   This means I can't publish to NPM, as I need to "use" the library in the following fashion

[code]

[2015-07-28 17:42] mhegazy commented on #2262
@jasonswearingen i think the change in #2338, @basarat has already submitted a PR (#3147) for the change, and @vladima is doing the infrastructure/tooling work needed and should be done soon.

[2015-07-28 17:48] thakerng opened #4055 "New features of Typescript 1.6 has still a syntax error highlight in Webstorm"
I have configured the Typescript compiler in Preferences point to built/local folder of Typescript 1.6 built with Jake.  the features such as abstract class , generator function have a syntax error highlight even through compiling has no any errors

[2015-07-28 17:52] mhegazy commented on #4055
what is the value of your `--target` flag? generators are only supported on `--target ES6` at the moment. the ES5/ES3 support is in the making right now, and would not be available in master for a few weeks.

[2015-07-28 17:56] RyanCavanaugh commented on #4055
Crosspost http://stackoverflow.com/questions/31683330/how-to-update-syntax-error-checking-of-typescript-1-6-manually-in-webstorm

[2015-07-28 17:57] bgrieder commented on #2262
@mhegazy Glad to hear you are working on it !

On the fact that default exports cannot be re-exported: I missed that entirely from the specs. The goal would be for `index.ts` to re-export everything that needs to be made "visible" to the library consumers. The scenario would then be for  `index.ts` to be (added User to illustrate)

[code]

My preferred end-result would be your scenario 3) i.e.

[c

[2015-07-28 18:10] bgrieder commented on #2262
I guess the single `d.ts` file would also be  a simpler fit for the case where `User` has a property `token: Token`

[2015-07-28 18:20] wgebczyk commented on #4031
I understand that some might want not to generate something for ES5.

Maybe we could introduce "conversion levels/tiers".
Tier1: everything is converted to make it work on designated ESx
Tier2: if feature from this level or Tier3 is used, then generate code for that, otherwise error+quit
Tier3: if feature from this level is used, then generate code for that, otherwise error+quit
TierN: if target E

[2015-07-28 18:42] mjw56 opened #4056 "Default a folder module file to index.ts w/ ES6 modules?"
Hi,

Is it possible to default the file that TypeScript looks for in a folder to index.ts?

e.g.

[code]

where ```'../Foo/'``` contains an ```index.ts``` that looks like:

[code]

Something similar to this: https://nodejs.org/api/modules.html#modules_folders_as_modules

Any thoughts on making something like this available?

Thanks.

[2015-07-28 18:45] thakerng commented on #4055
I've already set the command line options to be `--target ES6`
sorry about the crosspost, I'm not sure this issue is about Webpack or Typescript ,I've ever found the issue of syntax error highlight of Destructuring feature in Typescript 1.4 When Typescript 1.5 had come ,that feature became available the syntax error highlight of Destructuring feature in Webstorm disappeared. So, I think this issue

[2015-07-28 18:47] kitsonk commented on #4031
Personally, I don't want TypeScript solving all this stuff for me.  Especially polyfilling can have huge negative consequences when you are running other scripts in an environment.  Anyone who has complete control of the code running in the their runtime environment on their page hasn't either worked on a big enough project or is part of a small company organisation.  I have actually seen instance

[2015-07-28 19:02] joewood commented on #3203
Second that, I converted a project over to use TSX and it works like a charm.
The only downside so far is the lack of type assertions, and having to use `as` instead. When using this syntax there's no way for the IDE to know the fields in the expression and you lose code completion hints. Not a huge deal, just an annoyance.

[2015-07-28 19:05] gscshoyru opened #4057 "createScanner function no longer exposed in typescriptServices.d.ts on latest build"
createScanner was previously exposed in #3020, along with the Scanner class. However, in the latest master branch of typescript, the Scanner class is still there but createScanner is missing.

[2015-07-28 19:07] levinmr commented on #10
+1 for emitting closure compiler annotations

[2015-07-28 19:09] aleksey-bykov opened #4058 "Suggestion: disallow mutual imports between 2 modules."
For any 2 modules A and B only one of the following can hold true:

- A needs B
- B needs A
- neither A nor B need each other

a situation when A demands B and at the same time B demands A is absurd that doesn't make much sense unless both A and B are considered one single AB module

currently little TypeScript does to prevent this s***ituation from happening, and it happens a lot

it's not that h

[2015-07-28 19:10] danquirk commented on #3754
Seems not unless I'm misunderstanding the issue:

![image](https://cloud.githubusercontent.com/assets/7121557/8940945/9fbe18a6-3521-11e5-8393-7218d9bd6496.png)

Completion list uses the same icons of course.

[2015-07-28 19:10] #3754 closed

[2015-07-28 19:25] aleksey-bykov commented on #4058
for a situations when a single AB module is purposefully separated into 2 mutually dependent modules A and B TypeScript should have some **distinct syntax**, so that it doesn't happen by accident

[2015-07-28 19:27] delebash opened #4059 "Suggestion: Separate typescript source compiler from any ide integration"
I would think it would be better to separate typescript's compiler and bug and release cycle from any ide related issues.  To me if the command line compiler works as expected then any ide integration should be the responsibility of that ide.  Of course the typescript community can maintain plugins for ide's in separate repo's if they want in order to help increase typescripts use.

The last relea

[2015-07-28 19:28] jasonswearingen commented on #2262
@mhegazy awesome, thanks for the links and status update.

[2015-07-28 19:31] wgebczyk commented on #4031
From my point of view, hen you write TS:
[code]
and when targeting ES5 you get something like:
[code]

So right now TS generates code for non existing functionality. Why not generate that for other features?

I respect that from perspective of person that has years of JS experience and tooling and chaining and knowing all tricks and browser inconsistencies, generating selectively might sense.

The

[2015-07-28 19:56] RyanCavanaugh commented on #4059
Are you talking about moving the source code around, or changing how we schedule releases? The compiler source and the VS integration source are already completely separate.

[2015-07-28 20:04] RyanCavanaugh commented on #4058
Are you talking about something that's a runtime error?

[2015-07-28 20:06] danquirk commented on #4057
@mhegazy intentional or bug?

[2015-07-28 20:08] paulvanbrenk commented on #3493
After some investigating, it seems that there is a mismatch between the targets file and the VsTsc task. Somewhere around the 1.4 timeframe we moved the logic for concatenating the version with the SDK path from the targets file to the task; so the version should only be added once.

So removing this line
[code]
is exactly what we did and is the correct solution.

Why or how this mismatch happens,

[2015-07-28 20:15] mhegazy commented on #4059
A few thoughts here, as of last week [TypeScript now has a nightly release on npm] (http://blogs.msdn.com/b/typescript/archive/2015/07/27/introducing-typescript-nightlies.aspx). we have kept master in a shipable state for the last few years. so nightly builds should not be broken builds, but rather may include design changes.without due breaking announcements. we are also working on getting a fast

[2015-07-28 20:19] aleksey-bykov commented on #4058
it's not a runtime problem is a problem with maintaining the overall composition

an app is a pie of components that go from less to more specific ones, where less specific components must not depend on more specific ones

on our project (of a considerable code base) we have violations of this principle all over the place

it's not a problem if the application is viewed as a single monolith block

[2015-07-28 20:20] danquirk commented on #4031
_Part of a lot of issues is effect of lack of clear TS team vision, what and how features will be done and considered to be implemented or not. Some features are added because there is buzz around them (like type/import/var and none works as advertised)._

@wgebczyk could you be more specific about what you're finding lacking here? We've tried to be fairly transparent with our plans in a formal wa

[2015-07-28 20:24] scottwio opened #4060 "JSX with es6 and commonjs modules"
I'm using the lastest version of typescript with jsx support and there seems to be an issue when using jsx with the react flag along side es6 modules and commonjs. I've written the below which simply imports the Main component and points react router at it. Main gets imported but JSX references to main does not get converted to the module name main_1. Please let me know if I'm doing something wron

[2015-07-28 20:28] mhegazy commented on #4058
one thing to note, this is one of the "features" of ES6 modules. you can have circular references. SystemJs format main design goal is to support these scenarios.

moreover, there are tools that would help you do this, e.g. [Dependency view in atom-typescript](https://atom.io/packages/atom-typescript).

We need some clear reasoning on why this is a language error vs a warring that a linter would f

[2015-07-28 20:44] kitsonk commented on #4031
@wgebczyk actually, lambdas are more complicated then that...  When accessing the canonical `this` within the function, TypeScript has to emit something else to give access to the canonical `this`:
[code]

Gets emitted as:
[code]

And lots of ES6 and ES7 are far more complicated than that.  It is a big rabbit hole...

Pollyfilling all of ES6 isn't what TypeScript is about.  Making JavaScript/ES mo

[2015-07-28 20:46] RyanCavanaugh commented on #4060
Queuing up a fix now

[2015-07-28 20:55] kitsonk commented on #4058
It is also a feature of [AMD](http://requirejs.org/docs/api.html#circular).  As stated, it is usually a design flaw, but I have seen cases where the circular dependency is wider (e.g. A -> B -> C -> A) and it is hard to "uncouple" the dependency loop and maintain optimal reuse of code.

[2015-07-28 20:55] RyanCavanaugh commented on #4058
We're not here to enforce opinions about abstraction strategies. Many people believe this kind of pattern to be totally valid -- maybe `A` and `B` need each other for technical reasons, but expose meaningfully different surface area depending on the intended use case.

It would have been *much* simpler (in terms of implementation) for the ES6 committee to have completely disallowed this pattern. T

[2015-07-28 20:55] #4058 closed

[2015-07-28 21:16] danquirk commented on #3203
@joewood what editor are you seeing no completions with ```as```? That just sounds like a bug we should fix.

[2015-07-28 21:23] danquirk commented on #4038
The request here is to essentially make directly assigning to ```.prototype``` analogous to an actual type declaration as far as type checking is concerned.

[2015-07-28 21:29] aleksey-bykov commented on #4058
on a bright side it good to know that the effort of writing such rule for the linter is not going to go waste one day when a native feature that does exactly the same is shipped

[2015-07-28 21:58] #3954 closed

[2015-07-28 22:00] joewood commented on #3203
@danquirk this is VS Code. To be clear, the completion isn't working inside an object literal. I wouldn't expect it to.  So the following would show `bar` in the object literal if I hit ctrl+space after `foo` in a **.ts** file:
[code]
But in a **.tsx** file, the type isn't asserted until after the literal, so the IDE doesn't know the type:
[code]
It's not a huge deal. It was just useful for large

[2015-07-28 22:15] mvolkmann commented on #4031
Okay, just to be clear it sounds like what is meant by saying that TypeScript is a superset of ES6 is that it will support any ES6 features that the runtime environment (browser, Node.js, ...) supports.

Using that logic maybe any current transpiing it does (ex. arrow functions) should be removed.

That's not what I want. I don't want to have to rely on another tool for transpiing to ES5.

R. Mark

[2015-07-28 22:27] #3604 closed

[2015-07-28 22:38] delebash commented on #4059
@RyanCavanaugh I was mainly referring to release schedule where you have a stable build of typescript as far as the core and language services, but you still have a bug in 1 or 2 particular editor's that may hold up the official release.

@mhegazy I agree that editor support is very important or people will not use the language.  It just seemed that sometimes the core compiler and tsc are feature

[2015-07-28 22:55] ArtemAvramenko opened #4062 "Declaration Merging for Functions and Interfaces"
[code]
At the moment TS compiler shows error: `Subsequent variable declarations must have the same type.`

[2015-07-28 23:00] RyanCavanaugh commented on #4062
What's the intent of this code?

[2015-07-28 23:05] ArtemAvramenko commented on #4062
First declaration is from nuget package. I do not want to modify it.

[2015-07-29 00:30] danquirk commented on #4059
@delebash definitely hear this loud and clear, it's something I have actually spent quite a bit of time thinking about lately.

I complain more than most so don't feel bad about the occasional light rant ;) Always happy to have feedback.

[2015-07-29 00:45] hawkerm opened #4063 "TypeScript compiler halts before finishing compiling files to resolve error (VS2013+TS1.5Beta)"
I'm in a case where I've written a new class and referenced it in another file.

The first file is causing a compile error as it doesn't know about the new class, but VS/TS won't generate the new class file as it's hitting an error on the reference first...

Seems like it's just stuck.  The only way for me to get through it is to remove the reference in the file.  Let it compile my class and then

[2015-07-29 00:46] RyanCavanaugh commented on #4059
Two things to add.

First, I think we're in general agreement (internally) that the 1.5 release cycle was *waaaaaay* too long. It initially made sense to align this release with the VS schedule, but software schedules are prone to certain things that ended up making this release interval much longer than intended. This won't be repeated.

Second, getting our language working in at least one editor

[2015-07-29 01:01] delebash commented on #4059
Glad to hear about shorter release cycles, I am all for short sprints vs long hauls.  This was just food for thought, so in the end as long as typescript releases are not held back for long periods of time by problems with x,y, or z ide integration problems then its all good.

[2015-07-29 01:05] danquirk commented on #4062
We've had this request before. The problem is how do we support this dynamic, expando type of ```var``` usage but disallow meaningful errors that people generally associate with a good static checker. For example, you presumably would not have wanted to be allowed to declare ```var test: number;``` here, that would surely have been/caused a bug. But perhaps if the subsequent declaration is a subty

[2015-07-29 01:20] danquirk commented on #4063
Are you seeing this with the final 1.5 bits? A minimal repro would be helpful if possible.

[2015-07-29 02:16] JsonFreeman opened #4066 "Spec change to allow required parameters with default initializers"
Update the spec to account for #4022.

[2015-07-29 02:21] jasonwilliams200OK commented on #2650
Thanks for the headsup @teppeis!
Now we can see the available distribution tags by running:

[code]

which is currently outputting:

[code]

which means you have:

[code]

[2015-07-29 02:54] robertbaker commented on #4055
@thakerng  You could try the WebStorm 11 EAP which has more support for TS.

[2015-07-29 04:03] DanielRosenwasser commented on #4055
I think this is external. The Webstorm folks seem not to use our language service at all.

[2015-07-29 04:03] #4055 closed

[2015-07-29 04:15] tinganho opened #4067 "Cannot define a union type with a new signature type"
This currently gives me parse error:

[code]

Though this works:

[code]

[2015-07-29 04:18] RyanCavanaugh commented on #4067
Due to parsing precedence, you have to write
[code]

[2015-07-29 04:21] tinganho commented on #4067
Ok thanks, shouldn't it give me some kind of feedback on that?

[2015-07-29 04:24] RyanCavanaugh commented on #4067
Parser errors are best-effort because the fact that there's a parser error means we're really not sure what's going on or what the intended code was. The earliest error is "type expected", which is nearly (?) correct. I'm not sure what specifically we could do; maybe @CyrusNajmabadi has some ideas.

[2015-07-29 04:31] outring commented on #4054
I'm terribly sorry, the real code has the generic member and it doesn't work as expected too, and I thought that the code above is equivalent. The problem in my real code must be somewhere else, I'll try to figure out where. Thank you!

[2015-07-29 04:52] outring commented on #4054
Ok, it seems that I have isolated the real problem and it is applies only to objects and, what is the most important, nested objects.

[code]

In the example above, `content` property is incorrect and must not typecheck, but it does. I can imagine, that there could be the performance problem when typechecking such structures, so maybe there is another common way to build typesafe nested structures

[2015-07-29 05:10] RyanCavanaugh commented on #4054
The example is working as intended because `content` is defined as `IParameters<any>`, so `content.p` is of type `any` and `content.c` is of type `IParameters<any>`.

You can tweak the example a little and get correct errors:
[code]

[2015-07-29 05:16] outring commented on #4054
Got it, thank you. But the problem is that the `content: IParameters<T>` could not share parent's `T`, there could be any other type and it seems that there's no way to say, the the `T` could be `any`, but only certain `any` :(

[2015-07-29 05:49] kitsonk commented on #4038
In theory, if it is reasonably achievable in typescript, it solves some of the issues around "natively" supporting Mixins and Traits (as well as Decorators would modify the type declaration, which they don't currently).

@danquirk do you think a reasonable proposal has a chance?

[2015-07-29 05:55] CyrusNajmabadi commented on #4067
we  could technically parse a wider range of values when parsing the union type.  We could then report an error afterwards with more detail.  I wouldn't have a problem with that at all.

[2015-07-29 05:56] CyrusNajmabadi commented on #4067
Note: it's necessary for precedence that we disallow this.  Otherwise there's far too much ambiguity.  For example, it would then get very tricky to have a rule to properly parse this:

[code]

So it's better to use precedence to outright disallow call/construct signatures when parsing a union/intersection type and give the escape hatch of parenthesizing things if that's what you actually want.

[2015-07-29 06:03] DanielRosenwasser commented on #4067
I'd say that it's *advantageous to users* to disallow this, since we force writers to be explicit for future readers.

But yes, I think parsing this and reporting an error would be helpful.

[2015-07-29 06:26] mhegazy commented on #4044
This looks right to me. `exports_1` is the export function. that is similar to AMD's ```ts
exports.bindingHandlers = { defaktNamespace: "" }
[code]

[2015-07-29 06:38] mhegazy commented on #4056
This should be covered by #2338. should be available soon. so stay tuned.

[2015-07-29 06:38] #4056 closed

[2015-07-29 06:47] mhegazy commented on #4049
I would say do nothing.

[2015-07-29 06:47] RyanCavanaugh commented on #4054
Is this closer to what you want?

[code]

[2015-07-29 06:53] outring commented on #4054
Yep, I've already tried that, but it works only for 2 levels of nesting :)

[2015-07-29 06:57] outring commented on #4054
But now I got it, and it seems, that there is no easy way to achieve what I want. Ideal solution is possibility to constrain any to single type which requires proposition and possibly violates some of the type system concepts :D
For now I'll try to solve it another way. Thank you very much!

[2015-07-29 07:51] robertbaker opened #4069 "systemjs plugin import, typescript says module not found"
typescript doesn't like `import somethingHTML from 'components/something/something.html!text'; `complains it can't find a module.

`import 'components/something/something.html!text';`
would work but not usable since I can't assign it to the template property of a component in angular.

using
jspm install text=github:systemjs/plugin-text

What's odd is importing css via the systemjs loader works fi

[2015-07-29 08:33] kitsonk commented on #4069
I think you will need to declare an ambient module, something like this I think:

[code]

[2015-07-29 09:15] NoelAbrahams opened #4070 "Indenting for `onReject` callback incorrect"
Hi,

**Version**: VS 2015 RTM/TS 1.5

The formatting of this bit of code doesn't look right:
[code]

The line containing the error callback and the subsequent paranthesis should be indented about four spaces less.

[2015-07-29 09:38] NoelAbrahams commented on #4070
Here's another one:

[code]

[2015-07-29 09:46] NoelAbrahams opened #4071 "Return statement indenting wrong for certain return values"
Hi,

**Version**: VS 2015 RTM/TS 1.5

The formatting for the first return statement is correct, but wrong for the second:

[code]
The closing parenthesis should be aligned with the start of the `return` keyword.

[2015-07-29 10:33] tinganho commented on #2947
@RyanCavanaugh does it makes sense with optional abstract methods? I want to define an abstract class with some abstract methods on it. But I want a derived class doesn't need to implement all of the methods.

[2015-07-29 10:44] kdcllc commented on #3493
Paul,

I had a fresh install of Visual Studio.NET 2013 and Visual Studio.NET 2015 when I encounter the issue. I hope this helps.

[2015-07-29 11:17] tinganho opened #4072 "Cannot find aliased named import type"
[code]

[2015-07-29 12:07] mjw56 commented on #4056
awesome, thanks @mhegazy.

[2015-07-29 12:26] markknol commented on #3799
Not sure if relevant, but I get this TS2322 error.
My testcase looks like this ([Runnable code here](http://www.typescriptlang.org/Playground#src=class%20Component%20%7B%20%7D%0D%0A%0D%0Aclass%20Entity%0D%0A%7B%0D%0A%20%20%20%20private%20_components%3A%7B%5Bid%3Anumber%5D%3A%20Component%7D%20%3D%20%7B%7D%3B%0D%0A%09%0D%0A%20%20%20%20public%20getComponent%3CA%20extends%20Component%3E(id%3Anumber)%3

[2015-07-29 12:37] xudaiqing commented on #185
Will there be any form of none-nullable type in 2.0 ?
After all, typescript brings very less things to the javascript if it can't guarantee the type.What we can get after overcome all the problems and rewrites introduce by typescript?
Just better IntelliSense? Since you still need to check the type manually or by code in every function export to other modules.

[2015-07-29 13:54] Bartolomeus-649 opened #4073 "No intuitive/easy way of finding out what version of TS is in use by Visual Studio"
In Microsoft Visual Studio Professional 2013 Version 12.0.31101.00 Update 4 there is no way to tell what version of TypeScript that is in use.

* Type script is not listed as an installed product in VS About Dialog (Menu: Help -> About)
* Type script is not listed as an installed Extension (Menu: Tools => Updates and Extensions. Navigation: Installed => All)

**Visual Studio Version and "installed

[2015-07-29 15:25] aleksey-bykov commented on #185
Good news everyone, TypeScript 1.6 has enough expressive power to model and safely track a missing value (which otherwise are encoded by `null` and `undefined` values). Essentially the following pattern gives you non-nullable types:

[code]

With that said the request should be closed because no problem exist anymore.

[2015-07-29 15:42] DanielRosenwasser commented on #3799
@markknol That's by design - `A` refers to a *specific subtype* of `Component`, so you can't just give a `Component`. Either make your class generic on `A` and have the indexer of `_components` return `A`s, or make `getComponent` non-generic and return a `Component`. You probably want to do the latter.

[2015-07-29 15:42] #3799 closed

[2015-07-29 15:43] jods4 commented on #185
@aleksey-bykov

You can't be serious, can you? We've told you multiple times that a pattern for nullable algebraic type was not was this issue was about.

I am *not* going to wrap every single `var x: number` in my code into a `Nullable<number>` or even better `NonNullable<x>`. That's just too much overhead. Yet I want to know that doing `x *= 2` is 100% safe, anywhere this happens in my code.

Yo

[2015-07-29 15:46] DanielRosenwasser commented on #4049
Either that or @yuit's first suggestion.

[2015-07-29 16:06] aleksey-bykov commented on #185
Come on my solution is 95% working and 100% practical and it is available TODAY without having to make difficult decisions and get everyone on the same page. It's the question what you are after: a working solution that doesn't look what you expect but nevertheless works, or getting it precisely the way you want with all back jack and cherries on top

[2015-07-29 16:15] Arnavion commented on #185
In 1.4 and 1.5, the void type does not allow any members of Object including .toString(), so `type Nothing = void;` should be sufficient instead of needing the module (unless this changed again in 1.6). http://bit.ly/1OC5h8d

[2015-07-29 16:35] robertknight commented on #4025
It looks like there is already an explicit test for this (es6-amd) but it is incorrectly passing in Nightly. Currently digging into why that is.

[2015-07-29 16:56] spion commented on #185
@aleksey-bykov thats not really true. You still have to be careful to sanitize all values that are possibly null. You won't get a warning if you forget to do that. Its an improvement, for sure (less places to be careful at).

Also, to illustrate how hacks wont really get you very far, just try

[code]

[2015-07-29 17:05] jods4 commented on #185
OK, I _could_ do that if everything else is solved. And if everything is solved, maybe TS can even consider some language sugar for that.

It's not that I just want to get rid of null exceptions. I want to be able to express non-nullable types as well, with static safety.
Say you have a method that always return a value. Like `toString()` always returns a non null string.
What are your options the

[2015-07-29 17:08] aleksey-bykov commented on #185
Just the same sort of separation job you would have to do anyway with hypothetical non-nullable types you guys talking about here. You would have to review all your definitions files and put `!` where appropriate. How is that different?

Same thing. Same thing.

Although you right with the way I defined Nothing which has `toString` from `Object`, but.. if we take the idea of @Arnavion (of using `v

[2015-07-29 17:18] aleksey-bykov commented on #185
man, you just convinced me, this pattern is not for you and never will be, please don't ever use it in your code, keep asking for the real non-nullable types, good luck, sorry for bothering you with such nonsense

[2015-07-29 17:31] jods4 commented on #185
@aleksey-bykov
I see what you are trying to do, although it seems to me you haven't ironed out all cases yet and you seem to be making up solutions along the way when someone points out a hole (like the substitution of `null` by `void` in the last example).

In the end _maybe_ you'll get it to work the way I want to. You'll use a complex syntax for nullable types, you'll have banned with a linter

[2015-07-29 17:44] aleksey-bykov commented on #185
Let's talk about what I think. I think that it would been nice to wake up in the world where TypeScript has non-nullable types tomorrow. As the matter of fact this the thought I go to bed with every night. But it never happens the next day and I get frustrated. Then I go to work and hit the same problem with nulls over and over until recently when I decided to look for a pattern that can make my l

[2015-07-29 17:47] paulvanbrenk commented on #3493
@kdcllc In which order did you install VS and the TypeScript packages?

[2015-07-29 17:49] jods4 commented on #185
Then why do you want to close this issue? :smiley:

I am glad that you found a solution for your needs but like you I still hope that one day TS gets some proper support. And I believe that this may still happen (not soon, mind you). C# team is currently doing the same brainstorms and maybe this may help move things forward. If C# 7 manages to get non-null types (which is not sure yet) there is no

[2015-07-29 17:57] RyanCavanaugh commented on #4072
This works for me. More details (what's in `./element`? what commandline?) would be useful.
[code]

[2015-07-29 17:59] kdcllc commented on #3493
Paul,

I don't remember the complete installation procedure I followed but from the log it see that TypeScript tooling for VS.NET 2015 was installed first then VS.NET 2013.

I hope this helps.

[2015-07-29 18:00] RyanCavanaugh commented on #2947
We don't plan to support optional class methods. It's too confusing from a consumer perspective.

You can write something like this if you want (note that these would have to be instance members, not prototype methods):
[code]

[2015-07-29 18:06] paulvanbrenk commented on #3493
Thanks I'll see if that makes a difference

[2015-07-29 19:02] spion commented on #185
@aleksey-bykov

So to simplify

[code]

and now you can use it without any function wrappers, too - proper type definitions are sufficient.

Thats basically [the workaround that originally made me kinda happy](https://github.com/Microsoft/TypeScript/issues/185#issuecomment-71677455) until [being discouraged from using it](https://github.com/Microsoft/TypeScript/issues/185#issuecomment-71735812).

[2015-07-29 19:08] danquirk commented on #4038
@kitsonk I haven't really chatted with anyone else on the team about this in depth yet so I don't want to make any promises I can't keep :)

At first glance this is definitely a bit outside what we normally do as far as flow control based semantics and such but it does serve a real use that many people would benefit from. I wonder how much ES6 classes will eventually obviate the need for direct pr

[2015-07-29 19:15] danquirk commented on #4073
TypeScript does have a separate entry in Add/Remove Programs, ex:
![image](https://cloud.githubusercontent.com/assets/7121557/8967349/18613576-35eb-11e5-8814-59727a59ca2a.png)
But it is a little awkward that it's in none of the VS related places. We used to ship a .VSIX and show up in the VS Extension Manager but that is no longer the case (there are technical limitations with VSIX that made shipp

[2015-07-29 19:25] afrische commented on #185
Adding my voice to the discussion, I like how Kotlin has solved the issue, i.e.
 * own variables have not nullable types by default, a '?' changes that
 * external variables are nullable, a '!!' overrides
 * a null check is a type cast
 * external code can be analyzed by a tool that generates annotations

Compare:
[1](http://try.kotlinlang.org/#/Examples/Basic syntax walk-through/Null-checks/Null-

[2015-07-29 19:38] robertknight commented on #4025
Regression was introduced by ef7d1136b80970f0be11ad37f66fe15fb583d672 which split global diagnostics from the type checker and global diagnostics from compiler options parsing.

It modified ts.getPreEmitDiagostics() which is what the tests use to check whether the right compiler options diagnostics are produced but not ts.compileProgram() which is what the actual compiler front-end uses. getPreEmi

[2015-07-29 20:10] aleksey-bykov commented on #185
- if `a|void` is banned one can switch to `a|Nothing`

- can't see why using 100% legit features is a hack

- don't overestimate the skills of the community, many (if not most) definitions there are of low quality and even those like, say, jquery quite often can't be used as written without a few alterations

- again, a pattern won't ever be as good as a full-fledged feature, hope everyone gets it

[2015-07-29 20:26] Arnavion commented on #185
(If you don't want to rely on the void type, Nothing can also be ```class Nothing { private toString: any; /* other Object.prototype members */ }``` which will have the same effect. See #1108)

[2015-07-29 20:30] kevinpas opened #4075 "Visual Studio 2015 not using output folder"
When I create a blank node.js console app then in the project properties select "redirect to output folder"  the output continues going to the default location.

You can see this in the small project at: https://github.com/kevinpas/Klib6
(look at branch AddVS15)

[2015-07-29 20:36] impinball commented on #185
*Note: nothing here is about bikeshedding the syntax. Please don't take it
as such.*

I'll put it simply: here's the problem with the TS 1.6 solution proposed
here: it can feasibly work, but it doesn't apply to the standard library or
most definition files. It also doesn't apply to math operators. If you want
to complain about redundant type/runtime boilerplate, try to do generic
collections work

[2015-07-29 20:36] kevinpas opened #4076 "Cannot "import { NameValueUnits } from""
Note: I am not trying to get help fixing my code.  I am only reporting what I think is a bug in typescript.

See branch "AddVS15" of https://github.com/kevinpas/Klib6

There are two imports in the startup file "Klib6/Tests/Core/CoreTests.ts". If you comment out the second one you can successfully run and debug/step through the tests in the startup file.

If you uncomment the second import and unco

[2015-07-29 20:43] kevinpas commented on #4075
I the branch AddVS15 of https://github.com/kevinpas/Klib6

there is a Tools folder.  In that folder there is a vs 15 project that should be used.  But this is easily duplicated by creating a new project in vs 15 and trying to use the "redirect to output folder" option.

[2015-07-29 20:44] kevinpas commented on #4076
In the branch AddVS15 of https://github.com/kevinpas/Klib6

there is a Tools folder.  In that folder there is a vs 15 project that should be used.

[2015-07-29 20:51] #3168 closed

[2015-07-29 20:51] JsonFreeman commented on #4073
@danquirk Mentioning TypeScript in the installer UI won't actually make it easier to identify which version will be installed, nor will it help you once VS is already installed. You're right that the VSIX was the best option we've ever had for version visibility. I'd say the Add/Remove Programs dialog is the best thing we have today.

I think it is reasonable to try to get TypeScript added to the

[2015-07-29 20:58] impinball commented on #185
And could we at least get an idea what the bike shed structure would look like before we obsess over what color to paint it? Most of what I've seen so far after the first ~10 comments is "Hey, we want to build a bike shed! What color should we paint it?" Nothing about making sure the design is structurally sound. (See #3192 and the first half of #1206 for a couple other examples of this - most of

[2015-07-29 21:14] impinball commented on #1206
Bump...could I get some people to look over my [enum proposal](https://gist.github.com/impinball/1462ff07309111810799)?

[2015-07-29 21:16] richardspence opened #4077 "VS2015 typescript settings are not honored because they are set to apply to an incorrect platform within the csproj file"
I created a new web application in vs 2015, and tweaked the default typescript settings.  Within the csprj file they are only applied to 'Debug Any CPU' (note the space)  When they should be Applied to Debug AnyCPU.  This causes the settings to not be picked up at compiled time

[2015-07-29 21:17] afrische commented on #185
Admittatedly I am a bit over my head here. Yet, I searched scholar.google for "nullable javascript"and "nullability javascript" :
[Understanding TypeScript](https://users.soe.ucsc.edu/~abadi/Papers/FTS-submitted.pdf)
has a nice table of types in TypeScript (module generics).

[Dependent Types for JavaScript](http://goto.ucsd.edu/~ravi/research/oopsla12-djs.pdf)
seems to be important. source code v

[2015-07-29 21:25] #4060 closed

[2015-07-29 21:25] danquirk commented on #4075
this is with the Node Tools for Visual Studio then? Might be an issue on that side.

@paulvanbrenk us or NTVS?

[2015-07-29 21:35] danquirk opened #4078 "VS project properties bad spacing"
![image](https://cloud.githubusercontent.com/assets/7121557/8970503/df6ac084-35fe-11e5-9188-fcd63d7d3987.png)

:disappointed:

[2015-07-29 21:37] DanielRosenwasser commented on #4078
I had a fix for this. Then my TFS branch got deleted because reasons. I can take it on again.

[2015-07-29 21:38] RyanCavanaugh commented on #4078
I think I already fixed this when I did the TSX work

[2015-07-29 21:38] DanielRosenwasser commented on #4078
Do all menus have consistent spacing now then?

[2015-07-29 21:38] RyanCavanaugh commented on #4078
I'll post some screenshots

[2015-07-29 21:40] RyanCavanaugh commented on #4028
PR posted. Let me know if you see any other weirdness here. Thanks!

[2015-07-29 21:46] RyanCavanaugh commented on #4078
![image](https://cloud.githubusercontent.com/assets/6685088/8970800/8969b742-3600-11e5-8700-987df17686a2.png)

![image](https://cloud.githubusercontent.com/assets/6685088/8970808/96b7b502-3600-11e5-9032-205b66105ef1.png)

[2015-07-29 21:48] danquirk commented on #4078
Yay. I think the Output options are still slightly misaligned (the space between the last 2 is smaller than the spaec between the others) and the Debugging ones are as well due to the oversized Browse box (which is longer than the textbox it's associated with).

[2015-07-29 21:54] RyanCavanaugh commented on #4038
On the other hand, the work we're doing in the JS intellisense branch to pick up `define` and `require` calls (in non-TS code) might set a good precedent for how these things might work in the future.

[2015-07-29 22:02] impinball commented on #185
@afrische Much of this is already being used practically in JS type checkers. Flow uses most of the idioms in "Trust, but Verify", for example. There's also [Infernu](https://github.com/sinelaw/infernu), a WIP JS type checker that relies largely on Hindley-Milner type inference [1] (although [not purely](https://github.com/sinelaw/infernu/blob/master/docs/type-system.md)) to infer its types. But I

[2015-07-29 22:05] kevinpas commented on #4075
I think you're right this should be in Node Tools...

I had it over there but closed it to keep this one and typescript issue #4076 together.

Anyway when I run:  tsc -module commonjs -t ES5 -outDir ../../Output NameValue.ts

the output shows up where I expect.

[2015-07-29 22:05] #4075 closed

[2015-07-29 22:31] jods4 commented on #185
I am currently toying with a TS fork that assumes types are not nullable by default and that makes the (existing) Null type referenceable with `null`, e.g. `string | null`. I also added syntax for `string?` which is merely a shortcut for the same union type.

When you think deeply about it, it's the same thing as @aleksey-bykov, but where `null` is the `Nothing` type, built-in.

And that is not ev

[2015-07-29 22:32] mhegazy commented on #4078
Assigning to @RyanCavanaugh since he has an intial fix,

[2015-07-29 22:35] mhegazy commented on #4025
i would add a unit test for this along the lines of https://github.com/Microsoft/TypeScript/blob/master/tests/cases/unittests/transpile.ts

[2015-07-29 22:45] mhegazy commented on #4070
looks fixed in the latest bits. thanks to @SaschaNaz

[2015-07-29 22:45] #4070 closed

[2015-07-29 22:47] ngbrown commented on #1206
My interest in this Enum issue was I could receive text in json and have it converted to the Enum type (with it's underlying number or string or whatever)

[code]

The goal is to receive and send this with a `IJsonTest` typed object:
[code]

It now seems that even the enum with a string type doesn't help with that situation.  Without runtime metadata on the interface; how the json parser could eve

[2015-07-29 23:05] mhegazy commented on #4076
This is a node issue. it can not find a module "NameValue" the issue is that you are using module "NameValue" without a relative path, which tells node to find a package with this name.

in NameValueUnits.ts change
[code]

to
[code]

I understand that you wanted the compiler to flag this instead figuring it out yourself. If you have a proposal on how to do that we would be open to discussing it.

[2015-07-29 23:13] paulvanbrenk commented on #4077
Is this an Asp.net 4 or asp.net 5 project? And is this VS 2015 RTM?

[2015-07-29 23:22] RyanCavanaugh opened #4081 "Update DefinitelyTyped in advance of 1.6 release"
With #3823, it is now an error to have excess properties in an object literal. This breaks a bunch of tests in DefinitelyTyped; we need to update their repo before 1.6 ships.

[2015-07-29 23:28] richardspence commented on #4077
I believe it's VS 2015 RTM, about reads: v 14.0.23107.0 D14REL

I used the classic Asp.net 4.5 web application template

[2015-07-29 23:31] kevinpas commented on #4076
It is a difficult problem.

But it doesn't seem to be the natural intent of the new import keyword.  I have no suggestions other than passing import another parameter telling it the callers perspective.

[2015-07-29 23:37] impinball commented on #1206
Under my proposal, your enum should be this:

[code]

And as for inferring value types, it should work with similar machinery as
the current numeric enums. If this works, then my proposal should suffice:

[code]

In terms of validating input at compile time, there is no language or
library in the world that can validate JSON input purely at compile time.
That idea itself would be bad in practice b

[2015-07-29 23:56] mhegazy commented on #4073
we are working with the VS setup team to get TypeScript listed in the help page as an extension.

[2015-07-29 23:56] graphnode commented on #3203
Any chance to add an option where it emits a string?

[2015-07-29 23:58] Griffork commented on #185
If prefer not having string nullable in some files and not in others.
I like @impinball's idea of having an opt-out flag in the compiler and introducing it as a breaking change (gasp: big change from my earlier arguments). Assuming that the new syntax won't cause errors when using the opt-out flag of course.

[2015-07-30 00:04] RyanCavanaugh commented on #3203
Can you clarify with some examples?

Note that JSX can have embedded code in it, so it's not clear that having a string representation of that would be useful

[2015-07-30 00:05] mhegazy commented on #4072
what is "Element"? if it is a variable for instance you would get this message.

[2015-07-30 00:08] graphnode commented on #3203
I was thinking in the use of jsx highlighting and autocomplete to have simple html in js without any react features.

[2015-07-30 00:09] mhegazy commented on #4071
fixed in latest. thanks to @SaschaNaz

[2015-07-30 00:09] #4071 closed

[2015-07-30 00:56] basarat opened #4082 "Suggestion http://www.typescriptlang.org/: Add Github Stars upfront"
Lots of OSS projects do this. Adding this to the homepage will definitely increase OSS interaction (stars matter). Most projects use https://ghbtns.com/

Link for us:
https://ghbtns.com/github-btn.html?user=Microsoft&repo=TypeScript&type=star&count=true&size=large

Code that needs to go in :

[code]

Demo :

![image](https://cloud.githubusercontent.com/assets/874898/8973565/6d337352-36a9-11e5-82f7

[2015-07-30 01:33] tinganho commented on #4072
It was an empty interface.

hmm I cannot reproduce this either today. Though I worked heavily on my code yesterday so much have changed. I will close this for now and report back if I can reproduce again.

[2015-07-30 01:33] #4072 closed

[2015-07-30 02:00] basarat commented on #2749
@mhegazy I can implement this quite easily. Basically do it the same we parse out reference comments and store it in SourceFile, and then write it out on emit as is.

This is very similar to how babel does it as well (calls [`parseShebang` at the start] (https://github.com/babel/babel/blob/b91b4a4dc03eff8647b669c8935b18f0c6d7ed81/packages/babel/src/transformation/file/index.js#L636), and if the fi

[2015-07-30 05:12] DanielRosenwasser commented on #2749
@basarat I think the problem is that there's no consensus yet on what should be done with a shebang.

@jesseschalken If a shebang is meant to be preserved, it implies that the `.ts` file is not run - the resultant `.js` is. But clearly there is a use case for other tools to run the `.ts` file directly with no resultant `.js` file.

One could imagine us *omitting* shebangs on output, but also allow