[2016-11-15 10:07] stevehansen commented on #12262
If you do the await first and assign it everything works correctly.

[code]

[2016-11-15 10:53] tomcumming opened #12263 "Bug in destructuring assignment, losing type analysis information"
**TypeScript version: 2.0.8**
[code]

**Expected**
inside `f`, `options` and `options2` should have the same type

**Actual**
`options` loses the narrowed type information

[2016-11-15 11:12] angelozerr opened #12264 "Improve CodeFix "add missing super.call()""
**TypeScript Version:**  2.1.1

**Actual behavior:**

I have started to implement quick fix with Eclipse. Here a short demo:

![codefix](https://cloud.githubusercontent.com/assets/1932211/20303560/455870b4-ab2c-11e6-97f8-359230b3e28c.gif)

**Expected behavior:**

You can see 2 problems:

 * the codefix generates " **super();** although it should generates **super(a);**
 * the code fix doesn't resp

[2016-11-15 11:30] gregveres commented on #3518
HI @mhegazy or @IgorWolbers

I have the same problem. I have a main project with TS files in it and that compiles just fine.
I have a second project (in the same solution) that is my unit test project for my TS files. The TS files in this project do not get compiled. They do get compiled if I save them, but if I do a build clean - the JS and JS.map files don't get cleared out. If I remove them by

[2016-11-15 11:45] gregveres commented on #3518
Ok I think I got it. My csproj had lots of stuff in it so I wasn't sure where to put the import lines. It seems the order is important. When I moved the second import line to the bottom of my csproj - right below the import line for c#, then it started to work. My guess, looking at the import statement is that the condition was false when it was evaluated at the beginning of the file because it ha

[2016-11-15 11:45] Hotell commented on #11634
I don't think this works as expected. I'm currently struggling with very weird .d.ts outputs

this is my source file

[code]

and this is declaration output:
[code]

I have no usage of node globals in that file, neither chai, chai is used in tests ofc,
this is super strange behaviour.

[2016-11-15 12:02] IgorWolbers commented on #3518
@gregveres  - correct, the order is important. Why that is I am not sure. However in the most up to date versions of VS you can now include a `tsconfig.json` file and enable the `"compileOnSave": true` feature. This is the now recommended and supported way to ensure that typescript files are compiled in a VS project and also how they are compiled (based on the settings in that file).

[2016-11-15 12:07] gregveres commented on #3518
Thanks @IgorWolbers

I did have a tsconfig.json and compileOnSave: true. That's how I have been running for months. This shouldn't and can't be the recommended and only supported way of getting JS files. It works fine for your local dev machne but when multiple people are working on a project, it would mean that every person would have to go touch all the TS files to get JS files rather than doing

[2016-11-15 12:12] IgorWolbers commented on #3518
@gregveres  - ah hah, got it. Yes, I too struggled for a while to get that working but the good news is that typescript unit testing in VSTS does work.
Good luck!

[2016-11-15 12:48] zpdDG4gta8XKpMCd opened #12265 "type transformation for mapping object properties to function parameters"
now that we have map types it would nice being able to map properties to function parameters

[code]

would desugar to

[code]

[2016-11-15 12:51] whitecolor commented on #1213
Milestone: `community`? What is current state of this issue/feature?

[2016-11-15 12:54] aleksey-bykov commented on #1213
@whitecolor the status is DIY (do it yourself)

[2016-11-15 13:11] angelozerr opened #12266 "[tsserver] GetSupportedCodeFixes should return description of CodeFix"
**TypeScript Version:**  2.1.1

**Actual behavior:**

Today when we wish to get the description of codefix to display it in an UI popup, we must consume **getCodeFixes" command which computes too the code edit although user have not executed the code fix.  I think it's shame to compute the code edit although user don't execute the codefix. More I'm afraid if the compute of the codefix takes time,

[2016-11-15 13:15] angelozerr commented on #12124
I think CompileOnSaveEmitFile return nothing because the compilation can take time. It should be very cool if tsserver could send an event with emitted files. Thank's for your help!

[2016-11-15 14:37] gregveres commented on #3518
@IgorWolbers - yup now that I have the build of TS -> JS files working my unit tests are working well on VSO. Do you use modules in TS? I am now trying to setup an MVC app that treats each MVC page as a single page app. I am trying to get TS setup with requireJS but I am having trouble figuring out the right import syntax to use and the right requireJS config settings. If you are using TS with req

[2016-11-15 15:40] arusakov opened #12267 "Literal types don't work with generics as expected"
**TypeScript Version:**  master (cef9d8597914f633f51c15b5ae6f9691c4dcfbc5)

**Code**

[code]

**Expected behavior:**
`obj` has type `{ type: 'x', data: 1 }`

**Actual behavior:**
`obj` has type `{ type: string, data: number }`

[2016-11-15 15:50] btgoodwin commented on #9509
@evmar FWIW, +1 to this workflow problem.

I'm fighting my way through this as well in developing an ES2015 library that handles google protobufs.  I've spent over a week trying to force protobufjs with @types/protobufjs only to have that route fall completely apart from endless packaging issues for how to deploy that library to the browser (tried jspm, webpack, systemjs).

I switched to google-pr

[2016-11-15 16:24] #10120 closed

[2016-11-15 16:30] rozzzly commented on #12267
`const obj = create<'x', number>('x', 1)` is what you're looking for. Typescript assumes you just intended for 'x' to be a string, not a literal. Si you have to explicitly mark that during your function call.

[2016-11-15 16:33] gcnew commented on #12265
I can see this, paired with substraction types, being used for
 - ADT constructors
 - `bind` / `apply`

[2016-11-15 16:47] arusakov commented on #12267
@rozzzly
It likes old (TypeScript 2.0) literal types behaviour:
[code]
But in TypeScript 2.1 literal types are much cleaner:
[code]
I expect similar behaviour for generics.

[2016-11-15 16:57] electricessence commented on #2214
@goodmind Your above suggestion breaks common ```switch``` rules.  Cases have to be constants.

[2016-11-15 17:06] electricessence opened #12269 "Retain type guard info"
Is a bit of a low value feature, but TS is getting smarter all the time so why not:

If you can assert that a value is the result of a type guard.  Why not keep that information for later?
[code]

[2016-11-15 17:19] goodmind commented on #2214
@electricessence ok. i think https://github.com/Microsoft/TypeScript/issues/165 better for something like my example (but without switch, maybe auto-generated user type guards or so)

[2016-11-15 17:20] waderyan opened #12270 "Go to Symbol should position text cursor on name of target"
_From @chrmarti on October 31, 2016 14:48_

- VSCode Version: Code - Insiders 1.7.0-insider (0706b425537d8cfe2766eac00662ecf988c7ed7f, 2016-10-28T13:00:19.188Z)
- OS Version: Darwin x64 15.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|EditorConfig|EditorConfig|0.3.3|
|vscode-docker|PeterJausovec|0.0.6|
|regex|chrmarti|0.0.6|
|vscode-eslint|dbaeumer|1.0.7|
|ghlink|dt|0.0.4|
|gitlens|

[2016-11-15 17:20] waderyan commented on #12270
_From @rebornix on October 31, 2016 17:8_

I found it share the same experience with Go To Definition.

[2016-11-15 17:20] waderyan commented on #12270
_From @dbaeumer on November 1, 2016 15:11_

We simply use the position we get from the tsserver. So need to check what they return (using tracing option)

[2016-11-15 17:20] waderyan commented on #12270
This issue was moved to Microsoft/TypeScript#12000

[2016-11-15 17:20] waderyan commented on #12270
@dbaeumer I may have migrated that issue too early. Can you clarify what you mean by

Is this on our end or TypeScript's?

[2016-11-15 17:20] waderyan commented on #12270
_From @dbaeumer on November 4, 2016 11:18_

This is on our end. I would do the following: enable tsserver tracing in VS Code's setting and do goto definition. If the trace shows that TS gives us the position of the visibility keyword (public, private, ...) then we should move this it the TS team. If not then it looks like a bug on our end.

[2016-11-15 17:20] waderyan commented on #12270
Ok. This fell through the cracks but getting to it now.

I tested with this code:

[code]

![image](https://cloud.githubusercontent.com/assets/2449568/20285023/96198c3a-aa74-11e6-97db-80251ae39ccf.png)

Here is the output I see from TS.

![image](https://cloud.githubusercontent.com/assets/2449568/20285042/b0117cec-aa74-11e6-952b-988108ba8fc3.png)

From reading this it looks like TS Server is provi

[2016-11-15 17:20] waderyan commented on #12270
_From @dbaeumer on November 15, 2016 1:3_

Yes the reported offset is at the beginning of public. I recommend to ask the TS team to change this.

[2016-11-15 17:21] paulvanbrenk commented on #12249
Yep, the expectation is that the host does the formatting after the edit is completed. The language service doesn't know the required indentation etc. for example in a script block.

[2016-11-15 17:22] waderyan opened #12271 "Tag matching erratic in JSX javascript"
_From @bgashler1 on November 9, 2016 20:42_

- VSCode Version:
- OS Version:

From @vvatikiotis:
https://github.com/Microsoft/vscode/issues/12402#issuecomment-259362863

Steps to Reproduce:

HTML tag matching works in my theme, highlighting matching tags, _when there are no JSX javascript expressions within the tags_. However, tag highlighting works erratically when there are JSX javascript expres

[2016-11-15 17:22] waderyan commented on #12271
@dbaeumer is matching tags provided by a language service (i.e. TS Server)? I can't see anything in the doc - http://code.visualstudio.com/docs/extensions/language-support

[2016-11-15 17:22] waderyan commented on #12271
_From @dbaeumer on November 15, 2016 1:26_

Yes, the TS request message is called `occurrences`

[2016-11-15 17:28] icholy commented on #2214
@electricessence what do you mean by "common `switch` rules"? The example provided by @goodmind is valid code.

[2016-11-15 17:51] mhegazy commented on #11849
you can strip out the `/// <reference types ... />` from the resulting .d.ts files, wouldn't this be sufficient?

[2016-11-15 17:54] mhegazy commented on #11634
the references to `chai` and `node` are not correct, this is a bug that should be fixed in the next release, see https://github.com/Microsoft/TypeScript/issues/11849. the general behavior of the compiler emitting `/// <reference types ... />` for things you depend on is the expected behavior.

[2016-11-15 18:01] jayphelps commented on #11849
@mhegazy oo just go in by hand and remove them from the artifacts, before we publish? A crude but hilariously effective solution.

[2016-11-15 18:17] Hotell commented on #11634
right. thx for pointing me to right direction 🍺

[2016-11-15 18:21] mhegazy commented on #11849
you just need a regex.

[2016-11-15 18:22] mhegazy commented on #11849
alternatively 2.1 RC should have the fix for the issue.

[2016-11-15 18:24] mhegazy commented on #12264
For formatting see https://github.com/Microsoft/TypeScript/issues/12249. the expectation is the host will call format after applying the change.

for the argument, it is not clear what should be added here. so options either do not have a quick fix enabled if the base class constructor has required parameters, or add the same set of parameters to the derived constructor. i do not know what to do i

[2016-11-15 18:25] shand-obs opened #12273 "Private non-nullable fields can still be null after construction (strictnullchecks)"
**TypeScript Version:**  2.1.1 & nightly (2.2.0-dev.20161115)

**Code**

[code]

**Expected behavior:**
tsc should error, either on class definition or on object construction; _notNullable cannot be undefined or null.

**Actual behavior:**
tsc succeeds; NaN is output in console.

[2016-11-15 18:28] mhegazy commented on #12260
A PR would be appreciated.

[2016-11-15 18:32] RyanCavanaugh commented on #12273
Duplicate of #8476 and many others. Please search before logging a new issue.

[2016-11-15 18:32] #12273 closed

[2016-11-15 18:38] shand-obs commented on #12273
Honestly, I spent 20 minutes searching for a duplicate issue before posting. The trouble is that the default search criteria restricts to open bugs. It didn't occur to me to search for closed bugs, because to us it's not _closed_. I tested in both the 2.1 RC and the 2.2@next daily.

[2016-11-15 18:48] shand-obs commented on #8476
Adding my voice. This feature is unreliable at best when not enforced on construction. Fields that are `T | undefined` until an `init()` method is called should be declared `T | undefined`. For the inheritance problem, why not require the base class to be declared `abstract`; do not perform check on abstract classes, and only enforce the check on non-abstract subclasses?

[2016-11-15 18:49] shand-obs commented on #12273
I added my comment to #8467. Please re-open. This issue is definitely not resolved.

[2016-11-15 18:54] dbaeumer commented on #10473
I tested this again on 2.0.9 and this is still not working. Here is what I do:

- create a tsconfig.json with an invalid property
- open a TS file which activates the tsconfig.json
- you correctly get an error
- change the wrong property to another invalid property name

Observe: you don't get an event informing you about the new invalid property name

- change the property name to a valid propert

[2016-11-15 18:54] dbaeumer commented on #10473
@mhegazy @zhengbli can you please have a look

[2016-11-15 18:56] dbaeumer commented on #10473
If you close and reopen the TS file then the tsconfig.json gets revalidated.

[2016-11-15 19:13] vladima commented on #12198
This seem to be a missing piece in the [description](https://nodejs.org/api/modules.html#modules_all_together) of node module resolution algorithm that currently states:

1. If X is a file, load X as JavaScript text.  STOP
2. If X.js is a file, load X.js as JavaScript text.  STOP
3. If X.json is a file, parse X.json to a JavaScript Object.  STOP
4. If X.node is a file, load X.node as binary addon.

[2016-11-15 19:21] RyanCavanaugh commented on #12254
The compiler can see your code and it can tell that you're making a comparison that's never true. See #11200

[2016-11-15 19:34] sandersn commented on #12252
The fix is available now. I folded it into #12248

[2016-11-15 19:40] nagor opened #12275 "ES Spread properties caused compiling error"
**TypeScript Version:**  2.2.0-dev.20161114

**Code**

[code]

**Expected behavior:**
result = getA( { prop2: false }, { prop3: 'bar' } );
-> {
            enumTypeProperty: 1,
            prop1: 'foo',
            prop2: false,
            prop3: 'bar'
}

**Actual behavior:**

Compile error:

ReferenceError: name is not defined
    at visitFunctionExpression (*\node_modules\typescript\lib\tsc.js:

[2016-11-15 19:50] mjbvz commented on #12249
@dbaeumer Just wanted to check that this is your understanding as well. If this is the case, VSCode will have to make two calls to the TS server, one for the code action itself and then another to format it. Does that sound correct? Will this introduce any complications for document management?

[2016-11-15 20:16] wallverb commented on #12269
https://github.com/Microsoft/TypeScript/issues/12184#issuecomment-260162839

[2016-11-15 20:27] biqas opened #12277 "Hooking up into the generator pipeline"
Hello,

Let me describe my problem statement:
Currently if you have a valid .tsx file with JSX notations, JavaScript is generated, which is fine.
Now if you want to make changes how the generated JavaScript is generated it is really difficult, difficult because I couldn't find documentation about this process and it seems currently that the generator pipeline is not build for such use-cases (I'm n

[2016-11-15 20:32] #12200 closed

[2016-11-15 20:32] #12211 closed

[2016-11-15 20:32] #12227 closed

[2016-11-15 20:32] #12228 closed

[2016-11-15 20:32] #12252 closed

[2016-11-15 20:40] sandersn commented on #12275
This looks like an error in emit for some module transform. @nagor, which module system are you using?

[2016-11-15 20:45] mhegazy commented on #12266
That is the expected behavior. the issue is we do not know what code fixes are applicable. the work to check for applicability is almost the same as that to compute them.

[2016-11-15 20:49] mhegazy commented on #1213
The issue has `Accepting PRs` label.  this means that pull requests to implement this feature are welcomed.  See https://github.com/Microsoft/TypeScript/wiki/FAQ#what-do-the-labels-on-these-issues-mean for more details.

Also please see https://github.com/Microsoft/TypeScript/issues/1213#issuecomment-96854288

[2016-11-15 20:57] sandersn commented on #12275
I can't repro this just using the provided code. @nagor, can you provide your tsconfig?

[2016-11-15 21:00] klinquist opened #12278 "Go To Definition doesn't work for certain module patterns"
@waderyan asked me to open up a bug in the TypeScript repo for my comment on this issue:
https://github.com/Microsoft/vscode/issues/15004

**TypeScript Version:**  VSCode 1.7.1

**Code**

myfile.js:
[code]

**Expected behavior:**

If I `let test = require('myfile')(baseUrl)`  then  `test.apiCall(url, cb)`,  I should be able to 'go to definition' on apiCall.

**Actual behavior:**

Cannot go to defi

[2016-11-15 21:20] #12235 closed

[2016-11-15 21:26] aluanhaddad commented on #12278
You have to call `test`.

[2016-11-15 21:36] nagor commented on #12275
[code]

[2016-11-15 21:37] nagor commented on #12275
@sandersn
[code]

[2016-11-15 21:46] ahejlsberg commented on #12267
Unless there is *some* indication that you want the literal type preserved, TypeScript will widen the type when it is inferred for a mutable location (such as an object literal property). There are many ways you can indicate you want to preserve the literal type, including:

[code]

For more discussion see #11126.

[2016-11-15 21:48] brodeuralexis opened #12279 "Cannot extend native type Error"
**TypeScript Version:**  2.1.1

**Code**

[code]

**Expected behavior:**
To see the program run to completion with any errors.

**Actual behavior:**
[code]

**Additional Information:**
This problem is only present in the release candidate (TypeScript@2.1.1).

Compiled JavaScript for TypeScript@2.1.1
[code]
Compiled JavaScript for TypeScript@2.0.9:
[code]

[2016-11-15 21:50] ahejlsberg commented on #12263
Duplicate of #10065 and #10846.

[2016-11-15 21:57] klinquist commented on #12278
When not in strict mode, I don't have to return a new constructor for my script to work..

[2016-11-15 21:58] ahejlsberg commented on #12255
A string index signature introduces a constraint that must hold for *all* properties in a type. The compiler is pointing out that your method declarations introduce properties that aren't of type `Column` which is inconsistent with what you've declared in the string index signature.

[2016-11-15 22:00] ahejlsberg commented on #12215
I'm going to relabel this a suggestion as #4183 doesn't actually have a proposal.

[2016-11-15 22:05] mhegazy commented on #4183
https://github.com/Microsoft/TypeScript/issues/12215 seems to have a proposal that is more inline with ideas discussed previously in the TS design meeting. We would favor the approach in https://github.com/Microsoft/TypeScript/issues/12215 for supporting this feature.

[2016-11-15 22:06] rbuckton commented on #12262
The issue is due to the fact we need to bind `void 0` as the first argument. So while the following doesn't work:
[code]
This does work:
[code]

[2016-11-15 22:11] sandersn opened #12281 "Object rest destructuring assignment doesn't check assignability"
[code]

**Expected behavior:**

Error at `..x`: Type 'string' is not assignable to type 'number'. (for property 'a')

**Actual behavior:**
No error.

[2016-11-15 22:46] aluanhaddad commented on #12278
Irregardless you need to call the function.

[2016-11-15 22:49] klinquist commented on #12278
Sorry - I *do* call the function (I just updated my test code).   Please try it - you'll see that Go To Definition does not work.

[2016-11-15 23:07] kylenicola opened #12282 "Unable to use super method when extending a class that has the method implemented via an interface"
**TypeScript Version:**  2.0.9

**Code**

[code]

**Expected behavior:**

Able to call super.Foo() within Foo method.

**Actual behavior:**

Typescript error, "Property 'Foo' does not exist on type 'Bar'".  If I add the Foo method directly on Bar then it passes fine.

I'm trying to have a method that takes a react class, extends it, then extends a componentWillMount() method, but I'm unable to cal

[2016-11-15 23:10] blakeembrey commented on #7753
Starting to see it in some other universal projects (aside from my own), most notably the AWS SDK (https://github.com/aws/aws-sdk-js/pull/1228).

[2016-11-15 23:26] #12262 closed

[2016-11-15 23:28] mhegazy commented on #12282
An implements clause does not cause a class to "inherit" properties from an interface. it is just a request for the compiler to check that the class does indeed "implement" the interface. in your case it happens that class `Bar` implements `Inter` correctly, since the only property on `Inter` is optional. so `var i: Inter = { };` is a valid assignment. At runtime class `Bar` does not have any `Foo

[2016-11-15 23:30] aluanhaddad commented on #12278
Indeed it does not work.
The following works as expected
[code]
The issue is that `this` is typed as `any` throughout the original function. The actual value of `this` will vary at runtime depending on the context in which the code is called.

[2016-11-15 23:32] klinquist commented on #12278
Would a `let self = this`,  then returning `self` make it work?

[2016-11-15 23:42] mhegazy commented on #12278
no. the system currently does not track assignments to `this` as property declarations. i.e. `this.apiCall` is not treated as a declaration for a new property called `apiCall` on `this`. this is true if you alias `this` as well (`self = this`).

you could however, enhance the experience by using JSDoc comments:

[code]

[2016-11-15 23:44] aluanhaddad commented on #12279
Please see #12123

[2016-11-15 23:48] dbaeumer commented on #12249
How would the host know which region to best format. We can't only format the region of the edit. In the described case that would be `super();`. Formatting that will no introduce any line breaks. In addition if a code action will provide several edits what should the host do? Format the region spawned by the n edits.

IMO it would make more sense if we sent the formatting options when we request

[2016-11-15 23:52] yuit commented on #12226
@julius-e I can't repo you example. Here is my setup. Let me know if I miss something

[code]
**main.tsx**
[code]

**components/Comp.tsx**
[code]

**inputJS\store.js**
[code]

Let me know if I miss anything or how to repo the problem successfully

[2016-11-16 00:02] aluanhaddad commented on #12267
I'm slightly confused.

In the following
[code]
the type of `o.type` is inferred as `"x"` via the type of `X`.

In the following, however,
[code]
the type of `o.type` is inferred as `string` seemingly because `X` is not annotated. This puzzles me because the type of `X` is exactly the same in both cases.

[2016-11-16 00:04] aluanhaddad commented on #12265
This is really interesting

[2016-11-16 00:18] wallverb commented on #12267
@aluanhaddad Too bad that TS team does not see the value in showing this behavior to users: https://github.com/Microsoft/TypeScript/issues/11181

It's much easier to google what 'widenting type' is and be able to easily understand the behavior as opposed to getting different behaviors.

[2016-11-16 00:28] ahejlsberg commented on #11839
We infer an implicit `any` type for `let` and `var` declarations of the following forms:

[code]

With #11263 we introduced control flow analysis for such implicit `any` variables. That's generally a good thing and certainly will detect issues that we previous didn't find, but it is technically a breaking change. For example:

[code]

The code above used to compile because `x` had type `any` and n

[2016-11-16 00:38] ahejlsberg commented on #12267
@aluanhaddad The difference between a `const` with and without a type annotation is explained in detail in #11126.

[2016-11-16 00:38] paulvanbrenk commented on #12249
The behavior for multiple edits is up to the editor. For VS we collapse the edits for each document and format the entire changed span based on the lines. This is how the formatter does know to include a line break in the described case.

If we want to format in the tsserver we would need to parse the entire file after applying the fix, because at the level the fixes work we don't have versions fo

[2016-11-16 00:40] ahejlsberg commented on #12267
@aluanhaddad I should add that the intuitive way to think of this is that we will never widen a literal type that resulted from an *explicit* type annotation. We only widen *implicit* literal types.

[2016-11-16 00:40] aluanhaddad commented on #12267
@ahejlsberg excellent. Thank you.

[2016-11-16 00:51] aluanhaddad commented on #12267
@ahejlsberg I appreciate the clarification. It definitely makes sense to me now but on the whole this is an interesting and rather subtle behavior.
In the past (prior to this discussion) I would have flagged the explicit type annotation, say during a code review, as unnecessary. Obviously this is a matter of style and opinion but it is interesting that the annotation has this kind of second-order

[2016-11-16 01:00] weswigham opened #12283 "Snapshot nightlies during the night"
Nightlies get published around 11am pacific time, judging by the publication timestamps in npm, which is a little odd because it can capture a small part of a day's work for most of the team (most of the team is in the pacific time zone, so most PRs get merged between 9am and 5pm, pacific). IMO, it would make more sense to actually snapshot and publish the nightlies overnight, when [contributions

[2016-11-16 01:04] weswigham commented on #12267
@aluanhaddad If you know a specific domain of literal types which the arguments are supposed to be, you can limit them like so:

[code]

[2016-11-16 01:05] mhegazy commented on #11839
One thing to note is for JS files the new behavior is more desirable. so either ways, we should keep it working in JS files.

[2016-11-16 01:06] weswigham commented on #12267
@aluanhaddad If you know what the domain of each type argument is supposed to be, specifying it like so will also cause literal types to be correctly inferred from literals:
[code]
It's only unconstrained generics which have the widening ambiguity issue.

[2016-11-16 01:12] aluanhaddad commented on #12267
@weswigham thank you for that. I like how the use of constraints makes the code more clear and at the same time appropriately places the authority of determining the literalness of the return type with the callee.

[2016-11-16 01:13] kylenicola commented on #12282
@mhegazy Thanks for your speedy response!

[2016-11-16 01:13] #12282 closed

[2016-11-16 01:17] gdi2290 commented on #7753
This is also a problem for Angular's use of Ahead of Time compiler which uses TypeScript's future feature on extending TypeScript. When splitting code per platform there must be two paths created

angular2-universal/browser
angular2-universal/node

https://github.com/angular/universal-starter/blob/master/src/app/app.browser.module.ts#L3

[2016-11-16 01:19] aluanhaddad commented on #11839
As someone who generally avoids `--noImplicitAny` I think the new behavior is preferable. I would rather have the advantage of the evolving type analysis without having to enable the flag, even if it required me to place a few more `any` annotations in my code.

[2016-11-16 01:20] mhegazy commented on #12283
nightly packages should be published around midnight (npm info output):

[code]

so it last night it went out 12:43 am.

[2016-11-16 01:20] ahejlsberg commented on #11839
@aluanhaddad I'm curious why you avoid `--noImplicitAny` since it actually makes your code safer?

[2016-11-16 01:24] rob3c commented on #2214
@goodmind You may want to consider [Discriminated Unions](https://www.typescriptlang.org/docs/handbook/advanced-types.html#discriminated-unions) to solve this kind of problem. They let you get strong typing in switch cases without writing type guards when you have a common string literal type property to discriminate between them.

Here's the example from the TypeScript Handbook that I linked to:

[2016-11-16 01:34] aluanhaddad commented on #11839
@ahejlsberg Its something I'm conflicted about.

The main reason why I avoid it is that I find that, while evolving a piece of code, some types are naturally in flux.

Since `--noImplicitAny` results in an error for unannotated declarations that can not _as that time_ be inferred, the usual thing that people do is add an `any` annotation to "shut the type checker up". This would be fine if they we

[2016-11-16 01:40] #12255 closed

[2016-11-16 01:50] aluanhaddad commented on #11839
Here is something I see fairly often, basically verbatim.

  _First Pass_
[code]
  _Second Pass_
[code]
The second pass makes me very sad.

[2016-11-16 01:52] mKlus commented on #10968
I have similar issue with jquery and knockout.
I'm using TS 2.0.6 and still get the following errors:

node_modules\@types\jquery\index.d.ts(623,5): error TS2374: Build:Duplicate string index signature.
node_modules\@types\jquery\index.d.ts(2872,5): error TS2374: Build:Duplicate string index signature.
node_modules\@types\jquery\index.d.ts(2873,5): error TS2375: Build:Duplicate number index signat

[2016-11-16 01:52] scharf opened #12284 "Document: How to get "Simplified Declaration File (.d.ts) Acquisition" form custom repositories?"
When I create a pull request to [DefinitelyTyped](https://github.com/DefinitelyTyped/definitelytyped.github.io), there is normally a period between submitting the pull request until the update is available via `npm install --save @typings/the-module`.

During that time, I want to consume the resulting changes in my project. With [typings](https://github.com/typings/typings) it was easy to use my o

[2016-11-16 01:58] HerringtonDarkholme opened #12285 "Compiler crashes when mapped types recursively access indexed type"
**TypeScript Version:**  2.2.0-dev.20161115

**Code**

[code]

**Expected behavior:**

Report error that `Recurse` is cyclic refrence

**Actual behavior:**

Compiler crashes. Maximum call stack size exceeded in `getTypeFromTypeNode`

[2016-11-16 02:00] Kovensky commented on #12284
package.json does support specifying a github repository and a commit hash, but not a path inside the git repository :/

Also because the individual package.json are synthesized by the publish tool, it's not trivial to use `npm link`. But something like `npm link` in DefinitelyTyped, followed by `npm link DefinitelyTyped` and `mkdir -p node_modules/@types && ln -s ../DefinitelyTyped/yourpackage no

[2016-11-16 02:08] mhegazy commented on #10968
@mKlus please file a new issue and give us more info to be able to diagnose the issue you are running into.

[2016-11-16 02:13] mhegazy commented on #12284
Would this address your request https://github.com/DefinitelyTyped/DefinitelyTyped/pull/12392 ?

[2016-11-16 02:21] mhegazy commented on #12284
`npm link` is definitely an option.

From the compiler perspective, the package in `@types` can be any where under `--typeRoots`. by default `--typeRoots` is infered to be `node_modules\@types`, but you can change this for your project, for instance:

[code]

this tells the compiler when resolving a `/// <reference type="package" />` to look under `./definition/package/index.d.ts` first and if not

[2016-11-16 02:41] brodeuralexis commented on #12279
Yep, that better describes it.
Thanks.

[2016-11-16 02:41] #12279 closed

[2016-11-16 02:41] mKlus opened #12286 "Duplicate identifier error when 2 projects, main and dependent, both supply type definitions for a knockout/jquery library"
I have VS solution that has multiple projects.
There is a ProjectA that imports jquery and knockout and ProjectB that imports class from ProjectA and also imports knockout and jquery.
When I compile the solution (or projectB) in VS 2015 Update 3 with TS 2.0.6 installed I get the below errors.

``
2>D:\Temp\TSProject\TSProjectA\node_modules\@types\jquery\index.d.ts(623,5): error TS2374: Build:Dupli

[2016-11-16 02:42] mKlus commented on #10968
@mhegazy I have created new issue #12286.

[2016-11-16 02:58] Kovensky opened #12287 "Indexed read from dictionary not considered potentially undefined under strictNullChecks"
With typescript@master:

[code]

[2016-11-16 03:13] weswigham commented on #12283
@mhegazy I am a bad - I was 12 hours off when reading the timestamps.

[2016-11-16 03:13] #12283 closed

[2016-11-16 03:26] wallverb commented on #12287
https://github.com/Microsoft/TypeScript/issues/9235

[2016-11-16 03:47] Treri opened #12288 "in namespace can't use outside same name variable."
**TypeScript Version:**  2.0.6(VSCode 1.7.1 included)

**Code**
test.ts
[code]

**Expected behavior:**

In namespace foo, I can assign outside abc to namespace foo

**Actual behavior:**

![image](https://cloud.githubusercontent.com/assets/2631733/20334061/384b4b28-abf2-11e6-9904-c72a530b6ae2.png)

Error: `[ts] Block-scoped variable 'abc' used before its declaration.`

And if I use `foo.abc = abc`,

[2016-11-16 03:51] Treri commented on #12288
Is it designed?

The only way to do it right now is

[code]

But it's not clear. I don't know why `def` can define and assign together, but `abc` can't.

[2016-11-16 04:01] jwbay commented on #12288
The behavior reproduces with just this:

[code]

The problem in your full example is `let abc = ...` creates a new variable in the scope of `foo`. It shadows, or overrides, the abc from the outer scope. So it thinks you're trying to initialize a variable with itself. It has no idea there's another abc you're trying to reference above it.

Initializing a value with itself is allowed with var, yield

[2016-11-16 04:10] Treri commented on #12288
@jwbay  I just want to do this in javascript

[code]

If I do not use namepspace in typescript, the type chcker will throw a error/warning:
 `[ts] Property 'abc' does not exist on type 'typeof foo'.`

[2016-11-16 04:18] Treri commented on #12288
And a new problem

[code]

will emit javascript

[code]

ESLint throw the error `[eslint] 'foo' is already defined. (no-redeclare)`. Why function `foo` and var `foo` both emited here?

[2016-11-16 04:24] Treri commented on #12288
A further more question.

If I want to assign a property to a function, but the function is not top level. Then the namespace usage will lead to error `[ts] A namespace declaration is only allowed in a namespace or module.`.

How can I assign a property to a function in this condition?

[code]

[2016-11-16 04:47] ethanresnick opened #12289 "Unsimpilifed Interesction Types Prevent Type Inference"
**TypeScript Version:**  2.2.0-dev.20161112

**Code**

[code]

**Expected behavior:**
`handlerA` and `handlerB` should have the same type inferred (because `Method` and `Method2` should be treated as the same type, by simplifying `Method2` down to `Method`).

**Actual behavior:**
`handlerA` is inferred correctly; `handlerB` errors/is implicitly any.

For context, here's the real code (and my attem

[2016-11-16 04:55] johanssj commented on #7426
Late to the party but nevertheless ... one issue which is conspicuous by its absence in most of the above discussion is anything ado about the `void` type. For example, the following which is legal TypeScript confirms the `void` type is inhabited by the value `undefined`.

`const X: void = undefined;`

This makes me wonder if the type `undefined` is simply a literal value type in exactly the same

[2016-11-16 05:32] whitecolor opened #12290 "Typing for object deep paths"
Recently introduces [`keyof`](https://github.com/Microsoft/TypeScript/pull/11929#issuecomment-260856694) operator will work well for typing functions that accept properties directly on target type.

[code]
 What do you think, is it possible in theory to type deeply nested paths, so that for type:
[code]
so that it would be possible to restrict possible path values to:

[code]
This actual for such

[2016-11-16 05:42] ethanresnick commented on #11426
This is fixed by #11717

[2016-11-16 05:42] #11426 closed

[2016-11-16 06:01] HerringtonDarkholme opened #12291 "Compiler crashes when emitting declaration for malformed interface"
**TypeScript Version:** nightly, with `--declaration` flag, also reproducable with stable version
**Code**

[code]

**Expected behavior:**
Report error like without `--declaration` flag.

**Actual behavior:**
Crashes with `Cannot read property 'heritageClauses' of undefined` in `writeInterfaceDeclaration`

[2016-11-16 06:03] thomasboyt opened #12292 "Cannot `await` on interfaces extending `Promise<any>` in TypeScript 2.1 RC"
For context: I ran into this bug using [Knex](http://knexjs.org/) and its type definition in TypeScript 2.1 RC. Knex's type definitions use [an extended `Promise` interface](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/knex/knex.d.ts#L321) for every value returned from a query, to allow for further chaining. Unfortunately, it looks like async/await in TypeScript does not support

[2016-11-16 06:24] JKillian commented on #2491
@mhegazy: it seems like it might be a little trickier than that in practice?

[code]

[2016-11-16 07:28] Ristaaf commented on #12174
RyanCavanaough: This was found when turning on strictNullChecks on an existing codebase, not the example that I showed of course, that was just a simplification to be clear.

We had complex logical expressions with && that relied on returning a string. They could have returned other types too, but we did not handle that, so to understand what was going on and to fix the code, we started to read up

[2016-11-16 07:32] zakjan opened #12293 "Literal type array inference"
**TypeScript Version:**  2.1.1

**Code**

[code]

**Expected behavior:**
no error

**Actual behavior:**
[code]

[2016-11-16 07:33] HerringtonDarkholme commented on #10261
One real world scenario is mixin http://justinfagnani.com/2015/12/21/real-mixins-with-javascript-classes/. If counting intersection type with construct signature would at least partially solve the long awaited mixin support in TypeScript.

[2016-11-16 07:40] #12222 closed

[2016-11-16 07:41] vvakame commented on #12222
thank you for your advice!
I am glad that the documentation is more detailed.

[2016-11-16 08:03] twoeo opened #12294 "Array.filter condition wasn't recognized by Flow Analyzation when strictNullChecks be true"
**TypeScript Version:**  2.0.3 / nightly (2.1.0-dev.201xxxxx)
2.1.1

**Code**

[code]

**tsconfig.json**
[code]

**Expected behavior:**
Compile successfully

**Actual behavior:**
test.ts(16,50): error TS2532: Object is possibly 'undefined'.

[2016-11-16 08:04] kitsonk commented on #12293
It wouldn't make sense to infer literal types in an array.  It would cause all sorts of downstream problems.  Because while you are assigning to a const, the values of an array are mutable.  Did you mean to only allow `"CAR" | "BUS"`, or did you want to allow `carTypes.push("TRUCK");`?  So when vague like this, it incumbent upon the developer to express more intent:

[code]

[2016-11-16 08:04] goodmind commented on #2214
@rob3c I can't specify `kind` property because I dealing with external API. I think https://github.com/Microsoft/TypeScript/pull/12114 is what I need (maybe not)

[2016-11-16 08:10] kitsonk commented on #12294
Currently CFA cannot perform that type of anyalysis, and I suspect it would be very hard to accomplish, because `Array.prototype.filter` is functional not syntactical and there is no way to easily express you are mutating the types in that function.

In theory with the new [mapped types](https://github.com/Microsoft/TypeScript/pull/12114) you could create a custom function that would turn that int

[2016-11-16 08:18] zakjan commented on #12293
Ah, right.

It is a pity that there are no official support for string enums yet. I usually construct them with:
[code]

Then the following should be ok.

[code]

It works with current number enums.

[2016-11-16 08:42] zakjan commented on #12293
Ok, my case can be solved with
[code]

[2016-11-16 08:57] sasxa commented on #12200
Just to confirm it works in `2.2.0-dev.20161116`...

[2016-11-16 09:18] Kovensky commented on #12292
Would `interface PromiseExtender<T> extends Promise<T> {}` work?

[2016-11-16 09:35] HolgerJeromin opened #12295 "Type narrowing with interface inheritance"
**TypeScript Version:**  2.0.3
This is related to discriminated unions, but with interface inheritance.

I get a SyncCommand via XHR and need to do different stuff depending on the command.
Right now i need a Type assertions for that, but my interface definition holds all information already.

**Code**
[code]

**Expected behavior:**
Inside the 'Foo' case the type should be narrowed to SyncCmdFoo.

[2016-11-16 10:08] kitsonk commented on #12295
That isn't narrowing, that is "magical" widening... You asserted `command` was of type `SyncCmd` therefore TypeScript is taking your word for it and cannot "magically" widen to something else.  If you tell TypeScript it could be `SyncCmd | SyncCmdFoo` it will then [narrow the type appropriately](http://www.typescriptlang.org/play/#src=export%20interface%20SyncCmd%20%7B%0A%09name%3A%20string%3B%0A%

[2016-11-16 10:25] HerringtonDarkholme commented on #12290
You can already do that with manual overloading.

[code]

[2016-11-16 10:51] angelozerr commented on #12266
The editor consumes **SemanticDiagnosticsSync** and **SyntacticDiagnosticsSync** to validate the editor content and marks an error. When user hovers the marked error, I have the error code and I want to display UI popup with description of codefixe that we can apply without exectuting **getCodeFixes**. I could display in the UI popup only the error code, but I prefer displaying the description whi

[2016-11-16 10:52] zhengrenzhe opened #12296 "selection api miss the modify method ."
**TypeScript Version:**  2.0.10

**Code**

[code]

**Expected behavior:**
No errors when compile

**Actual behavior:**
Print error message: `Property 'modify' does not exist on type 'Selection'.`

The `modify` method is not in w3c document. but Chrome, Safari, Firefox all adds it in the `selection` object.

[2016-11-16 10:59] Delagen opened #12297 "writeReferencePath typo issue"
**TypeScript Version:**  2.0.10

**Expected behavior:**
No errors

**Actual behavior:**
[code]

Cause L37224 of lib/typescript.js file of npm package
[code]
L37236: `declarationFilePath` is missing and must be replaced with `declFileName` or something related

[2016-11-16 11:11] urbanhusky opened #12298 "Application configuration file breaks build: The "FindConfigFiles" task failed unexpectedly. System.IO.PathTooLongException"
**TypeScript Version:**  2.0.3

I've got a path to a JSON file, that is ~134 characters long (including the filename). Example:
`C:\work\xx-xxxxxxx-xxxxxxxxxx\src\xx-xxxxxxx-xxxxxxxxxx\src\xxxxxxxxxxxxxxxxx.Web\config\environment\environment-configuration.json`
Ever since I've added this file to my asp.net core application, I cannot build, clean or do anything.

**Expected behavior:**

Building et

[2016-11-16 11:26] cri5ti opened #12299 "__rest helper is included in only one file when using commonjs"
When using `commonjs` modules, the __rest helper is included in only one file, instead of all the files that uses the rest destructuring pattern.

**TypeScript Version:**  nightly (2.2.0-dev.20161116)

**Example:**
A [self contained](https://github.com/Microsoft/TypeScript/files/594452/bugtest.zip) example is attached:
 - build/mod1.js contains __rest and __extends helper
 - build/mod2.js contains

[2016-11-16 11:29] kitsonk commented on #9619
As we (@dojo) have converted more of our code over, we are finding when using things like `Map` and `Set` and other higher order constructs, the `!` escape hatch is getting a bit annoying (and might even become unsafe, as developer get desensitised if they have properly guarded for the value.

I wonder how difficult it would be to allow an expressing, like a custom type guard that would allow you

[2016-11-16 11:36] HolgerJeromin commented on #12295
OK, understood. Thanks.
It would be nice to have a pseudo type "all inherit types from SyncCmd".
But probably this must (and should?) be maintained by myself.

[2016-11-16 12:00] arusakov commented on #12267
@weswigham
Thank you for this generics example. Is this code just a hack or a bug or a normal code/behaviour, that I can use for now and future?

@ahejlsberg
Thank you and all team very much for literal types. But after widening/non-widening I need to write more code with more types in common cases. Example:
[code]
In this example `const y` and `let z` have absolutely the same behaviour. It's very

[2016-11-16 12:11] vknez commented on #12145
I have the same issue with TypeScript 2.1.1.

[2016-11-16 12:17] vknez commented on #12145
Apparently, there are other issues referencing the same, i.e. #12279, #12123, #12058.

[2016-11-16 12:58] wallverb commented on #12295
@kitsonk @HolgerJeromin it will not work in latest TS - command will not be narrowed to `SyncCmdFoo`

[code]

We would need to have ability to provide:
[code]

for it to work

Take a look here: https://github.com/Microsoft/TypeScript/issues/12182 and https://github.com/Microsoft/TypeScript/issues/7993

[2016-11-16 13:18] urbanhusky commented on #12298
It even happens now on other branches of my project - but a clean checkout solved the issue. Still, I wonder what caused this and why deleting \obj and \bin solved it.

[2016-11-16 13:25] whitecolor commented on #12290
@HerringtonDarkholme oh that is really really nice, thanks for the example!

[2016-11-16 13:31] mariusschulz commented on #12071
@RyanCavanaugh If I'm not mistaken, parsing a leading `|` or `&` boils down to the following change:

[code]

Where exactly would an accompanying test go?

[2016-11-16 14:45] scharf commented on #12284
This means, I have to add the type definitions temporarily to my project until they are officially published.

So, this makes it more complicated to switch between my temporary type definitions and the official ones. And there is a danger that the types added in that way may not behave the same way the official types behave.

[2016-11-16 15:00] jaumard commented on #9547
I have the same error but not causing by the `var-require`, I create a stackoverflow question for my case http://stackoverflow.com/questions/40634038/angular-2-dynamic-component-generation-ts-compilation-error

[2016-11-16 15:18] ahejlsberg commented on #12289
What's the reason for the `'get' & string` types vs. just `'get'`?

[2016-11-16 16:46] abgivant commented on #12278
I use a similar module pattern in an application I'm working on, and the lack of IntelliSense for those has been an issue for me as well.

Mine follow this basic pattern:
[code]

Would it be possible to do something like include an option in the jsconfig.json file to specify a property name or list of names to track when determining module exports?

Maybe something like this?
[code]

[2016-11-16 16:54] SaschaNaz opened #12302 "Type guard of Number.isNaN is wrong"
**TypeScript Version:** 2.1 RC bundled in VS2017 RC

**Code**

[code]

**Expected behavior:** No error

**Actual behavior:** TS2356 An arithmetic operand must be of type 'any', 'number' or an enum type.

[2016-11-16 17:20] reverie commented on #11106
I followed a chain of four closed tickets to get here. Glad to see the issue was addressed. Could someone please point to docs for this feature? How do I use it? For my sake, and for everyone else who may end up here. :)

[2016-11-16 17:27] mhegazy commented on #11106
This is part of `typescript@2.1.3` release, so for now you will need `npm install typescript@next`.

Now having an import like `import foo from "Foo"` the compiler will check if there is a package `Foo`, e.g. `node_modules\Foo\index.js` if one is available, even if it does not have a .d.ts file along with it, no error will be reported. the type of the imports will be `any`.

if you use `--noImplic

[2016-11-16 17:33] reverie commented on #11106
That helps a lot, thank you. It seems like for now (v2.0.10) we can also use `declare module "Foo";`?

[2016-11-16 17:41] mhegazy commented on #11106
yes. that is [Shorthand ambient module declarations](http://www.typescriptlang.org/docs/handbook/modules.html#shorthand-ambient-modules)

[2016-11-16 17:43] mhegazy commented on #12278
@abgivant, this pattern is actually an easier one to support, we already have plans to do so on the future. it is a general construction patter that is common in JS.
the `this` one is a bit more tricky though.

[2016-11-16 17:46] mhegazy commented on #12284
then symlinks are your best options here. use  `npm link` as @Kovensky suggested.

[2016-11-16 17:49] abgivant commented on #12278
@mhegazy Ah cool. Is that part of the "expando" discussion, or is there a more specific feature in the works for things like that?

[2016-11-16 17:50] sandersn commented on #12275
I'm still not able to repro, even with the tsconfig. @nagor can you give me a link on github to a complete project with this failure? (or zipped somewhere else I guess).

Here's what I did:

[code]

When I removed `noLib: true` from `tsconfig.json` and added `enum EnumType { val1 }` I no longer got any errors, but also no crash, and the emitted code looks fine. (I also changed `outDir: './bin'`)

[2016-11-16 18:08] mhegazy commented on #12286
this looks like the same issue as https://github.com/Microsoft/TypeScript/issues/6496.

The declaration files for `Jquery` and `knockout` are declared in the global scope. this means that there is only one of them that can exist at a time. this results to conflicts once two files exist on disk.

The correct fix is to update the declaration files to be authored as modules instead of global, since t

[2016-11-16 18:10] ToddThomson opened #12303 "EmitResult.emittedFiles list returned from ts.program.emit() contains relative and full path names of emitted files"
**TypeScript Version:**  2.0.9

**Expected behavior:**

EmitResult.emittedFiles should use sourceFile.path rather than sourceFile.fileName as the fileName can be relative or canonical.

File names resolved from references within root files are always canonical. Root file names are always relative.

Each string/name in the emitFiles list should always contain the absolute path of where the output w

[2016-11-16 18:11] mhegazy commented on #7426
`void` only makes sense in the return type position of a function to denote the "absence of a value". Before TS 2.0, ppl have used `void` to mean `undefined` for values, which is close, but not correct. So for your example,  `Voidable<T>` should be really `T | undefined`.

[2016-11-16 18:23] #12285 closed

[2016-11-16 18:45] ToddThomson commented on #12303
The compilerOption listEmittedFiles is "internal" as it most likely was meant for use with tsc ( ??? I don't know the history here ). However, this option controls whether the emitter generates the list of files output when calling program.emit(). I really don't care if listEmittedFiles is marked as internal, but having it be internal and having an effect on a non-internal property in EmitResult i

[2016-11-16 18:48] dsherret commented on #12265
What determines the order of the parameters?

[code]

[2016-11-16 18:54] aleksey-bykov commented on #12265
the order of declaration:
[code]

[2016-11-16 18:57] aleksey-bykov commented on #12265
in you case it should be a type error since the order cannot be determined

[2016-11-16 18:59] sandersn commented on #12299
I think @rbuckton's recent refactoring of the destructuring code fixed this because this no longer repros.

Helpers are handled by their respective transforms and the whole system holds together much better overall.

[2016-11-16 19:00] RyanCavanaugh commented on #12071
@mariusschulz you can drop a new file in `/tests/cases/compiler/`. See CONTRIBUTING.md for more details.

[2016-11-16 19:35] dbaeumer commented on #12249
I am not asking the tsserver to use the formatter. Couldn't the code that generates the edits know about the formatting settings and directly generate the right edits? I was always under the impression the TS AST has whitespace information. So when inserting the `super()` behind `constructor(){` it knows the indentation of that part of code and could generate an edit with `'\n\t\tsuper();`. This e

[2016-11-16 19:51] paulvanbrenk commented on #12249
Yeah, we talked about it some more... and for some quick fixes we will need to do that.

However we can't guarantee that future (external) quick fixes will do the right thing, so in general the safe assumption would be to format after applying the edits. This may in the future be a no-op.

[2016-11-16 19:57] julius-e commented on #12226
I'm having trouble reproducing it on its own as well.  The original code still produces the issue, but I cannot share that.  This can be closed for now.  If I can figure out how to repro, I will reopen.

[2016-11-16 19:57] #12226 closed

[2016-11-16 20:10] avonwyss commented on #3960
Unless I'm missing something, the type aliasing approach does only work outside of generic classes or functions, right?
E.g. when I want to do something like the following, I cannot get by with type aliases, can I?
[code]

The only solution I found for now is not to use JSX syntax and directly code whatever it would have generated, e.g.:
[code]

[2016-11-16 20:15] streamich opened #12306 "Proposal: Allow trailing commas in function argument list"
TypeScript allows trailing commas in object definitions:

[code]

Proposal: Allow trailing commas in function argument list:

[code]

Why? Trailing commas in object definitions are great for convenience when editing lists:

[code]

Same is with functions, consider usage of Virtual Hypertext functions:

[code]

[2016-11-16 20:20] RyanCavanaugh commented on #12306
#8942 ?

[2016-11-16 20:23] RyanCavanaugh commented on #12306
What am I missing here? If you try this on the Playground it already works. http://www.typescriptlang.org/play/#src=console.log(1%2C%202%2C%20)%3B%0D%0A

[2016-11-16 20:24] jbrimeyer opened #12307 "Copyright comments removed with alwaysStrict"
Copyright comments are stripped from the generated output when using both alwaysStrict and removeComments.

For example, invoking the compiler as:

`tsc --removeComments --alwaysStrict test.ts`

**TypeScript Version:**  2.1.1

**Code**

[code]

**Expected behavior:**

[code]

**Actual behavior:**

[code]

[2016-11-16 21:21] andy-ms opened #12308 "Suggestion: Tuple literal may only specify known properties"
**TypeScript Version:**  nightly (2.2.0-dev.20161116)

**Code**

[code]

**Expected behavior:**

Errors on both lines.

**Actual behavior:**

Only the first line has an error.

[2016-11-16 21:33] amcdnl commented on #338
Is there any open issues on this being merged downward to ES5? Moved from Babel to TS and had a lot of this going on, ended up doing something like:

[code]

[2016-11-16 21:39] #12299 closed

[2016-11-16 22:26] akarzazi commented on #12302
This code would raise an other error on `num++` since it was declared with `const`.

Javascript :
[code]
`VM173:2 Uncaught TypeError: Assignment to constant variable`

[2016-11-16 23:10] electricessence commented on #12307
Doesn't have to be ```alwaysStrict```.  All comments are removed now with ```'removeComments:true```.
Changed some time between 2.0.6 and 2.1.1
[Bug]

[2016-11-16 23:12] ethanresnick commented on #12289
@ahejlsberg This came up in #12253, where I was trying to update the type declarations for `Object.entries` and `Object.keys` to take advantage of the `keyof` operator. My first go at that had a line like this:

[code]

The problem was that `keyof T` is sometimes `string | number`, so code like this won't type check:

[code]

Note that the code above is just a simplified version of [some code from

[2016-11-16 23:17] aluanhaddad commented on #12290
@HerringtonDarkholme very slick

[2016-11-16 23:19] RyanCavanaugh opened #12311 "Incorrect constraint violation error using `keyof` with generic"
**TypeScript Version:**  master

**Code**
[code]

**Expected behavior:**
No error

**Actual behavior:**

[2016-11-16 23:26] sandersn commented on #12148
Fix is up at #12312

[2016-11-16 23:34] bjouhier opened #12313 "Incorrect error message when overloaded function is called with invalid parameter"
**TypeScript Version:**  2.0.3

**Code**

[code]

**Expected behavior:**
[code]
**Actual behavior:**
[code]

[2016-11-16 23:38] RyanCavanaugh commented on #12313
The implementation signature is not part of the type. If this function were in a declaration file you'd just see
[code]
It wouldn't be feasible to show a synthesized union type of all the possible first argument types -- some functions have dozens of overloads and that type would be huge (not to mention not even correct)

[2016-11-16 23:44] mhegazy opened #12314 "`for..in` variable does not have the type `keyof T`"
[code]

[2016-11-16 23:45] bjouhier commented on #12313
Would be nice to have an indication that the parameter has overloads. Something like:

[code]

[2016-11-16 23:47] mhegazy opened #12315 "Indexing constraints on mapped type should use the constraint type"
when indexing into a mapped type using a key that is constraint to the same constraint type, indexing should be allowed. consider:

[code]

[2016-11-16 23:51] #12148 closed

[2016-11-17 00:05] rbuckton commented on #12307
@jbrimeyer, @electricessence in which version of the compiler are you seeing this issue?

[2016-11-17 00:06] waderyan opened #12316 "JSDoc+Intellisense. Not supported @method in auto-completion"
_From @IgorNovozhilov on November 15, 2016 13:58_

- VSCode Version:

![image](https://cloud.githubusercontent.com/assets/3082812/20308211/e15b23ae-ab53-11e6-8af4-7b3af3ba9c1b.png)

- OS Version: win7 pro

Steps to Reproduce:

See: http://usejsdoc.org/tags-function.html
JSDoc tag `@method` not found in auto-completion:
![image](https://cloud.githubusercontent.com/assets/3082812/20308297/46a50e46-a

[2016-11-17 00:06] waderyan commented on #12316
@bowdenk7 would you call this a bug or a feature request?

[2016-11-17 00:06] ahejlsberg commented on #12289
Here's how you'd write `Object.keys`:

[code]

There's no need for a constraint on `T`. However, not that this approach for typing the of `keys` method is only correct when `T` represents the exact type of an object which often isn't the case. For example:

[code]

[2016-11-17 00:06] waderyan commented on #12316
@bowdenk7 would you call this a bug or a feature request?

[2016-11-17 00:19] RyanCavanaugh commented on #12302
Introduced via #11670. Seemed like a good idea at the time!

[2016-11-17 00:21] RyanCavanaugh commented on #11670
This turns out to be a bad idea because type guards need to return true for all of the values in the domain of their guarded type, not just some of them. In other words, with the proposed definition:
[code]

[2016-11-17 00:27] aluanhaddad commented on #11670
I see. That is definitely a problem. This really did seem like a good idea but I guess I didn't really think it through.

[2016-11-17 00:30] sandersn commented on #11839
Let's talk about this at the design meeting. @ahejlsberg and I think leaving it as-is (keeping the new behaviour everywhere) is worthwhile. It is a break, but only for remarkably un-Typescript-like code, and it is easy to work around the break.

Besides, 100% of the people we surveyed want this feature even with `--noImplicitAny` off. :)

[2016-11-17 00:46] jarrodchesney opened #12318 "New Website Logo: Synerty Pty Ltd"
Hi TypeScript
Synerty builds web based apps for control system for power utilities. The model of running user interface code in the browser, separate from data manipulation and systems interface code in the server is fantastic. We have a large javascript code base and we're going all in with TypeScript.

It's incredibly exciting, thanks to all the people who have made TypeScript what is is.

Pleas

[2016-11-17 00:56] jwbay commented on #12288
1. Why do the local variable and property on the function need to be the same name? That's the source of your problems with the namespace approach.
2. I wouldn't try to run a linter on the JavaScript output of the TypeScript compiler. It does some weird things. Use https://github.com/palantir/tslint/ on your TypeScript files instead.
3. I believe the only way to attach properties to functions and

[2016-11-17 00:57] RyanCavanaugh commented on #12296
Nonstandard APIs are intentionally not in lib.d.ts. You can augment the interface if you want:
[code]

[2016-11-17 00:59] GoToLoop commented on #10530
Then I can rest assured that we can still continue to use unmatched index names?
So we can still hack the type by adding new properties using the `[]` syntax, right?  :fearful:

[2016-11-17 01:01] #12287 closed

[2016-11-17 01:03] RyanCavanaugh commented on #12297
Can we see a complete call stack? Or some way to reproduce this?

[2016-11-17 01:44] Treri commented on #12288
Thanks very much for your patient and detailed answer help me to understand TypeScript more. 😄

[2016-11-17 01:45] #12288 closed

[2016-11-17 01:52] ethanresnick commented on #12289
The problem with that is it won't work for primitives (e.g. `keys("foo")`), so I was distinguishing them from objects with the `T extends { [key: string]: any }`. Is there a better way to do that? (Regardless, that's kinda tangential.)

Ahh. I hadn't thought about that, and it does seem like a big problem. Does that mean we should give up on using `keyof` for `Object.keys` and `Object.entries`? Or

[2016-11-17 01:52] jbrimeyer commented on #12307
@rbuckton 2.1.1 for me

[2016-11-17 02:16] mDibyo commented on #6613
Looks like this has been resolved with #12114.

[2016-11-17 02:17] mDibyo commented on #6218
FYI: Looks like this has been resolved with #12114.

[2016-11-17 02:17] mDibyo commented on #4889
FYI: Looks like this has been resolved with #12114.

[2016-11-17 03:00] zhengrenzhe commented on #12296
thanks.

[2016-11-17 03:00] #12296 closed

[2016-11-17 03:14] twoeo opened #12319 "Endless waiting for 2.1.1 compiling (unuseable)"
**TypeScript Version:**  2.1.1 / nightly (2.2.0-dev.201xxxxx)
2.1.1

**Code**

After update to TypeScript 2.1.1 ,
the compile time of my project is infinite long !! (endless)
(Only seconds in 2.0.10)

Tried to find out the reason, and found some single files did this too.

For instance the below one:

[code]

**Expected behavior:**
Compile success and quickly (within second using 2.0.10)

**Actual

[2016-11-17 04:02] inquiztr commented on #6945
@luskaner It worked for me when using "target" : "es6"    (on Typescript 2.0.6).

[2016-11-17 04:07] sfrooster commented on #6613
I'm still trying to digest this PR...

On Wed, Nov 16, 2016 at 6:17 PM, Dibyo Majumdar <notifications@github.com>
wrote:

[2016-11-17 04:35] JustASquid opened #12320 "tsc will attempt to compile source files in 'node_modules' when it shouldn't"
**TypeScript Version:**  2.0.8

It appears that tsc will attempt to compile source files in `node_modules` that are part of modules being imported, even when `node_modules` is excluded and type definition files are present. It is my understanding that this is not intended behaviour.

In researching this issue, I came across #6964 which looks like it should have fixed the exact bug I am still encou

[2016-11-17 04:44] deusdeorum0 opened #12321 "Spread operator is ignored when used inside object literal"
**TypeScript Version:**  2.1.1

**Code**
[code]

**Expected behavior:**
1.8.10 does this which is what I expect:
[code]

**Actual behavior:**
[code]

**Additional info:**
If I slightly modify the code:
[code]

Then I get what I expect:
[code]

[2016-11-17 04:46] mrThomasTeller commented on #3960
I use this approach:
[code]

And it solves the problem @avonwyss talked about:

[code]

[2016-11-17 05:45] vladima commented on #12319
offending commit: 864ee1cfc550d3887554461c1d1c4059e9927faa

[2016-11-17 07:10] vladima commented on #12319
slightly reduced repro:
[code]

[2016-11-17 07:24] avonwyss commented on #3960
@mrThomasTeller This approach is not a good solution IMHO since it needs an `any` cast. For instance, the constructor parameters are not declared...

[2016-11-17 07:39] doroudi opened #12322 "New Website Logo: ElcaResana"
- Name: ElcaResana
- Homepage url:http://elcaco.ir
- Brand Guidelines/Licensing: Do not use the ElcaResana logo in products, product packaging or other business services
- Logo: http://elcaco.ir/dist/assets/images/elca_logo.png

[2016-11-17 07:40] vladima commented on #12320
1. `exclude` option tells compiler not to include files or folders when compiler searches for initial set of files to compile however it does not affect results of module resolution - i.e. `@types/jquery`  will be included in the program if some file imports `jquery` even if `node_modules` is excluded in config file.
2. as I see `aws-sdk` package also bundles typing files so compiler will prefer t

[2016-11-17 07:46] Delagen commented on #12297
[code]

The main cause error that declarationFilePath is undefined and `normalizeSlashes` call replace as method of undefined

[2016-11-17 07:55] electricessence opened #12323 "Duplicate identifier 'Promise' (TS2529) too restrictive."
Error:(8, 9) TS2529:Duplicate identifier 'Promise'. Compiler reserves name 'Promise' in top level scope of a module containing async functions.

**TypeScript Version:**  2.1.1 (targeting ES5)
**Code**

[code]
What I'm confused about is when I look at the ```__awaiter``` code it expects ```Promise``` (P) to be available.
In a modular environment, how else am I supposed to inject my own Promise lib

[2016-11-17 08:16] 10098 opened #12324 "Read-only doesn't seem to work for Float32Array"
**TypeScript Version:**  2.1.1 / nightly (2.2.0-dev.201xxxxx)

**Code**

[code]

**Expected behavior:**
In my opinion, this code should fail to  compile.
Or, seeing as we have a "ReadonlyArray" interface, there should be something similar for creating read-only Float32Array, Uint8Array, etc.

**Actual behavior:**
The code compiles successfully.

[2016-11-17 08:35] DickvdBrink commented on #12324
`readonly` applies to `x` so you can't assign to x but it doesn't make content of the `Float32Array` readonly

[2016-11-17 08:39] 10098 commented on #12324
That seems like counter-intuitive behavior to me. Shouldn't the point of readonly be to prevent any changes to the field?

[2016-11-17 08:50] electricessence commented on #12323
For my current case, I'm able to get this working by:
[code]

[2016-11-17 09:02] gcnew commented on #12261
Does a (maybe) slight performance improvement justify the added maintenance cost of diverging code paths? For me the answer is "no", especially considering this code can be swapped by custom helpers and is basically a temporary down-level solution.

[2016-11-17 09:03] electricessence opened #12325 "__extends, __awaiter, __generator, ... Is there any way we can have these distributed as their own modules?"
I'm already doing this, but obviously, if the code changes, then I have to completely redo each module.
Not suggesting the right way to do this, but it would be nice if it was a simple npm update.

It would also be nice if these modules were created in TypeScript from the beginning or at least exposed as such.  I'd be happy if there was even a repo I could grab their TS from.

[2016-11-17 09:26] MeirionHughes commented on #11728
@RyanCavanaugh would you allow me to PR a quick change to expose `isTypeAssignableTo` in TypeChecker, at least, or are you looking to make breaking changes before exposing this?

[2016-11-17 10:11] weswigham commented on #11728
@RyanCavanaugh Also note, This specific issue is encompassed in #9879, which still has #9943 open.

[2016-11-17 10:12] yortus commented on #12323
For background on why this was done, see #6068 and #6631. I personally agree it's too restrictive but those links explain the justification for the current behaviour.

[2016-11-17 10:14] whitecolor commented on #1213
Ok, I see the labels,  just have doubts that if non-TS team is capable of accomplishing it.

[2016-11-17 10:53] jurosh commented on #10248
Hi guys, I've tried ``"mapRoot": "./src/"`` instead of `baseUrl` and it helped. (VSC 1.7.1)

[code]
And now in javascript file I can use absolute paths like:
`import {isLoading} from 'reducers/competitions';`

Note that `reducers/competitions` are located in `./src/reducers/competitions`.

[2016-11-17 11:05] ccancellieri commented on #12284
I'm currently using:
in tsconfig.json:
[code]

in that file I'm specifying the list of:

`/// <reference path="....d.ts" />`

The mechanism you are proposing is intended to to replace the above solution?

[2016-11-17 11:40] Argon2000 commented on #8518
Wow, had a big headache today when updating to TypeScript 2.0.6.. All errors returned that was fixed with the custom typescriptServices.js file (e.g. "Cannot find module 'angular2/core'", "set 'experimentalDecorators' to true", "'example' is not a valid property for window" etc. etc.).

This is what my tsconfig.json file looked like:

[code]

I tried everything, uninstalled all previous versions o

[2016-11-17 12:18] alitaheri commented on #12325
Are you referring to https://github.com/Microsoft/tslib ?

[2016-11-17 12:51] sanex3339 commented on #12325
Main problem in tslib is what if i care about code size, i can't import only `extends` helper without adding code of all other helpers into the output bundle (webpack).

[2016-11-17 13:15] Knagis commented on #12236
I have the same issue when using typescript language service from node. Typescript version 2.1.1

The first space after a newline is always removed in the comment that is returned by `signature.getDocumentationComment()`.

[2016-11-17 13:25] QuantumInformation commented on #4890
Hi, I gave a talk on TypeScript at the latest ember London meetup, how close are we to having a nice workflow with ts+ember so I can report back?

[2016-11-17 13:28] scharf commented on #12284
This is significantly more difficult to integrate into a team workflow than the typings solution where I could point to a file in a remote repository.

[2016-11-17 15:12] JustASquid commented on #12320
@vladima OK, right - so is there a way to make tsc prefer the @types declaration instead of the included declarations? Or am I simply unable to use this package until it gets fixed by the package developers?

If I'm understanding this right, it feels like a major problem for package compatibility. If I have my tsc set up to have a stricter/different configuration than the developer of a package, o

[2016-11-17 15:22] zivni commented on #7611
This does not work as accepted. I don't know if this problem is with Typescript or with VSCode.

Just open a new test.ts file with this content in vscode:
[code]

press F2 to rename the "aaa" of the A type. the "aaa" of the B type is also renamed.
It goes even further, rename the "article" of the A type. You'll  notice that it changed the typing in lib.es6.d.ts to` getElementsByTagName(tagname: "r

[2016-11-17 15:37] andy-ms commented on #12131
I've simplified this to:

[code]

The error is in `getOuterTypeParametersOfClassOrInterface`: the symbol is an alias and has no `valueDeclaration`, so `declaration` is undefined, causing a crash inside `appendOuterTypeParameters`.
If the type of `x` is not a union, there's no such error. Not sure why that has any effect.

[2016-11-17 15:42] HerringtonDarkholme opened #12326 "Debug Failure when emitting declaration for unresolved type constraints"
**TypeScript Version:**  nightly, --declaration

**Code**

[code]

**Expected behavior:**
Report `Cannot find name 'Unknown'`

**Actual behavior:**

Debug Failure. `This is unknown parent for type parameter`.

N.B. the actual bug is much more subtle. I encounter this when a type alias is bound by a type imported from a library. The actual bug is a compiler crash.

[2016-11-17 15:48] HerringtonDarkholme commented on #12326
The actual reproduction is here. https://github.com/HerringtonDarkholme/av-ts/tree/ts-crash.
git clone and npm install and npm run compile should reproduce.
The last commit introduces compiler crashes.

Error is `Cannot read property 'flags' of undefined` at `getTargetSymbol`.

[2016-11-17 15:53] HerringtonDarkholme commented on #12326
Together with https://github.com/Microsoft/TypeScript/issues/12291, all bugs are related to declaration emitting. Maybe we can just skip declaration emitting if there is error in compiling?

[2016-11-17 16:06] waderyan opened #12327 "Format selection inconsistencies"
_From @cmj91uk on November 14, 2016 12:24_

- VSCode Version: 1.7.1 (2016-11-03T13:53:14.822Z)
- OS Version: Windows 10 - Version 1607

Steps to Reproduce:

1.  Within a javascript file create three lines that have incorrect indentation.
 - The first should be a code line
 - The second should be a comment line
 - The third should be another code line.
2. Highlight the top two lines and press Ctrl

[2016-11-17 16:06] waderyan commented on #12327
This looks like a duplicate of https://github.com/Microsoft/TypeScript/issues/11500

@mhegazy can you confirm?

[2016-11-17 16:06] waderyan commented on #12327
_From @mhegazy on November 17, 2016 7:23_

The commment is indented with the line that follows it. So this sounds right to me.

[2016-11-17 16:06] waderyan commented on #12327
Hmm.. I agree with OP that the behavior seems strange. I did a quick check to see what other editors do.

Atom (using Beautifier plugin) - Will indent the comment to the line above (in OP's scenario 1)
WebStorm - Will indent the comment to the line above (in OP's scenario 1)
Sublime Text (using JS Format plugin) - Will indent the comment to the line above (in OP's scenario 1)

Do we have a reason

[2016-11-17 16:06] waderyan commented on #12327
Moving to TS repo to continue discussion.

[2016-11-17 16:16] aleksey-bykov commented on #449
here is a use case:

i wish i could make code broken for one single developer in my team, so that it doesn't crash the build but whoever is mentioned there won't be able  to compile it unless the issue is addressed

[code]

[2016-11-17 16:29] cmj91uk commented on #12327
One of the places where I did attempt to use it and found it slightly irritating is the scenario below.
Highlighting lines 3 and 4 (console.log and the comment) and formatting the selection results in the slightly more annoying behaviour.

    d3.tsv("/test.tsv", (err, data) => {
        data.forEach(function (element) {
        console.log("test");
        //this is a comment
            console.

[2016-11-17 17:00] wallverb opened #12328 "Extending String issue"
If this is duplicate of https://github.com/Microsoft/TypeScript/issues/12123 then please close it

[code]

Works in:
* Chrome
* Firefox
* Node: 6.7.0
* Babel: https://goo.gl/eo6QyN

TS compiled code causes runtime error:
`VM2008:11 Uncaught TypeError: Cannot create property 'label' on string '[object Object]'(…)`

[2016-11-17 17:13] ahejlsberg commented on #12319
Yes, this particular example really takes the control flow analyzer for a spin. The quick fix is to add type annotations (or initial values) to these variables:

[code]

Previously those would just be given type `any`, now we use control flow analysis to determine their actual types.

As to actually fixing the issue, we could consider some form of optimization to realize that the `FF`, `GG`, `HH`,

[2016-11-17 17:14] electricessence commented on #12325
@alitaheri Yes and no.  I didn't know about those.  So that helps immensely.
But I would almost prefer the TypeScript source/version of these (not that it's necessary).

@sanex3339 Yes! That is part of my frustration.  But I think at least having a valid source to pull from.

[2016-11-17 17:25] sanex3339 commented on #12325
Some helpers you can found in my repo
https://github.com/sanex3339/typescript-extends
https://github.com/sanex3339/typescript-param
https://github.com/sanex3339/typescript-metadata
https://github.com/sanex3339/typescript-decorate
https://github.com/sanex3339/typescript-awaiter
https://github.com/sanex3339/typescript-generator

[2016-11-17 17:30] electricessence commented on #12323
@yortus  Ok that makes sense.  And apparently this may change once generators are supported in es5?
But what I'm really confused about for es5, is (because I've been living in module land for so long) how to I specify Promise as a global so it can be consumed by the default __awaiter function?

Ok, why not simply DI it like what I pasted above?  I know what I have here isn't perfect, but it's work

[2016-11-17 17:40] electricessence commented on #12325
Ok so this just got even more interesting.
Is there a way to target ES5 vs ES6 at runtime?  Or even better, a compiler directive?

[2016-11-17 17:41] electricessence commented on #12325
Because now, all my code imports ```__extends``` but doesn't need it for my es6 distribution.

[2016-11-17 17:45] electricessence commented on #12307
Yes. 2.1.1

[2016-11-17 17:50] mhegazy commented on #12320
The core of the issue here is that the aws-sdk package has an inviald declaration file. i owuld log a bug on thier repo first.

To override the typings I would use path mapping :
[code]

More info can be found about the original question at https://github.com/Microsoft/TypeScript/wiki/FAQ#why-is-a-file-in-the-exclude-list-still-picked-up-by-the-compiler

[2016-11-17 17:53] electricessence commented on #12184
I believe. :|

[2016-11-17 17:54] #12269 closed

[2016-11-17 17:59] andy-ms opened #12329 "Difference between untyped module and ambient shorthand module used as superclass"
**TypeScript Version:**   nightly (2.2.0-dev.20161117)

**Code**

[code]

**Expected behavior:**

No errors? All errors?

**Actual behavior:**

Classes `B` and `C` fail with `error TS2507: Type 'any' is not a constructor function type.`

[2016-11-17 18:14] jasonswearingen opened #12330 "VS 2017 RC solution analysis does not respect tsconfig.json "types" property (shows errors)"
**TypeScript Version:**  VS 2017 RC, Community Edition

**Code**
open a project that uses the tsconfig.json "types" property, such as
[code]
and vs 2017 RC shows errors such as
[code]

**Expected behavior:**
```tsc``` compiles the project fine.  also opening the project in VS2015 with NodeJs tools works fine.

**Actual behavior:**
vs 2017 RC shows intellisense errors in the error list.   building

[2016-11-17 18:43] jasonswearingen commented on #12330
**UPDATE**

removing the following line from ```tsconfig.json``` removes the error from solution analysis
[code]

however that enables global inclusion of all ```@types``` which caused problems with nested projects before.  I will investigate and see if the new version resolves these other issues.

[2016-11-17 18:44] #12306 closed

[2016-11-17 18:49] rbuckton commented on #12307
Would either of you be willing to try using typescript@next to see whether this issue is persisting for you? It seems like a recent change may have already addressed this issue.

[2016-11-17 18:51] jamescoletti commented on #10248
Yep `mapRoot` did it. Thanks @jurosh.

[2016-11-17 19:02] RyanCavanaugh commented on #12324
`readonly` applies to the reference, not the referent, i.e. http://stackoverflow.com/questions/890535/what-is-the-difference-between-char-const-and-const-char

[2016-11-17 19:02] #12324 closed

[2016-11-17 19:06] RyanCavanaugh commented on #4889
Indeed

[2016-11-17 19:06] #4889 closed

[2016-11-17 19:14] aleksey-bykov commented on #12215
@ahejlsberg checkout my proposal at #4183

[2016-11-17 19:16] aleksey-bykov commented on #4183
just added a draft of proposal, please check it out

[2016-11-17 19:17] #12302 closed

[2016-11-17 19:19] olmobrutall commented on #6943
Great work! Adding imports will be really awesome.

BTW: Any plans to allow library-specific quick issues?

[2016-11-17 19:23] paulvanbrenk commented on #6943
@olmobrutall Not sure what you mean by that.
The current API allows you to register a quickfix to an error... and we'll show combine all available fixes in the UI for that error. There is no planned work to limit fixes based on imports/libraries that are used in the project.

[2016-11-17 19:26] electricessence commented on #12325
@alitaheri I wish there was a TypeScript source for these. :(

[2016-11-17 19:27] 10098 commented on #12324
Is it possible to at least update the documentation to better reflect that? It wasn't obvious to me from reading either "TypeScript Deep Dive" (https://basarat.gitbooks.io/typescript/content/docs/types/readonly.html), or the official docs (https://www.typescriptlang.org/docs/handbook/interfaces.html).

In particular, "TypeScript Deep Dive" has this to say:

which is completely misleading: you stil

[2016-11-17 19:31] olmobrutall commented on #6943
I mean an equivalent to C# Code Analyzers. Something like distribuiting codefixes together with .d.ts files.

The compiler will need to somehow load the codefix code at compile time.

Of course it requires TS compiler to do some `eval()` at some point, on code that may need to explore TS internal (inmutable?) data structures.

[2016-11-17 19:35] paulvanbrenk commented on #6943
Ah, thanks.

[2016-11-17 19:54] benjaminRomano commented on #12257
Answered on stackoverflow here:
http://stackoverflow.com/questions/40600443/enum-type-enum-has-members-with-initializers-that-are-not-literals

[2016-11-17 19:54] #12257 closed

[2016-11-17 19:55] RyanCavanaugh commented on #12257
See also http://stackoverflow.com/questions/28818849/how-do-the-different-enum-variants-work-in-typescript/

[2016-11-17 20:04] jbrimeyer commented on #12307
It does appear to be fixed in 2.2.0-dev.20161117

[2016-11-17 20:43] cjbarth commented on #4889
How do mapped types fill the need of the various `partial` examples shown above?

[2016-11-17 20:44] isiahmeadows commented on #3960
BTW, if you really want this feature, you might want to look at my suggestion in #6395, and if you're familiar with the internals (or willing to put the effort into it), it can be done. (The main issue is supposedly architectural, from what they said over there.)

[2016-11-17 20:51] isiahmeadows commented on #4889
@cjbarth [See here](https://github.com/Microsoft/TypeScript/pull/12276) for some examples. It's pretty much a giant sledgehammer solving several constraint problems at once.

[code]

[2016-11-17 20:58] mjbvz opened #12331 "Not Receiving ProjectName Fields on projectLanguageServiceState Events"
**TypeScript Version:** typescript@2.2.0-dev.20161116

**Expected behavior:**
`projectLanguageServiceState` events include a `projectName` field.

**Actual behavior:**
I do not see this field being sent, only `languageServiceEnabled`.

I'm trying to integrate these events with VSCode, and we need to map the`projectLanguageServiceState` events back to a `jsconfig.json` or `tsconfig.json` file.

Cop

[2016-11-17 21:37] prabirshrestha commented on #11423
I would be very interested in having Typescript officially support the language server protocol.

I have created an LSP client in pure vim script which works asynchronously in both vim and neovim. https://github.com/prabirshrestha/vim-lsp
It is currently being used by https://github.com/tjdevries/nvim-langserver-shim

[2016-11-17 21:44] JustASquid commented on #12320
@mhegazy Thank you!

[2016-11-17 22:10] electricessence commented on #12325
@sanex3339
This is what I had to do to get rid of them in ES6:
https://github.com/electricessence/gulp-typescript-helper/blob/master/source/BuildHelper.ts#L36-L42

[2016-11-17 22:13] mhegazy commented on #12325
Ar you using [`--importHelpers`](https://github.com/Microsoft/TypeScript/wiki/What%27s-new-in-TypeScript#support-for-external-helpers-library-tslib)?

[2016-11-17 22:16] jasonswearingen commented on #12330
removing ```typeRoots``` is an effective workaround.

[2016-11-17 23:12] #12331 closed

[2016-11-17 23:13] mhegazy commented on #12330
well.. typeRoots were empty so not types were inferred. so the behavior you are seeing is correct. please see www.typescriptlang.org/docs/handbook/tsconfig-json.html#types-typeroots-and-types for more details.

[2016-11-17 23:16] hediet opened #12334 "Cannot import d.ts files that are located in node_modules through tsconfig.json"
**TypeScript Version:** Version 2.0.3

**Code**
[ts-bug.zip](https://github.com/Microsoft/TypeScript/files/598691/ts-bug.zip)

This is the tsconfig.json file:
[code]
This the index.ts file:
[code]

This the `monaco.d.ts` file, both in `node_modules/monaco-editor` and `node_modules2/monaco-editor`:
[code]

**Expected behavior:**
Running tsc should not report any errors.

**Actual behavior:**
Tsc sa

[2016-11-17 23:43] jasonswearingen commented on #12330
i explicitly had the ```types``` property set, and it works using the ```tsc``` commandline compiler.

only vs 2017 built-in solution analysis chokes.    but if you are fine with functional discrepancies, okay i guess.

[2016-11-17 23:46] mhegazy commented on #12334
The issue here is the implicit `exclude` list that the compiler adds if one is not defined. the list by default is `["node_modules", "bower_components", "jspm_packages", <outDir>]`. so even after it included your file `"node_modules2/monaco-editor/monaco.d.ts"` it excluded it because it was under `node_modules`.

The workaround is to add an empty `exclude` list.

We will need to change the behavio

[2016-11-17 23:50] electricessence commented on #12325
@mhegazy wow. Ok.  I think I understand.  Lemme see if that works...

[2016-11-18 00:14] mhegazy commented on #12330
We should look why there is a difference in behavior there. but this configuration does not look right. you are saying include `"node"` and `"mocha"` from "no where".

[2016-11-18 00:28] electricessence commented on #12325
@mhegazy.  I had trouble getting this work.  Do I need to turn off noEmitHelpers?

[2016-11-18 00:34] jasonswearingen commented on #12330
from what I understand,  by default the compiler will include all ```d.ts``` files it can find.  adding the ```typeRoots``` restricts this to a certain path, and adding ```types``` forces that only certain definitions will be included by default.

all definitions explicitly loaded in code are loaded normally regardless.

so my project has type definitions for ```node``` and ```mocha``` but they ar

[2016-11-18 00:35] mhegazy commented on #12325
no, though it probably should be flagged as a invalid flag combination.

here is a sample;

[code]

[2016-11-18 00:39] mhegazy commented on #12325
`typescript@2.2.0-dev.20161116` has that broken. so you would want to try with `typescript@typescript@2.2.0-dev.20161117`

[2016-11-18 00:42] mhegazy commented on #12330
this is not accurate. all declaration files under `typeRoots` is what is included if `types` is not specified. if `types` is specified, only these are loaded.

[2016-11-18 00:43] mhegazy commented on #4889
Please note that `Partial<T>` is now part of the default library file.

[2016-11-18 00:54] Izhaki opened #12338 "Mis-casing import path yields the oddest of bugs."
**Platform**: Mac OS X 10.10.5

----

I consider myself lucky to have worked out what the problem was after mere 2 hours; I could have easily spent days on this.

I got the following class hierarchy (each class in a different file):

    class Viewee { ... }
    class Visible extends Viewee { ... }
    class Shape extends Visible { ... }
    class Rectangle extends Shape { ... }

Then in a differe

[2016-11-18 01:00] mhegazy commented on #12249
Had a chat today with @dbaeumer and @mattbierner, we need to fix this for super quick fixes to avoid the code flickering much for users. VSCode will still call format after applying the quickfix though.

[2016-11-18 01:02] mhegazy commented on #12329
they should all be errors. we really do not know how to handle a class extending from `any`.

[2016-11-18 01:03] Wolvereness opened #12339 "Union types ignore actual access level"
**TypeScript Version:**  2.1.1

**Code**

[code]

[Playground](https://www.typescriptlang.org/play/index.html#src=class%20A%20%7B%20protected%20f%20%3D%20()%20%3D%3E%20%7B%7D%3B%20%7D%0D%0Aclass%20C%20extends%20A%20%7B%20f%3B%20%7D%0D%0Aclass%20B%20extends%20A%20%7B%0D%0A%20%20%20%20operate()%20%7B%0D%0A%20%20%20%20%20%20%20%20let%20v1%3A%20C%20%3D%20new%20C()%3B%0D%0A%20%20%20%20%20%20%20%20v1.f(

[2016-11-18 01:04] yortus commented on #12323
There are two ways:

#### 1. Polyfill `Promise`
1. use a Promise polyfill so `Promise` is globally defined at runtime (e.g. [es6-promise](https://github.com/stefanpenner/es6-promise) or similar)
2. Ensure the TypeScript project includes ambient `Promise` typings, (e.g. use option `"lib": ["es2015.promise"]`)

#### 2. Annotate all your async functions
e.g.,
[code]

The type annotation `BluebirdProm

[2016-11-18 01:05] mhegazy commented on #12284
you can still use typings if you want. you could use symlinks, you could include the file in your combination, or you could use path mapping. up to you.

[2016-11-18 01:11] mhegazy commented on #7611
there is really no difference between `"aaa"` in `type A` and in `type B`. they are really the same type. the lib.d.ts change should be disabled, this is tracked by https://github.com/Microsoft/TypeScript/issues/7458

[2016-11-18 01:14] electricessence commented on #12323
Ok, now I'm more interested how I can simply keep using my own helpers and not require a global reference.

I've got this working the way I want at the moment, but now I'm getting:
[code]

[2016-11-18 01:18] yortus commented on #12323
Did you try `"lib": ["es2015.promise"]` in your tsconfig?

[2016-11-18 01:21] blakeembrey commented on #12338
This is really just a node.js bug, and it's how it's designed. I typically recommend using only lower-case because I've been on a few projects where people don't realise this. When node.js evaluates two files (you have a case-insensitive filesystem but node modules are case-sensitive) the instances actually are different. There is a flag to catch it in https://www.typescriptlang.org/docs/handbook/

[2016-11-18 01:23] mhegazy commented on #12339
Duplicate of https://github.com/Microsoft/TypeScript/issues/9974

[2016-11-18 01:23] #12339 closed

[2016-11-18 01:26] mhegazy commented on #9974
`private` and `protected` properties are tied to their containing class. Whether they exist on the type or not depends on the lexical scope where they are accessed/used. Copying these properties or exposing them on new types (union types) would break these assumptions.

We would accept PR to enhance the error message.

[2016-11-18 01:30] mhegazy commented on #8518
`include` was not supported for TS 1.8, looks like you added it before, and was never used.

[2016-11-18 01:31] #12188 closed

[2016-11-18 02:00] streamich commented on #12306
I get this in v1.8

    TS1009:Trailing comma not allowed.

[2016-11-18 02:12] electricessence commented on #12325
@mhegazy I'm using tsconfig.json. Will that affect it?

[2016-11-18 02:14] electricessence commented on #12323
I could do that but I'm not using es2015.promise.  Does it end up just being a hack so I can ignore?

[2016-11-18 05:04] HerringtonDarkholme opened #12340 "Cannot access indexed type of constrained type parameter"
Related: https://github.com/Microsoft/TypeScript/issues/12311

**TypeScript Version:**  nightly
**Code**

[code]

**Expected behavior:**
Should compile since `Boxed` has index signature. T with constraint `Boxed` should also be indexable, with `T[K]` constrained by `Boxed`'s value type, in this case, `{value: any}`

**Actual behavior:**

Error, `Property 'value' does not exist on type 'T[K]'`

[2016-11-18 05:05] yortus commented on #12323
Are you polyfilling `Promise` at runtime so it's globally available as `Promise`? If so, the `lib` option will just tell the compiler that a global `Promise` exists and prevent the TS2318 error, and it should both compile and run fine.

If you are *not* using a global polyfill but importing some promise implementation locally, then I think you must either:
* a) use the annotation approach to avoid

[2016-11-18 05:41] mpseidel commented on #4889
You guys are all wizards to me. Hats off!

[2016-11-18 06:51] HerringtonDarkholme opened #12342 "Feature request: represent Function via generic type parameterized by its return/parameter/this type"
Background:
-----------------

With https://github.com/Microsoft/TypeScript/pull/11929, we can get property type of an object. But we cannot get the  return/parameter/this types of a function at compile time.

For single function argument, getting return/parameter type is relative simple by adding generic parameter. But when API is designed to accept **a map of functions**, it become hard to expre

[2016-11-18 06:55] vsiao opened #12343 "Declaration emit for function parameter type references incorrect type alias"
**TypeScript Version:**  2.0.10 (broken since 2.0.2).

**Code**

[code]

**Expected behavior:**
`tsc --declaration bar.ts` should emit the following `bar.d.ts`:

[code]

NB: 2.0.0 emits `<T>(bar: number | T) => boolean`, which is acceptable too.

**Actual behavior:**
[code]

[2016-11-18 06:57] Argon2000 commented on #8518
Ah, that would explain it. Thanks!

[2016-11-18 07:07] vsiao commented on #12343
ah, sorry—looks like this was fixed for 2.1: https://github.com/Microsoft/TypeScript/pull/11931

[2016-11-18 07:07] #12343 closed

[2016-11-18 07:23] DanielRosenwasser commented on #12275
Sorry to bug you @nagor, but have you been able to get a minimal repro for this bug?

[2016-11-18 07:30] HeroicAutodidact opened #12344 "Empty template in string transpiles to JS with syntax errors."
**TypeScript Version**:  2.0.8

**Code**

[code]

**Expected behavior:**
I would expect running `tsc <filename>` to either transpile an empty template into an empty string or to throw an error.

**Actual behavior:**
[code]

Which, of course, throws `SyntaxError: Unexpected token ) ` when executed. A confusing error when one is working with automated transpilation and source maps.

[2016-11-18 07:44] zivni commented on #7611
I will have to disagree.
It like saying that 2 properties with the same name in two different interfaces are the same.

Lets take a more concrete example: As typescript doesn't yet have a nameof operator, a common practice, when you need to pass a member name to a function, is to list members using a string literal types. E.g.:
[code]
No lets say we decide to rename the members to more meaningful

[2016-11-18 07:47] vsiao commented on #12343
Looks good in nightly, but still broken in 2.1.1 (RC). @mhegazy can you confirm which release the fix will be in?

[2016-11-18 08:43] twoeo opened #12345 "Flow Analyze don't recognize combined Intersection and Union Type"
**TypeScript Version:**  2.1.1 / nightly (2.2.0-dev.201xxxxx)
Both 2.0.10 and 2.1.1

**Code**

[code]

**Expected behavior:**
Compile successfully.
series.lineColor should be recognized, because `series.type == 'line'`

**Actual behavior:**

[2016-11-18 09:15] 108adams commented on #11051
@webia1 This is exactly my case. I'm migrating a HUGE app from Backbone, even worse, keeping global scope and Backbone still in place for a big(ger..) part of the app still in place. Migrating part, checking if it works and then tightening type system and language - correctness is exactly my path I need to follow, as I have no spare year to refactor/rewrite the parts of legacy code (at the moment

[2016-11-18 09:54] Izhaki commented on #12338
Thanks @blakeembrey, this has been very helpful. What I still don't understand is why `Visible` was assigned the whole module?

Seeing `{ [Function: Visible] }` in the console is slightly misleading since if you are not super attentive/knowledgeable about log formats, you may conclude all is right.

[2016-11-18 09:54] #12338 closed

[2016-11-18 10:08] HerringtonDarkholme commented on #12345
This works as intended.
You should not use the intersection syntax, or BaseCharSeries should not have `type` field.
The intersection `type` has `string` type that invalidates flow analyze.

You can use interface extends instead.

[2016-11-18 10:25] towertop commented on #11329
@mhegazy

So what the "paths" options is designed for? That confuses me.

[2016-11-18 11:22] arvitaly opened #12347 "Bug with compile destructuring fields"
**TypeScript Version:**  2.0.10

**Code**

[code]

[2016-11-18 12:22] Igmat commented on #6579
## Design Proposal
There are a lot of cases when developers need more specified value then just a string, but can't enumerate them as union of simple string literals e.g. css colors, emails, phone numbers, ZipCode, [swagger extensions](http://swagger.io/specification/#vendorExtensions) etc. Even [json schema specification](http://json-schema.org/) which commonly used for describing schema of JSON

[2016-11-18 13:12] yortus commented on #12342
See also #6606

[2016-11-18 14:01] rolfen commented on #9858
"tsc should not care and fail with ts files outside of rootDir" I agree.
I **cannot understand** why typescript would be looking at JS files outside the rootDir, since that's where all the source should be.
Error message says "'rootDir' is expected to contain all source files", then just compile the contents of this directory and ignore other directories! Why does it look at files outside rootDir

[2016-11-18 14:10] andy-ms opened #12348 "Cannot declare ambient module in referenced file with import"
**TypeScript Version:**  nightly (2.2.0-dev.20161118)

**Code**

[code]

**Expected behavior:**

No error

**Actual behavior:**

`error TS2307: Cannot find module 'foo/bar'.`

[2016-11-18 14:21] wallverb commented on #1564
Looks like there is a chance: https://github.com/Microsoft/TypeScript/pull/12346

[2016-11-18 14:40] HerringtonDarkholme opened #12349 "[feature request] consistent index access type for this type"
Sorry it's me again....
it seems this type is resolved too eagerly in parent class.

**TypeScript Version:**  nightly

**Code**

[code]

**Expected behavior:**

Code should compile. both `propCopy` and `propCopy2` have the same type.

**Actual behavior:**

Error on `b.propCopy.field`, `b.propCopy` is typed as `{}`

[2016-11-18 14:51] kitsonk commented on #12345
Just to note that removal of the `type` from `BaseChartSeries` still does not narrow.

[2016-11-18 15:19] HerringtonDarkholme commented on #12345
@kitsonk It works in nightly due to https://github.com/Microsoft/TypeScript/pull/11717

[2016-11-18 16:07] fictitious opened #12353 "Possible 2.1 regression: Type 'void[]' is not assignable to type 'void'."
**TypeScript Version:**  2.1.1  (npm i typescript@2.1)

**Code**

[code]

**Expected behavior:** I believe this should compile without errors, as it does in 2.0

**Actual behavior:**

tsc --lib es6 p.ts
p.ts(6,12): error TS2345: Argument of type 'Promise<void[]>' is not assignable to parameter of type 'Promise<void>'.
  Type 'void[]' is not assignable to type 'void'.

[2016-11-18 16:29] wallverb commented on #12353
Isn't it more like 2.1 improvement ?

[code]

[code]

[2016-11-18 16:54] fictitious commented on #12353
No it's not. Anything is assignable to void because most of the time, it OK to discard the value.

[2016-11-18 17:05] justinfagnani commented on #4890
Are there any issues open for the `extends` type operator?

[2016-11-18 17:18] ahejlsberg commented on #12315
This is fixed by #12351. However, in `--strictNullChecks` mode the example above still errors because `T[K] | undefined` is not assignable to `T[K]`, but that's to be expected.

[2016-11-18 17:25] ahejlsberg commented on #12314
I have my doubts about this one. In `for (var k in x)` where `x` is of some type `T`, it is only safe to say that `k` is of type `keyof T` when the *exact* type of `x` is `T`. If the actual type of `x` is a subtype of `T`, as is permitted by our assignment compatibility rules, you will see values in `k` that are not of type `keyof T`.

The same argument holds for the built-in `Object.keys()` metho

[2016-11-18 17:25] jods4 opened #12354 "2.1 Regression: (A | undefined) & B is possibly undefined"
**TypeScript Version:**  2.1.? / as shipped with VS 2017 RC

**Code**
[code]
**Expected behavior:** `x.id` was fine in TS 2.0, and should be as it is guaranteed to be `x === y`.

**Actual behavior:** `x.id` triggers _`x` is possibly undefined._

[2016-11-18 17:31] jods4 opened #12355 "2.1 Regression: Definite assignment with try..finally"
**TypeScript Version:**  2.1.? / the one that comes with VS 2017 RC

**Code**
[code]

**Expected behavior:** was compiling (and working) fine in TS 2.0

**Actual behavior:** Error: `response` is used before being assigned.

[2016-11-18 17:37] ktersius opened #12356 "Module extension definition question."
Given the following modules how can I import/export the functions in the modulea namespace as functions in module b IAllFunctions interface?

My problem stems from trying to create rethinkdbdash definitions that are easy to maintain.
I've created [the following retinkdbdash definition](http://pastebin.com/7WReHq53) that duplicates all functions into the RDash interface that exists in the [rethinkd

[2016-11-18 17:39] mhegazy commented on #12311
This is blocking the change to lib.d.ts to reduce symbol instantiations at the moment, see https://github.com/Microsoft/TSJS-lib-generator/pull/166

[2016-11-18 17:52] wallverb commented on #12355
Improvement ;)

[code]

Run this and you will get runtime error `Cannot read property 'ok' of undefined(…)`
Maybe error message could be ' Variable response is potentially used before being assigned'

[2016-11-18 17:55] mhegazy commented on #12355
looks like a duplicate of https://github.com/Microsoft/TypeScript/issues/12205

[2016-11-18 18:01] mhegazy commented on #12354
The current declaration of `Object.assign` is:
[code]

so the result is `({ id: number } | undefined) & ({ id: number })` which is `{ id: number } | undefined`

The language does not have the constructs today to accurately model the behavior of `Object.assing`. Adding a spread like operator on types and using it to define `Object.assign` is tracked by https://github.com/Microsoft/TypeScript/issues

[2016-11-18 18:02] mhegazy commented on #4890
this is the issue tracking this work.

[2016-11-18 18:03] mhegazy commented on #11329
what are you trying to do?

[2016-11-18 18:04] mhegazy commented on #11051
@108adams what kind of errors are you getting? can you elaborate?

[2016-11-18 18:07] jods4 commented on #12354
Did something change in this regard since 2.0? Because it worked.
_(I think there was a change related to distributivity of `|` and `&` in typing, I swear I saw an issue about that somewhere)_

Shouldn't the result of `(T | undefined) & T` be `(T & T) | (T & undefined)` which is just `T`.

[2016-11-18 18:08] vladima commented on #12348
`declare module "foo/bar"` is a module augmentation that does not declare module itself so at glance error looks legit.

[2016-11-18 18:09] jods4 commented on #12355
I didn't see that one, it looks like a dup indeed.

[2016-11-18 18:09] #12355 closed

[2016-11-18 18:18] wallverb commented on #12353
Ok, I will let others answer it then.

I was just making an observation that this works in TS2.0 but throws error `string[] is not assignable to string` in latest
[code]
and that you can't assign `void[] to void` even in TS2.0:
[code]

[2016-11-18 18:25] rbuckton commented on #12344
An empty template is a syntactic error. We do not guarantee valid syntactic output when the input is syntactically invalid.

[2016-11-18 18:25] #12344 closed

[2016-11-18 18:27] blakeembrey commented on #12354
@mhegazy FWIW, I did https://github.com/types/npm-xtend/blob/master/immutable.d.ts#L1 to allow extending `undefined`/`null` as they have no effect on the final type.

[2016-11-18 18:28] rbuckton commented on #12344
Running `tsc` for the above example reports the error:
[code]

[2016-11-18 18:38] vladima commented on #12347
code in repro is syntactically incorrect (property declarations in type literal lack type annotations) and TypeScript compiler never guaranteed valid output in presence of syntactic errors

[2016-11-18 18:40] blakeembrey commented on #12338
I'm sorry, I'm not sure I understood the question and without additional code to see the context, I'm not sure. Want to try re-wording it?

[2016-11-18 18:48] HeroicAutodidact commented on #12344
I thought this might be the case, it's a sensible design decision and I respect it.

I do believe that the error should be shown by tsc _as a syntax error within typescript_ rather than letting it produce invalid JavaScript. Perhaps this was fixed in 2.1, the bug was discovered using 2.0.8.

Thanks for looking into it.

[2016-11-18 18:56] vladima commented on #12347
actually it seems to be working in the latest nightly build:
[code]

what version of TypeScript do you use?

[2016-11-18 19:16] arvitaly commented on #12347
Hi! Sorry, i think it is not problem of typescript, it is VSCode's problem. But typescript compiled this code with error also.
![capture](https://cloud.githubusercontent.com/assets/2562855/20443107/003d3396-adfe-11e6-9f5f-84b91c7eb0e6.PNG)

[2016-11-18 19:16] #12347 closed

[2016-11-18 19:32] jods4 commented on #12354
@blakeembrey interesting but is that required? The result of `(A | undefined) & B` is **not** possibly `undefined` because it **must** include all members of `B`.

This is the behavior of 2.0 and it's a regression, which is not a dupe (I'm not asking for perfect typing, which will come with spread types, I know).

[2016-11-18 19:47] fictitious commented on #12353
Ok, I see that `void` was deliberately made incompatible with any other type in typescript. And stricter check in 2.1 for promises is an improvement for any type, except `void`.

So the question essentially becomes: is there any way to express that any promise is assignable to `Promise<void>`? After all, this code is valid:

[code]

shouldn't this be valid too?

     pv = pn; // error. why ?

[2016-11-18 20:09] fictitious commented on #12353
Answer: `Promise<void>` was the wrong choice, `Promise<{}>` works for me.

Sorry for the noise.

[2016-11-18 20:09] #12353 closed

[2016-11-18 20:27] Izhaki commented on #12338
@blakeembrey Sure.

My question is, why this line:

    import { Visible } from '../../viewees/Visibles/Visible';

Results in this:

    console.log( Visible ); // { [Function: Visible] }

Seems like `Visible` was assigned the whole module. This is `Visible.ts`:

    import { Viewee }  from '../Viewee';

    export
    abstract class Visible extends Viewee {
    ...
    }

I can't think why on ear

[2016-11-18 20:32] DanielRosenwasser commented on #11329
@towertop The `paths` field is useful to align TypeScript's module resolution process with that of your module loader (e.g. AMD, System.js), or for adding custom declarations that exist outside of the standard resolution locations.

[2016-11-18 20:53] johnnyreilly opened #12358 "Guidance on shipping ts within node_modules"
Hello!

I'm raising an issue because I'm seeking guidance on whether TypeScript is intended to be used to ship `.ts` files inside `node_modules`.  I'm asking as I'm one of the maintainers of ts-loader and [this issue](https://github.com/TypeStrong/ts-loader/issues/278) was raised on that very topic.  It seems to have worked in the past (without any particular intention or effort on the part of ts-

[2016-11-18 21:19] mhegazy commented on #12354
@jods4 this behavior is introduced in https://github.com/Microsoft/TypeScript/pull/11717. the change normalizes union types, so that `(A | undefined) & B` is treated the same way as `(A  & B) | (undefined & B)`.
the fact that it used to work in the past is just a bug that was uncovered by this change.

the correct fix for the issue in the OP is by correctly modeling the behavior or `Object.assign`

[2016-11-18 21:25] JoelLeach commented on #1617
I'd like to add my vote for a solution that makes more sense to OOP veterans coming from other languages, whether it is for EcmaScript or TypeScript only.  I wrote [an article on the subject](http://weblogs.foxite.com/joel_leach/2016/11/18/setting-subclass-properties-in-typescript/), including suggested workarounds.

[2016-11-18 21:26] mhegazy opened #12359 "Design Meeting Notes, 11/18/2016"
# Narrowing `any` and `--noImplicitAny`
  * [Compiler should allow assignment of new property in empty object](https://github.com/Microsoft/TypeScript/issues/11839)
  * [Endless waiting for 2.1.1 compiling (unuseable)](https://github.com/Microsoft/TypeScript/issues/12319)
    * consider caching resolved signatures for non-generic non-overloaded functions. this should save a lot of a lot of types

[2016-11-18 21:26] #12359 closed

[2016-11-18 21:36] ahejlsberg commented on #12340
Duplicate of #12311.

[2016-11-18 21:39] #12330 closed

[2016-11-18 21:58] jods4 commented on #12354
@mhegazy not sure I understand here.
How is `(A & B) | (undefined & B)` potentially `undefined`?
The left side `A & B` is obviously not.
The right side `undefined & B` **is not** `undefined` and has to provide all properties of `B`.
For as much as I can think of, `undefined & B` is equivalent to just `B`.

[2016-11-18 22:09] mhegazy commented on #12354
`undefined & B` is `undefined` and is `B`. undefined is a value not like `never` for instance.

[2016-11-18 22:10] #12311 closed

[2016-11-18 22:10] #12315 closed

[2016-11-18 22:10] mohsen1 opened #12364 "Explore supporting ES import() proposal"
[Dynamic import proposal](https://github.com/tc39/proposal-dynamic-import) is in early stages but it will require TypeScript to support it in order to be usable in TypeScript based apps.

Basic syntax:
[code]

[2016-11-18 22:17] andy-ms commented on #12348
OK. I'll have to keep that in mind when declaring ambient modules in the future that there can't be an `import` statement in file scope.

[2016-11-18 22:17] #12348 closed

[2016-11-18 22:40] jods4 commented on #12354
As an illustration, assume `type B = { n: number }` and some `b: undefined & B`.

From your own words, `undefined & B` is `undefined` **and is `B`** so there is no reason that I should not be able to do `b.n`.

`n` _has to exist_ on `b`, otherwise it would not be `undefined & B`.

Currently the compiler is complaining that `b.n` is not valid and that is incorrect.

[2016-11-18 22:51] waderyan opened #12365 "No formatter option for space between colon and type in TypeScript"
_From @M-Pixel on October 20, 2016 5:42_

- VSCode Version: 1.6.1
- OS Version: Win 10

Steps to Reproduce:
1. Write a TypeScript interface definition omitting space between colon and type (e.g. `name:string`)
2. Autoformat
3. Note that a space was inserted between ":" and "string"
4. Open user preferences in order to change this behavior
5. Note that among the many `typescript.format.insertSpaceA

[2016-11-18 22:51] waderyan commented on #12365
_From @kcbleeker on October 20, 2016 9:48_

Yes please

[2016-11-18 22:51] waderyan commented on #12365
_From @roblourens on October 20, 2016 17:54_

I think we only get the formatting options that the TS service exposes.

[2016-11-18 22:51] waderyan commented on #12365
_From @kcbleeker on October 20, 2016 18:20_

That's a little frustrating in a VSCode versus IntelliJ battle.

[2016-11-18 22:51] waderyan commented on #12365
_From @roblourens on October 20, 2016 18:22_

tslint autofix might do this.

[2016-11-18 22:51] waderyan commented on #12365
@M-Pixel thank you for opening this issue. We are looking at ways to improve this experience and will consider your specific use case. Are there are formatting options you would like to see?

Ping @jrieken as this might be relevant for your formatting work.

[2016-11-18 22:57] #12291 closed

[2016-11-18 22:57] #12326 closed

[2016-11-18 22:57] waderyan commented on #11334
Closing this as duplicate of https://github.com/Microsoft/TypeScript/issues/11335

[2016-11-18 22:57] #11334 closed

[2016-11-18 23:00] mhegazy commented on #12354
the compiler says if the type is `undefined` then it is not safe to use. and the type is `undefined`.

the problem is not which rule to invoke. the type `undefined & B` is as invalid as `number & string`. it represents an empty set with no values, and it does not exist at runtime. I do not think there is a right/wrong way to deal with them.

You would not write a type annotation on something to be

[2016-11-18 23:05] waderyan commented on #10092
It seems like #188 covers this request. @dbaeumer can you check it out? If it does then we can close this issue.

[2016-11-18 23:06] xumx opened #12367 "New Website Logo: KeyReply"
- Name: KeyReply
- Homepage url: https://keyreply.com
- Brand Guidelines/Licensing: -
- Logo: https://botdesk.blob.core.windows.net/files/images/logo.png

[2016-11-18 23:30] jods4 commented on #12354
OK I see what you mean.
As Anders pointed out in the initial PR for intersection types, intersection of primitive types don't really work but they can't be prevented in generics instanciations.

It just happened that in 2.0 `undefined & B` allowed property access because it is a `B` and now in 2.1 it is forbidden because it is `undefined`. The statements are contradictory but they are both true, s

[2016-11-18 23:30] #12354 closed

[2016-11-18 23:37] mhegazy commented on #12364
This is a proposal that we are following in the committee. I would expect us to start looking into this early next year.

also referenced in https://github.com/Microsoft/TypeScript/issues/11611. i think we just need one issue to track this.

[2016-11-18 23:39] #11839 closed

[2016-11-18 23:40] mhegazy commented on #11839
//cc: @DanielRosenwasser

[2016-11-18 23:44] mhegazy commented on #12358
Can you elaborate on the issue, i could not get the details reading through the issue.

As for the recommendation, publish `.js` + `.d.ts`. this way your users do not have to compile your sources each time they need to refer to your library.

[2016-11-18 23:45] cailenmusselman opened #12370 "Typescript compiler generating wrong return type in d.ts"
**TypeScript Version:**  2.1.1 / nightly (2.2.0-dev.201xxxxx)

**Code**

[code]

**Expected behavior:**

According to Reselect.d.ts (https://github.com/reactjs/reselect/blob/master/src/reselect.d.ts) the return type of `createSelector()` should be `Selector<DemoState, number>`...

[code]

**Actual behavior:**

However, what the typescript compiler is generating for a definition in my Demo.d.ts is:

[2016-11-18 23:45] #12340 closed

[2016-11-18 23:49] Bobris commented on #12358
As Typescript user... Bobril-build currently depends on ts in node_modules, because it uses Typescript AST to recognize calls to translation module - modifying AST to produce message ids, or detecting used resources, or usages of images for creating of sprites. Yes in theory all this stuff could be parsed out of JS, but question would it have same robustness, error reporting, speed? I am also thin

[2016-11-18 23:50] mhegazy commented on #12370
should be fixed in `typescript@next`.

[2016-11-18 23:51] mhegazy commented on #12370
[code]

[2016-11-18 23:51] #12370 closed

[2016-11-18 23:53] mhegazy commented on #12358
@Bobris I am afraid i do not understand the underlying issue. can you explain the problem or share a repro i can look at?

[2016-11-19 00:00] #12165 closed

[2016-11-19 00:01] #12281 closed

[2016-11-19 00:03] mhegazy commented on #12321
Should be fixed in latest.

[code]

[2016-11-19 00:03] #12321 closed

[2016-11-19 00:04] mhegazy commented on #11854
@angelozerr can you give tonight's drop a try?

[2016-11-19 00:05] Bobris commented on #12358
Issue is that you fixing bugs in TypeScript compiler, making it stricter even without changing any TypeScript compiler options. This dir https://github.com/Bobris/Bobril/tree/7860bda9ac82520e2826ccbced38168eceb01cf6/package is compilable by TS 1.8.10 without errors, but not with TS 2.0.3.
So anybody using this in node_modules and upgrading TS will have hard time... That's why one of solutions is t

[2016-11-19 00:09] mhegazy commented on #12358
I see. but if you publish sources, would not your have to compile with matching version of the tools you use, and with matching compiler options (e.g. `--noImplicitAny`, `--noUnusedLocals`, etc..) as well?

[2016-11-19 00:10] jamesandersen commented on #12083
I'm seeing the same "does not exist on type 'never'" error when using a union type (unlike the OP):
[code]
Adding a dummy property to `ClearTickersAction` as follows fixes the issue:
[code]

... but is a hack.

It's not entirely clear to me from looking at the referenced issues here whether this is already tracked as a bug;  I assume it **should** be.  Is this already tracked?

[2016-11-19 00:11] electricessence commented on #12307
Will check it out...
Just some context I noticed.  It was only when imports were being used.

[2016-11-19 00:21] Bobris commented on #12358
But I think with TS 2.0 even just D.TS would not save me, because I made it null strict, so D.TS now contains `| undefined` which TS 1.8 does not understand I think, forcing users to upgrade to 2.0 anyway.
It is not big deal for us because I control used build tool (mentioned bobril-build). Just want to say, I don't want to loose this option (distribute JS and TS) completely because I don't contro

[2016-11-19 00:24] mhegazy commented on #12083
this should work:
[code]

[2016-11-19 00:25] yortus commented on #12083
@jamesandersen probably #202, since TS would need nominal `instanceof` narrowing to work the way you (reasonably) expect.

[2016-11-19 00:26] mhegazy commented on #12083
the reson is the narrowing removes constitents from the type. `ClearTickersAction` structurally is a super type of `SetFilingAction`. so narrowing `ClearTickersAction` out removes both `ClearTickersAction` and `SetFilingAction` leaving you with an empty union i.e. `never`

[2016-11-19 00:28] mhegazy commented on #12358
Distributing `.ts` files is a supported scenario. We have users who use this with `npm link` at design time, and we do not intend to break this.

The OP was about recommendation. my recommendation is not to ship your `.ts` files to external users.

[2016-11-19 00:39] ramya-rao-a commented on #12175
Any updates on this? Lots of users are seeing this.

[2016-11-19 01:00] electricessence commented on #5911
I've read through a bunch of these issues, and I have to raise this flag again.
Just now I installed 2.2 dev and I'm getting this error.  I understand the concerns about how specifying the actual promise that ends up getting used is a good choice.  I also understand how the awaiter works.
I have my own Promise lib.  And I still don't see the value in making this more restrictive.
The PromiseLike<T

[2016-11-19 02:04] jamesandersen commented on #12083
@mhegazy interesting...   that is a cleaner approach; at least until there's another `Action` variant that is meaningful but has no properties.   Thanks for the explanation!

[2016-11-19 02:06] electricessence opened #12374 "Global Promise assumed from custom? See resultant awaiter code."
After updating to the dev version.  I noticed that the diff when I checked in showed this code with ```Promise_1.Promise``` instead of ```void 0```.  But then when I thought about it, how is this happening?
The compiler tells me I'm not allowed to use ```Promise``` as a name, but then somehow knows where to get my own ```Promise``` module from? :/

Can someone please explain what's going on here?

[2016-11-19 02:09] electricessence commented on #12323
Well now that I've updated to 2.2 dev, it's gotten even weirder:
https://github.com/Microsoft/TypeScript/issues/12374

[2016-11-19 02:30] aluanhaddad commented on #11839
@mhegazy Would it be possible to have this under a separate flag? I realize that it is important to be conservative in adding new flags, but I would really like to take advantage of this future without enabling `--noImplicitAny`.

Additionally I think many users who do not currently use this option could actually stand to benefit most from this feature. I believe that the fact that it will still b

[2016-11-19 03:28] aluanhaddad commented on #12374
It looks to me like the transpiled code doesn't use the import alias because it doesn't need to. `Promise_1.Promise` is what you have aliased as `NPromise`. It uses the value of this import as the constructor function to past to `__awaiter`. That seems consistent.

[2016-11-19 03:59] electricessence commented on #12374
@aluanhaddad It makes no sense to me that it's automatically figuring out what my promise module is.
I did nothing to instruct it what to use.  It's very automagicky.  And it's different than what I saw in 2.1.1.
Take note of what's really going on here.  In 2.1.1 it simply passed void 0 instead of ```Promise_1.Promise```.

[2016-11-19 04:01] electricessence commented on #12374
Also I found this odd:
[code]

I know it's my code, but I expected it to work to fix my woes.
What I discovered is that the underlying code relies on context so that if I use a factory method like this, I get very strange results from certain operations.  So the good news is.  The weird magic above fixes my issues (with what I'm currently doing).

[2016-11-19 04:13] aluanhaddad commented on #12374
in the TypeScript source you have
[code]
Here, the compiler uses the return type `NPromise<T>` to figure out what `Promise` value to use.
Hence the emitted JavaScript is
[code]
This is the only case, as far as I know, of type directed emit in TypeScript and was necessary to downlevel `async`/`await` to ES3/ES5. It is not automagical, just irregular with respect to the reset of the language which d

[2016-11-19 04:27] #11598 closed

[2016-11-19 04:27] #11699 closed

[2016-11-19 04:27] #11716 closed

[2016-11-19 04:27] #11729 closed

[2016-11-19 04:27] #11753 closed

[2016-11-19 04:27] #11851 closed

[2016-11-19 04:27] #12318 closed

[2016-11-19 04:27] #12322 closed

[2016-11-19 04:27] #12367 closed

[2016-11-19 05:00] mhegazy commented on #11839
We could revisit this in the future, assuming we have support for the different object construction pattern and a consistent error reporting experience.

[2016-11-19 05:10] aluanhaddad commented on #11839
@mhegazy thanks I appreciate it. Should I open an issue for it?

[2016-11-19 05:57] waderyan commented on #11822
Closed as duplicated of #7158

[2016-11-19 05:57] #11822 closed

[2016-11-19 06:10] waderyan commented on #11457
Duplicated of #11044

[2016-11-19 06:42] dmitrage commented on #12275
This bug is already fixed by https://github.com/Microsoft/TypeScript/commit/ddcd22e4de4b604ee4ef532f48e3371fb4473352.
Error message is correct, there was variable `name` referenced instead `node.name`.

Error was in function expression visitor of ESNext transformer, so this is enough to reproduce (error on 20161114, ok since 20161117):
[code]
with tsconfig.json
[code]

[2016-11-19 08:10] johnnyreilly commented on #12358
Thanks for the response @mhegazy.

That's a fair point - I have a feeling that there might be more than one scenario being discussed in the thread.  Speaking for myself this is not a scenario I look to use at all and I'm not totally certain I understand what each poster has asked for - I'm just trying to grapple with what is reasonable to support and what is not.

Perhaps rather than me assuming w

[2016-11-19 08:59] falsandtru opened #12377 "TS2495: Type 'Readonly<any[]>' is not an array type or a string type"
**TypeScript Version:**  master

**Code**

[code]

**Expected behavior:**

pass

**Actual behavior:**

[code]

[2016-11-19 10:09] angelozerr commented on #11854
@mhegazy you wish that I test with TypeScript that I install with "npm install typescript@next", is that?

[2016-11-19 10:34] andraaspar commented on #12260
I have created a pull request for this.

[2016-11-19 12:30] zemlanin commented on #8060
One more case (https://gist.github.com/zemlanin/a306e8498d05c923cac405c047014029):

[code]

[code]

[code]

[2016-11-19 13:08] falsandtru commented on #12123
Merge into #10166

[2016-11-19 13:09] stevejhiggs commented on #12358
sure, both me and @skysteve are actually working on the same project so I'll detail our exact scenario:

- We have a large internal core library that provides 90% of our functionality and is just a collection of ts files.

- This library has multiple entry points (we reference more that just the entry point as defined within the package.json)

- On top of this library are a number of custom implem

[2016-11-19 14:11] weswigham commented on #11329
Alternatively: Since your packages are private, write your own private [@types/module-name package](https://github.com/weswigham/AtTypes-vega), then [point npm at it via your package.json](https://github.com/glimpseio/glacier/blob/master/glacier/src/package.json).

Its higher effort, but, IMO, a much neater solution than managing mappings within your tsconfig.

[2016-11-19 14:28] weswigham commented on #12342
In your specific example, wouldn't
[code]
Be an equivalently correct type (without need for a special type function), provided T were inferred correctly?

[2016-11-19 14:37] HerringtonDarkholme commented on #12342
@weswigham I believe T could not be inferred correctly for now by design: mapped type is not an inference site.  https://github.com/Microsoft/TypeScript/pull/12114#issuecomment-259986808

[2016-11-19 14:47] weswigham commented on #12342
@HerringtonDarkholme note the comment:

Accumulating valuable use cases, such as this, is how things like this can change.

[2016-11-19 15:02] weswigham commented on #12265
Why not just make object spread types valid in argument positions (so the spread type flattens into part of the argument list)? I think that would solve this elegantly:
[code]
It also makes it obvious how to combine a spread object with normal arguments, and removes a confusingly useless type parameter.

[2016-11-19 15:27] weswigham commented on #3192
With `keyof` applied to a namespace or object, you can now trivially use an object or namespace of string literals as a "string enum". Given that enums aren't on the ECMAScript proposal table, and TS has avoided adding any further non-typesystem non-ECMAScript syntax for many moons, I would not hold my breath on this. Instead, I'd write this:

[code]
Flexible, powerful, relatively DRY. All TS coul

[2016-11-19 15:48] wallverb commented on #3192
@weswigham Thanks for this great idea - is there any way to adjust it so that it isn't using **widening** types ?

As soon as one does:
[code]
the type of `test` becomes `string`

[2016-11-19 15:50] weswigham commented on #3192
@wallverb Use `const` or add a type annotation, otherwise, no. This is simply how string literal types are flowed now (the justification being: what is the use of assigning a single unit type to a mutable variable?).

[2016-11-19 16:24] wallverb commented on #3192
Or seems like one can do this (slightly less DRY but could prevent surprises and need to provide type annotations)

[code]

and use it in cases like:
[code]

For me that's a good enough alternative to string enums. Thanks a lot @weswigham / TS Team

[2016-11-19 16:26] isiahmeadows commented on #1206
@RyanCavanaugh Any chance this will end up on the [roadmap](https://github.com/Microsoft/TypeScript/wiki/Roadmap)?

[2016-11-19 16:29] isiahmeadows commented on #11559
Enums are currently `number` subtypes, so that could be a source of issues.

This in particular seems surprising and really just a bug: `aTest(5)` should fail regardless.

[2016-11-19 16:29] wallverb commented on #1206
@isiahmeadows FYI - https://github.com/Microsoft/TypeScript/issues/3192#issuecomment-261720275

[2016-11-19 16:37] weswigham commented on #3192
You don't need the 'mkenum' function when you explicitly write the
typecasts like that. The function call only existed to make the compiler do
exactly that for you. ;)

On Sat, Nov 19, 2016, 11:25 AM wallverb <notifications@github.com> wrote:

[2016-11-19 17:42] nicematt opened #12379 "Approach for private class methods"
[code]

could convert to:

[code]

[2016-11-19 18:13] basarat commented on #12358
There are actually three issues. Personas : Publisher is the person publishing an npm module and Consumer is the person using it :rose:

## noEmit for `isSourceFileFromExternalLibrary`
These files are external (default `host.isSourceFileFromExternalLibrary` == true see https://github.com/TypeStrong/ts-loader/pull/365#issuecomment-259350824 for breakdown). That is the issue discussed by @stevejhigg

[2016-11-19 18:22] devoto13 opened #12380 "Missing error on import of non-existing module when nothing is imported from it"
**TypeScript Version:**  2.1.1 and 2.2.0-dev.20161118

**Code**

[code]

See [repo](https://github.com/devoto13/typescript-import-demo) for complete example.

**Expected behavior:**

Shows error for both imports.

**Actual behavior:**

Shows error only, when something is imported from the module.

[2016-11-19 18:29] #11834 closed

[2016-11-19 18:44] mhegazy commented on #11854
Yes. That would be appreciated.

[2016-11-19 19:34] d-ph commented on #10178
Hi guys,

I'm in the process of looking for a solution to current `@types/bluebird` declaration [problem](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/10801) (please don't spend time reading it). I found, that the problem could be solved, by adding `export as namespace Promise;` to the .d.ts, but then I run into the problem described by this github issue.

In short, I'd like the follo

[2016-11-19 19:34] isiahmeadows opened #12381 "Generic constraint for mapped property"
I need to constrain a mapped property so I can basically get the return type out of its methods and modify it. Here's the gist of the two transformations I need to type (I need both):

[code]

I know TypeScript 2.1's mapped properties aren't enough, so any ideas?

[2016-11-19 19:35] isiahmeadows commented on #12381
Note: the return types are not necessarily the same across multiple methods.

[2016-11-19 19:47] isiahmeadows commented on #12292
@Kovensky It shouldn't need to - ES `async`/`await` operates on thenables, not just promises.

[2016-11-19 19:50] aluanhaddad commented on #12377
This is because `[Symbol.iterator]` is not included by the property enumerator. The quick fix is to add an overload of freeze in your lib file.

[code]

[2016-11-19 19:51] isiahmeadows commented on #12173
It requires setting the prototype of the constructor itself, which wasn't standardized until ES2015.

[2016-11-19 20:11] aluanhaddad commented on #12381
See also #12342

[2016-11-19 20:17] d-ph opened #12382 "Provide a way to load Bluebird globally in es6 compilation target."
**TypeScript Version:**  2.1.1

**Code**
1. Either `git clone -b e5-and-core-js-case https://github.com/d-ph/typescript-bluebird-as-global-promise.git` or `git clone -b vanilla-es6-case https://github.com/d-ph/typescript-bluebird-as-global-promise.git`
2. `cd typescript-bluebird-as-global-promise`
3. `npm install`
4. Edit `node_modules/@types/bluebird/index.d.ts` by adding `export as namespace Pro

[2016-11-19 20:22] rajinder-yadav opened #12383 "error TS2339: Property 'startsWith' does not exist on type 'string'"
tsc 2.0.10

**Code**

let tok = ":name";
if(tok.startsWith(":"))  <--- false error: error TS2339: Property 'startsWith' does not exist on type 'string'

[code]

**Expected behavior:**
should know this is a method on a JS string.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/startsWith

**Actual behavior:**

[2016-11-19 20:24] rajinder-yadav opened #12384 "error TS2339: Property 'endsWith' does not exist on type 'string'."
tsc 2.0.10

**Code**

let tok = "path/";
if(tok.endsWith("/"))  <--- false error:error TS2339: Property 'endsWith' does not exist on type 'string'.
[code]

**Expected behavior:**
should know this is a method on a JS string.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/endsWith

**Actual behavior:**

[2016-11-19 20:30] j-oliveras commented on #12384
The method endsWith is declared with es6 (es2015). Make sure your target is es6 or higher (if target is not defined defaults to es3).

[2016-11-19 21:03] rajinder-yadav opened #12385 "error TS2304: Cannot find name 'UriMapHandlerArray'."
UriMapHandlerArray is defined in the same file, TS cannot find it.

ts v2.0.10
**Code**

[code]

[code]

**Expected behavior:**

**Actual behavior:**

[2016-11-19 21:12] j-oliveras commented on #12383
The method endsWith is declared into es6 (es2015). Make sure your target is es6 or higher (if target is not defined defaults to es3) or use lib option to include "es2015.core".

[2016-11-19 21:12] j-oliveras commented on #12384
The method endsWith is declared into es6 (es2015). Make sure your target is es6 or higher (if target is not defined defaults to es3) or use lib option to include "es2015.core".

[2016-11-19 21:20] j-oliveras commented on #12385
You uses UriMapHandlerArray as a value of uri_map property not as a type.

If you want to define IUriMap type as { uri_map: UriMapHandlerArray } you can do:
`type IUriMap = { uri_map: UriMapHandlerArray }`
or:
`interface IUriMap { uri_map: UriMapHandlerArray }`
and then use it as
[code]

[2016-11-19 21:35] mariusschulz commented on #12071
@RyanCavanaugh Thanks! I've sent a pull request: https://github.com/Microsoft/TypeScript/pull/12386

[2016-11-19 21:56] BobFrGit opened #12387 "suggestion: class name strings"
**TypeScript Version:**  2..x

I just started using literal strings and it's a wonderful feature. Given Typescript's integration with HTML it would be nice to tap into that knowledge. In particular be able to declare that a string is the name of a CSS class in the project.

Also, for convenience, might as well have an HTMLColor type predefined.  Even better if a field like backgroundColor would be

[2016-11-19 22:01] aluanhaddad commented on #12356
Are you trying to augment an interface with functions declared in a namespace?

[2016-11-19 22:11] opensrcken opened #12388 "Potential Bug with Object Mappers: Readonly"
**TypeScript Version:**  nightly (2.2.0-dev.20161118)

**Code**

[code]

**Expected behavior:**
This should compile?

**Actual behavior:**
[code]

[2016-11-19 22:22] mariusschulz commented on #3192
While that is true, the required syntax is already in place in large parts. We already have const enums. Allowing strings as values (rather than only numbers) would "only" be a relaxation of a constraint that currently exists.

[2016-11-19 22:29] ahejlsberg commented on #12388
This is working as intended. Property modifiers don't carry over in mapped types, so all properties of a `Readonly<T>` are read-only and non-optional.

We've debated having modifiers carry over, but the mechanism by which it would happen isn't clear. Also, if they did carry over, we'd then need a way of stripping them when that is desired. It quickly gets complicated.

[2016-11-19 23:37] jasonpang opened #12390 "Async await transformed to ES5 generators not debuggable in Chrome"
**TypeScript Version:**  nightly (2.2.0-dev.20161118)

**Chrome Version:** Stable 54.0.2840.99 (Official Build) m (64-bit) (*Revision 7eca4ce1e662f12cadaf96c30cd2335fd03e7140-refs/branch-heads/2840@{#830}*)

**TypeScript Code:**
[code]

**GIF of Issue:**

![asyncawaitissue](https://cloud.githubusercontent.com/assets/1015970/20459198/e4752c98-ae6d-11e6-879e-db0e9ebda0bc.gif)

**Expected behavior:**

[2016-11-19 23:49] tonyn4444 commented on #12390
Yeah I've run into this problem too many times

[2016-11-19 23:52] rajinder-yadav commented on #12385
OK I see my mistake, thanks!

[2016-11-19 23:52] #12385 closed

[2016-11-19 23:53] rajinder-yadav commented on #12384
Thanks, closing!

[2016-11-19 23:53] #12384 closed

[2016-11-19 23:53] rajinder-yadav commented on #12383
Thanks, closing!

[2016-11-19 23:53] #12383 closed

[2016-11-20 00:13] #12388 closed

[2016-11-20 00:15] aluanhaddad commented on #12382
First of all do not add the line
[code]
Add this line instead
[code]
Then add a file called `globals.d.ts` (or whatever you want to name it). And put it at the root of your project. Add this content to the file:
[code]
Add the following to your `tsconfig.json`
[code]
That is all you should need to do.

[2016-11-20 00:29] aluanhaddad commented on #10178
The `"globals": []` tsconfig option seems preferable to making them visible everywhere. With UMD declaration becoming the norm, the odds of accidentally forgetting to import a module are high. Please consider retaining the current behavior. This should be an error.

Anecdotally I remember when moment removed their global `window.moment` variable in a point release. We thought we had been judicious

[2016-11-20 00:34] rajinder-yadav opened #12391 "Build error @types/highlight.js/index.d.ts (22,40): error TS2304: Cannot find name 'Node'."
I am seeing this error, suspect it's due to types, however I'm not using highlight.js, so this is odd?

ERROR in  /home/yadav/dev/project/furi_project/furi_node_router/node_modules/@types/highlight.js/index.d.ts
(22,40): error TS2304: Cannot find name 'Node'.

TS Version: 2.0.10

[2016-11-20 00:39] rajinder-yadav commented on #12391
OK I added "dom" to lib in tsconfig, error went away, is this right?

What does "dom" do, my project is using TS for node.js core, no other modules.

[2016-11-20 00:41] aluanhaddad commented on #12391
You have the types for `highlight.js` installed. Delete them.

[2016-11-20 00:42] johanssj commented on #2551
Just happened across this thread while looking at TS support for 'new.target'.

For use case of importing a function such as the Foo example above when such function is exported from, say, a CommonJS module, the immediately preceding comment re "When 'use strict'; is used, then 'this' will be undefined anyways and the emit could simply be ..." is not valid under all circumstances.

It is only vali

[2016-11-20 00:48] rajinder-yadav commented on #12391
Where would `highlight.js` be installed? I've deleted node_modules and did a `npm install` for my project, my package.json has only these modules:

[code]

[2016-11-20 01:29] aluanhaddad commented on #12349
This behavior seems to make sense. `prop` doesn't have a `field` property in the base class where `propCopy` is defined. If you redefine the field on the subclass the error goes away.

[2016-11-20 01:30] aluanhaddad commented on #12391
Right here https://github.com/TypeStrong/typedoc/blob/master/package.json#L35

[2016-11-20 01:34] aluanhaddad commented on #12391
The method is typed as taking a DOM Node. You can reference `"lib" :[ "dom" ]` to tsconfig.json.compilerOptions

[2016-11-20 01:56] aluanhaddad commented on #12306
That's because jetbrains uses their own language service. In IntelliJ IDEA there's a setting to use the type script language service instead. I would definitely suggest that you investigate and see if this option is available in Webstorm as well.

[2016-11-20 02:43] rajinder-yadav commented on #12391
Thanks, I really appreciate the helpful info, more knowledgeable of the going on! Everything make sense now :100:

[2016-11-20 02:43] #12391 closed

[2016-11-20 03:19] HerringtonDarkholme commented on #12349
I believe this is the same issue with https://github.com/Microsoft/TypeScript/pull/11929#issuecomment-261744874

It is not a bug report but a feature request.

[2016-11-20 03:30] aluanhaddad commented on #12349
@HerringtonDarkholme I see. I was thinking about it as a bug report, sorry.

[2016-11-20 03:45] nagor commented on #12275
@sandersn @DanielRosenwasser Sorry, for being late. No,  I cannot zip the project: it is proprietary.
@dmitrage That is great! Will try try mentioned version. Thanks

[2016-11-20 04:28] aluanhaddad commented on #12387
Can you show some examples? Are you trying to validate that class names passed as strings must match the set of classes that are available? The term project is a bit vague. would this involve TypeScript inferring class names by parsing CSS files? This seems interesting but its not clear what you have in mind.

[2016-11-20 04:43] BobFrGit commented on #12387
First, I realize I'm thinking of Visual Studio not TypeScript and it is VS not TS that does the class handling for HTML. Added it to TS would involve parsing the file so maybe that involves more of a change than simply building on an existing capability.

But to clarify

I have a classes .logAlert and .logMild" and have added
[code]

[2016-11-20 06:12] heroboy commented on #12365
Please also consider my code formatting suggestions. https://github.com/Microsoft/TypeScript/issues/9124

[2016-11-20 11:26] ktersius commented on #12356
@aluanhaddad It would seem so.

[2016-11-20 12:56] d-ph commented on #12382
Hi Aluan,

Thanks for your answer. It led me to the right direction.

Your solution works for es6, however there are some edge cases, when it doesn't. Also, I'd like devs to just `npm install ??` to get up to speed with Bluebird, without requiring them to manually patch the `PromiseConstructor` (which has far more static methods than just `delay`).

I'm trying to prepare a bluebird-global.d.ts, th

[2016-11-20 13:14] wpitallo opened #12392 "Very Very Slow"
I upgraded from Typescript 2.0.3 to  Typescript 2.0.6 with webpack 2.1.0-beta.27 (with ts-loader - note i tried awesome-typescript-loader and that did not help)

My project build time went from about 30sec to about 5min... What can i do to fix this.

tsconfig:
{
    "compilerOptions": {
    "target": "es6",
    "module": "commonjs",
    "moduleResolution": "node",
    "emitDecoratorMetadata": true

[2016-11-20 14:18] angelozerr commented on #11854
@mhegazy worls like a charm with 2.2.0-dev.20161120. Completion shows files and directories both:

![typescriptcompletionfrom](https://cloud.githubusercontent.com/assets/1932211/20463490/99d91344-af34-11e6-880d-94920408890b.png)

[2016-11-20 14:28] tycho01 opened #12393 "feat request: allow preserving keys (+ types by key) to map over objects"
I'm hoping to be able to properly type functions like Ramda's R.map (for objects) or  Lodash's _.mapValues -- in such a way as to acknowledge that mapped over values (which may have been of different types) may give results of different types, dependent on both their respective input type as well as on the mapper function.

**Code**
[code]

**Desired behavior:**
`{ a: number[], b: string[] }`

**A

[2016-11-20 15:22] Ashwani44 opened #12394 "Passing Html element id in typescript"
I have a HTML file with 2 textbox and i want to calculate length and breadth on button click and based on the value entered in textbox and bind it on label : here is my code
index.html
<body> <br/><br/>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="length">Length:</label>
                <i

[2016-11-20 16:07] mayerwin commented on #6615
I still don't understand how to properly implement a mock definition to allow the following syntax:

```import { MyClass} from "my-package";```

The following definition will not allow the code to compile:

[code]
I understand the objective of forcing JS package developers to publish typings, but there should be a canonical way to make it work without it.

[2016-11-20 16:20] vladima commented on #12392
can you provide a repro scenario or maybe share your code (we'll sign NDA if necessary)?

[2016-11-20 16:39] Janne252 opened #12395 "/// <reference path="..." /> ignored, resulting in invalid --outFile order of files"
**TypeScript Version:**  2.2.0-dev.20161120

**Code**
Full source code can be found at [Janne252/jannengine](https://github.com/Janne252/jannengine)

**Expected behavior:**
`/// <reference path="./baseRenderable.ts" />` defined in [polygon.ts](https://github.com/Janne252/jannengine/blob/master/src/system/drawing/polygon.ts) should make sure that [baseRenderable.ts](https://github.com/Janne252/jann

[2016-11-20 16:43] SaschaNaz commented on #12394
This is not an answer but you can insert triple backticks to prevent incorrect document format.

<pre>
[code]
</pre>

[2016-11-20 18:18] aleksey-bykov commented on #12265
because using `(...T)`  you can only do trivial mapping (property of some type to a parameter of exactly the same type), sure it will  support this exact use case, but extrapolating the ideas of mapped type we might support more sophisticated use cases:

[code]

[2016-11-20 19:21] aluanhaddad commented on #12394
InnerHTML is a string but the API expects a number.
If it requires a number and what you have is a string you should convert it appropriately.
You can use the `Number` or `parseInt` or `parseFloat` global functions. Remember to pass a radix when calling `parseInt`.

[2016-11-20 19:47] aluanhaddad commented on #12382
First of all I apologize for any confusion due to my example which was actually kind of a hack.
I definitely agree that it is much better remove the `export as namespace` so as to accurately reflect the runtime behavior.

Part of the problem with `Bluebird` is that it has static members such as `all` which differ slightly from the the analogous members of `PromiseConstructor`. So honestly my solut

[2016-11-20 19:51] aluanhaddad commented on #12392
I'm still using webpack 1.13.3 and I haven't noticed any performance issues whatsoever. I have also used all the versions mentioned. I also use JSP and more often, and I find that the translation speed has not significantly changed between these releases.

[2016-11-20 20:06] aluanhaddad commented on #12393
This is an issue with the declaration files for ramda as they are specified in the link to repo. The new Mapped Types feature #12114 allows this pattern to be expressed very elegantly.

[2016-11-20 20:22] aluanhaddad commented on #12356
Roger. I was asking because I find the following pseudocode very confusing
[code]
What is your goal? Is it to have `modulea` appear as though it exposes the augmentations introduced by `moduleb` or is to merge `modulea` into `moduleb` and expose the augmented module from the latter?

[2016-11-20 22:23] #11854 closed

[2016-11-20 22:23] mhegazy commented on #11854
thanks for confirming.

[2016-11-20 22:30] wpitallo commented on #12392
Hi Vlad,

Sure, do you have an email address that I can use to add you to our repo?

Thanks for the help, really appreciate it.

[2016-11-20 22:33] vladima commented on #12392
vladima `at` microsoft `dot` com

[2016-11-20 23:07] #12260 closed

[2016-11-20 23:13] mhegazy commented on #6615
@mayerwin you can either define the whole module as `any`:

[code]

or give it more details about the type of the export `MyClass`:

[code]

you can find more information about authoring declaration files at: http://www.typescriptlang.org/docs/handbook/declaration-files/introduction.html

[2016-11-20 23:20] mhegazy commented on #12387
The definition of HTMLElement attributes like `backgroundColor` comes from `lib.d.ts`. Currently `backgroundColor` is defined to be `string | null`. I am afraid we can not make it a list of values as [colors in CSS](https://developer.mozilla.org/en-US/docs/Web/CSS/color_value) can be any RGB color.

[2016-11-20 23:24] mhegazy commented on #12275
@nagor can you confirm that the issue has been fixed with the latest `typescript@next`.

[2016-11-20 23:30] barbatus opened #12397 "When compiled with LanguageService, relative paths not preserved"
**TypeScript Version:**  2.1.1 / nightly (2.2.0-dev.201xxxxx)

**Code**

I have a TypeScript plugin that uses internally `LanguageService` (created by `ts.createLanguageService`) to compile ts-files.
Compiler options used: `{ target: 'ES5', moduleResolution: 'node', module: 'commonjs'}`.

Say, there is a ts-file `client/main.ts`:
[code]

**Expected behavior:**

The code above compiled into
[code]

[2016-11-20 23:33] mhegazy commented on #12377
we should add an overload to freeze for arrays:

[code]

[2016-11-20 23:44] atrauzzi opened #12398 "What is the best approach for publishing pure TypeScript libaries?"
I'm working on a library that depends on React, Redux and a handful of other usual suspects.

The thing about this library is that it's really not intended to be consumed by ES.  It's just a handful of base classes and conventions that will be used by other TS projects.

This means it has no entrypoint.  Almost like a class library in C#, etc...

What I'm basically aiming for is that the inclusion

[2016-11-21 00:35] aluanhaddad commented on #12377
@mhegazy would you be open to a PR?

[2016-11-21 00:44] aluanhaddad commented on #4813
At first I thought this (the ECMAScript proposal) was a bad idea because the preponderance of existing export forms is a source of confusion for newcomers. However, I come around to the idea that the asymmetry between the import and export forms is actually a source of confusion in itself so adding this would be beneficial.

[2016-11-21 00:58] mhegazy commented on #12377
PRs welcomed

[2016-11-21 01:06] BobFrGit commented on #12387
I understand the problem -- that's why I mentioned the # problem.

[2016-11-21 01:23] twoeo commented on #12345
@HerringtonDarkholme Right, it works after removing `type` from `BaseChartSeries`.

But what if I need to ensure all extended `XXXSeries` to contain field `type` ?

[2016-11-21 01:25] HerringtonDarkholme commented on #12345
[code]

[2016-11-21 01:44] tycho01 commented on #12393
I hadn't been aware, thank you for pointing this out! :)

[2016-11-21 02:18] HerringtonDarkholme commented on #12393
Hi, I think this might be relevant usage of delayed index access type for generic. More info here https://github.com/Microsoft/TypeScript/pull/11929#issuecomment-261568542.

Rambda's API is a perfect usage of that.

[2016-11-21 02:29] NStal opened #12399 "Generated declaration d.ts file didn't merge namespace."
According to the doc, the namespace with the same name should merge.
Related docs: [Namespace splitting across file](https://www.typescriptlang.org/docs/handbook/namespaces.html) and [Namespace merging](https://www.typescriptlang.org/docs/handbook/declaration-merging.html)

I'm trying to build my own library `leaf.ts/js`, and trying to generate a `js` and a `d.ts` output so I can use it in both js

[2016-11-21 03:33] bcherny commented on #7588
@kitsonk @HeyImAlex I'm not sure I understand. It seems to me that adding a second param is strictly better than having a second param that is an `any`. The problem of typing unknown runtime exceptions is a general problem, and is distinct from the problem of typing known runtime exceptions.

[2016-11-21 04:27] twoeo commented on #12345
@HerringtonDarkholme
My actual scene is below with the same problem.

`BaseSeriesSettings` is base class for series settings, may include some common property.
`BaseSeries` is base class extends BaseSeriesSettings , with some fields to be required (e.g. `type`) and som other common property (e.g. `name`) .
`ChartSeries` is just like a versatile class with automatically type check to use.

But it c

[2016-11-21 05:12] HerringtonDarkholme commented on #12345
@twoeo Github issues isn't for Q&A. Would you mind putting this in stackoverflow? I'm happy to answer it.

Your original issues isn't a bug but rather a question. So I think  we can close discussion here and move to a better place.

[2016-11-21 05:17] #12015 closed

[2016-11-21 05:45] tycho01 commented on #12393
If you'd forgive a follow-up question (which I can take to SO if deemed inappropriate here), I'm trying to figure out how to generalize the `mapObj` example of aluanhaddad's Mapped Types link:
[code]
... to enable types separated by key, while in this example we seem to have a single T/U for the whole (multi-key) function call.
So I get that this kind of separation could be achieved along the line

[2016-11-21 05:52] ktersius commented on #12356
I've included a snippet of code usage so that you can see the differences in usage. The rethinkdbdash driver basically wraps the rethinkdb driver and exposes all the methods of the rethinkdb namespace on the variable that you get back from calling rethinkdbDash({db:'devDB'});

Thus I have to re-declare all rethinkdb.Func..XYZ on the RDash interface that is returned. So now I'm asking if there is a

[2016-11-21 06:01] HeyImAlex commented on #7588
The only times that exceptions are typed is in catch blocks and rejected promise handlers, so it's not really a general problem. Even if you _know_ the type of a rejected promise is `T`, because of the possibility of an unknown exception it will always _actually_ be `T | any`, which is really just `any`. Unless you can statically tell whether an exception can occur, you can't tell what the value p

[2016-11-21 06:17] unional opened #12400 "Accepting `undefined` for generic as optional"
tsc: 2.2.0-dev.20161116

Discover this behavior from https://github.com/typings/registry/pull/914

This is the original code:
[code]

However, this does not work well with type guard:
[code]

Since generic type can be anything, including `undefined`, I'm considering to remove the optional designation:

[code]

However, now the creation code fail:
[code]

The workaround is to depends on infer type:

[2016-11-21 06:19] unional commented on #12400
I understand that this is mixing two different contexts: Type of the value and type of the reference. But it would be nice to have a better solution to describe this situation.

[2016-11-21 06:20] twoeo commented on #12345
@HerringtonDarkholme
Well.. Never regard this as Q&A, maybe I should change a way to describe.

**Main problem is:**
Flow Analyze don't work as expected when combining Intersection and Union syntax.

**Problem Code**

`B&A` `B&C` works well as ***Code1***.
`A|C` works well as ***Code2***.
`B&A | B&C` compiled error as ***Code3***.

   Property 'a' does not exist on type 'B & C'.

So should this wo

[2016-11-21 06:30] bcherny commented on #7588
That makes sense, thanks for the explanation. So in TS `never` isn't really the same as a Java `throws`, since a return type of `T | never` doesn't really makes sense?

Personally, I like the idea of a more functional way to capture error types, something like a Scala `Either` or Scalaz/Dotty Effect. I don't think that will ever be widely adopted though, since it would require wrapping existing li

[2016-11-21 06:41] vladima commented on #12397
can you please provide a repro code?

[2016-11-21 06:53] HerringtonDarkholme commented on #12393
I don't know whether it is possible in the long term. But it is impossible for now.

[code]
You can try this for now. It's the best of status quo.

[2016-11-21 07:05] tycho01 commented on #12393
Thanks! That'll do for now then. :D
@mhegazy, if this could still be considered an open feature request, would you perhaps reconsider the `question` tag?

[2016-11-21 07:05] dimvar opened #12401 "The spec and the playground disagree on the semantics of instanceof"
**TypeScript Version:**  current playground

**Code**

    class Foo { }
    function f(x: number | Foo) {
        return x instanceof Foo;
    }

**Expected behavior:**

The spec states "The instanceof operator requires the left operand to be of type Any, an object type, or a type parameter type". Expected warning here.

**Actual behavior:**

No warning.

@DanielRosenwasser mentioned that this is

[2016-11-21 07:14] dimvar opened #12402 "Type guard "x instaceof C" specializing in the else branch"
**TypeScript Version:**  current playground

**Code**

[code]

**Expected behavior:**

The spec says that the type guard “x instanceof C” doesn’t have an effect in the false case. So, I expect a warning in the else branch.

**Actual behavior:**

x is specialized to Bar. No warning.

@DanielRosenwasser mentioned that this is likely a spec bug.

[2016-11-21 07:31] unional commented on #12400
As a counter argument, it does make sense that the property should be not optional https://github.com/acdlite/flux-standard-action/pull/45#issuecomment-261863311

[2016-11-21 08:06] andraaspar opened #12403 "Project does not compile on Android (Termux)"
**TypeScript Version:**  master branch 2016-11-21

**Code**

[code]

**Expected behavior:**
Project to compile successfully.

**Actual behavior:**
[code]
And no js files are generated, only .d.ts.

**Workaround**
Edit Gulpfile.ts and replace ```/bin/sh``` with ```sh``` on line 74:
[code]
Becomes:
[code]
This is because Termux does not have access to the root folder, and uses a different path to sh

[2016-11-21 08:07] joaomoreno commented on #12175
cc @waderyan @dbaeumer

[2016-11-21 08:37] gcnew commented on #12345
You initial example code works in latest if you remove `type: string` from `BaseChartSeries`. If you are suggesting simplification of `string & 'literal'` to just `literal` it's already been suggested in https://github.com/Microsoft/TypeScript/issues/12289. The latest example seems to be a special case of simplification with literal union.

On a side note: such use of discrimination properties loo

[2016-11-21 08:46] twoeo commented on #12345
Thanks @gcnew ~
But removing `type: string` is different with my intention.
As `type` in `B` (lastest code), the purpose is to keep 2 same interface, which have different requirement of fields.

[2016-11-21 08:49] twoeo commented on #12345
It may not be vague in a specific scene.
like `ChartSeries` and `SeriesSettings`.

Another example may be React.
Every React component have a State interface.
You need provide every required field in initialization of a State,
but don't need to do so when setState({xxx:xxx})

[2016-11-21 08:50] HerringtonDarkholme commented on #12345
[code]

If you still need

[2016-11-21 08:53] ethanresnick opened #12404 "Function type union works unexpectedly"
**TypeScript Version:**  nightly (2.2.0-dev.20161121)

**Code**

[code]

**Expected behavior:**
The call to `fn(1, 2, 3)` should succeed, as it should match the `(...args: any[]) => any` part of the union.

**Actual behavior:**

I get the error: "Supplied parameters do not match any signature of call target."

[2016-11-21 09:04] towertop commented on #11329
Thanks @DanielRosenwasser , I got it.

@mhegazy I was confused which is preferred when "typeRoots" and "paths" both help to patch declarations for external module.

[2016-11-21 09:07] alitaheri commented on #12404
This is `Working as Intended`. The operator `=>` takes precedence over `|` so:

[code]
Is equivalent to:
[code]
Not:
[code]

Try:

[code]
I tested it, works fine.

Be more careful with operator precedence, it bites bad 🙀

[2016-11-21 09:07] gcnew commented on #12345
Maybe the new [Mapped Types](https://github.com/Microsoft/TypeScript/pull/12114) and [`Partial<T>`](https://github.com/Microsoft/TypeScript/pull/12276) can help with the optionalization.

[2016-11-21 09:16] ethanresnick commented on #12404
@alitaheri Thanks. Good call on the precedence, and you're right that with your revised code the two declarations behave equivalently. However, now *both* function calls give an error! So I guess the issue is with how the two types are being unioned? I'll update the OP accordingly.

[2016-11-21 09:40] thorn0 commented on #12404
Duplicate of #7294 ?

[2016-11-21 09:40] twoeo commented on #12345
Thanks @HerringtonDarkholme , it works and useful.
Thanks @gcnew , this may be best solution, waiting for 2.2.

[2016-11-21 09:40] #12345 closed

[2016-11-21 09:55] ethanresnick commented on #12404
Seems like it might be, though I'll wait for @RyanCavanaugh to confirm before closing this.

[2016-11-21 10:19] ethanresnick commented on #12404
Looking at #7294 more closely, they're definitely the same problem conceptually. I'm gonna give this a close.

[2016-11-21 10:19] #12404 closed

[2016-11-21 10:25] mindplay-dk opened #12405 "error TS5053: Option 'declarationDir' cannot be specified with option 'outFile'."
Attempting to change the declaration file output directory, I get the following error:

`tsconfig.json` looks like this:

[code]

I want my `.d.ts` file emitted somewhere else, since that's not a public asset.

Why is this not permitted?

I'm forced to create two (near-identical) `tsconfig` files and run the compiler twice to get the declaration file and output file. What for?

[2016-11-21 10:43] RodionKulin commented on #10775
This can be fixed without reinstalling on clean VM. Just use the solution provided here
https://github.com/Microsoft/TypeScript/issues/7519

Try deleting: %localappdata%\Microsoft\VisualStudio\14.0\ComponentModelCache,
And run devenv /setup from the Developer Command Prompt for VS2015 (as an admin).

I experienced the same CommentSelection command disappear after installation of TypeScript for Vis

[2016-11-21 11:34] acuemor opened #12406 "Using external modules. Import and export doesn't work"
**TypeScript Version:**  2.0.8

As I read, using Namespaces in Typescript is not the best choice. Instead, I'm trying to use external modules, but I have some problems.

**Code**

[code]

The problem I have is: Uncaught: ReferenceError: Exports is not defined

The question is: How is the correct way to import and export modules in TypeScript using ES2015 syntax?

I try importing the module in diff

[2016-11-21 11:41] canufeel opened #12407 "Feature request: Multiple level deep Static types for dynamically named properties."
## Background

In frameworks like Ember the following pattern would be very common:

[code]

Having a declaration file for Ember like the following:

[code]

would result in `const myPropValue = get<myComponent, 'myProp'>(this, 'myProp');` inferring a type as `Ember.ComputedProperty<number>` which is not what we really want as the way `get` method works is not just `T[K]` but : `T[K]` and then `if

[2016-11-21 13:19] aluanhaddad commented on #12406
I need to choose an appropriate loader Rapunzel.

[2016-11-21 13:42] mayerwin commented on #6615
@mhegazy Thanks 👍, I wasn't aware of the possibility to declare the whole module as any. It works. It would deserve to be highlighted more to help people know how easily they can tap into the JS ecosystem if they make the move to TS.

[2016-11-21 15:07] HerringtonDarkholme commented on #12407
Thanks for raising this up. Also related https://github.com/Microsoft/TypeScript/issues/12349

[2016-11-21 15:52] shlomiassaf opened #12408 "Throw when trying to invoke a class without new"
**TypeScript Version:**  2.2.0-dev.20161120

On ES6 you can't use classes as if they were functions.

**Code**
[code]

Will throw at runtime:
[code]

However, it will pass typescript checks, even if targeting **es6**

I would expect an error if I target ES6.
IMO, it should throw with ES5 as well by default and only opt in not to throw, otherwise projects with ES5 target will not be able to easily

[2016-11-21 16:29] tkrotoff opened #12409 "Wrong type with Promise chaining"
With 2.1.4 (edit: first reported with typescript@2.2.0-dev.20161121):

[code]

On TypeScript playground, no problem (edit: this is not true anymore, was working with 2.0.10, not with 2.1.4): https://www.typescriptlang.org/play/index.html#src=declare%20function%20createHello()%3A%20Promise%3CHello%3E%3B%0D%0A%0D%0Ainterface%20Hello%20%7B%0D%0A%20%20world()%3A%20Promise%3Cany%3E%3B%0D%0A%7D%0D%0A%0D

[2016-11-21 16:31] Jameskmonger opened #12410 "Operator '+' cannot be applied to types 'T' and 'T'."
**TypeScript Version:**  2.1.1 / nightly (2.2.0-dev.201xxxxx)

**Code**

[code]

**Expected behavior:**

Code to compile fine, because `T` is of type `string | number` and therefore can have the `+` operator applied.

**Actual behavior:**

`Operator '+' cannot be applied to types 'T' and 'T'.`

[2016-11-21 16:46] meakyl commented on #12390
I have the same problem with the 2.1.1rc

[2016-11-21 16:52] hornetnz opened #12411 "fileExists is not a function"
Our tests recently started failing when tslint updated and changed its' dependency to typescript v2. Once we updated the necessary version #s in our package json, these errors started appearing once gulp test was executed.

Module build failed: TypeError: fileExists is not a function at Object.findConfigFile (/Users/###/contacts-ui/node_modules/typescript/lib/typescript.js:58911:17)

I set all the

[2016-11-21 17:04] nagor commented on #12275
@mhegazy yeah. It seems to work for me with 20161117. Thank you.

[2016-11-21 17:04] #12275 closed

[2016-11-21 17:09] Igmat commented on #6579
I've forgotten to point to some cases for intersections and unions of `regex-validated` types, but I've described them in latest test case. Should I update `Design proposal` to reflect that minor change?

[2016-11-21 17:14] daprahamian commented on #6487
:+1:

[2016-11-21 17:28] pizza2code commented on #10909
Note that this occurs outside of parallel Typescript builds: It just occurred with my Gulp build, where the HTML file generator made the destination directory before Typescript.  Also using version 1.8.10

[2016-11-21 17:34] mhegazy commented on #12399
you are including the .d.ts and .js files. you only need the .d.ts files. The compiler sees two declarations for `Leaf` one in the `script/lib/leaf.js` and one in `script/lib/leaf.d.ts`.

[2016-11-21 17:37] mhegazy commented on #12411
Can you share more context on how we can reproduce this locally? @ivogabe does this ring a bell?

[2016-11-21 17:40] mhegazy commented on #12406
What module loader are you using? webpack? what module system?

[2016-11-21 17:42] mhegazy commented on #6615
you can find short-hand module declarations in:
http://www.typescriptlang.org/docs/handbook/modules.html#shorthand-ambient-modules
and in http://www.typescriptlang.org/docs/release-notes/typescript-2.0.html#shorthand-ambient-module-declarations

[2016-11-21 17:46] mhegazy commented on #12393
Mapped types should enable these scenarios. The change needed is to update the declaration files. if there are other ones that are not covered please provide more information about why mapped types is not sufficient.

[2016-11-21 17:51] unional opened #12412 "2.1 compile error: "Unexpected token , fo"
[code]

produces:
[code]

instead of:
[code]

[2016-11-21 17:52] unional opened #12413 "2.1 compile error: "Unexpected token ," for ternary operator."
[code]

produces:
[code]

instead of:
[code]

Tested 2.0.10 is working correctly.

[2016-11-21 18:05] #12412 closed

[2016-11-21 18:05] vladima commented on #12413
@unional looks like this issue is identical to https://github.com/Microsoft/TypeScript/issues/12412. Closing the other one since this one seems to have better title and description

[2016-11-21 18:06] unional commented on #12413
Just closed. Don't know why it is created twice.

[2016-11-21 18:25] hornetnz commented on #12411
Honestly, not sure how to tell you to reproduce locally. I can provide any log or config files needed, but haven't been able yet to make an empty project with the previous version settings to test. I can't say for sure if its a typescript issue, gulp issue, or something else....so thought I'd start here.

[2016-11-21 18:31] vladima commented on #12411
can you share the source code? NDA can be signed if this is necessary.

[2016-11-21 18:33] waderyan commented on #12175
Looks like this was picked up by TS here https://github.com/Microsoft/TypeScript/pull/12375

[2016-11-21 18:36] hornetnz commented on #12411
Likely not, its quite a large project. Am trying things with a coworker to see if we can figure it out, but would greatly appreciate any suggestions in the mean time. If we get totally roadblocked, I'll look deeper into if we're allowed to send source. Thanks!

[2016-11-21 18:39] waderyan commented on #12365
@heroboy noted on my end. thank you.

[2016-11-21 18:44] mhegazy commented on #12398
related discussion can be found in to https://github.com/Microsoft/TypeScript/issues/12358.

Typically you would ship a library with a .js file(s) and a matching .d.ts file(s).

You should be able to ship a source-only library, where your users would need to "include" the sources. some of the issues you would have to address are:
- how do your users include the files? do they copy them locally, th

[2016-11-21 18:45] RyanCavanaugh commented on #12408
Not sure how far down the rabbit hole we want to go. The `apply` method *does exist*; the fact that it throws an exception doesn't mean it isn't there. We generally don't encode the "this method will throw an exception" into the type system.

[2016-11-21 18:48] RyanCavanaugh commented on #12408
I don't see any good options here.

If we change the ES5 emit now, who knows who we'll break, and we'll break them in pretty bad ways. People already write ES5-downleveled classes which detect when they're invoked without `new` and fix up the call (by returning `new MyClass()` out of the constructor).

Removing `apply` from the type of the class is clearly wrong -- the method does exist. The fact

[2016-11-21 18:49] shlomiassaf commented on #12408
You can **never** X.apply on a Class.

This is a classical type error that can, and should be prevented in design time.

If JS was a typed language, would it allow it? I guess not since it will never be valid...

TS can help future issues here, a lot.

[2016-11-21 18:52] shlomiassaf commented on #12408
Well, not many people knows it will be an issue with an ES6 target...

I'm not saying to remove the apply, i'm saying to make it error or maybe a warning...

The current state is that the type system allows a type error that it know about, know it will happen for sure.

let's leave ES5 aside for the moment, I agree it will be a breaking hell.

For es6 at least, you know for sure that it will not w

[2016-11-21 18:54] RyanCavanaugh commented on #12408
We also could know statically that `new URL('htp;/wo')` is going to throw an exception. It's just a question of scope.

[2016-11-21 18:57] shlomiassaf commented on #12408
Agreed, but `new URL()` will not work at all targets, right?

[code]

Will work at es5 but not at es6....
TypeScript **hides** that from the user... so at least a warning?

[2016-11-21 19:10] waderyan opened #12416 "IntelliSense does not work for common module pattern"
Copied from https://github.com/Microsoft/TypeScript/issues/12278#issuecomment-261000712
OP = @abgivant

I use a similar module pattern in an application I'm working on, and the lack of IntelliSense/definitions for those has been an issue for me as well.

Mine follow this basic pattern:
[code]

Would it be possible to do something like include an option in the jsconfig.json file to specify a proper

[2016-11-21 19:11] waderyan commented on #12416
From @mhegazy ([here](https://github.com/Microsoft/TypeScript/issues/12278#issuecomment-261017178)):

@abgivant, this pattern is actually an easier one to support, we already have plans to do so on the future. it is a general construction patter that is common in JS.
the `this` one is a bit more tricky though.

[2016-11-21 19:11] waderyan commented on #12416
From @abgivant ([here](https://github.com/Microsoft/TypeScript/issues/12278#issuecomment-261018866)):

@mhegazy Ah cool. Is that part of the "expando" discussion, or is there a more specific feature in the works for things like that?

[2016-11-21 19:11] RyanCavanaugh commented on #12379
We are not accepting suggestions for emit change around `private`. To date, dozens of people have tried; none have produced anything that actually works.

For example, this can't plausibly handle any amount of indirection, or invocation of the private method using `call` / `apply`, etc.

[2016-11-21 19:11] #12379 closed

[2016-11-21 19:11] waderyan commented on #12278
Let's move the latter discussion to the new issue #12416

[2016-11-21 19:12] ivogabe commented on #12411
Could you at least share your gulpfile and the call stack of the error?

[2016-11-21 19:20] electricessence commented on #12374
@aluanhaddad OHHH WOW. Okay...  That's really smart. :|
I didn't even think of that.  Very cool.  Thank you.

[2016-11-21 19:20] #12374 closed

[2016-11-21 19:26] #12278 closed

[2016-11-21 19:28] RyanCavanaugh commented on #12391
@rajinder-yadav please ask questions on Stack Overflow -- this isn't a general support forum for TypeScript. Thanks!

[2016-11-21 19:30] RyanCavanaugh commented on #12403
Accepting PRs if anyone wants to get this working and can test on the existing platforms

[2016-11-21 19:31] hornetnz commented on #12411
Sure, this is the complete error/trace that we're getting on virtually all the main files. Attached is the gulp build file. Let me know if you were referring to a different gulp file.

ERROR in ./src/app/index.module.ts
Module build failed: TypeError: fileExists is not a function
    at Object.findConfigFile (/Users/nikoleizinsli/contacts-ui/node_modules/typescript/lib/typescript.js:58911:17)

[2016-11-21 19:31] mhegazy commented on #12403
dose `jake local` work?

[2016-11-21 19:34] #12175 closed

[2016-11-21 19:40] ivogabe commented on #12411
The stack refers to awesome-typescript-loader; @s-panferov any ideas?

[2016-11-21 19:42] RyanCavanaugh commented on #12380
Duplicate #10057

[2016-11-21 19:42] #12380 closed

[2016-11-21 19:44] mhegazy commented on #12413
@vladima can you take a look.

[2016-11-21 19:48] waderyan opened #12417 "Automatically generating getter and setter"
_From @user414 on April 24, 2016 12:39_

I couldn't find this issue already existing. I was starting to make variable public just to avoid the setter/getter manual writing, I knew it was time to look for something. Luckily someone beat me to it

https://marketplace.visualstudio.com/items?itemName=DSKWRK.vscode-generate-getter-setter

perhaps this code can be integrated in the mainline, or use as a

[2016-11-21 19:48] waderyan commented on #12417
_From @dbaeumer on November 15, 2016 19:0_

@waderyan this should come from the TS team.

[2016-11-21 19:49] dbaeumer commented on #10092
@waderyan no not exactly the same. He has a nice suggestion of using snippets to create import statements. The major problem is that if write a new import statement then you do `import {} from 'fs'` and then you have to move the cursor back into {} to complete symbols. This is not very user friendly and I like his suggestion. But that might need a combination of work on our end (extend the snippet

[2016-11-21 19:54] rajinder-yadav commented on #12391
@RyanCavanaugh it started off me feeling this was a bug, I even followed up, don't see this as asking for help.

[2016-11-21 20:01] hornetnz commented on #12411
That was my next action, actually (checking awesome-typescript-loader). It was on 0.14, but the latest is 2.x. Changing that got me past the fileExists errors, but now getting a TON of "Namespace 'ng' has no exported member 'IPromise'."

[2016-11-21 20:05] blakeembrey commented on #12391
This might be an issue with the definition too, which you can report to DefinitelyTyped. It should work without `dom` for Node.js usage.

[2016-11-21 20:08] unional commented on #10642
@RyanCavanaugh for some reason this is not working for 2.0.10 and 2.1+.

There got to be something on my side as it was working....

[code]

Need some help. 🙇

[2016-11-21 20:13] rajinder-yadav commented on #12391
Thanks @blakeembrey, was not sure initially where to go report this.

[2016-11-21 20:18] dimvar opened #12419 "The spec doesn't describe the newest cast semantics"
When casting from a type A to a type B, the spec says that either A is assignable to B, or B is assignable to A. But the playground allows something more general: in some cases, as long as A and B have a common subtype, it doesn’t warn. The next example is valid.

[code]

The playground uses the [comparable relation](https://github.com/Microsoft/TypeScript/pull/5517). The spec should be updated to

[2016-11-21 20:23] #12334 closed

[2016-11-21 20:29] arlowhite opened #12421 "Parent constructor function parameter depends on subclass constructor's parameter-defined class property"
**TypeScript Version:**  2.0.10 and 2.2.0-dev.20161121

## Code

This is the simplest code that illustrates the problem. Yes, you could avoid the issue by just dropping `this.` within the Child's anonymous function. See bottom of report for description of real-world example.

[code]

**tsconfig.json**
[code]

## Expected behavior:

`this.someFunctionNeedsThis` should be defined at the time it exec

[2016-11-21 20:31] electricessence commented on #12307
I take back what I said.  This is not fixed.
I'm using the latest build for today 1121.
And it is stripping out the ```/*!``` comments.

[2016-11-21 20:48] RyanCavanaugh commented on #12421
The problem here isn't the parameter property per se -- properties with initializers also have this problem.

The real missing piece of information is that the function expression is immediately executed. If the function were executed later, there wouldn't be a problem. If we knew the expression was immediately invoked, we could disallow use of `this` inside it (this code errors in ES6 due to acce

[2016-11-21 20:50] RyanCavanaugh commented on #10642
@unional please post question on Stack Overflow and/or provide a self-contained example

[2016-11-21 20:52] #12413 closed

[2016-11-21 20:52] mhegazy commented on #12377
also we need to handle functions differently.

[code]

[2016-11-21 20:55] andy-ms opened #12423 "Object literal in async function should only specify known properties"
**TypeScript Version:** nightly (2.2.0-dev.20161121 )

**Code**

[code]

**Expected behavior:**

Both are errors.

**Actual behavior:**

Only the first is an error.

[2016-11-21 21:08] barake opened #12424 "Mapped conditional types"
#12114 added mapped types, including recursive mapped types. [But as pointed out by @ahejlsberg](https://github.com/Microsoft/TypeScript/pull/12114#issuecomment-259776847)

[code]
I couldn't find an existing issue with a feature request.

Conditional mapping would greatly improve the ergonomics of libraries like Immutable.js.

[2016-11-21 21:42] electricessence commented on #12307
I've verified that stripping out the ```/*!``` comment occurs when there are imports and remains when there is not.

[2016-11-21 21:53] d-ph commented on #12382
Yeah, I noticed, that some of Bluebird's methods are slightly different than the standard's. Will see how it goes.

I haven't thought of using the `lib.es201x.*.d.ts` declaration files instead of `core-js`'s. That's a really useful piece of advice. Thanks.

And thanks for taking time to look at my solution. Just wanted to mention, that I'd just like you to take a look at the `bluebird-global/index

[2016-11-21 21:59] unional commented on #10642
Yes. I can reproduce it:

[code]

[code]

[2016-11-21 22:46] #12411 closed

[2016-11-21 22:50] waderyan opened #12426 "Quick Info for imported JSON"
_From @Thaina on December 17, 2015 12:13_

require("file.json") should load json data with the intellisense as of require another js with module.exports. But vscode can't parse it out to intellisense

_Copied from original issue: Microsoft/vscode#1415_

[2016-11-21 22:50] waderyan commented on #12426
_From @dbaeumer on December 17, 2015 15:3_

@Thaina can you please provide an example. It is hard to understand what exactly you mean.

[2016-11-21 22:50] waderyan commented on #12426
_From @Thaina on December 18, 2015 3:10_

@dbaeumer
I have config.js

[code]

and config.json

[code]

As you can see. require js file got the intellisense loaded. But json file cannot

![image](https://cloud.githubusercontent.com/assets/1042507/11888354/0f4732d0-a56f-11e5-810c-557adcec94b4.png)

[2016-11-21 22:50] waderyan commented on #12426
_From @Thaina on December 19, 2015 18:52_

@dbaeumer @bpasero What info you still need?

[2016-11-21 22:50] waderyan commented on #12426
_From @egamma on December 20, 2015 17:7_

@thaina. Now it is clear, thanks. Node.js supports to require a json file since a while, but unfortunately we do not support this in the JS language service, yet.

[2016-11-21 22:50] waderyan commented on #12426
Looking at this today and it looks like we don't get IntelliSense for either.

![image](https://cloud.githubusercontent.com/assets/2449568/20503902/a4af1852-aff9-11e6-994f-084606ab84a0.png)\

Output from TS Service confirms Visual Studio Code is displaying the correct info.

[code]

[2016-11-21 22:54] tomwanzek commented on #10937
This appears to be still an issue with:

* TS 2.1.0-dev.20160913
* VSCode 1.7.1

Replicates as follows:
* `this` within a typed function context will "appear" as `any`
* members of `this` type that exist do not show VSCode error, but will themselves show as type `any` (there is no  language-service support for auto-suggestion)
* trying to use an attribute/method that does not exist on `this` type,

[2016-11-21 23:31] RyanCavanaugh opened #12427 "Suggestion Backlog Slog, 11/21/2016"
* #6107 Report errors in original phases
* #6138 ES6 method objects should not have a prototype property
* #5205 Extending namespaces
* #11467 Infer literals from getter-only properties
* #11559 Make flag / non-flag enum difference more obvious
* #11804 Provide sugar for getters over privates *or* `private set`
* #11793 `new this` return types in static methods
* #10471 Narrowing subtype-reduced c

[2016-11-21 23:32] RyanCavanaugh commented on #12427
* #6107 Report errors in original phases
  * :+1: move things as early as feasible
* #6138 ES6 method objects should not have a prototype property
  * Won't Fix
* #5205 Extending namespaces
  * :-1:
  * Preferred: `static Names = { ...Base.Names, Baz: "Baz" }`
* #11467 Infer literals from getter-only properties
  * getters are functionish and propertyish and we are bound to be inconsistent
  * :-1

[2016-11-21 23:38] RyanCavanaugh opened #12428 "Support JSDoc `@augments` property"
So that JS classes can specify type arguments in their `extends` heritage

[2016-11-21 23:51] #12314 closed

[2016-11-21 23:52] wallverb commented on #11559
Since this is going to be closed soon due to thumbs-down (totally understand braking change) just a quick question - would introducing flag for non-flag enums make sense ? I know you don't want any more flags :D
It's just that probably majority of "normal users" would prefer non-flag enums behavior (unless you are writing compiler ;) - but I might be wrong :) But since it doesn't look like string

[2016-11-21 23:53] electricessence commented on #12307
Another point of interest: Shouldn't the copyright comment be retained in the companion declaration files?

[2016-11-21 23:58] aozgaa opened #12429 "Inconsistent Error: '--jsx' is not set"
**TypeScript Version:**  master, commit 4c6b94f16fbf9752181178a95bb3f53e9d2f6ef2

**Code**

Description follows, download the .zip for a runnable example.

[no_jsx_flag.zip](https://github.com/Microsoft/TypeScript/files/605083/no_jsx_flag.zip)

Note that by default, the compiler setting `allowJs` is false

[code]
and compile at the base directory (ie: the one with tsconfig.json), using
[code]

**E

[2016-11-22 00:18] waderyan commented on #5829
@dbaeumer did you say this issue would become obsolete with builder logic?

[2016-11-22 00:41] trubit opened #12430 "Property hints for union types"
Provide property hints for union types. See union type of `field` property of `Selector` interface.

**Actual behavior:**
[code]

It clearly knows something is missing:
[code]

Typechecker is working great here even in more complicated cases. But hints should give me results for possible properties, in this case `cond`.

Consider more complicated scenario:
[code]

Code is now valid, because Combin

[2016-11-22 01:06] atrauzzi commented on #12398
The issue is that there's no JS to ship until they use it really.  They're TypeScript classes in various modules, not a single module and should only be compiled when referenced.

Ideally I think they'd be using JSPM or WebPack, yeah.  Or tsc actually.  So long as their sources can path to mine I guess?

[2016-11-22 01:28] mhegazy commented on #12398
I do not think we have recommendation for this scenario specifically. potentially, your users can add a pre-build step that copies the sources from your files locally before passing them to tsc or webpack.

[2016-11-22 01:48] yortus commented on #12423
A third variant that currently gives no errors:

[code]

That's semantically identical to `bar`. So if `bar` should be an error, what about `baz`?

[2016-11-22 01:57] tycho01 commented on #12393
@mhegazy: I apologize, I'll admit my original example ended up not covering the breadth of my intended result. I've tried to update it accordingly.
The essence here is covered by the

.. which HerringtonDarkHolme stated is not presently possible.

Note that this becomes relevant in my (updated) example as different keys end up with different value types, dependent on both the transforming function

[2016-11-22 02:25] Kovensky commented on #12364
Stubbing it such that it is not a syntax error, has type `(string) => Promise<any>`, and is emitted as-is could be useful for using it with e.g. https://github.com/airbnb/babel-plugin-dynamic-import-webpack or eventually with https://github.com/webpack/webpack/issues/3098 in webpack 2; but I don't know how good an idea that is.

[2016-11-22 03:09] NStal commented on #12399
@mhegazy I need to have leaf.js into my compiled result needn't I? Maybe I should manually concat them.

[2016-11-22 03:09] #12399 closed

[2016-11-22 03:19] doxiaodong commented on #10977
same with 2.1.1,

[2016-11-22 04:14] McSiMusic opened #12432 "Two tsconfig files with Dependency issue"
**TypeScript Version:**  2.0.3

I have solution with two ts config files. The solution has such folder structure:
![solution structure](https://cloud.githubusercontent.com/assets/18289205/20510429/d635bea4-b0a2-11e6-90e3-ceb46aab926f.jpg)

**Root tsconfig.json:**
[code]

**Test\tsconfig.json:**
[code]

Test.ts has dependency from Namespace.d.ts.

**Expected behavior:**
Success build: Namespace1.ts

[2016-11-22 04:30] aluanhaddad commented on #12364
@Kovensky anyone can easily write that stub should they need it so I don't think its declaration belongs in the language any more than `require`, `define`, or `System.import`.

[2016-11-22 04:33] Kovensky commented on #12364
@aluanhaddad not quite. Just writing a `(` after `import` causes a syntax error, regardless of anything you try to do declaration-wise. This needs compiler support.

[2016-11-22 04:44] aluanhaddad commented on #12377
Yeah there are a bunch of tricky scenarios. Also something that came to mind when special casing `ReadonlyArray<T>` is that it's not really the same contract expressed by `Readonly <T[]>`. While it is convenient to conflate them in this specific case, they don't mean the same thing in terms of how they are used. The point you raise about functions is critical and I assume construct signatures are

[2016-11-22 05:59] kcbleeker commented on #12365
@waderyan For reference on @roblourens idea about tslint autofix, it doesn't look like it can autofix this at this yet, and I feel that running a formatOnSave which "breaks" the formatting, and then trying to undo that with lint autofix is the wrong way to operate anyway.

[2016-11-22 06:01] mhegazy commented on #12393
@ahejlsberg is working on adding inference from mapped types. so you should be able to write something like:
[code]

[2016-11-22 06:06] mhegazy commented on #12432
Replied to your [SO](http://stackoverflow.com/questions/40674475/two-tsconfig-files-with-dependency-issue/40734872#40734872) question.

[2016-11-22 06:29] johnnyreilly commented on #12358
Thanks everyone that has commented here; that's really helpful 🌹

@mhegazy, given you've said:

and also given the other scenarios outlined in this issue and @basarat's [specific suggestion](https://github.com/TypeStrong/ts-loader/issues/278#issuecomment-260270995) that, in the case where there is no emit, we execute the following code:

[code]

Which will prompt the user that having `node_modules

[2016-11-22 06:31] andraaspar commented on #12403
No, it fails similarly:

[code]

[2016-11-22 06:38] mhegazy commented on #12358
sounds reasonable. I should note that we have issue https://github.com/Microsoft/TypeScript/issues/11946 tracking emitting node_modules files if they are listed explicitly in the `include`/`files` list in the config file. this allows users who realy want to include the node_modules\*.ts into their compilation.

[2016-11-22 07:36] johnnyreilly commented on #12358
Thanks @mhegazy - I'll plan to make the comment link back to this issue as this has more context.

[2016-11-22 07:48] electricessence opened #12435 "Primitive intersections. Why is this allowed?"
**TS Version**
Currently using 2.2dev for 1121

**Code**

[code]

**Expected behavior:**
The compiler should at least warn the coder that this is invalid.  I know it would be hard to track in some cases, but it seems this blatant declaration shouldn't be allowed.

**Actual behavior:**
No warning occurs.

[2016-11-22 08:08] Knagis commented on #12236
Is there any update on this bug? In our case it prevents us from updating our build tools to the new version as we are using the language service extensively.

[2016-11-22 09:17] OliverJAsh commented on #3192
@weswigham Given your example, how come the final line here fails?

[code]

[2016-11-22 09:25] OliverJAsh commented on #3192
Here's my workaround for string enums with type and value position support, until 2.1 lands with `keyof`:

[code]

[2016-11-22 09:37] Kovensky commented on #3192
@OliverJAsh The error in https://github.com/Microsoft/TypeScript/issues/3192#issuecomment-262187334 is correct. You _are_ using an "enum value" (`Cardinal.East`) as if it was a type. The `type Cardinal` is the union type of all valid `const Cardinal` values (in this example, `'N' | 'S' | 'E' | 'W'`).

If you want to define a type that has a key that can only ever have the value `Cardinal.East`, yo

[2016-11-22 10:25] wpitallo commented on #12392
Posting Email Thread:

Hey, thanks so much.

Really appreciate the help, I suspected that it may be something with the ts-loader.

So I understand what you are saying, one thing though that seems a little strange is that the string-replace-loader is configured in Webpack as a pre loader, so I would have thought that this would make the replacements in all the files before handing them over to the

[2016-11-22 10:26] wpitallo commented on #12392
Hi,

Out of curiosity, is it possible to build just .ts file in your project using tsc.js (i.e using tsc -p <path to config>)?

In tsconfig.json file I’m seeing this include

        "CodeScience.Client.Base/**/*"

However I don’t see this folder anywhere, this is the content of ‘bootstrap’ directory  and it does not have CodeScience.Client.Base in it

.eslintrc
.gitignore
.gitmodules
assets
CodeS

[2016-11-22 10:27] wpitallo commented on #12392
I was using tsc a while back, but when I try to install it now it says that it is depreciated.

So the way this project is set up its also part of a bigger project that includes authentication etc. So "CodeScience.Client.Base/**/*" should just be ignored, it should not be being used in this build process. Removing it has no impact on the performance.

[2016-11-22 10:27] wpitallo commented on #12392
At glance I’d say that problem is not in TypeScript compiler but rather in interaction between ts-loader and TypeScript language service and a few unfortunate details in implementation of ts-loader

From the high level TypeScript language service works in the following way:

First it asks the host to provide a list of root files that should be included in the program. Then it will built the progra

[2016-11-22 10:28] wpitallo commented on #12392
Hey, thanks so much.

Really appreciate the help, I suspected that it may be something with the ts-loader.

So I understand what you are saying, one thing though that seems a little strange is that the string-replace-loader is configured in Webpack as a pre loader, so I would have thought that this would make the replacements in all the files before handing them over to the ts-load to create the l

[2016-11-22 10:39] anvish opened #12436 "Optional property type is not detected in a generic function"
**TypeScript Version:**  2.1.1 / nightly (2.2.0-dev.201xxxxx)
2.1.1
**Code**

[code]
But if `?` is removed, type is detected correctly:
[code]
**Expected behavior:**
Type is detected for both optional and not optional properties.
**Actual behavior:**
Type is detected for not optional properties only.

[2016-11-22 10:58] #12295 closed

[2016-11-22 11:19] HolgerJeromin commented on #12295
I removed the name:string from the base interface and all works as expected

[2016-11-22 11:57] atrauzzi commented on #12398
Would it be enough that they can be accessed from the node _modules folder?

[2016-11-22 14:10] tarruda commented on #3402
@ttowncompiled why not throw a compiler error if an overload has the same parameters with different return type? I think this is what C++/Java compilers do, because overload is only possible for different types/number of parameters(otherwise it would be impossible for the compiler to determine which method to call).

To argument in favor of implementing this feature, I will describe a use case of

[2016-11-22 14:54] Jordan-Hall opened #12437 "preset class properties to undefined"
**TypeScript Version:**  2.1.1

**Code**

[code]

**Expected behavior:**
[code]

**Actual behavior:**
class PartialPolicySearchIten { }

The problem comes when using Reflection it can't find the properties. I would expected that the properties exists as i'm redefining them. Otherwise their very little point is declaring properties of a class.

[2016-11-22 14:55] Artazor commented on #12424
Surely it should be implemented. However, need to find an appropriate syntax. There is possible clash with other proposal: #4890

[2016-11-22 15:10] gentoo90 commented on #12424
Another possible use case is typeguarding Knockout.js mappings, which needs choosing between `KnockoutObservable` and `KnockoutObservableArray`.

In

[code]

`KoItem` should be expanded to

[code]

[2016-11-22 15:14] Jameskmonger commented on #12437
You need to initialise them as undefined to have the effect you want.

**Input**

[code]

**Output**

[code]

[2016-11-22 15:20] Jameskmonger commented on #12402
I agree with @DanielRosenwasser that this is likely an error with the spec.

[code]

`x` can either be a `Foo` or a `Bar`, so if it isn't an instance of `Foo` then logically it must be a `Bar`, surely?

[2016-11-22 15:21] DanielRosenwasser commented on #12437
While this is the original/current behavior, the current ES proposal seems to actually imply that a property will indeed be defined & set to `undefined` even without an initializer.

https://tc39.github.io/proposal-class-public-fields/#initialize-public-static-fields

[2016-11-22 15:29] DanielRosenwasser commented on #12435
The question has always been where to error on these things.

[code]

When `intersect` is resolved, the result creates a new intersection type. But TypeScript never errors on the creation of a type (at least internally).

Instead, you'd have to do a pre-check on the input types or a post-check on the produced type to see whether the types will have colliding primitives, or if any of the properties

[2016-11-22 15:31] DanielRosenwasser commented on #12435
Additionally, I'll note that while it's not necessarily correct, people have taken advantage of this behavior to enforce certain patterns.

[code]

[2016-11-22 15:38] whitecolor commented on #12215
Hope to see this soon, will be a huge improvement too!

[2016-11-22 15:39] DanielRosenwasser commented on #7421
You could also write something like this:

[code]

[2016-11-22 15:45] willemliu commented on #11729
I see the ticket is closed. But I don't see our logo in the Friends page. When can we expect to see the logo on the site?

[2016-11-22 15:56] Janne252 commented on #12395
Well, is there anything that can be done to fix this? Unless I'm mistaken, the Triple-Slash Directives are not working at all.

[2016-11-22 16:12] wstaelens opened #12438 "VS2015 problems with ts 2.x and tsconfig.json generating files"
**TypeScript Version:**  2.0.6.0
**Visual Studio Version**: 2015 Pro update 3 (tested with running as administrator and normal)

**Code**

[code]

**Expected behavior:**
I expected that the generated file  /Script/ts/bing-mapcluster-v8.js should be directly visible and added to my project in source control.

**Actual behavior:**
I followed https://www.typescriptlang.org/docs/handbook/asp-net-4.htm

[2016-11-22 16:45] ypresto commented on #8476
Swift's approach to solve both strictness and lazy initialization is to mark such properties _explicitly_.
Swift is really strict about nil but you can skip this check if you know non-null property is initialized after init() and before used. `!` means "implicitly unwrapped optional" type.

[code]

I think it can be represented by introducing special type definition.

[code]

(NOTE: Swift's `lazy`

[2016-11-22 16:45] dimvar commented on #12402
Right. The fix for this issue should be in the spec, not the implementation.

[2016-11-22 17:32] mhegazy commented on #12393
actually scrap that. it was too late for me last night, and was not thinking right. this is not about generic inference from mapped types. this is about having the function somewhere in the template so that it applies to every property as it is being created. not sure how though..

but i guess we need is somehow apply the function for each value in the template:

[code]

[2016-11-22 17:33] tbosch opened #12439 "Incorrect emit of `__metadata('design:paramtypes', [])` when using `emitDecoratorMetadata` and inheritance"
**TypeScript Version:**  2.1.1

Flags: `emitDecoratorMetadata: true`

**Code**

[code]

**Expected behavior:**
Does not emit `__metadata('design:paramtypes', [])` for `Child` or declares the parameters from the parent class, as `Child` did not declare an own constructor so the constructor of the parent class gets inherited.

I.e.
[code]

**Actual behavior:**
Emits `__metadata('design:paramtypes',

[2016-11-22 17:33] mhegazy commented on #11729
I have updated the site content. should be visible the next time we publish it.

[2016-11-22 17:38] mhegazy commented on #12438
The .js files are not added to the project. they are considered outputs of your build process, similar to your C#/VB .dll files.

But I only have one tsconfig.json !

tsconfig.json is an alternative way to set your compilation settings. You can set your project build properties through the property page if you do not have a tsconfig.json file in your project. if one is available the property pages

[2016-11-22 17:50] willemliu commented on #11729
Thanks Mohamed!

[2016-11-22 17:50] Janne252 commented on #12395
F*** me, there was a circle reference in my source code. BaseRenderable requires Line and Line requires BaseRenderable. Whoops.

[2016-11-22 17:51] mhegazy commented on #12398
I do not think i have any recommendations to share. i had a few possible issues raised in https://github.com/Microsoft/TypeScript/issues/12398#issuecomment-262028935. You might want to make sure that your workflow addresses these issues .

[2016-11-22 17:53] mhegazy commented on #12395
I would not use `/// <reference path="..." />` for this specific reason. i would instead use `files` or `include` in your `tsconfig.json`. a flat list is much easier to debug than a graph of links between files.