[2018-04-06 14:02] krryan commented on #23207
I believe this is related to a problem I had where I was attempting to use `Omit<Foo, 'bar'> & { bar: AltBar; }`, which worked perfectly when `Foo` was some defined type, but when `Foo` was a generic parameter that `extends { bar: Bar; baz: Baz; }`, the `baz` property was not available, only `bar` (as an `AltBar`) was.

[2018-04-06 14:03] JoshuaKGoldberg opened #23208 "Consider ({}).hasOwnProperty instead of Object.prototype.hasOwnProperty in __assign"
[code]

`{}.hasOwnProperty` should be identical to `Object.prototype.hasOwnProperty`. A little bit less code.

[code]

[2018-04-06 14:11] RyanCavanaugh commented on #23200
That line is indeed an error.

It looks like this is a question rather than a bug report. This issue tracker is for tracking bugs and active work on TypeScript *itself*, rather than a general forum for programmers using TypeScript to get help or ask questions.

You can ask questions on sites like [Stack Overflow](https://stackoverflow.com/questions/tagged/typescript).

[2018-04-06 14:54] andy-ms commented on #23196
@rajanshahsa Could you provide a reproducible example that consists of a TypeScript file and a `tsconfig.json` that fails when you run `tsc` on the command line?

[2018-04-06 15:08] alan-agius4 commented on #23202
Thanks for reporting this. I’ll do a fix soon.

[2018-04-06 15:12] ShawnTalbert opened #23210 "Allow property decorator to return `TypedPropertyDescriptor<T>`"
I'd like to suggest that a property decorator return type be widened to include `TypedPropertyDescriptor<T>`

Currently the compiler complains that property decorators can only return `void` or `any` which means I can't get nice strong typing from my property decorators which return property descriptors. Similar to how `MethodDecorator` is declared in `lib.es6.d.ts`?

**Search Terms:**
TypedProper

[2018-04-06 15:28] RyanCavanaugh commented on #23205
Consider
[code]
Giving type `t` `string` would be incorrect.

[2018-04-06 15:28] #23205 closed

[2018-04-06 15:52] andy-ms commented on #23195
@alan-agius4 That's not really easy since it requires going backwards from a module path to the way it was imported. You could construct a reverse mapping yourself by looping over the imports of each module and getting what they resolved to:
[code]

If you're wondering how we synthesize imports for completions, see `function getNewImportInfos` in `importFixes.ts` in this repository, but that metho

[2018-04-06 16:15] alan-agius4 commented on #23195
Thanks @andy-ms for your response and help. I'll have a look at the mentioned implementation. Though my biggest problem was that I don't have `import` declarations as the module I am interested in is an ambient module.

I ended up doing something  along these lines;

[code]

[2018-04-06 16:19] #22818 closed

[2018-04-06 16:19] #22794 closed

[2018-04-06 16:19] #22699 closed

[2018-04-06 16:19] #22630 closed

[2018-04-06 16:19] andy-ms opened #23212 "Goto definition should go to index signature"
**TypeScript Version:**  master

**Code**

[code]

**Expected behavior:**

Goto definition on `.foo` takes me to the index signature.

**Actual behavior:**

Takes me nowhere. This can be tough if you have a complicated type and have no idea where the index signature came from.

[2018-04-06 16:26] DanyelMorales commented on #9259
@arogozine  you could instead try to use one of the following two strategies:

1)  Using a typescript alias path loader for node.js projects:
https://www.npmjs.com/package/@momothepug/tsmodule-alias

2) Avoid using path alias and instead define index.ts for each module you have like in:
https://github.com/palantir/tslint/blob/master/src/index.ts

You can define an "index.ts" inside your "module" o

[2018-04-06 16:31] #22923 closed

[2018-04-06 16:33] lednhatkhanh commented on #23183
Happens for me too, really annoying...

[2018-04-06 16:42] mhegazy commented on #20757
can you share more context? versions of TS and VSCode? a sample project?

[2018-04-06 16:42] #23202 closed

[2018-04-06 16:43] mhegazy commented on #23202
thanks @HolgerJeromin

[2018-04-06 16:48] mhegazy commented on #23204
Duplicate of https://github.com/Microsoft/TypeScript/issues/22565. Fixed by https://github.com/Microsoft/TSJS-lib-generator/pull/394, should be in TS 2.8.2

[2018-04-06 16:51] MrDesjardins commented on #23185
Thank you for your time Ryan.

Writing definition files from an external library in JavaScript is not straight forward. From many issues, questions and blogs, I can see many discrepancy in term of how to configure tsconfig to access a custom definition files as well as how to write them.

I honestly believe that the compiler message is not clear in my particular case, and I wish you could see that

[2018-04-06 16:51] mhegazy commented on #23206
Duplicate of https://github.com/Microsoft/TypeScript/issues/13948

[2018-04-06 16:58] mhegazy commented on #20900
There are two sets of overloads for Date constructor. one in the ES6/S2015 lib, this was fixed by #21757. #21757 missed the set of overloads in ES5 though. this should be fixed by https://github.com/Microsoft/TypeScript/pull/23203.

[2018-04-06 16:58] #20900 closed

[2018-04-06 17:00] mhegazy commented on #23210
but at runtime the decorator will not change the property.. so not sure what the return value is for.

[2018-04-06 17:05] kondi commented on #23206
Oh, sorry then. I even checked quickly that issue before, but it looked different as he complains about getting an error when he should not, and in my case, this is the reverse. However, the reason looks the same, thanks for the reference.

[2018-04-06 17:05] #23206 closed

[2018-04-06 17:05] #23186 closed

[2018-04-06 17:06] mhegazy commented on #23185
So what would be your suggestion for a better error message?

[2018-04-06 17:26] techsin commented on #20757
@mhegazy https://github.com/Microsoft/vscode/issues/47005

[2018-04-06 17:30] RyanCavanaugh commented on #23208
It's a hard-to-measure performance trade-off to cause an object allocation for each property iterated by `__assign`. I'd defer to the current behavior since people can provide their own helper if they need those 11 bytes.

[2018-04-06 17:30] CatGuardian opened #23215 "Add JSDoc's @inheritDoc Support for Static Class Members for TypeScript"
**TypeScript Version:**  2.7.2

**Search Terms:**
IntelliSense
static
subclass
JSDoc
Class
Members
inheritDoc

**Code**

[code]

**Expected behavior:**
For `someProperty` I expect the JSDocs describes for `BaseClass.someProperty` to show up exactly for `SubClass.someProperty`

For `doSomethingUseful(...)` I expect the documentation that was provided for `BaseClass.doSomethingUseful` to show up for

[2018-04-06 17:31] cevek opened #23216 "Goto definition after field exclusion should go to prop signature"
**TypeScript Version:**  master

**Code**

[code]

**Expected behavior:**
Goto definition on `c.a` takes me to the `Foo.a` property

**Actual behavior:**
Goto definition doesn't work

[2018-04-06 17:35] mhegazy commented on #23199
Technically a type with at least one property of type `never` is itself `never`; since there is no run time value that can satisfy that type, and this is it the empty type (i.e. never).

that said, the way the compiler defers getting the types of properties. this is the only way really to reason about structural types and recursive types without chocking. so when an type is created, the compiler o

[2018-04-06 17:39] JoshuaKGoldberg commented on #23208
I would hope `{}.hasOwnProperty` gets optimized away... interesting question.

[2018-04-06 17:40] mhegazy commented on #23215
PRs welcomed.

[2018-04-06 17:41] mhegazy commented on #23215
Also pinging @sjbarag in case he would like to pick this one up.

[2018-04-06 17:42] MrDesjardins commented on #23185
Hi Mohamed,

I suggest reformating the error message to be more accurate instead of being general. In my case, there is a definition file. I would remove the mention of adding a @types/ with NPM, and remove the mention to create a .d.ts. because it is already there.

Concerning clarity, for some time I wasn't sure if TypeScript was seeing the .d.ts I created. I goofed around the tsconfig.json with

[2018-04-06 17:48] mhegazy commented on #23216
At this point the compiler really can not track the key back to its declaration. `Exclude<keyof A, B>` just returns a list of literal types, then the map type generates a new type with properties of the same name..

[2018-04-06 17:50] mhegazy commented on #23185
the real issue here is `module foo` has a well-defined meaning in the language, and it is not the one you are looking for. so we can not just make it an error. there is some historical context there, and in hindsight we should not have overloaded the meaning of the keyword `module` but do not think there is much we can do about this.

can you elaborate

[2018-04-06 17:51] mhegazy commented on #22897
thanks @a-tarasyuk for the detailed explanation. closing.

[2018-04-06 17:51] #22897 closed

[2018-04-06 17:53] DanielRosenwasser opened #23217 "Definite assignment assertions in JSDoc"
[code]

We need a way to convince TypeScript in `strictNullChecks` that `this.element` is initialized in `getElementStyle`.

[2018-04-06 17:55] cevek commented on #23216
I know that is not possible for everything, but maybe you can track some information where from came this symbol if it possible?

In the example above we definitely know that `a` symbol came from `keyof Foo` with defined position in the code.

[2018-04-06 17:58] RyanCavanaugh commented on #23185
@mhegazy during failed module resolution reporting when the module name is nonrelative, we could check the global scope for a symbol with that name. If it exists we can issue a much better error - though it's probably a coinflip whether someone is just trying to import something that isn't importable, or wrote the wrong kind of module declaration.

[2018-04-06 17:59] mhegazy commented on #6270
PRs welcomed. You can find more information about contributing lib.d.ts fixes at https://github.com/Microsoft/TypeScript/blob/master/CONTRIBUTING.md#contributing-libdts-fixes.

[2018-04-06 18:01] cevek commented on #23216
Conditional types is very powerful feature, but with this behaviour without go to definition you also cannot rename refactor

[2018-04-06 18:02] RyanCavanaugh commented on #23185
In fact we can check its declaration to see if it's written as `declare module foo`.

[code]
Cannot find module "foo"
  A namespace declaration for the global 'foo' exists. Did you mean to write 'declare module "foo"'?
``

[2018-04-06 18:04] mhegazy commented on #23217
@DanielRosenwasser had an idea of an `/** @delayinitialized */` on the declaration..

We can also add a tag on `init` like `/** @initializer */` to treat it like a constructor for purposes of definite assignment detection.

[2018-04-06 18:12] sheetalkamat commented on #23183
@andreasgruenh in https://gist.github.com/andreasgruenh/c6c9a87131de87e60ed756f00c2ac881 there is no Info 939 or anything beyond Info 759

[2018-04-06 18:17] mhegazy opened #23219 "Do not type check .js files in referenced node_modules under `--checkJs` and `--maxNodeModuleJsDepth` > 0"
- Create a `jsconfig.json`
- Set `checkJs` to `true`
- run `tsc --p ./jsconfig.json`

Expected:
no errors in `node_modules\*\*.js`.

There is no really good fix for these issues. i would suggest not checking these files

[2018-04-06 18:25] #23195 closed

[2018-04-06 18:30] mhegazy commented on #23185
looks like a good compromise..

[2018-04-06 18:30] mhegazy commented on #23185
PRs welcomed.

[2018-04-06 18:38] mjbvz opened #23221 "JS Doc @param Object Bug"
_From @fleck on April 6, 2018 15:7_

- VSCode Version: 1.22.0
- OS Version: MacOS 10.13.3

Steps to Reproduce:
Create the following file:
[code]

import the previous file and hover over Notification();
[code]

The signature of the function param 'object' is wrongly classified as any, but the descriptions below are correct.
<img width="571" alt="signature incorrect" src="https://user-images.githubu

[2018-04-06 18:38] mjbvz commented on #23221
_From @vscodebot[bot] on April 6, 2018 15:7_

(Experimental duplicate detection)
Thanks for submitting this issue. Please also check if it is already covered by an existing one, like:
- [Intellisense when specifying object properties (#40181)](https://www.github.com/Microsoft/vscode/issues/40181)

[2018-04-06 18:40] mjbvz commented on #23221
Not sure if the first example (with the out of order param member declaration) is a valid jsdoc or not

In the second case, we lose the main `options` comment though, along with all the `@param` tags for the members

[2018-04-06 18:41] andy-ms commented on #23216
[code]

It seems like it should be possible to realize that we're  taking `I["a"]` and therefore the property is derived from `I.a`? Seems like we could make `getRootSymbols` work here. @sandersn

[2018-04-06 18:42] evil-shrike opened #23222 "Difficulties with building a library for distributing"
I'm trying to compile a lib for distributing. I want my npm package with the library has the following structure:
[code]
Inside `dist` I want runtime (*.js) script, declaration files for compiling user apps (*.d.ts) and source maps (*.js.map) for debugging that point to sources inside *.ts.
It seems legit structure, nothing fancy.

I staged all source files into `dist/src` folder. The folder `dist

[2018-04-06 18:59] sheetalkamat commented on #23183
@andreasgruenh Thanks, I got the logs. Will take a look.

[2018-04-06 19:00] mjbvz opened #23224 "Quick fix to install @types/node on import * as fs from 'fs';"
https://github.com/Microsoft/vscode/issues/47321

**TypeScript Version:**  2.9.0-dev.20180404

**Search Terms:**
- `@types/node`
- Quick fix
- typings install

**Code**

In a new folder

1. `npm init -y`
1. `tsc --init`
1. `touch index.ts`
1. `index.ts`:

[code]

**Expected behavior:**
Error show. Quick fix can be used to install `@types/node` in project

**Actual behavior:**
Error shown: `cannot

[2018-04-06 19:00] Phuhwei commented on #12996
You can temporarily run a delay.js between the two scripts.
`"start": "tsc && concurrently \"tsc -w\" \"node delay.js 3000 && lite-server\" "`
And the delay.js:
`
const args = process.argv.slice(2);
const delay = args[0];

if (delay !== parseInt(delay, 10).toString()) {
  console.error(`Incorrect delay value: ${delay}`);
  process.exit(1);
}

setTimeout(() => { process.exit(0); }, delay);
`

[2018-04-06 19:02] mjbvz opened #23225 "Quick fix to install @types/node on require statements"
From https://github.com/Microsoft/vscode/issues/47321

**TypeScript Version:**  2.9.0-dev.20180404

**Search Terms:**
- `@types/node`
- Quick fix
- typings install

**Code**

In a new folder

1. `npm init -y`
1. `tsc --init`
1. `touch index.ts`
1. `index.ts`:

[code]

**Expected behavior:**
Error show. Quick fix can be used to install `@types/node` in project

**Actual behavior:**
Error shown: `ca

[2018-04-06 19:06] cevek commented on #23216
@andy-ms Here is corner case example where it doesn't work as we expected,
but anyway your solution is good and simple
[code]

[2018-04-06 19:12] dragomirtitian opened #23226 "Inconsitent type compatibility when for a type with a call signature and and index signature"
**TypeScript Version:** 2.9.0-dev

**Search Terms:** index signature intersection

**Code**

[code]

**Expected behavior:**
Both `IOk` and `INOk` have the same public structure, they both have a call signature and are indexable, both assign statements should be valid.

**Actual behavior:**
The second assign statement fails with the message `Index signature is missing in type '(() => "") & { foo: n

[2018-04-06 19:14] splincode opened #23227 "Update Angular logo in quick start on typescriptlang.org"
Please update the logo of the official Angular

**Expected behavior:**

![image](https://user-images.githubusercontent.com/12021443/38439770-9a17d31a-39e7-11e8-9911-0b1abd8fd06b.png)

**Actual behavior:**

![](https://angular.io/assets/images/logos/angular/angular.svg)

[2018-04-06 19:48] Gochida commented on #7515
At least when I needed to find out how to define a callback in jsdoc, the path to doing it was very well laid out and @callback was the top result for "how to document callbacks in jsdoc". I'm not sure how more 'standard' it needs to be considered when [usejsdoc.org[(http://usejsdoc.org/tags-callback.html) lays out what @callback is and how it works - and is the top result in google searches. I th

[2018-04-06 20:03] mhegazy commented on #23224
We have a list of node builtin modules in https://github.com/Microsoft/TypeScript/blob/master/src/services/jsTyping.ts#L42, we should do something similar for the quickfix.

[2018-04-06 20:03] tyrielv opened #23229 "Conditional types cannot infer args array"
**TypeScript Version:**  2.9.0-dev.20180406

**Search Terms:**
conditional type infer array parameter
**Code**

[code]

**Expected behavior:**
These type definitions work, allowing definition of a generic type that makes all methods in an interface return promises, while preserving the type constraints of the arguments.
**Actual behavior:**
The ...args version is rejected. I either have to define

[2018-04-06 20:04] #22461 closed

[2018-04-06 20:13] HolgerJeromin commented on #23202
@alan-agius4  i should have mention it in this issue :-)

[2018-04-06 20:14] alan-agius4 commented on #23202
No worries, always glad to have more people doing contributions to open
source 😀

On Fri, 06 Apr 2018 at 22:13, Holger Jeromin <notifications@github.com>
wrote:

[2018-04-06 20:25] #23227 closed

[2018-04-06 20:26] DanielRosenwasser commented on #23227
Major facepalm 🤦‍♂️; this should be fixed on our next website update.

[2018-04-06 20:37] splincode commented on #23227
@DanielRosenwasser Did you close the task because you solved it?

[2018-04-06 20:41] mjbvz opened #23230 "Auto imports showing `../../node_modules/@types`"
Manually moving https://github.com/Microsoft/vscode/issues/47005 to TS Repo to continue investigation

@techsin reports that they are seeing auto import suggestions for paths such as `../../../node_modules/@types`. They are using TypeScript 2.7.2 and have a `jsconfig.json` with proper excludes configured.

Here's the TS Server log: [tsserver.log](https://github.com/Microsoft/vscode/files/1881105/t

[2018-04-06 20:45] unional commented on #9259
As a side note, it would be better to not rely on namespacing. i.e.

[code]

Tree shaking and namespacing doesn't work well together.

[2018-04-06 20:46] sandersn commented on #7046
This works now and should be available in Typescript 2.9.

[2018-04-06 20:46] #7046 closed

[2018-04-06 20:47] DanyelMorales commented on #9259
@unional  awesome!  It's a better way, thanks.

[2018-04-06 20:49] mjbvz commented on #22419
Making this issue more generic to track adding a type to the `OutlingSpans` object. Proposed set of OutliningSpans types:

- `'import'`
- `'comment'` - https://github.com/Microsoft/TypeScript/issues/22932
- `'region'` - https://github.com/Microsoft/vscode/issues/44530
- `'code'`

[2018-04-06 20:55] sandersn commented on #11622
@dylanribb you have a different bug, where nested `module.exports` assignments cause `file1.js` to be marked as a module and treated *only* as a module. So you can use `file1` as a module just fine:

[code]

The original bug has been fixed, so I'll close it. Feel free to open a separate issue about treating a js file as both a module and a global script.

[2018-04-06 20:55] #11622 closed

[2018-04-06 20:58] astorije opened #23231 "Suggest type definition install command using yarn when applicable"
**TypeScript Version:**  2.8.1

**Search Terms:** yarn, Could not find a declaration, if it exists

Apologies if this was discussed before, I looked through issues and PRs, could not find anything.

When a `yarn.lock` file is present in the project directory, instead of recommending:

[code]

it would be nice if the suggested command could make use of `yarn add` instead:

[code]

[2018-04-06 21:09] chriskrycho commented on #23041
Addendum: this appears to be a regression in 2.8 (and 2.9) vs. 2.7, where these types resolved just fine.

[2018-04-06 21:24] mhegazy commented on #23231
Related to https://github.com/Microsoft/TypeScript/issues/19997

[2018-04-06 21:26] mhegazy commented on #20757
tracked by https://github.com/Microsoft/TypeScript/issues/23230

[2018-04-06 21:58] sandersn opened #23233 "Classes cannot extend constructor functions"
[code]

**Expected behavior:**
No error in Javascript. Probably no error in Typescript.

**Actual behavior:**
* Error in Javascript: 'typeof Base' is not a constructor function type.
* Error in Typescript: '() => void' is not a constructor function type.

[2018-04-06 22:07] sandersn commented on #23233
npm's source does this. I would expect it to show up in any transitional javascript code base.

[2018-04-06 22:08] mjbvz opened #23234 "IntelliSense will crash in large projects that use a lot of node modules"
_From @RonanQuigley on April 6, 2018 14:12_

- VSCode Version: 1.22.1
- OS Version: Windows 10

Steps to Reproduce:

1. clone the following repo and navigate to the test>back-end>routes.test.js file:
```git clone https://github.com/RonanQuigley/vscode-intellisense-bug .```
2. run ```yarn``` to install the node_modules folder. You do not need to execute any script to see this problem.
3. Adjust the

[2018-04-06 22:11] mjbvz commented on #23234
Similar repo steps (path completions) to https://github.com/Microsoft/vscode/issues/46025 and https://github.com/Microsoft/vscode/issues/45993

[2018-04-06 22:25] mjbvz opened #23235 "getCodeFixes: 'Debug failure Changes overlap' in getTextChangesFromChanges"
**TypeScript Version:**  2.9.0-dev.20180406

**Search Terms:**
- getCodeFixes
- quick fixes
- code actions
- getTextChangesFromChanges

**Code**
For the js:

[code]

Trigger the `Convert to es6 class` code action on `var Foo`

**Bug:**
Error:

[code]

[2018-04-06 22:33] mjbvz opened #23236 "'Convert to es6 class' code action deletes comments before class"
From https://github.com/Microsoft/vscode/issues/47337

**TypeScript Version:**  2.9.0-dev.20180406

**Search Terms:**
- Convert to es6 class
- code action

**Code**
1. For the javascript:

[code]

2. Trigger the `convert to es6 class refactoring`

**Bug:**
Comments lost after applying:

[code]

[2018-04-06 22:36] mhegazy commented on #23222
I do not think the first approach is ideal. as you said it messes up your source maps, though you should know about `--sourceRoot` for these cases.

The second is what i would recommend. to have a recommendation on the .d.ts issue, i need to know what are these .d.ts files represent? are they your code? external dependencies? are they from npm?

[2018-04-06 22:41] mhegazy commented on #23235
@andy-ms can you take a look for 2.8.2

[2018-04-06 23:00] evil-shrike commented on #23222
yes, but as I noted `--sourceRoot` puts local absolute path into js.map that make then useless

it's my code usually with `declare module` like
[code]
or
[code]
that for example allows me to put Dialog class into `core.ui.Dialog`-
`lib/ui/Dialog.ts`:
[code]

if I don't add `/// <references ` then client app will have to include all *.d.ts explicitly from the lib.

there're references to vendor's t

[2018-04-06 23:03] mhegazy commented on #23229
rest parameters need to be of array type...

[code]

general issue of unifying parameters and arrays/tuples is https://github.com/Microsoft/TypeScript/issues/5453

[2018-04-06 23:08] mhegazy commented on #23222
that seems like a bug in tsconfig.json parsing. we should fix that. on the command-line it should be used verbatim, you can also use `file:///./src` to avoid it being resolved.

[2018-04-06 23:14] mhegazy commented on #23222
seems like the .d.ts file is something you are adding manually. then i would just not use `///<references` at all. have a static file in your output call it `entrypoint.d.ts` this file all it has is:

[code]

the other option is to have that .d.ts file in your dist folder directly, and add the `/// <reference` to it in the dist folder.

[2018-04-06 23:43] mhegazy commented on #23193
The error is generated iff the compiler is checking the type, and it finds itself recursing on the same type.

in the first example, the computation of the mapped type is deferred, so no need to refer to `DeepRequired` to understand what the type of it looks like. the compiler knows it is always going to be an object (generated from a mapped type).

in the second case, the compiler needs to check

[2018-04-06 23:57] evil-shrike commented on #23222
Do I understand correctly that you are suggesting remove all `/// <reference>` imports from all my *.ts/*.d.ts and put all of them into a single d.ts file, right?
It's far from ideal solution for me. As the lib is modular and every module contains its own references.
And anyway that "entrypoint" should be imported somewhere and at that place its path in reference will be changed on compiling.

It'

[2018-04-07 00:06] #23183 closed

[2018-04-07 00:06] #23234 closed

[2018-04-07 00:08] sheetalkamat commented on #23234
@RonanQuigley can you please try out the next drop that gets release tonight to see if it helps.

[2018-04-07 00:08] sheetalkamat commented on #23183
@andreasgruenh can you please try out the next drop that gets release tonight to see if it helps with the issue. Thanks.

[2018-04-07 00:13] mhegazy commented on #23222
So .d.ts files are not considered sources. the compiler does not generate output for them. think of all your `@types` packages for instance..
The compiler does not copy references either.. again think of all your `@types\node` package, you do not want its contents copied to your dist folder just cause you used `require`.
Triple-slash -reference tags are pointers to existing files to include in you

[2018-04-07 00:15] mhegazy commented on #23234
that is `typescript@next` published tomorrow. `typescript@2.9.0-dev.20180407` to be exact.

[2018-04-07 00:16] mhegazy commented on #23183
that is `typescript@next` published tomorrow. `typescript@2.9.0-dev.20180407` to be exact.

[2018-04-07 00:16] #22771 closed

[2018-04-07 00:50] sjbarag commented on #23215
Thanks for the mention @mhegazy! I should be able to get to this in the next week or so 🙂

@CatGuardian this is a great description — thanks for the detailed report ❤️

[2018-04-07 02:56] michaeljota opened #23242 "[Feature Request] Make Typescript type system a formal proposal to ES"
**Search Terms:**

- "ecmascript-types"

**Expected behavior:**

There is a long time proposal to include a typing system into ES, name [ecmascript-types](https://github.com/sirisian/ecmascript-types) (link to [es-proposals](https://esdiscuss.org/topic/es8-proposal-optional-static-typing))

The original proposal have several comments regarding the status of Typescript type system in that time, thi

[2018-04-07 03:05] falsandtru commented on #23022
A workaround:

[code]

[2018-04-07 04:34] rajanshahsa commented on #23196
@MarioPadilla

I install v2.6.2. Now it gives a different error.

TypeError: compiler_1.isFormattedError is not a function
    at syntaxErrorToDiagnostics (/Users/rajan.shah/SA_Project/Project/XXXXXX/SourceCode_ionic/node_modules/@angular/compiler-cli/src/transformers/program.js:798:25)
    at AngularCompilerProgram._addStructuralDiagnostics (/Users/rajan.shah/SA_Project/Project/XXXXXX/SourceCode_

[2018-04-07 04:35] rajanshahsa commented on #23196
@andy-ms

Here is my "tsconfig.json"

[code]

[2018-04-07 05:10] dragomirtitian commented on #23226
Proposed solution, allow `isObjectTypeWithInferableIndex` to return true for intersection types, if any of the intersection constituents have an inferable index.

https://github.com/dragomirtitian/TypeScript4ExtJS/commit/1d7723ad58a36bd45833de3ae89db01bdf8d0263

[2018-04-07 06:14] falsandtru opened #23243 "Conditional types cast `never[] | {}` as `{}`"
cc @ahejlsberg

**TypeScript Version:**  2.7.0-dev.20180406

**Search Terms:**

**Code**

[code]

**Expected behavior:**

b is `false`, c is `boolean`.

**Actual behavior:**

b and c is `true`.

**Playground Link:**

**Related Issues:**

[2018-04-07 06:43] andreasgruenh commented on #23183
@sheetalkamat Your fix seems to work for me! Thank you so much for reacting so quickly!

[2018-04-07 08:40] merlinnot commented on #22045
Works in the latest version.

[2018-04-07 08:41] mindplay-dk commented on #4895
IMO this feature is long over due - mainly because there are *so* many types of strings: UUID, e-mail address, hex color-code and not least entity-specific IDs, which would be incredibly useful when coupling entities to repositories, etc.

I currently use this work-around:

    export type UUID = string & { __UUID: undefined }

This works "okay" in terms of type-checking, but leads to confusing er

[2018-04-07 08:59] kgtkr opened #23244 "Proposal:Better Type inference"
# Background
Control syntax is statement in TypeScript.
Also, with the policy of TypeScript you can not express statement as expressions.
https://github.com/Microsoft/TypeScript/wiki/TypeScript-Design-Goals
This proposal can solve this problem a little.

# Proposal
[code]

This is contrary to policy
[code]

[2018-04-07 09:27] TomasHubelbauer opened #23245 "Should the es2016 lib contain type definitions for RTCDataChannel"
I have searched the existing issues (open and closed) for `RTCDataChannel`, `dataChannel` and `"data channel"`. I have read `CONTRIBUTING.md` and even though I have a question which I am told to take to Stack Overflow or Gitter, I don't think either is a good place to ask it. I have a question about whether I have found a bug (not being sure, this is neither a bug report nor a contribution), so th

[2018-04-07 09:36] goodmind commented on #407
@MichaelTontchev you mean that you can define overload now and it will work but with more copy-paste? can you show?

[2018-04-07 10:24] RonanQuigley commented on #23234
@sheetalkamat Perfect! That's it working now and the path finding is snappier too 👍 Thanks to all of you for the quick fix.

[2018-04-07 10:32] Pajn commented on #23244
This would require something like [Hindley Milner](https://en.wikipedia.org/wiki/Hindley%E2%80%93Milner_type_system). While the type inference is improving for each release, it will only get so far without taking this step.

I'm super excited if Typescript were to do it, it would improve the safety of the language a lot and at the same time let us write a lot let explicit type specifications. It w

[2018-04-07 11:46] scf4 commented on #7576
@rauschma I hope we can see this soon!

[2018-04-07 12:03] neoncom opened #23246 "Cannot create rest type from generic type"
**TypeScript Version:**  2.8.1 (vs code newest)

**Search Terms:** rest parameter destructuring generic

**Code**

![error_ts](https://user-images.githubusercontent.com/35164488/38454685-0f913418-3a6c-11e8-84aa-f209d8a33a9a.png)

**Expected behavior:** no error (because TA extends A, and A is an object, and rest parameters should work with objects...).

It worked with ts 2.7.2, but NOT with 2.8.1

[2018-04-07 14:16] RyanCavanaugh commented on #23243
`never[] | {}` is the same as `{}` as far as the type system is concerned.

[2018-04-07 14:16] #23243 closed

[2018-04-07 15:00] josecolella commented on #8905
I followed the  solutions but I'm still getting a `Declaration expected` warning from vscode.
Here is a snippet from the compilerOptions of my tsconfig.json
`
"compilerOptions": {
    "noImplicitAny": true,
    "removeComments": true,
    "preserveConstEnums": true,
    "experimentalDecorators": true,
    "emitDecoratorMetadata": true,
    "allowJs": true,
`

[2018-04-07 15:59] falsandtru commented on #23243
`never[] | {}` will be surely distributed to `{}` and `never[]`

[code]

So `never[]` and `{}` must be evaluated individually, and its result is correctly `false` and `true`. Type compatibility is misdirection here.

[code]

`Eq<{}, never[] | {}>` must be resolved as follows under the spec. It returns `boolean` correctly.

[code]

So `Eq<{}, never[] | {}>` is `boolean`.

[2018-04-07 16:05] MartinJohns commented on #23246
A doesn't **has** to be an object.

[code]

Also it seems to be a duplicate of #10727 and will hopefully someday be implemented with #13288.

[2018-04-07 16:46] alexrock commented on #23244
It is possible since version 2.1 with `--noImplicitAny`.

After the try block in the example, `x` is typed as `number`.

[code]

[2018-04-07 16:46] neoncom commented on #23246
1. interface A { bla: 3; } does not work either. and that **is** an object
2. it worked with ts 2.7.1. 2.7.2 was incorrect,. sorry.

and:

`interface {}`

**can** be an object, **but**

`interface { property:number; }`

**must** be an object. did not believe it. but it is true. **you're right**

a novice whould just a assume that case 1 is an object without a property. and i am no novice (in TS)

[2018-04-07 16:51] ahejlsberg commented on #23243
Given `[T, U]` as `[{}, never[] | {}]`, the result of `T extends U` is `true`, and the result of `U extends T` is `true` (because *every* type except `null` and `undefined` extends `{}).

[2018-04-07 16:57] falsandtru commented on #23243
@ahejlsberg You mean `Eq<{}, never[] | {}>` won't be resolved as follows? Why?

[code]

[2018-04-07 17:00] falsandtru commented on #23243
Not correct, WIP.

[2018-04-07 17:09] falsandtru commented on #23243
I realized my previous resolution is wrong. `Eq<{}, never[] | {}>` will be resolved as follows. This result is actually `true`. I need to distribute `U` at first.

[code]

[2018-04-07 18:56] mhegazy commented on #23183
Should be in 2.8.2 as well

[2018-04-07 19:11] tycho01 commented on #1213
@goodmind: hm, looks like it infers `Maybe<number>` instead of `Functor<number>` after copying over `fmap` from `Functor` to `Maybe`.
With type calls I guess that would improve to having just the type there rather than needing the run-time implementation for the type.
Now, functors would need their own `fmap` implementations already. That would suck for the [derived methods](https://github.com/gca

[2018-04-07 20:53] GabrielDuarteM commented on #4881
@kgtkr that is the main reason why I'm wanting this so badly...

[2018-04-07 21:08] peabnuts123 opened #23248 "There should be a compiler option to disallow assignment of object literals to variables of type class"
**TypeScript Version:**  2.7.2

**Search Terms:** object assign class

**Code**

[code]

Apologies if this is a duplicate, it's a very keyword-laden topic and my searches for this topic are fairly polluted by many other features of TypeScript.

**Behavior:**
In the above example, the TS compiler allows my assignment of an object literal to a variable of type `DummyClass`, which is a class type. It

[2018-04-07 23:12] billba opened #23249 "[Feature Request] "inherits" type restriction for classes"
I am building a library where functionality is added by inheritance from a single abstract base class with overridable default methods, and objects are created with a factory function. In JavaScript it's all pretty simple:
[code]
Layering in TypeScript, we can see that the argument to `foo` and `bar` are generic:
[code]
But there is no way to correctly type the `create` function, because TypeScrip

[2018-04-08 00:46] brandonmp commented on #21473
Also hitting this issue with a `tsconfig.json` in project root with `path` and `baseUrl` configured.

Using `babel-plugin-module-resolver` to resolve the actual paths, and project builds fine. Editor integration is the only sticking point

[2018-04-08 01:33] SimonSchick commented on #23249
Am I missing something or are you basically asking for `extends` which already exists?

[2018-04-08 01:52] mohsen1 commented on #15647
This is a blocker for https://github.com/webpack/webpack/pull/6862

@sandersn  @DanielRosenwasser
Thanks!

[2018-04-08 02:00] billba commented on #23249
@SimonSchick `extends` applies to class instances. What I am proposing applies to classes themselves.

[2018-04-08 02:10] kgtkr commented on #23244
@alexrock I did not know the specification.Thank you
Close this issue.

[2018-04-08 02:10] #23244 closed

[2018-04-08 02:13] Kingwl commented on #20567
hi
any progress here?
This problem makes me crazy 😢
and it slow down the test runner (perhaps
Recurring on windows / mac

[2018-04-08 02:51] kgtkr opened #23250 "[Feature Request]Tell the compiler the type"
# Background
Currently, it is not possible to tell the compiler the type of the variable.
Although it can be solved by creating new variables, extra overhead occurs.

# Proposal
[code]

# Example

[code]

[code]

[2018-04-08 02:59] jwalton opened #23251 "Targeting es3 or es5 produces functions with incorrect `function.length` when using initializers"
**TypeScript Version:**  2.8.1

**Search Terms:**  function.length

**Code**

[code]

**Expected behavior:**

[ECMAScript 2015 19.2.4.1](https://www.ecma-international.org/ecma-262/6.0/#sec-function-instances-length) states:

And [14.1.6](https://www.ecma-international.org/ecma-262/6.0/#sec-function-definitions-static-semantics-expectedargumentcount) states:

Since our function has 2 parameters to

[2018-04-08 03:21] neoncom opened #23252 "Import quickfix for "export const MyClass=class{}" broken"
**TypeScript Version:**  2.8.1, VSCODE 1.22.1

**Search Terms:**

**Code**

[code]

if I mouseover MyClass in file2 and do CTRL-. (dot), nothing happens

however if i change file1 into

`export class MyClass {}`

it works.

so the problem is that the import quick fix does not recognize MyClass as a type in the first case

i believe strongly  it worked in TS 2.7.1, hower does not in 2.8.1

**Expect

[2018-04-08 07:35] falsandtru commented on #23197
In the second case, `V extends boolean | undefined ? never : P` is resolved as `(undefined extends boolean | undefined ? never : P) | (null extends boolean | undefined ? never : P)`. It means `P | never`. So this is correct.

[2018-04-08 07:35] #23197 closed

[2018-04-08 07:48] jdeanwaite commented on #9559
I created an answer on SO for this issue outlining two options: [https://stackoverflow.com/a/49715468/4216035](https://stackoverflow.com/a/49715468/4216035)

[2018-04-08 09:11] malimichael commented on #11947
Wondering the status on this. I'm currently working around this with a custom `withProps` functions

[code]

Usage is like this

[code]
This ends up causing a bunch of other problems though. I'm very new to typescript but can help out where possible to get template string working well.

[2018-04-08 09:31] Havret commented on #11947
@malimichael I really like your solution but what kind of other problems do are you referring to?

[2018-04-08 10:30] alfaproject commented on #3841
I'm trying to call a static property from a Sequelize model as such:
[code]
`options.target()` return type is `new () => T` and `T extends Model<T>`

`count` is a static property of `Model<T>`, but I'm unable to type that cast properly. Any help would be appreciated.

[2018-04-08 10:44] RonanQuigley opened #23255 "IntelliSense typing info in 2.9.0-dev.20180407 release doesn't work"
**TypeScript Version:**  2.9.0-dev.20180407

**Search Terms:**  intellisense, missing types

Perhaps I'm missing something here, as I don't use typescript and have always just used the version that vscode ships with for intellisense, but after updating to the latest for a fix of a prev issue I posted about (see bottom) I now have the following issue.

See the following gifs for an explanation:

**

[2018-04-08 13:53] aryzing commented on #22851
@DanielRosenwasser Doesn't it already? From [`--esModuleInterop` docs](https://www.typescriptlang.org/docs/handbook/compiler-options.html)

*Emit __importStar and __importDefault helpers for runtime babel ecosystem compatibility and enable --allowSyntheticDefaultImportsfor typesystem compatibility.*

[2018-04-08 14:30] glen-84 commented on #9402
@mhegazy Should this change now that catch clause variables are optional? (and I assume you could also use `_e`)

Error:

[code]

Okay:

[code]

Okay:

[code]

[2018-04-08 15:11] kgtkr commented on #23250
@billba
[code]

And, `try-catch` is an example

[2018-04-08 16:07] TomasHubelbauer commented on #16022
For people who come here from search, for me, using `"target": "es6"` fixed this. Before I didn't have any `target` configuration in `tsconfig.json`. This is with TypeScript 2.8.1.

[2018-04-08 18:53] RubenMateus commented on #22473
@MagWeaver any news from this?

[2018-04-08 19:13] AlCalzone opened #23256 "The spelling quick fix for enums does not escape spaces"
**TypeScript Version:**  2.9.0-dev.20180407

**Search Terms:** spelling quick fix space

**Code**
[code]
The suggested quick fix (correctly) wants to change the spelling to `"Bar Baz"`.

**Expected behavior:**
[code]
**Actual behavior:**
[code]

[2018-04-08 19:36] ajafff opened #23257 "Destructuring with computed property loses type information"
**TypeScript Version:**  2.9.0-dev.20180407

**Search Terms:** destructuring computed

**Code**

[code]

**Expected behavior:**
`destructured` has the same type as `elementAccess`; `computed` has the same type as `prop`.

**Actual behavior:**
Destructuring with computed property always results in `any`.

**Playground Link:** http://www.typescriptlang.org/play/#src=let%20%7B%20%5BSymbol.iterator%5D

[2018-04-08 19:37] VincentLanglet commented on #22881
Is there going to be an implemented solution to manage the default props ?
I don't understand if a plan exists...

[2018-04-08 21:38] fvsch commented on #2340
`"lib": ["es2017", "dom"]` *and* a VSCode restart needed for me too.

[2018-04-08 22:04] kpdonn commented on #23249
I think you just need to extend constructor signatures.

[code]
[Playground link](https://www.typescriptlang.org/play/#src=abstract%20class%20A%3CX%3E%20%7B%0D%0A%20%20%20%20foo(x%3A%20X)%20%7B%0D%0A%20%20%20%20%7D%0D%0A%0D%0A%20%20%20%20bar(x%3A%20X)%20%7B%0D%0A%20%20%20%20%7D%0D%0A%7D%0D%0A%0D%0Aclass%20B%20extends%20A%3Cstring%3E%20%7B%0D%0A%20%20%20%20foo(x%3A%20string)%20%7B%0D%0A%20%20%20%20

[2018-04-08 22:05] DanielRosenwasser opened #23258 "'Change spelling' quick-fix should probably be the highest priority fix"
[code]

**Expected**: `Change spelling to 'props'` should be the first item in the list.
**Actual**:

![image](https://user-images.githubusercontent.com/972891/38473048-ff4a3140-3b3d-11e8-8aea-a6fa5c6b4e22.png)

[2018-04-09 00:06] jwulf opened #23259 "Intellisense stops working in VS Code 1.22 with TypeScript 2.8.1 on Ubuntu"
**TypeScript Version:**  2.8.1

**Search Terms:**
typesMap.json doesn't exist
intellisense broken
tsserver high CPU

**Code**
With VS Code 1.22, TypeScript 2.8.1, on Ubuntu Arty.

Intellisense breaks in my project. Installing TypeScript 2.7.2 in the project and telling VS Code to use that works.

Here's what tsserver.log contains when using the 2.8.1 included with VSCode 1.22:

[code]

[2018-04-09 00:27] yortus commented on #23230
This is how node.js module lookup works, and there are workflows that rely on the current lookup behaviour. For example monorepos using tools like `lerna` will have their node modules at the monorepo root, which may be several directories up from the `package.json` of packages declaring the dependencies.

[2018-04-09 00:39] yortus commented on #23250
@kgtkr for your example it's probably better to use a type guard, since `e` might be anything:

[code]

If you are suggesting a more general proposal, is there something here not already covered by #10421 (type assertion statements at block scope), or just plain type assertions?

[2018-04-09 00:54] charlesdeb commented on #20047
I recently upgraded to VSC 1.21 and have started experiencing this same issue in Javascript. No errors/warning are being shown in the developer tools console. I have tried disabling all extensions, and I have the same thing. I am using Ubuntu 16.04. I never used to have this issue on the jS project I am working on. I also tried installing the vscode-js-import plugin mentioned above to see if that

[2018-04-09 00:58] techsin commented on #23230
@yortus one should be able to disable lookup beyond root directory using jsconfig.json at least. Otherwise, autosuggest feature becomes a obstacle. It causes random auto imports, which you might not be aware of if you were working at line 80.

[2018-04-09 01:03] yortus commented on #23230
@techsin I just noticed that this had been labeled as a bug and wanted to point out that the current behaviour is not a bug. An option sounds appropriate.

[2018-04-09 01:05] tristanMatthias commented on #12976
I am receiving this with
`typescript`: `2.8.1`
`ts-loader`: `4.2.0`
`webpack`: `4.5.0`
`webpack-cli`: `2.0.14`

[2018-04-09 02:25] HelloClouds opened #23260 "文档中的一个字母写错！"

[2018-04-09 02:39] #23260 closed

[2018-04-09 03:55] troy351 commented on #2340
thanks @fvsch , remember to restart VSCode

[2018-04-09 05:51] simonbuchan commented on #11056
Also the `Date.prototype.toLocale{,Date,Time}String()` options, etc., and many more...

How would TS like to see ecma-402 treated? as `--lib intl`? here is the existing `es2017.intl`, but it seems to only have some unreferenced interfaces (is that a bug?) - and I can't make heads or tails of what editions are actually published for 402.

It seems like it might make the most sense to do this as DT

[2018-04-09 06:16] kpdonn commented on #14600
@RyanCavanaugh I don't think anyone has mentioned this exactly yet(although I could have missed it in my quick read-through), but in response to:

This could be addressed by implementing part of #3841. Reading through that issue the primary objection raised seems to be that types of constructor functions of derived classes are often not compatible with the constructor functions of their base class

[2018-04-09 06:27] j-oliveras commented on #23259
Duplicated or related to #23255?

[2018-04-09 06:35] Ngugi1 opened #23261 "Interface 'AbstractExtendedWebDriver' cannot simultaneously extend types 'AbstractWebDriver' and 'ExtendedWebDriver'."
[at-loader] ./node_modules/protractor/built/browser.d.ts:15:18
    TS2320: Interface 'AbstractExtendedWebDriver' cannot simultaneously extend types 'AbstractWebDriver' and 'ExtendedWebDriver'.
  Named property 'actions' of types 'AbstractWebDriver' and 'ExtendedWebDriver' are not identical.

I am experiencing this issue when I try torun my angular project.

[2018-04-09 06:37] #23261 closed

[2018-04-09 06:45] bodawei opened #23262 "Documentation: Clarify declaration files and the declare keyword"
**TypeScript Version:**  2.8.0

**Search Terms:**
document declaration files

** Issue**
It doesn't look like you actually define what a declaration file is in your documentation. For instance, your introduction to these at https://www.typescriptlang.org/docs/handbook/declaration-files/introduction.html tells me you're going to help me learn how to write them, but not what they are or why I'd want

[2018-04-09 06:49] techsin commented on #23230
there is an option in jsconfig / tsconfig that tells what to exclude, but despite telling it to exclude node_modules, it doesn't. Not one in project root, or above in user directory.

[code]

[2018-04-09 07:09] yortus commented on #23230
Ok, got it now. The issue title makes it look like the lookup behaviour is the problem, but it's actually the exclude behaviour. I should have read the original issue, sorry!

[2018-04-09 08:29] frikkievb commented on #23200
The Playground IDE interprets it correctly, but it is not executed correctly.

According to the Playground IDE  the functions in question does not exist, which according to my knowledge is correct.

But once executed - the functions are available on that line.

[2018-04-09 08:33] frikkievb commented on #23200
These functions should not be executable on that line - they should not exist on a type of Bird:

kingfisherBird.king();
ostrichBird.ossie();

This is what the console logs:

![typescript error](https://user-images.githubusercontent.com/12975898/38487662-3907965e-3be1-11e8-8d3d-6df30449469e.PNG)

[2018-04-09 08:39] TomasHubelbauer commented on #1579
I feel bad about spamming yet more complaints on this issue, but there is clearly an immense amount of support on this issue and it has been in discussion for four years now. Honestly it would be better if this was straight up closed with "*We don't want this, sorry not sorry*" then the silence and lack of triage.

[2018-04-09 09:03] kpdonn opened #23263 "unique symbol incorrectly widens to symbol when assigning to a const or readonly property"
**Search Terms:**
unique symbol, literal, widen, reassign, const, readonly

**Code**

[code]

**Expected behavior:**
No errors. `t1Copy` and `inst.kind` should retain their respective literal `unique symbol` types the same way string literals would because they are declared with `const` and `readonly`.

**Actual behavior:**
Errors on `result2` and `result4` because `t1Copy` and `inst.kind` are wid

[2018-04-09 09:05] sophistifunk commented on #7327
I've been wrestling with this for a few hours, turns out it was `tsify` lowercasing the names passed to TSC. Reverting `tsify` to `3.0.2` fixed the issue for me, but it would've been a lot easier to find if TSC would remember *why* it has a specific casing and report that as part of the error, for example something like "first imported from /foo/bar/baz.ts" or "set as root build filename".

[2018-04-09 10:57] albyrock87 opened #23264 "Can't typecheck constructor in class generic parameter"
**TypeScript Version:**  2.8.1

**Search Terms:** generics constructor type check constraint new

**Code**

[code]

**Expected behavior:**
No errors: constructor type checking works

**Actual behavior:**
error TS2344: Type 'Foo' does not satisfy the constraint 'HasOneParameterConstructor<Foo>'.
Type 'Foo' provides no match for the signature 'new (p1: any): Foo'.

**Playground Link:** [Playground T

[2018-04-09 11:30] michahell commented on #19816
window.Worker, same story...

[2018-04-09 12:24] dawidgarus opened #23265 "Suggestion: library files should expose interfaces in namespace"
Interfaces defined lib.d.ts files are global. This creates a lot of namespace pollution, which is especially annoying since they have very common names, for example: `Account` in lib.dom.d.ts. If one defines his own `Account` interface, it's easy to forget to import it and `Account` from lib.dom.d.ts will be used instead. This kind of errors are hard to spot, sometimes they don't create any errors

[2018-04-09 13:50] agentcooper opened #23266 "Better playground"
I've made a better playground for TypeScript: https://agentcooper.github.io/typescript-play/.

Differences from the original one:
- All strict compiler options turned on by default
- More available compiler options
- Ability to switch TypeScript version
- More space for code
- More examples
- Quicker sharing, URL updates as you type
- Shorter sharing URLs
- Open source :-)

I hope this can be help

[2018-04-09 14:08] krryan commented on #23258
I agree that it should have priority over declaring a new property (named or index signature).

But it definitely should not have priority over importing something that the name matches. I have seen 'change spelling' as an option in situations where I'm referencing some existing export, looking to use the 'import' quick-fix. That should have still-higher priority; changing the spelling to some sim

[2018-04-09 14:13] billba commented on #23249
@kpdonn thank you and this does solve my immediate problem, but it does not solve the broader issue. For instance, if `A` has `static foobar = "foobar"` it would not be visible to `create`.

[2018-04-09 14:31] #23088 closed

[2018-04-09 14:38] sandersn commented on #15647
https://github.com/Microsoft/TypeScript/pull/23228 Should fix this. Can you try typescript@next?

[2018-04-09 14:50] dsherret commented on #1579
I highly doubt they would ever implement this because `nameof` is not in the type namespace and not in any ECMAScript proposals.

That's not a problem though... if #14419 ("Plugin Support for Custom Transformers") were implemented then we could use our own implementations of `nameof`, which could be more powerful than a standard `nameof` function.

For example, if #14419 were implemented, then we

[2018-04-09 15:04] andy-ms commented on #23249
@billba You could always use `t: typeof A` for a covariant class. Another option is to define:
[code]
You may also be interested in #14600.

[2018-04-09 15:05] andy-ms commented on #23248
Duplicate of #202

[2018-04-09 15:10] agopshi commented on #13884
@RyanCavanaugh Why was this closed? Those fixes don't cover this particular issue.

I think it's especially important to revisit this issue now that `--strictPropertyInitialization` is available. With `--strictPropertyInitialization`, this code correctly emits a compile error:

[Link](https://www.typescriptlang.org/play/#src=class%20Foo%20%7B%0D%0A%20%20private%20x%3A%20number%3B%20%2F%2F%20Compil

[2018-04-09 15:14] RReverser commented on #9248
Looks like the actual WebCrypto APIs (that is, `crypto` interface with all the nested APIs) is still missing from WebWorker though?

[2018-04-09 15:16] andy-ms commented on #23256
This is working as expected for me with that TypeScript version, are you sure that's the version your editor is using? I verified that the bug existed in 2.7, but not in 2.9.0-dev.20180407 .

[2018-04-09 15:18] andy-ms commented on #23252
The following code is invalid:
[code]
Because when you use `const MyClass = class {};`, it has only value meaning and not type meaning. In order to use a class as a type it has to be declared using `class MyClass {}` and not `const MyClass = class {}`.

[2018-04-09 15:29] #23208 closed

[2018-04-09 15:37] EliSnow opened #23267 "Proposal: Add access modifiers on generic class parameters"
I have the following class:

[code]

Essentially this creates a `Promise` which you can be `resolve` or `reject` outside of the constructor's callback function. Additionally any `DeferredPromise`s created by calling `then`/`catch` will inherit the `resolve` and `reject` methods from the base `DeferredPromise`.

I would like to be able to make the `T2` generic private so only the cast within `then`

[2018-04-09 15:39] AlCalzone commented on #23256
You're right, somehow VSCode didn't pick up the correct version. The bug is present in 2.8.1, but not in 2.9.0-dev.20180409.

[2018-04-09 15:39] #23256 closed

[2018-04-09 15:39] sandersn commented on #11597
@mohsen1 that’s a slightly different issue than this one, and is tracked at #19645.

The PR with the fix is at #18832. I’ll take another look at it; last I remember we needed to check whether performance was OK with the additional upfront processing and storage it required.

[2018-04-09 16:00] andy-ms commented on #23267
You could always make the constructor private:
[code]

[2018-04-09 16:12] andy-ms commented on #23059
There's no one-click way to do that, but a good strategy is:
* Before changing to TS:
    - Convert all commonjs modules to ES6 modules -- there is a code fix for this that should show up if you are using the latest vscode and `typescript@next`.
    - Convert constructor functions to classes -- there's also a code fix for this.
* Change `.js` to `.ts`. If you have [`--noImplicitAny`](http://www.ty

[2018-04-09 16:28] sandersn commented on #23221
@mjbvz
1. No, at least according to usejsdoc and typescript. The second example is correct.
2. I'm not sure how inline object types flow through the language service to Code. On the parse tree, at least, all the comments are on their individual `@param` tags, so it's probably a matter of combining their descriptions correctly for display. @andy-ms might know more about this, or I can go looking to

[2018-04-09 16:35] billti commented on #22795
The setting you are referring to, if it's the one I think, doesn't disable **_any_** JavaScript language service, it just uses the old one instead of the new. We left the old one as a fall back if needed when the new one was brand new and we expected some early issues. The old one however, will be going away entirely at some point in the near future. It is unmaintained and doesn't support the late

[2018-04-09 17:12] techsin commented on #23230
No, Problem. I just want it fixed, more than 10 times, I've pressed tab thinking it'd something I want and end up importing random stuff which doesn't go away with 1 ctrl+z. So you have to delete whatever it expanded to and delete the line at top that says `import InksljdEjlkdjksl from "../../../AppData/Microsoft/Typescript/node_modules/Something/@types/something/something"`

kind makes you never

[2018-04-09 17:14] HTMLangdon commented on #12421
perhaps the solution lies with using rested parameters in a class/classes if one knows they will need to pass more data through to the constructor than what the super classes require?

But imo if you're extending a class  - and the subclass requires different data in the constructor than it's superclass - could this be a rule/indication that it should not have extended the initial class in the fir

[2018-04-09 17:15] mjbvz opened #23270 "Extra folding span returned for file with regions"
From https://github.com/Microsoft/vscode/issues/47401

**TypeScript Version:**  2.9.0-dev.20180409

**Search Terms:**
- outlingSpans
- folding

**Code**
For the code:
[code]

**Bug:**
An extra folding region is returned:

[code]

Specifically, the one for:

[code]

**Playground Link:**

**Related Issues:**

[2018-04-09 17:19] tomrav opened #23271 "noImplicitReturns control flow errors with explicit type guard checks"
**TypeScript Version:**  2.8.1 & 2.9.0-dev.20180409

**Search Terms:** noImplicitReturns throw type guard

**Code**

[code]

**Expected behavior:**
Type check should pass without error.

**Actual behavior:**
Happens only with `noImplicitReturns` turned on.
`getAOrThrow` errors on its return value with `Function lacks ending return statement and return type does not include 'undefined'.`.
If I remo

[2018-04-09 17:23] mjbvz opened #23272 "'module.exports' suggestion diagnostic: only show on 'module.exports' itself"
**TypeScript Version:**  2.9.0-dev.20180409

**Search Terms:**
- suggestion
- diagnostic / diagnostics

**Code**
For the js:

[code]

**Problem**
The `Convert to ES6 module` suggestion covers the entire function:

[code]

This means that we show a lightbulb when you are anywhere inside the exported function.

Instead I believe that the suggestion range should only cover the `module.exports` part

[2018-04-09 17:29] mjbvz opened #23273 "Outlining spans for jsx elements"
From https://github.com/Microsoft/vscode/issues/47454

**TypeScript Version:**  2.9.0-dev.20180409

**Search Terms:**
- getOutliningSpans
- fold / folding
- jsx

**Code**
For the jsx:

[code]

**Current Behavior**
No outlining spans returned

**Request**
Return outlining spans for multline jsx tags

Other cases:

[code]

[2018-04-09 17:50] sheley1998 opened #23274 "Feature Request / Proposal: constructor type guard"
In most cases, constructor comparison is faster than instanceof and typeof, thus using it as type guard can improve performance. The code below demonstrates the desired behavior:

[code]

[2018-04-09 17:53] billba commented on #23249
`typeof A` works for simple classes but not for generic classes (e.g. `typeof A<X>`), which is what motivates this request).

Your proposed interface gives me `Cannot use 'new' with an expression whose type lacks a call or construct signature` on the attempt to do `new t()`.

[2018-04-09 18:09] EliSnow commented on #23267
A private constructor with a static factory method could work, but just like creating a derived class, then I'm changing my run-time code (not to mention my API) in order to appease the type checker.

In answer to your question, once you create a `Promise` sub-class, when you call `super.then(...)` you get an instance of your derived class. In the case of `DeferredPromise` it wouldn't really make

[2018-04-09 18:23] zheeeng opened #23275 "Compile 3rd TypeScript modules with loose checking mode."
**TypeScript Version:**  2.8.1

**Search Terms:**
tsconfig + node_modules / compile third module

**Tried solutions**

set 'skipDefaultLibCheck', 'skipLibCheck', 'moduleResolution' fields in `tsconfig.compilerOptions`;
set 'exclude', 'include' fields in `tsconfig`;

**Code**

Given an example 3rd module `viser(viserjs/viser)` which are also written in TS. Its package.json defines `types` field gui

[2018-04-09 18:32] andy-ms commented on #23249
But it does have a construct signature, `new(): A`, so if you have `t: AStatic` you should be able to call `new t()`.

[2018-04-09 18:35] andy-ms commented on #23252
It's pretty hard to provide a type based on the result of a function -- the function won't evaluated until runtime, but we need types to be available at compile time. You could define an interface for what you expect it to return, and then have `export const MyComponent: { new(): MyInterface } = ...`.

[2018-04-09 18:42] mjbvz opened #23278 "TypeScript: occurrences request failed with error"
_From @bpasero on April 9, 2018 9:5_

Saw this today in selfhost in the file `textFileEditorModel.ts` using TS 2.8.1:

[code]

_Copied from original issue: Microsoft/vscode#47470_

[2018-04-09 18:42] mjbvz commented on #23278
I could not repo this issue with TS 2.8.1 just by scrolling through the file. @bpasero were you editing the file? Do you remember what triggered this error?

[2018-04-09 18:44] mjbvz opened #23279 "Suggestion: Organise Imports should sort by import name instead path"
_From @PooperPig on April 8, 2018 22:16_

- VSCode Version: 1.22.1
- OS Version: Windows 10

Steps to Reproduce:

1. Press Alt-Shift-O
Does this issue occur when all extensions are disabled?: Yes

More of a suggestion than a bug...

When organising Imports, I don't really care where about the location of the import, it would be more sensible to sort by the names; When I'm looking through Imports,

[2018-04-09 18:44] mjbvz commented on #23279
_From @vscodebot[bot] on April 8, 2018 22:16_

(Experimental duplicate detection)
Thanks for submitting this issue. Please also check if it is already covered by an existing one, like:
- [TypeScript and JavaScript organize imports  (#45108)](https://www.github.com/Microsoft/vscode/issues/45108)

[2018-04-09 18:45] mjbvz commented on #23279
Moving upstream to get more feedback.

I think the current behavior is the correct default. We can see if there is interest in possibly adding an option to change the sorting order

[2018-04-09 18:45] billba commented on #23249
Of course you're right. Turns out that this works if you do:
[code]
but does not work if you do:
[code]
which makes perfect sense when I think about it.

So it's great there's a path forward, but it's nuts that I need to define this interface when the class already exists - DRY.

[2018-04-09 18:46] mjbvz opened #23280 "type export issue"
_From @waitingsong on April 7, 2018 3:12_

Issue Type: <b>Bug</b>

tsconfig.json
[code]

package.json
[code]

config/config.default.ts
[code]

config.local.ts
[code]

got error:
[code]

if change to `"declaration": false,``` , then issue gone.
any suggestion ?

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS version: Windows_NT x64 6.1.7601

<de

[2018-04-09 18:46] mjbvz commented on #23280
_From @waitingsong on April 7, 2018 3:46_

maybe bug of TypeScript ?

[2018-04-09 18:47] neoncom commented on #23252
Hm, I don't understand. The type does exists. If a mouseover the const variable it shows me the type of the result.

The problem I and other users have is just that the import quick fix is broken in 2.8.1. I always have to import manually. And also not being able to use the class variable in a type position is just conceptually wrong and should be fixed, but I could care less about that right now

[2018-04-09 18:54] andy-ms commented on #23252
That shows you that `MyComponent` *has* a type, not that it *is* a type. It's impossible in general to make every class that exists at runtime be a type, unless we ran the program at compile time.
This isn't an import quickfix bug, because it's intentionally avoiding importing something that will result in a compile error.

[2018-04-09 18:59] #22862 closed

[2018-04-09 18:59] #22469 closed

[2018-04-09 18:59] #22140 closed

[2018-04-09 19:03] neoncom commented on #23252
OK I understand now. Forget about variable type positions :)

But what about importing a react component in a react node position? Somehow the compiler can validate it when I use it at compile time perfectly, no problem. Then it should be able to quickfix import it too? Either way enabling the quickfix import here would really really be needed.

I am very sure it worked in 2.7.1. I will check that

[2018-04-09 19:05] andy-ms commented on #23280
Simplified repro:
**a.ts**
[code]

**b.ts**
[code]

Result:
[code]

No error when using `export function f(): J` { return { x: 0 }; } `.

@weswigham May be related to recent declaration emit changes?

[2018-04-09 19:12] RonanQuigley commented on #23255
So I tried going back through previous typescript versions, and have found that the 2.4.2 release does not have either the problem outlined above, or the issue I posted about in #232324. So until this issue is resolved, I'll just stick to that version.

[2018-04-09 19:35] sledorze opened #23281 "Nested Switch infers additional undefined on return type."
TypeScript Version:** 2.8.1 and 2.9.0-dev.20180409

nested switch undefined, strictnullcheck

**Code**
(with strictnullchecks activated)
[code]

Also note that this typechecks:

[code]

**Expected behavior:**
Should compile fine

**Actual behavior:**
Errors with "Function lacks ending return statement and return type does not include 'undefined'."

**Playground Link:**
http://www.typescriptlang.or

[2018-04-09 19:36] kevcenteno opened #23282 "2.8.2 needs to published to npm"
**Expected behavior:**
2.8.2 is available via npm

**Actual behavior:**
2.8.2 isn't available via npm

[2018-04-09 19:48] #23212 closed

[2018-04-09 19:50] sheetalkamat commented on #23255
Can you please provide tsserver and typing installer logs. Also your package.json, Also let us know if you have explicitly installed any modules and typings. Thanks.

[2018-04-09 19:54] RyanCavanaugh commented on #23200
That is indeed the behavior of an erased type system

[2018-04-09 19:54] #23200 closed

[2018-04-09 19:56] RyanCavanaugh commented on #1579
ಠ_ಠ

[2018-04-09 19:57] andy-ms commented on #23278
May be duplicate of #22924, please test with `typescript@next`

[2018-04-09 19:59] andy-ms commented on #23280
Nope, looks like this was a bug way back in `typescript@2.0`.

[2018-04-09 20:03] andy-ms commented on #23252
Can you find an example where the thing you want to import would not cause a compile error if imported?

[2018-04-09 20:33] NaridaL opened #23284 ""implicitly has type 'any' because it does not have a type annotation and is referenced directly or indirectly in its own initializer." in for-of"
**TypeScript Version:**  2.9.0-dev.20180409

**Search Terms:** `referenced directly or indirectly in its own initializer`

**Code**
Note: `strictNullChecks` and `noImplicitAny` need to be on. As far as I can tell, all the lines are necessary to reproduce the error:
[code]

**Expected behavior:**
No error. elements2 should be typed as Element[]

**Actual behavior:**
`'elements2' implicitly has type

[2018-04-09 20:34] andy-ms commented on #23230
@techsin I'm having trouble reproducing this with `typescript@next`. I get import completions for `foo` and not for `../node_modules/foo`. Try doing `npm install -g typescript@next` and pointing vscode to it ([instructions](https://code.visualstudio.com/Docs/languages/typescript)). If it's still happening, could you try to get a sample project that reproduces the error that you could share?

[2018-04-09 20:48] mjbvz opened #23285 "Long running 'completions' request on TS project using lodash"
From https://github.com/Microsoft/vscode/issues/47253#issuecomment-379858595

**TypeScript Version:**  2.9.0-dev.20180409

**Search Terms:**
- completions

**Code**
In a new folder without a `tsconfig`:

`package.json`:
[code]

`index.ts`:
[code]

1. Run npm install
2. Open `index.ts` in vscode
3. Trigger completions on `.ma`

**Bug:**
TS Server `completions` requests end up taking ~6seconds each

[2018-04-09 20:53] andy-ms commented on #23285
Probably a duplicate of #21968

[2018-04-09 20:54] weswigham commented on #23280
So probably just another longstanding bug in `getAccessibleSymbolChain` then 😝

[2018-04-09 20:58] mjbvz opened #23287 "Organize imports removes react imports in js projects that don't configure "jsx""
From https://github.com/Microsoft/vscode/issues/47287

**TypeScript Version:**  2.9.0-dev.20180409

**Search Terms:**
- organize imports
- jsx

**Code**
For a simple js project that does not configure `"jsx`:

`jsconfig.json`:

[code]

`index.js`:
[code]

2. Run organize imports

**Problem:**
Typescript (correctly from its perspective) removes the `React` import as `React` is not referenced anywhe

[2018-04-09 21:05] andy-ms commented on #23284
Duplcate of #19955

[2018-04-09 21:26] billba commented on #23249
To update this proposal, then:

**First**, I'd like to be able to directly apply class-based type restrictions to an argument without having to whip up a separate interface that duplicates the signatures of all the statics (most notably the constructor) on that class, because that's DRY and thus prone to human error, which kind of goes against the whole point of TypeScript.

[code]

**Second**, it

[2018-04-09 21:30] #20080 closed

[2018-04-09 21:40] jamiebuilds commented on #22851
`allowSyntheticDefaultImports` does not fix the issue, it also has broken behaviour when you re-export something that was imported with it. You get an object with the shape `{ default: T }` instead of `T`

[2018-04-09 21:42] RyanCavanaugh commented on #23265
We don't have a "too late" tag, but it's too late to break ~every TypeScript program in existence for cleanup purposes. `--noLib` is available if you want to supply a custom organized version of lib.d.ts

[2018-04-09 21:44] RyanCavanaugh commented on #13884
@agopshi you can log a new suggestion for that

[2018-04-09 21:48] weswigham commented on #23280
Riiiiight, so this isn't strictly a bug but it's not strictly desired behavior either. Type aliases aren;t currently considered aliases of something because they can do things like this:
[code]
note how the type alias is an instantiation of the type. Another:
[code]
in this case it forwards a type parameter.
It's only in a (maybe common?) subset of the allowed RHS where it is effectively an alias

[2018-04-09 21:49] mhegazy commented on #9402
we can tighten it up now that we have the optional catch clause. we also need to update the quick fix to handle it correctly. a PR would be appreciated.

[2018-04-09 21:50] techsin commented on #23230
https://github.com/techsin/vscodeAutoCompleteBug

[2018-04-09 21:51] mhegazy commented on #20047
@charlesdeb can you file a new ticket and share some context about your project? and upload your tsserver logs.

[2018-04-09 21:51] weswigham commented on #23280
Hmmm... on the other hand, in both cases there's explicitly a reference to the alias somewhere - we probably aught to be writing the output type using that rather than what the alias resolves to anyway.

[2018-04-09 21:53] techsin commented on #23230
![asd](https://user-images.githubusercontent.com/4664695/38525081-f52e8864-3c1e-11e8-9377-698e1bc8576b.jpg)

[2018-04-09 22:01] mhegazy commented on #11056
not sure what you mean by missing.. I see them in lib.es5.d.ts https://github.com/Microsoft/TypeScript/blob/83ab341531d694bb43e5a602cde852cea5436d1f/lib/lib.es5.d.ts#L650-L652

we currently include them in lib.es5.d.ts, it will be a breaking change to break them out into their own target. not sure what is the value in doing so.

they are independently versioned, but each ECMA262 has matching versi

[2018-04-09 22:03] #23235 closed

[2018-04-09 22:06] mjbvz opened #23288 "Add flag to mark TS Server unused variable suggestion diagnostics"
**TypeScript Version:**  2.9.0-dev.20180409

**Search Terms:**
- suggestion diagnostics
- no unused
- tsserver

**Request**
Follow up on #22361. Just tried it out in VS Code. Very cool to see this working but we will need a new a flag on suggestion diagnostic objects that identifies them as  being diagnostics for unused variables. I don't currently see any flags being returned by tsserver

[2018-04-09 22:11] andy-ms commented on #23230
When I try that with `typescript@next`:
* First, I need to add `export {}` to turn the file into an ES6 module, otherwise we won't add import completions due to #22951
* Second, I'm getting the import from `"babel-types/index"` and not from `../node_modules/@types/babel-types/index`. (The `/index` is because we default to using "classic" module resolution, you can add `"moduleResolution": "node"`

[2018-04-09 22:15] andy-ms opened #23291 "@types imports don't need `/index` even with classic module resolution"
**TypeScript Version:**  master

**Code**

With `"moduleResolution": "classic"`:

**node_modules/@types/foo/index.d.ts
[code]

**a.ts**
[code]

**Expected behavior:**

Import fix imports from "foo".

**Actual behavior:**

Import fix imports from "foo/index".

[2018-04-09 22:17] andy-ms commented on #23288
We did add a `reportsUnnecessary` property to the diagnostic object.

[2018-04-09 22:25] charlesdeb commented on #20047
Sure @mhegazy, I will try and do that later this week. Thanks for getting back to me.

[2018-04-09 22:36] mhegazy commented on #23088
I think the underlying issue here is in the react definition file.

`setState` should be defined as:

[code]

feel free to send a PR to Definitely typed for this and i will merge it.

[2018-04-09 22:42] mhegazy commented on #23259
Can you share your tsserver log please.

[2018-04-09 22:50] mhegazy commented on #23245
These are usually included as part of the dom, i.e. `lib.dom.d.ts`.

[2018-04-09 22:51] mhegazy commented on #23245
PRs welcomed. You can find more information about contributing lib.d.ts fixes at https://github.com/Microsoft/TypeScript/blob/master/CONTRIBUTING.md#contributing-libdts-fixes.

[2018-04-09 22:54] mhegazy commented on #9248
Lib is generated from script in https://github.com/Microsoft/TSJS-lib-generator. the list of types in WebWorkrs are available in https://github.com/Microsoft/TSJS-lib-generator/blob/master/inputfiles/knownWorkerTypes.json. Adding the missing type to the list should cause it to be generated. PRs welcomed.

[2018-04-09 23:01] mhegazy commented on #23282
2.8.2, the servicing release for TypeScript@2.8.1 has been renamed to 2.8.3, and the release date is pushed to next week. see https://github.com/Microsoft/TypeScript/milestone/68 for more info about what issue included.

[2018-04-09 23:02] mhegazy commented on #23282
to reiterate, we have no plans on shipping a 2.8.2 release on npm. 2.8.3 should be available next week though.

[2018-04-09 23:02] #23282 closed

[2018-04-09 23:08] mhegazy commented on #23280
I would just say this is a duplicate of https://github.com/Microsoft/TypeScript/issues/9944. once https://github.com/Microsoft/TypeScript/issues/9944 is addressed, no error should be shown in this scenario.

[2018-04-09 23:15] #15647 closed

[2018-04-09 23:52] simonbuchan commented on #11056
Oops? Yeah I just got pointed at these out another thread too.

Is `intel` a typo/autocorrupt of `intl`? I don't see either in the TS repo, other than `es2017.intl.d.ts`, but we now know how much to trust my reading skills!

You mention above splitting into `.core` and `.intl` the keep compat, but I guess it doesn't matter for es5 at this point.

[2018-04-09 23:54] joma74 commented on #14377
Is this covered somewhere after #14844 has been closed? What has been picked? Please plan forward to  document it at [https://github.com/Microsoft/TypeScript/wiki/JsDoc-support-in-JavaScript] or [https://www.typescriptlang.org/docs/handbook/type-checking-javascript-files.html]

[2018-04-10 00:01] aozgaa opened #23294 "Error: Debug Failure. False expression. in 'unknown' during 'occurrences'"
This issue comes from crash dumps in telemetry. We've tried to de-duplicate issues on a best-effort basis, comparing the sequence of methods called and the command requested while ignoring line numbers.
**TypeScript Version Prefix**: 2.8.1
**VSCode Version** 1.19.1
**command requested**: occurrences
**hitting sessions**: 109
**proportion of all sessions**: 0.17384370015948963
**five line hash**: d

[2018-04-10 00:01] aozgaa commented on #21804
This issue reproduced in the following context:
**TypeScript Version Prefix**: 2.8.1
**VSCode Version** 1.20.0
**command requested**: getCodeFixes
**hitting sessions**: 19
**proportion of all sessions**: 0.030303030303030304
**five line hash**: 8563df6748c46272fb3136ff28db14ea
**stack**
[code]

[2018-04-10 00:01] aozgaa commented on #22479
This issue reproduced in the following context:
**TypeScript Version Prefix**: 2.8.1
**VSCode Version** 1.20.1
**command requested**: getCodeFixes
**hitting sessions**: 15
**proportion of all sessions**: 0.023923444976076555
**five line hash**: 7a3d485836b4b5324a3ea0da35e1493f
**stack**
[code]

[2018-04-10 00:07] Connormiha opened #23295 "Lib: relList in HTMLAnchorElement"
**Search Terms:**
HTMLAnchorElement
dom

**Request:**
Add `relList` property in `HTMLAnchorElement`
https://developer.mozilla.org/en-US/docs/Web/API/HTMLAnchorElement/relList

[2018-04-10 00:13] #23295 closed

[2018-04-10 00:30] mhegazy commented on #14377
The issue has been closed in favor of https://github.com/Microsoft/TypeScript/issues/14844, which is fixed by https://github.com/Microsoft/TypeScript/pull/22592. The change should be included in the next release TypeScript 2.9.
with that you should be able to write:

[code]
or
[code]
More docs should be available as we approach the release date for TS 2.9

[2018-04-10 00:31] mhegazy commented on #11056
the definitions are included in `src\lib\es5.d.ts`.

[2018-04-10 00:31] dawidgarus commented on #23265
It's possible to do it without breaking changes. For some time, lib.d.ts could export global interfaces (marked as deprecated) and a namespace. `legacyLib` option could be introduced - if set to `false`, global interfaces should not be available.

[2018-04-10 03:33] mikevaleriano commented on #23255
I've started having intellisense issues in February's 1.21 update. Ever since it's been failing after a while, but 1.22 completely broke it. It just doesn't work, and reverting back to typescript 2.81 or 2.4.2 doesn't work.

What worked for me was actually installing January's 1.20.1 vscode. It comes with typescript 2.8.1, and it works fine. I didn't even try any other typescript versions because

[2018-04-10 04:08] saschanaz commented on #19062
This has been fixed.

[2018-04-10 04:42] mhkrebs commented on #13219
Just my two cents, I'm converting code to async/await and so I'm being subjected to throw (as an aside, I hate exceptions).  Having a throws clause as this issue discusses would be nice in my opinion.  I think it would be useful too even if "throws any" was allowed.  (Also, maybe a "nothrows" and compiler option that defaults things to "nothrows".)

It seems like a natural extension to allow typin

[2018-04-10 04:53] bpasero commented on #23278
Yes I was editing the file for sure.

[2018-04-10 05:12] Kingwl opened #23299 "CodeAction: convert lambda expression declaration to function"
**TypeScript Version:**  2.7.0-dev.201xxxxx

**Code**

[code]

**Expected behavior:**

[code]

**Actual behavior:**
none

btw: also convert function to lambda expression

[2018-04-10 05:24] mangeshdesai26 commented on #22917
Thanks @mhegazy

[2018-04-10 06:02] neoncom commented on #23252
Sure.

a.tsx
[code]

b.tsx
[code]
That code has zero compile errors.

You can see that the inner class of ComponentB has many properties (=> AllProps interface). But that class is wrapped by react redux to form ComponentB.

ComponentB, as a result, has only 1 (!) possible prop, "ownProperty".

So when using ComponentB, it correct only allows that property "ownProperty" on the component (see file a

[2018-04-10 06:09] neoncom commented on #23252
Proof it worked on 2.7.1. I wasn't wrong :)

![clipboard01](https://user-images.githubusercontent.com/35164488/38538982-734f1a84-3c96-11e8-88da-fe28112103b1.png)

[2018-04-10 06:44] TomasHubelbauer commented on #23245
Thank you, I'll take a stab at including these.

[2018-04-10 07:37] saschanaz commented on #13031
Proposal 1. `symbol.iterator`

[code]

2. Optional type resolve

[code]

[2018-04-10 08:07] TomasHubelbauer commented on #23245
Since `RTCPeerConnection` is found in `src\lib\dom.generated.d.ts`, which according to the the contribution guidelines are supposed to be updated through TSJS-lib-generator, I'll close this issue and reopen one in its repo.

[2018-04-10 08:09] TomasHubelbauer opened #23300 "Include WebRTC data channel stuff"
Please see Microsoft/TypeScript#23245 for context. This needs to update `src\lib\dom.generated.d.ts` so I'm opening a PR here instead of in the TypeScript repository. I will be working on this, but can't guarantee any deadlines/estimates, so anyone else is welcome to race me to PRing this.

[2018-04-10 08:44] tinganho opened #23301 "TS don't consider multi variable control flow analysis"
**TypeScript Version:**  2.7.0-dev.201xxxxx

**Search Terms:**
multi variable control flow analysis typescript

**Code**

[code]

**Expected behavior:**
No error on the last else body.

**Actual behavior:**
Error on the last else body.

**Playground Link:**
http://www.typescriptlang.org/play/#src=%0Adeclare%20const%20cleft%3A%20number%20%7C%20undefined%3B%0Adeclare%20const%20cright%3A%20number%20%

[2018-04-10 09:28] tomrav commented on #23271
Seems similar to #23281

[2018-04-10 09:39] a-tarasyuk commented on #23300
@TomasHubelbauer I've created PR. @mhegazy could you review it?

[2018-04-10 09:40] TomasHubelbauer commented on #23300
@a-tarasyuk can you please link it here?

[2018-04-10 10:05] albyrock87 commented on #23264
Hi @andy-ms , I tried your suggestion but the problem persists:
[code]

Your example does work but it's hackable:
[code]

I'm trying to create a library with some usage restriction, and that's not good.

[2018-04-10 10:06] debMenezes commented on #22422
I had the same issue here. I just deleted the entire folder "2.3" from "C:\Program Files (x86)\Microsoft SDKs\TypeScript"
It works nicely now...

[2018-04-10 10:41] saliehendricks commented on #21915
This saved me from hurting myself! Thanks for the tip. Enabling "Visual Studio Extension for Textmate Grammars" fixed my syntax highlighting woes

[2018-04-10 10:51] Taritsyn opened #23303 "TypeScript 2.8 processes the triple-slash reference directives inside the multi-line comments"
**TypeScript Version:**  2.8.1 (also checked on version 2.9.0-dev.20180410)

**Search Terms:** triple-slash reference directives, multi-line comments, file not found

**Code**

I compiled the `Person.ts` file with the following contents by using `tsc`:

[code]

**Expected behavior:**

Previous versions of TypeScript did not process the triple-slash reference directives inside the multi-line commen

[2018-04-10 11:12] sledorze commented on #23271
@tomrav Here's a playground with you example and 'noImplicitReturns' activated (in the 'Options' menu)

http://www.typescriptlang.org/play/#src=interface%20A%20%7B%20type%3A%20'A'%20%7D%0D%0Ainterface%20B%20%7B%20type%3A%20'B'%20%7D%0D%0A%0D%0Afunction%20isA(val%3A%20any)%3A%20val%20is%20A%20%7B%20return%20val%20%26%26%20val.type%20%3D%3D%3D%20'A'%7D%0D%0Afunction%20isB(val%3A%20any)%3A%20val%20is

[2018-04-10 11:14] tomrav commented on #23271
Thanks for the tip, didn't know you can do that! 👍

[2018-04-10 11:26] tomrav commented on #23301
Just curious, in the playground example you provided, there is no error in the last `else` block.
Seems to match your expected behavior. Is it possible that this issue is fixed in the current version?

[2018-04-10 11:46] stephanedr opened #23304 "Error "The 'this' context of type 'void' is not assignable to method's 'this' ..." when using an intermediate function instead of "!""
Same situation than #23040, but using an intermediate function instead of using "!".

**TypeScript Version:** 2.9.0-dev.20180410

**Search Terms:** "'this' context of type 'void' is not assignable"

**Code**

[code]

**Expected behavior:**
No Error.

**Actual behavior:**
The 'this' context of type 'void' is not assignable to method's 'this' of type 'Foo'.

**Playground Link:** https://www.typescri

[2018-04-10 11:56] RonanQuigley commented on #23255
relevant package.json bits:

[code]
@sheetalkamat I'm not sure what you mean by typing installer logs; can you be more specific? Either way, I've just uploaded both of the files that showed up in the tsserver log folder:

[ti-6468.log](https://github.com/Microsoft/TypeScript/files/1894438/ti-6468.log)

[tsserver.log](https://github.com/Microsoft/TypeScript/files/1894430/tsserver.log)

As for expli

[2018-04-10 11:58] cybermerlin commented on #23048
yep, thx

[2018-04-10 11:58] #23048 closed

[2018-04-10 12:01] RonanQuigley commented on #23255
Oops, sorry for the accidental close.

Just to add, note I'm using 2.9.0-dev.20180410 now from typescript@next, but the issue is still there. I can put together a repo again if need be, but the repo from the other issue I posted would suffice for testing it.

[2018-04-10 12:45] tinganho commented on #23301
The flag `strictNullChecks` is not reflected on the URL. And I cannot share it with the option on. But if you set the flag, you can see the error

[2018-04-10 13:47] Smesharikable commented on #18232
Wouldn't it be natural to also treat every `.ts` file as a module if `--isolatedModules` is specified, regardless of whether the file contains `import`/`export` or not?

[2018-04-10 14:03] andrewvarga commented on #22859
This is related to WebGL type annotations, but a slightly different issue (let me know if I should open a new thread):

In lib.d.ts (TS 2.8.1) all the interfaces of WebGL objects like WebGLBuffer, WebGLTexture are empty, and so because of structural (duck) typing, this code compiles without a problem:

[code]

An external typing file I used for WebGL types solves this by adding dummyprops to these

[2018-04-10 14:28] agopshi opened #23305 "Uninitialized variables work around strictNullChecks (follow-up to #13884)"
This is a follow-up to #13884, where @RyanCavanaugh asked me to open a new issue.

**tl;dr:** Now that there is `strictPropertyInitialization`, it seems that there should also be an analogous `strictLocalInitialization`.

**TypeScript Version:**  2.8

**Search Terms:** uninitialized local variables, strict local variables, strictLocalInitialization, strictPropertyInitialization, strictNullChecks

[2018-04-10 15:00] mattacosta commented on #2214
Just for future reference, there's another similar scenario:
[code]

[2018-04-10 15:04] andy-ms commented on #23304
That code will actually fail at runtime:
[code]

Fails with `TypeError: Cannot read property 'required' of undefined`, because the call `notNull(foo.optional)()` doesn't have `foo` as the `this` receiver.

[2018-04-10 15:17] andy-ms commented on #23264
Note that TypeScript does not have any abstract static methods (#14600). It might be more helpful to determine what you're trying to accomplish -- currently `Class` is unused there. Note that the type parameter is only available as a type, and not as a value, so you won't be able to write `new T` inside of your class body, and as you've noticed `typeof T` doesn't work.

[2018-04-10 15:25] ajafff commented on #23305
For the time being you could use a lint rule.

I have a written a rule to detect variables that are never assigned, which would cover the simple examples you provided above: The rule [`no-unassigned-variable`](https://github.com/fimbullinter/wotan/blob/master/packages/mimir/README.md#rules) is a core rule of my [Fimbullinter project](https://github.com/fimbullinter/wotan/blob/master/packages/wotan

[2018-04-10 16:09] mhegazy commented on #19062
still need to port the changes from Microsoft/TSJS-lib-generator

[2018-04-10 16:13] mhegazy commented on #23280
Maintaining the alias is a different issue. do not think we have a simple or clear fix for this one. so i would say that part is a design limitation.
Adding the import will address the biggest pain point in this scenario, yes it would be great if it was written the exact same way a human would have wrote it, but it will be close enough.

[2018-04-10 16:13] patrickhulce commented on #23305
The addition of `strictPropertyInitialization` really makes this quite in line with the other `strict*` flags and is sorely needed. There aren't other well-established, automated ways of catching this; ironically, the only lint rule that TSLint offers is the exact opposite of what we want here [`no-unnecessary-initializer`](https://palantir.github.io/tslint/rules/no-unnecessary-initializer/).

[2018-04-10 16:14] mhegazy commented on #23245
Addressed by https://github.com/Microsoft/TSJS-lib-generator/pull/424

[2018-04-10 16:15] mhegazy commented on #23300
Looks like a duplicate of https://github.com/Microsoft/TypeScript/issues/23245 and should be fixed by https://github.com/Microsoft/TSJS-lib-generator/pull/424

[2018-04-10 16:18] mhegazy commented on #23271
Please see https://github.com/Microsoft/TypeScript/issues/17358, https://github.com/Microsoft/TypeScript/issues/20409, https://github.com/Microsoft/TypeScript/issues/10470 and https://github.com/Microsoft/TypeScript/issues/9655

[2018-04-10 16:31] mhegazy commented on #23275
The 3rd party package is exposing its sources as output. that is wrong. it should be a .d.ts.

Exposing the sources of a package means you want every user to compiler and include that in their output. i.e. distributing code. in this case the errors are correct.

I suggest filing an issue against `viser` to use a .d.ts instead.

[2018-04-10 16:35] mhegazy commented on #23267
I am not sure what a private generic type parameter even mean in a structural type system..

You can achieve this by having an implementation class, and a public interface that hides the constructor signature you are using. you only export the public interface, and you keep your class implementation the way you like it.

[2018-04-10 16:36] mhegazy commented on #23274
related to https://github.com/Microsoft/TypeScript/issues/3841

[2018-04-10 16:41] stephanedr commented on #23304
Indeed, at JS level, `call()` has to be called, so ideally generated by TS.

The reason is that `!` is a "blind" non-null assertion, whereas I definitely prefer checking that, whenever I assume something, it is really true (`notNull()` is a debug feature that is removed in release mode).
And if I use `call()` I lose the benefit of argument checking...
Additionally, if one day conditional compilati

[2018-04-10 16:52] andy-ms commented on #23304
`foo.optional!()` gets a runtime check too -- it throws a `TypeError` if `foo.optional` was undefined.

[2018-04-10 16:56] DanielRosenwasser commented on #23294
What editor that we manage still uses getOccurrences? I'd think we were all on documentHighlights.

[2018-04-10 17:00] TomasHubelbauer commented on #23300
I'm such a goof... I thought I opened this in the TSJS-lib-generator repo :-(

[2018-04-10 17:00] #23300 closed

[2018-04-10 17:15] #23288 closed

[2018-04-10 17:29] stephanedr commented on #23304
To be clearer, `AssertionError`s are necessarily programming errors, so directly reported to developers, whereas other errors may be due to user errors.

[2018-04-10 17:37] ajafff commented on #14156
I have an initial implementation of a lint rule to checks exactly what is described in this issue.
Please have a look at this PR  https://github.com/fimbullinter/wotan/pull/179 and leave some feedback. The interesting parts are the test baselines which are the the first 2 files in the change list.

Be aware that this is not a TSLint rule. It's a rule for the [Fimbullinter project](https://github.c

[2018-04-10 17:48] EliSnow commented on #23267
@mhegazy, can you give me an example as it relates to this case? I'm having a hard time picturing what you mean.

[2018-04-10 17:55] mhegazy commented on #23267
is any type with the same structure assignable to your new type with a private generic type parameter? what if the type parameter is never witnessed in any property? what if it is? is it assignable to `any`? why and why not? can that type be used outside, can i write `typeof C["somethignOFTypeT2"]` outside the class?

[2018-04-10 17:59] mhegazy commented on #23291
but the compiler will not resolve it correctly? in other words, the error will not go away..

[2018-04-10 18:08] andy-ms commented on #23291
No, we will resolve an import `foo` correctly if `node_modules/@types/foo/index.d.ts` exists, even with classic resolution.

[2018-04-10 18:10] mjbvz opened #23308 "Organize import removes import if it is used only in object literal shorthand"
From https://github.com/Microsoft/vscode/issues/47531

**TypeScript Version:**  2.9.0-dev.20190409

**Search Terms:**
- organize imports

**Code**
For the project

`bar.ts`:
[code]

`foo.ts`:
[code]

1. Run organize imports in `foo.ts`

**Expected behavior:**
No changes.

**Actual behavior:**
Import for `./bar` is removed

[2018-04-10 18:14] mhegazy commented on #23291
ah, @types make sense.

[2018-04-10 18:14] mhegazy commented on #23291
but not other modules..

[2018-04-10 18:39] prendradjaja opened #23309 "Subclass method throwing exception gives type error (wrong return type)"
**TypeScript Version:**  2.7.2. Also reproduced on TS Playground 2018-04-10
**Search Terms:** exception subclass abstract, error subclass abstract

**Code:**
[code]

**Expected behavior:** `Immortal` is a valid subclass of `LifeForm`.
**Actual behavior:** Error:

[code]

I'm not sure if this is a bug or just misuse on my part. Even if it is a bug, it's easily worked around, as `Immortal2` below do

[2018-04-10 18:47] EliSnow commented on #23267
Good question. If yes, then the idea behind the private generic type parameter would only apply to the constructor. If no, you would not be able to cast to a subtype. So, I think yes would make the most sense.

It seems to me a generic type parameter would have three ways it could meaningfully be used: As a property, as a parameter in a method, or in the return type of a method. Maybe I'm missing

[2018-04-10 18:47] #23267 closed

[2018-04-10 18:51] #12417 closed

[2018-04-10 18:53] #23177 closed

[2018-04-10 19:17] pelotom opened #23312 "Union inference works in only some cases"
**TypeScript Version:**  2.8.1

**Search Terms:**

union inference

**Code**

[code]

**Expected behavior:**

All of these examples should work, with the type parameter `Z` being inferred as the union of the types of all values provided.

**Actual behavior:**

Only the array and string index cases work.

[**Playground Link**](http://www.typescriptlang.org/play/#src=let%20result%3A%20string%20%7C%2

[2018-04-10 19:18] RyanCavanaugh commented on #23309
This is an outcome of some historical decisions we can't change without causing a fairly large breaking change. The correct workaround is to add a type annotation:
[code]

[2018-04-10 19:22] #23275 closed, assigned to nobody

[2018-04-10 19:26] RyanCavanaugh commented on #23312
If you have exactly one place where `Z` occurs, then you have exactly one inference candidate, and we choose that candidate. There's not something else we even could do.

If you have more than one place where `Z` occurs, then you have multiple inference candidates, and we **intentionally** don't synthesize a union type. See https://github.com/Microsoft/TypeScript/issues/805#issuecomment-57740519 f

[2018-04-10 19:29] nukadelic commented on #5326
@chriszrc we don't have to suffer typing all of that text, let machines do that for us: https://constructor.stackblitz.io

[2018-04-10 19:30] RyanCavanaugh commented on #810
We did this!

[2018-04-10 19:30] #810 closed

[2018-04-10 19:32] neoncom commented on #23252
Another bug, related, but not the same (TS 2.8.1):

file a.tsx (Can quickfix first, but not second case)
![filea](https://user-images.githubusercontent.com/35164488/38579129-5d54db68-3d06-11e8-9b00-f1095d78893e.png)

file b.tsx
![fileb](https://user-images.githubusercontent.com/35164488/38579153-674c92fa-3d06-11e8-81e3-2ece9f513a0f.png)

[2018-04-10 19:32] RyanCavanaugh commented on #16386
@jcalz I think the spirit of this issue is fixed - would you agree?

[2018-04-10 19:33] pelotom commented on #23312
Ok, but in some cases a union type _is_ being synthesized (the array and `string`-indexed objects). I could understand if it never worked, but the fact that it works in some specific cases is what's confusing to me.

[2018-04-10 19:35] techsin commented on #23230
I'm not sure I understand what you're saying. But auto complete suggestion aren't broken just for import statements, they're broken for almost every combination of letters 3 to 5 you write.

[2018-04-10 19:38] RyanCavanaugh commented on #23312
More specifically, we don't synthesize union types *as part of inference*. In any place where the call succeeds, the type `(string | number)[]` is already present in one of the sourcing expressions. Comments inline:

[code]

[2018-04-10 19:48] #19645 closed

[2018-04-10 19:49] andy-ms commented on #23252
@neoncom I tested the example from 3 posts up and it works today with `typescript@2.9.0-dev.20180410`. In that example you are using `ComponentB` in a value position, not a type position. If I remove `import { ComponentB } from './b';` click on `<ComponentB` I correctly get a codefix to add the import back.

[2018-04-10 19:50] andy-ms commented on #23230
What I'm saying is that I tried reproducing the error, but I don't get the behavior you're seeing. I see an auto import from `"babel-types/index"`, not `../node_modules/@types/babel-types/index`. Could you double-check that you're testing with `typescript@next`? Vscode should show you in the bottom-right, what language server version you're using.

[2018-04-10 19:50] sandersn commented on #11597
@mohsen1 destructured parameters now look up jsdoc `@param` tags positionally. It should be available tomorrow in `typescript@next`.

[2018-04-10 19:57] prendradjaja commented on #23309
I see, thank you!

[2018-04-10 19:57] #23309 closed

[2018-04-10 20:03] billba commented on #23249
Just to bring up another issue with the current behavior, check out this common factory pattern:
[code]
The constructor is protected because I want `create` to be the only way to create an instance of A and its children. But because it is protected, it doesn't match the signature, and we fail. I am forced to leave the constructor public, which opens up misbehavior from folks who don't realize they

[2018-04-10 20:06] pelotom commented on #23312
I see, thanks for the explanation!

[2018-04-10 20:06] #23312 closed

[2018-04-10 20:07] andy-ms commented on #23249
I think the latest example would be #5863

[2018-04-10 20:07] andy-ms commented on #16703
Duplicate of #22430

[2018-04-10 20:26] sledorze commented on #23281
Ok duplicate of https://github.com/Microsoft/TypeScript/issues/11572

[2018-04-10 20:26] #23281 closed

[2018-04-10 20:47] mhegazy commented on #12417
thanks @Kingwl!

[2018-04-10 20:50] #22889 closed

[2018-04-10 20:50] #22885 closed

[2018-04-10 20:50] #22877 closed

[2018-04-10 20:50] #22870 closed

[2018-04-10 20:50] #22863 closed

[2018-04-10 20:50] #22852 closed

[2018-04-10 20:50] #22758 closed

[2018-04-10 20:50] #22756 closed

[2018-04-10 20:50] #22695 closed

[2018-04-10 20:50] #22431 closed

[2018-04-10 20:50] #21921 closed

[2018-04-10 20:56] andy-ms commented on #19955
A possibly related error:
[code]

[2018-04-10 21:21] LucasSloan opened #23317 "Partial<T[keyof T]> can't be type narrowed"
**TypeScript Version:**  2.7.2, 2.8

**Search Terms:**
keyof narrowing
**Code**

[code]

**Expected behavior:**
The second assignment works, since the type was checked for undefined.
**Actual behavior:**
The second assignment fails, complaining the the RHS is `T[keyof T]|undefined`, despite the if check.

**Playground Link:** [Playground](http://www.typescriptlang.org/play/#src=function%20foo%3CT%

[2018-04-10 21:37] TazmanianDI commented on #3964
This seems like something that could benefit styled components which use template literals for building CSS. If this change supported template literals that would be great.

For example:

const VALUE = 10;
const aString = `A ${VALUE} B`;

Could be output as

const aString = `A ` + 10 + ` B`;

Or potentially just

const aString = `A 10 B`;

[2018-04-10 21:56] isiahmeadows commented on #3964
@TazmanianDI This is unsafe for three scenarios:

1. Symbols (they are not coercible)
1. Reference types (`.toString` is called)
1. Tagged template literals (as you already mentioned)

In all other use cases, this *is* a safe thing to do. Conveniently, constant propagation works only for literals, and all literals except objects and functions are primitives, so the only problematic construct would

[2018-04-10 22:11] kpdonn commented on #23263
Additional cases with generics:

[code]
[Playground link](https://www.typescriptlang.org/play/#src=declare%20const%20sym%3A%20unique%20symbol%0D%0A%0D%0Adeclare%20function%20genericIdentity%3CT%3E(arg%3A%20T)%3A%20T%0D%0Aconst%20unexpectedError%3A%20typeof%20sym%20%3D%20genericIdentity(sym)%0D%0A%0D%0Adeclare%20function%20genericSymbolNested%3CT%20extends%20symbol%3E(arg%3A%20T)%3A%20%7B%20prop%3A

[2018-04-10 22:46] RyanCavanaugh opened #23324 "Task list: Convert TypeScript repo to project references"
* [ ] Remove all `/// <reference` directives; put explicit file lists in tsconfigs
* [ ] Turn on the `no-reference` TSLint rule
* [ ] Move code between files until they're movable to proper subprojects
* [ ] Simplify the jakefile
* [ ] Add sourcemaps for outFile compilations (@weswigham)
* [ ] More?

[2018-04-10 23:17] DanielRosenwasser opened #23326 "No completions on meta-properties"
[code]

**Expected**: Completion for the `target` keyword at the `/**/` marker.
**Actual**: No completions.

[2018-04-10 23:55] DanielRosenwasser commented on #23326
Ideally, any work here will make it easy to add completion support for `import.meta`.

[2018-04-11 00:01] MrDesjardins opened #23328 "Index Signature Defined to String but Accept Number"
**TypeScript Version:**  2.8.3-insiders.20180407
(Also in the Playground)

**Search Terms:** index signature

**Code**

[code]

**Expected behavior:**
The last line of the code, I would expect to have TypeScript to say the same error as the second line. The error should say that the index must be a string.

**Actual behavior:**
The code compiles without error even if it is mentioned that only stri

[2018-04-11 00:14] RyanCavanaugh commented on #23328
Please see "Indexable Types" in https://www.typescriptlang.org/docs/handbook/interfaces.html

[2018-04-11 00:37] jcalz commented on #16386
Is it?  I think that there's definitely been some improvement here, but the basic issue, that something like
[code]
*expands* to `string | (string & number) | (string & true) | (string & false)` instead of *reducing* to `string` persists.  Type manipulation tends to produce these things occasionally.   I can imagine it's not a priority for anyone though.  🤷‍♂️

[2018-04-11 00:43] Spongman commented on #15031
why does the noImplicitAny check fire when import .js files? surely when you're importing a .js file you're _explicitly_ declaring everything within it as `any` ?

[2018-04-11 00:47] RyanCavanaugh commented on #16386
The display text shows this, but the behavior is the same as string because the conflicting-intersection types (`string & boolean`) turn into `never` and ultimately vanish from the union:
[code]

[2018-04-11 00:51] Spongman commented on #13348
cebause otherwise otherwise simple use case is a pain in the neck?

[2018-04-11 01:04] jcalz commented on #16386
Wasn't that also true when I originally filed this?  When you get down to using actual values with concrete types, it's all good.  I think some more aggressive reductions to `never` have occurred since then, but there are still cases where the type checker complains (the generics in the examples).  But as I said, in practice probably few people run into this issue.

One interesting development is

[2018-04-11 01:17] #23198 closed

[2018-04-11 02:00] unional opened #23329 "Object Literal + spread + public property"
Sorry about the title. Can't think of a good way to describe the issue. Feel free to modify it.

Here is the issue:

[code]

[playground link](http://www.typescriptlang.org/play/index.html#src=class%20Foo%20%7B%0D%0A%20%20%20%20do()%20%7B%20%7D%0D%0A%7D%0D%0A%0D%0Aclass%20Boo%20extends%20Foo%20%7B%0D%0A%20%20%20%20public%20x%3A%20number%0D%0A%7D%0D%0A%0D%0Afunction%20foo(f%3A%20Foo)%20%7B%20return

[2018-04-11 03:50] #23303 closed

[2018-04-11 03:53] aboveyou00 opened #23330 "Typeo in tsc.ts: udpateReportDiagnostic"
**TypeScript Version:** n/a. (Discovered in master)

**Search Terms:** "updateReportDiagnostic", "udpateReportDiagnostic", "typeo in tsc.ts"

**Code:** n/a

**Actual behavior:**

There is a typeo in tsc.ts, for a private implementation method.

[code]

Notice the misspelling of "update". That function is invoked in two other places within the same file. It is not exposed as a public API, and it is

[2018-04-11 04:00] aboveyou00 commented on #23330
Submitted PR: #23331

[2018-04-11 04:50] MrDesjardins commented on #23328
I understand the rationale that JavaScript uses string underneath but it seems that TypeScript, when explicitly set to number, should respect the type. Otherwise, why just not letter developer set it to a number?

Maybe I am missing some context, can you link me to the discussion about why TypeScript is not better than JavaScript in that scenario?

[2018-04-11 05:53] osdiab commented on #10570
This is another common case for me:

[code]

[2018-04-11 06:00] mjbvz opened #23333 "Typescript: Code action implement inherited abstract class will override the class body"
_From @yaohaizh on April 11, 2018 1:54_

- VSCode Version:  1.22
- OS Version: Windows 10

Steps to Reproduce:

1.  Typescript code:
[code]
2. Select the SubClass and trigger the code action, invoke it

Expected:  The new code should insert after the comment or other existing code

Actually: The existing code is overwrote.

Does this issue occur when all extensions are disabled?: Yes

_Copied from

[2018-04-11 06:01] mjbvz commented on #23333
Confirmed with TypeScript 2.9.0-dev20180409

[2018-04-11 06:11] zheeeng commented on #4196
Expected progress on negating operate.
We already have `Exclude<T, U>` it is awesome that if the second type `U` is optional. We can easy implements `Not<T>` to exclude `T` from all types.
I also upvote using `~ T` or `unlike T` to constraints types.

[2018-04-11 07:26] Machiaweliczny commented on #4892
Having macros would be nice 👍 but I think usage should be very explicit. I think it might be worth checking how they are done in Elixir as big part of Elixir language is written as macros - https://elixir-lang.org/getting-started/meta/macros.html

[2018-04-11 07:34] ajafff opened #23334 "Missing implicit any error in destructuring with computed property"
**TypeScript Version:**  2.9.0-dev.20180411

**Search Terms:**

**Code**

[code]

**Expected behavior:**
`Element implicitly has an 'any' type because type '{ prop: string; }' has no index signature.`

**Actual behavior:**
`prop` is `any`, but there is no implicit any error

**Playground Link:** https://agentcooper.github.io/typescript-play/#code/DYUwLgBAdghgtiAJhAvBA5AMwPbfQbgChRIBvAbVgUQF0AuCABw

[2018-04-11 08:15] doureyd commented on #22881
I'm also interested, as workaround I set my function as optional but I have to check if it exists before calling it.

[2018-04-11 08:40] Legends opened #23335 "error TS7038: A namespace-style import cannot be called or constructed, and will cause a failure at runtime"
tsc -v: Version 2.8.1

`tsc`:

**pageX.ts**
`import * as $ from "jquery";` does not work and I get the error mentioned in subject.

Doesn't work either:
[code]

[code]

[2018-04-11 08:40] #23330 closed

[2018-04-11 09:16] tomrav commented on #23271
I see how you're approaching it now, I'll close the issue.
Thanks 👍

[2018-04-11 09:16] #23271 closed

[2018-04-11 10:16] pleerock opened #23336 "One type signature overrides another when undesirable"
The following works fine:

[code]

However this code:

[code]

Gives me following error:

[code]

Looks like when I define `props` it thinks `actions` will have the same signature, however its not.
I'm using latest `2.8.1`.
Sorry wasn't sure how to title this issue.

[2018-04-11 10:46] evil-shrike commented on #23222
For the record.
I abandoned both approaches (`--sourceRoot` and `--outDir`). In the end I just compile everything in-place (in staged folder /dist/dist) where I get *.js, *.ts, *.d.ts, *.js.map then just move *.ts and *.js.map into sibling folder structure /dist/src. So the release package contains:
[code]

Inside *.js I have local sourcemap references (like `//# sourceMappingURL=file1.js.map`). S

[2018-04-11 13:49] #22436 closed

[2018-04-11 15:00] andy-ms commented on #23329
In addition to the extra property, spreading an object removes methods. So `foo({ ... new Foo() })` would also fail.

[2018-04-11 15:15] guillaume86 opened #23338 "Conditional type (ReturnType) not correctly infered when used to create an union from a Record type values"
**TypeScript Version:**  typescript@2.9.0-dev.20180411

**Search Terms:**
deep return type
deep ReturnType
conditional return type

**Code**

[code]

**Expected behavior:**
The type Action should be
[code]
like it does in the commented case.

**Actual behavior:**
The type Action is
[code]

**Playground Link:**
http://www.typescriptlang.org/play/#src=type%20Fn%20%3D%20(...args%3A%20any%5B%5D)%20%3D

[2018-04-11 15:18] andy-ms commented on #23336
If you don't want them to have the same keys, why did you write `actions: { [P in keyof PROPS]?: string },`? `actions: object` would fix the compile error.

[2018-04-11 15:48] styfle opened #23339 "TypeScript has doubled in size since v2.0.0 - now 35 MB"
**Search Terms:** install size mb

**Expected behavior:**
I expected typescript to be relatively small since it has zero dependencies so there is no additional bloat from `package.json` or `README.md` files included with dependencies.

 [![install size](https://packagephobia.now.sh/badge?p=typescript@2.0.0)](https://packagephobia.now.sh/result?p=typescript@2.0.0) `typescript@2.0.0` is about 17 MB,

[2018-04-11 16:30] mohsen1 commented on #15647
@sandersn Your changes resolved this! Thank you!

The only thing that's still erroring is this:

[code]

[2018-04-11 16:30] DanielRosenwasser commented on #23335
What doesn't work about the latter two? Those would be the appropriate ones to use.

[2018-04-11 16:32] DanielRosenwasser commented on #23335
Also, I'd point out that `esModuleInterop` doesn't make much sense when targeting `esnext` modules.

[2018-04-11 16:46] mohsen1 commented on #22975
@sandersn @DanielRosenwasser  This is the last item in todo list of migrating Webpack to use TypeScript

https://github.com/webpack/webpack/pull/6862

[2018-04-11 16:54] RyanCavanaugh commented on #23328
You can think of numbers as being a subtype of strings *for the purposes of indexing*. They have predictable and meaningful runtime semantics when used in this way.

It's not clear what error this check would be meant to prevent - if an object is indexable by a string, then writing to it by an implicitly-converted number key is not really problematic.

[2018-04-11 16:56] DanielRosenwasser commented on #23339
I agree - installs should be definitely be fast! But also keep in mind that 2 years is a long time, so we've done a lot outside of what was in 2.0 (e.g. infrastructure for our emit pipeline).

The TypeScript package's `lib` folder contains the following:

- 4.85MB of `lib.*.d.ts` files
- 0.87MB of `.d.ts` files relating to our API
- 2.20MB of localized versions of error messages used by the --loca

[2018-04-11 17:02] DanielRosenwasser commented on #23336
Or `actions: Record<string, string>`

[2018-04-11 17:13] styfle commented on #23339
@DanielRosenwasser Thanks for the quick and detailed response!

The installs are pretty fast which is why it caught me off guard.

I noticed [typescript](https://packagephobia.now.sh/result?p=typescript@2.9.0-dev.20180411) is about the same size as [webpack-cli](https://packagephobia.now.sh/result?p=webpack-cli@2.0.14) but installs much faster, likely due to the fact that there are zero dependenci

[2018-04-11 17:25] RyanCavanaugh commented on #16386
It's sounding like there isn't anything concrete in terms of resulting behavior? The intermediate forms the types take during expansion/reduction is sort of an implementation detail as long as the resulting subtype relationships are correct.

[2018-04-11 17:37] andy-ms opened #23340 "Warn on unused property in object literal with spread"
**TypeScript Version:**  2.9.0-dev.20180411

**Search Terms:** object spread unused property

**Code**

[code]

**Expected behavior:**

Error at `{ x, ...p }`: The first `x` is dead because `...p` has its own non-optional `x`.

**Actual behavior:**

No error at `{ x, ...p }`.

[2018-04-11 17:56] Legends commented on #23335
Aaah, I f I comment both out or set both to false, then I can import it like:
`import * as $ from "jquery"`

I will take a look at both more closely. Thanks!

[2018-04-11 17:56] #23335 closed

[2018-04-11 17:58] jcalz commented on #16386
Yes, that's true.  The benefit would mostly be in Intellisense quick info and any type-level manipulation that relies on absorption to work (which can probably be worked around with `AbsorbUnion`/`AbsorbIntersection` above).  And that benefit is questionable in the face of excess property checking, where something like `Cat | Animal` is observably different from `Animal` when assigning object lite

[2018-04-11 18:14] sandersn commented on #22975
This error looks correct to me. If you ever run

[code]

It will be an error. If you try the original sample in Chrome, you get a TDZ error from the const. If you run it through babel first you get an error that you can't call `undefined`. (Babel generates a `var cacheMerged` with the default settings on the REPL, at least.)

[2018-04-11 18:19] mhegazy commented on #15647
@mohsen1 https://github.com/Microsoft/TypeScript/pull/23319 should fix this. give it a try in tommrow's build.

[2018-04-11 18:25] MrDesjardins commented on #23328
I was just bewildered when I saw a piece of code having IDs (string) used in a situation of index signature with an **explicit** mention that it should only accept a number. For me, it shatters the idea that TypeScript's explicit typing is always respected.

Let me elaborate. A number is a number in many typed languages, even in TypeScript a variable of type number is not a subtype of string... th

[2018-04-11 18:26] charlesdeb commented on #20047
OK, I have had a chance at looking at the `tsserver.log` file for trying an import code completion.

Here is a dump of the output from about the time I pressed "autocomplete":

[code]

You will see at the end of the dump, the `Directory of Failed lookup locations in module resolution` output. There are actually about 45 of these errors right after this output - and then another 35 or so a bit furt

[2018-04-11 18:28] pleerock commented on #23336
but it does not provide a type-safety, right? I want first to be some properties of T and second to be some other (or same) properties of T. Just like in first working example, looks like the second is a bit complexier and it does not work.

[2018-04-11 18:31] mhegazy commented on #22975
looking at it again, it is not a compiler bug, it is an actual bug. this code will not execude if the  number of arguments is greater than 2.

![image](https://user-images.githubusercontent.com/8000722/38635994-dd5ca956-3d7b-11e8-8cc6-e30989a55be1.png)

[2018-04-11 18:45] Sharpiro opened #23341 "VS Code Declare Non-Global, Module-Based, Extension Methods"
**TypeScript Version:**  2.7.2

**Search Terms:** global modules declarations extensions VS Code

**Code**

extensions.ts:
[code]
main.ts:
[code]
**Expected behavior:**
I would like to have the ability to import extension methods and interfaces on a module basis.  This would allow you to import an extension method interface and its implementation on an as-needed basis, or importing different imple

[2018-04-11 18:50] #22788 closed

[2018-04-11 18:50] #22734 closed

[2018-04-11 18:51] #13689 closed

[2018-04-11 18:56] Loridawn99 commented on #23341
Kudos everyone

[2018-04-11 19:09] RyanCavanaugh commented on #23339
Oops, totally invalid results. Didn't realize NPM changed behavior and started saving to package.json by default!

[2018-04-11 19:18] styfle commented on #23339
I have been doing some comparisons of popular tools in similar categories and I happen to really like TypeScript so I thought I would make note of it.

You can see some of the comparisons I've done here: https://github.com/styfle/packagephobia#demo

------

That being said, what is the quote "If we used modules, we'd be able to share each file and avoid this duplication" mean? Is this achievable i

[2018-04-11 19:35] #22975 closed

[2018-04-11 19:47] ajafff commented on #23340
Since this will never result in an error at runtime, it should better be implemented by a linter.
Given the previous discussion about avoiding lint-like errors in the type checker, I don't think TypeScript is the right place for such a rule.

[2018-04-11 19:50] RyanCavanaugh commented on #23341
I can't stress enough how bad of a plan this is. When you modify the prototype, you do so *for everyone*. And if you have "different implementations of an extension method", you really cannot predict which one was the last one in.

Our current support for `declare global ` is all we intend to do here. Don't modify built-in prototypes. It's not worth the future pain you're going to incur on yoursel

[2018-04-11 20:30] Sharpiro commented on #23341
It's odd to see Microsoft so anti-extension-functionality in TypeScript when it's not only highly used in C#, but is actually being pushed to "extension everything" in future language versions.

```declare global``` seems to be more of a hack workaround imo.

Alright, this was just a request, thanks for the feedback

[2018-04-11 20:31] #23341 closed

[2018-04-11 20:34] bradenhs commented on #7294
Is the following just another manifestation of this issue?

**Code**

[code]

**Expected behavior:**

`value` should be of type `number | string`

**Actual behavior:**

[code]

[2018-04-11 20:38] RyanCavanaugh commented on #23341
@Sharpiro probably worth reading #9

[2018-04-11 20:46] andy-ms commented on #23336
Well, a bigger problem is that we can't properly infer the type `PROPS` if all we have are its keys. The best you could do is something like this:
[code]

[2018-04-11 20:55] andrewbranch commented on #7294
@bradenhs yep, same issue. If you type the array as `(number | string)[]`, the code compiles.

[2018-04-11 20:56] MrDesjardins commented on #23328
Thank you, Ryan, for the explanation. Now, I understand the motive of not breaking previous codes, but I am still not entirely sold to the idea of explicitly a type and allowing more.

Concerning the documentation, if a particular case (like this one) is not fully documented, then you may have people asking questions. This thread will act as future documentation for people who are wondering about

[2018-04-11 21:03] aleksey-bykov commented on #3817
@mhegazy i don't understand `HelpWanted` tags that you put, there were a few pull requests about fixing formatting and all got nowhere without any comments: https://github.com/Microsoft/TypeScript/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aopen+format

[2018-04-11 21:04] aleksey-bykov opened #23344 "merge pull requests about formatting"
https://github.com/Microsoft/TypeScript/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aopen+format

[2018-04-11 21:07] #23294 closed

[2018-04-11 21:12] egeozcan commented on #5453
I'm the author of [ppipe](https://github.com/egeozcan/ppipe), which, like the pipe functions in RXJS, needs this. I think I see a pattern here^^

[2018-04-11 21:12] andy-ms opened #23345 "`keyof "a"` behaves differently when using a type parameter"
**TypeScript Version:**  2.9.0-dev.20180411

**Code**

[code]

**Expected behavior:**

No error. `B` is the same as `A`.

**Actual behavior:**

Error: `B` is the string literal type `"a"`.

[2018-04-11 21:48] weswigham opened #23348 "Accessor declarations are not unified when they have late bound names"
I noticed this inconsistency while working on fixing a similar one in the declaration emitter (which can use the checker, so can still easily unify them).

**Code**

[code]

**Expected behavior:**
[code]

**Actual behavior:**
[code]

@rbuckton pointed out that our current emit still works (the get and the set merge because neither explicitly sets the other to `undefined`), so this isn't a high pri

[2018-04-11 22:00] pelotom commented on #5453
I'm the author of [runtypes](https://github.com/pelotom/runtypes), and this feature is desperately needed to express  unions and intersections. The only (incomplete) workaround is gargantuan overloads:

https://github.com/pelotom/runtypes/blob/master/src/types/union.ts

🤢

[2018-04-11 22:10] RyanCavanaugh commented on #23344
We are aware we have a pull request backlog

[2018-04-11 22:33] mhegazy commented on #15031
you do not need to include `@types`. just add:
[code]

[2018-04-11 22:34] mhegazy commented on #13348
This means you are putting the `declare module` in a module file.. just put the declaration in a .d.ts file that is not a module (i.e. does not have `export` or `import` on the top level).

[2018-04-11 22:47] andy-ms opened #23352 "`cb: (x: T) => void` not assignable to `cb: (x: T) => void` when it has an overload: "'any' is not assignable to 'never'""
**TypeScript Version:**  2.9.0-dev.20180411

**Code**

[code]

**Expected behavior:**

No error.

**Actual behavior:**

[code]

Worked in `typescript@2.9.0-dev.20180327`, broken in `typescript@2.9.0-dev.20180328`.

[2018-04-11 22:48] mhegazy commented on #20047
the two completion requests in this log took  18.2173 and 2.9179 milliseconds, so not sure where is the slowness.

The open file is the one that took the 47738 , and not the completion. looks like we are reading too many files/looking in too many directories for modules.

can you file a new issue, and upload your full tsserver log.

[2018-04-11 22:54] aleksey-bykov commented on #23344
you might not be aware that you are still asking for help as far as formatting yet having your hands full and all the help you got is unactionable, this doesn't make sense: https://github.com/Microsoft/TypeScript/issues/3817#issuecomment-380594826

[2018-04-11 22:59] andrewvarga opened #23353 "Type annotations in lib.d.ts are not type safe"
In lib.d.ts (TS 2.8.1) all the interfaces of WebGL objects like WebGLBuffer, WebGLTexture are empty, and so because of structural subtyping (duck typing), this code compiles without a problem:

[code]

An external typing file I used for WebGL types solves this by adding dummyprops to these interfaces, which is a little hacky but works:
https://github.com/asgerf/dartify/blob/master/testcases/pixi/w

[2018-04-11 23:03] mhegazy commented on #23338
A conditional type is distributive iff it is written using a naked type parameter.. in other words `type A<T> = T extends cond ? ture : flase` is distributive, but `type B<T> = ReturnType<T> extends cond ? true : false` is not.

you can write your type as a series of two references to ensure it is distributive. e.g.

[code]

[2018-04-11 23:08] mhegazy commented on #23353
i think this is the same as https://github.com/Microsoft/TypeScript/issues/5855

[2018-04-11 23:12] MrDesjardins commented on #23328
This is a good question. The current syntax is not naturally logic when we compare to the rest of the language. We already discuss this, and we agree that because of a historical reason it ended in the present form. However, I see it more as a step into cleaning the language. TypeScript could in the future have a warning to deprecate the magic string/number safe conversion and in a farther future

[2018-04-11 23:42] gabomgp commented on #18611
Maybe, someone is interested in a RFC in Rust that is accepted and is being implemented. The [RFC 2089 Implied bound](https://github.com/rust-lang/rfcs/blob/master/text/2089-implied-bounds.md) is similar to this issue. I think this is  a good idea.

[2018-04-11 23:44] andrewvarga commented on #23353
Indeed.

[2018-04-11 23:44] #23353 closed

[2018-04-12 00:03] mhegazy commented on #23339
We have a change to reorganize the library in https://github.com/Microsoft/TypeScript/pull/15780. this should allow us to remove all duplication in the lib files. that said, I expect the lib file to increase in the next release as we are working on updating it and adding comments, so that might end up being a wash.

We should be able to remove some 6 MBs by combining the two targets tsserverlibara

[2018-04-12 00:17] DanielRosenwasser commented on #23339
For context, today we don't use modules; each file in the Typescript compiler uses namespaces in the global scope, and is concatenated at the end.

For a Node project, I don't think this is worth it unless it'd just be about stripping out whitespace.

[2018-04-12 01:51] soraping commented on #21918
you can try [ws-ts](https://www.npmjs.com/package/ws-ts)

[2018-04-12 02:01] #23308 closed

[2018-04-12 02:03] Matthijs-Wessels commented on #15292
Why doesn't putting `async` in front of the function implicitly convert `string` to `Promise<string>`?

This is what I would expect.

[2018-04-12 02:43] charlesdeb commented on #20047
Sure - but can you suggest exactly what I call this issue.

[2018-04-12 03:44] Kingwl commented on #23299
![image](https://user-images.githubusercontent.com/6831019/38655385-e0bd85e0-3e46-11e8-8021-3c8fb36a04ef.png)

from IDEA

[2018-04-12 03:46] zaaack commented on #23299
+1. Add braces is very useful, too.

[2018-04-12 03:47] zuozijian3720 commented on #23299
+1. Add braces is very useful, too.

[2018-04-12 04:42] pleerock commented on #23336
Can you please help me with my particular example?:

[code]

(PROPS) must be inferred from the class on which decorator is applied.

[2018-04-12 04:59] dixon commented on #21569
@mhegazy apologies if I'm unclear here - are there still no plans to allow the Language Service to use an SDK from the local Nuget packages?

Or is there a "best way" to keep all devs' VS instances using the same SDK for their Language Service?

[2018-04-12 05:53] AngryPowman commented on #23299
Kingwl's proposals always help me a lot.

[2018-04-12 05:55] vizee commented on #23299
Kingwl's proposals always help AngryPowman a lot.

[2018-04-12 06:05] mzhukovs commented on #15055
I'm still having this issue although not 100% sure if it's the same. In my case, if I have a typescript file opened as well as an html file that's in the same directory, then TS spews false errors in VS2017 - any ideas?
[I also filed this here but there hasn't been any movement](https://developercommunity.visualstudio.com/content/problem/206355/typescript-file-treated-as-miscellaneous-if-other.htm

[2018-04-12 06:51] guillaume86 commented on #23338
Ha Ok thanks good to know. Should I just close the issue then ?

[2018-04-12 07:37] ZSkycat opened #23356 "Salsa - IntelliSense based on JSDoc, @typedef -> @property -> {Function(Type): Type} not support"
**TypeScript Version:**

**Code**

[code]
`@property` does not support {Function(Type): Type}
`@type` support {Function(Type): Type}

**Expected behavior:**
[code]

**Actual behavior:**
[code]

[2018-04-12 08:48] michaelgeorgeattard opened #23357 "Side-effect non-null assertions"
Hi,

Having the below code (with `strictNullChecks` enabled):

[code]

Currently there is no way for `a` to be inferred as non-null in `const z = a.toString()`.

Would it be possible to do something like the following syntax:

[code]

This would indicate that the return type is actually boolean, but it also has a side-effect of asserting non-null T when function returns true, and null T when funct

[2018-04-12 08:54] gucourti commented on #15730
Hi there, I have the same issue with TypeScript code analysis raising thousands of errors from non typescript nor javascript files on a project that contains no JS nor TS files.

It seams that this occurs after adding an extension on file extension (with a SQL editor in that case) with any "Non TypeScript" editor, TS editor analysis is done. As long as this is NOT Typescript nor javascript, it is

[2018-04-12 09:05] #23357 closed

[2018-04-12 09:44] joscha opened #23359 "Code `Quill.import('mod');` makes TS think it needs to `import('mod')`"
The quill library has a static method called `import` on it's exported symbol, which is used like this:
[code]

These dependencies are not actually imports, they are [strings in a map](https://github.com/quilljs/quill/blob/df1d4e49a3ef6dddb2fc62dd3f5d843e464ae55e/core/quill.js#L27-L32). Unfortunately `ts.preProcessFile` thinks they are valid imports.
I tried fixing the issue, but there is some log

[2018-04-12 10:39] rabbitmeow opened #23361 "The return type of Function.prototype.bind"
I expect the return type of `Function.prototype.bind` should be Function, but it's any in `@types/node/index.d.ts`

[code]

Can anyone help me about this question?

[2018-04-12 10:54] RonanQuigley commented on #23255
Hi @sheetalkamat, is there any update on this issue?

[2018-04-12 11:10] mmis1000 opened #23362 "JSDOC inconsistance casting behavior"
**TypeScript Version:**  2.8.1

**Search Terms:**
jsdoc, casting

**Code**

utils.d.ts
[code]

test.js
[code]

**Expected behavior:**
They both throw error due to casting between item with incompatible signature without explicit casting

**Actual behavior:**
The first one pass for unknown reason , the second one failed as expect

**Playground Link:**

**Related Issues:**

[2018-04-12 11:29] payload opened #23363 "Class instance + spread assignment allows wrong type guarantee"
Consider this example:
[code]
The spread operator in the object literal produces a new type different vom the RegExp type of x.
The bad thing happens when the type checker allows the assignment of this object to `x` of type RegExp.
For example x has non of the methods of RegExp afterwards.
I expect that the compiler rejects assigning a value of wrong type to x.

Compile it with `tsc --lib es6,dom

[2018-04-12 11:32] Shingyx opened #23364 "`promise.then` type parameters are too lenient"
**TypeScript Version:**  2.9.0-dev.20180412

**Search Terms:** promise

**Code**

[code]

**Expected behavior:**
Does not compile.

**Actual behavior:**
Compiles, and then results in an uncaught TypeError when executed.

**Playground Link:**  http://www.typescriptlang.org/play/#src=Promise.resolve(1).then%3Cstring%3E().then(x%20%3D%3E%20x.slice(1))%3B%0D%0A

**Related Issues:**
Couldn't really fin

[2018-04-12 12:59] sebek64 commented on #4130
Another nice testcase (actually a regression of TS 2.7) is this:

[code]

It produces

test.ts(20,9): error TS2557: Expected at least 0 arguments, but got 0 or more.

[2018-04-12 14:38] RyanCavanaugh commented on #23363
See comments in https://github.com/Microsoft/TypeScript/issues/13148#issuecomment-270191398

[2018-04-12 14:43] RyanCavanaugh commented on #21569
This is something we are actively looking in to.

[2018-04-12 15:14] errorx666 commented on #19000
I'm getting this error in 1.23.0-insider and it seems to be completely breaking most language server features for me.

[2018-04-12 15:26] errorx666 commented on #19000
I tried patching `updateMissingFilePathsWatch` to just return without doing anything.
The error changed to
[code]

So, it seems the problem is not actually with `getMissingFilePaths`, but rather with a `null`-valued program parameter.

I'm not sure how/why this is the case.

[2018-04-12 15:35] RyanMitchellWilson opened #23365 "Compile with -w doesn't rebuild all affected files"
**TypeScript Version:**  2.8.1

**Search Terms:**
- Typescript 2.8.1 watch not rebuilding all affected files
- tsc -w doesn't rebuild all files

**Code**

This is not an issue with any code, it is an issue with the compiler running in watch mode

**Expected behavior:**
I just updated to Typescript 2.8.1 and I have it installed globally. While running `tsc --pretty -w` I expect to get errors in all

[2018-04-12 15:39] mjbvz opened #23366 "Organize Imports should used case-insenstive sort for imports"
_From @MichaelRBond on April 12, 2018 11:23_

Issue Type: <b>Bug</b>

When running `Organize Imports` on the following line: `import {abc, Xyz} from "./foo";` the command changes the import sort order from
`abc, Xyz` to `Xyz, abc`. This causes a tslint error, because tslint expects it to sort alphabetically regardless of case.

Steps to reproduce:
* Run `Organize Imports`

Expected Result:
sorted

[2018-04-12 15:39] mjbvz commented on #23366
_From @vscodebot[bot] on April 12, 2018 11:23_

(Experimental duplicate detection)
Thanks for submitting this issue. Please also check if it is already covered by an existing one, like:
- [Import orginization doesn't honor tslint line length rules (#47679)](https://www.github.com/Microsoft/vscode/issues/47679)

[2018-04-12 15:41] errorx666 commented on #19000
@sheetalkamat @mhegazy Can this issue be reopened?

[2018-04-12 15:54] chrisdieckhaus opened #23367 "MSBuild - Don't run VsTsc/recompile all files if no TypeScript files have been changed"
We have a .NET MVC project with a TypeScript front-end, using `tsc` to compile files during build. After investigation, it appears that nearly half of our build time is occuring due to the `CompileTypeScriptWithTSConfig` target, task `VsTsc`.

**Expected behavior:**
If no typescript files have been updated, `VsTsc` should not be run, since there is no need to recompile all the changed files.

**St

[2018-04-12 16:04] andy-ms opened #23368 "keyof NonNullable<T> cannot be used to index type T"
**TypeScript Version:**  2.9.0-dev.20180412

**Code**

[code]

**Expected behavior:**

No error.

**Actual behavior:**

[code]

**Related issues:** #19461

[2018-04-12 16:14] andy-ms opened #23370 "es2015 transform creates invalid range"
See the `TODO: GH#23370` comment in `es2015.ts`. Removing `/*noAssert*/ true` makes the test `destructuringReassignsRightHandSide` fail.

[2018-04-12 16:18] VinceOPS commented on #18211
TS 2.8

[code]

[2018-04-12 16:24] mhegazy commented on #20047
"slow file open" ?

[2018-04-12 16:24] pleerock commented on #23336
Can you please explain why its not a bug? When working with this code user feels it like a bug even if you prove that its not a bug, btw.

[2018-04-12 16:27] #22846 closed

[2018-04-12 16:27] #22735 closed

[2018-04-12 16:27] #22691 closed

[2018-04-12 16:27] #22639 closed

[2018-04-12 16:27] #22637 closed

[2018-04-12 16:27] #22603 closed

[2018-04-12 16:27] #21879 closed

[2018-04-12 16:28] mhegazy commented on #19000
@errorx666 please file a new ticket, give us some context on what version of TS are you using, and share the full tsserver log.

[2018-04-12 16:56] sheetalkamat commented on #23255
Seems like typing installer is failing and resulting in no npm packages for the types and hence no intellisense. From the shared [ti log](https://github.com/Microsoft/TypeScript/files/1894438/ti-6468.log) it looks like package for @types/chokidar doesnt have 2.9 version which results in failure to install any package. @andy-ms is looking into why there is no 2.9 version on that package.

[2018-04-12 16:57] mhegazy commented on #23359
You are seeing an error on VS 2015? or this is an API issue? we have stopped using preprocessFile for a while now..

[2018-04-12 16:58] andy-ms commented on #23336
Type inference can only do so much. If you only use the keys of a type, how is it supposed to infer what that type is? If you have `function f<T>(keys: ReadonlyArray<keyof T>): T` and call `f(["x", "y"])`, what should the return type be?

[2018-04-12 17:28] billti commented on #15730
Thanks for the extra info. Can you expand on what you mean by "It seams that this occurs after adding an extension on file extension (with a SQL editor in that case) with any "Non TypeScript" editor, TS editor analysis is done"? I'm not sure I understand exactly.

If you have some repro steps I can try to follow on my test machine (i.e. "Do x, then y,... Now you will see the issue"), I'd definitel

[2018-04-12 17:45] fjmorel commented on #13969
I'd like to be able to do something like this, building a key using string literals:
[code]
Adding a cast after the string concatenation makes the error go away, but doesn't actually check that my key generation is still valid if I change Obj.

[2018-04-12 18:07] tycho01 commented on #5453
I'd rewritten the types of [ramda](https://github.com/ramda/ramda), which also need this for e.g. `pipe`, lenses, and currying.
We needed codegen as currying made directly maintaining overloads unmanageable. Our `path` type spanned over a thousand lines, at which point we found overload type performance had become problematic as well.

[2018-04-12 18:09] andy-ms commented on #20863
Another example:
[code]

[2018-04-12 18:28] guylando commented on #15730
@billti create a subfolder named "lib" in the visual studio project and add there a folder named "yyy" placing there a library which uses typescript and has tsconfig of its own such as mobiscroll.
then visual studio intellicense recognizes that folder as a seperate project and does not apply the main project configs of disabling the errors on that folder and trigger many errors on it.

[2018-04-12 18:32] guylando commented on #15730
![image](https://user-images.githubusercontent.com/14879163/38696812-ec7a37fa-3e98-11e8-9cbf-fcea50da8f08.png)

[2018-04-12 18:32] Gregjarvez commented on #23326
with some support I would like to tackle this issue @DanielRosenwasser

[2018-04-12 18:34] guylando commented on #15730
even though in my project tsconfig i have:
"exclude": [
    "**/lib/*",
    "lib"
  ],
and
"noEmit": true

[2018-04-12 18:35] ghost opened #23373 "Review preserving internal trivia in code fixes"
**TypeScript Version:**  master

**Code**

[code]

Run code fix to convert to an ES6 module.

**Expected behavior:**

[code]

**Actual behavior:**

[code]

[2018-04-12 18:49] pelotom commented on #20195
Bump. This is still a greatly needed feature. Does the TypeScript have this problem on their radar?

[2018-04-12 18:49] pleerock commented on #23336
I understand what you mean, when you are talking about return type do you mean a `: Component<PROPS>` part in my example?

[2018-04-12 18:54] andy-ms commented on #23336
Well, type inference doesn't usually look at the return type, but I am pointing out that the parameter is:
[code]
The only time `PROPS` appears is in `keyof PROPS`, so there's no way to infer the *values* of `PROPS` by looking at the arguments to a function call.

[2018-04-12 19:02] DanielRosenwasser commented on #23326
Hey @Gregjarvez, awesome! I would actually look closer into:

https://github.com/Microsoft/TypeScript/blob/a004571d3ebb7da6a7d0915465829dee9874e495/src/services/completions.ts#L1012

In that function, I'd check if `node` is a meta-property.

https://github.com/Microsoft/TypeScript/blob/0feefab765214f080e5d8db37bde42830a1c8884/src/compiler/utilities.ts#L5049-L5050

Then, if the the meta-property ke

[2018-04-12 19:48] TheLarkInn opened #23375 "Support @typedef importing a CommonJS default exported class as type into another file"
**TypeScript Version:**  2.9.0-dev.20180412

**Search Terms:** import("./") jsdoc JavaScript TypeScript CommonJs

**Code**
https://github.com/webpack/webpack/blob/10282ea20648b465caec6448849f24fc34e1ba3e/lib/Chunk.js#L477 Chunk.js

[code]

[code]

**Expected behavior:**
No error, and that the Class is a Type that can be referenced.
**Actual behavior:**
[code]
**Playground Link:**
Not possible beca

[2018-04-12 20:01] jwalton commented on #16929
Can we reopen this?  I just spent 20 minutes banging my head against a wall because I created a file called `/src/@types/json-schema-traverse.d.ts`, and inside I put:

[code]

which caused this error, and it was only when I found this issue that I realized I should try:

[code]

And to be honest I still don't know why the first one complains that "json-schema-traverse" can't be augmented, but the

[2018-04-12 20:01] ajafff commented on #23340
@andy-ms I actually liked the idea, so I implemented it as a lint rule. The rule also covers the case where all properties of a spreaded object are overridden later in the literal.
I'd like your feedback on the PR https://github.com/fimbullinter/wotan/pull/185.

On a related note: I also implemented a rule to enforce`return` or `throw` on function calls that return `never`: https://github.com/fimb

[2018-04-12 20:09] Gregjarvez commented on #23326
Pardon me for the questions and many more to come , I am new here

with regards to this statement `I'd serve up a single completion for the text target.`
 what is the `text target`

Also does this `/**/ marker` have a special meaning  should know about

Thank you :)

[2018-04-12 20:33] mhegazy commented on #23356
I think you meant `function` and not `Function`.

[code]
`Function` is a type name, and it already has a well defined meaning.

The closure-compiler docs also refer to the lower-case `function`: https://github.com/google/closure-compiler/wiki/Annotating-JavaScript-for-the-Closure-Compiler#function-type

[2018-04-12 20:39] mhegazy commented on #23367
//cc @uniqueiniquity

We have recently made changes to the tasks/targets to optimize this path. what version of TS are you using?

[2018-04-12 20:42] weswigham commented on #23368
Partial dupe of https://github.com/Microsoft/TypeScript/issues/22934 ? In any case, also should also be "fixed" by https://github.com/Microsoft/TypeScript/pull/22971

The root cause is still that `NonNullable<T>` and `T` are (rightly) unrelated in this direction, but when `T extends object`, one expects `NonNullable<T>` to just _be_ `T`.

[2018-04-12 20:44] DanielRosenwasser commented on #23326
I'm saying that when you have the text `new.` in your file and a user requests completions, you should provide the "target" as one of the suggestion items, because the user intends to write `new.target`.

In fourslash tests, we have functionality for emulating the way a user would type code. You type in code preceded by four slashes, and the testing infrastructure interprets that as a file. The te

[2018-04-12 20:51] chrisdieckhaus commented on #23367
2.6.2. Has this been addressed in a later release?

[2018-04-12 21:08] bluelovers opened #23376 "Type Guard on sub scope"
**TypeScript Version:**  2.8.1

**Search Terms:**

**Code**

[code]

**Expected behavior:**

[code]

**Actual behavior:**

[code]

**Playground Link:**

**Related Issues:**

[2018-04-12 21:08] mhegazy commented on #23365
Can you share a sample project we can use to diagnose the issue?

[2018-04-12 21:13] charlesdeb opened #23377 "Slow File open"
As per @mhegazy 's request, I have done my best to reproduce the issue and include the entire `tsserver.log` file.

To recap, autocomplete of the path for `import` in the javascript files in my meteor project are taking a very long time to give me any suggestions - about 45 seconds. It is not so much the autocomplete as the file open (or file scans?) that are causing grief.

I created an almost em

[2018-04-12 21:24] #23376 closed

[2018-04-12 21:41] chrisdieckhaus commented on #23367
Upgraded to 2.7.2 and that seems to have made a big improvement. Closing this issue.

[2018-04-12 21:44] sheetalkamat commented on #23377
Can you please try out typescript@next and share the ti-log and tsserver log both. Thank you.

[2018-04-12 21:46] andy-ms commented on #23368
Possibly related:
[code]

[2018-04-12 21:50] joscha commented on #23359
@mhegazy we are using the API for a typescript webpack loader, so we are seeing it when using that, but the root cause is the function itself. Apart from that I am unaware of any other product is affected.

[2018-04-12 22:01] weswigham commented on #23368
@andy-ms I think that's just because narrowing doesn't apply higher order types right now.

[2018-04-12 22:01] mhegazy commented on #23359
thanks for the context. but why not just use the sourceFile?

[2018-04-12 22:28] mjbvz opened #23380 "getOutliningSpans - Return spans for case bodies"
From https://github.com/Microsoft/vscode/issues/47579

**TypeScript Version:**  2.9.0-dev.20180409

**Search Terms:**
- getOutliningSpans
- fold / folding
- switch case

**Code**
For the code:

[code]

1. Try folding the case

**Expected behavior:**
`getOutliningSpans` returns two ranges: one for the entire `switch` and one for the `case`

**Actual behavior:**
Only a single outlining span for the

[2018-04-12 22:29] mhegazy commented on #18614
The issue seems to be loader related. i do not see the same behavior with `tsc --w`.

[2018-04-12 22:32] mjbvz opened #23381 "Support line length"
_From @MichaelRBond on April 11, 2018 17:47_

Issue Type: <b>Bug</b>

If imports are broken up across multiple lines, to honor tslint line length limits, running `Organize Imports` will merge imports onto a single line causing a tslint error.

Reproduce:
* split imports across multiple lines
* run `Organize Imports`

Expected result:
* import lines do not exceed TSLint line length

VS Code version

[2018-04-12 22:34] mjbvz commented on #23381
Moving upstream to get more feedback

I know that we do not use tslint rules for formatting but we can see if there should be a TS option for import line length or if we should at least preserve new lines in existing imports

[2018-04-12 22:35] mhegazy commented on #21236
Does not seem to warrant a change at the time being. closing.

[2018-04-12 22:35] #21236 closed

[2018-04-12 22:38] mjbvz opened #23382 "getOutliningSpans - Return spans for multiline template strings"
From https://github.com/Microsoft/vscode/issues/47667

**TypeScript Version:**  2.9.0-dev.20180409

**Search Terms:**
- getOutliningSpans
- fold / folding
- template string

**Code**
Try folding the code:

[code]

**Request**
`getOutliningSpans`  should return a span for the multiline template string

[2018-04-12 22:39] mhegazy commented on #17309
Seems like a duplicate of https://github.com/Microsoft/TypeScript/issues/15749

[2018-04-12 22:39] #17309 closed

[2018-04-12 22:48] mjbvz opened #23383 "Built-in TS support incorrectly reporting problems on fetch headers.set()"
_From @nickdepinet on April 11, 2018 22:54_

Version 1.22.1
Commit 950b8b0d37a9b7061b6f0d291837ccc4015f5ecd
Date 2018-04-06T02:26:57.615Z
Shell 1.7.12
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64
OS: windows 10
Steps to Reproduce:

I have a typescript project using the es6 fetch apis. In certain files I use the following:

![image](https://user-images.githubusercontent.com/2041026/38647142-b

[2018-04-12 22:51] mjbvz commented on #23383
Error seems to be that `options.headers` is of type `HeadersInit` while `.set` only exists on the `Headers` type. Not sure if the types are correct or not

[2018-04-12 22:54] DanielRosenwasser opened #23384 "@extends/@augments should work with @template"
[code]

Current behavior is

1. `Cannot find name 'T'.`
2. `Base constructors must all have the same return type.`

@TheLarkInn

[2018-04-12 22:59] mhegazy commented on #15826
Could not reproduce this locally. please reopen if it is still an issue.

[2018-04-12 23:01] mhegazy commented on #13022
Should be fixed in latest.

[2018-04-12 23:01] #13022 closed

[2018-04-12 23:05] mhegazy commented on #13039
should be fixed in latest.

[2018-04-12 23:05] #13039 closed

[2018-04-12 23:06] mhegazy commented on #13027
Seems fixed in latest.

[2018-04-12 23:06] #13027 closed

[2018-04-12 23:06] DanielRosenwasser opened #23385 "@template tag doesn't work in @typedefs"
[code]

**Expected**: `x` and `y` have type `T`
**Actual**: `x` any `y` have type `any`, and `T` is associated with whatever declaration follows the JSDoc comment...

For example the following

[code]

makes `C` generic on `T`.

[2018-04-12 23:06] andy-ms commented on #15826
I can still reproduce this with `typescript@next`.
![ajsbts](https://user-images.githubusercontent.com/19274678/38708501-68fed1e2-3e6b-11e8-823a-15b9db36f1cc.jpg)

[2018-04-12 23:07] mhegazy commented on #15427
should be fixed in latest.

[2018-04-12 23:07] #15427 closed

[2018-04-12 23:08] andy-ms commented on #15826
Also, sometimes when I do a fresh restart with both `a.js` and `b.ts` open, I see no errors in `b.ts` even if `a.js` doesn't have `export const y`.
In both cases, correct behavior is restored if I make an edit to `b.ts`.
My `tsconfig.json` is just `{ "compilerOptions": { "allowJs": true } }`.

[2018-04-12 23:09] TheLarkInn commented on #23385
Tagging my self for watching this @TheLarkInn

[2018-04-12 23:10] mhegazy commented on #13688
seems fixed in latest.

[2018-04-12 23:10] #13688 closed

[2018-04-12 23:15] #18863 closed

[2018-04-12 23:17] mhegazy commented on #16486
Duplicate of https://github.com/Microsoft/TypeScript/issues/13095

[2018-04-12 23:30] mhegazy commented on #23383
Where is `options.headers` defined?

[2018-04-12 23:36] #12974 closed

[2018-04-12 23:38] mhegazy commented on #13724
this is working as intended, it was meant as a way to allow for removal of `readonly` modifier.

[2018-04-12 23:38] mjbvz opened #23387 "'getCodeFixes' request failed with error"
From https://github.com/Microsoft/vscode/issues/47772

**TypeScript Version:**  2.9.0-dev.20180409

**Search Terms:**
- `getCodeFixes`

**Steps**
1. Clone https://github.com/clarkio/ttv-chat-light
1. Open in vscode
1. Run npm install
1. Open `src/index`

**Error:**
Note suggestion diagnostics on the `require` but that you cannot trigger the `convert to es6 class`code actions on the `require`. Root

[2018-04-12 23:39] mhegazy commented on #13579
I am guessing this is fixed by now.

[2018-04-12 23:39] #13579 closed

[2018-04-12 23:39] #14678 closed

[2018-04-12 23:55] mhegazy commented on #22129
I believe the comment in https://github.com/Microsoft/TypeScript/issues/20863#issuecomment-374267961 is not right. this is a duplicate of #20863.

[2018-04-12 23:58] mhegazy commented on #20863
@sandersn the example in https://github.com/Microsoft/TypeScript/issues/20863#issuecomment-367890323 is excess property checking. When comparing `{ x: 'hello', z: 42 }` to `B | C`, `{ x: 'hello', z: 42 }` is not assignable to `C` since `z` is a `number` and not a `boolean`. `{ x: 'hello', z: 42 }` should not be assign bale to `B` since `{ x: 'hello', z: 42 }` has an unknown property `z`. the later

[2018-04-13 00:02] mhegazy commented on #14247
We have attempted to change the declaration of `Object.create` and valid use cases were impacted. you are welcome to add an overload in your project. it should be picked first, and should address the issues you re seeing.

[2018-04-13 00:07] #18021 closed

[2018-04-13 00:11] mhegazy commented on #20614
type of `w` in the OP is `never`. the error seems to make sense to me as well.

[2018-04-13 00:17] joscha commented on #23359
Sorry, I am not following? We need to transform the dependency information in something that webpack can understand, e.g. we have a snippet of code that looks like this:

[code]

[2018-04-13 00:36] joscha commented on #23359
I am sure we can, that's also what https://github.com/pahen/detective-typescript does for example, even without using the ts-provided AST. There are a lot of ways doing this, including a terrible regex or changing the code to `Quill['import']('mod')` (what we did in the meantime), but the way we have written the code is using the API `ts.preProcessFile`, because it did what we needed at the time.

[2018-04-13 00:44] crcla commented on #8306
mhegazy closed https://github.com/Microsoft/TypeScript/issues/9264 in favor of this issue. Is there a separate issue that is not closed as a dupe to track final/sealed methods?

[2018-04-13 01:37] andy-ms commented on #20614
Is this a more convincing example?
[code]
I would expect no compile error -- instead I get `src/a.ts(2,55): error TS2339: Property 'toString' does not exist on type 'never'.`.

[2018-04-13 01:41] peabnuts123 commented on #23248
I guess? I can see how one might implement what I'm describing using #202, but it seems like a workaround. TypeScript can duck-type an object into a class instance, but in certain lights these objects are not the same (e.g. prototypes are different). This issue is about how it would be nice at a compiler-level to optionally disable this behaviour. I would have to physically restructure the way my

[2018-04-13 02:12] quangdaon opened #23388 "Symbols cannot be assigned to unique symbol type in object literals."
When declaring a symbol, you can use something like `const symbol: unique symbol = Symbol('name')`. I would expect that the same would be possible when defining symbols as properties of an object.

	interface SymbolsMap {
		readonly flagged: unique symbol
	}

	const symbols: SymbolsMap = {
		flagged: Symbol('flagged')
	};

**Expected**: Code compiles with no errors.
**Actual:** `semantic error TS2

[2018-04-13 02:16] rabbitmeow commented on #23361
thank you,I will follow the template next time.

[2018-04-13 02:26] nickdepinet commented on #23383
here's the whole start of the function in question:

![image](https://user-images.githubusercontent.com/2041026/38713455-119a9998-3e86-11e8-96cd-a52d094c80d4.png)

`options` is occassionally passed in with `options.headers` being an instance of `Headers`. otherwise it is set in the function as above - it's never set as a `string[][]`.

It doesn't appear correct for vscode to always assume `Headers

[2018-04-13 02:40] ZSkycat commented on #23356
@mhegazy oh, i don't know 'Function' and 'function' are different 😂

should the wiki explain this?
https://github.com/Microsoft/TypeScript/wiki/JsDoc-support-in-JavaScript

[2018-04-13 02:51] charlesdeb commented on #23377
OK, not sure what typescript@next is. Do I have to do this to get it?

[code]

[2018-04-13 03:23] mjbvz opened #23389 "CPU usage 100% in Ubuntu 16.04"
_From @critical on April 12, 2018 7:1_

Issue Type: <b>Bug</b>

Running VSCode I have 100% of CPU usage from ```electron_node electronForkStart.js tsserver.js``` process
Same behaviour starting with or without ```--disable-extentions``` flag

This is output from ```code --status```:

Version:          Code 1.22.1 (950b8b0d37a9b7061b6f0d291837ccc4015f5ecd, 2018-04-06T00:24:49.616Z)
OS Version:

[2018-04-13 03:27] mjbvz commented on #23389
@critical In the latest vscode insiders, can you please try collecting the typings installer logs to help us investigate this issue:

1. In VS Code: `"typescript.tsserver.log": "verbose"`
1. Restart vscode and reproduce the issue
1. In VS Code, run the `TypeScript: Open TS Server log` command
1 This should open a folder with a `ti-xxx.log` file in it. That is the typings installer log

If you can

[2018-04-13 03:29] mjbvz opened #23390 "Constant cpu usage on windows caused by electron_node typingsInstaller.js tsserver.js typesMap.js"
_From @zfeher on April 12, 2018 11:55_

- VSCode Version: 1.22.1
- OS Version: Windows 10 1709 16299.371

Steps to Reproduce:

This happens when I am opening our repo. I need to wait a while max 1-2 minutes and the process will be there and it will cause 10-17% constant cpu usage. My telemetry settings are turned off completely.

Opening an empty code instance doesn't produce this behavior.

The e

[2018-04-13 03:29] mjbvz commented on #23390
@zfeher  In the latest vscode insiders, can you please try collecting the typings installer logs to help us investigate this issue:

1. In VS Code: `"typescript.tsserver.log": "verbose"`
1. Restart vscode and reproduce the issue
1. In VS Code, run the `TypeScript: Open TS Server log` command
1 This should open a folder with a `ti-xxx.log` file in it. That is the typings installer log

If you can s

[2018-04-13 03:39] mjbvz opened #23391 "[Suggestion] No suggestions in workspace which ask programmers to convert a CommonJS module into an ES6 module"
_From @momocow on April 9, 2018 3:23_

As in #47299, it is obvious to say that many people got annoyed by those `...` under our lovely `require` expression.

I suggest VSC to ask programmers which import style is more preferable based on **project** by **popups** (or any fashion that does not persist in workspace).

I have to say that I'm not a conservative who dislikes changing and learning new t

[2018-04-13 03:41] mjbvz commented on #23391
@andy-ms Should this suggestion perhaps be disabled by certain `module` or `target` settings in a `jsconfig`?

[2018-04-13 04:42] mohsen1 opened #23392 "noUnsedLocals and aliased types used as function arguments bug"
**Search Terms:**
Salsa, noUnsedLocals, import
**Code**

I could not simplify this to a smaller code. It is happening at webpack here:
https://github.com/mohsen1/webpack/blob/ddb4b9efa41e9605256ab3339d0da688035769cf/lib/Module.js#L14-L30

[code]

**Expected behavior:**
No Error
**Actual behavior:**

Error

[code]

**Related Issues:**
https://github.com/webpack/webpack/pull/7033/

[2018-04-13 05:29] a-tarasyuk commented on #23155
@mhegazy I think this issue is not related to `lib.d.ts`. `Buffer` does not exist in Browser API, only in NodeJS. So I suppose fix should be added in `DefinitelyTyped/DefinitelyTyped/types/node`. What do you think?

[2018-04-13 07:01] zfeher commented on #23390
@mjbvz here is the ti log (+ the ts server log as well) from the current insider version (here too I disabled the telemetry everything else is the default):

[ti-13372.log](https://1drv.ms/u/s!Amp7enGCua2jgQfMg8slE_oGilUX)
[tsserver.log](https://1drv.ms/u/s!Amp7enGCua2jgQiHqcwEmbHGnbx_)

[2018-04-13 07:39] JoshuaKGoldberg opened #23393 "Consider collapsing multiple repeated type-related error messages when in --pretty"
**Search Terms:** error message pretty collapsing

The TS team started a few conversations in TSConf 2018 about making TypeScript error messages more friendly to newcomers. One good first one to approach could be repeated, near-identical errors around the same type.

**Code**

For example, if a type is missing multiple times in the same file:

[code]

**Expected behavior:**

In a debatably perfect

[2018-04-13 08:05] RonanQuigley commented on #23255
Sounds good. Let me know if I can provide a repo if it helps tracking the issue down.

[2018-04-13 08:13] DanielRosenwasser commented on #23393
![image](https://user-images.githubusercontent.com/972891/38723995-bc462dae-3eb7-11e8-9c4c-86b0c33c3af7.png)

[2018-04-13 08:14] DanielRosenwasser commented on #22789
P.S. is this a duplicate of #10489?

[2018-04-13 08:17] DanielRosenwasser commented on #23393
#10489 and #22789 both discuss the idea of related spans which could be leveraged here, but you really want to *cut down* on these. We could defer all "cannot find" error messages to the end of the checking process and potentially de-dupe in that fashion.

[2018-04-13 08:54] awinogradov opened #23394 "Incorrect behaviour for class methods redefenition"
**Search Terms:**
class, methods

**Code**

Firstly, u can see this problem if you use a pattern of redefinition methods in children class which has a declared type of returning value.

[code]

**Expected behavior:**
No errors, it's fully redefinition.

**Actual behavior:**
Error: Type 'number' is not assignable to type 'string'.

Secondly, u can see the same problem with the methods args.

[code]

[2018-04-13 09:12] Madd0g opened #23395 "Using TypeChecker to read JSDoc @param type from function parameter"
**TypeScript Version:**  2.9.0-dev.20180330

**Search Terms:** typechecker getTypeFromTypeNode jsdoc object

**Code**

[code]

I create a `Program`, then with its `TypeChecker`, I try to read the type of the param:

[code]

**Expected behavior:** No error.

**Actual behavior:**
[code]

If I change `{object}` to `{string}` it doesn't throw that error.

[2018-04-13 09:17] webdatarocksteam opened #23396 "New Website Logo: [WebDataRocks]"
Please fill the following out:

- Name: WebDataRocks
- Homepage url: (homepage/primary entry point for users)
- Logo: https://www.webdatarocks.com/wd_uploads/2018/04/logo.png

[2018-04-13 09:19] Madd0g opened #23397 "JSDoc optional/required variant doesn't play well with multi-@param RecordType declarations"
**TypeScript Version:**  2.9.0-dev.20180330

**Search Terms:**  as mentioned in [this comment](https://github.com/Microsoft/TypeScript/issues/19645#issuecomment-377952907), I'm opening this issue because with this JSDoc syntax typescript doesn't recognize the params correctly.

**Code**

[code]

**Expected behavior:** No errors

**Actual behavior:** With allowJs and checkJs, I get JSDoc '@param' t

[2018-04-13 12:05] TPReal commented on #20614
@mhegazy you are wrong. We have to agree on definitions. What is the definition of `Object`? I don't know what is the formal definition of this type, but it is easy to discover it: I can write `const q: number = 'a'` and read the compiler error to learn that `'a'` is not a number in TypeScript. Similarly, I can learn that `'a'` is not an `object`. And the same way I can learn that `'a'` _is_ an `O

[2018-04-13 12:56] danez commented on #3429
I still cannot figure out how to do this. When i have `target: "es5"` tsc will always transform `Object.assign` into some call to a polyfill. Adding libs does not change anything at all for me.

In my case I want arrow functions to be converted to normal functions, but leave static calls like `Object.assign` and `Array.includes` untouched.

tsc should have a flag to tell it to only transpile synta

[2018-04-13 13:45] chrisdieckhaus commented on #23367
So after updating to 2.7.2, our VsTsc compile time _has_ dropped, between 33-50% faster. That being said, VsTsc is still compiling files regardless of whether or not any ts files have actually been updated. Are there any plans to make VsTsc smart enough to skip compilation if nothing has changed?

[2018-04-13 14:47] AmitDigga opened #23398 "PathIn<T> type just like Partial<T> type for deep field path in a object."
I love typescript wanted to ask if this can be a feature. I searched some issues related to this but could not find any help.

__Sorry for  my noobness.__

### For model Car
[code]

## Current problem
Describing nested or deep typings needs to be improved. Below code is taken from ngrx/store

[code]

So `select` method can be used like this
[code]

1. Lot of boilerplate and still do not cover all

[2018-04-13 15:42] uniqueiniquity commented on #23367
@chrisdieckhaus That's correct. When used in the `PreComputeCompileTypeScript(WithTSConfig)` scenario, we're not actually spending time compiling your files; we're only determining inputs and outputs as you noted.

[2018-04-13 15:51] jcmoyer commented on #7061
Here's an example I keep running into:

[code]

In this case, I would like to fully encapsulate state transitions inside of `StateMachine`. The `StateMachineState` type should not be available to other code because it is an implementation detail of `StateMachine`. Currently, the only way to totally hide it (without using a namespace) is to do this:

[code]

...which is quite ugly, and I lose the a

[2018-04-13 15:59] RyanCavanaugh commented on #15730
@gucourti reproduced locally. Thank you so much for providing this repro - I'm investigating the issue now

[2018-04-13 16:31] mhegazy commented on #23388
that is the point of `unique symbol`. it means it is not assignable to anything. This makes sense if you are using the symbol as a property name. `foo[mySymbol]` but not if it is the value of the property, i think you just mean `readonly flagged: symbol`.

[2018-04-13 16:35] mhegazy commented on #23356
it is:

[2018-04-13 16:36] mhegazy commented on #23377
You do not need to install it globally. You can install it locally `npm install typescript@next` then set VSCode to point to your local/global installation location. See [Using Newer TypeScript Versions](https://code.visualstudio.com/docs/languages/typescript#_using-newer-typescript-versions) documentation for more details on updating your VSCode to use a different version of TypeScript.

[2018-04-13 16:39] krryan commented on #23398
`Partial` is built-in for convenience, but it's trivial to implement yourself. It doesn't have any special or hard-coded rules. So you could, in theory, produce your `PathIn` type yourself.

However, there isn't currently any way to modify tuples as types. So you can write a type that finds `['engine']`, and notices that `Car['engine']` is an object, and then recurses and finds `['name']`, but no

[2018-04-13 16:40] mhegazy commented on #23391
// CC @DanielRosenwasser

that is something we were concerned about.. so we need to address that.

@andy-ms let's chat about what needs to be done here..

one option is to disable this suggestion by default, and have a configuration option to enable it.
the other is to enable it only if we module !== commonJS

[2018-04-13 16:49] chrisdieckhaus commented on #23367
Gotcha, that makes sense. Thanks!

[2018-04-13 16:49] mhegazy commented on #23392
@weswigham can you take a look. not sure if we should even report these errors on jsdoc comment declarations

[2018-04-13 16:52] #23356 closed

[2018-04-13 16:53] MartinJohns commented on #23394
[code]

What would you pass? The type `Base` clearly states it accepts a `string`, but the actual instance overwrote the method accepting a `number`.

The behavior works as intended.

[2018-04-13 16:53] mhegazy commented on #23155
Doh! thanks @a-tarasyuk for the correction. yes this should be done on the DT side. and looks like that you fixed it already in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/24966. thanks!

[2018-04-13 16:54] #23155 closed

[2018-04-13 16:55] jack-williams commented on #23398
The best I can do; expect this to blow up:

[code]

[2018-04-13 16:56] mhegazy commented on #23395
how did you create the program? do you have `allowjs` enabled, and does the filename has `.js` in it?

[2018-04-13 16:58] #23367 closed

[2018-04-13 16:58] awinogradov commented on #23394
Thanks for the answer!

@MartinJohns I can agree with the first case of methods value because it can be called in different places of the base class. But I don't agree with the second case of arguments types. In the children class, all arguments of a redefined method have any type. But I can't declare another one type them. If I can't change it why it's not inherited by default?

[2018-04-13 16:58] RyanCavanaugh commented on #20614
@TPReal the type of Object is plainly defined: It's any value that has the properties of Object, for example `hasOwnProperty`

![image](https://user-images.githubusercontent.com/6685088/38747869-2569ecfa-3f01-11e8-9e48-735c6dac784e.png)

The type of `object`, the lower-case type, is the type of non-primitives.

[2018-04-13 17:13] mhegazy commented on #23383
The underlying issue here is that `options` is declared to have the type `RequestInit`. So the input for your function can be `{ headers: { foo: 2}}`, which does not have `set` function on it at runtime.

e.g.:

[code]

Also for future references, copy/past code is much easier than screenshots..

[2018-04-13 17:19] nickdepinet commented on #23383
The error messaging here could definitely be more clear, you can be operating entirely in a functional scenario and still get reported problems.

[2018-04-13 17:21] RyanCavanaugh opened #23399 "Describe object vs Object in the Handbook"
https://www.typescriptlang.org/docs/handbook/basic-types.html should cover the built-in `object` type and have a brief discussion of it vs `Object`

See #20614

[2018-04-13 17:51] RyanCavanaugh commented on #15730
@gucourti we have a fix but it's on the Visual Studio side. In the meantime we have a patch you can apply to tsserver.js:

[code]

[2018-04-13 17:53] krryan opened #23400 "Circular recursive types in a mapped-type and conditional-type world"
In attempting to produce a reasonable facsimile of the desired `PathIn` type from #23398, I ran into this issue with the block on circular type references _that I don't think has a workaround_, unlike previous issues raised on the subject. #14174 seems closest, and the discussion there identified a related use-case for allowing circular references on types, but I think it makes more sense to raise

[2018-04-13 19:11] sheetalkamat commented on #23255
@RonanQuigley Repro code would be great help to ensure that this is fixed correctly and also investigate if there are any other perf tweaks possible.

[2018-04-13 19:11] mhegazy commented on #23400
The error message is self explanatory, i feel. https://github.com/Microsoft/TypeScript/issues/14174 tracks allowing type aliases to be recursive.
As for the underlying `PathIn` definition, i think you need Varidic types (https://github.com/Microsoft/TypeScript/issues/5453) to be able to model this API. truculently using a set of overloads is the way to go.

[2018-04-13 19:37] RyanCavanaugh commented on #23394
Derived classes can accept wider types than their base types, as is described by substitutability. Please read the FAQ and/or ask questions on StackOverflow.

[2018-04-13 19:37] #23394 closed

[2018-04-13 19:39] tiernan commented on #11781
I wrote an updated gist from the one linked above by @rektide here: [Service Worker Typings to Supplement lib.webworker.d.ts](https://gist.github.com/tiernan/c18a380935e45a6d942ac1e88c5bbaf3).

They're intended to be included by a triple slash directive in the service worker, and registration scripts. It works well for me using the webworker lib along with es5+. Hope this helps

[2018-04-13 19:43] RyanCavanaugh commented on #3429
TypeScript won't modify a call to `Object.assign`. It sounds like you might be running your code through Babel?

[2018-04-13 19:58] mhegazy commented on #23400
the design limitation that dictates this still the issue. type alias are just aliases, and not named types, the compiler inlines them aggressively, and recursion is not possible in this model.

I believe it is the same underlying issue and more or less the same changes are needed. We would like to keep one ticket per issue. So i suggest moving this discussion to   #14174.

[2018-04-13 20:07] mhegazy commented on #23400
Depending on what you are looking for. i am assuming you have a function takes an object and a path in this object.. if that is the case, then you can model this as a set of overloads:

[code]

With #5453 you should be able to write this as one signature.

[2018-04-13 20:12] gucourti commented on #15730
I’m glad i helped you. I’m not in a hurry for a fix, as long as files which raise errors are PL/SQL files, and the oracle specifics like packages are definitively not supported atm. I only use this project to allow me to ctrl shit f on db code🙂 .

Envoyé de mon téléphone Windows 10

De : Ryan Cavanaugh
Envoyé le :vendredi 13 avril 2018 19:52
À : Microsoft/TypeScript
Cc : gucourti; Mention
Objet :R

[2018-04-13 20:15] krryan commented on #23400
Sure, I get it, I'm just saying that the model is looking more and more inappropriate as types get used for more and more, and are no longer really just used as aliases.

Right then, will do, and close this.

Oh, yeah, I think it was implicit in #23398 that anything with a hard-coded list of parameters (and thus a hard-coded limit on how many you could have) wouldn't be sufficient.

True, but we s

[2018-04-13 20:15] #23400 closed

[2018-04-13 20:28] sheetalkamat commented on #23390
From TI log it looks like typing installer is watching about 1200 locations of ```node_modules``` and ```bower_components``` and the watches using polling resulting in cpu usage.

[2018-04-13 22:41] DanielRosenwasser opened #23402 "Refactoring: add braces to arrow function"
Insightfully suggested in #23299 by @zaaack:

Then substantiated further by @zuozijian3720:

[2018-04-13 22:48] ferrao commented on #23391
@mhegazy I am guessing your second option will not work for people using relative CommonJS modules, as we need `module: system` to trigger the classic module resolution strategy: https://github.com/Microsoft/vscode/issues/47619

[2018-04-13 23:23] TheLarkInn opened #23403 "strictNullCheck Errors caused by accessing array attributes like `.pop` in a while loop"
***Edit by @DanielRosenwasser**: This issue is about JavaScript files.*

____

**TypeScript Version:**  **2.9.0-dev.20180412**

**Search Terms:** .pop, strictNullChecks while(), loop, array, possibly, undefined

**Code**

[code]

**Expected behavior:**
That because the while loop is checking the length of an iterable is first > 0, that array methods are callable and valid with out errors.
**Actual

[2018-04-13 23:29] jack-williams commented on #23403
Seems like a good use-case for a definite assignment assertion.

[code]

[2018-04-13 23:33] nikeee opened #23404 "`strictNullChecks` and the compiler's code"
Currently, the compiler seems to be compiled without the `strictNullChecks` flag. Is there any plan to update (parts of) the code base to compile with this flag?

I know there are some parts that require a large amount of rewirting just to satisfy this flag. However, some APIs could easily be changed. Are small, partial strictNullCheck-enhancements something that would be accepted for merges?

I'm

[2018-04-13 23:35] DanielRosenwasser commented on #23403
Sean didn't mention it, but this was in a JavaScript file, and we don't have non-null assertion syntax there.

[2018-04-13 23:38] DanielRosenwasser opened #23405 "Support a @nonnullable JSDoc comment"
This could be used in place of the non-null assertion operator, and solve #23403.

[code]

Related is #23217.

[2018-04-13 23:38] DanielRosenwasser commented on #23403
Just opened up #23405.

[2018-04-13 23:39] jack-williams commented on #23403
Ah sorry. Then my suggestion is redundant.

[2018-04-13 23:40] RyanCavanaugh commented on #23404
![image](https://user-images.githubusercontent.com/6685088/38761658-6f25d2a4-3f39-11e8-868e-4ac3ca500e18.png)

[2018-04-13 23:41] RyanCavanaugh commented on #23404
We're hoping to merge that PR quite soon

[2018-04-13 23:42] DanielRosenwasser commented on #23404
Duplicate of #9432.

[2018-04-13 23:42] #23404 closed

[2018-04-13 23:47] cnshenj opened #23406 "Add StyleSheetList and CSSRuleList to dom.iterable.d.ts"
**TypeScript Version:**  2.8.1

**Search Terms:** StyleSheetList iterable

**Code**

[code]
Both latest Chrome 65 and Firefox 59 support iterable on StyleSheetList and CSSRuleList.
I can submitted a PR if needed.
**Expected behavior:**
Code compiled without error.
**Actual behavior:**
Type 'StyleSheetList' is not an array type or a string type or does not have a '[Symbol.iterator]()' method that r

[2018-04-13 23:50] nikeee commented on #23404
Thanks!

[2018-04-14 00:14] Madd0g commented on #23395
@mhegazy - I mostly followed this example in "[Using the Compiler API](https://github.com/Microsoft/TypeScript-wiki/blob/master/Using-the-Compiler-API.md#incremental-build-support-using-the-language-services)" - I create a `LanguageServiceHost` and then a `LanguageService` and then I get the checker like this `services.getProgram().getTypeChecker()`.

I do have `allowJs` and `checkJs`. The specifi

[2018-04-14 00:31] mhegazy opened #23407 "Add `import(...)` for types in jsdoc completions instead of import"
Similar to how we do auto import in completion list. we should not add imports in jsdoc completions, instead use the new `import(...).type` syntax.

[2018-04-14 00:48] andrewbranch commented on #18807
For cross-referencing completeness, it seems that this sort of does work now, except for the bug demonstrated in #22636.

[2018-04-14 01:46] andrewbranch commented on #22636
I was curious about this so I saw if I could figure out if I could write a failing test. I've done so, but I’m not sure if it's the right approach or not. Feel free to use it or not. I’d potentially be interested in trying to work on this, but I don’t have to—I was just exploring for my own education. https://github.com/andrewbranch/TypeScript/commit/75812b3b2f742455b177f7c0e3f9cf4a36869a11

[2018-04-14 02:41] charlesdeb commented on #23377
OK, these files are pretty big... but here goes

First is ti-17680.log:
[code]
And here is the tsserver.log
[code]

[2018-04-14 03:31] saschanaz commented on #14107
This is needed to get correct type for `FormData.append`.

[code]

Currently we want to allow `string | Blob` union so we do `append(name: string, value: string | Blob, filename?: string): void`. This incorrectly allows `append("str", "str", "str");` that throws on Firefox. See https://github.com/Microsoft/TSJS-lib-generator/pull/432#discussion_r181137305

[2018-04-14 04:05] RyanCavanaugh commented on #20614
No. For example, `{ hasOwnProperty: 5 }` is `object` but isn't `Object`

[2018-04-14 04:42] DanielRosenwasser commented on #11947
@beshanoe I don't think it's something that is confined to the TypeScript team illuminati 😄. The community can help here, but I definitely had some difficulties when I tried fixing it a while back. It's totally possible I'm missing something if you want to take a stab at it. I might give it another shot some time soon.

[2018-04-14 06:11] DanielRosenwasser commented on #11947
The problem actually seems easier now that I look at it again. I'm going to take a second swing at it.

[2018-04-14 06:15] zfeher commented on #23390
Hmmm that is interesting because `node_modules` is excluded by default as far as I know. Also I've tried to open the same repo with removing the `node_modules` and the issue still occured.

[2018-04-14 07:12] DanielRosenwasser opened #23409 "Nightly publish failures since April 12, 2018"
Nightly publish failures have occurred twice in a row. We'll look into it on Monday. I'll manually try publishing tonight.

[2018-04-14 08:09] DanielRosenwasser commented on #20614
Specifically, `object` is closer to

`{} - (number | string | boolean | symbol)`

[2018-04-14 08:49] falsandtru opened #23410 "Wrong auto imports (regression)"
With Node 9.8.0.

cc @andy-ms

**TypeScript Version:**  2.7.0-dev.20180414

**Search Terms:**

**Code**

1. clone https://github.com/falsandtru/typed-dom
1. open index.ts
1. type `concat`

**Expected behavior:**

Suggest auto imports from `spica/concat`.

**Actual behavior:**

Suggest auto imports from `.`.

**Playground Link:**

**Related Issues:** #23230?

[2018-04-14 11:15] jack-williams commented on #20614
Ryan's comment was actually completely clear, I just took for granted the fact it is possible to create an object that violates the property types of `Object`.

Does this mean that subtyping is not transitive?
- `number <: Object`
- `Object <: object`
- but not `number <: object`

[2018-04-14 12:59] hvenev opened #23411 "During await, variables are wrongly assumed not to change"
This happens using tsc 2.8.1 and 2.9.0-dev.20180414.

[code]

[code]

Here `tsc` assumes that during the `await` the value `x` remains the same. During `await` statements, lots of things can happen (including execution of code entirely unrelated to the thing being awaited). Here is a more contrived example:

[code]

Both programs print `Done` when I run them using Node.js 8.11.0

[2018-04-14 17:04] NicholasBoll opened #23412 "Type inference failing on JSX generics - works fine in a function call"
**TypeScript Version:** 2.7.2, 2.7.2-dev.20180207, 2.7.2-insiders.20180209, 2.8.0, 2.8.1

**Search Terms:** JSX, Inference, React

**Code**

[code]

tsconfig.json
[code]

**Expected behavior:**
`slice` type in the `render` function is `string`

**Actual behavior:**
`slice` type in the `render` function is `Slice`

**Playground Link:** Playground doesn't support JSX

**Related Issues:**

**Addition

[2018-04-14 17:40] paldepind commented on #14833
What do you mean? The TS compiler checks that program just fine and properly finds the type-error?

[2018-04-14 18:40] johanatan commented on #14833
@paldepind The point is that the else clause of the ternary is unreachable so the program should in fact pass the type checker (but it does not); i.e., dec(10) returns true (and 10 is a compile time constant/literal).

[2018-04-14 19:09] j-oliveras commented on #23411
Duplicated or related to #9998.

[2018-04-14 19:59] mhegazy commented on #23391
not sure why you need `system`. you can just set `"moduleResolution": "classic"` in your config file.

[2018-04-14 20:05] bcherny opened #23413 "How to implement n-ary Extract?"
I built a tiny library that makes mixins typesafe, including detecting method collisions at compile time. The implementation is really simple, and it's a nicer API than the one in the [TS handbook](http://www.typescriptlang.org/docs/handbook/mixins.html), I think.

I'm having trouble extending it to support more than a few parameters passed to `mixin(A, B, C)`, because I have to test all permutati

[2018-04-14 20:07] hvenev commented on #23411
I think this is an instance of #9998, where the compiler is overly optimistic and assumes that `await` does nothing.

[2018-04-14 20:10] mhegazy commented on #23390
@sheetalkamat why are not we just using a folder watcher for all of these entries?

[2018-04-14 20:42] weswigham commented on #23409
DT is also stalling (I'm getting spammed with vsts build failure notices); something's up with the CI server.

[2018-04-14 21:10] wycats commented on #21760
This is a 2.8 upgrade blocker for me @DanielRosenwasser

[2018-04-14 21:17] ferrao commented on #23391
@mhegazy I am not sure either, but it only works with `system`, as recommended in https://github.com/Microsoft/vscode/issues/47619. For some reason, `"moduleResoluton": "classic"` does not work.

[2018-04-14 22:25] DanielRosenwasser commented on #20614
Yup, exactly through your example.

[2018-04-14 23:13] jack-williams commented on #23413
Not sure about this.. but maybe:

[code]

[2018-04-15 00:03] dguo opened #23414 "Watch mode sometimes watches files that aren't targeted for compilation, depending on installed packages"
**TypeScript Version:**  2.8.1

I also tried with `typescript@next`, but the issue persisted.

**Search Terms:**
too many files watched in watch mode

**Code**
I created a [repo](https://github.com/dguo/tsc-watch-bug) that is as minimal as possible while still demonstrating the problem. Details are in the README.

**Expected behavior:**
When giving `tsc` specific files to compile, watch mode shoul

[2018-04-15 00:10] kpdonn commented on #23413
I think you need variadic types to do this right, but I've experimented with the same idea and a hacky way to accomplish something very similar is:

[code]
[Playground link](http://www.typescriptlang.org/play/#src=type%20ArrayKeys%20%3D%20keyof%20any%5B%5D%0D%0Atype%20Indices%3CT%3E%20%3D%20Exclude%3Ckeyof%20T%2C%20ArrayKeys%3E%0D%0Atype%20GetUnionKeys%3CU%3E%20%3D%20U%20extends%20Record%3Cinfer%2

[2018-04-15 03:19] franklixuefei opened #23415 "[Boundary check] Typescript should be smart enough to do boundary check on arrays"
**TypeScript Version:**  2.8.1

**Search Terms:**
bound, boundary, array, check
**Code**

[code]

**Expected behavior:**

Running the above code, the type of `num` should be `number | undefined`, rather than just `number`. Because clearly, in this case, `num` is undefined.
If you want to make it even better, **Ideally**, Typescript should be smart enough to perform **type narrowing** on this, for

[2018-04-15 03:27] wycats commented on #21760
Actually, it's really weird! I'm getting type errors, but TS is getting the derived type right anyway!

[2018-04-15 04:15] eyelidlessness commented on #16872
Is there any progress on this? This is a blocker for anyone trying to use Jest's `onlyChanged` flag in a project that depends on decorator metadata.

[2018-04-15 08:10] MagicPro1994 commented on #2361
@omidkrad : My case is similar to yours. I was forced to used <any>. It's not good at all.

[2018-04-15 09:55] inad9300 commented on #17827
I've just been told about https://github.com/frenic/csstype and wanted to share it with you as well since it could be of help in resolving this issue.

[2018-04-15 11:50] falsandtru opened #23416 "Promise.reject should be callable with no parameter"
**TypeScript Version:**  master

**Search Terms:**

**Code**

[code]

**Expected behavior:**

[code]

**Actual behavior:**

[code]

**Playground Link:**

**Related Issues:**

[2018-04-15 11:56] manuth opened #23417 "Files starting with "Node" are not excludable"
**TypeScript Version:**  2.9.0-dev.20180414

**Search Terms:** glob patterns, glob patterns files starting with "Node"

**Code**
*tsconfig.json:*
[code]

**Expected behavior:**
All files inside any `templates`-folder should not be compiled.

**Actual behavior:**
All Files inside the `templates`-folder are excluded **but** files starting with `Node` (for instance `NodeContainer.ts`) are _not_ exclu

[2018-04-15 13:52] czb commented on #12687
@andy-ms combobox is equivalent to input text field? Why do people use comboboxes then? This is what happens when math purity gets precedence to usability...

[2018-04-15 14:15] jeremejevs commented on #10725
Not sure why function props are singled out in #21316. Perhaps to showcase the usage of `NonFunctionPropertyNames<T>`? Regardless, unless I'm missing something, this ought do the trick:

[code]

[Playground.](http://www.typescriptlang.org/play/#src=type%20DeepReadonly%3CT%3E%20%3D%0D%0A%20%20%20%20T%20extends%20any%5B%5D%20%3F%20DeepReadonlyArray%3CT%5Bnumber%5D%3E%20%3A%0D%0A%20%20%20%20T%20exten

[2018-04-15 15:28] mindplay-dk commented on #4895
I am struggling hard with this in a model I've been building this past week.

The model is a graph, and nodes have input and output connectors - these connectors are identical in shape, and therefore inevitably can be assigned to each other, which is hugely problematic, since the distinction between inputs and outputs (for example when connecting them) is crucial, despite their identical shapes.

[2018-04-15 15:30] Swatinem opened #23418 "Make watcher symlink-aware (currently follows symlinks)"
**TypeScript Version:**  2.8.1

**Search Terms:**

* watch
* symlink

AFAICS there is actually a lot of issues related to this.

**Code**

There is not really any *code* to show.
We do have a mono-repo, that for some issues with one of our dependencies creates manual symlinks between out packages.

**Expected behavior:**

Things should work

**Actual behavior:**

When I do a `tsc --watch`, it take

[2018-04-15 15:35] mindplay-dk commented on #202
Is this happening? I'm getting [desperate](https://github.com/Microsoft/TypeScript/issues/4895#issuecomment-381414874).

[2018-04-15 15:51] Swatinem commented on #23418
So just as an experiment, I changed this `statSync` here:
https://github.com/Microsoft/TypeScript/blob/23ed9f842301ab8c7894823afc7a356da960adcf/src/compiler/sys.ts#L995
to `lstatSync` (which according to https://nodejs.org/api/fs.html#fs_fs_lstat_path_callback returns info on the link itself, and therefore returns `false` for `isDirectory()`)

That single line change basically fixed the hangs for

[2018-04-15 15:55] foote-Greg commented on #19920
@mjbvz Your solution worked for me as well

[2018-04-15 16:38] parzh opened #23419 "Readonly instances cannot have private members"
**TypeScript Version:**  2.8.1

**Search Terms:** Readonly, freeze, Object.freeze, private

**Code**

There is a practice to freeze instances in the constructor, right before `return`ing them. But, unfortunately current implementation of the `Readonly` interface makes it impossible to do so, if there are `private` instance members of any kind, be it fields, accessors or methods.

[code]

This enfo

[2018-04-15 17:47] Swatinem commented on #23418
Hm, so apparently this was already fixed in https://github.com/Microsoft/TypeScript/pull/22976 / https://github.com/Microsoft/TypeScript/pull/22986, but it is not yet included in a stable release, although 2.8.2 was tagged, it is not yet on npm -_-

So sorry for the inconvenience :-(

[2018-04-15 17:47] #23418 closed

[2018-04-15 17:59] streamcode9 opened #23420 "Missing type SVGTransformable"
**TypeScript Version:**
2.3.4 and later

**Search Terms:**
SVGTransformable missing type

**Code**

[code]

**Expected behavior:**
Success compilation.

**Actual behavior:**
Error TS2304: Cannot find name 'SVGTransformable'.

**Playground Link:**
[Link](https://www.typescriptlang.org/play/index.html#src=const%20someFun%20%3D%20(node%3A%20SVGTransformable)%20%3D%3E%20%7B%20%7D)

**Comments:**
Versi

[2018-04-15 19:29] ismailbayram opened #23421 "Module Resolvation Problem"
My export file in the core module
[code]

My App file in the project
[code]

So it occurs an error

But if I write like below, it works
[code]

But I want it to works like snippet on the top.

[2018-04-15 21:00] SimonMeskens commented on #202
@mindplay-dk You want something like this. Doesn't create any ghost properties, doesn't create any run-time properties:

[code]

[2018-04-15 23:28] j-oliveras commented on #23418
Info about next release on npm: #23282.

[2018-04-15 23:37] DanielRosenwasser commented on #23421
This is the way ECMAScript module syntax was specified, so it's not something TypeScript will be adding to the language. Named imports can only bring in *Identifier*s.

[2018-04-15 23:38] DanielRosenwasser commented on #23411
Thanks for spotting that out @j-oliveras

[2018-04-16 00:31] aaronjensen commented on #202
That's great @SimonMeskens, thanks for posting.

Unless I'm mistaken, the `Symbol` creations will not get dead code eliminated by UglifyJS unless `pure_funcs=Symbol` is included, or if those symbols are created in a file that only exports types. In that case, typescript would probably strip them out, but I haven't tested it.

[2018-04-16 02:07] falsandtru opened #23422 "super() must not be called many times"
Calling super() twice makes a runtime error.

**TypeScript Version:**  2.7.0-dev.201xxxxx

**Search Terms:**

**Code**

[code]

**Expected behavior:**

error

**Actual behavior:**

pass

**Playground Link:**

**Related Issues:**

[2018-04-16 02:12] benjamin21st commented on #16727
I think I found one of the "mysterious ways" TSC would ignore the `removeComments: false`, see this example:
http://www.typescriptlang.org/play/#src=let%20stuff%20%3D%20%5B%0A%20%20%20%201%2C%0A%20%20%20%202%2C%0A%20%20%20%20%2F%2F%203%2C%0A%20%20%20%20%2F%2F%204%0A%5D

In case the link expires, here is the code:

[code]
The commented out lines `3` and `4` will be removed. But if one removes the t

[2018-04-16 03:47] inlined commented on #23155
Sorry to be late to the game; I'm not a fan of the fix:
1. There's a definition for `Buffer.from(string)` in the Node v4 definition, but the API didn't exist until Node 5.
2. We're missing the second parameter for `Buffer.from(string)`
3. There is a commented out type name in the parameter list for `Buffer.from`
4. The methods docs are worse than their predecessor.

Do we really need to muddy the

[2018-04-16 03:51] JustinBeckwith commented on #23155
It isn't like this is a big deal for us or anything, just found it to be a minor inconvenience and something I should probably report :)  I'm perfectly happy to wait for https://github.com/Microsoft/TypeScript/issues/14107 to land.

[2018-04-16 04:14] inlined commented on #23155
Sorry, I didn't mean to bite off anyone's head either. I'm really glad you reported the issue and I hope that the bug leaves a paper trail so more people can add pressure to #14107; the TypeScript team has got loads on their plate and +1s help them balance priorities.

 @a-tarasyuk; would it be possible to revert since the fix added bugs? @JustinBeckwith should be able to work around with the `if

[2018-04-16 06:45] huafu commented on #2607
What about type-safety/inference for this kind of situation?
[code]

[2018-04-16 07:07] JoshuaKGoldberg commented on #23422
See discussion in https://github.com/palantir/tslint/issues/1983

[2018-04-16 07:21] JoshuaKGoldberg opened #23424 "Consider combining the "Found X error(s)" and "Compilation" complete --pretty messages"
After dogfooding this feature for a couple of weeks, it's a little annoying having ~3 fewer lines of errors visible per screen.

[code]

How about we combine them into one line?

[code]

Mentioned but not implemented in https://github.com/Microsoft/TypeScript/pull/22254.

[2018-04-16 07:39] a-tarasyuk commented on #23155
@inlined sure, I can make PR. The fix is ready just need to get approve from @mhegazy, and make PR on GitHub. Does it work for you?

[2018-04-16 08:13] StevenLiekens commented on #16820
@jcreamer898 did you add `"moduleResolution": "node"`? Otherwise it won't work.

![image](https://user-images.githubusercontent.com/1583241/38797472-d8404fc2-415e-11e8-9243-77e5335dc6c1.png)

[2018-04-16 08:45] Goobles commented on #12290
I might be a little late on the issue here but, since v2.8 released, with the `infer` keyword and conditional types I was able to cook up this:
[code]

This is really verbose but allows the input array to be checked with keyof recursively

[2018-04-16 08:53] series0ne commented on #8306
@crcla From reading some of @RyanCavanaugh's comments above, I believe the rationale for closing the other issue is because supporting final/sealed classes encompasses supporting final/sealed methods. The two are quite closely related topics.

[2018-04-16 09:11] mhverbakel opened #23425 "Suggestion: RegExp as Tuple"
Hello all,

After running into https://github.com/Microsoft/TypeScript/issues/17053 I started thinking about a solution for this problem. I came up with the following proposal to improve `RegExp`  usage:
[code]
`TypedRegExp<T>` extends `RegExp`, so this is not a breaking change. However, either manually (by casting) or using inference (by compiler), `T` can be a tuple.

Example usage:
[code]

**Ad

[2018-04-16 09:44] falsandtru commented on #23422
It seems not standardized and still invalid now.

[2018-04-16 10:55] tinganho commented on #23301
Here is another example, `a` is assigned on all possible code paths below:
[code]
http://www.typescriptlang.org/play/#src=declare%20let%20some1%3A%20boolean%3B%0Adeclare%20let%20some2%3A%20boolean%3B%0A%0Alet%20a%3A%20string%3B%0Aif%20(some1)%20%7B%0A%20%20%20%20if%20(some2)%20%7B%0A%20%20%20%20%20%20%20%20a%20%3D%20''%3B%0A%20%20%20%20%7D%0A%7D%0Aelse%20%7B%0A%20%20%20%20a%20%3D%20''%0A%7D%0A%0Ai

[2018-04-16 11:32] sarbull commented on #21000
I also got here, yay!

This was my quick fix.

[code]

[2018-04-16 11:41] MartinJohns commented on #23416
Then it should really be `Promise<undefined>` instead, as that is the value you will actually get.

[2018-04-16 12:43] MartinJohns commented on #14108
@DanielRosenwasser Any update on this?

[2018-04-16 13:32] kimwykoff commented on #16687
I would like this feature to work too, but I have a couple of issues
1) I would like to construct an object with any number of values from the enum, but I'm forced to provide an object for every one:
[code]
When I try to use it like:
[code]
I get this compile error:
[code]
2) I would like to parameterize my Step type, then I can pass in any set of step names, but I get a strange error message. Her

[2018-04-16 13:43] SimonMeskens commented on #202
If you want to strip them out, this should work. It's basically equivalent, but with `declare` it's compile-time only.

[code]

[2018-04-16 13:51] SLaks commented on #16687
@kimwykoff

1. You need to mark those properties as optional.  [Demo](http://www.typescriptlang.org/play/index.html#src=export%20const%20enum%20StepNames%20%7B%0A%20%20%20%20one%20%3D%20'one'%2C%0A%20%20%20%20two%20%3D%20'two'%2C%0A%20%20%20%20final%20%3D%20'final'%0A%7D%0A%0Aexport%20type%20Step%20%3D%20%7B%5Bkey%20in%20StepNames%5D%3F%3A%20%7Bheader%3A%20string%7D%7D%3B%0Aconst%20oneStep%3A%20St

[2018-04-16 14:10] jcreamer898 commented on #16820
Well, so what I ended up having to do is have 2 tsconfig's, one for WebPack, and another for Node.js. Then depending on what I'm doing, either spinning up the server or running WebPack, I swap configs.

[2018-04-16 14:24] kimwykoff commented on #16687
@SLaks Thanks. Sorry for the basic questions.

[2018-04-16 14:37] xgqfrms-GitHub commented on #14108
just keep it opening.

[2018-04-16 14:40] inlined commented on #23155
Yeah. If @mhegazy is onboard
On Mon, Apr 16, 2018 at 12:40 AM Alexander T. <notifications@github.com>
wrote:

[2018-04-16 15:02] guptaamol opened #23426 "Code Does not transpiles"
TypeError: Cannot read property '244' of undefined
    at getDeclarationSpaces (/usr/local/lib/node_modules/typescript/lib/tsc.js:35312:52)
    at /usr/local/lib/node_modules/typescript/lib/tsc.js:35304:84
    at Object.forEach (/usr/local/lib/node_modules/typescript/lib/tsc.js:260:30)
    at getDeclarationSpaces (/usr/local/lib/node_modules/typescript/lib/tsc.js:35304:28)
    at checkExportsOnMer

[2018-04-16 15:03] mattapperson opened #23427 "Returning a Proxy from a class does not infer and can’t be typed"
It seems that typescript does not allow for a class constructor to return a proxy that resolved to anything except what the class itself contains.

Expected:
[code]

The desired effect here is pseudo composable enharatence on classes. This can be done of course in JS but I can only seem to make this work in TS by defining `[key: string]: any` on the `Foo` class to get things compiled but then lack

[2018-04-16 15:21] andy-ms commented on #23264
If I understand that right, you want something like this?
[code]

It doesn't seem that useful to have an abstract class whose constructor can't be overridden -- sublcass constructors are forced to call the superclass constructor anyway. And one can of course do `new B(); b.someBadThing();` even if the constructor isn't overridden.

[2018-04-16 15:22] MartinJohns commented on #23426
Compiles fine here on Windows with version 2.7.2. May I ask why you're still using a dev version of a 2.7.x, when 2.7.2 was released over 2 months ago already?

[2018-04-16 15:32] aaronjensen commented on #202
Ah, that's even nicer, thanks.

[2018-04-16 15:38] albyrock87 commented on #23264
A final constructor would do the trick.
I'm in the Angular world, and I'm trying to stop the developer to `@Inject` other things in the `B` class.

[2018-04-16 15:43] andy-ms commented on #23264
This is a duplicate of #1534 then -- I don't think there's a good way to do what you want right now. (You can't just make the constructor private because then the class can't be overridden at all.) It's possible that you could add a run-time check in `A`'s constructor that `this.constructor` has no decorators? I don't really know how angular works though.

[2018-04-16 15:51] andy-ms commented on #23427
First: Try turning on `--noImplicitAny` -- `constructor(adapter)` implicitly makes `adapter: any`, so there's no way to perform type inference on `new Foo`.

Second, I we don't support returning a different type from a constructor, that is, `new Foo()` must return a `Foo`. It seems like you want `new Foo(new SomeOtherClass())` to return an object with the interface of `SomeOtherClass`. It might be