[2018-10-03 09:44] IllusionMH commented on #27338
Checked with recent `typescript@next` package and suggestions works as expected.

@RyanCavanaugh Thank you!

[2018-10-03 09:51] MartinJohns commented on #27521
But how would this work without emitting diffferent JS? Your property `s.foo` has the value `undefined` now, so `setState` will take that value and assign it to your state (which is not legal according to the types).

In order for this to work as you imagine it you would need to actually remove the property from the object again, so instead of just type information you need additional JavaScript t

[2018-10-03 09:56] JannesMeyer commented on #27521
Sorry, that line of code was only an illustration of why `Partial<S>` doesn't work for this use case.

I would never try to assign undefined.

I have edited the post above and converted that line into a comment

[2018-10-03 10:29] hooper-hc commented on #27481
no，I use deno exec the file 。 without  compile。

[2018-10-03 10:41] JannesMeyer commented on #27521
I would like to add that today the code above can be achieved by lying about the type with `as`:

[code]

But this is much less safe, because you could read foo and receive undefined (even though TypeScript thinks you got a number). That's why reading values should be disallowed on these objects.

[2018-10-03 10:56] #27473 closed

[2018-10-03 11:12] maximgavrilov opened #27523 "Class implementation ignores optionality of method parameter in interface"
**TypeScript Version:**  3.2.0-dev.201xxxxx

**Search Terms:** interface, optional parameter

**Code**

[code]

**Expected behavior:**

Compilation error once strictNullChecks like TS2416: Type '(s: string) => void' is not assignable to type '(s?: string | undefined) => void'.

**Actual behavior:**

No compilation errors.

[**Playground Link** ](http://www.typescriptlang.org/play/#src=interface%20

[2018-10-03 11:37] seanparsons commented on #25666
I just had this and bulldozing `node_modules` and reinstalling "fixed" it.

[2018-10-03 11:39] KSXGitHub opened #27524 "Assign a known symbol to a constant"
## Search Terms

## Suggestion

Assigning a known symbol constant to another constant should retain type information.

[code]

## Use Cases

Creating aliases of symbol constants without losing type information.

## Examples

### `Symbol.iterator` alias

[code]

## Checklist

My suggestion meets these guidelines:
* [x] This wouldn't be a breaking change in existing TypeScript / JavaScript code
* [x

[2018-10-03 12:18] KSXGitHub opened #27525 "Make Symbol.* (e.g. Symbol.iterator) unique symbols"
## Search Terms

## Suggestion

Use this:

[code]

Or this:

[code]

Instead of this:

[code]

## Use Cases

Right now, I can do this for custom `unique symbol`:

[code]

But not for `Symbol.*`

[code]

## Checklist

My suggestion meets these guidelines:
* [x] This wouldn't be a breaking change in existing TypeScript / JavaScript code
* [x] This wouldn't change the runtime behavior of existing Jav

[2018-10-03 13:18] awgaan commented on #25896
Should this error cover this case?:
`  "Computed_values_are_not_permitted_in_an_enum_with_string_valued_members_2553" : "Computed values are not permitted in an enum with string valued members."`

[2018-10-03 14:10] maranomynet commented on #9694
The inability to gradually introduce proper TypeScript annotations into existing JavaScript modules without having to add a compile step for each and every one, is pretty much the only thing holding me and my team back from switching from Flow to TypeScript.

A comment-based annotation option (in `.js` files flagged with `// @ts-check`) also dramatically lowers the threshold for developers to do "

[2018-10-03 14:39] ely-alamillo commented on #21251
@nic-hartley I'm taking a shot at it over the weekend for hacktoberfest. If I don't have anything by 10/10 I would't mind you taking over it.

[2018-10-03 15:01] RyanCavanaugh commented on #27523
Things declared with method syntax are subject to parameter bivariance (see FAQ) due to the prevalence of (yes, unsound) class hierarchies in the wild that float their parameter types in the "wrong" direction

[2018-10-03 15:16] wesleyolis opened #27527 "Generic in/out type format, with implicit gaurds. Support inline mutation/delete,updating"
## Search Terms
mutation, reference parameter mutation, delete, old js assignment.

## Feature:
The ability to support in and out type formats for generics and output guard formats,
which would allow one to handle all inline mutations of type with assignment in js assignment and
function like delete, which mutate the type keys. Typically many function mutate the structure, in which they don't use

[2018-10-03 15:17] RyanCavanaugh commented on #27518
Elidable catch arguments were added after `noUnusedLocals` and we didn't want to cause a breaking change.

[2018-10-03 15:20] punkeel opened #27528 "Removed duplicate "the" from documentation"
Related issues:
- https://github.com/Microsoft/TypeScript/pull/27526
- https://github.com/Microsoft/TSJS-lib-generator/pull/572

[2018-10-03 15:21] asvetliakov opened #27529 "TS returns global symbols for member completion"
**TypeScript Version:**  3.1.1

**Search Terms:**
Completion
Member completion

**Behavior:**
This GIF must be self-explained:
![img](http://g.recordit.co/pxayadcTEo.gif)

**Expected behavior:**
Only member completion (save/remove/etc...) should be returned

**Actual behavior**
It VERY often returns global completions. This is very frustrating

**Additional information**
Pretty large private TS mo

[2018-10-03 15:44] samijaber opened #27530 "Conditional type inference does not work with a function's generic argument"
**TypeScript Version:**  3.0.0-dev.201xxxxx

**Search Terms:** conditional type inference generic

**Code**

[code]

**Expected behavior:** correct type inference: `type Result = true`

**Actual behavior:** type inference not performed at all

**Playground Link:** [link](http://www.typescriptlang.org/play/index.html#src=type%20Get%3CT%3E%20%3D%20T%20extends%20%7B%7D%20%3F%20string%20%3A%20number%3

[2018-10-03 15:55] andy-ms commented on #27529
I think this is the behavior of VSCode when TypeScript doesn't provide any completions at all -- this can happen when we didn't get a good type for `db.manager`. So in this case it's probably vscode providing the completions, not TypeScript. You could verify by opening tsserver.log (ctrl-shift-p, "TypeScript: Open TS Server Log"), which will probably end in something like: `{"seq":0,"type":"respon

[2018-10-03 15:57] jack-williams commented on #27530
This conditional type is distributive because there is a naked type parameter in the check clause. A distributive conditional type will evaluate to `never` when the check type is instantiated to `never`, so it is not possible to immediately resolve this to `true`.

To get the desired behaviour make the conditional type non-distributive like so:
[code]

[2018-10-03 16:02] andy-ms commented on #27521
I think most people would prefer just `this.setState({ foo: 1 })` over creating an empty object and writing to its properties one-by-one.
#13195 is a better solution if the problem is that you want all defined properties to  be non-`undefined`.

[2018-10-03 16:09] Fabianopb commented on #26437
Hi @ststeiger, I was investigating this issue and I have a couple comments:

First, w3.org says "ECMAScript users can also pass to *this method* a function which returns a String and takes a String parameter instead of the resolver parameter."
Just for me to understand clearly, if *this method* is referring to *evaluate* then it seems you're right, we're missing the possibility of passing _a funct

[2018-10-03 16:20] asvetliakov commented on #27529
```db.manager``` has good known type -> you can see it has correct completions in few slides (```getRepository```, ```getTreeRepository```, etc...)

Here is the relevant part of log confirming that TS returns global completions, not vscode:

[code]

[2018-10-03 16:27] andy-ms commented on #27527
This is too complex because it violates a basic assumption of the type system, that the value of an object may change but the type should stay the same.
If we allow this, they any call expression may be changing the types of its inputs. Currently we can check any expression independently, looking only at its type declaration (and type-narrowing control flow, which is much simpler than looking ever

[2018-10-03 16:30] andy-ms commented on #27529
Could you provide a complete repro?

[2018-10-03 16:35] asvetliakov commented on #27529
Sorry this is not easily reproducible and happens only in large repos (small projects are fine). [Here is the full log file](https://gist.githubusercontent.com/asvetliakov/cd5cb2393974b312014a1bc497d81db7/raw/cba59cd0e962b6c311d4967bcf9da1036600ea43/TSLog%2520-%2520%252327529) if it helps.

Search for ```findByIds``` in the log-file - these requests are returning normal completions, others are ret

[2018-10-03 16:45] JannesMeyer commented on #27521
Yes, that's better for simple cases indeed. But it doesn't allow you to make an assignment based on a condition.

Let's say you want to update foo and bar when a condition is true, but you always want to update a and b regardless:

[code]

However, the problem with multiple setState() calls is that these are not guaranteed to be batched by React. (Especially in async code they are never batched)

[2018-10-03 16:56] #25976 closed

[2018-10-03 16:58] wesleyolis opened #27531 "Type Guards and CallBack Parameters are any, if worked could successfully defined a callback type."
**TypeScript Version:**  typescript@3.2.0-dev.20181003

Two bugs in one, if both of these issues work, I would be able to properly defined a callback type function call signature overloads and a type guard to go with it.

CallBack, Type Guards with extends fails, CallBack with overloads signatures types become any type, instead of union of their respective fields.

## Issues
1.  Callback types are

[2018-10-03 17:30] thorn0 commented on #7004
@EisenbergEffect It suddenly crossed my mind that we could extend `interface Object` instead of a base class:
[code]
But alas... TS adds the `__bogusProps` property to every object, but it thinks that this property has the type `Partial<Object>`, not `Partial<...our more specific type...>`.

BTW, I didn't quite understand your "even if the above did work". It does work.

[2018-10-03 17:58] #27470 closed

[2018-10-03 17:59] nic-hartley commented on #21251
@ely-alamillo Darn, there goes my plan for Hacktoberfest :)

But alright! Thanks for letting me know.

[2018-10-03 17:59] #27282 closed

[2018-10-03 18:00] wesleyolis commented on #27527
@andy-ms  @RyanCavanaugh Well typing system is to make sure that the shapes and forms of everything match, doesn't mean this is not suitable for a typing system. I would just say its more complex, because you have to evaluate the body of the function, all shapes on function calls, will still have to match. If it were mutated it may no longer match anymore, communicating incorrect mutation.

What i

[2018-10-03 18:03] RyanCavanaugh commented on #27527
"Too Complex" doesn't mean we think it's too much work for ourselves to do; it means we think the complexity it adds to the language and codebase is not justified by the value it would provide.

[2018-10-03 18:09] #26472 closed

[2018-10-03 18:11] RyanCavanaugh commented on #27525
@rbuckton what are your thoughts on this?

[2018-10-03 18:14] RyanCavanaugh commented on #27521
Duplicate #21759 ? `Readonly` is not a special type; it's just a mapped type applying the `readonly` property

[2018-10-03 18:15] Meir017 opened #27532 "[feature] support union type rest parameter"
## Search Terms

type, union, rest

## Suggestion

allow rest operator on a union type when all cases are array

## Use Cases

in order to declare a ctor with overloads, I wrote something like this
[code]
I get the error: `[ts] A rest parameter must be of an array type.`

on the line
[code]

My suggestion meets these guidelines:
* [x] This wouldn't be a breaking change in existing TypeScript / Jav

[2018-10-03 18:20] muradkhan101 commented on #22473
Hey @mhegazy, I have a potential fix for this [here](https://github.com/muradkhan101/TypeScript/commit/aea4216a23e2f05ee6fe556539c15415efa7e4e9) , but I couldn't find solid diagnostic messages to use and haven't figured out the readonly case yet though. Just wanted to check in with you to get some info about creating diagnostic messages and see if I'm on the right track here, thanks!

[2018-10-03 19:16] Meir017 commented on #27532
might be related to #15972

[2018-10-03 19:21] nin-jin commented on #27453
More concrete proposal: rollback ChildNode invention.

[2018-10-03 19:38] maschino commented on #23812
@madou I've encountered the same issue - "solved" it by casting the passed component back to a React.ComponentType. You can see it in action here: [withForm.tsx](https://github.com/environment-agency-austria/react-ocean-forms/blob/f70a94ca672fe79f68f5ca6699cb4bcdbddde4ae/src/components/withForm/withForm.tsx#L32)

It works, but it really feels more like an ugly workaround. I'd appreciate it if some

[2018-10-03 20:16] D0nGiovanni commented on #23299
Hi

We're a team of two, currently on our bachelor thesis. We'd like to implement this issue. Estimated timeframe is about 2 weeks, at most 4 weeks. We're looking to do other refactorings and code fixes as well, but this would come first.

[2018-10-03 20:38] weswigham commented on #27525
https://github.com/Microsoft/TypeScript/pull/24738 also works around the old-lib issue by considering any symbols under the global `Symbol` constructor as `unique symbol`s.

[2018-10-03 21:05] asvetliakov commented on #27529
Also looks like this depends on the typing speed: the bug never happens if there is a noticeable delay (>1 second) before typing ```.```. So this may be a kind of race condition - completion request doesn't wait for previous change request or something like it. Hope this helps.

[2018-10-03 21:30] EisenbergEffect commented on #7004
Thanks for continuing to explore this @thorn0 I honestly can't remember if I tried the technique above or not. I know I tried a few things which didn't seem to work at least at one time. What I wanted to emphasize was that, either way, it's contrary to Aurelia's philosophy to force the use of a base class, so we wouldn't want to recommend this approach to our community as a best practice.

@RyanCa

[2018-10-03 22:06] mpawelski commented on #13573
This proposal fells like natural extension of mapped types functionality. I guess many people try this exact proposed syntax to then see that it doesn't work.

In my case it would be very useful for situation when we want to extend 3rd party interface with properties that can be "computed" by mapped type. In theory we can achieve the result by some workarounds like writing interface that extends m

[2018-10-03 22:32] noamyogev84 opened #27534 "Disorder of words in section 'Running the Tests' in Contributiing.md"
**TypeScript Version:**  master-branch

**Search Terms:**
contributing.md, run tests documentation
**Expected behavior:**
Correct order: "This **will run** all tests...."
**Actual behavior:**
Misorder: "This **run will** all tests..."
**Playground Link:**
https://github.com/Microsoft/TypeScript/blob/master/CONTRIBUTING.md#running-the-tests

**Related Issues:**
No

[2018-10-03 22:45] osyrisrblx opened #27535 "Add a tsconfig option to assume every .ts file is a module"
Currently with TypeScript, if I create two files and put `const foo = "bar";` in each, I will get the following error:

![image](https://user-images.githubusercontent.com/9200592/46443600-4090d980-c73c-11e8-9a0a-1c5668ab3b30.png)

For the specific environment I'm using, this is not the case at runtime. I'd like to silence this error with a tsconfig.json option.

One current workaround is to put `e

[2018-10-03 22:49] osyrisrblx commented on #27535
More info about workaround found here:
https://stackoverflow.com/questions/40900791/cannot-redeclare-block-scoped-variable-in-unrelated-files

[2018-10-03 22:54] RyanCavanaugh commented on #27535
Duplicate of #18232

[2018-10-04 00:55] igelbox opened #27538 "Make getter-only member non-assignable to getter+setter member"
## Search Terms
getter, setter

## Suggestion

Prevent types with getter-only attributes (read-only behavior) to be assignable to types with setter attributes (read-write) behavior. This pretty suits the structural type system.

## Use Cases

In 3.2.0-dev we're able to assign a read-only instance to a read-write typed variable and then try to assign those read-only attributes. However, this code w

[2018-10-04 00:59] igelbox commented on #27538
Also, I tried to implement this non-assignable behavior for the `readonly` attributes. However, I faced with a trouble with the existing code, e.g.:
[code]

[2018-10-04 01:04] VerteDinde commented on #27503
@derekdkim If you're still interested in giving it a go, it looks like you can add anchors to .md files using this: https://gist.github.com/asabaylus/3071099

[2018-10-04 01:34] Kovensky commented on #27529
This seems to be a side effect of an issue in tsservice that's been happening since 3.0 or so. The parsing is itself slow, and it seems to always be a few steps behind my actual typing.

Sometimes I get stuck with an error message about a syntax error or type error that just goes away if I leave the editor alone for 5 seconds, or go and type a trailing space and delete it.

[2018-10-04 01:39] Kovensky commented on #27521
@andy-ms this is usually a problem when writing `setState` in its callback form.

The following example cannot compile at all with the current type definitions:

[code]

A workaround is to copy the value you want to preserve; adding `baz: state.baz` to the first object and `bar: state.bar` to the second object.

[2018-10-04 02:49] asvetliakov commented on #27529
i found that big ```node_modules``` folder somehow affects my original issue, even if the single project file doesn't use any import and has ```types: []``` (so it mustn't load any types). Trying to get the repro.

[2018-10-04 03:17] asvetliakov commented on #27529
Repro here:

https://github.com/asvetliakov/typescript-27529

[2018-10-04 05:07] #27534 closed

[2018-10-04 05:07] DanielRosenwasser commented on #27534
Thanks!

[2018-10-04 05:09] DanielRosenwasser commented on #27524
@rbuckton any thoughts here?

[2018-10-04 06:45] ststeiger commented on #26437
To 1): I didn't write the spec, so why should I know ?
All I can say is that you can pass a function string=>string in all 3 major browsers, and it works as expected.

To 2): Since strings are nullable, null is a valid string value, so I don't see your problem, other than there being no typecast like `return <string>null`;  But if you define null as its own type, then yes, it makes sense this way.

[2018-10-04 07:07] bajtos commented on #27519
@RyanCavanaugh Thank you for taking look at this issue. The description of _Design Limitation_ label says: _Constraints of the existing architecture prevent this from being fixed._ I understand it may not be possible to make my code snippet shown above to work, but cannot we at least improve the compiler to detect the problem at compile time please? Is such improvement prevented by limitations of

[2018-10-04 07:25] takefumi-yoshii opened #27540 "Weak inference of String Literal Types by const"
Needless to say, below code infferd as String Literal Types.
[code]
[code]
When put them in the object, It is no longer as String Literal Types without assertion.
Is it correct to be interpreted as weak inference?

[code]
[code]

And this problem can avoid below code.

[code]
[code]
I am waiting for reply. Best reguards.

[2018-10-04 07:27] wesleyolis commented on #27527
Well, does the TS community have any other suggestions on how to handle passing object by reference to function, were the function internally, can mutate the the typescript shape. As I understand, the goal for TS is to be a super set of JS, lacking this form of mechanism, regardless of the syntax complexity, means typescript is not a full super set of JS and doesn;t support all the mechanism patte

[2018-10-04 07:57] ststeiger commented on #26437
It wasn't meant harsh, but sorry anyway.
Hm, that's an interesting concept - type changes to object if string is set to null, so string as such is indeed non-nullable.

Yes, the return value is that of lookupNamespaceURI.
In that case, lookupNamespaceURI should also be fixed, yes.

[2018-10-04 08:12] rbuckton commented on #27524
The first example (`const x = Symbol(); const y = x;`) we initially disallowed because we were not able to write the declaration to an output declaration file (`const x: unique symbol; const y: typeof x;`). I will have to investigate to see if that has changed.

The second example (`const { iterator } = Symbol;`) won't be feasible until we are able to redeclare `iterator` (and the other symbols) a

[2018-10-04 08:19] KSXGitHub commented on #27524
I have realized this, so I made https://github.com/Microsoft/TypeScript/issues/27525

[2018-10-04 08:49] thorn0 commented on #7004
@EisenbergEffect Did you consider writing a [design proposal](https://github.com/Microsoft/TypeScript/wiki/Writing-Good-Design-Proposals)?

[2018-10-04 08:56] jack-williams commented on #27540
I think the solution to this is covered by #10195

[2018-10-04 09:09] wesleyolis opened #27541 "Discriminated Unions - Multiple Fields, SubClassing/interfacings, kind field detection failure"
**TypeScript Version:**  typescript@3.2.0-dev.20181004
**Search Terms:**
Discriminated Unions - Multiple Fields

## Issues:
When there are multiple common fields between interfaces the Discriminated Unions is not able to determine which field is to be the discriminator and all the logic that typescript will constrain the shape of the function interfaces bases on a field, check will not work.
It wo

[2018-10-04 09:11] SpaceIm opened #27542 "Wrong WebGLRenderingContext interface definition for pixelStorei"
**TypeScript Version:**  3.1.1

**Search Terms:**
pixelStorei

**Code**

[code]

**Expected behavior:**
well compiled

**Actual behavior:**
TS2345: Argument of type 'true' is not assignable to parameter of type 'number'.

pixelStori definition in lib.dom.d.ts (in 3.1-rc and 3.1.1) :
[code]
sould be :
[code]
In 3.0.3, pixelStori definition was :
[code]

[2018-10-04 09:15] takefumi-yoshii commented on #27540
@jack-williams thanks! I'll track them.

[2018-10-04 09:38] wesleyolis commented on #27531
## Ghosts Type
The other alternative is that in each of the variants of CallBack function signatures I can union
the error parameter with a string literals that would identify the the CallBack variant in use by union each overload error with string literal identifier.
I could then use type inspection, to check for the Error** | '____NoResults' or Error** | '___ResultsOnly or explicitly undefined,

[2018-10-04 09:42] osdiab opened #27543 "Union of tuple types destructures incorrectly"
**TypeScript Version:**  3.2.0-dev.20181004
**Search Terms:** union tuple array destructuring
**Code**

[code]

**Expected behavior:**
`y` typed as `number | undefined`

**Actual behavior:**
`y` typed as `string | number`

**Playground Link:** [Playground](http://www.typescriptlang.org/play/#src=type%20Unioned%20%3D%20%5Bstring%5D%20%7C%20%5Bstring%2C%20number%5D%0Aconst%20ex%3A%20Unioned%20%3D%20

[2018-10-04 09:52] LasaleFamine commented on #26586
I would like to take this one if @akshita31 drop it.

@DanielRosenwasser do you mean to add this within the [diagnostic error messages](https://github.com/Microsoft/TypeScript/blob/13bc46d9707036928e51be91d8d6aeaf95e63132/src/services/codefixes/fixAwaitInSyncFunction.ts#L4) or add a new message as info?

[2018-10-04 11:15] falsandtru commented on #27456
@ahejlsberg

[2018-10-04 12:32] rradczewski opened #27544 "codefix convertToAsync does not add `await` for returned values"
First of all, thanks a lot for this refactoring, I think it's really useful and will push the adoption of async-await syntax :+1:

This is a bug report related to [this Twitter conversation](https://twitter.com/rradczewski/status/1045754228218757122): The converted code does not `await` for `Promise.reject`, thus the runtime does not throw but returns `Promise.reject(3)`, which does not trigger th

[2018-10-04 12:48] takefumi-yoshii commented on #27540
umm...Is the pointer reference strength different depending on whether assertion is present or not？

[2018-10-04 12:48] wesleyolis opened #27545 "Typescript ESType definition improvements"
Hi,

The following types can be improved on to be more correct in the lib.es5.d.ts file.

These type improve typically deal with the cases on of the arrays items keys has subset of the other keys, in this case the results is the common subset, with mismatching fields made optional.

This requires functionality in typelevel-ts, however, that is only based on keys.
new methods should do and K in key

[2018-10-04 13:37] j-oliveras commented on #27544
Tested with node 8.11.1 and it seems is necessary to await `Promise.reject` rejections but not resolve at return position.

[2018-10-04 13:44] j-oliveras commented on #27544
I found and explanation when is necessary an await: https://stackoverflow.com/a/42750371

With the await, it is catched by the catch block. Without it, returns the promise and then is resolved (or rejected in this case).

@uniqueiniquity maybe, `convertToAsync` should await the return if it inside a catch block.

[2018-10-04 13:46] ahejlsberg commented on #27540
See #11126 for a description of this behavior.

[2018-10-04 14:05] andreivanea opened #27547 "Named AMD Modules as a compiler switch"
This is a question/feature request combo. I understand it doesn't really fit the "issue guidelines" but I consider it fits better here as it does on StackOverflow.

It's been almost 3 years since [this reply](https://github.com/Microsoft/TypeScript/pull/1158#issuecomment-66165529). If I understand correctly, the problem is with the tooling. 3 years is a lot, given the frequency of Visual Studio an

[2018-10-04 15:43] uniqueiniquity commented on #27544
@rradczewski thanks for reporting, and @j-oliveras thanks for the investigation! I'll tackle this as soon as I can.

[2018-10-04 15:47] sandersn opened #27550 "#27370 breaks narrowing for constructor functions"
Based on code from uglify:

[code]

**Expected behavior:**

`x` doesn't narrow inside the if and `x: any` and `x.val: any`.

**Actual behavior:**
`x` narrows to `x: {}` and gives an error on `x.val`.

I think the reason is that constructor functions are special-cased in resolveCallExpression -- they still only have call signatures, not construct signatures. The code in narrowTypeByInstanceof proba

[2018-10-04 15:51] andy-ms commented on #27538
Duplicate of #8496

[2018-10-04 16:16] igelbox commented on #27538
@andy-ms from my perspective, this's a kind of duplicate. Because it would be great to fix both issues (getter+setter and readonly). But, due to backward compatibility reasons and due to `interface`s don't support `readonly` attribute now, I don't believe we'll be able to fix the `readonly` behavior in a short perspective.
However, we can fix this particular issue and leave #8496 for more investig

[2018-10-04 16:20] RyanCavanaugh commented on #26262
Giving different behavior to different types is why we have types in the first place.

The odds that you meant to write code like the sample in the OP are approximately 0%. Even if you *intended* to write code like `voidReturningFunc() || someImportantOp()`, it's unlikely you fully understood the implication of `void` - many people believe that a `void`-returning function will always return a fals

[2018-10-04 16:38] kitwestneat commented on #26262
Ah sorry, I thought it was obvious from context that I meant what makes void being coerced to a boolean value invalid typescript, as opposed to a string being coerced to boolean, or float or any other type.

From a purity standpoint, it doesn't make sense to coerce a string to boolean either, right? The only false string is '' and it seems more correct to use === to test that. So if you all are ra

[2018-10-04 16:44] fox1t commented on #26262
@kitwestneat just get the point I was trying to understand here. In this very moment there are 2 different behaviour of the language for the same operation, and it is wrong from every point of view. In addition can you @RyanCavanaugh pleas elaborate "many people believe that a void-returning function will always return a falsy value, but this is not the case"?
Also the TS docs say: "Declaring vari

[2018-10-04 16:47] RyanCavanaugh commented on #26262
It's legal to coerce a string to a boolean because a) this is idiomatic in JS, b) some strings are falsy and some strings are truthy according to rules which are more or less predictable, and c) it's easily conceivable why you might want to do some things with truthy strings and other things with falsy strings

How do you get an expression of type `void`? Effectively there are two ways:
 * Evaluat

[2018-10-04 16:49] kitwestneat commented on #26262
Ok, thanks for the explanation.

[2018-10-04 16:52] RyanCavanaugh commented on #26262
Let's look at a longer example:
[code]

[2018-10-04 16:53] brieb opened #27552 ""Ignore this error message" code fix in JSX results in rendering `// @ts-ignore`"
**TypeScript Version:**  3.2.0-dev.20181004

**Search Terms:**

disableJsDiagnostics
JSX
Code fix
Ignore this error message
Add '@ts-ignore' to all error messages

**Code**

[code]

Running the `Ignore this error message` or `Add '@ts-ignore' to all error messages` code fix inserts a `// @ts-ignore` which satisfies the compiler.

But,

[code]

will actually render `// @ts-ignore`.

**Expected beha

[2018-10-04 17:15] fox1t commented on #26262
Ok, this is really a nice example! Love it.
Don't you think that the real problem is before `||` operation. What is now bothering me is:
` n => dst.push(n)` has `(n: any) => number ` type and the callback parameter is declared as `callback: (arg: T) => void)`. Isn't this already a problem for its own that I am passing a callback with wrong signature?

[2018-10-04 17:32] RyanCavanaugh commented on #26262
It's not a wrong signature; see https://github.com/Microsoft/TypeScript/wiki/FAQ#why-are-functions-returning-non-void-assignable-to-function-returning-void

If you want a function returning `undefined`, write `() => undefined`. If you want a function whose return value you promise not to "look at", write `() => void`. Two different types; two different meanings.

[2018-10-04 17:33] Fabianopb commented on #26437
Thanks for the input @RyanCavanaugh and @ststeiger! I'll submit a PR and then we can discuss upon that, how does it sound?

[2018-10-04 17:34] RyanCavanaugh commented on #26262
Basically the *entire point* of the `void` return type in function types is to give you a safer alternative to an `any` return type in the function body.

[code]

[2018-10-04 18:04] mjbvz opened #27554 "Not reading the prototype chain correctly"
_From @TANGL3SIT3S on October 4, 2018 2:16_

[code]
-----------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------

VSCode is telling me that sayHello() is not on the prototype chain, even though in Chrome the console reads it correctl

[2018-10-04 18:06] mjbvz commented on #27554
This code is too dynamic for our intellisense to understand. Moving upstream but I think that supporting this is likely out of scope

[2018-10-04 18:08] andy-ms commented on #27554
TypeScript can't recognize that `_super` has a side effect on the prototype chain.

[2018-10-04 18:16] chharvey commented on #26262
@RyanCavanaugh This is surprising to me, and probably many other programmers too. Can [the docs](http://www.typescriptlang.org/docs/handbook/functions.html) be updated with some examples of this?

This is enlightening. I always understood `void` to be interchangeable with `undefined`. Again, I think clearer [docs](http://www.typescriptlang.org/docs/handbook/basic-types.html) are essential.

Also,

[2018-10-04 18:46] andy-ms opened #27555 "strictPropertyInitialization should consider `return`"
**TypeScript Version:**  3.2.0-dev.20181004

**Code**

[code]

**Expected behavior:**

No error.

**Actual behavior:**

[code]

[2018-10-04 19:55] #26159 closed

[2018-10-04 20:27] awentzel commented on #26073
We're also blocked by this on [FAST-DNA](https://github.com/Microsoft/fast-dna/issues/815)

[2018-10-04 20:47] westonpace opened #27557 "Overly strict type narrowing in tuple"
**TypeScript Version:**  3.2.0-dev.201xxxxx

**Search Terms:**
type narrowing tuple
type inference tuple

**Code**

[code]

**Expected behavior:**
The code should compile.  The above code does compile with `typescript@3.0.3`.

**Actual behavior:**

error TS2322: Type '-1' is not assignable to type '0'.

**Playground Link:** http://www.typescriptlang.org/play/

**Related Issues:**

[2018-10-04 20:52] #27550 closed

[2018-10-04 20:59] joma74 commented on #27328
See also #27550. Although other worded, but may apply here.

[2018-10-04 21:01] obedm503 commented on #22306
what about using browserlist? it supports `node 10` or `maintianed node versions` queries
https://github.com/browserslist/browserslist#full-list

[2018-10-04 21:27] #27091 closed

[2018-10-04 21:28] Fabianopb commented on #26437
@RyanCavanaugh could you just confirm to me if I can modify the file `lib/lib.dom.d.ts`? I was checking these instructions (https://github.com/Microsoft/TypeScript/blob/master/CONTRIBUTING.md#contributing-libdts-fixes) which say that _"the files in `lib/` are used to bootstrap compilation and usually do not need to be updated."_ However, that's where `XPathNSResolver` seems to be defined.

[2018-10-04 21:30] TANGL3SIT3S commented on #27554
Thanks guys. I really didnt know if i needed to post it or not. I figured better safe than sorry... I wanted the ability to declare private and protected fields that es6 didn't offer. VSCode is awesome! I was just co-dependent i suppose, expecting it to replace all my tools lol. But i know there is no silver bullet. You guys are awesome! Thanks again.

[2018-10-04 21:58] dgoldstein0 commented on #27511
yeah.  IMO the `--esModuleInterop` variation of this is worse because not only is the type error missing, but the code is actually broken at runtime.  without esModuleInterop, the generated code will function as expected.

[2018-10-04 22:04] jack-williams commented on #27531
I struggled to follow some of the details, so sorry if I misunderstand you. What is wrong with writing this:
[code]
This doesn't produce any errors for me.

Unless you constrain `T` in some form, I'm not sure there is a difference. `T` could be any type, so saying it's any type or undefined doesn't seem any different me. I could well be wrong/confused here.

[2018-10-04 22:35] EisenbergEffect commented on #7004
Here's my code:

[code]

I get the error `[ts] Property 'bar' does not exist on type '{}'.` What I have done wrong?

[2018-10-04 22:53] andy-ms opened #27562 "Problem returning union of promises in `then` callback"
**TypeScript Version:**  3.2.0-dev.20181004

**Code**

[code]

**Expected behavior:**

No error.

**Actual behavior:**

Pyramid of doom error message:
[code]

**Related Issues:** #20531

[2018-10-04 23:11] suzicurran commented on #27503
Put a PR up for just the Basic Types page, as an example/experiment in this vein.

[2018-10-04 23:17] weswigham opened #27564 "Excess property errors reported on overloads report errors on the wrong overload"
**TypeScript Version:**  3.2.0-dev.201xxxxx

**Search Terms:**

**Code**

[code]

**Expected behavior:**
[code]

**Actual behavior:**
[code]

I noticed this while refactoring JSX to use the same excess property checking the rest of our call resolution does. Our JSX checking doesn't exhibit the same problem right now because it does strange things for "arity" checking that involve matching up prope

[2018-10-04 23:19] weswigham commented on #27564
cc @DanielRosenwasser

[2018-10-05 00:03] grrowl commented on #15479
You can compile absolute and path-based TypeScript imports to relative Javascript files using [ts-transformer-imports](https://github.com/grrowl/ts-transformer-imports) and [ttypescript](https://github.com/cevek/ttypescript)

[2018-10-05 00:05] grrowl commented on #10866
You can compile absolute and path-based TypeScript imports to relative Javascript files using [ts-transformer-imports](https://github.com/grrowl/ts-transformer-imports) and [ttypescript](https://github.com/cevek/ttypescript)

[2018-10-05 00:42] Kovensky commented on #26262
Something that returns `void` means something like "I don't care what this returns and you should not care either". You should never look at the return value of a `void` function, not even as a truthy value.

Specifying that a function that happens to return a value to be ignored specifically returns `undefined` is, IMO, unnecessary hardcoding of implementation details.

This is especially a probl

[2018-10-05 00:56] #22759 closed

[2018-10-05 01:35] chharvey commented on #26262
@Kovensky That makes sense, but "I don't care what this returns and you should not care either" sounds a lot like `any`.

Maybe a type hierarchy diagram would be helpful? Having `unknown` at the top (the "universal type" / "union of all types") and `never` at the bottom (the "empty type" / "intersection of all types"), and all the other built-in types in between. Specifically, how `void` and `any`

[2018-10-05 01:36] dumblole commented on #23399
@RyanCavanaugh May I help with this? If I can would you like me to create a new section for `object vs Object` or do you have something else in mind?

[2018-10-05 01:51] dumblole commented on #13177
@mhegazy The link is still broken, may I submit a PR to fix this?

[2018-10-05 02:11] UselessPickles opened #27566 "Unnecessary parenthesis in type name breaks dtslint $ExpectType tests"
**TypeScript Version:**  3.1.1

**Search Terms:** unnecessary parenthesis type name

**Code**

[code]

**Expected behavior:**
Type name of `bar` in example should be `Test[]`.

**Actual behavior:**
Type name of `bar` in example is `(Test)[]`, with unnecessary parenthesis. This is causing failures in dtslint tests for my project when using `// $ExpectType` assertions.

Because this is a change in b

[2018-10-05 02:16] takefumi-yoshii commented on #27540
@ahejlsberg thanks for reply. I understood about `Widening and non-widening`. I'll write some localized post about them.

[2018-10-05 02:16] #27540 closed

[2018-10-05 02:17] UselessPickles commented on #27566
NOTE: this appears to be something specific to enums. In my example, change the definition of `TestType` to:

[code]

...and then the type of `bar` is correctly `Test[]` without unnecessary parenthesis.

[2018-10-05 02:28] Kingwl commented on #23299
could bachelor thesis based on an open source project with Apache License 2.0?😂
I suggest you confirm it in advance.

[2018-10-05 03:08] kitwestneat commented on #26262
FWIW the Living Standard spec explicitly specifies that Logger functions return undefined, so it does seem like an spec violation that they are defined as void in definitelytyped repo.

[2018-10-05 03:13] Kovensky commented on #26262
`any` however is incredibly dangerous and conveys no meaning other than "this can be literally anything". Anything you do with the result is also completely out of reach of the type system.

In your chart, `any` would be completely outside the chart because any `any` shuts down all type safety. `void` is useful as an indicator of "only called for its side effect", even if an inferred `void` type i

[2018-10-05 04:00] derekdkim commented on #27503
Oh, I was going to put one up when I finished every page. If @suzicurran 's PR is the way TS wants to proceed with it, I will open a PR for the rest of the pages.

[2018-10-05 04:39] justingrant commented on #24865
It'd be great if TS solved this problem. I strongly agree with @johnnyreilly that this limitation causes less-readable code.

Note that the problem is broader than TypeScript-specific constructs like typeof and user-defined type guards. It also complicates migrating existing JavaScript code to TS when using common JS idioms like (example 2 below) preventing property access on a may-be-null object.

[2018-10-05 05:19] justingrant commented on #24865
BTW, I think this is a dupe of #12184.

[2018-10-05 05:50] mperdeck opened #27567 "Including "Microsoft.TypeScript.MSBuild" in a project breaks Typescript compile on save"
**TypeScript Version:**  3.2.0-dev.201xxxxx
Tested, bug still present.

**Search Terms:**
Microsoft.TypeScript.MSBuild

**Descriptions and Steps to reproduce**

Including the latest version of the Nuget package "Microsoft.TypeScript.MSBuild" in a project breaks Typescript compile on save. However, it is required to have your Typescript files generated during a dotnet publish.

Reproduced in Visual

[2018-10-05 06:57] samijaber commented on #27530
Ah, I see. Thanks @jack-williams! Will close this then.

[2018-10-05 06:57] #27530 closed

[2018-10-05 07:07] kasperisager commented on #24715
Just hit this as well. The fact that the `outDir` option _has_ to be set for `resolveJsonModule` to work properly seems like a hack. My use case is a JSON file containing test fixtures which is imported from a test suite. Now my choice is to either output the compiled tests and associated JSON in something like `dist-test` (as `src` would have to be output to `dist`) or simply disable well-typed J

[2018-10-05 07:08] osdiab commented on #24929
Here is another example that fails, in the context of code for a project of mine:

http://www.typescriptlang.org/play/#src=type%20Member%20%3D%20number%3B%20%2F%2F%20placeholder%0A%0Afunction%20findMember%3CThrowIfMissing%20extends%20boolean%3E(%0A%20%20%20%20id%3A%20string%2C%20throwIfMissing%3A%20ThrowIfMissing%0A)%3A%20ThrowIfMissing%20extends%20true%20%3F%20Member%20%3A%20Member%20%7C%20undefi

[2018-10-05 07:28] suhailsinghbains commented on #21253
Hi @DanielRosenwasser
I think the PR has been closed and not merged, so does this mean that this issue is open? If it is open, would love to work on it!
Thanks

[2018-10-05 07:51] apirila opened #27568 "Type-mutating functions"
## Search Terms

Type guard, assert, decorator

## Suggestion

Current type guard support syntax:

[code]

Consider following function:

[code]

This function changes a type of t to something else by adding a property, but it is not possible to tell to the TypeScript compiler that it does so. I propose that a new syntax is added:

[code]

After that the compiler would know that the the parameter g

[2018-10-05 08:04] ThomasdenH opened #27569 "Inconsistent type narrowing"
**TypeScript Version:**  3.2.0-dev.20181004

**Search Terms:** inconsistent type narrowing inline function

**Code**

Variant 1:
[code]

Variant 2:
[code]

**Expected behavior:**
Either both variants compile, or neither do. Preferably both do, since the behaviour is save.

**Actual behavior:**
The first variant compiles, while the latter doesn't.

**Playground Link:**
- [Variant 1](https://www.typ

[2018-10-05 08:05] fox1t commented on #26262
So, wrapping up all of the great comments here, I think we can say that `void` is meant to be used for functions that only have side-effects and that is different both from `any` and `undefined`, even if
`const bar: void = undefined` is valid syntax.
There is still one question left though. As i pointed out official docs say ["Declaring variables of type void is not useful because you can only ass

[2018-10-05 08:51] dumblole commented on #25427
May I help out with this? @RyanCavanaugh  @mhegazy ?

[2018-10-05 09:11] dumblole commented on #7094
@RyanCavanaugh  @mhegazy  How may I help with this?

[2018-10-05 09:33] methyl commented on #22759
@weswigham amazing, thanks!

[2018-10-05 09:46] D0nGiovanni commented on #23299
I don't know about other countries, but I don't see why it couldn't. It's approved anyway. We're already 3 weeks in. It's more of an engineering project than anything else.
I looked it up anyway, because I was curious. I didn't find any restrictions regarding license.

But we're getting slightly off-topic here... :P

[2018-10-05 10:19] thorn0 commented on #7004
@EisenbergEffect Because of the `import` statement, your file is a module, which means your `JSX` namespace is local, not global.

To make it global, use `declare global`:
[code]

But after that you're going to face my original issue: the compiler requires that **all** the non-optional members of the class (including methods and private members) be represented as attributes.

[2018-10-05 11:20] jack-williams commented on #27569
Think this is a duplicate of #25930

[2018-10-05 11:28] jack-williams commented on #27568
Related: #25679 #8655

[2018-10-05 11:34] ThomasdenH commented on #27569
If it is, I don't understand why variant 1 does work.

[2018-10-05 11:39] JannesMeyer commented on #27521
@RyanCavanaugh Thanks for pointing me to the other issue. I haven't read the entire discussion yet, so I'm not sure if that would allow the creation of an empty object like this:
[code]
I will read through that issue when I have some more time.

@Kovensky Thanks, that is another great example of why something like this is needed! That situation is exactly why I created this feature request.

[2018-10-05 11:46] jack-williams commented on #27569
Probably because it's easier to implement and doesn't involve creating a new object type in the compiler. I suspect turning on the behaviour in Variant 2 might have a noticeable performance impact.

[2018-10-05 13:24] wnayes opened #27570 "Unexpected JSX interface resolution with namespaces"
**TypeScript Version:**  3.2.0-dev.201xxxxx

When using a [custom JSX factory](https://www.typescriptlang.org/docs/handbook/jsx.html#factory-functions), the `JSX` interface lookup behaves unexpectedly when the factory is on a namespace.

For example, if I define my factory function as follows:
[code]

**Actual behavior:**

It currently looks for the `JSX` interface in the following locations:

- `

[2018-10-05 15:21] lauraseidler commented on #27317
I have the same issue with the same version of VS code insiders, also without using Typescript. This i.e. already happens for me with the default files included with create-react-app. Minimal example:

index.js:
[code]
App.js:
[code]

Trying to auto import the App component in index.js results in this:
[code]

[2018-10-05 15:43] emattias commented on #26077
Comparing my DX/UX from when working with flow and TypeScript the error messages is one of the few things that I preferred how flow is doing it. Especially after flow v0.66 release. I would love it if typescript would adopt some for the formatting and helpful information that flow has in their error messages.

This blog post explains more about the flow 0.66 error message changes: https://medium.c

[2018-10-05 15:59] muradkhan101 commented on #22473
@suhailsinghbains I'm currently working on this one and am close to completing so your time may be better spent on another one. I'll let you know if anything changes however.

[2018-10-05 16:06] afroozeh opened #27572 "TypeScript 3 project references with a separate outDir"
**TypeScript Version:** 3.1.1

**Search Terms:** Project References

**Code**

I'm not sure if this issue is addressed somewhere else, at least I couldn't find an answer, so I'm asking again. I'm trying to use project references for a shared project with specified `outDir`.

The directory structure looks like this after the compilation:

[code]

Contents of the `Shared` directory:

`shared.ts`
[co

[2018-10-05 16:19] suhailsinghbains commented on #22473
Sure @muradkhan101

[2018-10-05 17:54] ahejlsberg commented on #27557
Duplicate of #27412.

[2018-10-05 18:30] #27412 closed

[2018-10-05 18:30] #27557 closed

[2018-10-05 18:46] anurbol opened #27575 "Allow to add a call signature to the Mapped Type OR to remove all `Function.prototype` methods"
## Search Terms

add a call signature to the Mapped Type; remove all `Function.prototype` methods

## Suggestion

Being able to create a callable type, but without Function.prototype methods.

## Use Cases

Imagine one creates some API that exposes a function that is (because function is an object) also have some custom properties. This function is not supposed to be `call`-ed, `apply`-ed, `bind`-

[2018-10-05 19:06] dwickern commented on #20280
This is possible now with conditional types 🎉

[2018-10-05 19:06] #20280 closed

[2018-10-05 19:17] noamyogev84 commented on #17442
Hi @sandersn,
Following your directions does not produce the wanted result, or maybe i'm missing something. (No error message is outputted by the compiler)
I'm debugging tsc.js and it seems like `parseErrorAtCurrentToken` does not affect the rest of the method.

"Planting" an arbitrary syntax error in the above example **does** produce error, but I still can't figure out where it's being handled.

[2018-10-05 19:34] dyst5422 commented on #25710
How should this be implemented in a concrete class?

Currently,

[code]

Has the error, `[ts] Non-abstract class 'C' does not implement inherited abstract member 'm' from class 'A'.`

[2018-10-05 20:01] EisenbergEffect commented on #7004
Thanks @thorn0 ! I can confirm that exact behavior now. Here's my code:

[code]

@RyanCavanaugh This would be 100% valid in Aurelia but TS is complaining that the `Foo` element doesn't include a value for `baz`. It sounds like the TS checking for JSX scenarios is causing issues for both Angular and Aurelia. It would be nice to have a solution for this, some compiler setting or something that could

[2018-10-05 20:17] DanielRosenwasser commented on #27572
This is actually unrelated to project references. When using `outDir` with project references, the only thing that they do is signal to TypeScript is to do a rebuild if the `.d.ts` files are out of date.

Ultimately this is just about how TypeScript doesn't touch import paths at all, and you need to import from wherever the `.js` and `.d.ts` files end up (rather than the input files).

[2018-10-05 20:18] DanielRosenwasser commented on #27572
Also, see #16577.

[2018-10-05 20:33] justingrant commented on #24091
@weswigham @RyanCavanaugh @DanielRosenwasser - this is a common pattern in JavaScript, not only in TypeScript's own codebase. ;-)

Any time you want to switch on a property value or array member of a nullable object, you need to first make sure that the object isn't null or undefined. This is easily done via `switch (x && x.foo)`. A big advantage of this pattern is that you can combine error handl

[2018-10-05 20:37] jeremybparagon opened #27578 "Simple ternary inference issue with generics"
**TypeScript Version:**  3.2.0-dev.20181004

**Code**

[code]

**Expected behavior:**  Successful compilation

**Actual behavior:**  I get the following error:
[code]

**Playground Link:** [Link](https://www.typescriptlang.org/play/#src=const%20f%20%3D%20<T>(a%3A%20number)%20%3D>%20%7B%0D%0A%20%20const%20b%3A%20(T%20extends%20%7B%20%7D%20%3F%20number%20%3A%20number)%20%3D%20a%3B%0D%0A%7D%3B%0D%0A)

[2018-10-05 20:45] Shobhit1 commented on #25114
I believe that this is being looked into from `tslint` side of things.

[2018-10-05 21:00] jack-williams commented on #27578
The first example is due to this #27530 I think.

The second example is covered by this #26933 I think.

[2018-10-05 21:05] mjbvz opened #27579 "Not resolving index.js when using custom path aliases"
_From @Telokis on August 23, 2018 16:30_

Issue Type: <b>Bug</b>

## Situation

I am using the `jsconfig.json` file to specify custom aliases for my project like so:

[code]

In `app.js`, I try to do the following:

[code]

There is a file `src/models/index.js` which is imported and contains this:

[code]

## What happens

Inside the `app.js` file, the `require` clause works and vscode understands

[2018-10-05 21:05] mjbvz commented on #27579
_From @Telokis on September 13, 2018 19:43_

@mjbvz Excuse-me for tagging you but is this issue going to be addressed? Thanks!

[2018-10-05 21:08] jeremybparagon commented on #27578
Both should be covered by #26933. Thanks.

[2018-10-05 21:08] #27578 closed

[2018-10-05 21:09] eddiejaoude opened #27580 "Code of Conduct file"
**TypeScript Version:**  3.0.0-dev.201xxxxx

**Search Terms:**

**Code**

[code]

**Expected behavior:**

Code of conduct file. Searched for existing issue.

**Actual behavior:**

**Playground Link:**

**Related Issues:**

Using `CODE_OF_CONDUCT.md` https://help.github.com/articles/adding-a-code-of-conduct-to-your-project/ and simliar to https://github.com/Microsoft/vscode/blob/master/CODE_OF_COND

[2018-10-05 21:38] NaridaL opened #27583 "isPartOfTypeNode missing SyntaxKind.ObjectKeyword check?"
**TypeScript Version:**  master branch, see link below

**Search Terms:**
`isPartOfTypeNode `

This is related to https://github.com/TypeStrong/typedoc/issues/656.
[code]
Calling `getTypeAtLocation`  on the `ObjectKeyword` node is returning the error type instead of the `nonPrimitiveType`.

As far as I can tell (after stepping through the call and comparing to the `let x: Promise<string>` behavior

[2018-10-05 21:40] #26680 closed

[2018-10-05 21:43] j-oliveras commented on #27579
Duplicate of #26859?

[2018-10-05 22:11] #26004 closed

[2018-10-05 22:32] DanielRosenwasser opened #27584 "Infer type arguments from 'super()' calls"
[code]

Ideally this would produce no errors; in fact, ideally I wouldn't need to specify any type parameter defaults on `ComponnetConstructor`'s signature. However, instead, `T` is inferred as `{}` and in `blah`, it is an error to access `this.age`.

[2018-10-05 22:53] #27580 closed

[2018-10-05 23:11] #27566 closed

[2018-10-06 02:27] joonhocho commented on #15479
I've created https://github.com/joonhocho/tscpaths and have been using it for my projects.
It replaces absolute paths to relative paths in compile time vs run-time (tsconfig-paths).
You can simply add it to your build script after `tsc` and that's it.
This is not a mature project, so it may not work for your if your setup is complicated, but I've been using it fine for my setups.

[2018-10-06 03:31] wnayes commented on #20469
My 2 cents on how this could be implemented...

## Proposal

Fragment shorthand syntax `<> ... </>` indicates a JSX element should be created with a special "Fragment" type. To offer custom JSX factories some flexibility, a new `FragmentProperty` interface could be added to the JSX namespace that defines what the name of the Fragment type is.

For example, React would define it this way:

[code]

[2018-10-06 05:33] dgoldstein0 opened #27585 "tsc --watch does not correctly account for added & deleted files"
**TypeScript Version:**  3.1.1

**Search Terms:** tsc --watch

**Code**

[code]

Run `tsc --watch --noEmit --project .`.  Wait for typechecking to complete.  `cp a.ts b.ts`; wait for typechecking to complete again.  then `touch *` and wait for typechecking to run again.  then `rm b.ts` and wait for typechecking to complete again

**Expected behavior:**

Typechecking should succeed on the first run

[2018-10-06 06:40] ely-alamillo commented on #21251
@DanielRosenwasser do these changes require for test to be adjusted ?

[2018-10-06 07:34] suhailsinghbains commented on #25114
Ohh, okay.
Thanks @Shobhit1

[2018-10-06 11:05] afroozeh commented on #27572
I think I'm a bit confused about the project reference feature that is added in TypeScript 3.

If you look at my project structure, before using the project references, I had something like this:

[code]

And I could successfully run it by running `node dist/A/a.js` in the A directory.

What I didn't like about this was that everything was getting copied into A's output directory. I thought projec

[2018-10-06 13:53] vilic commented on #27233
@mjbvz Just confirmed the issue exists with `typescript-styled-plugin` added alone as TypeScript plugin, and with all VSCode extension disabled.

[2018-10-06 20:56] felixfbecker commented on #27428
It seems like TypeScript is actually doing the right thing here (and Gulp is not?). So I tried to get 24h working by installing [`full-icu`](https://www.npmjs.com/package/full-icu) and running with `NODE_ICU_DATA`. This loads the ICU correctly because I can manually format a month e.g. in German. But despite having my OS clock in 24h and my OS region set to a European country, Node always uses the

[2018-10-06 22:06] mattmccutchen commented on #24694
What I believe is the same issue came up again in [this StackOverflow question](https://stackoverflow.com/q/52682862).

[2018-10-06 23:07] mattmccutchen commented on #24694
I have a patch that fixes this issue but is causing other test failures.  Working on it...

[2018-10-07 01:06] felixfbecker commented on #27428
Okay, finally figured it out. Node will look at the `LANG` env var, but not consider other the Unix locale env vars like `LC_TIME`. Meaning I can't have `LANG` be English while everything else be e.g. German (such as `LC_TIME` being 24h). I filed this at https://github.com/nodejs/node/issues/23301.

If `LANG` is set to the locale, and Node was compiled with full ICU or invoked with `NODE_ICU_DATA`

[2018-10-07 01:06] #27428 closed

[2018-10-07 02:49] mattmccutchen commented on #26758
Fix is in #27588.

[2018-10-07 04:14] mattmccutchen commented on #27086
Fixed by #27260.

[2018-10-07 04:14] #27086 closed

[2018-10-07 06:54] mattmccutchen commented on #27144
I wanted to see how many TypeScript PRs I could submit in a day, so I went ahead and submitted #27591 to check a source index signature (or rest type if the source is a tuple type) against target optional properties.  There was one good (IMO) break in the compiler itself.  I guess you can see what happens with the "real-world code" suite.

[2018-10-07 07:07] techsin commented on #23230
what if you are not using typescript, and thus can't update typescript!

[2018-10-07 09:04] Fabianopb commented on #26437
I've created a PR so we can discuss upon that: https://github.com/Microsoft/TypeScript/pull/27592

[2018-10-07 17:32] saintcrawler opened #27594 "Allow to specify return type of constructor"
## Search Terms

constructor return type

## Suggestion

Add an ability to specify return type of a class constructor.
Right now the compiler produces the following error: "Type annotation cannot appear on a constructor declaration."

## Use Cases

Consider this example:

[code]

Current behavior:
[code]

Suggested behavior:
[code]

Of course, there are several ways to achieve this result (like us

[2018-10-07 17:38] falsandtru commented on #27456
@ahejlsberg Can you take a look at the requested info?

[2018-10-07 17:40] andrerpena commented on #27594
Can't you just `const c = new MyClass() as MyInterface`?

[2018-10-07 17:45] saintcrawler commented on #27594
And what if I "forgot" to do that?
This behavior should be enforced by creator of the class, not by consumer

[2018-10-07 18:42] kedar9444 commented on #24454
@geomen888 : upgrade the node version to latest.

[2018-10-07 19:04] guptaamol opened #27595 "Generics inferred as JSX.Element"
**TypeScript Version:**  3.2.0-dev.201xxxxx

**Search Terms:**
generics, JSX.Element

**Expected behavior:**
Correct Generic inferrence.

**Actual behavior:**
Generics inferred as JSX.Element.

**Playground Link:**
Works fine in typescript playground.
The commented code works as well but there is a problem while using arrow function.

**Related Issues:**
None.
![screenshot from 2018-10-08 00-27-31

[2018-10-07 19:05] felixfbecker commented on #27428
I also filed an issue on Gulp btw for consistent timestamps for Americans but it was closed 🤷‍♂️ https://github.com/js-cli/fancy-log/issues/17

[2018-10-07 19:12] shobhitg commented on #27486
@RyanCavanaugh Are these design meeting open (or recorded)?
It would be very illuminating to be able to see a recording of these design meetings.

[2018-10-07 19:15] MartinJohns commented on #27594
If you really want to force the user to use the interface (even when they're actually creating an instance of the class), then make the constructor private and add a static create-method.

[2018-10-07 19:18] assuncaocharles commented on #17541
This seems to be fixed in the lastest version in master. Am I correct ?

<img width="466" alt="screen shot 2018-10-07 at 21 16 58" src="https://user-images.githubusercontent.com/8545105/46585842-7bfe1180-ca76-11e8-902b-a27cc90cf6b0.png">

[2018-10-07 20:00] mattmccutchen opened #27596 "Instantiating a mapped type does not update the constraint on the type parameter"
I don't expect real users to write code like this example.  I just wanted to get this bug out of the way because I think it will make the solution to #27484 easier to understand.

**TypeScript Version:**  master (85a3475df87b9c10240570f32090970262c99b54)

**Search Terms:** mapped type parameter constraint instantiate

**Code**
[code]

**Expected behavior:** No error.

**Actual behavior:** Error:
[

[2018-10-07 21:23] mattmccutchen opened #27598 "Generic mapped type assignability rules don't check modifiers type properly"
More warmup for #27484.

**TypeScript Version:**  master (85a3475df87b9c10240570f32090970262c99b54)

**Search Terms:** generic mapped type assignable assignability relation optional modifiers type

**Code**
[code]

**Expected behavior:** All three `WeirdPick` constructions give errors.

**Actual behavior:** None of the `WeirdPick` constructions give errors.

**Playground Link:** [link](https://www

[2018-10-07 22:17] nnmrts commented on #27317
This really is a major issue. Auto-import is de facto not working for react devs at the moment. I'm not even using Typescript or Flow or anything that's even remotely related to the `import("...")` syntax.

[2018-10-07 23:50] varmeEqualsthis opened #27599 "Interface"
THE ISSUE TRACKER IS NOT FOR QUESTIONS.

DO NOT CREATE A NEW ISSUE TO ASK A QUESTION.

IF YOU ARE HAVING PROBLEMS WITH YOUR TYPESCRIPT CODE, DO NOT ASK A QUESTION HERE.

Tens of thousands of TypeScript questions have been asked and answered on StackOverflow; see https://stackoverflow.com/questions/tagged/typescript . You can ask questions there or on other websites.

The only exception is if you h

[2018-10-07 23:54] varmeEqualsthis opened #27600 "Interface Promise implementation in @types/jsforce for Chatter, metadata seems incorrect?"
Receiving below errors compiling jsforce with latest typescript. Looks like Promise interface is wrongly implemented.

ERROR in [at-loader] ..\..\..\node_modules\@types\jsforce\api\chatter.d.ts:30:14
    TS2420: Class 'Request<T>' incorrectly implements interface 'Promise<T>'.
  Property 'finally' is missing in type 'Request<T>'.

ERROR in [at-loader] ..\..\..\node_modules\@types\jsforce\api\metad

[2018-10-07 23:58] #27600 closed

[2018-10-07 23:58] varmeEqualsthis commented on #27600
this is @types/jsforce issue.

[2018-10-08 00:46] kitsonk opened #27601 "Copy JSDoc from type when destructing arguments."
## Search Terms

jsdoc argument destructuring

## Suggestion

When specifying an interface which has JSDoc trivia, it should flow into any arguments that are destructured from that.

Refs #11859

## Use Cases

When getting intellisense on destructured arguments, it is useful to be able to get the JSDoc of the specified interface.  Currently, because TypeScript does not provide support for naming d

[2018-10-08 02:42] Kingwl commented on #27469
actually, i spent more than one day to start my first contribution 🤷🏻‍♂️

[2018-10-08 05:20] saintcrawler commented on #27594
Yes, I've already mentioned it. But it requires writing some boilerplate code, and my solution is simple and DRY (because for a static create method you should re-type all arguments from constructor).
And moreover, I don't see any reason why this can not be allowed. It's not a breaking change. Of course, you can not return a string type, for example. If a sole purpose of a class is implementing an

[2018-10-08 06:10] Yglos commented on #26721
Same problem with TS 3.1.

[2018-10-08 06:11] travelcode opened #27602 "Extending wrapper objects (e.g. Number, String, etc.)"
I created an inheritance class,such as:

[code]
Then I want to call the valueof method from an instance of NumberTest ,such as:
[code]
But unlucky,throw an error,as follow:
[code]
in the javascript,I created the same code,like this:
[code]
It works well.
I think ` Number.prototype.valueOf ` method using the ` typeof ` judge it。so ` object ` type not ` number ` type。also this,I think this is a bug。

[2018-10-08 06:14] DanielRosenwasser commented on #27602
https://github.com/Microsoft/TypeScript/wiki/FAQ#why-doesnt-extending-built-ins-like-error-array-and-map-work

[2018-10-08 07:53] afroozeh commented on #27572
@afroozeh Also related to my previous comment, can you elaborate a bit more on the 'you need to import from wherever the `.js` and `.d.ts` files end up (rather than the input files)'? How should I change importing from the shared module when I have project references?

[2018-10-08 08:48] travelcode opened #27603 "Boxing and unboxing bug"
I have the following code,
[code]
Then
[code]
An error is as follows:
`TypeError: Cannot create property 'numeric' on number '2'`
Same code in JavaScript,like this:
[code]
run well .I think this is Boxing and unboxing bug,how to solve problems

[2018-10-08 09:12] simonh1000 commented on #299
same issue here. I was trying to use Vue with Typescript and wanted to get the value of an input field as the user typed. But event.target.value would not pass the type checker even though - i think - a text inout must always produce such fields for such an event

[2018-10-08 09:17] alecdwm commented on #15479
Thanks to @joonhocho's module I was at last able to use typescript with [nexe](https://github.com/nexe/nexe), which bundles a node project into a single executable file.
In such a setup, runtime modifications to the path were ineffective.

[2018-10-08 09:45] deftomat commented on #26680
@weswigham
TypeScript is on 🔥🔥🔥.
Thank you for all my colleagues as you speed it up a LOT!

[2018-10-08 09:59] morlay opened #27604 "[Feature] make generated codes from enum could be minified when not used"
## Search Terms

For now TypeScript will transform enum from

[code]
to

[code]
This result is not friendly for uglyify or tree-shaking.
When `Test` is not be used, the generated code block always remain as dead codes.

## Suggestion

prefer to generate codes below:
[code]
## Examples

![image](https://user-images.githubusercontent.com/1667873/46602736-980bbc80-cb23-11e8-9242-8dbf669fbe0c.png)
The

[2018-10-08 10:35] joonhocho commented on #10866
I've created a compile-time solution where you can continue using `tsc`. https://github.com/joonhocho/tscpaths

Microsoft/TypeScript#15479 (comment)

[2018-10-08 10:42] joonhocho commented on #27218
I've created a solution that does not require any dependencies nor babel. https://github.com/joonhocho/tscpaths

https://github.com/Microsoft/TypeScript/issues/15479#issuecomment-427539118

[2018-10-08 10:46] lukeautry commented on #24929
I expected this example to work, but it didn't:

[code]

Instead, there are two errors: `Type '"bad"' is not assignable to type 'T extends "yes" ? "good" : "bad"'.` and `Type '"good"' is not assignable to type 'T extends "yes" ? "good" : "bad"'`. Not sure what I'm missing here.

Works as expected if cast the strings to any.

[2018-10-08 10:47] AnyhowStep commented on #15480
Here is my humble attempt at a proposal. This proposal also requests that other types be added.

+ `Infinity` type
  + Only has the value `Infinity`
+ `-Infinity` type
  + Only has the value `-Infinity`
+ `NaN` type
  + Only has the value `NaN`
+ `double` type
  + All `number` values in the range `[-Number.MAX_VALUE, Number.MAX_VALUE]` or, `[-1.7976931348623157e+308, 1.7976931348623157e+308]`
+ `n

[2018-10-08 10:47] joonhocho commented on #26146
I've created a solution that does not require any dependencies nor babel. It also fixes .d.ts files (if in the same directory as output for now. declarationDir support can be added ).
https://github.com/joonhocho/tscpaths

https://github.com/Microsoft/TypeScript/issues/15479#issuecomment-427539118

[2018-10-08 10:50] joonhocho commented on #26722
Until officially supported, I've created a solution that does not require any dependencies nor babel. It also fixes .d.ts files (currently only if they are in the same directory as output. declarationDir support can be added too. PRs are welcomed!).
https://github.com/joonhocho/tscpaths

[2018-10-08 10:50] joonhocho commented on #26557
Until officially supported, I've created a solution that does not require any dependencies nor babel. It also fixes .d.ts files (currently only if they are in the same directory as output. declarationDir support can be added too. PRs are welcomed!).
https://github.com/joonhocho/tscpaths

[2018-10-08 10:56] joonhocho commented on #25677
Until officially supported, I've created a solution that replaces absolute paths back to relative paths that does not require any dependencies nor babel. It also fixes .d.ts files (currently only if they are in the same directory as output. declarationDir support can be added too. PRs are welcomed!).
It's very easy as adding one line of script in your `package.json`.
https://github.com/joonhocho/t

[2018-10-08 11:01] #27535 closed

[2018-10-08 11:03] RyanCavanaugh commented on #27603
See https://github.com/Microsoft/TypeScript/wiki/FAQ#why-doesnt-extending-built-ins-like-error-array-and-map-work

[2018-10-08 11:07] RyanCavanaugh commented on #27575
[code]

[2018-10-08 11:07] RyanCavanaugh commented on #27575
You could also use `never` in place of `null`

[2018-10-08 11:14] RyanCavanaugh commented on #27569
See #10065

[2018-10-08 11:16] RyanCavanaugh commented on #27570
Not sure what to say; the documentation is pretty clear and we can't match the first-guess expectations of all users 🙃

[2018-10-08 11:16] #27570 closed

[2018-10-08 11:32] RyanCavanaugh commented on #27583
PR appreciated!

[2018-10-08 11:38] #27599 closed

[2018-10-08 11:45] RyanCavanaugh commented on #27486
@shobhitg nope. I don't think a recording is something we could do for a variety of reasons, but I think some other forum to elaborate more on certain decisions would be interesting

[2018-10-08 11:45] #27486 closed

[2018-10-08 13:12] StarpTech opened #27605 "Type isn't checked when using an array<type> as return value"
**Expected behavior:**
Should throw an error: `Type '{ name: string; weight: number; }' is not assignable to type 'Dog'.`

**Actual behavior:**
No error is thrown until the type `Dog` is explicitly set.

**Playground Link:**

http://www.typescriptlang.org/play/#src=interface%20Dog%20%7B%0A%20%20name%3A%20string%3B%0A%7D%0A%0Afunction%20x()%3A%20Dog%5B%5D%20%7B%0A%0A%20%20var%20a%20%3D%20%7B%0A%20%

[2018-10-08 13:53] flowkraD commented on #27583
I would like to go ahead and make a PR if you don't mind (^_^)

[2018-10-08 13:54] StarpTech commented on #27605
@j-oliveras thanks for the pointer.

[2018-10-08 14:02] StarpTech commented on #27605
@j-oliveras but this strengthens my argument because

Why typescript doesn't check that both `[a, b]` has the type `Dog` ?

[2018-10-08 14:10] Hoishin commented on #27605
having extra properties does not invalidate the value as far as I know

[2018-10-08 14:16] StarpTech commented on #27605
That's not true. Check it by yourself and add the type `Dog` explicit to variable `b`. In order to work with optional members you have to declare them as such `?`.

[2018-10-08 14:17] jamietre opened #27607 "Conditionally inferring a type of a missing function argument always returns {}"
**TypeScript Version:**  3.2.0-dev.20181006

**Search Terms:** typescript conditional arguments infer

**Code**

[code]

**Expected behavior:**

```Test = never```

**Actual behavior:**

```Test = {}```

**Playground Link:** http://www.typescriptlang.org/play/#src=type%20FirstArgument%3CT%3E%20%3D%20T%20extends%20(arg1%3A%20infer%20U%2C%20...args%3A%20any%5B%5D)%20%3D%3E%20any%20%3F%20U%20%3A%20ne

[2018-10-08 14:31] StarpTech commented on #27605
@jack-williams this answered my question thanks!

[2018-10-08 14:34] StarpTech commented on #27605
@jack-williams but it's weird that this code will throw

http://www.typescriptlang.org/play/#src=interface%20Dog%20%7B%0A%20%20name%3A%20string%3B%0A%7D%0A%0Afunction%20x()%3A%20Dog%5B%5D%20%7B%0A%0A%20%20var%20a%20%3D%20%7B%0A%20%20%20%20name%3A%20%22%22%0A%20%20%7D%3B%20%0A%0A%20%20var%20b%20%3D%20%7B%0A%20%20%20%20name%3A%20%22asd%22%2C%0A%20%20%20%20weight%3A%2022%0A%20%20%7D%0A%0A%20%20%2F%2F

[2018-10-08 14:57] yortus commented on #27594
See also #27465 and #10860.

[2018-10-08 15:28] nd-02110114 commented on #24001
@mhegazy
@RyanCavanaugh

I fixed this issue! Please confirm 🙇

[2018-10-08 15:39] andy-ms commented on #23230
@techsin The latest version of vscode should already have this fixed. If it's still happening, try doing `npm install -g typescript@next` and [setting up](https://code.visualstudio.com/Docs/languages/typescript#_using-newer-typescript-versions) vscode to use the version from npm rather than its own; if there's still a problem please file a new issue.

[2018-10-08 15:47] #27544 closed

[2018-10-08 15:48] andy-ms commented on #25710
@dyst5422 I don't see any such error when trying to compile that example code in either `typescript@3.0` or `typescript@next`.

[2018-10-08 15:49] RyanCavanaugh commented on #27607
Functions with fewer arguments are subtypes of functions with more arguments, so TS has to choose the truthy branch of that conditional. `U` has to be *something* so `{}` is the most general type it can name there.

[2018-10-08 16:03] jamietre commented on #27607
OK, so if I want to use conditional types to create a type branch based on whether or not a function has an argument, how can I do this? Everything extends `{}` so there seems to be no way to differentiate this type.

[2018-10-08 16:06] jack-williams commented on #27607
[code]

[2018-10-08 16:08] jamietre commented on #27607
THANK YOU!

[2018-10-08 16:08] #27607 closed

[2018-10-08 16:16] dyst5422 commented on #25710
@andy-ms

I think this was a file reference issue. Unrelated

[2018-10-08 16:17] gsbelarus opened #27611 "Code with union of types is not compiled by TSC 3.1.1"
The following code is not compiled by TSC 3.1.1 throwing error: _Property 'address' does not exist on type 'string | AddressInfo'. Property 'address' does not exist on type 'string'._

[code]

corresponding method declared inside Server class as:

[code]

and **AddressInfo** has field with name **address**:

[code]

The code was compiled by previous versions of TS without any errors.

[2018-10-08 16:34] andy-ms commented on #27611
If the value is `AddressInfo | string`, it's possibly a string. `string` doesn't have an `address` property, so the code can possibly try to access a nonexistent property, printing "Listening on http://undefined". It sounds like TypeScript is doing the right thing and probably worked the same in previous versions -- maybe the httpServer library you're using changed?

[2018-10-08 16:36] jack-williams commented on #27605
@StarpTech

It's the same behavior: excess property checking. When checking a fresh object literal against a type excess properties are flagged, this applies even if the literal is inside an array.

One you assign the literal to an identifier the 'fresh literal' status is lost, which is why uncommented code does not raise an error.

[2018-10-08 16:39] gsbelarus commented on #27611
Ok. Will close.

[2018-10-08 16:39] #27611 closed

[2018-10-08 16:39] StarpTech commented on #27605
Thanks for clarifiying.

[2018-10-08 16:39] #27605 closed

[2018-10-08 16:55] drew-y commented on #26546
I am also having this problem on a similar project. It's private as well but I'd be more than willing to provide access to the project.

[2018-10-08 17:14] johot opened #27613 "Suggestion: TypeScript without setting up a build pipeline (for seamless use in existing JavaScript projects)"
## Search Terms

typescript without compiling

## Suggestion

This may sound like a crazy idea, but anyways, I think it would be so cool if we could use TypeScript without compiling it using a webpack setup etc. I love TypeScript but the major friction is when getting to a new project that uses for example js and jsx (React). When that happens you start googling for instructions on setting up webp

[2018-10-08 17:16] RyanCavanaugh commented on #27613
You're describing the existing `compileOnSave` feature?

[2018-10-08 17:28] amcasey commented on #17541
@assuncaocharles it's entirely possible that @andy-ms fixed this in one of his routine fix-up passes.

[2018-10-08 17:38] #17541 closed

[2018-10-08 17:46] sandersn commented on #26546
@drew-y Thanks! I'll contact you over e-mail to talk about how to get access.

[2018-10-08 17:47] johot commented on #27613
@RyanCavanaugh

Thanks for your answer Ryan!
Hmm, that seems to be something Visual Studio (not code) picks up right?

I can actually simulate what I want by doing the following
* Create a new React app using `create-react-app` (non TypeScript version)
* I add a new `tsconfig` to the project and set the output dir to `./src` (also enable jsx, use ES2015 for target and module)
* I start tsc using `

[2018-10-08 17:51] #26254 closed

[2018-10-08 17:51] #26396 closed

[2018-10-08 17:51] #26840 closed

[2018-10-08 17:52] RyanCavanaugh commented on #27147
Duplicate #14469 and others

[2018-10-08 17:52] #27147 closed

[2018-10-08 17:52] #27362 closed

[2018-10-08 17:59] RyanCavanaugh commented on #27613
No; this is supported by VS Code as well.

[2018-10-08 18:00] DanielRosenwasser opened #27614 "Odd quick fix ordering for misspelled identifiers"
I believe that "misspelled identifier" quick fixes should precede the "remove unused declarations".

![image](https://user-images.githubusercontent.com/972891/46625525-2a429f00-cae9-11e8-9fee-27b1c38e0b37.png)

If anyone wants to take this on, this should just be a matter of

1. Making a test case for this, and
2. Shifting the order of which quick fix is registered first.

[2018-10-08 18:08] weswigham commented on #27552
Please note: Unless we add new suppression forms (ie, inline), the only fix for this is disabling the quickfix when a valid suppression position cannot be produced.

[2018-10-08 18:08] weswigham commented on #27552
(unless we really thing something like
[code]
is OK?)

[2018-10-08 18:11] johot commented on #27613
Hmm... tried this but nothing happens, using VSCode 1.28.0.

* Added `tsconfig.json`
[code]
* Changed my `.tsx` file. Nothing happens.

What is the expected output? This only works when using `tsc --watch` but in that case it would work even without `compileOnSave`.

Thanks!

[2018-10-08 18:12] #27493 closed

[2018-10-08 18:18] rzgry commented on #27614
@DanielRosenwasser I would love to give this a try as my first PR.
Any pointers to give me direction on this?

[2018-10-08 18:34] #27583 closed

[2018-10-08 18:35] #27595 closed

[2018-10-08 18:38] andy-ms commented on #27614
The ordering of fixes is currently determined by the load order of files, since they each immediately alter global state the moment they're created. I think we should change these files to export an object instead of calling `registerCodeFix`, make `registerCodeFix` private, and have `codeFixProvider` import from all code fixes and register them in an order it chooses.

[2018-10-08 18:38] guptaamol commented on #27595
Ok I will keep this in mind.
Any work around for the same....?

On Mon 8 Oct, 2018, 1:56 AM Matt McCutchen, <notifications@github.com>
wrote:

[2018-10-08 18:41] brieb commented on #27552
Would be awesome to add new suppression forms, and even support for targeting specific errors. But, in the absence of that, we will be using that weirdo comment form since we need the ability to ignore errors in JSX constructs. It's not pretty, but it's the only thing that works. So, the fix could either (1) include it in this form or (2) not include it at all (so it doesn't end up rendering). I l

[2018-10-08 18:45] andy-ms opened #27615 "fixAddMissingMember should work for type literal"
**TypeScript Version:**  3.2.0-dev.20181004

**Code**

[code]

**Expected behavior:**

Code fix to add `y` to the type literal.

**Actual behavior:**

No code fix. There is one if we use `interface`.
This issue should also include getting this to work for types defined in jsdoc syntax.

[2018-10-08 19:04] ghost opened #27617 "findAllRefs doesn't work for property of `typeof import("./foo")`"
**TypeScript Version:** 3.2.0-dev.20181006

**Code**

[code]

**Expected behavior:**

Test passes.

**Actual behavior:**

Test fails. The references in `function f` aren't found.

[2018-10-08 19:09] asmundg opened #27618 "Property 'onselectionstart' does not exist on type 'HTMLDivElement'"
**TypeScript Version:**  3.2.0-dev.20181006

**Search Terms:** onselectionstart, selection

**Code**

[code]

**Expected behavior:**

Code compiles.

**Actual behavior:**

Typescript fails with error TS2339: Property 'onselectionstart' does not exist on type 'HTMLDivElement'.

This was removed in ee25cdecbc. onselectionstart is part of the experimental Selection API. Is it intentionally unsupporte

[2018-10-08 19:44] aleksey-bykov commented on #1213
@metaweta, can you rename this issue to `Higher kinded types in TypeScript` so it gets a better visibility from google search please?

[2018-10-08 19:53] sheetalkamat commented on #27585
I don't think this is by design. Its a bug as in we do not re-retrieve semantic diagnostics of the file which could share the new added augmented module. We need to add that logic to builder/builderState.

[2018-10-08 19:54] #27206 closed

[2018-10-08 19:54] inad9300 commented on #24001
Regardless of the technical aspect, I am still interested in getting some kind of answer to the questions above.

[2018-10-08 21:03] RyanCavanaugh opened #27619 "Suggestion Backlog Slog, 10/8/2018"
* #27568 Imperative type guards
* #27118 Assignability of conditional types (co/contra/invariant?)
* #14094 `^` type operator
* #26645 Apply narrowings to top-level spread results
* #27288 Option to error when generic is inferred as `{}`
* #27249 Report errors on all plausible overloads
* #26981 Covariant assignability of type guards
* #26986 Customize error messages for built-in types

[2018-10-08 21:08] johntran commented on #14538
[code]

Fixed it for me.

[2018-10-08 21:15] evmar opened #27620 "`declare namespace` exported without `export`"
**TypeScript Version:**  3.2.0-dev.20181006 and older versions

**Search Terms:** namespace d.ts import

**Code**

[code]

[code]

**Expected behavior:**
`Foo` cannot be imported, because it is not exported.

For example, does this mean it's impossible(?) to have an unexported namespace in a d.ts?

**Actual behavior:**
If the first file is `.d.ts`, import succeeds.  If the first file is `.ts`, imp

[2018-10-08 21:36] #25747 closed

[2018-10-08 21:40] mjbvz opened #27621 ""Convert to async function" does not handle .then(fn1, fn2) correctly"
_From @MikeyBurkman on October 8, 2018 21:37_

- VSCode Version: 1.28.0
- OS Version: OSX High Sierra

Steps to Reproduce:
1. The code in the gif on https://code.visualstudio.com/updates/v1_28#_convert-to-async-function is actually wrong
2. When doing `.then(fn1, fn2)`, the second arg `fn2` should NOT be called if there's an error in `fn1`.

Sample code:
[code]

Expected output:
* Both should outp

[2018-10-08 21:42] #27159 closed

[2018-10-08 21:46] evmar commented on #27288
I think we (Google) would be interested in using this.  bcherny's description about it makes errors with strictFunctionTypes non-local is exactly our experience.

[2018-10-08 21:50] mjbvz opened #27622 "await keyword not included in suggestions"
From https://github.com/Microsoft/vscode/issues/60133

**TypeScript Version:**  typescript@3.2.0-dev.20181006

**Search Terms:**
- await
- suggestion, completions

**Code**
In a js or ts file, trigger intellisense at the `|`

[code]

**Expected behavior:**
Entry for the `await` keyword returned.

**Actual behavior:**
No suggestion for this keyword included in suggestion results

**Playground Link:

[2018-10-08 21:59] raymondfeng commented on #25636
@sheetalkamat We ran into the similar issue as @cockscomb. `tsc` complains about json files not in project file list no matter how we tweak `tsconfig.json`:

[code]

None of the following works:
- "include": ["**/*"]
- "include": ["**/*.json", "**/*.ts"]

Do we have to use `files` to include json files?

[2018-10-08 22:07] RyanCavanaugh commented on #27619
* #27568 Imperative type guards
  * No control flow nodes to attach this to
  * :-1: for same reasons
* #27118 Assignability of conditional types (co/contra/invariant?)
  * Should test if check type is identical, not subtype
  * The code in checker.ts has good aesthetics, but is wrong
  * Anders to investigate
* #14094 `^` type operator
  * New mapped types workarounds seem good enough
  * :-1:

[2018-10-08 22:08] mjbvz opened #27623 "TS Server API proposal: Commit Characters"
## Problem
VS Code (and Visual Studio) have the concept of commit characters for suggestions. This is a set of characters that, when typed, accept the current suggestion. For example, a suggestion for a function may treat `(` as a commit character.

VS Code currently computes these commit characters itself using the metadata that typescript returns for each completion entry. This has two problems:

[2018-10-08 22:17] sandersn opened #27624 "infer-from-usage codefix should be a suggestion"
## Search Terms

infer from usage suggestion

## Suggestion

The infer from usage codefix only triggers from noImplicitAny errors, which are only available with noImplicitAny on. In particular, this makes it a lot less likely that JS users will use the codefix after #27610 is merged. Instead, noImplicitAny errors should be suggestions, which can trigger.

## Use Cases

[code]

This suggestion has

[2018-10-08 22:21] RyanCavanaugh commented on #27620
The syntax for an unexported member in a .d.ts file is:
[code]

[2018-10-08 23:35] jack-williams commented on #27619
Re: #27118

Has the team looked at the impact of switching from bivariance to invariance? I don't really have an intuition for what is used in RWC, but I could imagine something like `Exclude<A, null> <: Exclude<B, null> if A <: B` being useful.

[2018-10-09 00:28] AviVahl commented on #27603
@RyanCavanaugh that wiki article mentions new.target, but the example does not match the info given on:
https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-2.html
("Support for new.target" section)

[2018-10-09 00:52] dgoldstein0 commented on #27585
thanks for the quick turnaround!  I'll look forward to the fix in TS 3.2  And in the meantime if I find more bugs of this type I'll report them too.

[2018-10-09 01:00] mattmccutchen commented on #27620
Blank code block??

How about:
[code]
See [this thread](https://stackoverflow.com/q/52583603) for more information.

[2018-10-09 01:49] mattmccutchen opened #27630 "More poor errors with value/type/namespace confusion"
"Cannot find name" or "Namespace ... has no exported member", but I see it right there!  Some of the more common cases came up in two recent Stack Overflow questions: [1](https://stackoverflow.com/questions/52617485/typescript-constant-string-cannot-be-found), [2](https://stackoverflow.com/questions/52711753/cannot-get-func-from-proptypes).  Maybe we should just fix all the cases?

**TypeScript Ve

[2018-10-09 02:17] travelcode commented on #27603
Thank you.
All the problems in "#27603" and "#27602" were caused by the property "compileroptions.target" of "tsconfig.json"
The property "compileroption.target" I set in "tsconfig.json" is too low.
This minimum version should be set to "es6".
Now, I think the advantage of typescript is just the "access authority" and the "strongly typed".
Compatibility is still a bad news.

[2018-10-09 02:17] travelcode commented on #27602
Thank you.
All the problems in "#27603" and "#27602" were caused by the property "compileroptions.target" of "tsconfig.json"
The property "compileroption.target" I set in "tsconfig.json" is too low.
This minimum version should be set to "es6".
Now, I think the advantage of typescript is just the "access authority" and the "strongly typed".
Compatibility is still a bad news.

[2018-10-09 06:44] DanielRosenwasser commented on #27602
This simply can't work in pre ES2015 targets because ES5 and below don't have `Reflect.construct`, so we use `Function#call`; however, `Number` doesn't return a wrapper object when being called, so that's the cause of the discrepancy.

[2018-10-09 08:31] Kovensky commented on #16671
Either that, or they should not be allowed to be `export`ed to begin with.

[2018-10-09 09:52] thomas-mindruptive commented on #7169
@JCWolf  I can provide the "patch-code" I have posted above. But I think it's more of a general discussion within the TS team if and how they want to do this. It would be easy (technically) for the transpiler to decorate additional type-info. Maybe they are waiting for the EcmaScript-specs for these features. (Which would be boring because TS was always ahead! :-))

[2018-10-09 10:17] dkamyshov commented on #21760
So I have this piece of code:

[code]

In TS 3.0.3 `result.ghi` is correctly inferred as `boolean` and no errors are displayed.
In TS 3.1.1 `result.ghi` is (again) correctly inferred as `boolean`, but in highlighted line it says `Type 'C[K]' cannot be used to index type 'B'.`

I'd greatly appreciate any help.

[2018-10-09 13:49] jack-williams commented on #24193
PR up at #27631

[2018-10-09 14:43] andrewnester commented on #27455
Hello! I created PR to fix this in documentation: https://github.com/Microsoft/TypeScript-Handbook/pull/856

[2018-10-09 15:20] schmidtk commented on #27215
@andy-ms / @sandersn: Is this something that could make the 3.2 milestone? I'm trying to get a rough estimate for planning purposes. Thanks for your time!

[2018-10-09 15:37] sandersn commented on #27215
@schmidtk It's planned for 3.2, and next on my list after improving the infer-from-usage codefix (#27610). It's not a simple fix &mdash; JSDoc generics do not create actual generic types right now &mdash; so plan like you would for any software engineering estimate.

[2018-10-09 15:47] schmidtk commented on #27215
@sandersn Excellent, appreciate the feedback. Thank you!

[2018-10-09 15:49] sheetalkamat commented on #25636
We do not want to add json files in compilation accidently and want users to explicitly specify them instead of using the include/exclude pattern.

[2018-10-09 16:32] inoyakaigor commented on #27619
Is it mean what `^` operator will not be added?

[2018-10-09 16:38] anurbol commented on #27575
Hi, Ryan! Thank you for the response!

The solution you provided can let user know that `.call` has null/never type. However it still appears in the list of other, API properties (`.bar`). I realize there may not be any solution to solve it, but if so can you please answer two questions that arised from this:

1. I always wondered: why do properties with type `never` still appear in IntelliSense?

[2018-10-09 16:47] #27092 closed

[2018-10-09 17:00] Hotell opened #27633 "`object` type is casted to `any` when `-checkJs` is used"
**TypeScript Version:**  3.1.1

**Search Terms:** object in js, object check-js

**Code**

[code]

When a indexed object is used it works correctly

[code]

**Expected behavior:**

Compile error and `object` works like in TS file

**Actual behavior:**

value is casted to `any`

[2018-10-09 17:17] RyanCavanaugh commented on #27568
Effectively the same as #10421

[2018-10-09 17:17] #27568 closed

[2018-10-09 17:19] andy-ms commented on #27633
Duplicate of #25624

[2018-10-09 17:20] RyanCavanaugh commented on #27118
We'll see what happens - might be too large of a break, but the theoretical justification is strong

[2018-10-09 17:38] andy-ms commented on #25624
Solution may be to add a new type which is definitely the same as ts's `object` regardless of what kind of file it appears in.

[2018-10-09 17:38] andy-ms commented on #27633
@Hotell reopened that issue, add your :+1:

[2018-10-09 17:42] #27569 closed

[2018-10-09 17:46] zpdDG4gta8XKpMCd opened #27634 "narrowing to null via typeguards doesn't work"
i am hacking my way around this limitation #11920

so my goal is to make sure that `isNull` only applied to `T | null` types and by this i mean *that `null` *must be a valid case* of a given type* (types that don't have `| null` must not be permitted), i am trying to use conditional types to enforce it, this is what i got

unfortunately it doesn't work and i am clueless what i am doing wrong, it l

[2018-10-09 17:51] aleksey-bykov commented on #27634
hacking my way around this limitation #11920

[2018-10-09 17:55] aleksey-bykov commented on #27634
@ahejlsberg strange behavior in narrowing to null, you might want to look at it

[2018-10-09 18:08] RyanCavanaugh commented on #27288
Daniel will see what the impact of such a flag would be

[2018-10-09 18:13] RyanCavanaugh commented on #27634
You'd need #9252 to do this

[2018-10-09 18:15] aleksey-bykov commented on #27634
jfc, no country for an old men

[2018-10-09 18:23] RyanCavanaugh commented on #26645
Same root cause as #10065

[2018-10-09 18:25] mjbvz opened #27635 ""An unknown error occurred while resolving rename location" when renaming"
_From @chrfrasco on October 9, 2018 11:37_

- VSCode Version: 1.28.0
- OS Version: 10.13.6

Steps to Reproduce:

1. Try to rename `MiniCssExtractPlugin`

[code]

2. Get unknown error

<img width="814" alt="screen shot 2018-10-10 at 12 26 11 am" src="https://user-images.githubusercontent.com/18002432/46666878-6d555d00-cc24-11e8-9970-664e6ae74f60.png">

All other identifiers are OK.

Output:

[code]

[2018-10-09 18:28] RyanCavanaugh commented on #27249
Basic notes:
 * We should first filter by "close" arity
 * Then also filter by some rough estimate of type closeness of all arguments
 * Also include a related span for the overload we selected for the purposes of error reporting

Currently not in scope: Reporting for every plausible overload

[2018-10-09 18:28] jack-williams commented on #27634
Maybe?
[code]

[2018-10-09 18:30] mjbvz commented on #27635
@chrfrasco  I'm not able to reproduce this using TypeScript 3.1.1. Do you have a `jsconfig.json` in your project? Do you see the same error for similar imports in that file?

[2018-10-09 18:32] aleksey-bykov commented on #27634
`Extract<T, null>` is sure a very interesting way of saying `null`, but it seems to work, thanks

[2018-10-09 18:34] mjbvz opened #27636 "Intellisense - Import suggestions show up but are not inserted/loaded?"
_From @Alexand3r on October 9, 2018 13:3_

As the title, when I try to "auto import" a component in a React Project , intellisense shows the suggestion, but on selecting it, it is not inserted

- VSCode Version: 1.28.0
- OS Version: Kubuntu 18.04

Steps to Reproduce:

1.Type in render function any React Component from any package ( my case from @material-ui/core the component TableHead, however it

[2018-10-09 18:40] mjbvz commented on #27636
@Alexand3r I can't reproduce this debug failure. Can you please share the `jsconfig` from your project if it has one. Also, please share a small code sample as text that demonstrates this problem

[2018-10-09 18:43] SimonGustavsson opened #27637 "Missing warning on unreachable code"
Sorry if this has been reported before, I tried my best searching for similar issues. I guess this is more of a "Is this 'As Designed'?" question as opposed to a bug report. It's caught me off guard a few times and thought I'd mention it at least.

**TypeScript Version:**  3.1.1

**Search Terms:** Type check, null, undefined

**Code**

[code]

**Expected behavior:**
A warning on line 2 in both exa

[2018-10-09 18:46] mjbvz opened #27638 "docCommentTemplate returns "No content available" for ES5 method"
From https://github.com/Microsoft/vscode/issues/60335

**TypeScript Version:**  3.2.0-dev.20181006

**Search Terms:**
- jsdoc
- docCommentTemplate

**Code**
For the javascript:
[code]

Request a `docCommentTemplate` at the `|` in `/**| */`

**Bug:**
No content available returned.

[code]

This is a regression from TS 3.0.

We do return the expected response for the case:

[code]

[2018-10-09 18:50] mjbvz opened #27639 "Code navigation / intellisense broken with wrapped module.exports"
_From @giannisp on October 9, 2018 11:13_

- VSCode Version: 1.28.0
- OS Version: macOS 10.14

Steps to Reproduce:

1. Create a JS file like `const app = (module.exports = {});` (usual Prettier format)
2. Add a function like `app.foo = () => {};`
3. Try require / referencing `{ foo }` from any other file. Neither code navigation nor intellisense works.

- Worked just fine on the previous stable ve

[2018-10-09 18:53] darwinserrano commented on #27636
Hi.
This happens when try to import any component with this shape. See the signature of the class and the export default

[code]

So, the result on Ctrl+space is `<import('../MyComponent').MyComponent>`

[2018-10-09 18:53] mjbvz commented on #27639
Using TS 3.1.1 and TS3.2.0-insiders-20181009, I can't get either `const app = (module.exports = {})` or `const app = module.exports = {};` to work. No errors in the logs. This is in a simple project with the following standard jsconfig:

[code]

[2018-10-09 18:55] RyanCavanaugh commented on #26981
@mattmccutchen interested in putting up a PR? We're willing to see how big of a break it would be (expectation is small)

[2018-10-09 18:56] mjbvz opened #27640 "Code completion for import suggestion stopped working"
_From @zfeher on October 9, 2018 9:44_

- VSCode Version: 1.28.0
- VSCode Insiders Version: 1.29.0-insider (user setup) Commit: c1100eff93b35dc220ce63e2ed0d5ace54259795 Date: 2018-10-09T06:54:02.898Z
- OS Version: Windows 10 1803

Steps to Reproduce:

1. open some project
2. start to type a function name which is not yet imported. code completion should show import suggestions during typing and wh

[2018-10-09 18:58] mjbvz commented on #27640
@zfeher Can you please provide example code or a small example project that shows this issue.

Also, try upgrading your workspace to use `typescript@next` by following [these instructions](https://code.visualstudio.com/Docs/languages/typescript#_using-newer-typescript-versions). Does this issue still happen when using typescript@next?

[2018-10-09 18:59] mjbvz opened #27641 "Incorrect "convert to async function" refactoring"
_From @chrfrasco on October 9, 2018 7:45_

- VSCode Version: 1.28.0
- OS Version: macos 10.13.6

If/else is stripped out by convert to async refactor, and convert all to async does nothing

Steps to Reproduce:

1. Convert `bar` to async function

[code]
2. Get this

[code]

3. convert all to async does nothing

Does this issue occur when all extensions are disabled?: Yes

_Copied from original iss

[2018-10-09 19:00] mjbvz commented on #27641
`Convert all` not working is likely #27488

[2018-10-09 19:06] RyanCavanaugh commented on #27637
Comparisons with `undefined` are always allowed in order to facilitate e.g. defensive parameter checks

[2018-10-09 19:08] eamodio commented on #26645
@RyanCavanaugh since #10065 is closed, does that mean this issue won't be fixed?

[2018-10-09 19:11] RyanCavanaugh commented on #27618
Experimental DOM APIs are intentionally not included in the built-in lib definition

[2018-10-09 19:12] brieb commented on #27640
Also hitting this issue.
Here is my stack trace on mac.

[code]

[2018-10-09 19:31] RyanCavanaugh commented on #26645
@eamodio correct (for some definition of "won't")

[2018-10-09 19:35] chrfrasco commented on #27635
@mjbvz no jsconfig, and all other imports work.

Here's the full project: https://github.com/chrfrasco/typescript-rename-error. The destructured import is gone but the same error occurs.

[2018-10-09 19:40] chrfrasco commented on #27635
This behaviour goes away with a fresh install of the dependencies. I'll see if I can reproduce.

[2018-10-09 19:40] zfeher commented on #27640
@mjbvz I checked with typescript@next and it showed the suggestions but still printing a similar console error. It prints the error on every key type and when I am trying to accept the suggestion (which fails).

Tried to quickly setup a minimal 2 file scenario (`a.js` + `b.js`) where one of them had a function named `foo`. Typing `foo` in the other empty js showed the import suggestion and accepti

[2018-10-09 19:43] ahejlsberg commented on #27634
I was going to suggest this:

[code]

But `Extract<T, null>` seems to work too.

[2018-10-09 19:48] mjbvz commented on #27317
@RyanCavanaugh A lot of VS Code users are hitting this (https://github.com/Microsoft/vscode/issues/60216). I believe we need to fix this in TS 3.1.5

[2018-10-09 19:55] SimonGustavsson commented on #27637
That's a good point.

I guess there's no way to add a warning in my case where the types and values are well known without it getting messy/confusing for users?

[2018-10-09 20:10] jack-williams commented on #24929
@krryan
The conditional type is distributive, so that wouldn't be the behaviour. The type `string | number` would distribute so you would get `'s'` for the left, and `'n'` for the right, giving `'s' | 'n'`

`const x: 's' | 'n' = fn<string | number>("hello",3); // ok`

@lukeautry
One issue is that if you pass a value of type `never` then the conditional type will evaluate to `never`, which neither

[2018-10-09 20:17] speigg commented on #12607
Ah, this is why it's not working. Same problem as @endel (trying to augment a re-exported class from the package-scope `three` module)

[2018-10-09 20:20] jack-williams commented on #27637
Perhaps a related solution might be from: #27634

E.g
[code]

The error is not in unreachable code, but a useless comparison.

[2018-10-09 20:22] #27326 closed, assigned to sheetalkamat

[2018-10-09 20:32] #27417 closed

[2018-10-09 20:37] joeywatts commented on #12212
I've observed a difference in the ESNext proposal spec for class properties and the current TypeScript class behavior. Consider this code:

[code]

It seems that, with the wording of the ES proposal, `property` gets redefined in B, so that `instanceB.property === void 0`. [The babel implementation](https://github.com/babel/babel/pull/7842) seems to call `Object.defineProperty` in the case where a

[2018-10-09 20:43] #27585 closed

[2018-10-09 20:56] sandersn commented on #27355
@weswigham points out that this is probably correct; `b: 0` is not excess because it's overridden by `o.b` which comes from a spread, so should not count as excess.

What would be more useful is an error for unused properties in a spread: any property that is not used because of later spreads. The error should only apply to non-spread properties.

[2018-10-09 21:03] ahejlsberg commented on #27351
The issue here is that even though a homomorphic mapped type only maps the element type(s) of the array or tuple, `keyof A` still includes the non-numeric properties of `Array<T>` (i.e. `"length"`, `"concat"`, etc.) and therefore `A[keyof A]` (the constraint of `A[K]`) is a large and fairly useless union type that can't be indexed with `"foo"`.

We considered having `keyof T` for an array or tuple

[2018-10-09 21:11] #27435 closed

[2018-10-09 21:37] sheetalkamat commented on #26823
That means there is a step involved at runtime which indicates that module resolution path is different from the current layout on the disk. Thus you need to provide module resolution mapping to indicate where and how the sources would be.

The line you mentioned here is not an issue. The package json is correctly found at: `Found 'package.json' at 'c:/temp/learn-a/node_modules/@ryancavanaugh/pkg1

[2018-10-09 21:45] rosskevin commented on #26823
@sheetalkamat

This seems like an unnecessary extra step when the file should probably resolved relative to the entrypoint of the module.

BUT, assuming that is not going to happen, what do you mean by that statement?  Do you mean I cannot use project references and need to manually map everything as I currently do?  Or just add a single path mapping on top of the current project references?  I th

[2018-10-09 21:46] asmundg commented on #27618
Ok, thanks for the clarification!

[2018-10-09 21:46] #27618 closed

[2018-10-09 21:53] aboyton commented on #25114
Thanks for the reminder. There was a request on my PR, I've addressed that now and updated the PR. (Personally I just forked the TSLint rule but it would be nicer to get this merged into master.)

[2018-10-09 21:57] mjbvz commented on #27640
@RyanCavanaugh This is another 3.1.2 candidate

[2018-10-09 22:02] #27344 closed

[2018-10-09 22:07] RyanCavanaugh opened #27644 "Handle breaking change in class property runtime behavior"
From https://github.com/Microsoft/TypeScript/issues/12212#issuecomment-428342448 @joeywatts:
[code]
It appears from the current definition at https://github.com/tc39/proposal-class-fields that this code will print `undefined`.

If the proposal advances further with these semantics, we'll need to figure out a mitigation strategy, preferably sooner rather than later.

One option is to make the code

[2018-10-09 22:12] RyanCavanaugh commented on #12212
@joeywatts 	thanks for raising this -- logged #27644

[2018-10-09 22:20] DanielRosenwasser commented on #27429
@uniqueiniquity can you port this over to `release-3.1`?

[2018-10-09 22:21] #27346 closed

[2018-10-09 22:21] ahejlsberg commented on #27598
In homomorphic mapped types of one of the forms `{ [P in keyof T]: XXX }` or `{ [P in K]: XXX }`, where `K` has a constraint of the form `keyof T`, we preserve property modifiers (i.e. `readonly` and `?`) as they exist in `T`. In all other cases, the only property modifiers that will be present are those specified in the mapped type itself. See #12563 for more info.

[2018-10-09 22:22] #27342 closed, assigned to sandersn

[2018-10-09 22:28] RyanCavanaugh commented on #26412
:extremely long sigh:

[2018-10-09 22:30] aleksey-bykov commented on #27634
@ahejlsberg your way (`value is T & null`) works better since `Except<T, null>` only works unions of promitives, but doesn't work on unions of objects, thank you for your help

[2018-10-09 22:42] mjbvz opened #27663 "Can't rename property called `size`"
**TypeScript Version:**  3.2.0--dev.20181009

**Search Terms:**
- rename
- tsserver

**Repo**

1. In the vscode [code base](
https://github.com/Microsoft/vscode) (sorry, couldn't find a smaller repo at the moment)
2. Open `src/vs/editor/contrib/codeAction/codeAction.ts`
3. After the imports, paste in:

[code]

4. Try triggering a rename on `size`

**Bug**
Debug failure on TS Server:

[code]

**Rel

[2018-10-09 22:46] jack-williams commented on #27634
@aleksey-bykov Can you post an example of one that doesn't work?

[2018-10-09 22:49] RyanCavanaugh commented on #26970
`Object | (() => string)` is subject to subtype reduction so this example is pretty sketchy to begin with.

[2018-10-09 22:54] aleksey-bykov commented on #27634
@jack-williams hm, i guess i am taking my words back, now it looks working just as well

not sure what happened, but when i applied it first time i didn't get narrowing that i expected

if i see it again i will let you know

[2018-10-09 22:58] weswigham commented on #26970
So it's probably worth mentioning that `Object & Function` and `() => string` on their own are both callable. The first is resolved as an untyped call, while the second is strong. #27422 is related (which is making the error more clear), and so is #7294, #9239, and #10620 (which would involve removing the error).

[2018-10-09 23:07] mjbvz opened #27670 "Automatic typings install does not trigger project refresh"
From https://github.com/Microsoft/vscode/issues/59436

**TypeScript Version:**  3.2.0-dev.20181009

**Search Terms:**
- ATA, automatic typings acquisition

**Code**
Tested on macos with npm 6.4.1.

1. Clear the typings cache.
1. For a new JS project with contents:

`package.json`

[code]

`main.js`

[code]

1. Open the project in vscode
1. Run `npm install`
1. Open `main.js`

1. Notice the `...` s

[2018-10-09 23:08] sheetalkamat commented on #26823
In your example, I changed pkg2 tsconfig to which works and there are no errors
[code]

Output is:
[code]

[2018-10-09 23:11] weswigham commented on #27484
Minimal repro:
[code]

[2018-10-09 23:21] #27619 closed

[2018-10-09 23:35] weswigham commented on #27177
Your type
[code]
should be
[code]
if you enable `strictFunctionTypes` you'll see the lack of an appropriate this `this` type on your signature is a strict variance issue.

[2018-10-09 23:36] mjbvz opened #27672 "Automatic typings acquisition has npm install error for async@ts3.2"
**TypeScript Version:**  3.2.0-dev.20181009

**Search Terms:**

**Code**
1. For a new js project:
1. Run `npm init -y && npm i react-native webpack`
1. Open a js file

**Bug**
In the Typescript server logs, see the error:

[code]

[2018-10-09 23:43] mjbvz opened #27673 "TS Server stalls during npm install"
From https://github.com/Microsoft/vscode/issues/59898

**TypeScript Version:**  3.2.0-dev.20181009

**Search Terms:**
- TS server
- file watcher
- npm install

**Code**
1. For a simple js project:

`package.json`

[code]

`index.js`

[code]

1. Open the js file
1. Then run `npm install`
1. While install is still happening, repeatedly try triggering intellisense in the js file

**Expected behavior:

[2018-10-09 23:54] RyanCavanaugh commented on #27047
I think this is working as intended because the `this` in the return type is unsound to aliasing. Let's say we let you do this:
[code]

[2018-10-09 23:56] #27043 closed

[2018-10-09 23:59] RyanCavanaugh commented on #27273
I think it's extremely arguable one way or the other. Certainly if you introduce a non-conforming property, the original intent of the index signature is lost.

[2018-10-10 00:04] mjbvz commented on #27673
TS Server log:  [tsserver log.zip](https://github.com/Microsoft/TypeScript/files/2462619/tsserver.log.zip)

[2018-10-10 00:14] sheetalkamat commented on #26823
By providing the path mapping In compiler options you are informing compiler where the module would be at runtime and the extra build step is needed to ensure that guarantee at runtime .. which is done as part of learna project setup at per https://github.com/Microsoft/TypeScript/issues/26823#issuecomment-425245936

[2018-10-10 00:28] mattmccutchen commented on #27598
@ahejlsberg I understand.  The problem is that the assignability rules are inconsistent with actual mapped type instantiation in the way they check for the special forms `{ [P in keyof T]: XXX }` and `{ [P in K]: XXX }` (where `K` is constrained by `keyof T`), hence the examples of unsoundness in my original comment.  Please reopen.  I have a draft fix for this but haven't finalized the semantics

[2018-10-10 01:02] mattmccutchen commented on #27484
Right.  In essence, the current assignability rules only relate `Readonly<T>` to exactly `T`.  The decomposition of intersections may mean that `T & U` is assignable to `Readonly<T>`, but `Readonly<T & U>` isn't assignable to `T`.  In #27590, I started to try to extend the assignability rules for mapped types to handle intersections, but I got mired in existing bugs in the rules.  I'm starting to

[2018-10-10 03:40] rbuckton commented on #26677
This is analogous to defining a custom default lib and not filling in the type for `Promise` and getting errors for `await` not working.

We should be able to resolve this by changing the node definitions to use lib references once typesVersions support is rolled out to DefinitelyTyped.

[2018-10-10 03:44] rbuckton commented on #26509
Perhaps we should expose it with a name that is less of a mouthful? Something like `getTypeOfDestructuringAssignment` or `getTypeOfAssignmentPattern`.

[2018-10-10 03:49] mattmccutchen commented on #27619
@jack-williams Let's take the discussion of #27118 to that issue.

[2018-10-10 03:58] mattmccutchen commented on #27118
Re https://github.com/Microsoft/TypeScript/issues/27619#issuecomment-428012193:

I may as well just prepare a pull request and let the TypeScript team run it on the RWC suite.

[2018-10-10 04:15] jrkong commented on #27614
I'd like to give this one a shot if no one's working on it.

[2018-10-10 05:55] mattmccutchen opened #27676 "`jake local` to build entire TypeScript codebase using LKG?"
## Search Terms

LKG build bootstrap

I'm having a hard time finding search terms that give me a reasonable number of issues to review. :(

## Suggestion

`jake local` should build the entire TypeScript codebase using the LKG compiler, instead of using the LKG compiler for the first stage of the build and the newly built compiler for the second stage.  If it's important to be able to test the new

[2018-10-10 06:04] takefumi-yoshii opened #27677 "Why enum inferred as widening?"
On the other day, I recognized `Widening / Non-Widening` Literal Types at #11126. At the same time, I noticed that enum handling constants is also as widening. I feel this is unnatural, but is there something in danger? Best reaugrds.

[code]

[2018-10-10 06:32] Alexand3r commented on #27636
What @darwinserrano showed, however, as seen in the picture, mine throws an error and does nothing with no jsconfig and with a jsconfig where the "target" and "modules" are changed as long as the target is not commonjs, i get the
[code]
Issue

[2018-10-10 06:45] takefumi-yoshii opened #27678 "Why promise will be unwrapped by dynamic import?"
I got mysterious inferred type with dynamic import.In `dynamic import` with `typeof`,Promise will be unwrapped.

[code]

[code]

[code]
I would like to know the reasons for this behavior. Best reguards.

[2018-10-10 06:49] ananiy commented on #19882
hope add a setting option to remove the trailing semicolon... 👍

[2018-10-10 06:57] pankleks opened #27679 "Overhead code generation for `outFile`"
I'm compiling my project to single output file using `outFile` option.

TSC is generating overhead code as such:
![image](https://user-images.githubusercontent.com/14176066/46717745-45d4b380-cc69-11e8-92e7-30fd12ac1345.png)

This happens for every file of my solution -> in my case hundreds of  small files which cause significant overhead in output file.

I believe this could be optimized by mergin

[2018-10-10 06:59] ajafff commented on #27678
`import('./sample.json')` as expression returns a Promise because it executes asynchronously.
`import('./sample.json')` as type is not intended to be the same as the expression counterpart. It's meant to reference a type of another module inline. Since it has no runtime behavior, it doesn't need to result in a Promise-type.

[2018-10-10 07:39] peteroid commented on #27302
I was experiencing this issue while using the vscode with default Typescript version 3.1.0. Finally got the intellisense back after downgrading the ts to 3.0.3

[2018-10-10 07:39] mattmccutchen commented on #10360
I believe this has been addressed by #25541.

[2018-10-10 07:48] saschanaz commented on #10360
I can confirm that the message has been updated:

[code]

I'll close this issue, feel free to open a new one (and link back) to give more suggestions. 👍

[2018-10-10 07:48] #10360 closed

[2018-10-10 07:54] takefumi-yoshii commented on #27678
@ajafff Thanks for reply.If there has some discussion at past time,I'd like to know related issues.I would like to still open this one day.

[2018-10-10 08:04] ivawzh commented on #19882
So sad this issue is not moving.

[2018-10-10 08:38] zfeher commented on #27640
@mjbvz after playing with the issue ~2,5 hours I managed to isolate the problem which you can use to reproduce the issue.
Here you can find the repo: [link](https://github.com/zfeher/ts-import-suggestion-bug)

As it seems the `npm-check-updates` package existence cause the problem for some reason. Without it the code completion works for import suggestions but the imported form is placed at the cu

[2018-10-10 09:03] housseincherkawi opened #27681 "Cannot destructure property `error` of 'undefined' or 'null'."
app.put('/api/upCourses/:id', (req, res) =>{
   // look up the course
   //if not existing , return 404
    const course = courses.find(c => c.id ===  parseInt(req.params.id));
    if(!course) res.status(404).send('The course not Found');
    res.send(course);

    const { error } = validateCourse(req.body); // result.error
    if(error){
        res.status(400).send(result .error.details[0].messa

[2018-10-10 09:06] doggy8088 opened #27682 "Wrong zh-tw translation for "Move to new file""
There are issues [here](https://github.com/Microsoft/vscode/issues/60272) and [here](https://github.com/Microsoft/Localization/issues/29).  I finally realized there is a translation error exists in TypeScript project.

https://github.com/Microsoft/TypeScript/blob/07966dcb124ee379a4f062c1032fec0a6c4eaf19/lib/zh-tw/diagnosticMessages.generated.json#L587

The term **Move to new file** in **zh-tw** sh

[2018-10-10 09:39] asvetliakov commented on #27529
Related #27233 , https://github.com/Microsoft/typescript-styled-plugin/issues/78

[2018-10-10 09:53] asvetliakov commented on #27233
This issue drives me mad. See https://github.com/Microsoft/typescript-styled-plugin/issues/78 for minimal repro

[2018-10-10 10:02] TimonVS commented on #27636
I think I'm having the same issue, suggestions show up, but they don't automatically import the file anymore. It works perfectly fine in 1.27, but it's broken in 1.28 and the insiders build.

In Insiders build and 1.28 it only shows the suggestion, but it doesn't automatically import the file:

![image 1](https://user-images.githubusercontent.com/876666/46728844-05366380-cc84-11e8-929f-ca680123686

[2018-10-10 10:05] TimonVS commented on #27636
Here's a part of my `tsserver.log`:

[code]

[2018-10-10 10:51] soumyamishra89 commented on #27317
same issue after updating the vscode to September release (1.28.0). This issue didn't exist in previous version

[2018-10-10 11:46] kommuswamy opened #27684 "How Can i Call the function inside the async function in the same file"
Hi ,

I have a scenario where I need to call the function inside the async function.

Thanks!

[2018-10-10 12:53] littledan commented on #27644
I am happy to see TS looking into this important compatibility issue. This plan sounds good to me. Another potential incompatibility is that TC39's fields are defined with Object.defineProperty, not =, so setters defined in a superclass will not run.

[2018-10-10 13:16] rosskevin commented on #26823
Thank you very much @sheetalkamat for taking time to help me with this!

[2018-10-10 13:16] #26823 closed

[2018-10-10 13:29] rosskevin commented on #26823
For anyone that may bump into this, I have updated my `Lerna monorepo + yarn workspaces + typescript project references + flattened build` repo as a sample that hopefully helps others.

https://github.com/rosskevin/learn-a

[2018-10-10 13:35] ahejlsberg commented on #27677
This is working as intended but is relatively new behavior. See #26556.

[2018-10-10 14:09] pvoisin commented on #16498
What's going to happen with that issue? :)

[2018-10-10 14:43] minajevs commented on #12400
For anyone still waiting for optional function arguments, it is now possible to simulate that using new tuple types and spread expressions:

[code]

it has a limitation with inferred  argument type, though, which is solved by explicitly specifying undefined  argument type

[2018-10-10 14:43] ThomasKiesel opened #27685 "Tsc in watch mode does not seem to observe changes when compiler errors due to project references are fixed"
[TscBugOutdatedErrors.zip](https://github.com/Microsoft/TypeScript/files/2465160/TscBugOutdatedErrors.zip)

**TypeScript Version:**  3.2.0-dev.20181010

**Search Terms: watch project reference **

Please find attached a folder with some files to reproduce the Problem.
The folder contains two subfolders:
1) A folder 'library' with an typescript file and a simple tsconfig.json
2) A folder 'app' with

[2018-10-10 15:15] RyanCavanaugh commented on #27684
It looks like this is a question rather than a bug report. This issue tracker is for tracking bugs and active work on TypeScript *itself*, rather than a general forum for programmers using TypeScript to get help or ask questions.

You can ask questions on sites like [Stack Overflow](https://stackoverflow.com/questions/tagged/typescript). We are not able to provide one-on-one support on the issue t

[2018-10-10 15:15] #27684 closed

[2018-10-10 15:46] mattmccutchen commented on #26981
PR is #27686.  Note the interesting problem with the `thisPredicateFunctionQuickInfo01` test case.

[2018-10-10 16:03] andy-ms commented on #27681
Please provide a complete reproducible example of the problem.

[2018-10-10 16:06] sheetalkamat commented on #27670
@DanielRosenwasser , @RyanCavanaugh Currently there is discrepancy between the way error is generated and typing requests queueing. ATA happens only if module is not resolved (to js or ts file) but error is generated if the resolution is not ts or json file. Which behavior is correct?

[2018-10-10 16:11] sheetalkamat commented on #27672
I think we do not publish 3.2 typings till 3.2 is released. @andy-ms can confirm.

[2018-10-10 16:29] sheetalkamat commented on #27685
@ThomasKiesel are you using tsc -b or tsc -p to build the project?  I tried with tsc -b since you used -v flag I assumed that what you want.. I cant repro this at all. I was able to see the addition of error when I renamed library message, and removal when I did undo of the change.

Also note that with both of these I am getting errors:
`
pp/app.ts:5:1 - error TS2584: Cannot find name 'console'. D

[2018-10-10 16:32] sheetalkamat commented on #26389
Right now we do not generate errors in lib file even if change is in non module file, and fix would be to remove cached diagnostics in lib file if change is in non module file.

[2018-10-10 16:42] ilpoo commented on #11235
An additional note on Deno: the .mts extension trick isn't a valid solution either, as it's an unsupported file type in Deno. You absolutely have to write .ts if you want the code to run.

[2018-10-10 16:44] #26808 closed

[2018-10-10 17:29] dannycochran commented on #25746
hmm @andy-ms I tried that example locally and it does not work for me still. here's an example repo, if you run:

[code]

you'll see the error.

[2018-10-10 17:40] anodynos commented on #19573
Using `lodash` & especially `lodash/fp` with TypeScript is so painful, and even with latest versions of `lodash` & `@types/lodash` you can end up with very cryptic error messages.

If can a a `@ts-ignore-block` that ignores throwing an error for the following block, it would be great for use cases like this where _you know what you're doing) :-)

[2018-10-10 17:43] RyanCavanaugh commented on #27679
Duplicate #447

[2018-10-10 17:43] #27679 closed

[2018-10-10 17:52] mattmccutchen opened #27687 "User-defined type guard method can be overridden with any non-type-guard return type"
**TypeScript Version:**  master (07966dcb124ee379a4f062c1032fec0a6c4eaf19)

**Search Terms:** user-defined type guard predicate method override overridden return

**Code**
[code]

**Expected behavior:** Error on `"this is nonsense"`.

**Actual behavior:** No error.

**Playground Link:** [link](https://www.typescriptlang.org/play/#src=interface%20A%20%7B%0D%0A%20%20%20%20isB()%3A%20this%20is%20B%3B

[2018-10-10 17:53] ThomasKiesel commented on #27685
[TscBugOutdatedErrors.zip](https://github.com/Microsoft/TypeScript/files/2465810/TscBugOutdatedErrors.zip)
I have to apologize for submitting insufficient information. I had some trouble with sending the zip-archive and reduced the content to upload it, obviously it was not enough.

Please find attached the full zip file. Here you find an additional folder “node_modules”, containing the node type

[2018-10-10 19:01] RyanCavanaugh commented on #27682
@lukaschal can we take PRs for the lcl files or do those get overwritten on insertions?

[2018-10-10 19:02] #27678 closed

[2018-10-10 19:03] RyanCavanaugh commented on #27676
We absolutely agree and have been meaning to do this for a while. Using one tool for the whole build will also improve overall build times which is something we'd very much like.

[2018-10-10 19:06] #27277 closed

[2018-10-10 19:09] RyanCavanaugh commented on #27335
@weswigham assigning to you for tracking purposes

[2018-10-10 19:13] be5invis commented on #13219
Aside from errors, is it also possible to mark other kinds of side-effects like

- Divergence (infinite loop / not returning)
- IO
- Non-determinism (`Math.random`)

It reminds me [Koka](https://github.com/koka-lang/koka) from MSR which can tag effects on returning types.

The proposal:
[code]

[2018-10-10 19:17] RyanCavanaugh commented on #27644
@littledan this is a bit of a compat nightmare for us and it'd be great to understand why initializers are optional in the current proposal. Why would someone write an initializer-free non-private declaration in the first place? Staking out an own property with the implicit value `undefined` seems like an odd bit of sugar to have when it creates a footgun for derived classes as a trade-off.

[2018-10-10 19:33] RyanCavanaugh commented on #27555
We have no way to distinguish this correct code from the incorrect version that calls `new C(false);`

[2018-10-10 19:40] RyanCavanaugh commented on #27614
@jrkong you just have to change the ordering of the codefix files in the various `tsconfig.json` files under `src`

[2018-10-10 19:47] andy-ms commented on #27555
That would be an infinite recursion, which we normally allow and doesn't seem related to `--strictPropertyInitialization`.

[2018-10-10 19:50] pankleks commented on #447
Maybe group exports in one and privates in separate as such:

[code]
var A;
(function (A) {
    class C1 {
    }
    A.C1 = C1;
    class C2 {
    }
    A.C2 = C2;
})(A || (A = {}));
var A;
(function (A) {
    let x = 10;
})(A || (A = {}));
var A;
(function (A) {
    let x = 10;
})(A || (A = {}));
[code]

[2018-10-10 19:58] rbuckton opened #27689 "Cannot override method in subclass when superclass instance type is a mapped type"
**TypeScript Version:**  3.1.1

**Search Terms:**
defines instance member property

**Code**

[code]

**Expected behavior:**
Compiles successfully

**Actual behavior:**

Error at (1): `[ts] Class 'Pick<A, "bar"> & Pick<A, "foo">' defines instance member property 'foo',
but extended class 'B' defines it as instance member function.`

**Playground Link:** http://www.typescriptlang.org/play/index.htm

[2018-10-10 20:01] rsolomon commented on #20153
It's useful to spread `undefined` or `null` into an object when dealing with conditionally adding a value:

[code]

This is particularly valuable for any codebase that used to use `Object.assign({}`, because the following line was and is valid TS:

[code]

Using `--fix` for the [`prefer-object-spread`](https://eslint.org/docs/rules/prefer-object-spread) would transform previously valid TS into inv

[2018-10-10 20:04] FremyCompany opened #27690 "Type inference incorrect for "union of functions" types"
**TypeScript Version:**  3.1.2
**Search Terms:** function inference

**Code**

[code]

**Expected behavior:**

The `title` variable should be of type `string`

**Actual behavior:**

The `title` variable ends up of type `void`.

**Playground Link:** https://www.typescriptlang.org/play/index.html#src=interface%20Prop%3CT%3E%20%7B%0D%0A%09()%3A%20T%0D%0A%09(v%3AT)%3A%20void%0D%0A%7D%0D%0Afunction%20c

[2018-10-10 20:37] be5invis commented on #5228
But is this issue all about preventing definitions of one interface being **exported**?
We can add a `export protected` statement that exports one type but disallow accessing its internals with user code (thought the internals are still used by type checking).

[code]

A `protected export`ed `interface` (or `class`' type half) would only outside to see its name and generic parameters (a.k.a. "kind

[2018-10-10 20:42] dgoldstein0 commented on #27511
with esModuleInterop, the `__importStar` helper will be inserted for any `import *`; and it's effect on `export = new Foo()` and similar patterns is that it'll create a new object and copy own properties onto a new object.  Probably the intent of an `export = new Foo()` module is that the exported object is a singleton, but with the __importStar helper moving the objects properties onto a new obje

[2018-10-10 20:45] #27317 closed

[2018-10-10 20:48] mattmccutchen commented on #27676
I'd like to help, but I just think it won't be worthwhile for me to try to learn how the build works now, let alone how you envision it to work.  I'll leave this one to you and continue working on the issues I know something about.

[2018-10-10 20:49] mpawelski commented on #27568
This seems like a nice feature to have that can model a lot of old "mixin" style code that was/is used in JS code. Even for more modern code it would be useful (like mentioned _assert_ functions).

I personally had situation when I was migrating old code to TS and this feature would allow me to just annotate function that modified type of passed object. I had to change the function and caller code

[2018-10-10 20:54] RyanCavanaugh commented on #24916
@Hotell just to clarify, is this fixed, or not?

[2018-10-10 21:15] SimonGustavsson commented on #20183
Is this still an issue? I tried this:
[code]
 with the caret placed after `**` auto complete shows a completion of "JSDoc comment", hitting Return produces this, with the caret placed after `@param b`
[code]

[2018-10-10 21:16] Hotell commented on #24916
looks fixed with 3.1.1

![image](https://user-images.githubusercontent.com/1223799/46766525-26c23a00-ccda-11e8-8884-a1ac900eb55b.png)

Cheers !

[2018-10-10 21:32] OliverJAsh commented on #25662
Please can we re-open this issue? /cc @weswigham @mhegazy

(Sorry to pester here but I think this needs attention, as it's a very basic use case.)

[2018-10-10 21:48] RyanCavanaugh commented on #27568
We think it's very valuable, but have no ideas on how to implement it without completely blowing up performance

[2018-10-10 21:50] ahejlsberg commented on #24016
With the compiler currently in `master` we don't hang on the original example (probably because of #26558), but it still takes 7.5s to type check and allocates over 700,000 types.

The core issue here is the pattern of using indexed access types to write self-referencing conditional types. It is a Turing Complete device (#14833) and along with that comes the halting problem. It is effectively impo

[2018-10-10 21:55] #27056 closed

[2018-10-10 21:59] RyanCavanaugh commented on #26600
Requires strictNullChecks on; not a regression

[2018-10-10 22:02] RyanCavanaugh commented on #26600
We'd need #22348 or something similar to correctly typecheck this -- it requires the checker understanding that all of the truthy values of the mapped type's `x` property are `boolean`, which is not immediately apparent.

[2018-10-10 22:02] #26600 closed

[2018-10-10 22:06] dooxe opened #27692 "Adding a keyword 'self' and class property prefix (work together)"
Hello,

I have been practicing typescript for some months, and I have a couple of suggestions that I believe would be very great. Let me explain what and why.

## Search Terms

* self
* this
* member
* property
* attribute

## Suggestions

1. A keyword `self`
First suggestion is to create a new keyword, let's say `self`. While the value of `this` is not the same depending on the context from which

[2018-10-10 22:13] RyanCavanaugh commented on #27692
`self` and `_value` are legal identifiers with existing meaning in JavaScript; this proposal would absolutely break existing JS code. It's also a new runtime feature because you have to make `self` appear in places where it currently doesn't (the emit of which turns out to be impossible).

[2018-10-10 22:13] #27692 closed

[2018-10-10 22:14] #27027 closed

[2018-10-10 22:15] #27690 closed

[2018-10-10 22:17] #24016 closed

[2018-10-10 22:20] RyanCavanaugh commented on #27644
Why is that kind of construct even desirable without static enforcement? It's just a comment written in a different syntax.

[2018-10-10 22:34] bakkot commented on #27644
No, it's meaningfully different: because it uses [[DefineOwnProperty]] semantics, it guarantees the property is an own data property, rather than risking triggering setters on a superclass.

You can of course put a `Object.defineProperty` in the constuctor, but that's... not great.

---

I recall we discussed the possibility of requiring initializers at some point, though I can't dig that up just

[2018-10-10 22:38] jnwu commented on #19573
I am working with legacy code with numerous global scoped variables, and writing @ts-ignore on every line is become tedious, any updates on this?

[2018-10-10 22:41] rsolomon commented on #20153
Interestingly enough, adding an empty object spread passes validation:

[code]

As does this:

[code]

[2018-10-10 22:42] #27685 closed

[2018-10-10 22:42] #26138 closed

[2018-10-10 22:45] andy-ms opened #27694 ""An argument for 'param' was not provided." should use types to guess most likely missing parameter"
**TypeScript Version:**  3.2.0-dev.20181009

**Code**

[code]

**Expected behavior:**

`An argument for 'n' was not provided.`

**Actual behavior:**

[code]

[2018-10-10 22:50] DanielRosenwasser commented on #27640
@andy-ms can you look into this and make sure the change makes its way into `release-3.1` and `master`?

[2018-10-10 22:51] RyanCavanaugh commented on #27644
I'm sure you guys have discussed this to death already, but having a body-level declaration be subtly different from a constructor assignment (i.e. it only matters when there's a superclass setter) is only going to increase developer confusion.

Now when I look at code with an uninitialized declaration, I have to nervously wonder whether it's there for documentation purposes, or to overwrite a pro

[2018-10-10 22:55] DanielRosenwasser commented on #27636
@sandersn please make sure the fix makes its way into both `master` and `release-3.1`

[2018-10-10 23:17] mattmccutchen commented on #27687
@RyanCavanaugh I'll be happy to make a PR if you tell me the intended behavior.  A this type guard function can be overridden with any function returning a boolean, or it can only be overridden with a this type guard function for the same type (as is the rule for parameter type guards)?  The previous discussion I found is [here](https://github.com/Microsoft/TypeScript/pull/5906#issuecomment-163082

[2018-10-10 23:32] andy-ms commented on #27640
Looks like this may have been fixed by #27674. Can reproduce in `typescript@next` but not with the latest master branch. @zfeher Could you try again with tomorrow's `typescript@next` release?

[2018-10-10 23:35] DanielRosenwasser commented on #27682
CC @PDostalek

[2018-10-10 23:46] mattmccutchen commented on #27118
PR is #27697.  When I ran the test suite, I found the the previous issue in which the bivariance was introduced: #22860.  This is basically the example with `Exclude` that @jack-williams was talking about.  A workaround would be to effectively hide the problematic `partition2` signature from the variance measurement by overriding the `this` type:
[code]

[2018-10-11 00:06] jrkong commented on #27614
@RyanCavanaugh thanks a lot! That really helps, I'll do some digging.

[2018-10-11 00:12] andy-ms commented on #27640
Looks like the original issue is a duplicate of #27338. I'll port the fix to `release-3.1`.

[2018-10-11 00:16] littledan commented on #27644
We did actually discuss it to death in TC39... the classic Set vs Define debate (see [summary](https://github.com/tc39/proposal-class-public-fields/issues/42#issue-168151015) by @bakkot; even though we've already discussed it a bunch, I'm really happy to hear your thoughts on the issue). Compatibility and constructor correspondence were raised, but the committee was ultimately convinced to take th

[2018-10-11 00:41] shadow-light commented on #22039
Thanks for pointing this out! Just lost a lot of time because I thought -rootDirs was an alternative to specifying multiple --rootDir options.

Renaming would be helpful!

[2018-10-11 01:19] jeffmo commented on #27644
It's true that when I looked at this before it wouldn't have been difficult to migrate things at Facebook (IIRC very few places would have had issues), but it's also worth noting that usage of setters is pretty rare in JS written at FB (as a matter of both tooling support and style).

Where they *are* used I was able to flag them for manual inspection -- but it may also be possible to do something

[2018-10-11 01:49] mjbvz commented on #20183
Yes. It is correct when using a template to generate the doc comment. This issue tracks the sort order when you trigger suggestions after `@param`.

[2018-10-11 01:55] takefumi-yoshii commented on #27677
Thanks for reply. Please let me ask you a little more.
I think below code situation is inconsistent. I am a little confused..
[code]

[2018-10-11 02:04] andy-ms opened #27699 "Rename should ignore SemanticMeaning"
**TypeScript Version:**  3.2.0-dev.20181010

**Code**

[code]

**Expected behavior:**

Renaming `f` in `function f()` should rename the namespace too.

**Actual behavior:**

Only renames the function.

[2018-10-11 02:20] Kovensky commented on #27644
This has been a problem with babel's typescript support as well, because we need to know how should we treat field type annotations without an initialization.

Without `--strictPropertyInitialization`, how should this code be stripped of annotations:

[code]

If we only strip the `: Bar` from the second class, we're actually overriding its value with `undefined` in babel (as long as it's not being

[2018-10-11 02:57] jttoday opened #27700 "Error: Debug Failure. False expression: Changes overlap"
**TypeScript Version:**  3.1.2

**Search Terms:**
`Error: Debug Failure. False expression: Changes overlap`
**Code**

[code]

**Expected behavior:**
Get the correct code fixes
**Actual behavior:**
throw Error
[code]

**Related Issues:**
https://github.com/Microsoft/TypeScript/issues/27305

[2018-10-11 04:03] taoqf opened #27702 "tsc -w won't recompile when add new files."
**TypeScript Version:**  3.2.0-dev.20181010

**Search Terms:**

**Expected behavior:** recompile after new files added.

**Actual behavior:** could not recompile except re-save tsconfig.json

**Playground Link:**

**Related Issues:** https://github.com/Microsoft/TypeScript/issues/26524 https://github.com/Microsoft/TypeScript/issues/26168

[2018-10-11 04:29] ely-alamillo commented on #21251
@DanielRosenwasser would you mind pointing me in the right direction as to why the build is failing.

[2018-10-11 04:45] wycats commented on #27644
I don't think there's much we can do about the strict breakage, but I'm concerned about the fact that this makes it impossible to re-declare existing fields on subclasses.

One suggestion: use `declare` to mark a field as "type only"

[code]

This would have the same behavior as today's redeclaration, while the field syntax would have the standards-compliant behavior.

[2018-10-11 04:58] RyanCavanaugh commented on #27644
This was raised in the office and I *strongly* opposed it - TS has never used a type annotation to change runtime behavior and I would not want to start now.

I like this quite a bit

Every time I hear this it sounds like an extremely solid argument against the behavior as proposed. If your base class has a setter, it almost certainly wrote it as a setter **for a reason**, and the base class is go

[2018-10-11 06:14] yortus commented on #24694
Our codebase runs into this compiler limitation. While investigating the root cause, I came up with a bunch of cases that I expected all to compile without errors, but half fail because of the lack of contextual typing as described in the OP.

I'll paste my repro here in case it's useful to add to the compiler tests (eg in @mattmccutchen's PR).

[code]

[Playground link](http://www.typescriptlang.

[2018-10-11 06:27] zfeher commented on #27640
@andy-ms I checked it again with a freshly installed typescript@next which solved the initial problem, no more exception on the console and the suggestions were listed. The accepted "weird" import format problem remained though. Then I checked the typescript version which was 3.2.0-dev.20181010. Waited a little then tried another typescript@next install which installed the 3.2.0-dev.20181011 versi

[2018-10-11 07:35] suhailsinghbains commented on #23919
Hi, I am new to open-source. I have seen the previous PR and understood the problem with it.
Can I please be assigned this bug in order to solve it.
Thanks

[2018-10-11 07:56] jrkong commented on #27614
So after spending a bit of time with the code I've discovered some odd inconsistencies with the behavior for this particular bug:

When I attempt to reproduce the bug with the given line in the issue this is what I see:
![image](https://user-images.githubusercontent.com/8349191/46785970-6f411e00-cd01-11e8-97ce-d4d26ffbdd17.png)

However if I added the lines:
[code]
the bug is reproduced.
![image](

[2018-10-11 08:05] bajtos commented on #25636
@sheetalkamat Thank you for the comment, I see your point.

Let me explain my use case. In LoopBack, we have a concept of a data source - a class providing access to a database, web service, etc. An application (a LoopBack/TypeScript project) can have multiple datasources. Each datasource is implemented in two files: a JSON file with the configuration (to make it easy to edit programmatically) and

[2018-10-11 08:51] Alexand3r commented on #27636
A small update on the issue
I've been also tracking the other issue which is similar to mine #27640
I've upgraded and set **typescript@next 3.2.0-dev.20181011**, however that did not work.
I made it work by completely removing **typescript** package AND **typings** package and then re-adding **typescript@next**, only after that started to work again with no issues.
Probably the reason that it stil

[2018-10-11 09:07] cevek opened #27703 "Move global const name into window interface"
The problem happens because the `name` is very popular variable/property name and there is global `name` with type like `any`

[code]

If I remove  this line `var {name} = getMyType();` within some refactoring, typescript no throws, because we have global `name` variable with type `never` which can be assigned to anything without any error

And absolutely no way to fix it locally
[code]

In my pra

[2018-10-11 09:28] hronro opened #27704 "type inference lost literal type"
**TypeScript Version:**  3.1.2

Let assume we have a enum called `Type`. It seems type inference will treat `const a = Type.A` as `const a: Type` rather than `const a: Type.A`. And this may causes some problems.

**Code**

[code]

**Expected behavior:**
won't get any compile error in line `arr.push(a2);`.

**Actual behavior:**
get a type error in line `arr.push(a2);`.

**Playground Link:**
https:/

[2018-10-11 09:29] kitsonk commented on #27703
Duplicate of #18433

[2018-10-11 10:07] ackava opened #27705 "Stack overflow in long concatenating string"
**TypeScript Version:**  3.2.0-dev.20181011

**Search Terms:**
stack overflow, long string

**Code**

Following link has complete failing example,
https://gist.github.com/ackava/673d9fc93cb4b48c4a1b3b4aff807c2f#file-akashdataurl-stack-overflow-ts

This is data url generated from an image, which contains base64 representation in concatenating strings.

[code]

**Expected behavior:**
It should compi

[2018-10-11 10:17] vhakulinen commented on #27455
Is there no chance for you to support this?

[2018-10-11 11:39] sgoll opened #27706 "Type inference/narrowing lost after assignment"
**TypeScript Version:**  3.1

**Search Terms:** type inference, type guard, narrowing, lost, assignment

**Code**

[code]

**Expected behavior:** This should compile without an error.

**Actual behavior:** Line 7 fails with: `Object is of type 'unknown'.`

**Playground Link:** https://www.typescriptlang.org/play/index.html#src=let%20a%3A%20unknown%20%3D%20'x'%3B%0D%0A%0D%0Aif%20(typeof%20a%20%3D%3

[2018-10-11 11:59] asmundg opened #27707 "Extending mapped type doesn't allow extra properties when extended type has string literal values"
**TypeScript Version:**  3.2.0-dev.20181011

**Search Terms:** extends mapped literal widening

**Code**

[code]

**Expected behavior:**

Code compiles for all cases.

**Actual behavior:**

Code fails when extending a mapped type with string literal properties:
[code]

Removing either the mapping, the string literal or the widenable input makes the code pass type checking.

Also notable is that th

[2018-10-11 12:07] IlyaSemenov commented on #14538
`noEmit` is a better solution if you *do* want to have generated `*.js` files to be analyzed.

For example, Ream.js generates `.ream/**.js` which I then import with `import XXX from '#out/yyy'` in my code.

Basically, the only reason to have `"noEmit": false` is when you use raw `tsc`. For all other environments (`ts-node`/`ts-node-dev`, webpack, rollup) it's safer to enable it.

[2018-10-11 12:15] Roaders opened #27708 "Inferred type does not work for generic reduce function with when not used as a lambda"
**TypeScript Version:**  3.1

**Search Terms:** type inferrence

**Code**

[code]
[Playground](http://www.typescriptlang.org/play/#src=%0D%0A%0D%0Afunction%20reduceToPromise%3CT%20extends%20string%3E(promise%3A%20Promise%3CT%3E%2C%20items%3A%20string%5B%5D)%7B%0D%0A%20%20%20%20return%20promise%0D%0A%7D%0D%0A%0D%0Aconst%20initialPromise%3A%20Promise%3Cstring%3E%20%3D%20%7B%7D%20as%20any%3B%0D%0A%0D

[2018-10-11 13:25] proProbe opened #27709 "Nested lookuptypes do not inference correctly"
While trying to scope certain keys that would point to different types, I stumbled upon a problem when I needed to nest lookup types to lookup what `type` the `key` would correspond to. During decleration, this did not seem to be possible to get the compiler to understand. Applying the type does actually give out the correct type inferencing though. A simple example can be observed below.

**TypeS

[2018-10-11 13:44] DeLautour opened #27711 "Promise<Promise<T>> cannot exist in JS"
**TypeScript Version:**  Version 3.2.0-dev.20181011

**Search Terms:**
is:open label:Bug promise
label:Bug wrapped promise
label:Bug wrapped nested

**Code**

[code]

**Expected behavior:**
Compilation should fail, because `p1` is actually a `Promise<number>` due to promise unwrapping.
**Actual behavior:**
Compilation should fail, requiring code which looks like:

[code]

**Playground Link:**
[Run

[2018-10-11 14:39] rdsedmundo commented on #24116
I really I’d like to see something similar from what was suggested as well. +1.

[2018-10-11 15:07] gssjr commented on #17388
This is the part that confuses me: `export const A: AConstructor;` which makes me think that it is a constructor?

[2018-10-11 15:20] sandersn commented on #27636
@Alexand3r so it sounds like the issue is fixed with `typescript@next`?

[2018-10-11 15:49] sheetalkamat commented on #27702
Please provide repro so we can analyze this.

[2018-10-11 16:21] sandersn commented on #27636
@andy-ms and I confirmed that it is fixed on 3.1 and master and broken on, at least, 3.0.3.

[2018-10-11 16:21] #27636 closed

[2018-10-11 16:33] andy-ms commented on #27709
Hm...
[code]

[2018-10-11 16:38] minestarks opened #27713 "Stack overflow within checkExpression"
**TypeScript Version:**  3.2.0-dev.20181011
Confirmed repros back to at least 2.4

[code]

Compiler crashes with the callstack:

[code]

[2018-10-11 16:53] andy-ms commented on #27708
Simplified example:
[code]

[2018-10-11 16:54] zfeher commented on #27640
Hmmm as it seems the problem still occurs. Earlier I checked my small example project only which was extracted from our full project. There everything worked and works still just fine. But now in our full project I noticed that accepting the import suggestion still doesn't work :(

The import suggestions are listed in code completion but when I try to accept them they fail with the error. Also not

[2018-10-11 17:24] flapenguin opened #27716 "Intersecting generic type with itself leaks protected methods"
**TypeScript Version:**  3.2.0-dev.20181011

**Search Terms:** generic protected intersection leak

**Code**

[code]

**Expected behavior**: accessing protected methods generates error

**Actual behavior**: no error

**Playground Link:**  [link](http://www.typescriptlang.org/play/index.html#src=class%20GenericSecret<T%20extends%20%7B%7D>%20%7B%0D%0A%20%20%20%20private%20privateMethod()%20%7B%20%7D

[2018-10-11 18:08] #27009 closed

[2018-10-11 18:14] DanielRosenwasser commented on #27640
@zfeher can you open up a separate issue for that so it's easier to track your issue?

[2018-10-11 18:28] sheetalkamat commented on #23255
Closing this since there is no more info since May. If you have more info and able to repro this with latest typescript and vscode drop please provide that.

[2018-10-11 18:28] #23255 closed

[2018-10-11 18:29] sheetalkamat commented on #24357
I don't think we want to do this since we want developer to explicitly choose json file module resolution to avoid accidental includes and having no way to not include it.

[2018-10-11 18:30] sheetalkamat commented on #24512
Closing this since there is no information closing this. @IanYates if you have repro, please provide it and we can reopen it to investigate. Thanks.

[2018-10-11 18:32] sheetalkamat commented on #25435
Closing this since duplicate is closed as well. Please try with latest typescript and vscode drops. Thanks.

[2018-10-11 18:32] #25435 closed

[2018-10-11 18:42] flapenguin commented on #27716
I've digged a little. Symbol generated for `protectedMethod` in `createUnionOrIntersectionProperty` does not have `ModifierFlags.NonPublicAccessibilityModifier`. So `checkPropertyAccessExpressionOrQualifiedName` is ok with it.

[2018-10-11 18:44] andy-ms opened #27742 "Should not get completions when typing `.` in an object literal"
**TypeScript Version:**  3.2.0-dev.20181011

**Code**

[code]

**Expected behavior:**

Typing `.` should result in no completions.

**Actual behavior:**

Get a completion for `a`.

[2018-10-11 18:49] andy-ms commented on #27704
When typing an object literal we don't know what type it's supposed to be without a hint. In `a1` you provide that hint, but in `a2` we have no idea and generate a new type. Since this contains literal types, they are widened by default., but `T` requires non-widened types so `const a3: T = a2;` won't work. To get this to work you need a type annotation on `a2`.

[2018-10-11 19:01] #27543 closed

[2018-10-11 19:02] flapenguin commented on #27716
Found workaround:

[code]

[2018-10-11 19:09] ccorcos opened #27762 "Import module type definition without importing it for async imports."
## Suggestion

I want to asynchronously import a module and assign it to a variable without losing its type definition.

[code]

However, its not possible for me to get the type definition of the module without importing it.

`@types/newrelic/index.ts` looks like this.

[code]

So the question is how can I get that type definition without importing the newrelic module. This doesn't work, and I've

[2018-10-11 19:14] zfeher commented on #27640
@DanielRosenwasser Yes I can create another issue but I don't understand how and why would it be any different than this one (which is also created by me)? The same problem still exists though some part of it is fixed,

Anyway I will try to find out which npm package (if the `node_modules` folder are not present it works flawlessly) cause the same issue (maybe there are more).

[2018-10-11 19:17] andy-ms commented on #27762
You can use `private newrelic!: typeof import("newrelic");`.

[2018-10-11 19:42] m93a commented on #9225
If I get it correctly, this proposal would mean extending TypeScript to support `json` as an input format and then making the Compiler API provide type information about it, as well as warnings and errors. Then someone could change VS Code and other IDEs to start using TypeScript as a linter/highlighter for JSON, instead of whatever library they used previously.

This would be a really cool featur

[2018-10-11 19:46] sheetalkamat commented on #25636
The issue isn't about including json in compiling but its about not specifying the json file in the list of inputs. Composite projects need explicitly include all files in the compilation as referencing projects need to be able to identify its all output.

Adding @DanielRosenwasser for opinion. The requirement you are suggesting is quite a work and need to be handled by multiple hosts as well (sin

[2018-10-11 20:49] Nathan-Fenner opened #27808 "Feature Request: "extends oneof" generic constraint; allows for narrowing type parameters"
## Search Terms

* generic bounds
* narrow generics
* extends oneof

## Suggestion

Add a new kind of generic type bound, similar to `T extends C` but of the form `T extends oneof(A, B, C)`.

(Please bikeshed the semantics, not the syntax. I know this version is not great to write, but it *is* backwards compatible.)

Similar to `T extends C`, when the type parameter is determined (either explicitl

[2018-10-11 20:53] Alexand3r commented on #27636
@sandersn yes it is fixed, but only if all instances of typescript have been removed (including npm modules dependant on typescript)

[2018-10-11 20:55] mattmccutchen commented on #27808
The use case sounds like a duplicate of #24085, though it seems you've thought through more of the consequences.  Let's close this in favor of #24085.

[2018-10-11 20:58] mattmccutchen commented on #24085
After reading #27808, I realized that the original example is unsound.  A caller can just do:
[code]
We'd need to express somehow that `TType` must be (in this scenario) a singleton type.  Compare to #25879.

[2018-10-11 21:13] mattmccutchen opened #27819 "Generic mapped type constrained by a type parameter has different members / index signatures when constraint of that type parameter is a union"
**TypeScript Version:**  master (b2bae85cceb310354f6ba1ac4bcc9d75fe9a6402)

**Search Terms:** mapped type parameter member index signature constraint constrained union

**Code** (with noImplicitAny)
[code]

**Expected behavior:** Consistent behavior between `foo1` and `foo2` and between `foo3` and `foo4`.

**Actual behavior:** As marked.

**Playground Link:** [link](https://www.typescriptlang.org/

[2018-10-11 21:14] kitsonk commented on #9225
@m93a what you are asking for was delivered in TypeScript 2.9 and closed issue #7071.  This is request is different.

[2018-10-11 21:15] ccorcos commented on #27762
That's not going to import newrelic?

[2018-10-11 21:16] #27762 closed

[2018-10-11 21:33] jack-williams commented on #24085
I remember thinking about this when a thread regarding multiple use type parameters came up. Perhaps something like: _uniform types_. Types inhabited only by values that behave uniformly under operations such as `typeof`.

We write `T*`, where `*` is a predicate on types that holds when:
- for all `x`, `y` in `T`. `typeof x === typeof y`.

So `string*` is valid, so is `number*`, but not `string |

[2018-10-11 21:42] Sequoia commented on #9225
For historical purposes: This was never a typescript issue and should not have been migrated here. Apologies for not noticing this sooner–it lead to the confusion around what I was asking for.

This was a **VSCode** feature request, the ability to add **type hinting** in JSON files by linking them via $schema to typescript definitions.

1. Write a `tsd`
2. If you have a javascript object **in a ja

[2018-10-11 21:44] sheetalkamat commented on #25636
Ok I spoke too soon. I think we are able to achieve what you want and I will put up PR for this.

[2018-10-11 22:01] sandersn commented on #20153
@rsolomon I can't repro your error. I get a different one. For `{ ...(tParams.type && { type: tParams.type }) }`, I get a type `{} | { type: string }`, not an error.

But then `{} | { type: string }` is not assignable to `RequiredMap`, which causes an error. If you change the type of `ret: {} | RequiredMap`, then that error also goes away.

`{} | { type: string }` is the correct type, as far as I

[2018-10-11 22:04] hasparus commented on #8529
Is this issue still open?
I'd love to give it a shot, but I have a question.

Current default is "preserve" -- the build succeeds, preserves JSX and logs an error:
[code]

Do we want to change the default value to "react" but still log an error or change the value and get rid of the error?

TypeScript versions I've tested it with are **3.1.2** and my clone of today's master.

[2018-10-11 22:10] justinfagnani opened #27848 "Type parameters of function-valued arguments infer as any when using type aliases."
**TypeScript Version:**  3.1.1 and playground

**Search Terms:** type argument infer type alias

**Code**

[code]

**Expected behavior:**

Both f1 and f2's type should infer as `<T>(x: T) => T`.

**Actual behavior:**

f1's type is correctly inferred as `<T>(x: T) => T`.
f2's type is incorrectly inferred as `(x: any) => any`.

**Playground Link:** http://www.typescriptlang.org/play/#src=type%20F%20

[2018-10-11 22:11] DanielRosenwasser commented on #27429
3.1 fix is in 7c6a14e65df2240af135f5a9fdd235ebb28b4d50

[2018-10-11 22:11] sheetalkamat commented on #26587
The issue here is that  string index signature in `Idx` doesnot participate in contextual type of property x and thus `{ x: "lit" }` gets widened to `{ x: string }`.

[2018-10-11 22:11] DanielRosenwasser commented on #27301
3.1 fix is in 045c73a5a28da34aab284e53125ede5dd3a532c0

[2018-10-11 22:12] DanielRosenwasser commented on #27373
3.1 fix is in cd1803fdf8fe7061fbe97a154014d0238ccf5551

[2018-10-11 22:30] rsolomon commented on #20153
Apologies, I meant that line makes tsc fail to pass, not that it was unable to extract a type from that line.

This is probably a misunderstanding of TS on my part, but if something of type `{} | { type: string }` cannot be assigned to `{ [key: string]: string }`, how is that materially different than:

[code]

[2018-10-11 22:45] #27596 closed

[2018-10-11 22:57] andy-ms commented on #26745
Duplicate of #26937

[2018-10-11 22:57] #26745 closed

[2018-10-11 23:09] birtles commented on #26073
Thanks to @DanielRosenwasser https://github.com/Microsoft/TSJS-lib-generator/pull/567 has now been merged! I suppose that means this will be fixed in the next release of TS. Thanks Daniel!

[2018-10-11 23:14] andy-ms commented on #25746
Hi @dannycochran, this feature doesn't affect compilation. But if you open `index.ts` in an editor and click on `'foo'` (which should be highlighted with the error), there should be a codefix that offers to generate the type.

[2018-10-11 23:16] andy-ms commented on #27672
Ran the `npmTags` script on types-publisher and this should be fixed.
Now that we have `typesVersions` we don't need to change packages in backwards-incompatible ways any more, so maybe we should consider not relying on tags in future versions.

[2018-10-11 23:23] ghost opened #27852 "Suggestion diagnostics show in untyped JS code when regular diagnostics don't"
**TypeScript Version:** 3.2.0-dev.20181011

**Code**

[code]

**Expected behavior:**

If we're not showing regular diagnostics, we should probably not show any suggestions either.

**Actual behavior:**

`"".toUperKase()` is fine. `require` is a real problem that we need to let the user know about right away!

![uperkase](https://user-images.githubusercontent.com/19274678/46839228-b6ff8e00-cd71-11e

[2018-10-11 23:28] DanielRosenwasser commented on #27711
@rbuckton do we have an issue tracking this?

All I have is #17077 and the design notes at #17621, #18155, #19169, #20724.

[2018-10-11 23:30] DanielRosenwasser commented on #27716
@flapenguin would you be willing to send a PR since you dug through the source and have a minimal repro? Great way to help the compiler team and potentially get a Hacktoberfest t-shirt 😄

[2018-10-11 23:33] DanielRosenwasser commented on #27808
Sounds like you want an "exclusive-or" type operator - similar to #14094.

[2018-10-11 23:36] andy-ms commented on #27302
@JacksonKearl typeAcquisition is a JS feature; in TS code you need to `npm install @types/express` like the message says.

[2018-10-11 23:40] andy-ms commented on #27808
I don't think that's it since `string` and `number` are already exclusive so a `string xor number` type wouldn't be distinguishable from `string | number`. It's more like they want two overloads:
[code]
But not `string | number` because `smallest([1, "2"])` is likely to be an error.

[2018-10-11 23:51] asvetliakov opened #27853 "Slow error reporting when dependent declaration files changed"
**TypeScript Version:**  3.2.0-dev.20181010

**Search Terms:**
Slow error reporting
Symbolic links

**Repro**
1. Clone repository https://github.com/asvetliakov/typescript-slow-update-bug
2. run ```yarn``` in project root (need to setup symbolic links in monorepo)
3. Open ```packages/c/src/ctest.ts``` and ```packages/b/src/btest.ts``` in one editor
4. Open in another (external) editor ```packages/

[2018-10-11 23:56] andy-ms commented on #27023
@sandersn Above seems to be working now, but:
[code]

It looks like the [class fields proposal](https://github.com/tc39/proposal-class-fields) allows fields without initializers. I think we should be able to infer a type in this case. It looks like currently in `getTypeOfVariableOrParameterOrPropertyWorker` we have separate paths for binary expressions and property declarations -- would be nice to

[2018-10-12 00:08] andy-ms commented on #27614
I looked at the tsserver logs and it looks like the editor is making two separate calls:
[code]

So the ordering of our results is irrelevant because we're only returning one result at a time.
Our API is designed to take a range and a *list* of error codes, so perhaps it should be the editor's responsibility to make one combined call when ranges overlap, and then we could order the results in tsse

[2018-10-12 00:35] Igorbek opened #27854 "API: transpileModule does not erase generic type arguments in tagged template expressions after transformation"
**TypeScript Version:** 2.9 - 3.1, (next) 3.2.0-dev.20181011

**Search Terms:**

API, transpileModule, transformers, tagged template expressions, generics

**Code**

[code]

**Expected behavior:**

[code]

**Actual behavior:**

[code]

**Related issues**

https://github.com/Igorbek/typescript-plugin-styled-components/issues/13

[2018-10-12 00:50] #26587 closed

[2018-10-12 02:03] yseymour opened #27855 "When in function argument, array of union produces different type error to when in instantiation of same type"
Mild title gore, sorry.

**TypeScript Version:**  3.2.0-dev.201xxxxx

**Search Terms:** array union type error

**Code**

[code]

**Expected behavior:**
Same error on line 4 as on line 2

**Actual behavior:**
All elements of the array are highlighted as errors instead, making it difficult to spot which one is wrong.

**Playground Link:** http://www.typescriptlang.org/play/#src=type%20Foo%20%3D%20'

[2018-10-12 02:30] jrkong commented on #26540
@noahbkim are you still looking at this issue? If not I would like to take a stab at it.

[2018-10-12 03:07] JakeTunaley opened #27856 "Allow spread operator for new expressions when targeting ES3 using a helper function"
## Search Terms
rest spread class constructor new expression target es3 runtime tslib

## Suggestion

Currently when targeting ES3 it is not possible to use the spread operator to pass arguments to a new expression.

[code]

A tslib function could be added to do this.

[code]

This would mean the original example, instead of generating an error, would get compiled to the below plus the above funct

[2018-10-12 04:28] Nathan-Fenner commented on #27808
It is close to a combination of #24085 and #25879 but in a relatively simple way that ensures soundness is preserved.

It only affects generic instantiation and narrowing inside generic functions. No new types or ways of types are being created; an xor operator doesn't do anything to achieve this.

[2018-10-12 05:07] ackava commented on #27705
@DanielRosenwasser I have attached log, it is still same error with typescript@next. Have you tried with exact same file? VS Code does not display any error, it turns out typescript language service does not have any problem, but typescript compiler has an issue while emitting source code.

[2018-10-12 06:02] asmundg commented on #27707
Possibly related: #27421

[2018-10-12 06:35] hueyhe commented on #9619
@kitsonk Got it. Didn't notice, my bad...

[2018-10-12 06:36] vinhnph-ibl commented on #27317
I have downgraded from 1.28.1 to 1.27.2 but VSCode keep updating, regard I don't event select to Install Update. It's very inconvenient 😢

[2018-10-12 06:50] jsdevel commented on #1360
koa-router also uses fixed params _after_ varargs: https://www.npmjs.com/package/koa-router#named-routes

[2018-10-12 08:28] zfeher opened #27857 "Code completion crashes when localStorage, postcss-object-fit-images, or gulp-watch packages are imported"
**TypeScript Version:**  3.2.0-dev.20181011
**TypeScript Version:**  3.1.3

**Search Terms:** code completion, auto import, intellisense

**Code**
You can check out this repo to reproduce the issue: [repo link](https://github.com/zfeher/ts-import-suggestion-bug)
If any of the following dependencies are imported in the project the code completion feature crashes: `localStorage`, `postcss-object-fit

[2018-10-12 08:31] zfeher commented on #27640
@DanielRosenwasser as per your request I created another issue (#27857) with an updated example project. I found another 3 dependencies which cause the crashing of the code completion feature.

[2018-10-12 09:26] falsandtru opened #27858 "File path suggestion doesn't work without inputting delimiters (regression)"
Can you add a regression test?

vscode 1.28.1

cc @andy-ms @mjbvz

**TypeScript Version:**  3.2.0-dev.20181011

**Search Terms:**

**Code**

See #26247

**Expected behavior:**

**Actual behavior:**

**Playground Link:**

**Related Issues:**

[2018-10-12 09:57] tao-cumplido commented on #18499
@renatomariscal @jandsu
You can create such a type easily yourself with `keyof`, it only picks the public members.
[code]

[2018-10-12 10:15] D0nGiovanni commented on #23299
I've got a question about reversing your example, @Kingwl. Of course, reversing an anonymous function makes sense. (More likely to go from right to left here)

[code]
to
[code]

or even

[code]
to
[code]
But what about named function to lambda? Is that actually a use-case? Afaik, Webstorm does not support this. Maybe for a good reason?

[code]
to
[code]

Last question (for now): Do we also support

[2018-10-12 10:30] grofit commented on #10866
I have just been struck with this issue when trying to get vue-cli to output d.ts files where there are lots of `import {foo} from "@/some/folder/foo"` and the d.ts files outputted dont resolve the alias.

From general searching and looking over this thread and others it looks like the knee jerk reaction is "this isnt a problem for TS to solve" but I would implore the team to change that stance as

[2018-10-12 10:33] KSXGitHub opened #27859 "Improve `Array.from(tuple)` and `[...tuple]`"
## Suggestion

`Array.from(tuple)` and `[...tuple]` should preserve types that made up tuple.

## Proposal

### `Array.from`

Add this overload to `Array.from`:

[code]

## Use Cases

* Clone a tuple without losing type information.

## Examples

### Clone a tuple

[code]

### Clone a generic tuple

[code]

## Checklist

My suggestion meets these guidelines:
* [x] This wouldn't be a breaking chang

[2018-10-12 11:01] Kingwl commented on #23299
`lambda to method` or the first case seems another refactor `extract to`(or combined more transform)

if you want to edit, convert, or transform the parameter, but actually, add braces could cover the case

yes, such as 'Hoisting'

[2018-10-12 11:20] frevds opened #27860 "Suggestion: Safe implicit default assignment operator ?="
I'm running into this case very often where I have to use a dictionary resp. object as a registry, having to add keys if they don't exist and increment or modify the value behind, where I then have to distinguish two cases - either the key was in the dictionary (then I have to increment the value) or the key was not yet in it (then I have to assign the default value).
This case also occurs for sca

[2018-10-12 11:30] s-bauer commented on #14009
Any update on this?

[2018-10-12 12:27] D0nGiovanni commented on #23299
You are right. They are different - and also already implemented.

So to clarify, there are only 2 cases that are in the scope of this refactor. Your example and this:

``foo(function (arg) { return <div>{arg}foo</div>; });`` <=> ``foo(arg => <div>{arg}foo</div>);``

[2018-10-12 12:37] mattmccutchen commented on #27808
No because if `T = A | B | C` then none of `T extends A`, `T extends B`, `T extends C` holds.  (Were you reading `extends` backwards?)

[2018-10-12 12:54] lukaschal commented on #27682
On review.

File: bin\Release\localize\ENU\diagnosticMessages.generated.json
ID: 0; "Move_to_a_new_file_95049"
SRC: Move to a new file
TGT: 移至新行

[2018-10-12 13:15] 19majkel94 opened #27862 "Omitting typings for `this` when function signatures are unioned"
Looks like the TS compiler loose types info about `this` for function when the type is an union. See code below.

**TypeScript Version:**  3.2.0-dev.201xxxxx

**Search Terms:**
this union
this callback

**Code**

[code]

**Expected behavior:**
Compile without error. Type of `this` in callback is `number`

**Actual behavior:**
[code]

**Playground Link:**
http://www.typescriptlang.org/play/#src=typ

[2018-10-12 13:41] flapenguin commented on #27716
@DanielRosenwasser yes, I will create the PR.

[2018-10-12 13:41] mattmccutchen commented on #27860
Did you read the following in the suggestion template?

Essentially all runtime features are considered out of scope of TypeScript nowadays for fear that a conflicting implementation might be added to the ECMAScript standard in the future.

[2018-10-12 14:13] rsp commented on #11235
See also the docs of SystemJS 2.0
https://github.com/systemjs/systemjs/blob/2.0.0/docs/system-register.md

The code examples look like this:

a.js
[code]
b.js
[code]
But interestingly enough, in VS Code this is fine:

![screen shot 2018-10-12 at 4 09 51 pm](https://user-images.githubusercontent.com/119231/46874406-63587780-ce39-11e8-9fe0-beb33709033f.png)

But this isn't:

![screen shot 2018-10-12

[2018-10-12 14:17] jack-williams commented on #27808
True! No I wasn't, but I had parsed it in my head like `(T extends A) | (T extends B) | (T extends C)`.

[2018-10-12 15:29] joeywatts opened #27864 "Computed Properties aren't bound correctly during Object/Class evaluation"
**TypeScript Version:**  3.2.0-dev.20181011

**Search Terms:** computed property expression

**Code**

[code]

**Expected behavior:** The log statements indicate that each class in `classes` has a different property name (`i` should be evaluated at the time of the class evaluation and all instances of that class should have a property name corresponding to that evaluation of `i`).

**Actual behavi

[2018-10-12 15:39] sandersn commented on #27707
How does `T extends { [P in keyof T]: { a: "a" } }` differ from `T extends { [s: string]: { a: "a" }` in the real code that led to this issue? (In your example, you even just use `T`, so I assume that the real code behind this issue is more complex.)

Note that from the type system's perspective, `T extends { [P in keyof T]: { a: "a" } }` is circular and so some things don't work the way you would

[2018-10-12 15:49] #27742 closed

[2018-10-12 15:53] 0xorial commented on #25526
Is it the same issue as [here](https://stackoverflow.com/questions/52782824/why-typescript-compiler-ignores-noimplicitthis-option-in-my-example?noredirect=1#comment92487174_52782824)?

[2018-10-12 16:00] andy-ms commented on #25526
That situation seems even worse because you never declared an `any` anywhere. But it would be likely to be fixed when this one is, so I'll make it a part of this issue.
[code]

[2018-10-12 16:05] sandersn commented on #25624
Maybe `type NonPrimitive = object` in lib.d.ts?

[2018-10-12 16:15] mheiber commented on #27864
There's a type error on the line with the computed property:

However
- It's still possible to produce correct emit in this case, even though there's a type error (if that's desirable)
- The [class fields proposal](https://github.com/tc39/proposal-class-fields/issues) allows code like in Joey's example, and  Chrome Canary run's Joey's example with the correct output.

[2018-10-12 16:19] andy-ms commented on #27858
Looking at that issue I'm not sure this was even a TypeScript bug in the first place?

[2018-10-12 16:20] asmundg commented on #27707
The original problem is in react-native's typings (

[2018-10-12 16:27] andy-ms commented on #27862
This applies to unions in general:
[code]
Think this is a duplicate of #7294.

A workaround is to figure out the union signature yourself -- in this case `callback: (this: number, param?: any) => void`.

[2018-10-12 16:45] 19majkel94 commented on #27862
Yes, this is a simplified case - in reality it has also different return signature, like:

[code]

The only workaround I've found for now is using manual union and inlinined conditional types:
[code]

But it's not an elegant solution 😕

[2018-10-12 17:42] asmundg commented on #27707
As you point out in the DefinitelyTyped PR, extending `{[key: string]: ...}` now requires the type parameter in `export function create<T extends NamedStyles<T>>(styles: T): { [P in keyof T]: RegisteredStyle<T[P]> };` to have a string index, precluding the use of a plain interface without the index.

It seems like the pattern the code aims for is "for each property in an object, the value type mus

[2018-10-12 18:05] #27860 closed

[2018-10-12 18:05] #26992 closed

[2018-10-12 18:43] haight6716 commented on #13948
I think this may be related.  I'm seeing a problem with this in V3.1.1:
[code]
Error text:

[code]

[2018-10-12 18:47] 0xorial commented on #25526
Well, my problem is that I was migrating old code which has a whole bunch of constructs of this kind and I was expecting this option to catch those cases, so I wasn't very careful to review them myself.

I looked through history and it seems that there was a relevant test, but it was removed by [this commit](https://github.com/Microsoft/TypeScript/pull/14141/commits/e512376b0c5ae25d0e66b4c92bc6618

[2018-10-12 18:52] DanielRosenwasser commented on #27864
Taking PRs and marking it as moderate (assuming you are familiar with spec-reading and the transform pipeline).

[2018-10-12 19:00] unindented opened #27866 "Union type not enforcing members correctly"
**TypeScript Version:**  3.1.1

**Search Terms:** unions

**Code**

[code]

**Expected behavior:**

Error saying `loadingText` should be of type `string`.

**Actual behavior:**

No error. Hovering over `loadingText` does tell me that `loadingText` is a string, so the compiler knows but doesn't raise it?

![screen shot 2018-10-12 at 11 59 40](https://user-images.githubusercontent.com/69485/46888792

[2018-10-12 19:02] unindented commented on #27866
Ah, sorry, didn't see @DanielRosenwasser's PR: https://github.com/Microsoft/TypeScript/pull/27087

[2018-10-12 19:02] #27866 closed

[2018-10-12 19:13] andy-ms commented on #25526
Right. Any test output file with no associated test file should be deleted. PRs accepted.

[2018-10-12 19:33] sheetalkamat commented on #25630
Here is the issue:
When [getFormattingEditsForRange](https://github.com/Microsoft/TypeScript/blob/master/src/server/session.ts#L1379) is called, we do not update the program (since its syntax only operation, we keep program as is and want to just use updated snapshot of changed file and nothing else) and then call [const edits = languageService.getFormattingEditsForRange(file, startPosition, endPo

[2018-10-12 19:42] amcasey commented on #20809
We had a telemetry hit in VS Code 1.28.1 with TS 3.1.1:

[code]

[2018-10-12 20:00] admosity commented on #26542
@thejohnfreeman [This playground](https://www.typescriptlang.org/play/#src=type%20Constructor%3CT%20%3D%20%7B%7D%3E%20%3D%20new%20(...args%3A%20any%5B%5D)%20%3D%3E%20T%3B%0D%0A%0D%0A%2F%2F%20The%20base%20class.%0D%0Aclass%20Point%20%7B%0D%0A%20%20constructor%20(%0D%0A%20%20%20%20public%20readonly%20x%3A%20number%2C%0D%0A%20%20%20%20public%20readonly%20y%3A%20number%2C%0D%0A%20%20)%20%7B%7D%0D%0A%7

[2018-10-12 20:50] yd021976 commented on #8306
Hi, like many others I would like "final" or "sealed" keyword at least for methods. I totally agree that this keyword is a really added value as it allow developper to prevent their librairies customer to extend crucial code blocks (like in plugin for example).

The only workaround I found is to use method decorator like :
`function sealed(target, key,descriptor){
descriptor.writable = false; // P

[2018-10-12 20:58] rbuckton commented on #27663
@andy-ms: This test will trigger the crash:

[code]

[2018-10-12 21:17] sheetalkamat commented on #26651
Closing this since haven't heard back about this yet. Can reopen when we have more data.

[2018-10-12 21:17] #26651 closed

[2018-10-12 21:30] amcasey opened #27867 "Debug Failure. False expression: Expected isNewFile for (only) new files"
We have occurrences from 3.0.0-dev to 3.2.0-dev.  Here's a stack from 3.1.3:

[code]

[2018-10-12 21:58] falsandtru commented on #27858
How can I distinguish vscode's bug and typscript server's? Which should have responsibility?

[2018-10-12 22:04] andy-ms commented on #27867
Is that the wrong stack trace? The diagnostic "Expected isNewFile for (only) new files" should only happen in `mapTextChangesToCodeEdits`, not `tryResuseStructureFromOldProgram`.

[2018-10-12 22:08] amcasey commented on #27867
Quite possibly - I've been looking at several.  Let me confirm.

[2018-10-12 22:10] amcasey commented on #27867
Fixed - sorry about that.

[2018-10-12 23:00] andy-ms commented on #27622
@HrushikeshBodas

First, the tests go in `tests/cases/fourslash`. See `completionsTypeKeywords.ts` for an example.
Then you should be able to debug using a command like `gulp runtests-browser --t completionsTypeKeywords` (substitute with the name of your new test).

Completions are handled in `completions.ts`. You can probably put a breakpoint in `getKeywordCompletions` and work from there.

[2018-10-12 23:08] sheetalkamat commented on #25351
Since we haven't heard about this yet, closing it. We can open it when we have more info

[2018-10-12 23:08] #25351 closed

[2018-10-12 23:10] andy-ms commented on #27152
This seems to be working for me. I have an empty project with just `@types/react` installed, `tsconfig.json` of:
[code]
and `src/a.tsx` containing `export const a = <div></div>;`. The import fix is for a default import. Tested in `typescript@3.1.1`, `typescript@3.1.3`, and `typescript@next`.

[2018-10-12 23:29] amcasey opened #27872 "Stack overflow symbolCanBeReferencedAtTypeLocation"
Trace from 3.1.3

[code]

[2018-10-12 23:31] amcasey opened #27873 "Assert failure tryReuseStructureFromOldProgram"
From 3.1.3:

[code]

[2018-10-12 23:35] lolleko opened #27874 "Compiler API: Array doesn't seem to have correct type information in 3.x"
**TypeScript Version:**  3.0.0 - 3.2.0

**Search Terms:**
SyntaxKind Array isArray ArrayType

**Code**

We use the Compiler API to transpile TS into a different language.
For that we walk the AST. During that process we check if an object is an array when transpiling calls on an object. If the method is called on an array we perform some extra logic.

[code]
Complete source: https://github.com/Per

[2018-10-12 23:35] amcasey opened #27875 "Unhandled exception - could not find user file"
From 3.1.3:

[code]

[2018-10-12 23:38] amcasey opened #27876 "TypeError: Cannot read property 'startRecordingFilesWithChangedResolutions' of undefined"
From 3.1.3:

[code]

[2018-10-12 23:40] amcasey opened #27877 "Debug Failure. Did not expect JsxSelfClosingElement to have an Identifier in its trivia"
From 3.1.3

[code]

[2018-10-12 23:41] stherrienaspnet commented on #27572
I'm also really confuse about it, all the example i found are not working properly...

[2018-10-12 23:49] amcasey commented on #27872
Command was `completionInfo`.

[2018-10-12 23:49] amcasey commented on #27873
Command was `completionInfo`.

[2018-10-12 23:49] amcasey commented on #27875
Command was `completionInfo`.

[2018-10-12 23:49] amcasey commented on #27876
Command was `completionInfo`.

[2018-10-12 23:49] amcasey commented on #27877
Command was `completionInfo`.

[2018-10-13 00:01] amcasey opened #27878 "assertDefined getDefaultExportInfoWorker"
From 3.1.3 (getCodeFixes)

[code]

[2018-10-13 00:05] amcasey opened #27879 "assertDefined getDocumentHighlights"
From 3.1.3 (occurrences)
[code]

[2018-10-13 00:07] amcasey opened #27880 "Assert getImportCompletionAction"
From 3.1.3 (completionEntryDetails)
[code]

[2018-10-13 00:35] amcasey commented on #27877
Looks like @andy-ms may have fixed this? https://github.com/Microsoft/TypeScript/issues/25487

[2018-10-13 00:43] amcasey commented on #27873
Probably https://github.com/Microsoft/TypeScript/issues/27471

[2018-10-13 00:45] amcasey commented on #27878
Probably part of https://github.com/Microsoft/TypeScript/issues/27640

[2018-10-13 00:47] amcasey commented on #27880
Possibly part of https://github.com/Microsoft/TypeScript/issues/27640

[2018-10-13 00:52] noahbkim commented on #26540
@jrkong go for it.

[2018-10-13 01:28] jrkong commented on #26540
@noahbkim Thanks!

I've been doing a bit of digging beforehand and so far I've found that the `export` keyword takes priority and trumps `import` so no completion is displayed. Can I assume that exported variables should not appear on the completion list?

Depending on the answer my hypothetical fix would be to:
- add exported variables and functions to the completion list
or
- add an additional c

[2018-10-13 01:31] jcalz commented on #27118
Is this the same issue or a different one:

[code]

[2018-10-13 01:36] mattmccutchen opened #27881 "Circular mapped tuple hangs compiler"
I ran into this by accident while working on [this question](https://stackoverflow.com/q/52786547).

**TypeScript Version:**  master (54a5be1860c7f0de4e6196926d329fbbbf9c6081)

**Search Terms:** circular mapped tuple hang (plus the function names in the stack trace)

**Code**
[code]

**Expected behavior:** No hang.

**Actual behavior:** Compiler hangs with stack trace:
[code]

**Playground Link:**

[2018-10-13 01:59] stherrienaspnet commented on #27572
Where could I found a working example of project reference feature?
Thanks :)

[2018-10-13 02:06] mattmccutchen commented on #27118
@jcalz Looks unrelated.  That's caused by the following rule in `isStructuredTypeRelatedTo` in the checker:
[code]
This rule has caused me grief on my project and I am happy to have another reason that might help justify getting rid of it.  (Did your example originate in real code?)  Feel free to file a separate issue; I didn't see an existing one.

[2018-10-13 02:10] Almenon commented on #17542
I've submitted a pull request for this by the way @RyanCavanaugh.  Enabling this by default would help prevent people from running into cross-platform issues with casing.

[2018-10-13 02:13] WearyMonkey opened #27882 "Exclude does not work correctly on constrained type parameters"
**TypeScript Version:**
typescript@3.2.0-dev.20181011
typescript@3.1.3
typescript@3.0.3

**Search Terms:**

exclude extends omit

**Code**

[code]

**Expected behavior:**

No error

**Actual behavior:**

`Type '"monkey"' is not assignable to type 'Exclude<P, "human">'.`

**Playground Link:**

https://www.typescriptlang.org/play/#src=type%20Primate%20%3D%20'monkey'%20%7C%20'human'%3B%0D%0A%0D%0Afun

[2018-10-13 02:20] WearyMonkey opened #27883 "Incorrect error when assigning to omitted and extended record type"
**TypeScript Version:**
typescript@3.2.0-dev.20181011
typescript@3.1.3
typescript@3.0.3

**Search Terms:**

**Code**

[code]

**Expected behavior:**

No error.

**Actual behavior:**

[code]

Removing the `{ foo: string } &` works.
Removing the `Omit` works.
Removing the `P` and using `Baa` directly works.

**Playground Link:**

https://agentcooper.github.io/typescript-play/?ts=2.9.1#code/C4TwDgpgB

[2018-10-13 03:10] mattmccutchen commented on #27882
I believe this is working correctly.  If `P` is `never` or `"human"`, then indeed `"monkey"` is not assignable to `Exclude<P, "human">`.

[2018-10-13 03:14] #27882 closed

[2018-10-13 03:18] JounQin opened #27884 "intelli sense union type with spread"
## Search Terms

- spread
- union

## Suggestion

intelli sense union type with spread

## Use Cases

union type with spread is so great

## Examples

[code]

`props` type is

[code]

But actually when `tag` is `string`, it should be `{ onClick?: React.MouseEventHandler<Element> }`, otherwise it should be `{}`, what means both of them should be acceptable.

## Checklist

My suggestion meets these

[2018-10-13 03:49] taoqf commented on #27702
I have done some tests and find the reason.
I set `include ` in `tsconfig.json`, then if I add a file 'src/test/test.ts`, it could not recompile.

[code]

but if i change the config

[code]

it works fine.
I don't know if this is designed.

[2018-10-13 07:16] frevds commented on #27860
Oh, that must have escaped my eyes (these templates are hard to read in the editor view).

I see. Right, there shouldn't be conflicting syntax in TS and ES. Too bad for new features though, how can you ever improve TS over ES if it's not possible to introduce anything but keywords? Features are usually added to ES only after appearing and being used in languages such as TS.

An keyword-based appro

[2018-10-13 08:06] lgoenner opened #27886 "WheelEvent contains fields that are not listed in the offical spec [lib.dom.d.ts]"
[WheelEvent in lib.dom.d.ts](https://github.com/Microsoft/TypeScript/blob/master/lib/lib.dom.d.ts#L16194) contains fields not present in the [w3 specification](
https://www.w3.org/TR/uievents/#event-type-wheel).

`readonly wheelDelta: number;
readonly wheelDeltaX: number;
readonly wheelDeltaY: number;`

Currently working on a PR that removes them.

[2018-10-13 08:37] frevds commented on #27860
FYI Here is a solution without any language-level additions, for whoever needs it:

Sticking to the original demand of initializing keys in dictionaries
(resp. members in an object or entries in an array) there is an approach:

[code]

This requires the following prototype extension of any objects by a generic method, straight-forward:
[code]

Or for TypeScript and optimized:
[code]
This goes into

[2018-10-13 09:33] WearyMonkey opened #27887 "tsc --build incorrectly reports TS6307 'not in project file list' when a leaf module exports a type"
**TypeScript Version:**  3.2.0-dev.20181011

**Search Terms:**

TS6307 not in project file list tsc --build project references

**Code**

https://github.com/WearyMonkey/project-references-demo/tree/toby-not-in-list

3 modules with dependency graph `zoo -> animals -> core`, each in their own project.

[code]

[code]

[code]

`yarn tsc -b zoo/ --verbose`

**Expected behavior:**

Compilation succeeds

[2018-10-13 10:01] 0xorial commented on #25526
After some more investigation, I realized that it is not exactly correct. "Array.push" has first parameter of type any[] (ish).

[2018-10-13 10:32] Christilut commented on #19882
This problem is somehow solved for me now. I noticed a difference in tslint.json in another project and even though it makes no sense, the following makes auto import work and it removes semicolons:

In tslint.json you can have the `"semicolon": false` line. If you remove it all together (don't set it to true or false) then auto imports get their semicolons removed.

This probably has something to

[2018-10-13 10:34] jack-williams commented on #27118
@jcalz @mattmccutchen Related to that issue: #27470. (I'll leave the discussing of this issue at that as I don't want to go off topic).

[2018-10-13 10:42] jack-williams commented on #27335
@RyanCavanaugh @weswigham

Is there any merit in trying to unify the `if` and `switch` narrowing code under `typeof`, at least to some degree?

[2018-10-13 13:09] FrenchHipster opened #27888 "Inconsistent length checking for tuples"
**TypeScript Version:**  3.1.x (and below)

**Search Terms:** spread length check, "bug got 0 or more"

**Code**

[code]

**Expected behavior:**
Being able to call a function by spreading an array, where the size of the array matches the number of requested arguments.

**Actual behavior:**
Typescript considers the spread to have "0 or more" elements, when it has a fixed number

**Playground Link:*

[2018-10-13 13:11] demisx commented on #19882
If I remove `"semicolon": [true, "never"]` line from `tslint.json`, then I get tons of "Missing semicolon" warnings from TSLint. Will not work for me, unfortunately.

[2018-10-13 14:54] ahejlsberg commented on #27888
We infer tuple types for array literals only when there is a contextual type to indicate it. For example, the following works:

[code]

In your example, since there is no indication you want a tuple type, the inferred type for the array literal is `number[]`. This in turn leads to the "got 0 or more" error.

Also see discussions in #16656 and #27179.

[2018-10-13 14:57] andy-ms commented on #25526
`Array.push` should have a parameter of type `T` where `T` is the array's element type. With `--noImplicitAny` enabled, if the array didn't have a declared type we should be inferring one -- not just making it `any`.

[2018-10-13 15:03] RastislavMirek commented on #10717
Is this still activelly discussed? Will we ever get it?

[2018-10-13 15:50] pelotom commented on #10717
@RatislavMirek why is it needed now with implicit variance tracking?

[2018-10-13 16:03] zheeeng opened #27890 "More accurate error message request on extending a specific type"
As below codes showing, according to the error message, seems that `type A` is equivalent to an `interface`, but `type A2` is a strict `type` kind type

[code]

[2018-10-13 16:49] marpstar commented on #27890
@zheeeng I suggest reading this SO answer: https://stackoverflow.com/a/37233777/516210

[2018-10-13 17:02] mattmccutchen commented on #27890
The error message is out of date.  In essence, the rule is that a class or interface may only extend a type _with a known set of properties_, since the compiler needs to check whether the types of properties declared in the class or interface are compatible with the types of the corresponding properties (if any) of the base type.  `A<T>` has a known set of properties (i.e., just `foo`) but `A2<T>`

[2018-10-13 17:53] mheiber commented on #27864
What are the implications of getting rid of the type error? Will allowing arbitrary string and symbol values in computed field declarations affect inference?

[2018-10-13 17:54] pauldraper opened #27891 "Reduce typescript package size"
## Search Terms

size, bloat, install

## Suggestion

The typescript package is large, and it only getting larger.

![screenshot from 2018-10-13 11-12-06](https://user-images.githubusercontent.com/1403271/46908127-43799000-cedb-11e8-9a3c-3b8bdb262ecc.png)

Version 3.1.3 is a whopping 40MB.

## Use Cases

TypeScript is used in many contexts.

A TypeScript formatter (e.g. [prettier](https://github.c

[2018-10-13 18:13] zheeeng commented on #27890
@mattmccutchen yes, expect a more accurate error message.

[2018-10-13 18:39] soldierdi opened #27892 "Typescript compiles files outside the current project directory"
Hello everyone,

I am trying to setup a new react project with typescript. The new project is located in a folder inside another project. Now I want to use typescript to do a typecheck of my tsx files in my current folder. I use babel 7 to compile the tsx files to js files.
This is my tsconfig.js:

[code]

If i run the command "tsc" in my project dir (I installed typescript version 3.1.3 globally)

[2018-10-13 19:03] #27892 closed

[2018-10-13 19:21] bcherny opened #27893 "[docs] Module mode vs. script mode"
Gleaning the [docs](https://www.typescriptlang.org/docs/handbook/modules.html), it looks like TSC parses files in either Module Mode or Script Mode. From the docs and from playing around with TS-

- If a file has at least one `import`, `export`, or `export =`, TSC typechecks the file in Module Mode
- Otherwise, TSC typechecks the file in Script Mode

The differences seem to be that in Script Mode:

[2018-10-13 19:27] shmelkin-ron commented on #4182
Hi, I would like to work on this.
Could you please give me some code pointers.
@DanielRosenwasser

[2018-10-13 19:50] DanielRosenwasser commented on #27886
Should this be filed against https://github.com/w3c/uievents/issues/?

[2018-10-13 20:04] DanielRosenwasser commented on #4182
Try `0x13D1FA00` to start.

[2018-10-13 20:08] DanielRosenwasser commented on #4182
Okay, bad joke.

You'll want to create a test case that has a zero-width joiner in `tests/cases/compiler/zeroWidthJoinerParses.ts`

and another with a zero-width non-joiner in `tests/cases/compiler/zeroWidthNonJoinerParses.ts`. Ideally the code should type-check cleanly so that the intention of the test is obvious. Leave a comment above each sample. If possible, you should use both the actual char

[2018-10-13 20:28] WreckedArrow commented on #27355
I'm not sure if this is related or has been addressed elsewhere, but this also does not produce an error:
[code]

[2018-10-13 21:16] kolya182 commented on #12871
+

[2018-10-13 21:50] Chacha-26 commented on #202
Just discovered this technique that I've not found posted anywhere.
I'm not confident that it'll keep working in the future though since it relies on silencing a compiler error, but it works in at least 2.8.1, 2.9.1, 3.0.1, and 3.1.1-insiders.20180926
There's probably a way of doing this without the error, but `@ts-ignore` works well enough for me.

[code]
It has the following behaviour:
There are

[2018-10-13 22:27] noamyogev84 commented on #17442
@sandersn, @DanielRosenwasser
Pinging you to get your thoughts on this...

[2018-10-13 23:37] andy-ms commented on #27355
@WreckedArrow That's #12936

[2018-10-13 23:48] aaronjensen commented on #202
@Chacha-26 interesting, though it [doesn't work with Records afaict](https://www.typescriptlang.org/play/#src=%2F%2F%20%40ts-ignore%0D%0Atype%20Brand%3CT%2C%20B%3E%20%3D%20infer%20_%20extends%20B%20%3F%20T%20%3A%20never%3B%0D%0A%0D%0Atype%20Id1%20%3D%20Brand%3Cstring%2C%20%22id1%22%3E%3B%0D%0Atype%20Id2%20%3D%20Brand%3Cstring%2C%20%22id2%22%3E%3B%0D%0Adeclare%20var%20id1%3A%20Id1%2C%20id2%3A%20Id2

[2018-10-14 00:02] codeitcody commented on #10866
I'm a little confused on this issue. It has been closed and labelled 'Working as Intended'. Am I to understand Typescript is intended to compile invalid source? Seems odd.

Beggars can't be choosers, but using Typescript avoids many frustrating aspects of vanilla JS and I count relative imports ('../../../../../utils/parser') to be one of them. It would be amazing if Typescript could clean these u

[2018-10-14 00:50] Chacha-26 commented on #202
Yeah, it doesn't seem to care for literal values at all in 3.1.1. It seems to work better in earlier versions though.
Guarding against other brands and dot-properties seems to work at least:
[code]

[2018-10-14 03:03] pauldraper commented on #27891
Interesting reading, thanks.

It was closed in #25901, released in 3.1.1, which was 40MB. :slightly_frowning_face:

---

It won't be hard at all to shrink the package size. For example, `lib/tsserver.js` and `lib/tsserverlibrary.js` are 98% identical.

[code]
And 99% of `lib/typescript.js` is identical to those.

[code]

And `lib/typescriptServer.js` is 100% _identical_ to that.

[code]

I can't b

[2018-10-14 04:00] stherrienaspnet commented on #27572
@DanielRosenwasser can you elaborate a bit more on the 'you need to import from wherever the .js and .d.ts files end up (rather than the input files)'? How should I change importing from the shared module when I have project references?

[2018-10-14 06:31] kanav99 commented on #26618
I want to contribute to this project. Can I take up this issue?

[2018-10-14 07:59] DanielRosenwasser commented on #27890
Since these types don't just have properties, "members" might be a better word for this.

[code]

I almost didn't want to include "object or intersection", but then this message doesn't work for primitives.

[2018-10-14 08:14] DanielRosenwasser commented on #27881
Yeah, please don't try this in the playground.

[2018-10-14 13:14] mattmccutchen commented on #27890
To be pedantic, `string & {x: string}` is an intersection type with statically known members, so we should probably say "... an object type or intersection of object types with statically known members".  And we also need to update the "Base constructor return type '{0}' is not a class or interface type" message.  I'll be happy to write a PR once the TypeScript team shows signs of having time to d

[2018-10-14 13:29] chrisbouchard opened #27895 "Change in generic behavior between 3.0.1 and >=3.1.1"
**TypeScript Version:**  3.2.0-dev.20181011
This code worked in 3.0.1, and is broken >=3.1.1.

**Search Terms:**
"is not assignable to type"

**Code**

[code]

For completeness, I'll just mention that I intend for users to create subinterfaces of `Entity` and `EntityState` for their domain types (like `@ngrx/entity`), overriding `id` to be a more restrictive type. This is why the `IdOf` type is im

[2018-10-14 13:34] mattmccutchen commented on #27895
Looking into it

[2018-10-14 14:02] mattmccutchen commented on #27895
This was caused by #26698.  The old behavior to check assignability of the indexed access type `{ [key: string]: E; [key: number]: E; }[E["id"]]` to `E` was to take the base constraint of both the object type and the index type, which gave `{ [key: string]: E; [key: number]: E; }[string | number] = E`, which worked.  The new behavior takes the constraint of the object type, and if there isn't one,

[2018-10-14 14:09] kpreisser commented on #26090
Hi @DanielRosenwasser,
this issue is still present on **IE 11** using current `master` branch (54a5be1860c7f0de4e6196926d329fbbbf9c6081).
Can you reopen it?

Please note that this issue is **not** the same as #26068; this one is caused due to the `shimMap` used on IE 11 behaving differently than a regular `Map` when using `.forEach()`.

Thank you!

[2018-10-14 14:36] wizardnet972 commented on #26224
@sheetalkamat, any idea how to resolve my json file without the extension? i'm using vscode+typescript.
`import jsonData from './file'`. but I got this error: ` [ts] Cannot find module './file'`.

`resolveJsonModule` is true in my tsconfig..

[2018-10-14 16:35] chrisbouchard commented on #27895
Is this considered a regression? Or, if this is the intended new behavior, is there a suggested workaround?

[2018-10-14 17:30] #27451 closed

[2018-10-14 18:38] niedzielski commented on #17233
This would be awesome! There's already support for `Readonly` and `readonly` in JSDoc closure syntax. E.g.:

[code]
[code]

Both of the above examples work as expected. However, resolving this ticket would enable readonly support for member properties too:

[code]