[2019-12-13 20:20] dragomirtitian commented on #35669
Actually this is a deliberate design decision. As stated in the [PR](https://github.com/Microsoft/TypeScript/pull/18654) introducing strict function types (which is the option that makes parameters behave contravariantly instead of bivariantly)

(**Emphasis added**)

In this case `T` is a subtype of `T | null` so the function signatures relate bivariantly allowing the assignment. If you want to en

[2019-12-13 20:31] Retsam commented on #35451
Ah, thanks, I think that was the piece of the puzzle I was missing.  It makes sense that the user can opt-in to some better type checking at the expense of somewhat slower compilation.

I'll have to figure out whether the performance downside, plus some missed edge cases, plus the syntax inconvenience makes the lint rule worth having...

Anyways, thanks again!

[2019-12-13 20:31] #35451 closed

[2019-12-13 20:55] winhillsen commented on #35669
@dragomirtitian Thank you for digging this, I wouldn't've figured this out myself at all!

I think I need to try to understand the general rules regarding how TypeScript treats variance relation better.

[2019-12-13 20:55] #35669 closed

[2019-12-13 20:58] pirix-gh commented on #26980
Pinging everyone following this. A PR allowing recurive types has been accepted by the TypeScript team. We can now write such recursive types, at the cost of using a library (and the way of writing them). So be careful when writing them.

https://github.com/microsoft/TypeScript/pull/33810

I'm not sure this can close this issue, but is nevertheless a great step forward.

[2019-12-13 21:13] AnyhowStep commented on #26980
@pirix-gh Can you toss in type-level generator trampolines to those tests, too? =P

[2019-12-13 21:53] pirix-gh commented on #26980
I'd rather love to see type providers one day to have top performance types.

[2019-12-13 22:11] rbiggs commented on #33136
These problems seem to have been resolve with TypeScript 3.7.3, which introduce batch import of types and generation of `d.ts` files from JavaScript with JSDoc type info. Closing.

[2019-12-13 22:11] #33136 closed

[2019-12-13 22:20] #35269 closed

[2019-12-13 22:57] MLoughry opened #35674 "Add a strict-mode configuration to error on unnecessary awaits"
## Search Terms
TS80007, unnecessary await

## Suggestion
Currently, the tsserver gives a warning/quick fix about unnecessary awaits ([TS80007](https://github.com/microsoft/TypeScript/blob/236012e47b26fee210caa9cbd2e072ef9e99f9ae/src/compiler/diagnosticMessages.json#L4835)). However, there is no configuration to cause the build to error on such cases.

## Use Cases
This would allow PR/CI builds to

[2019-12-13 23:10] MartinJohns commented on #35674
Duplicate of #35419?

[2019-12-13 23:14] MLoughry commented on #35674
Seems like it, yes.

[2019-12-13 23:14] #35674 closed

[2019-12-13 23:17] MLoughry commented on #35419
@RyanCavanaugh, could this strict mode simply not error on the former case where a type is possibly a Promise (eg., `string | Promise<string>`)?

As for the latter case, could it not be handled by either leaving the mode disabled, or using `// @ts-ignore` to disable the specific error?

[2019-12-13 23:20] MartinJohns commented on #35419
Using `// @ts-ignore` should not be the way to deal with valid type-safe code. It's not an error.

This seems to be a job for a linter, but not for the compiler.

[2019-12-13 23:28] MLoughry commented on #35419
Counterpoint: Couldn't the same be said for [uncalled function checks](https://devblogs.microsoft.com/typescript/announcing-typescript-3-7/#uncalled-function-checks)?

To lay bare my personal motivations, we currently use the `await-promise` TSLint rule for this exact case. However, it is the only rule we use that makes use of type information, and our >1M lines-of-code project takes several minut

[2019-12-13 23:28] minestarks commented on #35633
Corresponding ADO bug: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1032179
User feedback: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1035320

[2019-12-13 23:29] minestarks commented on #35633
@RyanCavanaugh  can we take this into 3.8 beta?

[2019-12-13 23:36] travigd commented on #34717
This is available as a plugin for ESLint: https://github.com/typescript-eslint/typescript-eslint/pull/612.

The downside is that it requires type checking in ESLint which is pretty slow since it generally requires the whole codebase to be checked (whereas when just developing with the language server running, it's pretty fast).

[2019-12-14 00:03] bradzacher opened #35676 "Sharing `SourceFile`s between `createWatchProgram` calls"
## Search Terms

SourceFile, createWatchProgram, DocumentRegistry, WatchOfConfigFile

## Background

A bit of background first, over in @typescript-eslint, we use the compiler API to parse files. The user passes us a set of `tsconfig`s, and we create a program for each of those projects. ESLint then asks us to parse a file, and we take the the pre-parsed AST, transform it to the ESTree AST spec, a

[2019-12-14 00:16] uniqueiniquity commented on #35676
cc: @sheetalkamat

[2019-12-14 00:21] robertmassaioli commented on #16069
To avoid everybody having to write the same helper functions over and over again I bundled `isPresent`, `isDefined` and `isFilled` into a helper library: https://www.npmjs.com/package/ts-is-present

When Typescript bundles this functionality in I'll remove the package.

[2019-12-14 01:13] initplatform commented on #35014
Ahh Thank You. This has been driving me crazy!!!
Guess there is no work around until this is fixed and then compatible with angular.... so `Go To Definition` is going to be broken in VS Code for Angular imports in new Angular projects when 9 is released for the next.... 6 months... ? year?

[2019-12-14 01:23] #35619 closed

[2019-12-14 02:36] #35604 closed

[2019-12-14 03:27] abrkn commented on #16577
This is quite impractical when there are thousands of imports.

[2019-12-14 03:43] MicahZoltu commented on #16577
The problem with "just use `.js`" is that if TypeScript emits `.mjs` files then your program doesn't work.  This means you end up in a situation where you are writing TypeScript that _either_ works in the browser _or_ works in NodeJS.  You no longer can write TypeScript that works in both.

I believe the argument here is, "That isn't TypeScript's fault, that is the browser and NodeJS diverging".

[2019-12-14 04:00] chnliquan commented on #33918
@AviVahl @RyanCavanaugh @rictic @gmoothart

[2019-12-14 05:21] shicks commented on #21152
There's a lot of discussion about various ways to apply readonly to individual properties, but nothing about readonly objects themselves.  I've found that TypeScript's ReadonlyArray type is very trustworthy in preventing accidentally passing an array that shouldn't be mutated somewhere that could possibly mutate it:

[code]

But readonly properties on objects just don't have sufficient checking, n

[2019-12-14 06:24] justinfagnani commented on #16577
Node 13.2 supports .js extensions just fine.

[2019-12-14 07:02] MicahZoltu commented on #16577
@justinfagnani For ES modules?  I thought NodeJS would only load ES modules if they had a `.mjs` extension, otherwise the files were treated as CommonJS?

[2019-12-14 07:24] Fnxxxxo commented on #26916
This is also convenient and meaningful for builders.
[code]

[2019-12-14 08:39] robyoder commented on #19775
@ktalebian this behavior is not unique to the spread operator. If you changed your example to just `const newObject: NewType = oldObject` it would work the same way.

[As mentioned above](https://github.com/microsoft/TypeScript/issues/19775#issuecomment-342957581), types are open in TypeScript. This is a design decision. But there’s a proposal (#12936) to for the behavior you’re looking for.

[2019-12-14 09:21] lastmjs commented on #16577
I feel this whole thread is a bit misguided. Explicitly writing the file extension would solve this entire problem. If you are importing a JavaScript file, write the .js extension. If you are importing a TypeScript file, write the .ts extension. This is allowed in the standard and the TypeScript compiler understands it all equally well. The only problem is that the compiler states .ts extensions a

[2019-12-14 09:23] QuantumInformation commented on #16577
Anyone actually used the script I wrote?

https://github.com/microsoft/TypeScript/issues/16577#issuecomment-310426634

any feedback if so?

[2019-12-14 09:26] MicahZoltu commented on #16577
@QuantumInformation I haven't used your script, but the TypeScript transformer plugin I wrote does basically the same thing.  😊  https://github.com/Zoltu/typescript-transformer-append-js-extension/

[2019-12-14 09:27] Draccoz commented on #16577
First of all, I'm not gonna try again to convince typescript to implement it, I get it, you won't do that.
I am reading the comments though and wondering: all those people saying that adding `.js` to paths will solve it all - do you really not use 3rd party packages? How is me adding extensions to my imports fixing what's in node_modules?

[2019-12-14 09:29] QuantumInformation commented on #16577
@MicahZoltu oh nice one

[2019-12-14 09:29] lastmjs commented on #16577
What do you mean? You would explicitly write the file extension of the file you are importing from node_modules, if using a path. But wouldn't that be a bare import usually anyway?

[2019-12-14 09:31] Draccoz commented on #16577
If you specify relative path it won't be bare. I am however talking about internal imports of the package I'm importing, look at rxjs for example.

[2019-12-14 09:33] MicahZoltu commented on #16577
@Draccoz I believe the point being made is that if someone writes TypeScript like `import { ... } from './foo'` and then publishes that as an NPM package, a user cannot use that library directly in a browser even if it targets ES modules.  I believe Microsoft's argument here is that the package is wrong if it is distributing code like that with an expectation that it works in a browser.

[2019-12-14 09:35] lastmjs commented on #16577
You would write the extension of the file that exists in node_modules. `import * as stuff from 'rxjs/path/to/file.js';` if it's a JavaScript file, and `import * as stuff from 'rxjs/path/to/file.ts';` if they distributed a TypeScript file.

[2019-12-14 09:38] Pauan commented on #16577
@lastmjs Yes, but what if `rxjs/path/to/file.ts` contains `import foo from './bar'`? You can't change that, since you can't modify the file, since it's a third-party library.

[2019-12-14 09:40] lastmjs commented on #16577
That's why we should push to use explicit extensions everywhere, but yes I see your point

[2019-12-14 10:05] lcerman commented on #29407
I also experience similar issues, ever since I started using VS Code, now I am on the version 1.41. It prevents me to delete folders inside the project dir. Distracts git, sometimes even fetch fails, while VS Code is running.

[2019-12-14 12:33] thomaslaich opened #35679 "TypeScript does not infer equivalence of generic type arguments, TS2322 for equivalent types"
**TypeScript Version:** 3.7.2 or nightly

**Search Terms:** generic constrained type parameter error, error TS2322

**Code:** Consider the following example:
[code]
**Actual behaviour:** This yields the following error message on the line where I try to assign `nt` to `test2`:
[code]

**Expected behaviour:** Should have no error.

**Background:** This error message is correctly shown on something

[2019-12-14 12:49] iamdevlinph opened #35680 "Duplicate suggestions on React methods with fix"
**TypeScript Version:**  3.8.0-dev.20191213 / 3.7.2

**Search Terms:**
- vscode duplicate suggestion on intellisense

**Code**

Duplicate suggestion on intellisense.

![image](https://user-images.githubusercontent.com/19337229/70848747-11820600-1eb1-11ea-8cfc-ee5a8a3d2974.png)

Also when the extensions are disabled.

![image](https://user-images.githubusercontent.com/19337229/70848750-1a72d780-1eb

[2019-12-14 12:50] iamdevlinph commented on #35680
I found a fix while typing this and I'll append it in the comments.

[2019-12-14 12:53] Draccoz commented on #16577
Yea, my point was exactly that - just adding extensions won't fix 3rd party libraries we can't modify, so that's no solution.
I do get Microsoft point as well, hence I'm not pushing it any longer (aside of the fact that keeping this issue open gives unnecessary hope which blocks packages maintainers from just adjusting build instead of waiting for TS to solve this), it would be awesome though to o

[2019-12-14 12:55] iamdevlinph commented on #35680
The issue occurs when using a non-latest version of `@types/react`.

#### v16.9.12
![image](https://user-images.githubusercontent.com/19337229/70848966-c61d2700-1eb3-11ea-8993-7ea308b95bb1.png)

#### v16.9.13
![image](https://user-images.githubusercontent.com/19337229/70848975-d3d2ac80-1eb3-11ea-9a8e-bc659cf11942.png)

But using latest will not give the duplicate. Maybe because there is only 1 ent

[2019-12-14 12:55] #35680 closed

[2019-12-14 13:06] QuantumInformation commented on #16577
yeah but clearly hope is still good for many people

![image](https://user-images.githubusercontent.com/216566/70849140-75d1a500-1e72-11ea-8315-41fa26b0d897.png)

[2019-12-14 15:26] Ranguna opened #35682 "No autocomplete when using something other than any on keyof extends generic"
**TypeScript Version:**  3.7.2 (and latest nightly)

**Search Terms:**
autocomplete on keyof without any
no autocomplete when extending keyof generic without any

**Code**

[code]

**Expected behavior:**
`result` should have autocomplete with the following members: `v1` and `v2`.

**Actual behavior:**
`result` doesn't have any autocomplete. If interface C is replaced with:
[code]
Everything works

[2019-12-14 15:59] fatcerberus commented on #35339
Smaller repro, pretty sure this is the same issue:
[code]

Contextual typing seems to be causing chained generic calls to influence each others' type parameters.

[2019-12-14 17:33] ahejlsberg opened #35683 "Uninitialized identifer causes compiler crash"
**TypeScript Version:**  3.8.0-dev

**Code**

[code]

**Expected behavior:**

No crash.

**Actual behavior:**

Crash!

**Related Issues:**

Crash is caused by code added in #33171. Beyond this crash, I see several issues with that code. For example, it assumes that if the return type is a union type, then the type annotation AST node is a `UnionTypeNode`, which by no means is a given. For example,

[2019-12-14 17:36] ahejlsberg commented on #35683
@orta @RyanCavanaugh For now, I'd prefer we revert #33171. Then we can work on getting it right.

[2019-12-14 18:00] #35167 closed

[2019-12-14 18:12] jcalz commented on #26980
Is there any way to get a version of this that works in [the Playground](https://www.typescriptlang.org/play/)?  Or some guidance on how to do this without using an external library?  Like maybe we can make a self-contained "ts-toolbelt lite" that can be used inline as opposed to in a module hierarchy?  I'm hoping to minimize Stack Overflow and GitHub issue headaches.

[2019-12-14 18:20] ahmadalibaloch commented on #14417
any update?
 I am tired of writing `entity.id()`, i want `entity.id` but still creating the entity without id is not possible
`const entity = new Entityt({name:'xyz}) // property id is missing`

This should be allowed, which is only possible when `id`  can be optional property.

[2019-12-14 18:51] trusktr commented on #35339
I'm not sure if this is a bug (regression) or a (new) feature.

It adds one more thing that can make class-factory mixins brittle. F.e., I have to consciously write

[code]

instead of

[code]

where the definition of `Constructor` is

[code]

This issue was not happening before (the second example would work), so it seems to be from some relatively new version of TypeScript within the past few mo

[2019-12-14 19:21] AnyhowStep commented on #26980
@sandersn if I made a PR to add trampolines to the tests, would it be accepted?

The following file gives an example of what the test would look like,
https://github.com/AnyhowStep/tsql/blob/master/src/tuple-util/reverse.ts

It doesn't rely on external dependencies to work and can easily go beyond 1000+ iterations/recursive calls

[2019-12-14 20:00] #35648 closed

[2019-12-14 20:00] #35647 closed

[2019-12-14 20:06] fatcerberus commented on #35339
I’m almost positive it’s a bug.  Type inference for a generic function shouldn’t be affected by whether the result is assigned to a variable vs. directly passing it to another generic function.

[2019-12-14 20:09] pirix-gh commented on #26980
@jcalz, I'm working on a script that will make it work on the playground (flattening), will ping when it's done

[2019-12-14 21:16] dragomirtitian commented on #29131
@parzh You can get the parameter names back (mostly) if you don't mind writing a bit more:

[code]
[Playground Link](https://www.typescriptlang.org/play/#code/CYUwxgNghgTiAEAzArgOzAFwJYHtVNQB4A1KCZBEADwxFWAGd4BGeAH3gCYA+ACgDpBsAOYMAXPFLlKNOoxbwA-PHgAFWFAC2IWjAaFeVCamSaARiBgBKeAF5uANxxZg3eBPUwtOy-t4BPMRNzSwAaeFRvCQYMGCxUYRt7eCcXbisJVOAAbgBYACgCxCJmPgAWTis8-OLCUt4K8IAiAAsQCAgceAB3HBgIYCaq+AB6EfgAURg

[2019-12-14 21:48] a-tarasyuk commented on #35642
@boomsaas-customers It seems, in your example, you missed `"rootDir"` option, because without `"rootDir"`, `"outDir": ""` works as correctly.

<details>
<summary>`"outDir": ""` example</summary>
<p>

[code]

[code]
---

[code]

[code]

[code]

[code]

---

[code]

[code]

[code]
Puts resuls to `b` folder

[code]
</p>
</details>

@sheetalkamat Do you mean changing `outDir` -" type" from  "string "t

[2019-12-14 21:48] Draccoz commented on #16577
Still, it was stated couple of times through those comments that it will NOT be implemented, so why keep it open?

[2019-12-14 23:47] fatcerberus commented on #35679
`TProps` might have a `state` property.  `NewType` definitely doesn’t (because you’ve `Omit`ted it).

[2019-12-15 00:00] #35578 closed

[2019-12-15 00:00] #35353 closed

[2019-12-15 00:00] #35157 closed

[2019-12-15 00:28] AnyhowStep commented on #33541
Instead of trying to figure out which commit broke my `TypeOfCoalesce<>` recursive type, I decided to just convert it into a trampoline.

https://github.com/AnyhowStep/tsql/pull/65

https://github.com/AnyhowStep/tsql/pull/65/files#diff-0214b2fefabaf1617e690660683db775R226-R237

[2019-12-15 05:02] weakish commented on #23391
@pikeas As a last resort, you can mangle with TypeScript's source code to shutdown this suggestion, and tell vscode to use your fork of TypeScript (via `tsdk` setting). Check my [stackoverflow answer][59341311] for details.

[59341311]: https://stackoverflow.com/a/59341311/222893

[2019-12-15 08:02] SkeLLLa commented on #35578
It's not a question. It's a bug. @RyanCavanaugh

[2019-12-15 09:35] madou opened #35686 "EmitResolver cannot handle JsxOpeningLikeElement and JsxOpeningFragment that didn't originate from the parse tree"
**TypeScript Version:**  3.7.x-dev.201xxxxx

**Search Terms:**

Debug Failure. False expression., typescript transformer, jsx element

**Code**

- clone `https://github.com/madou/untitled-css-in-js-project`
- run `git checkout b229dc749e4614bb8d9194c8de340a82f10c8f8a`
- run `yarn`
- run `yarn test`
- [notice one test fails](https://github.com/madou/untitled-css-in-js-project/blob/b229dc749e4614bb8

[2019-12-15 13:23] DanTsk opened #35688 "Feature Request: Modules Packages"
## Search Terms
package, modules encapsulation, modules union, modularization, modules categorization, module access level

## Suggestion
Provide a mechanism for explicit modularization with strict boundaries and access levels within a single project. This suggestion is only about type - checking and won't affect runtime behaviour.

Applications and teams grow really fast nowadays, so a convenient

[2019-12-15 14:55] Jack-Works commented on #35589
I have fully rewritten the pr, for any one interested, see https://github.com/microsoft/TypeScript/pull/35148

[2019-12-15 15:06] fis-cz commented on #33800
Actually, I have found it is possible to manipulate the AST before type checking using the compiler API / LanguageService. It is necessary to implement custom compilerHost getSourceFile method then it is possible to walk through the (incomplete, but sufficien AST) and modify it.

I wrote simple AST "preprocessor" allowing me to add, remove or replace AST nodes while if this is done in correct way

[2019-12-15 15:24] falsandtru commented on #35683
@ahejlsberg Can you fix #35567? Otherwise I (and other developers) can't introduce asserts predicate because it breaks correct tests.

[2019-12-15 17:14] jochenonline commented on #33123
A workaround until the problem is solved is to use an interim object:

`let _DAYS: {[propName: string]: string} = <any> Days;`

[2019-12-15 17:39] awran5 opened #35736 "CPU load and IntelliSense stop working with Create React App"
Issue Type: <b>Performance Issue</b>

,,,,,,,,,,,,,,

VS Code version: Code 1.41.0 (9579eda04fdb3a9bba2750f15193e5fafe16b959, 2019-12-11T18:37:42.077Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-9400F CPU @ 2.90GHz (6 x 2904)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flas

[2019-12-15 19:14] simonhaenisch opened #35702 "Properties in object literal key completion list aren't filtered when a prior argument supplies a mapped type key"
- VSCode Version: 1.41.0
- OS Version: macOS 10.14.6

Steps to Reproduce:

\>\> [Playground Link](https://www.typescriptlang.org/play/index.html?ssl=23&ssc=1&pln=19&pc=1#code/JYOwLgpgTgZghgYwgAgMIFcDOYD2BbAUQBsI8JxNkBvAWAChlHkByBfABxxHLAFouIzAFzV6Tcchg4cAfhHYooAOYBuMUwC+AGnWNWHAeF5gA7jmGiGExgCM4UOcgXK1Vxhvoe69UJFiIUAHl2MGAuTAAeABVkCAAPSBAAE0oAawgATxwYNCxcQhIyCgA+S3F2KBx2TBEMbHxiUh5MAG0ogF1XL3oYdBA

[2019-12-15 20:00] #35646 closed

[2019-12-15 20:00] #35412 closed

[2019-12-15 20:00] #35110 closed

[2019-12-15 21:19] alamothe opened #35713 "[formatter] Semicolon is not removed on class member with initializer"
*Template info added by @mjbvz*

**TypeScript Version**: 3.8.0-dev.20191216

**Search terms:**
- Format
- semicolons

---

Issue Type: <b>Bug</b>

This is a bug report for the built-in TypeScript formatter.

I set to remove semicolons:
[code]

However, semicolons are not getting removed on class variables with initializer. Simplest example:
[code]
After formatting:
[code]
If there is an initialize

[2019-12-15 21:38] ianstormtaylor opened #35689 "Destructuring optional function with default becomes right-most type of union? 😳"
**TypeScript Version:**  3.7.x-dev.201xxxxx

**Search Terms:** Destructuring, destructure, function, default, options, union

**Code**

[code]

**Expected behavior:** It should have the type as defined in the function's signature.

**Actual behavior:** It acquires the type of the right-most part of the union?

**Playground Link:** [Link](https://www.typescriptlang.org/play/?ts=3.8.0-dev.20191214#c

[2019-12-15 21:38] ianstormtaylor commented on #35689
I actually discovered this while trying to implement a filtering function that had the same semantics as `Array.filter` where you can pass either a narrowing predicate _or_ a simple `boolean`-returning function.

That case also fails:

**Code** ([Playground](https://www.typescriptlang.org/play/?ts=3.8.0-dev.20191214&ssl=1&ssc=1&pln=6&pc=2#code/MYewdgzgLgBAhmEUAWBTATjAvDAFCABygEtwIAuGAbwCgYYAzMAfkt

[2019-12-15 21:39] ianstormtaylor commented on #35689
And actually, here's a test case using a 3-part union, and it seems to take the last 2 parts. So instead of the "right-most" hypothesis, instead it seems to just skip the first entry in a union?

**Code**

[code]

**Playground Link:** [Link](https://www.typescriptlang.org/play/?ts=3.8.0-dev.20191214&ssl=1&ssc=1&pln=6&pc=2#code/MYewdgzgLgBFCm0YF4YAoQAcoEtwQC4YBvAKBhgDMwB+ItNANyIEMwBPAShQD4YAjECAA28

[2019-12-15 22:06] ilogico commented on #35689
`((v: string) => boolean) | ((v: any) => boolean)` (the order is irrelevant) is a function that can only be safely called with a `string`, hence it's equivalent to `(v: string) => boolean`.
`((v: string) => boolean) | ((v: number) => boolean)` is a function that can only be safelly called with `string & number`, so it's an uncallable function: `(v: never) => boolean`.

[2019-12-15 22:25] ianstormtaylor opened #35690 "Destructuring optional function changes type based on presence of default?"
**TypeScript Version:**  3.7.x-dev.201xxxxx

**Search Terms:** destructuring, destructure, function, optional, default

**Code**

[code]

[code]

**Expected behavior:** Whether the default is implemented as part of the destructure, or afterwards using an `undefined` check, it should result in the same type.

**Actual behavior:** For some reason the default with destructuring is narrowing the type

[2019-12-15 22:27] ianstormtaylor commented on #35689
Thanks @ilogico I think that explains part of it. But it still is exhibiting weird behavior that doesn't seem to add up. But this is my bad, I confused the whole issue by attempting the reduced test cases. I've opened https://github.com/microsoft/TypeScript/issues/35690 instead with just my core issue. Thanks!

[2019-12-15 22:27] #35689 closed

[2019-12-15 23:30] JoshuaKGoldberg opened #35691 "Codefix: removing inferable types"
## Search Terms

inferable types no-inferable-types no-inferrable-types removal

## Suggestion

It is somewhat unnecessary to add `:` type declarations for member, parameter, and/or variable types already inferable from code.

[code]

It'd be nice to have a codefix to remove them to clean up code.

## Use Cases

These unnecessary type declarations can easily get introduced in code as it gets chang

[2019-12-16 02:07] dolphinlin opened #35692 "property undefined check"
**TypeScript Version:**  3.7.2

**Search Terms:**

**Code**

[code]

**Expected behavior:**
Line 11 shouldn't be undefined, if i re-assign `s.notSignIn` to new var, the `undefined check` will be fine.

**Actual behavior:**

**Playground Link:**
https://www.typescriptlang.org/play/index.html?ssl=1&ssc=1&pln=14&pc=1#code/C4TwDgpgBAysBOECGBbC8AyBLAzsKAvFAN4BQUUAdgPbAxYDmlAkpQPwBcUe8WlDAbQC6AblIBfMaQB

[2019-12-16 03:21] jcalz commented on #35692
duplicate of #11498 and #9998

[2019-12-16 04:18] vilic opened #35693 "Destructuring an optional property with union containing literal type should not be widen if the default value is compatible with the union"
**TypeScript Version:**  3.8.0-dev.20191214

**Search Terms:** union, default value, literal, destructuring, optional

It surprised me a little bit not finding a duplicate myself. This is a frequent issue for us, though most of the time we can "fix" it with type assertion.

**Code**

[code]

**Playground Link:** http://www.typescriptlang.org/play/?ts=3.8.0-dev.20191214#code/JYOwLgpgTgZghgYwgAgGIHt

[2019-12-16 06:05] bruceauyeung opened #35694 "Unable to resolve signature of parameter decorator when called as an expression"
**Search Terms:**
searched `parameter decorator`, but found nothing related to this usage pattern
**Code**
i followed https://www.typescriptlang.org/docs/handbook/decorators.html to try to decorate class properties declared in constructor, but vscode gave me the error described as the title,  it's ok if i declare these properties in normal way( not declared in constructor parameter ) and decorate

[2019-12-16 07:35] Shigma opened #35695 "Unexpected intersection inferred from indexed type"
**TypeScript Version:**  3.7.2

**Search Terms:** type alias index signature intersection TS2345

**Expected behavior:** pass the type checks

**Actual behavior:** fail with a TS2345 error

[code]

**Related Issues:** #31445, #35613

**Note:** Although #35613 is marked as duplicated, I think a different approach than #31445 can be used to address this issue. Actually `data[key]` can be inferred as

[2019-12-16 08:01] dragomirtitian commented on #35695
Not really unexpected. Inside the function `K` can be any `keyof DataTypes`. This means that `data[key]` could be `((value: string) => void) | ((value: number) => void)`. Such a union is invokable only with an intersection of all possible parameter types (see [PR](https://github.com/Microsoft/TypeScript/pull/29011)). So this means the parameter would need to be `string & number`. Intersections of

[2019-12-16 08:12] Shigma commented on #35695
@dragomirtitian Thanks for your detailed explanation.

I know the inner logic now but my question is **can the inferred type of `data[key]` be just more specific** (from `Data[K]` to the definition of `Data[K]`), which may be easier to implement? I think it's different from #31445 and #30581.

[2019-12-16 08:14] jrieken commented on #35068
We need this for highlighting the correct range when previewing/going to a symbol. idk what the impact of a breaking protocol change is.

[2019-12-16 08:15] Shigma commented on #35695
Or, in other words, can we get actual typings for type parameters from indexed types (or inferences, however an index signature parameter type cannot be a union type)?

[2019-12-16 08:26] dragomirtitian commented on #35695
@Shigma I don't think there is any way to get the implementation types to work out except for a type assertion or using a separate implementation signature:

[code]
[Playground Link](http://www.typescriptlang.org/play/index.html?ssl=13&ssc=1&pln=10&pc=1#code/JYOwLgpgTgZghgYwgAgCJzHAKgTwA4QDOyA3gLABQyycAXMoWFKAOaXUBG9IArgLYdolAL6VKYfCnSZkAXlLtkAbQDSyUMgDWEHAHsYaDNkmEAuvQAUANzgAbHhHrTjBQqtMBKOQD5kV3

[2019-12-16 08:32] vjancik opened #35696 "tsc gives up on type inference & enforcement half way through the file (reproduced in playground)"
**TypeScript Version:**  3.7.3

**Search Terms:** `array element type checking`, `error type checking`, `stops checking function argument types`

**Code**
https://github.com/vjancik/dont-find-me-yet/blob/tsc-issue/src/index.ts#L63-L64
- fails to infer a possible Error type
- and if I set it explicitly (see Playground), fails to enforce it in

https://github.com/vjancik/dont-find-me-yet/blob/tsc-is

[2019-12-16 09:26] Ravnurin commented on #34801
@amcasey have you had a chance to look into the slowdown some more? I can appreciate it's probably one of those that'll take a fair bit of time to fix - If you need an additional sample repro let me know, happy to put something together.

[2019-12-16 09:51] madou commented on #14419
could this be raised as a PR to add proper support? :)

[2019-12-16 09:53] rusev commented on #35693
You should be using `let { bar = 'yo' as const } = {} as Foo;`, otherwise that `'yo'` is just string value rather than the literal type `yo`.

Updated example: https://www.typescriptlang.org/play/index.html?ssl=1&ssc=1&pln=77&pc=72#code/JYOwLgpgTgZghgYwgAgGIHt3IN4FgBQyyARnFAFzIDkAnulcgD7UAWcDzAriACYQygIPANwEAvgQIAbCGBwkyyALzU6DOAGdkCdCA1yxynIc1pMo-AVJRhyAPR3kEAB4AHCAjCgA5sgAG1n7IYFjEKH609Eys7H4ANC

[2019-12-16 10:02] jack-williams commented on #26980
There is the possibility that the current implementation relies on variance markers for conditional types, which are known to have bugs. When I've looked at fixing these issues I've run into problems where conditional types that were checked trivially now fail because they are checked structurally.

For instance, when investigating #31277 I got an infinite type error in something originating in `t

[2019-12-16 10:22] Doomisateur commented on #29024
Hello,
When I encountered these slowness problems, I was on an earlier version of Windows. However I had a failure on my computer and on my Windows at the beginning of the year which forced me to install a new version of Windows 10 and therefore also of my entire development environment. And since then, I have never encountered any problems with slowness on the new installation.
Sorry, I hadn't se

[2019-12-16 10:26] korall opened #35697 "Transpiling async/await to generators instead of es6-Generator-function for es6"
## Search Terms

async await es6 transpile generator
## Suggestion

If there was a compile option that i can tell the compiler to emit generators instead of es6-Generator-function when targeting es6.
## Use Cases

   I have to use 3rd-party libs that implemented in es6，so targeting es5 will not work. But i can't write  code with async/await when targeting es6 because the platform on which to run t

[2019-12-16 10:47] thw0rted commented on #14417
You don't need this to solve your specific use case.  You could just declare your class with `constructor(other: {name: string})` or `constructor(other: Partial<Entity>)` or even `constructor(other: Omit<Entity, "id">)`.

[2019-12-16 10:54] thw0rted commented on #16577
Are many people publishing uncompiled TS in NPM packages?  I was looking at this for my own internal use. I'm making libraries of common code shared between projects and figured NPM is a reasonable way to package them, and our team has moved to TS exclusively so I'd be happy to avoid having to compile the deps.  But it looks like the most common use case is to build the package to JS with separate

[2019-12-16 10:56] MicahZoltu commented on #16577
@thw0rted Sorry for not being clear, I meant:

[2019-12-16 10:56] QuantumInformation commented on #16577
If it will NOT be implemented, I will leave it to MS to close the issue now.

[2019-12-16 11:02] thw0rted commented on #16577
Ah, I get it now.  Yes, when I transpile (with `target: ES2018`) the emitted JS leaves the extension off of the import statement, but it works for me because the consumer is putting everything through webpack/babel and it must be filling in the missing extension for me.  I'm up to speed now.  It hadn't even occurred to me that my "package" wouldn't work natively in browser without a trip through w

[2019-12-16 11:30] topaxi commented on #30656
I'd be willing to take a stab at this, are the maintainers interested in this feature aswell?

[2019-12-16 11:31] deser opened #35698 "Declaration merging for interfaces defined in other module"
I have types generated by the graphql-code-generator. When I try to specify some properties of the interfaces I fail.

**TypeScript Version:**  3.7.3

**Search Terms:**
declaration merging
augmentation

**Code**
The code below would be augmented by the pictures explaining the issue.

[code]

As you can see module `shared/types/GraphQLSchema` has merged declaration so `type` property could be taken

[2019-12-16 12:21] acutmore commented on #21152
@shicks

This is already how `readonly` works, it isn’t silently upcast.

The reason there is no error is your example is because ‘{x:1} as const` produces the type `{x:1}` rather than `{readonly x:1}`.
The const modifier is only narrowing `number` to `1`.

[2019-12-16 12:22] mehlian opened #35699 "Optional chaining and assigning to array items"
**TypeScript Version:**  3.7.2

**Search Terms:**  optional chaining array items

**Code**
Is there any reason why I cannot do this:
[code]
and instead I'm forced to use something like this?:
[code]

**Expected behavior:**
a[0] doesn't exists, so assigning number 0 will be skipped.

**Actual behavior:**
Error: The left-hand side of an assignment expression may not be an optional property access.(2

[2019-12-16 12:38] viT-1 commented on #16577
@thw0rted I don't use webpack/babel, resolving .js from the box is problem for me.

[2019-12-16 12:50] j-oliveras commented on #35699
This is not supported by the specification. See https://github.com/tc39/proposal-optional-chaining#not-supported

[2019-12-16 13:15] thw0rted commented on #13778
All the other issues that run adjacent to this one seem to get redirected here, so I'll assume this is the best place to ask: is a shorthand syntax for optional index signatures off the table?  As @martpie points out, you have to write `interface Foo { [k: string]: Bar | undefined; }` which is less ergonomic than `interface Foo { [k: string]?: Bar; }`.

Can we get `?:` operator support?  If not, w

[2019-12-16 14:32] fabb opened #35700 "Type Error in Combination with Discriminating Union"
**TypeScript Version:**  3.7.2

**Search Terms:** discriminating union, types incompatible, not assignable

**Expected behavior:**

The code should compile.

**Actual behavior:**

**Related Issues:** None found yet.

**Code**

Note that this is a reduced example. My real-world use case uses the `schema-dts` json-ld library which provides the `Vehicle`/`Car`/etc. types.

[code]

Interestingly, modi

[2019-12-16 14:35] fabb commented on #35700
Same error on 3.8.0-dev.20191216

[2019-12-16 14:38] viktorku commented on #35651
I also have the same issue on the non-insiders version. TSServer is practically almost always running at 100% CPU load whenever I make some error.

Using TypeScript 3.7.2

[code]

[2019-12-16 14:54] richardkazuomiller commented on #16577
Sorry if I’m repeating what others have said, but this is something I deal with every day so I’d like to throw in another of my unsolicited two cents.

I know that TypeScript doesn’t have to cater to any particular environment (Node.js, Webpack, etc.) but the fact is that there are a lot environments where the extension is always necessary, unless otherwise specially configured, so I don't think t

[2019-12-16 15:07] kasperpeulen commented on #30488
We have the same problem, especially for factory constructors. We came with this workaround. Say we have the interface Message:

[code]

And you have a factory constructor, that just provides some defaults:

[code]

We  use this OptionalKeys type utility, to make sure the default values are marked as optional:

[code]

[2019-12-16 15:09] rulatir commented on #18442
You forgot the "compile it" step giving the exact `tsc` command line that is required for this to work. It most certainly doesn't work with just `tsc` as of node 13.3.0 and tsc 3.7.3.

[2019-12-16 15:13] yoursunny commented on #16577
Currently I write `import` lines without .js extension, and then use **sed** to add .js extension in output files.
https://github.com/yoursunny/NDNts/blob/9f50fcec245b33c7649fa815bbb3dd404eee160e/mk/build.sh#L12-L14
I have to delete SourceMaps during the production build, because they would no longer match after output files have been modified.

I can't write .js extension in .ts source files beca

[2019-12-16 15:15] dcermak commented on #35412
Can this please **not** be closed? Imho this is an area where the typescript compiler could improve.

[2019-12-16 15:18] leonardojimenez commented on #390
+1

[2019-12-16 15:53] kingdaro commented on #13778
`type Foo = { [_ in string]?: Bar }` also works. Not as pretty, but fairly terse. Could also make your own `MaybeRecord` type if you wanted. Wouldn't argue against a `?:` extension, though

[2019-12-16 16:01] thw0rted commented on #13778
This is beginning to feel like one of those "Javascript: The Bad Parts" talks:

[code]

[2019-12-16 16:07] radix commented on #13778
Using `T | undefined` for the type signature is really not useful. We need a way to make it so that the index operator `[n]` has a `T|undefined` type, but e.g.  using `map` on an array should *not* give us `T|undefined` values, because in that situation we should know they exist.

[2019-12-16 16:21] oscsx opened #35701 "Generated code when re-exporting a const enum inside a namespace using "preserveConstEnums": true leads to a runtime error"
**TypeScript Version:**  3.8.0-dev.20191216

**Search Terms:** const enum import export preserveConstEnums

**Code**

MyEnum.ts
[code]
ImportExportInNamespace.ts
[code]

App.ts
[code]

Compile the above using
[code]

**Expected behavior:**
ImportExportInNamespace.ts compiles to
[code]

**Actual behavior:**
ImportExportInNamespace.ts wrongly compiles to
[code]
i.e. we are missing
[code]
If I change

[2019-12-16 16:29] viT-1 commented on #16577
@yoursunny Yes, sed is variant (I was used it too but prefer [replace-in-file](https://github.com/viT-1/vue-class-wretch/blob/dcbc042c567b4b318c78321f2762d1879462e266/package.json#L40) because of config which can be configured by importmap file mapping) to replace strings in generated js-files, but it smells not well =) May be adding extensions will be useful feature/option for ttypescript with tr

[2019-12-16 16:34] SephReed commented on #14419
Hey.  For what it's worth, there's a bundler called fuse-box which makes it very easy to add custom transformers.  Its 4.0 version is coming up soon... so it's in an in-between spot.  But overall, I really like the bundler.  Maybe it can help you too.

https://github.com/fuse-box/fuse-box/blob/master/docs/plugins/pluginCustomTransform.md

[2019-12-16 17:03] 1000hz opened #35703 "Add second type parameter to Partial<T>, Required<T>, and Readonly<T> to selectively modify properties"
## Search Terms

`Partial Required Readonly` `mapped types`

## Suggestion

Currently `Partial<T>` `Required<T>` and `Readonly<T>` apply their modifications wholesale to all properties of `T`, but oftentimes this is more than what you intend. We should consider adding a second type parameter to limit the properties affected by the modifier.

[code]

## Use Cases

Oftentimes it's necessary to make

[2019-12-16 17:07] sandersn commented on #26980
Erm, I was the one who merged that test. My intent in adding it to the test suite was not, **_not_** to support recursive types. It was to let us (and anybody who wants to follow [our user tests](https://github.com/microsoft/TypeScript/issues/33716)) know when we break the latest workarounds. That is, we'll consider that test passing even if there are compilation errors or OOMs.

We have a recursi

[2019-12-16 17:09] justinfagnani commented on #16577
@richardkazuomiller this part isn't true:

TypeScript only:
  1. Allows for Node-require-style module resolution (they should expand this to allow for Node-import-style resolution, which requires file extensions).
  2. In the same compilation unit, resolves .js files to a .js/.d.ts pair even before they're generated by the compiler.
  3. Doesn't modify the import specifiers _at all, ever_.

So the

[2019-12-16 17:10] justinfagnani commented on #16577
@yoursunny did you file a bug against `ts-jest`? They're diverging from the de facto TypeScript standard here. Also seems like a bug in Coveralls if it can't utilize source maps on the .js files.

[2019-12-16 17:23] ahejlsberg commented on #35638
The issue here is that we need to perform full overload resolution to understand the effects of the calls to `Debug.assertNode` (only for a non-overloaded, non-generic method can we understand the return type without having to resolve the parameter types). And because overload resolution needs to know the types of `visited` and `visitedNode`, we end up with circularities. Not clear there's much mo

[2019-12-16 17:26] ahejlsberg commented on #35683
@falsandtru Please restrict yourself to comments that are relevant to this issue. Thanks!

[2019-12-16 17:42] AnyhowStep commented on #26980
I don't think ts-toolbelt is trampolined. I can say I have not noticed a negative impact on performance due to trampolines, though.

Trampolines can be an important workaround, even when recursive types are not deeply nested. In the above linked issue, I only had a recursive type doing **two** iterations and TS still gave up (unless assigning the result to a temporary variable).

With the trampoli

[2019-12-16 17:43] nonara commented on #14419
The TS team has expressed that they do not want to provide this as a native feature. Their reasons for the decision make sense!

The good news is that because TS is open source and is already compiled in a modular fashion, ts-patch behaves in a way very much like it would if it were built in. So it's not like a buggy reverse engineered bytecode patch.

If by support, you're concerned over it being

[2019-12-16 18:32] yoursunny commented on #16577
No, because I don't fully understand how ts-jest resolution works.

Coveralls receives an lcov report from my build process, and then displays code coverage using files committed to GitHub.
I do not commit output .js files to GitHub. If I run unit testing on .js files, the lcov report will reference the .js files that do not exist on GitHub.
Therefore, Coveralls are unable to find the source files

[2019-12-16 18:44] yvbeek commented on #35627
**Naming**
Perhaps `Merge` isn't the right word for it, alternatives could be: `Join`, `Combine` or `Blend`?
I chose `Merge`, because it feels related to [declaration merging](https://www.typescriptlang.org/docs/handbook/declaration-merging.html).

**Different ways of merging**
I don't think that it should matter what the left or the right operand is. If you want to do an intersection you can prob

[2019-12-16 19:01] macabeus opened #35704 "Narrowing type with boolean algebra"
## Search Terms

- narrow type
- boolean algebra

## Suggestion

I know that TypeScript doesn't do any boolean algebra, but would be very nice to add support for this, even for simple operators, such as `!`.
With that we could write more readable and safer code.

Related:
- https://github.com/microsoft/TypeScript/issues/26852#issuecomment-417969294
- https://github.com/microsoft/TypeScript/issues/

[2019-12-16 19:06] AnyhowStep commented on #35627
Your use cases just don't seem common or general enough, imo. But maybe others will feel differently.

[2019-12-16 19:20] dragomirtitian commented on #35704
Nitpick: You need to check the items in the guidelines checklist not come up with your own check list (I would say this feature request probably checks the items in there but you should go trough them to make sure)

[2019-12-16 19:24] pirix-gh commented on #26980
Nope, it's not trampolined, one of my goals was keep ts' memory as sane as I can. Recursive types do get limited by the compiler when they get too complex **internally** (instantiation depth). What I do for recursive types, and that is what @sandersn means by workaround, is that I use:

[code]

This is in a sense a mini-trampoline, to allow combining recursive types together without hitting that i

[2019-12-16 19:25] jcalz commented on #35704
I can't reproduce the issue, either.  The following works as I expect:

[code]

[Playground link](http://www.typescriptlang.org/play/#code/C4TwDgpgBAKggmAlgJQgZzAewHZugXigG8BYAKCkqgDcBDAG0QBMAuKAMwbwBpyqoIAJ0GZBAWXRpaAcwhs0wQYmzTyAXygAfcqQpU6jVlEUBXCLz2UDZtthMBbAEZD1fKOXYnsAY2CIcUAAW9vYAFILoJvTAbPBIqBg4eACUxG6UiOxQoQCEEWhRwAB0Bsypuvz8DELA4ZHRRUIi4pIyEMkA3FAA9N1QAO6iANZo6ZURwCaC2B1jamPeSZj0EEX0mNJ1

[2019-12-16 19:26] pirix-gh commented on #26980
I think trampolines belongs to a separate PR. I'd be interested to see memory performance on them @AnyhowStep.

[2019-12-16 19:26] macmillan78 commented on #34933
I have a similar issue with grommet-icons v4.4.0:

If I use the trash icon directly, all fine. If I wrap it with styled from styled component, I get the same message. No problem until typescript 3.5.2.

No Problem:

[code]

Problem with 3.7.2:

[code]

[2019-12-16 19:33] AnyhowStep commented on #26980
I've seen that `infer X` trick fail in many (of my) use cases. Which is why I opt for a full trampoline nowadays.

[code]

[code]

[2019-12-16 19:35] MeirionHughes commented on #14419
After writing a plugin I can appreciate why the ts team are hesitant - the current transformer is a post-compile step. You run into nasty problems if you do anything complicated and start adding new content that wasn't originally binded. As it stands, `ts-node --compiler ttypescript foo.ts` works perfectly fine. I'd rather the ts team deal with transformer plugins at different compilation steps...

[2019-12-16 19:43] jcalz commented on #35703
But what about this?  Currently:
[code]

With proposed change:
[code]

[Playground link](http://www.typescriptlang.org/play/#code/GYVwdgxgLglg9mABMOcA8AVAfACgJSIDeAsAFCIWIQIDOUiAXgFyIAKAhgE6zsA2mWRAF4iAX0QB6CYjgBrdgE8yosmTDsAtgFMaAB3YQtiALJwAJjGAwtZgCJarYGLFpEylRFAW6jHbjD5MABpEAGlELQAPKC0wMxpEWS0FOGBEDGFE5NT0wREAeQ1nYLDBADI3cg9KAG1WRBgkUIBdAH4WDDrmgG53SlFe0j6KLx9EACUtAEcQGE4bEvComLiEpJS0jJF1nOxMwu

[2019-12-16 19:47] AnyhowStep commented on #26980
https://github.com/AnyhowStep/ts-trampoline-test

[2019-12-16 19:53] riggs commented on #13778
@radix For the actual functions on Array, I don't think this will be a problem because they all have their own type definitions that output the right type: e.g. `map`: https://github.com/microsoft/TypeScript/blob/master/lib/lib.es5.d.ts#L1331

The only common code usage that the `| undefined` construct poses an actual regression of experience is in `for ... of` loops. Unfortunately (from the persp

[2019-12-16 19:56] nonara commented on #14419
Transformers can run either before or after TSC compilation. It sounds like what you may be referring to is that the checker doesn't update after modifying nodes. This can actually be circumvented, the functionality just wasn't built out for it. When you invoke ts.transform(), it doesn't create a full Program instance for you to work with, so if you want to work with the checker, you need to creat

[2019-12-16 20:09] pie6k commented on #16069
Wow! @robertmassaioli this is cool!

![image](https://user-images.githubusercontent.com/7311462/70939299-f54ba980-2015-11ea-94c9-450d0e74ae34.png)

[code]

[2019-12-16 20:20] dragomirtitian commented on #35703
I also worry about adding more complexity to the built-in types, it might make them harder to understand for beginners.

[2019-12-16 20:36] #34982 closed

[2019-12-16 20:39] macabeus commented on #35704
@jcalz I have this on Visual Studio Code:

![image](https://user-images.githubusercontent.com/9501115/70938973-34422500-203f-11ea-95d5-9ccd2014ae3c.png)

And it fails:

[code]

And very weird... I'm trying to reproduce this same error on playground, but I can't.
This is a code more similar with the code that I'm developing and have this error (unfortunately, I can't disclose the repository): [play

[2019-12-16 20:41] Mickael-van-der-Beek opened #35707 "Function signature confusion after ternary operator"
I'm expecting this to not be a bug but I can't seem to figure out what else it could be.
Basically I'm trying to create a `(TLS)Socket` instance using the core Node.js `net` or `tls` modules depending on a condition.
Instantiating them by directly referencing the module works fine but whenever I introduce a level of indirection by conditionally defining the TCP client module, compilation breaks.

[2019-12-16 21:39] icopp commented on #25600
I still don't understand why the project references functionality is requiring me to build `.d.ts` files that aren't actually used for anything else just to get `tsc -b` to work for other packages in a working monorepo setup, when type inference in VS Code works fine without ever creating those `.d.ts` files. I feel like there's some total disconnect here in intended functionality that I just don'

[2019-12-16 22:10] sheetalkamat commented on #35605
So not generating new build is intended behavior, refer to #30602
To make matters clear, if we change the modified time for the files, it should not mark them as emitted files.

[2019-12-16 22:12] hazae41 opened #35712 "Pipeline Operator but for Generic Types"
## Search Terms

pipeline operator
generic types

## Suggestion

A pipeline operator but for generic types

## Use Cases

This would be less ugly and more readable

## Examples

The following

    Promise<Signed<Message<String>>>

would become

    Promise of Signed of Message of String

On an interface

    interface Duck {
        quack(): Promise of String;
    }

## Checklist

My suggestion me

[2019-12-16 22:13] QingqiShi commented on #34801
Here's something to try as a workaround if you have a beefy machine:

- go to `Settings` in VSCode, and search for 'typescript memory', increase `TypeScript › Tsserver: Max TS Server Memory` to something like `8192`.

I haven't had the opportunity to test this more extensively so if it works please let everyone know :)

[2019-12-16 22:21] adekau commented on #35704
What is your workspace typescript version? (Displays bottom right of VSCode)

[2019-12-16 22:23] macabeus commented on #35704
@adekau My TypeScript version is 3.7.2

[2019-12-16 22:27] mjbvz commented on #22912
Returning a more minimal set of edits is important in cases where the edits aren't fully sorted as well: https://github.com/microsoft/vscode/issues/86851

As it stands, VS Code can have difficulty maintaining cursor position when the entire edit block is replaced

[2019-12-16 22:48] ark120202 commented on #35704
@macabeus it's reproducible on playground when `strictNullChecks` flag is disabled. That's a valid error though, because without that flag it's possible to specify `valid: undefined` for both states.

[2019-12-16 22:50] trusktr commented on #35339
Well it should, if the inference is treating the generic type like a "preprocessor", which I think is the case in other cases, as far as I've noticed. The problem is that if it wasn't the case with this particular case, then now it is a breaking change fixing it.

I know they're not preprocessors exactly (they aren't transpiled to alternate source in a precompile step), but in some cases I've seen

[2019-12-16 22:54] trusktr commented on #35339
I just don't remember where I've seen this preprocessor behavior before, but I do remember that it happens when no generic args are supplied to the generic type.

@dragomirtitian was helping me with class-factory mixins, when I noticed it at some point. At least, it was the only way that I could explain what I saw at the time. @dragomirtitian Do you remember if/when types are treated as preprocess

[2019-12-16 22:58] trusktr opened #35715 "class-factory mixins in type declaration files are impossible. (allow implicit return types in declaration files somehow)"
## Search Terms

When the compiler is set to emit declaration files, class-factory mixins are no longer allowed. This is yet another issue that prevents class-factory mixins from being adopted in library code that need to be publish as JS with sibling declaration files.

## Suggestion

Allow implicit return types to be somehow representable in declaration files.

## Use Cases

Enables many use cas

[2019-12-16 23:03] karol-majewski commented on #6579
Use case: stringly-typed DOM APIs like [`Navigator.registerProtocolHandler()`](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/registerProtocolHandler).

Quoting MDN:

In other words, `Navigator.registerProtocolHandler()` expects either a well-known `string` or a custom `string` but only if it conforms to a specific schema.

[2019-12-16 23:09] trusktr commented on #35339
Deleted my previous comments, I was thinking something else. Yeah in @fatcerberus's example,

[code]

it seems like the generic args for `foo` should first be inferred, then that should guide inference for `bar`.

[2019-12-16 23:21] DanielRosenwasser commented on #35699
This is technically not the appropriate venue to discuss it (since it's just part of the ECMAScript feature, not TypeScript) - but just curious, what would you want to happen?

[2019-12-16 23:27] mjbvz opened #35716 "High cpu usage with mobx project on windows"
**TypeScript Version**: 3.7.3

**Search terms:**
- Cpu
- React

---

I can reproduce with the following steps (Windows 10 - vscode 1.41 system setup)

- clone and yarn install https://github.com/blikblum/lit-element-mobx-realworld-example-app
- go to https://github.com/blikblum/lit-element-mobx-realworld-example-app/blob/master/test/dummy-superagent.js
- Start a import statement and try to launch

[2019-12-16 23:29] macabeus commented on #35704
@ark120202 Oh, thank you! I didn't know about this config. Very thank you.
I'm closing this issue.

[2019-12-16 23:29] #35704 closed

[2019-12-16 23:30] rbuckton commented on #35307
I'm having a hard time reproducing this. Are you able to craft a minimal repro that does not require imports/logic specific to your project? The repro I attempted to create seems to work fine when debugging and breakpoints are hit, and I've verified that the source maps in question properly line up with between the original sources and the generated outputs.

![image](https://user-images.githubuse

[2019-12-16 23:32] mjbvz commented on #35716
@blikblum Can you please follow [these instructions](https://github.com/Microsoft/vscode/wiki/Performance-Issues) to collect performance information about which process is causing the high cpu usage. Share the output of `code --status`

[2019-12-16 23:33] shicks commented on #21152
This seems like sufficient scope for its own feature request, no?

[2019-12-16 23:48] blikblum commented on #35716
After adding import 'sup|' Ctrl + Space.

The affecting is electron_node tsserver.js. It remains with that cpu usage until close app. BTW the cpu is somewhat new and powerful

[code]

[2019-12-16 23:53] trusktr opened #35717 "[3.7.3] TypeError: Cannot read property 'kind' of undefined"
**TypeScript Version:**  3.7.3

**Code**

[code]

**Expected behavior:**

TypeScript should give a type or syntax error

**Actual behavior:**

tsc crashes with the runtime TypeError.

**Playground Link:**

[playground](http://www.typescriptlang.org/play/?ssl=3&ssc=2&pln=1&pc=1#code/KYDwDg9gTgLgBAYwDYEMDOa4DEITqGYAOwBNMAhFKOAbwCg44BzJCAIxSTgiLoF8gA)

See the console, and try writing anything after

[2019-12-16 23:53] mjbvz commented on #35716
Where are you seeing the high cpu usage? The output of `--status` shows it at 13%. Or is the issue that it never drops to zero even if you never interact with the code?

[2019-12-17 00:12] blikblum commented on #35716
Both in windows task manager and vscode process explorer.
The windows task manager is a bit higher with variation between 16% and 20%. This is a quad core i7 desktop cpu so is taking almost all cpu usage from one core.

Also the CPU FAN starts spinning continuously.

Finally, the task (autocomplete the import) does not complete.

[2019-12-17 00:14] andrewbranch commented on #35067
This is a better description of the problem, but it is indeed a duplicate of #24645.

[2019-12-17 00:15] mjbvz commented on #35716
@blikblum Thanks. One last thing to try: upgrade your workspace to use `typescript@next` by installing [this extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-typescript-next)

Does that fix the issue?

I haven't been able to repo this on my machine. CPU usage is high for a little when we first load the project while but then drops off

[2019-12-17 00:21] devlato opened #35719 "Make the type of caught errors unknown instead of any"
## Search Terms

catch
unknown
any
catch statement
catch type

## Suggestion

Hey, I've noticed that the type of a caught error is `any`. Should it be `unknown` instead?

## Use Cases

I think the `any` type makes no real sense in terms of helping process the errors. The `unknown` has been designed in order to help devs ensure that they narrow down the types properly when the real type is unclear.

[2019-12-17 00:24] blikblum commented on #35716
Yes. Autocomplete is instantaneous and no CPU usage. Max is 4% in window task manager

[2019-12-17 00:50] ahejlsberg commented on #35690
This is working as intended. The type `(value: any) => value is T` is a subtype of `(value: any) => boolean`, so the union type `((value: any) => value is T) | ((value: any) => boolean)` is reduced to just `(value: any) => boolean` the minute we perform subtype reduction. We specifically *don't* perform subtype reduction on explicitly written types, but in a destructuring declaration that includes

[2019-12-17 00:52] king-sam-perez opened #35720 "Declaration files generated by tsc output `any` for all fields for nested yup schemas"
Posted in Yup's repo as well [here](https://github.com/jquense/yup/issues/726) since I'm unsure of the root cause.

Hi Typescript,

I am attempting to use yup to define schemas and associated typescript types. When I try to generate typescript declaration files for the schemas that I've written, I've noticed that the type information for any nested schemas is being lost and converted to any.

I've

[2019-12-17 01:11] ianstormtaylor commented on #35690
@ahejlsberg how can you implement a filtering argument to a function that will narrow the return value without using a predicate type?

For example if you wanted to allow walking `Node` values in a tree, but for people to be able to pass in a filtering function so that the return is `SpecificNode` (a subtype of `Node`) instead. (This seems like what `Array.filter` does?)

[code]

Maybe I'm thinkin

[2019-12-17 01:19] #24737 closed

[2019-12-17 01:52] ianschmitz opened #35721 ""export { default } from" syntax doesn't error when no default export present"
**TypeScript Version:**  3.7.3

**Search Terms:** export default

**Code**

Does not throw an error:

[code]

But this does throw an error:

[code]

**Expected behavior:**
Shorthand `export { default } from` syntax should error in the same way `import foo from` syntax does when no default export is present.

**Actual behavior:**
Shorthand `export { default } from` does not error as expected. I not

[2019-12-17 02:38] jcalz commented on #35707
This is essentially a duplicate of #7294 (this part of which has not been fixed by #29011).  If you have a union of function types and more than one of the members of the union is overloaded or generic, the compiler won't let you call it.  You need to help the compiler out by manually annotating the union as a single callable signature it can verify, e.g.,

[code]
[Playground Link](https://www.typ

[2019-12-17 03:34] evg656e commented on #24587
Can't imagine how it could be marked as "work as intended", since we have this "TypeScript is a typed superset of JavaScript" on main page. This is definitely a bug in a type system and should be fixed somehow.

[2019-12-17 04:00] mordka commented on #31248
Same problem in WebStorm https://intellij-support.jetbrains.com/hc/en-us/community/posts/360003579280-IntelliJ-node-processes-using-a-lot-of-CPU-on-TypeScript-project-IntelliJ-performance-suffers-?flash_digest=13598a0eb3a2ffbcf8004d50e974872587e71957

Disabling tsserver in WebStorm fixes the excessive CPU usage

[2019-12-17 04:05] madou commented on #35686
hi is @rbuckton going to be working on this? if not is there any pointers you can give me to fix this? 😄

[2019-12-17 06:12] MrEfrem commented on #30445
When is planning to implement this?

[2019-12-17 08:09] MartinJohns commented on #35719
It would be a heavy breaking change, and that's why it wasn't changed.

[2019-12-17 09:37] frenic commented on #6579
CSS Custom Properties for [CSSType](https://github.com/frenic/csstype) is another use case to provide closed types for all properties except for those prefixed with `--`.

[code]

[2019-12-17 09:55] dragomirtitian commented on #32236
@RyanCavanaugh  This seems to affect not just enums. If the computed property is `string` it basically gets ignored in the spread:

[code]
[Playground Link](https://www.typescriptlang.org/play/?ssl=5&ssc=12&pln=5&pc=36#code/CYUwxgNghgTiAEEQBd4HsBc8De8BmAliBMAIxYB2ArgLYBGIM8AvgNwBQoksCSqA1iACeWAM7IYBCgHMO7NPAC8OeADp1aADTwA2oKEBdLACIAblAhUQxlq3jwA9A-T94AfngB3ABZD37PngKEE8AeSUVdVUtXX0jeDMLKxs2eyd4USg

[2019-12-17 09:55] itmayziii commented on #29642
Another example below in case it helps.

http://www.typescriptlang.org/play/?noImplicitReturns=false#code/JYOwLgpgTgZghgYwgAgArAQawK4AcAickAzsgN4BQyyA2phAJ4BcyxYUoA5gLotm31myENgC2AI2i9khSMgC+yAD7JsIACYQYoCOoryKVZDDUIwwAPYhjodeix5ZKABS4MOAkQjEW9j0+IAGmQ4dXUobx9Wdi5g2wgADxYRCWgAShYnZVUNLR11ciNqYBhkZwBCNwdPEhpQ8MjuZRVK90cvYjqwiOJibhp4hO40wuox5AiwbCgQIoVDccnp6yr-Dq6G3v7B7iMDIA

[2019-12-17 10:01] vilic commented on #35693
@rusev I am not looking for a workaround though. The compiler itself should just do the job without extra hint.

[2019-12-17 10:06] Mickael-van-der-Beek commented on #35707
Thank you for the quick and complete answer. I'll keep an eye on the related issues as well. This can be closed.

[2019-12-17 10:06] #35707 closed

[2019-12-17 10:29] tangjfn opened #35724 "function arguments pass by name"
## Search Terms

## Suggestion

## Use Cases

function test(a: string, b: number):void {
}

test(b:100,a:"100"); // js: test("100", 100)

## Examples

## Checklist

My suggestion meets these guidelines:

* [ ] This wouldn't be a breaking change in existing TypeScript/JavaScript code
* [ ] This wouldn't change the runtime behavior of existing JavaScript code
* [ ] This could be implemented without

[2019-12-17 11:04] dragomirtitian commented on #35724
This proposal does not statify this guideline:

[2019-12-17 11:24] busyscout opened #35725 "Null Coalesce Operator Breaks Syntax Highlight in Visual Studio 2017"
Null coalesce operator breaks syntax highlighting in VS2017.
Example:
[code]
VS 2017
![VS2017 Null Coalesce](https://user-images.githubusercontent.com/23096209/70991539-b3d00280-20d8-11ea-82a1-9df15f6c8ecb.png)

VS 2019
![VS2019 Null Coalesce](https://user-images.githubusercontent.com/23096209/70991607-d95d0c00-20d8-11ea-8edd-b471db9e5c4e.png)

Typescript 3.7.3.

[2019-12-17 12:31] OxleyS commented on #29919
Problem still exists in Typescript 3.7.2. Looks like a bug. Simple reproduction: [Playground](https://www.typescriptlang.org/play/#code/C4TwDgpgBAClC8UDaBnYAnAlgOwOYBopsBXAWwCMJ0BdAbgFgAoJgehagElsBjAG2IAmEFFHQQAjsUxjSEbMBEAzAPbpkABmqEkARi1Rec3MAAWhMMrCEIwbgDomoSFACyCKAG9kAaSg4oANYQIMqKsNQAXLBI3tRQAL4MzIzcythoUIo67gAUdvlgAIbohaQoUTAAlAgAfFBFJWVImrRQbFAA8t5MqenAmQBMufl2DaXlrtXwdWNNLW3sAKLo6KpRAErC-b

[2019-12-17 12:52] aaabinbin opened #35726 "interface extends Array need initial index key"
I want to achieve a fixed size array
[code]
But when I remove `0: T`, it throws a error, and Array has defined `[n: number]: T`, what does '0' means.
[code]

[2019-12-17 12:57] dragomirtitian commented on #29919
@OxleyS Actually the original problem was solved, if you go through a generic mapping type the result will be a tuple:

[code]
[Playground Link](https://www.typescriptlang.org/play/?ssl=7&ssc=49&pln=1&pc=1#code/C4TwDgpgBAClC8UDaBnYAnAlgOwOYBopsBXAWwCMJ0BdAbgFgAoJp0SKAWQB4AVAPgRQA3sgDSUHFADWEEAHsAZlB7UAXMqSjqUAL4NmjAMZzsaKAoCMggBQA6e2ACG6R6RTqYASgQCnLt0gADHRQAPShUADyokzGpsDmAEw29rZ+ru6cXDB83vC+zhlB

[2019-12-17 13:02] rusev commented on #35693
I'm 100% with you, but I think this is intended behavior :).

[2019-12-17 13:02] dragomirtitian commented on #35726
Why not use a tuple type ?

[code]
[Playground Link](https://www.typescriptlang.org/play/#code/C4TwDgpgBAggTnAhiAaogNgV2gXigckXygB8CAjfAWAChRIoAxAe2ajwG14lUNsAaWAmRosEALq0AxswB2AZ2BQAZqwCMALiat2UDoXyD8lcQG4gA)

My guess as to the error is that typescript uses the presence of a numeric `0` property as a marker to for inferring tuples from array literals. When inferring a tuple the `length` property

[2019-12-17 13:07] blikblum commented on #35716
It was working fine until i found a new reproducible situation:

Checkout https://github.com/blikblum/slick-router/tree/vscode-cpu-test

Go to line https://github.com/blikblum/slick-router/blob/vscode-cpu-test/lib/router.js#L424

Put cursor after `disposeIn`. Press Ctrl + Space: a "Loading" box appears, CPU goes high indefinitely and CPU FAN starts to spin

I tested three times in a row and all th

[2019-12-17 13:09] dragomirtitian commented on #34898
@DanielRosenwasser will you be adding the feature list to the [Roadmap](https://github.com/Microsoft/TypeScript/wiki/Roadmap)? It is very useful to have a single spot with all major features in each version.

[2019-12-17 13:10] Akimotorakiyu opened #35727 "Feature: visualize tool"
## Search Terms

visualize
## Suggestion

visualize tool
## Use Cases

teaching、debug or some activities need simple, clear and dynamic display

## Examples
Please have a look at the gif below

![loop-over-python-list-animation](https://user-images.githubusercontent.com/31165554/70997869-e7c71a00-2110-11ea-8801-76739ab549d9.gif)
## Checklist

My suggestion meets these guidelines:

* [x] This would

[2019-12-17 13:33] HosseinAgha commented on #35647
@RyanCavanaugh I understand the classic OOP argument:

[code]

You are right, I did not consider [`string/numeric literal types`](https://www.typescriptlang.org/docs/handbook/advanced-types.html#string-literal-types) when I made my argument. In other words I considered `string` (and any other Basic Type) not extendable.

So in a language without `string/numeric literal types` the `T extends string

[2019-12-17 13:54] RReverser commented on #29919
I was about to raise a new issue, but it sounds like the same issue as described in the last comments? [Playground](http://www.typescriptlang.org/play/index.html?ssl=1&ssc=1&pln=12&pc=31#code/PTAEDEHsCdQZ0gWwKamsghggdqD9kAHDaDAF1QAtkAbQ5WAdxgGs493kAPegYwoAmAGjTJEGQoQCW2AOagAVgFc4ZUGWrqlhGqikVEcAHQAoMgE96oALISACiQyGAErXrQAPAEEAfKAC8oADeoADaANKgMqAsyOaQAGagXgC6AFzwZNAy8gC+ANxmlqi2hA6khh7goNwU2ALsABR

[2019-12-17 14:14] MartinJohns commented on #35727
That seems like something that goes way beyond the scope of TypeScript.

Nothing prevents you from creating such a tool, and I think the resources of the TypeScript team are better used to improve the language and the compiler.

[2019-12-17 14:16] MartinJohns commented on #35724
Duplicate of #467.

[2019-12-17 14:22] xiaoxiangmoe opened #35728 "Namespace as first-class citizen"
## Search Terms

namespace, functor
## Suggestion

Namespace as first-class citizen

## Use Cases

higher order namespace

## Examples

[code]
## Checklist

My suggestion meets these guidelines:

* [x] This wouldn't be a breaking change in existing TypeScript/JavaScript code
* [x] This wouldn't change the runtime behavior of existing JavaScript code
* [x] This could be implemented without emitting

[2019-12-17 15:13] AnyhowStep commented on #35647
[code]

There's `never`, `"sd" & { aBrandType : void }`, etc.

[2019-12-17 15:20] HosseinAgha commented on #35647
Thank you @AnyhowStep.
1) looks right. Although `"sd" & { aBrandType : void }` is a little bit strange (I guess everything is an object in JavaScript 😃)
---
2) what does `const a = { p1: 12, p2: 'sdsdf' } as const` mean?
---
3) `T could be { _id: string }`: isn't this enough to resolve this conditional type `keyof T extends '_id' ? string : number;`?

[2019-12-17 15:38] lingz commented on #34119
FWIW, I tracked down the bad declarations using an emit only build, and then used a file size explorer to determine which files were slowing the build down. This got my build a 3x speedup (70secs -> 20secs)

`tsc -p ./tsconfig.base.json --declaration --emitDeclarationOnly --extendedDiagnostics --declarationDir ~/Temp/declarations`

I used Disk Inventory X and found big files and cut them down.

Be

[2019-12-17 15:44] lingz opened #35729 "Build watch takes 30x as long as cold build, high transformTime"
**TypeScript Version:**  3.7.3 and 3.4.5

**Search Terms:** transformTime, Watch, Slow compilation

**Code**

When building our source code, we can do a cold build in about 25 seconds, but a watch build takes 15 minutes to start on Typescript 3.4.5. On Typescript 3.7.3, the watch time doubles to 30 minutes (60x as slow).

Running extended diagnostics shows that the vast majority of the time (96%)

[2019-12-17 15:55] jcalz commented on #33471
crosslinking to #29729

[2019-12-17 16:04] AnyhowStep commented on #35647
It's a "const assertion"

http://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-4.html#const-assertions

-----

If `T` is `{ _id : string, x : number }`, then `keyof T` is `"_id"|"x"`.

`"_id"|"x"` does not extend `"_id"`.

It is possible for the conditional type to evaluate to the `true` branch. Also possible to evaluate to the `false` branch. It depends on what `T` is.

[2019-12-17 16:38] osdiab commented on #32236
@dragomirtitian i think technically that’s ok because the resulting object may have other keys but still satisfies the interface that the object type specifies - though it’s also the case that applying that key-value pair may cause an existing key on the object to have an incorrect value type, which is unsound

[2019-12-17 16:52] mehlian commented on #35699
I expected that assignment will be skipped and no property will be created (no side effects).

[2019-12-17 17:33] #35727 closed

[2019-12-17 17:54] minestarks commented on #33718
This impacts VS. @RyanCavanaugh  can we take it for 3.8 beta?

[2019-12-17 18:37] jamiebuilds commented on #35501
Here is the simplest possible replication of this I could come up with: [[Playground](https://www.typescriptlang.org/play/index.html?ssl=1&ssc=1&pln=13&pc=1#code/JYOwLgpgTgZghgYwgAgMJwDYYEaINbIDeAUMmcgBQBumArhAFzIi0C220AlE3CAJ6ly1Oo2QBnMFFABzbsl4CAvsWIxaIBGGAB7EMhggKCTDnxN0WXAjycixAJAB6R8gB074stWGaGesgBeAD47Jxd3V09OYiA)]

[code]

<details>
<summary>Here is a real world example: [<a href="https://w

[2019-12-17 18:43] gaeulbyul opened #35732 "some HTML entities in JSX emits incorrect unicode literal"
**TypeScript Version:**  Nightly

**Search Terms:** JSX entities, HTML entities

**Expected behavior:**
[code]

**Actual behavior:**
[code]

**Related Issues:**

**Code**
[code]

<details><summary><b>Output</b></summary>

[code]

</details>

<details><summary><b>Compiler Options</b></summary>

[code]

</details>

**Playground Link:** [Provided](https://www.typescriptlang.org/play/?jsx=2&ts=3.8.0-d

[2019-12-17 18:45] minestarks commented on #34672
@weswigham @RyanCavanaugh  we're still getting hits from this in 3.7.3 in VS. https://devdiv.visualstudio.com/DevDiv/_queries/edit/1041219/?triage=true

[2019-12-17 18:51] minestarks commented on #30005
This still impacts the `configure` and `applyChangedToOpenFiles` commands in VS on a regular basis: https://devdiv.visualstudio.com/DevDiv/_queries/edit/1034761/?triage=true https://devdiv.visualstudio.com/DevDiv/_queries/edit/1034750/?triage=true

[2019-12-17 19:06] sheetalkamat commented on #35729
Can you please provide more details on repro. This seems like its taking long time to do declaration emit but I cant be certain.. Did you try running `tsc --d --extendedDiagnostics`. What do you see then.

[2019-12-17 19:19] weswigham commented on #34672
Hm, @DanielRosenwasser 's reduced repro is definitely fixed, and I'm not seeing an editor crash with the repro @uniqueiniquity linked anymore, at least not with the latest builds of `master`. Do we know more?

[2019-12-17 19:27] RyanCavanaugh commented on #35693
@ahejlsberg thoughts?

[2019-12-17 19:30] #35724 closed

[2019-12-17 19:30] RyanCavanaugh commented on #35724
To expedite the triage process, we need everyone to follow the issue template and instructions.

When you clicked "Create New Issue", the issue form was pre-populated with a template and some instructions. We need you to read those instructions *completely*, follow them, and then fill in *all* the fields in that template.

We are not able to assist with issues that don't follow the template instru

[2019-12-17 19:32] lingz commented on #35729
@sheetalkamat the above pasted diagnostics is in fact from extendedDiagnostics and diagnostics emit only as you suggested. Let me know if any other information could help give clues.

[2019-12-17 19:32] minestarks commented on #34672
Possibly. What kind of data might help? With bugs from telemetry, we don't have the source code available but we can look at patterns to help narrow down a repro. If you need to collect more context we can look into adding better error reporting for the next iteration. Just need to know what kind of information would help you investigate.

[2019-12-17 19:37] RyanCavanaugh commented on #35503
I can't repro this using `tsc`. What commandline are you using to measure these compile times?

[code]

[2019-12-17 20:30] jimbuck commented on #35647
I totally follow the original question and answer (all Beers are Beverages, all Beverages are not Beers), but not @RyanCavanaugh's answer (why is there `id` **and** `_id`). How is `Partial<T>` supposed to fit in with all of this? Given the following code:

[Playground][playground]

[code]

Should the assignment to a `Partial<T>` fail? If `Partial<T>` is ["a type that represents all subsets of a gi

[2019-12-17 21:26] JKillian commented on #35588
I would love some sort of feature like this! I've been noticing recently that our VSCode TypeScript experience has felt somewhat slow and have been wanting to figure out why. I found the `--extendedDiagnostics` flag, which is great, but pretty hard to convert in to concrete actions. I was actually googling around for "How to debug TypeScript performance" the other day, but didn't find too many use

[2019-12-17 21:29] AnyhowStep commented on #35647
Consider `T = { id : "lol" }`.

[code]

[2019-12-17 21:30] sheetalkamat commented on #35729
We would need sample code for repro..

[2019-12-17 21:37] sheetalkamat commented on #35142
This is working as intended.. If config has specified `exclude` clause that clause is used. Otherwise `outdir`, `declaraitonDir` are filtered out.

[2019-12-17 21:47] minestarks opened #35734 "Debug Failure. False expression: in openExternalProjects in getOrCreateScriptInfoWorker"
This is a high hitter from VS telemetry and impacts a wide range of TS versions, at least 2.7-3.7

Command: `openExternalProjects`

Message: `Error processing request. Debug Failure. False expression: `

Stack:

[code]

VS bug https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1044433

[2019-12-17 21:53] fvilante commented on #29049
**ARTICLE ABOUT THIS ERROR MESSAGE**

 I wrote a text decomposing and explaining each part of this error message. Hope the text can carry you [up to the point](https://stackoverflow.com/questions/56505560/could-be-instantiated-with-a-different-subtype-of-constraint-object/59363875#59363875).

[2019-12-17 21:55] DanielRosenwasser opened #35735 "Avoid listing missing properties on types with only call/construct signatures"
Found with @RyanCavanaugh

[code]

# Expected

[code]

# Actual

[code]

[2019-12-17 22:00] simonbuchan commented on #13778
@riggs I think you're talking about making `interface Array<T> { }` have `[index: number]: T | undefined`, but @radix is likely talking about what seems to be the current recommendation, which is to use `Array<T | undefined>` in your own code.

The latter is bad for several reasons, not least of which is that you don't control other packages' types, but the former also has some issues, namely that

[2019-12-17 22:04] minestarks commented on #35630
@sandersn  what about [this bug](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1041191)? Confirmed dupe or would you need more info? The callstack doesn't have `declareSymbolAndAddToSymbolTable`, but `bindThisPropertyAssignment` is there.

[2019-12-17 22:06] sheetalkamat commented on #35468
There are no files in `https://github.com/wereHamster/typescript-project-references-reexport-bug/tree/master/src/pure` and I get below errors. Did you miss something in the repro?

[code]

[2019-12-17 22:07] weswigham commented on #35729
Yeah, definitely going to need to see some sample code - when declaration emit takes a long time, it's usually because some type somewhere was easy to compute, but complicated to serialize. Did you check the sizes (and contents) of your output `.d.ts` files by compiling with `declarations` on?

[2019-12-17 22:08] sheetalkamat commented on #35587
Adding @PranavSenthilnathan and @uniqueiniquity  to investigate the VS side for this. I have forwarded your logs to them to take a look at it.

[2019-12-17 22:11] wereHamster commented on #35468
Sorry about that, I've added the missing files.

[2019-12-17 22:19] #35512 closed

[2019-12-17 22:43] DanielRosenwasser opened #35738 ""Did you mean parent object or child property?" in error messsages"
Discussed with @RyanCavanaugh from his personal dev experience.

It's common to get an error message when accidentally using an inner property of an object. Similarly, we might forget to actually fetch an inner property of an object.

[code]

It'd be nice if we could hint to the user "hey, you might have dotted too far into this object" or "hey, did you mean to grab the `residence` property?"

[2019-12-17 23:02] sheetalkamat commented on #35468
I am not sure if this is suppose to be error or not.. But your project is configured incorrectly leading to this issue I believe.. Both the projects write overwrite two same output file `out/index.js`

[code]

[2019-12-17 23:08] fatcerberus commented on #35142
@sheetalkamat It's been my experience that tsc will exclude the contents of `outDir` regardless of whether `exclude` is present or not.  How is it able to do this if the API won't allow examining it before the directory listing is requested?  I wasn't able to figure that out from reading the source.

[2019-12-17 23:09] dragomirtitian commented on #35738
@DanielRosenwasser Hi there, I'm looking for a fun feature and this sounds nice.  Can I work on this ?

I will probably have some time in the next month or so to work on this although can't really commit to any specific deadline, but I can probably do it in time for 3.9.

[2019-12-17 23:11] sandersn commented on #35630
It's likely related but I need to look at the code in bindThisPropertyPropertyAssignment again.

[2019-12-17 23:15] wereHamster commented on #35468
Ok, Fixed that. In my original project I point rootDir to the root of the src folder. I've pushed the changes to the bug report repo.

[2019-12-17 23:15] riggs commented on #13778
Ahh, yes, my misunderstanding. I was, indeed, only referring to using the definition`[index: number]: T | undefined`. I completely agree that defining a type as `Array<T | undefined>` is a terrible work-around that causes more problems than it solves.

[2019-12-17 23:23] sandersn commented on #35630
Yes, it's extremely likely to be related:

1. There are three calls to declareSymbol in bindThisPropertyAssignment; two are guarded by `!hasDynamicName`.
2. The stack you give hits the same `!hasDynamicName` assert in declareSymbol.

I'm looking at tsserver.js for 3.7.2 and 3.7.3, though, and the line numbers don't match up with the quoted line number in the bug; 31331 should be 1 of the 3 calls t

[2019-12-17 23:29] snayam commented on #6209
+1
Same need.

[2019-12-17 23:42] sheetalkamat opened #35740 "Report error cannot emit file if any of the output file is going to write output of referenced project"
Found as part of investigating #35468 where referencing project overwrites `index.js` at same location as refereced projects output.

[2019-12-17 23:45] sheetalkamat commented on #35142
https://github.com/microsoft/TypeScript/blob/master/src/compiler/commandLineParser.ts#L2295 does that only if exclude is not specified in the tsconfig file.

[2019-12-17 23:46] weswigham commented on #35735
Hm, OK, but suppose
[code]
for which we issue
[code]

what's the rule here? In the above example, I can't make a clear judgement call on which suggestion is more relevant.

[2019-12-17 23:52] rbuckton commented on #35054
Would this be considered a bug? The issue is due to the fact the string literal node for `"\\"` doesn't have a parent pointer (because the `setParentNodes` argument of `createSourceFile` was passed `undefined`), so we can't determine the source file the node belongs to. We use the source file to extract the actual literal text, and when we can't find the source file we fall back to emitting the li

[2019-12-18 00:00] #35628 closed

[2019-12-18 00:08] DanielRosenwasser commented on #35735
If you are in the off case where you have a `name` that isn't a `string`, a `length` that isn't a `number`, or any property named `caller`, I'm sure you'll figure it out on your own.

[2019-12-18 00:35] minestarks commented on #35630
Here's a callstack confirmed to be from 3.7.3. I think this lines up?

[code]

[2019-12-18 00:43] rbuckton commented on #35054
I'm looking into solving this by adding `EmitHint.Jsx`, which can be used to ensure the correct encoding for string literals in Jsx Attributes.

[2019-12-18 00:46] #35644 closed

[2019-12-18 00:55] weswigham commented on #34672
I mean, it's strange, because our check to even attempt a special property bind is
[code]
and our two covered cases here are supposed to be `hasDynamicName(node)` and `isBindableStaticAccessExpression(node.left)`. All I can think of is some mismatch between `hasDynamicName(node)` and `isDynamicName(lhs)`; but I can't think of any code structure that'd cause such a mismatch to make a repro. Honestl

[2019-12-18 01:02] minestarks commented on #34672
Any chance this is related to #35730 ? That also has to do with dynamic names in accessors and that was fixed in 3.7.3.

I will follow up on how we can collect contextual information for debugging while keeping in line with privacy guidelines.

[2019-12-18 01:32] #35732 closed

[2019-12-18 02:20] trusktr opened #35744 "Discovering .ts files under node_modules resulting in them being compiled and type checked"
Continuing from https://github.com/Microsoft/TypeScript/issues/22228

cc @evil-shrike

I have this issue.

@mhegazy said

But features like inferred return types (f.e. when making class-factory mixins) are not compilable to declaration files. The only way to use such feature downstream is to get their types from `.ts` source files.

Not entirely true.

Wanting to point `types` to a `.ts` source fi

[2019-12-18 02:20] RReverser commented on #27594
Another usecase of this feature that didn't seem to be mentioned above is specialisation. E.g. I want to be able to write this in TS defintions:

[code]

and have it behave like normal function overloads.

For now the only way to achieve this is via var+interface declarations, which is less pleasant / obvious than a direct syntax would be:
``ts
interface C<R> {
    ...
}
declare const C: {
    new

[2019-12-18 03:14] wucdbm opened #35745 "Support known possible keys in Object.entries and Object.fromEntries"
## Search Terms
Object.entries, Object.fromEntries

## Suggestion

Add

~~`entries<E extends PropertyKey, T>(o: { [K in E]: T } | ArrayLike<T>): [E, T][];` to Object.entries in `lib.es2017.object.d.ts`~~ see https://github.com/microsoft/TypeScript/pull/12253#issuecomment-263132208

and

`fromEntries<K extends PropertyKey, T = any>(entries: Iterable<readonly [K, T]>): { [k in K]: T };` to Object.fr

[2019-12-18 03:21] aaabinbin commented on #35726
@dragomirtitian thx~ for your answer, I have found the related issue [here](https://github.com/mstn/fixed-size-array/issues/1#issuecomment-56657055)

[2019-12-18 03:21] #35726 closed

[2019-12-18 04:03] RyanCavanaugh commented on #33204
TypeScript doesn't enforce TDZ violations inside function bodies since this isn't really detectable apart from the cases where it always fails immediately anyway

[2019-12-18 04:25] RyanCavanaugh commented on #32872
Hovering over the error in the playground here with `noUnusedParameters` generates this exception
[code]

[2019-12-18 04:31] trusktr commented on #35744
By the way, when making things like class-factory mixins and then trying to emit declaration files we get problems like described in https://github.com/microsoft/TypeScript/issues/23110.

[2019-12-18 04:38] trusktr commented on #35744
If we can't have implicit return types, etc, in declaration files, and we shouldn't point `"types"` to `.ts` source files, then what should we do?

[2019-12-18 04:39] contrarian opened #35746 "Type Safe Deep Mixed Path Reads"
**TypeScript Version:**  3.7.2

**Search Terms:**
Deep Paths, Deep Map Paths, Deep Mixed Paths

**Expected behavior:**
The type of result should be inferred to be ```number | undefined```.

**Actual behavior:**
The type of result is ```unknown```

**Related Issues:**

**Code**
[code]

<details><summary><b>Output</b></summary>

[code]

</details>

<details><summary><b>Compiler Options</b></summary>

[2019-12-18 05:14] HosseinAgha commented on #35647
@jimbuck as @AnyhowStep said the problem with your code again is that you should also consider that `string` can have infinite sub types. so `"sd"` is a `string` and  "lol"` is a `string` but `"sd" != "lol"`.

[2019-12-18 06:41] OxleyS commented on #29919
I don't think it's really solved, I think it's just inconsistent in its behavior. Here's another example that uses a generic mapping type on a tuple and gives the same error: [Playground](https://www.typescriptlang.org/play/#code/JYOwLgpgTgZghgYwgAgJICE4C9kG9kwD2hAXMgBRxkDOYUoA5gDTIBGA-GSAK4C2r0AJTIAvAD5kAN0LAAJgG5kAXwCwAKDABPAA4oAsgB4AKhJF5kAbQDSyUMgDWETYRjIjAXTJHr75fPUIhCC0BACMosjGyBAAHpAgstRomF

[2019-12-18 07:53] MicahZoltu commented on #35745
The case of `Object.fromEntries` I believe this is different from the `Object.keys` and `Object.entries` problem.  In the `Object.keys` and `Object.entries` case, it would be incorrect for TypeScript to assume that the only keys on the object are limited to those on the type.  In the case of `Object.fromEntries` however, TypeScript _can_ guarantee that the Object it returns will _at least_ have th

[2019-12-18 08:14] travigd commented on #35690
I was playing around with trying to do this with function overloading but it doesn't quite work.

This seems to work.
[code]

Here are some examples.
[code]

One important thing to note is that this actually does depend on the order in which overloads are defined, since TS attempts to use overloads in the order in which they're defined (I just learned this myself!).

[2019-12-18 08:24] steabert opened #35747 "wrogn type inference when interface is extended"
**TypeScript Version:**  3.7.2

**Search Terms:** type inference, type inference failed, type inference interface, type inference extended interface

**Expected behavior:**

Type resulting from `a ?? b` is `A | B | undefined`.
Types on left and right of `d = b1` do not match up.

**Actual behavior:**

Type resulting from `a ?? b is A | undefined`.
Types on left and right of `d = b1` match up.

**R

[2019-12-18 08:36] dragomirtitian commented on #35745
Personal stab at typing it, it gets kind of complex, not sure if there is a simpler approach 😕
[code]
[Playground Link](https://www.typescriptlang.org/play/?target=99&ssl=16&ssc=5&pln=1&pc=1#code/C4TwDgpgBAqgdgSwPZwCpIJJ2BATgZwgGNhk4AeVAPigF4oAKVKCADxzgBN8pmB+RmABcvAJR0aANyQJOUEXAiS84th26CRCOADM8scbSky5AmPKiLluAFChIUAGK4kAWwCi2XAgj5KLdgguHlwIAENOFAAbECgAbQAFF0hcUABpCBAAGigwuBAAXRp6ZjUgjX4oACViJFxO

[2019-12-18 08:52] jrieken opened #35794 "Newly created files don't belong to ts-project"
*TS Issue template filled out by @mjbvz from original report*

**TypeScript Version**: 3.7.3

**Repo steps:**
1. In the VS Code code base
1. Open `src/vs/workbench/contrib/codeActions/common/codeActions.contribution.ts`
1. Wait for JS/TS to finish initializing
1. Select the lines:

[code]

4. Run the `move to new file` refactoring

**Bug**
The newly created file is not part of any project

[2019-12-18 10:24] skrtheboss opened #35748 "Assigning sub-class to parent class with generic typed function property does not work"
**TypeScript Version:**  3.7.2

**Search Terms:**
class, extend, function, generic

**Code**

[code]

**Expected behavior:**
Assigning `TestExt` to `Test` should not result in a type error.
If the `test1` property is removed from `Test` then no error is shown.

**Actual behavior:**
Assigning `TestExt` to `Test` results in an error.

**Playground Link:**
[TypescriptPlayGround](http://www.typescript

[2019-12-18 10:41] wolfie commented on #35651
Things get weirder. I tried to figure out what would be the discriminator here, so I started running a `git bisect` on our project.

That only lead to confusing results - known bad commits suddenly started behaving well. Then going back to the same commit some other time, the bug got triggered again.

This makes me think that whenever the project structure changes, something in some memory gets fl

[2019-12-18 10:46] devlato commented on #35719
@MartinJohns Could this be introduced behind a configuration flag then? Ie. `--noCatchAny` 🙂

[2019-12-18 11:09] Tahir500 opened #35792 "auto import not working properly"
Issue Type: <b>Bug</b>

auto import is not working in the new udpate, it was working in the previous build

VS Code version: Code 1.41.0 (9579eda04fdb3a9bba2750f15193e5fafe16b959, 2019-12-11T17:59:52.065Z)
OS version: Windows_NT ia32 10.0.18363

here is a short video on that
https://drive.google.com/file/d/1inQ1yZGLSfxeXmGLcDl81nEsATyTrjik/view

![image](https://user-images.githubusercontent.com/3

[2019-12-18 11:12] Jack-Works opened #35749 "Add support for URI style import"
# Search Terms

browser es module import url

## Suggestion

Related issues: #28985, #19942

In browser and deno, import from a "package" is different from the node style.

[code]

Currently there is no way to let TypeScript automatically map the URI to another place like `@types/*` or `$DENO_DIR/deps/https/deno.land/*`

The current `path` can map a simple pattern of import module specifier to ano

[2019-12-18 11:12] #35163 closed

[2019-12-18 11:17] Jack-Works commented on #35749
Related: https://github.com/microsoft/TypeScript/issues/35589

-- From @RyanCavanaugh

--------

Hi @xlaywan, @fatcerberus, @MicahZoltu, @andrewbranch
Please move from #35163 to here!

--------

Hi @vladima you implemented the current `compilerOptions.paths` feature in the TypeScript, how do you think about this issue?

[2019-12-18 11:43] lingz commented on #35729
I can't provide the source code unfortunately, but I did a CPU profile, and it seems like almost all the time is spent in GC, and `trySymbolTable`. I ran a size profile on the generated `.d.ts`, and they are all small files, almost all the files are only a few lines long (see size profile treemap below)

<img width="902" alt="Screenshot 2019-12-18 at 11 38 54" src="https://user-images.githubuserco

[2019-12-18 11:59] lingz commented on #35729
Seems like the 1 mil symbols might be what is causing the slowdown. But I'm not sure what is causing such a high number of symbols, perhaps generated types?

Do you have any advice on identifying which files might be causing this high number of symbols?

[2019-12-18 12:04] lingz commented on #24435
I'm quite interested in this issue, it seems that @AnyhowStep and I have run into a class of typescript bugs that make typescript performance crippling slow. But there are not good methods to identify what is causing the method and how to fix it today.

[2019-12-18 12:16] ilogico commented on #35748
I believe this is working as intended.
Functions declared as properties are sound, while functions declared as methods are bivariant.
Bear in mind that `(v: ItestExt) => void` is not assignable to `(v: Itest) => void`, this is enforced by the `strictFunctionTypes` flag (which doesn't affect functions declared as methods, that's why `test2` typechecks.

[2019-12-18 12:33] chnliquan opened #35750 "Generics compile error"
**TypeScript Version:**  3.5.3

**Search Terms:**

**Code**

[code]

**Expected behavior:**
run normally
**Actual behavior:**
Error: the param of the type “(c: string) => Promise<{ a: number; b: number; }>”can not assign to “(params?: string | undefined) => Promise<{ a: number; b: number; }>”

**Playground Link:**

**Related Issues:**

[2019-12-18 12:48] orta commented on #35653
_Disclaimer: my opinion_

"assertion" in these cases means that you're telling the compiler what a type is, and the compiler will trust you know what you're doing e.g.

- `x as T` is a type assertion because it's a demand on the compiler and could be wrong (vs `x: T`)

- `asserts x is T` is an [assertion signature](https://github.com/babel/babel/issues/10527) (in that it's always at the end of an

[2019-12-18 12:57] dragomirtitian commented on #35750
The error is correct. You pass in a function that **requires** a parameter of type string, but `useLoading` accepts a function that *may or may not* receive a parameter of type string. Based on the signature, `useLoading` is free to call `effect(param)` or `effect()`. If `useLoading` were to call `effect()`, `func` would not receive it's required parameter.

Change the signature of `useLoading` to

[2019-12-18 13:35] lingz commented on #35729
I've managed to find out the culprit, and reduced the transform time from 473 seconds to 6 seconds.

It turns out it was a recursive type that was used only a few places in our code:

[code]

This type `Serialized` is recursive, and takes an object and gives a version of it without any functions (as if it went through JSON.serialize). It was only used a few places in the code but it was exploding

[2019-12-18 13:38] lingz commented on #24435
FYI I added the debug information that helped me solve my case of this in this post:

https://github.com/microsoft/TypeScript/issues/35729#issuecomment-567033431

[2019-12-18 13:56] weswigham commented on #34672
? The PR you linked just merged today?

[2019-12-18 14:03] luky1984 opened #35752 "Flatten Function Parameters and remember param names?"
I would like to create new tuple of function params A and B.. that means flatten together two function params. I have the flatten type for that. For sake of simplicity showing only with one Parameters not two below.

But problem is that Typescript then forgets the parameter names, would it be possible to fix it somehow? Neither is possible to extract the params names from Parameters<> helper. (jus

[2019-12-18 14:16] yvbeek commented on #35627
Yesterday I was working on our React-Native app and I had another use case for this.

React-Native offers an `Image` component, but it doesn't have a built-in loading indicator. So I was working on a `RemoteImage` component that displays a loading indicator until the image is fully loaded.

I want the `source` property of the `RemoteImage` to be a bit smarter than the original `Image` component. Y

[2019-12-18 14:21] kallebornemark commented on #15869
I have a mixed JS/TS codebase, and I need to specify a `paths` object in order to get my Webpack aliases to work with VS Code, but I don't want to display TS errors in JS files. Is there way to achieve this?

My first thought was to have a both a `jsconfig.json` and a `tsconfig.json`, but apparently having the former present is the same as specifying `allowJs: true` in the latter?

[2019-12-18 14:53] jcalz commented on #35712
Near-duplicate of #34165

[2019-12-18 15:02] dragomirtitian commented on #35712
Similarly to #34165 I find the readability claim debatable.

Also what happens with generics with multiple type parameters ? would you use `G of T1 and T2` ? How would you disambiguate something like `G1 of G2 and T1 and T2` is that `G1<G2<T1, T2>>` or `G1<G2<T1>, T2>`.  While the angle brackets are not the prettiest bit of syntax they do make it clear where one type ends and the other continues.

[2019-12-18 15:20] #35442 closed

[2019-12-18 15:29] jcalz commented on #35752
Questions like "how can I do this" do not belong here; try Stack Overflow instead.  If you're requesting a feature or filing a bug then there are [templates](https://github.com/microsoft/TypeScript/issues/new/choose) you should fill out, including some fields showing that you've done some of the initial research finding any existing issues that relate to your bug/request.

Tuples inferred from res

[2019-12-18 15:31] hazae41 commented on #35712
Promise of String
Promise of (String and number)

[2019-12-18 15:35] jimbuck commented on #35647
Ahh, the thing that got me was the fact that when you extend an interface/type you can "override" a `string` property with a string literal. I've updated my code to highlight this a little bit better:

[Playground][playground]

[code]

I know that `'lol'` is still a `string`, but it really is changing the type of the property on the interface, which is a little annoying to me. Either way, thank yo

[2019-12-18 15:47] jcalz commented on #35712
Parentheses are too close to angle brackets for my taste; no human being uses parentheses or angle brackets to communicate.  Instead of punctuation we should use a keyword to signify where a generic parameter list ends.  Since reusing existing keywords is preferable to coining new ones (and helps the environment), a good one to use for this would be `finally`, which does a good job of signaling th

[2019-12-18 15:49] luky1984 commented on #35752
Thank you its nice, but its not allowing to spread Tuple1 together with Tuple2 and make new params, only adding new single param. It is interesting still, but not fixing the problem.

[2019-12-18 15:56] jcalz commented on #35752
This isn't a forum for fixing problems... if you are making a feature suggestion, such as "concatenate tuple types while preserving parameter names", there is a template you should fill out, along with search terms and related issues.  (Note, possibly related to #5453, which doesn't explicitly mention parameter names).

[2019-12-18 16:16] VSDekar commented on #21732
@mkrause I have tried your code, because i am looking for a solution to my problem with Proxies. Unfortunatly i got an error, but i think it's more another TS problem than a problem with your code.

[code]

I get the following error:
[code]

[2019-12-18 16:27] ivoiv commented on #16665
Also interested in updates.

[2019-12-18 16:35] minestarks commented on #34672
Sorry I have no idea how I ended up pasting that number. I meant to link to #35630 . I was wondering if the bugs may be related since that fix was for a bug that was also occurring in 3.7.3 in property accessors.

[2019-12-18 17:00] andrewbranch commented on #35159
@sheetalkamat do you know of any examples that @ivogabe can look at?

[2019-12-18 17:01] minestarks commented on #35633
@DanielRosenwasser @RyanCavanaugh here's a corresponding [VS bug](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1032179) with some more context. Let me know if I can collect any more data on this that may be of use.

[2019-12-18 17:18] mkrause commented on #21732
@VSDekar Try the following:

[code]

[Playground](https://www.typescriptlang.org/play/index.html?ssl=29&ssc=1&pln=1&pc=1#code/LAKAxg9gdgzgLgAgBYEMYAUBOEAOCC8CAPAPIICmAHnOVACYwIQBGAVuWHADQIDSF1WgwRZc5THACevcpIB8AClAImbAFwISXZQhzYcMyRt7aQASg0tWCAJaMyAMgQBvBAG0A1rNtQ+AXQ0AVygPKAgAd18AXwI5XX1DH1VWAG5QUEhYRABbSRI2AhcdSg0AcgAJcgAbKohS0yi0kAzoeF1CqHJwkWxKSQVc-NYeZx0Ac3I4DSJ+Khp6RlEccSlDRTgUTAnESzYObgQvSQ

[2019-12-18 17:20] sandersn commented on #35630
Nope :(
My locations show more 16 lines -- I'm using the version published to NPM, which might be different from 3.7.3 in VS? That would be weird.

[2019-12-18 17:37] andrewbranch commented on #35162
Do you have a more real example I can look at? Think about how `utilC` could be implemented:

[code]

It’s impossible to implement `utilC` without another position where `T` can be inferred. This makes me less certain that inferring to `unknown` at the use site is actually wrong, though I admit it seems strange when compared with other seemingly equivalent forms. I think a real-world motivating ex

[2019-12-18 17:49] minestarks commented on #35630
That would be weird, wouldn't it? I'm looking at [this](https://devdiv.visualstudio.com/DevDiv/_git/TypeScript?path=%2FVS%2Fpublic_store%2Fret%2Ftsserver.js&version=GCd35db64d69c95669a6ce2b6302ab3f88af5ded81&line=31350&lineEnd=31351&lineStartColumn=1&lineEndColumn=1&lineStyle=plain). It claims to correspond to the 3.7 tag. The VS side is built in a different pipeline so maybe the output is slightl

[2019-12-18 17:49] sandersn commented on #31888
@weswigham More details at the PR, but the upshot is that lots of webpack breaks, which is evidence that JSDoc is too onerous a requirement for specifying optional parameters.

[2019-12-18 18:01] sheetalkamat commented on #35159
`createIncrementalProgram ` is similar to `createProgram` but reads the old program from the `.tsbuildinfo`. For your scenario you wanto use `createWatchProgram` which handles changes in files.

[2019-12-18 18:04] RyanCavanaugh commented on #35461
It's the holiday season as well as performance review season here; please be patient.

[2019-12-18 18:13] elie222 commented on #27317
@nicobrinkkemper comment helped me a lot.

I found there was an issue in my components folder that stopped import working.

[code]

Now I just need to find the part of the components folder that has caused this issue, but import is working again :)

[2019-12-18 18:21] RyanCavanaugh commented on #35016
Marking this out of scope since we wouldn't add this kind of flag specifically, but the aforementioned downlevel-dts tool is the intended way to solve the use case.

[2019-12-18 18:21] #35016 closed

[2019-12-18 18:25] #35605 closed

[2019-12-18 18:44] RyanCavanaugh commented on #35195
Also #11498

[2019-12-18 18:46] RyanCavanaugh commented on #35214
We won't be able to make useful progress here without a repro. Please log a new issue if you're able to share a setup that can reproduce the problem. Thanks!

[2019-12-18 18:46] #35214 closed

[2019-12-18 18:48] RyanCavanaugh commented on #35747
Subtype reduction is the expected behavior here.

[2019-12-18 18:51] jmalins commented on #33752
We are having this issue in 3.7.3 as well. It is blocking our upgrade off of 3.6.x (hundreds of occurrences across the code base).

[2019-12-18 18:51] RyanCavanaugh commented on #35752
To expedite the triage process, we need everyone to follow the issue template and instructions.

When you clicked "Create New Issue", the issue form was pre-populated with a template and some instructions. We need you to read those instructions *completely*, follow them, and then fill in *all* the fields in that template.

We are not able to assist with issues that don't follow the template instru

[2019-12-18 18:51] #35752 closed

[2019-12-18 18:58] RyanCavanaugh commented on #35746
You have too many type parameters. The correct form looks like this:
[code]

[2019-12-18 18:59] DanTsk commented on #35688
Any feedback? 😅

[2019-12-18 19:02] RyanCavanaugh commented on #35703
Changing these types is a guaranteed breaking change.

You can write these forms yourself if that's what you'd like to have; after the feedback from #30455 that we added the "wrong" `Omit` type we're completely uninterested in adding new built-in types where we have to make *any* semantic stylistic decisions unless it's absolutely necessary.

[2019-12-18 19:02] #35703 closed

[2019-12-18 19:06] #35667 closed

[2019-12-18 19:06] RyanCavanaugh commented on #35667
Closing again since this was somehow showing up in our "open issues" query

[2019-12-18 19:16] AnyhowStep commented on #35729
Is there a function that is supposed to return `Serialized<>`?
Is the return type of those functions implicit or explicit?

I ask because the return type of a generic function should **almost always** be explicit. This goes double for complex recursive types.

I have opened a bunch of issues in the past where emit goes **crazy** because I did not use an explicit return type annotation on a generic

[2019-12-18 19:22] AnyhowStep commented on #35647
It's not even about interface subtyping.

type `{ id : "lol" }` is a subtype of `Schema`.

Even though `{ id : "lol" }` is not an `interface` with an explicit `extends Schema` annotation.

[2019-12-18 20:31] nilkanthjp commented on #30946
I've been experiencing this as well for a couple months. Thanks to @natew for the tip on restarting TS server, I've just been restarting VSCode entirely 😂

[2019-12-18 20:31] dianafa commented on #32465
Same issue with the code:

[code]
The workaround was to use objects instead. Object destructuring works good 👍

[code]
but sometimes the code is not that flexible to change :)

[2019-12-18 20:44] joshuakb2 opened #35758 "Type inference fails on instance method call that returns same type"
**Search Terms:** infer, inferred, declaration, generic function

**Code**

[code]

**Expected behavior:** Both test and test2 would be inferred properly.

**Actual behavior:** test2 produces an error: "Type 'unknown' is not assignable to type 'string'."

**Playground Link:** [Playground Link](https://www.typescriptlang.org/play/?ts=3.8.0-dev.20191217&ssl=23&ssc=82&pln=23&pc=103#code/PTAEBUAsEsDsH

[2019-12-18 20:48] RyanCavanaugh commented on #35350
I don't have a lot to add here because there's a lot of basic misunderstanding happening. This kind of discussion is best suited for StackOverflow or other venues; none of the behavior described is a bug or other defect.

[2019-12-18 20:48] #35350 closed

[2019-12-18 20:51] RyanCavanaugh commented on #35670
It sounds like you want to set the `mapRoot` option

[2019-12-18 20:58] #14009 closed

[2019-12-18 21:31] DanielRosenwasser opened #35761 "Poor parameter elaboration"
![image](https://user-images.githubusercontent.com/972891/71124747-6025ed80-219a-11ea-95f4-7d601885ccfb.png)

From https://twitter.com/artyorsh/status/1206695784101695496

[2019-12-18 21:34] DanielRosenwasser opened #35762 "Wall of errors for overload error messages"
![image](https://user-images.githubusercontent.com/972891/71125006-f823d700-219a-11ea-9299-ee47abc9fbda.png)

https://twitter.com/artyorsh/status/1206695119631597570

[2019-12-18 21:39] RyanCavanaugh commented on #35633
*A* repro (perhaps not the only one):

Generate the file `0 + 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 + 13 + 14 + 15 + 16 + 17 + 18 + 19 + 20 + 21 + 22 + 23 + 24 + 25 + 26 + 27 + 28 + 29 + 30 + 31 + 32 + 33 + 34 + 35 + 36 + 37 + 38 + 39 + 40 + 41 + 42 + 43 + ... + 1499`
[code]

Then run
[code]

We should error with "expression is too complex" or similar instead of crashing when the tree i

[2019-12-18 21:56] RyanCavanaugh commented on #35495
TypeScript doesn't have an ECCN and we aren't able to assist further in this matter.

[2019-12-18 21:56] #35495 closed

[2019-12-18 22:30] RyanCavanaugh commented on #35735
When the return type of a function is an identity match for the target type, it seems extremely unlikely that "You forgot to call it?" is not the best possible error message. It requires a lot of construction to make something where a function *and its return type* are both plausible matches for the target.

I would be curious to find out how often a function is ever an intentional *source* for a

[2019-12-18 22:44] weswigham commented on #35735
I've seen assignments to `{length: number}` in the wild.

[2019-12-19 00:31] sandersn opened #35766 "@private on constructor function in a block causes crash"
Crashes when inside a block, but not at toplevel.

[code]

Introduced in the recent PR that supports `@private` in jsdoc.
Behaviour is incorrect at top-level too; `@private` on a constructor function doesn't make sense, but the compiler gives an error on `new C()` saying that it can only be constructed inside the class itself. But there is nowhere else to construct the class?

[2019-12-19 03:23] wucdbm commented on #35745
@MicahZoltu Fair enough.

In that case, I guess the `Object.entries` problem could be solved by a 3rd-party library that implements runtime extraction based on a type/interface, simply for the sake of not writing these functions by hand.

For example,

[code]

would generate (once per type) a function that takes an object and returns the fields of `SomeType` only by calling `Object.entries(object)

[2019-12-19 03:36] MicahZoltu commented on #35745
Something similar to `typescript-is` could work for generating code that "loops over all of the keys known at compile time, but not over all of the keys on the object".

[2019-12-19 03:37] wucdbm commented on #35745
Original comment updated.

Furthermore, due to #31393 imo it makes sense to go with `K extends string` rather than `K extends PropertyKey` for the time being, as that shouldn't hurt anybody, until #31393 is resolved.

`fromEntries<K extends string, T = any>(entries: Iterable<readonly [K, T]>): { [k in K]: T };` to Object.fromEntries in `lib.es2019.object.d.ts`

[2019-12-19 03:49] Kingwl commented on #35611
![image](https://user-images.githubusercontent.com/6831019/71143407-6f1da600-2255-11ea-9b2b-f2274d4360ae.png)

I'm not sure that I got your point, but it seems to work here

[2019-12-19 04:51] wimzyLive commented on #29917
any updates on this feature?

[2019-12-19 04:55] amirburbea opened #35768 "TypeScript 3.7+ regression issue in Lerna monorepo w/ Yarn Workspaces and composite projects"
**TypeScript Version:**  3.7.3

**Node Version:** 12.13.1

**Search Terms:** lerna, monorepo, yarn, workspaces

**Problem Description:**
TypeScript 3.7+ seems to have issues in a Lerna monorepo using yarn workspaces. TypeScript 3.6.4 does not exhibit the same problem.  In the example repo (https://github.com/amirburbea/ts-37-issue), there are two projects `@issue/utilities` and `@issues/server`.

[2019-12-19 05:04] amirburbea commented on #35768
Not only does `lerna` connect the references by a simlink, but the `node_modules` folder is at the repository root (and not at each project level) - I wonder if somehow that's what's breaking typescript.

[2019-12-19 07:01] mqliutie commented on #26174
Hi all, How can I fix this error ?
Type 'unknown' is not assignable to type 'DataResType'

[code]

[2019-12-19 07:05] trusktr commented on #16577
The new era is here!

The newly-released Node.js v13 and all major browsers support native ES Modules out of the box, and it'd be great for TypeScript to support these environments in a simple way.

The simplest solution for the most basic of use cases (a website served through a simple static file server) would be to add a new compiler option like `"appendJsExtension": true` or similar.

[2019-12-19 07:13] giladsegal opened #35769 "Optional discriminated union's callback parameter type is not inferred"
**discriminated union**

**Code**

[code]

**Expected behavior:**
onClick `_ev` parameter of `myT1_3` is inferred to be a `number`

**Actual behavior:**
onClick `_ev` parameter of `myT1_3` is `any`

**Playground Link:**
[Playground Link](https://www.typescriptlang.org/play/?ssl=1&ssc=1&pln=35&pc=2#code/C4TwDgpgBAKgjFAvFA3gWAFBWz7BDAZwH4AuKAcgCMBXYYAewDtyAaTXXJgYQBsBLAMYBrUlAAUEHmUbUAtpQgAnAJRIAfFA

[2019-12-19 07:21] calidion opened #35770 "inconsistancy in type"
**TypeScript Version:**  3.7.3

**Search Terms:**  error

**Code**

correct:
[code]

wrong:
[code]

error message:
[code]

**Expected behavior:**

No compiling error.

[2019-12-19 07:30] 2234839 opened #35785 "tsserver High CPU usage"
- VSCode Version: 1.42.0-insider (system setup)
- Electron: 6.1.6
- Chrome: 76.0.3809.146
- Node.js: 12.4.0
- V8: 7.6.303.31-electron.0
- OS Version:Windows_ NT x64 10.0.1 8363

Steps to Reproduce:

1. Open the project and type in the js file

Does this issue occur when all extensions are disabled?: Yes

[video](https://store-llej.oss-cn-hangzhou.aliyuncs.com/%E6%9D%82%E9%A1%B9/vscode%20tsserver%2

[2019-12-19 07:37] kg-currenxie commented on #17002
Any news here? :|

[2019-12-19 08:23] wolfie commented on #35651
Seems like things have started behaving well with the latest Insiders and TS dev builds:
[code]

I'll keep an eye on whether things start acting up again -- I'm okay with closing this _soon_.

[2019-12-19 08:35] fzaninotto opened #35771 "Spread operator not transpiled when used in a default value"
**TypeScript Version:**  3.7.3 + online playground

**Search Terms:** spread, rest, object assign

**Code**

[code]

**Expected behavior:**

The spread operator in the default value for `mutators` (`{ ...arrayMutators }`) should be transpiled to `Object.assign` when the compilation target is ES5.

**Actual behavior:**

The transpiled code includes a spread operator, which isn't valid ES5:

[code]

[2019-12-19 09:00] falsandtru commented on #17002
Removed `ReadonlyArray<any> | any` hack

[code]

[2019-12-19 09:57] MartinJohns commented on #35770
This works correctly. You're not returning an `Error` (the instance), but instead a constructor of an anonymous class extending `Error`. As an anonymous class it has no name and you can't provide an explicit type annotation.

[2019-12-19 10:33] robpalme opened #35772 ""paths" option should allow untyped entries"
## Search Terms

paths option untyped declare module

## Suggestion

The existing `"paths"` option allows you to control the types used for bare specifiers in your source code, by mapping them as keys to a list of candidate target specifiers.

[code]

I suggest we allow the final element in the array of candidates to be the empty string `""`.  If hit, it would mean _"This module exists but is unty

[2019-12-19 11:18] samao opened #35773 "function overloads not match"
**TypeScript Version:**  3.7.x-dev.201xxxxx

**Search Terms:**

**Code**

[code]

**Expected behavior:**
match the signature `declare function log(name: string): boolean;`
**Actual behavior:**
Argument of type '"as"' is not assignable to parameter of type '{ age: number; name: string; }'.(2345)
**Playground Link:**
http://www.typescriptlang.org/play/index.html?ssl=12&ssc=17&pln=1&pc=1#code/C4TwDgp

[2019-12-19 11:26] stevemarksd opened #35774 "Depending on how you define the function, typecheck is behaving differently even if is the same."
**TypeScript Version:**  3.7.2

**Code**

[code]

**Expected behavior:**

a1 should error

**Actual behavior:**

a2 doesnt error

**Playground Link:** https://www.typescriptlang.org/play/?ssl=1&ssc=1&pln=11&pc=2#code/MYewdgzgLgBAhgRgFwwBQEoYF4B8MDe8K0ATgJZgDmMAvtmprgQFAwwkCmUAriWAXBQByIQBoYAI2FC6AelkwwIWBxIkQ5KgEIA-MxrNmoSLDgAmehiSFBMUhWp0m+Vuy69++WyPFSYIuQUyCBhVdU1qOBCOAA8ABw5gKA4AE31DY2h4AGYUDGw

[2019-12-19 11:49] JHawkley commented on #14233
Dealing with JSDoc `@typedef` type-aliases that use a `@template` tag has been a real thorn in my side.  Generic-like types cannot be imported using the `import()` type without either specifying the type parameters or duplicating them with new `@template` tags.

Which is weird, and I guess that is how JSDoc handles these types?  ...but it is still strange you cannot simply reference a generic type

[2019-12-19 12:00] bluelovers opened #35775 "multi return type declaration emit not as expected"
**TypeScript Version:**  3.8.0-dev.20191213

**Search Terms:**

**Code**

## origin code

[code]

## the code of if i want export as expected

[code]

**Expected behavior:**

[code]

**Actual behavior:**

[code]

**Playground Link:**

**Related Issues:**

[2019-12-19 12:13] SirWojtek opened #35776 "Heap of out memory for recursive type"
**TypeScript Version:**
3.8.0-dev.20191219

**Search Terms:**
heap out of memory, recursive, crash

**Code**
[code]

**Expected behavior:**
It should compile as it was in older version of `tsc`. It starts to happen from version > 3.4.
If I reduce the list of keys to 10 it compiles.

**Actual behavior:**
Heap out of size error:
[code]

**Playground Link:**
https://github.com/SirWojtek/path-of-issue

[2019-12-19 12:19] calidion commented on #35770
Yes.
This function returns a new class inherited from Error not a instance.
as `super(message)` showes that it is a derived class.
It's intuitive to have a type of Error for the new class.

[2019-12-19 12:23] MartinJohns commented on #35773
[Type inference in conditional types](http://www.typescriptlang.org/docs/handbook/advanced-types.html#type-inference-in-conditional-types)

[2019-12-19 12:39] contrarian commented on #35746
The form you suggested is problematic because it allows you to specify bogus paths:

[code]

[2019-12-19 12:51] CarsonMcKinstry opened #35777 "Constructor overload unable to compile when using the spread operator"
**TypeScript Version:**  Nightly

**Search Terms:** constructor overload, overload

**Expected behavior:**

I was expecting that I could use a constructor overload that takes either an array of arguments, or a variable number of arguments and it would just work.

**Actual behavior:**

I receive error TS-2394 and typescript refuses to compile.

**Code**
[code]

<details><summary><b>Output</b></summ

[2019-12-19 12:53] CarsonMcKinstry commented on #35777
Actually, now that I look at the output code, it makes sense why it throws the error.

[2019-12-19 12:53] #35777 closed

[2019-12-19 12:59] IllusionMH commented on #35774
[Excess property checks](https://www.typescriptlang.org/docs/handbook/interfaces.html#excess-property-checks) are only performed on fresh object literals.

In cases `a1` and `a3` return types of functions are compared - no fresh literals therefore no excess property checks.

In case `a2` excess properties check is triggered because you return object literal.

Similar
[code]
[Playground](https://ww

[2019-12-19 14:03] Grabauskas opened #35778 "Wrong type for object assign array"
**TypeScript Version:**  3.8.0-dev.20191218

**Search Terms:** Object assign spread array

**Expected behavior:**
[code]

**Actual behavior:**
[code]

**Code**
[code]

<details>
<summary><b>Output</b></summary>

[code]
</details>

<details>
<summary><b>Compiler Options</b></summary>

[code]

</details>

**Playground Link:** [Provided](https://www.typescriptlang.org/play/?ts=3.8.0-dev.20191218#code

[2019-12-19 14:05] ivogabe commented on #35159
Thanks for the info! I'll take a look, it'll probably require some more changes than I hoped. I'll let you know if I can get it working. Do you mind keeping this open in case we have further questions?

[2019-12-19 14:08] amirburbea commented on #35768
Actually I'm able to get this to stop breaking with a workaround suggested by @AlexChi who said I should add a `baseUrl` and `paths` to the `@issues/server` tsconfig.  I guess I'm willing to do that, but it seems unnecessarily verbose.

[code]

[2019-12-19 14:28] nullquery commented on #9858
My project structure:
[code]

I have configured a script to compile each folder independently and generate a minified "common.min.js" and "backend.min.js" and "website.min.js" file.

The code _works_. References to the "http.service.ts" from the file "home.controller.ts" work perfectly, allowing me to share code across multiple components in my application.

And yet, after upgrading to the most re

[2019-12-19 15:00] zivni opened #35779 "Comments at the end of an array, when the last item ends with a comma, are not compiled"
**TypeScript Version:**  3.7.2

**Search Terms:** comments array end

**Expected behavior:**  All comments should be compiled to javacript

**Actual behavior:** Comments at the end of an array, when the last item ends with a comma, are not compiled.

**Related Issues:** #5810

**Code**
[code]

<details><summary><b>Output</b></summary>

[code]

</details>

<details><summary><b>Compiler Options</b><

[2019-12-19 15:04] nullquery commented on #9858
I'm not that good at maintaining my composure when I see issues that have been open since 2016 that could probably be very fixed without introducing new issues for existing users by introducing a new "compilerOption" to let the compiler know it can ignore the error in a given use case.

For this, I apologize. I can't help it, because I'm relied upon to provide a good service, yet I occasionally en

[2019-12-19 15:08] MicahZoltu commented on #9858
@nullquery If `tsc` works but your IDE is showing your red squigglies then it means your IDE is not using the same compiler version or configuration as `tsc`.

[2019-12-19 15:56] westonkjones commented on #28105
Interested in this as well. The AWS SDK uses this as the return of their promises
https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/SecretsManager.html#getSecretValue-property

[code]

[2019-12-19 16:29] andrewbranch commented on #35329
The cause is that the type serializer can’t figure out what to write for the return type of `pageUiSelector`’s function signature, presumably because an inline import type isn’t valid in a property key position:

<img width="479" alt="image" src="https://user-images.githubusercontent.com/3277153/71189808-06c8c780-2249-11ea-972b-6346a9e650d8.png">

I’m not sure if there’s a reason we can’t fall bac

[2019-12-19 16:46] ExE-Boss commented on #17002
You&nbsp;could also&nbsp;do:
[code]

This&nbsp;will work&nbsp;correctly for&nbsp;union&nbsp;types that&nbsp;contain&nbsp;arrays or&nbsp;readonly&nbsp;arrays, and&nbsp;as&nbsp;long as&nbsp;you&nbsp;don’t mutate&nbsp;the&nbsp;result, will&nbsp;even&nbsp;work for&nbsp;`any`&nbsp;or&nbsp;`unknown`.

[2019-12-19 16:57] falsandtru commented on #17002
It widens `readonly any[]` to `any[] | readonly any[]`.

[2019-12-19 17:08] andrewbranch commented on #35159
I think the bot will close it only after some period of inactivity, but if it gets closed and you come back with more questions, feel free to comment and I’ll reopen.

[2019-12-19 17:34] RyanCavanaugh commented on #35696
The root cause here is that WebGLShader is an empty type, which causes all sorts of downstream problems. We should do *something* with it so this doesn't happen.

[2019-12-19 18:00] #35067 closed

[2019-12-19 18:09] Xapphire13 opened #35780 "Support for trailing closure syntax."
## Search Terms
trailing closure

## Suggestion
Both Kotlin and Swift support trailing closures (see [Swift Documentation](https://docs.swift.org/swift-book/LanguageGuide/Closures.html#ID102)), which when a method's final argument is a function type, allows you to specify the lamda/closure/callback simply as a block of code, example:

[code]

## Use Cases
If TypeScript had support for trailing clo

[2019-12-19 18:10] #35468 closed

[2019-12-19 18:31] MartinJohns commented on #35780
I would say it goes against these goals:

And this non-goal:

This is definitely out of scope of TypeScripts goal (be JavaScript with types).

[2019-12-19 18:42] Xapphire13 commented on #35780
@MartinJohns, that's fair. I guess this is more of a suggestion for TC39?

[2019-12-19 18:53] jcalz commented on #32674
Is this the same or a separate issue:

[code]

[from here](https://gitter.im/Microsoft/TypeScript?at=5dfb9f02090f13796818c9d6)

[2019-12-19 19:08] jack-williams commented on #32674
I think that might be separate because the issue you post is probably related to recursive types. My guess as to what is going on there is:
1. Measuring variance for `Fn<A, B>` observes `A` as contravariant from the function input.
2. The recursive instantiation `Fn<A, void>` has a different type id to `Fn<A, B>` so it doesn't get related using the recursive assumption. Relating `Fn<A, void>` to `

[2019-12-19 19:14] jcalz commented on #32674
Thanks.  I wonder if this warrants a brand new issue or should be added as a curiosity onto #1394 for a case where an explicit contravariance annotation would be useful.

[2019-12-19 19:38] jack-williams commented on #32674
I think this warrants a new issue, at least for future referencing. The core problem is that `Fn<A, B>` gets marked with a special marker flag (to ensure structural checking) but `Fn<A, void>` does not.

The closest duplicate is probably #33872, but that was a specific regression.

[2019-12-19 20:00] #35699 closed

[2019-12-19 20:13] ExE-Boss commented on #390
See&nbsp;also: <https://github.com/jasnell/proposal-deprecated>.

[2019-12-19 20:24] sheetalkamat commented on #35768
Note that this issue repros only when `preserveSymlinks` is set to `true`

[2019-12-19 21:03] OfficerHalf commented on #6433
![image](https://user-images.githubusercontent.com/4851889/71209155-5b336d80-2270-11ea-802b-834d9c3a7b49.png)

This is the main reason that this change would be useful to me, since this is my React devtools at the moment, at least without manually setting `.displayname`.

[2019-12-19 21:23] chriskrycho commented on #7014
This appears to still be an issue. Anyone know why #11356 ended up closed? @vilic?

[2019-12-19 21:28] mjbvz commented on #35785
@2234839 Can you [lease try upgrading your workspace to use `typescript@next` by installing [this extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-typescript-next). Does that fix the issue?

[2019-12-19 21:29] joshuakb2 commented on #16936
I have another example where being able to extend multiple interfaces with compatible types would be very useful.

Consider the EventEmitter class, which is very useful to extend in Node when creating custom classes. It has many functions with similar signatures, taking a string (the event name) and a function (the event handler).

It would be beneficial to redefine those functions with more speci

[2019-12-19 22:01] joelbyrd commented on #8
Would it be a valid argument to say tsconfig should include a minify option simply to allow decoupling from another tool (for example, gulp)? We currently have a project using typescript that is using gulp and npm **only** for the purpose of javascript minification. If tsconfig had a minify option, then we'd be able to completely break our project free from gulp and the npm ecosystem.

[2019-12-19 22:05] #35268 closed

[2019-12-19 22:29] dubzzz opened #35786 "`{['__proto__]: 1}` does not seem to be transpiled correctly"
**TypeScript Version:**  3.7.2

**Context:**

While playing around with `__proto__` and `Object.create(null)` on TypeScript 3.7.2, I detected something that seems to be a bug. The es5-transpiled JavaScript code does not have the same behavior as the original es6-code.

TypeScript seems to fail to transpile (for es5 or before) objects defined with a key `__proto__` , with syntax `{ ['__proto__']: 1

[2019-12-19 23:44] weswigham commented on #35329
Hurrrr - it's because we allow `A.B.C` (an entity name) in a computed name position, and we compute `import("a").B.C` as a kind of extended entity name, but that kind _isn't_ allowed as a computed property name (because computed names are a strange intersection of type expressions and value expressions).

To fix, on our part, we should either
* Issue an error that `Pages` is inaccessible and reque

[2019-12-19 23:46] RyanCavanaugh commented on #35786
To truly fix this, we'd also have to deal with cases like
[code]
and there's not really even a fix at all for ES3.

This is also Babel's behavior FWIW. The recommended workaround is to either target ES6 or not aim the gun directly at your own foot 😉

[2019-12-19 23:50] RyanCavanaugh commented on #35778
See #9726

[2019-12-19 23:52] RyanCavanaugh commented on #35676
@sheetalkamat can you offer some advice?

[2019-12-19 23:56] RyanCavanaugh commented on #35688
I think the best reading of this is trying to solve the same problems as the package-level `internal` modifier - #321

As for making new units of organization through declarations, it's really quite far out of scope for us since it doesn't relate to the types of values or an existing visibility construct. It seems like a task that could really be implemented quite well with a lint-style tool since

[2019-12-19 23:57] RyanCavanaugh commented on #35702
@andrewbranch I seem to recall a duplicate of this, but searching is impossible

[2019-12-20 00:04] RyanCavanaugh commented on #35695
This is a correct error; a legal call to `myFunc` is
[code]
which corrupts `data` when `ab` is `"b"`

There isn't a sound way to write the function signature, thus no way to correctly implement the body. You can use a type assertion if you pinky-swear to only call it with unit keys.

[2019-12-20 00:07] RyanCavanaugh commented on #9858
@nullquery file a bug that shows how to reproduce the problem and we will either fix it or tell you what's wrong with your project configuration

[2019-12-20 00:11] RyanCavanaugh commented on #29917
@wimzyLive no

[2019-12-20 00:15] RyanCavanaugh commented on #11498
You're saying that this code should be an error:
[code]

[2019-12-20 00:20] RyanCavanaugh commented on #35719
Duplicate #26174

[2019-12-20 00:20] #35719 closed

[2019-12-20 00:27] dubzzz commented on #35786
Thanks for the update. Closing the issue.

A possible solution to handle this issue would be to always transpile towards `Object.defineProperty` for properties defined between brackets

[2019-12-20 00:27] #35786 closed

[2019-12-20 00:29] RyanCavanaugh commented on #35712
@jcalz 😬

We're extremely conservative around adding syntax to the type space; new syntax needs to have very concrete upsides

[2019-12-20 00:29] #35712 closed

[2019-12-20 00:33] RyanCavanaugh commented on #35468
@wereHamster thanks for the follow-up!

[2019-12-20 00:36] RoyTinker commented on #35656
Apologies - I'm trying to work on this in a fork and accidentally closed this issue via a commit message.

[2019-12-20 00:40] trusktr commented on #16577
@mjbvz The issue in VS Code's repo that you closed is slightly different: it is about using auto-complete to automatically add imports statements; when VS Code does this is adds the import statement without a `.js` extension, and it is easy to overlook this until a runtime failure.

However if TypeScript adds an option like `"appendJsExtension": true` or similar, then it won't matter much, and we'

[2019-12-20 00:42] #35679 closed

[2019-12-20 00:43] RyanCavanaugh commented on #35679
Some day we will write an error message that convinces people these errors are correct 😢

[2019-12-20 01:07] DanielRosenwasser commented on #35780
Yes, check out https://github.com/samuelgoto/proposal-block-params

[2019-12-20 01:12] DanielRosenwasser commented on #35611
I'm actually not seeing the same behavior as @Kingwl - but I see that it does work in function signatures but not arbitrary comments.

[2019-12-20 01:15] andrewbranch commented on #35702
This was originally an unintended consequence of #32100/#33937, and while following up with #34855, spent a few days trying to come up with a way to get rid of these invalid entries without un-fixing #30507.

I talked to @DanielRosenwasser about weighing trade-offs, and @weswigham about other possible implementations, but I haven’t figured out a way to do this without speculatively checking possib

[2019-12-20 01:24] mjbvz commented on #35792
@Tahir500 Please share repo steps and code as text in addition to the videos

[2019-12-20 01:29] 2234839 commented on #35785
@mjbvz Problem solved. Thank you very much

[2019-12-20 01:39] #35785 closed

[2019-12-20 01:55] mjbvz opened #35793 "TSServer: navtree does not include entries for inline types"
**TypeScript Version:**  3.8.0-dev.20191216

**Search Terms:**
- navtree
- outline
- tsserver

**Code**
For the TypeScript code:

[code]

Run the `navtree` request on the file

**Bug:**
No entries for `abc` or `xyz` are returned.

VS Code uses `navtree` to implement: go to symbol, document outline, and breadcrumbs.

[2019-12-20 02:01] mjbvz commented on #35794
Here's a [tsserver.log](https://github.com/microsoft/TypeScript/files/3986343/tsserver.log) for the above repo. The important bit is that `newFile.ts` is stuck in a new inferred project instead of the main project:

[code]

[2019-12-20 02:04] mjbvz commented on #35794
Just tested this in typescript: 3.8.0-dev.20191219 and it seems to work properly

@jrieken Can you also please try upgrading to use `typescript@next` by installing [this extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-typescript-next). Try using that version of TS for a few days while working on VS Code and let us know if you hit the problem again

[2019-12-20 02:43] noomly opened #35795 "Can't compare arrray length inside nested ifs"
**TypeScript Version:**  Nightly

**Expected behavior:** Comparing the length of the array successfully.

**Actual behavior:** `This condition will always return 'false' since the types '3' and '1' have no overlap`.

**Code**
[code]

<details><summary><b>Output</b></summary>

[code]

</details>

<details><summary><b>Compiler Options</b></summary>

[code]

</details>

**Playground Link:** [Provided

[2019-12-20 05:31] dannypike opened #35796 "Please show full version number on the web site"
When I look at your website, the "latest" version number that I can find is 3.7. However, when i install typescript@latest, I get version 3.7.3.

Please do not "simplify" the version number or, if you really want to, please put a big warning on your web site that the number shown is for people who are not programmers, i.e. those who might possibly be frightened by something as complicated as a ful

[2019-12-20 05:44] npenin commented on #35350
@RyanCavanaugh I don't see the misunderstanding in my original request, especially with the inferred type. I still believe that `undefined` is/should be the equivalent of optional as this is how Javascript behaves. the `?` is just syntaxic sugar to help having more readable code.

[2019-12-20 05:46] charlzyx commented on #35521
Suprise! it was fixed! at least **3.8.0-dev.20191219** !!

![image](https://user-images.githubusercontent.com/18055018/71232992-1cb0b800-232f-11ea-9501-77b809dc3777.png)

**Thanks for typescript Team!**

And you can use this version by this  extension [ms-vscode.vscode-typescript-next](https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-typescript-next)

[2019-12-20 05:46] #35521 closed

[2019-12-20 05:48] charlzyx commented on #35555
looks like fixed.   #35521

[2019-12-20 06:00] AhmedElywa commented on #29729
@manuth Your solution not work for me can you know why ?

![image](https://user-images.githubusercontent.com/4535142/71233624-d3487480-22fe-11ea-98f4-f3adea5b9aef.png)

[2019-12-20 06:03] DanielRosenwasser commented on #35555
Have you tried `typescript@next`?

[2019-12-20 06:07] trusktr commented on #35744
How can all features of TS be somehow supported in declaration files?

Maybe implicit return types could look like this:

[code]

where there's no implementation. It looks like an implementation being inside the `{}`, but maybe it is limited to containing only types and return types, or something similar. We'd just need to define the rules.

[2019-12-20 06:14] heroboy commented on #35428
vs implment this uses snippet. https://docs.microsoft.com/en-us/visualstudio/ide/code-snippet-functions?view=vs-2019
But I think this should be a codeaction in typescript.
[code]
When cursor at `switch` or `expr` , and if `expr`'s type is an enum type and empty switch body, should enable the code action to generate all enum `case`s.
Here enum means real enum type or union type like `'A'|'B'|1|true

[2019-12-20 06:31] balupton commented on #9858
Following on from @sebelga workaround, here is is a variation that is suitable to go inside your npm scripts

[code]

[2019-12-20 08:54] MickVanDuijn commented on #35546
This also happens to me when I try to use the `aws-sdk`

[code]

It infers `Parameters: AWS.ParameterList`, but gives me the same error on `NextToken`

[code]

[2019-12-20 10:13] TheWind3 opened #35797 "Invalid output emited as the result of javascript file compilation: amd, default export, jsdoc"
**TypeScript Version:**  3.7.3

**Search Terms:** compile javascript default function

**Code**
./index.js
[code]

**Expected result:**
./out/index.js
[code]

**Actual result:**
./out/index.js
[code]

**Compiler options:**
[code]

[2019-12-20 10:15] manuth commented on #29729
@AhmedElywa it's because you're using `(U & never)`.

Here's the longer explanation:
[code]

In order to get the solution to work you have to use `U & {}`.
Following might give you an idea why this solution works.

# How this solution works
[code]
In this snippet `a` will have type `string` because both `"hello"` and `"world"` inherit `string`.

[code]

In this code-snippet `a` will be of type `"h

[2019-12-20 10:16] strelga commented on #34925
@RyanCavanaugh @rbuckton friendly ping, just in case you missed my message

[2019-12-20 10:32] evenfrost commented on #34869
Any update on this? I'm getting the error with the same stracktrace as @jasonwilliams, but unfortunately cannot narrow it down and make a repro as my project is pretty large and stack doesn't help at all.

[2019-12-20 10:50] moniuch opened #35798 "Nullish coalescing for default function params"
## Search Terms

- param nullish coalescing
- default function param value coalescing

## Suggestion

Just as we can leverage nullish coalescing for variables, I would like to be able to have it for default function param values. This function:

`function swatch(color = '#aaa'){}`

will provide the default value for when it comes `undefined` but not when `null`. I would like it to handle null too

[2019-12-20 11:03] IllusionMH commented on #35798
This doesn't agree with one of TS goals

This is not valid ES syntax at the moment and this case is not included in Nullish Coalescing proposal.

At this moment there is open issue https://github.com/tc39/proposal-nullish-coalescing/issues/31 but nothing new since Jul 2018

[2019-12-20 11:45] nkappler opened #35799 "optional chaining does not work for unknown"
**Search Terms:**
optional chaining unknown

**Code**
In a real world scenario I have an api which returns unknown
[code]

**Expected behavior:**
I want to assign `prop?.key?.value` to `helloworld`, since it exists;

**Actual behavior:**
I get the following error for prop:
const prop: unknown
Object is of type 'unknown'.(2571)

**Playground Link:**
https://www.typescriptlang.org/play/?ssl=2&ssc=22

[2019-12-20 11:51] Grabauskas commented on #35778
This case is a little bit simpler. Maybe it can be resolved with some overloads?

For example:
[code]

Then it will catch errors:
[code]

[2019-12-20 12:20] moniuch commented on #35798
Fair enough :) I just wanted to signal the improvement I would need, but I do understand that TS should be in with ECMAScript. Hope it will make to TC39 one day.

Can be closed then.

[2019-12-20 12:32] stacktracer commented on #16577
@mjbvz The VS Code / Intellisense issue is related, but should not be closed as a dupe. If this issue is eventually closed as WONTFIX, that would actually increase the importance of the VS Code issue.

[2019-12-20 12:33] mpk commented on #35503
It seems that `tsc` has to emit result into a file to reproduce the issue (with `--noEmit` flag I get same results as you), i.e.:

https://gist.github.com/mpk/f0b501d5aa2ef6e3177703cc2e789971

[code]

Btw, in Angular CLI, most of the time is spent on this line:
https://github.com/angular/angular-cli/blob/8.1.x/packages/angular_devkit/build_optimizer/src/helpers/transform-javascript.ts#L176

[2019-12-20 12:39] TomasHubelbauer commented on #16577
I'm seeing one point overlooked and not understanding how solutions where the JS extension is special cased would solve this: for ESM, no extension has a special status, even extensionless files are completely fine as long as the server serves them to the browser with the appropriate text/javascript MIME type. That means that code such as:

[code]

This is all valid as long as the files (regardles

[2019-12-20 12:41] TheWind3 opened #35800 "esModuleInterop: invalid code emited when export default import"
**TypeScript Version:**  3.7.3

**Search Terms:**
esModuleInterop export default

**Code (javascript)**
index.js
[code]
**Expected behavior:**
[code]
**Actual behavior:**
[code]

**Compiler options:**
[code]

[2019-12-20 13:46] fvilante commented on #34778
@AnyhowStep

I agree with you:

What do you think about this solution-space:

1. Programmer mark source-code with special comments which works as instructions to a IDE-plugin specialized in 'type presentation' (a mechanism similar to actual linter tools).
2. While TS-Server enables this plugin to do his work.

[2019-12-20 14:19] pietrzakmariusz commented on #35736
I have the same problem in version 1.41.1. I suspect that some library in the node_modules is failed, because when I change the name of this folder, IntelliSense works great.

[2019-12-20 14:42] jasonwilliams opened #35801 "TypeError: Cannot read property 'valueDeclaration' of undefined (continuation)"
This is a continuation of https://github.com/microsoft/TypeScript/issues/34869

I'm still getting the error testing against `v3.8.0-dev.20191205`
Here is my stack trace (the first one is react-styleguidist)
[code]

**Related Issues:**
https://github.com/microsoft/TypeScript/issues/34869

[2019-12-20 14:45] jasonwilliams commented on #35801
@evenfrost  @arian @BernsteinA @elibarzilay new issue here

[2019-12-20 14:52] SlurpTheo commented on #11498
Why wouldn't the (nearer) CFA of the `if` take precedence at this point?

[2019-12-20 14:57] simonhaenisch commented on #35702
Ok that issue title makes more sense 🤓 Just want to add that the exact same thing also happens when the mapped type key is another field of the same argument (instead of a prior argument), i. e.

[code]

Not sure why providing the programmer with invalid field names would be an acceptable trade-off?

Anyway, thanks for looking into this!

[2019-12-20 15:08] wolfie commented on #35651
Seems like I can't reproduce this anymore, so I guess this can be considered as fixed.

[2019-12-20 15:08] #35651 closed

[2019-12-20 15:19] eyelidlessness commented on #27910
[This](https://www.typescriptlang.org/play/#code/JYOwLgpgTgZghgYwgAgGIHt3IN4ChkHJwAUAlAFzIDOYUoA5gNy4C+uuC6INyMmyAXhz5CJUjmRQIYAK5QQyAORxFyFgBoRBetIzoyEqbPlK+6RYzWt2nbmGQAPQcgA8AFWQQHkEABMqaJgAfMRglG7iAkHChMjAMMihggJCZuLYyAD0mcgAolBQ6FDhABbAAba+wGDAXMgA7sAANk1ETfVwAJ4BRnIKivBNVBCqVKBIyGAlKGCdAA4QAYpuqnB+SgDKMgBGCE1wVFSqJXAAbiggWOjnUPtzAHRasZLSfUrl1BDgoBCtp3BNGQoMwWJ5sJ69EzKECdZDoKbQZA6EDQYAIUFsIA)

[2019-12-20 15:28] andrewbranch commented on #35329
@weswigham sorry, I think my comment misled you. The screenshot I posted is something _I_ wrote for the purpose of illustrating that import types aren‘t valid property key types. That _didn’t_ come from the declaration emit.

This is what’s happening today. I was unsure if it’s a bug.

This is _not_ a functioning workaround, which I _did_ think is a bug:

<img width="614" alt="image" src="https://

[2019-12-20 15:44] thovden commented on #34761
I'm in a Catch 22 situation here, and would really appreciate a way out - e.g., a boolean flag to turn off declaration output for `json` - e.g., `declarationJson`:

* `declaration: false` for my projects that use JSON is not an option, because `Composite projects may not disable declaration emit.` Also, I want the types.
* Renaming the JSON is not an option, because the framework (`loopback@^3`) r

[2019-12-20 15:44] #35768 closed

[2019-12-20 15:49] lgraziani2712 commented on #35670
Isn't the `mapRoot` for moving the `.map` files to different location?

I'm not moving the `.map` files, but the source files.

[2019-12-20 15:53] amirburbea commented on #35768
Does this mean that in TS3.8 this will work without me specifically putting in the baseUrl/paths?

[2019-12-20 16:12] GuillaumeJasmin commented on #35521
I confirm that `3.8.0-dev.20191219` fix my same issues ! 😀

[2019-12-20 16:31] Barbiero commented on #35799
seems like you're misunderstanding what `unknown` does

As a type, `unknown` means that the type is well, unknown. When you declare an object as `unknown`, Typescript gives up any type inference whatsoever and decides that the type must be cast before the variable can used.

So you need to actually tell TS that `prop` has a `key`, which has a `value`:

[code]
that's intentional design for `unknown

[2019-12-20 16:41] #35766 closed

[2019-12-20 17:15] ianstormtaylor commented on #34596
Ran into this exact thing while trying to see how [Superstruct](https://github.com/ianstormtaylor/superstruct) could be made super useful for TypeScript and automatically infer the return types whenever people constructed validations.

[2019-12-20 17:23] #34980 closed

[2019-12-20 17:26] #35617 closed

[2019-12-20 17:32] justinfagnani opened #35802 "__decorate helper should not use `this` when targeting modules"
**TypeScript Version:**  3.7.x-dev.201xxxxx

**Search Terms:** __decorate this module

**Code**

[code]

**Expected behavior:**
Top-level `this` reference is not emitted.

**Actual behavior:**

The `__decrate` variable is declared like:
[code]

Since top-level `this` is always `undefined` in modules, `(this && this.__decorate) || ` can be omitted. It's only a few bytes, but the presence of top-lev

[2019-12-20 18:00] #35692 closed

[2019-12-20 18:07] RyanCavanaugh commented on #35796
Please don't be ridiculous.

3.7 is the latest scheduled release number and the version number we use to refer to in planning and roadmap documents. 3.7.3 is specific to the *npm* version, and there are other distribution formats that have slightly different version numbers (e.g. VS SDKs have *4* version digits).

If you're ever unsure about whether or not a release is "official", you can check th

[2019-12-20 18:07] #35796 closed

[2019-12-20 18:15] RyanCavanaugh commented on #11498
It can't, because the callback could have just executed:

[code]

[2019-12-20 18:19] RyanCavanaugh commented on #35503
[code]
What does `tsc -v` report for you?

[2019-12-20 18:34] jbhoosreddy commented on #32954
Hey so, we had a catch that involved @DanielRosenwasser, @RyanCavanaugh, @mheiber, @robpalme, @joeywatts and others (sorry I couldn't find github usernames).

We discussed taking on this particular issue for external contributions as discussed with @DanielRosenwasser and @RyanCavanaugh. In particular, @mkubilayk and I would like to work on it based on a solution I worked on for [babel/babel](https

[2019-12-20 18:40] RyanCavanaugh commented on #35795
See #9998 and others

[2019-12-20 18:43] RyanCavanaugh commented on #35801
@jasonwilliams how do we reproduce the issue?

[2019-12-20 19:41] mosharsky opened #35804 "RangeError: Maximum call stack size exceeded"
**TypeScript Version:**  3.6.3, 3.7.2, 3.8.0-dev.20191220

**Code**
[code]

[2019-12-20 20:00] #35750 closed

[2019-12-20 20:00] #35748 closed

[2019-12-20 20:00] #35747 closed

[2019-12-20 20:00] #35690 closed

[2019-12-20 20:00] #35142 closed

[2019-12-20 20:00] #33204 closed

[2019-12-20 20:13] jcalz opened #35805 "Function-like recursive generic interface invariant in its parameter type"
I'm aware that this is likely to be a design limitation; I can't find an existing issue about this specific problem so I'm filing this one for reference.

**TypeScript Version:**  3.8.0-dev.20191220

**Search Terms:**  variance, composition

**Code**
[code]

**Expected behavior:** `Fn<A, B>` should be contravariant in `A`.

**Actual behavior:** `Fn<A, B>` is invariant in `A`.

I came upon this whi

[2019-12-20 20:26] minestarks commented on #35633
Repro file: https://github.com/openlayers/ol2/blob/master/tests/speed/wmscaps.js

[2019-12-20 20:37] ianstormtaylor commented on #35690
@ahejlsberg can you check out my follow up? I think this might have been closed prematurely. (But maybe I’m not understanding correctly!)

[2019-12-20 20:51] kamranayub commented on #31603
I believe we just encountered this limitation and were scratching our heads:

[Playground link](https://www.typescriptlang.org/play/#code/JYOwLgpgTgZghgYwgAgCoQM5gJLmvJZAbwChlkA3OAGwFcIB+ALmSylAHMBuEgXxJIxaIBGGAB7EMhjjxACiKUa9ZLxbosuSLEQQAlMTLIEkrMmAYAajWAATa3RQBeZAEJXVR8gBk35AHoAIzgofwA6SCw5T3o9HnITEDMwAAtOZBcLBzsHFQYlRzCMAAdqYDA5AHIAD0qDFgBtAF0eXiA)

[code]

This is a simplified example of what

[2019-12-20 21:21] DanielRosenwasser opened #35806 "Design Meeting Notes, 12/9/2019"
# Release Date
- release-3.8 branches for beta on 1/3

## 3.8 Features
 - See iteration plan

## Private named instance fields
  - Proposal: Merge but put behind a flag
  - Private fields were not on the agenda at the most recent TC39
  - has been shipping in Chrome unflagged for two months
  - Why do we need a flag?
    - concerns that we'd be "siding" with an unshipped feature
    - concerns abo

[2019-12-20 21:23] #35582 closed

[2019-12-20 21:26] DanielRosenwasser opened #35807 "Design Meeting Notes, 12/20/2019"
# A Stricter Subtype Relationship

* Issue: https://github.com/microsoft/TypeScript/issues/35414
* PR: https://github.com/microsoft/TypeScript/pull/35659

* We have this thing where we perform union subtype reduction - reducing constituents of unions when a union contains a supertype.
* But we sort unions by a type IDs, but that's not a "stable" ordering.
    * Our current subtype relationship con

[2019-12-20 21:47] #17233 closed

[2019-12-20 22:03] SlurpTheo commented on #11498
🤦‍♂

So if a binding is reassigned by any path of any "passed" function expression, I guess I'm saying I would prefer the `string | undefined` (from the declaration's explicit type) held true (until support for the `immediate` annotation comes along that is 😸). This _is_ assuming that all three of the following expressions would work in such a world (well... at least the first 2):
[code]

_It's a

[2019-12-20 22:04] RyanCavanaugh commented on #35633
An expression like this is going to be problematic regardless of what we do in binding, because for something like `a() + b() + c() + d() + e() ...`, the type of each expression depends on the narrowing effects of the prior call.

[2019-12-20 22:04] andrewbranch commented on #35807
It was

- for relationships that are somehow exposed to the user, use assignability
- for internal processing that needs to produce stable-ordered results because you’re doing something algebraic, use subtype / strict subtype
- for loose association, use comparability

I recently convinced myself of why the subtype relation is necessary for narrowing when there are some `any` properties involved,

[2019-12-20 22:12] RyanCavanaugh commented on #11498
We tried both when writing CFA and felt the current behavior was much, much better despite the obvious limitations. The current behavior also gives you a straightforward workaround:

[code]

whereas the pessimistic behavior would have no such analog.

It's easy to say "give me the set of problems I don't *currently* have", because you don't know how many of them there are.

[2019-12-20 22:14] DanielRosenwasser opened #35809 "Tests don't always produce a `.deleted` file"
Seems like the harness doesn't correctly create a `.deleted` file anymore, so `baseline-accept`s are accumulating bogus files.

[2019-12-20 22:15] weswigham commented on #35633
...I could always rewrite flow control to use a trampoline a la https://github.com/microsoft/TypeScript/pull/32611

[2019-12-20 22:16] starpit commented on #7014
agreed, we encounter this with typescript 3.7.3

[code]

yields this compilation error:

[code]

[2019-12-20 22:19] RyanCavanaugh commented on #35350
We made different syntax do different things so that you could pick which thing you wanted to happen.

[2019-12-20 22:28] AnyhowStep commented on #34778
The problem with that solution is that it does not help for .d.ts emit and error message elaboration.

Those 2 cases are the main motivators, for me.

See,

https://github.com/microsoft/TypeScript/issues/35654

https://github.com/microsoft/TypeScript/issues/34556

When .d.ts emit goes wrong and it emits too much, the emitted files become unreadable, or cause emit times to blow up

When it emits to

[2019-12-20 22:46] RyanCavanaugh commented on #35793
We implemented `navtree` with the expectation that it'd be used to populate the navigation tree bar, so it intentionally elides things that are usually small such as inline types, both for perf and UX considerations. It seems like you have an API request for something that does something else?

[2019-12-20 22:48] RyanCavanaugh commented on #35804
[code]

[2019-12-20 22:48] RyanCavanaugh commented on #31230
Possible alternative repro #35804

[2019-12-20 22:52] #35414 closed

[2019-12-20 22:53] RyanCavanaugh commented on #35548
If someone said "You can park either a car here, or a blue car", what they're describing is a parking spot for *cars*. "car or blue car" is a meaningless phrase.

[2019-12-20 22:56] RyanCavanaugh commented on #35563
Please post a self-contained repro here; we cannot run commands off arbitrary repos to demonstrate these sorts of bugs.

[2019-12-20 22:56] #35563 closed

[2019-12-20 22:58] minestarks commented on #35633
So ignore me if it doesn't make any sense, since I don't really know how the compiler works: I understand solving this generally may be extremely tricky, but could we special-case literals (string or numeric)? I would imagine almost all manifestations of this problem involve string literals, and not something where the type needs to be inferred. Though this is just a guess, not based on actual dat

[2019-12-20 22:58] ahejlsberg commented on #35693
My immediate thought is that this is supposed to be equivalent, but isn't:

[code]

So, it seems like a fix is merited.

[2019-12-20 23:08] RyanCavanaugh commented on #35655
Removed some extraneous code:
[code]

[2019-12-20 23:10] #35435 closed

[2019-12-20 23:21] joeywatts commented on #27372
Ran into this issue and having trouble working around it. I thought I'd describe our use case here to both bump this issue and see if there's any solution that might work for us.

Our runtime loads special JS/TS files from a flat file structure which have specific globals available within their file scope. I'll call these "entrypoint" files. Entrypoints are not allowed to "export" things. They run

[2019-12-20 23:21] RyanCavanaugh commented on #35440
A types folder is one that contains `index.d.ts` or `package.json`.

A types root is a folder containing zero or more types folders.

What you have here is `index.d.ts` inside a types root, which is not either of those things!

If you move `testmodule/types/index.d.ts` to `testmodules/types/qqqqq/index.d.ts`, you'll see that the program builds without error as expected.

[2019-12-20 23:23] SlurpTheo commented on #11498
Oh, for sure! (see my _I guess I'm saying_ rambling in the above [response](https://github.com/microsoft/TypeScript/issues/11498#issuecomment-568104490))

[2019-12-20 23:33] RyanCavanaugh commented on #35479
I'm not super convinced. What if it looked like this?

![image](https://user-images.githubusercontent.com/6685088/71298663-03fbce80-233e-11ea-9b05-9c4fca7fefd9.png)

[2019-12-21 00:00] DanielRosenwasser commented on #4813
Thanks @kingwl!

[2019-12-21 00:13] jasonwilliams commented on #35801
@RyanCavanaugh thats what a few of us are trying to work out, this is happening on a large private repo which isn’t useful to you so the best I can provide is a stack trace.

From the last issue we are trying to narrow this down.

[2019-12-21 00:29] #32679 closed

[2019-12-21 00:43] weswigham commented on #35633
Max call stack size is like... 12k; so assuming a lowball 5 frames/nested node in frame overhead during control flow, we're still limited to around 2.4k levels of nested/dependent nodes before stacking out (given the example at the top, looks like it's actually closer to 1.5k in reality, so our overhead may be a bit more). (The traversal itself is the stack cost.) We _could_ use a trampoline to tr

[2019-12-21 00:46] weswigham commented on #32954
There's an antiquated `test262` `runner` in the `testRunner` project that could be re-purposed. The interesting thing, IMO, is keeping the `test-262` tests up-to-date with an everchanging `test-262`. It makes me think it might even be better suited as, like, an `npm install` script on a repo we reference for a `user` test, or a `docker` test.

[2019-12-21 00:51] nicolo-ribaudo commented on #32954
The problem with auto-updates is that, after any update, new tests will probably start failing and you don't know if it is expected or not. In Babel, we have hard-coded a commit sha of the test262 version we want to test, and every few months we manually update it.

[2019-12-21 01:34] weswigham commented on #32954
Ick, big-bang reintegrations? I'd much rather flag breaks as they come in and then baseline them as "dealt with", like we do for "docker" suite tests.

[2019-12-21 02:55] SturmB commented on #25460
One thing I did to help my situation was to stop using WSL. I went back to my original custom setup which leverages Cygwin and I haven't had this issue since.

[2019-12-21 07:05] 2A5F opened #35816 "First class type constructor"
## Search Terms
first class type alias constructor hkt variadic generics transitivity independent independence first-class first-class-type first-class-type-alias first-class-type-constructor variadic-generics higher-kinded-types hrt higher kinded rank types rank-n

## Suggestion
Add first class type constructor support

### This proposal contains the following features
- HKT (Higher Kinded Types)

[2019-12-21 08:21] Hell4Ge opened #35817 "Docs: Extend a documentation on how casting works"
## Search Terms

<ul><li>cast</li></ul>

## Suggestion

A docs should clear how casting works since it's not like in any other language which I will explain later

## Use Cases

<ul><li>The docs</li></ul>

## Examples

According to https://www.typescriptlang.org/play/

This code:
[code]
converts into
[code]

Which does not make any sense, it does nothing and makes weird bugs during runtime.

It's

[2019-12-21 09:46] mpk commented on #35503
`tsc -v` reports `Version 3.7.3`. I've also tested `3.8.0-dev.20191221` and various Node.js versions (10.18.0, 12.14.0, 13.5.0), but the results are the same.

Here is the run with `--prof` flag:
https://gist.github.com/mpk/1f4c105e40e59054065f2123253aa53c

[2019-12-21 10:50] dannypike opened #35818 "tsc optional chaining with functions that may return void or an object"
**TypeScript Version:**  3.8.0-dev.20191221
(it also behaves this way with 3.7.3 and 3.7.4)

**Code**

[code]

**Expected behavior:**

I was expecting the optional chaining to handle the two possibilities:

(a) ```elsewhere()``` returns an object that has a property called ```prop```; and
(b) ```elsewhere()``` returns ```undefined```.

**Actual behavior:**

The compiler rejects the code:

[code]

[2019-12-21 11:27] nkappler commented on #35799
Well I do understand what unknown does,
however I expected this to work, because writing a typeguard or casting the value feels cumbersome if you need the value only once.
I understand that it is intentional though, otherwise it would behave too similar to any I guess...

[2019-12-21 12:23] kimamula opened #35819 "Parameters type for union of function types returns union of their parameter types"
**TypeScript Version:**  v3.8.0-dev.20191219

**Search Terms:** Parameters utility type, Conditional Types

**Code**

[code]

**Expected behavior:**

Both of `TypedWithParameters` and `TypedDirectly` should be evaluated as `[number] & [string]`

**Actual behavior:**

`TypedWithParameters` is evaluated as `[number] | [string]` which is not consistent with the invariant feature of function parameter

[2019-12-21 12:32] MartinJohns commented on #35817
They're called type assertions, but they're often wrongly called casts. Perhaps you should clarify what about the documentation should be extended, as it seems quite clear to me.

[Type Assertions](http://www.typescriptlang.org/docs/handbook/basic-types.html#type-assertions)

[2019-12-21 12:33] a-tarasyuk commented on #35474
@RyanCavanaugh There is [open](https://github.com/microsoft/TypeScript/pull/35550) PR for this issue.

[2019-12-21 12:35] MartinJohns commented on #35818
Looks like a duplicate of #35236.

[2019-12-21 12:52] colxi commented on #13195
@michalburger1 as a workaround, i've been using `JSON.stringify` to get rid of the `undefined` values, before merging
[code]

It may not be a solution to cover the 100% of the scenarios but so far covers most of them (at least for me)

[2019-12-21 12:57] saandre15 opened #35820 "Typescript class generics inferance prioritizes constructor arguments over assignment."
# TypeScript Version
3.7.2 and typescript@next

# Search Terms
Meta-Programming
Generic
Generic Inference
Type Parameters
Type Inference
Template

# Code
[code]

# Expected behavior
+ Property `questions` should be the type of `FormRelation<Required<Person>>`.
+ `name`, `age` and `id` should not be `unknown` types, but FormField as it is primitive value.
+ `FormFieldGroup` should auto infer to the

[2019-12-21 13:35] arciisine opened #35821 "Support for `as const` in Javascript"
## Search Terms

const array, javascript, as const

## Suggestion

The `as const` feature allows for treating literal arrays as tuples, and is useful for API design.  I'd like to be able to leverage this from javascript when consuming a typescript package.

Seeing as the user cannot denote `as const` for arrays in javascript itself, I was hoping there could be a path to define a function parameter

[2019-12-21 13:59] David-Else opened #35914 "The TypeScript language service died 5 times right after it got started."
Issue Type: <b>Bug</b>

OK, It is happening again with me in 1.41.1 using built in TS 3.7.3.
[code]
Here is the entire log file. I just start a new untitled file and start typing anything and it happens. In this case I am in an existing project:
[code]

VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T15:04:31.999Z)
OS version: Linux x64 4.18.0-80.11.2.el8_0.x86_6

[2019-12-21 14:02] markusjohnsson commented on #29589
Woah, is this at all based on analytics, or just a hunch from a couple of reporters? I’m not sure, as I use both, but I think I “extract to function” a more often.

[2019-12-21 14:03] jhnns commented on #32690
Just stumbled upon this and I have to say that I'm really surprised about the current behavior. To me, the keyword `enum` clearly communicates that only the *enumerated* values are allowed, not just all numbers. And what's even more surprising is that enums *do work* as expected with strings. They're even super-strict with strings, treating enum members effectively as symbols:

[code]

To me, this

[2019-12-21 14:05] nkappler commented on #35799
also with `any` you could do `prop.key.value` which might not be safe and it would be a nice feature if you could do optional chaining without types but you would get an error without the questionmarks...

[2019-12-21 14:25] artalar commented on #24587
@mhegazy why you are labled it "Working as Intended"?
Please answer to [the comment](https://github.com/Microsoft/TypeScript/issues/24587#issuecomment-411459021)

[2019-12-21 14:36] slikts commented on #24587
This issue seems mislabeled, but the main issue is #1863 and it's still open (and stalled apparently).

[2019-12-21 15:18] bloadvenro commented on #35162
@andrewbranch thank you for paying attention to our problem. We created [a short demo on Codesandbox](https://codesandbox.io/s/typescript-issues-35162-j839q) to demonstrate the problem when using our library.

If necessary, you can export the project from sandbox into a *.zip file,  issue `yarn install && yarn start` on your local machine (typescript will be installed automatically during the firs

[2019-12-21 15:19] bloadvenro commented on #35162
Library typings are available [here](https://github.com/zerobias/effector/blob/master/packages/effector/index.d.ts).

[2019-12-21 15:53] #35818 closed

[2019-12-21 16:03] falsandtru commented on #35683
@ahejlsberg You are the person responsible for asserts predicate you made. Developers can't understand how to introduce it to existing tests without your explanation. At least you should make your design clear whether this incompatibility is intended or not.

[2019-12-21 16:19] expressiveco commented on #16965
I lost some time due to this specification error in documentation.
But i learned something that i should check the publication date and the commit history to determine if easily possible that nothing has been changed since the publication so it is outdated for current version or not.
I hope that it will be upgraded as soon as possible and others will not be affected.

[2019-12-21 17:04] bcherny commented on #35653
I like both @orta  and @jcalz's ideas! The book revision is ready to go, pending this decision.

One other thing that may be worth indicating in the name is that `asserts` is a bit unique, in that it's a lot like a side effect, but at the type level. "Assertion effect" or "Refinement effect" might be a bit too nerdy, but maybe there's a more obvious name that makes this clear.

[2019-12-21 18:00] #35258 closed

[2019-12-21 18:00] #35195 closed

[2019-12-21 18:31] bloadvenro commented on #35162
@andrewbranch today we found a workaround

before:
declare function computeCallableB<T>(t: T): Callable<T>

after:
declare function computeCallableB<T>(t: T): T extends any ? Callable<T> : never

[2019-12-21 19:23] lll000111 commented on #35821
???

What does that mean??

Apart from that, what is wrong with `ReadonlyArray<type>` and `readonly type[]`?

[2019-12-21 19:39] Manu1400 commented on #35804
Reduce testcase:

[code]

[2019-12-21 19:40] pleerock commented on #26019
is there any possibility to extract parameter names as well? e.g.

[code]

[2019-12-21 19:50] trusktr opened #35822 "Support for all type features in declaration files."
It seems like this issue should simply be focused on and fixed before continuing to add more and more features to the language. This is getting out of hand!

## Search terms

"typescript declaration file limitations"
"has or is using private name"
"exported class expression may not be private or protected"

Related issues (a small fraction of the results on Google):

- https://github.com/Microsoft

[2019-12-21 19:56] trusktr commented on #30355
Please see https://github.com/microsoft/TypeScript/issues/35822

[2019-12-21 19:57] trusktr commented on #17293
Please see https://github.com/microsoft/TypeScript/issues/35822

[2019-12-21 19:58] trusktr commented on #24226
Please see https://github.com/microsoft/TypeScript/issues/35822

[2019-12-21 20:00] #35774 closed

[2019-12-21 20:00] #35770 closed

[2019-12-21 20:53] trusktr commented on #35822
There were too many issues to reference, so I gave up. But I hope this shows how much of a time waster this problem **_really is_**.

[2019-12-21 21:12] ahrnee commented on #35729
Hi @lingz - I am running into a similar issue, and trying to follow your debug process. Thanks for providing the command. Could you share a little more info about you managed to find the trySymbolTable function, and then set a breakpoint on it?

[2019-12-21 22:39] viljamis commented on #31248
Have been facing this exact issue as well on the latest macOS for the past few weeks and haven’t been able to solve it.

[2019-12-21 23:04] 01e9 commented on #7765
@SlurpTheo it's the same as one interface. The only difference is that interface shows the error right away but alias shows the error when you try to create a variable

[code]

[code]

----

I was also surprised it doesn't work.

I need to create an interface with props that a component receives from [redux-form `Fields`](https://redux-form.com/8.2.2/docs/api/fields.md/#props). In my case field na

[2019-12-22 01:07] jcalz commented on #30680
Relevant SO question: [Dynamically generate return type based on array parameter of objects in TypeScript](https://stackoverflow.com/questions/59440453/dynamically-generate-return-type-based-on-array-parameter-of-objects-in-typescri)

My current answer involves adding a dummy  type parameter `S extends string` to get string literal narrowing to happen in a different type parameter `T extends {fiel

[2019-12-22 03:25] Kingwl commented on #29917
I start working on this one  :XD

[2019-12-22 04:28] Shigma commented on #35695
Thanks. I will close this issue.

[2019-12-22 04:28] #35695 closed

[2019-12-22 05:26] weakish commented on #27024
@AlCalzone It seems that function overloads do not work.

[code]
@mattmccutchen

Function overloads works:

[code]

But function type intersection does not work:

[code]

[2019-12-22 06:18] rgelb opened #35824 "Assigning to a string fails if it was previously compared to an enum"
**TypeScript Version:**  What is installed on the TypeScript playground

**Assigning to a string fails if it was previously compared to an enum**

If you run the code below in the TypeScript playground, line `widgetName += 'AddSomething'` errors out with `Type 'string' cannot be assigned to type 'Widgets'`.

However, if I cast the enum on the previous line to string (`widgetName == <string> Widget

[2019-12-22 06:23] dragomirtitian commented on #26019
@pleerock There is no way to extract the parameter names to an object type.

Parameter names will however be preserved if you extract form one function and spread to another function:

[code]
[Playground Link](https://www.typescriptlang.org/play/?ssl=8&ssc=2&pln=1&pc=1#code/GYVwdgxgLglg9mABMOcAUAPAXIsIC2ARgKYBOANIgJ455FkCUiA3gLABQHAvhxwPR9QkWAkSEAhqUy0CJCtRn1SDHADc4MACYch0eEglSAdCfE4ACpPH5iUMgGcAP

[2019-12-22 06:25] Arkellys commented on #35479
@RyanCavanaugh Your example is not showing the comment on my side.

[2019-12-22 06:31] dragomirtitian commented on #35820
The compiler will prefer to infer from the constructor arguments rather than the expected return type. You can use the workaround described by @jcalz  [here](https://github.com/microsoft/TypeScript/issues/14829#issuecomment-504042546):

[code]
[Playground Link](https://www.typescriptlang.org/play/index.html?ssl=15&ssc=2&pln=12&pc=1#code/JYOwLgpgTgZghgYwgAgArQM4HsTIN4BQyyIcAthAFzIZhSgDmA3EcnA1SQK5k

[2019-12-22 06:38] dragomirtitian commented on #35819
This is working as intended.

`Parameters` is a [distributive conditional](https://www.typescriptlang.org/docs/handbook/advanced-types.html#distributive-conditional-types) type so it will extract the parameters from each union member and union the result, resulting in `[number] | [string]`

In the other case the conditional type is not distributive, so Ts will try to figure out what type can satis

[2019-12-22 07:21] evmar commented on #35822
Can you describe what the desired return type (to be used in the d.ts) of your example is?

[2019-12-22 07:24] pleerock commented on #26019
Thanks @dragomirtitian. That's interesting behavior. However I wanted to create an object type out of parameter names, e.g. { x: number, y: number }

[2019-12-22 09:43] mistlog commented on #31364
I find a way to do code reordering, but I don't know whether it's good or not.
see https://github.com/mistlog/typedraft

The basic idea is to still write typescript, but in a slightly different way with the help of JSX.

This project is a translator that output .ts from .tsx, and another tool [source-view](https://github.com/mistlog/source-view) is used to turn code into document.

I list some exa

[2019-12-22 10:00] saandre15 commented on #35820
OK, thanks

[2019-12-22 10:00] #35820 closed

[2019-12-22 12:01] regseb opened #35826 "checkJs: allow destructuring URL in JSDoc."
**TypeScript Version:**  3.7.4

**Search Terms:** checkJs, allowJs, JavaScript, JSDoc, TS8032, URL, destructuring, object.

**Code**

* testcase.js

[code]

* tsconfig.json

[code]

* `npx tsc --checkJs`

**Expected behavior:** allow destructuring URL in JSDoc.

**Actual behavior:**

[code]

**Playground Link:**

* download and unzip [_testcase.zip_](https://github.com/microsoft/TypeScript/files/3

[2019-12-22 13:39] galkin commented on #35630
@weswigham,
Only this issue has 3.7.4 milestone label, so I'm posting my question here.
NPM has 3.7.4 version, but github have not tag/release. Could you fix this?

[2019-12-22 15:53] weswigham commented on #35630
@DanielRosenwasser you wanna proof the draft GitHub release?

[2019-12-22 16:07] agrozyme commented on #35563
Here are the screen captures.

![00](https://user-images.githubusercontent.com/13079345/71324282-0ade3900-2518-11ea-8df6-c16d7043880d.PNG)
![01](https://user-images.githubusercontent.com/13079345/71324283-0b76cf80-2518-11ea-89f3-3624bad459e3.PNG)
![02](https://user-images.githubusercontent.com/13079345/71324284-0b76cf80-2518-11ea-83bd-63c66d30cf2e.PNG)

[2019-12-22 16:19] jason-chang commented on #33173
close

[2019-12-22 16:19] jason-chang commented on #33173
close

[2019-12-22 16:19] #33173 closed

[2019-12-22 16:28] manucorporat opened #35827 "Named imports should respect Record<string, any> types"
**TypeScript Version:**  3.7.x-dev.201xxxxx

**Search Terms: dynamic named imports, commonjs named imports**

**Code**

[code]

**Expected behaviour:**

I would expect typescript to allow **any** named import such as:
[code]
Since the exported namespace is a Record, where any string is valid.

**Actual behavior:**

The following code does NOT work:
[code]

Using the wildcard import works:
[code]

[2019-12-22 17:51] Manu1400 commented on #35826
The TypeScript Playground link is bad

[2019-12-22 17:51] arciisine commented on #35821
This means having typing information the `.d.ts` files that would allow the typechecker to infer a type as if it were specified using `as const`.  The feature request is only regarding the type system, nothing to do with emitted code or run-time behavior.

Readonly array is in the code examples as it is needed to support `as const` properly.

Without the `as const` modifier, the inferred type of `

[2019-12-22 18:00] #35778 closed

[2019-12-22 18:37] jcalz commented on #35821
So you want to annotate `fromCSV()` and `pick()` so as to infer narrower types from literal arguments?  If so, this is related to #30680.

[2019-12-22 19:30] trusktr commented on #35822
The return type is `class Awesome extends Base { method(): Foo }` where `Base` is determined from the generic type arg `T` that is inferred (or passed) at the call site of the `AwesomeMixin` function.

[2019-12-22 20:04] kwasimensah commented on #2559
I ran into this and just realized I could just replace

[code]

with

[code]

[2019-12-22 20:16] lightspeedlucas opened #35828 "Tagged union isn't always narrowed by intersection"
**TypeScript Version:**  3.7.2 / Playground's Nightly

**Search Terms:** intersection tagged union ADT narrow brand

**Code**

[code]

**Expected behavior:** `Narrow<K>` narrows down the ADT, as seen in the first case.

**Actual behavior:** Narrowing fails in some cases.

**Playground Link:** [Playground Link](https://www.typescriptlang.org/play/?ssl=11&ssc=72&pln=1&pc=1#code/C4TwDgpgBAggIgFSgXigb

[2019-12-22 20:36] dragomirtitian commented on #35828
You are misinterpreting the results of the code. Narrowing is never done by the `&` type operator. `&` just means an intersection of two types. This means that a type has to be both members of the intersection at the same time. While in some cases ts will simplify intersections that can never occur (for primitive intersections) for object intersections ts will not do this. This means that:
ts
[cod

[2019-12-22 20:43] lightspeedlucas commented on #35828
Ah, makes sense! Thank you so much for the explanation and solution, closing the issue.

[2019-12-22 20:43] #35828 closed

[2019-12-22 20:59] arciisine commented on #35821
That looks to be exactly the right issue.  Will close in lieu of #30680.

[2019-12-22 20:59] #35821 closed

[2019-12-22 21:02] arciisine commented on #30680
Closed #35821 in lieu of this.  To expand upon this issue,  I would also like to have support for this in Javascript, as `as const` is not applicable outside of `.ts` files.

[2019-12-22 21:02] Tiagoperes opened #35911 "Typescript: autocomplete won't work when "Parameters<Fn>" is used and "Fn" is passed through a generic"
Issue Type: <b>Bug</b>

Hello everybody, I wasn't entirely sure of where to post this: vscode or typescript? Since Typescript correctly shows the type and the problem lies in the autocompletion itself, I'm thinking there's a higher chance for this problem to be related to vscode.

The problem is: the autocomplete won't work even though Typescript clearly knows the type. This happens when I use the

[2019-12-22 21:24] #25988 closed

[2019-12-22 21:25] #31863 closed

[2019-12-22 22:26] frzi commented on #16577
[Web and Service Workers are also getting support for ES Module import/export](https://web.dev/module-workers/).

I fully support and endorse @trusktr 's idea of implementing their idea as a compiler option. It's not that I want to get rid of bundlers like webpack and rollup. But I do believe a feature like this will remove a lot of hassle and time spent on setting up bundlers, when all you want i

[2019-12-22 22:35] dcsan commented on #26887
my use case for this is having a single file that does some on the fly metaprogramming that strict type checking in TS is not really designed for. But just adding one `.js` file to your app is nasty. for example I have my IDE setup to ignore JS files, to output in a certain place etc. So enabling to use hacky JS syntax in a single file is a benefit.

[2019-12-22 22:36] andrewbranch commented on #29589
I can’t speak for @mjbvz or VS Code, but keep in mind that “extract to function” is available far more often than “extract to constant.” Only single expressions can be extracted to constants, while anything from a single expression to multiple consecutive statements can be extracted to a function. I suspect the reasoning is that it would be rare for the entire body of a function to be a return sta

[2019-12-22 23:08] Razzeee commented on #33399
I'm seeing the same with this branch

[2019-12-22 23:55] zzz6519003 opened #35829 "do you guys heard of anyscript? a new type of typescript"

[2019-12-23 00:08] polkovnikov-ph commented on #35017
@AnyhowStep Thank you, this approach literally changes quality of life. I just started marking places with dangerous casts with references to bugs in compiler, and have so much less anxiety by now.

[2019-12-23 00:20] Ciantic commented on #35601
This is same request I had in the diagnostics issue.

Use case I had is that I often found myself seeing a type in the hover tip, and copying it out. It never worked after the changes.

[2019-12-23 02:19] bychung opened #35830 "Optional Chaining has some bugs with array component. (on VSCode)"
**TypeScript Version:**  3.7.3 (release ver)

**Search Terms:**

**Code**

[code]

**Expected behavior:**
'OK code'

**Actual behavior:**
'Error code'
Didn't use optional chaining on first line of 'ERROR code', but myList has defined list so it is not error. Object is not possible 'undefined', but 'defined'.
Third line of 'ERROR code' shows myList.list is array of {name: string, tel: string} but T

[2019-12-23 02:29] jcalz commented on #30714
The fix for #28081, namely #31478, did not address enum keys; should this be reopened or should a new issue be filed?

[2019-12-23 02:56] jcalz commented on #35830
You're not using optional chaining.  The syntax `myList.list?[0].name` is interpreted as the conditional operator, and `[0]` is a `number[]`.  Also note that you get the error `: expected` after `name`

The optional chaining operator is alwyas `?.`, even before bracketed index access.   Try `myList.list?.[0].name` instead.  (See the [tc39/proposal-optional-chaining FAQ](https://github.com/tc39/pro

[2019-12-23 03:02] bychung commented on #35830
Thank you jcalz, myList.list?[0].name is my fault.
How about the first line of my Error code? I don't understand still yet.

[2019-12-23 03:17] jcalz commented on #35830
It's working as designed.  `myList` is annotated as `ContactList`.  This is not a union type, so there is no [control-flow analysis narrowing, #8010](https://github.com/microsoft/TypeScript/pull/8010) upon initial assignment.  Thus `myList` is just seen as a `ContactList`, and its `list` property is possibly `undefined`.

Note that this is not a forum for getting help with bugs in your code; it's

[2019-12-23 03:18] PandawanFr opened #35831 "Initialization of property in base class not recognized by sub class after redefinition"
**TypeScript Version:**  3.7.3

**Search Terms:** extends, constructor, class, overriding, assigned, properties, jsdoc, documentation

I'm not sure if this is an actual bug as this is related to #1617 but is not exactly the same case.

I have a base class and a sub class which extends the base one. My goal is to override the JSDoc of one of the base's properties but keeping everything else intact.

[2019-12-23 03:38] bychung commented on #35830
Thank you and sorry for my mistake.
I thought it wasn't an error for previous TypeScript version. Because I coded almost over 100k line, but it's the first time to get challenged like this error.
I'll bear your opinion in mind.

[2019-12-23 03:39] #35830 closed

[2019-12-23 06:29] bychung commented on #35830
It was closed, but in my experience it is something weird.. so I tried code like below,
[code]

and call this line, it works well.
[code]

I think it is same that initializing and assigning, TS compiler recognize only assigning case to be defined. Is it intended behavior? Maybe so, compiler need to be smarter than now I think.

[2019-12-23 07:05] markusjohnsson commented on #29589
Thanks @andrewbranch , of course, I didn’t think of that.

[2019-12-23 07:33] zdrawku commented on #28810
Fixed after upgrading to "typescript": "~3.7.4"

[2019-12-23 08:37] Kingwl commented on #18433
Same on this one🤦🏻‍♂️

[2019-12-23 09:14] Kingwl commented on #35829
yes。

[2019-12-23 10:17] sarimarton commented on #20469
I can't believe this issue hasn't been moved forward since 2 years ago. JSX in TypeScript currently is a vendor lock-in for React. Doesn't make sense.

[2019-12-23 10:56] zzz6519003 commented on #35829
gonna be a big problem

[2019-12-23 11:27] Arlen22 commented on #35601
Can we somehow make this a VS Code setting? I guess this is in Typescript now, so whatever the equivalent would be here.

[2019-12-23 11:38] rusco commented on #34898
@DanielRosenwasser  It should be February 2020 in the roadmap !   🐛

https://github.com/microsoft/TypeScript/wiki/Roadmap#38-february-2019

[2019-12-23 11:57] xiaoxiangmoe commented on #35829
As an Angular user, we have no choice but to use AnyScript, which is new version of Google AtScript.

[2019-12-23 12:50] sirreal opened #35833 "Generator helper should include [Symbol.toStringTag]"
**TypeScript Version:**  `3.8.0-dev.20191223` and `3.7.3`

**Search Terms:**

Generator, toStringTag, transformer, helper, tslib

**Code**

The following code will error in when using `compilerOptions.target = es5`, but works correctly when compiled with `target = es2015` or greater.

[code]

[code]

**Expected behavior:**

The property should be set as expected via the helpers.

Generators should

[2019-12-23 13:16] evenfrost commented on #35801
I've narrowed down the issue and it appears when using `fork-ts-checker-webpack-plugin` with webpack. If I remove `ForkTsCheckerWebpackPlugin` from my webpack plugins list, build runs without errors. It happens both in dev (with `webpack-dev-server`) and production build (when using `webpack` right away).

[2019-12-23 13:37] regseb commented on #35826
@Manu1400 TypeScript Playground doesn't report error. So I attached a [zip](https://github.com/microsoft/TypeScript/files/3995115/testcase.zip) to reproduce the problem.

[2019-12-23 14:44] AnyhowStep commented on #35829
Never heard of it. Googling it just brings me to this issue lol.

Since we're bringing up random TypeScript variants, here's one.

https://arxiv.org/pdf/1604.02480.pdf

Refinement types for TypeScript

[2019-12-23 14:56] chandu0101 opened #35834 "parsing fails for nested array with objects"
**TypeScript Version:**  3.7.x

**Code**

[code]

***Parsed AST :***

[code]

[AST Viewer](https://ts-ast-viewer.com/#code/MYewdgzgLgBKYDMCWBzAXDA3gKBn-eIARgFYCMA-BpjOAKYZgCuAtkXQE4A0tpZwVLDABuAQwA2TBjGgckYFDAC+yrrgL5iJAEyCaUAO4hGrdt147RggIIcOogJ4AeGmFEtps+Sh5btokD0RCSkMLwVlZQA+VXUNGFE7XQxbe2dUxxc3DzRwlCUoqLjIgF4sJSA)

**Expected behavior:**

arr2 should be parsed as `{name:string}[][] `

**Actual

[2019-12-23 15:40] dragomirtitian commented on #35834
Nothing has failed, this is the expected behavior. The actual type of `arr2` is `{name:string}[][] | undefined`. The `undefined` comes from the fact that `arr2` is optional.

The `...` you are seeing comes from the fact that if a type is too long ts will truncate the long names when printing the type in tool-tips (i believe setting `noErrorTruncation` will remove this behavior at least in part).

[2019-12-23 16:01] evenfrost commented on #35801
So after 4 hours of digging I've finally tracked down the issue (for me at least).

**TL;DR:** You should explicitly specify `tsconfig` option in `ForkTsCheckerWebpackPlugin` if you're using custom TS config file location.

Long story: I'm using `webpack`, `ts-loader`, `fork-ts-checker-webpack-plugin` and 2 separate TS config files (the one builds the client and is located in `{project_root}/clien

[2019-12-23 16:03] lingz commented on #35729
Hi @ahrnee , The whole typescript compiler is one flat JS file (on production builds), So just step inside the definition from the chrome terminal and search for the `trySymbolTable` function.

[2019-12-23 16:03] lingz commented on #35729
@AnyhowStep It was always explicit, but nonetheless, still causing this bug to emit.

[2019-12-23 16:06] nojvek commented on #20469
Gonna change existing PR to make it behave like how Babel does it with jsxFrag plugin option and pragma.

Yeah it is crazy that it’s 2 years since the issue was opened and this still hasn’t landed even though Babel’s had it for a while.

Some part of that I feel is TS team is quite overloaded and a whole bunch of small things are falling through. Like even if we make changes so it’s like Babel, mo

[2019-12-23 16:32] jcalz commented on #35830
It is still working as designed.  `myList` is of a non-union type, but `myList.list` is a union-typed property.  Assigning to `myList` therefore does not do control-flow narrowing, but assigning to `myList.list` does.  It would be great if the compiler could do control-flow narrowing even in non-union types, but it might not be worth degrading compiler performance to do so.

This is possibly a dup

[2019-12-23 17:04] falsandtru opened #35835 "Undetected unreachable code"
These are obvious mistakes.

**TypeScript Version:**  3.7.x-dev.20191221

**Search Terms:**

**Code**

[code]

**Expected behavior:**
Detect unreachable code.
**Actual behavior:**
not detected.
**Playground Link:** http://www.typescriptlang.org/play/index.html?ts=3.8.0-dev.20191221#code/CYUwxgNghgTiAEYD2A7AzgF3lAXPARkkhCFCgNwCwAUABS0CU8AvAHzwDeN8P8AlgDN4tKEzgYArjArdeg4aM6zevcVIrwA9JvgBVFHChgAFlHwl

[2019-12-23 17:52] bcherny commented on #18319
Related bug in v3.7.2. `noImplicitReturns` doesn't affect the behavior.

[code]

Notably, this prevents you from expressing React props as unions:

[code]

[2019-12-23 18:27] AnyhowStep commented on #35834
Regarding `noErrorTruncation`, https://github.com/microsoft/TypeScript/issues/26238

[2019-12-23 19:05] DBjelovuk commented on #20111
Still nothing on this...?

[2019-12-23 20:00] #35799 closed

[2019-12-23 20:00] #35548 closed

[2019-12-23 20:01] DanielRosenwasser commented on #32856
Here's the repro

[code]

[2019-12-23 20:06] #34957 closed

[2019-12-23 20:18] #33871 closed

[2019-12-23 20:19] DanielRosenwasser commented on #33871
Thanks @saschanaz!

[2019-12-23 20:27] #35474 closed

[2019-12-23 20:28] DanielRosenwasser commented on #35474
Thanks @a-tarasyuk!

[2019-12-23 20:30] #35410 closed

[2019-12-23 20:30] DanielRosenwasser commented on #35410
Thanks @a-tarasyuk!

[2019-12-23 20:59] ElianCordoba commented on #9619
Would be possible to do something like shown [here](https://youtu.be/jmPZztKIFf4?t=3458)?

[2019-12-23 22:20] chandu0101 commented on #35834
`config['arr2']` is working fine in my transformer too,

cool, in my case i am using  `typeChecker.typeToString(t)`
[code]
IMO  `typeChecker.typeToString(t)` should  return a string without truncation regardless of `noErrorTruncation` compiler option :s

[2019-12-23 23:05] DanielRosenwasser commented on #35829
Nope, I have not.

[2019-12-23 23:05] #35829 closed

[2019-12-23 23:11] DanielRosenwasser commented on #35834
`typeToString` takes a 3rd optional parameter where you can disable trunctation with `ts.TypeFormatFlags.NoTruncation`

[2019-12-23 23:20] DanielRosenwasser commented on #35826
What exactly is the purpose of this code? `URL` already has a typed declaration of `href` elsewhere.

[2019-12-23 23:34] andrewvarga commented on #16577
Does anyone know of a way where you can run the compiled individual js files in a browser without webpack or --outFile, using any kind of module system?

My problem is this: the fairly large TypeScript project I'm working with takes about 35 seconds to compile with webpack into a bundled js file using `ts-loader`.
The only way I could optimize this was using `transpileOnly` which cut the compile t

[2019-12-23 23:47] justinfagnani commented on #16577
@andrewvarga I currently run all my compiled TypeScript directly in the browser without bundling or compiling to a single file. The easiest way to do this is:

1. Make sure all imports in TypeScript files have the `.js` extension.
2. Run a dev server that resolves imports of npm package names for dependencies, if necessary. [`es-dev-server`](https://www.npmjs.com/package/es-dev-server) is the simp

[2019-12-24 00:00] #35746 closed

[2019-12-24 00:00] #35159 closed

[2019-12-24 00:17] Draccoz commented on #16577
@justinfagnani mate, you forgot the most important piece of information - types must be in jsdoc format, any typescript abstraction over native JavaScript will make the parser fail.

[2019-12-24 00:25] chandu0101 commented on #35834
perfect thank you :)

[2019-12-24 00:25] #35834 closed

[2019-12-24 00:29] joshuakb2 opened #35836 "Inferred type may no longer be accurate"
**TypeScript Version:**  3.8.0-dev.20191223

**Search Terms:** side effects, never, inferred type, inaccurate

**Code**

(Use --strictNullChecks)

[code]

**Expected behavior:** `foo.bar?.sayHi` is not an error because `foo.bar` might not be `undefined` anymore.

**Actual behavior:** TS still expects `foo.bar` to be `undefined` even though `foo.resetBar()` changes it.

**Playground Link:** [Playgr

[2019-12-24 00:40] justinfagnani commented on #16577
@Draccoz `tsc` will output JavaScript, not TypeScript.

[2019-12-24 00:45] #35509 closed

[2019-12-24 00:45] #35510 closed

[2019-12-24 01:02] DanielRosenwasser opened #35837 "No completion for `asserts` in return type annotations"
[code]

**Expected**: Completion at `/**/` contains `asserts`
**Actual**: No completion for `asserts`

[2019-12-24 01:06] DanielRosenwasser opened #35838 "Assertion function error messages are unactionable and unclear"
[code]

Current error

[code]

`foo` is declared here but... but okay so what am I supposed to do now??

[2019-12-24 01:25] DanielRosenwasser commented on #35833
This is so bizarre to me - why on earth would code want to defensively check like this when generators are not the only way to produce iterators?

[2019-12-24 01:29] bychung commented on #35830
Got the control-flow narrowing, but still there's a point.
You said control-flow narrowing is only applied to union type except non-union type, and my point is why the compiler does not investigate inner non-union(`myList`) that has union property(`myList.list`). Maybe I'm wrong, but I know the compiler has already got the structure of non-union(`myList`) and there's a union property(`myList.list`

[2019-12-24 01:55] lastmjs commented on #16577
@andrewvarga The simplest way that I know of to transpile without bundling is my project [Zwitterion](https://github.com/lastmjs/zwitterion). It is designed to be a replacement for a static file server, so that you don't have to change the way you develop. You can import and export with explicit file extensions, even in script elements. It is very performant. You will have to rely on your editor f

[2019-12-24 02:07] ExE-Boss commented on #35833
Do&nbsp;note that&nbsp;it&nbsp;should also&nbsp;inherit from&nbsp;`%IteratorPrototype%`, which&nbsp:will be&nbsp;exposed by&nbsp;[the&nbsp;Iterator&nbsp;helpers&nbsp;proposal](https://github.com/tc39/proposal-iterator-helpers) as&nbsp;`Iterator.prototype`.

[2019-12-24 02:22] jcalz commented on #35830
At this point you're talking to only me, because the issue is closed.  If you want to reopen it, you should edit the initial post and complete the template.  Good luck.

[2019-12-24 02:37] jcalz commented on #35835
Related: #17358

[2019-12-24 03:01] ShanonJackson commented on #33933
Can you elaborate on these factors? @RyanCavanaugh we have many internal libraries in our team and are debating adopting optional chaining but the transpiled output is just eye-gouging material; its a choice between terrible bundle size or gaining access to cleaner syntax.

[2019-12-24 03:05] fis-cz commented on #33800
Hi, I have written simple TypeScript preprocessor working over AST tree before it is being type checked (this have multiple advantages than to work over the source text - the biggest one is related to map files).

It is using standard compiler API exclucding AST manipulation (as this is not supported by API at all at this time as far as I know)

Currently, only define, if, else and endif pragmas a

[2019-12-24 03:28] fis-cz commented on #16607
Just for those who need it I wrote simple AST preprocessor for conditional compilation. Before plugins are implemented it must be run as a complete separate compiler.

See #33800 for details.

[2019-12-24 03:40] jcalz commented on #35836
Duplicate of #9998

[2019-12-24 04:21] falsandtru commented on #35835
The definitive difference is other similar issues describe the place where is unreachable at type-level but actually reachable at runtime but this issue describes the place where is unreachable even at runtime.

[2019-12-24 05:48] falsandtru commented on #35835
And type-level unreachable clauses of other examples must be allowed to handle exceptional cases at runtime but this is always just a mistake.

[2019-12-24 06:36] b4dnewz commented on #24220
does anyone know if is possible to say that the interface which uses the **type** or **enum** as key can accept only one property?

For example a signature like this:` { <field>: { <and|or|xor>: <int> } }` took from [mongo bitwise operator](https://docs.mongodb.com/manual/reference/operator/update/bit/#definition).

[code]

An then when using it, I would like to validate that the variable which is

[2019-12-24 06:44] littledan commented on #32954
Sounds like @weswigham 's idea is a kind of automated version of @nicolo-ribaudo 's. I think they can both work, and I've seen both patterns used in browsers. The important thing is that the tree doesn't suddenly become red when test262 adds a new test, but that the failure *is* visible if there was a regression caused by a TypeScript change; I think you can achieve this through either approach.

[2019-12-24 07:24] MeirionHughes commented on #14419
@nonara I've used transforms with `ttypescript` and ts-loader`, both have full program entry points. My problem is that if you add a new import statement, its missing "something" and those new statements are stripped out of the final output emit. @mhegazy says its because transform is a post-binding step. The only solution apparently is to make an entirely new Program for the file - but that just

[2019-12-24 07:49] mqliutie commented on #12815
Any solution?

[2019-12-24 08:37] ShanonJackson commented on #32401
Just to throw my use case in as well as i'd actually really like generics in import types.
I.E  ``` type importOf<T extends string> = typeof import(T);```
This will allow incredible new possibilities for my isomorphic projects because i'll be able to do this...
[code]
Where all my API endpoints export a default endpoint and which returns some data.

[2019-12-24 09:15] regseb commented on #35826
I misunderstood. I thought we should specify all destructuring in the JSDoc. But this isn't necessary for `URL` because TypeScript already knows the structure.

This code works:

[code]

Thank you for your response and sorry for this false issue.

[2019-12-24 09:15] #35826 closed

[2019-12-24 10:15] RomainMuller commented on #16749
I am facing a similar issue with the following `tsconfig.json`:

[code]

And then whenever I try to do `import { version } from './package.json';`, the second compilation attempt yields a `TS5055` complaining about the `package.d.ts` that corresponds to `package.json`.

The reason I think this is incorrect behavior is because it differs to the behavior around `.ts` files: I can `include` any patte

[2019-12-24 11:21] fan-tom commented on #6223
what about that?
[code]
Can we change base class type parameters when we return `this`?