[2018-07-18 16:16] mhegazy commented on #25746
that is a general problem that we have today as well with the quick fix to install `@types` packages. Today we install the latest `@types` package regardless. ideally we would be more cognizant of the version and install the right version. Then the next problem is detecting version mismatches and warning the user about them, giving them the option to update. I think this feature would follow the s

[2018-07-18 16:36] dannycochran commented on #25746
Gotcha. I like that as it forces the user to understand what's happening, and that the typings are going to be very lax (dts-gen tends to do a lot of `any` typing).

Where would the declaration file go? I suppose you could put it into `node_modules/<untypedPackage>/index.d.ts`, but then it doesn't get checked in.

If you put it into the app directory, you'd probably want to check if there's alread

[2018-07-18 16:52] mhegazy commented on #25772
We have explicitly made `with` blocks errors in TS. This issue is the first i have seen for use of `with` statements in TS in the past 5 years (and we have had a lot of issues 😃).  So i am inclined to say this is out of scope unless you have another scenario in mind.

[2018-07-18 16:58] andy-ms commented on #25772
As an example, all of our fourslash tests run with access to a scope that they aren't lexically inside of, by using `eval`. We get around this by putting them in their own files, in a different project with phony global variable declarations. But that workaround would be pretty inconvenient for a one-off function.

[2018-07-18 16:59] mhegazy commented on #25769
I believe this should be fixed in `typescript@next`. can you please give it a try and let us know if that is not the case.

[3.0 should not have breaking changes vs 2.9](https://blogs.msdn.microsoft.com/typescript/2018/07/12/announcing-typescript-3-0-rc/#breaking-changes). so you should be able to upgrade from 2.9 to 3.0.

`typescript@3.0-rc` is out already. `typescript@3.0.1` should be available

[2018-07-18 17:08] dannycochran commented on #24220
@mhegazy I'm using 3.0.0-rc and still getting the same error as originally posted. Is this expected?

[2018-07-18 17:47] jasonbaker commented on #25650
Does this mean that there's no way the compiler can guarantee that a field that is not marked readonly has both a getter *and* a setter?

[2018-07-18 17:52] a-tarasyuk commented on #25770
@mhegazy @andy-ms @DanielRosenwasser which message will be acceptable to this case?

[2018-07-18 17:53] seansfkelley commented on #25762
Seeing this on 3.0.0-rc as well. It appears to [repro on the playground as well](https://www.typescriptlang.org/play/index.html#src=export%20%7B%20name1%2C%20name2%20%7D%3B%0D%0Aexport%20%7B%20variable1%20as%20name1%2C%20variable2%20as%20name2%20%7D%3B%0D%0Aexport%20let%20name1%2C%20name2%2C%20nameN%3B%20%0D%0Aexport%20let%20name1%20%3D%201%2C%20name2%20%3D%202%2C%20nameN%3B%20%0D%0Aexport%20funct

[2018-07-18 18:06] mhegazy commented on #25755
The code that was emitted before for `--module amd` was not right. using `require` to load the `.json` file would fail at run time. I am not sure i understand how that worked for you previously. can you elaborate?

[2018-07-18 18:06] andy-ms commented on #25770
I'm thinking something like:
`'S' is a type, not a symbol. To use 'S' as a key type of a mapped type, use `K in S`.`

(Note that with `const S = Symbol();` the code would compile as-is.)
Note that a mapped type will only work here if the type does not have any other properties; see #24286.
We could also add a codefix triggered by this diagnostic.

[2018-07-18 18:12] mhegazy commented on #25650
An interface is a contract. if the contract has a non-`readonly` property, it means you can assign to it, and you can read its value (nothing in the contract says that they both have to be the same).

A get-only property can still be written to. so that satisfies the contract. A set-only property can still be read from, but it has the value `undefined` at runtime. so the compiler should flag this

[2018-07-18 18:15] RikkiGibson opened #25774 "Go-to-definition on tagged union property should filter down to known union case"
**TypeScript Version:**  2.9.1
Issue produced using vscode 1.25.1 which appears to depend on 2.9.1

**Search Terms:**
tagged union, go to definition

**Code**

[code]

**Expected behavior:**
Go-to-definition on the `color` property goes to the definition on `Cat` instead of showing definitions for both Cat and Dog.

**Actual behavior:**
Go-to-definition shows candidate definitions in both the `Cat

[2018-07-18 18:16] mhegazy commented on #25746
`node_modules` is not the best place. since that is not checked in your project. we will have to pick a name for a folder for these packages. I think we can use `typeRoots` as a way of inferring the location of types.

[2018-07-18 18:18] mhegazy commented on #25774
QuickInfo needs to do the same as well. Assuming you have multiple jsdoc comments for `color` on both `Dog` or `Cat`, the compiler should be smart enough to only pick one or the other based on the discriminant property type.

[2018-07-18 18:27] seansfkelley opened #25775 "TypeError: Cannot read property 'length' of undefined when mixing --strictFunctionTypes, Promises and parameter spread types"
**TypeScript Version:**  3.1.0-dev.20180717

**Search Terms:** strict

**Code**

[code]

Run with `tsc <filename>.ts --strictFunctionTypes --target es6`

**Expected behavior:**

No compiler crash.

**Actual behavior:**

Crash with the following stack trace:

[code]

**Playground Link:** [link](https://www.typescriptlang.org/play/index.html#src=export%20function%20wrapFunction%3CT%20extends%20any%5

[2018-07-18 18:33] cevek commented on #25758
This is very sadly

sometimes it works, from time to time
[code]

[2018-07-18 19:55] #25327 closed

[2018-07-18 19:55] #25536 closed

[2018-07-18 19:57] #25528 closed

[2018-07-18 19:57] mhegazy commented on #25528
Please reopen if you are still seeing this on latest.

[2018-07-18 19:58] mhegazy commented on #24966
@weswigham can you take a look. we need a temporary fix for 3.0.1.

[2018-07-18 20:00] mhegazy commented on #25131
Already tracked by https://github.com/Microsoft/TypeScript/issues/24966

[2018-07-18 20:00] #25131 closed

[2018-07-18 20:02] #25560 closed

[2018-07-18 20:07] mhegazy commented on #24752
The compiler today does not have any reasoning about array bounds. Its is not clear if there is a way to plug this into the current system.

[2018-07-18 20:08] mhegazy commented on #24751
@andy-ms can you help answering this one.

[2018-07-18 20:11] mhegazy commented on #24718
Please see https://github.com/Microsoft/TypeScript/issues/22040

[2018-07-18 20:13] mhegazy commented on #24688
This is a result of our weak type checks. i have seen this reported multiple times already.

[2018-07-18 20:15] mhegazy commented on #24468
The conclusion here is that we will allow a template request to be fulfilled in an empty comment. VSCode will close the comment before sending the request.

[2018-07-18 20:31] mhegazy commented on #23955
We currently have no way of letting generic parameters "escape" from an instantiation. the system assume that all parameters will be accounted for. i

[2018-07-18 20:35] Hotell commented on #25279
forcing people to install stuff globally. not cool 👎 but I guess that's a quick fix right ?

[2018-07-18 20:36] igrayson opened #25778 "Managing code compatibility in a TypeScript ecosystem with multiple compiler versions"
We're looking for recommendations from the TypeScript team on the best way (with today's tools) to mitigate the organization-level developer pain of a large internal ecosystem with multiple TS versions, and whether you know of any existing approaches. I'm especially interested to hear stories of how other teams have concretely mitigated it (I link to one such below, from Google).

This isn't a Typ

[2018-07-18 20:53] mhegazy commented on #23922
Generic type `F` is assignable to its constraint `(...args: any[]) => any[]`, but the opposite is not true. consider calling your function `pipe` with `{ (...args: any[]) => any; prop: number; }`.

[2018-07-18 20:59] nwalters512 commented on #6686
I hate to raise this issue from the dead, but I just ran into this issue while trying to write types for the `child-process-promise` library. The functions return a subclass of `Promise` that have an additional `childProcess` member so that you can, for instance, listen to data on the `childProcess.stdout` stream. However, declaring the type:

[code]

I'm unable to return a `ChildProcessPromsie` f

[2018-07-18 21:04] mhegazy commented on #25778
you might find the proposal in https://github.com/Microsoft/TypeScript/issues/22605 sufficient for your needs.

the assumption in https://github.com/Microsoft/TypeScript/issues/22605, that you have a "tool" that can emit a .d.ts compatible with different versions of the compiler.

[2018-07-18 21:12] mhegazy commented on #18589
that would be a massive breaking change.

[2018-07-18 21:15] mhegazy commented on #18754
Should be fixed in latest.

[2018-07-18 21:15] #18754 closed

[2018-07-18 21:20] mhegazy commented on #19843
That is another instance for `awaited` higher order type operator. https://github.com/Microsoft/TypeScript/pull/17077 and https://github.com/Microsoft/TypeScript/pull/21613 attempted to get that done, but eventually failed.

[2018-07-18 21:29] tschaub opened #25779 "Parens on union type fail for function arguments (JSDoc style)"
**TypeScript Version:**  typescript@3.1.0-dev.20180717

**Search Terms:** function arguments grouped union type

**Code**

I notice that if a union type is grouped with `(` and `)` it works as a return type but not as an argument type.  For example, this does not work:

[code]

While this does work:

[code]

**Expected behavior:**

With this `tsconfig.json`:
[code]

I expected `tsc` to succeed.

*

[2018-07-18 21:36] mhegazy commented on #20100
Duplicate of https://github.com/Microsoft/TypeScript/issues/19412

[2018-07-18 21:37] #25183 closed

[2018-07-18 21:37] #25326 closed

[2018-07-18 21:39] arackaf commented on #25750
Sorry to add so much spam to this issue.  It seems even deleting my typings file completely, still causes this JSX to lock VS Code up, with it falsely reporting an error for a good 30 or so seconds.  It happens as soon as, and only when I, put the arrow function there.

I confirmed the typings were gone, and VS Code was in fact reporting these members as `any`.  I'm a bit hesitant to publish this

[2018-07-18 21:48] benedictchen commented on #22585
This is truly awful...

[2018-07-18 21:54] mhegazy commented on #20487
in your language service plugin you will need to handle completions for modules by adding the .vue module completions to the ones returned from the base LS.

[2018-07-18 21:58] mhegazy commented on #25779
@sandersn would be nice to get this in to unblock the openlayers/openlayers PR

[2018-07-18 22:16] mjbvz commented on #25630
@sheetalkamat Have you made progress investigating this? Any additional information needed?

[2018-07-18 22:29] DanielRosenwasser commented on #25750
It's going to take some time to investigate the problem that you were running into without a minimal repro. This issue really is only about giving a better error message in specific cases (which you can see an example of in #25752).

Yeah, I would recommend not publishing with `.d.ts` in the meantime then if it's going to cause users a lot of pain.

[2018-07-18 22:29] #25750 closed

[2018-07-18 22:43] mhegazy commented on #22331
The issue here is caused by the declaration files defining the same global functions. this can be remedied by either 1. both defining them the same exact type, 2. refactoring the declaration files to be modules instead of global declarations, or 3. by refactoring the declaration files to have a third common package both packages depend on and have the shared declarations.

[2018-07-18 22:45] mhegazy commented on #23263
Type of a unique symbol is widened unless it is of the form `const sym = Symbol()`. the intent here is not clear. this was also done to avoid breaking changes.

[2018-07-18 22:52] mhegazy commented on #23669
I think the type should be defined as:
[code]

The problem is today there is no way to implement this function without casts. we have been using
 https://github.com/Microsoft/TypeScript/issues/23132 to track that.

[2018-07-18 22:55] mhegazy commented on #23578
`T extends MyEnum` is the right type. `T` is still generic, and in the presence of intersection type, a type can be manufactured that is more specific than `MyEnum` to instantiate your function with, e.g. `MyEnum.One & { tag: void }`

[2018-07-18 22:55] Nek- commented on #25704
@mhegazy btw how do you make a reference to original module inside this declaration?

[code]

[2018-07-18 22:59] mjbvz opened #25782 "Folding does not return all ranges in file with large chained method"
From https://github.com/Microsoft/vscode/issues/53766

**TypeScript Version:**  3.1.0-dev.20180713

**Search Terms:**
- Folding
- Outliningspans

**Code**

open [this file](https://github.com/Microsoft/vscode/files/2194553/test.zip) and request folding rabge

**Bug:**
Folding ranges are only returned after line 3800 or so

[2018-07-18 23:00] mhegazy commented on #22390
I am not seeing errors on latest. PropTypes are still inferred to be `any`, since that is the type of the props in the declaration of `MyComponent`.

[2018-07-18 23:00] #22390 closed

[2018-07-18 23:01] igrayson commented on #25778
Thanks @mhegazy. Yes, I should have clarified that I'm interested in recommendations that are possible with today's tools.

Adapting #22605 into such a thing, I believe it looks like this?

1. Library builds .d.ts with tsc@2.9.2.
2. For each build, developer hand-modifies output .d.ts into multiple backwards-compatible flavors `index-2.8.d.ts`, etc.
  a. Alternatively: enhance `tsc` to be able to

[2018-07-18 23:02] mhegazy commented on #25782
@uniqueiniquity can you take a look

[2018-07-18 23:02] mjbvz opened #25783 "docCommentTemplate does not return result for object property functions"
From https://github.com/Microsoft/vscode/issues/54619

**TypeScript Version:**  3.1.0-dev.20180713

**Search Terms:**
- docCommentTemplate
- jsdoc

**Code**
In the js file:

[code]

Make a `docCommentTemplate` request on the second line before `calc`

**Expected behavior:**
A template for the jsdoc is returned

**Actual behavior:**
`No content available.` returned

[2018-07-18 23:06] mhegazy commented on #25269
Duplicate of https://github.com/Microsoft/TypeScript/issues/10247

[2018-07-18 23:07] oleersoy commented on #25677
[I've implemented a script that converts all of my projects absolute paths to relative paths](https://github.com/fireflysemantics/validator/blob/master/createdist.js).  After having done this it seems even more obvious to me that this is the right thing to do when compiling to ES5 / CommonJS format.  Honestly what could the down side possibly be?

[2018-07-18 23:08] mhegazy commented on #25704
`import {} from 'phaser-ce';` at the top.

[2018-07-18 23:12] mhegazy commented on #25778
We have not had explicit guidance on this regard. what we have seen ppl do are either one of two approaches, 1. option a above, where the whole org moves their TS version all at once. 2. for libraries to test against older versions, and try to isolate the breaks from their users. Most of the breaks do not escape to the .d.ts files (with few exceptions).

[2018-07-18 23:15] mjbvz opened #25784 "Bring back typedef property expansion"
_From @zavr-1 on July 18, 2018 20:25_

In the newer version, I can only see the type of an argument which is an object, compared to how it was expanded in the previous versions.

![test3](https://user-images.githubusercontent.com/21156791/42904849-3f94249c-8ace-11e8-91bb-8a09063e9d30.png)

It was actually very useful to see all properties on hover which served as a documentation.

![test4](https:/

[2018-07-18 23:15] vaskevich commented on #23578
Thanks for getting back, that does make sense. How would you rewrite the code to support this scenario, though? I tried something like this:

[code]

but of course, in this case `value` is just going the be the union of all the types of values in `TypeMap` (`number | string`), so that doesn't work. Would we need something like `T extendsExactlyAndNothingMore MyEnum`?

[2018-07-18 23:17] mjbvz commented on #25784
@zavr-1  do you see the @param properties if you scroll the hover?

[2018-07-18 23:30] mhegazy commented on #23578
The generic type is the correct way to do it.. the type really should be `T extends MyEnum.One` and not `T extends MyEnum`. https://github.com/Microsoft/TypeScript/pull/22348 should address that.

[2018-07-18 23:32] mhegazy commented on #24791
Seems to be the same as https://github.com/Microsoft/TypeScript/issues/22137 and should be addressed by https://github.com/Microsoft/TypeScript/pull/22348

[2018-07-18 23:35] mjbvz commented on #25784
Yes, I think I misunderstood this specific issue but having a way to expand types dynamically in hover would be very helpful. We have no concept of this in VS Code currently. Visual Studio might though

[2018-07-18 23:39] mhegazy commented on #18606
`ITest` here is a declaration of a new type parameter, and not an application to a type argument. functions with type parameters do not get contextual types.

[2018-07-19 00:04] mhegazy commented on #25784
VS does not either. i think eclipse does.

[2018-07-19 00:07] iteriani commented on #8306
fwiw, we're probably going to encourage our customers (google) to use @final in comments so it propagates to closure compiler :\

[2018-07-19 01:02] bradleyayers commented on #25769
This isn't fixed for me in 3.1.0-dev.20180717, https://unpkg.com/@heydovetail/editor@4.4.1/lib.es2015/compose.d.ts shows `import("src/composing")` instead `import("./composing")`. It looks like it's emitting an absolute import for a relative path.

[2018-07-19 01:06] look997 commented on #25280
@sheetalkamat

You wrote the truth.
This is when the other package has a dependency: jquery.

[2018-07-19 01:09] lukaszpolowczyk commented on #25280
@sheetalkamat

You wrote the truth.
This is when the other package has a dependency: jquery.

[2018-07-19 01:14] zhaoyi0113 opened #25785 "Why does `tslint` report `TS2531: Object is possibly 'null'.` even I checked it before use?"
I am using `typescript` in React project. I have below code in `typescript`:

            if(this.state.deletedItem !== null) {
                    this.props.deleteItem({refItemIdx: this.state.deletedItem.itemIdx});
                  }

Below is the type definition:

     interface State {
      deletedItem: ItemDiscountTranItem | null;
    }

    export class MainView extends React.Component<Pro

[2018-07-19 01:36] nwalters512 commented on #6686
Ah! I had this idea that returning a promise would bypass the usual wrapping of the return value in a promise, not sure where that came from. Thanks so much. Making the return type `Promise<ChildProcessPromise>` was able to fix the type error.

[2018-07-19 01:48] mjbvz commented on #25207
Another possible use case: generate complete method signature when overriding a method in a subclass https://github.com/Microsoft/vscode/issues/46038

[2018-07-19 01:56] yortus commented on #6686
The return value will not be a `Promise<ChildProcessPromise>` despite passing the type checker. A promise never resolves to another promise, by design. The `Promise` instance returned by a call to `ls` will adopt the *state* of the special `promise` instance that was created inside the function. So it will resolve or reject when that inner promise resolves or rejects. But anything else special abo

[2018-07-19 02:11] whu-iss-jack commented on #25760
@0x414c
thanks anyway, I hope `Omit` and `WithOptional` can be added to lib.d.ts in the future cause it's really a very common need.
yet there's another problem with `keyof a Union type`
[code]

[2018-07-19 02:43] falsandtru commented on #23263
You don't have any reason to widen the type here. This change never breaks any valid code. Then this is pure improvement. You don't have any reason to avoid this improvement.

[2018-07-19 03:07] emilioplatzer commented on #24752
Do you want to label this issue to be a good idea for the future?

In special if you think that is need to enance array and tupple treatament.

For example:
[code]
both points to the same object. `e1` can be undefined in the same way that `e2`, but `tsc` does not warns any problem in e1.

Or in a tuple case:
[code]
the assigment inside the function does not warns the error. After that statement `a

[2018-07-19 03:42] waynerobinson commented on #21621
I'm having the same problems.

[2018-07-19 04:05] yeliex opened #25786 "unexpected generated export with semicolon"
**TypeScript Version:**  2.9.2

**Search Terms:**

**Code**

[code]

**Expected behavior:**
tsc output:
[code]
**Actual behavior:**
tsc output:
[code]
**Why export Types with semicolon in namespace? It should be ignored**

[2018-07-19 05:20] FredyC commented on #22331
Hey, so you say this not something that can be fixed on TypeScript side? And what about my suggestion? Seeing a number of thumbs here I would say I am not the only one bothered by this. Why forcing the solution to the userland when there is such an easy fix?

1) Two different test frameworks, not really possible to force either one of them to use exact same type as other
2) I am not sure it can wo

[2018-07-19 05:21] whu-iss-jack commented on #25760
I just got a solution.
[code]

[2018-07-19 05:51] baj9032 commented on #25279
@andy-ms :+1:

[2018-07-19 05:56] yln99517 commented on #25768
Thank you very much.

[2018-07-19 05:56] #25768 closed

[2018-07-19 06:15] LeviticusMB commented on #25755
Well it' not any different from importing the `libphonenumber-js` library itself: We just have a build script that makes sure the module and the data files are available at runtime.

[code]

(The only quirk was that when targeting `amd` instead of `commonjs` or `es6`, the JSON module name becomes `node_modules/libphonenumber-js/metadata.mobile` and not `libphonenumber-js/metadata.mobile.json` as o

[2018-07-19 06:15] simonferndriger commented on #25767
OK, thanks!

[2018-07-19 06:19] AlCalzone commented on #25720
And one more thing:
[code]

[2018-07-19 06:30] AnnikaNissen commented on #25279
@Hotell I fixed this yesterday just by creating a new folder somewhere, runnint `npm init` and then `npm install typescript@next` in that folder. Then I linked the VS Code setting to that folder:
[code]
That works perfectly (and without global installs) for me, using VS Code on MacOs.

[2018-07-19 06:52] EECOLOR commented on #13730
@Guema as far as I can tell, the code does not use glob to resolve anything. The syntax here is typescript specific and the `*` is used to bind the parts together. Having `{ "paths": { "/*": "./src/*" } }` is in my opinion in no way confusing.

And you're free to keep that. We just want to add an alias restricting that behavior.

I value your input. Whether we go with an `alias` or `resolveRootPat

[2018-07-19 06:53] NN--- commented on #18589
Typing [1,2] as ReadonlyArray<number> rather than Array<number> today is of course breaking change.
Are there any plans for inferring generic arguments like in this case ?

[code]

[2018-07-19 07:22] robertontiu commented on #25685
@weswigham I'm not entirly sure what you mean but I'll give it a go and post back the result. Thanks

[2018-07-19 07:43] stucox opened #25787 "Behaviour spreading an Array with empty slots inconsistent with Node / browsers"
**TypeScript Version:**  3.1.0-dev.20180717

**Search Terms:** array spread empty

**Code**

[code]

**Expected behavior:**
Node, Chrome, Firefox etc all evaluate this to `[undefined, undefined, undefined]`.

I couldn’t work out if the ECMA spec is clear about this, but the other implementations at least set a precedent, so would expect Typescript to follow suit (and if the spec isn’t clear, it pr

[2018-07-19 07:54] stucox commented on #25787
Apologies, this is a duplicate of #8856.

[2018-07-19 07:54] #25787 closed

[2018-07-19 08:14] AlCalzone opened #25788 "Compiling a type-only module generates an unnecessary js file"
**TypeScript Version:**  2.9.2

**Search Terms:** type only unnecessary empty js file

When writing a type-only module with no runtime code at all. I would expect no js-file to be generated.

**Code**
[code]

**Expected behavior:**
Only .d.ts file is generated, no .js file

**Actual behavior:**
.js file is generated with the following content:
[code]

**Playground Link:** https://www.typescriptlan

[2018-07-19 08:21] cevek opened #25789 "property transformation visitor doesn't take into account exclamationToken"
**TypeScript Version:**  3.0.0-dev.20180712

**Search Terms:**

**Code**

`visitor.ts`
[code]

**Expected behavior:**

**Actual behavior:**

**Playground Link:**

**Related Issues:**

[2018-07-19 08:38] j-oliveras commented on #25788
Duplicated of #15097 and #10908?

[2018-07-19 08:40] cevek opened #25790 "Cannot read property 'kind' of undefined at Object.isParameter"
**TypeScript Version:**  3.0.0-dev.20180712

**Search Terms:**

**Code**

[code]

**Expected behavior:**

**Actual behavior:**

**Playground Link:**

**Related Issues:**

[2018-07-19 09:01] cevek commented on #25789
And because of that some branches of the ast which contains class members with `!` always be rebuilt

[2018-07-19 09:51] OliverJAsh opened #25791 "Unexpected error/bad inference for generic composed function inside `pipe`"
**TypeScript Version:**  2.9.2

**Search Terms:** index signature pipe generic lost dictionary

**Code**

[code]

[2018-07-19 10:27] HolgerJeromin opened #25792 "VS 201x and VS Code are not able to find real source with declarationMaps"
**TypeScript Version:**  Version 3.0.0-dev and 2.9

**Search Terms:**
goto definition F12

**Code structure**
BaseControl/source.ts
BaseControl/tsconfig.json
ButtonControl/source.ts
ButtonControl/tsconfig.json with `"include": [ "../BaseClass/Source.d.ts"]`

When I use in `ButtonControl` stuff from the `BaseControl `the code compiles and all Intellisense works.
But using "Goto Definition" F12 show

[2018-07-19 10:37] JakeTunaley opened #25793 "Using a type alias results in a different type than if the alias' value is written out in full when using rest tuples from function parameters"
**TypeScript Version:**  3.1.0-dev.20180717

**Search Terms:** rest tuples function parameters arguments

**Code**

[code]

**Expected behavior:**
The explicit definition (`type Explicit`) should result in the same type as the generic definition (`type Generic`).

**Actual behavior:**
The generic definition discards the function parameter data.

[2018-07-19 10:42] OliverUv opened #25794 "Allow declaring that a function return value must be assigned"
## Search Terms

ensure return value
must return value
require return value
must assign return value
must use return value
ensure assign return value
ensure use return value
require assign return value
require use return value

## Suggestion

I wish to state in a function type declaration, that any caller of this function must assign the return value to a variable. The intention is that the return

[2018-07-19 10:46] AlCalzone opened #25795 "`async` keyword missing from completion list when nested inside another function"
**TypeScript Version:**  3.1.0-dev.20180717

**Search Terms:** async completion suggestion

When inside another function, the `async` keyword no longer appears in completion lists. This often happens when writing async tests using `mocha`. See the following screenshots for a demonstration.

**Not nested, `async` is suggested:**
![async1](https://user-images.githubusercontent.com/17641229/42938071-

[2018-07-19 10:46] slikts commented on #6781
My use case is constructing a frozen array-like:
[code]
`this[i] = value` obviously doesn't work with the current rules, and I don't understand the reasoning:

An index signature defines unspecific extra properties, and the constructor is the place to set them if they're `readonly`, because the object is created in the constructor so it's local mutation.

[2018-07-19 11:00] kpdonn commented on #23263
The intent is that unique symbols should work the same way as string literals. They are conceptually the exact same thing: a type that has exactly one possible value. The use cases for the behavior I described are the same as the use cases for string literals.

I agree with @falsandtru that I don’t understand what cases you are concerned about where this would be a negative breaking change.

Also

[2018-07-19 11:40] jcalz commented on #25785
The type of `MainView['state']['deletedItem']` is inferred by the compiler as `null` and only `null`, because you initialized it to `null`.  You probably expect that since `MainView extends React.Component<Props, State>` that `state` would be inferred as `State`... but subclasses are allowed to have narrower properties than their base classes, and `null` is narrower than `ItemDiscountTranItem | nu

[2018-07-19 11:50] zhaoyi0113 commented on #25785
Thanks for your help and my problem get solved. I wonder where the official document I can find to describe this syntax like `narrow peroperties`, `never` etc.

[2018-07-19 11:50] #25785 closed

[2018-07-19 12:31] OliverJAsh commented on #25503
Here is a complete example that demonstrates the problem. I'm using functions here instead of components for simplicity. (Components are just functions.)

I think what we're missing is something like `Diff` (also known as `Defaultize` helper) that preserves the union properties. Is there a proposal somewhere for something like that?

[code]

[2018-07-19 12:32] johnnyreilly commented on #24865
I'd love to see this worked on.  The motivation for me is this:

Code readability is very important; at present the behaviour of type narrowing enforces a code style which doesn't allow for meaningful variable names to drive control flow whilst maintaining narrowed types.  I super miss that.

[2018-07-19 12:33] ffMathy commented on #25204
I've been having this issue too.

[2018-07-19 12:51] Voricles commented on #25204
I have been debugging this for 2 days now, thinking that I somehow messed up my code. Feeling frustrated.

[2018-07-19 13:36] ffxsam commented on #25386
Confirmed, I started a fresh folder with three simple files and it works (even with the built-in version of TypeScript), though maybe not ideally.

**core.js**
[code]

**helpers.js**
[code]

**index.js**
[code]

Now, in index.js, when I type `wrapper({`, it would be nice if it expanded `ApiOptions` and showed me what the options were. I swear it did this once, but I haven't seen it do this since t

[2018-07-19 13:54] sokra opened #25796 "Inherit types from base class or interface"
## Search Terms
allowJs extends
inherit class method

## Suggestion
When omitting type annotations in class methods, typescript will try to copy type information from base class or interface.

## Use Cases
* Avoid repetition as repeated type information can be omitted in sub classes or classes implemented an interface.
* Simplify refactoring when changing interface one don't have to change
* Get t

[2018-07-19 14:00] ffxsam commented on #25386
Ah, never mind. I was missing the `import` in my referenes to `ApiOptions`. Also, it works fine in JS files, but not Vue files, so this is now a Vetur issue.

[2018-07-19 14:13] Davilink commented on #25782
I have the same issues with a huge gulpfile (699 lines). Some code cannot be unfold, closing/re-opening the file doesn't correct the problem, i have to restart VSCode.

missing the "+" action to unfold
![image](https://user-images.githubusercontent.com/1498932/42947887-5731543a-8b3c-11e8-8286-643944a1b5f9.png)

[2018-07-19 14:20] blixt opened #25797 "Incorrect parameter name "label" for FileReader.readAsText"
**TypeScript Version:**  3.1.0-dev.20180717

**Search Terms:** FileReader readAsText

**Code**

[code]

**Expected behavior:**

[code]

See MDN documentation: https://developer.mozilla.org/en-US/docs/Web/API/FileReader/readAsText

**Actual behavior:**

[code]

**Playground Link:**

N/A

**Related Issues:**

N/A

[2018-07-19 14:38] beenotung commented on #1863
I cannot understand why symbol is not allowed as key index, below code should works and is accepted by Typescript 2.8 but it is not allowed by Typescript 2.9
[code]

[2018-07-19 14:40] beenotung commented on #1863
I tried below, which is more 'correct' to me but it is not accepted by both version of Typescript compiler
[code]

[2018-07-19 14:41] mattmccutchen commented on #25796
Duplicate of #23911

[2018-07-19 14:55] andy-ms commented on #25771
Presumably the same.

[2018-07-19 15:05] tschaub commented on #25779
It looks like removing the parens from the union is not an easy alternative unless we remove our ESLint [`valid-jsdoc` rule](https://eslint.org/docs/rules/valid-jsdoc).

That rule considers this a valid JSDoc comment:
[code]

And this is an error:
[code]

The lack of a JSDoc spec makes it tough to say which one is "correct" - but the [Closure Compiler docs](https://github.com/google/closure-compil

[2018-07-19 15:12] sandersn commented on #25779
Looks like you don't even need a union type to repro this:

[code]

I'm looking at this. It might be easy to fix, as long as the parser isn't getting confused when trying to speculatively parse an arrow function type.

[2018-07-19 15:19] andy-ms commented on #25794
It might be possible to write a lint rule for this: at each `ExpressionStatement` containing a `CallExpression` (or `TaggedTemplateExpression` or `JsxElement` or `JsxSelfClosingElement`), check if the function called is marked with a `/** @mustUseResult */` jsdoc tag.

[2018-07-19 15:21] andy-ms commented on #25786
There is an extra `;` after `interface Interface`, so we parse an `EmptyStatement` there. We then emit a corresponding `EmptyStatement` in the output.
tslint's [semiclon](https://palantir.github.io/tslint/rules/semicolon/) rule can detect this.

[2018-07-19 15:52] ajafff commented on #25771
+ import and export specifiers

[2018-07-19 16:04] VictorQueiroz commented on #2983
We need this!

[2018-07-19 16:06] sandersn commented on #25779
Ah, the problem is that the parameters to a closure-style `function()` type are parsed just like normal parameters, and parameters don't normally start with a parenthesis:

[code]

We have exceptions in the parser when parsing parameters of a jsdoc function type, but they don't apply at this parameter-start location. I think I can fix it by explicitly special-casing the parameter list of jsdoc fun

[2018-07-19 16:09] sheetalkamat commented on #25630
@mjbvz Looking into this today. Sorry was oof last few days to look into this.

[2018-07-19 16:10] sandersn commented on #25779
Fix is up at #25799

[2018-07-19 16:14] sandersn opened #25800 "JSDoc function type doesn't parse jsdoc function types as parameters"
In other words, higher order functions don't work using only closure syntax:

[code]

**Expected behavior:**
`stringmap: (arg0: string[], arg1: (arg0: string) => string) => string[]`

**Actual behavior:**
Parse error at the second function keyword: "Parameter expected".

[2018-07-19 16:22] cyungmann opened #25801 "Way to use transformations API while preserving whitespace in emitted TS?"
Is there a way to use the transformations API to transform a TS file and then emit it, all while preserving existing whitespace/formatting in the file? If I do something like the following, all blank lines get removed (I believe the pretty printer does this?):

[code]

If I do `newFile.getText()` or `newFile.getFullText()`, the resulting string does not include any of the changes from my transform

[2018-07-19 16:50] rubenlg opened #25802 "Non-null assertion operator confuses flow analysis with type guards"
**TypeScript Version:**  3.1.0-dev.20180717

**Search Terms:** null assert

**Code**

[code]

**Expected behavior:** Both functions compile correctly.

**Actual behavior:** The second function does not compile, because after checking that `t!.c` is of type `CaseA`, the compiler forgets.

Note that `t` is not nullable, but that doesn't matter. This also fails with nested optional properties, or eve

[2018-07-19 17:20] nikeee commented on #25176
This issue is only partially fixed by the PR in the TSJS repository. I don't think the `message` parameter cannot be properly typed without recursive types. I think leaving it `any` would suffice for now.

[2018-07-19 17:34] hrajchert commented on #24851
I'm having a similar problem, it's there a way that we can use "${cwd}/dist", use an env variable or similar?

[2018-07-19 17:37] ryanki1 commented on #22228
With this config object from aviabird angular 5 seed project I did not get any compilation errors from "node_modules":
{
  "compileOnSave": false,
  "compilerOptions": {
    "outDir": "./dist/out-tsc",
    "sourceMap": true,
    "declaration": false,
    "moduleResolution": "node",
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "target": "es5",
    "typeRoots": [

[2018-07-19 17:39] Nek- commented on #25704
@mhegazy it change nothing.

[2018-07-19 17:43] sheetalkamat commented on #25630
@mjbvz I am not able to reproduce this in latest vscode-insiders or running just tsserver from either vscode or master of typescript. I also followed exact sequence of commands and still the error reports correctly. (and i do see that in your case the error is returned with expectedColumn+2. The tsserver version shown in your log is Version: 3.0.0-dev. Do you mind checking if you are able to repro

[2018-07-19 18:01] stevefan1999 commented on #9191
But why do we have module elision there in the first place? TypeScript promises to be as-ES-compliant-as-possible, but module elision is something going very against this philosophy. I've personally met the same problem as in https://github.com/Microsoft/TypeScript/issues/18586 (https://github.com/pugjs/babel-plugin-transform-react-pug/issues/55), and this "optimization" trick is really hateful th

[2018-07-19 18:33] sheetalkamat commented on #25630
Moving this to 3.1.0 after chatting with @mjbvz that this repros only when plugin ```typescript-lit-html-plugin``` is enabled.

[2018-07-19 19:19] mhegazy commented on #20887
This is already [supported](http://www.typescriptlang.org/play/index.html#src=function%20foo(a%3A%20any)%20%7B%20%7D%0A%0A%0A%40foo%0Aabstract%20class%20C%20%7B%20%7D) today.

The abstract method does not really exist at runtime. so there is nothing to decorate really. it is not clear what decorating an abstract method really means anyways.

That is a runtime type system request, and it is outside

[2018-07-19 19:29] mhegazy commented on #25789
PRs welcomed.

[2018-07-19 19:30] mhegazy commented on #25792
@weswigham can you take a look.

[2018-07-19 19:31] mhegazy commented on #25795
PRs welcomed.

[2018-07-19 19:34] mhegazy commented on #25797
PRs welcomed. You can find more information about contributing lib.d.ts fixes at https://github.com/Microsoft/TypeScript/blob/master/CONTRIBUTING.md#contributing-libdts-fixes.

[2018-07-19 19:39] mhegazy commented on #25801
White space is not maintained. so no. but for formatting we have some logic that we use in quick fixes/refactorings to transform the tree, then reformat the changes to fit. this part is not exposed on the public API, but we can expose it if needed. see https://github.com/Microsoft/TypeScript/blob/master/src/services/textChanges.ts

The transformation does not change the text of the original tree.

[2018-07-19 19:45] mhegazy commented on #25704
[code]

[2018-07-19 19:50] #25779 closed

[2018-07-19 19:50] #25800 closed

[2018-07-19 19:51] mhegazy commented on #25794
Duplicate of https://github.com/Microsoft/TypeScript/issues/8584, https://github.com/Microsoft/TypeScript/issues/17282, and https://github.com/Microsoft/TypeScript/issues/8240

[2018-07-19 20:16] jack-williams commented on #25756
I think this is to do with excess property checking on unions which only works for tagged unions. In your example the field `enabled` is not a discriminant for the union (because `EnabledInterfaceOne` and `EnabledInterfaceTwo` share the property). As there is no discriminant excess property checking gets disabled. The follow works:

[code]

because `enabled` is now a correct discriminant so excess

[2018-07-19 20:22] mhegazy commented on #25779
@tschaub the fix should be in tomorrow's `typescript@next`.

[2018-07-19 20:29] mhegazy commented on #25755
aha! that is how it is working 😃.  well the idea is the output the compiler should not generate invalid code silently , and not all users have a script as such, nor there is a way to tell them they need to have one. most AMD users i am aware of use a `json!` plugin to load `.json` files.

[2018-07-19 20:31] bterlson opened #25804 "Track constraints for index operator (and possibly other type operators)"
Today if you use a conditional type whose LHS is something other than a simple type parameter, the constraint is not tracked on the RHS, making some simple patterns more complex than they need to be:

[code]

In order to make this work, you need to introduce a wrapper like so:

[code]

It would be nice if we could track constraints on at least index access as conditionals on properties of object t

[2018-07-19 20:31] mhegazy commented on #18589
Inferring generic types ( `T` of `ReadonlyArray<T>`) is limited to call expressions. we do not have that functionality else where in the language. do not see why would this be any different.

[2018-07-19 20:32] TonnTamerlan commented on #4163
const fileReader = new FileReader();

fileReader.onload = (event: Event) => {
      this.result; // This works
};

[2018-07-19 20:33] rubenlg commented on #25802
I actually think there is a deeper issue here, not just related to the assertion operator. I get the same odd behavior when using `&&`:

[code]

Playground: [here](https://www.typescriptlang.org/play/#src=interface%20CaseA%20%7B%0D%0A%20%20type%3A%20'A'%3B%0D%0A%20%20data%3A%20number%3B%0D%0A%7D%0D%0A%0D%0Ainterface%20CaseB%20%7B%0D%0A%20%20type%3A%20'B'%3B%0D%0A%20%20b%3A%20string%3B%0D%0A%7D%0D%

[2018-07-19 20:35] mhegazy commented on #24752
The issue will always be there. we do look at closed issues every now and then.
The thing is we are not anywhere close to be able to track this information in the type system today. It is possible that in a year or two things will be different and we would be able to get there. but i am sure things like https://github.com/Microsoft/TypeScript/issues/13778 will get us there first.

[2018-07-19 20:36] mhegazy commented on #25769
Do you have `baseUrl` set in your tsconfig.json?

[2018-07-19 20:41] mhegazy commented on #22331
you already have `types` which is a list. i do not expect the list of your `@types` package to be that large, that you can not enumerate them all modulo mocha in the `"types"` property in your tsconfig.json.

[2018-07-19 20:49] uniqueiniquity commented on #25782
@mjbvz, the original issue is explained by https://github.com/Microsoft/TypeScript/issues/25596#issuecomment-404577953; we stop looking for folding ranges at a certain AST depth due to perf reasons.

@Davilink, could you share your gulpfile or a similar repro? From the picture, it doesn't look like the same issue, since the original issue is caused by repeatedly chaining method calls.

[2018-07-19 21:03] milesj opened #25805 "`typeof` should error when checking for unsupported types"
## Search Terms

typeof, typeof check, typeof guard, typeof exhaust

## Suggestion

As it currently stands, `typeof` is used for guarding/refinement, but does not check the inverse -- that the expression being evaluated is part of the variable's type (for example, within a union).

## Use Cases

No direct use case, but is extremely helpful in revealing unintended bugs. I recently ran into this in

[2018-07-19 21:10] mhegazy commented on #25444
What is happening here is to infere the type of `P`, the compiler needs to know the type of `bar` and to know that it needs an inference for `P`, which at this point is not available.

You can explicitly specify the type argument to the call:
[code]

[2018-07-19 21:35] ajafff commented on #25617
@mhegazy then what exactly is `--noImplicitUseStrict` for? Looking at the docs I would think the compiler always emits `'use strict'` for ES6 modules and that option can be enabled for backwards compatibility.

[2018-07-19 21:42] mhegazy commented on #25637
In @dardino's example the overloads do not include the implementation signature, so there is no overload that accepts `(string | number)[] | ((k: string, v: any) => any)`, only ones that accept `(string | number)[] | null or `((k: string, v: any) => any) | null`.

[2018-07-19 21:52] mhegazy opened #25807 "Trailing comma show invalid instantiations for generic functions in quick info"
**TypeScript Version:**  3.1.0-dev.201xxxxx

**Search Terms:**

**Code**

[code]

**Expected behavior:**
No diffrence between
**Actual behavior:**
![image](https://user-images.githubusercontent.com/8000722/42972039-0fae0bea-8b63-11e8-8b6d-ec68472ec925.png)

![image](https://user-images.githubusercontent.com/8000722/42972055-1ed62d1e-8b63-11e8-93b0-ea88962dd51f.png)

**Playground Link:**

**Related

[2018-07-19 21:54] mhegazy commented on #25637
In the OP:
first set of overloads, the second overload of `parsedUrlQueryString` seems meaningless. removing it should cause the compiler to infer the right type.
Second and third sets, not sure what is going on, need to debug to figure it out

[2018-07-19 21:56] mhegazy commented on #25444
Conditional types do not contribute to inferences.

[2018-07-19 21:59] mhegazy commented on #25617
We have stopped recommending `noImplicitUseStrict` at this point. this was an opt-out flag when we started emitting modules with a `"use strict"`.

[2018-07-19 21:59] ajafff opened #25808 "false error in verifyCompilerOptions with 'strict' and 'strictPropertyIntialization'"
**TypeScript Version:**  3.1.0-dev.20180717

**Search Terms:**

**Code**

tsconfig.json
[code]

**Expected behavior:**

No error.

**Actual behavior:**

`error TS5052: Option 'strictPropertyInitialization' cannot be specified without specifying option 'strictNullChecks'.`

**Playground Link:**

**Related Issues:**

[2018-07-19 22:04] #25448 closed

[2018-07-19 22:04] #25452 closed

[2018-07-19 22:04] #25446 closed

[2018-07-19 22:04] #25428 closed

[2018-07-19 22:05] OliverJAsh commented on #25637
I simplified the `parsedUrlQueryString` overloads to demonstrate and isolate the issue—the full example does require that overload.

[2018-07-19 22:09] ajafff commented on #25617
Got it, thanks.

[2018-07-19 22:09] #25617 closed

[2018-07-19 22:51] mhegazy commented on #23790
The issue happens when we are inferring from `A | B[]` to `U | U[]` from the return type of the lambda.

Since there are no common types, we will infer to `U[]` from `A | B[]` then again to `U` from `A | B[]`. the first inference will result in `B`, the second results in `A | B[]`, but then we decide to ignore it since it is a naked type parameter in a union and we already have a better inference.

[2018-07-19 22:54] mhegazy commented on #23790
The suggestion here is to have smarter logic to inferring from a union/intersection to another union/intersection by removing pairs of types from the source and the target that seem "similar" and applying inference on them, then applying the normal union/intersection inference logic on the rest of the types.

[2018-07-19 22:56] #25808 closed

[2018-07-19 23:01] tschaub commented on #25779
Awesome.  Thanks @sandersn and @mhegazy.  I'll test it out tomorrow.

As an aside, I'm hoping to get ESLint's `valid-jsdoc` rule working together with TypeScript's JSDoc support.  Currently, the `valid-jsdoc` rule treat's TypeScript's inline imports as invalid types.  I've proposed eslint/doctrine#216 to fix this.  If anybody knows an ESLint contributor or wants to weigh in there, I'd appreciate i

[2018-07-19 23:07] JacksonKearl commented on #25172
This is especially helpful for narrowing `unknown` to a string enum
[code]

[2018-07-19 23:14] andy-ms opened #25810 "Calling `getCommonSourceDirectory` has a side effect"
See `// TODO: GH#11111` added in #25648.

[2018-07-19 23:16] charlesr1971 commented on #4163
This is how I solved it, in production:

let FileReader: new() => FileReader = ((window as any).FileReader as any).__zone_symbol__OriginalDelegate
let reader = new FileReader();

Based on this StackOverflow post:

https://stackoverflow.com/questions/45542462/angular-4-x-cordova-filereader-fails-silently-white-screen-of-death/45542463?noredirect=1#comment88157606_45542463

[2018-07-19 23:20] simonbuchan commented on #17574
As stated, this wouldn't allow heterogeneous collections? E.g. in `const arrayLenses: <A> Array<Lens<A[], A>>` , all the items have the same `A`? Syntactically you could allow `Array<<A> Lens<A[], A>>`, but I'm not sure there's a good way to deal with that (e.g. the type of `arrayLenses[0]` would have to have a fresh `A` in each evaluation somehow).

I often find myself wanting to use a plugin-reg

[2018-07-19 23:20] Davilink commented on #25782
Because the problem is solved when a restart VSCode, it's might be due to larger workspace + the larger gulpfile. I will open an separate issue to track that problem.

[2018-07-19 23:27] andy-ms commented on #25802
`t!.c` isn't shorthand for `t && t.c`, it's just shorthand for `t.c`. You're asserting to the type checker that `t` will always be defined at runtime.

[2018-07-19 23:30] andy-ms commented on #25790
This should only happen if `token` is a `SourceFile`, which should only happen if the position in the `getCodeFixes` request is wrong. That should have been fixed by Microsoft/vscode#45785. @cevek What version of vscode are you using? And what code did you use to produce this error?

[2018-07-19 23:39] bradleyayers commented on #25769
I have `baseUrl` set to `./` and the emit is `import("src/composing")`, when I set it to `./src` the emit is `import("composing")`. In both cases it's emitting an absolute import when I'd expect a relative import. For more details see [`tsconfig.lib.es2015.json`](https://github.com/heydovetail/editor/blob/master/tsconfig.lib.es2015.json) extending  [`tsconfig.lib.json`](https://github.com/heydovet

[2018-07-19 23:40] sheetalkamat commented on #25629
Hi can you try out drop from #25811 to see if you see improvement. Thank you.

[2018-07-19 23:53] mhegazy commented on #25769
Do you need the `baseUrl`?

[2018-07-19 23:58] mhegazy commented on #22106
Should be fixed in latest.

[2018-07-19 23:58] #22106 closed

[2018-07-20 00:00] mhegazy commented on #19965
Should be fixed by https://github.com/Microsoft/TypeScript/pull/25080

[2018-07-20 00:00] #19965 closed

[2018-07-20 00:03] andy-ms commented on #25265
Another case from #13304:

[code]

Between the `()` in `m()`, we should get the signature of `m`, not the signature of `f`.

[2018-07-20 00:05] andy-ms commented on #13304
I think this is a duplicate of #25265. In both cases, we should show signature help coming from a contextual signature the user should be *implementing*. Currently we only show signature help from a function you're *calling*.

[2018-07-20 00:05] #13304 closed

[2018-07-20 00:05] mhegazy commented on #15053
Should be fixed in latest.

[2018-07-20 00:05] #15053 closed

[2018-07-20 00:06] mhegazy commented on #15383
Should be fixed in latest.

[2018-07-20 00:06] #15383 closed

[2018-07-20 00:08] mhegazy commented on #15499
if `foo` is not assigned at declaration site, consider declaring it using the `!` modifier:

[code]

[2018-07-20 00:10] mhegazy commented on #16405
Seems fixed in latest

[2018-07-20 00:10] #16405 closed

[2018-07-20 00:12] mhegazy commented on #17004
Seems fixed in latest.

[2018-07-20 00:12] #17004 closed

[2018-07-20 00:13] marshall007 commented on #20375
The fact that type narrowing does not work as expected in conjunction with generic constraints is very subtle and confusing behavior. I've been trying to figure out why we haven't been able to get this to work in our codebase for quite a while, thinking it was an issue with our interface definitions, before finally stumbling across this issue.

We use `enum` discriminator properties _a lot_, so th

[2018-07-20 00:18] mhegazy commented on #19233
Seems fixed in latest.

[2018-07-20 00:18] #19233 closed

[2018-07-20 00:19] andy-ms opened #25812 "fourslash test breaks when setting "@lib""
**TypeScript Version:**  master

**Code**

[code]

**Expected behavior:**

No error.

**Actual behavior:**

`Error: At line 1, col 0: Found an error: /tests/cases/fourslash/quickInfoBar.ts@35: Property 'length' does not exist on type '{}'.`

[2018-07-20 00:19] andy-ms commented on #16405
Found the real issue: #25812

[2018-07-20 00:22] mhegazy commented on #19686
Both now say `T`. which seems right to me.

[2018-07-20 00:29] mhegazy commented on #20454
comparing array to ReadonlyArray structurally with `--strictFunctionTypes` on leads to them being invariant. we get away with this on `Array` because of our type reference optimization.

[2018-07-20 00:31] mhegazy commented on #20499
Seems fixed in latest.

[2018-07-20 00:31] #20499 closed

[2018-07-20 00:40] andy-ms commented on #14830
We don't seem to return `function` as the kind for `export var abc = () => x;` any more. However, for `export var abc = function f() {}`, we will return an item for the function but *not* for the var. Don't think there's any work to do here.

[2018-07-20 00:40] #14830 closed

[2018-07-20 00:41] andy-ms commented on #14830
Related issue that was closed: #25126

[2018-07-20 00:45] andy-ms commented on #19686
When I run the fourslash test in the master branch, I still see a compile-time error `Property 'toLowerCase' does not exist on type '{}'.` (using `debug.printErrorList();`). But the quick info still says `s` is a `string`, not `{}`.

[2018-07-20 00:45] bterlson opened #25814 "Contextual type inference fails in surprising case"
**TypeScript Version:**  3.1.0-dev.20180719
**Code**

[code]
**Expected behavior:**
Contextually type a to number.

**Actual behavior:**
A is not contextually typed, while signature help gives the correct answer.

**Playground Link:** [here](http://www.typescriptlang.org/play/index.html#src=type%20R%20=%20{%0D%0A%20%20a:%20(x:%20number)=%3Evoid%0D%0A%20%20b:%20(x:%20string)=%3Evoid%0D%0A}%0D%0Atyp

[2018-07-20 01:06] andy-ms commented on #25665
TypeScript doesn't use the vscode workspace, but it does use `jsconfig.json`. So everything outside of the directory containing `jsconfig.json` should be irrelevant (since this is a relative import, not to something outside of the directory). I'm hoping you'll be able to reproduce the error in a test project consisting of just some file in `core`, and the `index.ts` it's importing from, combined w

[2018-07-20 01:25] emilioplatzer commented on #24752
I agree with you. Thank you

[2018-07-20 01:41] yeliex commented on #25786
@andy-ms Is this a bug? the extra simicolon should be ignored or throw an exception when compile

[2018-07-20 01:49] axefrog commented on #25665
I understand TS isn't a part of vscode - it's just where I'm doing my work, hence the references to it. Honestly I don't even know how to reproduce the issue consistently as-is...

Given that we know what the actual result is when the problem occurs, and obviously that particular result is generally undesirable anyway, is there any way of somehow enabling some kind of logging or trace that I could

[2018-07-20 01:56] bradleyayers commented on #25769
Nope—removing it fixes the imports. Excellent! I think the reason I had it was that I usually copy a tsconfig from an existing project when starting a new project. And in this case I'd copied a config used by an app (something built with webpack where I don't build declarations) for use in a library (where I do build declarations).

Thanks for the help, much appreciated!

[2018-07-20 02:11] emilioplatzer commented on #24752
I was playing with `lib/lib.d.ts` in `interface Array<T>` changing `pop(): T | undefined` and a I thought:

Perhaps the problem is not being able to specify the result type of the object to which a method has been applied.

For example:
[code]

The variable `server` is of class `Server` but we can say that in the first time is of "type unstarted" then is of "type listening" and at the end of "type

[2018-07-20 02:19] andy-ms commented on #25665
When the error does happen, I would take a snapshot of the current file and paste it into a sample project, along with the file you're importing from. And possibly `jsconfig.json`. Then see if the error still happens there.

[2018-07-20 02:23] andy-ms commented on #25786
Believe it or not, `;;;` is legal JavaScript and thus legal TypeScript. A tool like tslint is better to warn about excessive semicolons like that.

[2018-07-20 03:01] masaeedu commented on #17574
@simonbuchan That's an orthogonal concern. If you wanted to write a polymorphic function that can work with heterogeneous arrays, you wouldn't write it as:

[code]

but as:

[code]

That principle would remain unchanged when talking about polymorphic values besides functions that involve heterogeneous arrays.

Regarding your proposal of `type Plugin = <Config, Props, State> { ... }`, I'm not reall

[2018-07-20 04:35] simonbuchan commented on #17574
If you were proposing the same thing, then great, but you never said so - all your examples were adding top-level generic parameters on variable declarations - e.g. "generic values" - as `unique symbol` shows, variable declarations can have more assumptions made about them that may make a difference to the feasibility here. If you are asking to add generic parameters to any type expression (includ

[2018-07-20 05:10] ChosunOne opened #25819 "Array Destructure doesn't recognize line break"
**TypeScript Version:**  3.0.0-dev.201xxxxx

**Search Terms:**
Array Destructure
**Code**

[code]

**Expected behavior:**
The compiler should simply expect a and b to be assigned to 3 and 4
**Actual behavior:**
running tsc will display an error related to an implicit any type for the line preceding the array destructure.
**Playground Link:**
[Here](https://www.typescriptlang.org/play/#src=let%20%7

[2018-07-20 05:11] FredyC commented on #22331
@mhegazy Well, it certainly is possible but is it a good DX? I mean why not give another option that makes things easier and does not break anything?

[2018-07-20 05:25] surajrao commented on #25204
@andy-ms I just checked by starting a new project with ionic. Seems like it is happening for `typescript@2.9.2` (The one installed with the stable vscode). I am not getting the issue in `typescript@3.1.0-dev.20180717` for the same new project.

Screenshots:

**2.9.2**
![screen shot 2018-07-20 at 10 50 05 am](https://user-images.githubusercontent.com/5566582/42984614-10c925e8-8c0b-11e8-8204-213148a

[2018-07-20 05:42] kitsonk commented on #9191
The principle is based on [design goal](https://github.com/Microsoft/TypeScript/wiki/TypeScript-Design-Goals#goals):

9. Use a consistent, fully erasable, structural type system.

Therefore when TypeScript believes a construct is only used for the type system, it erases it, so that the emitted JavaScript has what TypeScript believes is the right behaviour.  If it were to leave it, it could contrav

[2018-07-20 05:44] kitsonk commented on #1863
The status of this ticket indicates that what you are suggesting is the desired behaviour, but the core team is not at this point committing resources to add this feature enhancement, they are opening it up to the community to address.

[2018-07-20 06:37] masaeedu commented on #17574
@simonbuchan To clarify, I'm asking for the same feature as Haskell, i.e. the ability to specify quantifiers for type expressions other than functions. I was trying to emphasize this with the corresponding snippet, but I'll try to revise to explain better.

Just as in Haskell, the feature needs to be built so that it interacts properly with the rest of the language's machinery for manipulating typ

[2018-07-20 06:56] nicojs opened #25820 "File name '[name].ts' differs from '[name].d.ts' only in casing when using --build"
**TypeScript Version:**  3.1.0-dev.201xxxxx

**Search Terms:**
build
forceConsistentCasingInFileNames
3.0

**Code**

Example project: https://github.com/nicojs/typescript-3-build-demo

After `npm install`, use `npm run build` (or `npx tsc --build src/server`).

**Expected behavior:**

Compile without error.

**Actual behavior:**

Results in error:

**Related Issues:** None that I could find that a

[2018-07-20 07:08] wichert opened #25821 "arrow function gets incorrect type when followed by async function"
**TypeScript Version:**  3.1.0-dev.20180717 and 2.9.2

**Search Terms:** lambda arrow-function expression-type async

**Code**

I am trying to compile this code with `tsc -t ES2017`:

[code]

This fails with an error:

[code]

Rewriting the arrow function to be a normal function is a workaround:

[code]

But weirdly enough inserting an empty dummy function *also* fixes the compile error:

[code]

[2018-07-20 07:16] kitsonk commented on #25821
This is an ASI issue.  TypeScript is doing the best it can with invalid code.

What you have written gets parsed as:

[code]

Which you clearly did not intend.  You can verify that, is this JavaScript works:

[code]

Whiles this doesn't:

[code]

Semicolons in JavaScript are optional, except when they aren't! 😱

[2018-07-20 07:23] wichert commented on #25821
ah wow.. that makes perfect sense now that you point that out. I wonder if this mistake is common enough to add something like "perhaps you need to add a semicolon" to the compile error message.

[2018-07-20 07:23] #25821 closed

[2018-07-20 07:58] j-oliveras commented on #25819
Running your code (saved as `index.js`) with node 8 fails with error:
[code]

Typescript is warning you about a code that will fail at runtime.

[2018-07-20 08:01] cevek commented on #25790
@andy-ms I don't know. After that I've updated to the new version of vscode: 1.25.1

[2018-07-20 08:04] donaldpipowitch commented on #23911
Interesting! Are there more breaks in this "bundle"? (Looking for example at https://github.com/Microsoft/TypeScript/pull/13971)

[2018-07-20 08:25] sledorze commented on #25600
I found myself using the same technique as the references system in our temporary custom incremental build system (comparing d.ts files) to decide what to rebuild in a non incremental scenario.

However, after finding strange results, I've discovered that the typescript compiler (3.0-RC) do NOT generate deterministically d.ts files.
Indeed, when Unions are involded, the displayed order of those se

[2018-07-20 08:55] rubenlg commented on #25802
Thanks @andy-ms, I understand what the non-null assertion operator does. `t!c` is a shorthand for `(t as NonNullable<typeof t>).c` (regardless of how it's implemented internally which I don't know). What I'm saying is that this is not the only operator affected by this bug. `t && t.c`, which means something different, is also affected by the same bug (the compiler is not able to remember that the

[2018-07-20 09:06] pablonautic opened #25823 "experimentalDecorators Typescript warning always present - Visual Studio 2017 Professional 15.7.4"
Hi,
I've looked through the discussion at https://github.com/Microsoft/TypeScript/issues/9335 and seems that other people report the problem as well, though the original thread has been closed recently.

I have this issue (apart from a dozen of other TS errors I haven't been able to solve so far - maybe they are somehow correlated) in my pet project https://github.com/pablonautic/magiczny-miecz -

[2018-07-20 09:38] dardino commented on #25637
@mhegazy Sure, but i think this is a bit limiting thing.
in fact I can write this to compile correctly: (that is very heavy)

[code]
I believe that is possible to make this assumption:
If all available overloads of a method can be called with current parameters types because they are compatible then the compiler can accept the call without errors:

[code]

[2018-07-20 09:53] kitsonk commented on #25821
The problem is that it is ambiguous at best, which is why depending on ASI will eventually cause you problems.  How is TypeScript or JavaScript supposed to know that you weren't trying to invoke a function call that returns a function which you were invoking which returns a function which you were trying to invoke?   The best TypeScript can do is say "hey, something doesn't work right here, you ar

[2018-07-20 09:58] kitsonk commented on #25823
This is not a support forum.

Questions should be asked at [StackOverflow](http://stackoverflow.com/questions/ask?tags=typescript) or on [Gitter.im](https://gitter.im/Microsoft/TypeScript).

As was repeated multiple times in that issue, your [`tsconfig.json`](https://github.com/pablonautic/magiczny-miecz/blob/master/MagicSword.Core/MagicSword.Core.Web/ClientApp/tsconfig.json) does not specify file

[2018-07-20 10:50] OliverJAsh commented on #25637
@dardino This issue is concerning overloads when used with a `pipe` function, which doesn't appear to be the case with your issue. Perhaps you could open a new issue to avoid conflating the issue being tracked here?

[2018-07-20 11:03] ulrichb commented on #24747
@RyanCavanaugh Any news on this?

I have now a second but much easier sample using a conditional type instead of a generic constraint:

[code]

... like in the sample above the problem is that in the `withFunc`-case `TProperty` infers to `{}` which you can see when adding `TProperty extends {} ? "[is empty object]"` to the conditional type.

[2018-07-20 11:04] pablonautic commented on #25823
I am very kindly sorry, this is due to my frustration - I've been struggling for the last 4 hours to get *anything* working… without bigger successes.

To clarify - my `tsconfig.json` comes directly from the default ASP.NET Core Angular template, so below provide the proper description:

**TypeScript Version:**  2.9

**Search Terms:** experimentalDecorators

**Code**

Under VS 2017 -> Add new proj

[2018-07-20 11:32] pablonautic commented on #25823
Doesn't the above imply that the default `tsconfig.json` should contain such entry? Or maybe it's just the wrong GH repo to report this?
 Or maybe it' not an issue at all?

P.S. Adding the `include` section, as described doesn't seem to affect the problem :(

[2018-07-20 11:37] nmain commented on #25819
The behavior you're seeing is correct per javascript's automatic semicolon insertion rules, which typescript incorporates as part of its own syntax.

[2018-07-20 12:10] mc-petry opened #25825 "Error inferring type when using argument"
**TypeScript Version:**  2.9.2, 3.0.0-rc

**Search Terms:** generic, inference

**Code**

[code]

**Expected behavior:**

No error on second usage of method `pipe(...)`

**Actual behavior:**

Error on inferring previous type when using function argument

**Playground Link:** [link](http://www.typescriptlang.org/play/#src=type%20Obj<T>%20%3D%20%7B%20data%3A%20T%20%7D%0D%0A%0D%0Atype%20HR<T>%20%3D%2

[2018-07-20 12:38] lucasbasquerotto commented on #1863
@beenotung Although this is not an ideal solution, assuming that the class you posted is the only place where you need such a behaviour, you can do unsafe casts inside the class, but **keeping the class and methods signatures the same**, so that the consumers of the class won't see that:

[code]

Because the signatures are the same, whenever you use this class, you will have the type validation ap

[2018-07-20 12:40] sibelius commented on #9366
Any progress on this?

[2018-07-20 12:51] OliverJAsh opened #25826 "Generic inference inside of `pipe` is incorrect when strict mode is disabled"
**TypeScript Version:**  2.9.2

**Search Terms:**

**Code**

With strict mode disabled:

[code]

**Related Issues:**
This is similar to—but not exactly the same as—other issues I've filed when trying to use `pipe`:
- https://github.com/Microsoft/TypeScript/issues/25637
- https://github.com/Microsoft/TypeScript/issues/25791

[2018-07-20 12:54] jhalborg commented on #25712
I see, thank you! I'll have a look, but it seems to be a good option.

[2018-07-20 12:54] #25712 closed

[2018-07-20 13:36] tomshane commented on #25279
This works if there is only one node_modules directory in the project structure. In my case the structure is as follows:

[code]
I'm working with the workspace that references both folders (App, Core).

When working on files within Core/src, import autocomplete works fine:

`import { Reducer } from "redux";`

But when I work on files within App/Source/client, IDE suggests relative path:

`import {

[2018-07-20 13:43] johan-gorter opened #25828 "Allowing the combination of extend and overloading with literals"
## Search Terms

typescript interface extend overload

## Suggestion

Make the type system more powerful by allowing the combination of extend, overloading and literals as shown in the example.

## Use Cases

I currently have an inmemory data store that I want to describe in a strongly typed maner, see the example below.

## Examples

My current interface definition is error-prone to maintain due

[2018-07-20 13:50] tomkur opened #25829 "Visibility rules changes in 2.9 not clearly stated in release notes."
**TypeScript Version:**  2.9.2

**Search Terms:**
visibility rules

**Code**
https://github.com/tomkur/ts-test
Steps to reproduce:
1) git clone https://github.com/tomkur/ts-test.git
2) cd ts-test
3) npm i
4) ./node_modules/typescript/bin/tsc --declaration hello.ts hello2.ts

**Expected behavior:**
Does not compile.

**Actual behavior:**
With TS 2.9 it compiles, whether with 2.8 it doesn't. The rel

[2018-07-20 14:56] ahejlsberg commented on #25814
This is working as intended (but you could argue a design limitation). We only contextually type function expression parameters when the parameter type is known to be a function type _before instantiation_. In your example, we would have to fix `P` following inference for the first argument and then `P` during inference for the second argument, but we don't do that currently. I suppose you could a

[2018-07-20 14:58] ahejlsberg commented on #25814
BTW, it works if you write it like this (because inference now knows the contextual type is a function type):

[code]

[2018-07-20 15:09] Busyrev opened #25830 "This condition will always return 'false' since the types have no overlap. Again."
**TypeScript Version:**  3.1.0-dev.20180717
Error:  This condition will always return 'false' since the types '"work1"' and '"work2"' have no overlap.
Error:  Type '"work2"' is not comparable to type '"work1"'.
**TypeScript Version:**  2.9.2
Error:  Operator '==' cannot be applied to types '"work1"' and '"work2"'.
Error:  Type '"work2"' is not comparable to type '"work1"'.

**Search Terms:**
Opera

[2018-07-20 15:16] andy-ms commented on #25830
You could write `if ((true)) work = 'work1';` which is generally useful for removing control-flow information.

[2018-07-20 15:22] andy-ms commented on #25828
It looks like the situation basically simplifies to this?
[code]

Note that `export type I = Convert<number, string> & Convert<string, number>;` works, although `&` is unsafe and allows you to declare impossible things like `Convert<number, string> & Convert<number, boolean>`.

[2018-07-20 15:22] Busyrev commented on #25830
Yea, there is many ways to fool compiler. And I have no claims to flow analysys. This is only issue about comparing things that TypeScript thinks uncomparable.

[2018-07-20 15:45] andy-ms commented on #25802
We should probably support `t?.c` for type guards, but not arbitrary expressions like `f(t)`, which might not be the same value each time. And testing every arbitrary expression to see if it has appeared before in a type guard would tax performance.

[2018-07-20 15:48] ahejlsberg commented on #25828
I don't think anything new is needed here. You can write it like this using existing features:

[code]

[2018-07-20 16:11] alexandrudima opened #25831 "Improve find all references (for tree shaking)"
**TypeScript Version:**  2.9.2

**Search Terms:** references, rename, incorrect, duck-typing

**Code**

[code]

**Expected behavior:**
Finding all references of `dispose` on the last line should return the method called `dispose` in class `A`, even if there is no explicit `implements IDisposable` heritage clause.

**Actual behavior:**
Finding all references of `dispose` returns only two results.

[2018-07-20 16:31] zavr-1 commented on #25784
@mhegazy @mjbvz
I can achieve this expansion by writing

[code]

![test](https://user-images.githubusercontent.com/21156791/43013714-b458723c-8c41-11e8-81e3-6e711a2be38d.png)

However, there is no way to provide description of a property for auto-complete hints

![test](https://user-images.githubusercontent.com/21156791/43013786-eca4abe2-8c41-11e8-8954-ff5db8248f1c.png)

Therefore, the quickest so

[2018-07-20 16:49] bterlson commented on #25814
I see @ahejlsberg, thanks. Consider this a feature request then 😊

Thank you so much for pointing out it works if the callback is "obviously" a function type, I think I can make this work for my scenario with the following tweak to the OP:

[code]

[2018-07-20 17:00] zavr-1 commented on #25784
@weswigham I don't think that your change from [here](https://github.com/Microsoft/TypeScript/commit/5bf6e30f8e839d8e8887ec4ffaa63e70c02e29a4) which is the point of this topic will be reverted, but is it possible to at least implement the suggestion in the post above ^? thanks.

[2018-07-20 17:06] mhegazy commented on #22331
I am not arguing there is value. The question is the cost of adding a new feature both in terms of complexity to new users, and in terms of maintenance cost vs the value added. I would argue the real issue is the declaration of  `mocha` and `jest`.

[2018-07-20 17:22] mhegazy commented on #25829
yes.

That would have been an error in the past. with TS 2.9 the compiler will emit them though they are not exported using the `export {}` trick to ensure a. no visibility errors are emitted, and b. no new declarations are exposed that should hae not.

In the examples above, the declarations for interface `Foo` and class `Foo` are not exported as intended. you can always export them in the `.ts`

[2018-07-20 17:54] weswigham commented on #22195
Fixed by #25331

[2018-07-20 17:54] #22195 closed

[2018-07-20 17:59] bterlson opened #25833 "Signature created from tuple type allows any number of arguments & doesn't preserve parameter names"
**TypeScript Version:**  3.1.0-dev.20180719

**Code**

[code]

**Expected behavior:**
I would expect an error for x.emit as I am passing more parameters than should be allowed. Also, I would expect to see the the parameter names I've sliced off from R's members but those appear to be lost.

**Actual behavior:**
Emit's 2nd argument doesn't get a parameter name and there is no error for passing too

[2018-07-20 17:59] #25621 closed

[2018-07-20 17:59] #25687 closed

[2018-07-20 18:03] weswigham commented on #25784
@zavr-1 That PR brought JSDoc into the same style of printout that we used for TS, but the core issue is that when a type is aliased within quickinfo, there's no way to inspect what's "inside the alias" right at that point, as it were. Hence @mhegazy and @mjbvz 's remarks on new UI to enable that in vscode/VS. We've talked about it in the past - it seems generally useful for inspecting large type

[2018-07-20 18:49] #19984 closed

[2018-07-20 18:49] bterlson commented on #25833
On further inspection, this is possibly related/identical to #25804. Replacing `R[P]` with a function type has the expected behavior.

[2018-07-20 18:56] andy-ms commented on #25533
The test from the original post still isn't returning results in `a.ts`.

[2018-07-20 19:10] SephReed commented on #20920
I've got some react props along the lines of:
`IValidationTextAreaProps extends IAutoSizeTextAreaProps extends HTMLProperties<HTMLTextArea>`

It's really annoying having to use three different names for the `onChange` listener.

HTMLTextarea has onChange as `(event) => boolean`
AutoSizeTextAreaProps has onValueChange as `(newVal) => void`
and I'm having to come up with yet another contrived name f

[2018-07-20 20:11] cevek opened #25836 "Cannot read property 'getCallSignatures' of undefined at getPossibleGenericSignatures"
**TypeScript Version:**  3.1.0-dev.20180717

**Search Terms:**

**Code**

[code]

**Expected behavior:**

**Actual behavior:**

**Playground Link:**

**Related Issues:**

[2018-07-20 20:16] zavr-1 commented on #25784
@weswigham OK but why is it possible to inspect what's inside using
[code]
but not
[code]
What I'm saying OK fine I get the point of aliases for large type hierarchies, but could you not allow me to write `{{ prop: TypeB }}` **AND** define a property under `@typedef`?

[2018-07-20 20:18] cevek opened #25837 "Autocomplete doesn't work with extends constraint"
**TypeScript Version:**  3.1.0-dev.20180717

**Search Terms:**

**Code**

[code]

**Expected behavior:**
autocomplete should work

**Actual behavior:**
doesn't work

**Playground Link:**

**Related Issues:**

[2018-07-20 20:39] sandersn commented on #25533
Turns out github didn't recognise that the "fix #xxxx" syntax occurred in a conditional clause and unconditionally closed this issue. :) Thanks for re-opening.

[2018-07-20 20:57] #25793 closed

[2018-07-20 21:05] ahejlsberg commented on #25833
As I suspected this appears to be fixed by #25817.

[2018-07-20 21:11] cevek opened #25839 "String type autocomplete doesn't work with union"
**TypeScript Version:**  3.1.0-dev.20180717

**Search Terms:**

**Code**

[code]

**Expected behavior:**

**Actual behavior:**

**Playground Link:**

**Related Issues:**

[2018-07-20 21:11] weswigham commented on #24966
@mhegazy I think this was fixed by @rbuckton in #25556.

[2018-07-20 21:32] weswigham commented on #25511
This should have been fixed by #25364 and #25364. There's some comments in this threads stating that recent releases have worked for people in this thread - anyone here still having issues should try the latest 3.0 nightly and open a new issue (ideally with detailed repro steps, including full filesystem paths of the involved files) if it still reproduces under some set of circumstances for you.

[2018-07-20 21:44] bterlson commented on #25804
Confirmed fixed (and unrelated to #25833).

[2018-07-20 21:44] bterlson commented on #25833
Confirmed fixed (and unrelated to #25804).

[2018-07-20 21:44] #25833 closed

[2018-07-20 21:46] andy-ms commented on #24864
Yep, fixed in `master`. Verified that I could still reproduce it with `3.0.0-dev.20180609`.

[2018-07-20 21:46] #24864 closed

[2018-07-20 21:46] #24966 closed

[2018-07-20 21:56] andy-ms commented on #25831
It seems like you would need to do an analysis of every pair of types to determine what's assignable to what. We wouldn't be able to do that performantly in an editor, but we could expose that ability in the API -- see #9879.
By the way, if you are doing an anlysis on the entire program, doing find-all-references at every location is probably not what you want -- it would probably be faster to jus

[2018-07-20 22:01] sunmountain opened #25840 "Calling a public static method on an instance of a class causes error error TS2339: Property does not exist on type, but error message is missleading"
**TypeScript Version:**  2.9.2 (does not work with 3.1.0-dev.20180717 also)

**Search Terms:** public static call instance T2339

**Code**
[code]

Expected behavior: provide a more meaningfull error message, such as "Property 'hello' is declared static and can not be called from an instance"

Actual behavior: doesn't compile, sample.ts:30:3 - error TS2339: Property 'hello' does not exist on type '

[2018-07-20 22:17] ahejlsberg commented on #25825
This is effectively a design limitation of our type inference algorithm. The difference between the two test cases is that `() => obj` is not _contextually sensitive_ whereas `a => obj` is (a function expression is said to be contextually sensitive when it has arguments without type annotations). We defer type inference for contextually sensitive arguments such that we can make as many candidate i

[2018-07-20 22:38] #25481 closed

[2018-07-20 22:39] #25412 closed

[2018-07-20 22:39] #25090 closed

[2018-07-20 22:44] andy-ms opened #25844 "Debug failure in `computePositionOfLineAndCharacter` when decoding source map"
**TypeScript Version:**  master

**Code**

[code]

I get this error when the build is slightly out-of-date. May not be possible to get a right answer here, but we should give up instead of crashing.

[2018-07-20 23:05] DanielRosenwasser opened #25845 "Should import completions win over member completions?"
[code]

[code]

Type in `blah` - completions include both the export as well as the method. A question with @wycats came up as to which should come first.

## Arguments for the `this.` completion

Locality is likely the strong argument here.

## Arguments for the import

For a lot of users, the fact that `blah` wasn't prefixed with `this.` means you didn't intend to use a member function.

[2018-07-20 23:07] RikkiGibson commented on #25756
I believe I've found another instance of the same behavior in a relatively simple case:

[code]
I would expect TypeScript to either require that I specify `prop1` or specify all of `prop1`, `prop2`, and `prop3`. Is this by design?

[2018-07-20 23:08] mhegazy commented on #25831
The fact that an interface `IDisposable` has a property called `dispose` that is structurally equivalent to a another property on another type `A` is not sufficient to deem it a reference. you also need to know if an instance of type `A` has ever been assigned to or passed as an argument to call that expects a type `IDisposable`.

That analysis is not cheep. to do this correctly, the compiler firs

[2018-07-20 23:10] DanielRosenwasser opened #25846 "Missing 'this.' error doesn't trigger other quick fixes"
Found by @wycats

[code]

[code]

Try to request quick fixes on `blah`. You'll only get a `this.` quick fix suggestion, however, we should also provide

1. a suggestion to fix the spelling to `blahh`
1. a suggestion for the import `blah`

We should consider making a central list for all name resolution errors so that we suggest quick fixes appropriately.

[2018-07-20 23:13] mhegazy commented on #25837
Completions rely on the contextual type at the location. in the first case, `{}` is a valid type to instantiate `foo` with, since it is a sub type of `Partial<A>`. so `foo({})` resolves, `T` is inferred to be `{}`, the contextual type is `{}`. and thus no completions.

in the second case, there is a contextual type, and you get completions.

[2018-07-20 23:18] neilsoult commented on #25739
fwiw I started noticing today that even though my setting is `"typescript.preferences.importModuleSpecifier": "auto"`
my imports are being renamed to longer paths, using values in my tsconfig 'paths' settings, even when the file import is in the same folder.

[2018-07-20 23:27] andy-ms commented on #25739
@neilsoult Could you test with `typescript@next` and try to come up with a repro? Does it only happen when renaming files, or do import fixes / import completions have the problem too? (Import fix is when you have an error and a light bulb pops up and offers to import it. Completions is when you type 'foo' and the completion list offers to import it.)

[2018-07-20 23:31] mhegazy commented on #25741
@sheetalkamat should not this be in ConfigFileDiagnosticEvent instead? VSCode does not use any of the sync APIs and nor should they. I think we either need to send the errors back in the event or in the getErr command.

[2018-07-20 23:31] mhegazy commented on #25845
//cc @andy-ms

[2018-07-20 23:35] #25667 closed

[2018-07-20 23:51] #25846 closed

[2018-07-21 00:02] andy-ms commented on #25845
I would vote for `this.` -- the fact that you didn't type `this.` just means that you're lazy, not that you don't intend to use the method.

[2018-07-21 00:13] uniqueiniquity commented on #24407
Seems most likely to be a line ending handling issue. I will investigate further.

[2018-07-21 00:24] mhegazy commented on #13454
Seems fixed in latest.

[2018-07-21 00:24] #13454 closed

[2018-07-21 00:32] mhegazy commented on #15983
Seems fixed in latest.

[2018-07-21 00:32] #15983 closed

[2018-07-21 02:11] agoldis opened #25853 "--target ES5 does not compile ES5-compatible code (String.prototype.repeat)"
**TypeScript Version:**  Version 2.9.2

**Search Terms:**
es5 string.prototype.repeat
**Code**

[code]

**tsconfig.json**
[code]

**Expected behavior:**
Expecting `String.prototype.repeat` to be polyfilled or rewritten in the same manner  that `async/await` syntax in transpiled correctly because the target is `es5` and `String.prototype.repeat` is not part of ES5.

That is according to (documentat

[2018-07-21 05:06] DanielRosenwasser commented on #25853
#3101 already contains a discussion around not polyfilling and I don't think much has changed since then.

[2018-07-21 05:22] zavr-1 opened #25854 "Types are not imported properly for packages that use exports.default."
**TypeScript Version:**  3.1.0-dev

**Search Terms:** type export default

**Code** and **Actual Behaviour**

## Scenario 1 (perfect): `export default`, `import alias`

### `tt.js`
[code]

### `t.js`
[code]

<table><thead><th>Screenshot</th><th>Result</th></thead><tr><td>

![test](https://user-images.githubusercontent.com/21156791/43032322-dd9f6f28-8cab-11e8-995a-b6e414fac7e7.png)
</td><td>The pre

[2018-07-21 05:43] agoldis commented on #25853
@DanielRosenwasser thanks for quick response. I mentioned the issue #3101 because it's the most relevant that I could find and auto-polyfilling  would probably resolve the issue.

Let's face the fact:
- documentation claims that using `--target es5` creates ES5 compatible output, but it doesn't

If a user provides custom `lib` option, then TS will silently generate code that cannot be executed and

[2018-07-21 06:46] shamwow opened #25855 "Widening type inference inconsistency"
**TypeScript Version:**  3.1.0-dev.201xxxxx + whatever version the playground uses

**Search Terms:**
literal
type widening

**Code**
Snippet 1:
[code]

Snippet 2:
[code]

**Expected behaviour:**
Snippet 1 and snippet 2 should have the same result.

**Actual behavior:**
Snippet 1 raises no error but snippet 2 raises an error: `Type 'number' is not assignable to type '200'.`.

Based on [this](https

[2018-07-21 07:57] RedTailBullet opened #25856 "Variable undefined check should goes through functions in front of them."
## Search Terms
variable, check, undefined

## Suggestion
While checking whether a variable is undefined or null, checker should go through all the code including the function runned before the variable is used.

## Use Cases
I have a function that required a non-undefined argument. I do the required field check in a separate function and if the required variable is undefined or null, it should th

[2018-07-21 07:59] DanielRosenwasser commented on #25853
And while I agree it is a pain-point, I still think that bring-your-own-polyfill has worked reasonably well for the most part.

[2018-07-21 08:03] DanielRosenwasser commented on #25856
Sounds like you want #17760; is that accurate?

[2018-07-21 08:33] RedTailBullet commented on #25856
@DanielRosenwasser He does mention this kind of thing but mine is not that complicated. If you think it's a duplication I'll accept that. Sorry for the duplicated issue.

[2018-07-21 09:19] cevek commented on #25837
Ok, I get that. It is not a bug.

I think no problem to implement this like a feature
We just need to calculate completion based on a constraint

Now it's very annoying that this simple case don't give you a completion, but if you will type a wrong prop - ts will throw.

This feature also will resolve  #25549

[2018-07-21 10:18] dardino commented on #25637
ok

[2018-07-21 10:20] dardino commented on #25826
from [#25637](https://github.com/Microsoft/TypeScript/issues/25637) :
[code]

[2018-07-21 10:48] AlCalzone commented on #25853
Maybe the correct wording should be "ES5 compatible syntax"?

[2018-07-21 12:53] kai712 opened #25857 "An error in document. Type 'null' is not assignable to type 'void'"
I found an error in the basic type section of the document
"Declaring variables of type void is not useful because you can only assign undefined or null to them"
However,the viod type cannot be assigned null

[2018-07-21 13:05] JakeTunaley commented on #15480
Throwing my lot in with the "reflecting an API" use-case. A REST endpoint I'm writing a wrapper function for takes an integer in the range 1..1000 as an argument. It generates an error if the number does not satisfy that constraint.

[2018-07-21 16:05] a-tarasyuk commented on #25840
@mhegazy @ andy-ms seems issue related to method `reportNonexistentProperty`_(checker.ts),_ which does not handle differences between `instance` and `static` properties/methods. Is there any existing helper/util to check such cases?

[2018-07-21 16:13] zbicin commented on #15031
@slavafomin it worked for me in a similar case in another project, when I've put a new `index.d.ts` in the project root directory (i.e. in the same directory as the `tsconfig.json` is located).

[2018-07-21 19:11] ORESoftware commented on #25753
is there really no way to declare constant properties/methods on an object?

[2018-07-21 19:46] FredyC commented on #22331
Well, they are both testing frameworks relying on globals (sadly). It's not really something that can be changed without a breaking change.

The complexity you mention is optional, the `types` config field can accept either array or object with `include/exclude` properties. For most people who are not solving this issue, it won't matter that this option is in there.

[2018-07-21 19:57] MartinJohns commented on #25857
It can, if you have `strictNullChecks` disabled: https://www.typescriptlang.org/play/#src=const%20foo%3A%20void%20%3D%20null%3B

[2018-07-21 20:12] iepsen opened #25858 "Using Knockout with TypeScript: Page not found"
The link on the Wiki Page for _Using Knockout with TypeScript_ is broken:
https://github.com/Microsoft/TypeScript/wiki#tutorials

**TypeScript Version:**  3.0 RC

**Search Terms:**
not found, knockout, broken

**Expected behavior:**
Follow link to the tutorial

**Actual behavior:**
Page not found

[2018-07-21 21:16] therealmikz commented on #14419
Any news on this one? Seems to me like TypeScript authors somehow don't want to allow custom transformers on vanilla TypeScript - that's a shame, it would be an awesome feature.

[2018-07-21 22:31] kitsonk commented on #25857
What you also quote is that only `null` and `undefined` can be assigned to `void`, where as it makes no statements about `void` being assignable to anything, including `null`, but `null` is not assignable to `void` under `--strictNullChecks`.

How is this causing an issue?  Also as stated, it would be great if you could reference the document.

[2018-07-22 03:34] andy-ms commented on #25753
You could declare in the interface up-front all the properties that you plan to initialize, and use an index signature for the rest:
[code]
Of course this means `z` will be mutable.

[2018-07-22 03:39] andy-ms commented on #25856
To get type-checking currently, we use a pattern like this:
[code]

You can also make this generic:
[code]

[2018-07-22 05:35] osdiab opened #25860 "Recursive Mapped Conditional Type inferring top-level children to `any`"
**TypeScript Version:**  3.1.0-dev.20180721

**Search Terms:** any recursive mapped conditional inference

**Code**

[code]

**Expected behavior:**

I'm not sure if I'm misusing recursive mapped conditional types here, but I expected MyStrings to be

[code]

**Actual behavior:**
It's inferred as

[code]

**Playground Link:**
[Link](https://www.typescriptlang.org/play/index.html#src=%20%20%20%20int

[2018-07-22 06:05] nhhockeyplayer commented on #15199
Is there a workaround for this ?
type cast some way

error TS2339: Property 'emailAddress' does not exist on type '{}'.

my koa server is not surviving the latest and greatest updates

[code]

[2018-07-22 06:46] JakeTunaley commented on #15480
So I'm writing a proposal for numeric ranges and I've run across this issue that I'm not sure how to deal with, so I'm throwing it out there for consideration.

Because the TypeScript compiler is written in TypeScript, it's possible to leverage the properties of the numeric operators to mutate range types.

[code]

This is fine when assigning to a new variable, but what about mutation?

[code]

Th

[2018-07-22 07:31] JakeTunaley commented on #25753
Something like this would be useful for gradually building up an object.

[code]

[2018-07-22 07:31] agoldis commented on #25853
If the dev team considers this as not an issue please close it, I still think it is misguiding and error-prone :)

Thank you guys for your time!

[2018-07-22 08:09] ChosunOne commented on #25819
but the automatic insertion doesn't seem to be working, as I should not have to explicitly set one semicolon on the line preceding the destructure.

[2018-07-22 10:51] zspitz commented on #15480
Why should mutation be different than any other assignment?

[2018-07-22 12:52] jpdery opened #25861 "First JSX attribute always throws the error "Property does not exist on type '{}'""
**Typescript Version**: 2.9.2

tsconfig.json

[code]

index.ts
[code]

Component.tsx

[code]

**Expected behavior:**
I believe this should compile fine

**Actual behavior:**
`Component.tsx:11:13 - error TS2339: Property 'prop1' does not exist on type '{}'.`

If I switch the order of the attributes like this:

`<Component prop2="test" prop1="test" />`

I get the error

`Component.tsx:11:13 - error

[2018-07-22 13:12] lbguilherme commented on #25853
From the moment you added `"lib": ["es6", "dom"]` to your tsconfig, you are explicitly saying "assume es6 library features will be available at runtime", and the compiler correctly did assume the feature would be there. If you load typings for es6, you most polyfill it.

My opinion: this is by design.

[2018-07-22 14:06] VijayChawla commented on #9725
@brunolm - Your solution works for me... Thanks a lot...
The solution which i tried as per your suggestions is below :

In tsconfig.json : Corrected typeRoot values like following -> "typeRoots": ["node_modules/@types"]

{
  "compilerOptions": {
    "module": "commonjs",
    "target": "es6",
    "noImplicitAny": false,
    "sourceMap": false,
    **"typeRoots": ["node_modules/@types"]**
  },
  "ex

[2018-07-22 14:11] yln99517 opened #25862 "Intellisense is showing "no suggestions" ."
Here is the example code and playground file [Playground](http://www.typescriptlang.org/play/#src=interface%20%20Foo%20%7B%0D%0A%09x%3A%20number%3B%0D%0A%09y%3A%20string%3B%0D%0A%7D%0D%0Ainterface%20Bar%20%7B%0D%0A%09a%3A%20boolean%2C%0D%0A%09b%3A%20number%2C%0D%0A%09z%3A%20string%3B%0D%0A%7D%0D%0A%0D%0Ainterface%20FooBar%20%7B%0D%0A%09%22foo%22%3A%20Foo%2C%0D%0A%09%22bar%22%3A%20Bar%0D%0A%7D%0D%0

[2018-07-22 14:29] MeirionHughes commented on #14419
they don't want another api/surface to maintain for fear of leading to difficulty breaking things in the internals. Ironically, all these 3rd-party plugin solutions are, because there is no standard by the ts-team,  all somewhat different and will break eventually.

[2018-07-22 14:39] zajrik commented on #16700
I somehow missed seeing this get closed, but I saw this change in the 3.0 RC and thought "Hey, that was my issue!"

Glad to see this resolved. Cheers 🎉

[2018-07-22 15:03] pzavolinsky commented on #18758
I've been doing some digging in `src/compiler/checker.ts` and I guess the fix should be somewhere around here:

[code]

Of course given the complexity of this file (`createTypeChecker` is a single function with ~30K lines of code), I'm not sure what the impact of this change is and what else could break from making the change.

Anyway, hope this helps, I'd really like to have this working.

Cheers

[2018-07-22 15:04] ahejlsberg commented on #25860
Duplicate of #23897. The types are actually computed correctly, but our type display logic doesn't currently descend into recursive mapped types because they could potentially be infinite.

[code]

Here, `ShouldBeString` is indeed of type `string`. By the way, note that I had to change `{}` to `object` in your conditional type. The `{}` type is actually a supertype of every type but `null` or `und

[2018-07-22 15:17] pcan commented on #14419
After 3 years working with typescript and watching its evolution, I have come to a simple conclusion. Microsoft has open-sourced Typescript in the sense of the _code_, but not in the sense of the _process_. In the majority of the cases, open-source projects are more or less community-driven both in the *decisions* and in the *coding*, and this should be the natural way to evolve. Do you remember t

[2018-07-22 16:11] kai712 commented on #25857
ok，thanks

[2018-07-22 16:34] buola commented on #19956
I guess the following is related:

`var a: number[];
var b = a = [];
a.push(1); //OK
b.push(1); //Error (Argument of type '1' is not assignable to parameter of type 'never'.)... should be ok`

**Expected behavior**

No error. Type of b is inferred as number[]

**Actual behavior**

Error because type of b is never[]

[2018-07-22 16:56] MurhafSousli commented on #13270
Where is the fix? I have been going for an issue to an issue .. related to duplicated ... where is the fix? I have the latest version of vscode and still getting the double quote

[2018-07-22 17:40] DanielRosenwasser commented on #25862
Duplicate of #20782, #14812, and ultimately #14772. :sad:

[2018-07-22 17:50] #25858 closed

[2018-07-22 17:53] tobiasmuecksch commented on #19920
I'm having this issue. There is no baseUrl in my tsconfig. How can we fix this?

[2018-07-22 18:01] DanielRosenwasser commented on #25861
Confirmed, something like this worked in 2.8 but not anymore: https://agentcooper.github.io/typescript-play/?target=5&jsx=2#code/CYUwxgNghgTiAEA7KBbEBnADlMCBSAygBrwDeAUPFfAJaIAuIMAZjggKIQhoMDC06dPBAAPRomBCA8gCMAVuHpl4AbREAudPRh0A5gF11URAE94AX3KXyyNFjbwASiBz0K1eMwCuiMPRoA9ojwYHBQjJzcIAwAFAAqJpgg6vDGJgA0qfTaNDJejOgpaZkAdGVgABY0EMBwiCkAgjAwUCYAPGkAfACURaZklB7UcPReMMGIXhAQg1TW1pBQgvC8ASiYQdFKFACQmF4yE

[2018-07-22 19:54] ahejlsberg commented on #25855
This is working as intended but is a bit involved. During type inference for the call to `get` we need to establish the type of the function expression argument. Since the function expression has no explicit return type annotation, we have to infer from the return type. At the point of making this inference we have not yet established a type argument for `Path` (that's what we're trying to infer),

[2018-07-22 20:04] osdiab commented on #25860
Ah, interesting. Sounds like displaying it with some kind of ellipsis or placeholder type would be more ideal. I'll post to that issue.

[2018-07-22 20:05] ORESoftware commented on #25753
@andy-ms yeah in your example I want z to be immutable too. hence the question title - immutable/read-only index signature.

[2018-07-22 20:07] osdiab commented on #23897
In my case of a recursive type exhibiting this error (#25860), sounds like displaying it with some kind of ellipsis or placeholder type would be nicer than just dropping down to `any`—that's a misleading type, given that it actually removes information from the display of the type. Not sure what concerns there would be though since I don't know how these serialized types ultimately get used, but i

[2018-07-22 21:34] mattmccutchen commented on #9744
Let me add on to this issue (it doesn't seem worth filing another): a `this` parameter on a generic arrow function parses but has no effect:
[code]

[2018-07-22 21:43] kitsonk commented on #14419
I wholeheartedly disagree with this.  I have never worked for Microsoft, but I have had direct influence on several features of TypeScript over the past 4 years. I was representing an open source library built in TypeScript, and we arranged to have some direct conversations, but all of the "debate" of any features was done open, in public, here.  The core team publishes their design meeting notes.

[2018-07-23 02:04] yln99517 commented on #25862
OK, Closing the Issue.

[2018-07-23 02:04] #25862 closed

[2018-07-23 04:03] rosslovas commented on #25600
Trying it out on the codebase I'm working on, I ran into a lot of `Output file '.../_.d.ts' has not been built from source file '.../_.ts'` errors. I managed to strip down a repro to almost nothing, and found that when `rootDir` and `outDir` are involved as well as a project reference, source files within an individual project that has a dependency project would be compiled in alphabetical order.

[2018-07-23 04:16] rosslovas opened #25864 "tsc --build with rootDir and outDir is compiling files within a project in alphabetical order, breaking imports"
**TypeScript Version:**  3.1.0-dev.20180721

**Search Terms:** tsc build project reference rootDir outDir

**Code**

Brief summary: When `rootDir` and `outDir` are involved as well as a project reference, source files within an individual project that has a dependency project would be compiled in alphabetical order. The consequence is that an `A.ts` that imports from `B.ts` will fail with `Output

[2018-07-23 05:49] iflp commented on #11100
A workaround could be:
[code]

The trade-off being an extra line of code for type safety.

[2018-07-23 06:52] zhirzh commented on #21625
on a side note, what is the meaning behind `URI` property?
is there some deep rooted reason behind it or can it be anything else - like `type`?

[2018-07-23 08:13] marcos-diaz commented on #25682
I don't think is the same

[2018-07-23 08:21] alexandrudima commented on #25831
@andy-ms

I'm not exactly asking for that. Note that I included the statement `a = new A();`. I am not asking for find all references to find the `A.dispose()` method if that assignment statement is missing.

I am a compiler noob, but IMHO as part of type checking you must be checking if the type `A` is assignable to `IDisposable` using the rules of duck-typing. When this happens, you could mark t

[2018-07-23 10:18] JakeTunaley commented on #24085
This would be really useful for typing `addEventListener` patterns. Here's a sample of real-world code where I ran into this issue:

[code]

[2018-07-23 11:01] HolgerJeromin commented on #19816
One other valid usecase is if you are working with different contexts. For example we could be in another DOM (inside an `HTMLObjectElement`) so `SVGElement` is a different one:

[code]

[2018-07-23 11:36] OliverJAsh commented on #24857
I still can reproduce with 3.1.0-dev.20180721

[tsserver.log](https://github.com/Microsoft/TypeScript/files/2219115/tsserver.log)

[2018-07-23 11:37] OliverJAsh commented on #25826
@dardino This issue is concerning overloads when used with a pipe function, which doesn't appear to be the case with your issue. Perhaps you could open a new issue to avoid conflating the issue being tracked here

[2018-07-23 11:42] dardino commented on #25826
Ok sorry

[2018-07-23 11:51] dardino opened #25865 "type inference error in multi-olverloads function body"
**TypeScript Version:**  2.9

**Search Terms:**
method overloads when pipe

**Code**

[code]

**Expected behavior:**
no errors in the function "c" because is exactly the same as function "b"

**Actual behavior:**
error in function "c":
[code]

**Playground Link:**
[PlayGround](http://www.typescriptlang.org/play/index.html#src=class%20C1%20%7B%20P1%3A%20string%3B%20%7D%0D%0Aclass%20C2%20%7B%20P2%3A

[2018-07-23 12:44] j-oliveras commented on #25865
From [FAQs](https://github.com/Microsoft/TypeScript/wiki/FAQ#why-am-i-getting-supplied-parameters-do-not-match-any-signature-error): A function or a method implementation signature is not part of the overloads.

Add another overload to function a:
[code]

[2018-07-23 13:04] AdJesumPerMariam commented on #13270
@MurhafSousli https://code.visualstudio.com/updates/v1_24#_preferences-for-auto-imports-and-generated-code

If you are still getting the double quote then your preferences.quoteStyle are probably either set to "double" or "auto". If it is set to "auto" (the default) then it infers the import style from existing imports. If there are no existing imports, then I believe it defaults to double quote.

[2018-07-23 13:14] mcamou commented on #13557
Any news on when/whether #13288 will be merged? This bug has been open for over a year now.

[2018-07-23 14:51] AlCalzone commented on #25865
@j-oliveras that was going to be my first response too, but then I thought the error is a bit illogical.

In the line where the error occurs, we know that value is either a `C1` or a `C2`. For both options, an overload of `a` exists. There's probably some design limitation or intent behind this, but why should `((value: C1) => string) | ((value: C2) => string)` not be callable with a `C1 | C2`?

[2018-07-23 15:18] donaldpipowitch commented on #20110
Don't we have TypeScript for that? :D Thanks to `allowJs` I type check my Jest and Webpack configs like this https://twitter.com/PipoPeperoni/status/1016199550330195971 and to get features like code completion and so on. Are there more things left where .json is a strong requirement?

[2018-07-23 15:22] j-oliveras commented on #25865
@AlCalzone In this case, it is duplicate of #14107 and #1805.

[2018-07-23 15:30] styfle commented on #23339
Also happened again in [typescript@3.1.0-dev.20180721](https://packagephobia.now.sh/result?p=typescript@3.1.0-dev.20180721)

| version  | install size  |
|---|---|
|3.1.0-dev.20180717| [![install size](https://packagephobia.now.sh/badge?p=typescript@3.1.0-dev.20180717)](https://packagephobia.now.sh/result?p=typescript@3.1.0-dev.20180717)  |
| 3.1.0-dev.20180721 | [![install size](https://packageph

[2018-07-23 16:01] AlCalzone commented on #25865
And possibly related: https://github.com/Microsoft/TypeScript/issues/7294
[code]

[2018-07-23 16:01] nwayve commented on #5611
This seems to be working for me just fine (at least for TypeScript v2.9.2).

Be sure that your `tsconfig.json` file (or however you're setting your compilerOptions) has `compilerOptions.target` set to `"es2015" | "es6"` or later.

Using `ts-node` with target >= "es2015":
[code]

I threw that last bit in there for @Manish3177 .  No need to include the class name in the method name as it can be retr

[2018-07-23 16:33] SergioMorchon commented on #21699
Just to clarify, this issue is expected to allow us to define, for example, something like flowtype's  https://flow.org/en/docs/react/children/#toc-only-allowing-a-specific-element-type-as-children

[code]

Am I right?
This feature could be a really big deal to use TypeScript in our Project (made with JS + React, looking for type-check it), because we have _a lof of_ JSX components that we would l

[2018-07-23 16:57] andy-ms opened #25867 "Services in unopened projects"
Some language services, such as `findAllReferences`, `rename`, `navigateTo`, and `getEditsForFileRename`, as well as refactors like `moveToNewFile` (which wants to update imports from external references), work best when they know about as many files as possible.
Currently we only keep projects open if at least one file is being viewed in the editor.
When we invoke a service that might need to kno

[2018-07-23 16:57] weswigham commented on #21699
Yes, technically. You can already define such a type in TS, it just isn't terribly useful since every JSXExpression is erased to the base JSXElement.

[2018-07-23 16:59] weswigham commented on #5611
That just means we're not downleveling the method declaration. The issue is for the downleveling targets.

[2018-07-23 17:00] andy-ms commented on #24857
I can reproduce the issue if I open `other.ts` but not `index.ts`. That way the project in `tsconfig.json` is never opened and we don't update it. So this may be #25867.

[2018-07-23 17:02] OliverJAsh commented on #24857
I am opening Code, then opening `index.ts`, and then navigating to `other.ts` via the import (go to reference).

[2018-07-23 17:09] SCLeoX commented on #15031
@Spongman Actually, you can just have a `global.d.ts` at your project root with following content:

[code]

It automatically makes all js modules any while ts modules keep working as intended.

[2018-07-23 17:31] mhegazy commented on #25204
thanks @surajrao for confirming the issue is fixed in `typescript@next`. closing.

[2018-07-23 17:31] #25204 closed

[2018-07-23 17:35] #25512 closed

[2018-07-23 17:35] #25502 closed

[2018-07-23 17:35] andy-ms commented on #24857
Could you try adding this to your vscode settings?
[code]

Without that, vscode may automatically be closing `index.ts` when you navigate to `other.ts`.

[2018-07-23 17:38] neilsoult commented on #25739
It's hard to create a repro right now, but it seems to happen when moving/renaming files/folders, and may possibly be linked to problems ( like, errors because of import paths and the like ). I'll update if I'm able to create a fully reproducible scenario.

[2018-07-23 18:24] sheetalkamat commented on #25018
@devuo can you please check if #25811 helps you further?

[2018-07-23 18:52] christianalfoni commented on #6433
@mpodlasin Would you have some pointers on where to start with this issue? I would love to fix it as the name of functions are valuable when building devtools.

[2018-07-23 18:57] DanielRosenwasser opened #25870 "Better error messages for converting symbols to strings"
Starting

[code]

I believe with TypeScript 2.9, we started erroring on the former operation (#22251). When upgrading to 2.9 with @wycats, we got these error messages and it became clear that for most users it wouldn't immediately be obvious why this was an error.

@wycats had the recommendation that we suggest using `String(x)`:

[code]

[2018-07-23 19:00] mhegazy commented on #23339
@weswigham can u take a look.

[2018-07-23 19:03] mhegazy commented on #25870
Related to the change in https://github.com/Microsoft/TypeScript/pull/25541

[2018-07-23 19:05] mhegazy commented on #25840
do not think so. @sandersn any recommendations?

[2018-07-23 19:13] bterlson opened #25871 "Assignability of functions with a rest parameter of an empty tuple possibly incorrect"
**TypeScript Version:**  3.1.0-dev.20180722
**Code**

[code]

**Expected behavior:**
I want to create function types that are assignable to f1 using tuple types ala f3. I expected f3 to behave more like f2 than f4.

**Actual behavior:**
f3 cannot be assigned to f2.

But adding any type into f3's args tuple makes the error go away.

[2018-07-23 19:13] bterlson commented on #25871
/cc @sandersn

[2018-07-23 19:14] cevek commented on #25837
Actially I think this is bug because if there is a some non null props in an extends constraint then autocomplete works fine
[code]

[2018-07-23 19:16] devuo commented on #25018
@sheetalkamat nope, no changes. I also added .git/ to excludes, but it appears to be scanning it nonetheless. Will try to check in a bit more detail tomorrow

[2018-07-23 19:19] mhegazy commented on #25871
Just to be clear, this issue is about missing error for:

[code]

[2018-07-23 19:23] jeffsaremi opened #25872 "Type '{}' cannot be used as an index type"
Typescript version 2.9.2
Running in vscode 1.25.1
Windows 10

I have this code which runs perfectly in Javascript but errors out in TypeScript:

Search Terms:
index,type

Code:

[code]
Actual behavior:
I should be able to use any object as the key in an object

Playground Link:
none

Related Issues:
none that I can think of

[2018-07-23 19:33] jeffsaremi commented on #25872
Yes a.b would also be marked as error.

[2018-07-23 19:37] mhegazy commented on #16260
Should be fixed in latest.

[2018-07-23 19:37] #16260 closed

[2018-07-23 20:00] mhegazy commented on #13580
Seems fixed in latest.

[2018-07-23 20:00] #13580 closed

[2018-07-23 20:02] mhegazy commented on #13323
Seems fixed in latest.

[2018-07-23 20:02] #13323 closed

[2018-07-23 20:08] mhegazy commented on #24708
It is not clear what merging with an exported symbol really means. does it merge with the source, or does it copy the source properties, merge with that and then export a new type. This never worked really, the fact that we do not flag it as an error is a long standing bug.

[2018-07-23 20:10] mhegazy commented on #23705
See more about the rationals here in https://github.com/Microsoft/TypeScript/wiki/What%27s-new-in-TypeScript#improved-type-inference-for-object-literals

[2018-07-23 20:15] cevek opened #25873 "Invalid cast. The supplied value [object Object] did not pass the test 'isParameter'."
**TypeScript Version:**  3.1.0-dev.20180717

**Search Terms:**

**Code**

[code]

**Expected behavior:**

**Actual behavior:**

**Playground Link:**

**Related Issues:**

[2018-07-23 20:17] cevek opened #25874 "Cannot read property 'kind' of undefined at isValidTrigger"
**TypeScript Version:**  3.1.0-dev.20180717

**Search Terms:**

**Code**

[code]

**Expected behavior:**

**Actual behavior:**

**Playground Link:**

**Related Issues:**

[2018-07-23 20:17] #25855 closed

[2018-07-23 20:17] cevek opened #25875 "False expression. at deleteDeclaration"
**TypeScript Version:**  3.1.0-dev.20180717

**Search Terms:**

**Code**

[code]

**Expected behavior:**

**Actual behavior:**

**Playground Link:**

**Related Issues:**

[2018-07-23 20:20] cevek commented on #25487
Also I have a lot of similar error(ts@3.1.0-dev.20180717):
[code]

[2018-07-23 21:01] josundt commented on #25600
I just tested TS 3 RC project references in a typical npm package setup with included tests. The tests were set up as a TS project referencing the source code TS project.

I surprisingly found that project references do not adhere to the **outDir** compilerOption of **_referenced_** or **_referencing_** projects, and that the relative paths for module imports in the compiled referencing project's

[2018-07-23 21:03] mjbvz opened #25876 "tsconfig.json path aliases are not included in auto import paths"
_From @eodrap on July 21, 2018 16:0_

VS Code version: Code 1.25.1 (1dfc5e557209371715f655691b1235b6b26a06be, 2018-07-11T15:33:29.235Z)
OS version: Darwin x64 17.6.0
TypeScript version: 2.9.2
Does this issue occur when all extensions are disabled?: Yes

Steps to reproduce -

1. Define path alias in `tsconfig.json` -
[code]
2. Restart VS Code
3. Trigger auto import by typing a module name and selec

[2018-07-23 21:03] mjbvz commented on #25876
_From @vscodebot[bot] on July 21, 2018 16:0_

(Experimental duplicate detection)
Thanks for submitting this issue. Please also check if it is already covered by an existing one, like:
- [TypeScript Auto Import only uses relative paths (#54513)](https://www.github.com/Microsoft/vscode/issues/54513)

[2018-07-23 21:03] mjbvz commented on #25876
_From @eodrap on July 21, 2018 16:1_

Not a duplicate of #54513.

[2018-07-23 21:03] mjbvz commented on #25876
Does this still happen in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/)?

[2018-07-23 21:03] mjbvz commented on #25876
_From @eodrap on July 23, 2018 9:33_

Thanks for replying, yes it does. Clean installation & profile of VS Code Insiders, no installed extensions, and auto import paths do not include the configured alias. The alias is understood if added manually to import paths.

VS Code version: Code - Insiders 1.26.0-insider (26e5a55cd8452477bfb7a472ea9475761600adf0, 2018-07-20T05:11:33.977Z)
OS version: Darwi

[2018-07-23 21:05] mjbvz commented on #25876
Confirmed this on typescript@3.1.0-dev.20180721

We always seem to use use the shorter path relative to baseUrl instead of the one configured in `paths`

[2018-07-23 21:36] sandersn commented on #25840
I can't think of an existing utility, but I think you'd just have to add a check in `reportNonExistentProperty` for something like `getPropertyOfType(getDeclaredTypeOfSymbol(containingType.symbol), propNode.escapedText)`. If you get a property from that call, then you know that the static side has a property of desired name and can issue the improved error message.

(This is completely untested, s

[2018-07-23 22:06] brainkim opened #25877 "Allowed trailing commas in type argument lists for type references"
**TypeScript Version:**  3.1.0-dev.201xxxxx

**Search Terms:**
Trailing Comma Nested Types Parameters Generic

**Code:**

[code]

**Expected behavior:**
An error should not be thrown
**Actual behavior:**
[code]
**Playground Link:**
http://www.typescriptlang.org/play/index.html#src=interface%20Pizza%3CT%3E%20%7B%0D%0A%20%20pizza%3A%20T%3B%0D%0A%7D%0D%0A%0D%0Atype%20PizzaBox%20%3D%20Partial%3CPizza%

[2018-07-23 22:14] JDGHHou opened #25878 "Typescript ASP .Net Core tutorial doesn't work"
**Search Terms:**
https://www.typescriptlang.org/docs/handbook/asp-net-core.html

**Code**
{the code you've provided in your ASP .Net Core Tutorial}

**Expected behavior:**
I expect to be able to follow a simple hello world app setup via the The ASP .Net Core tutorial on your website and have it do the most basic thing.

**Actual behavior:**
The ASP .Net Core tutorial on your website doesn't work

[2018-07-23 22:43] mattmccutchen opened #25879 "Allow a lookup into a non-generic mapped type to substitute"
I feel awkward submitting this suggestion since I don't know if it will get enough votes to go anywhere, but I guess _someone_ has to be the initial submitter for each suggestion...

## Search Terms

mapped type indexed access type lookup type substitute substitution generic

## Suggestion

Currently, a lookup into a mapped type, for example `{ [P in K]: Box<T[P]> }[X]`, is simplified by substitut

[2018-07-23 22:43] aboyton commented on #25114
I've raised an issue with TSLint https://github.com/palantir/tslint/issues/4063 and submitted a pull request there https://github.com/palantir/tslint/pull/4064, so let's see what they think about fixing this on their end.

[2018-07-23 22:44] andy-ms opened #25880 "Inconsistency between type literal and interface assignability to index signature"
**TypeScript Version:**  3.1.0-dev.20180721

**Code**

[code]

**Expected behavior:**

No error.

**Actual behavior:**

[code]

[2018-07-23 22:45] ProdigySim commented on #4895
I liked @SimonMeskens example, but it leaves the `string` prototype methods available on the resulting type--which I did not like.

I made the following change which seems to preserve some some checks for the original type:

[code]

By adding the intersection, Typescript will not let such a variable be used as a string without a type assertion.

For example:
[code]

I'm sure there's probably a bet

[2018-07-23 22:47] brainkim commented on #25877
@mhegazy You would know better!

[2018-07-23 22:48] mhegazy commented on #25880
Duplicate of https://github.com/Microsoft/TypeScript/issues/15300

[2018-07-23 22:53] andy-ms commented on #25880
What's relevant to the linked PR is, how can one constrain a type such that all of the *values* of that type extend something?
[code]
The example works perfectly without the type annotation (and errors on `{ x: {} }`), but fails when an interface type is provided.

[2018-07-23 22:58] sheetalkamat commented on #25018
@devuo  #25811  will help you with watching ```/app/node_modules``` instead of ```/app``` for failed lookup locations (which created child watches for each directory in it.
As mentioned exclude just helps with the initial list, the files from node_modules even if in exclude list can be added to your program to resolve modules.
I ran  #25811 and was able to see that only three directory watchers we

[2018-07-23 23:39] andy-ms opened #25882 "Warn on impossible type predicate"
**TypeScript Version:**  3.1.0-dev.20180721

**Code**

[code]

**Expected behavior:**

Error at `isString(x)`: a `number` is never a `string`.

**Actual behavior:**

No error.

This is relevant in the TypeScript codebase because we might write dead code due to using a type predicate that should never happen, such as calling `isBinaryExpression` on a `Statement`.

[2018-07-23 23:45] mattmccutchen opened #25883 "Definitely assignable relation should consider some type variable constraints"
## Search Terms

definitely assignable conditional type variable constraint

## Suggestion

The "definitely assignable" relation used to test the condition of a conditional type currently doesn't consider any type variable constraints.  `checker.ts` gives the motivating example:

I assume the concern is that immediately resolving to the true branch would be incorrect if `T` is later set to `{x: nu

[2018-07-24 00:03] andy-ms commented on #25720
At the least, at `typeof foo === "object"` it should narrow to `object`. Currently remains `unknown` and the following fails:
[code]

[2018-07-24 00:11] #25876 closed

[2018-07-24 00:28] ghost opened #25885 "Warn on function returning `unknown` with no return statement"
**TypeScript Version:**  3.1.0-dev.20180721

**Code**

[code]

**Expected behavior:**

Both `f` and `g` are errors.

**Actual behavior:**

Only `g` is an error.

[2018-07-24 00:46] zerkms opened #25887 "AbortSignal.abort does not accept `() => void` while it should"
**TypeScript Version:** 2.9.2

**Search Terms:** AbortSignal AbortController

**Code**

[code]

**Expected behavior:**
It should compile

**Actual behavior:**
`AbortSignal.onabort` typing fails

**Playground Link:**
https://www.typescriptlang.org/play/index.html#src=const%20controller%20%3D%20new%20AbortController()%3B%0A%0Acontroller.signal.onabort(()%20%3D%3E%20%7B%7D)%3B

**Related Issues:**
ht

[2018-07-24 00:53] simonbuchan commented on #24193
Seems like this is the feature required to type `react-spring``s `native` prop sensibly, though in a type inference usage, rather than guard usage?

Using the standard animated `Spring` (i.e. where the render prop is invoked for each new frame and updates using react), where the `native` property is not set or set to false, the `style` parameter should be inferred directly from `from` and `to`. e.

[2018-07-24 06:30] mpodlasin commented on #6433
No, my approach was not good as you will see in review of my PR: https://github.com/Microsoft/TypeScript/pull/16001

I did not work on it after that.

Good luck!

[2018-07-24 07:19] uaearcade opened #25888 "BusinessArcade"
Please fill the following out:

- Name: Business Arcade
- Homepage url: https://businessarcade.com
- Brand Guidelines/Licensing: Online Shopping
- Logo: (svg if possible, pngs over 500x200px with transparent backgrounds are also acceptable)

[2018-07-24 07:20] uaearcade commented on #25888
please add this to http://www.typescriptlang.org/community/friends.html

[2018-07-24 07:58] ajafff commented on #25882
What's the difference to https://github.com/Microsoft/TypeScript/issues/25316?

[2018-07-24 08:07] gynet commented on #2859
any update on this? It's still an issue with vs code, should be addressed with a higher priority

[2018-07-24 08:23] pablonautic commented on #25823
Finally, I have figured out the problem.

Turned out that it's a side effect of a "feature" present in Visual Studio 2017: [ignoring tsconfig.json when not set to "Compile"](https://developercommunity.visualstudio.com/content/problem/208941/vs-156-ignores-tsconfigjson-and-typescriptcompileb.html).

That's exactly what happens after creating a new project using the ASP.NET Core Angular template - t

[2018-07-24 08:23] #25823 closed

[2018-07-24 08:30] Akxe opened #25889 "Need to cast string as string literal"
**TypeScript Version:**  3.1.0-dev.201xxxxx

**Search Terms:**
string as string, cast string as string, cast string as string literal
I am sorry, I have no idea on how to search for it, enlighten me, if you know.

**Code**

[code]

**Expected behavior:**
It should work, as `id` can be `number | 'current'`.

**Actual behavior:**
Error string is not assignable to 'current'.

**Playground Link:**
[li

[2018-07-24 08:32] gynet commented on #2617
It's still an issue with vs code with es5 and arrow function, it's really annoying should be addressed with a higher priority.

[2018-07-24 09:01] rubenlg commented on #25802
Thanks @andy-ms. In that case let's close this. I think another duplicate candidate is #23662. They are all probably related.

[2018-07-24 09:01] #25802 closed

[2018-07-24 09:30] mctep opened #25890 "Autocomplete does not work for string literals and arbitrary string in single type"
**TypeScript Version:**  3.1.0-dev.20180724

**Search Terms:** arbitrary string literals autocomplete

**Code**

[code]

**Expected behavior:**

Autocomplete should suggest `foo1` and `foo2` variants.

**Actual behavior:**

Autocomplete does not suggest variants `foo1` and `foo2`. If I remove arbitrary `| string` it works as expected.

**Playground Link:** [Link](https://www.typescriptlang.org/pla

[2018-07-24 09:37] rafaelmaeuer commented on #19117
I am looking forward to this feature too. Intellisense is not able to understand `require.main.require` as alias for `require`. But this method helps a lot for readability of code when you have files in deeper folder structures.

[2018-07-24 09:50] cevek opened #25891 "Feat: Extract function with jsx selection should be replaced with jsx sfc"
## Suggestion
If we select jsx element and do extract refactor, editor should be refactor it in jsx maner

## Examples

[code]
After refactor should be

[code]

## Current behavior
![ezgif-5-b8e179a53e](https://user-images.githubusercontent.com/3171573/43130382-05f86d0c-8f50-11e8-8475-978626660794.gif)

[2018-07-24 09:52] dbaeumer commented on #24708
I would expect it to merge as if both are declared in the same file (which works without problems). Why is it different if the two `Identifier` come from different files?

And as you can see the hover knows about both of them.

[2018-07-24 10:37] j-oliveras commented on #25889
If you declares the return type of the lambda it works:
[code]

I think is a duplicate.

[2018-07-24 10:38] j-oliveras commented on #25890
`type Type = 'foo1' | 'foo2' | string;` is equivalent to `type Type = string;`.

I think this works as intended.

[2018-07-24 11:04] mctep commented on #25890
@j-oliveras I understand, but I think it wold be great to have predefined values for autocomplete in this case.

[2018-07-24 11:05] OliverJAsh commented on #24857
That does fix the issue with "rename file", but "move to new file" still does not work.

[2018-07-24 11:49] MarkTiedemann commented on #24715
Can this be re-opened and the `Working as Intended` label get removed?

If it is really "working as intended", I think there should be some documentation that this feature *only* works in conjunction with the `outDir` option.

It almost seems like that it is *not* intended to be used for common use-cases like:

[code]

I guess it would be fine if you could somehow ignore `TS5055`, but `// @ts-igno

[2018-07-24 11:53] Akxe commented on #25889
If I cast it like so it works:
[code]
, but damn, it feels dumb...

[2018-07-24 12:14] MarkTiedemann commented on #24715
Another common use-case.

Let's say I have the following project structure:

[code]

If I specify `include: src`, `outDir: dist` and `resolveJsonModule: true`, and import the `package.json` version with `import { version } from '../package.json'`, then suddenly my `dist` directory looks like this:

[code]

Even if that's "working as intended", I think that might surprise a lot of people.

[2018-07-24 12:28] AlexGalays opened #25892 "Type guard fails to refine type of mapped type"
**TypeScript Version:**  2.9.2 and next@2018-08-24

**Search Terms:**
mapped type inference  type  guard

**Code**

[code]

**Expected behavior:**
The type is correctly inferred and the type guard does something

**Playground Link:**

https://www.typescriptlang.org/play/#src=type%20Listeners%3CK%20extends%20keyof%20EVENTS%2C%20EVENTS%3E%20%3D%20Array%3C(data%3A%20EVENTS%5BK%5D)%20%3D%3E%20void%3E%

[2018-07-24 12:33] Local9 commented on #13270
Recent update, the auto generated import is working as expected with single quotes. As for auto generated snipets these are still double quoted.

[2018-07-24 13:18] HarshKhatore commented on #19577
Hi @mhegazy is the issue open to take and, can someone guide me on this? Thanks.

[2018-07-24 14:55] LAITONEN opened #25894 "Enums and interfaces do not have definitions in pop-ups"
The issue might be related to [this one](https://github.com/Microsoft/TypeScript/issues/24409), but mine is not about version 3.0, and is not solely about imports.

## Search Terms

enum, description, definition, pop-up, tooltip, vs code

## Suggestion

Hovering over enums and interfaces, should show their definition, i.e. I have this enum (or an interface):
[code]

If I hover over this enum, wher

[2018-07-24 15:16] ericdrobinson commented on #22217
Having a supported feature with little-to-no documentation is what drives confusion. Please properly document features like this but be **liberal** with your warning language. For example:

This would be _vastly_ preferable to having to scan GitHub Issues, StackExchange, etc. for information.

[2018-07-24 15:25] krzysztofzuraw opened #25895 "New Website Logo: Ingrid"
- Name: Ingrid
- Homepage url: https://www.ingrid.com/
- Brand Guidelines/Licensing: -
- Logo:
![ingrid_logo_red](https://user-images.githubusercontent.com/9116238/43148919-95c82dda-8f66-11e8-8d96-56ac28f98deb.png)

[2018-07-24 15:33] jack-williams commented on #25883
How would this interact with `never` short-circuiting? If I understand your proposal correctly then

[code]
should simplify to `string`. This would be a change to the current semantics where `Foo<never> = never`.

[2018-07-24 15:49] mattmccutchen commented on #25883
I was focusing on non-distributive conditional types.  I've edited the initial comment accordingly.  I haven't thought carefully about the behavior for distributive conditional types; in fact, I don't understand them very well.

[2018-07-24 15:49] sandersn commented on #19577
No hypotheses jump immediately to my mind. So, I would:

1. Put the example into a file.
2. make sure that tsc gives the reported error. (looks like you need `noImplicitAny: true`?)
3. Clone and build typescript repo.
4. Make sure that `node ~/ts/built/local/tsc.js` (for example) gives the same error as tsc.
5. Start debugging with `node --inspect-brk ~/ts/built/local/tsc.js` and attach with your

[2018-07-24 15:55] DanielRosenwasser opened #25896 "Poor error message for computed string enums"
https://twitter.com/larymagal/status/1021741263358443520

As a more basic example:

[code]

Currently we give the error

[code]

However, we should give an error like

[code]

[2018-07-24 15:57] andy-ms commented on #23662
Duplicate of #15655

[2018-07-24 16:10] andy-ms commented on #25889
There are actually a few reasons why you should ensure an object literal has a contextual type -- it helps avoid misspelling optional properties and gets you literal types. (See palantir/tslint#2581)

[2018-07-24 16:12] jcalz commented on #23689
I just have to say that almost every time I use a conditional type I wish this proposal or something like it were implemented.  If I could give this issue more than one 👍 I would.

[2018-07-24 16:13] andy-ms commented on #25890
Duplicate of #20154

[2018-07-24 16:15] andy-ms commented on #25882
None.

[2018-07-24 16:57] mhegazy commented on #25887
I think you meant:

[code]

[2018-07-24 17:05] HarshKhatore commented on #19577
Hi @sandersn . Thanks for the steps.
As you said, when compiling using `noImplicitAny` flag, the code gives the following error:
`let last;`

`return last!`

And the same errors after compiling with local build.

Now, as you mentioned in point 5, I should debug the `~/ts/built/local/tsc.js`, but that is nearly 85k loc. Am I missing something?

[2018-07-24 17:16] sandersn commented on #19577
@HarshKhatore Yeah, you'll need to search for the error message [1] you're getting and put a breakpoint there. You'll spend forever getting to the actual error otherwise.

[1] The messages are mangled like so: `Variable_0_implicitly_has_type_1_in_some`... Basically, you replace spaces with `_` and remove other punctuation. (I think the build generates a JSON file with the mapping.)

[2018-07-24 17:31] LiterallyDoge opened #25897 "Short circuit operator breaks TSC"
**TypeScript Version:**  This is a compiler syntax issue across all versions.

**Search Terms:**
short circuit arrow function

**Code**

[code]

**Expected behavior:**
The short-circuit operator should be agnostic to which type of function follows it (arrow versus traditional).

**Actual behavior:**
Traditional functions resolve as expected, but arrow functions compile malformed: "();"

**Playgrou

[2018-07-24 17:32] LAITONEN commented on #25894
Also, if I have interface, which extends another interface:
[code]

And I use `interface Two` somewhere and hover over it, I will get the same dull description as I got on the second screenshot in the initial post with interfaceName.

[2018-07-24 17:34] mhegazy commented on #25891
I would say a new refactoring should be offered in this context to extract the JSX element to an SFC.

[2018-07-24 17:35] HarshKhatore commented on #19577
@sandersn Okay, will try to do that and get back to you :)

[2018-07-24 17:38] DanielRosenwasser commented on #25897
There's a parse error. Try this in a browser's console window.

Here's what I get in Firefox:

[code]

Here's what I get in Chrome:

[code]

[2018-07-24 17:41] DanielRosenwasser commented on #25897
But Firefox gave a good error message. We should too.

[2018-07-24 17:45] LiterallyDoge commented on #25897
I respect your authority but this is plainly wrong.

[2018-07-24 17:49] DanielRosenwasser opened #25898 "Improve errors for potential arrow functions"
There are certain locations where arrow functions don't parse

[code]

In these instances, it would be nice if users could get a better error message as to avoid issues like #25897.

Ideally this should not be an invasive change.

* The change should be limited in scope.
* The parser should continue erroring in those locations.
* The change must not introduce change how existing valid code is pars

[2018-07-24 17:54] DanielRosenwasser commented on #25897
Can you show me what in https://tc39.github.io/ecma262/ indicates that this behavior is wrong?

[2018-07-24 18:09] cevek commented on #25891
But source code of new refactoring will be almost the same as main extractFunction refactoring, isn't it? Or we can reuse existent code?

[2018-07-24 18:11] mhegazy commented on #24708
It currently semi-works. merging in general means that the two declarations are the same. and the declaration name points to the sum of both declaration.

In places where that is not possible, the compiler generates an error, for instance `var x; class x {}` since the meaning of the merge is not clear.

In this case, due to a bug in the implementation, the compiler does not raise an error for merg

[2018-07-24 18:17] mhegazy commented on #25892
Same underlying issue as https://github.com/Microsoft/TypeScript/issues/22137. narrowing does not really work on generic types. in cases like these, you want the narrowing operation (`if (!listeners)` to be translated into a type operator applies to the type of `listeners`). https://github.com/Microsoft/TypeScript/pull/22348 takes a stab at fixing it.

[2018-07-24 18:19] mhegazy commented on #25894
I agree. hovering over a type name to get a pop-up with the same text is rather useless. we can do better.

[2018-07-24 18:22] andy-ms commented on #24857
@OliverJAsh Is that with `typescript@next`? What operating system are you on?

In `session.ts` there is `JSON.stringify({ isNewFile: !!textChanges.isNewFile, hasScriptInfo: !!scriptInfo })` for printing debug info.
For privacy reasons we can't include the file path in an error message. But maybe you could change it to `JSON.stringify({ isNewFile: !!textChanges.isNewFile, hasScriptInfo: !!scriptInf

[2018-07-24 18:22] mhegazy commented on #25896
A PR would be appreciated.

[2018-07-24 18:45] LiterallyDoge commented on #25897
Thanks for the ask.  Two thoughts on this:

1. MDN references odd operator precedence for this behavior, citing PEMDAS as a fix, but a lambda/arrow function/whatever is not acting as any type of operator for purposes of PEMDAS in this case, nor is it concatenating or behaving in any way similar (see: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions under

[2018-07-24 18:52] cevek opened #25899 "CFA with undefined disjoint works weird"
**TypeScript Version:**  3.1.0-dev.20180724

**Search Terms:**

**Code**

[code]

**Expected behavior:**
No error

**Actual behavior:**
Object is possibly 'undefined'.

**Playground Link:**

**Related Issues:**

[2018-07-24 19:04] HarshKhatore commented on #25896
@mhegazy I can try this?

[2018-07-24 19:24] mhegazy commented on #25899
Duplicate of https://github.com/Microsoft/TypeScript/issues/24193

[2018-07-24 19:39] #23339 closed

[2018-07-24 19:41] #25715 closed

[2018-07-24 20:01] zerkms commented on #25887
Oh gosh :-S

[2018-07-24 20:01] #25887 closed

[2018-07-24 20:10] bterlson commented on #25897
@LiterallyDoge I just want to point out that this it doesn't have to do with the types of the operands (you could put your function in a var and || will do as you expect). This is how JS syntax works. Per the specification, a [LogicalORExpression](https://tc39.github.io/ecma262/#prod-LogicalORExpression)'s right-hand operand is a LogicalAndExpression. The only way to get an arrow function is to pa

[2018-07-24 20:56] #25511 closed

[2018-07-24 21:14] #25322 closed

[2018-07-24 21:17] cevek opened #25905 "Object literal known props doesn't respect with unions"
**TypeScript Version:**  3.1.0-dev.201xxxxx

**Search Terms:**

**Code**

I think this is design limitation, but I try :)

[code]

**Expected behavior:**
Object literal may only specify known properties, and 'b' does not exist in type '{ a: number; }'.

**Actual behavior:**
no error

**Playground Link:**

**Related Issues:**

Some weird example
[code]

[2018-07-24 21:22] mhegazy commented on #25905
Duplicate of https://github.com/Microsoft/TypeScript/issues/20863

[2018-07-24 21:25] #25530 closed, assigned to nobody

[2018-07-24 21:33] sandersn opened #25906 "In JS, expando properties of a function are always treated as static methods"
[code]

**Expected behavior:**
No errors, and `this: AssertionError`, and assert.AssertionError is a constructor function.

**Actual behavior:**
`this: typeof assert`, which is a function, so that, for example `this.name` tries to overwrite the built-in Function.name. Basically, `assert.AssertionError` behaves like a static method of `assert` instead of a static property that is a constructor func

[2018-07-24 21:34] sandersn commented on #22460
This is fixed, although it appears to expose a follow-on error with static properties that have this-assignments. I filed #25906 to track it.

[2018-07-24 21:34] #22460 closed

[2018-07-24 21:48] mjbvz opened #25907 "Add missing import adds import before file header"
**TypeScript Version:**   typescript@3.1.0-dev.20180724

**Search Terms:**
- Add missing import
- copyright header

**Code**
In a project:

`a.ts`
[code]

`b.ts`:

[code]

1. Trigger the add missing import quick fix on `abc` in `b.ts`

**Expected behavior:**
Import added after copyright header and use strict:

[code]

**Actual behavior:**
Import added at top of file:

[code]

**Playground Link:**

[2018-07-24 21:56] mhegazy commented on #25907
Looks like a duplicate of https://github.com/Microsoft/TypeScript/issues/15515

[2018-07-24 22:03] mjbvz commented on #25907
Yes. This also applies if you only have a header comment and no `'use strict';`

[2018-07-24 22:08] #9744 closed

[2018-07-24 22:08] mhegazy commented on #9744
thanks @mattmccutchen!

[2018-07-24 22:14] weswigham commented on #25662
Having looked at the other issue, I think this is a dupe of #25792 - or rather, #25792 is a dupe of this, but I looked into #25792 first. 😛  In any case, I should have a fix promptly.

[2018-07-24 22:44] #25792 closed

[2018-07-24 23:00] kube opened #25912 "Union at root of type fails with Conditional Types to check equality"
**TypeScript Version:**  2.9.2

## Search Terms
- Union Type
- Conditional Types
- Equality
- extends mutually

## Code
I made a little helper to check static types equality in my unit tests, using Conditional Types, but it fails for Unions at root of a type.

[code]

## Expected behavior

[code]

## Actual behavior

[code]

But if I define:

[code]

That means the second check fails, but they sho

[2018-07-24 23:06] Samoji commented on #18240
@acopalipsis the most efficient way I found is this one:
[code]

same for Superman
[code]

[2018-07-24 23:36] #25912 closed

[2018-07-25 00:30] benbayard commented on #13201
@RyanCavanaugh I just wanted to ping on this before it gets lost. I just testing on TS@next and I am getting the same error.

[2018-07-25 00:33] benbayard opened #25915 "Functions operating on union types with a generic type parameter do not compile return type"
**TypeScript Version:**
originally seen in 2.9.2
reproduced in 3.1.0-dev.20180724

**Search Terms:**

**Code**

[code]

**Expected behavior:**
This code should compile. The union type should be narrowed down by the switch statement and the returned type should behave correctly. Interestingly, this compilation error can be worked around. If you supply a lookup that looks like the below and update t

[2018-07-25 00:36] andy-ms opened #25916 "Doc comment has trailing space"
**TypeScript Version:**  master

**Code**

[code]

**Expected behavior:**

Test passes.

**Actual behavior:**

Test fails. Doc comment is actually `"Doc "`.

[2018-07-25 00:41] #17594 closed

[2018-07-25 00:43] #25783 closed

[2018-07-25 01:00] weswigham commented on #13201
Consider:
[code]

The update method itself is what make the assignment unsafe.

[2018-07-25 01:08] weswigham commented on #13201
The error is, from what I can tell, due to variance (`this` is a type parameter, after all):
[code]

[2018-07-25 03:38] HarshKhatore commented on #25896
Thanks, can you give me a direction on this?
I need to modify the Error handler message, so how do I move on to identifying the file? Is there a way to produce the error stack?

[2018-07-25 04:04] robbiespeed commented on #25629
@sheetalkamat Thank you. I just had a chance to test it out, and it looks like the fix works

[2018-07-25 04:54] mattmccutchen commented on #25915
The original code definitely can't work: there is no relationship between T and the argument.  If you change the argument to type T [like this](http://www.typescriptlang.org/play/#src=export%20interface%20Program%20%7B%0A%20%20%20%20type%3A%20'Program'%0A%20%20%20%20body%3A%20AST%5B%5D%0A%7D%0A%0Aexport%20interface%20MemberExpression%20%7B%0A%20%20%20%20type%3A%20'MemberExpression'%0A%20%20%20%20o

[2018-07-25 05:11] mattmccutchen commented on #17713
+1 to the idea of `<K in T>` constraining `K` to be a singleton type; this might help with #25879 too.  However, even with that, I don't see an easy way for the compiler to determine that `arg` is assignable to the parameter type of `fn`.  Either (1) it would need to recognize that the constraint of `K` is a known union of literal types and do case analysis on `K`, which is unlike any existing log

[2018-07-25 07:21] cartant opened #25917 "Unrelated overload signature affects inference"
In fixing a problem with the typings for the RxJS `first` and `last` operators, I've stumbled across some weird behaviour with overload signatures.

**TypeScript Version:**  `next` (3.1.0-dev.20180725)

**Search Terms:**

overload signature inference unrelated incorrect

**Code**

[code]

For the behaviour to be effected, `strictFunctionTypes` must be `true` and `strictNullChecks` must be `false`:

[2018-07-25 07:34] pleerock opened #25918 "Can't use default parameter value if its type a generic"
Following works fine:

[code]

however this does not work:

[code]

same happens with other types:

[code]

Results into `Type 'ObjectConstructor' is not assignable to type 'T'` error.

I came into this issue from a different scenario where I tried to use Object in a following way:

[code]

[2018-07-25 07:35] lauripiisang commented on #25715
Why was this closed? Documentation is merely the first step!

[2018-07-25 07:43] yeze322 opened #25919 "Special characters in 'enum' type will be compiled to unicode by default"
**TypeScript Version:**  2.9.1

**Search Terms:** typescript unicode, typescript enum unicode

**Code**

[code]

**Expected behavior:**
Fields in `TestObject` and `TestEnum` ought to be compiled to a consistent encoding format (utf8).

**Actual behavior:**
Special characters in `Object` were compiled to utf8 while those in `Enum` were compiled to unicode.

**Playground Link:**
[Official Playground

[2018-07-25 08:22] Kingwl opened #25920 "playground is not aligned"
**TypeScript Version:**  3.1.0-dev.201xxxxx

**Search Terms:**
website, playground
**Code**
![1111](https://user-images.githubusercontent.com/6831019/43188539-e82c0a68-9026-11e8-9977-19dcf5867c9a.png)

😉

[2018-07-25 08:29] netren opened #25921 "some wrong with"
**TypeScript Version:**  2.9.2

**Search Terms:**

**Code**

[code]

**Expected behavior:**
 it would compile normal
**Actual behavior:**
ERROR in D:\prj\tt\minigame\protogen\IGameProto.ts(26,9)
      TS2322: Type 'ARsp' is not assignable to type 'BRsp'.
  Property 'bb' is missing in type 'ARsp'.

i think it would be check the type in each properties not the actual type,and when i change the seque

[2018-07-25 09:29] j-oliveras commented on #25921
At declaration of `CType` the extends are [compared structurally](https://github.com/Microsoft/TypeScript/wiki/FAQ#what-is-structural-typing). The type `BReq` _structurally_ extends the `AReq` (has an `a: number` field). The computed return type of second call of `doCReturn` is `ARsp`.

Swapping the branches of `CType` solve the issue.
[code]
You can also solve this adding a private field to class

[2018-07-25 09:44] albertosantini opened #25923 "Duplicate identifier"
**TypeScript Version:** vscode 1.25.1

**Search Terms:**  Duplicate identifier

**Code**
Create an empty folder and add the following three files:

`foo.js`
[code]

`bar.js`
[code]

`jsconfig.json`
[code]

Then open that folder (from vscode) with Ctrl+K Ctrl+O.

**Expected behavior:**

No `Duplicate identifier` errors

**Actual behavior:**

I see `Duplicate identifier` errors in `Problems` panel.

[2018-07-25 10:31] PDostalek opened #25924 "[loc][Query][TypeScript] Localizability of 0; "OrganizeImportsFailureMessage""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question to Core team.
Please re-assign back to use in case you are not the right contact person or you can´t assign to a proper person.
Can you help please?
Thanks!

Source:
Failed to organize imports

File Name:
LanguageService\TypeScriptL

[2018-07-25 10:34] PDostalek commented on #25544
Thanks for confirmation.

[2018-07-25 10:34] #25544 closed

[2018-07-25 11:36] albertosantini commented on #25923
Just a bit of context, because I suspect this is the expected behavior (and correct one).

I have a snippets folder, where those scripts are loaded from different html pages.

So there is not any naming clash, but, from a point of view of the project (folder), due to the presence of `jsconfig.json` file, indicating that the directory is the root of a JavaScript Project [1], those identifiers are d

[2018-07-25 11:56] miluoshi opened #25926 "In JS object, 'this' assignment in object literal doesn't use contextual type"
**TypeScript Version:**  2.9.2 (also tried typescript@next 3.1.0-dev.20180725)
**VSCode version:** 1.25.1

**Search Terms:** this argument jsdoc vscode

I am trying to add TypeScript typechecking using VSCode's intellisense + JSDoc annotation in my AngularJS project. I should be able to explicitly define a type of `this` keyword in a function by providing explicit `this` parameter in as described

[2018-07-25 13:09] wehrstedt opened #25927 "Inheritance of getter"
**TypeScript Version:**  2.7.1

**Search Terms:**
getter inheritance
getter derived
accessor inheritance

**Code**

[code]

**Expected behavior:**
[code]

If I understand https://github.com/Microsoft/TypeScript/issues/13432 right, it's a correct behaviour. But then it's not correct that getters and setters are inherited in general. I have to overwrite the getter function in my derived class to mak

[2018-07-25 13:40] arma-gast opened #25929 "Strange inference for function parameters of intersection type"
**Search Terms:**
intersection function parameters react component

**Code**

[code]

**Expected behavior:**
Error in line (1).

**Actual behavior:**
No errors.

It should be impossible to assign a function to a variable or constant of function type with narrower parameter types, while reverse assignment should be possible.

[2018-07-25 13:46] #25740 closed

[2018-07-25 14:10] bennidi commented on #25579
Thanks for checking it out. I think I was not precise enough about what works and what doesn't work. What I expect intellisense to do is to show me details about the return type, when I hover over the function. I do receive the same results as you get, when I type `fnc().up` - although I don't know why `fnc().` is by default scrolled to the end of the suggestion list, so I don't see the most meani

[2018-07-25 14:11] mattmccutchen commented on #25918
This is working as intended.  The problem is that if someone calls your function with `T` set to a subclass of `Object`, such as `string`, then the default parameter value would not be a valid value of type `T`.  It's probably cleanest to define a separate function for the case where you pass no arguments and want to use `Object`.  If you really want to use a single function, you could overload it

[2018-07-25 14:17] mattmccutchen commented on #25929
It's allowed to convert a function to a type that has more parameters, since the extra parameters will just get ignored when the function is called.  See the [handbook](https://www.typescriptlang.org/docs/handbook/type-compatibility.html#comparing-two-functions).

[2018-07-25 14:20] thorn0 opened #25930 "Property type guards don't narrow type of the object the property belongs to"
**TypeScript Version:**  2.9.1-insiders.20180525 (playground), 3.0.0-rc

**Search Terms:**

property type guards, undefined checks

**Code**

[code]

**Expected behavior:**

should compile

**Actual behavior:**

Error: `Argument of type '{ a: Date; b?: Date | undefined; }' is not assignable to parameter of type '{ a: Date; b: Date; }'.`

**Playground Link:**

[click me](https://www.typescriptlang.

[2018-07-25 14:48] albertosantini commented on #25923
I tried the following scenarios:

- removed `jsconfig.json`: no errors (expected because checkJs is disabled, but I want checking).
- set `javascript.implicitProjectConfig.checkJs: true`: errors (a bit unexpected, but that setting means there is an implicit project, so it is ok the result, but I am looking for a workaround to check the file with no errors).
- used `// @ts-check`  at the beginning

[2018-07-25 14:48] arma-gast commented on #25929
Thats correct. But example shows case where f2 has narrower parameter type. It allows you to call it with `{ required1: "some string" }` while f1 requires field "required2".

[2018-07-25 14:53] andy-ms commented on #25929
That code does have an error with `--strictFunctionTypes` turned on.

[2018-07-25 14:55] arma-gast commented on #25929
Arrgh!.. Did not know about this option. Thank you!

[2018-07-25 14:57] #25929 closed

[2018-07-25 15:03] andy-ms commented on #25926
Simplified repro:
[code]

[2018-07-25 15:10] pleerock commented on #25918
Actually I want as simple as possible function signature to make it easiest as possible to create mixins.

Thank you for the answer though 👍

[2018-07-25 15:10] #25918 closed

[2018-07-25 15:10] xdvarpunen commented on #3538
Upcoming deno has targeted the code to be usable both in [node and browser](https://github.com/ry/deno).  The creator of NodeJS wanted to remove the whole separation of node and browser.

In webpack there is [target option](https://webpack.js.org/concepts/targets/) to set particular target platform for the code.

Right now without preprocessing directives the way to go is probably by having differ

[2018-07-25 15:14] andy-ms commented on #25923
By default different files are put in an implicit project together so that they're able to refer to each other. We're assuming that the files put symbols into the global scope, and then we allow other files to access those symbols without qualification. That causes errors when different files define the same name.

The simplest solution is to somehow qualify the symbols so that they can be loaded

[2018-07-25 15:21] HarshKhatore commented on #19577
No, nothing works. Yes, I have installed both gulp and jake.
Gulp error:

![gulp error](https://user-images.githubusercontent.com/17762022/43210344-72220f40-904c-11e8-96fb-5d1f795241d7.PNG)

[2018-07-25 15:32] andy-ms opened #25931 "Improve completions with --checkJs turned off"
**TypeScript Version:**  3.1.0-dev.20180725

**Code**

[code]

**Expected behavior:**

Get completion for `m` only.

**Actual behavior:**

Get completions for `I`, `f`, and `x`. None of which are properties.

[2018-07-25 15:32] andy-ms commented on #25579
I think that's working as intended, since we prefer to show the name of a type instead of the contents of a type. (Imagine if the return type had a property that contained another type, would we expand that too?)
One way to see more info about the type is to not look at `f`, but at `result` -- right click and choose "Go to Type Definition".

Also, completions are different depending on whether you

[2018-07-25 15:40] andy-ms opened #25932 "Go-to-type is one line down for @typedef"
**TypeScript Version:**  master

**Code**

[code]

**Expected behavior:**

Test passes.

**Actual behavior:**

Test fails. Goes to `@property` instead.

[2018-07-25 15:45] andy-ms opened #25933 "Go-to-type is not useful for function"
**TypeScript Version:**  3.1.0-dev.20180725

**Search Terms:**

**Code**

[code]

Go-to-type on `f()`.

**Expected behavior:**

Takes me to `I`.

**Actual behavior:**

Takes me to `f` -- same as go-to-definition.

Contrast with this Kotlin code:

[code]

where go-to-declaration on `f()` takes me to the definition, but go-to-type takes me to `C`.

[2018-07-25 15:56] andy-ms commented on #25917
I'm actually seeing `Foo<{}>` when the predicate overload is available.

[2018-07-25 16:01] andy-ms commented on #25927
Duplicate of #11596

[2018-07-25 16:20] tommedema commented on #22306
Is there any wiki for "Recommended target and lib settings by Node version"?

[2018-07-25 16:20] gentoo90 commented on #25600
Is `<TypeScriptBuildMode>` msbuild parameter pllaned for 3.0.1? It's not working in 3.0.0, `tsc.exe` still runs with `--project`, even if it's set to `true`.

[2018-07-25 16:32] mhegazy commented on #25924
yes.

[2018-07-25 16:41] mhegazy commented on #25715
These settings are global and not per-project. for instance, tsserver uses the same settings, and the server can be handling multiple open projects at the same time. thus, tsconfig is not the correct place to host these configuration options.

[2018-07-25 16:45] mhegazy commented on #25896
Error messages are defined in https://github.com/Microsoft/TypeScript/blob/master/src/compiler/diagnosticMessages.json. you will need to create a new error message, build (`jake local`), then use the new error message in https://github.com/Microsoft/TypeScript/blob/master/src/compiler/checker.ts

[2018-07-25 17:01] ArtemAvramenko commented on #14565
The problem is reproduced when I open a project from a directory with junction to another disk (mklink /J command).

[2018-07-25 17:03] ArtemAvramenko commented on #14565
The problem is reproduced when I open a project from a directory with junction to another disk (mklink /J command). If I create junction from D: to C:,  Visual Studio shows me duplicates in same file:
* C:\MyProject\some.d.ts
* D:\MyProject\some.d.ts

[2018-07-25 17:05] burtonator opened #25935 "getJSDocTags ... Debug Failure. False expression."
I get this exception when trying to migrate an existing JS app to TS.

[code]

.. I imagine I have malformed JSDoc tags that I need to resolve but I can't find out which one is causing the problem. I went through and looked at the last .js file from my app it's printing and removed the JSDoc and that didn't resolve the problem.

It would be nice if TSC didn't choke but even just better error handl

[2018-07-25 17:08] andy-ms commented on #25935
The bug is happening due to a jsdoc comment somewhere in your program. You might be able to narrow it down by making a clone of your repository and deleting files until the error no longer happens, then narrow down the particular file that was responsible. Or if you can, you could just share a link to the project.

[2018-07-25 17:08] j-oliveras commented on #25935
Duplicate of #25067?

[2018-07-25 17:12] mhegazy commented on #17713
This request hinges on https://github.com/Microsoft/TypeScript/issues/7294. the main problem here is that regardless of how `K` is defined, the compiler needs to repeat the checking of the call expression once for every possible value of the union to ensure it is valid. The way the compiler is setup today, checking a call expression has side-effects of applying contextual types to type sensitive e

[2018-07-25 17:12] HarshKhatore commented on #19577
Hi @weswigham . Node version is: `8.11.3` and npm version: `6.2.0`.
I installed these using the node.js windows installer, which can be found here: [https://nodejs.org/en/](url)

[2018-07-25 17:14] mhegazy commented on #25930
Duplicate of https://github.com/Microsoft/TypeScript/issues/25631 and https://github.com/Microsoft/TypeScript/issues/18758

[2018-07-25 17:16] andy-ms commented on #25935
May be -- @burtonator Be sure to test with `typescript@next` to ensure it's not already fixed.

[2018-07-25 17:18] mhegazy commented on #25933
With this proposal function expressions and arrow functions that have a contextual type will have ambiguous behavior, should they go to the contextual type or the return type.

[2018-07-25 17:19] mhegazy commented on #22306
No, but we would be happy to host one if someone wants to contribute such doc.

[2018-07-25 17:31] mhegazy commented on #25917
This is a design limitation of how overload resolution is implemented. when the compiler is trying to resolve overloads it goes through them in order one at a time trying to see which is a fit. The arguments to the function can be "contextually sensitive", i.e. their type depends on the containing context, for instance function expressions or object literals. in this case the compiler will try to

[2018-07-25 17:33] andy-ms commented on #25933
Presume you're talking about the following case -- then I think we should go to `T` and not `I`. (Since one can easily get to `I` from `T` but not the other way around.)
[code]

[2018-07-25 17:36] weswigham commented on #19577
I meant how did you install the prerequisites in our `package.json`. 😄

[2018-07-25 17:36] ahejlsberg commented on #25871
@mhegazy In your example, `f1 = f6` isn't and shouldn't be an error. Any parameter list should be assignable to `(...args: any[]) => xxx`.

[2018-07-25 17:39] burtonator commented on #25935
Fixed on 3.0.0-rc!

[2018-07-25 17:48] mhegazy commented on #25871
yes. you are right. we allow that though it is unsafe :)

[2018-07-25 17:59] HarshKhatore commented on #19577
simply: `npm install`
This should install the dev dependencies, right?

[2018-07-25 18:02] weswigham commented on #13118
Right - so this is caused by how we currently perform contextual typing and inference. When we attempt to find the type of the first parameter of `x => {}` we get its contextual type - which is informed by the inference context for the surrounding signature. When we perform this instantiation, we have not created any inferences for `A` yet, so `A` is assigned its default inference, then assigned t

[2018-07-25 18:07] weswigham commented on #19577
Yup - I mostly just wanted to check if you were using a different package manager.

[2018-07-25 18:17] albertosantini commented on #25923
I see.

`By default different files are put in an implicit project` is the detail I missed.

Thanks for the quick reply.

Of course using an IIFE is a workaround, but those scripts are loaded in different pages using `type="module"`, so no need for an IIFE.

Creating a project per snippet resolves the issue, but it is a bit an overhead.

Anyway I understood it is a feature request, not a bug. :)

[2018-07-25 18:17] #25923 closed

[2018-07-25 18:20] #25575 closed

[2018-07-25 18:20] #25553 closed

[2018-07-25 18:20] #25539 closed

[2018-07-25 18:24] andy-ms commented on #25923
If you're using modules, you could add an `import` or `export` statement (such as `export {};`) to the file to indicate that to TypeScript, so it won't think the definitions are global.

[2018-07-25 18:29] #25651 closed

[2018-07-25 18:29] #25647 closed

[2018-07-25 18:29] #25639 closed

[2018-07-25 18:29] #25644 closed

[2018-07-25 18:29] #25616 closed

[2018-07-25 18:29] #25605 closed

[2018-07-25 18:29] #25603 closed

[2018-07-25 18:29] #25585 closed

[2018-07-25 18:29] #25601 closed

[2018-07-25 18:29] #25570 closed

[2018-07-25 18:29] #25558 closed

[2018-07-25 18:29] #25549 closed

[2018-07-25 18:29] neilsoult commented on #25739
As a small update, I think it is related to the option "typescript.updateImportsOnFileMove.enabled".
When either this is set to "always" or "prompt" and I choose yes at the prompt, it goes through my entire codebase and renames relative imports to longer paths.

[2018-07-25 18:30] #24165 closed

[2018-07-25 18:30] #23994 closed

[2018-07-25 18:30] #20702 closed

[2018-07-25 18:30] #19451 closed

[2018-07-25 18:53] #25774 closed

[2018-07-25 19:01] lukasbash commented on #2983
Not sure if a can gather some real decision from the very long discussion above.
Any update on this? I think generators are not niche anymore. I strongly believe that it is necessary to model them. Libraries that heavily rely on this feature would be even more useful. I am using `redux-saga` and doing all this manual type definitions just clutters the code imho.

You guys are doing a great job, de

[2018-07-25 19:13] #25632 closed

[2018-07-25 19:13] #25631 closed

[2018-07-25 19:17] movedoa commented on #16037
Any news on this?
Configurable private member prefix would be a huge help for minification

[2018-07-25 19:34] jscheiny commented on #25719
I just ran into this issue myself and wanted to throw in my two cents about the syntax for how this would behave. Considering how this inference is written for function types and how rest elements of tuples are constructed:

[code]

I would suggest the following syntax:

[code]

[2018-07-25 20:29] DanielRosenwasser opened #25939 "Design Meeting Notes, 7/20/2018"
# Loose mode/über mode

#22665 and #23906

* Problem: we haven't seen as much engagement on this proposal as we've wanted.
* We don't want to drive this without user input.
    * Perhaps let more people use `checkJs`, and drive this scenario further.
    * Also should just speak to more users.

# Named type arguments

#23696

* Having some concerns.
* Adding nameable type arguments means that that

[2018-07-25 20:30] shicks commented on #25601
The suggested `Splitable` is in fact how it's done currently in the `d.ts` files, but the point is that this is not how symbols are used in practice.  A common use case is that functions accept *any* object (hence `{}`) and do something different if the symbol is present.  So the signature for `f` would, in practice, need to be `function f(x: Splitable | {})`, which is no different from `function

[2018-07-25 20:34] benbayard commented on #25915
Hey @mattmccutchen ! Thank you for the great insight. My follow up is: do we expect the workaround I have in place to stop working in the future?

I believe the issue with the latter half of your comment has to do with variance? I feel that this space in TS has a lot of open issues, so I'm not sure what I can add here. However,  I do understand how complex that can make the compiler and how few bu

[2018-07-25 20:59] cartant commented on #25917
@andy-ms The behaviour is sensitive to the compiler options mentioned in the issue:

[code]

For example, if `strictNullChecks` is `true`, the inferred type will be `Foo<{}>`.

[2018-07-25 21:00] cartant commented on #25917
@mhegazy Why is the behaviour different - with `Foo<{}>` inferred instead of `Foo<"s">` - if the seemingly unrelated `strictNullChecks` compiler option is `true` instead of `false`?

[2018-07-25 21:19] mattmccutchen commented on #25915
I don't have a definite answer about the workaround.  I expect that the return type will continue to simplify as you expect at call sites that set `T` to a particular alternative of `AST`, such as `Program`.  As I mentioned, the body of `pickASTProperties` is currently relying on the rule that a type is assignable to an indexed access type that the compiler can't simplify (here `Lookup[T['type']]`

[2018-07-25 21:40] #25871 closed

[2018-07-25 21:48] #25939 closed

[2018-07-25 21:52] mhegazy commented on #25917
I am not seeing that on the latest version of the compiler.

[2018-07-25 22:09] DanielRosenwasser opened #25941 "Do we need a --jsx flag set when --noEmit is on?"
From https://twitter.com/drosenwasser/status/1022241336009715712

When using some sort of JSX syntax on a new project, we often get an error like

[code]

However, do we need this set in projects that have `noEmit` set? Given that some users will be interested in Babel

# Pros

* Marginally simpler setup for Babel users.

# Cons

* Makes it marginally harder to move off of Babel if desired.

[2018-07-25 22:27] mattmccutchen opened #25942 "keyof and type parameters can produce huge types that hang/crash compiler"
Somehow, while writing real code, I stumbled upon this combination of constructs that seems to quickly produce huge types that hang or crash the compiler.  I suggest that there should be some limit on type size at which the compiler gives up rather than potentially hanging/crashing, in the spirit of the limit of 100 on the depth of some existing operations in the checker.

**TypeScript Version:**

[2018-07-25 22:37] andy-ms opened #25943 "createSignatureHelpParameterForTypeParameter should provide documentation using @template tag"
**TypeScript Version:**  3.1.0-dev.20180721

**Code**

[code]

**Expected behavior:**

When typing `f<`, it should show documentation for the *particular* type parameter being provided, not for every one -- analogous to how it works for parameters.

**Actual behavior:**

`createSignatureHelpParameterForTypeParameter` hardcodes `documentation: emptyArray`.

[2018-07-25 22:44] curiouslybrown opened #25945 "macOS considers typescript files to be MPEG-2 Transport Stream - QuickLook and Spotlight do not work"
Hello,

macOS considers typescript files to be of type "MPEG-2 Transport Stream." This prevents QuickLook and Spotlight (system search) from working properly. Please address this given macOS is a major platform for devs. Thank you.

[2018-07-25 22:49] andy-ms opened #25946 "Refactor to convert variable to destructuring"
**TypeScript Version:**  3.1.0-dev.20180721

**Code**

[code]

**Expected behavior:**

After:
[code]

Note: I think it should generate `{ x, y, z }` even if they're not all currently used (meaning, it should use every property declared in the return type of `f`). That way it's useful to perform this refactor immediately after writing the call to `f()`, before the result has been used.

**Actual be

[2018-07-25 22:54] DanielRosenwasser commented on #25945
This sounds like feedback that you'd ideally want to leave with someone at Apple on the Spotlight team at macOS, not TypeScript. It's not in our means to change the way that Spotlight works.

[2018-07-25 22:56] DanielRosenwasser commented on #25946
You probably want to be a little more careful here due to aliasing and assignment to `p.x`, `p.y`, or `p.z`.

[2018-07-25 23:00] jscheiny opened #25947 "Mapped tuple types"
## Search Terms

generic mapped tuple types overrides

## Suggestion

The syntax here is up for debate, but the basic idea is to be able to apply the idea behind mapped object types to tuples. I would suggest the following:

[code]

This would apply a type mapping to each of the element types of the tuple.

For example:
[code]

## Use Cases

This would make it much easier to write functions that t

[2018-07-25 23:04] andy-ms commented on #25946
If there's an assignment, we should probably not do the refactor -- `let { x } = o; x = 2;` does *not* mutate `o` as some might expect.

[2018-07-25 23:33] mhegazy commented on #25941
The main issue for `--jsx` in general is module resolution. we use `--jsx` as a queue to look for `.tsx` and `.jsx` files. if we are ok with that, then we could just make it on all the time, and default to `"React"`. the experience will be better this way for both JS and TS users.

[2018-07-25 23:36] mattmccutchen commented on #25947
FWIW, here's the closest I think we can come today, using my favorite encoding of higher-kinded types (which maybe I should release as a library).  We need to write as many cases for `MapTuple` as we think we'll ever need, but then the boilerplate to apply `MapTuple` to a given mapping is reasonable.
[code]

[2018-07-25 23:41] DanielRosenwasser commented on #25947
Just to give an update, we've discussed this within the team. We know this is one of the next problems we want to tackle. We've wondered whether or not it makes sense for mapped object types to just specially act on tuple types.

So that

[code]

becomes

[code]

Or more broadly, something like

[code]

is equivalent to

[code]

This is technically a breaking change, but is likely desirable for mo

[2018-07-26 00:24] andy-ms opened #25953 "Type#symbol is potentially undefined"
**TypeScript Version:**  master

**Code**

[code]

**Expected behavior:**

`symbol` should be optional. Looks like this is missing for unions and primitives.

**Actual behavior:**

`symbol` is currently declared to always be present.

Changing to `symbol?` causes 78 compiler errors, all in `checker.ts`. This is likely because certain types of type (e.g., class type) are always guaranteed to have a

[2018-07-26 00:50] #25722 closed

[2018-07-26 00:50] mattmccutchen commented on #25581
I narrowed the issue down further and removed the React dependency:
[code]
In each case, there are two inferences for `P`: an `any` from the constructor parameter and a `FooProps` from the props of the constructed object.  It looks like the root cause of the difference is that inference in conditional types is always performed with the equivalent of `strictFunctionTypes` enabled, while I'm assumin

[2018-07-26 00:53] cartant commented on #25917
Apologies. I thought that VS Code used the local version of TypeScript - as that's what the linting extension does. I can see now that I was wrong. (In fact, the TS version used by VS Code is indicated in the toolbar.)

I created a small compiler API harness and the behaviour's dependency on the compiler-options appears to have been addressed in version 3.0, as the `3.0.0-rc` release infers `Foo<{

[2018-07-26 00:53] #25917 closed

[2018-07-26 01:17] mmorearty opened #25954 "2.9.2: generated .d.ts file is missing required "default" keyword"
**TypeScript Version:**  2.9.2 (also tried 3.1.0-dev.20180725)

**Search Terms:**
typescript 2.9 no default export

**Code**

`build.sh`:
[code]

`lib/lib.ts`:
[code]

`main/main.ts`:
[code]

**Expected behavior:**
Should compile without errors. (It does with TypeScript 2.8.4.)

**Actual behavior:**
The first step, compiling `lib.ts`, results in a `lib.d.ts` that does not correctly mark one export

[2018-07-26 01:54] curiouslybrown commented on #25945
I see where you're coming from for sure. But you are using the same extension as another somewhat popular file-format, that's not so much Apple's problem. I'd be interested in what others have to say, but I will send an email to Apple - just don't expect it to go very far.

[2018-07-26 01:57] jcalz commented on #25947
If a "tuple-like" object (sequential "numeric" keys starting from `"0"`, a compatible `length` property, and a bunch of array methods acting on the union of the element types) were automatically promoted to a tuple, then you could use mapped types to do something like it today:

[code]

But this doesn't really work because it isn't allowed in spread/rest positions... it's not seen as an "array typ

[2018-07-26 03:13] AlexStacker commented on #25103
When used Partial and if the `IFooContainerProps` interface is
[code]
It will be got an error message:
`[ts] Object is possibly 'undefined'.`

[2018-07-26 03:43] fredrb opened #25955 "`jake help` command throws error"
**TypeScript Version:**  3.1.0-dev.201xxxxx

**Search Terms:** jake help cli

**Code**

`jake help`

**Expected behavior:** According to `README.md`, the command above should print all available `jake` commands

**Actual behavior:**

[code]

[2018-07-26 04:38] jeffsaremi opened #25957 "WebGL2.0 Types do not exist in TypeScript"
Version 2.9.2

I'm adding some members to my class to capture certain gl properties. However it seems that none of WebGL 2.0-specific constants are defined. Here are a few:

[code]

Here are relevant lines in tsconfig.json:

[code]

[2018-07-26 04:44] mmorearty commented on #25714
I was able to make a minimal repro case. The code is below; I'll also attach it as a zip file.

`build.sh` (run this to repro):
[code]

`src/conditional_directive_field.ts`:
[code]

`src/datastore_result.ts`:
[code]

`lib/lib.d.ts`:
[code]

Zip file:
[repro.zip](https://github.com/Microsoft/TypeScript/files/2230474/repro.zip)

[2018-07-26 05:21] mmorearty commented on #25714
I also stumbled across this really bizarre line in a generated `.d.ts` file — I think this is related. (I'm wrapping it for legibility, but it was one line in the original file).

[code]

Funny 😃 I love the `import(...)` inline in the declaration.

The above declaration was generated for the following TypeScript code:

[code]

[2018-07-26 07:20] johnfn opened #25958 "Bug with union types"
**TypeScript Version:**  3.1.0-dev.20180714

**Search Terms:**

union

**Code**

[code]

**Expected behavior:**

No error.

**Actual behavior:**

Type '"a"' is not assignable to type '"b"'.

**Playground Link:**

http://www.typescriptlang.org/play/index.html#src=function%20g(x%3A%20%22a%22%20%7C%20%22b%22)%20%7B%0A%20%20%20%20const%20f%3A%20%7B%20type%3A%20%22a%22%20%7D%20%7C%20%7B%20type%3A%20%22

[2018-07-26 08:16] netren commented on #25921
i see the compared structurally,but has any other idea to solve this.
use private member look like  strangly.

[2018-07-26 08:21] samsha opened #25959 "import path add ".js" file postfix, In order to be compatible with ES6"
import path add ".js" file postfix, In order to be compatible with ES6
how to do it

import A from "./A";
to
import A from "./A.js";

index.ts
`import A from "./A";
export default {A};`

to index.js
`import A from "./A";
export default { A: A };`

for es6
`import A from "./A.js";
export default { A: A };`

[2018-07-26 08:39] gauravmahto commented on #11629
It would be best to provide a configuration so a user can choose which way to go.

[2018-07-26 08:51] galenjiang opened #25960 "Weird behavior when together use type alias and extends"
code:
[code]
question:

Exclude is defined by < T extends U ? never : T>

type a: T and U act like a whole type
type b: T ,U took in to type Exclude, the behavior was changed, T treated like using the operator "in" to spread T, U just like a whole type

Is there any document or achieve to describe this.

forgive my poor English.

[2018-07-26 09:10] ForbesLindesay commented on #4895
I built https://github.com/ForbesLindesay/opaque-types which uses a transpiler to support opaque and nominal types, with optional runtime validation for the `cast` operation. It may be of interest to people here.

[2018-07-26 09:53] chrisui commented on #420
How can we progress this? Its incredibly powerful. Happy to help out!

[2018-07-26 10:33] AlCalzone commented on #25960
I didn't understand at first and tried it myself on the playground:
[code]
Although `T1` and `T2` seem to describe the same type, they don't.

[2018-07-26 10:36] cevek opened #25961 "Cannot read property 'kind' of undefined at getInteriorModule"
**TypeScript Version:**  3.1.0-dev.20180724

**Search Terms:**

**Code**

[code]

**Expected behavior:**

**Actual behavior:**

**Playground Link:**

**Related Issues:**

Repro:
![ezgif-5-07fa1e98d6](https://user-images.githubusercontent.com/3171573/43257581-97694abe-90e9-11e8-86d5-310917995e62.gif)

[2018-07-26 10:48] cevek opened #25962 "Cannot read property 'kind' of undefined at isImportClause"
**TypeScript Version:**  3.1.0-dev.20180724

**Search Terms:**

**Code**

[code]

**Expected behavior:**

**Actual behavior:**

**Playground Link:**

**Related Issues:**

[2018-07-26 11:34] mattmccutchen commented on #25960
You've discovered [distributive conditional types](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-8.html#distributive-conditional-types).  I agree that the difference in behavior when a type alias is inlined is weird (ideally there would have been a dedicated syntax to mark distributive conditional types), but it's intended.

[2018-07-26 11:56] AlCalzone commented on #25960
So basically `T1` is equal to
[code]
but `T2` is equal to
[code]
because the latter does not go through a generic type alias?

To be fair, the relevant part in the docs could be clearer regarding this distinction. In general that part its very hard to understand and could almost be written in chinese :rofl:

[2018-07-26 11:57] xdvarpunen commented on #14308
I need solution where I have no access to polyfill.io (no internet access)

[2018-07-26 12:06] AlCalzone commented on #25958
Does this work for you?
[code]

[2018-07-26 12:15] ajafff opened #25964 "factory: createBinary not parenthesizing ArrowFunction as RHS"
**TypeScript Version:**  3.1.0-dev.20180724

**Search Terms:**

**Code**

[code]

**Expected behavior:**

[code]

**Actual behavior:**

Emits code with syntax error:

[code]

**Playground Link:**

**Related Issues:**
#25898
#25221

[2018-07-26 12:44] ackvf opened #25967 "Weird type resolution from this['state'] -or- How to properly override library's type definition"
**TypeScript Version:**  3.1.0-dev.20180726

**Description:**
After a rejected pull-request to DefinitelyTyped [[react] Update type inference for setState #25055](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/25055) for `setState` inference from `this['state']` rather than from the `S` generic in `Component<P, S>,
I kept using a modified version of the definition file locally. It was sat

[2018-07-26 13:02] marvinside opened #25968 "DomTokenList has no method "forEach""
**TypeScript Version:**  3.1.0-dev.20180726
**Search Terms:** DomTokenList forEach classList

**Code**
[code]

**Expected behavior:**
File just Compiles according to https://developer.mozilla.org/de/docs/Web/API/DOMTokenList/forEach
**Actual behavior:**
[code]

**Playground Link:**
[Lhttps://www.typescriptlang.org/play/#src=.....]( https://www.typescriptlang.org/play/#src=const%20body%3AHTMLElemen

[2018-07-26 13:19] cevek opened #25969 "Cannot read property 'some' of undefined at getDefinitionAtPosition"
**TypeScript Version:**  3.1.0-dev.20180724

**Search Terms:**

**Code**

[code]

**Expected behavior:**

**Actual behavior:**

**Playground Link:**

**Related Issues:**

[2018-07-26 13:37] sibelius commented on #23906
I think this could now be done using babel 7 to strip typescript types

[2018-07-26 13:45] jcalz commented on #25958
Duplicate of #12052

[2018-07-26 14:19] ahejlsberg opened #25971 "Misleading error elaboration"
**TypeScript Version:**  3.1.0-dev

**Search Terms:** Error elaboration

**Code**

[code]

**Expected behavior:** An error stating `{ a: string, b: number, c: number }` is not assignable to `T`.

**Actual behavior:** Elaboration errors on the `b` and `c` property assignments which misleads the user to think the issue is with those properties. The real issue is that *no* object literal and *only* a

[2018-07-26 14:29] ahejlsberg commented on #25971
Additionally, since I didn't get to review #25140, please remove the generator functions and just use normal recursive descent. There's no need for generators here and it is inconsistent with what we do elsewhere (such as the conceptually similar logic to relate types and compute contextual types).

[2018-07-26 15:10] #25953 closed

[2018-07-26 15:20] michaelaird commented on #25322
This still fails when project references are used.

Here's a repro:
[DeclarationMaps.zip](https://github.com/Microsoft/TypeScript/files/2232558/DeclarationMaps.zip)

[2018-07-26 15:33] alexfoxgill commented on #23199
unfortunately this does not seem to preserve optional members:

[code]

[2018-07-26 15:37] rbiggs commented on #23906
With JSDoc, type information is isolated from the JavaScript by standard JavaScript comments. This means you can use the JavaScript file directly in the browser, NodeJS or any other context that would only assume standard JavaScript.

With this proposal there would be TypeScript type definitions directly in the JavaScript as if it were TypeScript. This means that it has to have some kind of build

[2018-07-26 15:50] mattmccutchen commented on #25947
How about this?
[code]
Binding a variable to the index rather than to the element type of the original tuple lets you do lots of additional things (which may or may not be useful in practice) like zip two tuples:
[code]
The trouble is that we want only the numeric keys of `T`.  We could say that in a mapped tuple, whatever you specify as the constraint type, only the numeric keys are kept, but tha

[2018-07-26 15:56] #25932 closed

[2018-07-26 16:06] jcalz commented on #25947
@mattmccutchen

I think you can get just the "numeric" keys by doing `Exclude<keyof T, keyof Array<any>>`, as in [`StripTuple<>`](https://github.com/Microsoft/TypeScript/issues/25947#issuecomment-407951438).  (I do often want something like your `Index` type though... I usually call it `NumericKey`.)

That being said, I think that we adopt the `[ [K in keyof T]: ... ]` syntax (wrapped in `[]` inst

[2018-07-26 16:19] mhegazy commented on #25968
Should be fixed by https://github.com/Microsoft/TypeScript/pull/25944

[2018-07-26 16:19] mhegazy commented on #25322
@weswigham can you take a look

[2018-07-26 16:32] #21046 closed

[2018-07-26 16:44] mattmccutchen commented on #25947
Only assuming you started with a tuple type without extra properties.  We might want to make it possible to do more wild and crazy things so we don't end up getting more feature requests in another few months.

[2018-07-26 16:56] helios1138 opened #25972 "function type inference doesn't work reliably with generic function wrappers"
[code]

I would expect that `funcWrapped` either would not be inferred at all or to be inferred fully. Currently it's kinda inferred half-way.

[2018-07-26 17:11] mhegazy commented on #25967
This is not really about module augmentation. this is about overload resolution.. All what augmentation does is it adds an additional overload at the top of the list. in the first case where your handler returned a number, the first overload of `setState` was picked (the one you provided), in the second case, that overload failed to resolve, so the compiler proceeded to the other one where it `thi

[2018-07-26 17:15] mhegazy commented on #25972
This is not what is see on the [playground](http://www.typescriptlang.org/play/index.html#src=%2F%2F%20correctly%20inferred%20as%20(arg%3A%20number)%20%3D%3E%20number%0Aconst%20func%20%3D%20(arg%3A%20number)%20%3D%3E%20arg%20*%202%0A%0Aconst%20wrap%20%3D%20%3CT%3E(fn%3A%20T)%3A%20T%20%3D%3E%20fn%0A%0A%2F%2F%20correctly%20inferred%20as%20(arg%3A%20number)%20%3D%3E%20number%0Aconst%20funcWrappedImpl

[2018-07-26 17:17] rasmus-storjohann-PG commented on #14538
I also got this error when I had two files `foo.ts` and `foo.tsx`, both of which would compile to `foo.js`, obviously.

[2018-07-26 17:24] mhegazy commented on #25581
thanks @mattmccutchen for the detailed analysis. implicit `any` is not any different from explicit `any` from a type perspective. inference will proceed from both the same way.

I think the underlying issue here is an expectation that derived class methods, properties, and constuctors "inherit" their types from the base class. that is unfortunately not the case, this is tracked by https://github.c

[2018-07-26 17:25] JacksonKearl commented on #25739
Experiencing same issue. Here's repro:
[code]

a.ts:
```export let a = () => { };```

b.ts:
```import { a } from "src/A/a";```

tsconfig.json:
[code]

settings.json:
[code]

Steps:
 - move `a.ts` to `src/B/`
- accept "rename imports?" dialog
- the import staement in `b.ts` is now `./a` (should be `src/B/a`)
- move `a.ts` back to `src/A/`
- accept "rename imports?" dialog
- the import staement in `

[2018-07-26 17:31] mhegazy commented on #25710
I do not think the original issue is a bug. generators, just like `async` functions, are just an implementation detail. the contract does not care how the function is implemented but rather what parameters it takes, and what return type it offers. A generator function implements the Iterator protocol, but it can also be implemented using different means, and there is no reason derived classes has

[2018-07-26 17:39] helios1138 commented on #25972
@mhegazy you are right, it appears that this is not a typescript issue

[2018-07-26 17:39] #25972 closed

[2018-07-26 17:46] mattmccutchen commented on #25883
Could one of the TypeScript maintainers please take a look at this and at least give it a "Suggestion" label?  There are [a few other unlabeled issues](https://github.com/Microsoft/TypeScript/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+no%3Alabel); I guess no one must be checking regularly to make sure issues do not pass out of the first page unnoticed.

[2018-07-26 17:52] cevek opened #25973 "Typed bind, apply and call?"
Tuples with rest are landed, so where my typed `bind`, `apply` and `call`? :)

[2018-07-26 18:00] aslatter commented on #396
@mhegazy Sorry for not being clear - I was more asking if a PR adding full support for octal escape sequences to the lexer would be accepted. Someone else can come in later and add an error to the binder if it makes sense.

[2018-07-26 18:05] cevek commented on #25973
Currently is not possible to rewrite `lib.d.ts` typings
[code]

[2018-07-26 18:18] ffxsam opened #25975 "When using `type` to define shape of function, `this` context setting doesn't work"
**TypeScript Version:**  2.9.1-insiders.20180525

**Search Terms:**
function type this

**Code**
[code]

**Expected behavior:**
There should be contextual awareness of what interface 'this' refers to.

**Actual behavior:**
'this' is shown as type 'any' in `someFunc` func

**Playground Link:**
[Link](https://www.typescriptlang.org/play/index.html#src=interface%20PasswordReset%20%7B%0D%0A%20%20%20%2

[2018-07-26 18:31] DanielRosenwasser commented on #25975
Arrow functions don't introduce their own `this`, so TypeScript is warning you that `this` is getting resolved globally.

[2018-07-26 18:35] LAITONEN opened #25976 "Confusing description of Pick mapped type"
**Search Terms:**
confusing, pick, description

**Problem:**

Typescript has so much great functionality, but it gets hard to comprehend them for a not very experienced developer if the descriptions are confusing. Example is the description of Pick mapped property.

**Actual behavior:**
The description of `type Pick<T, K extends keyof T> = { [P in K]: T[P]; }`says:

However, the way I have been as

[2018-07-26 18:35] weswigham commented on #25322
@michaelaird The `sourceRoot` generated by `gulp-sourcemaps` is off. It's emitting `"sourceRoot":"../../DeclarationMaps/Dependency"`, when it should just be `"sourceRoot":"../../Dependency"`. It looks like your gulp task is moving around the outdir in a way it doesn't respect?

[2018-07-26 18:46] rs3d commented on #25018
My experience with 3.1.0-dev.20180726 is much better in watch mode. It's around 10-13s faster than before watching 148 files.

[2018-07-26 18:48] mhegazy commented on #25973
That is a duplicate of https://github.com/Microsoft/TypeScript/issues/212.

We need to make the change, run the local tests and see if there are any interesting breaks.

[2018-07-26 18:49] mhegazy commented on #396
how would you test the change then?

[2018-07-26 18:51] mhegazy commented on #25976
@DanielRosenwasser thoughts on the comment change?

[2018-07-26 18:52] DanielRosenwasser opened #25977 "Give a better error message for captured global 'this'"
Users are sometimes confused as in #25975 #13842 regarding the behavior of `this`. When using `noImplicitThis`, you'll currently get

[code]

But I think we can do a little better.

[2018-07-26 18:53] DanielRosenwasser commented on #25975
Sorry, depending on if you run with `noImplicitThis` on, you may get a warning. Otherwise, we are more lenient. I filed #25977 so we can give a better error message when you *do* run with stricter settings.

[2018-07-26 19:05] michaelaird commented on #25322
Yep. you're right. i'll fight with gulp-sourcemaps to sort out the relative paths. sorry about the false alarm!

[2018-07-26 19:23] #25664 closed, assigned to nobody

[2018-07-26 19:39] #25954 closed

[2018-07-26 19:49] bterlson commented on #25976
Another option:  `From T, pick a set of properties whose keys are in the union K` (since K will usually be a union of string literal types?)

[2018-07-26 20:13] jameskeane opened #25979 "In JS, noImplicitThis puts an error on `this` inside a constructor function"
**TypeScript Version:**  30c4149

**Search Terms:**
jsdoc `@constructor` `this`
**Code**

[code]
Compiled with `--allowJs --checkJs --noImplicitThis`

**Expected behavior:**
Compiles fine.

**Actual behavior:**
[code]

**Playground Link:**
https://www.typescriptlang.org/play/#src=%2F**%20%40constructor%20*%2F%20function%20Example()%20%7B%20this.m%20%3D%201%3B%20%7D%0D%0A%2F**%20%40constructor%20*%

[2018-07-26 20:17] mmorearty commented on #25714
Hi @mhegazy , I just wanted to make sure that my comments above don't slip through the cracks. (I know it was only yesterday that I commented, but I get the impression you folks are deep into the 3.0 release process right now.)

I posted a nice small repro case for this issue, and it's preventing us from upgrading to 2.9.x or 3.0.x (I don't know what changes I would need to make to my code to work

[2018-07-26 20:20] #25977 closed

[2018-07-26 20:37] ffxsam commented on #25975
My mistake, you probably saw before I edited the code and got rid of the arrow func. It works as intended.

[2018-07-26 20:40] OliverJAsh commented on #25503
Ah, this is possible to fix if we rewrite the `Omit` type to use conditional types, which distribute over unions:

[code]

https://github.com/Microsoft/TypeScript/issues/12215#issuecomment-378589263

Using this knowledge we can rewrite `Defaultize` to use conditional types:

[code]

Then we get the expected behaviour:

[code]

[2018-07-26 20:56] weswigham commented on #25714
Your compiler options and repro are much appreciated ❤️ #25982 is up with the (very tiny) fix!

[2018-07-26 21:02] sandersn commented on #25979
Currently this is working as intended. I think we should keep it that way until we find out more about other scenarios we might have missed, and how popular these scenarios are.

The intent of `--noImplicitThis` is to restrict usage of `this` to classes and select functions where some thought has gone into usage. Constructor functions are not meant to be the default when `--noImplicitThis` is turn

[2018-07-26 21:14] lukescott commented on #21388
The keyword could be `required`.

[2018-07-26 21:24] mjbvz opened #25983 "Intellisense not working on Object.create() variables."
_From @NaveenThiyagarajan on July 26, 2018 20:53_

- VSCode Version: 1.25.1
- OS Version: Mac 10.13.3

Steps to Reproduce:

1. Create a simple JS file which has the below code:
[code]

2. Use this testPage.js file on some other JS file and

Observe intellisense/suggestions would not be working
Even if i hover on the testPage that is on module.exports of `testPage.js` file does not show anything.

[2018-07-26 21:43] #25714 closed

[2018-07-26 21:46] jameskeane commented on #25979
I'm trying to switch to tsc from closure-compiler for a large jsdoc typed codebase. An example of a large codebase in this style is the [closure-library](https://github.com/google/closure-library/blob/master/closure/goog/math/bezier.js#L47). [I'm trying to do this for a couple reasons, but the biggest is that closure-compiler does not have string literal types and can not specialize the return typ

[2018-07-26 21:53] ibezkrovnyi opened #25985 "Importing `import React, { Component } from 'react'` gives runtime warning"
**TypeScript Version:**
* 2.9.2
* 3.1.0-dev.20180726:

**Search Terms:**
React.PropTypes, Warning: Accessing PropTypes

**Code:**
tsconfig.json
[code]
index.ts
[code]

**Expected behavior:**
[code]

**Actual behavior:**
[code]

Which gives following message in console
`Warning: Accessing PropTypes via the main React package is deprecated, and will be removed in React v16.0. Use the latest availabl

[2018-07-26 21:56] ibezkrovnyi commented on #25985
While in the following cases TypeScript there is no deprecation warning:

#### import React from 'react'
[code]

#### import { Component } from 'react';
[code]

[2018-07-26 21:59] jameskeane commented on #25979
To be clear I'm only talking about constructor functions that are tagged with the jsdoc class tag. If not tagged, I agree that `this` should be any

[2018-07-26 22:00] weswigham commented on #25985
Similar to https://github.com/babel/babel/issues/5705 , "fixing" this requires copying setters and getters without invoking them in the helper.

[2018-07-26 22:02] mjbvz opened #25986 "import is typed and triggers an error even with all typings disabled"
_From @Janne252 on July 26, 2018 12:32_

- VSCode Version: 1.25.1
- OS Version: Windows 10 Pro 64-bit

Steps to Reproduce:

1. Create an empty directory and open it in VS Code
2. Create `tsconfig.json` with the following content:
[code]
3. Create a new TypeScript file with the following content:
[code]
4. Note how the `import();` statement refers to dynamic import (unexpected behavior).  Type in `

[2018-07-26 22:03] stephengardner commented on #13965
I ran into this today.  Is this a bug?

[2018-07-26 22:04] mjbvz commented on #25986
This is the expected behavior since `import()` is an [import expression](https://blog.mariusschulz.com/2018/01/14/typescript-2-4-dynamic-import-expressions). Did you mean to write `import 'foo'`?

[2018-07-26 22:08] weswigham opened #25987 "`keyof` on types originating from javascript object literals is (nearly) useless"
**TypeScript Version:**  3.1.0-dev.201xxxxx

**Search Terms:**

**Code**

In a js file:
[code]

**Expected behavior:**
`keyof` returns the keys the object actually has or is declared with.

**Actual behavior:**
`keyof` returns `string | number`, thanks the the any-index signature shoved into every object literal expression's type in JS.

This came up on `DefinitelyTyped` - strongly typing react's

[2018-07-26 22:13] kitsonk opened #25988 "Top Level Await"
## Search Terms

top level await

## Suggestion

The ability to utilise `await` directly at the top level of a module or a script.  Currently the compiler does not support this, though it is becoming increasing possible to accomplish it in certain runtimes.

[Top level await](https://github.com/tc39/proposal-top-level-await) is currently a Stage 2 TC39 proposal. (I was unable to find any tracking

[2018-07-26 22:22] weswigham commented on #25988
@kitsonk I don't think we can safely implement TLA until at least the variant is decided upon - otherwise how exports work in modules with TLA is liable to change (and thereby typechecking). I get that it's great in a REPL context - but at the top level of a module with exports it is much less straightforward!

[2018-07-26 22:28] mjbvz opened #25989 "variable.other.constant.ts only matches all-caps constant declarations"
_From @Janne252 on July 26, 2018 8:24_

- VSCode Version: 1.25.1
- OS Version: Windows 10 Pro 64-bit

Steps to Reproduce:

1. Open an empty folder in VS Code
2. Create a new TypeScript file with the following content:
[code]
3. Add the following setting to the workspace settings:
[code]
4. Enable "Developer: Inspect TM Scopes"
5. Inspect the TextMate scopes of the constants `Foo` and `BAR`
![image

[2018-07-26 22:28] #25989 closed, assigned to mjbvz

[2018-07-26 22:31] DanielRosenwasser commented on #25870
Thanks @mattmccutchen!

[2018-07-26 22:31] #25870 closed

[2018-07-26 22:33] rkirov opened #25990 "Enum literals assignments are inferred differently than what is emitted in .d.ts."
**TypeScript Version:**  3.1.0-dev.20180726

**Search Terms:**

enum literals declarations

**Code**

[code]

**Expected behavior:**
I expect similarly the .d.ts emitted to have a narrowed declaration for 'type'

[code]

**Actual behavior:**
Emitted .d.ts contains:
[code]

Note this is critical for creating tagged unions for type narrowing, and this behavior makes type narrowing only work when one

[2018-07-26 22:34] kitsonk commented on #25988
I understand that it is likely more complicated than just allowing it, because variant A or variant B would have significant impacts on CFA.  From a usefulness perspective, the proposed optional constraint of only allowing it in modules without `export`s would be sufficient for my selfish needs.  While there still _might_ be an impact on CFA, the static analysis could/would work as it does now for

[2018-07-26 22:36] andy-ms commented on #25983
Duplicate #18609

[2018-07-26 22:43] ibezkrovnyi commented on #25985
#### __importStar implementation:
* in [TypeScript/blob/master/src/compiler/transformers/module/module.ts](https://github.com/Microsoft/TypeScript/blob/d590d5bd0c4eeb034e18f31fb8683e295dd6666f/src/compiler/transformers/module/module.ts#L1810)
* in [tslib/tslib.js](https://github.com/Microsoft/tslib/blob/9dd9aa322c893e5e0b3f1609b1126314ccf37bbb/tslib.js#L215)

So, I assume it should be fixed in the

[2018-07-26 22:51] andy-ms commented on #25739
@mjbvz Before calling "getEditsForFileRename", vscode should call "configure" setting global preferences. Note that this can't be done per-file since getEditsForFileRename affects multiple files. It looks like currently there is no "configure" that would tell us the importModuleSpecifier preference.

[2018-07-26 22:53] DanielRosenwasser commented on #25987
To be clear, this isn't blocking `defaultProps`, is it?

[2018-07-26 23:01] andy-ms commented on #25854
@zavr-1 This seems to be working for me.

![exports_default](https://user-images.githubusercontent.com/19274678/43292997-dcfc8520-90ec-11e8-92ba-4c9142ccf9bf.jpg)