[2016-12-15 08:53] DanielRosenwasser commented on #12936
If the `{| ... |}` syntax was adopted, we could build on mapped types so that you could write

[code]

[2016-12-15 09:18] reversi-fun commented on #12122
I was dissatisfied with incompatibility.
I implemented it.

[code]
<<

[2016-12-15 09:20] reversi-fun commented on #12122
anybody, please tell me a better solution.

[2016-12-15 09:42] #12117 closed

[2016-12-15 09:49] dbaeumer commented on #10283
@mhegazy good point.

[2016-12-15 10:00] reversi-fun commented on #12122
Wow!! 　I was stupid.
That "checker.ts" license is "Apache License Version 2.0".   And I copy it and updated it.
Do I need to devote my patents to the TypeScript team?
I know that the usual answer is "yes".

[2016-12-15 10:27] zamb3zi opened #12940 "String literal type operators"
It would be useful if we could combine string literal types to create new types. For example suppose `A` and `B` extend `string` then:

[code]

This would combine well with mapped types. For example suppose we want to specify an ordering of records of type `T` to some third-party module that requires SQL-like syntax. We could write:

[code]

Maybe some other forms would be useful:
[code]

[2016-12-15 10:35] gcnew commented on #12939
I've run into this as well. It happens only with `strictNullChecks` off. See https://github.com/Microsoft/TypeScript/issues/10564.

[2016-12-15 10:49] zamb3zi opened #12941 "Accept regular expression literals in type position"
The suggestion is to allow creation of types extending `string` by using a regular expression literal in type position.

[code]

[2016-12-15 10:52] gcnew commented on #12916
IMHO the second example should not require `x: number | undefined` as there is no read of uninitialized value. CFA determines that `x` is always assigned before being read. That's not true for the first example.

[2016-12-15 11:26] rotemdan opened #12942 "Type predicate expressions and 'this' type assertions"
The type system currently allows to specify basic type constraints (or 'assertions') on polymorphic types, for example:

[code]

However, currently there is no elegant syntax for types to declare constraints on _themselves_. Here's a real world example where I needed something like this:

I have a class containing several methods:

[code]

and I want to write a known (i.e. monomorphic) type that i

[2016-12-15 11:35] mpmysight opened #12943 "TypeScript error: Error TS1138: Parameter declaration expected."
I am getting the following error when I try to run my project.

`TypeScript error: /home/user/projects/project/node_modules/ionic-native/node_modules/rxjs/Observable.d.ts(29,33): Error TS1138: Parameter declaration expected.
TypeScript error: /home/user/projects/project/node_modules/ionic-native/node_modules/rxjs/Observable.d.ts(29,37): Error TS1005: ',' expected.
TypeScript error: /home/user/proj

[2016-12-15 12:37] aersamkull opened #12944 "Type Inference in for... in combined with typeof"
**TypeScript Version:**  2.1.4

The following code gives an error in TS 2.1:
It's not really nice code, but I think it should work never the less :)
[code]

**Expected behavior:**
I would expect this[a] to be typed as this[keyof this] & Function:
[code]
**Actual behavior:**
It gives an error, as of TS 2.1, it worked in TS 2.0 (because mapped types did not exist, this[a] was typed as any)

[2016-12-15 13:06] a8775 commented on #12850
PR1: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/13358

In next PR I will make changes to v8 module.

[2016-12-15 13:15] metzc commented on #2214
I found out that discriminate unions and switch type guards as implemented in the ngrx-example app (see https://github.com/ngrx/example-app/blob/master/src/app/reducers/books.ts#L20) worked in TS 2.0.0 but stopped working in TS >= 2.1.

Is this expected behaviour? Is this because the discriminator is a just a string property on a class instead of being a type in the interface?

[2016-12-15 14:23] mihailik commented on #4639
Non-emit-affecting proposal
------

`integer` types are not affecting the semantic of the operators, except for validation.

[code]

Effectively, we align with ASM.js: there are exact rules for checking types, but the onus is on the code writer to keep it safe.

That would fit into `isolatedModules` compilation too!

With no fancy type-safe emit, what's the valueadd?
-------

* Minor feature: enfo

[2016-12-15 14:37] joshaber commented on #12936
This is probably the last thing I miss from Flow, compared to TypeScript.

The `Object.assign` example is especially good. I understand why TypeScript behaves the way it does today, but most of the time I'd rather have the exact type.

[2016-12-15 14:52] andy-ms opened #12945 "Object literal: All `this` are implicitly any"
**TypeScript Version:**  nightly (2.2.0-dev.20161215)

**Code**

(with `--noImplicitThis`)

[code]

**Expected behavior:**

No errors.

**Actual behavior:**

`a.ts(11,9): error TS2683: 'this' implicitly has type 'any' because it does not have a type annotation.`

[2016-12-15 15:01] ahejlsberg commented on #12945
Duplicate of #12785.

[2016-12-15 15:04] hemendray120 opened #12946 "Infinite recursion when assigning to a variable of evolving type inside an array"
**TypeScript Version:**  2.0.0 / nightly

**Code**

[code]

**Expected behavior:**
It should integrate the plotly js and compile successful.

**Actual behavior:**
Getting error while including plotly.js.

[2016-12-15 15:05] #12945 closed

[2016-12-15 15:11] SaschaNaz commented on #4639
I think wasm target is too long-term objective, a mere typing for emscripten-generated code may be in shorter term.

[2016-12-15 15:24] blakeembrey commented on #12936
@HerringtonDarkholme Thanks. My initial issue has mentioned that, but I omitted it in the end as someone would have a better syntax anyway, turns out they do 😄

@DanielRosenwasser That looks a lot more reasonable, thanks!

@wallverb I don't think so, though I'd also like to see that feature exist 😄

[2016-12-15 15:45] mihailik commented on #4639
True. Technically, the proposal is not about delivering those use-cases — rather enabling them in future.

BTW, my hidden agenda is GLSL shader language. It's [very powerful](http://acko.net/files/mathbox2/iframe-cylindrical-stream.html), but at the moment [the tooling](https://github.com/turbo/js) is all [semi-safe](https://gpu.rocks/examples/) [string concatenation](https://acko.net/blog/mathbox

[2016-12-15 16:29] about-code commented on #12709
Maybe there is: #442

[2016-12-15 16:48] blakeembrey opened #12948 "`keyof` union type should produce union of keys, not intersection of keys"
**TypeScript Version:**  2.1.4 and 2.2.0-dev.20161215

**Code**

[code]

**Expected behavior:** No error.

**Actual behavior:** Error as `keyof T` is `never[]` instead of `("username" | "email" | "foo")[]`.

Possibly related to https://github.com/Microsoft/TypeScript/issues/12815, https://github.com/Microsoft/TypeScript/issues/10256 and https://github.com/Microsoft/TypeScript/issues/8896, except t

[2016-12-15 16:53] sandersn commented on #12709
As far as I can tell, #442 is essentially about using built-in names that are readonly, not incorrectly overriding a name that is meant to be overridden.

However, your PR to fix it looks undeservedly ignored. I'll take a look.

[2016-12-15 16:59] qballer commented on #2727
@mhegazy any news?

[2016-12-15 17:12] wallverb commented on #12941
https://github.com/Microsoft/TypeScript/issues/6579 ?

[2016-12-15 17:12] cloverich commented on #8306
@hk0i its also mentioned in Item 17 (2nd edition) in a manner similar to what's been echoed here:

I would argue it does not increase the *cognitive* complexity of the language given that the abstract keyword already exists. However, I cannot speak to the implementation / performance impact of it and absolutely respect protecting the language from that angle. **I think separating those concerns wo

[2016-12-15 17:17] SlurpTheo commented on #12673
**TypeScript Version:**  2.1.4
I'm not certain if this is the same issue/bug and I understand how things gets convoluted quickly when thinking about function _declarations_ and how they hoist within the function where they are defined, but I was recently surprised by the behaviour of a function _expression_ accessing a block-scoped "outer/free" variable (e.g., `let x`) before its declaration.

**C

[2016-12-15 17:24] SlurpTheo commented on #12673
[code]

[2016-12-15 17:29] mhegazy commented on #12932
This is a duplicate of #1863. please see my comment in https://github.com/Microsoft/TypeScript/issues/1863#issuecomment-247679106.

[2016-12-15 17:31] ZanderBrown opened #12949 "Extending HTMLElement still not working"
**TypeScript Version:**  2.1.4

**Code**

So the following JS works fine in Chrome (v55)

[code]

Which of course can be represented with the following TypeScript:

[code]

Except the compiled typescript won't run

*tsc* Output
[code]

In Chrome's console i see:

[2016-12-15 17:32] #12941 closed

[2016-12-15 17:42] gravaton opened #12950 "Inappropriate Type Narrowing on Object Properties?"
**TypeScript Version:**  2.1.4

**Code**

[code]

Another, more concise example:

[code]
**Expected behavior:**
I would expect there to be no compilation errors here

**Actual behavior:**
Compilation errors:

`Operator '===' cannot be applied to types '1' and '0'`

I've done a lot of reading about type narrowing and what kind of assumptions will be made when functions are invoked, most notably the

[2016-12-15 18:01] vladeck opened #12951 "_this missing in generated .js when using 2.1.4"
When code is compiled using 2.0.7 I get:

[code]

However, using 2.1.4 I get:

[code]

Notice the missing `var _this = this`, yet the code is trying to use it.

Typescript code used (important part):

[code]

[2016-12-15 18:01] isiahmeadows commented on #12883
Oh. So it would be much more difficult to accomplish than I initially
anticipated. I didn't realize that.

On Tue, Dec 13, 2016, 12:48 Mohamed Hegazy <notifications@github.com> wrote:

this is a duplicate of #12825
<https://github.com/Microsoft/TypeScript/issues/12825>. the issue is that
the compiler does things in phases.

So I'm guessing past phases have no way of communicating to future phases

[2016-12-15 18:03] isiahmeadows commented on #5453
The syntax and low level semantics have no clear consensus yet.

On Tue, Dec 13, 2016, 13:26 Igor Oleinikov <notifications@github.com> wrote:

[2016-12-15 18:07] mhegazy commented on #12951
Looks like a duplicate of https://github.com/Microsoft/TypeScript/issues/12764

can you give `typescript@2.2.0-dev.20161215` a try?

[2016-12-15 18:12] guncha opened #12952 "Merge conflict tags in *.tsx crash Typescript compiler"
**TypeScript Version:**  "2.2.0-dev.20161215"

**Code**

[code]

[code]

**Expected behavior:**

Show errors about malformed tags.

**Actual behavior:**

Crashes with assertion failure:
[code]

[2016-12-15 18:15] mhegazy commented on #12940
Should be covered by the proposal in https://github.com/Microsoft/TypeScript/issues/6579

[2016-12-15 18:16] vladeck commented on #12951
It seems so. Using `typescript@2.2.0-dev.20161215` generates (working) code:

[code]

[2016-12-15 18:17] FranklinWhale commented on #12949
Is it fine to change the compiler to target `es2015?

[2016-12-15 18:21] isiahmeadows commented on #4639
I like the idea, but I have a few nits to point out inline.

On Thu, Dec 15, 2016, 09:24 mihailik <notifications@github.com> wrote:

willing to count the infinities as integers, you don't need the cast.

You need not only generic integers, but 8-bit, 16-bit, and 32-bit integers
(64-bit for 64-bit LLVM) for that to work. The only exception is asm.js,
which exclusively operates with 32-bit integers.

[2016-12-15 18:21] ahejlsberg commented on #12948
This isn't safe for the same reason as #12815.

[2016-12-15 18:28] mhegazy commented on #12130
An index signature declares a constraint on the whole type. it allows for something like:

[code]

[2016-12-15 18:28] #12130 closed

[2016-12-15 18:29] mhegazy commented on #12904
Excess property checks would have caught that if it operated on unions. tracked by https://github.com/Microsoft/TypeScript/issues/12745

[2016-12-15 18:33] #12951 closed

[2016-12-15 18:38] mhegazy commented on #12938
This is another manifestation of https://github.com/Microsoft/TypeScript/issues/12745. the result of the conditional operator is a union type, and thus the excess property check is ignored.

[2016-12-15 18:44] ahejlsberg commented on #12950
It would be nice if we could do better here, but as the discussion in #9998 explains the cure would likely be worse than the disease. I don't think there is anything particularly different about your example, it is simply a case of control flow analysis not knowing whether a function call has side effects and therefore having to make a general assumption.

[2016-12-15 18:47] isiahmeadows commented on #12885
Yes, that is the correct understanding of the current state. In particular,
I'm proposing the safe one to be unified, not the unsafe one.

(This is mod the return type half, which is much more complex)

On Wed, Dec 14, 2016, 18:09 Mohamed Hegazy <notifications@github.com> wrote:

[2016-12-15 18:49] ahejlsberg commented on #12944
I think the suggestion here is that a `typeof x === "function"` type guard should change the type of `x` to `(typeof x) & Function` under the guard. We currently do something similar for primitive types, but nothing specific for functions.

[2016-12-15 18:50] andy-ms commented on #11457
Looks like this is an issue now in vscode 1.8.0. When I import `"..` it autocompletes with `".git.`.

[2016-12-15 18:53] #12509 closed

[2016-12-15 18:56] stevekane commented on #12448
I have started using class-based polymorphism and methods to solve this problem.  It's a sort of poor-man's typeclass solution that allows me to constrain polymorphism to instances which are defined ( extensible and not limited to the weirdness of overloaded function signatures )

[2016-12-15 19:05] DanielRosenwasser commented on #12949
I get this error if I specifically try to `new` or call `document.createElement("my-custom-element")`, but I believe the former isn't supported. Pinging @justinfagnani who has a much more thorough background in this space.

[2016-12-15 19:06] #12938 closed

[2016-12-15 19:08] mhegazy commented on #12943
I am guessing you are using an older compiler version that what rxjs used to create this declaration file.

I should add that this bug report is really lacking in information. if this is a support request/question we recommend posting it on SO. This issue tracker is for TS compiler and language bugs/suggestions, and for these we ask you to fill in the issue template with version numbers, and self-

[2016-12-15 19:15] gravaton commented on #12950
It seems to me like objects and properties are a little less ambiguous than abstract functions?  For example:

[code]

This is an ambiguous case because there's no easy or innate linkage between the function `changex()` and the variable `x`.  Determining that the one impacts the other would be pretty complicated and not something we could guarantee.  For cases like this, I am totally in agreement

[2016-12-15 19:19] about-code commented on #9950
@isiahmeadows

I hope it won't supersede pseudo-private implementation. I think availability only within a class is actually not such a good thing (given that by *availability* you mean *accessibility*). I admit there may be special situations where it makes sense to have strictly private and inaccessible properties, e.g. for security purposes. I also admit, that it is obviously confusing to peopl

[2016-12-15 19:20] sheetalkamat commented on #12946
@hemendray120 in the attached zip file plotly.js is missing. So I see below error:
[code]

[2016-12-15 19:21] mhegazy opened #12953 "`export default function` should not be allowed in a namespace"
[code]

should be an error.

[2016-12-15 19:22] ZanderBrown commented on #12949
Compiling with target `es2015` gives me:
[code]
Which does run correctly:

![image](https://cloud.githubusercontent.com/assets/17074021/21238576/73da17d0-c2fb-11e6-8fdf-82e032a45e30.png)

[2016-12-15 19:27] longlho commented on #12860
This is fixed in TS 2.1 I believe

[2016-12-15 19:27] timpler opened #12954 "How to resolve absolute modules paths for node.js?"
I need modules to be resolved basing on `baseUrl` so output code is usable for node.js

this is my `src/server/index.ts`

[code]

and this is my `src/server/config/index.ts`

[code]

Running `tsc` I'm able to compile all files without erros, but output: `dist/server/index.js` is

[code]

Resulting with `Cannot find module 'server/config'` if I'm trying to use it with `node dist/sever/index.js`.

W

[2016-12-15 19:33] glen-84 commented on #9950
@about-code See https://github.com/tc39/proposal-private-fields/issues/33

[2016-12-15 19:56] mhegazy commented on #12954
The compiler does not rewrite module names. module names are "resource identifiers" and the compiler does not touch them, just like your string literals. all what `baseUrl` and `paths` do is tell the compiler where to find the `.d.ts` for this module, but no changes to the output are caused by these options.
you can find related discussion on why this is the case in https://github.com/Microsoft/Ty

[2016-12-15 20:12] aluanhaddad commented on #12596
@gcnew I understand why you feel that way, but it is cumbersome to be required to use subscripting syntax to access a "dynamic feeling js object".

The only alternative is resorting to `any` which is much worse. Obviously it is just syntactic sugar, and not much at that, but it is very true to the nature of JavaScript.

That said, however, I appreciate the argument that the reduced safety might no

[2016-12-15 20:26] mhegazy commented on #12866
not sure there is much we can do here. we should consider showing this error in a .js (as part of https://github.com/Microsoft/TypeScript/issues/6802) file to make it clear that you are overriding a known global declaration.

[2016-12-15 20:26] #12866 closed

[2016-12-15 20:26] unional commented on #12596
I can see the argument on both, and feel both. Can we have an option to toggle that?

[code]

[2016-12-15 20:30] mhegazy commented on #12780
so the request is to add a flag to `OccurrencesResponseItem` to say if this is a string literal or not?

[2016-12-15 20:33] DanielRosenwasser commented on #12940
@mhegazy I think this it depends how deep we want to go with this. Regex types are a much more generalized idea.

[2016-12-15 20:33] mhegazy commented on #8912
PRs are welcomed.

[2016-12-15 20:37] mhegazy commented on #12233
this looks like a duplicate of https://github.com/Microsoft/TypeScript/issues/12004

[2016-12-15 20:37] #12233 closed

[2016-12-15 20:39] mhegazy commented on #12185
For the first issue, TM grammar issues are tracked under https://github.com/Microsoft/TypeScript-tmlanguage, for the second, it should be tracked by a VSCode issue.

[2016-12-15 20:39] mhegazy commented on #12185
closing for now. @waderyan we need to port this back to VSCode.

[2016-12-15 20:39] #12185 closed

[2016-12-15 20:41] blakeembrey commented on #12948
@ahejlsberg Can you elaborate on why that is, because the reason of the types in https://github.com/Microsoft/TypeScript/issues/12815#issuecomment-266250230 is not valid when we're only getting the keys.

For more context, I have a database query that accepts `PublicGroup | PrivateGroup` and does an upsert. In this case, I want to write the keys that should update on upsert explicitly and it happe

[2016-12-15 20:43] mhegazy commented on #12025
how are you creating the source file?

[2016-12-15 20:44] #11639 closed

[2016-12-15 20:48] mhegazy commented on #11378
@kitsonk, while i agree with you in a .ts file, in a .js file we already use the JSDoc comments for type information. the function in the OP, would not be typed correctly as we did not find the documentation for parameter `a`; so seems like a nice error to show to avoid such situations.

@RyanCavanaugh, we should consider doing this as part of https://github.com/Microsoft/TypeScript/issues/6802. m

[2016-12-15 20:50] #11129 closed

[2016-12-15 20:50] #10946 closed

[2016-12-15 20:53] stevekane opened #12955 "Type Narrowing for discriminated unions not narrow enough"
**TypeScript Version:** 2.2.0-dev.20161215

**Code**

[code]

**Expected behavior:**
Would expect it to try narrowing the type to a literal from the enumeration if the general enum doesn't satisfy other type expectations.
**Actual behavior:**
When defined as a literal function argument, typescript further narrows the type, otherwise it does not?  This seems perhaps non-awesome or at least the comp

[2016-12-15 20:54] mhegazy commented on #10033
There is one way to write types in a .ts file, and that is type annotations. JSDoc comments are not relevant here. in a .js file it can be used, and it is. but `--noImplicitAny` is not relevant there really.

[2016-12-15 20:54] #10033 closed

[2016-12-15 20:56] #12111 closed

[2016-12-15 20:56] #8141 closed

[2016-12-15 21:03] #3119 closed

[2016-12-15 21:08] mhegazy commented on #8302
Related to https://github.com/Microsoft/TypeScript/issues/5158

[2016-12-15 21:11] mhegazy commented on #8525
looking at this again, I do think we really want to build another system to flow comments. the thing that flows through the system are types. if the function provides a special return type, e.g. a set of strings, or a set of numbers, i would recommend using a typedef to define the type and use that instead.

[2016-12-15 21:12] #8525 closed

[2016-12-15 21:13] blakeembrey commented on #12948
Also, if we had exact types (https://github.com/Microsoft/TypeScript/issues/12936) would this change any opinion on how properties of a union can be operated on?

[2016-12-15 21:15] RyanCavanaugh commented on #12950
@gravaton it's just more examples of the same thing. Consider code like this
[code]
Disallowing the last line there because `printStatus` might have invalidated `f.thing` is just as counterintuitive as still believing that `worker.status` is the same value it was the last time it was observed.

It's really easy to write examples that make the case either way depending on what the variables are nam

[2016-12-15 21:16] #11203 closed

[2016-12-15 21:21] mhegazy commented on #10817
I could not get this to reproduce on latest. please reopen if issue still persists.

[2016-12-15 21:21] #10817 closed

[2016-12-15 21:21] tbosch commented on #12439
@mhegazy Thanks, this seems to work now!

[2016-12-15 21:22] RyanCavanaugh commented on #12673
@SlurpTheo I think you're basically looking for #11498

[2016-12-15 21:23] mhegazy commented on #10092
this should be covered by https://github.com/Microsoft/TypeScript/issues/7849

[2016-12-15 21:23] #10092 closed

[2016-12-15 21:23] billti opened #12956 "rest args are busted"
Using the latest master, this seems to be a pretty serious regression. I noticed my site broke, and tracked it down to an object rest regression.

Basically this code:

[code]

Is generating this emit:

[code]

Which produces this output

[code]

The issue is with `!e.indexOf(p)`, as this only returns "true" for the property which is the first in the list (i.e. the index is 0). It should probably

[2016-12-15 21:25] mhegazy commented on #11101
this is a duplicate of https://github.com/Microsoft/TypeScript/issues/10126

[2016-12-15 21:25] #11101 closed

[2016-12-15 21:25] #12850 closed

[2016-12-15 21:26] gcnew commented on #12940
Also it seems that Regexes are at odds with `keyof`. Literal concatenation (i.e. only string literals + `keyof`) sounds like a good compromise.

[2016-12-15 21:26] mhegazy commented on #11620
I am unable to reproduce this locally on latest. please reopen if you are still experiencing issues.

[2016-12-15 21:26] #11620 closed

[2016-12-15 21:27] andy-ms opened #12957 "Completion list for module with default export should use "default", not the function's name"
**TypeScript Version:**  nightly (2.2.0-dev.20161215)

**Code**

[code]

**Expected behavior:**

Test succeeds.

**Actual behavior:**

[code]

Problem: `a.y()` won't compile, `a.default()` will. So we should use `default` for the completion, not `y`.

[2016-12-15 21:30] mhegazy commented on #12416
This has been referenced before in https://github.com/Microsoft/TypeScript/issues/11839

[2016-12-15 21:35] mhegazy commented on #11826
closing for now. please reopen if still an issue.

[2016-12-15 21:35] #11826 closed

[2016-12-15 21:37] zpdDG4gta8XKpMCd opened #12958 "allow mixing --project command line parameter with a list of files, includes, and exclludes"
`--project` command line argument should be allowed with an explicit list of files as well as `includes` list and `excludes` lists

command line arguments should take precedence over parameters in config, just like params of `compilerOptions`

`{ files }` vs --files // --files wins
`{ includes }` vs --includes // --includes wins
...
etc

[2016-12-15 21:39] mhegazy commented on #11155
this looks to be the same underlying issue as in https://github.com/Microsoft/TypeScript/issues/11875. the overload resolution algorithm does not really support overload on arity, which seems to be what express is using here.

[2016-12-15 21:41] mhegazy commented on #11823
looks like a duplicate of https://github.com/Microsoft/TypeScript/issues/11657. @waderyan https://github.com/Microsoft/TypeScript/issues/11657 seems to be caused by a VSCode issue. can you take a look at porting that one back?

[2016-12-15 21:41] #11823 closed

[2016-12-15 21:43] billti commented on #12956
Actually, looks like this was fixed a couple weeks back, but the LKG is out of date. I'll update that.

[2016-12-15 21:51] PyroVortex opened #12959 "Provide "remove from union" type operator"
With the introduction of the `keyof` operator and mapped types, the ability to remove some subset of the types in a union becomes increasingly useful. The type system already supports this operation via type guards in control flow, but we have no way to describe the resulting type to the compiler.

## Available existing behavior
[code]
However, we have no way of specifying the type of `nsDir` in t

[2016-12-15 21:51] mhegazy opened #12960 "Incorrect formatting mapped types"
[code]

Expected:
[code]

Actual
[code]

[2016-12-15 21:53] aleksey-bykov commented on #12960
related and forgotten #6252, #5890, #5830

[2016-12-15 21:54] billti commented on #12956
Updated the LKG which resolved this.

[2016-12-15 21:54] #12956 closed

[2016-12-15 21:55] aleksey-bykov commented on #12960
same goes for type parameters

![image](https://cloud.githubusercontent.com/assets/937933/21243548/51a96cba-c2e7-11e6-99a5-00a736d752a5.png)

[2016-12-15 21:57] aleksey-bykov commented on #12959
might be a dup of #4183

[2016-12-15 21:59] mhegazy commented on #12234
PRs welcomed.

[2016-12-15 22:00] ThomasMichon commented on #12959
@aleksey-bykov This is actually a distinct proposal. #4183 address the case where you wish for a type not to have specific members. This proposal instead addresses the case where you can know definitively that a value of a union type is definitely not one of a set of types.

[2016-12-15 22:03] ahejlsberg commented on #12948
A core assumption we make is that `T[K]` is a permitted and type-safe operation when `K` is `keyof T` or a type parameter constrained to `keyof T`. This would no longer be true with what you propose because `T[K]` could fetch some completely unknown value if `T` is instantiated with a union type (because of the reason discussed in #12815).

The picture changes with exact types, both for regular pr

[2016-12-15 22:04] aleksey-bykov commented on #12959
It's universal proposal for any 2 types being subtracted from each other,
including unions, if you read closer

On Dec 15, 2016 5:00 PM, "Thomas Michon" <notifications@github.com> wrote:

[2016-12-15 22:08] ThomasMichon commented on #12959
I think this is more a duplicate of #12215, actually. #4183 is a superset of both concepts.

[2016-12-15 22:10] mhegazy commented on #11979
@rkirov is this still an issue?

[2016-12-15 22:11] mhegazy commented on #11253
closing for now. please reopen if this is still an issue.

[2016-12-15 22:11] #11253 closed

[2016-12-15 22:16] mhegazy commented on #11503
The server caches after the first request. so the first request will be slow, but things should be snappy from that point on. there is a limit to what we can pre-cache; it is always a memory/perf trade off.

[2016-12-15 22:16] #11503 closed

[2016-12-15 22:18] mhegazy commented on #11958
@bowdenk7 did you figure out what was going on?

[2016-12-15 22:18] SlurpTheo commented on #12673
@RyanCavanaugh I think that is very close to my concern -- yes/thanks!

(My 2nd https://github.com/Microsoft/TypeScript/issues/12673#issuecomment-267387786 from earlier today shows how `--target es5` will generate code that will behave/error differently from code output via `--target es2015`)

[2016-12-15 22:20] mhegazy commented on #12243
looks like a duplicate of https://github.com/Microsoft/TypeScript/issues/10092, and should be covered by the suggestion in  #7849

[2016-12-15 22:20] #12243 closed

[2016-12-15 22:23] mhegazy commented on #11043
Could not get to repro it locally on latest either. closing for now. please reopen if the issue is still there.

[2016-12-15 22:23] #11043 closed

[2016-12-15 22:26] mhegazy commented on #10804
I can not reproduce this locally on latest. closing for now. please reopen if still an issue.

[2016-12-15 22:26] #10804 closed

[2016-12-15 22:27] PyroVortex commented on #12959
I hadn't seen #12215, mostly due to using the wrong search terms to look for duplicates. However, this proposal is slightly wider in scope, as it applies to union types in general. The main advantage this has over #4183 is that it is much narrower in scope and should therefore be much less work to implement. The type system already has logic to remove types from unions, since type guards do so, th

[2016-12-15 22:31] mhegazy commented on #12959
We would be more in favor of the proposal in https://github.com/Microsoft/TypeScript/issues/12215. the operator is only applicable to literal types (which includes `keyof T`). Can you provide scenarios that would require the approach in the OP?

[2016-12-15 22:32] thekalinga commented on #7849
This more than anything else is the biggest hurdle for users to move away from Webstorm.
Note sure why it is not yet listed in the Roadmap as of yet :(

[2016-12-15 22:32] about-code commented on #12709
@sandersn indeed, you're right. I think I got this mixed up. Thank you very much for your encouraging review.

[2016-12-15 22:32] mhegazy commented on #10733
Duplicate of https://github.com/Microsoft/TypeScript/issues/12234

[2016-12-15 22:32] #10733 closed

[2016-12-15 22:39] PyroVortex commented on #12959
Nothing that I actually need this for, no. All of my use cases can be addressed by #12215. Feel free to close as duplicate of #12215.

[2016-12-15 22:40] donaldpipowitch commented on #8525
So this isn't wanted or is tracked elsewhere?

[2016-12-15 22:41] PyroVortex commented on #12215
Note that `keyof T` may be `string` or `number` or `string | number` (depending on available indexers), and therefore the behavior of `string - 'foo'` will need to be defined.

[2016-12-15 22:41] #12959 closed

[2016-12-15 22:47] dkent600 opened #12961 "compiler exception: "Too many nodes written to output""
**TypeScript Version:**  2.1.4

**Code**

[code]
tsconfig looks like this:
[code]

**Expected behavior:**
Should compile

**Actual behavior:**
The typescript compiler (tsc.exe) fails on an assertion, throwing the following exception:

[code]

[2016-12-15 22:49] dkent600 commented on #12961
Error goes away if you set "target" to "es6"

[2016-12-15 22:50] donaldpipowitch commented on #7849
@thekalinga If you want to switch from WebStorm to VS Code you can [use a plugin](https://marketplace.visualstudio.com/items?itemName=pmneo.tsimporter) to solve this for now. In my experience it works good enough and similar to WebStorm.

[2016-12-15 23:03] wallverb opened #12962 "Allow property (dotted) access syntax for types"
This works:
[code]

Would be nice if we could use it as that:

[code]

[2016-12-15 23:08] dkent600 commented on #12961
Error also goes away if you use regular java `for` loops, like:

[code]

[2016-12-15 23:12] thekalinga commented on #7849
@donaldpipowitch

Thanks for sharing this. I just tried using this. It was unable to show suggestion for `Optional` class

It seems to be searching my source files instead of the dependencies under the source tree.

This seems like a decent attempt to show the suggestions atleast based on the code you already wrote, but not near webstorm

Please let me know if could make `Optional` import to on an

[2016-12-15 23:26] ahejlsberg commented on #12962
You *can* do it by declaring a namespace:

[code]

You're effectively proposing that we do this automatically. But, because you can already do it today, it would be a breaking change to do it automatically because we'd potentially conflict with code such as the example.

[2016-12-15 23:27] thekalinga commented on #7849
Just looked at their TODO

[code]

They have this in the list of items to do. Hopefully once it is implemented, there will some working version similar to Webstorm.

Thanks in anycase

[2016-12-15 23:34] ahejlsberg commented on #12955
Your last example works because the object literal is *contextually typed* by the parameter type. But in the `const k` declaration there is nothing to indicate that you want `kind` to have a literal type so it is widened to `number`. It works when you have a type annotation because you're then contextually typed, just like the function call.

Narrowing further based on *some* use in a (perhaps rem

[2016-12-15 23:34] NoelAbrahams opened #12963 "Enum element with name `false` not compiling"
**TypeScript Version:**  2.1.4

**Code**

[code]

**Expected behavior:**

No error

**Actual behavior:**

Has error

[2016-12-15 23:41] RyanCavanaugh commented on #12963
This should be an easy fix if anyone's interested in sending a PR

[2016-12-15 23:45] aluanhaddad commented on #12961
@dkent600 what is Java?

[2016-12-15 23:46] wallverb commented on #12962
Thank you @ahejlsberg
Yes - I was hoping that it would do this automatically but I understand the implication.

[2016-12-15 23:47] thekalinga commented on #7849
![Good news](https://cdn.meme.am/cache/instances/folder621/250x250/64269621.jpg)

I just found that there is another plugin called [Typescript Hero](https://marketplace.visualstudio.com/items?itemName=rbbit.typescript-hero)

This auto detects all classes from the dependencies aswell & allows you to organise imports (incase if you delete a class reference)

Try this. Some relief for TS developers.

[2016-12-15 23:54] olalonde commented on #9466
Any update on this? Wanted to try typescript in a Node.js environment but documentation is lacking

[2016-12-15 23:56] olalonde opened #12964 "Feature request: Add Node.js integration tutorial"
I wanted to try typescript in a Node.js environment but documentation on https://www.typescriptlang.org/docs/tutorial.html is lacking. Maybe add a "Node.js" tutorial in the "Tutorial" submenu.

[2016-12-16 00:18] mjbvz opened #12966 "Docs not pass down through Partial<T>"
_From @unional on December 15, 2016 23:45_

- VSCode Version: 1.8.0

[code]
![image](https://cloud.githubusercontent.com/assets/3254987/21246397/4feaff4c-c2dd-11e6-8bb8-1e31e0e54bf4.png)
![image](https://cloud.githubusercontent.com/assets/3254987/21246403/5c6d6458-c2dd-11e6-90fd-a2badcc72c35.png)

_Copied from original issue: Microsoft/vscode#17357_

[2016-12-16 00:25] mhegazy commented on #12215
this is not accurate. `keyof` is always a `string`.

[2016-12-16 00:29] mjbvz commented on #12780
@mhegazy Yes, we need some piece of data that tells us what type of occurrences are being provided. Right now we just need to differentiate between symbols and string literals, so a flag would be fine but we may also want to consider something more extensible.

[2016-12-16 00:31] #12961 closed

[2016-12-16 00:37] mjbvz opened #12968 "Better completion support for generics extending interface with optional fields"
_From @unional on December 15, 2016 22:49_

- VSCode Version: 1.8.0

[code]
![image](https://cloud.githubusercontent.com/assets/3254987/21245098/87fb743c-c2d5-11e6-86c3-5d1ff5236955.png)

![image](https://cloud.githubusercontent.com/assets/3254987/21245105/906a3018-c2d5-11e6-88de-f1dcdef107f3.png)

_Copied from original issue: Microsoft/vscode#17351_

[2016-12-16 00:38] mhegazy commented on #10794
this looks like a duplicate of https://github.com/Microsoft/TypeScript/issues/10736.

[2016-12-16 00:38] #10794 closed

[2016-12-16 00:38] mjbvz commented on #12968
Just confirmed that this behavior still appears in the latest TS 2.2 insiders builds as well.

[2016-12-16 00:38] mhegazy commented on #11524
This should be in TS 2.1.4 already.

[2016-12-16 00:38] #11524 closed

[2016-12-16 00:39] #11083 closed

[2016-12-16 00:40] mhegazy commented on #2758
This has not been an issue. closing.

[2016-12-16 00:40] #2758 closed

[2016-12-16 00:42] mhegazy commented on #2831
As we talked earlier, VSCode will also need some information about the lexical location for the completion. @mjbvz can you provide the full list of flags needed?

[2016-12-16 00:43] Sammons commented on #12968
With TS2.1.4 I am running into an issue with parameter type inference

[code]

Should I open this as a separate issue? It seems similar

[2016-12-16 00:50] mhegazy commented on #10736
looks like a duplicate of https://github.com/Microsoft/TypeScript/issues/7046

[2016-12-16 00:50] #10736 closed

[2016-12-16 00:50] mhegazy commented on #9117
looks like a duplicate of https://github.com/Microsoft/TypeScript/issues/7046

[2016-12-16 00:50] #9117 closed

[2016-12-16 00:52] mhegazy commented on #9598
I can reproduce this on latest. please reopen if you are still experiencing this issue.

[2016-12-16 00:52] #9598 closed

[2016-12-16 00:54] mhegazy commented on #9504
The server should be showing an error message when loading too many files now.

[2016-12-16 00:54] #9504 closed

[2016-12-16 01:01] mhegazy commented on #11554
After talking to @kieferrm  about this, openFolder does not seem to be what is needed. A proposal is to add a `workspaceRoot` in the openfile command. when the server opens the file, it will do its normal walk to find a tsconfig.json/jsconfig.json, if one was found, then a configured project is created as normal. if none was found, then create a pseudo-configured project with root at the `workspac

[2016-12-16 01:02] gcnew commented on #9949
I took a stab at this and made a hacky implementation. It's by no means complete, but it can be used to play around with.

Current progress:
[code]

See https://github.com/gcnew/TypeScript/commit/0617c4a9383075d89bece984e73c2da4b05fda26

[2016-12-16 01:03] gcnew commented on #9949
@mhegazy What do you expect the proposal to look like?

[2016-12-16 01:06] mhegazy commented on #10132
looks like a duplicate of https://github.com/Microsoft/TypeScript/issues/12234

[2016-12-16 01:06] #10132 closed

[2016-12-16 01:07] normalser opened #12969 "Show all fields of objects in completion list"
As usual - not sure if its TS, VSC or both

[code]

Intelisense will show:

![image](https://cloud.githubusercontent.com/assets/1723815/21248028/f633dada-c301-11e6-843f-359ae0537425.png)

Would be great if it showed:

![image](https://cloud.githubusercontent.com/assets/1723815/21248035/01794fe2-c302-11e6-8bed-f198abcdb051.png)

and turned into

[code]

if the option that does not work with dotted

[2016-12-16 01:09] mhegazy commented on #11630
looks like a duplicate of https://github.com/Microsoft/TypeScript/issues/9613

[2016-12-16 01:09] #11630 closed

[2016-12-16 01:16] #10248 closed

[2016-12-16 01:17] mhegazy commented on #9666
Can you share a project we can debug against?

[2016-12-16 01:21] #7000 closed

[2016-12-16 01:25] gcnew opened #12970 "Unexpected union type between generic and non-generic function"
**TypeScript Version:**  nightly (2.2.0)

**Code**

[code]

**Expected behavior:**
Union between a function and a generic function should yield the most specific type, not the most general one.

[2016-12-16 01:37] nojvek commented on #10033
So this means typescript cannot be used a pure type validator for js files.

Whey do I need to write a separate .ts file when type information can be
inferred from flow like comments.

A big usecase is just adding types to javascript function parameters.

On Thu, Dec 15, 2016 at 12:54 PM, Mohamed Hegazy <notifications@github.com>
wrote:

[2016-12-16 01:54] mhegazy commented on #12860
@raybooysen can you give it a try with `typescript@2.1.4` or `typescript@next`? if issue still persists please share a sample project we can use or some detailed steps, including versions of the @types packages to be able to reproduce this locally.

[2016-12-16 01:56] eggers opened #12971 "Extending a short hand ambient module import"
**TypeScript Version:**  2.1.1

**Code**

[code]
[code]

**Expected behavior:**

An easy concise way of declaring a module so that the base import can be extended

**Actual behavior:**

error TS2507: Type 'any' is not a constructor function type.

In order to get around the error, I have to do something like this:

[code]

[2016-12-16 01:59] mhegazy commented on #12576
This falls more into the realm of a linter, and would be out of scope for the TS project at the time being.

[2016-12-16 01:59] #12576 closed

[2016-12-16 02:02] mhegazy commented on #12530
can you share more information to help diagnose the issue?

[2016-12-16 02:04] mhegazy commented on #12558
performing such analysis on arbitrary code is not cheep. so it is not that it is not doable, it is that it is not doable given the performance characteristics we are aiming for.

[2016-12-16 02:04] #12558 closed

[2016-12-16 02:10] mhegazy commented on #12408
TypeScript's type system is structural, and we get a lot of benefit from having a class and a function structurally the same. changing the type to make class.apply uncallable has the effect of breaking that assumption. i would rather live is occasional uncaught exception of calling apply, than introducing this breaking change.

[2016-12-16 02:10] #12408 closed

[2016-12-16 02:18] unional opened #12972 "`removeComments` flags removes `/// <reference types=...`"
2.2.0-dev.20161215

[code]

with `removeComments: true`

**Expected behavior:**
Comments are stripped, but `/// <reference ...` remains

**Actual behavior:**
Both stripped.

Is this the correct/expected behavior?

We need to add the libraries we use as `dependencies` if we expose part of the typings (and `devDependencies` if we are not):
https://www.typescriptlang.org/docs/handbook/declaration-fil

[2016-12-16 02:22] mhegazy commented on #12619
the core of the issue here is that the declaration of selenium-webdriver is not correct. it is authored as a global declaration (i.e. can not have two versions of it at the same time), where as it is really a module. the change should be done on DefinitelyTyped to address this.

similar discussion can be found under https://github.com/Microsoft/TypeScript/issues/12550

[2016-12-16 02:33] NoelAbrahams opened #12973 "Unable to use custom Promise definition with two generic parameters as return value for async function"
**TypeScript Version:**  2.1.4

**Code**

**tsconfig.json**
[code]

**Minimal Custom lib.d.ts**

[code]

**Sample Code**
[code]
**Expected behavior:**

No compilation errors

**Actual behavior:**

The compiler prints the following errors:

[code]

I would like the rule `Global type 'Promise' must have 1 type parameter(s)` to be relaxed if possible.

Thanks!

Related issues:
#7588
#5413
#12737
#122

[2016-12-16 02:35] unional commented on #12972
Invalid. It does remains. My eye~! 😭

[2016-12-16 02:35] #12972 closed

[2016-12-16 02:54] DanielRosenwasser opened #12974 "Importing a package doesn't work when 'types' is set to a folder name with an index.d.ts"
Here's the crux

./node_modules/foo/package.json
[code]
./node_modules/foo/lib/index.d.ts

[code]

./hello.ts

[code]

Note that this works if you change the `types` field to `lib/index` or `lib/index.d.ts`.

[2016-12-16 02:57] mhegazy commented on #12619
I have a fix up in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/13382

[2016-12-16 03:09] mhegazy commented on #12328
this indeed is a duplicate of #12123, please see the documentation in https://github.com/Microsoft/TypeScript-wiki/blob/master/Breaking-Changes.md#extending-built-ins-like-error-array-and-map-may-no-longer-work

[2016-12-16 03:09] #12328 closed

[2016-12-16 03:10] zamb3zi commented on #12940
It's not a duplicate of #6579 without some way of incorporating a `keyof` into a regexp, which would seem to be a can of worms.

The sticking point seems to be the use of non-enumerable types extending `string` apart from `string` itself. In mapped types, only: `{[P in string]: ...}` is supported but this is identical to `{[key: string]: ...}`.

The proposal for `A + B` above would take two enumer

[2016-12-16 03:10] mhegazy commented on #12193
Please see https://github.com/Microsoft/TypeScript-wiki/blob/master/Breaking-Changes.md#extending-built-ins-like-error-array-and-map-may-no-longer-work for extending built ins.

[2016-12-16 03:10] #12193 closed

[2016-12-16 03:17] mhegazy commented on #9989
This happens when one of your files declare new properties on one of the DOM interfaces.

[2016-12-16 03:17] #9989 closed

[2016-12-16 03:18] #10022 closed

[2016-12-16 03:21] mhegazy commented on #10241
The library does not redefine all globals on `window`. if you want to use one of these on window you can add it, in one of your files add:
[code]

[2016-12-16 03:21] #10241 closed

[2016-12-16 03:24] mhegazy commented on #12973
I would not recommend changing the global Promise type. the compiler makes assumptions about how it is defined. same goes for PromiseLike.

if you want to use a different Promise definition, and you are running under `--t es5`, consider adding an explicit type annotation on you async functions with the promise type you are using, e.g.:

[code]

[2016-12-16 03:26] mhegazy commented on #11085
PRs welcomed. You can find more information about contributing lib.d.ts fixes at https://github.com/Microsoft/TypeScript/blob/master/CONTRIBUTING.md#contributing-libdts-fixes.

[2016-12-16 03:27] mhegazy commented on #11949
use `--types ` or set `types: []` in your tsconfig.json. this will instruct the compiler to load nothing. Please see more documentation at www.typescriptlang.org/docs/handbook/tsconfig-json.html#types-typeroots-and-types

[2016-12-16 03:40] NoelAbrahams commented on #12973
@mhegazy,

The suggestion is to relax this assumption. There is no actual change to the runtime behaviour of Promise; the only change is that the errors are strongly typed. I don't really see why the compiler should enforce this restriction.

Also, in `MyPromise<string, number, undefined>` how do I ensure the error is strongly typed?

[2016-12-16 04:30] blakeembrey commented on #12948
Thanks. I think I understand the usage of `T[K]` part, just not the part where we could have an expanded `K` on unions that is later narrowed before usage somehow (but I guess there's no way to narrow it today anyway, until subtraction types). I'll keep an eye out and maybe see what I can do for exact types as that sounds like the best solution, thanks.

[2016-12-16 04:50] #12749 closed

[2016-12-16 04:56] threehams commented on #12215
If there are any questions about use cases, this would be incredibly helpful for typing Redux, Recompose, and other higher order component libraries for React. For instance, wrapping an uncontrolled dropdown in a withState HOC removes the need for isOpen or toggle props, without the need to manually specify a type.

Redux's connect() similarly wraps and supplies some/all props to a component, leav

[2016-12-16 05:31] mhegazy commented on #12940
then https://github.com/Microsoft/TypeScript/issues/12754 is what you are looking for.

[2016-12-16 05:36] mhegazy commented on #10033
it can, and it does. the file extension needs to be `.js`.

this works in VS Code / VS 2017 today. just open a `.js` file add jsdoc comments and you should be able to use them. you can use them in your typescript compilation using `--allowjs`.

All the type errors are suppressed in a .js file, but this is tracked by https://github.com/Microsoft/TypeScript/issues/6802

[2016-12-16 05:43] stevekane commented on #12955
@ahejlsberg Thanks for the response.  I understand that feedback and pretty much assumed that was precisely what was happening.  It seems possible to try narrowing the type being inferred to see if any narrower type satisfies the constraints of the program.  I don't see how that would be "bad" behavior as if the type-checker ever manages to become fully satisfied I would see that as a win?

[2016-12-16 05:43] mhegazy commented on #12971
this is the same as:

[code]

the type system does not know what extending `any` really means. does it mean that the class is `any` or how would a `super` call be...

you can cast to a class/constructor function if you need to e.g.

[code]

or just define the class on the module.

[2016-12-16 05:46] mhegazy commented on #9949
mainly how it would be implemented. implications on different parts of the system, e.g. assignablity (`isTypeRelatedTo`), overload resolution, and generic argument inference.

[2016-12-16 05:51] mhegazy commented on #12974
Why do we need to support this? this like 8 extra lookups on disk:
[code]

[2016-12-16 05:54] mhegazy commented on #11423
As noted [earlier](https://github.com/Microsoft/TypeScript/issues/11423#issuecomment-252043655), this would be a large breaking change, or a large tax to take. we would likely implement #11274 instead.

[2016-12-16 05:54] #11423 closed

[2016-12-16 05:55] twoeo commented on #12294
Yes, CFA can not always do every thing.
So it need a easy way to mark up some field.
Mapped Types is useful, especially for those interface which have the same structure but different requirement .

[2016-12-16 05:55] #12294 closed

[2016-12-16 05:57] mhegazy commented on #11912
I believe this should be working back as expected. can you give it another try on the 2.1.4 and reopen if still broken?

[2016-12-16 05:57] #11912 closed

[2016-12-16 05:58] aluanhaddad commented on #12974
@mhegazy then you're really not going to like the feature request I'm about to post ;)

[2016-12-16 06:01] angelozerr commented on #7849
@donaldpipowitch @thekalinga the big problems with thoses kinds of VSCode extensions is that there is a double parsing of TypeScript files (from tsserver and from the extension). I think it should be better than tsserver provides this feature for performance and for the other IDE, Editors.

[2016-12-16 06:07] mhegazy commented on #10282
looks like a duplicate of https://github.com/Microsoft/TypeScript/issues/9613 and https://github.com/Microsoft/TypeScript/issues/9224 respectively

[2016-12-16 06:07] #10282 closed

[2016-12-16 06:13] mhegazy commented on #12102
looks like the same root cause as https://github.com/Microsoft/TypeScript/issues/299.

[2016-12-16 06:14] aluanhaddad commented on #9448
You can also augment the module with the types that are missing so as to not lose intellisence.

[2016-12-16 06:48] donaldpipowitch commented on #7849
@angelozerr Sure, it would be better to solve this inside the language service. But most people just asked for feature parity between VS Code and WebStorm and at the end WebStorm probably parses twice as well.

[2016-12-16 07:54] hemendray120 commented on #12946
Hi sheetal,

Sorry, please find the attached zip containing tsconfig.json and replace the existing file:
[tsconfig.zip](https://github.com/Microsoft/TypeScript/files/656488/tsconfig.zip)

Thanks,
Hemendra

[2016-12-16 08:13] KoenT-IM commented on #12912
OK, understood. At least that gives me a direction.

Should anyone else read this, and have ideas how to go about finding out where this could be coming from, I'd be interested to get some advice.

[2016-12-16 09:02] evisong commented on #2103
Seems it's already state 3, any plan of supporting this?

Btw, we use VSCode mainly for ES development, not TS yet :)

[2016-12-16 09:17] bondz commented on #2103
@evisong this feature has shipped and is already available in the latest version of vsCode. Update your vsCode to version 1.8

[2016-12-16 10:10] jmls commented on #4553
Hmm - I'm using 2.0.10 and tsc -w does not spot new files. If I ctrl-c and restart, it then transpiles

[2016-12-16 10:19] Pzixel opened #12975 "Make possible to group emitted files with single tsconfig"
Currently we have a wonderful feature called `outFile` which allows to compile several `ts` files into single one. But here is a problem if we want, for example, two separated files. For example, we have following directory structure:

[code]
We always want to reference all utility functions and always want our component (`map` for example) be a single entity which should be referenced by one sing

[2016-12-16 10:39] SaschaNaz commented on #4639
I didn't know that, but how about in this case?

[code]

[2016-12-16 10:43] duanyao commented on #10360
For type assertion error, I usually found that the fix suggestions ("Property 'p' is missing in 'T'") misleading.

By definition, if types T and U are not either-way-assignable, there must be
(1) some properies only exists in T and some properies only exists in U, or
(2) same properies with types that are not either-way-assignable.

The actual fix for type assertion error may be done on T or U, or

[2016-12-16 10:53] romiem opened #12976 "Typescript 2.1.4 + webpack + ts-loader: Unhandled rejection TypeError: Cannot read property 'getOptionsDiagnostics' of undefined"
**TypeScript Version:**  2.1.4

**Expected behavior:**
Webpack compiles my project (it compiles fine when using Typescript 2.1.1 or 2.0.10)
There has also been a separate bug filed at [ts-loader here](https://github.com/TypeStrong/ts-loader/issues/416). If you follow that thread to the end, you will see that various versions of ts-loader have been tested against Typescript and it seems to point to

[2016-12-16 11:13] mihailik commented on #4639
My suggestion is to stick to ASM.js treatment: require canonic 32-bit integer and no floating-point edge cases.

8-bit, 16-bit and unsigned/signed variants may exist too, in the same spirit of strict operator checks.

[code]

Of course literal types should be compatible with corresponding integer types. Statically-known expressions ideally should retain that quality too.

[code]

[2016-12-16 11:38] tamlyn commented on #11955
Can someone explain what is happening in @alitaheri's workaround? I've never seen the `null!` syntax before and I can't find any documentation on it.

[2016-12-16 11:41] mkulke commented on #12748
Actually i think this is a typescript issue. Among other lookup methods it's parsing `package.json` of a package and then verifies the existence of the referenced file in there. Sometimes the main script is referenced like this (which is legal, because the `main` field should behave like a node `require`):

[code]

Typescript doesn't find a file, because it does not add a `.js` suffix when looking

[2016-12-16 11:55] BigDataSamuli commented on #12748
@mkulke You are probably on the right track. I had this issue with a package called enzyme, and that one seems to have directory path ("build") as the value of the main field, so you'd need to account for that as well.

[2016-12-16 11:59] rotemdan commented on #12942
I think some of my examples were a little bit misleading and I need to try to clarify what exactly is and is not in the scope of this idea (perhaps for myself as well):

This concept **is** about:

* Providing a way for a `type`, `interface` or `class` declarations to provide a set of assertions on themselves, in the same sense that contracts assert over values. This is very similar in spirit to `

[2016-12-16 12:00] nafferro commented on #12976
same here :(

[2016-12-16 12:15] alitaheri commented on #11955
@tamlyn [This](https://github.com/Microsoft/TypeScript/wiki/What%27s-new-in-TypeScript#non-null-assertion-operator) is where you can find information on it.

[2016-12-16 12:50] Cnnamon opened #12977 "Typescript 2.1.4 wrong compilation order on save with --outFile option on Windows Server 2012 RC"
**TypeScript Version:**  2.1.4

I have installed Visual Studio 2015 Update 3, TypeScript 2.1.4.

``{
  "compileOnSave": true,
  "compilerOptions": {
    "noImplicitAny": false,
    "noEmitOnError": true,
    "removeComments": true,
    "sourceMap": true,
    "module": "amd",
    "outFile": "Scripts/appBundle.js"
  }
}
``

I use _references.ts file in my project root.

Note: Compile on build workin

[2016-12-16 12:55] KnisterPeter commented on #12769
We have a similar case and stumbled above array properties.
E.g. this mapped type:
[code]

does not work well with this typecase:
[code]
as the infered result would be:
[code]
instead of:
[code]

Is there a way to express this recursion with array properties?

[2016-12-16 12:58] AlexGalays commented on #12769
I guess what I am asking for is a way to sometimes opt out of classical structural typing.

Sometimes, some APIs makes no sense if they are invoked with an Array instead of an Object even though it's also correct to pass en empty object.

For instance if an object or an Array are semantically different ( a config/option object, versus a children Array) and can either be in position 2 or 3 of an AP

[2016-12-16 13:16] rotemdan commented on #12942
Another way to express this is that the `where` assertion I'm describing here "validates" the final, resulting type, but does not participate in its formation. It is not the same semantics as `where` in C# , which is used for type parameter constraints.

Maybe the name could be improved. Initially I considered `satisfies`, which I thought didn't read very good, then `where`. I'm considering `asser

[2016-12-16 13:57] cverhelst commented on #7469
This started reoccuring for me on the most recent vs code update. WebDav on SharePoint. We see it's traversing the webdav folder for tsconfig.json & jsconfig.json while issuing a warning in the editor that the TypeScript language service has crashed 5 times in the last 5 seconds.

[2016-12-16 14:03] nbrites commented on #12976
+1

[2016-12-16 14:07] mihailik opened #12978 "(0,eval) produces TS2695"
**TypeScript Version:**  2.1.4

[code]

**Expected behavior:**
Compile fine.

**Actual behavior:**
 error TS2695: Left side of comma operator is unused and has no side effects.

See also at [TS Playground](http://www.typescriptlang.org/play/#src=(0%2Ceval)('123123123')).

`(0,eval)` is a well-used convenience syntax for [invoking `eval` with a global scope](https://developer.mozilla.org/en-US/docs

[2016-12-16 14:12] benjamingr commented on #12973
This is a matter of checked vs. unchecked exceptions. You can get around this by subclassing `Promise`.

It's there for the same reason exceptions in regular non-promise functions aren't declared. It would make no sense to enforce this for async functions but not regular ones:

[code]

Checked exceptions have traditionally been very unpopular in languages that sport them (Java).

[2016-12-16 14:14] NoelAbrahams commented on #12973
how?

[2016-12-16 14:15] benjamingr commented on #12978
`(0,eval)` is a hack, you can just use your own global eval like:

[code]

I'm personally fine with TS erroring out on this. It is a _really_ edgy case.

[2016-12-16 14:19] gcnew commented on #12973
I don't think so.

[2016-12-16 14:41] mihailik commented on #12978
Calling something hack or edge case isn't relevant. `Infinity` is *real* **proper** edge case, yet it produces no error: `1+Infinity`. `(function(){ })()` is a definite absolute hack, yet no errors pop up.

What's relevant is the usage of a given pattern. `(0,eval)` is widely used, even in pretty much cutting edge libraries:

https://github.com/systemjs/systemjs/blob/5ed69b6344e8fc1cd43bf758350b22

[2016-12-16 14:45] rkonstantinov opened #12979 "Duplication of comment block at the start of the file in the generated JavaScript file"
**TypeScript Version:**  2.1.4

It seems that if the file starts with a comment (either block or line), running tsc will result in duplication of this comment in the generated JavaScript file. (This particular output seems to make our rollup setup to choke). If a new line is inserted before the comment, this cannot be observed.

A test repo can be found [here](https://github.com/rkonstantinov/ts-d

[2016-12-16 15:10] streamich opened #12980 "PROPOSAL: Allow class name to be specified by a variable dynamically"
Like so:

[code]

This is similar to how property names in object assignment can be variables:

[code]

Otherwise now all classes get `class_1` name or something like that:

[code]

[2016-12-16 15:38] cwebster2 commented on #12964
Can you clarify what exactly you are looking for?  The link you provided is within a Node.js environment.  It instructs you to install typescript via `npm` and then has you call `tsc` which will be located in you `node_modules/,bin/tsc`.  To me, that is a Node.js environment, managed via npm so I don't really follow what you want more than that.

[2016-12-16 15:48] benjamingr commented on #12973
@gcnew I'd like to retract that statement. Mainly because I don't have anything objective to back it up and I don't think it's the debate we should be having anyway.

@NoelAbrahams `class YourPromise<T,E> extends Promise<T>` and overload the signature of the static `reject`, and `then`.

[2016-12-16 15:49] ianmurrays commented on #10735
I'm constantly getting this error now for some reason.

[code]

macOS 10.11.6
VSC 1.8.0

Using the global typescript installation gets rid of the error though:

[code]

[2016-12-16 15:49] benjamingr commented on #12978
@mihailik `SystemJS` is a _module loader_, it's meant to evaluate code so it's the one place where you might find this hack outside of transpiled code.

I agree there is a bar here of what we want to honor or not. `(function() {})()` for scoping is hardly a hack in "idiomatic JS". Relying on whether or not `eval` is referenced directly or indirectly for defining global variables seems like a much

[2016-12-16 16:08] RyanCavanaugh commented on #12978
Allowing *strictly* `eval` as a special case right operand here seems fine.

[2016-12-16 16:11] Cnnamon commented on #12977
Actually this happens with all versions i tested (above 1.8.4)

Adding dummy file in certain place solves the problem temporarily, because it goes to the bottom of compiled javascript file.
All the times i tested only one file from my _references.ts config file goes to the bottom. Renaming or adding new files to the _references.ts file changes the compilation order.

[2016-12-16 16:13] vladima commented on #10735
@ianmurrays can you please share a repro so we can try to isolate the root cause of the problem?

[2016-12-16 16:17] NoelAbrahams commented on #12973
That was something I thought would work, but the way Promise is defined in `lib.d.ts` it's not trivial.
(Also #12737 is a blocker, but that's not important.)

The original issue was not really about errors: it was to relax the restrictions on how `Promise` is defined in `lib.d.ts`. The fact that I'm using the second generic parameter as an error type is beside the point.

[2016-12-16 16:19] gravaton commented on #12950
@RyanCavanaugh  I do see how naming and other subjective things can make it look like it "should" be one way or the other, and I suppose this is just one of those tricky problems that lacks a single solution that makes everyone happy.  So, to move to productive discussion, if this is the way things should be, what's the appropriate way for me to construct my code in situations like this?  Right no

[2016-12-16 16:28] RyanCavanaugh commented on #12950
I think that's the best workaround (assuming you don't want to change `property` to a `getProperty` method)

[2016-12-16 16:30] nippur72 commented on #11296
@mhegazy thanks for the clarification

[2016-12-16 16:30] #11296 closed

[2016-12-16 16:32] gravaton commented on #12950
The particular code I'm working with is actually based on `Set.length` so it's probably easier to just be a little explicit with my conditional test than to override things on a core Node class :).  Thanks for the direction!

[2016-12-16 16:34] mihailik commented on #12978
Totally agree with `eval` being the only special exception here.

Certain type of code relies on `eval`: binding frameworks, dynamic code transforms, loaders and so on. Indirect `(0,eval)` is an important feature in such cases.

Couple more examples:

https://github.com/knockout/knockout/blob/241c26ca82e6e4b3eaee39e3dc0a92f85bc1df0c/build/fragments/extern-pre.js#L4

https://github.com/facebook/rea

[2016-12-16 16:46] sandersn commented on #11724
The problem is that `isSymbolInScopeOfMappedTypeParameter` doesn't know about JSDoc. This function skips instantiation for type parameters that aren't even in scope. Unfortunately, it thinks that JSDoc type parameters are not in scope!

[2016-12-16 16:53] RyanCavanaugh commented on #12980
Class expressions are an ES6 feature and there's not anything motivating TypeScript to add this kind of syntax (i.e. it doesn't improve static typing at all), so this suggestion should go to ES Discuss / the TC39 committee.

[2016-12-16 16:53] #12980 closed

[2016-12-16 17:06] RyanCavanaugh commented on #12975
I can't imagine a solution here that would be general-purpose enough to fit more than exactly your scenario while still not being more complicated than what you're already doing. But if other people can chime in with their scenarios maybe we could come up with something.

Q: Are you aware of config file inheritance?

[2016-12-16 17:14] RyanCavanaugh commented on #12979
Verified repro in `@next`

[2016-12-16 17:50] RyanCavanaugh commented on #12977
Exact instructions + example files for reproducing this would be helpful

[2016-12-16 17:52] mkulke commented on #12748
@BigDataSamuli this would also be fixable, but require some more profound changes to the module importer code.

[2016-12-16 17:53] ToddThomson opened #12983 "Allow ES6 export syntax inside namespaces"
I would like to be able to use export {} to reexport a named import within a namespace. Typescript does provide an export import for this, but it only works with import * as. I'd like to stay away from the export import syntax.

export var does work with import {} and should produce the same js as export import.

[code]

[2016-12-16 17:55] RyanCavanaugh commented on #12983
Isn't that just `export type NamedImportA = A;` / `export const NamedImportA = A` ?

[2016-12-16 17:57] aleksey-bykov commented on #12975
config file inheritance has it's limits, in my case i have 11 entry points (topmost scripts to start execution from), so i need to generate 11 different bundles using `outFile` which requires me to create and support 11 different configs
[code]

and we are planning to add 27 more

why won't you allow `files` `includes` `excludes` to be passed as arguments: #12958 ?

[2016-12-16 18:01] sandersn commented on #11724
Fix is up at #12982

[2016-12-16 18:04] aochsner commented on #12234
Happy to take a stab... can you point me in the right direction?

[2016-12-16 18:06] aleksey-bykov commented on #12975
another use case, for the sake of saving some time i to compile a only sub-tree of our 1500+ project starting at given root file, yet using the `compilerOptions` from the `tsconfig.json`

@RyanCavanaugh  how can i do it?

[2016-12-16 18:15] aleksey-bykov commented on #12958
### case 1: multiple entry points to the application

I have 11 entry points (topmost scripts to start execution from), so i need to generate 11 different bundles using `outFile` which requires me to create and support 11 different configs
[code]

and we are planning to add 27 more

[2016-12-16 18:15] aleksey-bykov commented on #12958
case 2: compiling a sub-tree of all files based on `compilerOptions` from `tsconfig.json`

another use case, for the sake of saving some time i to compile a only sub-tree of our 1500+ project starting at given root file, yet using the `compilerOptions` from the `tsconfig.json`

[2016-12-16 18:25] ToddThomson commented on #12983
Yes, they all produce exactly the same emitted js code.

It just all seems a bit muddled and inconsistent to me. I started out using using ```export { NamedImport }``` and ```export { NamedImport as Name }``` within the namespace, but that was not allowed. I then tried using ```export import``` within the namespace and that didn't work with the top level ```import { NamedImport }```, however it di

[2016-12-16 18:29] eggers commented on #12971
@mhegazy Those solutions are all very verbose when declaring many modules as an interim step in converting a large javascript codebase.

It would be better to have the short hand module declaration export a more inclusive `any` object which allowed one to extend it. I can already call `new` on the import, but can't extend it? e.g. the following generates no error:

[code]

[2016-12-16 18:30] waderyan opened #12984 "Go to definition is broken in JavaScript in some cases"
_From @andreshg112 on December 14, 2016 23:18_

- VSCode Version:
Versión 1.8.0
Shell 1.4.6
Representador 53.0.2785.143
Node 6.5.0

- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. Open an AngularJS controller file
2. Press Ctrl and then try to click on a function to go to its definition. It doesn't work on my machine like before.
I'm having this trouble since version 1.7

_Copied from original

[2016-12-16 18:30] waderyan commented on #12984
_From @mjbvz on December 14, 2016 23:20_

Can you please provide some example code and share your workspace so that we can investigate.

Thanks

[2016-12-16 18:30] waderyan commented on #12984
_From @andreshg112 on December 14, 2016 23:26_

@mjbvz, I'm working on this file:
https://github.com/andreshg112/ion-md-cli/blob/master/www/app/vendedor/pedidos/pedidos.controller.js
When I try to click on a function, for example: agregarProducto, It doesn't go to its definition.
And now I realize that Second Click -> Go to definition and F12 are not working either.

jsconfig:
https://github.com/a

[2016-12-16 18:30] waderyan commented on #12984
_From @mjbvz on December 15, 2016 2:23_

I've tried to reproduce this issue using your project on both OSX and Ubuntu, but have not been able to. A few other questions:

* If you view the symbols for the javascript document, is anything listed?
* What extension do you have installed? Does this still happen if you run VSCode with ` --disable-extensions`?
* Do you have a custom "typescript.tsdk" set

[2016-12-16 18:30] waderyan commented on #12984
_From @andreshg112 on December 15, 2016 2:33_

@mjbvz, that's another problem: My symbols in Javascript are taking too much time to load.
When I disabled the extensions, They were loaded faster. But the problem It's still the same.
I don't have a custom "typescript.tsdk".

[2016-12-16 18:30] waderyan commented on #12984
_From @mjbvz on December 16, 2016 0:43_

@andreshg112 Still unable to repo this.

Can you please try adding the setting `"typescript.tsserver.trace": "verbose""` to your workspace and reloading VSCode. Open the file that is having the problem and reproduce the issue. Then go to the  `TypeScript` tab in the output view and share the output from there. This will help us investigate what is going wro

[2016-12-16 18:30] waderyan commented on #12984
_From @budiadiono on December 16, 2016 9:55_

@mjbvz I have same problem with my vscode 1.8 running on Windows 10. I have followed your instruction by adding the setting `"typescript.tsserver.trace": "verbose"` and here's the results:

[code]

[2016-12-16 18:30] waderyan commented on #12984
I'm going to migrate this to the TS repo to get some help investigating. Thank you for providing the info @budiadiono

[2016-12-16 18:31] waderyan commented on #12984
@mhegazy when you have a chance, the log above looks like an issue in tsserver. We could use your help investigating.

[2016-12-16 18:34] waderyan commented on #7849
Thank you for your feedback here! Although not tracked on TypeScript's repo, this is an issue we have high on our priority list on the VS Code side. As we nail down the planning more we will make it public.

[2016-12-16 18:35] vladima commented on #12984
based on symptoms it looks similar to https://github.com/Microsoft/TypeScript/issues/12827 that was already fixed in master. Can you try if this issue still exists if you use `typescript@next`?

[2016-12-16 18:39] waderyan commented on #12984
Ping @budiadiono. Can you try this with `typescript@next`?

You can read how to change your TS version here - https://code.visualstudio.com/docs/languages/typescript#_using-newer-typescript-versions

[2016-12-16 18:43] aleksey-bykov commented on #12973
#12737 is fixed it says

[2016-12-16 18:44] aleksey-bykov commented on #12973
related: #10751

[2016-12-16 18:47] waderyan commented on #12243
@mhegazy I believe this should be reopened. This is a different scenario then #7849 and will not be covered. #7849 is to auto add the imports. This is to receive intellisense for the modules within an npm package.

The user scenario where this is valid is with the popular material-ui library. They have lots and lots of modules in each package. Not having IntelliSense is quite a pain. WebStorm will

[2016-12-16 18:48] olalonde commented on #12964
All the tutorials seem to be targeted at developers writing browser side JavaScript. I'd like a tutorial on setting up an express app for example. I believe there are some compiler options like `target` that would be especially helpful for Node.js code. Maybe just linking to a few open source libraries that use TypeScript on GitHub would help immensely.

[2016-12-16 18:48] RyanCavanaugh commented on #12983
[The answer is always the same: because no one ever designed, specified, implemented, tested, documented and shipped that feature.](https://blogs.msdn.microsoft.com/ericlippert/2009/06/22/why-doesnt-c-implement-top-level-methods/)

[2016-12-16 18:49] calebmer commented on #5579
The implications of this proposal and cross-class privacy interests me. In some more complex systems it may be nice to have a module with multiple classes that can call certain methods on each other, but not allow consumers access to those methods. A hidden symbol (hidden from consumers at least) could be an interesting solution to this. Take the following code:

[code]

[2016-12-16 18:55] waderyan commented on #11823
Yes will do.

[2016-12-16 18:57] waderyan commented on #11657
This issue was moved to Microsoft/vscode#17409

[2016-12-16 18:57] #11657 closed

[2016-12-16 19:03] waderyan commented on #10092
@mhegazy this actually looks like a duplicate of https://github.com/Microsoft/TypeScript/issues/12243

See my comment in that issue. I propose we reopen one of these.

[2016-12-16 19:03] vitaly-t opened #12985 "Comments are lost between the lines"
Input:

[code]

Expected output:

[code]

Actual output:

[code]

TypeScript version: All.

**NOTE:** Flag `removeComments` has no effect in such cases.

[2016-12-16 19:08] mwrouse commented on #12985
Compile your TypeScript with the -c option, which preserves comments.

Or in your `tsconfig.json` file add:
[code]
to your `compilerOptions` section.

[2016-12-16 19:11] vitaly-t commented on #12985
This option got nothing to do with it, it only works for other types of comments, but it doesn't work for comments between the lines as shown in the example.

[2016-12-16 19:27] ToddThomson commented on #12983
Sorry, I just wanted to construct "logical" modules in my code using Typescript. I don't need to have ES6 export syntax work inside namespaces to make this work.

[2016-12-16 19:33] waderyan commented on #12185
Will do. Thanks!

[2016-12-16 19:33] waderyan commented on #12185
This issue was moved to Microsoft/vscode#17414

[2016-12-16 19:33] Pzixel commented on #12975
@RyanCavanaugh I'm aware about it, but for some reason it was not working. Now i assume becuase `tsconfig` file has another name (something.tsconfig.json for example), and it was stopping `tsc` from usage of this config. Compiler is pretty conservative with `tsconfig` naming, any extra character make file to be invisible to compiler system.

[2016-12-16 20:00] fongandrew opened #12986 "Cannot extend mapped types"
**TypeScript Version:**  2.1.4

**Code**

[code]

**Expected behavior:** Compiles

**Actual behavior:** `An interface may only extend a class or another interface.`

[2016-12-16 20:52] budiadiono commented on #12984
Cool! workaround with `typescript@next` solves the problem, thank you so much @waderyan.

Here's what I did:

* Change my local typescript package to the `@next` version
* Set `"typescript.tsdk": "./node_modules/typescript/lib"` in vscode workspace setting

[2016-12-16 21:08] #12984 closed

[2016-12-16 21:52] mhegazy commented on #12243
The original snippet works as intended. and has been working like that for a while so i am not sure i understand what you mean.
![animation](https://cloud.githubusercontent.com/assets/8000722/21279748/bfa07088-c396-11e6-990a-a266adb483ea.gif)

[2016-12-16 22:16] ahejlsberg commented on #12986
This is not an easy change as it would require some deeper architectural reworking. Note that you can accomplish pretty much the same effect with the intersection type operator:

[code]

[2016-12-16 22:17] andreshg112 commented on #12984
@waderyan, sorry, I'm not using TypeScript and there is no local version of ts in my project. How can I do what you're proposing?

[2016-12-16 22:17] pizza2code opened #12987 "Multicore compilation on roadmap?"
Greetings,

Does the Typescript team have any plans for enabling multicore compilation?  At my org, we're developing HTML5 applications with Typescript.  Our test test laptops have 8 cores and the dev machines 64+ cores.  It would be great to speed up builds by spreading compile jobs over multiple CPUs.

If not, I understand.  The priorities of web development are a bit different than applications

[2016-12-16 22:22] mjbvz commented on #12984
@andreshg112 You can trying installing `typescript@next` globally and point `"typescript.tsdk"` there:

* `npm install -g typescript@next`
* `npm root` - Get root path to npm install
* Set `"typescript.tsdk"` to root + `/typescript/lib`

[2016-12-16 22:33] ZanderBrown commented on #12949
Perhaps @robdodson & the polymer team can shed some light on the matter

[2016-12-16 22:37] Mosho1 opened #12988 "Type inference for keys in for...in loops"
**TypeScript Version:**  2.1.4

**Code**

[code]

**Expected behavior:**
[code]

**Actual behavior:**
[code]

[2016-12-16 22:41] normalser opened #12989 "React autocomplete issue"
[code]

Here are suggestions for `<Test />`
![image](https://cloud.githubusercontent.com/assets/1723815/21280868/b6369c28-c3b6-11e6-9c75-b91391413d2c.png)

Here are suggestions for `<Ui.Test />`
![image](https://cloud.githubusercontent.com/assets/1723815/21280881/c2b06c90-c3b6-11e6-8b3a-20cb5f52354b.png)

[2016-12-16 22:46] andreshg112 commented on #12984
Thanks!
Now It's working well.

[2016-12-16 22:54] gcnew commented on #12987
Which company was that? I'd love to get one of your 64+ core machines.

[2016-12-16 23:00] robdodson commented on #12949
ah I think you're running into this issue https://github.com/webcomponents/custom-elements#known-issues

[2016-12-16 23:08] ahejlsberg commented on #12988
Duplicate of #12314.

[2016-12-16 23:44] rotemdan commented on #12986
Just wanted to add: I have considered suggesting this myself, though one thing I must mention is that even if it was made possible to inherit from computed types, that would still miss a significant use case for them as generators of "templates" for new types (rather than serving as base types). I'll try to demonstrate:

Let's say I have an existing type of this shape:

[code]

Now I want to decla

[2016-12-16 23:47] jaredru opened #12991 "T[keyof T] type constraint lost in function body"
**TypeScript Version:**  2.1.4 / nightly (2.2.0-dev.20161216)

[code]

**Expected behavior:**

Given the constraints, I would expect `obj[key]` in this case to be of type `string`.

**Actual behavior:**

The type of `obj[key]` is the less specific `T[K]`.

Considering the error at the second call site (which is expected), it seems that the type checking done there is complete and working.  However

[2016-12-17 00:30] mutsys commented on #12976
experiencing this same issue as well

[2016-12-17 01:01] AlexGalays opened #12992 "Allow mixed explicit / inferred type parameters"
**TypeScript Version:**  2.1.4

Often, I'd like to manually specify a type parameter for a generic type, but let it infer the other type parameters:

e.g:

[code]

The P type parameter cannot be inferred here because there are no values of type P on the right hand side. I sometimes use that to capture a user specified type that will have to be matched with other types later.

On the other hand, th

[2016-12-17 01:46] Izhaki commented on #4384
@jbrantly

Not sure why you have `data: string` in your signature. This works:

[code]

[2016-12-17 01:47] Izhaki commented on #4384
At any rate, not sure why this ticket is closed.

Why is this not valid ES6:

[code]

or just this:

[code]

Why reconstruct and deconstruct `arguments`?

[2016-12-17 01:59] AlexGalays opened #12993 "Type["key"] inside Mapped type doesn't compile"
**TypeScript Version:**  2.1.4

It appears we cannot use the Type["key"] notation inside a Mapped type?

**Code**

[code]

**Expected behavior:**
RouteMapParams should compile

**Actual behavior:**
error TS2339: Property 'params' does not exist on type 'T[K]'

[2016-12-17 02:10] wallverb opened #12994 "Cannot read property 'emitNode' of undefined"
TS version: `Version 2.2.0-dev.20161216`

[code]

Got this, but unfortunately I'm not sure how to reproduce

[2016-12-17 02:11] ahejlsberg commented on #12993
It works with the nightly if you change the declaration of `RouteMap` to

[code]

You could argue that `any` should behave the same as `string` when it is the constraint of a mapped type, but it currently doesn't and I'm not 100% sold that it should.

[2016-12-17 02:25] olafahn opened #12995 "BaseUrl is not working in jsconfig.json"
**TypeScript Version:**  2.1.0 / nightly (2.2.0-dev.201xxxxx)
(vscode version 1.8.0)

Hello, @dbaeumer !
this feature seems not working for me.

i checked my vscode version, (1.7.2) which uses typescript server 2.0.10
and i also tried to use typescript@next for my vscode,
but vscode hint me with underline as Property baseUrl is not allowed.

so i changed jsconfig.json => tsconfig.json,
then add al

[2016-12-17 02:29] JakeGinnivan commented on #11566
When this is fixed the case for returning strings from stateless components should also be fixed.

[code]

[2016-12-17 02:37] yaooluu opened #12996 ""tsc -w" will compile and watch, then how to run tsc in "watch-only" mode without compiling?"
**TypeScript Version:**  2.0.3

Hi, I'm finding it confusing when using "tsc -w". From angular quickstart guide and almost every tutorial, I see similar things in package.json as the line below:

[code]

**Expected behavior:**
The command should compile only once, and then "watch" and "start lite-server" at the same time.

**Actual behavior:**
The command compiles once first. Then "compile and wat

[2016-12-17 05:18] FranklinWhale commented on #3111
@zhengbli Is there any update on this issue?

[2016-12-17 05:34] aluanhaddad commented on #12987
Really nice to know that there are organizations that still understand the value of this. In so many jobs nowadays a workstation is considered a luxury which is just ridiculous </endrant>

[2016-12-17 05:49] DanielRosenwasser opened #12997 "Design Meeting Notes, 11/16/2016"
# Intrinsic `object` Type (#12501)

Can't be an object-type (in terms of how the spec/compiler defines object types).
This is more like a primitive.

* Don't want it to be assignable to any other primitive.
* Will have an apparent type of `Object`.
* Anything is assignable to `{}` (and almost anything is assignable to `Object`).
    * So `object` should be assignable to `{}` and `Object`.
    * Wh

[2016-12-17 05:49] #12997 closed

[2016-12-17 05:54] DanielRosenwasser commented on #12962
There's a pretty similar example [here](https://github.com/Microsoft/TypeScript/issues/6606#issuecomment-234867480).

[2016-12-17 06:35] FranklinWhale commented on #3111
By the way, I have made an updated defintion for `Notification`:

[code]

[2016-12-17 06:45] DanielRosenwasser commented on #12964
I think this is reasonable. In general I'd like for us to have a decent Express tutorial, or something along those lines.

[2016-12-17 06:48] DanielRosenwasser commented on #12234
The formatting logic resides in `src/services/formatting`. You'll want to check out the `tests/cases/fourslash` directory and peek around to get a sense of how to write a formatter test.

Also see our [CONTRIBUTING.md](https://github.com/Microsoft/TypeScript/blob/master/CONTRIBUTING.md).

[2016-12-17 06:58] DanielRosenwasser commented on #12875
Technically this isn't entirely incorrect because at any given directory level, the module will be resolved differently.

[2016-12-17 08:09] DanielRosenwasser commented on #12949
Yes, I suspected this is the issue. It's really unfortunate that something like `Reflect.construct` wasn't provided earlier on in runtimes.

For others running into this issue, I suggest using the shim that @robdodson linked to - thanks for the response Rob!

[2016-12-17 08:09] #12949 closed

[2016-12-17 08:54] frankwallis commented on #12875
The reason I raised this is because we are seeing very poor compilation times on windows (about 30-35 seconds) and I think it is caused by the recursive directory crawl.

We have a slightly strange directory structure where our ```node_modules``` folder is not found by moving up the directory tree, because we have separated our runtime node-modules from our development ones, it looks like this:

[

[2016-12-17 09:04] aluanhaddad commented on #12983
I think this is really going to confuse people who are using UMD style modules. Let's say I'm using a package like Esri Leaflet and I want to use the `L.esri.Cluster.FeatureLayer` class. I can write
[code]
Then I need a utility method from Leaflet and one from EsriLeaflet
[code]
This just great. I can do it any way I want
[code]
Never ending fun.
I would rather have fewer ways to write these, ther

[2016-12-17 09:20] frankwallis commented on #12875
For the record, running the compiler with ```--traceResolution``` outputs 250,000 lines of text, which to me implies > 200,000 failed file resolutions for each compilation.

[2016-12-17 09:20] aluanhaddad commented on #12995
I tried this in 1.9.0-insider with typescript@next and I definitely see the warning for (`jsconfig.json` files only).
@olafahn
The good news is that it actually respects the setting in spite of the warning, so you should be able to safely ignore it.

[2016-12-17 09:25] aluanhaddad commented on #12875
I really want this capability. I can't seem to tell the compiler that I don't want a node style file system traversal. For example if I am using JSPM this happens even though it will never resolve to anything I want it to resolve.
Even when using npm + Webpack, I don't want it reach above a certain level. There might be types there but I don't want them resolved because they are not part where my

[2016-12-17 09:59] rotemdan commented on #12936
What if I want to express a union of types, where some of them are exact, and some of them are not? The suggested syntax would make it error-prone and difficult to read, even If extra attention is given for spacing:

[code]
Can you quickly tell which members of the union are exact?

And without the careful spacing?
[code]
(answer: `Type3`, `Type5`)

[2016-12-17 10:03] ZanderBrown commented on #12987
`<mild-rant>` As a tag starting `</` is an end tag is it not implied that it is the end? also `<endrant></endrant>` look really odd `</mild-rant>`

[2016-12-17 10:25] ZanderBrown commented on #12949
The shim does *mostly* work but unfortunately has issues with elements that extend other custom elements.

For example
[code]
works fine however

[code]
does not.

Perhaps remove the reference to custom elements from the *What's New* document to avoid confusion especially as TypeScript doesn't even recognise the `customElements` object

[2016-12-17 12:53] AlexGalays commented on #12993
Indeed it works now, thanks :)

[2016-12-17 12:53] #12993 closed

[2016-12-17 15:23] yortus commented on #12978
For reference, background to current behaviour can be found in #10814 which was prompted by the scenario in #10802.

[2016-12-17 15:38] timpler opened #12998 "Implementing interface is not required for class children?"
Lets say I have some interface:

[code]

And then I have some class that implements it (note this class is extending another class)

[code]

Now I have another class that extend `BaseModel`:
[code]

Is it bug or am I doing something wrong?

[2016-12-17 16:07] isiahmeadows commented on #4639
@SaschaNaz I forgot the "assuming `Infinity` and `-Infinity` are counted as integers". My bad.

It's a loss of precision, but in theory, it's still an integer despite the imprecision.

[2016-12-17 16:15] tinganho opened #12999 "How to pass a class value & type only once?"
Sorry for asking a question here. Though I don't know a better place to ask ;).

I'm currently designing an API for a data class. Is there a way to pass the value and type of a class declaration in only one pass?

Instead of passing the `User` model below twice:
[code]
Is there anyway I can write the `Collection` class so it only takes `User` as an argument only once, but still have access to both

[2016-12-17 16:21] aluanhaddad commented on #12978
@yortus thanks for the providing the context. It seems a bit hand-holdy given that it's not a type level rule and that people can generally be expected to know the syntax for control flow constructs. The comma operator is definitely an easy thing to get wrong and probably something I would otherwise want to ban with a linter but not necessarily at the language level.

[2016-12-17 16:51] aluanhaddad commented on #12998
The implementation is provided by the base class. Child classes inherit it automatically.

[2016-12-17 16:54] aleksey-bykov opened #13000 "how can i strip readonly via mapped types?"
nightly build  of Dec 17

given
[code]

i need a writable version of it

[code]

where `Writable` is
[code]

[2016-12-17 16:58] timpler commented on #12998
What if I want parent class to be `abstract` and require child classes to implement interface, or in case they override parent class, to keep overrides following parent interface?

[2016-12-17 17:04] #12109 closed

[2016-12-17 17:07] aluanhaddad commented on #12999
This works, but it doesn't preserve statics
[code]

[2016-12-17 17:16] monolithed opened #13001 ""typeRoots" is ignored by "include""
**TypeScript Version:**  2.0.8
**Node Version:**  7.2.1
**OS** Darwin Kernel Version 16.1.0

**project**

[code]

**tsconfig.json**

[code]

**Actual behavior:**

`"typeRoots"` is ignored by `"include"`.

**Expected behavior:**

`"typeRoots"` is not ignored.

 I'm not sure if this is a bug or if it's by design, but I spent some time to identify my problem.

[2016-12-17 17:16] tinganho commented on #12999
@aluanhaddad your solution doesn't seem to pass the value only type?

I got a runtime error running your example:
[code]

[2016-12-17 17:25] aluanhaddad commented on #12999
Sorry, a workaround something like
[code]

[2016-12-17 17:29] aluanhaddad commented on #12998
Then you would decorate each method in the base class with the `abstract` modifier. Alternatively you could declare that the child class implements base class as supposed to be hurting from it, or both.

[2016-12-17 17:35] tinganho commented on #12999
[code]
I think this is still passing twice or even more, because you need to pass on every instance creation.

[2016-12-17 17:37] aluanhaddad commented on #12999
It is only being passed once per instantiation. But since the static type members cannot access type parameters and the class is generic, I don't see how to avoid that.

[2016-12-17 17:37] blakeembrey commented on #12936
@rotemdan See the above answers. There's the generic type `Extact` instead.

[2016-12-17 17:46] aluanhaddad commented on #12999
You can also do something more unorthodox, but actually I think rather elegant, which is to expose a subclass factory.
[code]

[2016-12-17 18:33] rotemdan commented on #12936
There's also the concern of how it would look in editor hints and preview popups. Type aliases currently just "flatten" to raw type expressions. The alias is not preserved so the incomperhensible expressions would still appear in the editor, unless some special measures are applied to preserve it.

I find it hard to believe this syntax was accepted into a programming language like Flow, which does

[2016-12-17 18:38] robdodson commented on #12949
@ZanderBrown would you mind opening an issue on the custom elements polyfill? just off the top of my head... did you remember to call super() in your constructors?

[2016-12-17 19:40] aleksey-bykov opened #13002 "add `enforceReadonlyAssignability` flag for smoother transition to true readonly modifiers"
~this can be seen in the nightly build as of Dec 17 (as well as at playground)~

[code]

~this can't be serious, can it?~
~why is it called readonly?~

~please note there are no type assertions  or any other attempts to trick the type system, it just simply doesn't work~

~50+ errors left uncaught~

### UPDATE
----------------------------------------------------
constructive discussion starts here

[2016-12-17 19:43] ToddThomson commented on #12983
Since this issue has been reopened, I'll give my thoughts...

After Ryan's response, I dug a bit deeper into the spec for ES6 module exports. Since ES6 imports and exports must be top level, I'd say that is the reason that the Typescript team does not currently provide export {} within a namespace. However, it does allow export var ( const, function, etc). So exports are not strictly forbidden wit

[2016-12-17 20:22] ZanderBrown commented on #12949
Sure i'll do that and i called 'super' from the TypeScript code but obviously that gets translated by typescript

[2016-12-17 20:23] tinganho commented on #12999
Thanks @aluanhaddad! I think I will go with the unorthodox method.

[2016-12-17 20:23] #12999 closed

[2016-12-17 20:36] gcnew commented on #12992
I'm interested in how are you using this and does it work correctly. As far as I know phantom types are not supported by TS (it uses structural checking after all).

[2016-12-17 20:37] aleksey-bykov opened #13003 "reveal a subset of TypeScript that is 100% guaranteed type-safe"
this is ridiculous: https://github.com/Microsoft/TypeScript/issues/13002

my problem is that when i see  something claimed  done "we have readonly properties" i trust this statement and i am eager to use them, it turns out i should have not tried, because well they are not done

there is no reason to lie about what TypeScript can and cannot do

please be honest to your users

there is a sub-set of

[2016-12-17 20:52] RyanCavanaugh commented on #13003
Not happening. PureScript, Haskell -> JS, etc are all options if you want to go down this route.

[2016-12-17 20:52] #13003 closed

[2016-12-17 20:54] RyanCavanaugh commented on #13002
This was described at https://github.com/Microsoft/TypeScript/pull/6532#issuecomment-174356151

[2016-12-17 21:03] aleksey-bykov commented on #13003
Not happening what? You can't add to the release notes a side note in a fine font saying:
[code]

Why not?

[2016-12-17 21:07] aleksey-bykov commented on #13003
Why can't you be honest about what your features can and cannot do?

[2016-12-17 21:11] RyanCavanaugh commented on #13003
If you just want to vent, please install https://chrome.google.com/webstore/detail/complain-on-twitter-for-g/ionkpikblpmdnbakeihghkmgbchcfeii

[2016-12-17 21:14] aleksey-bykov commented on #13003
i am just asking you a simple fair question, why can't you be honest about know limitations?

[2016-12-17 21:21] RyanCavanaugh commented on #13003
We don't lie about what things do and don't do, so please don't accuse us of that. I'm sorry that `readonly` doesn't meet your expectations, but we made the intentional decision to make it work that way so that it could find real usage in many common scenarios. Given a magic wand to release the first version with built-in `readonly` support we probably would have gone a different way, but these th

[2016-12-17 21:25] aleksey-bykov commented on #13003
readonly means only reading, TS did lie (see #13000) or is horrible at
giving names, I understand I can't have all, I don't understand loud
statements proved to be wrong

On Dec 17, 2016 4:21 PM, "Ryan Cavanaugh" <notifications@github.com> wrote:

[2016-12-17 21:29] RyanCavanaugh commented on #13003
Adopting the binary position that a feature is either 100% sound or "useless" would lead to us adding approximately 0 features ever.

`readonly` prevents direct mutation of the declared property through that reference. That's it. Doesn't go far enough? Fair criticism. A lie? No. It's still useful, e.g. #10097.

[2016-12-17 21:41] aleksey-bykov commented on #13003
Much better

[2016-12-17 21:42] sarod opened #13004 "Error: Debug Failure. False expression: File normalize.css/normalize.css has unknown extension."
**TypeScript Version:**  2.1.4 and nightly (2.2.0-dev.201xxxxx)

**Code**
[code]

**tsconfig**
[code]

**Expected behavior:**
Tsc should compile without error as ts 2.0.10 does.
This kind of import are handled by webpack that injects the css at runtime.

**Actual behavior:**
Running tsc 2.1.4 fails with the following error
[code]

I initially thought it was a ts-loader issue that fails with anothe

[2016-12-17 21:42] aleksey-bykov commented on #12
An important missing side note: https://github.com/Microsoft/TypeScript/issues/13003#issuecomment-267787964

In plain English it means that #13000 is a use case yet to be looked at

[2016-12-17 21:48] sarod commented on #13004
The code also compiles using typescript 2.1.1.

[2016-12-17 22:17] vladima commented on #13004
@andy-ms can you please take a look?

[2016-12-17 22:19] AlexGalays commented on #12992
Yes it works as expected. It can be useful when used together with user defined type guards or just to carry some type for use somewhere else.
Guess I should read the FAQ one day :D

[2016-12-17 22:22] raveclassic commented on #13000
I'm running into exactly the same issue.
For example, internal types of some complex tree structure should be immutable in public interface but for the sake of performance there should be a way for direct mutation in internal methods. It's a perfect place for a cast to a `Writable<T>` or even better `Mutable<T>`.

[2016-12-17 22:45] justinfagnani commented on #12949
Because custom elements basically require classes, I would recommend distributing ES6 to browsers that super it and only ship ES5 to older browsers. The shim is mostly for situations where you have a static server and incurs a performance penalty on browsers with native custom elements.

[2016-12-17 22:47] justinfagnani commented on #12949
@danielrosenwasser Reflect.construct doesn't since the issue, and I don't recommend using it to work around this issue. It's not a replacement for super() because it always allocates a new instance. Performance is very bad sometimes.

[2016-12-17 22:49] aleksey-bykov commented on #13000
Forget about it, readonly properties are useless due to #13002. Focus on something more rewarding.

[2016-12-17 23:02] aleksey-bykov commented on #13003
Can't see foe it is useful in #10097 or anywhere at all. Truth is you are either readonly or you are not. Anything in between doesn't make any sense, no matter how you put it. It's like saying that a boolean can in facT be true false or something else. Thus there was no single reason to go this way. Especially for a brand new feature that is by definition an opt in thing. It cannot break anything

[2016-12-17 23:29] aleksey-bykov commented on #13003
And for the record I said no single word about going 100% sound or any binary position you mention, the request reads: please make an effort to label your imperfect features as safe and unsafe, please be explicit what unsafe is. That's all. Why does it deserve closing?

[2016-12-18 00:12] gcnew commented on #13000
I don't know whether this will be of any use to you but:

[code]

Also see https://github.com/Microsoft/TypeScript/pull/12589

[2016-12-18 00:20] andy-ms commented on #9550
Why is the second example (`this: Window` but `this` is not used) not an error? Why do you need to declare the type of `this` if you never use it?

[2016-12-18 00:28] eyalsk commented on #13003
@aleksey-bykov You want people to discuss things with you when you make accusations and respect no one but yourself? I'd suggest you to watch your tone if you want them to take you seriously or even listen to your _feedback_.

[2016-12-18 00:35] aleksey-bykov commented on #13003
Quote any of my word being disrespectful for start.

[2016-12-18 01:11] eyalsk commented on #13003
@aleksey-bykov Just because something isn't written or someone fail to describe something, doesn't mean he/she lie about it, _accusing_ them for lying is not something you would do out of respect.

[2016-12-18 01:45] isiahmeadows commented on #13002
@aleksey-bykov `readonly` basically means *you* may not modify it. It guarantees no actual immutability of the binding (heck, even Scala doesn't provide facilities *that* deep - `val name = value` and `def name = value` carry the same signature, and `toString` is a property). Consider it a case of "we're all consenting adults here", not "you shall not modify this value ever" (the latter is what `O

[2016-12-18 02:24] aleksey-bykov commented on #13002
@iashmeadows next time you are buying a car and you read "a sport BMW coupe", you say sweet, just what I wanted, you write a check, get your car and drive it home, next day you are all excited to show it to your friends, you stop at a store to get a 6 pack on the way there, you open the trunk and put your beer in it, when you close it you BMW turns into Honda Odyssey... you are like what? you are

[2016-12-18 02:41] DanielRosenwasser commented on #13002
Regardless of whether or not I agree on that perspective of `readonly`, I have to admit I enjoyed the analogy. 😄

[2016-12-18 03:05] isiahmeadows commented on #13002
@aleksey-bykov In case you missed it, the "we're all consenting adults here" was a reference to a common saying in the Python ecosystem, regarding member privacy, typing, etc. (Basically, conventions are usually sufficient to imply "you're on your own" for diving into internals, and there's only so much you can do to prevent them from doing it, especially without the use of closures.)

[2016-12-18 06:09] darthwalsh opened #13005 "Installation instructions for the latest stable version cause unstable version on update"
**TypeScript Version:**  2.1.1 / nightly (2.2.0-dev.201xxxxx)

Following the typescript README instructions to install the latest stable version causes unstable version to be installed on npm update.

**Code**

[code]

**Expected behavior:**
As a user, I want to keep my stable installation of typescript up to date. If I installed version 2.1.4 and this is latest, I expect 2.1.4 to stay installed.

[2016-12-18 06:14] aluanhaddad commented on #13002
@isiahmeadows

Python gets a lot of things wrong. I never understood the appeal and popularity of that language. Irregardless that doesn't make it a good basis for anything.

I don't see the relevance, `val` and `def` both mean the _reference_ comma to a property method or variable comma be reassigned. They differ in eagerness vs laziness and some other characteristics, type inference characterist

[2016-12-18 07:21] aluanhaddad commented on #13005
I cannot reproduce this
[code]

[2016-12-18 09:51] streamich opened #13007 "Proposal: Use `$` to prefix compiler generated variables instead of `_`"
As the title says: use `$` to prefix compiler generated variables instead of `_`.

From [old ECMA-262 standard](http://www.ecma-international.org/publications/files/ECMA-ST-ARCH/ECMA-262,%203rd%20edition,%20December%201999.pdf) paragraph *7.6*:

Now, this TypeScript code:

[code]

Will generated this ES5 code:

[code]

Instead, it could be like this:

[code]

Or even maybe use `$$` to differentiat

[2016-12-18 10:14] aluanhaddad commented on #13007
Unfortunately no one paid attention and real-world JavaScript is littered with dollar sign prefixed identifiers. Besides it's arguable if these should be considered mechanically generated as they are meant to be readable by humans. At any rate it doesn't matter unless they conflict with other identifiers. Since this doesn't happen it's subjective at best which would be better.

[2016-12-18 10:19] fgambino commented on #13007
Another reason to hate jQuery.

Aside from that library, I've never see the dollar sign used. But it isn't uncommon to see underscores. +1

[2016-12-18 10:27] aluanhaddad commented on #13007
@fgambino Don't forget AngularJS

[2016-12-18 10:30] fgambino commented on #13007
Ah true... Very disappointing.

[2016-12-18 11:02] aluanhaddad commented on #9191
@clement911  no it's not being clever, it's removing TypeScript artifacts from the source. Your snippet doesn't even use what you imported. However, if you had used it,  RxJS is structured in a very confusing manner such that the map function is not a member of a Observable.prototype. You need to add an additional import
[code]
Even if you use `Observable` as a value, as in `Observable.of(1).map(f

[2016-12-18 11:05] NoelAbrahams opened #13008 "Promise of type `{ }` ignored when nested"
**TypeScript Version:**  2.1.4

**Code**

[code]

**Expected behavior:**

No compilation error

**Actual behavior:**

Compiler error:     `Type 'Promise<Date>' is not assignable to type 'Promise<number>'`.

**Futher Notes**
Changing `getFoo` to return any other value, e.g. `function getFoo(): Promise<void>` fixes the compilation error.

[2016-12-18 11:12] aluanhaddad commented on #9191
Note to the side effecting import above actually mutates `Observable.prototype`. It's a weird pattern but it's good that it happens explicitly as otherwise using it simply for type annotations would change the emit which would in turn cause  imports in other modules to break because the import would be evaluated and cached before its prototype were mutated.

[2016-12-18 11:15] FranklinWhale commented on #10924
I think that as type assertion can solve this easily, no change to the definition is necessary.
[code]

[2016-12-18 11:34] aluanhaddad commented on #10768
It still seems like it should work if it works for es2015. I added the lib option manually but it would be nice to not have to do that.

[2016-12-18 12:01] streamich commented on #13007
jQuery and Angular are just some client side libs but TypeScript is extensively used on desktop and server.

jQuery is dying, especially it is not that much used with TypeScript.

Angular is just one browser framework, and it seems that Google itself today invests more in Polymer.

[2016-12-18 12:04] aluanhaddad commented on #13007
@streamich It is not about compatibility it is just convention.

[2016-12-18 12:18] aluanhaddad commented on #13008
It looks like the order of the overloads of `.then` in `lib.es2015.promise.d.ts` are wrong.
I could be wrong but my understanding is that they need to be declared in decreasing order of specificity. When I change this, it fixes the error.
Here is a more minimal repro (note that no error is reported but that the type of `result` is wrong.
[code]

[2016-12-18 12:46] NoelAbrahams commented on #13008
@aluanhaddad, I even suspect that the non-generic overload of `then` is redundant and should be removed.

[2016-12-18 14:16] tycho01 commented on #10247
I hope we could get any comments on this by a member; I haven't really looked at the TS code-base much, and would have use for pointers on where one might begin in order to investigate this. This [`fillSignature`](https://github.com/Microsoft/TypeScript/blob/aa4a0b64698c7e00e8ac801c8cf48decac3478ba/src/compiler/parser.ts#L2170) function in the parser looked vaguely relevant to me, but I'm pretty u

[2016-12-18 14:21] aleksey-bykov commented on #10247
from my experience it takes a full time job to keep up with the TS team
i worked on a linter of my own based on the public API of TS, it gets outdated (stops compiling) every couple of weeks, it takes up to a day to bring it back to life and make sure all tests pass
all in all in order to make a relevant feature and support it (rebase daily) until it is merged (if ever) it might take all of your t

[2016-12-18 14:35] tycho01 commented on #10247
Yeah, I'd definitely take your word for that.

In my attempt to type Ramda, I currently have a few fixes/features I'm very much looking forward to, but I find it frustrating to see that the team has a thousand+ outstanding issues to deal with, with threads ending up for quite a while [unanswered](https://github.com/Microsoft/TypeScript/issues/12512), or labeled with ["accepting PRs"](https://githu

[2016-12-18 14:54] tinganho opened #13009 "Mapped instanceof class type"
Some API in pure JS accepts classes declarations as input and generate instances of that class as output.

[code]
As of know, to my knowledge, there is no way to map that, if the input argument accepts an index signature of class declarations, such as below:

[code]
It would be great if I could map from class type to instance type in those cases.
[code]
Where the `instanceof` operator just get the

[2016-12-18 15:08] roypeled commented on #13004
I'm getting:
[code]
Also on version 2.1.4.

Downgrading solved the issue.

[2016-12-18 16:00] atrauzzi opened #13010 "Types shipped with package not being picked up by Visual Studio"
I've included this project as a dependency in `pacakge.json`: http://github.com/atrauzzi/protoculture

It brings in a bunch of other things (react) as well as corresponding `@types/*` packages where available.

The protoculture package however ships with types rather than needing them to be brought in separately, yet something about this is really confusing to Visual Studio.  My package's types do

[2016-12-18 16:06] aluanhaddad commented on #13008
@NoelAbrahams
Yes I think you are right. Regardless the overload order should be fixed because it is always going to pick the wrong one for cases where `T` is assignable to `TResult` as is the case when `TResult` is `{}` for any `T`.

[2016-12-18 16:18] aleksey-bykov commented on #13000
It would have been a good choice it we chose mutable version by default, so that only in few places had we use `Readonly <Point>`, but the thing with immutability is that it is contagious and has to be a default choice across most of your entities. It spreads from the top level entities all the way down to lower level entities, because say you can't have a readonly `Circle` with a mutable `centre`

[2016-12-18 16:34] darthwalsh commented on #13005
@aluanhaddad I hit the problem after I ran `npm update`. The version selection logic seems to be different between `npm install` and `npm update`

[2016-12-18 17:48] gcnew commented on #10247
You can take a look at https://github.com/Microsoft/TypeScript/issues/9949 and specifically at https://github.com/Microsoft/TypeScript/issues/9949#issuecomment-267490091. I also want this feature to work, so I took a stab at it and made some progress. I'll come back to my fork this week and improve the unification. Currently a lot of tests break, some because the compiler infers the functions corr

[2016-12-18 17:54] masaeedu opened #13011 "Mutually referenced generic type constraints freeze compiler"
**TypeScript Version:** 2.1.4

**Code**

[code]

**Expected behavior:**
Running `tsc test.ts` should result in successful transpilation or compiler errors.

**Actual behavior:**
`tsc` never exits.

[2016-12-18 20:02] NoelAbrahams opened #13012 "Non-null assertion operator formatted incorrectly after parenthesis"
**TypeScript Version:**  2.1.4
**Visual Studio Version:** 2015 Update 3

![image](https://cloud.githubusercontent.com/assets/1106823/21296156/b3d0b28c-c55c-11e6-99c3-a511a9b48816.png)

To reproduce, enter the snippet above and hit `Control+k, Control+d` in Visual Studio.

[2016-12-18 20:43] JoshuaKGoldberg commented on #11804
Looks like the team is collectively not in favor of adding new keywords for this. That makes sense. How about combining existing privacy keywords?
* If there is one keyword, both gets and sets use it
* If there are two keywords, gets use the first and sets use the second
* The first keyword must be strictly more "open" than the second

[code]

The `public protected`/`public private` combo could be

[2016-12-18 21:29] niokasgami opened #13013 "'this' type inference from assignments to prototype properties in TypeScript"
So I was working with a Library (Rpg Maker MV One's) who's really ES5.
I realized that you can still use Es5 code and this cool!
The problem is when declaring intellisenses on function who have "this" variable or instance variables.
It's will not throw errors but it's kinda hard to declare the type of the variables

**TypeScript Version:**  2.1.1

**Code**

[code]

SO my suggestion was if this was

[2016-12-18 22:23] DanielRosenwasser commented on #13013
[We have the option of typing the value as of 2.0](https://github.com/Microsoft/TypeScript/wiki/What's-new-in-TypeScript#this-parameters-in-callbacks) - and you can ensure you don't forget to use it with `noImplicitThis`. Just as a note, these parameters get stripped out and have no runtime impact.

I don't know if there's an *easy* way to ensure that all your functions have their `this` types inf

[2016-12-18 22:27] DanielRosenwasser commented on #12995
@olafahn Given that VS Code is at 1.8 and TypeScript is at 2.1, please try the latest VSCode and let us know if it's still a problem.

[2016-12-18 22:38] DanielRosenwasser opened #13014 "Language service error for quick info"
1. Create a new package directory
2. `npm install github`
3. write the following file:

[code]

4. Get quick info on the word `activity`

Expected: Quick info.
Actual:

[code]

[2016-12-18 22:42] niokasgami commented on #13013
@DanielRosenwasser thanks for your fast answer!
Although even if we use this...how do we actually use it? I'm unsure how to properly declare the this for have a type to it.
(I just don't know how to use it.)

can you show with this example?
[code]

[2016-12-19 00:09] andfaulkner commented on #12684
This isn't an Angular-specific problem: I'm getting it with a React project I'm using Typescript with.

[2016-12-19 00:42] jesseschalken commented on #10247
FWIW, Flow seems to support this just fine.

[code]
[code]

It wouldn't be able to get that error without the generic for `pair()` passing through `wrap()`.

Another example:

[code]
[code]

Again, it wouldn't be able to get those errors without the generic for `pair()` passing through `flip()`.

Try it [here](https://flowtype.org/try/).

I'll add that to the long list of things Flow gets right wh

[2016-12-19 00:46] jesseschalken commented on #9949
[It works in Flow.]( https://flowtype.org/try/#0PQKgBAAgZgNg9gdzCYAoVUCuA7AxgFwEs5sxZCAHAHgEMAaMAIwdwD4AKKbALjHZICmvemHwI4vRgEowAXlZhcU3v2xCmDMRLA0Z8xWADeqMKbAAnAfkznSWPERJkYlCgIAmq9c1Hjhyg2MzYIsrGztsdi0GQSkAbhMzAF8EpIwcAmJSOCgAJloGRg5BYU0-JgCAbRFGAF0jRNNLa1swSsEyuFrU1FwSAGd8Z1cPOWGKfjz49Bzc9gByGnmGAEYpSoAGWoA6XAALGnMAQXx2DenZhaXV9ZWd-cOTs+mMFwo3T0XlsDXN+4PjqdzglyO8PFdvr87rsAU9gaggA)

[2016-12-19 01:35] gcnew commented on #10247
@jesseschalken Well, to be honest Flow is pretty bad. Every time I collect stamina and frustration I try it and get disappointed pretty quickly. It has far more bad decisions than TypeScript has and the dev experience is nowhere near. For me a better goal is focusing on making TS better.

See https://github.com/facebook/flow/issues/123#issuecomment-266118616

[2016-12-19 01:41] jkascend commented on #12963
I'm new to the repo but I'd like to try and tackle it if that's alright.

I could maybe use some guidance on where to start though.

[2016-12-19 02:03] tycho01 commented on #10247
And here I was l like, "time to ask Angular to switch!".

But okay, guess we're technically a duplicate of that 9949 thread as well. :P
(just joking mods, until resolved there could be info useful for resolving this in here too!)

@gcnew: mad props for actually figuring out where to start on this... that's already pretty amazing!

[2016-12-19 02:44] kimamula opened #13015 "Incorrect `Object is possibly 'null'.` error inside `Promise.prototype.then`"
**TypeScript Version:**  2.1.4 (2.2.0-dev.20161218 also)

**Code**

With --strictNullChecks,

[code]

**Expected behavior:**
I expect this to compile (it does actually when I use typescript@2.0.8).

**Actual behavior:**
I get an error,
`index.ts(11,28): error TS2531: Object is possibly 'null'.`

[2016-12-19 03:29] aluanhaddad commented on #13015
This looks to be related to #13008. The overloads for `.then` are not declared in the right order.

[2016-12-19 06:18] joint-song commented on #12994
Got this error after upgrade typescript from 2.0.3 to 2.1.4 released.
macOS 10.12.1, node 6.9.1

/Users/jointsong/.config/yarn/global/node_modules/typescript/lib/tsc.js:49700
                throw e;
                ^

TypeError: Cannot read property 'emitNode' of undefined
    at Object.getEmitFlags (/Users/jointsong/.config/yarn/global/node_modules/typescript/lib/tsc.js:10680:28)
    at emitProp

[2016-12-19 06:48] studds commented on #12758
@mhegazy when you say that narrowing based on a relationship between two entities is not trivial to support, do you mean it's not trivial to support in the general case, or not trivial to support specifically for narrowing `T[keyof T]` when `keyof T` is narrowed?

`keyof` by its nature defines a relationship between two symbols. It seems strange that this relationship cannot be fully exploited.

[2016-12-19 09:02] Aarilight commented on #2491
@mhegazy:  I get `Type 'UserInterfaceColors' is not assignable to type 'string'` when using the code that should work:
[code]
Coupled with the bits @JKillian mentioned makes me think this should be reopened (or at least the `Fixed` tag removed)

[2016-12-19 09:03] soyuka opened #13017 "Default export behavior when module "default" key is undefined"
**TypeScript Version:**  2.1.4 / tried with current nightly yesterday

Linked issues :

https://github.com/rollup/rollup/issues/1156
https://github.com/trueadm/inferno/issues/596

**Code**

Inferno exports something like:

[code]

In typescript, it is `export default class Component{}`.

When imported, you'll expect this to work:

[code]

But those will both be undefined because the typescript com

[2016-12-19 09:20] Iorg commented on #12976
+1

[2016-12-19 09:27] kgtkr opened #13018 "How "non static Inner class""
class A{
      B=class{
        funcB(){
          A.this.funcA();//error
        }
      }

      funcA(){

      }
    }

    var a:A;
    var b:A.B;//error
    a=new A();
    b=new a.B();

[2016-12-19 09:27] d-m-h opened #13019 "[TS 2.1.4] Compiled JS doubling up on properties"
**TypeScript Version:**  2.1.4

Quite simply, I'm dumbfounded as to why it is doing this. I've attached my `tsconfig.json` for reference.

[code]

**Expected behaviour:**

[code]

**Actual behavior:**

[code]
[tsconfig.json.txt](https://github.com/Microsoft/TypeScript/files/660629/tsconfig.json.txt)

[2016-12-19 09:29] kgtkr commented on #13018
Sorry I'm not good in English.

[2016-12-19 09:33] d-m-h commented on #13019
I figured it out.

[code]

**vs**

[code]

Having the `public` keyword in the first example causes the property to be emitted, despite the fact that I already assign the property a value in the definition of the `ctor`.

[2016-12-19 09:33] #13019 closed

[2016-12-19 10:37] RagingRudolf commented on #13018
Hi kgtkr,

Try to take a look at this: http://stackoverflow.com/questions/13495107/any-way-to-declare-a-nest-class-structure-in-typescript

I hope it's okay to link other places :)

[2016-12-19 10:42] phra commented on #12848
@RyanCavanaugh i have looked for `includes()` and i didn't found anything.

[2016-12-19 12:14] k0pernikus opened #13020 "tsc -w should clear screen before each run"
Run compiler in watch mode: `tsc -w`. Change some files, causing multiple compilations.

**Expected behavior:**

As a developer, I expect the output of `tsc -w` to be relevant and concise to the current runtime. It should show me the information only of the current run, stating that either the compilation was a success or fail with an error message.

**Actual behavior:**

The output of previous co

[2016-12-19 12:21] kunnix opened #13021 "JavaScript files not compiled when a .d.ts definition file is provided"
**TypeScript Version:**  2.1.4

**Zipped Code for easier repro:** [tsc-js-not-compiled.zip](https://github.com/Microsoft/TypeScript/files/660978/tsc-js-not-compiled.zip)

**Code**

[code]

**Expected behavior:**

[code]

**Actual behavior:**

[code]

[2016-12-19 12:44] kgtkr commented on #13018
I want to access nonstatic members of external class

[2016-12-19 13:01] NoelAbrahams opened #13022 "Go-to-definition (F12 in Visual Studio) does not work for Mapped Types"
**TypeScript Version:**  2.1.4

**Code**

[code]

**Expected behavior:**

Go-to-definition on `.aaa` in `x.foo.aaa` should navigate to that property.

**Actual behavior:**

Doesn't

**Further notes**
This is reproducible in the playground with `Control+F12`.

[2016-12-19 13:01] rotemdan commented on #12936
I was wondering, maybe both keywords could be introduced to describe two slightly different types of matching:

* `just T` for exact structural matching, as described here.
* `only T` for nominal matching.

Nominal matching could be seen as an even "stricter" version of exact structural matching. It would mean that not only the type has to be structurally identical, the reference itself must name

[2016-12-19 13:04] DomiR commented on #12976
Example repo https://github.com/sarod/ts-loader-issue416/tree/master

[2016-12-19 13:17] rpokrovskij commented on #563
@SaschaNaz I expect that properties added to constructor through getOwnPropertyDescriptors will be hidden for IDE "autosuggestion" (since they are added at runtime).  Remember, Typescript born as a JavaScript with "autosuggestion" (sometimes people call it "stronlgy typed" but really what they like is "autosuggestion").

P.S. Why people need partial classes - codegeneration. But again codegenerati

[2016-12-19 13:27] kruszczynski commented on #12025
[code]

[2016-12-19 13:35] gcnew opened #13023 "Mapped types break `for-in` loops with intersections"
**TypeScript Version:**  nightly

The following used to work but is broken now.

**Code**
[code]

[2016-12-19 13:44] DomiR commented on #13004
Quickfix, as typescript can't import other filetypes at the moment:
[code]

[2016-12-19 15:24] myitcv commented on #12490
@mhegazy I'd like to be able to get back to using the latest nightly, help to flush out issues on your side and ours. But because of this issue, the nightly build is broken from our perspective.

Do you have any indication on when this will be fixed?

Or are there bigger question that arise out of https://github.com/Microsoft/TypeScript/pull/12433 that need addressing/thinking about first?

Thanks

[2016-12-19 15:43] RagingRudolf commented on #13018
Perhaps something like this?

[code]

I don't think you can create a nested class same way as you can in C#.

[2016-12-19 16:08] dbrgn commented on #10178
Here's another case where this caused problems:

In a project I'm currently working on, we mix local includes (mostly for historic reasons) with npm modules. In the end everything is joined using Rollup or Browserify, so that's fine.

I use a .js file from the emojione project that I simply copied into the codebase. Later I added the type declarations for it to DefinitelyTyped: https://github.com/

[2016-12-19 16:09] iwllyu commented on #9858
Still have the issue with 2.1.4 although it complains about a different set of files

[code]

[code]

I'll create a project to isolate the test case

[2016-12-19 16:13] ZuBB commented on #9091
I can add quite simple and straightforward test case:
* use are mac os user
* you clone some simple proj with no symlinks inside with ts2 support into `/tmp` folder
* try to build it

it will fail because some part of path for any file of project is a soft link

with this I would say pri of this bug must be revised..

[2016-12-19 16:19] andy-ms commented on #9091
Could you provide a more specific repro? The issue here isn't that all symlinked files will fail, it's that they aren't resolved to real paths, meaning the compiler will use the symbolic paths instead. This is only a problem if you're referencing the file from both the symlink path *and* from the real path, and TypeScript thinks they are two different files. (Or if you're using two separate symlin

[2016-12-19 16:54] RyanCavanaugh commented on #12963
@jkascend in `src/compiler/parser.ts` there's `parseIdentifier` and `parseIdentifierName` and we're calling the wrong one (with some level of indirection) from `parseEnumDeclaration`

[2016-12-19 16:56] RyanCavanaugh commented on #13018
This is a bug tracker, not a support forum. Please ask questions at Stack Overflow or other websites.

[2016-12-19 16:56] #13018 closed

[2016-12-19 17:16] ahejlsberg commented on #13023
This is working as intended, the fact that it was previously allowed was a bug. A `(T & U)[keyof T]` is assignable to a `T[keyof T]`, but not vice versa. Consider:

[code]

The intersection `A & B` corresponds to:

[code]

Neither property `x` from `A` or `B` is assignable to property `x` in `A & B` because of the deep merging.

[2016-12-19 18:00] #12988 closed

[2016-12-19 18:03] mhegazy commented on #7469
@cverhelst can you please log a new issue and give us more information about which versions you are using and a repro project that can help us diagnose the issue.

[2016-12-19 18:03] #12883 closed

[2016-12-19 18:04] andy-ms opened #13026 "Problems with symlinks on Azure with Docker"
We don't have a good repro yet, but created an issue to track these investigations.

[2016-12-19 18:06] mhegazy commented on #12748
@mkulke this issue is tracked by https://github.com/Microsoft/TypeScript/issues/12921

[2016-12-19 18:06] saschanaz opened #13027 "Unexpected space insertion in for loop"
**TypeScript Version:**  master branch

**Code**

[code]

**Expected behavior:**

`i++, startLine++`

**Actual behavior:**

`i++ , startLine++`

[2016-12-19 18:07] mhegazy commented on #12748
@u-nikos looks like the docker issue is a different issue. @andy-ms is looking into another docker issue as well.

[2016-12-19 18:08] ZuBB commented on #9091
I am sorry I am quite busy with my current tasks and cant provide repo with small repro case.

The case I got today is next: we have (private) repo with app with both angulars and ts 2.0.10.
if I put those repo to `/tmp` build produces TS errors (I am going to attach picture later)

When I repo to `~` all is OK

[2016-12-19 18:09] MartinMajewski commented on #9335
December 2016, TypeScript 2.1.4, VSC Version 1.8.0

Decorators warning still present. Programming an Angular 2 application. It compiles fine, but the error message is always there.

[2016-12-19 18:09] mhegazy commented on #13026
another docker issue, may or may not be related: https://github.com/Microsoft/TypeScript/issues/12748#issuecomment-265959565

[2016-12-19 18:10] ZuBB commented on #9091
![screen shot 2016-12-19 at 20 10 28](https://cloud.githubusercontent.com/assets/597016/21323663/32fbd3fa-c627-11e6-9e4f-15ac721aaeb3.png)

[2016-12-19 18:11] ZuBB commented on #9091
this happens because of this

[code]

[2016-12-19 18:12] ZuBB commented on #9091
or issue I faced is another issue indeed

[2016-12-19 18:20] andy-ms commented on #9091
May I ask for some example `/// <reference path="" />` directives you have in your project?
If you they reference `node_modules`, these could be replaced by `/// <reference types=" />` instead, which does resolve symlinks.

[2016-12-19 18:38] ZuBB commented on #9091
we do not use any references in our project. I may miss whole picture how build works in our env but I think all stuff is done in our tsconfig

[code]

[2016-12-19 18:41] ToddThomson commented on #12983
Looking at the emitted output for Typescript's ```namespace```, exports provide a mechanism for setting what is publicly accessible within the namespace object. I'm sure the Typescript team has it's reasons for this, but I'm not sure why a ```public``` modifier wouldn't work.

[2016-12-19 18:51] gcnew commented on #13023
I agree that in the deep setting the new behaviour is the correct one, however it seems like a breaking change introduced in version 2.1.

[2016-12-19 19:08] andy-ms commented on #9091
That is certainly a different issue then. Please make a new issue once you have a repro.

One thing I note from that screenshot is that you are having problems with module augmentations of angular, such as with `@types/angular-translate` which, when missing, will give you `Module 'angular' has no exported member 'transate'.` It's possible that there are duplicated `angular` definitions and only on

[2016-12-19 19:10] gcnew commented on #13023
PS: shallow intersections are more natural to me. Will they ever be supported?

[2016-12-19 19:12] mhegazy commented on #12975
You could have multiple tsconfig.json files with different names, e.g. `tsconfig.outfile.json` and `backend.json`, and build them using `tsc --p tsconfig.outfile.json` for instance. the IDE always looks for the config file with `tsconfig.json` so this one can only be for your editing purposes. you can always use [configuration inheritance](http://www.typescriptlang.org/docs/handbook/tsconfig-json.

[2016-12-19 19:14] aleksey-bykov commented on #12975
related #12958

[2016-12-19 19:29] sheetalkamat commented on #12451
This is duplicate of #12166 and is fixed by #12691

[2016-12-19 19:29] #12451 closed

[2016-12-19 19:36] mhegazy commented on #12717
As noted in https://github.com/Microsoft/TypeScript/issues/2103#issuecomment-265534846, spreading a symbolic name is different from adding the property definition in the object literal. in the later, an excess property is likely an error; in the earlier it is not necessarily one.

[2016-12-19 19:36] #12717 closed

[2016-12-19 19:49] sheetalkamat commented on #12946
@hemendray120 I used typescript@next to compile your code and I didn't see the crash you were facing.

[code]

[2016-12-19 19:50] mhegazy commented on #12987
This is not in the scope of the TS compiler; this is rather in the realm of  build orchestration/management tools. We achieve a similar result using [MSBuild](https://msdn.microsoft.com/en-us/library/bb651793.aspx) today in VS, and I am sure you can achieve the same with other build tools.
You can break up your build/test steps down into even single file compiles, and then let your build orchestra

[2016-12-19 19:50] #12987 closed

[2016-12-19 19:58] mhegazy commented on #13001
This tsconfig.json should not cause loading of any files from `types`. unless one of you files has a `/// <reference >` to one of the files in types.

[2016-12-19 19:58] mhegazy commented on #13001
see https://github.com/Microsoft/TypeScript/wiki/FAQ#why-is-a-file-in-the-exclude-list-still-picked-up-by-the-compiler for more info.

[2016-12-19 20:20] mhegazy commented on #12998
TypeScript has a structural type system. at every location where a type is expected, the value is checked it it matches the expected type. the check depends on the structure, and not if type has an `implements` clause.

The only use of an `implement` clause, is to ask the compiler to give you an error if your class does not implement the interface. the class does not get any additional properties

[2016-12-19 20:24] #12900 closed

[2016-12-19 20:32] gcnew commented on #13023
The What's new documentation on [intersection types](https://github.com/Microsoft/TypeScript/wiki/What's-new-in-TypeScript#intersection-types) also features the very same `extend` - nothing is mentioned about the deep nature of `&`. It was also used for the old definitions of `Object.assign`. I find it a massive breaking change from a logical perspective. Maybe intersection should be made shallow?

[2016-12-19 20:35] mhegazy commented on #13007
The choice of `_` was deliberate one. one of the [design goals](https://github.com/Microsoft/TypeScript/wiki/TypeScript-Design-Goals#goals) of the TypeScript project is:

that is code that users would have written by hand. this is why the generated variable names are short, use letters when possible, and are seeded with the module name/ variable name, to make them relatable to the user defined nam

[2016-12-19 20:38] mhegazy commented on #13010
what version of VS are you using? what version of the TypeScript for VS plugin? can you share your package.json?

[2016-12-19 20:42] matthew-rister commented on #9488
This is marked as fixed, but I still get these compilation errors with using the latest react-router typescript definitions when using npm install @types/react-router --save

[2016-12-19 20:42] matthew-rister commented on #9488
Also looks like there is another open issue detailing this exact experience #10686

[2016-12-19 20:46] mhegazy commented on #12995
https://github.com/SchemaStore/schemastore/pull/258 removes the warning from schema validation

[2016-12-19 20:49] mhegazy commented on #13011
Should be fixed in `typescript@next`

[2016-12-19 20:49] #13011 closed

[2016-12-19 20:53] mhegazy commented on #12994
Without steps/code snippet to reproduce this issue it is unactionable for us. We would be happy to sign any NDA required to get access to the sources triggering the issue.

[2016-12-19 20:55] wallverb commented on #12994
I can't reproduce it from my side FYI. Restarted vscode and never got it again. Only hope in @joint-song  ;)

[2016-12-19 20:56] mhegazy commented on #12758
in your example there are two variables `f` and `v`. there is relationship between them at the begging of this block. but this can not be maintained if one or both are assigned to. it also gets tricky with side-effects if the two variables are captured by another scope.

[2016-12-19 21:01] mhegazy commented on #2491
This was broken by https://github.com/Microsoft/TypeScript/pull/12425. would you mind logging a new issue to allow numeric literals as constraints of mapped types?

[2016-12-19 21:04] mhegazy commented on #13021
A declaration file is always considered as a "better" candidate than a `.js` file. A .d.ts file has more type information, and is smaller in size (no expressions). The automatic inclusion (tsconfig.josn including all files in the folder) and module resolution (following imports) would favor a .d.ts file over a .js file.
if you want this file to be transformed, pass it explicitly on the command lin

[2016-12-19 21:08] mhegazy commented on #12490
i need to update the script that generates the file in https://github.com/Microsoft/TSJS-lib-generator. I have not had a chance to do that. PRs are always welcomed.

[2016-12-19 21:12] Izhaki opened #13029 "Emitted code for super() results in 'Branch not covered' in coverage reports."
**TypeScript Version:**  2.1.4

**Code**

The `super()` call in the following code, results in ['Branch not covered' with Istanbul (see issue)](https://github.com/gotwarlost/istanbul/issues/690).

[code]

In Typescript 1.8 the `super()` call transpiled to:

[code]

But in 2.1.4 it transpile to:

[code]

Which will obviously yield 'Branch not covered'.

Adding a test - or ignore instructions - just

[2016-12-19 21:14] mhegazy commented on #9488
[code]

[2016-12-19 21:18] matthew-rister commented on #9488
As detailed by this post, it only works if module resolution is set to node in tsconfig. https://github.com/DefinitelyTyped/DefinitelyTyped/issues/10686. I was able to get around this by manually changing the imports of "history" to the relative path of the @types/history index definition

[2016-12-19 21:18] RyanCavanaugh commented on #13029
This is to support subclassing classes which themselves return different objects from `super`

[2016-12-19 21:20] monolithed commented on #13001
@mhegazy, oh thanks, i meant to write `typeRoots`

[2016-12-19 21:23] kunnix commented on #13021
But it results in `tsc` generating an output (in `outDir`) that can't be executed.

Do you confirm it's the expected behavior?

[2016-12-19 21:23] mhegazy commented on #13001
not sure what you mean by "ignored" then. this looks like the expected behavior to me. You have specified to include only one types package which is `"node"`. not sure what you are expecting here. see http://www.typescriptlang.org/docs/handbook/tsconfig-json.html#types-typeroots-and-types for more info.

[2016-12-19 21:25] mhegazy commented on #9488
the resolution of these packages assumes a node-style resolution. so you need to use `"moduleResolution": "node"`

[2016-12-19 21:26] mhegazy commented on #13021
can you elaborate what you mean here by "can't be executed"?

[2016-12-19 21:31] mcmath opened #13031 "Proposal: a literal notation for well-known symbols"
At present, the only way to declare a property whose key is a well-known symbol is via the global `Symbol` constructor. This approach creates a number of challenges, especially for authors of libraries. Notably, it complicates the use of imported polyfills and makes it difficult to describe libraries compatible with multiple targets. This proposal suggests a solution: a literal notation for well-k

[2016-12-19 21:39] mjbvz opened #13032 "Javascript type inference problem for classes if constructor argument number doesn't match"
_From @chanep on December 19, 2016 13:53_

- VSCode Version: 1.8.0
- OS Version: Any

VScode doesn't detect correctly instance type if class constructor is called with different number of arguments.

Example:

[code]

I think it is a little annoying to have to put null's all over the place

_Copied from original issue: Microsoft/vscode#17539_

[2016-12-19 21:39] Izhaki commented on #13029
@RyanCavanaugh. OMG, had she died, [Barbara](https://en.wikipedia.org/wiki/Liskov_substitution_principle) would turn in her grave.

Is this in the ES6 standard?

[2016-12-19 21:43] mjbvz commented on #13032
For JavaScript, I think that TypeScript should be more relaxed when looking at constructor arguments.  Users can currently workaround this issue by explicitly specifying that `arg` is optional:

[code]

but leaving arguments implicitly specified is still a common pattern.

[2016-12-19 21:45] kunnix commented on #13021
My expectation was that running `tsc` with the `--allowJs` option would resolve my `import`(ed) modules (both `.ts` and `.js`) and compile them to `outDir` in such a way that running my entry point with `nodejs main.ts` would work (modules are resolved properly).

Currently, it would throw an error:

[code]

*(I've made the repro steps available: [tsc-js-not-compiled-2.zip](https://github.com/Micr

[2016-12-19 21:47] mhegazy commented on #12619
should be fixed by DefinitelyTyped/DefinitelyTyped#13382

[2016-12-19 21:47] #12619 closed

[2016-12-19 21:48] #12875 closed

[2016-12-19 21:57] nicholasguyett commented on #2607
@RyanCavanaugh, as you seem to be the first line of defense in the issues, I wanted to ping this suggestion back to your attention.  It hasn't seemed to have made it into your more recent suggestion backlog slogs and I think it would shore up a major gap in typesafety for Typescript decorators.

[2016-12-19 21:58] #10101 closed

[2016-12-19 21:59] mjbvz opened #13033 "Using `require` in method breaks JavaScript IntelliSense"
_From @abc1236762 on December 15, 2016 19:4_

- VSCode Version: 1.8.0
- OS Version: Windows 10.0.14393

Steps to Reproduce:

1. Create a project folder and create `func.js`, `main.js`, and `jsconfig.json` in it.

`jsconfig.json`:
[code]
`func.js`:
[code]
`main.js`:
[code]
2. Open main.js, and move mouse on `Test` or `a()` at line 1, the ToolTip shows `any`, move mouse on any words, the ToolTip sho

[2016-12-19 21:59] mjbvz commented on #13033
Quick question: is `"main.js"` listed in the `"files"` section of the `jsconfig.json`?

[2016-12-19 21:59] mjbvz commented on #13033
_From @abc1236762 on December 15, 2016 21:56_

All problem still exist when `"main.js"` listed in the `"files"` section of the `jsconfig.json`.Also all problem still exist when `"files"` section has nothing.

[2016-12-19 21:59] mjbvz commented on #13033
_From @waderyan on December 16, 2016 18:55_

I have reproduced this and it looks like a duplicate of https://github.com/Microsoft/TypeScript/issues/7046

@mjbvz can you look at the issue I posted and confirm if you think it is a duplicate?

[2016-12-19 21:59] mjbvz commented on #13033
_From @abc1236762 on December 17, 2016 4:57_

So method `require()` can impact on Intellisense work or not is a bug? Cordova project in Visual Studio have same problem about method `require()`.

[2016-12-19 21:59] mjbvz commented on #13033
@waderyan No, I think this is a different issue. You see the same using classes:

[code]

[code]

From debugging, this looks like a TS issue. I'll move this issue over to them for tracking.

[2016-12-19 22:03] mjbvz commented on #13033
I debugged through this issue on the VSCode side, and believe that this is a bug in TypeScript. Here's a condensed repo based on @abc1236762's original steps.

Create a project with `jsconfig.json`, `main.js`, and `func.js` files:

`jsconfig.json`:
[code]

`func.js`:
[code]

`main.js`:
[code]

[2016-12-19 22:07] matthew-rister commented on #9488
We use AMD and therefore cannot use node module resolution. TypeScript definitions should be robust enough to handle all module types. Can we re-open this?

[2016-12-19 22:09] arciisine commented on #12463
So after thinking about this for a bit, I realized that the param types is actually reducing `string[]` to `String` to handle the variadic arguments.  Would it be possible to treat the array as a generic class? `Array<string>`, and perhaps store all generic types in the metadata?

[2016-12-19 22:12] andy-ms commented on #9488
The other issue that you linked to is still open and we're planning to fix it.

[2016-12-19 22:14] masaeedu commented on #13002
Type driven emit would be nice in many scenarios, but even if we never get that, a type error here would be useful. Do `readonly` properties only get checked for reassignment within class members right now?

[2016-12-19 22:14] mhegazy commented on #9488
i miss spoke. thanks @andy-ms for the correction. the AMD should work. this issue seems to be caused by the @types package authoring. @andy-ms is fixing it on Definitely Typed.

[2016-12-19 22:15] mhegazy commented on #12875
@frankwallis please give tonight's `typescript@next` a try. @vladima added resolution caching, so you should see one request per source folder

[2016-12-19 22:18] ZuBB commented on #9091
Hi there!

See my response inline

On Dec 19, 2016 21:09, "Andy" <notifications@github.com> wrote:

That is certainly a different issue then. Please make a new issue once you
have a repro.

One thing I note from that screenshot is that you are having problems with
module augmentations of angular, such as with @types/angular-translate
which, when missing, will give you Module 'angular' has no expor

[2016-12-19 22:19] weswigham commented on #13023
@gcnew If you want "shallow intersections" following the logic of `Object.assign`, you want [spread types](https://github.com/Microsoft/TypeScript/issues/10727), and not really intersections.

[2016-12-19 22:19] mhegazy commented on #13021
thanks for the clarification; the existence of the declaration file tells the compiler there is a file in the output with this name. so the emit is skipped.

[2016-12-19 22:22] prencher commented on #12724
We are seeing this with 2.1.4 using Webpack 2 with awesome-typescript-loader. It only happens when using the importHelpers. The above workaround using paths does not work:
[code]

[2016-12-19 22:24] andy-ms commented on #9091
I don't know what exactly is causing your problem, but I'm sure that it isn't this issue because, as you say, you don't use any `/// <reference>` in your code. We need a code sample that we can use to reproduce your problem. Please make a new issue.

[2016-12-19 22:25] JoshuaKGoldberg opened #13035 "Allow type casts around shorthand property names"
Is there any reason shorthand property names (`{ a }`, etc.) don't allow type casting around the names? It would be a mildly useful feature.

**Code**

The following object literals are all intended to compile to `{ foo: foo }`:

[code]

**Expected behavior:**
These should all compile to the same thing.

**Actual behavior:**
The lines with type casting in the names are syntax errors.

[2016-12-19 22:27] mhegazy commented on #12724
This should be fixed in latest, can you give `typescript@next` a try?

[2016-12-19 22:29] ZuBB commented on #9091
OK. I will try to come up with repro code

On Dec 20, 2016 00:24, "Andy" <notifications@github.com> wrote:

[2016-12-19 22:37] prencher commented on #12724
@mhegazy Just saw that in a related ticket. It is indeed fixed in `next`, so we've just reverted the change for now. Thanks!

[2016-12-19 22:40] mjbvz opened #13036 "TypeScript intellisense does not work correctly for interface properties that can be an interface or an array of interfaces"
_From @chase-smith on December 15, 2016 5:19_

- VSCode Version: 1.8.0
- OS Version: Linux Mint 17 Xfce 64-bit

TypeScript intellisense does not work correctly on interface properties that can be an interface or an array of that interface. Intellisense is only present when the property is in the array form.

Code to reproduce:
[code]
Screenshot of what intellisense gives if the property is an obje

[2016-12-19 22:42] mjbvz commented on #13036
I confirmed with TypeScript 2.1.5 and `2.2.0-dev.20161219` on the VSCode side.

[2016-12-19 22:45] gcnew commented on #13023
@weswigham Thank you! The major problem I'm after is that basically all the information and marketing of intersection types are incomplete at best (leaning to wrong). This has created a flawed mental model for everyone using them. This unfortunate state should be very explicitly explained and fixed in the new documentation. Also the TypeScript book and What's new should be retroactively updated.

[2016-12-19 22:48] vladima commented on #13033
I'd say this is by design: `require` in `func.js` indicates that this file is an external module so it is effectively sandboxed and `Test` is not visible in global scope.

[2016-12-19 22:55] monolithed commented on #13001
ignored, overridden... It's not possible to apply `typeRoots`:

1.

[code]

[code]

2.

[code]

[code]

But, I could not reproduce the problem with 2.1.4., so I think we should close this issue.

[2016-12-19 22:55] #13001 closed

[2016-12-19 23:31] RyanCavanaugh commented on #13032
I believe we do this correctly for call signatures, but it's not working for construct signatures for some reason

[2016-12-19 23:35] akdor1154 opened #13037 "Writing declarations for libraries with polymorphic return types is difficult."
To jump straight to an example, I'm trying to write typings for the JXON library: https://github.com/tyrasd/jxon .

The library exports, among other things, a function that converts a JS object to an XML document:
[code]

The library when used in browser uses the browser's native XMLDocument interface, and when used in Node uses that of `'xmldom'`. At present, there are two ways to represent this,

[2016-12-19 23:38] mjbvz opened #13038 "Add insertSpaceBetweenClosingParenthesisAndOpeningBraces Formatting Option"
From https://github.com/Microsoft/vscode/issues/17427

Add an additional formatting configuration option to control whether or not a space is inserted after the closing paren in control blocks and functions:

`if (true){` -> `if (true) {`

`while (true){` -> `while (true) {`

`function (x){` -> `function (x) {`

The current formatter always inserts a space.

[2016-12-19 23:43] RyanCavanaugh commented on #13037
The union type seems like the correct representation - one or the other might be returned, and the only way to know is with extrinsic information. In the generic case where you don't know which, you certainly need a follow-up `if` to determine which case you're in; in the case where you're only writing for one platform, a type assertion to "add in" that additional knowledge is appropriate.

[2016-12-19 23:51] akdor1154 commented on #13037
The problem with that is the dependencies. It means projects using this library can't be built unless `lib: dom` is available. Also it's a bit frustrating, as to me it seems the information to determine what is going to be used is definitely available at compile time.

[2016-12-19 23:53] RReverser commented on #13000
@aleksey-bykov Not necessarily. Why can't you define them as following instead?

[code]

and then use `Point` as before without changing references in most places of your code?

[2016-12-19 23:54] RyanCavanaugh commented on #13037
The usual solution there is to declare the relevant type
[code]
which will merge harmlessly with the DOM declaration (when present) or prevent a type error (when not present).

[2016-12-19 23:56] Igorbek commented on #5260
related to #6229 (collecting use-cases)

[2016-12-19 23:57] akdor1154 commented on #13037
oh, that's a useful workaround. It's certainly helpful to me now, but if I publish these typings, is polluting the global scope with a declaration like this likely to be frowned upon? What about the analog for the `xmldoc` type, something like

[code]

Again, will this pollute the global scope for users of this library?

[2016-12-19 23:58] aleksey-bykov commented on #13000
@RReverser read my answer above, tldr: when readonly is a default choice, so it should be encoded with a shorter signature

[2016-12-19 23:59] thomasboyt commented on #11457
Can also confirm that I've seen this issue on the current stable version of VSCode (1.8.1) and TypeScript 2.1.4. It popped up when I added `normalize.css` to my project, meaning that I now see this when I type a `.`:

![screen shot 2016-12-19 at 6 46 07 pm](https://cloud.githubusercontent.com/assets/579628/21333192/15ceabfa-c61c-11e6-9fea-9cc94d3036bc.png)

Annoyingly, it seems that TypeScript als

[2016-12-20 00:02] RyanCavanaugh commented on #13037
If you do it that way, it won't merge with the global interface (i.e. that won't work).

Polluting the global NS with something that is likely to be there most of the time anyway isn't a big problem IMO

[2016-12-20 00:04] akdor1154 commented on #13037
OK, thanks. I'll have a play around with that and see where it gets me. I've had a similar problem writing my own library that uses either `'node-fetch'` or `window.fetch`, again dependant on environment, so I'll try this in both places and see if it's adequate for me / library users. Thanks!

[2016-12-20 00:05] ahejlsberg commented on #13023
The original PR on intersection types, #3622, has all of the semantics described in a fair amount of detail.

[2016-12-20 00:12] RReverser commented on #13000
@aleksey-bykov Well, you define type just once anyway and in all the other places you can still use it with short name.

[2016-12-20 00:13] aleksey-bykov commented on #13000
@RReverser you are right, should have read you more closely, yes i guess it might be an option, need to sleep over it

[2016-12-20 01:14] Igorbek opened #13039 "Constraints cannot be proven in mapped types combination"
**TypeScript Version:**  2.1.4 / nightly (2.2.0-dev.20161219)

**Code**

[code]

**Expected behavior:**

No errors, the constraint has been proven

**Actual behavior:**

Error in `Failing` type at `B<Ts[P], Cs[P]>`: Type 'Cs[P]' does not satisfy the constraint 'A<Ts[P]>'.

**Note**

If I change `A<T>` to be just `T` (`type A<T> = T;`), all compiles just fine.

[2016-12-20 01:17] mjbvz commented on #13033
Ok, makes sense. Just to be clear,  the presence of a `require` call or `import` statement stops TS from picking up global symbols in a file?

[2016-12-20 01:23] vladima commented on #13033
module can see global symbols, however to make something visible outside of the module it should be exported on module side and imported on the consumer side.

[2016-12-20 01:30] chase-smith opened #13041 "Function with overloads that uses a union type parameter in implementation function throws error"
**TypeScript Version:**  both 2.1.4 and nightly (2.2.0-dev.20161219)

**Code**

[code]

**Expected behavior:**
There should be no issue with the call in `func3`.
**Actual behavior:**
[code]

This seems to be in direct contradiction to what the TS GitHub wiki says about function overloading, and the impact of the shape of the implementation function on the allowed types of the function:
![image](ht

[2016-12-20 01:31] Igorbek commented on #12997
12/16/2016 ?

[2016-12-20 01:37] aleksey-bykov commented on #13039
might be related #8459 which presumably growing from #8397

[2016-12-20 01:41] aluanhaddad commented on #13033
@vladima A bootstrapping script will frequently contain an imperative `require('m')`, `require('m', f)` or `SystemJS.import('m').then(f)`.
I suppose there is no way to tell under CommonJS, but in other formats perhaps it should still be considered a script instead of a module.

[2016-12-20 01:52] gcnew commented on #13023
@ahejlsberg Yes, https://github.com/Microsoft/TypeScript/pull/3622 has the semantics described, however they are:
1) not really intelligible for average programmers
2) they are not covered in What's new / the TS book
3) even there the `extends` example is wrong
4) the TS team continuously used intersections in shallow situations

The `XYZ` example is the only hint, except for _Properties and Index

[2016-12-20 01:56] wallverb commented on #11331
Looks like its working in the latest

[2016-12-20 01:57] RyanCavanaugh commented on #12997
You don't 0-index your months? 😉

[2016-12-20 01:57] Yuudaari opened #13042 "Enums can not be used for index signature types"
**TypeScript Version:**  2.1.4

[code]

**Expected behavior:**
No errors will be thrown.

**Actual behavior:**
`index in UserInterfaceElement` throws the error `Type 'UserInterfaceElement' is not assignable to type 'string'`

This is a regression caused by #12425. The change makes sense, but there are very valid use cases for supporting enums in index signatures.

For another use case, in a projec

[2016-12-20 01:57] RyanCavanaugh commented on #13041
Duplicate #1805

[2016-12-20 01:58] #13041 closed

[2016-12-20 02:15] wilsoncook commented on #4130
Same issue with overload methods:
[code]
while called as
[code]
then: _[ts] Supplied parameters do not match any signature of call target._

[2016-12-20 02:20] kunnix commented on #13021
OK thanks for the explanation, my understanding of '.d.ts' files was that they were used to provide additional typing information to TypeScript about JavaScript files and modules, I wasn't aware they were also skipping relative-path JavaScript compilation.

I still find this behavior confusing, but I understand there might be reasons for it.

Feel free to close as "By design" :)

[2016-12-20 03:47] jesseschalken opened #13043 "Type hole with compatibility between optional parameters/extra parameters"
**TypeScript Version:**  Whatever runs https://www.typescriptlang.org/play/

**Code**

[code]

**Expected behavior:**

TypeScript error that either `(a?: number) => number` is incompatible with `() => number`, or that `() => number` is incompatible with `(a: string) => number`. I'm not sure which one is most correct, but permitting both of these things in combination is definitely unsound.

**Actu

[2016-12-20 04:01] RyanCavanaugh commented on #13043
You've identified the problem and why there isn't a solution -- preventing either assignment is problematic. TypeScript does not guarantee soundness and this is one of the holes.

Even Flow, which generally tries to be more sound at the expense of inconvenience, allows this (update: I see you just logged this on their tracker as well).

[2016-12-20 04:04] RyanCavanaugh commented on #13043
If you somehow find yourself in this situation and need to track down how the wrong function got assigned in, you can declare out the optional parameter in the nullary case assuming you can figure out which call signature originated the problem in the first place:
[code]

[2016-12-20 04:10] jesseschalken commented on #13043
@RyanCavanaugh Yeah Flow has the same problem (https://github.com/facebook/flow/issues/3049), but I found it more surprising considering they have more of an objective of soundness than TS does.

If this is just another baked-in gotcha then fair enough, I'll add it to the list.

[2016-12-20 04:23] zamb3zi opened #13044 "Compilation exception in mapped type"
**TypeScript Version:**  nightly (2.2.0-dev.20161219)

**Code**

[code]

**Expected behavior:**

Compiling only the first type declaration produces the following expected error:
[code]

**Actual behavior:**
Compiling the whole example with a clean nightly install without `tsconfig` produces:
[code]

[2016-12-20 04:40] evileagle commented on #12995
I also have this issue, my vscode version is 1.8.1 and typescript version is 2.1.4
my folder looks like below:
![image](https://cloud.githubusercontent.com/assets/5699456/21338266/9c2a5daa-c6af-11e6-88b4-91e4a94df527.png),

and my content of jsconfig.json is:
[code]
I added `root: path.join(path.dirname(__dirname), "src"),` to my webpack config, so I can write `var connect = require("utils/connect

[2016-12-20 05:53] vladima commented on #13033
@aluanhaddad not sure that I understand the scenario. Does bootstrapping script needs access to globals (which is ok) or it should be the opposite and something else in the global scope wants to access things declared in bootstrapping script?

[2016-12-20 06:38] joint-song commented on #12994
This's my fault. There are many conflicts in my code, will cause compiling error. @wallverb @mhegazy

[2016-12-20 06:41] mhegazy commented on #12995
can you share your project?

[2016-12-20 06:47] mhegazy commented on #13021
a .js and .d.ts provide a view of a file. the compiler will favor .js automatically. if it picked the .d.ts it will not pick up the .js. .d.ts files are not emitted, since there is nothing to write for them.

if you want your .js file to be transformed and emitted pass it explicitly, `tsc ./src/main.ts ./src/js-with-def.js  --allowJs true --outDir ./out/`

[2016-12-20 07:37] johnfn opened #13046 "Type inference with for...in"
I would expect the following code to typecheck and work:

[code]

However, it gives an error that `x` has no index signature.

The problem appears to be that `foo` is not inferred to be of type `keyof (typeof x)`. If I do the following, there are no errors:

[code]

Shouldn't `x` be inferred to be that type?

(Apologies if this issue already exists somewhere. I searched pretty hard and I could not

[2016-12-20 07:44] cverhelst commented on #7469
@mhegazy It's fixed in the latest patch, thanks! https://github.com/Microsoft/vscode/issues/17345

[2016-12-20 07:58] Aarilight commented on #13013
[code]
This is how I would do it @niokasgami -- not sure if Daniel was inferring something beyond this.

[2016-12-20 08:26] aluanhaddad commented on #13033
In general it's simply that the bootstrapping script might need access to globals which, as you say, is not a problem.
I was just thinking that it's not always correct to assume that the source goal is a Module because it contains a call to require. For practical purposes I don't think it makes much of a difference because these scripts do not tend to interact with one another.

[2016-12-20 08:54] cvle opened #13048 "Ignore certain variables when using --noUnusedLocals"
I want to use destructuring of objects while being able to ignore certain parameters. But with `--noUnusedLocals` I get an error.

[code]

[code]

I formerly used the tslint rule `no-unsued-variable` which supported ignoring any variable having a certain pattern, e.g. any name starting with a `_`. As `tslint` deprecated `no-unsued-variable` in favor of  `noUnusedLocals` I cannot rely on `tslint` a

[2016-12-20 09:11] kgtkr commented on #13018
I'm sorry. I will go to another site
Thank you

[2016-12-20 09:23] aluanhaddad commented on #13023
I'm not sure I understand the notion of shallow intersections.
I would expect the intersection to be as deep as the deepest common path between between the types in question.
Maybe I'm missing something fundamental, but I don't see what else it could be.

[2016-12-20 09:27] markboyall opened #13049 "Array.join has improper typing in .d.ts file"
To reproduce:

class X {}
let arr: X[] = [];
arr.join("");

Expected behaviour: compiler error.
Actual behaviour: compiler accepts.

The array.join function should only be available for arrays of strings.

[2016-12-20 09:38] Aarilight commented on #13049
All arrays have the `join` method in JS. The type shouldn't reflect what's exposed natively?

[2016-12-20 09:39] frankwallis commented on #12875
Before:
[code]

After:
[code]

So it is a definite improvement, I still think it could do better if it cached which folders contain a ```node_modules``` subfolder and more importantly which folders _do not_ contain a ```node_modules``` subfolder. This would allow it to skip a lot of levels when moving up the directory tree.

e.g.
[code]

In this scenario the second resolution of ```normalizr``` co

[2016-12-20 09:42] ca0v commented on #1236
@basarat can you show how this can be done?  I want to do the very thing the error is saying cannot be done.  What is the alternative?
'Import or export declaration in an ambient module declaration cannot reference module through relative module name.'

[2016-12-20 09:48] markboyall commented on #13049
The output is utterly meaningless in every respect, so no, it certainly should not.

[2016-12-20 10:23] MKHenson opened #13050 "Cannot detect type information from imported, inherited class using Partials"
**TypeScript Version:**  2.1.4,

**Compiler options**
[code]

**Code**

[code]

[code]

**Expected behavior:**
When using the InherritedClassTest as the generic, I would expect to see type information presented, as well as flagging any type errors - this does not happen

**Actual behavior:**
Using an exported interface or class seems to work as expected, but a class that extends HTMLFormElement do

[2016-12-20 10:32] plievone commented on #12875
The new module resolution cache in `typescript@next` cuts a large amount of unnecessary work even without using `--importHelpers` and `tslib`, thanks for that. In my case `--traceResolution` line count decreased from 7125 to 4779 lines.

In addition it would help a lot if module resolution cache would record each queried path and use this information to shortcut traversal when possible. For exampl

[2016-12-20 10:33] aluanhaddad commented on #13050
Error is reported in all cases using typescript@next.

[2016-12-20 10:42] HerringtonDarkholme commented on #13049
IMHO`join` has its unique usage in Array if elements have proper `toString` method. Joining number, symbol and string are quite common, such as concatenating template code. Forbidding that will be a huge breaking change.

Also, I'm afraid you cannot express a method that can be only used in some specific instance of a class. You might need introduce a new `StringArray` interface, though.

[2016-12-20 10:44] majo44 opened #13051 "JSX custom jsxFactory returned type are not preserved, always there is assumption that JSX.Element is returned."
**TypeScript Version:**  2.1.4

**Code**
index.tsx:
[code]
tsconfig.json
[code]
emitted result is fine:
[code]

**Expected behavior:**
Such code should be compiled without any error.

**Actual behavior:**
TS2322:Type 'Element' is not assignable to type 'CustomElement'.
  Property 'value' is missing in type 'Element'.
on the line _let x: CustomElement = ...._

[2016-12-20 11:03] squadwuschel commented on #6508
are there some news for IntelliSense in HTML Files/Templates with TypeScript and perhaps Angular 2 for VS Code or Visual Studio?

[2016-12-20 11:08] mgechev commented on #6508
@squadwuschel here's a VSCode plugin for the Angular language service that @chuckjaz developed https://github.com/angular/vscode-ng-language-service.

[2016-12-20 11:21] jkascend commented on #12963
@RyanCavanaugh thanks, glad I was at least looking in the right file before asking for help. :)

So, based on your direction, I've traced the code governing which of those functions (`parseIdentifier` or `parseIdentifierName`) is called for "Foo.false" in OP's example code to here: https://github.com/Microsoft/TypeScript/blob/master/src/compiler/parser.ts#L2045

When parsing the right side of the

[2016-12-20 12:27] aleksey-bykov commented on #13000
@RReverser i tried it, major problem is that type declarations cannot be inherited like interfaces

[code]

[2016-12-20 12:31] aleksey-bykov commented on #8397
@RyanCavanaugh  if performance is a problem (presumably due to recursive deep dives) why not limit checks to a certain depth that can be configured from tsconfig.json, who don't care about typesafety sets "depth: 0" and production ready builds "depth: 100"?

[2016-12-20 12:40] zpdDG4gta8XKpMCd opened #13052 "allow better typechecks by setting a max-recursion depth"
it's been said many times that certain features cannot be implemented properly due to hitting infinite recursion, and because of that all sort of shortcuts been taken to keep performance acceptable

consider adding a `max-depth` parameter to the `compilerOptions` which controls how deep the type checker can go

for developers who don't care about thorough type checks the depth can be 0
others can

[2016-12-20 12:59] gcnew commented on #13023
It seems Flow has taken the shallow path with the left operand being a base type and the right one an extension. [link](https://flowtype.org/try/#0C4TwDgpgBAglC8UDeAoK6oEMBcUDOwATgJYB2A5gNxoYAeuS+uBJFUAvteyqJFAEIJkNdACNmRMlRFR6yKMAmtyHLihQA3TISgbcMAGSDEAClIBXADaXcmUiACU1FAGMA9qQJYlUoRoB0mNTunsBQ4viSbIgBosEeXhC29n7+EJRQAPSZUBC0kC7AEAAmuYSEboSuCWF4PtG6-rT+eNWhCvUqMU3+Ydll5ZUoQA)

It is also what I h

[2016-12-20 13:51] markboyall opened #13053 "Slow compilation without outFile"
The output from tsc --diagnostics:

Files:         1417
Lines:       132281
Nodes:       722439
Identifiers: 238709
Symbols:     373699
Types:       150887
I/O read:     0.09s
I/O write:   10.03s
Parse time:   1.34s
Bind time:    0.47s
Check time:   3.48s
Emit time:   12.61s
Total time:  17.90s

As you can see, the runtime of the compiler is dominated by i/o write. Changing modules to AMD (from CJ

[2016-12-20 13:54] markboyall commented on #13049
I considered doing that, but we thought that it was not worth having to maintain our own copies of lib.d.ts to fix this issue.

Since there is absolutely no way to determine if the toString() method is proper or not, forbidding it seems like the only safe way to go.

[2016-12-20 14:03] basarat commented on #13000
interface Box extends Point, Size { // <-- type error

Think type & / intersection solve it 🌹

[2016-12-20 14:24] jesseschalken commented on #13043
@RyanCavanaugh I posted [a solution](https://github.com/facebook/flow/issues/3049#issuecomment-268166992) against the Flow issue which you may be interested in, which I'll repeat here.

Basically you store against a function signature whether or not extra parameter slots should accept anything `{}` (`mixed` in Flow) or only `undefined` (`void` in Flow), similar to a rest parameter.

For function l

[2016-12-20 14:34] bertolo1988 opened #13054 "How to create an API module in Typescript?"
I have a few methods and models that i want to share across several Typescript projects.

What are the best practices to create dependency that would allow me to use the same model and methods definition across several projects?

[2016-12-20 14:36] normalser opened #13055 "Improve google ranking for TS Playground"
Not sure if you can do anything - I am not an SEO expert - but it would be good to improve google ranking for `TS Playground`. Right now it offers some bizarre results (https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=ts%20playground - proceed at your own risk) and real TS Playground is on 3rd page.

Seems like `<meta/>` with `keyword/description` are missing - but not

[2016-12-20 14:54] QuantumInformation commented on #6257
After searching for days on how to do this, and being directed here, I also support this motion.

[2016-12-20 15:24] tycho01 commented on #10247
@aleksey-bykov:

I was like, well, I imagine it wouldn't have been erased intentionally!

@gcnew: how were you testing [those](https://github.com/Microsoft/TypeScript/issues/9949#issuecomment-267490091)? I'd be curious to try as well. I tried setting my VSCode `typescript.tsdk` to the `lib` path of your branch after an `npm i` / `gulp local` there, but no dice. Willing to switch IDE if it helps.

[2016-12-20 15:29] RReverser commented on #13000
Agree with @basarat, basically for inheriting type you'll need `type Box = Point & Size;` which looks less awkward IMO.

[2016-12-20 15:38] papercuptech commented on #9259
Appreciating TS's position, here's a simple solution to the 90% use case for those of us using node, but wanting the convenience of using `baseUrl` relative `require()` calls without any fuss.

This solution hooks node's `require()` call, and resolves requests using the dirname of "main" to mimic `baseUrl`. It therefore assumes the `baseUrl` compiler option was also set to the same directory where

[2016-12-20 15:39] arusakov commented on #11298
@DanielRosenwasser
Do we disallow old style octal literals in enums? I can take it to work.

[2016-12-20 15:52] pspeter3 opened #13057 "Diagnostics for costly type inference"
**TypeScript Version:**  2.1.1 / nightly (2.2.0-dev.201xxxxx)

As described in http://stackoverflow.com/questions/36624273/investigating-long-typescript-compile-times, untyped generics can cause the TypeScript compiler to spend significantly more time type checking. It would be extremely useful to have the diagnostics report expensive type inference.

**Code**

This is copied from the StackOverflo

[2016-12-20 16:08] RyanCavanaugh commented on #13049
This would be a fairly substantial breaking change, and I think you're going to get a **lot** of people who object to disallowing this on `number[]`s. But we can consider it.

[2016-12-20 16:09] RyanCavanaugh commented on #13048
Duplicate #12766 ?

[2016-12-20 16:19] tnikodym opened #13058 ""ReferenceError: _this is not defined" when capturing this in super call"
**TypeScript Version:**  2.1.4

**Code**

[code]

**Emitted code TypeScript@2.1.4:**

[code]

**Emitted code TypeScript@2.0.10:**

[code]

**Actual behavior:**

No error is reported at compile time and the code throws ReferenceError in runtime.

**Note:**

The same TS code works fine when compiled in older versions of tsc (e.g. 2.0.10)

[2016-12-20 16:20] aochsner commented on #12234
Okay. I added a couple more test cases for InsertSpaceBeforeFunctionParenthesis. Found InsertSpaceAfterFunctionKeywordForAnonymousFuctions to cover that case. Added InsertSpaceAfterConstructor to handle that case. That should cover the main cases that http://eslint.org/docs/rules/space-before-function-paren enforces.

Let me know what else should be done. Thanks!

[2016-12-20 16:22] papercuptech commented on #9910
Appreciating TS's position, here's a simple solution to the 90% use case for those of us using node, but wanting the convenience of using `baseUrl` relative `require()` calls without any fuss.

This solution hooks node's `require()` call, and resolves requests using the dirname of "main" to mimic `baseUrl`. It therefore assumes the `baseUrl` compiler option was also set to the same directory where

[2016-12-20 16:22] papercuptech commented on #10866
Appreciating TS's position, here's a simple solution to the 90% use case for those of us using node, but wanting the convenience of using `baseUrl` relative `require()` calls without any fuss.

This solution hooks node's `require()` call, and resolves requests using the dirname of "main" to mimic `baseUrl`. It therefore assumes the `baseUrl` compiler option was also set to the same directory where

[2016-12-20 16:33] gcnew commented on #10247
@tycho01 Yes, you have to `gulp local` (`jake local` works too) and then you have to point `typescript.tsdk` to `PATH_TO_FORK/built/local`.

[2016-12-20 16:51] tycho01 commented on #9949
Man, this is already an awesome improvement as-is, hope this could make it in.

@gcnew: what would you be expecting for `f5` here? I'd be inclined to think the compiler is getting the best inference it can using the info available...

That `Type argument candidate 'T' is not a valid type argument because it is not a supertype of candidate 'string'.` in `f7` is pretty weird though.

[2016-12-20 17:00] gcnew commented on #9949
@tycho01 Yes, you are right about `f5`. My remark is that its wrong from a logical perspective. `f7` is correct as well. `{}` says any type could work here (because of `String(x: any) => string)` and `id` just picks it up. It can be generalized to a type param but it won't change anything.

[2016-12-20 17:20] aluanhaddad commented on #10178
@dbrgn You are experiecning a different issue. If emojione is actually a global, then your type definition is incorrect. It neither declares a global, nor is a UMD style declaration (this is about UMD style declarations), it actually declares a pure ES Module only.

If emojioneis represents a global, don't export at the top level of the file, that makes it a module.

It works with namespaces.

[2016-12-20 17:38] aleksey-bykov opened #13059 "allow tsserver to be restarted via its public API"
every time i open a JS file in my TS project in VSCode, i stop getting any help from tsserver, no autocomplete/hints/anything

i have to close VSCode and start it over, it would be nice to tell tsserver to restart itself instead

[2016-12-20 17:49] errorx666 commented on #12795
`undefined + 1` evaluates as `NaN`.  Maybe `y` should be typed as the literal `NaN` value.  `NaN` is almost as troublesome as `null` in places, and harder to deal with (`NaN !== NaN`, `typeof NaN === 'number'`).  It's one of those cases of the compiler being technically correct but not very useful.  Perhaps we could consider treating it specially as well.

`value+""` is often used in place of `Str

[2016-12-20 17:55] flts opened #13060 "Network Shares resolves incorrectly caused by GetFinalPathNameByHandle"
**TypeScript Version:**  2.1.4
**Visual Studio Version:**  2015.3

**Scenario:**
Developing web applications on a Windows 10 virtual machine running in Parallels using Shared Folders to not have duplicated files in multiple development environments.
Parallels Shared Folders are basically network shares mapped to a drive id.
So for example drive Y: is mapped to \\mac\home\.

**Expected behavior:**

[2016-12-20 18:23] aluanhaddad commented on #13059
I actually have set this up because the problem is so rampant
[code]

[2016-12-20 18:39] mhegazy commented on #13053
do you have an antivirus running on this machine?

[2016-12-20 18:43] scriby opened #13062 "Visual studio and VS code don't apply tsconfig.json if it uses braces in glob"
**TypeScript Version:**  2.1.4

**Code**

[code]

**Expected behavior:**

Decorators can be used without issue in Visual Studio and VS Code for ts/tsx files in the current directory.

**Actual behavior:**

Visual Studio and VS Code give an error indicating decorators are not supported. The tsc compiler works just fine. Changing `"**/*{.ts,.tsx}"` to `"**/*.ts", "**/*.tsx"` works around the error.

[2016-12-20 18:45] mhegazy commented on #13058
looks like a duplicate of https://github.com/Microsoft/TypeScript/issues/12764. Can you give `typescript@2.2.0-dev.20161215` or later a try?

[2016-12-20 18:45] #13058 closed

[2016-12-20 18:45] mhegazy commented on #13059
This sounds like a bug. we would appreciate it if you can share some repro steps/project samples to help us diagnose the issue.

[2016-12-20 18:46] Aryk commented on #1520
@malibuzios Just curious, how do you specify your own __extends function to TS? Do you just define it in the global scope. Is there anyway to use it on specific classes?

[2016-12-20 18:48] mhegazy commented on #13060
thanks for the detailed drill down. we are actually working on fixing this now.

[2016-12-20 18:51] #13044 closed

[2016-12-20 19:01] anvish opened #13063 "strictNullChecks breaks typeof"
**TypeScript Version:**  2.1.4

**Code**
[code]
tsconfig.json:
[code]
**Expected behavior:**
No errors, like `"strictNullChecks": false`
**Actual behavior:**
`typeof` wants variable to be assigned

[2016-12-20 19:03] vladima commented on #13059
@aleksey-bykov can you please enable tracing for tsserver in VSCode via `"typescript.tsserver.trace": "verbose"` and send us the content of TypeScript output window after opening .js file and requesting i.e. quick info?

[2016-12-20 19:06] googol opened #13064 "Inferred this parameter of class member function doesn't conflict with `this:void`"
**TypeScript Version:**  2.1.4

**Code**

[code]
Using compiler option `noImplicitThis`.

**Expected behavior:**
Expected to get `error S2345: Argument of type '(this: Foo) => void' is not assignable to parameter of type '(this: void) => void'` on both invocations of the `call` function.

**Actual behavior:**
Only got the error on the second invocation, where the method bar with the explicit this

[2016-12-20 19:21] aleksey-bykov commented on #13059
[code]

[2016-12-20 19:25] envygeeks opened #13065 "HTML inside of strings in if statement cause false positive for types."
**TypeScript Version:**  2.1.4
**Code**

[code]

**Expected behavior:** Properly outputted Typescript.
**Actual behavior:**

[code]

[2016-12-20 19:38] mhegazy commented on #11619
Should be fixed in latest.

[2016-12-20 19:38] #11619 closed

[2016-12-20 19:53] TylerBrinkley commented on #12646
Yeah, I just hit this bug as well. Below is my test case.

[code]

[2016-12-20 20:22] stephanedr opened #13066 "Spread operator should declare members as undefined for null or undefined objects"
**TypeScript Version:**  2.1.4 & 2.2.0-dev.20161220

**Code**
[code]

**Expected behavior:**
`b.a` to be `number | undefined`, as if `t` is `null` or `undefined`, `b` is an empty object.
**Actual behavior:**
`b.a`is `number`.

[2016-12-20 20:28] rbuckton commented on #12796
The transformation-based emitter has a transformation phase for each script target, so that by the time we transform to ES5, we have already transformed to ES2015. The new emit is now more consistent with the ES2015 emit and has the same runtime semantics.

[2016-12-20 20:29] #12796 closed

[2016-12-20 20:35] DanielRosenwasser commented on #13065
If `converted` is not equal to `"<p></p>"`, then you'll jump into the body of the `if`. If it is equal to that, then you're going to check whether it's equal to `"<p><br></p>"`, which it clearly can't be, because TypeScript just determined that it's equal to `"<p></p>"`.

So did you mean to write `&&`?

[2016-12-20 20:37] snytkine opened #13067 "Proposal: preserve parameterized types"
Would it be possible to preserve parameterized metadata?

For a code like this one

[code]

It's currently possible to get the value of design:returntype using reflect-metadata but the value is limited to Promise prototype

It would be very helpful to also somehow preserve the type of Promise as well. This would be very helpful for writing a library that generates documentation from code, possibly

[2016-12-20 20:43] unional opened #13068 "Feature: Auto inferred class properties"
Don't know would this go against "type safety" in general.
I think with flow analysis this is now possible.

[code]

EDIT: It's a pain to see `allowJS` works with Javascript like this but not within TypeScript. 🌷
EDIT2: add `private`

[2016-12-20 20:46] envygeeks commented on #13065
That's nonsense.  Sure there was a mistake within the example (and not within the source) but you're telling me that instead of properly syntax checking and spitting out a valid error it automatically jumps to the wrong conclusion that a string must be a type and that's valid?  Regardless of the mistake that was made it shouldn't have even come close to that conclusion based on the context around

[2016-12-20 20:47] RyanCavanaugh commented on #13065
What exactly is the bug report here?

[2016-12-20 20:48] DanielRosenwasser commented on #13068
You can check out #4955 and our discussion at #5196. One of the major problems is that you could misspell a property within the constructor and accidentally declare something twice. In principle, tooling could help with this.

@ahejlsberg @mhegazy @RyanCavanaugh do we feel we want to reconsider this?

[2016-12-20 20:52] envygeeks commented on #13065
There is no bug here, I'll move along and deal with it.

[2016-12-20 20:52] #13065 closed

[2016-12-20 20:58] unional commented on #13068
That's a quick response. 👏

IMO the misspell is not much of a concern in practice, as nowadays engineers always use an editor/IDE with completion support (the key strong reason of writing TypeScript over JavaScript).
So the engineer will notice the misspell pretty easily.

Also, I think the compiler should not concern about misspell because I can happily `class Foo { a1; number, a2: number, ... }`

[2016-12-20 21:03] karlthepagan commented on #5843
Passing a constructor reference is the only way I know to materialize a parameterized type in a function signature per issue #4890. This restriction on passing a constructor reference constrains useful type checking.

[2016-12-20 21:05] marcomorain commented on #11619
👍

[2016-12-20 21:19] aleksey-bykov commented on #13039
ha! don't downvote me, downvote the design team how is making typescript is the only language out there that sacrifices correctness for "convenience" of use, this is blatant and unprecedented

[2016-12-20 21:27] aleksey-bykov commented on #13068
@DanielRosenwasser

please no

since it doesn't have any explicit syntax (like `private`, `protected`, `public` with auto initialized properties) there is a very high chance of misspells and unwanted garbage in the code

that's the drawback

now what's the benefit of it?

[2016-12-20 21:35] aleksey-bykov commented on #13068
partial initialization is a nasty thing, a class should be fully initialized in it's constructor, all "partial" logic should be taken outside of it

if so, then partial properties are suffice:

[code]

let's not encourage bad patterns

[2016-12-20 21:37] andy-ms opened #13069 "Can't downcast by self-assignment"
**TypeScript Version:**  nightly (2.2.0-dev.20161220)

**Code**

[code]

**Expected behavior:**

No error.

**Actual behavior:**

`a.ts(3,12): error TS2322: Type '{}' is not assignable to type 'number'.`

Funny that it works with union "downcasting", but not for supertype->subtype downcasting.

[2016-12-20 21:43] arusakov commented on #12410
Also doesn't work correctly for simple union type:
[code]

[2016-12-20 21:52] zelein opened #13070 "Interface with all optional params not enforced in function signature"
**TypeScript Version:**  2.1.4

**Code**

[TS Playground of code](https://www.typescriptlang.org/play/index.html#src=interface%20Test%20%7B%0D%0A%20%20%20%20foo%3F%3A%20number%3B%0D%0A%20%20%20%20bar%3F%3A%20string%3B%0D%0A%7D%0D%0A%0D%0Afunction%20exec(obj%3A%20Test)%3A%20void%20%7B%0D%0A%20%20%20%20return%3B%0D%0A%7D%0D%0A%0D%0Aconst%20testVar%3A%20number%20%3D%201%3B%0D%0A%0D%0Aexec(testVar)%3B

[2016-12-20 22:00] mhegazy commented on #2893
Should be fixed by https://github.com/Microsoft/TypeScript/pull/11768

[2016-12-20 22:00] #2893 closed

[2016-12-20 22:02] DanielRosenwasser commented on #13068
Part of my job is to grow the TypeScript community to new users and audiences. One of the difficult things is decisions to balance some of the tradeoffs between what we consider to be ideal princples and ease of use for new users. A good example of this is making declaration files optional in TypeScript 2.1 - if you don't have `noImplicitAny`, then you can include a package as long as it's install

[2016-12-20 22:05] aluanhaddad commented on #13070
Why exactly? TypeScript is a structurally typed language language.
An interface with no required members is compatible with the empty type `{}`.

The behavior you have observed is both correct and fundamental to the nature of the language.

[2016-12-20 22:10] DanielRosenwasser opened #13071 "Provide quick fix for declaring missing properties"
[code]

`this.foo` doesn't exist, but we should provide a quick-fix to declare it.

[2016-12-20 22:10] mhegazy commented on #4526
This should be working now. `open` command supports a `fileContent`, and a `scriptKindName` properties. The file name (`file`) can be anything, not just a valid file path on disk. so you could pass a uri `"inmemory:\\temp1"`.

[2016-12-20 22:10] #4526 closed

[2016-12-20 22:11] DanielRosenwasser commented on #13068
I've opened up #13071 in favor of this issue. I think I'm going to mark this as a duplicate and we can consider revisiting the topic if editor quick-fixes are still too cumbersome to address the issue.

[2016-12-20 22:11] #13068 closed

[2016-12-20 22:12] zelein commented on #13070
Precisely. Why is TypeScript allowing more than just the empty type ```{}```?
Are you saying that TypeScript sees primitives and empty object structures as equals?

[2016-12-20 22:20] DanielRosenwasser commented on #12410
For those who want to tackle this, you might need to use `getConstraintOfTypeParameter`.

[2016-12-20 22:34] alcfeoh commented on #10242
Any known workaround for this issue? For now I just don't catch exceptions and let them land in the browser console, which gets the job done but still doesn't seem right as I should really be able to catch it from my Promise.

[2016-12-20 22:37] niokasgami commented on #13013
wow thanks @Aarilight !
it's seem a little overkill to have to do a method like this but hey this nice....I just hope they will have a nicer way to do that in the futur XD

[2016-12-20 22:45] basarat commented on #13048
With nightly, tested in alm :

@cvle if you do it at the root level it errors on all. Within a function it only errors if `rest` is not used:

![image](https://cloud.githubusercontent.com/assets/874898/21370821/e915ded4-c761-11e6-841a-969f11097b87.png)

I'm not the best judge of what would be *expected*, but I can see ways of suppressing global version but just wrapping and calling a function :ros

[2016-12-20 22:47] Venryx commented on #4094
[code]

The above would be great!

Currently, the inability to disable specific errors that I don't care about is the biggest downside for me about TypeScript. (mostly for cases where I just want it to default to type "any", because I know the code works fine despite not being compile-time-guaranteed type-safe)

[2016-12-20 23:13] aleksey-bykov commented on #13068
didn't know code rewrites has landed, is there a basic example in TS API?

[2016-12-20 23:14] johnfn opened #13073 "Issues with parameterizing over a union type"
Why does this code work:

[code]
And this code fail?

[code]

Unless I've misunderstood `S extends KeyTypes`, all I've done is constrained `key` to be "a" or "b" with my type parameter.

[2016-12-20 23:28] DanielRosenwasser opened #13074 "Provide a Promise polyfill in the playground run page"
So that people can test async/await in older browsers.

[2016-12-20 23:33] aluanhaddad commented on #13070
Not quite. It sees all types as _assignable_ to the empty object type. Consider:
[code]

[2016-12-20 23:39] RyanCavanaugh commented on #13070
The problem with saying primitives shouldn't be assignable to any object-like type is that primitives still have useful things like `toString` which can satisfy target interfaces in some places.

See also https://github.com/Microsoft/TypeScript/wiki/FAQ#why-are-all-types-assignable-to-empty-interfaces or #11862 or many of the dozens of other bugs logged to this effect.

Which search terms did you

[2016-12-20 23:39] #13070 closed

[2016-12-20 23:44] #13004 closed

[2016-12-20 23:47] mhegazy commented on #13004
@sarod, @DomiR and @roypeled can you give `typescript@2.2.0-dev.20161221` tomorrow.

[2016-12-20 23:50] aluanhaddad commented on #13070
@RyanCavanaugh I would say it's not a problem at all and actually it's a feature of JavaScript and many other high-level language they deliberately avoid making a sharp distinction between primitive types and other kinds of types. For example, this difference is observable between C# and Java. It is perhaps a small thing but it raises the level of abstraction by making the language more regular an

[2016-12-20 23:52] DanielRosenwasser commented on #12463
Closing as a duplicate of #3015.

[2016-12-20 23:53] DanielRosenwasser commented on #13067
Closing as a duplicate of #3015.

[2016-12-20 23:53] #13067 closed

[2016-12-20 23:56] DanielRosenwasser commented on #13055
I'll try to push out a change for some meta tags, but if explicit links help: hey Google & Bing, if you're reading this, here's the [TS Playground](https://www.typescriptlang.org/play/).

[2016-12-21 00:07] DanielRosenwasser commented on #13048
@cvle with @12766, you shouldn't need to rename your parameter to `_a`.

@basarat I'm not seeing that in my own editor:
![image](https://cloud.githubusercontent.com/assets/972891/21372790/5426402c-c6ce-11e6-9945-eccadef30da0.png)

[2016-12-21 00:10] #12218 closed

[2016-12-21 00:10] DanielRosenwasser commented on #12218
Thanks for the fix @DanCorder!

[2016-12-21 00:11] mhegazy commented on #13059
looks like the same symptoms of https://github.com/Microsoft/TypeScript/issues/10735. do you see this with all projects, or just one?

[2016-12-21 00:13] #12234 closed

[2016-12-21 00:13] mhegazy commented on #12234
thanks @aochsner!

[2016-12-21 00:32] basarat commented on #13048
@DanielRosenwasser sorry I had an export so the file was a module. Complete example:

[code]

![image](https://cloud.githubusercontent.com/assets/874898/21373210/31482ffe-c771-11e6-9911-2b5dc9ebb45d.png)

[2016-12-21 00:33] #12463 closed

[2016-12-21 00:33] basarat commented on #13048
_interesting_ that its different for function vs. module used variables :rose:

[2016-12-21 00:46] aluanhaddad commented on #12218
Much appreciated!

[2016-12-21 00:49] mhegazy commented on #13073
if your function expects a value that is either `"a" | "b"`, and the result does not depend on which one you get then use the concreate type for your parameter, and not a generic.

if your result depends on which value you pass, e.g. `return MyThing[Key]`, then use the generic type. Keep in mind that the constraint is useful for specifying bounds but the type parameter is still a generic type.

Th

[2016-12-21 00:55] johnfn commented on #13073
I see what you're saying about the constraints being delayed until instantiation. But isn't it possible to determine that `MyThingy[key]` is an array no matter what the type of `key`, even at compile time? Since we know that `S extends KeyTypes`?

Unfortunately, I really do need the generic type. This is a minimum reproducible example of a much larger project.

[2016-12-21 01:02] mhegazy commented on #13073
if you can use it as an array then the result will be the union type as well. do not think ` return MyThingy[key]; ` should return `MyThing["a"] | MyThing["b"]`, you really want it to be `MyThing[key]`

[2016-12-21 01:04] dtabuenc commented on #13073
This might be more representative of what he's asking:
[code]

[2016-12-21 01:09] mhegazy commented on #13073
for `+`, this should be handled by https://github.com/Microsoft/TypeScript/issues/12410. the rule on `+` should be relaxed to allow for type variables (that is a type parameter or an index type) with constraints that resolve to `string | number`.

[2016-12-21 01:11] mhegazy commented on #13068
https://github.com/Microsoft/TypeScript/tree/master/src/services/codefixes

[2016-12-21 01:12] DanielRosenwasser opened #13076 "Variable names from rest-destructured declarations marked as unused in modules"
From https://github.com/Microsoft/TypeScript/issues/13048#issuecomment-268400368 and as a continuation of #12766, the following causes unused local errors where marked when using `--noUnusedLocals`.

[code]

![image](https://cloud.githubusercontent.com/assets/874898/21373210/31482ffe-c771-11e6-9911-2b5dc9ebb45d.png)

[2016-12-21 01:12] DanielRosenwasser commented on #13048
Closing in favor of #13076.

[2016-12-21 01:12] #13048 closed

[2016-12-21 01:12] dtabuenc commented on #13073
I don't think that's the crux of it. The fundamental question is why the parameterized is not being fully resolved at compile time. Take a slightly different example without +:

[code]

[2016-12-21 01:16] dtabuenc commented on #13073
In that last example we know that `T` is limited to keys of  `Foo`, and that `DateEditedCount` maps all keys of `Foo` to `Date[]`  so when we do `DateEditedCount[T]`  we should be able to resolve that at compile time to a `Date[]`.

[2016-12-21 01:22] SaschaNaz commented on #9856
This seems fixed now.

[2016-12-21 01:27] mhegazy commented on #13073
this is a special case, where the type of `propEditCount[prop1] | propEditCount[prop2] ` is `Date[]`. it is not the same in the general case where the types are different. the options here either a. you get  union type, or b. an indexed access type e.g. `T[K]`, and a thing can not have two types.. a. is clearly wrong, since you want  `T[K]` to be the `K` that the generic function was instantiated

[2016-12-21 01:27] aleksey-bykov commented on #13068
In which IDE can thus be seen?

On Dec 20, 2016 8:12 PM, "Mohamed Hegazy" <notifications@github.com> wrote:

[2016-12-21 01:29] mhegazy commented on #13068
should be visible in the next version of VS Code and the next version of VS 2017.

[2016-12-21 01:34] dtabuenc commented on #13073
It is not uncommon to define a type that maps all keys of another type to  a common type. I don't know anything about the compiler implementation or complexities involved, but would it be wroth supporting this case such that if the union of all the possible `T[K]`  is all the same, it just maps to the common type?

[2016-12-21 02:01] #6513 closed

[2016-12-21 02:10] SaschaNaz commented on #12238
What exactly does this issue require? A new formatting option to remove that space, or the space should just never be inserted?

[2016-12-21 02:30] aleksey-bykov opened #13078 "allow absolute paths in import codefix to support AMD modules"
~~Undeclared identifier can be searched though all known modules, a codefix that imports the said identifier from one of the found modules should be offered to the user~~

Import codefix adds a relative path to a module, please allow absolute paths too to support AMD

[2016-12-21 02:35] aleksey-bykov opened #13079 "add codefix that eliminates unused imports"
For any unused import there should be an option to automatically remove it. There also should be an option to remove all unused modules together at once.

[2016-12-21 02:39] aleksey-bykov opened #13080 "add codefix for rearranging parameters"
It should be possible to rearrange the arguments/parameters at all callsites/declaration of a non overloaded function.

[2016-12-21 02:52] aleksey-bykov opened #13081 "add codefix for extracting method/function"
for any valid block of code inside a method, provide a way to extrac it to an instance or better yet a static method

same for a valid block inside a function to be taken out to another function

[2016-12-21 02:56] aleksey-bykov opened #13082 "add codefix for extracting an interface from an object literal"
given an anonimous object literal, allow extracting interface by looking at the effective types of the values of the properties

[2016-12-21 03:02] aleksey-bykov opened #13083 "allow pluggable codefixes"
Allow loading user-made codefixes from a separate folder.

[2016-12-21 03:04] aleksey-bykov opened #13084 "allow configuration section in tsconfig for customizing codefixes"
There might be a section in tsconfig say `"codefixes"` which would be a dictionary of arbitrary configuration objects keyed by names of codefixes. Such object containing customization would be passed to the code of a corresponding codefix.

[2016-12-21 05:29] unional commented on #8436
I don't see why the `require` would be a problem:
https://github.com/umdjs/umd/blob/master/templates/returnExports.js

[2016-12-21 05:31] unional commented on #8436
By the way, I did [this](https://github.com/unional/unional-umd) two years ago, maybe it can be simplified and used in the compiler.

[2016-12-21 06:21] arusakov commented on #12410
Am I right that:
[code]

[2016-12-21 07:22] hemendray120 commented on #12946
Hi Sheetal,

I have clean the global module and again install the typescript@next now this time i getting below error:

C:\Users\hemendra.yadav\AppData\Roaming\npm\node_modules\typescript\lib\tsc.js:49882
                throw e;
                ^

RangeError: Maximum call stack size exceeded
    at getTypeAtFlowAssignment (C:\Users\hemendra.yadav\AppData\Roaming\npm\node_modules\typescript\lib\ts

[2016-12-21 07:49] pocesar opened #13085 "Declaration of string guard for number-only keys aren't possible"
**TypeScript Version:**  2.1.1 / nightly (2.2.0-dev.201xxxxx)

**Code**

[code]

**Expected behavior:**

Define guarded string types for 'number only' keys as strings

**Actual behavior:**

Won't allow definition of number-only keys, that at runtime are coerced to strings, unless it's a symbol

[2016-12-21 07:56] MastroLindus opened #13086 "Flow analysis doesn't work with es6 collections 'has' method"
**TypeScript Version:**  2.1.1

**Code**

[code]

**Expected behavior:**
y is narrowed down to string
**Actual behavior:**
y is still string | undefined even after checking if the map has that key

[2016-12-21 08:05] alexanderby commented on #9613
So, I'm using VSCode 1.8.1, I have the next workspace settings
[code]

Still instead of
[code]
I get this
[code]

Is this issue fixed?

[2016-12-21 08:08] arusakov commented on #13086
You can workaround this by using:
[code]

[2016-12-21 08:30] greendimka commented on #563
@aluanhaddad: but isn't TypeScript's main function is to provide us with language elements which are not present in JavaScript? Why is it a bad idea to have to class split into two partial TypeScript files, which will be compiled into a single JavaScript file?

I really do not see the problem with giving a tool to the community. And I am 100% sure there will be devs who will misuse it. But also de