[2015-07-30 05:23] basarat commented on #2749
Which is why I brought up babel to present a precedence. It just preserves it :rose:

[2015-07-30 05:25] mhegazy commented on #2749
@basarat we should do that. let me get back to you tomorrow, i will bring it up in the design meeting.

[2015-07-30 05:59] kitsonk commented on #4038
@danquirk yes, but you might assuming that ES Classes will support the right sort of design patterns.  I for one remain unconvinced that ES Classes will head the direction everyone wants to go, and even then, it might take a while to get something agreed.

I know TypeScript is trying to do its best to be "future proof" and not meddle in things that might break in the future, but I suspect having a

[2015-07-30 06:14] jesseschalken commented on #2749
@DanielRosenwasser "But clearly there is a use case for other tools to run the `.ts` file directly with no resultant `.js` file."

I must be missing something. The only two ways some tool could "run" a `.ts` file would be:
- Convert the TS into JS using `tsc` and pipe that into a JS interpreter such as `node`. `node` ignores a `#!` line in it's input, so it's fine if `tsc` kept it in its output. I

[2015-07-30 07:43] jscriptcoder opened #4083 "Lib.d.ts - DataView interface issue?"
Hi there,

I upgraded recently to TypeScript 1.5 and I got complains from the compiler because the methods "getInt32", "getFloat32", etc... which take "byteOffset" and "littleEndian" as parameters, have the latest one, "littleEndian", mantadatory. I went throw the documentation about these methods and this parameter, "littleEndian", should be optional.

Is this a mistake?

Thanks,
Fran

[2015-07-30 07:58] nukefusion commented on #4077
+1. I can confirm this after struggling for a while to understand why the trusty old "Cannot compile external modules unless the --module flag is provided" message just wouldn't go away.

[2015-07-30 11:34] ivanovvitaly commented on #1143
Change MSBuild path from one that in Microsoft.NET folder to one that in Program File, in my case its c:\Program Files (x86)\MSBuild\12.0\Bin\MSBuild.exe.

[2015-07-30 11:50] bawr commented on #4032
This issue is of particular interest to me as well. I wouldn't mind working on it over the weekend, but I have one question first, since my Google-fu failed, and I don't want to break my TSC setup just yet. ;)

When I make my changes and I want to test them in Visual Studio, is it enough to overwrite the `typescriptServices.ts` file in the `..\CommonExtensions\Microsoft\TypeScript` directory with

[2015-07-30 13:45] guybedford commented on #3655
Any update on having the helper functions included within the `System.register` wrapper here? From a SystemJS perspective this is one of the last remaining major issues I believe.

[2015-07-30 14:46] IngageStroliaC commented on #12
:+1:

[2015-07-30 14:54] DanielRosenwasser commented on #4032
@bawr I would use Dev mode and have your language service file point to the one in your `built/local` folder instead, though, if you build with errors, your language service might crash. We need to modify our Jakefile to avoid this.

See https://github.com/Microsoft/TypeScript/wiki/Dev-Mode-in-Visual-Studio

[2015-07-30 15:12] bawr commented on #4032
Sweet!

I actually browsed through the wiki, but I neglected to look at the page listing *after* scrolling down, heh.

[2015-07-30 15:16] #3987 closed

[2015-07-30 15:19] DanielRosenwasser commented on #4083
@zhengbli might know more about this.

[2015-07-30 15:23] DanielRosenwasser commented on #4078
Also at the top of "General", those drop-down boxes and their labels are a little too close.

[2015-07-30 15:48] dsebastien commented on #12
+1

[2015-07-30 16:03] DanielRosenwasser commented on #4076
Is this a duplicate of #294 or related to #2338?

[2015-07-30 16:27] DanielRosenwasser commented on #1953
What exactly is the reason for that?

[2015-07-30 17:14] alexeagle opened #4085 "Compiler crash for Angular @1.6.0-dev.20150729"
Thanks for publishing the nightly builds, that is very convenient.
I'm working to update angular (https://github.com/angular/angular/pull/3400)

Repro:
[code]

I can also repro with 1.6.0-dev.20150723 FWIW

[2015-07-30 17:16] DanielRosenwasser commented on #4085
I think this is a duplicate of #3932.

[2015-07-30 17:17] #4085 closed

[2015-07-30 17:21] DanielRosenwasser commented on #4085
@alexeagle for what it's worth, I think you can temporarily get around this by adding a type annotation to your decorated methods

[2015-07-30 17:44] #3932 closed

[2015-07-30 17:44] mhegazy commented on #4085
can you give latest a try?

[2015-07-30 17:45] mhegazy commented on #3932
thanks @pcan

[2015-07-30 17:47] DanielRosenwasser commented on #1206
@impinball sorry for the delay, things have been fairly busy. I haven't gotten the chance to read the whole proposal, but I do question the utility of a constant void enum.

[2015-07-30 17:52] DanielRosenwasser commented on #4085
@mhegazy means `master`, we don't have a nightly built yet.

[2015-07-30 17:57] alexeagle commented on #4085
And didn't update LKG either :)
trying now

On Thu, Jul 30, 2015 at 10:52 AM Daniel Rosenwasser <
notifications@github.com> wrote:

[2015-07-30 18:20] mhegazy commented on #4076
I believe they are related. I wounder if #2338 will fix this. pinging @vladima.

[2015-07-30 18:34] alexeagle commented on #4085
Fixed with current HEAD (and presumably with 20150731 nightly)

[2015-07-30 18:46] Zlatkovsky opened #4087 "Allow property get vs. set to be of different types"
Currently, TypeScript requires that the `get` and the `set` types of properties match.  However, there are scenarios where, I think, it would be very useful to have a `set` that is more accepting than the get.

For example: imagine you have a property of `Array<Array<string>>` type.  Today, this means that both the get and set would have to be of the same type, and so setting the property would al

[2015-07-30 18:48] danquirk commented on #4038
Right, my concern here re:ES6 was not really future incompatibility and just musing on the general ROI of any work here if we expect people to move to ES6 classes in short order. There's definitely some opportunity here for TypeScript to just infer the right thing from a pattern that people are already commonly using, although as far as things like traits and mixins I'd prefer something a little m

[2015-07-30 18:52] RyanCavanaugh commented on #4087
Duplicate of #2521

[2015-07-30 18:52] #4087 closed

[2015-07-30 18:54] danquirk commented on #4077
Manually editing the project file to your desired setting is at least unblocking you while we fix this right?

[2015-07-30 18:56] danquirk commented on #4078
Yeah, the first option in every section is too close to its header text

[2015-07-30 18:58] danquirk commented on #1953
@DanielRosenwasser I believe because

_This has to do with the nondeterministic order of types for union type collapsing._

is no longer relevant as subtype reduction for union types was removed as part of the strict object literal changes. We should double check that this actually no longer repros though.

[2015-07-30 19:00] richardspence commented on #4077
Yeah, that's exactly what I've done to unblock.

[2015-07-30 19:29] mhegazy commented on #4085
thanks for confirming!

[2015-07-30 19:30] mhegazy commented on #3655
Should have it in a release before the end of the week.

[2015-07-30 20:48] matthew-dean commented on #1667
Is there any way to merge the efforts of various compilers, transpilers, and other command-line engines into adopting a single config.json format, somewhat like package.json?

Other libraries like Less have had a similar discussion. https://github.com/less/less.js/issues/1893  Why don't all of our communities collaborate and come up with one format? That way we don't litter the root directories of

[2015-07-30 21:11] DanielRosenwasser opened #4089 "Consider only showing builders in object literal completions its contextual type has an index signature"
Since users are no longer allowed to have excess properties in an object literal, it might be appropriate to only show a builder when the contextual type of an object literal has no index signature.

For instance:

[code]

*However*, this may not be sufficient; in the presence of a type assertion, one actually *does* want to allow a builder, since this is one of the recommended workarounds anyway:

[2015-07-30 21:11] matthew-dean opened #4090 "Define a unified "config.json" format"
Dear TypeScript community,

Various communities have been trying to solve the same problem: a way to persist the settings passed to a command-line compiler, that is also easily readable by an IDE.

The Less.js discussion: https://github.com/less/less.js/issues/1893
The TypeScript discussion: https://github.com/Microsoft/TypeScript/issues/1667

I'm sure there are more. TypeScript recently decided t

[2015-07-30 21:13] danquirk commented on #4089
Seems like a good idea

[2015-07-30 21:15] DanielRosenwasser commented on #4089
Though I recall another edge condition is that we would need to allow a builder for the empty type as well.

[2015-07-30 21:16] matthew-dean commented on #4090
As an alternative to this, if people think that the config.json file may get too large if it is expanded with different keys, another option might be to do nothing more than segregate and standardize those config files. As in:

[code]
Does that make more sense?

[2015-07-30 21:19] matthew-dean commented on #4090
In addition, supplying a schema for the settings of that file is also a brilliant addition, and necessary for IDE integration. I think this is fantastic: http://json.schemastore.org/tsconfig

Would there be a way to standardize that as well?

[2015-07-30 21:32] RyanCavanaugh commented on #4090
I don't know that we're in a position to define a config file standard for the universe of JavaScript tools. If there were a standard already, we would certainly sign on.

Somehow herding together a dozen or so popular tools and getting them all to agree on a file format might be a good way to bootstrap that process, though.

Obligatory https://xkcd.com/927/ :wink:

[2015-07-30 21:32] sccolbert opened #4091 "amd-module tag has no effect on generated d.ts file"
When using `/// <amd-module name="foo/bar/baz" />` to name an AMD module, the generated d.ts file does not declare an ambient declaration; it remains an anonymous module. This ties into the ongoing discussion about how to best bundle external libraries.

Edit: removed useless hyperbole

[2015-07-30 21:38] matthew-dean commented on #4090
@RyanCavanaugh lol, one of my favorite XKCD comics.

Right, no time like the present?  ;-)

Okay, if it's not in TypeScript's wheelhouse right now, that's okay. But as an IDE developer, it's distressing to come across these various config formats. Automatically import the tsconfig.json file? Or just persist those settings to the application configuration storage? What if they change in-app configu

[2015-07-30 21:44] vladima commented on #3971
Adding [.js content of npm package is moved from 'bin' to 'lib' folder](https://github.com/Microsoft/TypeScript/wiki/Breaking-Changes#js-content-of-npm-package-is-moved-from-bin-to-lib-folder), see #3408 for more details

[2015-07-30 21:44] #3408 closed

[2015-07-30 21:51] RyanCavanaugh commented on #4090
It is crazy. It's just a straightforward example of Tragedy of the Commons -- when you come along and there are 627 different config file formats, adding the 628th doesn't seem like a big deal, and having a config file *today* is much better for you than waiting (forever) for everyone else to standardize before you make your config file. It's similar to how despite having commandline tools for ove

[2015-07-30 21:52] dashaus commented on #3937
I have the same problem with my project. Currently, I switched to "umd" and this works but I would like come back to use SystemJS!

[2015-07-30 22:35] JsonFreeman commented on #1953
It isn't really because we eliminated subtype reduction in that change. We did in fact eliminate subtype reduction. But more importantly we eliminating the sorting of union constituents by type id. That was the source of the nondeterminism.

[2015-07-30 22:38] mhevery opened #4092 "Missing namespace when importing Types with experimentalDecorators"
SOURCE: https://github.com/mhevery/github_issues/tree/ts_issue

When compiling [`mention_component.ts`](https://github.com/mhevery/github_issues/blob/ts_issue/issue_component.ts) produces incorrect [`mention_component.js`](https://github.com/mhevery/github_issues/blob/ts_issue/build/mentions_component.js)

The issue is that it generates:
[code]

But it should generate:
[code]

Compiler: tsc v1.5.3

[2015-07-30 22:39] mhegazy commented on #4091
that is because the compiler never emits modules as ambient external module declarations. i am working on a change to make this happen though. so i will take on this one,

[2015-07-30 23:08] ngbrown commented on #3928
@pieter-lazzaro have you found this as fixed?  I'm getting errors using react-router in TypeScript, so I tried your example exactly to see if I was doing something, and got the same errors as my code:

[code]

@RyanCavanaugh  The output is now corrected to `test_1["default"]`, but I'm getting the compiler errors.

I'm using ntypescript built from e1c9d28cb0706f81c14ca95b92fa3e2a223cc60b and the mo

[2015-07-30 23:18] mhegazy commented on #3928
@ngbrown use the nightly  builds instead of ntypescript.

[2015-07-30 23:25] RyanCavanaugh commented on #3928
@ngbrown Can you post an example?

Just looking at the error messages, it seems likely you wrote something like this:
[code]
This code would be incorrect. The names of JSX elements are class *constructor functions*, not class *instances* -- React is going to `new` them. It's as if you had written:
[code]

[2015-07-30 23:47] ngbrown commented on #3928
@RyanCavanaugh I copy and pasted the `test.tsx` and `testApp.tsx` from the original post.

@mhegazy about `typescript@next`--is it supposed to support `"jsx": "react"` in tsconfig.json?  I'm trying to use the webpack ts-loader and it seems to rely on it being set at the tsconfig.json level instead of passing `--jsx react` on the command line.

Either way, using `typescript@next` (on the command li

[2015-07-31 01:20] sccolbert commented on #4091
In the meantime, do you have any pointers to generating single `d.ts` file from the generated output?

It seems like the generated anonymous modules cannot be bundled without substantial manual effort. One cannot simply wrap the generated output in a `declare module 'foo'` clause, because then relative imports don't work. If the source is updated to use absolute imports, the output is still incorr

[2015-07-31 01:27] tinganho opened #4093 "JSX element renaming issues"
I just noticed that renaming an JSX element doesn't rename the end tag. I also expect renaming an intrinsic element would be local, when in fact, it renames all elements of that type and even the interface member of `JSX.IntrinsicElements`. Renaming intrinsic elements is quite destructive for a project.

[2015-07-31 01:51] basarat commented on #4073
:+1:

[2015-07-31 02:10] impinball commented on #1206
I am willing to remove it. It was mostly for completeness, but I'm not
really that strongly attached to it.

On Thu, Jul 30, 2015, 13:48 Daniel Rosenwasser <notifications@github.com>
wrote:

[2015-07-31 02:53] xsilen commented on #3444
It sames also have out scope variable declare bug, in higher systemjs, I use systemjs 0.14 and sames work well

[2015-07-31 03:52] basarat opened #4094 "Making JavaScript to TypeScript migration easier : Suppress errors"
# Motivation

I am looking for community ideas to make partial migration from JavaScript to TypeScript easier. Currently the errors suppression mechanism is ugly :  http://basarat.gitbooks.io/typescript/content/docs/types/migrating.html and can cause long term pain. (Am I overlooking something?)

# Plan

I imagine that one creates a `.ts` file and writes plain JavaScript inside it and *has a way t

[2015-07-31 04:38] RyanCavanaugh commented on #4093
Ouch, definitely a bug

I think the more likely fix is that we would disallow this the same way we disallow renaming things in `lib.d.ts`. Rename always means 'rename', not 'change to some other thing' -- switching a `div` to a `span` or what not should be a different operation.

[2015-07-31 04:40] RyanCavanaugh commented on #4094
We've been talking a lot about this lately. Migration is painful enough in certain cases to be an adoption blocker.

I have some ideas, but I'm curious how you define this? Syntactic errors only?

[2015-07-31 04:42] DanielRosenwasser opened #4095 "tsc no longer reports a non-zero error code when reporting errors"
Try installing the nightly with `npm install -g typescript@next` and compile the following file:

[code]

If you try to get the error code from 20150730 (or really any nightly that's available right now), it'll be `0`. If you switch back to 1.5 with `npm install -g typescript@latest`, you'll get an error code of `2`.

[2015-07-31 04:53] RyanCavanaugh commented on #4095
Presumably this is why the DefinitelyTyped test runner didn't report errors?

[2015-07-31 04:55] DanielRosenwasser commented on #4095
Precisely - courtesy of @basarat [on Gitter](https://gitter.im/borisyankov/DefinitelyTyped?at=55baf844dcea60b379febd7b).

[2015-07-31 05:09] basarat commented on #4094
# Implementation
I feel like going though diagnostics disabling reporting all to begin with, and then switching on the ones that make sense for all JavaScript. Especially switching on the Syntactic ones.

# Configuration
* Providing finer control over diagnostics so that a team controls what valid `JS` means to them. Question : How to specify these ignored error codes?

* Secondly how to tell comp

[2015-07-31 05:11] #4028 closed

[2015-07-31 05:11] RyanCavanaugh commented on #3928
Reopening for investigation

[2015-07-31 05:36] s-panferov commented on #4028
@RyanCavanaugh thanks!

[2015-07-31 05:47] robertbaker commented on #4069
@kitsonk  that works but that means I will need to do that for every template file.

This might be an issue @guybedford can solve in the plugin.

[2015-07-31 05:48] kitsonk commented on #4038
@danquirk I would too, but #311 is closed. :cry: The main reason was, if I understand correctly "we are going to wait for ECMAScript to take the lead..."  It is hard to wait for TC39 to try to use and deliver other design patterns.

But if this sort of "modifying the prototype type" were allowed, I, as a middle man, could produce some of this functionality... I will admit @bryanforbes and I have b

[2015-07-31 07:01] apirila opened #4097 "const enums shouldn't start from 0"
Current const enum implementation of TypeScript is problematic due to type coersion in JavaScript. The first element in enum is compiled to 0, which equals to false. Others equals to true. It would be better that all values in the const enum would evaluate to true.

I know that this is a breaking change and while in TypeScript only project, the change shouldn't brake much things, but with external

[2015-07-31 07:31] tinganho commented on #4093
:+1:

@RyanCavanaugh I also find that go to definition in the end tag doesn't work.

[2015-07-31 07:34] RyanCavanaugh commented on #4097
I can't think of a language where it *isn't* the case that an implicitly-numbered enum's first member is false when coerced to a boolean.

If anything, JavaScript programmers should be more equipped to deal with this than e.g. C programmers, because we've had to deal with other falsy primitives like `""`.

[2015-07-31 07:34] #4097 closed

[2015-07-31 07:34] RyanCavanaugh commented on #4093
#4096 should fix that as well

[2015-07-31 07:35] RyanCavanaugh opened #4098 "No JSX attribute intellisense after the first one"
Allow me to demonstrate with a currently-failing fourslash test:
[code]

[2015-07-31 08:43] ttony opened #4100 "Function interface issue"
Hi Team,

Please visit the link below:

http://www.typescriptlang.org/Playground#src=interface%20Callback%20%7B%0A%09(param%3A%20number)%3A%20void%3B%0A%7D%0A%0Aclass%20A%20%7B%0A%09%0A%09public%20doSome%20%3D%20(callback%3A%20Callback)%20%3D%3E%20%7B%0A%09%09callback(123)%3B%0A%09%7D%3B%0A%7D%0A%0A%0Alet%20a%20%3D%20new%20A()%3B%0Aa.doSome(%20()%20%3D%3E%20%7B%0A%09console.log(%22tony%22)%3B%0A%7

[2015-07-31 09:28] tjoskar opened #4101 "Replacing object reference before exporting causing problems"
Hi,

If I have the following typescript code:
[code]

it compiles to:
[code]

So if I importing the object I get:
[code]

But I was expecting `7`. I.e. I was expecting the following JS code:
[code]

Is this a bug or expected behavior?

I am using version `1.6.0-dev.20150731` but it has the same behavior in `1.5.3`.

[2015-07-31 09:28] tjoskar commented on #4101
#### *A maybe more realistic example*:
[code]

If I import `config` after compiling, it will be `undefined`.
If I try to create the variable inside the `if statement` (which I don't want) I get the following code:

typescript:
[code]

compiles to:
[code]

[2015-07-31 10:55] Davidhanson90 opened #4102 "Support pattern matching in <Reference> directives"
Hey all,

Maybe this has been raised before but its something I would really like to see supported in TS.  Basically I would like the ability to support referencing TS files using patterns.  For example

This
[code]
could be
[code]
or folder patterns
[code]

Thoughts?

[2015-07-31 11:13] falsandtru opened #4103 "Generic union tuple type is not defined correctly"
Length and type of tuple elements is not correct.

[code]

[2015-07-31 12:21] Kinchkun commented on #4100
Did I understand you correctly that you think something like this should be illegal:

    var foo: (bar: number) => void = () => { }

IMHO this is not an issue, since the interface only guarantees me that I cannot use a function in a wrong way, i.e. a way which leads to defecting behavior.  Since the following does not altering the function outcome, it satisfy the interface constrain:

    foo(5)

[2015-07-31 12:46] Artazor commented on #1298
@Eyas I've proposed something similar: https://github.com/Microsoft/TypeScript/issues/3076
what do you think about "bottom" as the type of the function that always throws?

[2015-07-31 12:46] nitzantomer commented on #2031
Allowing operators on other object types lets developers the option to "override" operators.
Consider the following snippet:

    class MyNumber {
        private value: number;

        constructor(value: number) {
            this.value = value;
        }

        valueOf(): number {
            return this.value
        }
    }

    var myNum1: MyNumber = new MyNumber(10);
    var myNum2: MyNum

[2015-07-31 13:11] tinganho commented on #3788
What's the status of this?

I'm creating right now a JSX framework. Though I'm using a dirty trick with reusing React's namespaces.

[2015-07-31 13:16] spion commented on #4094
I don't understand - in what way is the migration painful? The compiler still generates JS files. The editor (or an external filtering tool) can be used to filter out error messages in legacy code (based on both paths or error codes), i.e. `tsc | tsc-filter-errors`

Besides there is no better todo message than a compiler error: its there exactly as long as the code isn't annotated and its impossib

[2015-07-31 14:04] RyanCavanaugh commented on #3788
I think we're mostly waiting for feedback. There have been some other JSX emit suggestions and we'll need to prioritize based on how necessary (un-work-around-able) and useful they are.

[2015-07-31 14:06] RyanCavanaugh commented on #4100
Duplicate of #3000

[2015-07-31 14:06] #4100 closed

[2015-07-31 14:07] RyanCavanaugh commented on #4100
See also https://github.com/Microsoft/TypeScript/wiki/Type%20Compatibility#comparing-two-functions

[2015-07-31 14:11] Eyas commented on #1298
@Artazor interesting.

That would certainly be sound, as a function that always throws could be assigned to any type (just that if you evaluate it, you will fail). That makes for an interesting **unoccupied** bottom type (which is what `Nothing` in Scala is, for example).

It also seems that JavaScript already has an **occupied** bottom type: `typeof(undefined)`. If that were named (`Undefined`),

[2015-07-31 14:15] RyanCavanaugh commented on #2031
See also #2361

[2015-07-31 14:23] RyanCavanaugh commented on #4094
Pushing the filtering downstream means multiple toolchains have to agree on the error filtering schema, and implement them with 100% consistency. It's herding :cat2: :cat2: :cat2:

It's also more natural to specify in the file itself what the "migration state" of that file is instead of mucking with a giant list of files in a config file somewhere (not to mention if that file is used in multiple p

[2015-07-31 14:26] RyanCavanaugh commented on #4103
As usual in our type system, you are allowed to have "more" than is required.

The provided array literal satisfies the constraint of having a `0` property of type `string` and a `1` property of type `number` (which is assignable to `number|Function`).

[2015-07-31 14:50] falsandtru commented on #4103
Sorry, I forgot it spec.
If possible, I want to make it possible to check the following type check.

[code]

Thank you.

[2015-07-31 14:50] #4103 closed

[2015-07-31 14:50] GaryChamberlain commented on #3283
I'm seeing this too.  It really bloats the size of my outputted js file.  After switching to tsc 1.5.3 my js file is 15% bigger due to comments!!

There's no need for any comments, including the /// directives in the outputted js.

[2015-07-31 15:47] mhegazy commented on #4095
@DanielRosenwasser can you take a look at the issue. we should resolve this quickly to avoid more breaks in tools down stream.

[2015-07-31 15:49] mhegazy commented on #4069
This is not something that systemJs or an extension can solve for you. There is a suggestion for the issue in #2709.

[2015-07-31 15:55] mhegazy commented on #4101
The current behavior is by design. we assume that the variable initialization happens at declaration site. We have talked about this before, and there is not a foolproof way of doing it. but i think a better approch is to emit the export declaration where it was in the input code relative to other statements, this way you at least have control over how it works.

[2015-07-31 15:58] mhegazy commented on #4102
while i see the value, this makes tooling much harder and more complex. now an IDE has to add a directory watcher on possibly the whole file system, so that eveytime you add a new file that matches your wild card it gets picked up.

[2015-07-31 16:44] NoelAbrahams opened #4104 "VS Crash: Sequence contains no matching element"
Hi,

**Version**: VS 2015 RTM/TS 1.5

VS crashed with the following.  Not sure if this is a Roslyn issue.

[code]

[code]

[2015-07-31 16:52] RyanCavanaugh opened #4105 "Support string indexers in JSX properties"
For parity with #3755, we should support string indexers in 'props' types to opt out of "closedness" for JSX properties. Requested by @codemonkeychris

[2015-07-31 17:18] alexeagle opened #4107 "Type refinement inside instanceof guard fails"
bug.ts:
[code]

[code]

Interestingly, removing the `loader` property from the `RouteDefinition` interface fixes it, as does adding a `loader` property to the `Route` class.

+cc @btford

[2015-07-31 17:21] licinioamendes commented on #2152
Would be nice allowing [VS macros for build commands](https://msdn.microsoft.com/en-us/library/c02as0cs.aspx "MSDN Macros for Build Commands").

The result would be something like `$(ProjectDir)outputDirectoryPath` on textbox.

[2015-07-31 17:38] RyanCavanaugh commented on #4107
This is behaving according to spec (emphasis mine)

  *  when true, narrows the type of x to the type of the 'prototype' property in C provided it is a **subtype of the type of x**, or, if the type of x is a union type, removes from the type of x all constituent types that aren't subtypes of the type of the 'prototype' property in C, or
   *	when false, has no effect on the type of x.

The problem

[2015-07-31 18:03] SergioMorchon commented on #4044
Probably same here:
# app/main.ts
[code]
## app/main.js
[code]

# app/components/menu.ts
[code]
## app/components/menu.js
[code]
And when trying to load the Menu module, System fails with:
`Uncaught (in promise) Error: Cannot read property 'onNavigate' of undefined`

[2015-07-31 18:47] mhegazy commented on #4104
@CyrusNajmabadi is the same issue you fixed a week ago?

[2015-07-31 18:51] mhegazy opened #4109 "Enable VS macros for build commands in properties"
As reported by @licinioamendes  in https://github.com/Microsoft/TypeScript/issues/2152#issuecomment-126757495:

Also note that this is working in VS2013 but not in VS2015.

[2015-07-31 18:52] mhegazy commented on #2152
@licinioamendes i have logged #4109 to track that issue.

[2015-07-31 18:54] mhegazy commented on #4044
@vladima  can you take a look. from visual inspection, the output looks right. but seems there is something else going on.

[2015-07-31 19:01] #4095 closed

[2015-07-31 19:15] sheetalkamat commented on #3317
@Masclaux : I tried opening and running your project by commenting out individual file reference and instead using scripts/app.js from the index.html. Also had to include <typescriptOutputFile> in project's debug config too. But I ran into build issues with jquery.d.ts and hence its not able to deploy and I cant go ahead with repro steps. Could you let me know what I need to do to get this to run.

[2015-07-31 19:24] Spodii opened #4110 "Usage of const enum breaks file import"
TypeScript version: "TS6029: Version 1.5.3"

Using `const enum` can, at least in the case below, cause needed `require`d statements to get removed from the generated javascript.

Sample case:

[code]

The sample above will work as expected, printing out "it works!". main.js will include the following:

[code]

If you change `testEnum` to a const enum, the generated main.js will instead be the foll

[2015-07-31 19:25] danquirk commented on #4102
In addition to what Mohamed mentioned, /// references in general are a little unwieldy and hopefully the future is more weighted towards tsconfig.json and ES6 modules.

[2015-07-31 19:25] #4102 closed

[2015-07-31 20:33] JsonFreeman commented on #1449
I am not so sure that we haven't gotten feedback on this. We get a lot of nebulous type argument inference bug reports, and some of them may in fact be related to this. We can sit on it, but I don't think it matches user expectations.

[2015-07-31 20:39] vladima commented on #4110
Dupe of #3938

[2015-07-31 20:39] #4110 closed

[2015-07-31 21:23] mhegazy commented on #4095
thanks!

[2015-07-31 21:36] mhegazy commented on #4091
Have you tried https://github.com/SitePen/dts-generator?

I have a working version that i need to clean up and send a PR for. hopefully before end of next week.

[2015-07-31 23:54] kevinpas commented on #4076
Merged my branch back into master.

[2015-08-01 00:18] mhegazy commented on #2749
@basarat feel free to send a PR for this

[2015-08-01 00:19] #3655 closed

[2015-08-01 00:21] mhegazy commented on #3655
The change should be in the `typescript@next` release later tonight.

[2015-08-01 00:50] CyrusNajmabadi commented on #2749
@basarat

Sounds good.  However, i would prefer you parse it out as trivia instead of adding it as a special field on sourceFile.  As an example of where we have specialized trivia parsing, see the code i added so we can detect and handle git merge markers (i.e. "<<<<<< HEAD").   Then we can even do nice stuff like classify this guy properly in the editor and not barf on it while formatting.  yadd

[2015-08-01 01:11] CyrusNajmabadi commented on #4104
I just rewrote all of this code for Roslyn here: https://github.com/dotnet/roslyn/pull/4046.  Without a clear repro, it's hard to say if we still have this issue or not.  However, the new roslyn code is much more robust and is now lacking several race conditions that were in that code.  So i'm thinking this is likely fixed now.

[2015-08-01 03:16] basarat commented on #2749
:+1: :rose: `SyntaxKind.ShebangTrivia`

[2015-08-01 05:23] vladima commented on #4044
Tried to reconstruct the repro [here](https://github.com/vladima/systemjsexports-repro) - no luck, everything works as expected so more info about this case will be appreciated, Btw, can I see the definiton of `component` decorator to make sure that is correctly returns constructor function?

[2015-08-01 06:16] Davidhanson90 commented on #4102
I am not sure why this has been closed without and discussion. Currently you have to manage all these references manually and on very large apps this becomes painful.

[2015-08-01 09:50] basarat commented on #2749
@CyrusNajmabadi Yup. I have some work on the scanner based on your suggestion that might be helpful https://github.com/Microsoft/TypeScript/compare/master...basarat:feat/shebang?expand=1

Looking forward to your work :rose:

[2015-08-01 10:09] MrHacky commented on #3915
very unfortunate indeed, also the roadmap/release notes never mentioned this limitation so i was very disappointed when i found out this didn't work.

Having variables inside for loops just 'do what you want' even in the face of callbacks would be a great improvement for us.

[2015-08-01 11:37] jods4 commented on #3915
@MrHacky
If you want better ES5 support today, you can configure TS to emit ES6 code and then pipe that into Babel (formerly 6to5). It will compile all your ES6/7 code into ES5.

Several people do so, because you get support for new features, such as `let` scope in `for` loops or the experimental `async` that is already available (behind a flag) but only with ES6 target.
You also get a more correc

[2015-08-01 11:41] jods4 commented on #1664
:-1:
I will add my voice to those who say that the prime value of TypeScript is the type system.
If it weren't for the types, I would be writing my code in plain ES7, use Babel and get full fancy features support today.

I work for a big company that creates software for many big "Enterprises". I see more and more new large-scale projects targeting a "modern" web stack (SPA and the likes).
In this

[2015-08-01 12:02] junkyjack1 commented on #563
+1 for code generation purposes.

[2015-08-01 12:05] pcan opened #4114 "Report use before definition for parameter types used in decorated classes and methods with --emitDecoratorMetadata"
I have the following code:

[code]

The expected output should be: `[function B()]`, but the actual output is `[undefined]`. The issue is related to the definition order in the resulting js file, in which there is the following code:

[code]

Since A is defined by a IIFE, in its execution scope B is not yet defined, so the generated metadata is incorrectly set to undefined. The only workaround I c

[2015-08-01 14:04] phestermcs commented on #1664
@jods4

Do you have an example of using gulp, or grunt, to do this which preserves the sourcemaps so debugging in the original TS source still works?

[2015-08-01 14:37] kitsonk commented on #1664
I don't have an offhand example, but there are several tools in this area that allow `.map` to `.map` mapping.

[2015-08-01 15:40] osdm opened #4115 "Reducing union types when inferring type parameters in function invocations"
Spec 3.4 says:

But in compiler they are not reduced in case of inferring type parameters in function invocations. For example:

[code]

Could you please clarify, when union type are really reduced and when they are not.

[2015-08-01 16:02] milkshakeuk commented on #3283
@yuit why would the /// comments need to be preserved in the output js file?
As far as I'm aware IDE's or text editors like vscode may use these to provide code intelligence at develop time (even in js)  but in regards to the code which you will deploy I can't think of any reason for the /// comments to remain.

[2015-08-01 16:22] morious opened #4116 "Cannot find name 'Map'"
Hi,
Getting the error above when compiling in VS 2015 using the type Map<V, K>.

Thx,

[2015-08-01 16:28] AngeloSalvade opened #4117 "lib.d.ts: parameter littleEndian of the DataView functions should be optional"
According to the ECMAScript 6 specification, parameter littleEndian of the DataView functions should be optional.
This was the case for TypeScript <= 1.4

[2015-08-01 16:37] mhegazy commented on #4114
That is correct. This is a geneneral temporal dead zone issue in javascript.

[2015-08-01 16:50] kitsonk commented on #4116
What are you targeting? Map is an ES6 feature contained in `lib.es6.d.ts`.

[2015-08-01 16:52] kitsonk commented on #4117
Dupe of #4083.

[2015-08-01 16:56] AngeloSalvade commented on #4117
Thanks for the quick reply.
Sorry that I didn't find the dupe.

[2015-08-01 16:56] #4117 closed

[2015-08-01 17:05] aphex opened #4118 "TypeScript calls to super methods are broken with external ES6 modules in browser"
When setting up some basic inheritance with TypeScript I am seeing that super method calls are not being transpiled properly. This is only happening in the browser when i run tsc via node it correctly orders the dependencies.

I am using System JS 0.18.4 and a simplified version of the jspm sample.

*index.html*
[code]

*config.js*
[code]

*src/index.ts*
[code]

*greeter.ts*
[code]

*base.ts*
[cod

[2015-08-01 17:38] morious commented on #4116
es5. :(

Thx!

[2015-08-01 17:38] #4116 closed

[2015-08-01 18:05] itajaja opened #4119 "spooky type checking of optional fields in an array"
consider the following piece of code:

[code]

I would expect the three test objects to fail the type checking, but `test2` passes. It seems that adding a second item to the array where the optional `a:A` is not defined, makes the typechecking for the first object to pass. I tried to reason about why is doing it, but I came to the conclusion this is likely a bug.

playground [here](http://www.type

[2015-08-01 18:47] aphex commented on #574
I think I am missing something but even though you can now extend HTMLElement I can't seem to actually use it. This is because of the constructor issue, Typescript forces all derived classes to call super and that will throw an error on HTMLElement.

I am getting a 'Illegal constructor' error thrown anytime the class is created.

[2015-08-01 19:31] JsonFreeman commented on #4115
I imagine you are using the latest from master. Constituents in a union type are no longer reduced, at least not by the subtype relation. I believe this change is reflected in spec update #4033.

[2015-08-01 19:36] JsonFreeman commented on #4115
And the code change for removing subtype reduction is #3823.

[2015-08-01 19:40] JsonFreeman commented on #4119
@itajaja What version of TS are you using? Is it the latest from master? Specifically, I think this would be fixed by #3823, which is after TS 1.5. We used to reduce union types in a way that lost information, and in your case the `{ a: { } }` in test2 would have been erased, but that lossy reduction was removed in the change I mentioned.

[2015-08-01 20:16] comdiv commented on #17
My suggestion is that this scenario is available if you build your solution in single file:
1) Pure typescript modules as source (they allow simple merging)
2) Using --out MODULENAME.js --module AMD
For now it generates something like this:
var MODULENAME;
(function (MODULENAME) {
   //BODY OF FILE 1
})(newthe || (newthe = {}));
var MODULENAME;
(function (MODULENAME) {
   //BODY OF FILE 2
})(newth

[2015-08-01 21:51] ahejlsberg commented on #4119
This is indeed fixed by #3823, the latest compiler gives an error in all three cases above.

[2015-08-01 21:52] #4119 closed

[2015-08-01 22:26] phestermcs commented on #1664
So not exactly trivial to do then?

On Sat, Aug 1, 2015 at 7:38 AM, Kitson Kelly <notifications@github.com>
wrote:

[2015-08-01 23:21] ahejlsberg commented on #4115
That paragraph has been removed from the spec.

I have yet to add a description of the new deduplication algorithm, but basically a type S is considered a duplicate of a type T if:

* S and T are identical,
* S is undefined,
* S is null and T is not undefined,
* S is an object literal type, T is an object type, and S has a property set that is a duplicate of T's,
* S and T are array types, and S h

[2015-08-01 23:39] vladima commented on #4118
This issue is related to how single file compilation currently works in the presence of just one file instead of the whole program. I.e.
[code]

is compiled as
[code]

however if base class is not visible from for the typechecker:

[code]

result of codegen is incorrect
[code]

The problem is that [checkSuperExpression](https://github.com/Microsoft/TypeScript/blob/master/src/compiler/checker.ts#L6

[2015-08-02 00:01] itajaja commented on #4119
yes I am using 1.5. Thanks for the quick update!

[2015-08-02 00:13] ArtemAvramenko commented on #4062
It would be nice if it will work the same way as in the case of interface merging. I.e. interpret a type of the variable, as a declaration of an anonymous interface:

[code]

[2015-08-02 00:32] osdm commented on #4115
@JsonFreeman @ahejlsberg Thanks for updates!

[2015-08-02 00:49] JsonFreeman commented on #4089
I believe you would also want a builder when the contextual type is from a type assertion, because you are allowed to specify extra properties there as well.

You may want to look at isKnownProperty in the checker for inspiration.

[2015-08-02 01:04] JsonFreeman commented on #4107
As far as I know, the guiding principle on which relation to use has been the following. If the relation is being used in order to choose the "best" type from some set of types, we use subtype. If the relation is used to determine if something is allowed, we use assignability.

This is a rule of thumb, and indeed the type guard case seems like it is somewhere in between. On the one hand, we are ch

[2015-08-02 02:23] DanielRosenwasser commented on #4089
@JsonFreeman sorry that's what I originally meant, I wrote "completion" instead of "a builder" in the original issue.

[2015-08-02 03:25] basarat commented on #2749
I just PRed it

[2015-08-02 03:38] JsonFreeman commented on #4089
Yes, but I meant that maybe the builder would always be shown in a type assertion.

[2015-08-02 05:12] johnnyreilly commented on #1664
I'd love to see an example of this if someone has succeeded in getting TypeScript/Babel and Gulp to play well together. My own experience in doing this has not been too successful  I'm afraid.

[2015-08-02 08:11] NoelAbrahams commented on #1664
@jods4,

That post above is rather full of straw men. I don't think the argument is against emitting ES6 early, it's about prioritising down-level emit.

In my experience every dependency comes with a non-trivial overhead. Typically, the life-cycle has been something like the following:

Take on new third-party dependency > Learning curve > Write your wrapper around it so that your code can work w

[2015-08-02 09:35] DickvdBrink commented on #3283
For exemple Copyrights comments need to be preserved in some cases. (I believe that was one of the points if I recall correctly)

[2015-08-02 10:59] Lenne231 commented on #1295
I think we should rely on a more general and less verbose syntax as defined in #3779.

[code]

Or is it not possibe to infer the type of A?

[2015-08-02 10:59] milkshakeuk commented on #3283
is there no way to tell the difference between copyrights and special xml elements like:
[code]
I can't imagine that to be the case.

[2015-08-02 11:00] guybedford commented on #3444
@xsilen are you saying that the fix in the latest SystemJS isn't working for you here? I'd be interested to hear why if this is the case?

[2015-08-02 11:18] s-panferov commented on #1295
Just want to say that I made a little codegen tool to make TS integration with ImmutableJS easier while we are waiting for the normal solution: https://www.npmjs.com/package/tsimmutable. It is quite simple, but I think it will work for most use cases. Maybe it will help somebody.

[2015-08-02 11:23] guybedford commented on #3655
Awesome, I'm going to be doing some testing very soon, hoping to add a little more polish to these workflows to hopefully make things slightly easier all around.

[2015-08-02 11:34] s-panferov commented on #1295
Also I want to node, that the solution with member type may not work with ImmutableJS:

[code]

[2015-08-02 12:27] ivogabe commented on #1664
In gulp it's pretty easy to setup source maps, as every plugin that supports source maps also supports an input source map. I've written a [basic configuration with gulp, gulp-sourcemaps, gulp-typescript and gulp-babel](http://dev.ivogabe.com/combine-typescript-with-babel/).

Big difference between TypeScript and Babel is that TypeScript wants to emit "emit clean, idiomatic, recognizable JavaScrip

[2015-08-02 12:38] wgebczyk commented on #4114
As long actual result is different from expected result, its hard to call it "this is correct".
I understand that there is not too much workforce to fixe all issues, but you should choose one of:
* mark it as known issue, that maybe in future it will be fixed. You admin that current behavior differs from ideal, expected one
* mark decorators feature in documentation as "sometimes might work, somet

[2015-08-02 12:43] mzgol commented on #1664
@ivogabe Babel cares about the outupt being as readable as possible so your assertion is not true:

http://babeljs.io/docs/faq/, the "Readable output" section:
"Babel cares immensely about your output code. Not only should it not be bound to a bulky runtime but it should always retain as much of the source formatting as possible (newlines and comments)."

Also, I'm not sure where you got this long

[2015-08-02 13:02] mhegazy commented on #4114
This is not special to decorators. you can observe the [same behavior in regular variables](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/var#var_hoisting):

[code]

similarly in classes

[code]

The issue is in JavaScript name bindings are hoisted to the top of the scope, but they are undefined until first initialized. This is really hard to detect correctly all the

[2015-08-02 13:03] ivogabe commented on #1664
@mzgol That looks indeed better, I was using the following:
[code]

[2015-08-02 15:19] johnnyreilly commented on #1664
Thanks for sharing @ivogabe - I'll take a look!

[2015-08-02 15:41] tinganho commented on #1664
:cry: :cry: :cry:
<img width="568" alt="screen shot 2015-08-02 at 11 40 10 pm" src="https://cloud.githubusercontent.com/assets/1324476/9026800/dc681b88-396f-11e5-889b-b2a64d0024e4.png">

[2015-08-02 17:17] wgebczyk commented on #4114
That's true when you write sequential code. statement after statement, function after function etc.
In initial example adding last line "var f = new A(new B());" results that A.ctor will have non null param argument.
In TS code there is nothing that indicates you are referring to something that is not defined yet.
Still not understand why it s correct behavior.

[2015-08-02 17:42] Lenne231 commented on #1295
@s-panferov Something like this could work:

[code]

[2015-08-02 19:25] CyrusNajmabadi commented on #3283
There are a lot of things being conflated here.   Let's run down the list of special constructs that TS knows about:

1. 'Detached' comments. These are at the start of the file or function and must have at least one blank line between them and the next construct.
2. 'Directive' comments.  These start with ```/// <``` and have some well know name after the open angle (like ```reference``` or ```amd

[2015-08-02 19:35] CyrusNajmabadi commented on #3283
Note: i do file the concerns about file size somewhat interesting.  Not that people are concerned about file sizes themselves.  That i understand.  But that people are concerned with that aspect, but are not using a minifier.  If file size is a concern, why not use a minifier (which will then appropriate remove comments, as well as a whole host of other shrinking techniques)?

It seems like if you

[2015-08-02 19:39] CyrusNajmabadi commented on #3844
@nickheiner Nick, if you use this form ```/*! @ngInject */``` would angular still understand and respect the comment?

if so, then this would be the recommended way to solve this problem.  It's already the design of the .ts compiler (modulo bugs) that ```/*!``` comments are preserved.  So that would ideally solve this problem.

If angular only accepts ```/* @``` and not ```/*! @```, then it sounds

[2015-08-02 19:49] ivogabe opened #4122 "Functions with optional arguments in union types not working"
I noticed the following gives an error when using typescript@next:
[code]
This used to work with 1.5.3, but with 1.6.0-dev.20150802 this gives the following errors:
[code]
Is this a bug?

[2015-08-02 19:52] Gillespie59 commented on #3844
According to the code of the ngAnnotate, it should work I think

[code]

@mhegazy : If it failed, you can maybe use the other syntax, by using the '@ngInject" string

[2015-08-02 20:14] coreyRalli opened #4123 "TSC does not emit in correct order when using tsconfig file and 'out'/'umd'"
Compiler options in tsconfig file:
[code]

One of my classes, App.ViewModels.Search is always emitted before App.ViewModels.ViewModelBase, which the former extends, causing an exception when __extends is called.

[code]

Adding an explicit reference to the ViewModelBase file in Search causes correct ordering, however this seems to defeat the purpose of using tsconfig.

[2015-08-02 21:55] CyrusNajmabadi commented on #3844
@Gillespie59 Thanks!  If that's the case, i think the appropriate solution is for people to annotate their ```@ngInject``` and ```@ngNoInject``` annotations with ```/*!``` so that they are preserved.

If anyone sees a case where we are not preserving ```/*!``` then please file a bug on that.  That is a bug and needs to be fixed.

[2015-08-02 22:33] ahejlsberg commented on #4122
This is a known effect of the changes in #3823. Some more details here:

https://github.com/Microsoft/TypeScript/pull/3823#issuecomment-122125926

We could trivially fix it for your `boolean | number` example just by adding a parameterless `toString()` method to the global `Number` interface. Are your other examples real world code, or just examples to illustrate the issue? We'd have to do more wo

[2015-08-03 03:59] GaryChamberlain commented on #3283
@CyrusNajmabadi

Yes, file size is a big concern, and I most definitely _do_ use a minifier (Google Closure).  The problem is that the amount any minifier can shrink a js file is a function of how the unminified js is structured.  I have a very large TypeScript project under development (see http://pro.style) which has over 250 TS files in a structured namespace hierarchy.  I use grunt-ts to compi

[2015-08-03 06:29] matthiasg commented on #3908
@adidahiya wow i did not expect that :) great to hear

[2015-08-03 07:29] ivogabe commented on #4122
The other examples were just to find out what was going on. I've only tested it on a small project, and I think that the other constructs might be used in some other projects. Anyway, I think at least the error message should be changed, as it's not helpful at the moment, but I'd prefer that this would be fixed. Could one of these two suggestions fix it?

1 - Expand optional arguments to overloads

[2015-08-03 07:29] Masclaux commented on #3317
HI, can you copy past your error ?

PS ;  I'm just finished clean install of windows 10 and visual studio 2015.  My 40 Go  SSD cannot let me install another version of visual studio.

[2015-08-03 08:17] CyrusNajmabadi commented on #3283
@GaryChamberlain

Interesting.  I think that's far enough out of the norm for usage, that i'm not too upset about that breaking :)    IMO, if you do want to do this sort of advanced type of code manipulation, the onus is on you to be willing to maintain it in the presence of how we change our emit (since we never guarantee anything there).  One way you could right things that would be a bit more r

[2015-08-03 11:19] majodev opened #4125 "JSX: Convert HTML entities into UTF-8"
[HTML entities](https://facebook.github.io/react/docs/jsx-gotchas.html#html-entities) within JSX-style-nodes e.g. `<div>&nbsp;</div>` are currently not converted into their UTF-8 representation (e.g. [how babel does it](https://github.com/babel/babel/blob/b91b4a4dc03eff8647b669c8935b18f0c6d7ed81/packages/babylon/src/plugins/jsx/index.js#L62)). Are you planning to implement this?

[2015-08-03 12:51] use-strict opened #4126 "Type safety and implicit any from ambient declarations"
I'm using the "noImplicitAny" compiler option to achieve some degree of type safety (still possible to explicitly opt out of type checking). This eliminates errors by omission from inside the app but it doesn't protect against explicit "any"-s coming from the outside world (*.d.ts files for external libraries). The problem is that we are "implicitly" inheriting "any" from 3rd-party code. This feel

[2015-08-03 14:13] myitcv opened #4127 "tsfmt and JSX"
I've been using [`tsfmt`](https://github.com/vvakame/typescript-formatter) to format TypeScript code. I believe this uses the pretty-printer from core compiler service.

But I've hit upon the following issue when formatting:

[code]

the output is:

[code]

Notice the problematic `< /span>`.

The former compiles, the latter does not:

[code]

Any thoughts?

[2015-08-03 14:19] guybedford opened #4128 "System output dependency missing"
I'm making some progress getting the TypeScript tests running for SystemJS builder. Currently this issue and https://github.com/systemjs/builder/issues/262 are the blocking issues as far as I can tell.

For the following input source running against the currently nightly:

[code]

The output from TypeScript is:

[code]

Note how the `./second.js` dependency is missing in the above.

Just let me kn

[2015-08-03 14:39] Gitgiddy commented on #3939
Any update?

[2015-08-03 14:51] vladima commented on #4128
When processing the whole program TypeScript compiler will elide imports that are not used in as values. There is a compiler option [isolatedModules](https://github.com/Microsoft/TypeScript/blob/master/src/compiler/types.ts#L2025) to relax this behavior and suppress elision, it is used when files are compiled separately.Currently it used automatically when user calls [transpile/transpilerModule](h

[2015-08-03 14:58] GaryChamberlain commented on #3283
Thanks, I wasn't familiar with the AST option.  I'll keep that as something I can reach in the tool belt if needed.

I only explained what I am doing as a response to your question about why I am not using a minifier and my comment about pre-minified size. Yep, I know the way I'm hacking it to make it better is something I need to maintain. I'm prepared to tweak it to take TSC upgrades.  However,

[2015-08-03 14:59] guybedford commented on #4128
Ah I see, ok sure so by just making sure `dep` is used I was able to fix this! Awesome, thanks.

[2015-08-03 14:59] #4128 closed

[2015-08-03 16:01] sebdoucet opened #4129 "VS2015 Crash on private"
Hi,

There is a terrible crash that shutdown visual studio 2015... an Unknown Hard Error!

The bug appears when doing refactor, making an abstract call and get some accessor on privates.

So, when we copy the old stuff to the class that does not have access anymore to the private, we trying to rename the private to use the accessor and ... it crash.

#### Example:

    class DoToMuchSharedStuff{

[2015-08-03 16:12] DanielRosenwasser commented on #4129
Not able to get a solid repro - @sebdoucet, if you simply paste the second snippet into your editor, do you get a crash? Which `_privateField` do you put your cursor on to trigger the problem?

[2015-08-03 16:14] Artazor commented on #1985
With respect to the new ES7 "::" bind operator I'd propose

[code]

Will it lead to the breaking changes?

[2015-08-03 16:20] Arnavion commented on #3870
Since tuples extend a union of their constituent types for indices higher than the explicitly specificed member types, won't they still work?

[2015-08-03 16:26] smashdevcode opened #4130 "Compiler incorrectly reports parameter/call target signature mismatch when using the spread operator"
The compiler incorrectly reports a parameter/call target signature mismatch when using the spread operator. Pasting this code into the TypeScript Playground:

[code]

produces this error:

[code]

[2015-08-03 16:34] wgebczyk opened #4131 "VS2015 does not honor MSBuild properties from external file on file save"
When project does import properties from separate MSBuild file via `<Import Project="build.props" />`, The MSBuild is using defined properties, but on file save of TS file it is being ignored.
It worked with with VS13/VS15RC and TS 1.5 beta, but after release it is broken.

I can provide ZIP file with example solution, but I cannot add it to github issue.

[2015-08-03 16:36] sebdoucet commented on #4129
I can't have too a solid repro without getting you our entire project... and I can't do that.
What I can say is it appear on every one one the team with this exact context and we can reproduce the crash multiple time, the only way to avoid crash when renaming the variable is to select before the dot like "._" en replace it. But each time we reload the project and click on the problematic variable,

[2015-08-03 16:39] mhegazy commented on #4129
Can  you share the stack from your event log? (Event Viewer / Windows Logs / Application, there should be an Error event from .Net Runtime as a source)

[2015-08-03 16:40] sebdoucet commented on #4129
Application : devenv.exe
Version du Framework : v4.0.30319
Description : l'application a demandé l'arrêt du processus via System.Environment.FailFast(message de la chaîne).
Message : System.AggregateException: One or more errors occurred. ---> System.InvalidOperationException: Sequence contains no matching element
   at System.Linq.Enumerable.First[TSource](IEnumerable`1 source, Func`2 predicate)

[2015-08-03 16:40] mhegazy commented on #4131
looks like a duplicate of #4109

[2015-08-03 16:46] myitcv commented on #4127
Another related example:

[code]

is formatted as:

[code]

[2015-08-03 16:46] Artazor commented on #1985
It will work also with `{}` types:
[code]

The most difficult seems to parse the case where type should be enclosed into parentheses:

[code]

And even
[code]

However it seems that here we need not more than two or three look-ahead tokens. Need we?

[2015-08-03 16:52] RyanCavanaugh commented on #4127
This is a tsfmt bug.

Here: https://github.com/vvakame/typescript-formatter/blob/master/lib/formatter.ts#L14

The source file the compiler gets is being created with the '.ts' extension, which means it's consumed using the regular TypeScript grammar. tsfmt needs to be able to support passing a '.tsx' file extension when appropriate so that expressions of the form `<T>x` are interpreted as JSX tags

[2015-08-03 16:52] #4127 closed

[2015-08-03 16:54] kennyatappfive commented on #3939
I'm unable to use 2015 because of this issue.

[2015-08-03 16:54] wgebczyk commented on #4131
I'm not using macros. If you have below files, then the properties from build.props are ignored, but if you copy paste properties the behavior is different. It seems that on file save on properties from csproj are parsed, without resolving MSBuild script.

csproj
[code]
and build.props
[code]

[2015-08-03 16:56] myitcv commented on #4127
@RyanCavanaugh - thanks very much.

[2015-08-03 16:57] Artazor commented on #3508
@rbuckton are there any chances to parse the following syntax: https://github.com/Microsoft/TypeScript/issues/1985#issuecomment-127293978 ?

[2015-08-03 17:04] RyanCavanaugh commented on #4126
There's not much the compiler can do about it without being a giant pain, I think. Contextually-typed `any`s are still non-implicit. We don't track file boundaries in the type system.

The real fix is in the .d.ts files. Callbacks like this should at least be typed using` {}` in place of `any`. That's a non-breaking change for anyone who has explicit type parameters on their function parameters, a

[2015-08-03 17:04] #4126 closed

[2015-08-03 17:05] ahejlsberg commented on #4122
Did you mean *parameter list* instead of *signature* above? In other words, require that the call can be resolved as written for each constituent type in the union type, and union together the results. Intuitively this seems like a good approach, but we may run into issues. For example, we have a core assumption that function expressions are contextually typed only once and then keep their assigne

[2015-08-03 17:15] mhegazy commented on #4129
@vladima is this the same issue you fixed with @CyrusNajmabadi?

[2015-08-03 17:20] lvignals opened #4132 "error TS2304: Cannot find name 'MSStyleCSSProperties'."
TSC 1.5: I keep getting that error on all my existing code when transpiling:

error TS2304: Cannot find name 'MSStyleCSSProperties'.

What is the issue and how to resolve or is that a 1.5 bug?

[2015-08-03 17:25] mhegazy commented on #4114
The problem is not the call site. it the definition site. The decorator is called only once the declaration, and when this happens, the value of `desing:paramtypes` is `B`, which is undefined at this point.

I get it that you want the compiler to be more helpful in these cases, and i was listing cases that behave similarly. We would be open to discussing suggestions here. again the only thing i ca

[2015-08-03 17:31] mhegazy commented on #4132
This is caused by removing IE-specific types from lib.d.ts as part of 1.5 release. See [breaking change notification](https://github.com/Microsoft/TypeScript/wiki/Breaking-Changes#dom-interface-changes) for more information.

if you can share more code, i might be able to help with how to change it.

[2015-08-03 17:31] pcan commented on #4114
As a starting point, could we consider feasible the third option that @wgebczyk mentioned before?

At the moment I have no idea about the complexity of this implementation, but surely could be a good way to detect at least suspicious situations like this one..

[2015-08-03 17:32] mhegazy commented on #4131
@paulvanbrenk can you take a look.

[2015-08-03 17:36] mhegazy commented on #4114
We can add a check to make sure that the definition has to lexical come before the use; similar to the current check for let/const.

[2015-08-03 18:00] #4118 closed

[2015-08-03 18:12] wgebczyk commented on #4114
compiler warning is acceptable. I understand that some features might be half baked, but I want to be notified when I'm using something that produces unexpected result.

[2015-08-03 18:13] vladima commented on #4129
@mhegazy, @CyrusNajmabadi has recently finished a serious revision of tagging infrastructure, bits mentioned in the stacktrace were also changed  so I'd say that is likely to be fixed

[2015-08-03 18:37] ivogabe commented on #4122
I meant that indeed. That's an interesting question. When we're processing the union parts one by one, we could intersect all the resolved types. In your example, `cb` will be resolved to `(x: A) => A` and `(x: B) => B`, resulting into `((x: A) => A) & ((x: B) => B)` which would type `x` as `A | B`. Maybe this is to complicated and I think that supporting this case not wouldn't be a very big probl

[2015-08-03 18:42] CyrusNajmabadi commented on #3283
Our emitted code is not an API.  It's an implementation detail. As long as it semantically follows the rules of our language, and executes properly in JS engines, then we can (and likely will) change it over time.  The use case of "someone will then expect precisely this output, and thus any change may break them" isn't something we're signing up for.  This is similar to most other compilers out t

[2015-08-03 19:17] ahejlsberg commented on #4122
I'm not actually suggesting we intersect the types. Once we have unions of types with multiple overloaded signatures or signatures with multiple parameters, intersecting isn't really an option.

What I'm proposing is actually rather simple. Say `obj` has type `X | Y | Z`. To resolve the call `obj.foo(...)` we would resolve the call three times, first giving `obj` type `X`, then type `Y`, then type

[2015-08-03 20:08] ivogabe commented on #4122
Sorry, I was referring to the inferring of `x` and `x => x` in your example. I agree with you about using unions for the return type.

About the inferring, the callback `x => x` would first be inferred to `(x: A) => A` and then `(x: B) => B`, and my suggestion would be to intersect these types to `((x: A) => A) & ((x: B) => B)`. That way we can infer `x` to `A | B`, but I'm not sure whether that w

[2015-08-03 20:13] pcan commented on #4114
@wgebczyk My initial issue comment contained a solution similar to your proposal, but soon I edited and removed it, since there could be other unwanted side effects if some code immediately after the class declaration tries to query metadata, since it will be undefined until the "end" of the file..

[2015-08-03 20:15] alexeagle commented on #4107
I would add that I haven't read the spec, and hadn't thought of the subtlety of assignability vs. subtype (and would think the `implements` keyword always declares a subtype relation).
To me, the least-surprising thing would be to narrow in this case, if you don't find a case where changing to assignability breaks something.

(oh and for comic relief: I can't solve this by explicitly casting, beca

[2015-08-03 20:22] #4115 closed

[2015-08-03 20:26] danquirk commented on #4123
What is 'the purpose of using tsconfig' to you here? Indeed the purpose would be to use the ```files``` property to explicitly define the ordering of files as required for their various dependency relationships. The TypeScript compiler does not attempt to automatically infer the correct order that your files should be compiled.

[2015-08-03 20:34] wgebczyk commented on #4114
So the only solution would be first generate type/function hierarchy and then fill decorators and then provide function body. Not all cycles can be solved this way.

So having compiler generate warning if spotting symbol defined below, should solve this and a few other issues.

[2015-08-03 21:08] jedmao opened #4134 "tsc 1.5.3 can't find a module, even though Visual Studio Code has no problems with it."
Running the following command with Git Bash on Windows:

[code]

`tsc` can't find a module, even though it's specified in `tsconfig.json` under `files` like so:

[code]
Visual Studio Code doesn't seem to mind:

![visual-studio-code](https://cloud.githubusercontent.com/assets/1058243/9047681/17f55948-39f9-11e5-960e-c559e47e4554.png)

Also, it gives me Intellisense just fine:

![intellisense](https:

[2015-08-03 21:13] jedmao commented on #2232
I'm in dire need of this feature as well. :+1:

Currently, I'm transpiling from TypeScript into an ES6 target, then I transpile that code with Babel into ES5. It works like a charm, but it's not the most graceful.

This would also be useful for a `gulpfile.ts`.

[2015-08-03 21:19] RyanCavanaugh commented on #3215
Write up proposal for decoupled libraries

[2015-08-03 21:28] lvignals commented on #4132
Thanks for the link.
Using https://github.com/Microsoft/TypeScript/blob/v1.5.0-alpha/bin/lib.d.ts did fixed the issue as explained in the article you sent me.
Code I was having the issue with can be cloned from https://github.com/awayjs
Thanks for the solution!

[2015-08-03 21:28] #4132 closed

[2015-08-03 21:42] RyanCavanaugh commented on #1719
Remove union type constituents that are assignable to the type of the prototype of the instanceof operand

[2015-08-03 21:51] RyanCavanaugh commented on #983
Reclose and open a new one on global type augmentation problem

[2015-08-03 21:51] #983 closed

[2015-08-03 22:24] yuit commented on #3878
To clarify the comment, pinned comments in every circumstance should be preserved (even if it is used with ```interface``` which will not be emitted in js)

[2015-08-04 00:00] weswigham opened #4135 "ts.transpile does't handle async/await correctly"
It emits the `__awaiter` and transforms `await` statements into `yield` statements, but functions marked `async` aren't transformed to wrappers around an `__awaiter`'d generator.

For example,
[code]
yields
[code]
when it should probably be
[code]

[2015-08-04 00:18] vladima commented on #4135
async functions are supported only in ES6 and by default `transpile` uses [ES5](https://github.com/Microsoft/TypeScript/blob/master/src/services/services.ts#L1786). Everything should work fine if you pass `ScriptTarget,ES6` through compiler options.
[code]
[code]

[2015-08-04 00:18] #4135 closed

[2015-08-04 00:38] JsonFreeman commented on #3870
But tuples have an arity, and I'm saying that the arity would have to depend on how many arguments were passed. But the number of arguments cannot be known statically when it is a spread argument.

[2015-08-04 01:03] JsonFreeman commented on #4122
I like this idea, at least in theory. It aligns better with intuition than any of the union signature schemes we've had so far. And even with our current algorithm, "union signature annihilation" is still a problem.

However, I am worried about the contextual typing issue that @ahejlsberg mentioned. The problem is that the way function expressions get contextually typed works fine when **only one*

[2015-08-04 01:05] JsonFreeman commented on #4107
It's probably fine to use assignability. Also, the `implements` keyword does not declare a subtype relation. It requires an assignability relation.

[2015-08-04 01:18] Arnavion commented on #3870
[code]

You're saying that `...input` expands to an unknown number of elements, so the specialization of manyInTupleOut is unknown.

I'm saying that input's type is known to be `[number, string, Document, number|string|Document, number|string|Document, ...]` even if the actual number of elements is not known. So the specialization of manyInTupleOut can be `<number, string, Document, number|string|

[2015-08-04 01:28] #3813 closed

[2015-08-04 01:52] Ellisthion opened #4136 "Type inference fails with complex generic tuples"
I've been trying to come up with a smarter type def for Angular's $q.all (https://docs.angularjs.org/api/ng/service/$q#all) which takes an array of promises and spits out a promise with an array of results as the value.

For reference, the current DefinitelyTyped implementation is:
[code]

I'm attempting to rewrite it with tuples, like so:
[code]

Usage:
[code]

Full example on Typescript playgrou

[2015-08-04 02:05] vvakame commented on #4127
ah, I understand. thank you!

[2015-08-04 02:09] dashaus commented on #3655
It works! Thanks you!

[2015-08-04 02:20] weswigham opened #4137 "Compiler emits syntactically invalid code vs ES5 for code that looks like ES6 async/await"
In 1.5.3,
[code]
compiled to
[code]
which is valid ES5. (Not necessarily what you wanted, but syntactically valid output.) Now it is
[code]
which is not valid ES5 (it contains the yield keyword). It's a bit of a surprising change in the emit (certainly that it's capable of emitting something impossible of being valid in strict ES5 when compiling against ES5 is a bug?). Is this intentional?

[2015-08-04 03:39] blakeembrey opened #4138 "JavaScript output has variable below return"
Using latest commit (4c7b214a69c97eb1746b94712ff9a4c2202e2dca) and compiling the code below results in the variable initialization below `return`.

[code]

[code]

The variable is always below the return, even when the statement is assigned to a variable instead of returning.

Edit: `node node_modules/.bin/tsc test.ts --target es5`

[2015-08-04 04:35] DanielRosenwasser commented on #4138
It doesn't matter where the variable is placed; it just needs to be declared so that we can use it as a temporary value.

[2015-08-04 04:37] jabbukka opened #4140 "Can't define variable using type of typeof"
I declared `test` module to export the global mongoose variable as below.
test1.d.ts:
[code]

I tried to define mongoose.Model using the export_mongoose variable. Please refer to below code:
test2.ts:
[code]

However, tsc compiler shows a following error message:
  TS2305: Module `test` has no exported member `export_mongoose`.

I think the export_mongoose is not proper as type cause defined by `t

[2015-08-04 04:51] DanielRosenwasser commented on #4140
When you use `var export_mongoose = _mongoose`, `export_mongoose` only takes on the *value side* of `_mongoose`.

Instead of using `export_mongoose`, I suggest you instead export the import directly:

[code]

[2015-08-04 04:53] DanielRosenwasser commented on #4137
We make no guarantees of our generated code when your input is syntactically invalid. Right now you'll get

* `';' expected.`
* `';' expected.`

which are both parsing errors.

I generally don't agree that we should be unconditionally emitting, but there's always the `--noEmitOnError` flag.

[2015-08-04 04:53] DanielRosenwasser commented on #3813
Thanks @weswigham!

[2015-08-04 05:05] blakeembrey commented on #4138
I realised, but it didn't look by design and I didn't see a previous issue logged. I actually found Istanbul has issues with code coverage with this, though I've logged an issue there too.

[2015-08-04 05:24] jiaz opened #4141 "Typescript's arrow function has different semantic than ES6's one"
Hi, I'm playing typescript and happen to find a discrepancy between TS' arrow function and ES6's one. Below is a simple snippet to demonstrate:

[code]

In ES6 (node --harmony), the above code will print out `1`. However, in typescript, the above code will print out `undefined`.

Is this a behavior by design or will be changed according to ES6's behavior later?

Thanks!

[2015-08-04 05:25] JsonFreeman commented on #3870
Ah I see what you're saying. But the arity does matter, because you are not allowed to assign a shorter tuple to a longer tuple type.
[code]

[2015-08-04 05:46] aersamkull opened #4142 "Proposal for Parameter Type Inference for immediately invoked anonymous functions"
I have to target ES3/ES5 and I quite often find myself writing something like this:
[code]
or something like this:
[code]
I think it was reasonable to infer the parameter type from its only usage here

[2015-08-04 06:44] vivainio opened #4143 "TypeScript should error on static attribute called 'name'"
"name" property on a function has a special meaning in JavaScript

(https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/name)

If you do

[code]

You get code that behaves unxpectedly (prints "MyC" instead of "foo". With minifaction, it will print a minified function name (e.g. "i").

Desired behavior: TypeScript should raise error or warning when you try to c

[2015-08-04 07:22] Seikho commented on #4141
This is because your compiler target is ES5, instead of ES6.

[2015-08-04 07:36] jabbukka commented on #4140
Thanks for a quick reply!

I understood how this code works.
But I have to use an export_mongoose variable for sharing the mongoose object in many places, not only test2.ts.

If there is no way to solve this problem, I will import mongoose and use it for type:
import mongoose = ('mongoose');
var test_var: mongoose.Model<...>;

[2015-08-04 07:45] weswigham commented on #4137
It still certainly feels awkward that the compiler is introducing an ES6 construct (`yield`) not present in the given source into the result when targeting ES5, exceptional emit or no. Inputs as trivial as `await 2` now get transpired to the invalid `yield 2`. Generally speaking, one does not expect the TS compiler to introduce new (and different) errors into one's code. Its prior behavior of perf

[2015-08-04 08:05] jiaz commented on #4141
Hi Seikho, thanks for your reply. If I compile to ES6, then for sure, the compiled output will look exactly as the input code which runs exactly the same in ES6 environment.

My question is whether the typescripts arrow function's semantic should be identical to ES6's arrow function or it is by design to be different.

In the case I compile the code to ES5, the reason it outputs undefined is becau

[2015-08-04 08:06] weswigham opened #4144 "Transpiling an asynchronous generator causes an internal compiler exception"
Attempting to `ts.transpile` this [async generator](https://github.com/jhusain/asyncgenerator)
[code]
throws
[code]
annotating the generator return value in any way causes the exception to not be thrown. This also only happens when the async generator is anonymous.

I know that async generators aren't technically valid JS, but attempting to transpile one probably shouldn't throw.

[2015-08-04 08:26] KnisterPeter opened #4145 "IE9 and export default with ES5 compile target"
Hello,

we are using TS 1.5 and have a compile target set to ES5.
Now there is an issue with IE9 and the default keyword. Is there a way to get around this via a compiler flag? Or is this just a bug because in IE9 'default' is a reserved word?

[2015-08-04 08:37] KnisterPeter commented on #4145
Sorry, this is not a TS problem.

[2015-08-04 09:52] aleksey-bykov opened #4146 "Difficulties with custom type guards:"
there are 2 standard interfaces defined in libs.d.ts:

[code]

I want a custom type guard that would do something like this:

[code]

Unfortunately such code doesn't work:
[code]

If I do:

[code]

then it compiles but type narrowing doesn't work:

[code]

What am I doing wrong here?

[2015-08-04 09:54] chrilith opened #4147 "Cannot use arguments.callee to remove a listener"
Hi,

When using quick addListener/removeListener I used to something like this:

[code]

But with TypeScript, a Function is not assignable to a EventListenerObject.

Of course I can save my function in a var and use this var when removing the listener. But I'd like to understand it is not possible to use `callee` here.

Thanks!

[2015-08-04 10:06] myitcv opened #4148 "Importing ES6 module gives property error"
Apologies if this is a repeat of a previous issue. I've tried hard to search through https://github.com/Microsoft/TypeScript/issues/2242 and friends but haven't landed on the correct solution.

I'm trying to ensure that we can import from existing ES6 modules as we migrate to TypeScript.

Here's the setup:

[code]

`tsc` version `1.6.0-dev.20150804`, target is ES6.

As the comment suggests, I get

[2015-08-04 10:29] kitsonk commented on #4147
The above is [valid TypeScript](http://www.typescriptlang.org/Playground#src=let%20target%20%3D%20document.createElement('div')%3B%0A%0Atarget.addEventListener(%22animationEnd%22%2C%20function()%20%7B%0A%20%20%20%20this.removeEventListener(%22animationEnd%22%2C%20arguments.callee)%3B%0A%20%20%20%20%2F%2F%20...%20do%20more%20here%20...%0A%7D)%3B%0A):

[code]

So any issue you are having a runtime i

[2015-08-04 10:52] kitsonk commented on #4138
I suspect it was because it wasn't supported before when targeting ES5, so it wasn't a "break" of previous behaviour, because there was no previous behaviour.

Declaring things after the return though doesn't seem like clean idiomatic JavaScript though.

[2015-08-04 11:09] chrilith commented on #4147
Indeed, now it seems to work... weird... when I posted this example, SublimeText was telling me that a Function is not assignable to a EventListenerObject.

Closed then. Sorry.

[2015-08-04 11:09] #4147 closed

[2015-08-04 11:33] desperate-man opened #4149 "Circular dependency"
Looks like I have a circular dependency between three classes ('->' means 'references'): A -> B -> C -> A.

Class A:

    import B = require('services/B');

    class A
    {
	    run()
	    {
		    B.run();
	    }
    }

    export = A;

Class B:

    import C = require('services/C');

    class B
    {
	    run()
	    {
		    C.run();
	    }
    }

    export = B;

Class C:

    import A = requi

[2015-08-04 11:50] aleksey-bykov commented on #4146
Notably this doesn't work either which is counter-intuitive to me.

[code]

[2015-08-04 11:52] aleksey-bykov commented on #4146
Finally made it work:
[code]

[2015-08-04 11:52] #4146 closed

[2015-08-04 13:35] jonathandturner commented on #1664
We need more buckets for versions.  Currently 2.0 is our catch-all bucket.  It doesn't mean you'll have to wait years to get async/await.

[2015-08-04 13:42] Deathspike commented on #1664
@tinganho You can already use `async/await` with `ES6` if you don't mind support being experimental (using `ntypescript` or `typescript@next` under the `experimentalAsyncFunctions` flag). So far I've had no real issues using it (other than a slightly confusing error on a wrong return annotation), and transpiling from ES6 to ES5 can be done with a tool such as `babel`. It's a little more involved t

[2015-08-04 14:25] DanielRosenwasser commented on #4144
Looks like a duplicate of #3978, I'll let @rbuckton close this since I think it'd be a worthwhile test.

[2015-08-04 14:27] DanielRosenwasser commented on #4140
Try `export import export_mongoose = mongoose;`

[2015-08-04 14:59] ahejlsberg commented on #4136
We currently treat tuple types like any other object type in type inference. Tuples are basically arrays with extra numerically named members for the elements and *a union of the tuple types as the array element type*. It is this union that messes up type inference: Instead of inferring `string` for `T1` and `number` for `T2`, we end up inferring both `string` and `number` for both `T1` and `T2`.

[2015-08-04 15:11] myitcv commented on #4148
Basic error on my behalf here (`interface` where it should read `class`). Apologies for the noise

[2015-08-04 15:11] #4148 closed

[2015-08-04 15:17] Arnavion commented on #3870
Oh, didn't know that.

[2015-08-04 15:24] DanielRosenwasser commented on #4141
Node might not necessarily have the correct behavior, and in fact, I don't think it is correct. If you can find something in [the spec draft](https://people.mozilla.org/~jorendorff/es6-draft.html) that would imply otherwise, that would clarify whose end the bug is on. Maybe @bterlson can weigh in.

[2015-08-04 15:31] sant123 commented on #3343
The walkthrough on inheritance in the playground still has a bug. The '34' value is unused yet. I agree it's weird because if you pass a value, you expect it works right?

[2015-08-04 16:30] rvdn opened #4151 "Visual Studio doesn't honor imports and generates fields again"
If in the project file, one states:
```<Import Project="Imports.props" />```

and with import.props the following
[code]

[2015-08-04 16:38] woppa684 commented on #4151
[code]

[2015-08-04 16:39] RyanCavanaugh commented on #4141
Actually reading the spec, what you need to look for is the abstract operation `NewDeclarativeEnvironment` which creates a new lexical record. The runtime semantics (https://people.mozilla.org/~jorendorff/es6-draft.html#sec-object-initializer-runtime-semantics-evaluation) of evaluating an `Object` does not do this, so there is no new interior lexical record that `this` should bind to.

Ours is the

[2015-08-04 16:39] #4141 closed

[2015-08-04 16:43] jdfreder commented on #2749
Awesome, thanks for moving forward with this everyone!

[2015-08-04 16:49] RyanCavanaugh commented on #4142
How do we avoid making this circular? We already contextually type function arguments by the type of their corresponding parameters.
[code]
Here, to get the type of `x`, we would (under the proposal) get the type of `t => t`. But that type is already dependent on the type of `x`, so we have to get the type of `x`, which involves us getting the type of `t => t`, and around and around we go.

[2015-08-04 16:53] ahejlsberg commented on #4122
Looking at the effects of this change I'm becoming less enamored with it. In addition to the issue with contextual typing, we'd also run into issues with statement completion (i.e. what list of signature would we show?). Plus there are quite a few places where we assume we can get a single list of call signatures from a type, all of which would need to be modified to handle union types.

I'm think

[2015-08-04 17:00] #2749 closed

[2015-08-04 17:01] mhegazy commented on #2749
thanks @basarat

[2015-08-04 17:02] mhegazy commented on #4102
one approach that i have seen to alleviate this issue is to to have smaller files that you would import instead of all files. so you would have something like `helpers\index.ts`:
[code]

then you would include that directly as `/// <reference path="../../helpers/index.ts" />` instead of `/// <reference path="../../helpers/*.ts" />`

[2015-08-04 17:11] yuit commented on #3844
@Gillespie59 let us know whether it is the case the angular respect ```/*!```. As @CyrusNajmabadi says if it not the case, we may have to extend our logic to preserve this special angular comment

[2015-08-04 17:13] mhegazy commented on #4151
looks like a dupe of #4131

[2015-08-04 17:13] #4151 closed

[2015-08-04 17:14] #3928 closed

[2015-08-04 17:17] mhegazy commented on #4140
I would use the ES6 import/export syntax here.

[code]

[2015-08-04 17:19] mhegazy commented on #4129
@vladima and @CyrusNajmabadi can you link this issue to the changes on the Roslyn side. just for tracking purposes.

[2015-08-04 17:37] mhegazy commented on #4134
i could not get a repro for this on latest bits. can you give `typescript@next` a try, or post more details. i suspect there is more going on than i could reconstruct from the sample above. the file name `.d.ts` seems to be something that we would easily get wrong. though i could not prove it :). also any investigation in the root cause would be appreciated.

[2015-08-04 17:40] DanielRosenwasser commented on #4140
Yes - if you're still intent on doing it the way you wanted, you can do something like

[code]

[2015-08-04 17:45] mhegazy commented on #4149
stupid question.. are these functions instance or static?

also what module loader are you using?

[2015-08-04 17:54] vladima commented on #4044
pinging @SergioMorchon, can you provide more details about this issue?

[2015-08-04 18:07] mhegazy commented on #4137
once ES5/ES3 support for async/await is in, this should go away, as you will get ES5/ES3 valid output.

[2015-08-04 18:07] #4137 closed

[2015-08-04 18:09] SergioMorchon commented on #4044
Sorry @vladima, I'm not currently at work.
Bur seeing your example [repro](https://github.com/vladima/systemjsexports-repro), I didn't use the typescript transpiler with Systemjs. Instead I compile all the sources before, and load them as `.js`.

Even **without** the `@component ` decorator, it returns undefined. But with an UMD module at tsconfig.json it Works fine, even **with** the decorator.

[2015-08-04 18:10] mhegazy commented on #2232
We now have a `transpile` method. see [documentation](https://github.com/Microsoft/TypeScript/wiki/Using-the-Compiler-API#a-simple-transform-function) for more details.

with this i would call this completed.

[2015-08-04 18:10] rbuckton commented on #3978
@nippur72: TypeScript 1.5.3 does not contain support for Async Functions, and I cannot seem to repro this in master. It's possible a recent unrelated change may have fixed this. Is it possible you were using a different version of the compiler than the one you mentioned above? Can you verify the version of the compiler you are using, or possibly verify this against a recent nightly build?

[2015-08-04 18:11] mhegazy commented on #2231
with the [ts.transpile](https://github.com/Microsoft/TypeScript/wiki/Using-the-Compiler-API#a-simple-transform-function) function in place, it should be fairly simple to add a node CLI package. we would be open to taking a PR for this.

[2015-08-04 18:12] mhegazy commented on #3978
@nippur72 can you try using latest `typescript@next?

[2015-08-04 18:14] mhevery opened #4152 "Stricter TypeChecking with Decorators."
This is a common issue in Angular 2

Correct:

[code]

Common mistake is to put the `directives` on the wrong decorator:
[code]

The issue is that this passes type-checking in TypeScript because the all args are optional. The extra arg is ignored.

[code]

Ideally we would like to say that we only allow the args which are declared and any extra arg is to be an error.

Could we have such a feature?

[2015-08-04 18:17] rbuckton commented on #4144
@weswigham: I'm unable to repro this against master, though async generators are not themselves supported in TypeScript. What version of the compiler are you using? Can you try this against our nightly builds? If you are using node, you can run `npm install typescript@next` to install the most recent nightly build locally in `node_modules/`.

[2015-08-04 18:19] rvdn commented on #4151
The additional issue here is that the properties are regenerated while that is not done with 4131

[2015-08-04 18:25] rbuckton commented on #4152
Support for this was added in #3823, and is listed in the Wiki under [Breaking Changes](https://github.com/Microsoft/TypeScript/wiki/Breaking-Changes#strict-object-literal-assignment-checking). Please verify using `typescript@next` and let us know if this satisfies your use case.

[2015-08-04 18:25] #4152 closed

[2015-08-04 18:32] mhevery commented on #4152
Looks like what we need! Awesome. Let us give it a try.

[2015-08-04 18:37] mhegazy commented on #4152
I am now getting this Error:

  Object literal may only specify known properties, and 'directives' does not exist in type '{ selector?: string; properties?: string[]; events?: string[]; host?: { [x: string]: string; }; l...'.

[2015-08-04 18:39] mhegazy commented on #4151
what do you mean by "regenerated"? can you elaborate?

[2015-08-04 18:39] mhegazy commented on #4151
what do you mean by "regenerated"? can you elaborate?

[2015-08-04 19:01] jedmao commented on #2232
@mhegazy this doesn't resolve the issue at all. @robertsundstrom is asking for a require hook so you can:

[code]

This would load a polyfill ([like Babel does](https://github.com/babel/babel/blob/master/packages/babel/src/polyfill.js)) and register with Node (also [like Babel does](https://github.com/babel/babel/blob/master/packages/babel/src/api/register/node.js)).

This must be a part of the `t

[2015-08-04 19:38] rvdn commented on #4151
The fields are being placed back in the projectfile automatically by visual studio. The typescript specific fields not.

[2015-08-04 19:40] mhegazy commented on #2232
@jedmao should not this be done in a different package, e.g. typescript-cli for instance?

[2015-08-04 19:43] mhegazy commented on #4151
I do not think this is the Typescript language service that is doing this. the only piece that writes to the project file in the Typescript plugin in, is the project property pages. did you change project properties through the project property pages? when does this write event happen?

[2015-08-04 19:48] rvdn commented on #4151
It happens on the compile command from visual studio.

[2015-08-04 19:54] mhegazy commented on #4151
that is interesting. this happens on a clean project, i.e. open project, build. with no changes to the project or any files. correct?

And it is only the IIS*/ProjectExtension properties? if so, i think this the C# webproject project system that is forcing these properties to be added and not the TypeScript VS plugin.

[2015-08-04 19:58] rvdn commented on #4151
Indeed that is the case. Open project, build without changes. And indeed the iis/projectextension properties

[2015-08-04 20:00] mhegazy commented on #4151
Looks like the project system expects these properties to be in the file, and will add them if they are missing on load. not sure who would know more about this. let me ask around and see if i can find the right owner.

[2015-08-04 20:20] mhegazy commented on #4143
looks like a dupe of  #442

[2015-08-04 20:20] #4143 closed

[2015-08-04 20:24] weswigham commented on #4144
This repo'd using the `jake build` version at  4c7b214a69c97eb1746b.

[2015-08-04 20:27] danquirk commented on #4138
Seems reasonable to just put the var before the return isn't it? The objections here (not very idiomatic, plays poorly with tools like code coverage and linters checking for unreachable code) seem compelling enough. Obviously a minor issue but there's not really a good reason to not fix it (eventually) right?

[2015-08-04 20:32] Tydude4Christ commented on #563
In the C# environment, the integration of a transpiler of C# classes to TypeScript classes would remove the need to keep two different definitions of classes between the server and client side as the client side, aka TypeScript class, would be automatically generated and the partial class that this issue is requesting would allow customization when needed while still developing in native TypeScrip

[2015-08-04 20:35] mhegazy commented on #4138
This is not something that can be easily changed. the way the emitter works today is by doing transformations on the fly. transformations are done as we descend into the tree. at the time we are visiting a destructuring pattern we have emitted previous statements. moreover, destructuring can be in an expression position. so to emit the variables first we need to do a pre-walk to find destructuring

[2015-08-04 21:03] danquirk commented on #2231
Interested parties may want to check out this project https://github.com/blakeembrey/typescript-node

[2015-08-04 21:42] basarat commented on #2749
🌹

[2015-08-04 21:45] tomlarkworthy commented on #2749
[image: Office dance]

On Tue, Aug 4, 2015 at 2:42 PM, Basarat Ali Syed <notifications@github.com>
wrote:

[2015-08-04 22:12] JsonFreeman commented on #4122
I agree that signature help could become very confusing with this proposal.

[2015-08-04 22:21] JsonFreeman commented on #4122
For the partial matches idea, the challenge would be that if we are trying to match some signature in the first constituent, then whether a match is found in another constituent could depend on a third constituent. For example:
[code]
In this case, the first and second constituent do have a match in a sense, even though the type of the parameter is not the same. But that is only true because the t

[2015-08-04 23:05] jiaweihli commented on #4149
@mhegazy Will using the ES6 Module syntax (https://github.com/Microsoft/TypeScript/issues/2242) prevent issues like this?

[2015-08-04 23:10] jiaweihli commented on #4149
Specifically, we have comments like this in our codebase:

[code]

It's very hard to predict when these issues will happen, since compilation succeeds with the import as an empty object, and things blow up at runtime.

[2015-08-04 23:15] styfle opened #4155 "TypeScript 1.5 const enum changes break enum.toString()"
I followed the [recommendation](https://github.com/Microsoft/TypeScript/wiki/Breaking-Changes#enum-reference-in-lining-changes) by changing my `.d.ts` files to use `const` for enum definitions (these are generated view Web Essentials plugin from server-side classes.

Now I am able to compile but I get run time errors when I try to use toString on a number literal. Previously this was not a problem

[2015-08-04 23:21] RyanCavanaugh commented on #4155
The comment is back in `master`, but it *is* removed under `--removeComments`. We should be inserting the extra `.` automatically when needed.

[2015-08-04 23:46] mhegazy commented on #4149
@jiaweihli since you are using browserify i am assuming you are compileing with --module commonjs`. in this case, your output code will look something like:

[code]

so it all depends on how your loader will handle circular dependencies at run time. i will need to play with the loader of a bit to get better understanding of what is going on.

[2015-08-04 23:49] yuit commented on #3844
This is a result of we don't preserve comment in the call expression. In following scenario, we didn't emit comment as well
[code]

[2015-08-04 23:55] jiaweihli commented on #4149
Seems to work correctly with ES6 modules (even static methods!), and breaks at runtime as before with the older external module syntax.  Going to move ahead with migrating our codebase to 1.5, will report back if things don't go smoothly.

[2015-08-05 00:36] styfle commented on #4155
I have the `Keep comments in JavaScript output` unchecked to remove comments. Enabling it seems to show the enum comment as it did in the previous version. It sounds like the the enum comment should be emitted regardless of the flag.

Thanks for the quick response.

[2015-08-05 01:11] jedmao commented on #2232
@mhegazy I don't see [`typescript-cli`](https://www.npmjs.com/search?q=typescript-cli) published on npm, nor am I intimately familiar w/ how the TypeScript project is structured, but I'm inclined to think it doesn't belong there either. This is a core feature; hence, why it exists on [`babel-core`](https://www.npmjs.com/package/babel-core).

I don't see how this feature is related to the CLI, but

[2015-08-05 03:30] mhevery commented on #4152
PERFECT!

[2015-08-05 04:00] jedmao commented on #4134
Turns out I needed to tell `tsconfig.json` not just `typings/postcss/.d.ts`, but also the 20 or so files that that file required as well. >_<

Thanks.

[2015-08-05 04:34] CyrusNajmabadi commented on #4129
Here's the PR for the large tagger refactoring i did: https://github.com/dotnet/roslyn/pull/4046

[2015-08-05 06:33] jannavarro opened #4156 "Typescript 1.5 errors in VS2015"
Just installed VS2015. Used ES6 syntax and got an error:

![image](https://cloud.githubusercontent.com/assets/4499051/9079601/98e27096-3b7e-11e5-8228-3c77fb6742f1.png)

Upon checking the project file I have 1.5 set already.

![image](https://cloud.githubusercontent.com/assets/4499051/9079614/bbdcbca0-3b7e-11e5-9f53-1429c81a2e75.png)

I also tried setting ECMAScript version in VS Project > Properti

[2015-08-05 06:36] Davidhanson90 commented on #4102
Yeah this is our current strategy, but this is just moving the location of the reference to a more local location to the file itself, you still have to manage them all still as well as managing the index file.

[2015-08-05 06:52] kitsonk commented on #4141
By the way, running the above in Firefox outputs `undefined`, so it seems node's behaviour is incorrect.

[2015-08-05 07:15] nippur72 commented on #3978
@mhegazy @rbuckton I've checked with `typescript@next` and the bug is gone, so I'm closing this.

(P.S. I was sure it was 1.5.3, but as you've said it couldn't be, so more likely I had something greater than 1.5.3).

[2015-08-05 07:36] falsandtru opened #4158 "TypeScript compilation hangs on this code"
This code does not end the compilation on Windows 7 using master branch of TypeScript.

[code]

And VS2013 was hangup. `devenv.exe` consume memory about 3.5GB.

[code]

Update:
I was able to get the error message after 3 hours.
[code]

[2015-08-05 08:35] AbubakerB commented on #2341
To clarify, could a class with a private constructor be extendable?

i.e. Would this throw an error?
[code]

if so, would we then allow this:

[code]

[2015-08-05 08:38] wgebczyk commented on #2341
From non-JS developer experience that's expected behaviour.

[2015-08-05 11:57] jbrantly commented on #2019
I think this might be fixed.

The following code:
[code]

now throws the following error: "Import declaration conflicts with local declaration of 'myLib' module"

[2015-08-05 12:47] KnisterPeter commented on #4145
While digging deeper, this finally is a tsc problem.
When the compile target is set to ES5, module imports with a default import are transpiled to e.g. 'modulevar.default()'. This breaks in IE9.
While it is a view chars longer the ES5 mode should product 'modulevar["default"]()' instead for IE9 compatibility.

[2015-08-05 13:24] aleksey-bykov opened #4159 "Declarations cannot be generated for type aliases with type parameters"
In the latest version from master (bb3fb7d98b4ac4cd62474dde15c226b26af30b5f) the following code doesn't compile with the `--declaration` flag:

[code]

[code]

[code]

[2015-08-05 13:43] mientjan opened #4160 "Generated javascript is leaking arguments when extending other classes."
When typescript generates its javascript with classes not defining a constructor for example with.

[code]

Typescript generates

[code]

But as you can see its leaking the arguments object to another function which is by all accounts a no go. https://github.com/petkaantonov/bluebird/wiki/Optimization-killers#32-leaking-arguments

I don't know if this is also the case with other javascript engines

[2015-08-05 13:57] Pro commented on #819
:+1:

[2015-08-05 14:24] mthamil commented on #3844
I have a similar situation where comments are not preserved when defining a function on an object literal.
[code]

[2015-08-05 14:30] glatzert opened #4161 "tsconfig breaks TSC in VS 2015"
Placing a tsconfig.json file inside of an ASP.NET vNext Project (beta6) will break tsc.
It will not produce any output.or overwrite files or whatever else.
Removing the tsconfig.json fixes the automatic compilation.

[2015-08-05 14:36] majo44 opened #4162 "Variables are not exported properlly when using ES6 Modules with default export and targetting SystemJS."
There is problem when I try to re export some module imported from export default.

Link to gist: https://gist.github.com/majo44/4d84feac30ad5a803658
Link to working example (copied compiled code): https://jsfiddle.net/fjfppk0z/

[2015-08-05 14:55] oriondean opened #4163 "FileReader.onLoad/onLoadEnd event argument has no target.result property"
Trying to retrieve the result of a read file/blob via the event passed into the reader's onload/onloadend method results in a type error (Property 'result' does not exist on type 'EventTarget').

This is valid JavaScript, which is failing type checking because the EventTarget interface does not have a result property.

Examples:
- [Typescript playground example](http://www.typescriptlang.org/Playg

[2015-08-05 14:55] kode4food commented on #2957
yes, please!

[2015-08-05 15:17] acterhd opened #4164 "TypeScript SIMD support?"
Hello. In JavaScript added SIMD support. So can I use SIMD in TypeScript?

[2015-08-05 15:45] adidahiya commented on #819
#2957 looks like it will cover the use case for open-ended classes

[2015-08-05 15:54] yjo commented on #2784
I'm seeing this same issue (in tsc 1.5.3) and I'd be very interested to hear of any workarounds there might be.  I'm using a DefinitelyTyped declaration that has been written similarly to @basarat's example:

	declare module "foo"
	{
		module foo {
			interface Foo {
				bar: Bar;
			}
			interface Bar {
				a: number;
			}
		}
		var foo: foo.Foo;
		export = foo;
	}

The problem is that one of the

[2015-08-05 16:07] RyanCavanaugh commented on #4164
Yes.
[code]

[2015-08-05 16:08] RyanCavanaugh commented on #4107
This turned out to be slightly more complicated that just changing the relation. It's best to look at the testcase I added to the PR to see the different variants of things that need to work correctly.

[2015-08-05 16:17] acterhd commented on #4164
And how to I can use typed arrays?
var list: Array<SIMD.Float32x4> = [];

[2015-08-05 16:17] RyanCavanaugh opened #4166 "Provide a way to augment global interfaces from external modules"
We get "bug reports" of this nature very often:

interface Window {
  myPlugin: any;
}
let x = window.myPlugin;
class Foo { }
[code]

Our current answer today is "Move your stuff to another .d.ts file". This is an OK workaround, but not great. The real sticker is when there's a type defined inside an external module -- it's impossible to use those types to augment a global interface, even though t

[2015-08-05 16:20] RyanCavanaugh commented on #1922
`typeof` always returns a string, but `==` performs coercions on the other operand as well.

[code]

[2015-08-05 16:20] #1922 closed

[2015-08-05 16:22] RyanCavanaugh commented on #2133
We'd like a proposal of what this does in terms of behavior, i.e. what would TypeScript do with this field? Or would it just ignore it?

[2015-08-05 16:36] RyanCavanaugh commented on #2478
Discussed at the design backlog meeting. This seems too complex for the problem it's solving; the promise typing problem is somewhat of an isolated case. Ideally that could be addressed by something less complex - maybe generic type arity overloading, maybe something else.

[2015-08-05 16:36] #2478 closed

[2015-08-05 16:49] RyanCavanaugh commented on #2491
This does seem very useful. Going back to the original example, we had some questions about the intended semantics. Given some types:
[code]
Obvious things:
* You can't index an `Alpha` by a `Size`

Non-obvious things:
* Is `Alpha` assignable to `Beta` ?
* Is `Gamma` assignable to `Alpha` ? Vice versa?
* Can I index an `Alpha` by a `number` ?
* Is `Delta` a legal declaration? (strongly leaning tow

[2015-08-05 16:52] RyanCavanaugh commented on #4164
[code]

[2015-08-05 16:54] RyanCavanaugh commented on #2812
Sounds like we're not doing any other work on this issue. Is that correcy @mhegazy ?

[2015-08-05 16:55] RyanCavanaugh commented on #2916
Lots of work to do here. @aozgaa is doing some of it; we'd take PRs on other parts. This can be an area of incremental improvement

[2015-08-05 16:56] andrewvarga commented on #2175
Btw, why is this labeled under "Needs Proposal" ? This is already present in C++, not in C# unfortunately. However I don't think this would be hard to implement?

[2015-08-05 16:56] RyanCavanaugh commented on #3015
My notes say "Assign to Mohamed"

[2015-08-05 16:57] RyanCavanaugh commented on #3287
Happy to take a PR that patches this up

[2015-08-05 17:03] RyanCavanaugh commented on #3478
If we did do something like this, it would probably be generic type argument defaults rather than overloading based on generic arity.

[2015-08-05 17:03] #3478 closed

[2015-08-05 17:04] RyanCavanaugh commented on #3508
Our policy on ES7 features is to wait until they're in Stage 1. Someone should chime in here when that happens for this feature.

[2015-08-05 17:05] andrewvarga commented on #1667
Now that there's a config file for the compiler, would it be possible to squeeze this feature in it somehow, which would be immensely useful:
https://github.com/Microsoft/TypeScript/issues/293

[2015-08-05 17:13] OlegDokuka commented on #189
+1

[2015-08-05 17:17] RyanCavanaugh opened #4168 "Normalize our lib files by compiler settings"
Right now the compiler depends on a monolithic `lib.d.ts` file that is resolved according to the script target (ES5 or ES6). We have to build several different lib.d.ts files out of smaller parts.

We should refactor this so that the different aspects of the compiler settings can map to smaller sub-parts of the libraries.

Language target:
 * ES3
 * ES5
 * ES6
 * Latest

Host:
* Browser with DOM
*

[2015-08-05 17:23] RyanCavanaugh commented on #2341
In the first example, `B` should be an error because its implicit super call is illegal. So a class with a `private constructor` is effectively `sealed`/`final`.

In the second example, `A`'s declaration should be an error because all overloads of a constructor, and its implementation, must have the same visibility (same rule we have for methods).

[2015-08-05 17:40] mhegazy commented on #1667
@andrewvarga i believe this should be covered by #2338, we need a new mapping format to map an import name to a path.

[2015-08-05 17:40] RyanCavanaugh commented on #2175
Someone needs to write down what all the rules for this would be.

For example, would defaults be legal in *all* generic type parameter positions? If so, what's the behavior in function calls?
[code]

[2015-08-05 17:45] acterhd commented on #4164
declare namespace SIMD {
    interface Float32x4 {
        (...args): Float32x4;
        add(args): Float32x4;
        extractLane(args): Number;
    }
    var Float32x4: Float32x4;
}

var vec: SIMD.Float32x4 = SIMD.Float32x4(0.0, 0.0, 0.0, 0.0);
var list: Array<SIMD.Float32x4> = [vec];
var num: Number = SIMD.Float32x4.extractLane(vec, 0);

console.log(num);

Marked as error:
SIMD.Float32x4.extrac

[2015-08-05 17:48] tinganho commented on #2175
In addition to default type parameter. It would also be great to have named type parameter. So I don't need to care about the order.

[code]

[2015-08-05 17:57] aleksey-bykov commented on #4164
[code]

you need to learn some TypeScript: http://www.typescriptlang.org/Handbook

[2015-08-05 18:04] acterhd commented on #4164
I'm understand that need been two arguments. Multiple points? Thanks.

[2015-08-05 18:22] vladima commented on #4162
that is fair, Babel emits rexports for imported names as a part of `execute`

[2015-08-05 18:27] #4136 closed

[2015-08-05 18:31] SaschaNaz commented on #4160
The document says *"STRICTLY `x.apply(y, arguments)` is ok"*, and current `_super.apply(this, arguments)` is just okay then.

[2015-08-05 18:44] #1935 closed

[2015-08-05 18:50] aleksey-bykov commented on #4164
[code]

If you know the **exact** set of parameters you should **not** use `...args`. In case of `extractLane` we [know](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/SIMD/extractLane) it should be `extractLane(t: Float32x4, index: number): number` which is better than `...args`, because more specific and strict.

[2015-08-05 18:53] lucasmciruzzi commented on #3508
Great @RyanCavanaugh ! ... I'll try to check daily until is on Stage 1 :)

[2015-08-05 18:57] acterhd commented on #4164
Why in typescript no float, int and other primitives? Sorry, for declare typed vars, need use:
[code]
???

[2015-08-05 18:59] #4164 closed

[2015-08-05 19:02] ahejlsberg commented on #3004
Fixed in #4033.

[2015-08-05 19:02] #3004 closed

[2015-08-05 19:04] ahejlsberg commented on #2993
Fixed in #4033.

[2015-08-05 19:04] #2993 closed

[2015-08-05 19:08] ahejlsberg commented on #2781
Fixed in #4167.

[2015-08-05 19:08] #2781 closed

[2015-08-05 19:08] #2780 closed

[2015-08-05 19:09] ahejlsberg commented on #2737
Fixed in #4033.

[2015-08-05 19:09] #2737 closed

[2015-08-05 19:13] ahejlsberg commented on #2585
@mhegazy What is the spec issue here?

[2015-08-05 19:34] #4155 closed

[2015-08-05 19:40] mhegazy commented on #2585
this is a question more than an issue. we do not support spread on strings. should we?

[2015-08-05 19:44] darrylring commented on #4024
Would a pull request be welcome on this?

[2015-08-05 19:47] danquirk commented on #4158
Are you using 1.5? With the latest bits from ```master``` I get this error, no crash, although compilation does take a pretty long time considering the file size:
[code]

[2015-08-05 19:51] mhegazy commented on #4160
the `arguments` object never leaks. its contents are what is passed to the super call, and not the array itself. this is Function.apply, and not Function.call.

[code]

[2015-08-05 19:58] danquirk commented on #4159
Was this a regression?

[2015-08-05 20:01] mhegazy commented on #4158
I see about a minute for compiling this on node, and 2 seconds on chakra.

[code]

[2015-08-05 20:04] CyrusNajmabadi commented on #3844
Any time that we don't preserve a ```/*!``` comment should be considered a bug.  @yuit , can you take a look at these.  We're likely just missing an obvious ```emitLeadingComments``` call somewhere.

[2015-08-05 20:14] yuit commented on #3844
@CyrusNajmabadi  @mthamil I believe the root of this issue is that we do not preserve comment at all when the comment is not lead by new line regardless of the ```/*!```

For example:
[code]
/*comment1*/ will not be emitted as well

I am talking a look on how to solve the issue now

[2015-08-05 20:32] danquirk commented on #4145
I think https://github.com/Microsoft/TypeScript/issues/2296 covers the general issue here. Note related pull requests https://github.com/Microsoft/TypeScript/pull/2387 and https://github.com/Microsoft/TypeScript/pull/2760

[2015-08-05 20:32] #4145 closed

[2015-08-05 21:05] ahejlsberg commented on #2526
Fixed in #4033.

[2015-08-05 21:05] #2526 closed

[2015-08-05 21:07] RyanCavanaugh commented on #4107
Changed in `master` now. Thanks for the report!

[2015-08-05 21:07] #4107 closed

[2015-08-05 21:10] mhegazy commented on #3015
The current design leverages JavaScript objects that exist at runtime. this works for classes, since they exist both in the type-space at compile-time and in the value-space at run-time. interfaces do not have these properties, nor do type parameters.

Moreover, the name of an interface, or a type parameter by itself is not sufficient information in a structural type system. You need the shape of

[2015-08-05 21:10] #3015 closed

[2015-08-05 21:13] mhegazy commented on #4159
that is a new feature added to type aliases in 1.6. so not a regression.

[2015-08-05 21:14] mhegazy commented on #2812
yup. this was declined last time we talked about it.

[2015-08-05 21:14] #2812 closed

[2015-08-05 21:14] ahejlsberg commented on #2511
I'm closing this one since it looks to be covered in #3423.

[2015-08-05 21:14] #2511 closed

[2015-08-05 21:15] mhegazy commented on #2812
The rational is that the import syntax is already complex enough, and no need to add more complexity.

[2015-08-05 21:16] ahejlsberg commented on #2006
Fixed in #4033.

[2015-08-05 21:16] #2006 closed

[2015-08-05 21:19] mhegazy commented on #2784
I do not see other way around this.

[2015-08-05 21:20] ahejlsberg commented on #1679
I suggest we close this one. I'm not sure how much of a real world problem this is and the suggested fixes seem worse than the problem itself.

[2015-08-05 21:21] mhegazy commented on #4024
@DanielRosenwasser can you share your work with @darrylring?

[2015-08-05 21:24] #1679 closed

[2015-08-05 21:26] mhegazy commented on #3978
thanks @nippur72 for confirming.

[2015-08-05 21:26] mhegazy commented on #4161
@paulvanbrenk can you take a look/provide a workaround here?

[2015-08-05 21:29] ahejlsberg commented on #1068
Closing, out of date and no longer an issue.

[2015-08-05 21:29] #1068 closed

[2015-08-05 21:29] mhegazy commented on #4156
This is not a message that we generate.. do you have an extension installed? resharper? webessentials?

if so, you need to update your extension or disable it.

[2015-08-05 21:31] ahejlsberg commented on #1059
Fixed in #4033.

[2015-08-05 21:31] #1059 closed

[2015-08-05 21:33] ahejlsberg commented on #728
Fixed in #4033.

[2015-08-05 21:33] #728 closed

[2015-08-05 21:36] weswigham opened #4169 "Create and expose an expression transpiler"
As a library consumer, I would like to be able to call an API method which takes a file location and a TS string and returns a JS string.

And by that I mean a function which given an execution context and a TS string, gives equivalent JS for that location (like transpile, but context aware).

This is useful for watch expressions and console debugging, and without something like this, it is diffic

[2015-08-05 21:37] mhegazy commented on #4102
I think the ultimate fix is an easier way to breakup your code into "projects". this is tracked by #3469. this way you do not even need a reference.

also possibly related, is supporting globs in tsconfig.

[2015-08-05 21:38] ahejlsberg commented on #538
No longer an issue. Closing.

[2015-08-05 21:38] #538 closed

[2015-08-05 21:39] #4129 closed

[2015-08-05 21:41] adidahiya commented on #4024
+1 better compiler UX

[2015-08-05 21:43] mhegazy commented on #2019
thanks @jbrantly for reporting back. resolving.

[2015-08-05 21:43] #2019 closed

[2015-08-05 21:48] weswigham commented on #4168
A _really_ common practice right now is compiling for ES5, but still needing ES6 `Promise` types. The DefinitelyTyped `es6-promise` types get used in combination with the ES5 lib in this case right now, but it would be _very_ nice if we could enable/disable `lib.d.ts` parts by _feature_, rather than by target spec (since the spec version target is just a collection of features, from a consumer of

[2015-08-05 21:49] ahejlsberg commented on #536
We want to restrict the cases where we do this because it causes fixing of the type parameters, and therefore no further inferences for those type parameters.

[2015-08-05 21:49] #536 closed

[2015-08-05 21:49] mhegazy commented on #4163
looks related to #299.

[2015-08-05 21:51] ahejlsberg commented on #535
Fixed in #4033.

[2015-08-05 21:51] #535 closed

[2015-08-05 21:53] mhegazy commented on #4168
so what is the granularity, what needs to be in a flle by itself and what is not.. also what is draw back from just including all es6 types?

[2015-08-05 21:53] alexeagle opened #4170 "DefinitelyTyped typings incompatible with ES6 emit: Import assignment"
Similar to https://github.com/Microsoft/TypeScript/issues/2929

Using released TS 1.5.3,
Trying to type-check the ES6 emit for angular, I run into:
[code]

Because of syntax here:
https://github.com/borisyankov/DefinitelyTyped/blob/983126e131a2b81739053d60e4bbdbb46d6577b7/node/node.d.ts#L425

Can this rule be relaxed? Do all typings need to be updated?

[2015-08-05 21:59] basarat commented on #2133
I choose to ignore it. But I've found that it has confused people. So in hindsight just using it for docs was a bad choice on my part 🌹 failed experiment.

[2015-08-05 22:00] basarat commented on #2133
Better if we say that tsconfig.json "must" support comments. And we leave it up to the creator what they feel like commenting.

[2015-08-05 22:01] paulvanbrenk commented on #4161
only the following setup is supported at this time
[code]

For compile on save to work you need to enable Compile on save for files that are not part of a project, in tools/options/text editor/typescript/project

hope this helps

[2015-08-05 22:03] weswigham commented on #4168
Including ES6 types would drop many extra types into your IDE/Editor experience which you don't actually have access to in your targeted environment, for one. Beyond that, many awkward things (interface redefinitions and the like) happen when you try to depend on a partial ES6 polyfill `.d.ts` (like one included by a library you're using) file alongside the full TS ES6 lib.

[2015-08-05 22:05] matthewjh opened #4171 "Creating a class whose instances will be instances of Error"
Hi,

I'm creating some custom error classes, but ran into an issue when using jasmine's `expect(fn).toThrowError(MyCustomError);`

The problem is that jasmine's `toThrowError` matcher checks that the exception thrown by `fn` is an instance of `Error`. This is clumsy to satisfy in TypeScript, as in `lib.d.ts` `Error` is an interface.

Thus, if one creates `MyCustomError` in the most straightforward

[2015-08-05 22:10] alexeagle commented on #4170
https://gist.github.com/robertpenner/7d48f184df1236c4fdca is a workaround.
Thanks @robertpenner

[2015-08-05 22:15] andrewvarga commented on #2175
@RyanCavanaugh my first (maybe naive) idea for this was a simple preprocessor which would work like this:
- for all cases where a generic function / class is used (called / instantiated), and a generic type variable that has a default value is not explicitly set, that default value is injected.

So in the above example, because f is called without given an explicit type it will default to the defa

[2015-08-05 22:16] andrewvarga commented on #2175
@tinganho that sounds like a good idea!

[2015-08-05 22:18] andrewvarga commented on #1667
@mhegazy Nice, I didn't catch that issue. Would that work for ///<reference path=""/> type of references too ?

[2015-08-05 22:18] RyanCavanaugh commented on #4171
Upgrade to TypeScript nightly build (`npm install typescript@next`), or wait until TypeScript 1.6, then write

[code]

[2015-08-05 22:19] matthewjh commented on #4171
Oh cool. Out of interest, why was `Error` an interface in the first place and what motivated the change?

[2015-08-05 22:21] RyanCavanaugh commented on #4171
Prior to some other changes, it wasn't possible to augment an existing class the same way you can an interface (multiple class declarations were an error, rather than merging like interfaces do).

The change in 1.6 is that we allow arbitrary expressions in `extends` clauses instead of requiring the symbol to point to a class.

[2015-08-05 22:24] JsonFreeman commented on #3423
@aleksey-bykov How did you not get a type mismatch error on the return expression of fromNone in case 3? `string` is not compatible with a type parameter.

[2015-08-05 22:31] mhegazy commented on #1667
@andrewvarga this is only for modules as it follows the same runtime resolution process based on your module system (i.e. amd/commonjs). we could not come up with a meaningful /// reference resolution analogy.

[2015-08-05 22:34] mhegazy commented on #4161
also to note, this is something we are still working on. TypeScript 1.5 release went out before ASP.Net release, so there are some missing support that we need to update in the next release.  sorry for the hassle.

[2015-08-05 22:35] weswigham commented on #2133
The case I can see this being useful is for the selection of a version-appropriate services library by editors for a given project. Which is a good use case, IMO. (Flagging the editor to automatically use the nightly services library so it won't choke on `abstract` and `is`, for example! It's be really nice if I could include the version in my `tsconfig.json` (or `package.json`... since I already

[2015-08-05 22:36] mhegazy commented on #4170
The error is there as there is no valid ES6 construct that maps to the `export=` semantics; so we do not know how to emit it. However, we could relax the constraint for ambient module declarations as there is no code emit impact.

[2015-08-05 22:47] btford commented on #4107
Thank _you_!

[2015-08-05 22:50] JsonFreeman commented on #3423
@aleksey-bykov I think what you are asking for is a persistent bottom type that will be inferred when there are no inference candidates, and will be subsumed by all other types. Similar to null or undefined, except that it would not widen to `any`, or at least it would not widen at the end of type argument inference.

Your suggestion to infer from the context would work for case 1 and case 2, but

[2015-08-06 00:11] DanielRosenwasser commented on #2585
This still seems like a bug since we don't conform with ES6.

[2015-08-06 00:26] jbrantly commented on #3469
Today it is completely up to the host (the IDE, whatever) to find the tsconfig.json file, although TS then provides APIs to read and parse it. How would you envision this working if there were multiple tsconfig.json located in a hierarchical fashion? Would the host still be responsible for resolving the initial file but not the others or would the host be responsible for resolving all of the tscon

[2015-08-06 00:38] spion commented on #3469
Wouldn't this start with the ability to build d.ts files as described in #2568 (or at least have relative imports)?

[2015-08-06 01:10] basarat commented on #2784
Same here. We went with wrapping those interfaces in a *non instantiated module*

[2015-08-06 01:37] aleksey-bykov commented on #3423
@JsonFreeman

Very well could be, although my though was that return types in such situation can only be inferred when there is at least one candidate whose type would be the type of the result.

I wish at this point I could say definite yes or no, but I don't know the domain subject so well so I have to trust someone who claims to know it better.

Can't see how case 3 is different from say case 2

[2015-08-06 01:39] adidahiya opened #4175 "LanguageServices.getDocumentHighlights does not find references within JSX"
Using `v1.6.0-dev.20150805`.

For the following code, `LanguageServices.getDocumentHighlights` reports only 1 highlight span for `onChange`, where it should really report 2:

### `test.tsx`

[code]

You can reproduce this error with the sample code from #3688 (copied below):

[code]

[2015-08-06 01:50] jannavarro commented on #4156
@mhegazy My bad. It was resharper that was causing the error. I updated it to 1.5. Thanks for your suggestion.

[2015-08-06 01:50] #4156 closed

[2015-08-06 01:53] falsandtru commented on #4158
Thank you for your support. I retried on `bb3fb7d98b4ac4cd62474dde15c226b26af30b5f` commit and `v1.5.3`. v1.5.3 failed but another commit succeeded. This problem has been resolved by any commit after v1.5.3. Please close this issue if there is no problem or this is a duplicate.

[2015-08-06 02:17] jannavarro commented on #3124
@paulvanbrenk you mentioned "For VS 2015 RTM tsconfig.json based configuration is only supported for ASP.NET v5 and Cordova Projects."

In VS 2015 there is a project for Html Application with TypeScript. Will this be supported?

[2015-08-06 02:39] ludamad opened #4176 "Skip typechecking; only emit"
I am often already convinced of my programs type safety before I run my simple bash script to compile through TypeScript, compile through babel, and run. I do not currently see any mechanism to simply emit JavaScript code instead of typechecking. Is it already done somewhere/not currently feasible/not worth it?

[2015-08-06 03:58] JsonFreeman commented on #3423
This is a pretty concise summary of unification with an example:
https://cs.brown.edu/courses/cs173/2002/Lectures/2002-11-13.pdf

More to the point: Let's take case 1 that you've given (case 2 is similar). I'm going to copy it here for ease of looking:
[code]
My claim is that there is no useful inference that can be made from the `fail` function in the call to `withFew`. You want `string[]` to be

[2015-08-06 04:30] jiaweihli commented on #4149
Migrated codebase over - it seems like using ES6 imports forces everything to be lazily evaluated, which solves the majority of circular import issues.  However, given the scenario where you have a class `A`, and `class B extends A`, and `A requires C, C requires B, B requires A`, things will still break.  My hunch is because there's a forced invocation of `A` due to `__extend`.

[2015-08-06 04:34] DanielRosenwasser commented on #4175
I assume FindAllRefs and GoToDefinition also doesn't work?

[2015-08-06 04:41] Arnavion opened #4177 "Specializations of document.createElementNS for SVG"
... would be nice to have.

[code]

[2015-08-06 04:41] Arnavion opened #4178 "Some SVG types would benefit from stricter appendChild() overloads"
[code]

to override the generic appendChild(Node) inherited from Node, and so on. This would make it an error to append a `<g>` to a `<feMerge>` for example.

[2015-08-06 06:00] kitsonk commented on #4176
Then why use TypeScript?

[2015-08-06 06:05] DanielRosenwasser opened #4180 "Overloads returning type predicate types are always incompatible with implementation"
Version 1.6.0-dev.20150805

[code]

Currently yields

[code]

I think this should be fixed in time for 1.6; being able to do this would enable some useful patterns.

[2015-08-06 06:31] DanielRosenwasser commented on #4180
Specific use case found with @roganov [here](https://gitter.im/Microsoft/TypeScript?at=55c2f9e77a6037e67c59c10c).

[code]

[2015-08-06 06:55] kitsonk commented on #4166
Am I being too ignorant, but why wouldn't the following be acceptable?

[code]

My particular use case was extending other global interfaces within a module that was going to try to offload to native if present:

[code]

[2015-08-06 07:21] dsebastien commented on #2133
+1 for a "version" key.

TS could directly state whether the given tsconfig.json is supported or not (e.g., version more recent than the compiler which would be clear and wouldn't allow for side effects/surprises).

TS could also embed versioned schema files (whatever the state of those is in the json universe) so as to allow editors to provide more contextual information (auto completion and the

[2015-08-06 07:29] isidorn opened #4181 "UInt8ClampedArray reported as a warning"
Have the following code:

var a3 = new Uint8ClampedArray(10000);

Notice a warning "Can not find name UInt8ClampedArray" (attachmend)
This should not be a warning, https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Uint8ClampedArray

Here's a screenshot using VSCode

![screen shot 2015-07-30 at 11 14 56](https://cloud.githubusercontent.com/assets/1926584/9106063/8c14b

[2015-08-06 07:30] ludamad commented on #4176
I am using the atom-typescript package with Atom, so the code does get typechecked.

[2015-08-06 07:52] DanielRosenwasser opened #4182 "tsc fails to parse file with ZERO WIDTH NON-JOINER or ZERO WIDTH JOINER"
Using a file containing "\u200C" (\<ZWNJ>) and "\u200D" (\<ZWJ>), the compiler yields the following message:

However, according to the spec, the two are valid *IdentifierPart*s.

See:
- https://es5.github.io/#x7.1
- https://people.mozilla.org/~jorendorff/es6-draft.html#sec-unicode-format-control-characters

[2015-08-06 07:55] vilic commented on #1922
Though actually you won't use `typeof str == { valueOf: () => 'string' }` for type narrowing, nor will type narrowing support this form (other than string literal when using typeof), I think.

[2015-08-06 08:16] aleksey-bykov commented on #4166
Too bad there is no [discussion] tag, gonna add my few cents anyway. It's shocking how a big new feature is coming out of a tiny problem: *to get something out of a standard object something that is not supposed to be there*. If so, what could be easier than this:

[code]

That's it, the problem has gone. No need for a new expensive feature. Thank to one single guarded place in code.

[2015-08-06 08:51] aleksey-bykov opened #4183 "Subtraction types"
Another type-safety measure. Sometimes it's desired to limit what developers can do with a value. Not allowing them to get to certain properties of it looks sufficient.

Example: We render HTML elements to PDF on the client side. In order to do so we need to run `element.getBoundingClientRect` to get a bounding box in effect. It is an expensive operation that we wish could only be done once and th

[2015-08-06 09:09] aersamkull commented on #4142
I didn't think of that... The only option would be to only infer x if the parameter value is not inferred which seems to be complicated and not really foreseeable...

[2015-08-06 09:18] NoelAbrahams opened #4184 "Completion for return value from `Promise.then`"
Hi,

**Version**: TS 1.5

In the code below, I would like return-value completion help for `function ff` the same as that for `function f`.

[code]

Is that going to be possible?

Thanks.

[2015-08-06 09:35] synaesthesia commented on #1311
The bug still exists in 1.5.3. And it's not all blocks:

[code]
compiles to
[code]

[2015-08-06 09:46] yjo commented on #2784
@mhegazy @basarat having types that are closed 'by design' doesn't feel very TypeScripty to me... It's hard enough to persuade a team of TS's merits without having to sprinkle around the odd `<any>` because the library types are incomplete \<sadface/>.

[2015-08-06 10:13] mattbrooks2010 opened #4185 "Intermittent build error with TypeScript v1.5 · TS2388: Function overload must not be static"
I am able to reproduce an intermittent build error for multiple Visual Studio projects when using TypeScript v1.5. This was not happening previously with TypeScript v1.4.

[code]

The scenario below only occurs during a clean build and only for approximately 1 in 3 builds. This was originally encountered during my CI builds, which invoke the TypeScript compiler via MSBuild. However, I'm also able

[2015-08-06 10:24] kitsonk commented on #4181
Dupe of #1995

[2015-08-06 11:14] vanamco opened #4186 "New Website Logo: Vanamco"
Please fill the following out:

- Name: Vanamco
- Homepage url: http://www.vanamco.com/
- Brand Guidelines/Licensing: feel free to use it!
- Logo: http://www.vanamco.com/var/vanamco-logo.svg

We're now using typescript throughout all our projects, notably Ghostlab, a web and mobile developer and tester tool (vanamco.com/ghostlab).

Thanks for adding us!
If you have any questions please get in touc

[2015-08-06 11:36] tinganho commented on #4180
See https://github.com/Microsoft/TypeScript/pull/3262#issuecomment-108991303.

[2015-08-06 11:57] pcan commented on #3015
@mhegazy I understand that this is out of scope for TypeScript compiler itself, but it could expose at least some API that describe the type system used internally for type checking during compilation, so a third party post-compiler could implement a full-blown reflection system along with a runtime library (maybe using the JSON structure proposed by @rbuckton).

[2015-08-06 12:27] glatzert commented on #4161
Well okay - the currently supported setup works - but orignially we wanted to go by one file per Module, which is not accomplishable without multiple tsconfig files, but with a buildstep - so we will use that as a Workaround.
Thanks

[2015-08-06 13:27] tinganho opened #4187 "Infer type construct signature and infer type parameter signature"
I know that you only contextually type values.

But it hurt my finger when having to type the signature of a construct when it could be contextually typed:
[code]
It also hurts my fingers when I have to redeclare the type parameters if they should just be the same. Why can't all of the above be written as:

[code]
We infer the construct signature and we also infer the type parameter signature.

[2015-08-06 13:38] OlegDokuka commented on #4187
it will be cool if provide somesing like Class in java where we can declare it like Class or Class<any>

I `v provided it yet but only Class type

[code]

but in this way we lost

[code]

of course we can do something like

[code]

but it is not that we realy want

[2015-08-06 14:27] hypery2k commented on #285
any news on this issue?

[2015-08-06 14:29] deryl27 opened #4188 "Incude .json file"
How can I include .json file in typescript 1.5

For example : I have level.json file which I need to include in the typescript file

[2015-08-06 15:18] RyanCavanaugh commented on #4183
What about something like this?

[code]

[2015-08-06 15:40] DanielRosenwasser commented on #4180
Gotcha - but there was no formal issue filed for that, correct?

[2015-08-06 15:50] dun3 opened #4189 "New Website Logo: groupXS Solutions GmbH"
Please fill the following out:

- Name: groupXS Solutions GmbH
- Homepage url: http://www.groupxs.com/
- Brand Guidelines/Licensing: no specific guidelines, Logo can be used on freely websites and marketing material that reference TypeScript and groupXS together. More usage of course possible, inquire info@groupxs.com
- Logo: http://www.groupxs.com/media/groupXS-Logo.svg

[2015-08-06 16:01] aleksey-bykov commented on #4183
hm, didn't know it works this way, could be useful for anything that doesn't return `void`, which is better than nothing

[2015-08-06 16:47] aozgaa opened #4190 "Abstract Constructor Assignability Not Restricted Enough"
Consider the following code snippet:

[code]

The first assignment should fail because `A2` is new-able (it isn't an abstract constructor type), but no error is reported.

EDIT: simplified the sample.

[2015-08-06 17:19] tinganho commented on #4190
If this is a bug how do I do this https://github.com/Microsoft/TypeScript/issues/2947#issuecomment-120579600?

function testDerived<T extends typeof ComposerComponent>(DerivedClass: T) {
   new DerivedClass(); // error
}
function testDerived(DerivedClass: typeof ComposerComponent) {
   new DerivedClass(); // error
}
[code]

[2015-08-06 17:22] tinganho commented on #4180
Correct, at least non that I knew of.

[2015-08-06 17:31] aozgaa commented on #4190
Let me check my understanding. Suppose our class hierarchy looks like
[code]
where `A` is abstract but `B`,`C` are not.

Then you want to have an object `AA` which has a type that allows
[code]
but forbids
[code]

If my understanding is correct, that's precisely the capability that should be provided by
`var A2: new () => A;` in the example above. Right now, the forbidden condition isn't forbidden

[2015-08-06 17:33] #4181 closed

[2015-08-06 17:50] tinganho commented on #4190
var A2: new () => A; in the example above. Right now, the forbidden condition isn't forbidden.

This is the only way that I know of that can do the capability we are talking about.

Though personally I also feel that this is a bug. Though I want to have the capability to declare a non abstract class declaration type. If you fix this bug, then I don't know how to do it(except using `any`).

[2015-08-06 17:57] paulvanbrenk commented on #3124
We are looking at making the experience better for all projects, including the Html App with TypeScript.. not sure about the time line though.

[2015-08-06 18:01] paulvanbrenk commented on #4161
Can you describe how you would like to setup your project to do 'one file per module', so we can take that into account when we improve the tsconfig experience in the near future.

[2015-08-06 18:05] aozgaa commented on #4190
Could you clarify what you mean by "a non abstract class declaration type"?

[2015-08-06 18:14] tinganho commented on #4190
@aozgaa don't know the real name of it. but just to clarify my meaning:
[code]

[2015-08-06 18:26] jedmao commented on #4134
@mhegazy I have more information concerning this issue.

I turned `noResolve` to `false` in my [`tsconfig.json`][] by removing the option entirely, because I don't want to reference 20+ definition files manually in my `files` array:

[code]

Running `tsc` with the above [`tsconfig.json`][] gives me the following error:

Strangely, adding only `"typings/postcss/d.ts/postcss.d.ts"` and no other defi

[2015-08-06 18:27] paulvanbrenk opened #4191 "Class with same name in different modules not showing NavBar"
Consider the following file:
[code]

Notice that in the NavBar, ````class A```` in ````module foo```` doesn't show in the navigation bar.

![navbar](https://cloud.githubusercontent.com/assets/5273975/9119887/094d641c-3c2e-11e5-94ab-a23221f54dc8.png)

[2015-08-06 18:33] NGumby opened #4192 "Bug: code repeated in my cordova appBundle.js"
With Visual Studio 2015 RTM, In my cordova project, the compiled appBundle.js is repeating code at the end of the file, and doesn't repeat it sequentially.  For example, in the following example, debugMode is false when I use it in my project code, but it should be true.

Here is a simplified example of what happens :

File config.ts
[code]

File index.ts
[code]

Compiled appBundle.js
[code]

[2015-08-06 18:35] danquirk commented on #4158
@ahejlsberg @mhegazy and I talked about this a little as far as the performance goes. It's not clear there's a great solution at the moment. We could consider altering the depth limit used to decide when to bail out of comparisons with infinitely expanding generics but we don't have great evidence for where the perfect balance is. We can reconsider it in the future if more people start bumping up

[2015-08-06 18:35] #4158 closed

[2015-08-06 18:45] yjo commented on #2049
+1, am wanting to do this now to write a type definition for Lodash's `_.mapKeys`

[2015-08-06 19:12] danquirk commented on #2784
Can you not just edit your local copy of the .d.ts until the PR for the fix is taken?

[2015-08-06 19:16] jamiewinder commented on #4188
Depending on your module format / loader, you can load with that. It's not really something TypeScript itself concerns itself with.

However, one thing I've started doing for HTML templates is embedding them like so:

**level.ts**
[code]
[code]
i.e. defining it as an exported value using the backtick character. With JSON you could also do:

**level.ts**
[code]
[code]

[2015-08-06 19:20] danquirk commented on #4185
Sounds strange. I'm not sure how much we can do without a larger repro. The code snippet there doesn't have any errors in isolation (modulo defining JQueryHXR and Ajax.send).

[2015-08-06 19:25] danquirk commented on #285
@hypery2k the most recent proposal is https://github.com/Microsoft/TypeScript/issues/3694. We have a few different issues tracking the various ways people want to specify `this` types. Suffice to say we know it's a top request but it's also complicated to support correctly :)

[2015-08-06 19:27] danquirk commented on #4183
Alternatively, wouldn't you have the object type itself guard against this type of re-initialization? ie
[code]

[2015-08-06 19:30] mhegazy commented on #4185
one thing to look for is if any of the input files autogenerated from a previous build step.

it might be helpful to compare the msbuild log file for failed and succeeded attempts, and make sure that all invocations to tsc.exe are identical, just to rule out other tools in the chain.

[2015-08-06 19:31] danquirk commented on #4192
Can you share the actual compiler invocation command that's causing this? (presumably in the Output window)

[2015-08-06 19:32] nathggns commented on #1985
Is there any official progress/comments on this?

[2015-08-06 19:36] danquirk opened #4194 "Wrong .d.ts for exported generic type alias"
From https://github.com/Microsoft/TypeScript/pull/4193

[code]
generates this .d.ts
[code]
May be related to https://github.com/Microsoft/TypeScript/issues/4159

[2015-08-06 19:37] danquirk commented on #1985
@nathggns see https://github.com/Microsoft/TypeScript/issues/3694 for the latest proposal

[2015-08-06 19:50] thr0w commented on #4194
I'm with the same problem.

[2015-08-06 20:04] aleksey-bykov commented on #4183
1. we are talking about a standard DOM element interface, there is no place to put that safer wrapper you are talking about

2. not letting to see a method results to statically verified and more correct code than making assumptions at runtime

3. honestly there are a lot of ways to deal with this situation without involving subtraction types, it's not even a problem in the first place, just an ex

[2015-08-06 20:08] tinganho opened #4195 "JSX elements should not rely on only global JSX.Element type"
I find this to be very limiting:
[code]

[code]

It doesn't complain if I remove the export `keyword`. Why does it need to rely on a global type? Can't it not be local? I want to develop a JSX framework and I want to create a local type of `JSX.Element` etc. and then compile the definition file. I did began with declaring `JSX.Element` in a `d.ts` file, but there was some limitation with that appr

[2015-08-06 20:10] falsandtru commented on #4158
I am looking forward to it. In addition, I want a type checking abort feature for Visual Studio. There is a possibility to hang again for some reasons. Never ending or too long type checking is a bug. For now, I must restart the Visual Studio if hang. I want to create a new issue about this problem.

[2015-08-06 20:13] danquirk commented on #4158
@falsandtru if you are frequently running into such delays and hangs we definitely want to hear about it and fix them. Do file any other issues you can with repros.

[2015-08-06 20:14] mhegazy commented on #4188
What do you mean by "include"? if you want to import it as a module, then @jamiewinder's comments would be your best options. you can also look into using [amd-dependency tags](https://github.com/Microsoft/TypeScript/wiki/What%27s-new-in-TypeScript#amd-dependency-optional-names) if you are using amd module loader.

[2015-08-06 20:19] zpdDG4gta8XKpMCd opened #4196 "Negated types"
Sometimes it is desired to forbid certain types from being considered.

Example: `JSON.stringify(function() {});` doesn't make sense and the chance is high it's written like this by mistake. With negated types we could eliminate a chance of it.

[code]

Another example

[code]

[2015-08-06 20:36] NGumby commented on #4192
1>Target "PreComputeCompileTypeScript" in file "C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\TypeScript\Microsoft.TypeScript.targets" from project "D:\CompuSport\trunk\CS Cordova\CS.Cordova\CS.Cordova.jsproj" (target "CompileTypeScript" depends on it):
1>Using "VsTsc" task from assembly "C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\TypeScript\TypeScript.tasks.dll".
1>

[2015-08-06 20:38] falsandtru commented on #4158
I still do not know the reason for the other hang. But some of the hang reported until now. I have experienced hang for another reason in the past. It does not hang anymore? Really does not take measures? I do not want to restart anymore.

[2015-08-06 20:39] RyanCavanaugh commented on #4195
I don't see any value in a JSX expression meaning one thing in one place and one thing in another. It's similar to `Array` -- `string[]` is just a shorthand for `Array<string>`, and `[]` is a syntax of the global type `Array`.

[2015-08-06 20:45] yjo commented on #2784
@danquirk it would be possible, but on my team we try to avoid checking in library code, and it would be pretty icky to check in a fork of a huge definitions file just to add a single line.

[2015-08-06 20:46] RyanCavanaugh commented on #4192
I'm guessing what's happening is that the Cordova project system, or something else (maybe a source code control tool?), is mirroring config.ts to some other locations in the project folder. `tsconfig` without a file will pick up all .ts files, recursively, in its containing folder. Can you verify that only the two .ts files that you expect to be there exist in the project folder?

[2015-08-06 20:48] thr0w commented on #12
+1

[2015-08-06 20:48] tinganho commented on #4195
Ok I think I can agree on that.

[2015-08-06 20:48] #4195 closed

[2015-08-06 20:56] RyanCavanaugh commented on #4176
The typechecking step has to run for the emit to be correct. The emit will happen either way, though, so you can simply pipe the console output of tsc to `/dev/null`. A fancier solution would be to use the compiler's `transpile` API directly.

[2015-08-06 20:59] ludamad commented on #4176
What part of typechecking informs the emit? I am mostly interested in skipping it for performance reasons, as I am led to believe this is most of the time spent. Can the transpile API do a correct emit ignoring all type annotations? That sounds like a good suggestion if so, thank you!

[2015-08-06 21:02] ludamad commented on #4170
In case this is helpful for anyone, I ended up using this bit of hack in my setup script to rewrite imports:
``
        for file in DefinitelyTyped/*/*.ts ; do
            sed -i "s@import *\(.*\)= *require(\([\"'].*[\"']))@import * as \1from \2@g"  "$file";
        done
``

[2015-08-06 21:02] NGumby commented on #4192
Oh yeah, I had a subfolders with a bunch of config.xxxx.ts files that overwrites config.ts with a grunt task.  It was the fact that the repeats where at the end that threw me off.

Sorry about that, and thanks for pointing me in the good direction.

[2015-08-06 21:02] #4192 closed

[2015-08-06 21:04] RyanCavanaugh commented on #4176
The actual types the compiler sees doesn't matter in terms of producing correct emit, but it's the typecheck phase that, for example, sets the flag that tells the emitter that the second arrow function (but not the first) needs to have `var _this = this;` emitted in its enclosing scope. Ultimately these are more like syntactic checks than type system checks, but it's more efficient to do those two

[2015-08-06 21:12] sccolbert opened #4197 "Was the grammar for object literals changed/relaxed?"
According to the spec (3.7.3) a comma separating object literal type members is not allowed, but the following currently seems to work. Was the grammar relaxed here?

[code]
http://www.typescriptlang.org/Playground#src=%0Avar%20b%3A%20%7B%20a%3A%20number%2C%20b%3A%20string%20%7D%3B

[2015-08-06 21:23] hoanhtien opened #4198 "Formatting: Property references that are the last call in chained call are incorrectly indented"
Format the following content:
[code]
Result:
[code]
Expected:
[code]

[2015-08-06 21:24] #4198 closed

[2015-08-06 22:15] mdekrey commented on #2175
My suggestion would be that type defaulting happens in place of an `any` type or `{}` type inference; that is, to expand on @RyanCavanaugh's above example:

    declare function f<T = string>(a: T, x: (n: T) => void): void;

    // 'T' is a string here, because the default overrides the inference of any
    f(null, s => { });

    // 'T' is a number here due to existing inference
    f(15, s => {

[2015-08-06 22:19] NickLydon opened #4199 "defaultChecked not recognised for checkbox input in JSX"
/// <reference path="../typings/react/react.d.ts" />
    import React = require('react');

    React.createClass({
        render: function() {
	        return <input type="checkbox" defaultChecked="checked" />;
        }
    });

Gives me the error `"src/sample.tsx(6,33): error TS2339: Property 'defaultChecked' does not exist on type 'HTMLAttributes'."`

[2015-08-06 22:42] #4098 closed

[2015-08-06 22:42] #4093 closed

[2015-08-06 22:44] RyanCavanaugh commented on #4199
This is controlled by react.d.ts; please send a PR to DefinitelyTyped adding that field to HTMLAttributes

[2015-08-06 22:44] #4199 closed

[2015-08-06 22:44] mhegazy commented on #4176
For completeness here is some documentation for [ts.transpile](https://github.com/Microsoft/TypeScript/wiki/Using-the-Compiler-API#a-simple-transform-function).

[2015-08-06 22:46] RyanCavanaugh commented on #4197
The latest version of the spec allows `;` or `,` to terminate object type literal methods.

[2015-08-06 22:46] #4197 closed

[2015-08-06 22:50] sccolbert commented on #4197
Thanks!

[2015-08-06 22:51] mhegazy commented on #3015
You should be able to use the TypeChecker API from the compiler to get to the type information you need. there is no serialization logic readily available, but should be possible to add one.

Here is the TypeChecker API: https://github.com/Microsoft/TypeScript/blob/085f0df4556801c14a4333d6c1d0bab1375586e4/lib/typescript.d.ts#L1027-L1057

Documentation on using the compiler API: https://github.com/

[2015-08-06 22:55] mhegazy commented on #3469
@spion i am not sure i see the dependency here. you can have multiple outputs of a project, it does not have yo be a single delectation file. the build system should be able to know that and wire them as inputs to dependent projects.

[2015-08-06 23:25] #4025 closed

[2015-08-06 23:25] mhegazy commented on #4025
thanks for the report. should be in tonight's `typescript@next`

[2015-08-06 23:30] robertknight commented on #4025
Thanks @mhegazy ! Really looking forwards to TS 1.6 and the nightlies are great to have.

[2015-08-06 23:46] mhegazy commented on #4159
should be fixed by #4202

[2015-08-06 23:48] #4194 closed

[2015-08-06 23:49] #4159 closed

[2015-08-06 23:50] mhegazy commented on #4159
Can you give `typescript@next` a try some time after 11:50 pm PST :)

[2015-08-06 23:52] mhegazy commented on #3793
@jods4 and @SnareChops sorry fro the trouble; can you try the latest fix one more time..

[2015-08-06 23:52] #3793 closed

[2015-08-07 00:02] yuit opened #4204 "Indent arguments in call expression in emitted js"
[code]
get emitted as following
[code]

[2015-08-07 00:05] ahejlsberg commented on #4122
@JsonFreeman I implemented this by looking for matches for *every* signature in *every* constituent type (instead of just looking for matches for signatures in the first constituent). A signature is matched by other signatures with extra optional parameters and/or different return type, and we don't process signatures with parameter lists that are already in the result set (i.e. the result set is

[2015-08-07 00:07] mhegazy commented on #4204
i would just fix it in your next code change to the emitter. no need for a bug,

[2015-08-07 00:07] #4204 closed

[2015-08-07 00:32] aleksey-bykov commented on #4184
did you try this:

[code]

[2015-08-07 00:34] aozgaa commented on #4190
I see. So what's missing from the constructor function type `A2` above? Do you want to also have the static-side of `A` encoded into `A2`? What's an example of a use-case of the "non-abstract class declaration types" when dealing with abstract classes?

[2015-08-07 00:38] aleksey-bykov commented on #4159
Works like a charm, well done.

[2015-08-07 00:40] aleksey-bykov commented on #4196
Gotta think more about it.

[2015-08-07 01:06] sebdoucet opened #4206 "TypedArrays missing signature"
Hi,

Is it wanted this signature is not availlable in default lib.ts on all typed array :

    set(array: Array<number>, offset?: number): void;

I don't look to specs, but it's working everywhere on typed arrays and it's not the case for other methods like fill, reverse, foreach, etc.

It's not a big deal to had this on a custom missing signature file, but it doen t make sence for me having stuff

[2015-08-07 01:07] ahejlsberg commented on #3496
Picking up on the suggestion in #3988, here is how you would currently write a correct recursive JSON data type:

[code]

The trick is to make the recursive back references within interface types. This works because resolution of interface base types and interface members is deferred, whereas resolution of type aliases is performed eagerly. Ideally you'd be able to replace `JSONArray` with `JSONVa

[2015-08-07 01:12] danquirk commented on #4206
Signatures here do seem wrong.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/TypedArray/set
[code]
whereas our definition for ```Uint8Array``` has these two signatures:
[code]

[2015-08-07 01:12] JsonFreeman commented on #3496
The only way I can think of to make this work is to introduce a new kind of type for type aliases, but that would involve lots of extra plumbing. Maybe @ahejlsberg has a better idea.

[2015-08-07 01:13] basarat opened #4207 "JSX : `#` is marked as an invalid character"
The following code [is valid JSX](https://babeljs.io/repl/#?experimental=true&evaluate=true&loose=false&spec=false&playground=false&code=var%20foo%20%3D%20%3Ca%3E%23%3C%2Fa%3E):
[code]
But TypeScript errors `Invalid character`

[2015-08-07 01:52] tinganho commented on #4190
I think this is already handled?

As I mentioned in the quoted comments above. I want pass a "non-abstract class declaration type" to a function and instantiate using new.

[2015-08-07 04:10] jamesxv7 commented on #2375
Correct me if I'm wrong but if I create a new `.ts` file into the folder been watched by the `--watch` option of the tsc compiler, I need to execute again the `tsc --watch` command in the bash or terminal? It is this behavior by design? This occurs on Mac and also on Windows.

Will be possible to add into the `--watch` options the functionality to not be necessary to re execute the command each ti

[2015-08-07 04:41] orellabac commented on #563
+1 for code generation scenarios

[2015-08-07 05:03] KhoaSydney opened #4208 "Can not debug Typescript bundled up by webpack in Visual studio 2013"
Hi,

I cant get  Typescript (bundle up by webpack) debugging working in Visual Studio 2013. I can debug inside browser such as IE, Firefox, Chrome. During initial load of application in VS 2013, in Debug output, it said sourcemap read failed as seen in the attached image below:
![sourcemapfailed](https://cloud.githubusercontent.com/assets/3717031/9128990/ca43fde8-3d14-11e5-8bca-a8314ee58958.png)

[2015-08-07 05:41] roganov commented on #186
I would really love this feature.
For as long as it's not implemented, what is the recommended way to emulate the following Elm snippet?
[code]
@DanielRosenwasser has kindly shown me a pretty cool way (comment [#4190](https://github.com/Microsoft/TypeScript/issues/4180#issuecomment-128265521)) way to achieve what I want, but unfortunately it requires quite a lot of boilerplate code. In a mid-sized

[2015-08-07 06:57] davetayls commented on #3464
I'm getting this, how can I track down the file causing the issue?

[2015-08-07 07:14] yahiko00 commented on #4073
+1

[2015-08-07 07:15] tjoskar commented on #4130
And the same is for when `args` is of `any`-type

[code]

[2015-08-07 07:20] yahiko00 commented on #4062
If we allow this, it seems to imply we should allow extension of existing union types. But maybe I am wrong.

[2015-08-07 08:07] jabbukka commented on #4140
This is an exactly what I wanted to do. It works for me. Thanks.

[2015-08-07 08:21] mattbrooks2010 commented on #4185
@danquirk Unfortunately no, I cannot share the project. I did spend limited time on producing a minimal repro but couldn't reproduce the intermittent issue in the time available. I will try again.

@mhegazy I don't think this is relevant as I have been able to trigger the issue using tsc.exe directly.

To me though, what is most curious is why I am getting the following error at all:

[code]

Are

[2015-08-07 08:42] lazutkin opened #4209 "Reexport of non-instantiated entity forces TS to emit JS-code"
I don't know if it is correct by design but a snippet that follows produces a JS-code though I feel that it shouldn't.
[code]

emits

[code]

[2015-08-07 09:24] billccn opened #4210 "tsc --watch does not terminate if run through npm and Cygwin"
`tsc --watch` does not seems to respond to the way Cygwin stops programs (i.e. whatever it generates for ctrl-c) and can only be forcibly killed.

Specifically, if `tsc` is launched through the `node_modules/.bin/tsc` shell script in Cygwin, then everything works as expected. However, the Windows version of `npm` calls the `tsc.cmd` which does not seem to work with Cygwin signals.

[2015-08-07 09:28] spion commented on #3469
@mhegazy Oops, sorry. Looking at the issue again, it appears that this is more related to the language service. I read the following

and automatically assumed its related to better support for npm/browserify (or webpack) build worfklows where parts of the project are external modules

[2015-08-07 10:03] jods4 commented on #3793
As noted above, my repro was already fixed before. I think @SnareChops had a more complicated case than I did.

[2015-08-07 10:28] wgebczyk opened #4211 "This usage before super call"
ES6 disallow to use this before super call.
[code]
The line "this.vv = 111;" must be after super statement.
The super statement also cannot contain this usage.
Compilation to ES6 gives:
[code]

So even if TS wants to relax "this usage before super" (which i doubt), then it must fix in generated ES6 code.

[2015-08-07 11:58] aleksey-bykov opened #4212 "Custom type guards work interestingly"
I know I am not supposed to use values of `void`, because one day they might be banned one day. But for time being I don't understand is it by design or by mistake that the `isVoid` guard works whereas `isNonVoid` doesn't in the example below:

[code]

How come that seemingly identical guard implementation breaks apart entirely?

[2015-08-07 12:10] tinganho commented on #4212
@aleksey-bykov notice that you are using a type parameter `a` in `isNonVoid` and you are passing the type `value | a` for the type parameter `a` in the predicate `value is a`.

And at the else clause you are subtracting the type `value | a` from `value | a` which I presume will result in type `{}`.

[2015-08-07 12:19] aleksey-bykov commented on #4212
why does the `value is a` predicate treats `void | a` as `a`? in other words `a` in `value is a` is not the same `a` as in `value|a`.

[2015-08-07 12:39] jbrantly opened #4214 "ES6 module import doesn't require relative identifier to load relative file"
This could be by design but it just surprised me and I wanted to verify behavior.

With CommonJS, relative modules must start with "./" or "../", otherwise it's considered to be a top-level module.

As near as I can tell with ES6, module naming is "loader implementation specific". It would seem that TypeScript's implementation does not require "./" or "../" to reference a relative file. For exampl

[2015-08-07 12:52] wgebczyk commented on #4212
@tinganho Please notice that this is not the first time when people sees guard expressions as working in unexpected way. Please search for all issues (open and closed) and you see that something is wrong with them. Either this construct in not natural to people or the people that have problem should not use TS as they are not target group.

[2015-08-07 12:56] tinganho commented on #4212
@aleksey-bykov After looking at it more closely it probably is a bug.

[2015-08-07 12:58] wgebczyk opened #4215 "Question - How to get type reference to be able instantiate it?"
How to take specific type reference to be able later instantiate that?
[code]

[2015-08-07 14:22] mattbrooks2010 commented on #4185
I have been able to produce a reasonably minimal repro for this issue. I'd like to share the code privately if possible — what is the best way of doing this?

The repro consists of the smallest number of TypeScript files possible to still reliably produce compiler errors. It contains TypeScript files and a `tsconfig.json` file. There is also a PowerShell script that continuously cleans / builds un

[2015-08-07 14:33] NikitaEgorov opened #4216 "Union types and array.concat problem"
[code]

http://www.typescriptlang.org/Playground#src=var%20a%20%3D%20()%3A%20number%20%7C%20Array%3Cnumber%3E%20%3D%3E%20%7B%0A%09return%20Math.random()%20%3E%200.5%3F%20%5B2%2C3%5D%20%3A%203%3B%0A%7D%3B%0A%0Avar%20b%20%3D%20%5B1%5D%3B%0A%0Ab.concat(a())%3B

[2015-08-07 15:04] impinball commented on #3496
What this really is starting to sound like now is inductive type inference
as opposed to deductive. Most strongly typed languages with any sort of
type inference deduce types. That includes TypeScript. Haskell and OCaml
are the only two remotely mainstream languages I know of that do their
typing inductively. And as for Haskell, the reason why it can have infinite
types is because its nonstrict na

[2015-08-07 15:05] tinganho commented on #4212
I just noticed that type parameter matching for union types does not work on the following case too:

[code]

[2015-08-07 15:10] aleksey-bykov commented on #4216
in the left hand you have apples, in the right hand you have apples *and* oranges, now you are confused: when you put your hands together those oranges that you hold in the right hand don't turn into apples, why is that?

[2015-08-07 15:11] wgebczyk commented on #4215
Nevermind, found solution.
[code]

[2015-08-07 15:11] #4215 closed

[2015-08-07 15:39] darrylring commented on #4216
Which is the slightly unhelpful way of saying that union types aren't currently compatible with overloaded functions (see #1805). Neither overload of `concat` accepts `number | number[]`.

From lib.d.ts:

[code]

[2015-08-07 15:44] aleksey-bykov commented on #4216
Pardon me, didn't know `concat` is designed so loose.

[2015-08-07 15:50] mhegazy commented on #4185
feel free to email me. mhegazy at microsoft

[2015-08-07 15:52] mhegazy commented on #3469
I do not think this is true. calling `tsc --m --d ` will generate a declaration file that is an external module itself. resolution logic will try to find a .ts and if not then a .d.ts with the same name,

[2015-08-07 15:53] #4140 closed

[2015-08-07 15:53] mhegazy commented on #4140
glad that helped.

[2015-08-07 15:54] darrylring commented on #4216
I'd say it's the opposite of loose. In JavaScript you could do:

[code]

The way `concat` is defined in `lib.d.ts` forbids this. You can give it one or more `T` or `T[]`, but not both.

[2015-08-07 15:54] mhegazy commented on #4209
imports are always force the container to be instantiated.

i would use type alias declartons instread:

[code]

[2015-08-07 15:58] aleksey-bykov commented on #4216
that's what I meant by saying it's designed loose in JavaScript, didn't expect it to be this way, the original observation is valid, technically libs.d.ts should be revised, although personally I'd keep it the way it is, but it's a question of what you believe in

[2015-08-07 16:00] mhegazy commented on #2375
currently the compiler only adds watches to files. the problem is node does not provide a native directory watcher capabilities. we would have to either do it based on file watchers, which would not scale, or include a timestamp based implementation. we are open to suggestions here if any one has better ideas on how to get this to work.

I do not think this is related to this issue. this issue is

[2015-08-07 16:00] mhegazy commented on #3464
@davetayls what version of the compiler are you using? `tsc --version`?

[2015-08-07 16:01] mhegazy commented on #4159
thanks @aleksey-bykov for the verification!

[2015-08-07 16:05] mhegazy commented on #4168
I agree with the principal, my question is about the details.. what is the granularity? is it down to methods (es6.array.is.d.ts) or containers (es6.array.d.ts, es6.object.d.ts), or areas (es6.core.d.ts, es6.typedarrays.d.ts, es6.promise.d.ts)?
a concreate list of files we want to generate would be ideal.

[2015-08-07 16:06] davetayls commented on #3464
hey @mhegazy I am on 1.5.3

[2015-08-07 16:11] mhegazy commented on #4166
@aleksey-bykov that does not allow for modeling global side-effects. a library author would want to declare that their library is adding certain definitions to the global scope, so that their users get to use them.

for context, we have rejected this in the past on the basis of discouraging bad practices. however, like them or not, there are existing JS libraries that relay on global extensions to

[2015-08-07 16:12] mhegazy commented on #3464
@davetayls can you share a repo?

[2015-08-07 16:12] darrylring commented on #4216
Ah, gotcha. I also think `lib.d.ts` is probably correct.

[2015-08-07 16:13] mattbrooks2010 commented on #4185
@mhegazy emailed — thanks

[2015-08-07 16:15] aleksey-bykov commented on #4166
well, can't say you have any other choice other than to add it
:+1: for global polluters, I like the idea

[2015-08-07 16:18] davetayls commented on #3464
It's private unfortunately, I managed to track down the culprit by commenting out code till it worked! took a while :smile:

It was strange because the underlying problem was that the class being passed to the generic had an import it was extending from where the path was broken. The generic constraint failed before the import path failed.

Don't know if that makes sense

[2015-08-07 16:19] mhegazy commented on #4210
additional diagnostics would be appreciated so would be a PR, assuming there is a simple fix.

[2015-08-07 16:19] kitsonk commented on #4166
It isn't just global polluters...  The other use case is trying to extend the globals without having to load the full `lib.es6.d.ts` from within a module that is related to that bit of functionality.

[2015-08-07 16:21] mhegazy commented on #3464
@davetayls not really.. can you reproduce that with a minimal example?

[2015-08-07 16:21] mhegazy commented on #4166
@kitsonk can you elaborate..

[2015-08-07 16:22] DanielRosenwasser opened #4217 "TypeChecker#getConstantValue(node) doesn't properly resolve values"
Courtesy of @ivogabe from [here](https://gitter.im/Microsoft/TypeScript?at=55c4bdfdcdd8bb455f2f8c7e).

[2015-08-07 16:23] davetayls commented on #3464
I'll sort out an example

[2015-08-07 16:24] mhegazy commented on #4217
We would take a PR for this.

[2015-08-07 16:24] ivogabe commented on #4217
I think I found the cause, I can try to submit a PR later today

[2015-08-07 16:24] DanielRosenwasser commented on #4210
@billccn what terminal emulator are you using? (i.e. CMD/PowerShell, ConEmu, Cmder, MinTTY?)

[2015-08-07 16:25] aleksey-bykov commented on #4166
@kitsonk, you sound like such pollutions would be localized in a module where they are introduced (rather than leaking to the global namespace) which sounds opposite to what @RyanCavanaugh originally said

[2015-08-07 16:27] mhegazy commented on #3464
thanks @davetayls! appreciate the help.

[2015-08-07 16:36] billccn commented on #4210
It's MinTTY. I had to say when I played with `cmd.exe` before, its handling of stdIO seemed to be very dodgy. In this case, `cmd` will be killed with its parent process but `node.exe` will continue to run with a stdin?

[2015-08-07 16:47] kitsonk commented on #4166
All that is being suggested is that there is a language mechanism to access global interfaces from within a module.  The reasons for it were originally thought to be useless which is why #983 got closed, then re-opened, and now closed again in lieu of this one.  There can be many use cases, like having to do with other libraries that pollute the global namespace, which is *bad*, or my particular u

[2015-08-07 16:53] RichiCoder1 commented on #2103
I'm very interested in both [Redux](https://github.com/gaearon/redux#what-does-it-look-like) and React, the manipulation in state is made much easier with this. Would love to see this implemented.

[2015-08-07 17:10] darrylring opened #4218 "Forcing type guards for public API function arguments"
Is there room for some mechanism for forcing type guards on function argument? I don't know what the mechanism is, but I imagine it applying to files, functions, or classes. You could write every function argument as `something | void` but this would be a hassle to maintain and would confuse the definitions and documentation.

Here's what I mean:

[code]

So, `--declaration` would emit:

[code]

B

[2015-08-07 17:21] danquirk commented on #4208
This is with the latest TypeScript (1.5) right?

[2015-08-07 17:43] nycdotnet commented on #3469
@spion TypeScript can generate d.ts files for external modules as @mhegazy said, but this results in a 1:1 ratio of definitions to source files which is different from how a library's TypeScript definitions are typically consumed.  One way to work around this is this TypeStrong library: https://github.com/TypeStrong/dts-bundle

[2015-08-07 17:55] jteplitz602 opened #4220 "ImageData constructor signature is incorrect"
lib.d.ts (and lib.webworkers.d.ts) define the ImageData constructor constructor as taking no arguments, but there should actually be two constructor signatures of the following form according to mdn:

[code]

[2015-08-07 18:08] NoelAbrahams opened #4221 "Leading space in generic parameter ignored by autoformat"
Hi,

**Version**: VS2015/TS 1.5

In the code below,

[code]

Autoformat (Cntrl+K, Cntrl+D) does not remove the space between `Foo<` and `{ bar`. (It does remove any trailing spaces e.g. `bar: string } __ >`.)

[2015-08-07 18:29] rvdn commented on #4151
Have you found the right owner and will it be solved?

[2015-08-07 18:32] jamesxv7 commented on #2375
I agree with you @mhegazy, that was my impression when I start writing the comment. I will continue the discussion in other issue. Thanks for the feedback and the information about Node.js.

[2015-08-07 18:35] jamesxv7 opened #4222 "A directory watcher option through tsc --watch"
Following the discussion from issue #2375, Since Node.js does not provide a native directory watcher functionality, will be possible to add into the `--watch` options of TypeScript the functionality to enable a directory watcher. This in order to avoid re execute the compiler command each time a new file is added to the project (or folder)?

[2015-08-07 18:36] anjdreas opened #4223 "NodeJS TypeScript - Run with build errors"
Cross-post from https://github.com/Microsoft/nodejstools/issues/312

One thing I found annoying is that the TypeScript NodeJS project refuses to run if there are TypeScript build errors. I understand that build errors are there to help you, while the JS is normally still output. This means I expected to be able to run despite build errors, but instead it just shows me the error list window on F5.

[2015-08-07 18:44] jteplitz602 commented on #4220
Submitted PR #4224 to fix this. It looks like the constructor is only defined in ES6 compatible browsers so I've only added the definition in lib.es6 and lib.webworkers

[2015-08-07 19:04] SetTrend opened #4225 "Visual Studio 2015: TypeScriptCompiler always generates empty concatenated target file"
If I configure the TypeScript compiler in project settings (project type: "HTML application With TypeScript") to create a single concatenated target file, it always creates an empty file only. The resulting file never contains anything except "//# sourceMappingURL=SwingPanel.js.map" (see attached image).

![empty joined typescript file](https://cloud.githubusercontent.com/assets/9283914/9143653/de

[2015-08-07 19:12] kamranayub commented on #3939
I see an update in the Product Updates tab of Extensions. However it says it's unable to install.

![image](https://cloud.githubusercontent.com/assets/563819/9143808/1ea7c8ee-3d0e-11e5-9d59-59f7bf85addf.png)

I don't see anything in `C:\Users\Kamran\AppData\Local\Temp` that I could check.

[2015-08-07 19:22] NoelAbrahams commented on #4221
Here's a slightly different case, where extra *trailing* spaces are not removed:

[code]

The spaces after `<any>` are not affected by autoformat, but any extra spaces before `<any>` are removed correctly.

[2015-08-07 19:41] weswigham commented on #4168
If we can get away with it, the highest level of granularity possible will allow the greatest amount of compiler consumer control later (and also combinatoric expansion in possible compiler configurations).

Generally speaking though, I'd say I'm partial to group by feature area ([like how babel groups language features](https://babeljs.io/docs/advanced/transformers/)), since it's seemed like that

[2015-08-07 19:45] DavidSouther opened #4226 "Type system allowing incorrect generic composition"
In this code, I attempt to create a type-safe compose function where the output of `f` must match the input of `g`. Unfortunately, it allows `((A)=>A, (B)=>C)`. I would expect the type system to stop this.

[code]

http://goo.gl/BkulA3

[2015-08-07 19:49] davetayls commented on #3464
Here you go https://github.com/davetayls/typescript-issue-3464

[2015-08-07 20:06] DavidSouther commented on #4226
This fails as I would expect in Java:

[code]

[2015-08-07 20:47] danquirk commented on #4218
You might be interested in https://github.com/Microsoft/TypeScript/issues/198

[2015-08-07 20:48] paulvanbrenk commented on #3939
Adding @yuit who may have some insights on the install issue

[2015-08-07 20:51] aleksey-bykov commented on #4226
TypeScript is quite special in this regard and a bit unsound, so it lets you shoot yourself in your foot and laughs at you crying out in pain: https://github.com/Microsoft/TypeScript/issues/3038

[2015-08-07 21:12] danquirk commented on #4223
Toggling TypeScriptNoEmitOnError to false should do the trick, see https://github.com/Microsoft/TypeScript/issues/2848

[2015-08-07 21:12] #4223 closed

[2015-08-07 21:14] danquirk commented on #4225
Are the files in your compilation actually putting anything into the global scope (these are what end up in the --out target file) or are they all external/ES6 modules?

See https://github.com/Microsoft/TypeScript/issues/1544

[2015-08-07 21:26] yuit commented on #3939
@kamranayub, I am investigating the issue. Jut want some more information: what VS sku you are running an upgrade? and what older TypeScript version you are on

[2015-08-07 21:27] JsonFreeman commented on #3496
I don't know what *inductive* and *deductive* mean. But I will say that the type system / compiler in TypeScript is generally lazy. That's why recursive type aliases are supported to some degree. The reason they are not supported in *all* cases is that type aliases themselves are resolved eagerly. To make type aliases lazy, it would likely be necessary to have an actual type for type aliases, but

[2015-08-07 21:33] weswigham opened #4227 "Language service doesn't handle missing root files"
[As seen here](https://github.com/Microsoft/TypeScript/blob/4816bb51807e73b6431bbbe015e0649fb906c8b4/src/server/editorServices.ts#L933), the TS language service gives up on loading a project when it fails to find a _single_ file listed in that project - it would be useful if the service would continue to load the project but skip missing files. The existing behavior is acceptable for the compiler,

[2015-08-07 21:41] #4105 closed

[2015-08-07 21:44] RyanCavanaugh commented on #4175
This is odd -- it's working in Sublime Text

![image](https://cloud.githubusercontent.com/assets/6685088/9146592/d205f98e-3d12-11e5-85e3-0bfa838691dc.png)

[2015-08-07 21:50] mhegazy commented on #4218
one option is to use decorators and metadata to inject runtime checks. here is a sample:

[code]

compile that with

[2015-08-07 21:50] kamranayub commented on #3939
@yuit, VS Community 2015, at 1.5.4 right now.

[2015-08-07 21:54] yuit commented on #3939
@kamranayub  you are able to get the latest update 1.5.4 ? Could you tell me detail of TypeScript entry in the Programs and Features (i.e Name, Version in particular)?

[2015-08-07 22:04] impinball commented on #3496
What I mean about inductive vs deductive is in the sense of inductive
reasoning vs deductive reasoning in the mathematical sense. Feel free to
correct me if I'm not using the correct terminology here (I don't have a
PhD in type systems).

Inductive:

[code]

Deductive:

[code]

Deductive typing is lazy at type definition (it doesn't explode over simple
recursion), but eager in applying the types.

[2015-08-07 22:09] jeffreymorlan commented on #4226
TypeScript actually would list errors on both of the incorrect `compose` calls, except that:
* `A` and `B` are assignable to each other due to being structurally identical
* `(X) => Y` doesn't mean what it looks like; it's the same as `(X: any) => Y` rather than `(paramName: X) => Y`.

[2015-08-07 22:11] spion commented on #3469
@mhegazy sorry, I meant for "ambient external modules" :) i.e. if I write my-module (say, published on npm) and import it as

[code]

there is no way for TS to generate the appropriate .d.ts file

[2015-08-07 22:15] mhegazy commented on #3939
Can you share the install logs. they should be in %TEMP%, they have a prefix of "dd_TypeScript*", also if you can share the files with "dd_SecondryInstaller*"?

[2015-08-07 22:18] RyanCavanaugh commented on #4226
Fixed example:
[code]

Errors:

[2015-08-07 22:18] #4226 closed

[2015-08-07 22:29] DavidSouther commented on #4226
Awesome, thank you @RyanCavanaugh!

@jeffreymorlan thank you for pointing out exactly how I was invalidating the rules. I should have seen the issue with A, B, and C being compatible types, but I don't think I'd have ever caught the distinction in the compose function argument types.

[2015-08-07 22:31] mhegazy commented on #3464
@davetayls i can not see any issues either with 1.5.3 or with latest from master. both give me an error for

removing the `x` in the module import seems to work fine.

[2015-08-07 22:33] mhegazy commented on #4227
Feel free to send a PR for it.

[2015-08-07 22:36] mhegazy commented on #4220
We can not accept a PR for this. sorry for the wrong tag. this file is auto generated. we have to update the script that generates this. We should post the sources of this script on another repo to allow the community to update it for similar issues. until then, @zhengbli will take care of this bug.

[2015-08-07 22:41] mhegazy commented on #4151
I emailed a couple of folks. have not heard back from any one yet.

[2015-08-07 22:42] mhegazy commented on #4151
@madskristensen do you know who should we talk to about this issue?

[2015-08-07 22:45] mhegazy commented on #4221
//CC: @SaschaNaz, you might find this interesting.

[2015-08-07 22:48] RyanCavanaugh commented on #4226
Compiling with `--noImplicitAny` is a good way to catch function type literals that lack parameter type annotations

[2015-08-07 22:51] DavidSouther commented on #4226
I'll keep that in mind! Thank you.

[2015-08-07 23:01] #4190 closed

[2015-08-07 23:13] aozgaa commented on #4190
@tinganho

Today, the following code will work:
[code]

[2015-08-07 23:18] #3939 closed

[2015-08-07 23:18] yuit opened #4229 ""TypeScript for Visual Studio will be removed" Error Message when updating TypeScript in Visual Studio"
Below screenshot is what you will see when update TypeScript 1.5.4 in VS (Tools -> Extensions and Updates -> Updates tab). This message is half-truth. Visual studio will uninstall old version of TypeScript (which is what the message indicates). VS will then install newer version of TypeScript (this is the part that is missing from the message box).

You can safely ignore the message because VS act

[2015-08-07 23:19] yuit commented on #3939
Please see this issue  #4229 for any wrong displaying error message

[2015-08-07 23:19] yuit commented on #3939
@kamranayub We can't repo your issue. If you still have the problem, please send us files @mhegazy specified

[2015-08-07 23:28] mhegazy commented on #4208
@sheetalkamat can you take a look.

[2015-08-07 23:41] JsonFreeman commented on #3496
I see. I think I also lack sufficient type theory knowledge to comment on induction versus deduction, though it is clear that there is a distinction between lazy and eager processing of types.

There is a section in the spec here:
https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md#310-type-aliases
that defines the "directly depends on" relation. This makes explicit all the places wher

[2015-08-07 23:47] mhegazy commented on #2961
This has been fixed by https://github.com/Microsoft/TypeScript/pull/3333

[2015-08-07 23:47] #2961 closed

[2015-08-07 23:54] kamranayub commented on #3939
@yuit, no I mistyped, 1.5.3--can't install 1.5.4.

@mhegazy Sorry, there are no files under %TEMP% following that pattern. I doubt the installer even runs, it happens as soon as I click "Update."

![image](https://cloud.githubusercontent.com/assets/563819/9147980/b19eee58-3d35-11e5-8fdf-b8b9439ec897.png)

[2015-08-08 00:10] aozgaa opened #4231 "Leftover Issues Brainstorm"
Here are some things I haven't gotten around to handling this summer. Make of them what you will.
Thanks for all the mentorship and support! This summer has been great :).

- [ ] make compile-time constants display their value in the editor
- [ ] add directory-structure support for fourslash
- [ ] move tests/cases/fourslash/fourslash.ts outside that directory.
- [ ] fix indentation in JSDocComment

[2015-08-08 00:36] mhegazy commented on #3939
@sgreer, @kennyatappfive, @Gitgiddy, @ddotlic  and @taicho can you give the latest update a try. you should see a new update in your tools\Extensions and Updates\Updates.

sorry for the delay.

[2015-08-08 00:38] mjw56 opened #4232 "error importing from default object"
Sorry if this is a dup.

Should I be able to do this? Trying to do something like:

Foo.ts
[code]

[code]

but get ```Module '"./Foo"' has no exported member 'Foo'```

[2015-08-08 00:47] danquirk commented on #4232
You want
[code]
to get the default export. The { } syntax is for getting named exports (and/or renaming them yourself)

[2015-08-08 00:47] #4232 closed

[2015-08-08 00:48] DanielRosenwasser commented on #4089
Right, that was what I was getting at. And actually there's another problem - consider the following:

[code]

Provided that `FooOptions` and `BarOptions` are non-empty and distinct, if you supply an empty object literal to `f`, you are potentially going to only get `BarOptions` (since resolution would fail on `FooOptions` and settle on `BarOptions`).

This would be bad experience. We should eithe

[2015-08-08 00:59] mjw56 commented on #4232
But the I would have to do ```Foo.Foo.bar``` instead of just wanting to do ```Foo.bar```

Does that make sense?

[2015-08-08 01:00] taicho commented on #3939
@mhegazy Fantastic work and turnaround guys! Just installed 1.5.4 **successfully** and can confirm that **relative output paths with compile-on-save are now indeed working correctly**. Also did a standard rebuild and the relative path continues to work as expected in that scenario.

Thanks again! I'll continue down my path of promoting the virtues of TypeScript!

[2015-08-08 01:57] weswigham commented on #4231
So in theory this is already possible by requiring the presence of a `.constructor` property whose value is a function which yields void and takes no parameters. A `new` constraint would then be the alias of this interface:

[code]

used as
[code]
(A union type in the generic didn't seem to work in the playground so I just union'd the interfaces myself)

The downside of this approach is you're pas

[2015-08-08 02:20] ander-nz opened #4233 "Suggestion: Using typeof with an expression"
It would be helpful if the `typeof` keyword were changed to support more complex expressions, such as function calls.

#### Example
Given the following AngularJS service definition:
[code]

It would be good if the following statement were possible:
[code]

#### Explanation
Since the function is a factory rather than the actual service, this type alias would other components to have a strongly-type

[2015-08-08 02:41] KhoaSydney commented on #4208
@danquirk I'm using Typescript 1.4.1.

[2015-08-08 03:08] DanielRosenwasser opened #4234 "What do we do about object literals that make use of structural subtyping in 1.6?"
Consider the following hierarchy:

[code]

Humor the idea that when `Container` says that it has a property `a`, there was an *implicit setof types* that will be accounted for throughout the program - `Derived1` and `Derived2`. Really, `a` should have type `Derived1 | Derived2`, but there's is an intuition of doing things with a common supertype from languages like C#, Java, etc. The above code is

[2015-08-08 03:30] reshadi commented on #2655
Google closure uses the o["x"] as a hint to the compiler to not rename the x. It is just their way of "exporting" stuff.
const enums are not always the answer, specially when reverse conversion from string to number is needed.

As @jbrosi mentioned, if the typescript generate normal enums with no ", it would work find in closure. So,
for:
    export enum ResourceType {
        STRING,
        JSON

[2015-08-08 04:29] RyanCavanaugh commented on #4234
The fhir case is simply insane. It's clearly auto-generated, so whatever is generating either the file or the definitions can be appropriately adjusted. We had the same thing with an internal team when we were messing around with BCT - ginormous object literals being consumed through the type system, which was just a waste of computer cycles.

[2015-08-08 04:31] RyanCavanaugh commented on #2655
Enum members need not be identifiers; `enum Foo { 'bar with a space' }` is legal (and needs the string literal to appear in the emit).

[2015-08-08 04:34] weswigham commented on #4216
You can retype the original code like so:
[code]
And it passes the typechecker. Possibly not necessarily for the expected reasons.

[2015-08-08 06:08] tinganho commented on #4190
@aozgaa thanks!

[2015-08-08 06:22] davetayls commented on #3464
I did a fresh `npm i -g typescript` before running `tsc`. I'll check the version.

Are you definitely trying to compile the MediaStore.ts not the MediaModel.ts

You can see the output from my shell in the read me

[2015-08-08 07:18] lazutkin commented on #4233
:+1:  Seems related to https://github.com/Microsoft/TypeScript/issues/3749#issuecomment-123844366  as means to get collection element type through expression.

[2015-08-08 07:21] madskristensen commented on #4151
Perhaps @sayedihashimi knows?

[2015-08-08 07:23] JsonFreeman commented on #4089
I think that is a different issue. You'd need to detect whether multiple overloads are involved in obtaining the contextual type, and decide on a policy for this case. I think it may be acceptable to pick one and show a builder. Alternatively, you could try to collect them from all the overloads, but I think that would be complicated, and not that useful. I would also try to have completion and si

[2015-08-08 07:54] davetayls commented on #3464
[code]

[2015-08-08 08:05] gaurav21r opened #4235 "TS Compiler doesn't know about Computed object property names"
According to ES6 and Typescript I can do this ->
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment#Computed_object_property_names_and_destructuring

Although the code produces the right output the TS Compiler is giving me an error like so:

[code]

Here's the link to the playground: http://www.typescriptlang.org/Playground#src=var%20o1%20%3D%20%7B

[2015-08-08 08:21] ivogabe commented on #4217
It turns out that `getConstantValue` still returns `undefined` on enum references with bracket notation, even though I'm calling `getSymbolAtLocation` first. So my 'fix' isn't working for bracket access (`Foo['Bar']`). I've no idea how that can be fixed, so can someone else take a look at this?

[2015-08-08 08:48] sayedihashimi commented on #4151
@billhiebert any ideas?

[2015-08-08 09:04] ander-nz commented on #3749
While the array type is known to be `number` in the example given, the type would be unknown in the following example:
[code]

[2015-08-08 09:10] thr0w opened #4236 "Syntax proposal: TypeParameters with arguments"
I propose extend generics to support arguments in type parameters. Something like that:

&emsp;&emsp;*TypeParameter:*
&emsp;&emsp;&emsp;*BindingIdentifier*&emsp;__*TypeParameters<sub>opt</sub>*__&emsp;*Constraint<sub>opt</sub>*

This is useful for complex API's, like factories and proxies, that need receice too many data types.

[code]
[code]
[code]
[code]

[2015-08-08 09:10] lazutkin commented on #3749
@ander-nz why? Since TS can derive type for `data` as  `{raw: number, square: number}[]` then it will be able to derive a type for expression `typeof data[0]` as `{raw: number, square: number}`

[2015-08-08 09:26] ander-nz commented on #3749
@lazutkin Sorry, my post was unclear, so I've updated it. (I meant that the type was unknown to the _developer_, so `typeof` would be useful)

[2015-08-08 09:56] myitcv opened #4237 "Accessing missing getter/setter does not generate compile error"
Consider:

[code]

It strikes me that the attempted assignment to `a.Size` should produce a compile time error.

Instead we learn about it at runtime (target `es6` with `v1.6.0-dev.20150806`)

[code]

Thoughts?

[2015-08-08 10:46] mhegazy commented on #4235
Computed properties have dynamic names. The compiler can not know these in all cases. It will emit the rigjt code for you but will not be able to infere the correct type. Consider

{
    [foo()] : 1
}

The name of the property will depend on the return type of foo at runtime.

[2015-08-08 10:53] mhegazy commented on #4217
@vladima can you take a look

[2015-08-08 10:59] mhegazy commented on #4233
I find Using an expression with potential sides effects in a type position really confusing.

[2015-08-08 11:01] mhegazy commented on #4233
Also can you elaborate on how the API and the type would be used outside the module?

[2015-08-08 11:38] yortus commented on #4233
I have found myself wishing this were possible sometimes - usually when using type definitions from DefinitelyTyped. For example, `knex.d.ts` internally defines a `QueryBuilder` interface but does not export it, even though most `knex` methods return instances of this type. That makes it a pain to, say, write a function that takes a `QueryBuilder` as an argument.

A workaround is to create a 'dumm

[2015-08-08 11:44] meirgottlieb commented on #4234
This was auto-generated based on the FHIR specification but it does represent a common pattern in JavaScript where a property in the base type (e.g. 'kind' above) indicates the expected derived type. Why not take into account interfaces that extend the base? Or allow for string literals in the interface declaration to indicate the expected type similar to the discussion here https://github.com/Mic

[2015-08-08 11:49] yortus commented on #4233
This would be equivalent of C++'s `decltype(expr)`, which is used in a type position but does not evaluate `expr`. It's a very useful facility for writing reuseable code that propagates types without foreknowledge of their names.

[2015-08-08 12:48] mwinkler opened #4238 "Lost JavaScript support in VS2015 RTM after updating to TypeScript 1.5.4"
I completely lost JavaScript support in Visual Studio after updating to TypeScript 1.5.4:
- Code inside script tags gets no colorization and no IntelliSense at all
- In the VS options menu > Text Editor > JavaScript is missing
- In the output console, the "JavaScript Language Service" is missing in the dropdown.

Seems I'm not the only one:
http://stackoverflow.com/questions/31888115/visual-studio

[2015-08-08 12:59] tjoskar opened #4239 "Require been ignord for emitDecoratorMetadata if module is unused and name is lowercase"
If an imported module is unused it will be ignored, which is good (It may exist edge cases where this is bad but that is an other discussion).

[code]
Compiles to:
[code]
(One can of course, `import './db'` to keep it).

But this becomes a problem if I use `emitDecoratorMetadata` and a decorator:

[code]

This compiles to:
[code]

And if a run this code I get `ReferenceError: db_1 is not defined`.

[2015-08-08 14:41] myitcv commented on #4237
Modified title to be more accurate

[2015-08-08 15:23] kitsonk commented on #4237
Related/solved by long standing issue #12

[2015-08-08 15:25] jonstelly commented on #4238
Same.  JavaScriptWebExtensionsPackage fails to load.  ActivityLog.xml shows:

SetSite failed for package [JavaScriptWebExtensionsPackage]

[2015-08-08 15:30] kitsonk commented on #4232
The you want to do something like this:

[code]

Then you can:
[code]

Default create the return value for the module (sort of like `export = value`).  If you want to export something else that you can require in, then you need to export it, but not `export default`.

[2015-08-08 17:58] NickHeiner commented on #2133
JSON was not originally intended to be a format for humans to read and write, although that's what it's become haha. JSON was just meant to be a way for machines to talk to each other. There are other formats, like yaml and [toml](https://github.com/toml-lang/toml) that are better for config files.

[2015-08-08 18:21] NickHeiner commented on #3283
:+1: :+1: :+1:

[2015-08-08 18:23] ander-nz commented on #2175
@mdekrey I agree, it would work well if the default type was __only__ relevant for the `{}` case.

Is there a use case for specifying __both__ a default and `extends`? My suggestion would be to not support specifying both, since it might complicate type inference rules.

[2015-08-08 18:32] furesoft opened #4240 "can i transpile ts to js dynamicly in javascript?"
hi,

can i transpile typescript to javascript with a method dynamicly like:

Typescript.compile("source");

[2015-08-08 19:04] mhegazy commented on #4240
Use ts.transpile; see more documentation at https://github.com/Microsoft/TypeScript/wiki/Using-the-Compiler-API

[2015-08-08 19:04] #4240 closed

[2015-08-08 19:36] rjamesnw opened #4241 "Parameter signatures of functions in object literals are not always inferred correctly."
Hi, I ran into an issue where the types don't seem to be inferred correctly.  Consider this:
[code]
I expect "a" for "handler2" to be "string", but instead it is "any".  Shouldn't "a" be interred from the signature, since the "args" are of type "any", which should match any type?

Thanks.

[2015-08-08 19:50] NickHeiner commented on #3844
Yes, I do believe that will work for me. I didn't know about `/*!` comments. Thanks@!

[2015-08-08 21:04] andrewvarga commented on #2175
@ander-nz I think there is a use case for that, to me those are independent features, I may want to use extend to make sure a type is a subclass of something, but I may also want to provide a default type.

[code]
Users of the class don't need to specify a type, it will default to div, but they can specify one if they want, they can also use type inference (by instantiation) and I can also make su

[2015-08-08 21:08] paulvanbrenk commented on #4238
Does the IntelliSense work in a stand alone javascript file?

[2015-08-08 21:09] GaryChamberlain commented on #3283
:+1: :+1::+1:

:-1::-1::-1:

There was a compiler switch that did one thing.  What that switch does was significantly changed with a point release of the compiler. The compiler is scripted with tools like Gulp and Grunt.  It's just semantics, whether you call it an API or not. To me it's an API because you program the build process using those switches.

[2015-08-08 21:24] sampablokuper commented on #2749
Thank you for fixing this!

[2015-08-08 22:52] mbraude commented on #4238
Hi,

This is a known bug that we have fixed, however you could have been affected if you installed the "tools for universal apps development" during a specific period of time. There is a post on our MSDN forums with some steps, and we will soon be publishing a KB with the following workaround:

If the “Tools for Universal Windows Apps Development” are still installed:
1. Go to Programs and Feature

[2015-08-08 23:03] sguryev commented on #4238
Do you mean this option? That's what I have seen when have run the VS installer again (because I was not able to find VS2015 in the programs and features - Win 8.1 x64)
![image](https://cloud.githubusercontent.com/assets/6978458/9152691/a5551d2e-3e3a-11e5-8975-c1ff57b9d1f3.png)

[2015-08-08 23:05] mbraude commented on #4238
Yep, that's it.

[2015-08-08 23:06] sguryev commented on #4238
After installing the missing Emulators for Windows Mobile 10.0.10240 I see the follwoing:
![image](https://cloud.githubusercontent.com/assets/6978458/9152698/436f0d30-3e3b-11e5-9269-af559116e552.png)

Seems that it will work. Thank you!

[2015-08-09 01:18] DanielRosenwasser commented on #4241
This is actual per spec. From section [4.10 Function Expressions](https://github.com/Microsoft/TypeScript/blob/92f152cb8e9f132234727da9882763f08e13ec34/doc/spec.md#4.10):

The rule is effectively that a function expression isn't contextually typed if it has any type annotations on its parameters.

[2015-08-09 01:45] erikread opened #4242 "Update to 1.5.4 in VS 2015 RTM fails"
When I try to update typescript to 1.5.4 in "Extensions and Updates" I get the following error:
Stop Block: FilterFeatureSelectionTreeValidationErrorBlock : Invalid entries passed to /Filterfeatureselectiontree switch. For more details, please see the setup log.
Warning Block: ProcessBlock : Please close Visual Studio now to reduce the chance that a computer restart will be required later.
Warning

[2015-08-09 01:52] ander-nz commented on #4233
@mhegazy I agree that the syntax could be confusing, as per below:
[code]

A possible alternate syntax is using `<``>` brackets, since these are already used by TypeScript. For example:
[code]

This could simplify the syntax, and would look out of place enough to remind the reader that the expression is a TypeScript feature. Does this look clearer?

[2015-08-09 05:02] ander-nz commented on #4233
@mhegazy And to answer your question about how the type would be used outside the module. That example is designed for AngularJS, which uses dependency injection, such as:
[code]

[2015-08-09 05:05] ander-nz commented on #2175
@andrewvarga That's a good example use case for both.While the features themselves may be independent, they do have some overlap. For example, in your code

[2015-08-09 05:30] mhegazy commented on #4242
@yuit can you take a look.

[2015-08-09 05:44] mhegazy commented on #4233
i would rather have a compiler operator e.g. `__returnTypeof` than to overload `typeof`.

[2015-08-09 06:10] mhegazy commented on #3464
aah.. i was trying on latest. sorry about the confusion. the issue has been fixed in master. can you give `typescript@next` a try.

[2015-08-09 06:17] rjamesnw commented on #4241
Just because it says that in the apex doesn't mean that it makes any sense.  The compiler should infer missing types at the same positions when a type is missing on the function expression. Just doesn't mKe any sense really.

[2015-08-09 06:18] rjamesnw commented on #4241
*spec

[2015-08-09 07:03] SaschaNaz commented on #3436
#3827 is waiting feedback, if anyone asks ;)

[2015-08-09 07:38] SaschaNaz commented on #4221
Hmm, I'll take a look.

[2015-08-09 07:40] blfuentes opened #4243 "Update to 1.5.4 remains in the 1.5.3"
After updating via Visual Studio 2015 nuget or through npm the installed version shows still the version 1.5.3