[2015-12-31 17:10] markdrake commented on #4615
+1

[2015-12-31 17:11] rrgarciach commented on #4615
+1

[2015-12-31 17:45] DanielRosenwasser commented on #6304
As @kitsonk said, you need to either initialize the object so we can infer the type, or add a type annotation.

[2015-12-31 17:48] #6303 closed

[2015-12-31 17:51] #6304 closed

[2015-12-31 20:11] jeffschwartz opened #6307 "Exported variable <variable name> has or is using private name <private name>"
The following code:

[code]

produces the following error:

Exported variable 't' has or is using private name 'Test'.

[2015-12-31 21:48] jamcoupe opened #6308 "Optional parameter metadata output."
Problem: I am parsing objects from strings using the "design:paramtypes" metadata parameter, however I want to specify optional parameters. I will need to create my own decorator to tell my parser when a parameter is optional. Much like Angular2 has done with their `@Optional` decorator.

Could the TypeScript compiler not output a new "design:paramoptionals" or something similar with a boolean arr

[2015-12-31 23:28] sheetalkamat commented on #2771
@tstearn I tried this with VS2015 and latest typescript with todoMVC controller and it seemed to work correctly.
Can you share your project so I can look into it to see if it is something that's specific to how you are writing code that results in this issue.
You can share the link here or email me at shkamat@microsoft.com if you would rather share it privately.

Thanks

[2016-01-01 00:15] drudru commented on #6297
@DanielRosenwasser - that is very helpful - thanks again and Happy New Year

[2016-01-01 00:23] srijs opened #6309 "Weird type-widening issue when using methods instead of function properties."
Hi there.

I'm using the tsc compiler, version 1.8.0-dev.20151231, and I'm running into a weird issue where widening of structural types works when I'm defining a class with a function property, and fails when I'm replacing that function property by a "proper" method.

But see for yourself: [This](http://www.typescriptlang.org/Playground#src=class%20Predicate%3CT%2C%20X%3E%20%7B%0A%20%20constructo

[2016-01-01 01:10] DanielRosenwasser commented on #6309
This doesn't have to do with widening.

The problem is that you typed `run` as `(T) => X` which is ***actually*** `(T: any) => X`. [Parameter names are required in function type literals](https://github.com/Microsoft/TypeScript/issues/3081). You can catch this more easily by using `--noImplicitAny`.

You'll see [the version that errors the same way here](http://www.typescriptlang.org/Playground#sr

[2016-01-01 01:17] srijs commented on #6309
Thanks, I enabled `--noImplicitAny` for building my project now.

Out of interest, is there a way I can make this program typecheck without any? Why is TypeScript not able to widen `{foo: number}` contra-variantly to `{foo: number, bar: number}` to make it assignable?

[2016-01-01 01:37] DanielRosenwasser commented on #6307
It's because you're exporting `t` which uses `Test` which hasn't been exported. You can fix this by exporting the class `Test`.

[code]

[2016-01-01 01:37] #6307 closed

[2016-01-01 02:01] DanielRosenwasser commented on #6309
Part of it is the way we select inference points, and the flow of direction between types. Supporting many different inference sites can be complex.

One way to get what you want is to make `fooIsEq` and `barIsEq` generic. That way you can say ahead of time what type you're working with.

[code]

Another approach is to say that `chain` can build types up with an intersection type:

[code]

This wi

[2016-01-01 02:03] DanielRosenwasser commented on #6308
Pinging @rbuckton

[2016-01-01 02:04] DanielRosenwasser commented on #6297
You're very welcome, have a happy new year!

[2016-01-01 02:38] andy-hanson opened #6310 "Tuple type not inferred when calling generic function"
Tuple types aren't always inferred when calling generic functions. For example:

	function identity<A>(value: A): A {
		return value
	}

	// works
	const [a1, b1]: [number, string] = [1, 'a']

	// works
	const [a2, b2]: [number, string] = identity<[number, string]>([1, 'a'])

	// breaks
	const [a3, b3]: [number, string] = identity([1, 'a'])

Output:

	foo.ts(12,7): error TS2322: Type '(number | st

[2016-01-01 03:04] andy-hanson opened #6311 "Type predicate calling another predicate with different argument position"
This code will not compile:

	function isString1(a: number, b: Object): b is string {
		return typeof b === 'string'
	}

	function isString2(a: Object): a is string {
		return isString1(0, a)
	}

Output:

	foo.ts(6,9): error TS1226: Type predicate 'b is string' is not assignable to 'a is string'.
	  Parameter 'b' is not in the same position as parameter 'a'.

The code will work if I swap the param

[2016-01-01 06:46] weswigham commented on #6311
@DanielRosenwasser - This is a bug. And by "bug" I mean "unaccounted for case in our widening logic". We need to make predicate return types get widened so the predicates don't get compared. Should probably also add a test case for this.

[2016-01-01 07:28] DanielRosenwasser commented on #6311
So by "a bug", you mean "a bug". :smile:

[2016-01-01 08:24] Joshua-F commented on #4905
I would love to see this added.

[2016-01-01 11:27] falsandtru opened #6312 "Unable to rename the property of destructuring assignment"
Rename `a` to `b`.

[code]

expected:

[code]

actual:

[code]

[2016-01-01 14:26] NoelAbrahams commented on #8
@RyanCavanaugh,

If the TypeScript team is not going to implement this feature then I suggest this issue be closed. That may motivate someone to take this up. It would also help us in the decision to consider looking for alternatives.

This was one of the earliest issues raised [(7th of October 2012 - just a few days after TypeScript went public)](https://typescript.codeplex.com/workitem/157), rec

[2016-01-01 17:08] jeffschwartz commented on #6307
@DanielRosenwasser thanks for your quick reply. While I understand your response I feel this is still an error because:

1. the module is only exporting an instance of the class
1. the class doesn't define any static methods that would require its class to be called upon
1. In situations where singletons are required forcing the exposure of a constructor to the outside world could introduce opport

[2016-01-01 17:31] #6241 closed

[2016-01-01 17:31] RyanCavanaugh commented on #6241
Fix should show up in tomorrow's `typescript@next` build. Thanks!

[2016-01-01 17:41] vivainio opened #6313 "1.8: -m system --outFile foo.js should recognize files without exports as modules"
Background: I come from tsify, which treats files as modules even if you don't export anything from them, if the file is imported from elsewhere in the project.

I am trying to use the new bundling feature implemented in #5090.

I am doing this:

[code]

We have .ts files that don't have any exports; module system is used to impose execution order. E.g.

[code]

if a.ts or b.ts doesn't have any ex

[2016-01-01 17:58] RyanCavanaugh commented on #6307
This error occurs when you use the `--declaration` flag because the compiler is trying to produce a declaration file that *exactly* matches the module you defined.

Let's say you have this code:
[code]

To produce a declaration file, the compiler has to write out a type for `t`:
[code]

The member `t` has the type `Test`. The type `Test` is not visible because it's not exported, so we can't write

[2016-01-01 18:10] RyanCavanaugh commented on #8
We haven't ruled it out. If someone has waited three years without looking for an alternative, they apparently don't need minification all that badly and I'm inclined to not proceed with it.

This has been sitting in "Needs Proposal" because, as I've outlined here many times, we're looking for someone to present a compelling case that TypeScript itself can do a substantially better job than off-th

[2016-01-01 18:19] RyanCavanaugh commented on #5987
"Order of emit is order of declaration" is a must-have behavior for ES6 compat.

I don't see why we wouldn't error here, though. We can treat these as if they were `let` declarations in terms of TDZ rules.

[2016-01-01 18:36] NoelAbrahams commented on #8
In our own case, this was initially not a big concern, because the code-base was smaller. But as we deal with more feature requests, each accompanied by growth in code, this is becoming critical.

My point is that so long as this feature is open, the expectation is that TypeScirpt will do something about it.

I agree that something more than simply minification of private methods would be required

[2016-01-01 19:18] ivogabe commented on #8
With a transform based compiler (#5595) this would probably be a lot easier to implement in the compiler or using an external project.

[2016-01-01 20:01] falsandtru opened #6314 "Incorrect autocomplete suggestion with dots"
[code]

Add a dot.

[code]

Then Visual Studio 2015 suggests global variables.

[2016-01-01 23:00] eikooc commented on #6304
Thanks for the clarification

[2016-01-01 23:45] jonaskello commented on #5039
+1 want to use jspm with tsc

[2016-01-02 00:28] andy-hanson opened #6315 "Bug for this-type in literal object type"
This code causes an error:

	type X<A> = {x: A}

	interface Foo {
		// works
		a(): X<this>
		// does not work
		b(): {x: this}
	}

Output:

	foo.ts(7,11): error TS2526: A 'this' type is available only in a non-static member of a class or interface.

It errors if the object type is defined inline, but works for a typedef.

[2016-01-02 00:34] ahejlsberg commented on #6315
This is by design. See discussion [here](https://github.com/Microsoft/TypeScript/pull/4910#issuecomment-142610342).

[2016-01-02 00:46] #6315 closed

[2016-01-02 01:28] Arnavion commented on #4670
For example:

[code]

Of course we can keep declaring setEnabled in each derived class as an instance property `setEnabled: (value: boolean) => void;` and then add it to each prototype with a mixin, but it would've been nice for ABCs to do this automatically. It limits the usefulness of ABCs severely if they can only reference their own members.

[2016-01-02 01:51] RyanCavanaugh commented on #6314
At which caret position?

[2016-01-02 01:51] falsandtru opened #6316 "`Promise<number>` is `Promise<string>`"
Is there any way to resolve the following weak typings?

[code]

[2016-01-02 01:58] falsandtru commented on #6314
here:

[code]

[2016-01-02 03:18] Arnavion commented on #6268
Also, the only way for property decorators to propagate information to the class decorator would be if the class decorator ran after its property decorators. Similarly a function decorator has to run after its parameter decorators.

For constructor parameters vs constructors, it's probably because they behave the same as regular functions except constructors can't have decorators, so only construc

[2016-01-02 04:41] avonwyss commented on #3743
I'm just starting to use TypeScript to convert from a large CoffeeScript code base to gain the advantages of the type system.

That being said, just as demonstrated by GoToLoop earlier, this construct is easily available in CoffeeScript and thus also used frequently. In the codebase I'm converting it is used in *most* classes for defining default values, and for storing metadata that belongs to th

[2016-01-02 05:08] rubyboy commented on #5039
+1
Same here. JSPM rocks, but TypeScript integration can be a lot better with this feature.

[2016-01-02 05:29] DanielRosenwasser commented on #6310
This is because the array expression needs to be contextually typed by a tuple-like type so that we can infer your type argument as a tuple. You've enforced that when you explicitly gave a type argument, but not in the last example.

One way you could achieve what you want is to add a tuple-like constraint for your type parameter:

[code]

[2016-01-02 07:08] unional commented on #3788
Maybe make it more customizable such as in:
https://github.com/alexmingoia/jsx-transform

[2016-01-02 07:19] Daskul commented on #1927
+1

[2016-01-02 07:39] harangue commented on #247
Sorry can someone clarify why
`var foo = require('foo');`
Works for a standard node_module without typings but
`import foo from 'foo';`
doesn't?

[2016-01-02 09:22] johnnyreilly opened #6317 "Visual Studio ignores inlineSourceMaps / inlineSources option of tsconfig.json"
Hi,

There's mention of this problem in: https://github.com/Microsoft/TypeScript/issues/4360

However the discussion moves off to cover debugging issues and I'm not clear whether the first issue is resolved.  Is Visual Studio due to no longer ignore inlineSourceMaps / inlineSources option of `tsconfig.json` when TS 1.8 ships?

The issue is still there with TS 1.7.

[2016-01-02 10:47] basarat commented on #247
@harangue because `var require` was one of the competing module syntaxes (this one being `commonjs` and others in the list include `amd`) that was supported *outside of the type checking system*. If one wants to use the type system one would do `import require`. With ES6 taking the :hammer: and saying that one syntax (:ring:) to rule them all ... it makes sense to have that module syntax supported

[2016-01-02 12:39] SynerG opened #6319 "Support 'target':'es5' with 'module':'es6' to allow dead code elimination"
The import/export statements used in ES6 modules allow tools such as Webpack and Rollup.js to eliminate all the code from unused exports. (For example, see Dr. Axel Rauschmayer's [post](http://www.2ality.com/2015/12/webpack-tree-shaking.html) on this topic)

However, targeting ES5 remove the import/export statements, so these tools cannot remove unused exports.

TypeScript 1.7 included 'es6' and '

[2016-01-02 12:43] ToastHawaii commented on #3442
I love the suggestion from AlicanC. This feature is very useful for the peoples from the C# and Java world and it makes the TypeScript code more readable.

I have tried to think this through and I would like to share my results.

## Backward compatible

As AlicanC wrote the feature is full backward compatible, so the following example would still work.

[code]

## Simple example

But it is difficu

[2016-01-02 14:10] jeffschwartz commented on #6307
@RyanCavanaugh  you are correct, I am generating d.ts files for my project.

[2016-01-02 15:47] jpetitte opened #6320 "unexpected chained "then" method indentation"
In VS Code (as it uses the built in formatter, I assume this is the best place to put the issue), the TS formatting produces this:

[code]

I would expect this:

[code]

The former is pretty hard to read.

[2016-01-02 16:34] DanielRosenwasser commented on #6311
@weswigham There's a couple of places that we need to widen type predicates that we don't:

[code]

I'd like to hear opinions from others on how we can mitigate this. Is it feasible to widen at all locations where we need to relate types? @mhegazy @JsonFreeman

[2016-01-02 17:15] MeTe-30 opened #6321 "New Website Logo: Amirkabir Data Miners"
- Name: Amirkabir Data Miners
- Homepage url: https://adm-co.net
- Brand Guidelines/Licensing: none
- Logo: https://adm-co.net/content/images/ADM_logo.svg

![adm_logo-01](https://cloud.githubusercontent.com/assets/4802801/12075323/a6b30b16-b191-11e5-8ba9-34d949942068.png)

[2016-01-02 17:23] joelgwebber commented on #8
[apologies for the wall of text]

I think Ryan's suggestion that the state "NeedsProposal" means "it's not yet been made clear how to do this in a way that's a clear win over alternatives" is perfectly reasonable. There does need to be some way to express that concept.

I can speak a little to whether the current state of affairs is "good enough". Our current deployment process produces two output

[2016-01-02 17:28] falsandtru opened #6322 "Suggestion for autocompletion does not work in second type parameter"
VS2015 and Playground.

[code]

[2016-01-02 17:49] joelgwebber commented on #8
It's probably worth roughly sketching out what I think could work in the context of Typescript:

Because the language allows untyped expressions, and that they're fairly common, it's likely unrealistic to take quite the same approach as when compiling a much stricter source language like Java. Because the GWT compiler can rely on knowing the precise (and generally singular or very small) set of ty

[2016-01-02 18:33] lethalman commented on #1686
Promises already have a way to run parallel tasks and wait for all of them:

[code]

[2016-01-02 19:28] harangue commented on #247
@basarat Thanks for the clarification. The icons were helpful as well. ;) I'm still not sure though why the ES6 syntax mandates type checking. What's to stop the compiler from saying - "oh, I couldn't find any type data for that module but I'll import it anyway". What side effects would this (rather intuitive, IMO) behavior incur?

[2016-01-02 19:43] falsandtru opened #6323 "ES6 modules unable to export global variables by their identifier"
[code]

[code]

expected:

[code]

actual:

[code]

[2016-01-02 20:15] a8775 opened #6324 "import syntax to support import of all exported types"
I have TS code that imports some types from a single file:
```import {TypeA,TypeB,TypeC} from './file';```

It would be nice to import of all exported types from a file with a star syntax, eg:
```import {*} from './file';```

[2016-01-02 21:24] falsandtru opened #6325 "Remove destructive methods in tuple type"
I think, tuple type should not have destructive methods because these methods break consistency between the interface and actual properties.

- Array#push
- Array#pop
- Array#shift
- Array#unshift
- Array#splice

[code]

[2016-01-02 22:49] joelday commented on #295
@danquirk This needs to be deduped from #12. This is about a compile time error for a guaranteed run time failure.

[2016-01-02 22:53] Pajn opened #6326 "Union returntype with void must return a value"
I have a method declared as `stop(): void|Promise<void> {}` which get the error

As void is a valid return type I would expect that to be fully valid code. Specifying only void is working.

[2016-01-02 22:53] felixfbecker commented on #1823
The only reason I want this is so I can do `gulp --require "typescript/register"` and name my gulpfile `gulpfile.ts`

[2016-01-02 23:28] blakeembrey commented on #1823
@felixfbecker FWIW, you can already write `gulpfile.ts` without a require - just install `ts-node` as a dependency and it'll work.

[2016-01-02 23:31] falsandtru opened #6327 "No completion builder present before any word"
[code]

[2016-01-03 03:49] vladima commented on #6324
looks like a duplicate of #2956 per [this comment](https://github.com/Microsoft/TypeScript/issues/2819#issuecomment-163134136).

[2016-01-03 03:49] #6324 closed

[2016-01-03 06:26] srijs commented on #6309
Thanks a lot. The `&` intersection type is pretty cool. Tbh, I had looked for a dual to `|` previously, but wasn't able to find anything. Is there documentation for in the current TypeScript spec for it? I'd be especially interest in how co & contravariance are solved for it how it plays together with the bivariance of function arguments. Is that why you were saying "[I was] more prone to accident

[2016-01-03 07:49] weswigham commented on #6311
@DanielRosenwasser `all locations where we need to relate types` - wouldn't that just mean the relationship itself?

[2016-01-03 08:09] JsonFreeman commented on #6311
Oh no... This is an example of why I was so against having type predicate types.

It is not good to widen all places where we compare types. If that happens, then any place where we do a subtype comparison (type argument inference, subtype reduction, etc), you will have null and undefined widening to any, and then dominating other types in the comparison.

I can think of 3 options, so as usual, he

[2016-01-03 10:44] weswigham commented on #6311
TBH, I think the part of the type relationship which checks predicate index just needs to be moved form the predicate code into the signature code, since its only relevant during signature comparison.

[2016-01-03 12:19] zpdDG4gta8XKpMCd opened #6329 "inference strangeness - 4"
[code]

[2016-01-03 12:59] weswigham commented on #6199
So my point is that if in the statement `if ("foo" === a ? "foo" : "bar")` the RHS has type `"foo" | "bar"`,  the RHS of the statement `if ("foo" === a && "foo" || "bar")` should be the same. Mostly since if we plan to disallow `if ("foo" === a ? "baz" : "bar")` (as neither `"baz"` nor `"bar"` are assignable to type `"foo"`), it follows that `if ("foo" === a && "baz" || "bar")` should be the same

[2016-01-03 13:19] meirgottlieb commented on #4521
@rbuckton, I understand this issue is closed, but I just wanted to point out that this same problem exists with the type information provided by the emitDecoratorMetadata compiler flag.

[2016-01-03 17:30] DanielRosenwasser commented on #6199
@weswigham Just to clarify, did you mean to parenthesize the conditional? In other words, by `"foo" === a ? "foo" : "bar"` you meant `"foo" === (a ? "foo" : "bar")`.

[2016-01-03 17:52] ahejlsberg commented on #6329
Our inference algorithm makes no inferences when the target is a union or intersection involving more than one type parameter because it is not clear how the source type should be "carved up" into more than one target type. There may be cases such as your example where you could *perhaps* argue for a certain pattern of "carving", but I just don't see how you meaningfully solve it for the general c

[2016-01-03 19:01] DanielRosenwasser commented on #6309
We're in the process of documenting things a little more, and the spec will have it soon as well.

What I meant is that you can `chain` with basically any single-argument function. I guess in practice it won't be a problem, since you'll get an error when you actually try to `run` with some value that isn't compatible.

[2016-01-03 20:00] weswigham commented on #6199
Aye. Parenthesis.

On Sun, Jan 3, 2016, 12:30 PM Daniel Rosenwasser <notifications@github.com>
wrote:

[2016-01-03 20:05] JsonFreeman commented on #6311
This approach is similar to option 2 I've mentioned above.

[2016-01-03 20:14] CorayThan commented on #4753
Seems like it would be a common use-case to me. I certainly would like that included automatically.

[2016-01-03 20:30] devdanke commented on #299
I ran into this `TS2339: Property 'result' does not exist on type 'EventTarget'` in JS FileReader `onload`, and another warning for `getSummary()` on the event passed to FileReader's `onerror`.

My work-around, to suppress the horrid red squiggily lines;-) is the following:

[code]

Then in my app:
[code]

The generated JS codes looks good and works for me.  Could this kind of solution, for unusua

[2016-01-03 20:41] aguzubiaga opened #6331 "'this' reference from static method should be possible"
In JavaScript I am able to reference `this` from object methods, in order to access properties from the same object that stores my method, for example the prototype of the object.

Suppose I'm writing an ORM and I have a class `Model` and I want to implement an static method `where` that does a query in the DB for the corresponding table to that `Model`. I would write it like this:

[code]

But wh

[2016-01-03 21:04] ToddThomson commented on #8
I'll be posting the minification feature to TsProject this coming week. I am working out the last bits of the implementation for ES5 vs ES6 ( block scoped identifiers using let ).

[2016-01-03 21:27] aleksey-bykov commented on #6329
Here are some of my naive thoughts. Let's consider a straightforward situation:

[code]

Need to deduce `c`.
1. Get all unresolved bare types from the original signature that mention the type in question `c`: `a & c`, `b & c`
2. Get all constituent types from 1: `a`, `b`, `c`
3. Try to resolve (instantiate?) types from step 1 using all available information from the current context, so signatures

[2016-01-03 23:23] mihailik opened #6332 "Too many forks to display"
Since migrating from Codeplex, we've been able to follow every minute development via the Network tab:

https://github.com/Microsoft/TypeScript/network

Sadly, since around this Christmas the 1000 threshold had been crossed, and the page now opens with:

![screenshot from 2016-01-03 23-17-06](https://cloud.githubusercontent.com/assets/4041967/12081424/3d530164-b270-11e5-9378-1b82b2347497.png)

Any

[2016-01-03 23:43] 2426021684 opened #6333 "Functions passed as an argument to other functions are not type checked as expected"
I expected the following code to produce an error as function a could pass an argument that is not a string to function b.

Code:
[code]

Expected Result:
[code]

Actual Result:
No error

[2016-01-04 00:51] RyanCavanaugh commented on #6333
See e.e.g #6102

[2016-01-04 00:51] #6333 closed

[2016-01-04 00:58] RyanCavanaugh commented on #6332
We can't remove other people's forks and I doubt GitHub cares (it's not like we're the first repo to have over 1,000 forks). I don't think pruning our local branches will do anything either. Unfortunately I don't think there's any solution here other than GitHub fixing their display.

[2016-01-04 01:51] RyanCavanaugh commented on #6331
It is legal to reference `this` from a static method. The sample you posted does not produce the error given. Can you clarify?

[2016-01-04 02:59] DanielRosenwasser commented on #6332
The branch view is still available at https://github.com/Microsoft/TypeScript/branches, which tends to be more useful for our repo.

[2016-01-04 03:08] nycdotnet commented on #6317
I know you're trying to use tsconfig.json, but just FYI - all of the options should be available in VS via MSBuild.  https://github.com/Microsoft/TypeScript/wiki/Setting-Compiler-Options-in-MSBuild-projects

[2016-01-04 05:12] DanielRosenwasser opened #6334 "Error messages are vague when types have same name"
Found through @LPGhatguy on Gitter at [January 3, 2016 10:09 PM](https://gitter.im/Microsoft/TypeScript?at=5689e26835e1a316162f379f).

Seems like #1419 didn't have enough coverage. Try out the following:
- `m1.ts`

[code]
- `m2.ts`

[code]
- `m3.ts`

[code]

Error messages:

[code]

This is the worst error message you can give to a user.

[2016-01-04 05:19] RyanCavanaugh commented on #6326
Proposing changing spec section 6.3

to

[2016-01-04 05:21] #6268 closed

[2016-01-04 05:35] DanielRosenwasser commented on #6326
That still doesn't actually cover `Promise<void>` on its own though.

[2016-01-04 05:38] DanielRosenwasser commented on #6327
I think this might be a duplicate of #3700.

[2016-01-04 05:38] RyanCavanaugh commented on #6326
Not sure I understand the comment

[2016-01-04 05:39] RyanCavanaugh commented on #3700
@DanielRosenwasser can you hold off on new labels? Let's talk on Monday.

[2016-01-04 05:40] DanielRosenwasser commented on #6327
Actually, I realized that only part of this issue is a duplicate of #3700. The fact that there's no builder there is by design, since in all practically, what could be declaring in those positions? The only thing you could be writing as a declaration would be a lambda.

[2016-01-04 05:40] #6327 closed

[2016-01-04 05:48] DanielRosenwasser commented on #6326
The change you're proposing doesn't permit an async function whose return type annotation is `Promise<void>` to have no return statements.

[2016-01-04 05:50] johnnyreilly commented on #6317
Thanks Steve. Happy New Year! It's good that there is another way but in this particular case I have 2 TypeScript projects inside my ASP.Net project. One for tests and one for source and I use different compiler settings for each..

[2016-01-04 05:52] DanielRosenwasser commented on #6325
I'm not sure we'd be willing to take that breaking change, but there is discussion at https://github.com/Microsoft/TypeScript/issues/4988#issuecomment-145705203 regarding an alternative interface from tuple types.

[2016-01-04 06:09] RyanCavanaugh commented on #6326
I don't think anyone would want that behavior (@Pajn, care to weigh in?)

[2016-01-04 06:58] vamsivarikuti opened #6335 "Wiki broken for tsconfig.json"
Refer: https://github.com/Microsoft/TypeScript/wiki/tsconfig.json

[2016-01-04 07:20] RyanCavanaugh commented on #6335
It looks OK to me after a quick glance. What specifically is wrong?

[2016-01-04 07:22] RyanCavanaugh commented on #6047
# Wrap-up

## Common Themes

Most people finished their project within a day and a half, and reported finding at least one bug in the target project and one bug in a definition file.

Many parts of porting are rather mechanical (e.g. converting ES5 classes to ES6) and could be helped by built-in refactorings.

Portings that enabled No Implicit Any (**NIA** for the remainder of this content) found

[2016-01-04 07:25] Pajn commented on #6326
It would be nice if Promise<void> didn't require a return statement in an async function. However for the issue I had the already proposed change would be enough.

[2016-01-04 07:28] vamsivarikuti commented on #6335
I tried to open multiple times, it is returning incomplete HTML, so everything looked like non-rendered HTML text file in the browser.
<img width="1436" alt="screen shot 2016-01-04 at 12 57 30 pm" src="https://cloud.githubusercontent.com/assets/7098541/12085156/c7e1a926-b2e2-11e5-9437-36cb4a6a035d.png">

[2016-01-04 08:09] RyanCavanaugh commented on #6335
This seems like more of a GitHub issue? Unless you think this is related to some specific content we put in the wiki

[2016-01-04 08:23] kitsonk opened #6336 "Union Type Order Strangeness"
I tried to see if there was an issue for this, but I couldn't and may have missed why there is a reason for this, but it is suprising.  It seems that when you have a function interface as the second member of the union, you get a very [cryptic error](http://www.typescriptlang.org/Playground#src=type%20Foo%20%3D%20string%20%7C%20(item%3A%20string)%20%3D%3E%20boolean%3B%20%2F%2F%20Cannot%20find%20na

[2016-01-04 09:08] ivogabe commented on #6336
Function types should be wrapped in parenthesis in such case. Bar is actually a function (that returns a boolean or string). The error message isn't really helping here though.

[2016-01-04 09:32] khomyakov42 commented on #5039
+1

[2016-01-04 09:33] pkozlowski-opensource commented on #6319
Also see #5806 and #5790

[2016-01-04 09:40] vamsivarikuti commented on #6335
Yes, I think its GitHub issue, Is there a place to log this bug report to GitHub?

I am able to read all other Wiki Pages. Only `tsconfig.json` is broken
Is this because of `.json` extension at the end of URL?

[2016-01-04 09:45] kitsonk commented on #6336
@ivogabe you are right... I mis-read my own code.  That is not only surprising, but dangerous. :-S

[2016-01-04 10:27] dbaeumer opened #6337 "tsserver keeps a lock on tsconfig.json file"
All the details are in https://github.com/Microsoft/vscode/issues/1032. Interesting comment is https://github.com/Microsoft/vscode/issues/1032#issuecomment-165544626

[2016-01-04 10:31] laholmes commented on #1927
+1

[2016-01-04 10:41] surenyonjan opened #6338 "Declare module as a global variable"
Hi, is there any workaround to generate module as a global variable?

When I declare a module like this:

    // module.ts
    module p {
     export class Person {
        name: string
     }
    }
will obviously generated to:

    var p;
    (function (p) {
      var Person = (function () {
        function Person() {
        }
        return Person;
    })();
    })(p || (p = {}));

But I want

[2016-01-04 10:45] dbaeumer opened #6339 "Issue in indentation when formatting consecutive objects"
_From @louy on December 26, 2015 11:41_

There's a very annoying issue when hitting "format code" in a TS file. Here's an example:
[code]
becomes:
[code]

This gets really annoying when you have large nested objects containing things like functions etc...

_Copied from original issue: Microsoft/vscode#1661_

[2016-01-04 10:45] dbaeumer commented on #6339
_From @bpasero on December 28, 2015 8:5_

I guess this needs to be reported against TS.

[2016-01-04 10:45] dbaeumer commented on #6339
_From @louy on December 28, 2015 8:10_

So all code formatting is done in the tsserver? There are a couple of other issues as well.

[2016-01-04 11:08] dbaeumer opened #6340 "Intellisense causing performance issues"
_From @alexandretperez on December 19, 2015 19:56_

I just update to the latest version, and now when I'm writing something like element.addEventListener("input", handler, false), the intellisense causes an increase of at least 12% on the CPU, causing lags when typing.

I do not experienced this issue on the previous version.

_Copied from original issue: Microsoft/vscode#1488_

[2016-01-04 11:08] dbaeumer commented on #6340
_From @irakliy81 on December 20, 2015 2:25_

+1

Intellisense is noticeably slower for me as well - it was fine before the upgrade to the latest version. I'm working with TypeScript projects.

[2016-01-04 11:08] dbaeumer commented on #6340
0.10.6 ships with a new version of the tsserver (e.g. 1.7.5). The last VSCode version ship 1.6.x. Moving to the TypeScript team to investigate.

[2016-01-04 11:17] dbaeumer opened #6341 "Find All References / Shift F12 Not Working across project"
_From @jeffschwartz on December 17, 2015 14:53_

Invoking "Find All References" in a project .ts file only yields results for that file and not for all the other files in the project that also contain the reference, which is what I would expect it to have done.

I can also confirm that it the same behavior is also present in Atom's Typescript plugin.

My environment is:
Mac OS X 10.9.5
Code Versio

[2016-01-04 11:17] dbaeumer commented on #6341
_From @egamma on December 17, 2015 15:0_

You need to define a `tsconfig.json` file to define the scope of your project, pls see the [vscode ts doc](https://code.visualstudio.com/docs/languages/typescript).

[2016-01-04 11:17] dbaeumer commented on #6341
_From @jeffschwartz on December 17, 2015 15:7_

Hi @egamma. Thanks for the quick response. My project does have a tsconfig.json file and its contents are as follows:
{
    "compilerOptions": {
        "target": "es5",
        "module": "commonjs",
        "moduleResolution": "node",
        "isolatedModules": false,
        "jsx": "react",
        "experimentalDecorators": true,
        "emitDecor

[2016-01-04 11:17] dbaeumer commented on #6341
_From @egamma on December 17, 2015 15:12_

`filesGlob` is an extension to tsconfig.json that is specific to 'atom-typescript' it is not supported by the TypeScript Server and therefore by vscode. Could that be the cause that the scope is only a single file?

A reference search from src/main.ts should find the references in the files listed under the `files` section.

[2016-01-04 11:17] dbaeumer commented on #6341
_From @jeffschwartz on December 17, 2015 15:51_

Hi @egamma and thanks again for your quick response. I did some sherlocking. I removed all atom specific json entries from the tsconfig.json file and restarted Code. The results were identical. Then I invoked Find All References for a number of variables and types and noticed that it didn't work for interfaces, such as

interface IQueueItem {
    pa

[2016-01-04 11:17] dbaeumer commented on #6341
_From @jrieken on December 17, 2015 16:2_

By using `export =` you lose tracking of the `IQueueItem` cos it won't be referenced by that name anymore

[2016-01-04 11:17] dbaeumer commented on #6341
_From @jeffschwartz on December 17, 2015 16:19_

Hi @jrieken and thank you for your quick response. OK I understand but it still smells like a bug to me :). Find All References and even Change All Occurrences should be able to resolve export = value, object and type across files otherwise project-wide refactoring is severely hobbled IMHO.

[2016-01-04 11:17] dbaeumer commented on #6341
_From @jrieken on December 18, 2015 9:39_

I agree, but this very likely an issue on the TypeScript server side. I will wait for@dbaeumer to confirm.

[2016-01-04 11:17] dbaeumer commented on #6341
_From @jeffschwartz on December 18, 2015 12:26_

@jrieken thank you.

[2016-01-04 11:17] dbaeumer commented on #6341
As @jrieken already pointed out this is an issue in the tsserver not reporting the reference. Moving to the TypeScript team.

[2016-01-04 11:24] louy commented on #6339
Duplicate: #6271

[2016-01-04 12:03] SynerG commented on #6319
@pkozlowski-opensource thanks for the two relevant related issues.

#5806 presented the same issue, but it was closed in favor of #5790 to prevent redundancy.
But #5790 was closed prematurely because the initial post was not clear enough and was misinterpreted as trying to transpile ilegal ES6 code.

(#5790 contains relevant discussion on the topic. The real issue was clarified after being closed.

[2016-01-04 12:13] SetTrend opened #6342 "Can't compile TypeScript project"
I have just forked and cloned the `Microsoft/TypeScript` project, ran `npm install` in the root and started VS Code there.

All code files are cluttered with red squiggles and when I hit `SHIFT+CTRL+B` I get this error message:

[code]

What am I doing wrong? Your help is very much appreciated.

[2016-01-04 13:37] fletchsod-developer commented on #1686
That's true.  I have learned alot 1 year later from my last posting.

One other nice addition here down below, something I saw over the summer.

Here's beautiful example of what to do with ES5, ES6 and ES7 when it comes to async, promise, etc. and the usual old versions.

http://www.sitepoint.com/javascript-goes-asynchronous-awesome/

[2016-01-04 15:25] aleksey-bykov opened #6343 "inference strangeness - 5: tuples"
[code]

[2016-01-04 15:31] RyanCavanaugh commented on #6335
Unfortunately GitHub itself doesn't have an issue tracker. There's this form https://github.com/contact, though -- maybe you can just drop a link to this issue.

[2016-01-04 15:31] #6335 closed

[2016-01-04 15:44] aleksey-bykov opened #6344 "allow partially specified type arguments"
Currently when it comes to using generics a developer has 2 options:
- to specify all type arguments
- to omit all of them altogether

I am a big fan of the latter but it doesn't always work because of inference failure. Quite often it only takes  one explicitly specified type argument to help the inference algorithm to deduce the rest of the types, but there is no such option to specify just one.

[2016-01-04 15:44] ahejlsberg commented on #6343
Duplicate of #6310.

[2016-01-04 15:45] #6343 closed

[2016-01-04 15:47] #5865 closed

[2016-01-04 15:56] aleksey-bykov commented on #6310
that's the most interesting `identify` function I've seen so far

[2016-01-04 15:57] RyanCavanaugh commented on #6336
We argued a lot about this when union types came around because there's no obviously-correct interpretation of `() => boolean | string`. Either precedence is bound to surprise someone, unfortunately.

The first line you posted has multiple syntax errors issued as well; in general we don't bother improving semantic errors in the presence of syntax errors unless it's a very common error *and* we can

[2016-01-04 15:57] #6336 closed

[2016-01-04 15:58] Elephant-Vessel commented on #420
Are you sure you want to go down an implementational path where "namespaces" can implement interfaces?

[2016-01-04 16:11] sandersn commented on #6342
Did you do npm install -g jake?

[2016-01-04 16:15] aleksey-bykov commented on #6325
@falsandtru, you might also find the following helpful, provided whole awkwardness of tuples in TypeScript:
[code]

[2016-01-04 16:17] devpunk commented on #3743
@avonwyss
By initializing value and function properties differently, TS follows established (JS) best practices. In fact the simplest and common pattern to class-like structures in plain JavaScript is something like (see also [1] and [2])
[code]
Transpilation of TS members vs. methods might seem inconsistent when thinking of methods as just being properties, too. But it is quite consistent with OO

[2016-01-04 16:44] avonwyss commented on #3743
Thanks devpunk for your thoughts. Regarding the inconsistency, one of the patterns which is also used in our code base is to have "abstract" methods on non-abstract classes, e.g. the code performs a falsyness check before invoking them. Translated to TS, this would be something like this:

	class a {
		x: () => boolean;
		y(): boolean { return this.x ? this.x() : true; }
	}

	class b extends a {

[2016-01-04 17:27] vladima commented on #6338
if you want `Person` to be visible outside of containing module you should export it:
[code]
[code]

[2016-01-04 17:30] vladima commented on #6340
@alexandretperez, @irakliy81 can you share projects that repro the issue so we can make sure that problem is addressed?

[2016-01-04 17:38] #6097 closed

[2016-01-04 17:38] mhegazy commented on #6097
thanks @guybedford!

[2016-01-04 17:49] RyanCavanaugh commented on #5478
This work has been done

[2016-01-04 17:49] #5478 closed

[2016-01-04 17:57] ngbrown commented on #5865
@RyanCavanaugh Thanks!

[2016-01-04 18:02] surenyonjan commented on #6338
sorry, I forgot to put `export` but it did not solve my problem. The tweak was adding `this.p = p` after module declaration

Actually, Meteor intelligently parses the package code files and only allows global variable to be exported. So, `var p` remains hidden (not accessible from other packages also if it is exported) and I hoped if there is any workaround to get module `p` transpiled directly to

[2016-01-04 18:02] #6338 closed

[2016-01-04 18:06] SebastianSchenk commented on #1927
+1

[2016-01-04 18:13] SetTrend commented on #6342
Terrific! Works like a charm now. Thanks a lot!

All I struggling with now are quite a number of warnings in the jakefile.js, complaining Code doesn't know what `jake`, `task`, `fail` etc. is.

Am I perhaps missing some configuration for this?

[2016-01-04 18:48] Igorbek commented on #6229
Any thoughts on this? Do you think it could be proposed?

[2016-01-04 18:54] #6317 closed

[2016-01-04 18:56] laurelnaiad commented on #5039
Somehow I got it in my head that this was slated for 1.8, which clearly didn't happen.

I realize that the in the grand scheme, there's a "real" path mapping strategy that needs to be developed, and that it somehow has to work with JSPM, etc.

But (a) is there any scenario in which `/someModule` would not be interpreted as referring to someModule.ts at the project root? and (b) if `/someModule` is

[2016-01-04 19:00] johnnyreilly commented on #6317
Is this resolved with 1.8 then?

[2016-01-04 19:17] soerennielsen commented on #5886
How can this issue be closed? I don't see any solution in the thread. @mhegazy ?

The problem is that the standalone typescript installer for the 2015 toolchain cannot install if there is no Visual Studio 2015 with update 1 installed.

Since it is a build server it makes very good sense that no version of visual studio is actually installed (it used to be best practice). So the issue is not really

[2016-01-04 19:29] RyanCavanaugh opened #6346 "Solve the for-in / indexer mess"
/cc @vladima @ahejlsberg @billti

### Motivating Examples

[code]

This should be an error (`k` is always a `string`):
[code]

This should *not* be an error, even under no implicit any:
[code]

This should *somehow?* not be an error, even though it involves a coercion we would normally disallow
[code]

[2016-01-04 19:32] mhegazy commented on #5886
reopening. the 2015 targets will not be installed. we will need to publish a standalone version or augment the check to check from both VS 2015, and VS2015 update1.

[2016-01-04 19:33] mhegazy commented on #5886
Another possible workaround, is to use the the nuget package: https://github.com/Microsoft/TypeScript/issues/3940#issuecomment-164605498 this one does not require any installation

[2016-01-04 19:35] mhegazy commented on #6317
@johnnyreilly what do you mean resolved?

as @nycdotnet mentioned all these properties are accessible using through MSBuild using the properties defined in https://github.com/Microsoft/TypeScript/wiki/Setting-Compiler-Options-in-MSBuild-projects, there is just no UI for it.

[2016-01-04 19:43] mhegazy commented on #4800
@xogeny this should be fixed in https://github.com/Microsoft/TypeScript/issues/6036

[2016-01-04 19:46] mhegazy commented on #6306
duplicate of #1484

[2016-01-04 19:46] #6306 closed

[2016-01-04 19:50] #6231 closed

[2016-01-04 19:51] DanielRosenwasser commented on #6231
Thanks @basarat, this should be fixed in `master`. Check out the nightly.

[2016-01-04 20:00] soerennielsen commented on #5886
I've been battling that for a while, but as soon as had written the bits above I found a possible workaround:
1. Install the 2013 version (which installs the actual compiler and the msbuild target files for 2013)
2. Copy the content from "C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0" from a a dev machine (with everything installed) to the same location on the build server.

Seems to

[2016-01-04 20:04] xogeny commented on #4800
Great.  Thanks.  :clap:

I think I've already picked this up in `typescript@next` since I haven't seen this issue there.

[2016-01-04 20:05] mhegazy commented on #6342
you probaly need https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/jake/jake.d.ts.

[2016-01-04 20:11] mhegazy commented on #6325
Tuples are just arrays. and thus can have these methods. at least this is the current design. @aleksey-bykov's answer should allow you to limit your tuples to a more strict subset.

[2016-01-04 20:11] #6325 closed

[2016-01-04 20:12] RyanCavanaugh commented on #1947
This needs a more thorough explanation of the proposed fix before we can look at it.

[2016-01-04 20:13] #5382 closed

[2016-01-04 20:14] RyanCavanaugh commented on #2049
This needs more fleshing out. Currently number and string indexers have *very* different behavior; it's not at all obvious what the behavior of the "combined" key type would be. At a minimum we need to see what the desired behavior of this would be other than simply allowing its declaration to exist.

[2016-01-04 20:27] RyanCavanaugh opened #6347 "Suggestion Backlog Slog, 1/4/2016"
First slog of 2016 :tada:

Some old ones :older_man:
* #1166 Allow `import` of identifiers
* #1778 Allow type aliases of strings to be index signature parameters
* #1796 Reduce error noise when class incorrectly implements interface
* #2175 Generic type argument defaults
* #2310 Use the 'void functions are constructors' in assignability (as they are in `new` expression checking)
* #2607 Provide a

[2016-01-04 20:39] basarat commented on #6231
🌹

[2016-01-04 20:45] mhegazy commented on #3691
option 1 is covered by #2709. option 3 is similar, IMO, to `declare module "..." { export = any }`, except that it is in code instead of configuration. for option 2, suppressing the error generally would not be a good idea, as you are throwing the baby with the bath water, and ignoring all errors because of handful of missing modules.

[2016-01-04 20:46] SetTrend commented on #6342
Absolutely, yes. That did the trick. Thanks a bunch!

[2016-01-04 20:46] #6342 closed

[2016-01-04 20:53] devpunk commented on #3743
I think the pattern you describe should be discussed separately because this issue is about "**non-method** prototype members". The compile error you get is about redefining a member property as a method:

"Class 'a' defines instance member **property** 'x', but extended class 'b' defines it as instance member **function**"

Even though: you might be able to apply a similar workaround to get aroun

[2016-01-04 21:00] mhegazy commented on #6183
Is this still an issue. if so we will need more information to be able to help. a sample project showing the problem will be ideal.

[2016-01-04 21:02] #6332 closed

[2016-01-04 21:07] #537 closed

[2016-01-04 21:07] #541 closed

[2016-01-04 21:08] #543 closed

[2016-01-04 21:08] #729 closed

[2016-01-04 21:08] #1436 closed

[2016-01-04 21:08] #1603 closed

[2016-01-04 21:08] #1811 closed

[2016-01-04 21:09] #4651 closed

[2016-01-04 21:09] #4654 closed

[2016-01-04 21:14] vladima commented on #6005
closing this since it is not actionable without a repro bits.

[2016-01-04 21:14] #6005 closed

[2016-01-04 21:16] strabu commented on #6012
+1, Agree, modules from jspm_packages should be resolved by TSC and the editors.
Otherwise JSPM and it's bundling-workflow would be dead for Typescript-users.

[2016-01-04 21:18] mhegazy commented on #3089
before module resolution logic picked node packages, there was no way to define a node package except in an ambient declaration, this should not be needed now.

bundling module declarations in one file is supported for System and AMD, but not node, as node packages do not need to be bundled. if this is something you need please elaborate on the details of the scenario.

[2016-01-04 21:20] johnnyreilly commented on #6317
@mhegazy is this resolved?:

[2016-01-04 21:29] mhegazy commented on #6032
This is true to a lot of JS APIs, e.g. parseInt. the lib.d.ts definitions favors expressiveness over accuracy here. All declarations in this file are augmentable, so adding a declaration like below to one of your files should do the trick.

[code]

[2016-01-04 21:29] #6032 closed

[2016-01-04 21:32] mhegazy commented on #5946
@wengrs and @WanderWang translations would be greatly appreciated. if something is available we would gladly link to it from the TypeScript website.

[2016-01-04 21:34] mhegazy commented on #5773
The overriding of the getContext methods works fine, I simply modified the already existing override in overridingTypes.json.

Sorry for the delay. @zhengbli can you help @rohitverma007 out.

[2016-01-04 21:37] mhegazy commented on #3113
@vilic, we will need an implementation proposal, outlining the approach of detecting if a file changed or not, and what implications if any on the performance. I would not expect this change to be large, if that is not the case let us know.

[2016-01-04 21:42] mhegazy commented on #6317
- VS 2013 do not support tsconfig.json. you need to specify all properties as MSBuild properties
- No UI is available in project properties to set these two properties, nether in VS 2013 no VS 2015. [the wiki page](https://github.com/Microsoft/TypeScript/wiki/Setting-Compiler-Options-in-MSBuild-projects) has details on how to do it manually.
- TS 1.8 should add support for debugging JS files gener

[2016-01-04 21:59] mhegazy commented on #6289
The emitter tries to keep formatting as much as possible. but in general output formatting requests has mostly been out of scope. if there is a specific case you are running into with a simple fix we would consider.

[2016-01-04 21:59] #6289 closed

[2016-01-04 22:06] vladima commented on #4571
fixed in #4398, regression tests is added in #6348

[2016-01-04 22:06] #4571 closed

[2016-01-04 22:36] #6188 closed

[2016-01-04 22:52] mhegazy commented on #6313
We can not do that safely as this would break single file compilation scenarios. consider cases where you are transpiling in the browser, the compiler only looks at one file at a time. deciding if a file is external module or not should only depend on the file and not on the global state. otherwise we get inconsistent output.
what tsify does is to pass --isolatedModules; doing so on the command li

[2016-01-04 23:11] aleksey-bykov commented on #6289
we favor functional style with lots of nested callas which gets output into a single line:

![image](https://cloud.githubusercontent.com/assets/937933/12103205/7ea72d0e-b30e-11e5-89fb-902086800dc8.png)

[2016-01-04 23:11] mhegazy commented on #6296
We have had a long discussion around the use of __esmodule a while back when the ES6 module support was being implemented. you can see this discussion in https://github.com/Microsoft/TypeScript/issues/2242.

The flag `allowSyntheticDefaultImports`, is there to allow you to use old-style modules if the loader messes *generates* a default export for you. otherwise there is no way to use these module

[2016-01-04 23:11] #6296 closed

[2016-01-04 23:22] aleksey-bykov commented on #1778
what is the point in aliasing `string`?

[2016-01-04 23:46] basarat opened #6349 "TSX props of type `any` do not work for stateless components"
Not that I want to do that. But just for creating a quick demo I did that and it fails to compile:

[code]

Of master from yesterday :rose:

[2016-01-04 23:50] RyanCavanaugh commented on #6347
* #1166 Allow `import` of identifiers
  * Allow, but enforce that all meanings of the identifier come from the same place
  * :+1: - the first symbol meaning we resolve is the one used
* #1778 Allow type aliases of strings to be index signature parameters
  * :-1: this implies semantics we don't have yet. Rethink when if/we have 'fresh' types
* #1796 Reduce error noise when class incorrectly imple

[2016-01-04 23:50] #6347 closed

[2016-01-04 23:51] basarat opened #6350 "TSX: Stateless components error if one uses ref"
The following demonstrates this:

[code]

I have latest react.d.ts and typescript as of yesterday :rose: /cc @RyanCavanaugh https://github.com/Microsoft/TypeScript/issues/5478

[2016-01-04 23:54] RyanCavanaugh commented on #1166
Approved.

There is some slight subtlety here -- consider the following code:
[code]
You can think of two different resolution algorithms that we could use on line 3:
* For each meaning of `window` (type, value, namespace), resolve that identifier under that meaning.
  * This would mean that `Y` had the *type* of the local interface and the *value* of the global name `window`
* Resolve `window` lo

[2016-01-05 00:00] RyanCavanaugh commented on #1778
aleksey's question is probably the most relevant.

This falls under the category of not appearing to do something you don't. Specifically, all type aliases of a type are equivalent, so you could still index `foo` by a `CustomerName`.

There's already a place to write the intended index semantics (`deviceId` should probably be `deviceGuid` ?). Adding a second place doesn't help because it makes it

[2016-01-05 00:00] #1778 closed

[2016-01-05 00:02] RyanCavanaugh commented on #1796
There's just not a clean way to implement this in the compiler today (relative the gain in error quality)

[2016-01-05 00:02] #1796 closed

[2016-01-05 00:04] RyanCavanaugh commented on #2310
If anything we'd rather remove the ability to `new` `void` functions. The inconsistency is unfortunate but we didn't want to add a large type safety hole for the sake of consistency with a facet we don't even like in the first place.

[2016-01-05 00:04] #2310 closed

[2016-01-05 00:04] RyanCavanaugh commented on #2607
@rbuckton can you boil this down to something non-decorator-experts can understand? :confused:

[2016-01-05 00:06] RyanCavanaugh commented on #6326
Approved, accepting PRs. Should be easy.

[2016-01-05 00:06] RyanCavanaugh commented on #6154
Pinging @bterlson to make sure we're not forgetting some weird edge case before simply removing this error

[2016-01-05 00:08] RyanCavanaugh commented on #6153
Approved even for non-`const` enums.

The suggested implementation was to skip any leading `-`, then see if the next (or first) character is a digit. Only names matching this rule should be subject to restriction. This should allow `Infinity` and `NaN` but still disallow names like `5`.

[2016-01-05 00:08] mdelgadov opened #6351 "Typescript doesn't compile or map at saving time on TS 1.7.6 on Asp Net 5 rc 1 upd 1"
I have VS 15 upd 1 with asp net 5 rc 1 upd 1.

My project is based in the asp net 5 template "Web Application"
I tried versions 4.5.2 to 4.6 of .net with the same result.

Usually when saving a TS file in wwwroot/app a Js and Js.Map files are generated.
I tested on templates other than Asp Net 5 and all work fine this way.

But since I installed VS 15 update 1 (and asp net 5 rc 1 upd 1 with it) th

[2016-01-05 00:09] RyanCavanaugh commented on #5850
Approved. @mhegazy said there's no other suspicious use of `boolean` in lib.d.ts but someone should verify (`Array#some` ?).

Return type of the callback should be `any`

[2016-01-05 00:10] RyanCavanaugh commented on #4669
Use cases keep piling up indeed. At a hesistant 'yes' but we'll take this to the next design meeting for wider discussion.

[2016-01-05 00:11] RyanCavanaugh commented on #6349
I think we need to tweak the rules on detect component vs SFCs?

[2016-01-05 00:12] RyanCavanaugh commented on #6350
This is a correct error. You'd get a runtime error if you instantiated `foo`

[2016-01-05 00:22] basarat commented on #6350
Of course :rose:

[2016-01-05 00:22] #6350 closed

[2016-01-05 00:23] RyanCavanaugh commented on #6350
Ref http://codepen.io/anon/pen/WrRqWb in case anyone else lands here

[2016-01-05 00:30] aleksey-bykov commented on #1778
didn't mean to play a devil's advocate, aliasing a string might be helpful
at early prototyping stages where, say, ID isn't yet clear to be a string
or a number, using an alias to either can reduce refactoring effort, but
this use case is too dubious to get enough justification

if people think that aliasing would create a new type incompatible with the
original one, so they can benefit from such

[2016-01-05 01:27] ewinslow opened #6352 "Stricter interfaces/literal types"
I love https://github.com/Microsoft/TypeScript/pull/3823 and the way it catches lots of errors early. Unfortunately, it doesn't quite go as far as I'd like it to. Suppose you have code like this, where inlining all properties of styles.header is undesirable for whatever reason (e.g., you can imagine such a block getting very large with many style options to set):

[code]

Here, the `applyStyles` c

[2016-01-05 01:29] pdeva opened #6353 "TSX cannot compile React's Stateless Components"
Using Typescript 1.7.3.

Here is some sample code:

[code]

The line containing `<MainMenu/>` inside `App` will throw this error msg:

[code]

At first I thought this was #6349 but even assigning a type to props in `MainMenu` doesnt help.

[2016-01-05 01:30] RyanCavanaugh commented on #6353
I believe this is a duplicate of #6349?

[2016-01-05 01:32] pdeva commented on #6353
as i mentioned, it isnt.
so i do this:

[code]
[code]

it still throws the same error when referenced inside `App`

[2016-01-05 01:41] RyanCavanaugh commented on #6352
Obviously we'd need a description of some desired semantics to make a call, but I think the bar here is relatively high. The type of `style` is going to be some named interface if it's of any reasonable size, at which point you could write
[code]

[2016-01-05 02:25] ewinslow commented on #6352
That seems like a reasonable workaround for now. Thanks. I'll come back with any more relevant info after I try that.

[2016-01-05 02:51] DanielRosenwasser commented on #5850
Why should the return type be `any` if you want to catch errors where users forget to return a type?

[2016-01-05 02:54] DanielRosenwasser commented on #6153
So what's the new rule now for numeric names? Same as before but make a special exception for "Infinity" and "NaN"?

Also @jmatthiesen

[2016-01-05 02:56] RyanCavanaugh commented on #5850
I was arguing for `{}`; @ahejlsberg argued that not return a value is a valid always-false filter (I hope that's not a total strawman argument?)

[2016-01-05 02:59] RyanCavanaugh commented on #5850
Oh, and `any` is consistent with this behavior in terms of non-returning functions:
[code]

[2016-01-05 03:00] DanielRosenwasser commented on #5850
Why would you ever do that instead of using `forEach`? Tons of things are valid in JavaScript, the point is to catch things that are clearly wrong.

[2016-01-05 03:11] RyanCavanaugh commented on #6153
Correct (as well as `-Infinity`)

[2016-01-05 04:04] DanielRosenwasser commented on #6199
I put out a fix for this with #6355.

[2016-01-05 04:37] arliang opened #6356 "An issue about let statement in typescript."
http://www.typescriptlang.org/Playground#src=for(let%20i%20%3D%200%3B%20i%20%3C%2010%3B%20i%2B%2B)%7B%0D%0A%09setTimeout(function()%7B%0D%0A%09%09console.log(i)%3B%0D%0A%09%7D)%3B%0D%0A%7D

[code]

[code]

In es6, the first example outputs `0 1 2`
But the JS which translated by TS outputs `3 3 3`

It would act like es6 if wrapped with `(function(i){ /*  */ })(i)`
[code]

[2016-01-05 04:45] RyanCavanaugh commented on #6356
This has already been implemented in `f0ba3f47`

[2016-01-05 04:46] RyanCavanaugh commented on #6356
Duplicate #3915

[2016-01-05 04:46] #6356 closed

[2016-01-05 05:12] zhantongz opened #6357 "Error when using union types with --noImplicitAny enabled"
*For example*:
There are some interfaces and a class:
[code]
With the following code
[code]
The compiler returns no error normally. However, if ```--noImplicitAny``` is enabled, the compiler returns
[code]

If I change union type ```Person | Pet``` to just ```Person``` in ```Named``` and ```Test```, there would be no error even with ```--noImplicitAny``` enabled.

Is this an intended behaviour? It

[2016-01-05 05:13] #6199 closed

[2016-01-05 05:25] RyanCavanaugh commented on #6357
Signatures of union types don't merge in a way that produces a signature which can be used for contextual typing.

This shouldn't be a problem, in theory. In your case, `Person` is a supertype (for purposes of which functions can be passed to `hello`) of `Pet`, so it should simply be written `hello(para: Person)` and you'll no longer have any implicit `any`s. The cases where this *doesn't* work ar

[2016-01-05 05:50] DanielRosenwasser commented on #6097
@mhegazy why is this considered a breaking change?

[2016-01-05 05:53] zhantongz commented on #6357
@RyanCavanaugh Thank you for prompt reply.
I did use a (over-)simplified version to illustrate my issue.
My issue currently is actually related to DefinitelyTyped/DefinitelyTyped#7461.

In that case, the argument types are not aligned so there would be problem. I guess in my example it would be like
[code]

While the contextual type may not be meaningful in this case with union types, it is still

[2016-01-05 06:02] RyanCavanaugh commented on #6357
"noImplicitAny errors that are resulted from using union types" is an oversimplication that skips an important step - the problem is that the function expression is not contextually typed by something with a signature.

Looking at your specific example
[code]

If this is the actual way the code works, then `use` is checking `handler.length` to decide whether to pass `err, req, res, next` or `req,

[2016-01-05 06:10] DanielRosenwasser commented on #2607
Basically the idea is that you have a generic decorator.

[code]

That's all fine and dandy, but it doesn't really do much for you. There's nothing you can do with `O`. So you instead take a callback:

[code]

Now you're able to decorate using a callback that is aware of the shape of the prototype being decorated. So it would be valid to write `c.firstName` as above, but not `c.age`, which is desi

[2016-01-05 06:21] DanielRosenwasser commented on #5946
Sorry, somehow I missed this issue.

I'm not super familiar with i18n, so if you guys have any specific documentation you could point me to that would be helpful, I'd appreciate it.

By the way, I also know that [ntesmail/Typescript-Handbook(https://github.com/ntesmail/Typescript-Handbook) is a translation effort. I honestly don't know how good it is. It hasn't been updated in 2 years, but hey, ne

[2016-01-05 07:30] zhantongz commented on #6357
@RyanCavanaugh Thank you for your help. I now understand my issue is not really about union types but contextual typing of functions with overloads.

The two separate overloads were used previously and resulted DefinitelyTyped/DefinitelyTyped#4212.

In my example, if I used
[code]
and subsequently used ```test.hello((par1, par2, par3)=>{});```, there would be an error: ```test.ts(29,12): error TS2

[2016-01-05 07:30] #6357 closed

[2016-01-05 07:33] zhengbli commented on #5946
It is great to see contribution in translating documents. I would definitely like to help:-)

[2016-01-05 08:08] RyanCavanaugh commented on #6357
Happy to help! Thanks for contributing to DefinitelyTyped

[2016-01-05 09:15] bartvanderwal commented on #1927
+1

[2016-01-05 09:43] BernhardSchopper commented on #1927
+1

[2016-01-05 10:17] jonaskello commented on #1215
@rbuckton I am trying to re-export a variable binding like in your example above and am looking for some clarification on how this works. As I understand it, this should is support according to the ES6 standard. However typescript does not support this as it copies the re-exports rather than forwards them. Is this correct? If so is there a work-around for re-exporting live bindings or is this just

[2016-01-05 10:32] Elephant-Vessel commented on #3934
Where is the above mentioned integration story tracked?

[2016-01-05 10:43] eiweiss commented on #1927
+1

[2016-01-05 11:43] rixrix commented on #3215
+1

We have a special typing for Webpack's `require` function and with Angular2 (beta) node.d.ts (recently updated typings) we're now getting `TS2403.... ` errors - the open-ended suggestion by @kitsonk worked out fine but looks a bit hacky and would make IDE confused (too many intellisense suggestions)

[2016-01-05 12:36] guybedford opened #6359 "System.register module name update"
Since posting https://github.com/Microsoft/TypeScript/issues/6097, we've decided to alter the format of `System.register` (while we still can!), to rather use a module context object as the second argument:

So that:

[code]

Becomes:

[code]

instead of:

[code]

This is so that this context argument can potentially be amended in future with additional metadata if and when this is specified at an

[2016-01-05 12:37] guybedford commented on #6097
@mhegazy many thanks for the update! Unfortunately we've since been discussing an adjustment to this in the mean time. It may be worth reverting this for https://github.com/Microsoft/TypeScript/issues/6359.

[2016-01-05 14:18] kitsonk commented on #3576
I suspected there would be breakage with this, I just didn't expect it to happen to me.  In Dojo we have a module ([core/global](https://github.com/dojo/core/blob/6eeacfa1884be21fad1410401d8c312a65eb7313/src/global.ts)) that allows us to grab a reference to the global scope.  Because all modules now are being emitted with the `"use strict";` prologue, this module is returning `undefined` now.

Any

[2016-01-05 14:50] DanielRosenwasser commented on #3576
@kitsonk you could give this a  try http://stackoverflow.com/a/3277192/4386952

TL;DR:

[code]

[2016-01-05 16:11] DanielRosenwasser commented on #5388
I have an idea for this. Each typed array has a `[@@toStringTag]` property, which we can use string literal types on.

[2016-01-05 16:29] lethalman opened #6360 "Cannot use type that is re-exported by another module"
I'm trying to re-export a class from a module `bar.ts` that has been imported from `foo.ts`. The class itself is usable but its type cannot be used for declaring variables. I'm using latest typescript 1.8.0-dev.20160105 from npm:

foo.ts (type definition):
[code]

bar.ts (type re-export):
[code]

qux.ts (type usage):
[code]

tsconfig.json:
[code]

The actual error:
[code]

I haven't found a way to

[2016-01-05 17:00] DanielRosenwasser commented on #6360
With `bar.ts`:

[code]

We don't recognize that as `require` as an import form, so there's no type/namespace side that we know of.

Instead, I'd suggest you use an ES2015 style export:

* New `bar.ts`

[code]

While you're at it, you might as well use a new import form in `qux.ts` as well:

[code]

[2016-01-05 17:07] lethalman commented on #6360
Yeah I understand the problem, thanks for the answer.

Using `import * as Bar from "./bar"` gives `qux.ts(1,22): error TS2497: Module '"bar"' resolves to a non-module entity and cannot be imported using this construct.`.

While for `export { Foo } from "./foo";`, I don't have a `Foo` inside `foo.ts`, it's an `export = `.

[2016-01-05 17:23] romiem commented on #1927
+1 for filesGlob

[2016-01-05 17:36] jlennox commented on #1778
That would indeed be more inline with what I'm after.

[2016-01-05 17:39] DanielRosenwasser commented on #6360
If you really need to keep it as an `export =`, you'll need to use the old-style imports like so:

[code]

for `foo.ts`.

If you use a module loader that automatically fixes up `export =` forms to `default` exports, you can use the `--allowSyntheticDefaultImports` which is available in the nightly.

[2016-01-05 17:42] lethalman commented on #6360
I think I will avoid using classes directly and go for `export class Foo` + `export { Foo} from './foo'`. It's quite ok, thanks :)

[2016-01-05 17:44] mhegazy commented on #1215
For Module documentation please see: https://github.com/Microsoft/TypeScript-Handbook/blob/master/pages/Modules.md

[2016-01-05 17:44] lethalman commented on #6360
Also `export import Foo = require('./foo');` + `export = Foo;` works very well.

[2016-01-05 17:49] DanielRosenwasser commented on #6360
Sounds good - I think we an close this up then.

[2016-01-05 17:49] #6360 closed

[2016-01-05 17:53] mhegazy commented on #3934
supporting tsconfig as the main source of configuration should be in TS1.8 and is tracked by https://github.com/Microsoft/TypeScript/issues/5287

[2016-01-05 17:58] mhegazy commented on #5591
closing as duplicate in favor of #4669.

[2016-01-05 17:58] #5591 closed

[2016-01-05 18:05] DanielRosenwasser commented on #6346
If there was some way of communicating that your string type was actually the domain of strings whose text was numeric (i.e. ToString(ToNumber(text) === text), that would possibly go a long way here.

[2016-01-05 18:14] mhegazy commented on #6346
I had an offline discussion with @ahejlsberg about this. I think we have a proposal. given:
[code]

* if type of `a` has a numeric index signature, type of `x` is `NumericString`
* otherwise, typeof `x` is `string`

Where `NumericString` is an builtin type that can not be named, and is only given to for..in indexers. It is identical to `string` for all type system operations except that it is trea

[2016-01-05 18:23] DanielRosenwasser commented on #5388
While this was partially fixed by #6361, there are still issues in ES5.

[2016-01-05 18:23] #6280 closed

[2016-01-05 18:24] ahejlsberg commented on #6346
An alternative is to check whether the expression used to index an array is exactly an identifier declared as a for-in variable with an array that has a numeric indexer. This avoids having a new type and, importantly, avoids having to "erase" that type when it becomes in inferred type of a variable. I will try to work on it and put up a PR.

[2016-01-05 18:25] DanielRosenwasser commented on #6346
You mean if it *only* has a numeric index signature? Or even if it has a string index signature as well?

[2016-01-05 18:38] mhegazy commented on #6346
@DanielRosenwasser you are correct. it has to have only a numeric index signature.

[2016-01-05 18:44] mhegazy commented on #1863
We would take a PR for this. @JsonFreeman can provide details on some of the issues that you might run into.

[2016-01-05 18:49] giovannicandido commented on #6012
To put my two cents on the discussion:
http://stackoverflow.com/questions/33702567/how-to-import-external-npm-module-with-typescript-declarations-using-jspm/34407887#34407887

My work around is to create definitions files for the jspm library with a top level declaration module for instance:

File *notify.d.ts*
[code]
File *common.d.ts*
[code]

File *components/ca.d.ts*
[code]

That way a import f

[2016-01-05 18:53] mhegazy commented on #3926
`captureStackTrace` is not a standard property, it is a v8-specific one. you should be able to add definition to it as:
[code]

[2016-01-05 19:05] DanielRosenwasser commented on #3926
That should probably be added to `node.d.ts`.

[2016-01-05 19:11] mhegazy commented on #3926
yes, see documentation :https://nodejs.org/api/errors.html#errors_error_capturestacktrace_targetobject_constructoropt

[2016-01-05 20:00] mhegazy commented on #6119
With issue https://github.com/Microsoft/TypeScript/issues/5595 in place, a lot of these scenarios should be enabled.

[2016-01-05 20:00] #6119 closed

[2016-01-05 20:03] mhegazy commented on #3645
@Ziink my comment above was not about multiple tsconfigs in the same project. it was about multiple projects/directories, each with a different tsconfig. this how the ts project is layed out, see https://github.com/Microsoft/TypeScript/tree/master/src, each folder under src, has a different tsconfig.json

[2016-01-05 20:07] mhegazy commented on #17
@mironx, would not https://github.com/Microsoft/TypeScript/pull/5090 be sufficient for your needs?

[2016-01-05 20:09] mhegazy commented on #1226
@sebastien with https://github.com/Microsoft/TypeScript/pull/5454 `--outFile /dev/stdout` works on *NIX systems.

[2016-01-05 20:10] mhegazy commented on #6089
for future references here are the meanings:https://github.com/Microsoft/TypeScript/wiki/Coding-guidelines#diagnostic-message-codes

[2016-01-05 20:13] donaldpipowitch commented on #1927
Could this topic please be closed for discussion to stop more "+1"?

[2016-01-05 20:14] #6059 closed

[2016-01-05 20:16] aleksey-bykov commented on #6089
Thanks!

Offtopic: I am surprised you encourage the use of the map and filter
functions over arrays but say nothing about fold/reduce
On Jan 5, 2016 3:11 PM, "Mohamed Hegazy" <notifications@github.com> wrote:

[2016-01-05 20:18] #6131 closed

[2016-01-05 20:27] mhegazy commented on #6063
All the issues listed above are external to this repo. marking the issue as such.

[2016-01-05 20:29] mhegazy commented on #6204
Duplicate of #5865. should be fixed in https://github.com/Microsoft/TypeScript/pull/6290.

[2016-01-05 20:29] #6204 closed

[2016-01-05 20:34] DanielRosenwasser commented on #6089
I think it usually turns out that folds are a little less readable, and are mostly useful when you want to "atomically" initialize a value. It's all subjective, but this is coming from a guy who really likes Haskell, SML, and F# if that counts for anything.

[2016-01-05 20:35] #6257 closed

[2016-01-05 20:37] mhegazy commented on #6255
closing as it does not reproduce. @frankandrobot please reactivate if the issue still persists and provide further information.

[2016-01-05 20:37] #6255 closed

[2016-01-05 20:39] mhegazy commented on #6234
this should be fixed in TS 1.8

[2016-01-05 20:39] #6234 closed

[2016-01-05 20:40] glen-84 commented on #6256
@mhegazy I don't think that this has been fixed yet.

[2016-01-05 20:42] aleksey-bykov commented on #6089
i wish for once someone defined "readable" for me
will you be that guy?
what audience are we keeping in mind saying "readable"?
ugly truth is, FP isn't a mainstream paradigm whereas TypeScript is a mainstream language...

back to work.

[2016-01-05 20:43] mhegazy commented on #6190
i agree with @RyanCavanaugh this is by design.

[2016-01-05 20:43] #6190 closed

[2016-01-05 20:46] mhegazy commented on #4244
This should be fixed now. errors are only reported within the same function if the use site is after the declaration, as it is guaranteed to fail, otherwise, no error is reported.

[2016-01-05 20:46] #4244 closed

[2016-01-05 20:50] SetTrend opened #6363 "Proposal: Add --pretty to tsconfig.json"
It's currenty hard to read TypeScript errors in VS Code:

![errors 1](https://cloud.githubusercontent.com/assets/9283914/12127104/99089e0c-b3f5-11e5-989e-93c11f91b98a.png)
<br/>
There is a `--pretty` option for TypeScript, but AFAIK it can't be used when using `gulp-typescript` or other task runner plug-ins.

So I'd like to suggest to add `pretty: boolean` to the `tsconfig.json` definition.
<br/>

[2016-01-05 20:50] sccolbert commented on #4244
:+1: thanks!

[2016-01-05 20:52] mhegazy commented on #6256
@paulvanbrenk commented on a PR to fix this one: https://github.com/SchemaStore/schemastore/pull/80/files#r48884389

[2016-01-05 20:56] mhegazy commented on #6363
pretty is a supported configuration in your tsconfig today (using 1.8). however this only affects the output of tsc. what you are asking for is a request for gulp-typescript, the TS API has no control on how the gulp error messages are reported.

[2016-01-05 20:56] #6363 closed

[2016-01-05 21:02] glen-84 commented on #6256
Ah cool, thanks guys. =)

[2016-01-05 21:03] mhegazy commented on #6293
looks like a duplicate of #6132

[2016-01-05 21:03] #6293 closed

[2016-01-05 21:04] WreckedAvent opened #6364 "No support for scoped packages"
Hi,

Given a folder structure such as

    node_modules/
      test/
        index.ts

      @ns/
        test/
          index.ts

    app/
      a.ts

    tsconfig.json

with both `index.ts` files consisting of

[code]

and `a.ts` consisting of

[code]
`tsc` 1.7.5 will error out with:

    app/a.ts: error TS2306: Cannot find module '@ns/test'

However, this will only occur for the [scoped npm pa

[2016-01-05 21:33] ahom opened #6365 "Multiple local symlinks wrongly leading to TS2345"
## Error

While compiling a project that depends on local packages (symlinked from node_modules folder) I'm getting the following error even though both types are exactly the same.

[code]

## Symlinks setup

Here I'm trying to compile the debug/sql_to_mongo project

[code]

The problem seems to be happening because when resolving the llqm-core module from ```debug/sql_to_mongo, frontend/sql and b

[2016-01-05 21:35] jonaskello opened #6366 "ES6 module variables are copied when re-exported"
Given this example:

a.ts

[code]

b.ts

[code]

c.ts

[code]

tsconfig.json

[code]

Result of runing c.js:

[code]

This happens because in b.ts this:

[code]

transpiles to

[code]

and the value of variable a is copied and not referenced.

If I run the same example through babel it works because it generates getters that references the original variable. This was also proposed [here](https://g

[2016-01-05 21:44] RyanCavanaugh commented on #6366
@mhegazy we should discuss this ASAP (Friday?)

[2016-01-05 22:00] LPGhatguy commented on #513
It appears most all of these suggestions have merged into #3694 except for the last one.

[2016-01-05 22:02] zhengbli commented on #5773
@rohitverma007 You did the right thing to add the content in `addedTypes.json` file. Though the script has a bug that doesn't pick up the change for dictionaries in the spec, I'm fixing it and will update you soon.

[2016-01-05 22:08] sandersn commented on #513
#3694 also covers the last one -- once you specify a `this` type for a function, function invocation needs to check that the caller satisfies the type.

[2016-01-05 22:12] Alphapage opened #6368 "Debug tsserver from vscode"
Hello,

I'd like to know if it is possible to debug tsserver from vscode.

typescript.tsdk points to the typescript sdk folder and the tsserver is running from the custom link(not from vscode tsserver).
So, when I modify the ts file in vscode, I'd like to get the breakpoints from Visual Studio 2015 dev mode.

What is the config to achieve my goal ?

Thanks in advance for your help.

[2016-01-05 22:24] falsandtru opened #6369 "_"
Sorry, I cancel this PR because this example code is not good.

[2016-01-05 22:40] SetTrend opened #6370 "Cannot export enum"
Exporting an enum as default results in a compiler error:

[code]
`src\Enum.ts(1,16): error TS1109: Expression expected.`

[2016-01-05 22:43] JsonFreeman commented on #1863
I actually think adding a symbol indexer would be pretty straightforward. It would work just like number and string, except that it wouldn't be compatible with either of them in assignability, type argument inference, etc. The main challenge is just making sure you remember to add logic in all the appropriate places.

[2016-01-05 22:44] RyanCavanaugh commented on #6370
#3320

[2016-01-05 22:44] #6370 closed

[2016-01-05 22:47] #6369 closed

[2016-01-05 22:49] SetTrend commented on #3320
I'd prefer to have this default export a first class citizen of the language, too. Same fo `const enum`s.

If the workaround is trivial then I belive it should be integrated with the language, so one isn't required to remember this workaround every time it occurs.

[2016-01-05 23:12] mhegazy commented on #6013
actually the right semantics as per ES6 spec (see http://www.ecma-international.org/ecma-262/6.0/#sec-function-definitions-runtime-semantics-instantiatefunctionobject) is to set `Function.name` to `"default"`.

[2016-01-05 23:24] falsandtru commented on #6013
thanks for your review!

[2016-01-05 23:56] vladima commented on #6364
I cannot reproduce this locally using the latest bits from master. I've created the following folder structure.
[code]
Content of every file is the same with your repro and content of `tsconfig.json` is
[code]
Running `node D:\sources\git\TypeScript\built\local\tsc.js -p .` produced no errors.

[2016-01-06 00:03] LPGhatguy commented on #5863
I ran into this issue today too!

A fixup solution is to pass the child type in as a generic extending the base class, which is a solution I apply for the time being:

[code]

[2016-01-06 00:07] pdeva opened #6371 "allow type 'unsafe' way to doing es6 style imports"
Currently if have an import of a library which doesnt have any type definition, like this:

[code]

Typescript will mark an error saying it cant find `randomLib` anywhere.
We need some way of telling typescript to suppress the error for this particular import.

[2016-01-06 00:15] LPGhatguy commented on #3694
It appears #4910 did not address the possibility of `typeof this` though it did allow `this` in plenty of type expressions.

What was the resolution on that idea? It would allow for resolution of #3841 with syntax like:

[code]

[2016-01-06 00:34] DanielRosenwasser commented on #6371
I think the solutions and discussion in #2709 covers this scenario.

[2016-01-06 00:35] DanielRosenwasser commented on #6371
Though, the way you should be fixing this is by declaring the module itself:

[code]

[2016-01-06 00:37] pdeva commented on #6371
this is not feasible for large projects.

now for every library we want to use we have to manually create the
typedefs.

kinda defeats the whole 'superset of JavaScript' message.

On Tuesday, January 5, 2016, Daniel Rosenwasser <notifications@github.com>
wrote:

--
Prashant

[2016-01-06 00:39] DanielRosenwasser commented on #3694
@LPGhatguy see #1554 and #2542.

[2016-01-06 00:42] DanielRosenwasser commented on #6371
I agree, this is extremely frustrating for people who are migrating.

Tangentially, what libraries are you trying to use that don't have typings?

[2016-01-06 00:46] isiahmeadows commented on #3694
@LPGhatguy Also, as @ahejlsberg rightly mentioned [here](https://github.com/Microsoft/TypeScript/issues/3841#issuecomment-163350868), not all JS constructors are well-behaved in this area. Too many people unintelligently do this (I admit I have a few times in small scripts and pages, out of laziness, but not in anything big):

[code]

In this case, `new Foo().constructor === Object`, because the o

[2016-01-06 01:02] jeffreymorlan commented on #6346
An object can satisfy a numeric index signature type and still have other non-numeric properties:
[code]
Even on a plain array, for/in may include properties that have been added to `Array.prototype`.

[2016-01-06 01:15] jods4 commented on #2709
:-1: for generating a warning instead of an error.

I understand the frustration of people trying to migrate existing JS codebases.
But migration is a one-time thing.

On the other hand, there are people working on large code bases where everything should be typed (`noImplicitAny` etc.) and having an unknown `import` is most certainly a typo that needs fixing.
It is as much an error as for example

[2016-01-06 01:22] ahejlsberg commented on #6346
@jeffreymorlan Perhaps a better check is to see if the object being for-in'ed is array-like (specifically, if it is assignable to `any[]`). That is the same check we apply to a spread expression.

[2016-01-06 02:07] erfangc opened #6372 "Import Line from pre-ES6 module being skipped"
This TS file, when transpiled to ES5/CommonJS, some how does Not have a require statement for 'highcharts-release'. It does have the proper require statements for React.

(this code compiles with out an error by the way, using `highcharts.d.ts` provided through `tsd`, I had to make a few modifications)

[code]

Excerpt of the transpiled output

[code]

Notice the absence of the `require('highchart

[2016-01-06 02:10] erfangc commented on #6372
Please note that I added the following lines to `highcharts.d.ts`

[code]

this is to make the "Cannot find module highcharts-release` go away

see original file [Here](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/highcharts/highcharts.d.ts)

### Note

if I remove the `declare module` lines, the resulting CommonJS/ES5 output have the proper `require` statement. However, the "Cann

[2016-01-06 02:21] aluanhaddad commented on #2709
@jods4 I don't think that's necessary as the result would always be a string. Furthermore, a common scenario is using a path without a plugin specifier, e.g.```./myTemplate.html``` instead of ```./myTemplate.html!text``` (SystemJS) or ```text!./myTemplate.html``` (RequireJS).

[2016-01-06 02:27] MoonStorm commented on #5886
Just installed MS Build Tools 2015 and the Windows SDK on our build server, which should have been enough for the standalone installer to work. It doesn't. It stops with the error mentioned in the first post.

I couldn't find the "2015 Update 1" equivalent for the build tools. What am I missing here?

[2016-01-06 03:26] viztastic commented on #4448
@plantain-00 Fyi I get the same issue too, see screenshot for a real example.

I'm using VSCode (latest version at time of this post)

![image](https://cloud.githubusercontent.com/assets/8556736/12134229/62056520-b481-11e5-9f48-310c440ab420.png)

[2016-01-06 04:06] mohitspawar opened #6373 "Getting error TS2339: Property does not exist on type for a valid ES6 class"
I have the following ES6 class

[code]

When compiled/transpiled through TypeScript it generates error TS2339: Property 'myclassvar' does not exist on type 'MyClass'.

If the above code snippet is valid ES6 then TypeScript should not generate the error. The generated javascript it valid. It's just that the error scares the developers trying to use ES6 without typings.

The same ES6 class transpile

[2016-01-06 06:22] RyanCavanaugh commented on #6371
This came up during the migrate-a-thon as well. The long tail of libraries is surprisingly long.

[2016-01-06 07:29] plantain-00 commented on #4448
@viztastic I think the problem is the `files`.

According to : https://github.com/Microsoft/TypeScript/wiki/tsconfig.json

If no "files" property is present in a tsconfig.json, the compiler defaults to including all TypeScript (*.ts or *.tsx) files in the containing directory and subdirectories. When a "files" property is present, only the specified files are included.

So try to remove files or i

[2016-01-06 09:09] kayahr commented on #3931
I stumbled over the same limitation and don't understand it. I want to do this:

    class BoundFunction {
        constructor(private func: Function, private context: Object = null, private ...args: any[]) {}
    }

But because the compiler doesn't like this I had to do this:

    class BoundFunction {
        private args: any[];

        constructor(private func: Function, private context: Obje

[2016-01-06 09:56] mleyb commented on #6215
Can't this be pushed out on a VS notification? This has caused our team no end of headaches

[2016-01-06 10:31] jods4 commented on #2709
@aluanhaddad could match on `.html` then?

[2016-01-06 10:38] moostad opened #6374 "Supporting build solutions (browserify, webpack, etc)"
There are a lot of package out there for supporting build solutions but all of them have their own problems (most common, error TS2304 for importing node packages or type checking) and there is no straightforward workflow. It would be great if you made an official support for this problems like what babeljs team does.

[2016-01-06 12:20] glen-84 commented on #3691
Hmm, you're right about option 2.

I don't like option 1 because it means that a bunch of files have to be updated when definitions become available.

WRT option 3, has something like this been considered? It seems a bit more elegant than [this](https://gist.github.com/glen-84/f0a71d581a150ad6593f) type of thing (which I am currently using).

[2016-01-06 12:47] ivogabe commented on #6371
I don't think #2709 wouldn't be the best fix for this issue. When you've got typings for a library later on, you would need to remove `: any` from all your files. Declaring a weak version of the library would make it easier to migrate later, but it's too much work to create it. I think an easy way to create declare a module, without saying anything of it's content, would be the best solution. I'm

[2016-01-06 13:05] kitsonk commented on #2709
@aluanhaddad #5787 being addressed would deal with your use cases.

[2016-01-06 14:09] WreckedAvent commented on #6364
Your tsconfig was different from mine, so I retried `tsc` with your exact one and it was able to pick up the scoped package.

However, I still had it set to es6 so that I could downstep the compilation and let babel take care of async/await.

Here's my exact repo tsconfig:

[code]

[2016-01-06 14:23] WreckedAvent commented on #6373
`tsc` should still compile this, so it can technically handle the ES6. Errors in typescript do not actually stop code being transformed and emitted.

[2016-01-06 14:27] WreckedAvent commented on #6364
Figured it out. You need a special compiler option set in order to get this to work:

[code]

Now the question is why this works fine when `target` is not set to `es6`.

[2016-01-06 14:38] mohitspawar commented on #6373
Yes. As I mentioned the generated JS is a valid JS file. The issue here is developer experience. The error shows up in IDEs and also in the build output through GruntJS/GulpJS.

This error breaks the notion of TypeScript being a superset of Javascript and any valid JS is a valid TS.

[2016-01-06 15:29] tejacques commented on #5887
I believe this is fixed with #4362:

Using your exact input as src/HOC.tsx

[code]

[code]

[2016-01-06 16:09] LabEG opened #6375 "Add support custom TSX transformation"
TypeScript support only two way of TSX transformation:
1. Preserve. I can compile to preserve and process file by classic JSX transform. This way support many framework.
2. React. This is hard coded transformation only for React. This way is not honest in relation to other frameworks.

I want to use TSX view on difference frameworks, such as angular 1/2, mithril, vanilajs and others. Maybe well be

[2016-01-06 17:13] vladima commented on #6364
`node` module resolution is enabled if you either turn it on explicitly (by using `"moduleResolution": "node"`) or if target module kind is `commonjs`. This explains why it didn't work for you if you just specify `"target": "es6"` - in this case (and also if you target any other module kinds without setting `moduleResolution`) compiler will use default pre-TypeScript-1.6 module resolution strategy

[2016-01-06 17:18] vladima commented on #6372
as I can see In your code `Highcharts ` is never used as value so compiler elides this import assuming that it is either not necessary or it is used only to get types and keeping it in generated code is incorrect. If you are importing this module only for some module loading side-effect use import declaration without import clause:
[code]

[2016-01-06 17:26] bterlson commented on #6154
I can't think of why this should be an error (it isn't with ES classes + class property declarations proposal, either).

[2016-01-06 17:30] frankwallis commented on #5887
that's great news, thanks for the update

[2016-01-06 17:30] #5887 closed

[2016-01-06 17:46] vladima commented on #6368
I would ask this question on [vscode](https://github.com/Microsoft/vscode) issue tracker since the way how VSCode loads `tsserver.js` and exposes hooks for debugging is not owned or maintained by TypeScript team.

[2016-01-06 17:46] #6368 closed

[2016-01-06 17:52] aguzubiaga commented on #6331
Oh sorry, you are right. But it produces that error if you do it from an static arrow function and I guessed it would happen from an static method too. Anyway, that is incorrect, isn't it?

[2016-01-06 17:58] RyanCavanaugh commented on #6375
This turns out to be a lot of work for the sake of a minor convenience. Is there anything actually blocking you from using Preserve + the normal tool for the job?

[2016-01-06 18:10] WreckedAvent commented on #6364
Okay, I see. It's not that it was `es5` causing it per se, just that setting to `es6` disallows setting the `module`, and `commonjs` implies the `node`-style module resolution.

That seems to solve the mystery of why that fix works, and all that leaves now is the question mark over why it found `test` in `node_modules` if the non-node resolution system is incompatible with it. I presume based on y

[2016-01-06 18:15] RyanCavanaugh commented on #6331
What's the intent with writing it as an arrow function *and* referencing `this` ?

If you want `this` to always refer to `Model`, then just write `Model` instead of `this`.

If you want `this` to refer to the class that it's invoked on *but not require a method invocation* (i.e. allow an unbound invocation `var x = MyModel.where; x();`, that's impossible because derived classes don't get a newly-c

[2016-01-06 18:19] vladima commented on #6364
yes, this is correct. It should not be able to find both `test` and `@ns/test` and in fact this is what I'm seeing locally if I keep only `"target": "es6"` in `tsconfig.json`.
[code]
[code]

[2016-01-06 18:23] ToddThomson commented on #8
Here is an example of minifier in TsProject ( whitespace elimination turned off ).
Source:

export class TestClass {

    private gerb1: number = 1;
    private gerb2: number = 2;
    private gerb3: number = 3;
    private gerb4: number = 4;

    public fPublic(): number {
        let result = this.f1();

        return result;
    }

    private f1(): number {
        let result = this.f2( 5, 2 )

[2016-01-06 18:56] RyanCavanaugh commented on #6373
Duplicate #766

[2016-01-06 18:56] #6373 closed

[2016-01-06 19:01] WreckedAvent commented on #6364
OK, figured out that piece to the puzzle. I had a file on disc in the same folder with the same name I was importing, but it wasn't in the csproj so I had forgotten about it.

So my directory was *actually* this:

    node_modules/
      test/
        index.ts

      @ns/
        test/
          index.ts

    app/
      a.ts
      test.ts

    tsconfig.json

In a sense, this meant that `./test` an

[2016-01-06 19:01] #6364 closed

[2016-01-06 19:14] mhegazy commented on #6351
@paulvanbrenk can you take a look?

[2016-01-06 19:17] mhegazy commented on #6289
This looks isolated enough. we would consider a PR for adding a new line in call expressions if the source had one.

[2016-01-06 19:26] mhegazy commented on #6372
@vladima i see the import used in a value position, see `this.chart = new Highcharts.Chart(chartOptions);`

@erfangc i can not get a repro for this locally. can you provide more details?

[2016-01-06 19:34] mhegazy commented on #4433
It is still in discussion. we have a PR for it, but there are still some open questions.

[2016-01-06 19:37] taxilian opened #6377 "export = {class expression} does not correctly export the type"
See this gist: https://gist.github.com/taxilian/0d23df3aee984cf9a937/f7eb774425ef3c7ba02543b5069ead5ee30da05a

[code]

[code]

The type is not correctly exported in this case and the displayed error is shown.

[code]

If I put `export = classname` at the bottom of the file it works correctly, as shown in this version: https://gist.github.com/taxilian/0d23df3aee984cf9a937

[code]

`$ tsc --version

[2016-01-06 19:42] mhegazy commented on #6377
This behavior matches the intended design. `export =` only exports the value of the right hand side expression, the exception is `export = <identifier>` that exports all meanings of the identifier.

the workaround as you mentioned is to make it a class declaration and export it.

That said, we should reconsider the case of class expression.

[2016-01-06 19:43] ffMathy commented on #4433
Can you point to this pull request?

[2016-01-06 19:51] mhegazy commented on #4433
I should clarify, the concatenation is already done in: https://github.com/Microsoft/TypeScript/pull/5090
The remaining piece is the flatting, here is the PR: https://github.com/Microsoft/TypeScript/pull/5332

[2016-01-06 20:39] mhegazy commented on #6374
Can you elaborate on the tools you used, and the issues you ran into?

have you also looked at the samples available in https://github.com/Microsoft/TypeScriptSamples?

[2016-01-06 20:51] adidahiya commented on #6273
see https://github.com/palantir/tslint/issues/892

@DanielRosenwasser is correct about lacking full semantic information about the program to be able to write this rule right now. @JKillian explains more [here](https://github.com/palantir/tslint/issues/892#issuecomment-167029369)

[2016-01-06 21:21] ivogabe commented on #8
@ToddThomson Can you compare and post the minified (without whitespace elimination) gzipped file size with the normal gzipped size? Gzip stores a long identifier name that is used multiple only once, so I suspect that mangling private identifiers won't make a big difference.

[2016-01-06 21:30] #4861 closed

[2016-01-06 22:20] pspeter3 opened #6380 "UMD output option for single file"
It seems like TypeScript 1.8 will support a single file option for AMD and SystemJS. Adding UMD support as well would be great.

[2016-01-06 22:22] eggers commented on #1007
Show this have solved the error `Index signature of object type implicitly has an 'any' type.` for the example below?

[code]

[2016-01-06 22:30] RyanCavanaugh commented on #1007
@eggers You'd have to rewrite it slightly, but it works:

[code]

[2016-01-06 22:58] zhengbli commented on #6337
After some investigation, I noticed the following:
1. Only the tsconfig.json of the **first project** would be locked. If you open a file belonging to another project in the same window, that tsconfig.json file will not be locked;
2. The tsconfig.json will not be locked by CodeOSS, if I build it from source
3. The tsconfig.json will not be locked by Sublime, using the same version of tsserver.

In

[2016-01-06 23:12] SetTrend opened #6382 "Cannot reference TSC v1.8 compilation"
I'm not sure but it looks like an error to me:

I don't seem to be able to reference a TypeScript file transpiled with TSC v1.8.

I have [set up a repository with a sample project and a description of the errors](https://github.com/SetTrend/TS18) I get when I try to reference the transpiled JavaScript type definition file:

![referenceerror](https://cloud.githubusercontent.com/assets/9283914/12157

[2016-01-06 23:17] ToddThomson commented on #8
@ivogabe I'll post statistics when the minifier feature is production ready. I suspect that there won't be great gains over post compilation gulp build tools like uglifyjs. However, my goal is to be able to realize some gains by shortening private identifiers and knowing that the resulting transformed sourcefile will work 100% of the time.

[2016-01-06 23:48] vladima commented on #6382
`all.d.ts` is not an external module but just a `.d.ts` file that contains declarations for three ambient modules.
[code]

as a consequence:
- it cannot be imported as is since the file itself is not a module
- it can be referenced to bring these 3 modules into scope.

[code]

[2016-01-06 23:49] #6382 closed

[2016-01-06 23:50] vladima commented on #6372
@mhegazy my bad, didn't notice that. I can confirm that I also cannot repro this locally

[2016-01-07 00:05] mhegazy commented on #6380
A single file output does not really make much sense for node/CommonJS. UMD is just a wrapper around AMD/CommonJS. commonJS require implementation can not load a module from the same file anyways. so you have to use a custom loader, if so, just use AMD/SystemJS to do the trick.

[2016-01-07 00:13] mhegazy commented on #6244
We talked about this before, not sure if there is an issue for this though.

[2016-01-07 00:14] mhegazy commented on #6244
@DanielRosenwasser wanna file an issue for it?

[2016-01-07 00:19] rixrix commented on #842
@jdfreder time flies - the future is here

anyway I had the same issue:  `error TS2352: Neither type 'Timer' nor type 'number' is assignable to the other.` even though I have the implicit reference defined at the top of the file `/// <reference path="node_modules/typescript/lib/lib.d.ts" />` still doesn't work.

The main problem is that one of our 3rd party npm package (angular2) have TS + typings

[2016-01-07 00:25] #6261 closed

[2016-01-07 00:26] santiagohdzb opened #6383 "When will ES 2015 typing definitions be available on lib.d.ts"
Just wondering when are you guys updating the typing definitions. I'm missing the [property 'name'](http://www.ecma-international.org/ecma-262/6.0/#sec-function-instances-name) in [Function interface](https://github.com/Microsoft/TypeScript/blob/master/lib/lib.d.ts#L229), just to name one.

[2016-01-07 00:28] mhegazy commented on #6134
Your AMD loader implementation should be able to handle that. no ordering is required.

[2016-01-07 00:28] #6134 closed

[2016-01-07 00:37] mhegazy commented on #6101
@flyon please reactive if this still an issue, and provide more information.

[2016-01-07 00:37] #6101 closed

[2016-01-07 00:39] mhegazy commented on #6383
it is already available in [lib.es6.d.ts](https://github.com/Microsoft/TypeScript/blob/master/lib/lib.es6.d.ts). this file is added automatically if `--target ES6`. you can also include this file directly in your project and get all the ES6 definitions.

[2016-01-07 00:39] #6383 closed

[2016-01-07 00:42] DanielRosenwasser commented on #6244
Which issue specifically? Structural references, or adding inference sites?

[2016-01-07 00:47] mhegazy commented on #6244
structural references.

[2016-01-07 00:48] santiagohdzb commented on #6383
great, thanks!

[2016-01-07 00:49] RyanCavanaugh commented on #5976
In progress at https://github.com/RyanCavanaugh/TypeScript/tree/jsxSpec/doc

[2016-01-07 00:51] erfangc commented on #6372
I created a small test Repo to demonstrate

[code]

you don't need `node` or `jspm` if  `tsc` is already globally installed

you can run `tsc` on `Demo.ts` and see the output is empty in `Demo.js`

[2016-01-07 00:54] mhegazy commented on #6383
I see it defined https://github.com/Microsoft/TypeScript/blob/master/lib/lib.es6.d.ts#L218

[2016-01-07 00:56] santiagohdzb commented on #6383
yeah you're right, I was looking at the other definition: https://github.com/Microsoft/TypeScript/blob/master/lib/lib.es6.d.ts#L1544

@mhegazy thanks a lot!

[2016-01-07 00:58] mhegazy commented on #6372
imports are elided if they are not used in value position. your sample does not use `Highcharts` anywhere. either use it as a value somewhere, or to force import it (e.g. for side effects-only modules) use `import 'highcharts-release';`

[2016-01-07 01:01] erfangc commented on #6372
Actually, I think this is the cause - please let me know if I am correct:

If in the `.d.ts` file I write:
[code]

then a `require` statement is *not* emitted

but If I write

[code]

then the `require` is emitted because `Highcharts` is a `var` thus generates a value, whereas `HighchartsStatic` is just a interface.

Is that correct?

[2016-01-07 01:09] eggers commented on #1007
@RyanCavanaugh Not quite, because then the below doesn't throw an error like it should:

[code]

[2016-01-07 01:12] SetTrend commented on #6382
Thanks for enlightening me! :cake:

Yet, I'm surprised about the syntax. I've not seen this before:
[code]

Would you mind pointing me to where this is documented? I want to understand how this works.

[2016-01-07 01:14] mhegazy commented on #6262
From the information available here looks like you never initialize the `context`. also this kind of issues would be more suited to StackOverFlow.

[2016-01-07 01:14] #6262 closed

[2016-01-07 01:15] mhegazy commented on #6382
you can find Module documentation at https://github.com/Microsoft/TypeScript-Handbook/blob/master/pages/Modules.md

[2016-01-07 01:21] erfangc commented on #6372
@mhegazy thanks that make sense. But to elaborate on the response see my last post.
Not only does a value from the import be used, a value must be *exported* instead of a interface. (see the latest version of the repo)

does it make sense to always emit a require statement if the `.d.ts` file uses the `export = ` syntax. In that case, the user is always importing a library written in `commonjs` an

[2016-01-07 01:21] mhegazy commented on #6372
no. it does not depend on the declaration of the module `highcharts-release` at all. it only depeneds on the module importing it.

so in your `app.ts`:

[code]

if you want a module import to be emitted **all** the time, regardless of how it is used:

[code]

[2016-01-07 01:30] erfangc commented on #6372
Thanks for that explanation I will certainly remember that going forward.

On the other hand, in my code, I used `new Highcharts.Chart()`,  (`.Chart` is a property of an interface) and it still didn't work ... it worked after I changed the declaration file to export `Highcharts`, which is declared to be a `var`.

In the case of forcing ```import "highcharts-released"```, how will the user assign i

[2016-01-07 01:54] zerkms commented on #442
Why not compile

[code]

to something like

[code]

[2016-01-07 02:01] basarat commented on #442
Question came up on stackoverflow as well : http://stackoverflow.com/a/34644236/390330 :rose:

[2016-01-07 02:08] #5754 closed

[2016-01-07 02:10] #4407 closed

[2016-01-07 02:22] billti commented on #6063
Regarding the above:

1. If this is crashing this is the most serious, but you indicate this is the least important. Thus I assume it is happening rarely. If you can provide more details on this please do, and we'll investigate.

2. Format document seems fine to me. I'd need to see specific examples of what you are experiencing to investigate further.

3. Similarly, that code indents correctly for

[2016-01-07 02:22] #6063 closed

[2016-01-07 03:22] billti commented on #4835
@RyanCavanaugh @vladima Is simple colorization of the JSX element and attribute identifiers, and punctuation, not something we can do easily within the enabled classifiers?

[2016-01-07 03:45] SaschaNaz commented on #6063
@billti I heard they do (https://github.com/Microsoft/TypeScript/issues/6059#issuecomment-164165504) but not with the latest version.

[2016-01-07 05:58] greyepoxy commented on #6365
Nice write up @ahom. I ran into this exact same problem today but was unable to figure out what exactly was going on. +1 for a fix for this please.

[2016-01-07 06:59] techird commented on #5515
In file `type.ts`, I define an interface `Person`

[code]

In file `index.ts` where I import `Person`,

[code]

when I hover on the hover point (the `Person` word), I would expect to see below.

[code]

If I specific an alias like

[code]

I would expect to see below.

[code]

In simple, just grap the quick info from the *origin* export point appending to the import quick info.

[2016-01-07 07:04] RyanCavanaugh commented on #442
@zerkms please don't post the same comment in two places; it's confusing.

You can't arbitrarily sometimes rewrite names in a structural type system.

Consider some code like this
[code]

[2016-01-07 07:15] zerkms commented on #442
@RyanCavanaugh that's a fair example, indeed (I don't develop on TS, but gosh - its type system is weird as soon as it treats this code as valid).

[2016-01-07 08:38] pdeva commented on #6371
+1 to @ivogabe

[2016-01-07 09:39] dbaeumer commented on #6337
We use Code or CodeOSS when built from source as a node execution environment since it is actually node plus chrome :-). That is why the look is help by that process. However @claycephas nicely traced it down to the Code executable running the tsserver. See this comment: https://github.com/Microsoft/vscode/issues/1032#issuecomment-165544626

The interesting line is:
[code]

As you can see we launc

[2016-01-07 09:48] DavidBrower opened #6385 "Adding Breakpoints to TypeScript file in Visual Studio"
__Microsoft Visual Studio Enterprise 2015__
__Version 14.0.24720.00 Update 1__
__TypeScript   1.7.6.0__

We have a visual studio project with TypeScript which is correctly creating source maps. When I add a breakpoint (or ```debugger;```) to a TypeScript file and run the app with IE11 it opens up the transpiled JavaScript (although the editor tab says "```file_name.ts [dynamic]```)" at the same li

[2016-01-07 10:08] wwwlicious commented on #6385
+1

[2016-01-07 10:16] techird commented on #3960
Inspired by @RyanCavanaugh and @basarat , I create a "type factory", for example:

[code]

Now you don't need to alias a `StringSelect`

[2016-01-07 10:58] stefk commented on #6178
Same issue on linux, node 5.1.0. Fixed with 1.7.3.

[2016-01-07 13:52] dziedrius opened #6386 "Newest VS tools for typescript marked as trial in gallery"
For some reason, tools for VS2013 and VS2015 are marked as trial on gallery:
https://www.visualstudiogallery.msdn.microsoft.com/c7ba4ae7-e161-4e9d-a764-ada948e0e215
https://www.visualstudiogallery.msdn.microsoft.com/77b22d98-4345-41ef-a98f-ac25563b7ec5

Is there any reason for this, because our devops are feeling itchy seeing "trial" next to this :)

[2016-01-07 14:47] arfmann opened #6387 "Running local 'tsc' from node"
I have a fairly complex build process which I've written using Node scripts, and somewhere in there I need to run the TypeScript compiler. Almost all of my build tools have a JS API which mean I can run them easily, e.g:
[code]
But I'm struggling to do the same for TypeScript. Is there a way to do this? I'm using tsconfig.json files so I only want to do the equivalent of (ran from the command line

[2016-01-07 14:56] davidreher commented on #6387
What we are doing in our project is simply calling the tsc from node_modules/.bin folder or create an [npm script](https://docs.npmjs.com/misc/scripts) ([which implicitly works inside the node_modules/.bin folder](https://docs.npmjs.com/misc/scripts#path)) and call that

[2016-01-07 16:03] chrishensel commented on #6217
Thanks for your response!

Maybe just as a well-meant suggestion for the future, would it be possible for us developers to have a short "best practices" document (or similar), which quickly outlines the most important Do's and Don'ts?

That's actually something that I'd really like to have, since the way how to use vNext has changed somewhat from alpha stage to now, and especially from the betas t

[2016-01-07 16:43] mhegazy commented on #6372
that is a  bug that needs to be fixed. can you provide a repro with using your import as you mentioned and not having it emitted. the above code results in the import emitted for me.

[2016-01-07 16:48] mhegazy commented on #6387
you can use the typescript compiler api, just like you use uglify today. `var ts = require("typescript");`. here is more information on the API https://github.com/Microsoft/TypeScript/wiki/Using-the-Compiler-API

[2016-01-07 16:48] #6387 closed

[2016-01-07 16:48] RyanCavanaugh commented on #3960
@isiahmeadows feel free to log a separate suggestion for that. Might be worth looking in to

[2016-01-07 16:48] #3960 closed

[2016-01-07 16:49] mhegazy commented on #6386
no reason. @yuit can we remove the tag?

[2016-01-07 16:54] mhegazy commented on #4835
We will need to re-enable the syntactic classifier. There should not be a perf hit now after the work @CyrusNajmabadi did in VS2015 update1.

[2016-01-07 16:57] arfmann commented on #6387
@mhegazy - Thanks, but I'm strugging to see how to run this and have it act in the same way as the tsconfig.json-driven `tsc` tool. I'm hoping to just do the equivalent of giving it the '-p' argument - i.e. the directory with my tsconfig.json file, and then just have the compiler do it's thing. Is that possible?

[2016-01-07 17:20] mhegazy commented on #6387
here you go:

[code]

to run this:

[code]

[2016-01-07 17:24] CyrusNajmabadi commented on #4835
Also, I put in some very useful helpers in the Roslyn codebase for this work.  Check out ITextViewExtensions.GetVisibleLinesSpan as well as:
http://index/Microsoft.CodeAnalysis.EditorFeatures/R/cd078e79a62bd496.html

[2016-01-07 17:27] mehrandvd commented on #563
+1 I'm using t4 to generate classes and proxies over WebApi. I think auto-generation is using vastly in typescript and when it comes to auto-generation, partial classes is necessary!

[2016-01-07 17:30] arfmann commented on #6387
This is incredibly useful! Thanks very much.

I'm stuck using plain node-friendly JavaScript for this, so I've converted it in case anyone else happens to be in the same boat.

[code]

[2016-01-07 17:32] mhegazy commented on #6341
@jeffschwartz, what you are seeing is correct to me. i do not think the two names `IQueueItem` are the same. it just happens that hey have the same name. consider this example:

[code]

The `N` in `import N = require("M")` is just a local name, just like you would have writen `var x = mod.x;` and should be part of the references to the other name.

if you want to get a consisten behaviour where yo

[2016-01-07 17:32] #6341 closed

[2016-01-07 17:39] mhegazy commented on #6365
one thing to note, fs.realPath is significantly slow.. see https://github.com/nodejs/node/issues/2680. until this issue is fixed, i do not think we can use fs.realPath.

[2016-01-07 17:42] #6339 closed

[2016-01-07 17:44] mhegazy commented on #5884
closing this in favor of #5254.

[2016-01-07 17:44] #5884 closed

[2016-01-07 17:45] DanielRosenwasser opened #6388 "Allow structural reference-finding in the language service"
Consider the following:

[code]

This code works because `{ a: string; b: number }` is structurally compatible with `A`.

Imagine that a user tries to rename `a` in either the interface or the object literal. Right now, renaming either one will cause an error, because the two are not considered the same property in their containing type. This leads to an unpleasant refactoring experience, because

[2016-01-07 17:45] DanielRosenwasser commented on #6244
Done. See #6388.

[2016-01-07 17:52] #6201 closed

[2016-01-07 17:52] DanielRosenwasser commented on #6201
Thanks @SaschaNaz!

[2016-01-07 17:53] mhegazy commented on #6388
The scope of this change is more than a bug fix. marking it as a suggestion. there is also a VS/Editor aspect here as there is a new UI/option to be provided to the user at rename time.

[2016-01-07 17:55] mhegazy commented on #6244
We can close this one then?

[2016-01-07 17:57] mhegazy commented on #5515
We would be open to a PR here. A possible solution is for Aliases to augment their quick info with that of their target.

[2016-01-07 18:02] mhegazy commented on #6097
this has been reverted in https://github.com/Microsoft/TypeScript/pull/6362

[2016-01-07 18:04] mhegazy commented on #6359
@guybedford feel free to send a PR when the design has stabilized on the SystemJs side.

[2016-01-07 18:09] mhegazy commented on #6385
@sheetalkamat can you take a look.

[2016-01-07 18:10] mhegazy commented on #6375
Duplicate of #3788

[2016-01-07 18:10] #6375 closed

[2016-01-07 18:11] DanielRosenwasser commented on #6388
Note to implementors: a basic, but useful, useful test case would be

[code]

taken from #6244.

[2016-01-07 18:12] DanielRosenwasser commented on #6244
Yup. The inference site idea was #5254 for future reference.

[2016-01-07 18:12] #6244 closed

[2016-01-07 18:13] mhegazy commented on #6322
:) that is subtle. the completion position is a valid identifier definition location, it is parsed as:
`var (c = ((new C) <  number)) , n`, where parens indicate nodes.

I think this is a valid grammar production, and thus behaves as intended.

[2016-01-07 18:17] mhegazy commented on #6316
not that i can think of.

[2016-01-07 18:18] DanielRosenwasser commented on #6322
I'm going back and forth on this. Just because this is grammatically valid one way doesn't mean it should be a complete completion blocker. We have made efforts elsewhere to speculatively prepare for other constructs. I wonder if we could do better. But I'll close this for now.

[2016-01-07 18:18] #6322 closed

[2016-01-07 18:19] mhegazy commented on #6320
//CC: @SaschaNaz

[2016-01-07 18:19] #6309 closed

[2016-01-07 18:20] #6305 closed

[2016-01-07 18:20] mhegazy commented on #6286
@sheetalkamat can you take a look

[2016-01-07 18:27] mhegazy commented on #6093
Not all options are visible on the project property pages. only the ones deemed common. you can still set all the options either in a tsconfig.json, or manually in your project file (see the MSBuild properties corresponding to compiler options: https://github.com/Microsoft/TypeScript/wiki/Setting-Compiler-Options-in-MSBuild-projects)

[2016-01-07 18:27] #6093 closed

[2016-01-07 18:35] #5696 closed

[2016-01-07 18:41] mhegazy commented on #6203
I would say it is within the scope. Do not know how though :). Any proposals?

[2016-01-07 18:45] mhegazy commented on #6179
accessing a name outside its scope is not a possible. there are scoping and shadowing rules in effect already, and i do not see how you can make something like this work for the general case.
we have talked in the past about a way to access the instance type of a constructor function. i think this is another useful addition and I believe will address this use case better than #4233

[2016-01-07 18:56] mhegazy commented on #6252
//cc: @SaschaNaz

[2016-01-07 19:06] aleksey-bykov commented on #6388
I think it should stay as it is now. `v` is of literal type that happened to be very similar to the interface, that's it, they are not related.

[2016-01-07 19:10] aleksey-bykov commented on #6388
Correct me if I am wrong, your latter example would work aout of the box, had TypeScript crave the type out of the context which it doesn't currently do. You would've killed many birds with a single shot if it did.

[2016-01-07 19:12] mhegazy commented on #6175
This issue was moved to Microsoft/TypeScript-Handbook#139

[2016-01-07 19:12] #6175 closed

[2016-01-07 19:21] DanielRosenwasser commented on #6388
The proposal is an option to look for compatible types when performing a rename/search, so this wouldn't affect you if you didn't want it to.

It depends what you mean by "crave", because what it comes down to in our current algorithms is stepping through levels of type argument inference and contextual typing. If there's a solid and general idea about figuring that out, it'd be worth considering.

[2016-01-07 19:23] mhegazy commented on #6065
The fix should be included in the next public TypeScript release.

[2016-01-07 19:23] #6065 closed

[2016-01-07 19:27] mhegazy commented on #6132
duplicate of #5386

[2016-01-07 19:27] #6132 closed

[2016-01-07 19:29] mhegazy commented on #6030
duplicate of #4577

[2016-01-07 19:29] #6030 closed

[2016-01-07 19:35] mhegazy commented on #4667
After going on this back and forth a few times, the current behavior seems to be the best. Users working on multiple modules at design time would like to get this behavior.
@vladima has a tool to verify a package with "recommended" setup, that interested package authors can run, instead of the compiler enforcing it.

[2016-01-07 19:35] #4667 closed

[2016-01-07 19:52] adidahiya commented on #4667
@mhegazy cool, is that tool available somewhere?

[2016-01-07 19:54] mhegazy commented on #4667
@vladima can you share your tool?

[2016-01-07 19:56] mhegazy commented on #6166
This issue was moved to Microsoft/TypeScript-Handbook#140

[2016-01-07 19:56] #6166 closed

[2016-01-07 20:08] thorn0 commented on #6179
In JS, you can create a global variable at any point just by omitting var/let/const (well, we can't be sure it'll be really global) or by assigning to a property of the global object. So it's natural to expect similar scoping possibilities from types.

[2016-01-07 20:08] mhegazy commented on #6182
I do not think there is much we could do here. please reactivate if you run into this again with a repro you can share.

[2016-01-07 20:08] #6182 closed

[2016-01-07 20:10] mhegazy commented on #6179
I do not think this specifically was a good design decision for JS :)

[2016-01-07 20:18] thorn0 commented on #6179
If it comes about 'really global' variables, of course, I agree with you. But also we can do this:
[code]
I wish we could do something like that with types. It'd be logical and symmetrical.

[2016-01-07 20:44] ahejlsberg commented on #4518
An implementation of this suggestion is now available in #6379 (this replaces #6302).

[2016-01-07 20:45] ahom commented on #6365
@mhegazy I'm not sure I get this right, in the linked ticket they point out that resolving ~1000 symlinks would take about 45ms. I understand it is orders of magnitude slower than the C call but is it really impacting that much the big picture?

I quickly timed the compilation of my project with and without the call to fs.realpath (without the call it fails midway but it was just to see the timing

[2016-01-07 21:03] mhegazy commented on #6365
We will have to do it on reading any files. i do not see why a module is a special case. the impact of small projects may not be big but would be observable on larger solutions.
@vladima can you give this a try and report perf numbers.
there is still another issue we need to figure out how this can be solved for non-node engines.

[2016-01-07 21:31] Dynalon commented on #3788
:+1:. I support @blesh's comment: Babel uses the `/** @jsx: factoryFn */` syntax which is quite handy. A compiler flag would also be great. If support for this lands in TS (as in Babel), I can see a whole new way of creating templates from .tsx files instead of mustache/handlebars etc:

I setup a basic - but working - JSX to HTMLElement factory inspired by [plain-jsx](https://github.com/callumlock

[2016-01-07 21:46] mhegazy commented on #6195
Thanks @SaschaNaz for adding the new flag support. now we need to enable this in VS, as well as in Sublime as a user option.

[2016-01-07 23:21] mhegazy commented on #3788
thanks @rwyborn!

[2016-01-07 23:21] #3788 closed

[2016-01-08 00:25] realyze commented on #6178
Same issue on Mac OS X 10.11. Downgrading to 1.7.3 helps partially - sometimes the watcher fires fast, most of the time there's a big delay.

[2016-01-08 00:32] mhegazy commented on #6297
This is actually by design. the alias is not a separate type. There is only one type, `string` in this case, `MyString` is just a pointer to it, and is not propagated.

[2016-01-08 00:32] #6297 closed

[2016-01-08 00:32] #6313 closed

[2016-01-08 00:43] #4984 closed

[2016-01-08 00:43] mhegazy commented on #4984
thanks @SaschaNaz!

[2016-01-08 00:46] mhegazy commented on #6178
PR https://github.com/Microsoft/TypeScript/pull/6026 should address this issue. We should have this in shortly. sorry for the delay.

[2016-01-08 00:51] mhegazy commented on #6165
looks like a duplicate/variant of https://github.com/Microsoft/TypeScript/issues/17

[2016-01-08 00:51] #6165 closed

[2016-01-08 01:07] mhegazy commented on #6034
@rbuckton can you take a look.

[2016-01-08 01:16] erfangc commented on #6372
the repository i provided should reproduce the issue, let me make a Gist as well to demostrate

[2016-01-08 01:20] erfangc commented on #6372
this does not emit:
https://gist.github.com/erfangc/bc21c34af396e5d35a56

this does emit:
https://gist.github.com/erfangc/f9d525d6ff40cb7d2bee

[2016-01-08 01:21] mhegazy commented on #6372
The .d.ts file is irrelevant. can you share your source?

[2016-01-08 01:21] aguzubiaga commented on #6331
I forgot that arrow functions doesn't have own this, I would close the issue. Sorry for my ignorance.

[2016-01-08 01:22] erfangc commented on #6372
sure

[code]

[2016-01-08 01:26] mhegazy commented on #6372
OK. i have a repro now. thanks.

[2016-01-08 01:27] erfangc commented on #6372
no problem, thanks for your time!

[2016-01-08 01:30] #6331 closed

[2016-01-08 02:05] ZachBray opened #6389 "Automatic structural conversion can break type-safety at generic call-sites"
Automatic structural conversion causes different type-checking results at the call-sites of generic functions.

In this case, the generic constraints are not taken into account:

[code]

I would expect both of the bottom lines to have errors.

[2016-01-08 02:07] ZachBray commented on #6389
BTW this was discovered in http://www.typescriptlang.org/Playground
I assume v1.7

[2016-01-08 02:12] jeffreymorlan commented on #6346
One library I'm using returns array-like objects that inherit from Array.prototype but add additional (enumerable) methods that will show up in for/in, making it unsafe to use the for/in keys as indexes.

There are so many ways that for/in on array-likes may return properties other than array indexes...
*extra properties on the array object itself
*extra properties on prototype inheriting from Arr

[2016-01-08 02:22] basarat opened #6390 "API Feature Request : AutoComplete - Base class methods show up"
E.g. `componentDidMount` for a class that inherits from `React.Component`

[code]

refs https://github.com/TypeStrong/atom-typescript/issues/809

[2016-01-08 03:31] AlexanderMattoni commented on #442
If it's not possible to transpile them without risk, perhaps we should just disallow them?

[2016-01-08 03:35] bryanerayner commented on #8
Entropy can be reduced by mangling the names of private variables. 25
instances of separate long names, versus 25 `this.a`, I expect the
compression of the latter case would be much higher.

Great work Todd!

On Wed, Jan 6, 2016, 5:18 PM Todd Thomson <notifications@github.com> wrote:

[2016-01-08 03:48] techird commented on #5515
@mhegazy nice!

[2016-01-08 04:05] basarat commented on #442
Definitely not changing the transpile, just making it a compile error :rose:

[2016-01-08 04:16] ahejlsberg commented on #6346
@jeffreymorlan Completely agree for-in is a messed up construct--but we don't get to change that. The objective is to provide the best possible type checking of for-in *as it exists*, and unquestionably it is a common pattern to use for-in with arrays and expect indexing with the for-in variable to produce the elements of the array. I agree that there are situations where non-numeric property name

[2016-01-08 05:06] DanielRosenwasser opened #6392 "Unable to insert content to files in VS when 'module' is set to ES6"
Found by @malekpour on Gitter on [January 7, 2016 11:57 PM](https://gitter.im/Microsoft/TypeScript?at=568f41bc87cb99b53b87e0e6)

1. Create an empty file `foo.ts`
2. `tsc --init --module es6 foo.ts`
3. Open `foo.ts` in Visual Studio.
4. Try typing a key other than Enter, Tab, or Spacebar.

Expected: The corresponding character is entered into the buffer.
Actual: The buffer remains unchanged.

I'm n

[2016-01-08 05:44] SaschaNaz opened #6393 "Remove space between comma and closing bracket"
From @DanielRosenwasser's comment: https://github.com/Microsoft/TypeScript/pull/6202#discussion_r48323726

`[, ]` should be `[,]` while `var x = {a: 10, };` should not be changed.

[2016-01-08 05:47] jeffreymorlan commented on #6346
It's a common *mistake*; all the more reason not to allow it in TS, so people can find places where they have made that mistake and replace it with the correct for/of, .forEach, or good-old-fashioned `for (var i = 0; i < arr.length; i++)`.

Monkey patching of Array.prototype isn't just something obscure that you'll never see in the real world (unfortunately). According to http://w3techs.com/techno

[2016-01-08 05:53] falsandtru commented on #6316
TypeScript said, `Promise<number>` is `Promise<string>`.

[code]

[2016-01-08 06:04] RyanCavanaugh commented on #6346
There are two questions here:
 * Should we disallow constructs that aren't part of the Good Parts of JS?
 * Should we improve typechecking for people who use those not-great constructs anyway?

If people want to disallow a construct entirely, there are good tools for that -- TSLint, ESHint, etc.. I know there are tools that will disallow `for / in` without a `hasOwnProperty` check as well, which i

[2016-01-08 06:06] RyanCavanaugh commented on #442
Some enterprising developer should send us a PR! :wink:

[2016-01-08 06:07] RyanCavanaugh commented on #6316
What definition of `PromiseLike` are you using?

[2016-01-08 06:10] RyanCavanaugh commented on #6316
Title is not accurate:
[code]
The behavior around `string|number` happens because of function parameter bivariance; see any number of issues around this already, e.g. #222

[2016-01-08 06:10] #6316 closed

[2016-01-08 06:24] vladima commented on #6392
this is not related to module resolution, issue is `ModuleKind` declaration on the managed side should exactly match its script side counterpart and was violated when `ModuleKind.ES6` was added

[2016-01-08 06:24] vladima commented on #6392
pinging @paulvanbrenk

[2016-01-08 06:26] RyanCavanaugh commented on #6389
See #5451 or any other issue referencing the fact that empty types are interchangeable.

If you added a member to `A` / `B` that consumed `T1` or `T2` you'd see an error.

[2016-01-08 06:26] #6389 closed

[2016-01-08 06:38] jeffreymorlan commented on #6346
@RyanCavanaugh I'm not asking for for/in to be disallowed, all I'm asking is that it shouldn't bend the indexing rules to make it look like it's safer for arrays than it actually is:
[code]

[2016-01-08 09:23] isiahmeadows opened #6395 "Using lookahead to detect generic JSX elements?"
_Initially from a [couple](https://github.com/Microsoft/TypeScript/issues/3960#issuecomment-165375803) [different](https://github.com/Microsoft/TypeScript/issues/3960#issuecomment-132192858) comments, but elaborated here._

Currently, in order to use a generic JSX element, you must alias both the type and interface to a non-generic specialization.

[code]

It would be a _lot_ more convenient and c

[2016-01-08 09:24] isiahmeadows commented on #3960
@RyanCavanaugh Done.

[2016-01-08 10:05] bartvanderwal commented on #6166
:+1:

[2016-01-08 10:13] furesoft opened #6396 "lets add an event infrastructure"
like this:

class hello {

     event onchange(arg: string);

     change() {
          onchange("hello world");
     }

}

event generates an mediator like this: https://github.com/Olical/EventEmitter

[2016-01-08 10:19] Artazor opened #6397 "signature overloading breaking change?"
Looks like that in 1.7.5 overloading order became significant in some cases

1) specific first
[code]

2) specific second
[code]

Is it by design?

[2016-01-08 12:25] frederikschubert commented on #6012
I would love to see this feature implemented as its the only thing that needs a workaround in our Angular 2 setup (apart from the hopefully soon released jspm [0.17](https://github.com/jspm/jspm-cli/pull/1099)).

[2016-01-08 13:47] johnpapa commented on #6178
Thanks for the status update @mhegazy

Looking forward for th fix. This explains a slowdown I have in my angular 2 app using lite-server

[2016-01-08 13:52] joelgwebber commented on #8
@ToddThomson Glad to hear you're working on this! A couple of quick questions:

- If I understand correctly, this minification pass is meant to operate on a single compilation unit. Is that correct?
- Is that branch public, or likely to be soon?

[2016-01-08 14:34] ToddThomson commented on #8
@joelgwebber Yes, the main reason I use TsProject is to produce a single bundled output for multiple ES6 modules in separate source files. Yes, it is a public GitHub repository.

[2016-01-08 14:49] firecube commented on #5039
+1 for @laurelnaiad's suggestion.  This would be a quick win for that part of the problems discussed above.

[2016-01-08 14:57] asadsahi commented on #6178
I am having slow reload with typescript 1.7+, works fine with typescript 1.6.

Anybody else?

[2016-01-08 14:59] ahejlsberg commented on #6397
Yes, it is by design. Specifically, it is an effect of the change in #4074.

[2016-01-08 15:02] Alphapage opened #6398 "Proposal: set target to es6 by default for tsserver"
Hello,

For now, you have to specify the target in tsconfig.json when you want to use es6 features in tsserver
It would be great to enable es6 by default only for tsserver, so there is no need for a tsconfig.json file.
We could downgrade by using tsconfig.json as usual.

Hope this could help others.

[2016-01-08 15:06] joelgwebber commented on #8
Thanks, @ToddThomson. Got a 404 for that branch, but I see now that it's been merged.

[2016-01-08 15:18] andreialecu commented on #6365
I'm not sure if this is related, but I'm seeing issues on Windows when trying to extend a class defined in a package that is in a symlinked folder in `node_modules`.

[code]

(I replaced my actual project name with `snip`)

In this example, `snip-shared` is a library that is `npm link`ed to the `node_modules` folder of the `snip` main project.

`Utils.ts` is a dependency of the base class I'm tryi

[2016-01-08 16:18] sebastianhoitz commented on #6365
@andreialecu I have the same issue, also involving webpack and tls-loader. The file exists, but is located in a symlinked folder.

[2016-01-08 16:29] ulritech opened #6399 "tsc removes comments preceding 'export = ...' unless extra newline follows the comment"
The tsc compiler with remove comments set to false (no --removeComments flag and/or "removeComments": false in tsconfig.json) performs unexpectedly **based on whitespace characters surrounding comments before an export statement**. For example,

[code]

Run the compiler:

[code]

The compiler strips /\* @ngInject */ but preserves // A comment

[code]

However, **placing a new line after /\* @ngInj

[2016-01-08 16:41] #6393 closed

[2016-01-08 16:41] DanielRosenwasser commented on #6393
Thanks @SaschaNaz!

[2016-01-08 16:42] andreialecu commented on #6365
@sebastianhoitz I was able to get it to work. The trick is to ensure all other dependencies of the imported class are also explicitly imported in your main project, otherwise you will get that error I pasted above.

Until this is fixed, I can live with this workaround.

Also, make sure your `webpack.config.js` has
[code]

[2016-01-08 16:56] RyanCavanaugh commented on #6397
Overloading has always been order-sensitive -- the first signature that matches is the one that's selected.

Recommended fix would be to replace `[key: string]: any` with `[key: string]: {}`

[2016-01-08 16:56] #6397 closed

[2016-01-08 17:00] RyanCavanaugh commented on #6396
This seems pretty far out of scope to bake into the language at this point. You might be able to emulate this reasonably well with decorators, though.

[2016-01-08 17:00] #6396 closed

[2016-01-08 17:02] RyanCavanaugh commented on #6395
We've gotten this request a number of times and it does seem reasonable in terms of parsing.

[2016-01-08 17:09] mhegazy commented on #6398
@dbaeumer, @egamma and @jrieken can you way in on this. Do you get similar feedback?

[2016-01-08 17:12] RyanCavanaugh commented on #6346
We bent the rules pretty severely by making the `for / in` indexer type `any`, which was motivated by the *huge* amount of code we found that works like the second block in your example. Believe me that if we thought it were feasible to "correctly" type the iteration variable, we would have done so from the beginning.

A surprising thing we've discovered in practice is that people strongly disagre

[2016-01-08 17:27] Elephant-Vessel commented on #4669
If we get this, the use-case for https://github.com/Microsoft/TypeScript/issues/4670 could be solved in a clean way as we would be able to redirect the responsibility to fulfill the interface by declaring all parts of the contract (both properties and methods) as abstract and to be implemented by the derived class:

[code]
Some extra typing compared to the original request, but that could at the s

[2016-01-08 17:27] egamma commented on #6398
Node.js doesn't fully [support es6](https://nodejs.org/en/docs/es6/) yet. So setting the default to es6 might be confusing when doing node development. See this issue for an example Microsoft/vscode#1556.

[2016-01-08 17:38] RyanCavanaugh opened #6401 "Help people who confuse `export = ` with `export default`"
We get questions like this all the time: http://stackoverflow.com/questions/34682541

The problem is that people think `export =` and `export default` are the same thing. The error message we issue is not at all helpful in diagnosing the problem, especially because we write the type of the module as `typeof "filename"`, which is completely opaque.

Suggestion: When a type comparison fails and the

[2016-01-08 17:53] DanielRosenwasser commented on #6390
I think this is partially related to #3377.

[2016-01-08 18:18] DomiR commented on #819
+1

[2016-01-08 18:30] Alphapage commented on #6398
OK I understand you want to align tsc and tsserver.
But browsers like ie 11, old firefox ... won't support all es6 features, so you will always stay to es5!
The current ECMAScript is es6, so I think it would be great to switch only tsserver to es6 (for vscode) and throw an error from tsc when compiling, telling that this feature is not yet supported (: to target es5 or to target es6 and to use ano

[2016-01-08 18:35] mhegazy commented on #6401
+1

[2016-01-08 18:56] Laurentiu-Andronache opened #6402 "Is creating a type definition difficult?"
I was doing this tutorial in order to learn Meteor + Angular 2 and I also found out about TypeScript: http://www.angular-meteor.com/tutorials/socially/angular2/

I noticed that there's no type definition for this API that I'm going to use: https://github.com/ethereum/web3.js

Is creating a type definition difficult? Could I do it myself, even though I don't know JavaScript? I'm only planning on le

[2016-01-08 20:33] jeffreymorlan commented on #6346
It's an easy fix to change `for (var key in arr)` to one of the numerous correct ways to iterate over an array. (And, if even that's too much, you can always keep the incorrect for/in loop and do `arr[<any>k]`.)

Converting any nontrivial JS program to error-free TS, even without --noImplicitAny, already requires much larger changes. Here's one that I've encountered a lot:
[code]
That's a common J

[2016-01-08 21:09] meirgottlieb opened #6404 "--emitDecoratorMetadata flag under ES6 target results in code that will not execute"
Given the file test.ts as follows:
[code]

If you compile this file using the command:
`tsc test.ts -t ES6 --experimentalDecorators --emitDecoratorMetadata`

and then run using `node test`, you get the following error:

[code]

However, if you compile with:
`tsc test.ts -t ES6 --experimentalDecorators`
or
`tsc test.ts -t ES5 --experimentalDecorators --emitDecoratorMetadata`
then the resulting Java

[2016-01-08 21:41] RyanCavanaugh commented on #3219
Link is now https://phabricator.babeljs.io/T211

[2016-01-08 21:45] paulvanbrenk commented on #6392
I have a fix checked in for 1.8

[2016-01-08 21:45] #6392 closed

[2016-01-08 21:45] #6346 closed

[2016-01-08 21:46] #4518 closed

[2016-01-08 22:16] falsandtru opened #6405 "Does not work suggestion and autocompletion with union types"
[code]

[2016-01-08 22:34] mhegazy commented on #6404
The core issue here is classes in JS have a different semantics than functions. Functions are hoisted to the top of the enclosing scope, so you can call a function before it is defined, where classes are not. so a class can not be used before it is defined. you can read more about this in https://github.com/Microsoft/TypeScript/issues/4521

Classes in ES6 has `let` semantics, i.e. they can not be

[2016-01-08 22:34] #6404 closed

[2016-01-08 22:42] mhegazy commented on #6178
@asadsahi this change was introduced between TS 1.7.3 and  TS 1.7.5, if you are running into issues with TS 1.7.3 then it is a different issue.

[2016-01-08 22:52] markdrake commented on #2775
Today we had this issue:
[code]

The problem was caused by this code:

[code]
The signature in the Json.parse object states that it returns a type `any` so we don't understand why the union is not possible. However the compiled file works just fine but we don't want to have false warnings in our compile process or it will become really messy with time. What can we do about it?

The version of our

[2016-01-08 22:53] rrgarciach commented on #2775
+1

[2016-01-08 23:01] DanielRosenwasser commented on #6402
@Laurentiu-Andronache it's not usually that difficult, but one of the bigger issues around declaration files is people writing them incorrectly. I'd personally suggest you get familiar with JavaScript and TypeScript just a bit more before you dive into writing a declaration file. Get a good understanding of how the type system represents various JS constructs.

On the other hand, if you test your

[2016-01-08 23:01] #6402 closed

[2016-01-08 23:01] Artazor commented on #6397
@ahejlsberg, @RyanCavanaugh - thank you for explanation

[2016-01-08 23:03] DanielRosenwasser commented on #6405
This actually tends to be a problem with overloads as well, because you'll often get resolved to the incorrect overload and get the incorrect contextual type.

[2016-01-08 23:06] falsandtru commented on #6405
thanks!

[2016-01-08 23:17] falsandtru opened #6407 "Default typings have difference of the type checking credibility"
[code]

We must add the following additional definition to detect the incompatibility of `PromiseLike`, like a `ArrayLike`.

[code]

[code]

This behavior is the spec, but this incompleteness is unfavorable.

[2016-01-08 23:40] asadsahi commented on #6178
I am having same issue with typescript 1.7.3.

[2016-01-08 23:50] #5896 closed

[2016-01-08 23:50] #5222 closed

[2016-01-09 00:05] dbarbeau commented on #2919
Hello,

Well, for what it's worth, I'm trying to rebase my branch on master. Asides merging issues, I'm hitting some errors relative to getApparentType which returns a type where the mixed in members do not exist. The code has evolved quite a bit and I can't wrap my head around the bits involved in the bug. Well, at this point I'm stuck and spent the time I could afford to spend on the rebase. I w

[2016-01-09 00:14] falsandtru opened #6408 "interface IDBDatabase#version"
interface IDBDatabase#version type is number, not string.

related: https://github.com/Microsoft/TSJS-lib-generator/pull/36

[2016-01-09 00:18] mhegazy commented on #6178
@asadsahi that is a different issue then. can you provide more details? how many files do you have? can you share your configurations?

[2016-01-09 00:34] corneliutusnea opened #6409 "Standardize "import {..} from 'path'" and make it not be specific to the way you compile"
Project structure
[code]

Currently the statement `import {a} from 'abc/a"` from `o.ts` will import a different a class depending on how this is compiled.
If you compile as systemjs the imported 'a' is from file `[root]/abc/a`.
If you compile as commonjs the imported 'a' is from file `./abc/a` so file `[root]/other/abc/a`
This makes coding and sharing .ts files a pain as there is no guarantee for

[2016-01-09 00:41] vladima commented on #6323
It is an open question if this is allowed. Per [15.2.1.16.2GetExportedNames( exportStarSet ) Concrete Method#](https://tc39.github.io/ecma262/#sec-getexportednames)

**Assert: module provides the direct binding for this export.**

And in [15.2.1.16.4ModuleDeclarationInstantiation( ) Concrete Method](https://tc39.github.io/ecma262/#sec-moduledeclarationinstantiation) bindings in module are created

[2016-01-09 00:45] oliverjanik commented on #6178
I think it's still the same issue as many commenters pointed out. There's very little difference between 1.7.3 and 1.7.5 they're both slow compared to other watchers like gulp watch or webpack watch.

[2016-01-09 00:52] mhegazy commented on #2775
@markdrake what you need is a pair of parens:

[code]

`!` has a higher precedence than `instanceof` operator. so what you were doing is `(!parsedJson) instanceof Array`; which is invalid.

[2016-01-09 01:09] guybedford commented on #6359
@mhegazy many thanks for understanding! We have the context object implementations merged into Traceur and Babel now (https://github.com/google/traceur-compiler/pull/2051 and https://github.com/babel/babel/pull/3166), so it would be great to get this in TypeScript. This would involve replacing instances of `__moduleName` with a `_context.id` member expression. I can try and give this a go again, b

[2016-01-09 01:35] rrgarciach commented on #2775
great! tanks!

[2016-01-09 01:35] markdrake commented on #2775
@mhegazy Thank you so much

[2016-01-09 02:22] JohnPhilipPearson opened #6410 "miss spelling in documentation"
On page http://www.typescriptlang.org/Handbook
find buton
Replace button

[2016-01-09 03:47] falsandtru commented on #6323
It seems you are right. I agree with es spec.

[2016-01-09 04:23] malekpour commented on #6392
@paulvanbrenk any idea about 1.8 release date?
Also noticed that `"module": "ES2015"` causes the same issue.

[2016-01-09 05:04] DanielRosenwasser commented on #6410
If you read the content, you'll see that this isn't an error. :smile:

By the way, any handbook bugs can be filed on https://github.com/Microsoft/TypeScript-Handbook/

[2016-01-09 05:04] #6410 closed

[2016-01-09 05:13] DanielRosenwasser commented on #6405
I think the ideal behavior would be to show the union of both members until there are any distinguishing elements. At that point, we could filter these down. Easiest thing would be to just always show the union.

[2016-01-09 05:36] DanielRosenwasser commented on #2775
:tired_face:

[2016-01-09 07:38] tinganho opened #6413 "Optional abstract members"
I want to be able to make the implementation optional for abstract member, but it seems like it is not doable today.

[code]
I have some component classes and they MUST extend the base component class and optionally implement certain methods with a certain signature. Right now, I can only rely on good documentation.

[code]
I want the power of auto-completion to also kick in.

## Why is this usefu

[2016-01-09 08:20] zhengbli commented on #5767
This is be design. Because the `XMLHttpRequest` extends from two base interfaces that both have string overloads of the `addEventListener` method, be default they will be discarded to avoid conflicts. Therefore we repeated them in the derived interface, namely `XMLHttpRequest`.

[2016-01-09 08:29] falsandtru commented on #5767
I see, thanks for your explanation.

[2016-01-09 08:29] #5767 closed

[2016-01-09 08:51] SaschaNaz opened #6414 "Call expression double-indents type paremeter"
Input:

[code]

Result:
[code]

[2016-01-09 08:53] #6414 closed

[2016-01-09 08:55] SaschaNaz commented on #6414
Sorry, my own problem :/

[2016-01-09 09:34] ahom commented on #6365
@andreialecu @sebastianhoitz I also got that issue when using ```webpack``` and ```ts-loader``` (and decided to drop the usage of ts-loader for now). From what I've seen it is clearly also related to symlink and how they are resolved.

```ts-loader``` provides a ```resolveModuleName``` to Typescript and follow the symlinks as shown here: https://github.com/TypeStrong/ts-loader/blob/master/resolver

[2016-01-09 10:23] falsandtru opened #6415 "Leak of `noImplicitAny` checking with private static property"
[code]

expected:

[code]

actual:

[code]

[2016-01-09 11:05] falsandtru opened #6416 "Unable to constrain the callback function parameter length"
Generalization of #4241.

[code]

[2016-01-09 11:18] SetTrend opened #6417 "What's import without a require?"
Reading the angular.d.ts file I found some strange import/export lines which I strongly feel I don't understand:

[code]

Please, can someone explain these lines to me?

*    What is `import` without a `from`?
*    Why is the module name a string? Shouldn't this be a regular identifier? What's the difference?
*    In today's TypeScript they'd have written `declare namespace` instead of `declare mo

[2016-01-09 11:32] olmobrutall commented on #3669
+1, maybe in the aliased case its justifiable, but in the normal case is quite annoying.

[2016-01-09 11:33] SetTrend commented on #6382
The suggested solution doesn't appear to work. It creates false `require()` statements in the JavaScript file:

![importerror](https://cloud.githubusercontent.com/assets/9283914/12215840/1d3aea52-b6cd-11e5-9e71-e374709b1974.png)

[2016-01-09 11:35] JirkaDellOro commented on #4518
Sounds very good. Is the explicit annotation as string allowed now?

[2016-01-09 11:38] JirkaDellOro opened #6418 "window.open return type"
In the lib.d.ts I found, that the return type of the window.open method is declared as any. Shouldn't it be Window?

[2016-01-09 11:39] SetTrend opened #6419 "Proposal: Refactor bundled --outFile result"
The solution suggested in #6382 doesn't work as expected. It creates false `define()` statements in the JavaScript file:

![importerror](https://cloud.githubusercontent.com/assets/9283914/12215840/1d3aea52-b6cd-11e5-9e71-e374709b1974.png)

I believe the TypeScript compiler doesn't react correctly in regard to bundled files.

IMHO, `import { module1.Identifier2, module2.Identifier1 module3.Identifi

[2016-01-09 12:21] TheLevenCreations opened #6420 "Class is anonymous for decorator code"
As an Javascript developer, I tried to implement the dependency injection, by using the tool introduced in rbuckton/ReflectDecorators (https://github.com/rbuckton/ReflectDecorators.git). However, I just found the following code will be compiled into an anonymous class declaration in js file.

[code]
The decorator @log is quite simple, it is to print the class name.
[code]
The generated javascript

[2016-01-09 12:31] SetTrend commented on #6419
Converting `module` syntax to `namespace` syntax in the bundle file feels reasonable to me, because the file gets loaded completely anyway. It doesn't make sense to retain the costly `module` syntax and infrastructure in a bundle file.

[2016-01-09 12:47] Lenne231 opened #6421 "A way to separate type annotations from implementation."
It would be nice if we could separate the type annotations from the implementation. This would make the code much more cleaner and we could write plain JavaScript in many cases.

Instead of

[code]
this should work as well:

[code]

[2016-01-09 13:09] falsandtru commented on #6421
In this case, you should use `declare let` instead of `type`. `var/let/const` and `type` have different namespace for declarations and typings.

See https://github.com/Microsoft/TypeScript-Handbook/blob/master/pages/Declaration%20Merging.md#basic-concepts

[code]

[2016-01-09 13:49] jonaskello commented on #2341
+1

[2016-01-09 14:10] DanielRosenwasser commented on #6415
@falsandtru with these issues you'll have to be specific about what the expected behavior is and what the current actual behavior is. Can you clarify that?

[2016-01-09 14:17] falsandtru commented on #6415
Sorry, I update the description.

[2016-01-09 14:30] DanielRosenwasser commented on #6417
`import foo = some.entity` is an *alias* to `some.entity`. Basically, `foo` takes on all meanings (i.e. value, type, and namespace semantics. It's useful if you have some long that is a little too cumbersome to type out. This functionality is unfortunate in its keyword usage.

Before we continue, just know that namespaces used to be called "internal modules", and modules used to be called "externa

[2016-01-09 14:32] DanielRosenwasser commented on #6417
You can [see our handbook section on *ambient modules*](https://github.com/Microsoft/TypeScript-Handbook/blob/008c280f886daad2bcf16ad0fca05ee6258deb14/pages/Modules.md#ambient-modules) for more details.

[2016-01-09 14:36] DanielRosenwasser commented on #6415
So the reason we don't error on here with `noImplicitAny` is because in you're in an ambient context. Private members in classes are intended to be described as `any` because the idea is to hide implementation details, and if you check out our generated `.d.ts` files, you'll see that they we use `any` for private-declared properties.

[2016-01-09 15:31] SetTrend commented on #6417
Thanks, @DanielRosenwasser for clarifying.

The handbook doesn't give this information, I'm afraid. Read the suggested page before.

[2016-01-09 15:31] #6417 closed

[2016-01-09 15:33] TheLevenCreations commented on #6420
btw, I am using tsc 1.7.5, target es6

[2016-01-09 15:39] falsandtru commented on #6415
I know your idea. Private instance members in classes have inaccessibility.

[code]

but private static members are not.

[code]

This accessibility seems not intended design because this accessibility of private static members escapes inaccessibility of private instance members. ImplicitAny type is visible from implementations. Indeed, `a` and `b` variables have implicitAny type. These implicitAn

[2016-01-09 15:53] SetTrend opened #6422 "Example code for intermixing namespaces an exports?"
Just for the sake of spreading knowledge:

What are valid combinations/permutations of `namespace`, `module` and `export`?

For instance: I don't seem to be able to export something from within a namespace.

I apprehend it's discouraged to do so. Yet my question is solely aiming at getting a comprehensive declaration of the TypeScript language syntax of how the above three keyboards can be intermi

[2016-01-09 16:17] ahejlsberg commented on #4518
@JirkaDellOro Explicit type annotations still aren't supported. The type of a variable declared in for-in is always string, and the type of a variable declared in for-of is always the element type. Allowing annotations would leave the impression that other types are possible which isn't really the case (the only types you could write would be ones that are *less* specific, which isn't really usefu

[2016-01-09 16:26] Lenne231 commented on #6421
@falsandtru This compiles but does not generate valid JavaScript, "let" is missing.

[2016-01-09 16:53] JirkaDellOro commented on #4518
@ahejlsberg Since I'm using TypeScript to teach programming to beginners, having this inconsistency in the language is very irritating. We use explicit type annotations to get them thinking about data types, and since they need the competence when switching to other languages. All is well, just in those loops and in the catch statement, we have exceptions which are not explainable. It doesn't make

[2016-01-09 18:34] falsandtru commented on #6421
Sorry, fix it to:

[code]

emit:

[code]

[2016-01-09 18:34] nisimjoseph commented on #4892
+1

[2016-01-09 18:36] arfmann opened #6423 "Promise.all overloads listed in wrong order"
I think this is a valid assignment:

[code]
And it appears to work as I expect, but TypeScript is giving the following warning:

Tuple type '[number, number]' with length '2' cannot be assigned to tuple with length '3'

[2016-01-09 18:54] moostad commented on #6374
I'm using VSCode on Mac for editing, Node.Js for backend and React based app for frontend.
Basicly I want to TSX -> ES6 -> Babel -> ES5 for frontend which in my experience make smallest file size. so to make this happening there is 2 common workflow for build system:

1. using combination of gulp (htmls, styles) and browserify ( javascripts )
2. using webpack

webpack is looks faster to setup and

[2016-01-09 20:23] erykwarren opened #6424 "Chained module resolution during npm install"
(related to #2338)

## Problem
Install a TS module _A_, itself depending on another TS module _B_. `npm` flattens the dependency structure under `node_modules` and therefore the resolution algorithm implemented by #2338 is broken when module _A_ is built.

## How to repro
1. clone https://github.com/erykwarren/ts-6424-repro
2. npm install

The project includes dependency on module ts-lib2, which i

[2016-01-09 20:31] aguzubiaga opened #6425 "Suggestion: Custom class extend methods"
It would be great if a class could have a method to handle inheritance when another class extends it, like `self.inherited` in Ruby.

I think it could be helpful for example if I want to keep track of inherited classes, setup something static, or enable static getter/setter inheritance by using `Object.getOwnPropertyDescriptor` / `Object.defineProperty`.

I know I can implement my custom `__extend

[2016-01-09 21:00] corneliutusnea commented on #6409
On Gitter there was a recommendation to use `--moduleResolution [node|classic]`.
The only thing that the option seems to do is fix the import during the compilation and change the way the paths are resolved. It does not correctly adjust the exported paths to respect the different loaders.

[2016-01-09 21:12] aguzubiaga commented on #6425
Maybe naming it `extend` can lead to unexpected calls to methods already defined with that name, is there a chance to use Symbols? Similar to `Symbol.iterator`

[2016-01-09 21:31] andy-hanson commented on #186
It would be nice to have a `sealed` keyword on an abstract class to indicate that the only subclasses intended to exist are those defined in the same project.

That way you could do this:

	sealed abstract class Super {}
	class Sub1 extends Super {}
	class Sub2 extends Super {}

	function f(s: Super) {
		if (s instanceof Sub1) {

		} else {
			// s is a Sub2
		}
	}

[2016-01-09 22:01] vladima commented on #6424
it looks like this issue is fixed in out latest bits, can you give a try to our nightly build (`typescript@next`) to see if you still can see this problem.

[2016-01-09 22:02] ivogabe commented on #186
@andy-hanson You can do that with a union type:
[code]

[2016-01-09 22:52] erykwarren commented on #6424
It works very nicely. Thanks @vladima.

[2016-01-09 23:45] andy-hanson commented on #186
@ivogabe The idea is that one should be able to define the class (with methods) and the type as the same thing, rather than having separate `class Super` and `type SuperT = Sub1 | Sub2`.

[2016-01-10 00:18] FlorianDold opened #6426 "invalid code generated with target "es2015" and "system" modules"
The following code

[code]
is compiled (with `tsc test.ts -m system --target es2015`) to

[code]

which is wrong, since the actual definition of `MyClass` is not in scope of `myFunction` anymore.

Compiling down to es5 works as expected with respect to the scope of the class.

[2016-01-10 02:32] blakeembrey opened #6427 "Node module resolution resolving regardless of `typings` field"
I've run into this a bundle of times now and usually just force myself back to using classic module resolution, and looking into the code briefly yields no reason this should be happening.

Basically, I have a lot of modules like [popsicle](https://github.com/blakeembrey/popsicle) which **does not** specify a `typings` field in `package.json`. However, once I install it using [typings](https://git

[2016-01-10 02:46] jbrantly commented on #6374
@moostad Have you taken a look at [ts-loader](https://github.com/TypeStrong/ts-loader)? It's actively maintained and supports the advanced module resolution scenarios that webpack provides.

[2016-01-10 03:34] vladima commented on #6427
a self contained repro will definitely be very helpful.

[2016-01-10 03:53] blakeembrey commented on #6427
@vladima Created https://github.com/blakeembrey/typescript-6427-repro.

[2016-01-10 03:54] blakeembrey commented on #6427
I'm also not sure if I'm running into a different issue, but should `export * from '...'` also export the default binding? I'm just going to read the ES6 module spec now to figure it out.

[2016-01-10 04:06] dougludlow commented on #6012
Link to an issue on stackoverflow that show's what we get in vscode and visual studio 2015 because typescript doesn't know how to resolve jspm packages:

http://stackoverflow.com/questions/34462132/vs-code-cant-use-jspm-packages-systemjs-cant-see-angular2-ts-files

[2016-01-10 04:08] andy-hanson opened #6428 "TypeError: Cannot read property 'declarations' of undefined"
The following code (in file `Foo.ts`) causes the compiler to crash:

	import Foo From './Foo'
	export default Foo

(Yes, that's a capitalized `From` and it tries to export itself.)

The error is:

	TypeError: Cannot read property 'declarations' of undefined
	    at /home/andy/git/TYPESCRIPT/node_modules/typescript/lib/tsc.js:13033:58
	    at Object.forEach (/home/andy/git/TYPESCRIPT/node_modules/t

[2016-01-10 04:36] vladima commented on #6427
tl;dr; current behavior is by design.

The first step that compiler is doing is building the list of files that it needs to compile. This list is computed by doing depth first traversal starting from root files ( in your case it will be `src/index.ts` and `typings/main.d.ts` ) and following tripleslash references and module specifiers from imports and exports. Note that imports and exports in ambi

[2016-01-10 04:49] vladima commented on #6428
good catch, thanks!
repro without syntax errors (compile with `-d`)
[code]

[2016-01-10 04:53] blakeembrey commented on #6427
Why does it try to resolve it? It's already been defined as an ambient module. Is there a way around this? It kind of makes it impossible to publish a module that has dependencies on modules that don't have type definitions.

[2016-01-10 05:12] vladima commented on #6427
at the step when compiler collects list of files it in general has no idea whether some module specifier correspond to ambient or real external module (i.e. because you have not yet seen file that will bring this ambient module into scope).

What I can think of off the top of my head is something like this
[code]

Every module will effectively be split into two parts:
- one with mangled name - use

[2016-01-10 05:20] blakeembrey commented on #6427
@vladima You can't do that (see edit 2) because mangling it means it'll break imports. The point of Typings is to allow things like `require('react/addons/...')`, which mangling it will break.

[2016-01-10 05:26] vladima commented on #6427
imports wont be broken since real module `react/addons` in your `d.ts` file will be represented by two ambient modules
[code]

in user code `require("react/addons")` will be resolved to the second part so everything should work

[2016-01-10 05:28] blakeembrey commented on #6427
@vladima Also, I don't quite understand the first paragraph - can you explain it even more plainly please? Wouldn't it be possible to introduce a restriction where it doesn't look for the file when the corresponding ambient declaration exists in the same file? To find those imports would mean it's already loaded the corresponding ambient declarations anyway, so I don't understand what it means whe

[2016-01-10 05:33] blakeembrey commented on #6427
I don't think the prefixing hack is reasonable or even possible. It'll only solve the import from within the ambient declaration itself, but not the users code. Once the user does `import x from 'react/addons'` it'll fail if there's a local `.d.ts` file again since a dependency might not be typed globally again. It's just pushing the problem down a step. I'd really like to preach not resolving def

[2016-01-10 09:08] joergwasmeier commented on #4892
You can also look at the haxe macro system how they implemented it. http://haxe.org/manual/macro.html

[2016-01-10 10:14] mareek opened #6429 "trying to set a read only property doesn't cause a compiler error"
If one try to set a property that hasn't any getter defined, the compiler doesn't emit any error or warning and the code silently fails à runtime.

example:
[code]

[2016-01-10 10:18] tinganho opened #6430 "Incorrect narrowing of unions"
[code]

[2016-01-10 10:49] kitsonk commented on #6430
I think it is because `class A` and `class B` are the same structural type.  This works as expected:

[code]

And so technically, the first case works as designed.

[2016-01-10 10:52] kitsonk commented on #6429
Essentially a dupe of #295 (and other issues) but related to/would be fixable by #12 being resolved.

[2016-01-10 11:16] tinganho commented on #6430
I think they should narrow based on "symbolic type" behaviour.

Here is my original example. And the types are not structural the same:
[code]

[2016-01-10 13:13] tinganho opened #6431 "Static definitions should "intersect" with "this.constructor""
I think static definitions should intersect with the `this.constructor`?
[code]

[2016-01-10 14:22] ahejlsberg commented on #6430
Your `Model<T>` class never uses `T` and is effectively equivalent to `{}`. For this reason, `Model<any>` is a supertype of `ModelData`, so `ModelData[] | Model<any>[]` gets reduced to just `Model<any>[]`.

There's a discussion of support for nominal typing in #202.

[2016-01-10 14:22] #6430 closed

[2016-01-10 14:34] ahejlsberg commented on #6423
Issue is that the overloads for `Promise.all` are listed in the wrong order in lib.es6.d.ts. The highest arity overloads should come first. Currently the compiler just picks the first overload because a tuple with more elements is assignable to a tuple with fewer elements as long as the first elements match.

[2016-01-10 14:46] valorkin commented on #765
@jedmao how did you did it?
I just tweeted, need to show how much TS is used now:
https://twitter.com/valorkin/status/686197003743698945
And how we will appreciate support of it :)

[2016-01-10 16:07] tinganho commented on #6430
Thanks @ahejlsberg . In my real usecase, the abstract class `Model` has many properties and one of them was the `id` property, which made it a supertype of `ModelData`. Though it wasn't so clear `Model` was a supertype of `ModelData`. Just pure coincidence.

[2016-01-10 17:47] kitsonk commented on #6431
Dupe of #3841

[2016-01-10 17:53] tinganho commented on #6431
yes I think so.

[2016-01-10 17:53] #6431 closed

[2016-01-10 19:31] erykwarren commented on #6424
@vladima Is there anyway to port this fix in 1.7? If we have to wait for 1.8, what's the workaround?

[2016-01-10 20:35] vladima commented on #6427
there are few reasons for current behavior:
- restrictions imposed by current design - in VS we use separate instances of JavaScript engines to for module resolution and semantic analysis and for performance reasons module resolution use scanner to extract information about imports so it will be significantly more complicated to detect ambient modules using only scanner.
- predictability and consi

[2016-01-10 20:37] vladima commented on #6427
by the way since your package already bundles typings why can't you just use them? I'm not sure that I understand why do you need to repackage separate `.d.ts` external modules files into one file with a bunch of ambient modules.

[2016-01-10 21:37] RReverser commented on #2583
Btw, Edge now support URL constructor - does it mean `lib.d.ts` can be just regenerated from Edge spec as stated above?

[2016-01-10 23:07] blakeembrey commented on #6427
@vladima I can't use the built-in bundle because the dependencies don't have their own packaged typings. I believe I've discussed it offline with the TypeScript team before publishing Typings, and I'm available to do so again.

As for the restriction above, I kind of understand - it's a little unfortunate though. Would it be possible to restrict module resolution behaviour when the ambient declara

[2016-01-11 01:52] greyepoxy commented on #6365
@ahom @mhegazy I was able to work around the issue for me without using @ahom 's fix.

Now that I understand what is going on I actually think the solution I landed on will be better in the long term for my project.

The error  I was running into (and it looks like @ahom is running into as well) is at its core an issue with [Type Compatibility](https://github.com/Microsoft/TypeScript-Handbook/blob

[2016-01-11 03:53] joesonw opened #6432 "Directly import typescript library from 'node_modules'"
Is there any way to directly import a typescript library from node_modules (un-compiled ts project)?

[2016-01-11 04:08] #6432 closed

[2016-01-11 07:06] amir-arad commented on #4031
a big +1 on @jonaskello 's suggestion.
now I'm off to convert my beautiful useless Iterable API into something that eagerly creates long arrays on every invocation, so that it can be used in ```for ... of``` loops.
:disappointed:

[2016-01-11 08:49] jscriptcoder opened #6433 "Naming arrow functions"
Hi there,

Not sure whether this has been already mentioned before (I would be surpirsed if it never was)... Wouldn't it be a good idea to name arrow functions, which is what apparently ES6 does?. Think about the benefits of this in the stacktrace. It's quite useful to have a "named" function in there, instead of an anonymous one ;-)

So, this:

[code]

would be transpiled down to:

[code]

Just t

[2016-01-11 09:24] stepancar opened #6434 ""setting a property that has only a getter" error for safari"
If only getter defined for any property, I dont'have compile errors if i will try to set value to this property, but in safari 5.1.7 (windows)  i catched "setting a property that has only a getter"

[2016-01-11 09:53] roganov commented on #186
@andy-hanson Can't you just override required methods on `Sub1` and `Sub2` (in other words, dynamic dispatch)? Why would you want to check types?

[2016-01-11 10:07] varghesep opened #6435 "outDir option does not copy the ts files"
The **tsconfig.json** file in my project looks like below. I have **outDir** set to *wwwroot/app*. This option copies the **js** files and the **map** files. See the picture.

But this **outDir** option does not copy the **sources** (**ts** files from where **js** files are generated) to the **wwwroot/app** directory, so the debugging can't be done in IE or any browser.

Is this a bug, or should I

[2016-01-11 10:41] opensrcken commented on #186
If I'm not mistaken, ScalaJs has to handle a similar concept.

[code]

compiles to

[code]

[2016-01-11 11:32] redstrike opened #6436 "The recommended way to ignore “property does not exist on value of type”"
I need to override an experiment property in Chrome and encounter this error.
[code]
I found the answers at: http://stackoverflow.com/questions/18083389/ignore-typescript-errors-property-does-not-exist-on-value-of-type. But not sure which one is the right way to go.

[code]
vs
[code]
It seems that TypeScript's docs / deep dive book doesn't mention about the squared brackets syntax.

[2016-01-11 13:29] Thomas-P opened #6437 "Proposal: Real private member for a class using a WeakMap or Map object"
#
## Problem
If I use the private modifier of a class, this would not create a real private member of a class. So I lose the control of reading and writing on this member, because everyone who use the code in javascript are able to read/wirte the member directly.
I am aware that this is due to the desing of Javascript, but I think, we could handle this by using a WeakMap or Map object  for private

[2016-01-11 13:29] MartynasZilinskas opened #6438 "Best way creating npm library."
I have encountered a problem while creating `npm` library with Typescript. I have created a few `react` components. Creating declaration files and then combining all of them in one and declaring the module.

Is there an easy way, to generate files and then only export needed classes and declare npm module?

[2016-01-11 14:21] ahejlsberg commented on #6436
I'd go with the first one. The second one works, but only if you compile without `-noImplicitAny`.

[2016-01-11 14:32] adidahiya commented on #6433
This would also be nice to have for arrow functions used as class methods/properties.

[code]

[2016-01-11 15:15] ToddThomson commented on #8
@joelgwebber , @bryanerayner I've published TsProject 1.2.0-rc.3 to NPM. It now includes proper handling of class inheritance. I've also added a sample minified typescript app to the GitHub repository.

[2016-01-11 15:32] ToddThomson commented on #8
@RyanCavanaugh I'm not sure how my basic support for identifier minimizing and whitespace elimination can be brought to Typescript. It appears to me that what I've provided in TsProject would be easily achievable within Typescript, but it is something that should be designed and implemented by the core group.

[2016-01-11 15:38] lucaswerkmeister opened #6439 "Three minor formatting issues in the Markdown specification grammar"
I found three minor formatting problems in the Markdown spec’s grammar (both in the main text and in the appendix), which make it unnecessarily inconvenient to use the grammar programmatically:
- In _ClassExtendsClause_, there is an extra space before _ClassType_.
- In _EnumMember_, the equals sign is not surrounded by backticks.
- _NamespaceElement_’s last four right-hand sides are surrounded by

[2016-01-11 15:50] #6436 closed

[2016-01-11 15:52] JKillian commented on #6426
I believe that this is the correct behavior @FlorianDold. When you do `export class MyClass { }` you are using a class expression instead of a regular class declaration. In class expressions, the BindingIdentifier portion (i.e. `MyClass`) is optional. If provided, as you did, it is only available for use inside of the class body. ([See bullet point #2 here](https://github.com/Microsoft/TypeScript/

[2016-01-11 16:00] weswigham commented on #6426
`export class MyClass { }` is still a class declaration (with an `export` modifier). Our emit is probably wrong - the declaration within the `execute` function behaves as block scoped (which is normal), but we need to hoist it so its binding is available in the initialization block above. This is probably best done by rewriting the class as a class expression which is assigned to the `var` made ab

[2016-01-11 16:10] JKillian commented on #6426
Thanks for the correction @weswigham. If you did want to export a named class expression, assuming you could do something like `export (class SomeName { });`?

[2016-01-11 16:55] robcube commented on #5744
VS 2015 Update 1: I have the same issue. It compiles to js just dandy when I save the ts file, however when building the solution, it throws the error "VSTSC : tsc.js(764, 13) JavaScript runtime error : Automation server can't create object." Even running in under Developer Command Prompt for VS2015, simply running tsc outputs the same error. TypeScript 1.7.6/WIndows 7

[2016-01-11 17:45] ahom commented on #6365
@greyepoxy Thanks for sharing your solution! I understand that it can be worked around but I think this is a completely valid usecase that Typescript should be able to handle. When you setup a new project, you want to iterate quickly even if it is spread over multiple libraries and an interface is not always desirable and is just annoying overhead for the most simple cases.

In addition, even when

[2016-01-11 17:48] RyanCavanaugh commented on #6433
Can you clarify this part?

[2016-01-11 17:49] RyanCavanaugh commented on #6433
Note that we can't safely name class methods -- a reference to `handleDocumentClick` in the method body must refer to whatever that name means in the enclosing lexical scope is, not the function.

[2016-01-11 17:53] #6423 closed

[2016-01-11 17:54] RyanCavanaugh commented on #6434
Please search for issues before logging a new one - this has been reported dozens of times under many keywords. Root issue is #12.

[2016-01-11 17:54] #6434 closed

[2016-01-11 17:57] RyanCavanaugh commented on #6413
What would be an observable difference between optional and abstract optional?

[2016-01-11 17:58] paulvanbrenk commented on #6392
Yes, I fixed that too. No concrete date for the 1.8 release.

[2016-01-11 17:59] aguzubiaga commented on #6437
I think you mean:
[code]

Instead of:
[code]

I like the idea and the use of WeakMap to take adventage of garbage collection, but wouldn't this be a significant breaking change?

[2016-01-11 18:13] Lenne231 commented on #6421
@falsandtru This does not keep the type annotations and implementation separated.

[2016-01-11 18:23] ahejlsberg commented on #12
I'm going to take a look at implementing something here. My current thoughts are:

* Introduce a `readonly` modifier that can be applied to property and method declarations in interfaces and classes, and infer a read-only property when a class includes only a `get` accessor declaration for a particular property.
* Allow the `readonly` modifier to also be applied to interface and class declarations

[2016-01-11 18:37] RyanCavanaugh commented on #6429
Please search for duplicates before logging issues.

[2016-01-11 18:37] #6429 closed

[2016-01-11 18:38] zhengbli commented on #5773
@rohitverma007 the script has been updated. Can you try with the new content in `addedTypes.json` now? Thank you!

[2016-01-11 18:54] #4835 closed

[2016-01-11 18:56] vladima commented on #4835
fixed in #6406 and #6411

[2016-01-11 19:07] RyanCavanaugh commented on #6433
Consulted with @bterlson and we think this is a spec-affecting behavior, specifically the places where the abstract `SetFunctionName` operation is invoked https://tc39.github.io/ecma262/#sec-setfunctionname

Regular function expressions have very noncomplaint behavior in current runtimes and should probably just be left alone (specifically, Edge, Chrome, and Node all produce an own property of `na

[2016-01-11 19:24] vladima commented on #6424
this issue was fixed in two PRs: #5275 and #5461. I've ported them into release-1.7 in #6441, pinging @mhegazy for his decision if it is safe to take these changes.

[2016-01-11 19:39] kitsonk commented on #12
Isn't that shallow immutability logic the same logic as `const`, therefore relatively straight forward to guard against?

[2016-01-11 19:42] kitsonk commented on #6437
Also, it seems a bit illogical to down emit `class` to ES5 with something that doesn't exist in ES5... Right?

[2016-01-11 19:53] kitsonk commented on #6435
It is not designed to copy the source files.  If you want the source files available, you should do as you suggested and copy them external to the `tsc` compiler.

[2016-01-11 19:57] kitsonk commented on #6438
For an example of something that is built on TypeScript and is distributed on npm, take a look at [RxJS](https://github.com/ReactiveX/RxJS).  There are a lot of considerations to distributing your code on `npm` that are well outside of the scope of just TypeScript.  You need to consider if you will distribute your code as CJS, UMD, ES6 (or even AMD) modules and what types of loaders you expect peo

[2016-01-11 19:58] frankwallis opened #6442 "Performance is 3x slower in typescript@next"
Apologies if you are already aware of this. When running my unit tests for [plugin-typescript](https://github.com/frankwallis/plugin-typescript) against typescript@next I am seeing a ~3x performance slowdown when type-checking:

[code]
output 1:
[code]

output 2:
[code]

[2016-01-11 20:13] mhegazy commented on #6442
What version of node are you seeing this on?

[2016-01-11 20:15] frankwallis commented on #6442
I'm using v5.1.1

[2016-01-11 20:33] RyanCavanaugh commented on #6437
As usual I have to question this assumption

Why is this a problem that is effectively solved with the amount of code you're proposing?

If you're concerned about *accidental* mutation of private members, there's just as much of a problem with accidental mutation of public members. And control over enumerability seems like a more tractable solution in general for other code mistakenly messing with

[2016-01-11 20:34] Thomas-P commented on #6437
Thats right, for es5. Therefore you had to use a shim, but the idea of supporting real private members, by setting them into a WeakMap or a Map should also work with objects created from a class.

The idea of private members is that you have control over it. And while typescript already knows where a private member is used in the implementation, it should be able to choose the reference from the m

[2016-01-11 20:38] RyanCavanaugh commented on #6418
@zhengbli can you confirm?

[2016-01-11 20:49] Thomas-P commented on #6437
@RyanCavanaugh I know that it is possible to mutate the states, it is just an idea for handling good designed class interfaces. By writing interfaces you want that others use the documented way and not doing creepy things with the infrastructure behind. It is  just an idea.

[2016-01-11 20:50] bterlson commented on #6323
Quoth ES6:

this should be an early syntax error.

[2016-01-11 20:54] zhengbli commented on #6418
The reason it is `any` now is that technically it returns a `WindowProxy` object, for which the spec does have a definition.
However according to the [spec](http://www.w3.org/TR/2009/WD-html5-20090423/browsers.html#windowproxy):

So it might be ok to use `window` instead in `lib.d.ts`

[2016-01-11 21:01] mhegazy commented on #6442
i am getting a lot errors running `npm test` locally.. this is what i am seeing:

[code]

[2016-01-11 21:02] #6435 closed

[2016-01-11 21:06] kitsonk commented on #6437
So you want to impose a runtime overhead on everyone?  How do you suggest that you ensure everyone what the shim loaded at runtime?

The emit when targeting ES6 is:

[code]

How would you suggest this changing?

[2016-01-11 21:17] RyanCavanaugh commented on #6437
I've had this discussion in a lot of places since we launched. I still don't understand the *problem* that is being solved.

It's like complaining that the lock on my front door is susceptible to lockpicking -- the fact that the door is locked is enough to keep honest people out, and the door is susceptible to a sledgehammer regardless of the design of the lock. There isn't any obvious gain in ove

[2016-01-11 21:21] mhegazy commented on #6432
`import * as lib from "library";`?

[2016-01-11 21:22] SamuelEnglard commented on #6437
As someone who suggested a way to have "true" private members in the past and was successfully convinced it was pointless by @RyanCavanaugh, I think the idea is pretty cool...but functionally pointless.

Think of C#, massively popular language that has "true" private members... yeah not. I can't keep track of the number of times I've broken that using Reflection and Reflection.Emit.

The idea of P

[2016-01-11 21:30] mhegazy commented on #6382
what does "false define()" mean? can you provide the expected output?

[2016-01-11 21:32] mhegazy commented on #6419
What does "Refactor bundled --outFile result" mean? can you provide more details.

[2016-01-11 21:35] mhegazy commented on #6439
@lucaswerkmeister, the sepc is created from the word doc in `doc\TypeScript Language Specification.docx` and running `jake generate-spec`. PRs are welcomed.

[2016-01-11 21:43] mhegazy commented on #6415
This is a good point @falsandtru. I do not think we thought of that before. enabling no-implicit-any checks on these declarations would be a breaking change now. Given that this pattern is not common, I wounder if it is worth it though.

[2016-01-11 21:44] mhegazy commented on #2583
We refresh the definition file from that of IE/Edge every few month. we have not done this in a while. @zhengbli has something in the pipeline, not sure if it includes this change though.

[2016-01-11 21:49] mhegazy commented on #6425
this would be outside the scope of typescript. the `__extend` function is designed to be extensible/replaceable. so your solution of definition a new `__extends` should work just fine.

[2016-01-11 21:49] #6425 closed

[2016-01-11 21:50] mhegazy commented on #6390
PRs are welcomed!

[2016-01-11 21:55] lucaswerkmeister commented on #6439
Well, I don’t have Microsoft Office, and I don’t know what LibreOffice will do with the document – and `doc/README.md` seemed to suggest that you’d prefer to edit the docx document yourselves anyways. But sure, I can submit a PR and we’ll see how it goes.

[2016-01-11 22:13] RyanCavanaugh commented on #6416
There's not really anything we can do here, unfortunately. This is allowed because of the combination of function argument type bivariance (which we have to have) and the allowed variance of "a function accepting fewer parameters" (which we have to have).

This is only tangentially related to #4241 -- that one is about contextual typing, but there's no impact of contextual typing in this code.

[2016-01-11 22:13] #6416 closed

[2016-01-11 22:23] falsandtru commented on #6416
It is unfortunate. Thanks.

[2016-01-11 22:36] #2213 closed

[2016-01-11 22:37] #1846 closed

[2016-01-11 22:47] falsandtru opened #6443 "Disallow inherits of declaration classes to implementation classes"
The following code always fails.

[code]

emit:

[code]

cases:

[code]

[2016-01-11 22:48] RReverser commented on #2583
Hmm... wouldn't it be possible to somehow automate this? For example, auto-generate `lib.d.ts` from WebIDLs?

[2016-01-11 22:49] mhegazy commented on #6442
looks like @vladima have this repro working locally.

[2016-01-11 22:49] olmobrutall commented on #4835
Awesome!

[2016-01-11 22:54] mhegazy commented on #2583
This is what is happening in https://github.com/Microsoft/TSJS-lib-generator. PRs are always welcomed to make the generation more efficient/standard-compliment.

[2016-01-11 23:01] RyanCavanaugh commented on #6443
The point of `declare` is to tell the compiler about a runtime object not defined by TypeScript. If you lie to the type system about what exists and what doesn't, of course things might break.

[2016-01-11 23:01] #6443 closed

[2016-01-11 23:05] falsandtru commented on #6443
Ah, yes. Thanks.

[2016-01-11 23:10] lucaswerkmeister commented on #6439
Hm, doesn’t look like anything’s happening – it prints a `cscript` command and then exits. Is this a Windows-only build?

[2016-01-11 23:10] RReverser commented on #2583
Oh cool, thanks for the link to the repo! But as for "we refresh the definition every few months" - is there any chance to automate this part (as pre-release script for TypeScript?) so that `lib.d.ts` would be always up-to-date?

[2016-01-11 23:13] #5543 closed

[2016-01-11 23:31] mhegazy commented on #6439
i believe it needs the MS Word API. never mind then, I, or some one with MS Office can do it.

[2016-01-11 23:34] lucaswerkmeister commented on #6439
That’s probably better, thanks. I could give you my docx (in fact, why not: 919bae1fef314bee40f601fa5b42e74ffc85bc31), but given that LibO managed to shrink the file by about 35%, it’s probably useless to you.

[2016-01-11 23:47] #6323 closed

[2016-01-11 23:59] mhegazy commented on #6413
you can do this today with class an interface merging:

[code]

[2016-01-12 00:13] DanielRosenwasser opened #6445 "Narrowing does not work for variables typed with type parameters"
[code]

Currently, this errors because both `x` and `y` still have type `T`, so they are missing the `d` property.

[2016-01-12 00:34] joewood commented on #12
Could `readonly` also be applied to parameter types as a type modifier providing a read-only reference to an existing object? Only getters and `readonly` members would then be available to that function. e.g.:
[code]
In a similar way to C++ `const`. Without a type-modifier I suspect we'll end up writing interface definitions twice, once for immutability and again for mutability.

[2016-01-12 00:51] mhegazy commented on #6421
can you elaborate on how this is useful?

[2016-01-12 00:51] craiglathrop218 commented on #3215
+1 (This is especially a pain in Angular2)

[2016-01-12 00:54] mhegazy commented on #2583
These files come from IE/Edge. so we do it when they have a new version available; so we have little control over that. @zhengbli can talk more about the specifics of the next update.. i think he already picked up a new version.

[2016-01-12 01:02] mhegazy commented on #6409
I do not think this is something the compiler should do. the compiler will not touch your module names, nor should it, as module names are not strictly file names, e.g. consider [requireJS plugins](http://requirejs.org/docs/plugins.html). What the compiler is trying to do is to to infer from your imports the location of the module at design time.

[2016-01-12 01:05] mhegazy commented on #6422
You can find more information about `module`, `import` and `export` at: https://github.com/Microsoft/TypeScript-Handbook/blob/master/pages/Modules.md
and you can find more information about `namespace` at: https://github.com/Microsoft/TypeScript-Handbook/blob/master/pages/Namespaces.md

Give these pages a look and let us know if you still have unanswered questions.

[2016-01-12 01:09] siulung4073 commented on #1236
+1

[2016-01-12 01:54] ahejlsberg commented on #12
@kitsonk The difference between `const` and `readonly` is that it isn't possible to alias a `const` and therefore you're guaranteed it will never be mutated. With `readonly` you can fairly easily create a type with all read-only properties that aliases an object with read-write properties. In that scenario it is still *possible* for mutations to happen, it's just that *you* can't cause them.

@joe

[2016-01-12 02:01] erykwarren commented on #6424
@vladima Thanks for pushing this. However, I tried building a custom TS with the patch in 6441, and it didn't solve the issue....

[2016-01-12 02:21] yuit commented on #6386
@dziedrius Thanks for reporting this! I will get the tag removed. Sorry for confusion here

[2016-01-12 02:21] #5953 closed

[2016-01-12 02:51] joewood commented on #12
@ahejlsberg maybe I not following, but wouldn't `push` be inaccessible because it wouldn't be marked as `readonly` because it mutates. Whereas functions like `slice` would have a `readonly` modifier, or doesn't it work like that.

[2016-01-12 03:31] falsandtru commented on #6415
The TypeScript type system policy is a balance, but no-implicit-any checks is probably not. It checks is desired to be perfect. I think that the next major version up to 2.0 is a good chance for breaking changes. If this pattern is not common as you say, this breaking change is easy. TypeScript can get more correct no-implicit-any checks easily.

[2016-01-12 03:40] schalk-b commented on #2491
+1

[2016-01-12 03:42] tinganho commented on #6413
@mhegazy your trick seem to have solve my issue.

Though I think defining members and having some of them on a interface declaration and some of them in the class declaration is quite confusing. Besides there is some life-cycle methods that I don't want to expose publicly. I guess your solution only works with public members?

I guess this could be said with non-optionals as well? I guess the noti

[2016-01-12 03:52] rigdern opened #6446 "TSX: Can't use a component stored in a variable"
### Repro

Suppose I have a component called `MyComponent`.

Using `MyComponent` like this works:

[code]

but storing `MyComponent` in a variable and then trying to use it does not:

[code]

It results in the following error:
[code]

### Workaround

Instead of using TSX, use `React.createElement`:

[code]

[2016-01-12 04:34] erykwarren commented on #6424
@vladima Forget what I wrote, my test was wrong. It works! Thanks a lot.

[2016-01-12 06:22] vladima commented on #6446
`anAlias` is an intrinsic JSX element since [it starts with lowercase letter](https://github.com/Microsoft/TypeScript/wiki/JSX#type-checking). Intrinsic elements are looked up on [JSX.IntrinsicElements](https://github.com/Microsoft/TypeScript/wiki/JSX#intrinsic-elements)  interface and in your case it presumably does not have member `anAlias`. Try making it upper-case so it will be treated as [val

[2016-01-12 06:43] RyanCavanaugh commented on #6446
Vlad covered it -- this is the same behavior you'd see with the regular JSX transformer (lower-case identifiers are treated the same as `div` or `span`)

[2016-01-12 06:43] #6446 closed

[2016-01-12 07:37] RyanCavanaugh commented on #12
It's probably worth breaking down several of the concepts of readonlyness that some languages have so we can clarify which would and would not exist:

1. Is the object I'm referencing *mutable* or *immutable* ? i.e. am I allowed to do things to this object which mutate its state, via this reference?
2. Is this reference (primitive or otherwise) a *mutable* reference or an *immutable* reference? i.

[2016-01-12 07:46] kitsonk commented on #12
...and if the user wanted more run-time immutability they could:

[code]

TypeScript hasn't "tracked" that type of immutability to date and I suggest the proposal for `readonly` also would just leave that behaviour to the runtime?

[2016-01-12 07:53] rigdern commented on #6446
Thanks. I was not aware of the distinction between intrinsic and value-based elements and I didn't know that the casing of the first letter was significant.

[2016-01-12 08:13] CEikermann opened #6449 "Array return types are not typesafe"
Hey,

recently I found out that the compile does not check the types of classes in a array. I have created a example which should generate a compile error, but currently it does not.

http://www.typescriptlang.org/Playground#src=class%20BaseClass%20%7B%0A%09%0A%7D%0A%0Aclass%20ExtendedClass%20extends%20BaseClass%20%7B%0A%09%0A%7D%0A%0Aclass%20NotExtendedClass%20%7B%0A%09%0A%7D%0A%0Aclass%20Test%20

[2016-01-12 08:20] jscriptcoder commented on #6433
Hi @RyanCavanaugh, answering your question... as far as I know in ES6 if an arrow function is defined on the right-hand-side of an assignment expression, the ‎engine will take the name on the left-hand-side and set the arrow function's ".name" based on that

Thanks

[2016-01-12 08:32] welefen opened #6450 "export default class compile error"
[code]

compiled code is:

[code]

compile command is `tsc --module commonjs --target ES6 default.ts`, TypeScript version is 1.7.5

[2016-01-12 08:45] welefen commented on #6450
when set --target ES5, it's correct

[2016-01-12 09:24] saschanaz opened #6451 "Indentation issues on multiline call expressions"
[code]

[2016-01-12 09:32] samvloeberghs commented on #1927
@NoelAbrahams can you elaborate why testing should be seperated from your code? And more about why it's best practise? I for example put my unit test file right next to the file/code I'm testing. That saves me a lot of time and frustration looking for what code I'm testing exactly.

[2016-01-12 09:35] simonh1000 commented on #6012
+1 - this is really a pity as it felt that systemjs was the anointed package manager for Angular2, together with Typescript, but if they don't all play nicely together....

[2016-01-12 09:35] NoelAbrahams commented on #1927
@samvloeberghs, quote from my comment above:

[2016-01-12 11:42] Artazor commented on #563
It would be great for splitting aspects of the same class especially in React
+1

[2016-01-12 11:47] hoqhuuep opened #6452 "This typing with intersection types"
I am unsure if this is a bug, intended behavior or not yet implemented. Please advise.

## Simple Example

I am using TypeScript 1.7.5 which has support for "intersection types" and "this typing". In the below code, I would expect the type of `v2` to be `A & B`. However it actually has type `A`.

[code]

## More Useful Example

In the code below I would expect `d` to have type `Extendable & B & C`

[2016-01-12 12:05] aguzubiaga commented on #6425
Ok, but how I replace the "__extends" function of my API users?

[2016-01-12 12:14] rubyboy commented on #6012
Would definitely like to see this solved.
JSPM is awesome!! So we're unwilling to give up on it :)

FWIF, it's still possible to use it properly with a bit of a workaround. To add to the one described by @giovannicandido above, we are using a combination of the Typings project (formerly TSD) and npm. This is only required for development time IDE support. Check out our [angular2-redux-example](htt

[2016-01-12 12:38] aleksey-bykov commented on #6449
TypeScript uses structural typing, it means that any 2 types are considered the same as long as their shape is the same. Shape is a set of properties with their types.

The shape of the base class (no properties) is the same as the shape of the derived class (no properties) is the same as the shape of unrelated class (no properties).

[2016-01-12 13:10] CEikermann commented on #6449
Thank you for the explanation.

That is totally correct, after I have added a private property to the base class the compile detects the invalid usage of NotExtendedClass class.

http://www.typescriptlang.org/Playground#src=class%20BaseClass%20%7B%0A%09%0A%7D%0A%0Aclass%20ExtendedClass%20extends%20BaseClass%20%7B%0A%09%0A%7D%0A%0Aclass%20NotExtendedClass%20%7B%0A%09%0A%7D%0A%0Aclass%20Test%20%7B%0

[2016-01-12 13:18] Avol-V commented on #12
@ahejlsberg
Maybe your `readonly` modifier is not the same as `const`/`final` modifier in classes, that me and some other people expect.
I'm looking for ability of creating constants in classes such as in other languages and as we can see in javascript standard objects: `Node.ELEMENT_NODE`, `XMLHttpRequest.DONE` and other (in js we also can have access to these constants from instances, because of

[2016-01-12 13:40] #6424 closed

[2016-01-12 13:46] raveclassic commented on #12
Such a long discussion and finally things become clearer!

@RyanCavanaugh All that's on the table is correct but there's a small thing I want to mention about - the difference in getter/setter accessors visibility.

I agree that an object property can have no setter:
[code]

I think this is clear. But here a bit more complex example that describes the problem:
[code]

Here, property `updatedAt` ac

[2016-01-12 13:51] frankwallis commented on #6442
There was a paths issue when running the tests on windows which I have fixed now. I think there is still a paths issue causing it to type-check the default lib on windows, but I need to investigate that further.

Anyway I'm glad you were able to reproduce it and I will try out the fix when it comes through, thanks.

[2016-01-12 13:58] joewood commented on #12
@RyanCavanaugh yes, understood. My two requests are really:

**Type Modifier**
Not having a type modifier on a reference (no. 2 above on your list) will mean that if you want to pass around an immutable reference to an object you will end up having to duplicate the interface definition with a simple `readonly` before the declaration. That seems a little frustrating, especially given how popular im

[2016-01-12 14:19] bartvanderwal commented on #1927
@samvloeberghs @NoelAbrahams I thought about this too.

### My fifty cents
I normally follow [John Papa's style](https://github.com/johnpapa/angular-styleguide#organizing-tests) to mix tests/specs and regular code. Otherwise you get two hierarchies within `app/` and `test/` that you also need to keep in sync.

However the standard .NET approach is to have a separate test folder (e.g. File -> New p

[2016-01-12 14:24] krimple commented on #1927
Given there are so many people looking for a resolution, I realize that the team put it below other things on the priority list, but it makes zero sense to have to edit tsconfig.json every time I add a new TypeScript file to a project. This reminds me of Java Struts with the struts Config file. It is not flexible when you are working at speed and have to keep remembering to add a line to a file.

[2016-01-12 14:39] glen-84 commented on #1927
@krimple & others,

It's in development (https://github.com/Microsoft/TypeScript/pull/5980) and [scheduled](https://github.com/Microsoft/TypeScript/wiki/Roadmap#20) for TypeScript 2.0, so we just have to be patient.

[2016-01-12 14:42] samvloeberghs commented on #1927
@glen-84 great! thx for the update

[2016-01-12 14:45] rogierschouten opened #6453 "Typing (string[] | string[][]) not recognized properly"
Hi all,

I have two small examples that I expected to be equivalent but tsc accepts only one:

Working example:
[code]

Not-working example:
[code]

[2016-01-12 14:51] matijagrcic commented on #4835
@vladima Awesome work! Do we need to wait for a particular VS update or can we just use latest TypeScript? :shipit: