[2016-06-23 09:09] kitsonk commented on #9132
#6802 is broad, but likely the right place.  I will mention it there too that if that were the case, like this one, not all of these errors are fatal and even in an IDE.  I suspect the `import 'foo.js';` use case is in a `.ts` file is often used to load external libraries at run-time which are often not located in a resolvable location at run-time and that change in behaviour would have some signi

[2016-06-23 09:14] kitsonk commented on #6802
From #9132, it is clear that point 2 and 3 are valid for these type of issues.  When importing just for emitting purposes (e.g. `import 'foo.js';`) some developers would like to be warned that that file is not resolvable, but many others would be expressly importing something that is only resolvable at run-time.  So the ability to a) only have it be a warning and b) allow that warning to be turn o

[2016-06-23 09:48] aleksey-bykov commented on #6028
yes, thanks
On Jun 23, 2016 02:16, "Daniel Rosenwasser" <notifications@github.com>
wrote:

[2016-06-23 09:54] cawa-93 opened #9324 "Wrong type definition"
**TypeScript Version:**
1.9.0
**Atom-TypeScript plugin Version:**
8.11.0
**Atom Version:**
1.7.4
**Code method of Class**

[code]

As you can see from the comments, the type of a variable is not defined clearly in the callback function.
Why is this happening? How can I fix it?

[2016-06-23 10:33] #6028 closed

[2016-06-23 11:11] zuzusik opened #9325 "Property Math is missing on Window interface"
**TypeScript Version:**

1.8.10

**Code**

[code]

**Expected behavior:**
compiled

**Actual behavior:**
error TS2339: Property 'Math' does not exist on type 'Window'

**PS**: `Math.round(1.35)` works as expected, but I want to access it from `window` in order to be able to mock this method in Angular unit tests by mocking `$window` service.

[2016-06-23 11:53] kitsonk commented on #9324
Dupe of #7662 as narrowing is reset across function boundaries as explained in [#7718 (comment)](https://github.com/Microsoft/TypeScript/issues/7719#issuecomment-202684512).

[2016-06-23 12:09] cawa-93 commented on #9324
@kitsonk, thanks for the answer

[2016-06-23 12:09] #9324 closed

[2016-06-23 12:33] life777 opened #9326 "Compiler API compiles arrow functions without curly brackets"
Hi,

I use typescript compiler API for compiling files from [this article](https://github.com/Microsoft/TypeScript/wiki/Using-the-Compiler-API). But instead of setting target in compile options like ts.ScriptTarget.ES5, I read from file system a tsconfig.json file and pass "compilerOptions" from it to the ts.createProgram as a second parameter. I ran into some problem with compiling. If I pass to

[2016-06-23 13:18] sant123 commented on #6748
@yortus Either way is duplicated or not, the solution of private methods would be fine. As you can see, it really hiddes the method but it continues using the ```this``` keyword. Besides, private methods should stay as the name says 'only for the class' and Typescript compilation supports it! But that method can be consumed by normal Javascript because is inside the prototype of the class.

Please

[2016-06-23 14:17] tkrotoff opened #9327 "Equivalent of babel-plugin-react-html-attrs"
When using React and .tsx, keywords [`class` and `for` should be replaced by `className` and `htmlFor`](https://facebook.github.io/react/docs/jsx-in-depth.html#html-tags-vs.-react-components).

Babel features a [plugin](https://github.com/insin/babel-plugin-react-html-attrs) that allows the keywords `class` and `for`. Advantages:
- shorter and proper syntax
- make it easy to copy-paste HTML from d

[2016-06-23 15:07] mpetkov commented on #7431
Can this check be turned off from tsconfig.json?

[2016-06-23 15:21] Christoph-D opened #9328 "Generic constraints are not transitive with polymorphic this"
**TypeScript Version:**

1.8.9

**Code**

[code]

**Expected behavior:**
No errors.

**Actual behavior:**
Error on the line defining class D:
[code]
It seems to me that T should satisfy the constraint 'A' by transitivity because T extends B and B extends A.

[2016-06-23 15:30] agalazis commented on #6615
was this included in any nightly build ?

[2016-06-23 15:33] #8827 closed

[2016-06-23 15:34] kitsonk commented on #6615
@agalazis Yes.  The labels `Fixed` and Milestone of `TypeScript 2.0` indicate that it is in master.

[2016-06-23 17:23] vladima commented on #9326
looks like a dupe of https://github.com/Microsoft/TypeScript/issues/7980 that should be fixed in master. Can you give a try to `typescript@next` on npm to see if you still see this issue?

[2016-06-23 17:30] #9293 closed

[2016-06-23 17:39] life777 commented on #9326
Yes, it still exists. I use "ES5" and "es5" string intead of ts.ScriptTarget.ES5.

[2016-06-23 17:45] mhegazy commented on #9325
The standard library does not support using Window as the global polluter. i.e. adding members on Window are not reflected on the global and adding members on the global are not reflected on Window. The rational is to limit the ways a construct is accessible, and generally accessing global through window is not recommended.

if you want to expose `Math`, or any other declaration on `window`, you c

[2016-06-23 17:45] #9325 closed

[2016-06-23 17:48] RyanCavanaugh opened #9329 "Namespaces not merged from UMD globals"
**a.d.ts**
[code]

**b.d.ts**
[code]

Expected: No error
Actual: Error that `ns` has no member `IFoo` (because the `ns` UMD global gets shadowed rather than merged)

[2016-06-23 17:50] zhengbli commented on #5829
As we are now moving to a more sophisticated solution to get project level diagnostics, this issue should be better solved after 2.0.

[2016-06-23 17:51] mhegazy commented on #9318
`tsc --v` will tell you the version of the compiler. in this case it is `1.8.10`.

the version of the VS plugin can be different, as we ship multiple VS plugins, e.g. 1.8.10 for VS Update 1, and 1.8.10 for VS Update 2, and ow VS Update 3. no changes to the compiler or the language, but there are changes to the plugin. 1.8.31 is what i would expect. so you have the latest.

[2016-06-23 18:00] yuit commented on #6974
Update our decision on to ship node.d.ts or not to ship, the outcome is that we will not ship the node.d.ts as our default lib for the following reasons:

- what version of node.d.ts we will support?
- nodejs constantly ship new version and cause change in node.d.ts, how we will ship the update in node.d.ts that we already ship (especially problematic in VS case)?
- additional effort to maintain y

[2016-06-23 18:44] sandersn commented on #9319
The root problem is that T's `extends` constraint refers to `A`. Then calls to `createActioner` would have to infer `A` by inferring from `T`'s constraint. However, TypeScript doesn't support inferring type parameters whose constraints refer to other type parameters.

This is a duplicate of #7234, which gives the workaround: infer from an intersection of type parameters instead:

[code]

Now calls

[2016-06-23 18:44] #9319 closed

[2016-06-23 18:50] unional commented on #9319
Nice! Thanks for your excellent work. 👍

[2016-06-23 18:51] RyanCavanaugh commented on #9329
Talked with @mhegazy and we think this might be the behavior we want anyway -- `b.d.ts` should convert to UMD or module augmentation

[2016-06-23 19:01] andy-ms opened #9331 "`exports.` should not be emitted when accessing UMD global"
`foo.d.ts`:

    export function doThing(): string;
    export as namespace foo;

`index.ts`:

    foo.doThing();

output `index.js`:

    exports.foo.doThing();

We should just output `foo.doThing()`, without the `exports.`.

[2016-06-23 19:14] #9216 closed

[2016-06-23 19:15] mhegazy commented on #212
We thought we had a fix in  #6739  that solved it. but then that turned out to be invalid. please see @sandersn reply in https://github.com/Microsoft/TypeScript/issues/212#issuecomment-215488970 .

[2016-06-23 19:52] mhegazy commented on #9326
The `createProgram` API does not accept strings.  please see the declaration in https://github.com/Microsoft/TypeScript/blob/c98166ccc7b92e41d09e640fb4f06ac35385d49d/lib/typescriptServices.d.ts#L1852. you need to pass it a valid [`CompilerOptions`](https://github.com/Microsoft/TypeScript/blob/c98166ccc7b92e41d09e640fb4f06ac35385d49d/lib/typescriptServices.d.ts#L1524), and that expects a numeric va

[2016-06-23 19:52] #9326 closed

[2016-06-23 20:02] Artazor commented on #9217
I know about "not playing at the expression level syntax" rule...
but just as a fantasy:
[code]

[2016-06-23 20:26] pelotom commented on #2103
Please consider implementing @JabX's suggestion in the near term. This proposal is stage 3 in all but name, it is _definitely_ going to be a part of the standard, and has very clear and simple semantics. Putting in place the syntactic support for property spreads + naive typing of `Object.assign` would be a very helpful stopgap while we wait for the "right" implementation. Don't let perfect be the

[2016-06-23 20:41] jasongrout opened #9334 "Select .options attribute should be an HTMLOptionsCollection"
**TypeScript Version:**

1.9.0-dev (commit be6c34f1c79ec998c56ae127e572ffa9d7794b51)

**Description**

In https://github.com/Microsoft/TypeScript/blob/be6c34f1c79ec998c56ae127e572ffa9d7794b51/lib/lib.dom.d.ts#L6797, `.options` should be an HTMLOptionsCollection, which would have typed add/remove methods. We have an HTMLOptionsCollection defined at https://github.com/Microsoft/TypeScript/blob/be6c3

[2016-06-23 20:42] dbaeumer opened #9335 "experimentalDecorators Typescript warning always present"
_From @giacomorebonato on June 23, 2016 18:53_

- VSCode Version: 1.3.0-insider
- OS Version: El Capitan

Steps to Reproduce:

1. Create a Typescript project
2. Use decorators (I am using [Mobx](https://mobxjs.github.io/mobx/best/syntax.html))

I keep seeing the warning:
[code]
Where should I set this option? Because my tsconfig.json should be right
[code]

_Copied from original issue: Microsoft/v

[2016-06-23 20:51] yuit commented on #9318
@sumitkm confirmed with @paulvanbrenk  this is a bug. We fixed this in Update3

[2016-06-23 21:02] wallverb opened #9336 "String Literal Types and inference"
Sorry if duplicate - couldn't find it.

**TypeScript Version:**

1.8

**Code**

[code]

**Expected behavior:**

Second call `test(style)` should work

**Actual behavior:**

Error: Type string is not assignable to type 'center' | 'left'

Maybe typescript when seeing `let style = {align: 'center'}` should infer type as `{align: string } | {align: 'center'}`

[2016-06-23 21:03] yuit commented on #8549
Update on the decision we made, after talk with @RyanCavanaugh about this. We made following decision:
- For variable (including const)  that has string type, it will be resolve to anyType (i.e we will not check if the string actually has valid Jsx intrinsic element type).
- For variable with string literal type, we will check whether this string literal type is actually a valid Jsx intrinsic elem

[2016-06-23 21:25] sandersn commented on #9052
In the original code, `Sequence` was not checked against the d.ts, but against itself. Actually, you don't need to ensure consistency of the implementation with the declaration. Just generate declarations with `--declaration` when compiling. Then you just need to ensure that the newly generated declaration is the same as the old version. Use source control for that.

For example, compile with `--d

[2016-06-23 21:34] mhegazy commented on #9336
String literal types are not inferred by default. you have to give a hint to the compiler that you want one of them inferred. so

[code]

the type annotation would tell the compiler that `center` should be of type `center` and not the more general type `string`.

inferring the literal string all the time would be a breaking change, for instance:
[code]

[2016-06-23 22:07] wallverb commented on #9336
Right, that's what I thought, although I was hoping that maybe it could be done on that declaration level only. like `const defaultAlignement = "center";` and `alignement` would become `string | 'center'` and then the condition assignement would still work and my case would be handled.

The use case I'm looking for is for example using styles with React Native,

their default example:
[code]

will

[2016-06-23 22:24] raineorshine commented on #9229
Is there a workaround?

[2016-06-23 22:38] falsandtru commented on #9052
Thanks for the explanation. But I want to manage and design .d.ts file manually because I'm using .d.ts file for API documentation and API visibility control. If you remove the way to ensure type consistency of the implementation with the declaration, it is truly unfortunate.

[2016-06-23 22:40] #2913 closed

[2016-06-23 22:41] aluanhaddad commented on #9229
The simplest solution in this case since you are augmenting of value return to buy another function or constructor use a type assertion for example
[code]

This is not exactly ideal, but since we are changing the value and hence its type by mutating it to add an additional property, it is a reasonable approach.

[2016-06-23 22:43] mhegazy commented on #9334
I am not sure i understand why this changed but, https://github.com/Microsoft/TypeScript/commit/9a55facfe3c1dce852e4192c37d54739e2524638 should show the fixed definition.

[2016-06-23 22:43] mhegazy commented on #9334
should be in typescript@next later tonight.

[2016-06-23 22:47] #1178 closed

[2016-06-23 22:47] mhegazy commented on #9334
I am a bit confused:

from https://www.w3.org/TR/2011/WD-html5-20110525/common-dom-interfaces.html#htmloptionscollection-0

[code]

from lib.d.ts:

[code]

and both has `selectedIndex`.

[2016-06-23 23:00] DanielRosenwasser commented on #9336
We've discussed elsewhere that a syntax that triggers more specific types to be inferred would be ideal, but we try to avoid new expression-level syntax.

[2016-06-23 23:02] drudru commented on #9241
Just as an update, I have been reflecting on this problem some more.

It turns out that there are some problems with this technique that give me some pause.

The problem is that this can introduce a lot of 'boilerplate'

For example, lets say we used the above as the Node/AST for TypeScript. In order to traverse these trees, we would need to write code. Ditto for serialization and deserialization.

[2016-06-23 23:20] mhegazy commented on #9335
I could not get this to reproduce on a simple project. can you share more context.

![animation](https://cloud.githubusercontent.com/assets/8000722/16323264/593ad0e4-395e-11e6-868b-d19a033edb52.gif)

[2016-06-23 23:29] AppShipIt commented on #1564
I'm currently using `async` in ES5 using the compiler service as well. However arrow syntax transpiles missing a closure described in https://github.com/Microsoft/TypeScript/issues/7706#issuecomment-227908547. Would it be worth opening a separate issue as it looks like low hanging fruit?

[2016-06-23 23:31] aluanhaddad commented on #9229
In general, when a module exports a factory function it is good practice to also export an interface which corresponds to the type it returns. When a module exports a class, this is often unecessary because a class is simultaneously a value and a type declaration.

[2016-06-24 00:12] rbuckton opened #9341 "Error with strictNullChecks when destructuring."
Given the following TypeScript:
[code]

However, the destructuring assignment has a default value assigned. This should be treated the same way that strict null checking treats `VariableDeclarationList`, which does not have this error:

[code]

**TypeScript Version:**
nightly

[2016-06-24 00:17] jasongrout commented on #9334
You're right! My mistake.

Should HTMLOptionsCollection extend `HTMLCollectionOf<HTMLOptionElement | HTMLOptGroupElement>` to account for optgroup elements? (I'm not sure if `.options` will list option group elements alongside option elements).

[2016-06-24 00:17] jasongrout commented on #9334
Thanks for the fast response on this!

[2016-06-24 00:28] mhegazy commented on #9334
Can you explain why you think it should be a union?

[2016-06-24 01:25] RyanCavanaugh opened #9343 "UMD modules don't augment correctly"
[code]

Actual:
[code]

Expected: No error

[2016-06-24 01:27] RyanCavanaugh commented on #9343
Oops not repro

[2016-06-24 01:27] #9343 closed

[2016-06-24 01:45] jiaweihli commented on #8464
I'm not sure this can be implemented as a library - what did you have in mind?

[2016-06-24 03:14] uMaxmaxmaximus opened #9344 "Architectural error"
Cant call static owerriden methods,  if i write `Animal.run()` this is code not use `Cat.run` owerriden method. i need write `this.constructor.run()` but it get compilation error.

[code]

solution
---
add keyword `static` for access to current static props, `static` will be alias for `this.constructor` in self methods, and alias for `this` in static methods

and code will be:
[code]

dangers
---

[2016-06-24 03:24] mhegazy commented on #9344
Duplicate of https://github.com/Microsoft/TypeScript/issues/3841

[2016-06-24 03:26] uMaxmaxmaximus commented on #9344
@mhegazy omg "commented on 13 Jul 2015" man

[2016-06-24 03:27] uMaxmaxmaximus commented on #3841
Cant call static owerriden methods,  if i write `Animal.run()` this is code not use `Cat.run` owerriden method. i need write `this.constructor.run()` but it get compilation error.

[code]

solution
---
add keyword `static` for access to current static props, `static` will be alias for `this.constructor` in self methods, and alias for `this` in static methods

and code will be:
[code]

dangers
---

[2016-06-24 03:29] #9344 closed

[2016-06-24 04:59] #8325 closed

[2016-06-24 05:00] zhengbli commented on #8325
Now two new APIs: `SemanticDiagnosticsSync` and `SyntacticDiagnosticsSync` are added.

[2016-06-24 07:47] horiuchi opened #9345 "Error with strictNullChecks when nested function"
**TypeScript Version:**

Version 1.9.0-dev.20160624-1.0

**Code**

`test.ts`
[code]

execute the command `tsc --target es2015 --module commonjs --strictNullChecks test.ts`.

**Expected behavior:**

There is no compile error.

**Actual behavior:**

`test.ts(9,21): error TS2531: Object is possibly 'null'.`

[2016-06-24 09:19] theRemix commented on #3192
+1 would love to have this for angular2 ngrx reducer types.

i've been using this as string enums for now
[code]

[2016-06-24 10:09] kitsonk commented on #9345
Essentially duplicate of #9263 and #7662 as narrowing is reset across function boundaries as explained in [#7718 (comment)](https://github.com/Microsoft/TypeScript/issues/7719#issuecomment-202684512).

[2016-06-24 11:48] hiredgunhouse commented on #2068
You say "I don't think there is a good solution here" but what is your workaround? Manually deleting the old tsc.exe or updating the PATH? Cause apparently I cannot uninstall my 1.0 TypeScript which is causing me problems.
Could you at least suggest what a good workaround is cause you'll have people coming here looking for solutions rather than finding out that you decided to close the issue with

[2016-06-24 12:22] Thomas-P opened #9347 "Pattern for define type of class extends an abstract class."
Hi,

I am looking for a pattern that allows me to create a command pattern object from an classes that extends from an abstract class. The abstract class have some helper method and implement the default values for the properties defined in an interface.
This type of ATest (see below) should the base element, because the getValue method will declared in the classes that extends ATest.
So the quest

[2016-06-24 12:27] andrewvarga commented on #2175
Is there something we can do to move this forward? It seems to be neglected but this would be a very important and useful feature to add.

[2016-06-24 13:24] #9037 closed

[2016-06-24 13:24] #9198 closed

[2016-06-24 13:40] horiuchi commented on #9345
OK, I understand 👍

[2016-06-24 13:40] #9345 closed

[2016-06-24 14:29] amcdnl commented on #3192
@theRemix check out this decorator I wrote - https://medium.com/@amcdnl/enums-in-es7-804a5a01bd70#.z0emdxdy1

[2016-06-24 14:34] moglodek commented on #9336
I understand, thanks for the info

[2016-06-24 14:54] wallverb commented on #9336
Understood, thanks for the info.
Tried to find that discussion but no luck.

That's probably not a new syntax but would it be breaking change if `let a = 'center'` would be inferred as `'center'` string literal while `let b = "center"` would be inferred as string (`'` vs `"`). Seems like it wouldn't break existing code but maybe I'm missing something.

[2016-06-24 14:54] #9336 closed

[2016-06-24 14:56] KoenT-IM commented on #12
Thanks guys! Looking forward to TypeScript 2.0!

[2016-06-24 15:00] sumitkm commented on #9318
@yuit Thanks for confirming. Is it in the current RC? I'll usually wait for RTMs to stabilize before I get to updates, but might make an exception for this one...

[2016-06-24 15:15] aluanhaddad commented on #8529
I still like `.tsx` because it says "This file contains weird syntax that requires additional tools to actually transpile to pure JavaScript.

[2016-06-24 15:20] frogcjn commented on #8529
@aluanhaddad
This is not decided by us, RN refuse to read jsx

[2016-06-24 15:21] aluanhaddad commented on #9347
I think you are looking for
[code]
when you write `typeof ATest`, you are getting the class from whence an instance was created (more or less).

[2016-06-24 15:24] aluanhaddad commented on #9347
Consider
[code]
T is the type `DateConstructor`.

[2016-06-24 15:35] sandersn commented on #9052
I see. You're right, I misread the code -- it's not circular but goes to the d.ts. Unfortunately, typescript definitely does lots of computation to check that two complex structures are structurally identical. I'm not sure there's a way to get around that and still make sure that your implementation perfectly matches your interface.

[2016-06-24 15:36] aluanhaddad commented on #8529
@frogcjn Sorry, I didn't realize they actually rejected a PR to fix it on their end. That is an unfortunate attitude considering the degree of effort from third party developers of both languages (ex: Microsoft: TypeScript) and tools (ex: JetBrains: WebStorm) to support jsx syntax.

[2016-06-24 15:46] aluanhaddad commented on #9322
Working in 1.9.0-dev.20160624-1.0

[2016-06-24 15:49] aluanhaddad commented on #9328
This is not in that version. You need to use a dev build.
`npm i -g typescript@next`

[2016-06-24 15:54] falsandtru commented on #9052
Thanks, I'm waiting for the results of your investigation.

[2016-06-24 16:02] aluanhaddad commented on #9070
@OliverJAsh The problems with explicit extension syntax are, as @kitsonk mentioned, name collision and loader issues, and also workflow toolchain issues.
Let's suppose I am developing a module using SystemJS and using plugin-typescript as my transpiler. My colleague is developing a different module and prefers to use gulp-typescript. I can consume his code and he can consume mine without any issue

[2016-06-24 16:32] aluanhaddad commented on #9334
I suppose it is because both types are valid elements in the collection, but neither is declared as a subtype of the other. Actually, the instance side of both types is identical, but this is not clear from reading their definitions.
[code]
is perfectly valid, but they are not explicitly related. A union would be clearer, but it would not affect typing.

[2016-06-24 16:41] mavasani opened #9349 "Use new overloads of DocumentDiagnosticAnalyzer methods in TypeScript"
Port of https://github.com/dotnet/roslyn/issues/11501

Use

[code]

instead of
[code]

[2016-06-24 16:41] mavasani commented on #9349
Tagging @paulvanbrenk @tmat

[2016-06-24 16:53] sandersn commented on #9328
Yep, this is fixed in `typescript@next`.

[2016-06-24 16:53] #9328 closed

[2016-06-24 17:02] Thomas-P commented on #9347
Hi,
I want to get the class explicitly passed and call the constructor in the method. Otherwise I head to use the factory way.

[2016-06-24 17:43] rkirov opened #9350 "nullability of getAttribute / setAttribute APIs in lib.d.ts"
**TypeScript Version:**

nightly (1.9.0-dev.20160217)

**Code**
The following code does not typecheck
[code]
because `getAttribute` returns `string | null`, and setAttribute expects `string`. If would be convenient if lib.d.ts has a matching signature on the get/set pair, to avoid users having to write an explicit null check.

The two options are both types being `string | null` or both being `str

[2016-06-24 18:17] Ptival commented on #1042
Any update on this? I often use `throw ...;` and `debugger;` to close branches that should not happen and have no meaningful return values.

[2016-06-24 18:20] aluanhaddad commented on #9347
OK, I missed that requirement. This can still be done by declaring the type returned by the index signature to be a constructor function which returns a type derived from `ATest`
[code]

[2016-06-24 18:21] rbuckton opened #9351 "Incorrect string literal type inference for defaults in binding patterns."
**TypeScript Version:**
nightly

Given the following TypeScript:
[code]

The expected result is:
[code]

[2016-06-24 18:26] aluanhaddad commented on #9350
I think it needs to be the former since `getAttribute` will return null if there is no matching attribute.

[2016-06-24 18:33] RyanCavanaugh commented on #1042
The new control analysis work should make this issue obsolete. Have you tried `typescript@next` ?

[2016-06-24 18:34] aluanhaddad commented on #9327
Seems like this should be a static error.

[2016-06-24 18:36] rkirov commented on #9350
Indeed, the spec says

but of course looks like all browsers just return `null`.

[2016-06-24 18:37] Ptival commented on #1042
No, I'm stuck on the npmjs version. (1.8.10?)

Good to know then! :-)

[2016-06-24 18:45] RyanCavanaugh commented on #9037
Is this fixed?

[2016-06-24 18:45] RyanCavanaugh commented on #9198
Is this fixed?

[2016-06-24 18:49] kisstkondoros commented on #6943
Hi,

I've worked a bit on @basarat 's implementation and tried to move it into the core.
In https://github.com/kisstkondoros/TypeScript/commit/0c414a57de86c1de1b4d8521ee1b53b64898641f one can find the initial implementation.

Any thoughts?

[2016-06-24 18:52] andy-ms commented on #9198
This is working for me in vscode pointed at a checkout of master.

[2016-06-24 18:54] athyuttamre commented on #6615
I'm new to TypeScript; could someone explain how I can go about importing non TS files right now?

1. Which version of Typescript should I install, since this isn't in any of the public releases?
2. Where do I write the module declaration? (Which file, and where should I place it?)

[2016-06-24 18:55] RyanCavanaugh commented on #9198
Please add the `Fixed` label to closed fixed bugs. Thanks!

[2016-06-24 19:04] Methodician commented on #6782
Here's what I don't get: it sometimes works fine and others it doesn't!

I can't for the life of me figure out what I'm doing right or wrong when, or if I even have any influence on this at all. It's almost more frustrating to have it work "sometimes" than to just never work.

**My workaround sucks**. Today, it simply doesn't work so I am back to the habit of hitting "Rebuild" every time I make th

[2016-06-24 19:06] aluanhaddad commented on #9350
Interesting. It looks like the spec needs to be brought in line with reality.

[2016-06-24 19:07] Methodician commented on #6782
**# Please share your workarounds**

I guess this problem has been around for a while now and like me, if you're still pushing through you must have come up with a pattern, habit, workflow, or workaround that is getting you through each day until this is fixed. Mine is to "rebuild" the whole solution every time I make the tiniest change to any .ts file. Surely someone has come up with a better way

[2016-06-24 19:09] janaagaard75 commented on #6615
Hi @athyuttamre. You're posting in a GitHub issue thread. These are for specific issues with TypeScript.

It sounds like you're new to the language, so my recommendation would be to start with official handbook, found on https://www.typescriptlang.org/docs/handbook/basic-types.html. If you end up stuck with a specific issue, and have a piece of code that doesn't work, then Stack Overflow is usuall

[2016-06-24 19:17] andy-ms commented on #6615
@athyuttamre The online handbook doesn't yet cover this, but the bleeding-edge handbook can be viewed [here](https://github.com/Microsoft/TypeScript-Handbook/blob/release-2.0/pages/Module%20Resolution.md#wildcard-module-declarations).
This feature is available via `npm install typescript@next`.
The declaration should go in a `.d.ts` file; the online handbook will help you there.

[2016-06-24 19:19] mhegazy commented on #9350
PRs would be appreciated. i would make make them both accept `null`. seems conservative but still convenient.

[2016-06-24 19:19] mhegazy commented on #9350
You can find more information about contributing lib.d.ts fixes at https://github.com/Microsoft/TypeScript/blob/master/CONTRIBUTING.md#contributing-libdts-fixes.

[2016-06-24 19:25] RyanCavanaugh commented on #9322
Failing for me as described in current master

[2016-06-24 19:46] aluanhaddad commented on #7426
[code]
as Douglas Crockford noted this is plain wrong. Elaborating, he alluded to a dialog with Brendan Eich where the latter stated that this was a bug that was never fixed (citation not provided).

That is definitely a reason not to use `null`.
Furthermore, for everyone advocating for the use of explicit `null` for indicating an optional value, it is worth considering that, just as most language

[2016-06-24 19:51] paulvanbrenk commented on #6782
We found an issue with compile on save and `tsconfig.json` files, that depended on the order we processed files, which is not always the same. This fix is part of VS 2015 Update 3 [0].

[0] I can't tell you when that will be released, but the RC release has other TypeScript issues, so don't install that.

[2016-06-24 19:54] #9331 closed

[2016-06-24 20:04] aluanhaddad commented on #9322
@RyanCavanaugh I had misconfigured project. I can indeed reproduce the error. Sorry for the confusion.

[2016-06-24 20:09] athyuttamre commented on #6615
Thanks @andy-ms and @janaagaard75!

I'm able to import the values from my CSS file as `import styles from 'Button.css'`, but it complains when I try to reference something like `styles.btn`, saying the property `btn` doesn't exist on type string.

This is what my module definition looks like:

[code]

Any clue how I can fix that? Sorry I'm turning this into a Q&A. If I can't resolve after this, I'

[2016-06-24 20:23] chicoxyzzy commented on #9045
Is `theNameOfYourTest` here is the path to my file?

my `index.tsx`
[code]

how I run `jake`:
[code]

I have all necessary `node_modules` in my `mytest` directory.

I can't find `index.tsx` in sources tab of Chrome DevTools :(

[2016-06-24 20:28] andy-ms commented on #6615
When I create a simple project and use the definition you provide, I am able to get `import styles from 'Button.css';` working with a type of `any` for `styles`, rather than `string`.
Maybe you have declared a module `"Button.css"` on its own elsewhere with the type `string`? Otherwise I am not sure why it is showing up as `string` for you.

Also be sure that this is a compile-time rather than a r

[2016-06-24 20:34] raineorshine commented on #9229
Thanks @aluanhaddad. Here's what I got working:

[code]

[2016-06-24 20:40] chicoxyzzy commented on #6716
wow bug in last comment is really serious and should be fixed

[2016-06-24 20:44] raineorshine commented on #9229
So, I am trying to import the `swap-manager.ts` file from my above comment.

swap-manager.ts:

[code]

api.ts:

[code]

I get this error:
[code]

Any ideas? Thanks.

[2016-06-24 20:47] RyanCavanaugh commented on #9045
Look at e.g. `tests/cases/conformance/jsx/jsxParsingError2.tsx` to see how to write a compiler test. Using that as an example, you would run `jake runtests-browser browser=chrome tests=jsxParsingError2`

[2016-06-24 20:58] aluanhaddad commented on #9229
You're importing the default export which is a value not a type. It depends on how you want to structure your code and what your intent is.
The following will work
[code]

[2016-06-24 21:15] #8549 closed

[2016-06-24 21:57] aluanhaddad commented on #9229
It's important to note that we're dealing with a lot of different and interrelated concepts here some of them are TypeScript specific and some are not.

We are using ES6 module syntax.
We are in a commonjs environment.
We are mixing classes and factories for ad-hoc extensibility.
We are using type aliases along with type aliases and classes to describe these constructs.

[2016-06-24 22:01] SlurpTheo opened #9352 "'Discarding Parameters' plus 'Duck Typing' makes every parameter optional?"
After reading the [Comparing two functions](https://github.com/Microsoft/TypeScript-Handbook/blob/master/pages/Type%20Compatibility.md#comparing-two-functions) section of the handbook I got myself pretty confused and concerned. I have an example below that I think (taken to the prepare-for-duck-typing-extreme) means I should code every class's method as if all of its parameters are optional (even

[2016-06-24 22:16] RyanCavanaugh commented on #9352
Your example here is specific to rest parameters, which get special treatment. Note that if you had written this with actually zero arguments, you'd get an error:
[code]

The reason for this is that many callbacks provide a variable but predictable number of arguments. For example, `String#replace` will invoke with one argument per matching group in the RegExp, so code like this is very common:
[c

[2016-06-24 22:17] aluanhaddad commented on #9229
I suggest you study the interaction between types within the context of a single module to understand the typescript specific aspects independently. Consider what a class in JavaScript actually represents and how it represents a value and a type simultaneously. Consider the runtime and the semantics of the require function. Then examine the interaction between these things and how TypeScript maps

[2016-06-24 22:43] mhegazy commented on #9318
RC still has this issue. it should be fixed in the RTM though.

[2016-06-24 22:43] #9318 closed

[2016-06-24 22:55] basarat opened #9354 "PropertyAccessExpression changed its structure"
It no longer has `dotToken` member. No biggie. I'm using the internal API (so there is no guarantee) + using it with TypeScript (so compile fails reliably :rose:). Was using this in *assert* style quick fixes e.g. https://github.com/TypeStrong/atom-typescript/blob/1163e05b11c42269623e11e7dcc3d4f32b68deae/lib/main/lang/fixmyts/quickFixes/typeAssertPropertyAccessToAny.ts#L30

Just curious why it was

[2016-06-24 22:58] paulvanbrenk commented on #2068
@hiredgunhouse Remove the existing `tsc.exe` entries from the `PATH` environment variable and manually add the location you do want referenced.

[2016-06-24 23:02] #9108 closed

[2016-06-24 23:06] yuit opened #9355 "Update SchemaStore for newly added compiler and tsconfig options"
https://github.com/SchemaStore/schemastore

**Compiler options**
- [x] --lib

- [x] --disableProjectSizeLimit

- [x] --strictNullChecks

- [x] --declarationDir

- [x] --noUnusedLocals

- [x] --noUnusedParameters

- [x] --noImplicitThis

- [x] --skipLibCheck

**tsconfig options**

- [x] include

- [x] ~~typesSearchPaths~~ (unused)

- [x] typeRoots

- [x] types

[2016-06-24 23:10] paulvanbrenk commented on #6943
@kisstkondoros Thanks for that, it shows there is certainly demand for this feature. I see a couple of issues with integrating with VS (and possibly VSCode), e.g. you can't depend on the error message, since we ship in 14 languages. Can you take a look at my PR, #9304, and if you have suggestions to make the API more useful that's very much appreciated. Note, I didn't do any work yet to integrate

[2016-06-24 23:56] bcherny opened #9356 "Cannot perform arithmetic on Dates"
[code]

JS will implicitly convert these to numbers via `valueOf`, so explicit conversion is not necessary.

[2016-06-25 00:17] CarsonF opened #9357 "[Bug][Decorators] Type is not assignable to type 'void'."
**TypeScript Version:**

1.8.10

**Code**

[code]

Also specifying `P` gives a similar error:
[code]
I've been banging my head against this for a couple hours now. Maybe I'm missing something? It seems pretty straight forward though.

[2016-06-25 00:23] Arnavion commented on #9356
Duplicate of #8260

[2016-06-25 00:25] bcherny commented on #9356
@Arnavion It doesn't seem fair to close the original question. Built in implicits are a key part of the ES1 spec, and should at some point be implemented by TS. It can be prioritized lower than other things, but it should not be ignored.

[2016-06-25 00:29] Arnavion commented on #9356
It's not being ignored, it's omitted by design. Implicit conversions are the source of bugs. If all valid ES was valid TS there would not be much point to TS.

If one really wants to subtract dates then that issue shows how to convince the compiler to allow it.

[2016-06-25 00:33] Methodician commented on #6782
I installed the Update 3 RC and it has helped with a lot of other problems. Most vitally, _it made the .tfignore file work_, which I absolutely need when committing lots of small typescript files to source control and wanting to ignore the transpiled .js and .map.js files.

[2016-06-25 00:39] #8355 closed

[2016-06-25 00:40] bcherny commented on #9356
Is there a design document, or something else that talks about this idea? Are there other parts of the ES spec that TS chose not to implement?

Implicits are understandably notorious for causing bugs in dynamically typed languages (as are almost all language features :)), but they are a core part of many statically typed languages (C#, Scala, Haskell), so it seems silly to omit them. Especially if

[2016-06-25 00:40] #8467 closed

[2016-06-25 00:44] paulvanbrenk commented on #9349
Codereview submitted

[2016-06-25 00:47] #9349 closed

[2016-06-25 00:51] asakusuma commented on #5683
Adding some more examples to what @mariusschulz was saying

The ability to enumerate the set of possible string values would be very useful. For example, given:

[code]

...it would be really nice to be able to do:

[code]

[2016-06-25 00:59] CarsonF opened #9358 "TS2345 Argument of type A is not assignable to parameter of type A"
**TypeScript Version:**

1.8.0

**Code**

[code]
[code]
How can there be a type mismatch if it's the same type? 😖

[2016-06-25 01:49] yortus commented on #9358
Your `decorate<Foo>()` call returns a function that accepts and returns an *instance* of `Foo`, but then you pass it the *constructor function* `Foo`, which is not the same type, hence the error.

I'm not sure whether you mean to work with `Foo` instances or `Foo` constructors, but the following variants both pass type checks:

[code]

[2016-06-25 01:51] CarsonF commented on #9358
@yortus Ahh thank you, that's what I was missing.

Thank you @blakeembrey as well :)

[2016-06-25 01:51] #9358 closed

[2016-06-25 08:59] SaschaNaz commented on #9224
#4609 already inserts spaces, while it does not have an option to opt out.

[2016-06-25 09:03] SaschaNaz commented on #9118
I think this is a duplicate of #6320.

[2016-06-25 11:00] kisstkondoros commented on #6943
@paulvanbrenk Yes I also thought it is not the best practice to get the context information from an error message 😄 perhaps extending the Diagnostic class with some context information could help for the more complicated use cases, e.g. adding missing methods / members to a class.
For me it seems that adding those could be done quite easily in core.ts.

[2016-06-25 11:18] mschlechter commented on #277
Oh crap. Another reason to stop using SourceSafe I guess.

[2016-06-25 15:12] nippur72 commented on #9356
@bcherny the "design document" is [TypeScript Design Goals](https://github.com/Microsoft/TypeScript/wiki/TypeScript-Design-Goals) which says:

which I think applies the case of `Date` subtraction.

[2016-06-25 16:04] bcherny commented on #9356
How do you plan on interoperating with existing, JSDoc'd code if the compiler doesn't understand implicits?

[2016-06-25 16:19] jwbay opened #9359 "Suggestion: preserve both static and instance sides of class types when class is used in value position"
Following up on #9358 and #6543. It hasn't stopped bothering me that generic identity functions don't exactly return their incoming types when it comes to classes.

[code]

Would it be possible for `decorate(Foo)`'s return type to be `class Foo`, or something equivalent, instead of `typeof Foo`? It's an identity function; I'm trying to tell TypeScript that whatever I'm doing to the class, if anyth

[2016-06-25 17:02] mdallau commented on #277
Is the reason, you're using software of more than 10 years old to protect your new sources enough? ;-P

[2016-06-25 17:36] SaschaNaz commented on #7962
Duplicate of #6320?

[2016-06-25 17:51] raineorshine commented on #9229
Thanks @aluanhaddad. There are many interrelated concepts. I made the poor assumption that they would "just work" as they seem to do when I am coding just JS. Typescript requires some extra work I see to properly import values and types. I will try to have greater acceptance for this and take a more gradual learning approach than expecting I can start using everything right away. Thanks for your h

[2016-06-25 17:59] SaschaNaz commented on #9001
It seems the proposal wants to rename `insertSpaceAfterFunctionKeywordForAnonymousFunctions` to `insertSpaceAfterFunctionKeywordAndStarForAnonymousGeneratorFunctions`, will this break backward compatibility?

[2016-06-25 19:26] aluanhaddad commented on #9229
@raineorshine glad to help.

[2016-06-25 19:33] aluanhaddad commented on #9359
[code]
Because `DecoratedFoo` is just a value. you need to obtain it's type to use it in type position.

[2016-06-25 19:48] dbaeumer opened #9360 "Intellisense sees exported `exports.property`, but not `module.exports.property`"
_From @shakvaal on June 24, 2016 13:22_

Intellisense ignores exported properties when they are written as `module.exports.property`, while `exports.property` works fine.

- VSCode Version: 1.2.1
- OS Version: Windows 10 x64 Enterprise

![jsconfig_david](https://cloud.githubusercontent.com/assets/4275080/16338797/8646dba4-3a27-11e6-9270-b27afac2354e.png)
![b](https://cloud.githubusercontent.com/as

[2016-06-25 19:53] jwbay commented on #9359
Right, that's the current limitation. You can't get to or preserve the instance type of a class once it enters a function as an argument; it's a bit of a black hole. I'd like to see that limitation lifted somehow.

[2016-06-25 20:01] carloslfu commented on #2246
Monaco is now opensource https://github.com/Microsoft/monaco-editor

[2016-06-25 20:28] nahuel commented on #9302
@aluanhaddad that works, but not when you use an string based key (eg. one taken from a config file). In your example `classes['B']` will be inferred as `any`.

[2016-06-25 20:54] aluanhaddad commented on #9359
@jwbay I see, and I've since read the linked issues. It's not clear what the best way to do this would be because implicitly introducing a name into the type space is problematic. Mixing the static and instance types into a single parameter type is kind of complicated because classes represent multiple types.

I recently trying to write a better declaration for dojo/lang/mixin and had a very frust

[2016-06-25 21:01] aluanhaddad commented on #9302
The keys are strings, I'm simply using concise object literal notation for brevity and in order to leverage refactoring. It's true that if you're using an index signature with a string literal, it becomes more difficult, but I don't see how it is any worse than an array, and at least it makes any necessary casting more intuitive.

[2016-06-25 21:12] aluanhaddad commented on #9229
@raineorshine any further discussion regarding this specific case would probably be best done elsewhere.

[2016-06-25 21:18] nahuel commented on #9302
@aluanhaddad: let me check if I get you, given this:

[code]

`classes2` is more concise, and his initialization is more refactorizable when you change `B` or `C` names. But there are no other advantages over `classes1` in the later usage when you need to access it using string keys.

[2016-06-25 21:45] aluanhaddad commented on #9302
Actually, I think this works better,
(TypeScript 1.9.0-dev.20160624-1.0)
[code]
The problem is the config file. The constant value does not seem to propagate across module boundaries. Forgot my idea of about using a _.ts_ configuration file. It only seems to work within one file.

[2016-06-25 21:55] aluanhaddad commented on #9356
Consider
[code]
This is output is reasonable

[code]
This is really weird behavior and I don't think it should be encouraged.

[2016-06-25 22:37] nahuel commented on #9302
@aluanhaddad when I said "a config file" I meant an arbitrary JSON document loaded at runtime, not an imported "config" module. But yes, I think you are pointing to another valid issue.

[2016-06-26 00:14] aluanhaddad commented on #9302
@nahuel that probably should have been obvious to me because otherwise they wouldn't have been much of a point to the scenario you described so sorry if I got the issue off track. I don't see how to type script could provide this however, without compile time constants. A run-time scenario like that where the type is decided based on dynamically imported configuration it's going to have to do type

[2016-06-26 00:35] unional commented on #4889
there seems to be a lot of good things going on in this thread! 🌷

Here is another use case relate to option bag:

[code]

...or if there is a better way to do this. 🌹

[2016-06-26 04:03] aleksey-bykov commented on #9359
by the definition of the identity function the result is always of the type of its argument, if so then you don't need to call it to get the type, because you got the type already before you called it

problem is that it is not and identity function, it's a transformation from T to another U, but then why is it called identity?

[2016-06-26 04:16] aleksey-bykov commented on #4889
as a few people noticed, what you need isn't a partial types but a subtraction  operation on types: V = T - U

speaking of which: https://github.com/Microsoft/TypeScript/issues/4183

[2016-06-26 04:28] unional commented on #4889
@aleksey-bykov Thanks for the pointer!

[2016-06-26 06:21] SaschaNaz opened #9362 "Format spaces between JSX attributes"
**TypeScript Version:** The master branch as of ac6224d600ceeaca02dad0890b776e004d462e8b

**Code**

[code]

**Expected behavior:**

[code]

**Actual behavior:**

[code]

[2016-06-26 07:54] shovon opened #9363 "Object destructuring broken: variables are bound to the wrong object"
**TypeScript Version:** 1.8.10

**Code**

[code]

**Expected behavior:**

[code]

**Actual behavior:**

[code]

[2016-06-26 08:00] mhegazy commented on #9001
I do not think we should rename existing options, we should add a new one instead.

[2016-06-26 08:01] Ciantic commented on #4183
I think there should be more set operations over the fields, like subtraction there could be intersection of fields:

[code]
Not to be confused with intersection types which are actually field union.

There are use cases for field subtraction and field intersection in a LINQ like type-safe SQL builders.

[2016-06-26 08:07] mhegazy commented on #9363
@yuit can you take a look.

[2016-06-26 14:06] giacomorebonato commented on #9335
![decorators](https://cloud.githubusercontent.com/assets/630796/16362775/6b9cacd2-3baf-11e6-832c-7582a3da6fde.gif)

This is the [repo](https://github.com/giacomorebonato/mino-react-ts-bp) that I am using.

[2016-06-26 14:38] wallverb opened #9364 "nodemon - change files on disk that really changed"
Similar to #8660 but probably different.
Is it possible for `tsc` to only "replace/modify" files on disk if they really got changed.
I understand that entire project needs to be "compiled" but it would be great if only changed 'js' files on disk would be overwritten.
Otherwise it creates issues with tools like nodemon - it picks up change in first file - restarts, then another file - restarts, etc

[2016-06-26 14:42] aluanhaddad commented on #9359
@jwbay I don't see why one would expect
[code]
to create a new manifest type. It doesn't make sense.

@aleksey-bykov I'm not entirely sure what you mean but I think you're saying the identity operation is lossy when applied to a class. Classes have a weird asymmetry.

[2016-06-26 15:15] mythz opened #9365 "Redux connect fails with unable to resolve signature of class decorator when called as an expression"
**TypeScript Version:**

1.8.9

Not sure if this a TypeScript or Redux TypeScript definition issue but the behavior is unexpected. I'd like to use [Redux connect() as a decorator](https://github.com/ServiceStackApps/typescript-redux#typescript-decorators) which works fine when a React Component only has a single `render()` method, e.g:

[code]

But it fails as soon as I add another method to the c

[2016-06-26 15:43] jwbay commented on #9359
@aleksey-bykov I'm very likely using the term 'identity function' incorrectly, sorry for the confusion. What I was trying to say, very poorly, was this

@aluanhaddad I would disagree. If Foo has a type meaning attached to it, then it seems to me that applying X => X to it should carry the type to the result.

It might come down to the `class` keyword being painfully special since it creates both a

[2016-06-26 16:10] niieani commented on #7926
Since we're already discussing file extensions, it would be great if it was configurable which files are supposed to be treated as JavaScript and which as TypeScript. In various projects that we're migrating to TypeScript we decided to stick around with `.js` extensions and gradually add typings without changing our build system yet (Babel). After the migration is complete, we'd rename the files t

[2016-06-26 16:30] niieani commented on #4556
instead of `target` or `sourceVersion`, perhaps: `standard` could be used - indicating what standard the code should comply with.

[2016-06-26 16:59] ENikS commented on #8656
@mhegazy I can reproduce this issue in Version 1.9.0-dev.20160620-1.0
Going back to typescript@1.8.10 fixes this issue

[2016-06-26 17:17] shovon commented on #9363
@yuit fyi, in a function with two parameters, each representing objects with properties that can be destructured, it doesn't matter whether the client code expects something or nothing from any of these objects, if either null or undefined is passed in to either of these parameters, an exception should be raised.

Example:

[code]

[2016-06-26 17:28] aluanhaddad commented on #9359
@jwbay binding to a variable binds a value and a type but the variable does _not_ itself represent the type in the same way that it represents the value. We say that the variable refers to a value of a type but it does not exist in type space as an identifier and it does not represent the type itself.

Part of the confusion is indeed the special nature of the `class` keyword. It actually declares

[2016-06-26 18:06] jwbay commented on #9359
@aluanhaddad Right, I suppose what I'm asking for is essentially for types to follow values around into new bindings. I feel like the behavior of the simpler repro in the OP is especially counter-intuitive (to anyone like myself who's not familiar with the intricacies of the type system :sweat_smile:). It's a local alias, so I would expect to be able to use Bar in exactly the same way I use Foo.

[2016-06-26 18:25] isiahmeadows commented on #4889
@aleksey-bykov That will partially fix [my particular case](https://github.com/Microsoft/TypeScript/issues/4889#issuecomment-219249235). What I need is the set difference between two object types, but with `P` below constrained to a partial subtype of A at minimum.

[code]

[2016-06-26 19:37] aluanhaddad commented on #9359
@jwbay that does make sense laundry clay, but I can't see it making sense syntactically without a new kind of declaration. Something along the lines of
[code]
But there are conceptual problems with this beyond the simple introduction of an additional declarator, and I'm not convinced the use cases are sufficiently broad given all of the available workarounds. That said, something like this would b

[2016-06-26 20:47] athyuttamre commented on #6615
@andy-ms It works now! I'm using the webpack loader.

One issue I'm having is that while the compiler doesn't throw any errors, Visual Studio Code still doesn't recognize the import, and complains wit this message: `[ts] Cannot find module '!!css-variables!styles/constants/constants.css'.`

Does VSCode not use the installed version of TypeScript (in this case, the nightly)?

[2016-06-26 21:28] mhegazy commented on #6615
Here is how to get vscode to use the.l nightly build: https://github.com/Microsoft/TypeScript-Handbook/blob/master/pages/Nightly%20Builds.md#visual-studio-code

[2016-06-26 22:23] jods4 commented on #7426
@aluanhaddad

_Definitely_? That's radical and it seems many people use `null` nonetheless. Yes this is unfortunate. Covariant arrays in C# are unfortunate as well. As much as I would like to see both of those reversed, they are not enough to stop me using `null` in JS or arrays in C#.

BTW you will not be able to completely evade `null`, as some APIs (even built-in ones) return it.

Haskell and S

[2016-06-26 22:31] falsandtru opened #9366 "Supporting generic type inference over the other higher-order functions"
Currently, TypeScript infers generic types when referring its type immediately. Its behavior is undesirable for using higher-order functions. The type inference of generics should delay until it will be called.

[code]

[2016-06-26 22:54] aluanhaddad commented on #7426
@jods4 I disagree, the absence of a property does not indicate the need for a separate value because the static equivalent of a JavaScript object is a hashtable that returns `null` instead of throwing an error when an attempt is made to retrieve of value for a non-existent key. Furthermore, JavaScript uses undefined in almost all the places where most languages would use null. It has nothing to do

[2016-06-26 23:47] basarat commented on #7426
*typo (I think). You meant to say `undefined`. I agree with you. Crockford agrees with you. Its undefined all the way. But I just have `null` inconsistently because of dealing with `dom` / `regex` / nodejs :) So I end up with both :-/. But never check explicitly against one ... just ` == null` or ` == undefined` (either works for both) :rose:

[2016-06-27 00:19] aleksey-bykov commented on #7426
the problem with both undefined and null is that in practice there might be
and often is more than 2 flavors of a value absence that all need to be
considered at the same time:

- unspecified default parameter (undefined?)
- or specified but not found (null?)
- or specified as not applicable (now what?)
- or specified as not yet decided (um, help)

and worse comes to worst next time the same value

[2016-06-27 01:01] jesseschalken commented on #7426
Consider if in a statically typed language you have a `Map<Maybe<string>>` with a method `Map<T>.get(key:string):Maybe<T>`. Then the result of calling `.get()` would be a `Maybe<Maybe<string>>` and you would deal with the result with something like:

[code]

If `Maybe` isn't an algebraic data type but is actually a union with a special `null` value, then the `Maybe<Maybe<string>>` becomes `string|

[2016-06-27 02:09] Seikho commented on #1351
Should `window` and all of its associated globals be part of the default `lib.es5/es6.d.ts`/`lib.d.ts` type definitions? Not all projects are Node projects and not all projects are browser projects. I believe the browser/`window` type definitions should be optional and treated in the same way as Node is.

[2016-06-27 03:20] bcherny commented on #9356
@aluanhaddad Encouraging/discouraging behavior should, I think, be left to tslint.

TypeScript should first and foremost understand the rules of the ES specs, and help TS and existing JS code scale given those rules. If there's a whole bunch of existing JS code that TS is unable to infer and flow types for, that makes TS less valuable to a lot of developers!

[2016-06-27 06:16] John0King opened #9368 "should ts avoid to use the this keyworld in class ?"
**version**
1.8.31

[code]
and will generate those js
[code]
this is ok when you ` let a = new A() `  and `a.AddOne()`  ,
but when  ` let myadd = a.AddOne `  and   `myadd()`
the result will be different . because  `this`  became something else.

should  the output js like this ?
[code]

[2016-06-27 06:20] yortus commented on #1351
I agree with @Seikho. ECMAScript is host-neutral. [W3C specifies web APIs](https://www.w3.org/standards/webdesign/script) for standard browser hosts, The [Node.js Foundation](https://nodejs.org/en/foundation/) specifies the node.js host environment. I don't think *either* belong in the default `lib.d.ts`. Specifically `lib.es5.d.ts`, `lib.es6.d.ts`, etc bundle browser-side [web APIs](https://devel

[2016-06-27 06:27] kitsonk commented on #9368
This is just the behaviour of JavaScript.  When using `class` in a ES6 compatible environment, you get an error when you called an improperly bound method:

[code]

Therefore if your suggestion would break compatibility with ES6 classes.

If you need a reference of a method bound to an instance, just bind it:

[code]

[2016-06-27 06:43] John0King commented on #9368
@kitsonk  How to use it in  jquery's  `click`  or  `change` method ?

[2016-06-27 06:51] kitsonk commented on #9368
I am afraid this isn't a general support forum, but without some example of how you want to use something and what is not working, it is really difficult to even answer that question.  The problem could be solved any number of ways, which are patterns used with construction functions with prototypes since the early days of JavaScript.  Most libraries like jQuery have mechanisms for being context w

[2016-06-27 06:54] kitsonk commented on #9364
Really more a duplicate of #3204 which has been pushed to TS2.1.

[2016-06-27 06:56] Arnavion commented on #1351
@Seikho @yortus Note that as @zhengbli said, this problem is already solved for non-browser users with the `--lib` compiler option.

[2016-06-27 07:08] yortus commented on #1351
@yuit can you confirm @Arnavion's above comment? Looking at the [diff for 6974](https://github.com/Microsoft/TypeScript/pull/7715/files), I can see that `lib.d.ts` still bundles in all the Web APIs, and I can't see any `DOMWithoutGlobal` option for `lib`.

How do I target, say, an ES6 node.js environment, without including all the browser-side typings?

[2016-06-27 07:10] John0King commented on #9368
@kitsonk   you are right , my suggestion can fix in es 5 and lower but can not fix in es6.

[2016-06-27 07:10] #9368 closed

[2016-06-27 07:23] yortus commented on #1351
Confirmed it myself. Adding `"lib": ["es6"]` to the project's `tsconfig.json` includes just the ECMA-262 definitions (`Set`, `Map`, `Promise`, etc) but *none* of the Web APIs (`window`, `name`, etc).

Adding `"lib": ["es6", "dom"]` includes both the ECMA-262 typings and the Web API typings.

So, is there any reason why this issue remains open? It seems no longer a problem. What other changes are n

[2016-06-27 07:30] myitcv commented on #1351
@yortus the "solution" to this thread is not the `--lib` option per se, because the `"dom"` option still pollutes the global namespace with variables like `name` (and others) (see [this comment from @RyanCavanaugh](https://github.com/Microsoft/TypeScript/issues/1351#issuecomment-65456532))

[2016-06-27 08:28] akim-mcmath commented on #1809
I would also like to see something like an `object` type. However, I question whether it should conform to `typeof value === 'object'`, as this would exclude functions. Instead, it seems to me that the prospective `object` type should reflect the Object [language type][1], which includes functions. There are a few reasons for this:

- APIs that accept plain objects always, as far as I know, also a

[2016-06-27 08:52] PanayotCankov commented on #7657
Wow :+1: to add @RyanCavanaugh 's suggestion in the lib.d.ts. I was having something like:
[code]
It is magical. :heart:

[2016-06-27 09:31] jesseschalken commented on #7657
@calebegg You can just add `:x is number` to the signature rather than using a cast:

[code]

In principle this would allow the compiler to check that `x is number` does in fact follow from `typeof x == 'number'`, but I don't think it bothers checking that (TS 1.8).

[2016-06-27 09:32] mirow opened #9369 "Type assertion not working with string literal union types in classes"
If a class member is defined as a string literal union type, type assertion fails. If I change the type of `orgType` to `string` instead, the type assertion works as expected.
Any ideas how to circumvent this bug?

**TypeScript Version:**
1.8.10

**Code**
[code]

**Expected behavior:**
No errors.
**Actual behavior:**
`error TS2352: Neither type '{ orgType: "company"; }' nor type 'Organization' is

[2016-06-27 11:06] gjuchault opened #9370 "Allow empty return statements on setters"
**TypeScript Version:**
1.8.10

**Code**

[code]

**Expected behavior:**

No errors.

**Actual behavior:**

`A 'set' accessor cannot have a return type annotation.`.

Thanks :)

[2016-06-27 11:39] gjuchault opened #9371 "Non-determinist signature results in TS2349"
**TypeScript Version:**

1.8.10

**Code**

Failure:
[code]

Working:
[code]

Definition for `loginUser`:
[code]

**Expected behavior:**

No errors

**Actual behavior:**

TS2349: `Cannot invoke an expression whose type lacks a call signature`.

**Notes**
It comes from the `|` operator in the `loginUser` function. If I switch to a "determinist" type by putting `Observable<any>`, typescript is some w

[2016-06-27 11:44] zspitz commented on #3192
@dsherret Your hack doesn't work for ambient declarations.

[2016-06-27 11:48] aluanhaddad commented on #9356
@bcherny in principle I absolutely agree with that statement. I oppose proposals that would fundamentally change the semantics of JavaScript and proposals which did not map intuitively to JavaScript.
However, JavaScript places no restrictions on the subset of values to which arithmetic operators can be applied. It's perfectly valid to add and subtract arbitrary objects, but these operations, while

[2016-06-27 11:51] aluanhaddad commented on #9370
Is the issue of the Void annotation, or the return statement I believe it's the former.

[2016-06-27 11:58] gjuchault commented on #9370
The error is that TypeScript puts an error when there is a return statement on a setter; when it can makes sense to stop the setter becasue of validation or whatever

[2016-06-27 13:22] phiresky opened #9372 "async function error: TypeError: Generator is already running"
**TypeScript Version:** Version 1.8.10 and Version 1.9.0-dev.20160626-1.0

**Chromium Version:** Version 51.0.2704.103 (64-bit)

**Code**

[code]

**html**:
[code]

**Expected behavior:** print 42

**Actual behavior:**

[code]

**Emitted Javascript (ES6):**

[code]

Same code works fine in node v6.2.2

[2016-06-27 13:23] Anjmao opened #9373 "tsc -w vs visual studio compile on save"
I'm using Typescript 1.8.10 and Karma in watch mode.
1) If I run `tsc -w` and change any file, karma detects that all my source files was changed (**bad**)
2) I have big solution with more what 1000 files and get a lot of annoying`INFO [watcher]: Changed file "...file.js"` output messages in karma console (**bad**).
3) Usually I use fdescribe or fit jasmine methods to run only related tests for co

[2016-06-27 13:37] SlurpTheo commented on #9352
@RyanCavanaugh

Imagine `C1#one` actually has code that interacts with the `...hi: string[]` rest parameter. As shown, sure the parameter could have just been omitted, but that's a problem with the specific example code I provided -- sorry about that.

`String#replace` gives `...args: any[]` in the callback function parameter signature; i.e., not too much from a type safety perspective. It feels d

[2016-06-27 13:56] dsherret commented on #3192
@zspitz just need to change the syntax accordingly:

[code]

[2016-06-27 14:44] Anjmao commented on #9372
It works fine for me on Chrome: 51.0.2704.106 v :)

[2016-06-27 15:06] phiresky commented on #9372
Same issue appears here: https://phiresky.github.io/qalc-react/ for me.

[2016-06-27 15:37] Arnavion commented on #9372
This is a Chrome bug (testing on dev version v53).

[code]

incorrectly logs `42`.

Inlining the result of `count()`

[code]

correctly logs `Object {value: 42, done: true}`

The former is the bug. In the original emit, `step` gets a bad value `42` because of it.

[2016-06-27 16:01] gzhebrunov commented on #4691
As developer with C++/C# experience would be happy to see this feature in TS.

[2016-06-27 16:29] RyanCavanaugh commented on #9352
It's a design-trade off in terms of complexity/understandability vs soundness.

The problem once you start special-casing these rules is that it's immediately unclear where to draw the line. For example, we believe this code to be OK, based on how it's used in the wild (concrete data point: this was illegal in one release of TypeScript and *everyone* complained about it or was confused)
[code]

No

[2016-06-27 16:32] RyanCavanaugh commented on #9370
The issue is the return type annotation, not the return statement. Expressionless return statements are legal. Return type annotations are not.

[2016-06-27 16:32] #9370 closed

[2016-06-27 16:36] RyanCavanaugh commented on #9356
@bcherny nearly everything TypeScript flags as an error has some valid runtime interpretation. If you want to use `[ ] * { }` as a way to produce `NaN`, well, that's according to spec, so TypeScript shouldn't disallow it?

This is really a dupe of #2361 because `Date` implements `valueOf` that sometimes returns `number`.

[2016-06-27 16:41] Arnavion commented on #9371
See #4612

[2016-06-27 17:16] CarsonF commented on #9365
I think this as my problem #9357.

I think it may have to do with the decorator having a different return type. Maybe #4881 is the solution...

[2016-06-27 17:28] RyanCavanaugh commented on #1809
I would agree that functions are `object`s. The intent is to exclude primitives.

[2016-06-27 17:28] sandersn opened #9374 "Update lib.d.ts with this parameters for event handlers"
Expected:

Intellisense from `this`

[code]

Actual:
No intellisense from `this`:

[code]

[2016-06-27 17:41] RyanCavanaugh commented on #9372
Please log this in the V8 issue tracker. We don't have any way to account for broken runtimes.

[2016-06-27 17:41] #9372 closed

[2016-06-27 17:45] RyanCavanaugh commented on #9369
Type asserting to `<any>` always works.

This has been changed in `master` on account of #6167

[2016-06-27 17:45] #9369 closed

[2016-06-27 17:56] mhegazy commented on #9373
https://github.com/Microsoft/TypeScript/pull/6937 should fix this. a file is only modified if it has changed.

[2016-06-27 17:56] #9373 closed

[2016-06-27 17:59] mhegazy commented on #9364
This is already handled by https://github.com/Microsoft/TypeScript/issues/3113. it should be available in `typescript@next`. please give it a try and let us know if you are still running into issues.

[2016-06-27 17:59] mhegazy commented on #9364
closing in favor of #3113

[2016-06-27 17:59] #9364 closed

[2016-06-27 18:12] mhegazy commented on #9365
I am using the latest react-redux definition from definitely typed, (https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/react-redux/react-redux-2.1.2.d.ts), and i am unable to get a repro for this issue. can you provide more context?

[2016-06-27 18:14] mhegazy commented on #9365
I am using `typescript@next`.

[2016-06-27 18:15] mhegazy commented on #9357
Looks like https://github.com/Microsoft/TypeScript/issues/9365 and this issue are about the same problem. i would like to keep one to track this, so closing in favor of https://github.com/Microsoft/TypeScript/issues/9365

[2016-06-27 18:15] #9357 closed

[2016-06-27 18:17] mhegazy commented on #8656
can you share a repro project? a github repo i could try maybe?

[2016-06-27 18:20] mhegazy commented on #9274
@jahewson this is working fine for me on the [nightly builds](https://github.com/Microsoft/TypeScript-Handbook/blob/master/pages/Nightly%20Builds.md#visual-studio-code). can you share your sample?

[2016-06-27 18:21] #9371 closed

[2016-06-27 18:26] mhegazy commented on #7926
So why not plugin in TS at the beginning of your build pipeline with `--target ES6`, it emits `.ts` => `.js`, and then Babel takes the output and does its part?

The TS API already has a way to override the ScriptKind, see https://github.com/Microsoft/TypeScript/blob/master/src/server/protocol.d.ts#L537. VSCode or other editors can leverage this to open any file under any ScriptKind if needed. not

[2016-06-27 18:29] ENikS commented on #8656
Get my LINQ project and try to build it with TS@next
https://github.com/ENikS/LINQ

[2016-06-27 18:51] RyanCavanaugh commented on #9354
We're trying to reduce our memory consumption; not storing any tokens we could synthesize later saves a few bytes per expression

[2016-06-27 19:21] CarsonF commented on #9365
I think the error is coming from:
[code]

If `connect()` says it returns a different type than the one passed in, `TFunction`, then `void` is tried next and fails. Hence the error.

[2016-06-27 19:23] niieani commented on #7926
Not sure what you mean here @mhegazy, since I wasn't talking about the build pipeline. What I'm after is having the **whole `.js` project** type-checked in the editor (VSCode) as if it's `.ts`, so we can fix all the typing errors in it, **before** we fully commit to TS, change the extension and the build pipeline. As for your other note about changing ScriptKind in the editor, as far as I understa

[2016-06-27 19:39] mythz commented on #9365
The [react-redux-2.1.2.d.ts](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/react-redux/react-redux-2.1.2.d.ts) is not the one I'm getting which I installed with:

     typings install --save --ambient react-redux

Which is registered in typings.json as:

    "react-redux": "registry:dt/react-redux#4.4.0+20160501125835",

Where `connect()` definition looks like:

[code]

TypeScript

[2016-06-27 19:39] phiresky commented on #9372
Okay, I apparently had the `enable-javascript-harmony` flag enabled in chrome://flags . Disabling that solves this problem for chrome stable.

[2016-06-27 19:49] mythz commented on #9365
So there's 2 versions of react-redux: https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/react-redux

But [react-redux.d.ts](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/react-redux/react-redux.d.ts) was updated 2 months ago and [react-redux-2.1.2.d.ts](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/react-redux/react-redux-2.1.2.d.ts) was updated 4 mon

[2016-06-27 20:03] mhegazy commented on #9278
Duplicate of https://github.com/Microsoft/TypeScript/issues/3669, should be fixed by https://github.com/Microsoft/TypeScript/pull/6952.

[2016-06-27 20:03] #9278 closed

[2016-06-27 20:14] mhegazy commented on #8656
i am sorry but i still can not see the issue. running `tsc --w`, `tsc --w --out lib`, `tsc --p ./tsconfig.json --w` all seem to generate the output under `lib` correctly. so what do i need to do to reproduce the issue?

[2016-06-27 20:17] mhegazy commented on #9354
`Node.getChildern()` should still generate you the token, it is just not going to be a property on the tree by default.

[2016-06-27 20:17] #9354 closed

[2016-06-27 20:30] #4516 closed

[2016-06-27 20:30] #6924 closed

[2016-06-27 20:39] ENikS commented on #8656
I get this error every time I run tsc  without any command line arguments

[2016-06-27 21:00] mhegazy commented on #8656
which error? i see a bunch of errors about missing `Enumerable` and `IEnumerable`, but i was only looking at output locations.

[2016-06-27 21:03] mhegazy commented on #9335
What version of TS are you using? are you using the nightly build (https://github.com/Microsoft/TypeScript-Handbook/blob/master/pages/Nightly%20Builds.md#visual-studio-code) ?

[2016-06-27 21:42] ENikS commented on #8656
It seems something else is broken:
https://travis-ci.org/ENikS/LINQ/builds/140653700
If I change to TS@next build breaks before it has a chance to report the error. Looks like it is not picking up typings from the package.json.

The same repository builds just fine with stable TS
https://travis-ci.org/ENikS/LINQ/builds/140654729

[2016-06-27 21:47] speigg opened #9378 "Suggestion: is not typegaurd"
To support the following use case, for example:

[code]

This would be particularly useful when combined with strictNullChecks:

[code]

[2016-06-27 22:12] RyanCavanaugh commented on #9378
I think you want #1809 because then you could just write
[code]

[2016-06-27 22:37] Christoph-D opened #9382 ""Used before assigned" error with arrow functions and strict null checks"
**TypeScript Version:**

1.9.0-dev.20160627-1.0

**Code**

[code]
Compiled with `--strictNullChecks`.

**Expected behavior:**

No errors.

**Actual behavior:**

[code]

It sems to be impossible to call `f` before `f` is assigned, so I don't think this should trigger an error.

[2016-06-27 22:39] aluanhaddad commented on #9356
@RyanCavanaugh thank you for calling date insane, that's really what I was trying to say, only you did so much more concisely :heart:

[2016-06-27 22:51] yuit commented on #9363
@shovon I got the fix for the first comment. I am investigating your second comment

[2016-06-27 22:58] mhegazy commented on #9382
The error message is a bit misleading. the message is about the type system trying to know what is the type of `f` and catching its own tail. so an explicit type annotation would resolve the issue. so:

[code]

[2016-06-27 23:01] bcherny commented on #9356
@aluanhaddad I agree that JS implicits can lead to subtle bugs!

@RyanCavanaugh There's an argument to be made that if someone writes:

[code]

The TS compiler should be OK with it, since this is valid JS, and TS is a superset of JS. If someone then tries to do something with `a` assuming that it's, say, an array, the TS compiler should warn that "hey! this is actually a number!". If you consider

[2016-06-27 23:01] #9356 closed

[2016-06-27 23:03] RyanCavanaugh commented on #9356
That's basically correct. The unary `+` / `-` operators are relatively hard to use incorrectly.

The real problem with `Date` is that its implicit conversion rules are just nuts. `x - 0` is a number, `x + 0` is a string, and `(x + 0) * 1` is `NaN` ? It's a loaded footgun.

![image](https://cloud.githubusercontent.com/assets/6685088/16398587/61c37dcc-3c80-11e6-8840-c27351af4304.png)

[2016-06-27 23:08] mhegazy commented on #9360
duplicate of https://github.com/Microsoft/TypeScript/issues/7824, should be fixed in TS 2.0

[2016-06-27 23:08] #9360 closed

[2016-06-27 23:17] speigg commented on #9378
Oh yeah, that would work nicely. Any reason the following wouldn't work?

[code]

I thought the "{}" type was effectively "object".

[2016-06-27 23:22] speigg commented on #9378
Or if I understand correctly, perhaps I can just use the `{}` type alone...

[code]

About to try this.

[2016-06-27 23:25] mhegazy commented on #9378
you can achieve this today using generic types, as such:

[code]

[2016-06-27 23:26] aluanhaddad commented on #9378
@mhegazy beat me to it, I was about to post
[code]

[2016-06-27 23:33] speigg commented on #9378
Thanks guys, all of these solutions work great, including `value is {}`. I like the generics though, I'll use that!

[2016-06-27 23:33] #9378 closed

[2016-06-27 23:41] unional commented on #371
How about this use case?
I can't find a way to do this:

[code]

Essence: I want to put make `foo` and optional property in `Boo`, but still able to type `y` properly.

Here is an example that show current error when this is missing:
[code]

Currently a workaround is to duplicate the signature of `reduce()` in `interface Reducer<S> { }` and make it not optional.

[2016-06-27 23:51] unional commented on #6611
Another case (let me know if you want to open a new issue for this):

[code]

[2016-06-28 00:00] DanielRosenwasser commented on #6611
@unional that's unrelated to this, and behaving as expected. Control-flow-based type analysis doesn't work across function expressions because the value can change at a different point in time.

[2016-06-28 00:04] mhegazy commented on #7962
in deed. closing in favor of #6320

[2016-06-28 00:04] #7962 closed

[2016-06-28 00:33] mhegazy commented on #9277
The typescript formatter does not add semicolons. this seems to be a different component. please reopen if you believe otherwise, and provide additional information to enable us to reproduce the issue locally.

[2016-06-28 00:33] #9277 closed

[2016-06-28 00:37] mhegazy commented on #9251
@riknoll has been looking at similar issues with completions in require call. moving to his plate.

[2016-06-28 00:39] DanielRosenwasser commented on #9335
I think this is potentially a duplicate of #8905.

[2016-06-28 01:11] JakeGinnivan commented on #4881
I think the `ClassDecorator` type definition needs changing.

Currently it's `declare type ClassDecorator = <TFunction extends Function>(target: TFunction) => TFunction | void;`. Maybe it could be changed to

[code]

Obviously the naming sucks and I have no idea if this sort of thing will work (I am just trying to convert a Babel app over to typescript and am hitting this).

[2016-06-28 01:18] akim-mcmath commented on #1809
Ok, I thought that must have been the intent. I just thought maybe I was missing something with all this talk of `typeof value === 'object'`.

[2016-06-28 01:35] masaeedu commented on #4881
@joyt Could you provide a playground reconstruction of the problem? I don't use react-redux, but as I've mentioned before, any extensions you desire to the shape of a type can be declared using interface merging.

[2016-06-28 02:19] JakeGinnivan commented on #4881
@masaeedu here is a basic breakdown of the moving parts..

Basically the decorator provides a bunch of the props to the React component, so the generic type of the decorator is a subset of the decorated component, not a superset.

Not sure if this is helpful, but tried to put together a non-runnable sample to show you the types in play.

[code]

If you want a full working example I suggest pulling

[2016-06-28 02:57] billti commented on #6670
#7075 has been merged in now. Closing this.

[2016-06-28 02:57] #6670 closed

[2016-06-28 03:14] tamird commented on #9317
@mhegazy now that #7075 is in, how does it handle this? In other words, what's the expected syntax to make this work?

[2016-06-28 03:36] tamird commented on #7542
#7075 is merged, so I guess this is good to close.

[2016-06-28 04:14] SaschaNaz commented on #9362
@SoundBot It's not about compiler but about formatter. Control+K+D on VS or Alt+Shift+F on VSCode.

[2016-06-28 04:31] tinganho opened #9385 "Autocomplete undeclared references"
I think it is quite common for people to write a reference to an undeclared property or variable first and then write the declaration of it. And not the other way around.

Given the below code:

[code]

If I would have written the above code from scratch, I would often write the reference `this.renderTitle` first before the declaration of `renderTitle`:

[code]

So it would be good if it could aut

[2016-06-28 05:22] bijeebuss commented on #6508
I tried following the instructions to get intellisense working. I was able to get syntax highlighting but it broke F12 (go to definition) for everything else.

[2016-06-28 07:28] #9182 closed

[2016-06-28 07:28] #9021 closed

[2016-06-28 07:28] #8995 closed

[2016-06-28 07:28] #8793 closed

[2016-06-28 07:29] #9259 closed

[2016-06-28 07:30] #9352 closed

[2016-06-28 07:30] #9312 closed

[2016-06-28 07:36] gjuchault commented on #9370
@RyanCavanaugh Ok I'm not really sure what's the difference between the two. Is the `: void` non-sense on a setter ?

[2016-06-28 07:54] mindnova commented on #9044
Yeah I met the same problem.
I would like to see the compiled file with jsx expression because that's clear but I do not want the .jsx extension. React Native just does not recognize them.

[2016-06-28 07:58] dbaeumer opened #9386 "Resolving absolute import path"
_From @vuhrmeister on June 27, 2016 10:28_

- VSCode Version: 1.2.1
- OS Version: OSX

Only relative import paths are resolved. So jumping to the file that's imported works only with relative paths.

[code]

Where `/` is the very root of the project.

Also it would be nice if automatically resolving index files would work:

[code]

_Copied from original issue: Microsoft/vscode#8183_

[2016-06-28 08:33] mortb commented on #5259
Must say I feel a bit sad about this.

I felt a bit excited when I read about tuples in the typescript handbook:
https://www.typescriptlang.org/docs/handbook/basic-types.html#tuple
When realizing that there is no checking on the number of array elements the tuple feature doesn't seem as attractive as it did in my first impression. (This non existent length check is not mentioned in the typescript

[2016-06-28 08:50] Christoph-D commented on #9382
This gives the same error, although I added an explicit type annotation.
[code]
But the following gives no error:
[code]

[2016-06-28 09:04] aeschli opened #9387 "jsconfig & tsconfig schemas: Description improvements"
http://json.schemastore.org/tsconfig contains the JSON schema of the tsconfig.json file. I assume it is maintained by the TS team, that's why I thought I directly file the issue here.

VSCode fetches the tsconfig schema from that URL and uses it for completion and hovers.
Now that there's also a public schema for [jsconfig](http://json.schemastore.org/jsconfig), we also plan to do the same for the

[2016-06-28 09:35] Tragetaschen commented on #8518
This issue is back after installing VS 2015 Update 3. Could we have a quick-fix version based on 1.8.34?

[2016-06-28 09:50] passle-chris commented on #7445
Getting similar errors and while I am working through them I thought I'd ask what the COMPUTE_PATHS_ONLY is meant to do? It doesn't seem to be recognised by tsc.exe but I assume it must be there for a reason... Is just flat removing it safe or is this going to potentially result in unexpected bugs further down the line?

[2016-06-28 09:55] giacomorebonato commented on #9335
I am using "typescript": "^1.8.10" . Should I use a dev one?

[2016-06-28 10:24] alexicum commented on #8335
I did next:
1. put index.d.ts for my package into <ProjectRoot>\typings\globals\<PackageName>
2. made update to <ProjectRoot>\typings\index.d.ts:
`/// <reference path="globals/<PackageName>/index.d.ts" />`
and this helped to avoid TS2656 without using top level export.
Is it correct way?

[2016-06-28 10:28] passle-chris commented on #7445
So having just done a bunch of uninstalling and reinstalling I now have access to both the old and new version of TypeScript.Tasks. It seems that in the older version it has the following in the execute task:

            if (!responseFileCommands.Contains("COMPUTE_PATHS_ONLY"))
            {
                return base.ExecuteTool(pathToTool, responseFileCommands, commandLineCommands);

[2016-06-28 10:53] SaschaNaz opened #9388 "Move scrollIntoView method to Element from HTMLElement"
This prevents [scrollIntoView extension](http://www.w3.org/TR/2016/WD-cssom-view-1-20160317/#extension-to-the-element-interface) to Element.

[code]

[code]

[2016-06-28 11:07] SaschaNaz opened #9389 "Give autocompletion for union types"
**TypeScript Version:**  Master branch (fetched on June 25)

**Code**

[code]

[2016-06-28 11:58] 0815fox commented on #8335
In case you use typings, you should rather let it do that for you. You can use
[code]
to add a dependency to a local type definition (refer to typings.json or index.d.ts) or you create a github-repository and fetch it from there.

[2016-06-28 13:26] aluanhaddad commented on #9387
@aeschli The schema for `tsconfig.json` was recently updated, so you may want to update you current custom versions. Regardless there is definitely room for improvement here. As you say, descriptions of various items, especially with respect to versioning, could be dramatically improved.

With regard to versioning, I would actually like this to be taken a step further. Once a version of the langua

[2016-06-28 14:19] vytautas-pranskunas- commented on #1579
So i dont get it - will be there any kind of nameof operator or no? Because ticket is closed but comments keeps comming :)

[2016-06-28 14:48] M0ns1gn0r commented on #1359
Please implement the suggest automatic dependency analysis, maintaining a _references.ts in a large project is difficult.

[2016-06-28 14:52] benjamin-hg opened #9390 "RangeError: Maximum call stack size exceeded"
While playing around with generic type constraints, I came across a bug in the typescriptServices.js used on the ts playground:

**TypeScript Version:**  1.8.2 (66d9c92bd3d6127ed3142876bc1a446bbd8395de)

**Code**

[code]

**Expected behavior:**
A (meaningful) compile error or compiled code or both

**Actual behavior:**
RangeError: "Maximum call stack size exceeded" and no compile result in TS Play

[2016-06-28 14:55] jdmichal opened #9391 "Using typeof(...) does not narrow union types"
**TypeScript Version:**  1.8.5

**Code**

[TypeScript Playground](http://www.typescriptlang.org/play/#src=interface%20SomeInterface%20{%0D%0A%09label%20%3A%20string%3B%0D%0A%09value%20%3A%20any%3B%0D%0A}%0D%0A%0D%0Afunction%20doStuff%28thing%20%3A%20string%20|%20SomeInterface%29%20%3A%20string%20{%0D%0A%09if%20%28typeof%28thing%29%20%3D%3D%3D%20%22string%22%29%20{%0D%0A%09%09return%20thing%3B%0D%0

[2016-06-28 14:59] benjamin-hg commented on #9390
I know it's an exotic kind of type constraint usage and I'm not very surprised it didn't work. I just reported it because the compiler probably is not supposed to crash.

[2016-06-28 15:13] niieani commented on #7926
@mhegazy I've just tried manually changing the Language Mode in VSCode on a JS file, but it doesn't have any effect on the way TypeScript interprets the file. On the lines which have type annotations, I'm still getting the error:

[2016-06-28 15:17] kitsonk commented on #9391
[Remove the parentheses](http://www.typescriptlang.org/play/#src=interface%20SomeInterface%20%7B%0D%0A%09label%20%3A%20string%3B%0D%0A%09value%20%3A%20any%3B%0D%0A%7D%0D%0A%0D%0Afunction%20doStuff(thing%20%3A%20string%20%7C%20SomeInterface)%20%3A%20string%20%7B%0D%0A%09if%20(typeof%20thing%20%3D%3D%3D%20%22string%22)%20%7B%0D%0A%09%09return%20thing%3B%0D%0A%09%7D%20else%20%7B%0D%0A%09%09return%20t

[2016-06-28 15:19] RyanCavanaugh commented on #9391
I think we should probably start unwrapping one level of parens here since `typeof(x)` is probably pretty common. Most places this happens anyway and type guards are smart enough now it'd be very rare to want to "turn them off".

[2016-06-28 15:25] RyanCavanaugh commented on #9370
Yes. The returned value of a setter is unobservable, so it doesn't make any sense to talk about its return type.

[2016-06-28 15:28] RyanCavanaugh commented on #9044
I'd propose an option `preserveJs` that retains JSX expressions but computes the filename as `.js`. This should be a fairly easy change if someone wants to send a PR for it

[2016-06-28 15:33] mindplay-dk commented on #9312
@RyanCavanaugh that makes sense for something like `<Horse>someAnimal`, but probably not so much for an inferred `Object` as in my first example? Because practically everything is `Object` in one direction or the other.

It seems like an exemption might make sense there - because the two first examples are obviously wrong; the inferred type clearly has a shape that is directly incompatible with th

[2016-06-28 15:34] benjamin-hg commented on #9390
BTW: what I was trying to do:

**Problem:**
I have an interface `Item` that has a _lot of non-optional properties_. In some unit tests, I need to create objects of that interface, but do not need all these properties.

I want to be able to define a "sparse" item with only some of the otherwise mandatory properties present.

**My approach:**
I created an interface `SparseItem` that has the _same pr

[2016-06-28 15:37] jdmichal commented on #9391
@kitsonk That's the workaround I listed. The parens are unnecessary, but they are a not-uncommon coding style. Up until about 10 days ago, I simply thought that the narrowing wasn't working. I actually thought that TypeScript couldn't narrow an interface, since I could theoretically add attributes to any object such that it matches the interface. But my only issue was using parens; how silly!

At

[2016-06-28 15:41] kitsonk commented on #9391
Actually @RyanCavanaugh commented on the limits of TypeScript unwrapping things, so him suggesting they get unwrapped is more than good enough for me to close my mouth now. 😄

[2016-06-28 16:03] twilliamsgsnetx commented on #8518
I have over 250 of these errors drowning out real errors. A quick fix on this would be greatly appreciated.

[2016-06-28 16:10] yuit commented on #9355
schema store approves the change and merged the change in

[2016-06-28 16:10] #9355 closed

[2016-06-28 16:19] RyanCavanaugh commented on #9312
Again, this is true of nearly *every* type assertion. What you're basically proposing is that
[code]
be an error because `HTMLElement` is missing things from `HTMLDivElement`. **But that's why you wrote the type assertion in the first place!**

[2016-06-28 16:52] blai commented on #4881
According to https://github.com/wycats/javascript-decorators#class-declaration, my understanding is that the proposed `declare type WrappingClassDecorator = <TFunction extends Function, TDecoratorFunction extends Function>(target: TFunction) => TDecoratorFunction;` is invalid.

[2016-06-28 16:58] #7542 closed

[2016-06-28 17:01] mhegazy commented on #9317
Fixed by https://github.com/Microsoft/TypeScript/pull/7075

[2016-06-28 17:01] #9317 closed

[2016-06-28 17:02] mhegazy commented on #6964
Fixed by https://github.com/Microsoft/TypeScript/pull/7075

[2016-06-28 17:03] paulvanbrenk commented on #7445
@passle-chris You are correct, the main reason to get mismatched versions of the task and the targets file is when you manually edit the file... this signals to the installer that it no longer owns that file, and it has trouble replacing it. I'm sure there's a bunch of other ways you can confuse the installer, but I'm not an installer expert, and no-one has been able to tell me how to reliably han

[2016-06-28 17:06] mhegazy commented on #6954
This should be addressed in the latest version of TS in VS2015 Update3 (https://www.visualstudio.com/en-us/news/releasenotes/vs2015-update3-vs). Please reopen if the issue still persists.

[2016-06-28 17:06] #6954 closed

[2016-06-28 17:07] mhegazy commented on #9186
@zhengbli can you take a look.

[2016-06-28 17:08] blai commented on #4881
The spec says:

[code]
is translate to:
[code]

So if I understand it correctly, the following should be true:
[code]

[code]

[code]

[code]

[code]

[2016-06-28 17:10] tamird commented on #9317
@mhegazy can you respond to my previous comment? Simply closing the issue isn't helpful.

[2016-06-28 17:14] zspitz opened #9392 "Add VarDate interface and Date constructor overload for VT_DATE to lib.d.ts"
**TypeScript Version:**  1.8.0 / nightly (2.0.0-dev.201xxxxx)

Automation host objects pass dates into Javascript as `VarDate` per the specification ([copy found here](http://jibbering.com/faq/res/[MS-ES3EX].pdf)) (section 2.2.2). These need to be wrapped in a `Date` constructor before they can be used in Javascript.
Such properties therefore cannot be typed as `Date` in declarations.

**Code**
[c

[2016-06-28 17:17] mhegazy commented on #7926
What i meant is if you copy your .js files to .ts files, and build them using `tsc --target ES2015` you should end up with more or less the same .js files (module some new lines and formatting). this way you can have your tooling in the .ts file, and the rest of your build tool chain should not be impacted, as the generated .js file should be almost identical to your current .js file.

One thing t

[2016-06-28 17:18] nevir commented on #4881
@blai

For your example:

[code]

For that case, the assertions should be:

[code]

The `Foo` that is in scope of those `let` statements has been mutated by the decorator.  The original `Foo` is no longer reachable

[2016-06-28 17:20] blai commented on #4881
@nevir Yep, you are right. Thanks for clarification.

[2016-06-28 17:23] mhegazy commented on #9317
I am assuming you are using this file as a module and importing it into a different file and you are not seeing the type information, correct? if so, then #7075 fixes this by loading the .js files from a node package. previously only .d.ts files are loaded, and if none is provided no type information is loaded from a node package.

[2016-06-28 17:24] mhegazy commented on #8518
@twilliamsgsnetx please see my comment for a work around in https://github.com/Microsoft/TypeScript/issues/8518#issuecomment-223156931

[2016-06-28 17:28] mhegazy commented on #9392
`ActiveXObject` is defined as:

[code]

so from the compiler perspective `fso` is of type `any`.

Contributions for better definitions for the WSH are always welcomed. the definitions should go in https://github.com/Microsoft/TypeScript/blob/master/src/lib/scripthost.d.ts

[2016-06-28 17:37] jahewson commented on #9274
Ok, I figured this one out, I didn't have "settings.json" in source control, so moving to a a new branch didn't bring my "typescript.tsdk" setting with it. Everything works now!

[2016-06-28 17:38] blai commented on #4881
On a side note, it seems like turning off the check to invalidate mutated class types is relatively easy:

[code]

But I am not knowledgable enough to make the compiler output the correct type definitions of the mutated class. I have the following test:

tests/cases/conformance/decorators/class/decoratorOnClass10.ts
[code]

It generates tests/baselines/local/decoratorOnClass10.types
[code]

I was

[2016-06-28 17:43] niieani commented on #7926
The thing is we don't want to do that until all the typings are there. We want to add typings gradually, and cannot afford adding them all at once. Unfortunately with TypeScript it's all or nothing, because of problems like:

[code]

After changing the extension to `.ts` we'd have to manually declare everything untyped as `any` which is just too much work. That's why we prefer to keep things in `.

[2016-06-28 17:44] zspitz commented on #9392
@mhegazy I thought I was the last one using WSH (with or without Typescript)...

[2016-06-28 17:56] mhegazy commented on #9072
This looks fixed in latest. @Sampo123 please reopen if this issue still occurs.

[2016-06-28 17:56] #9072 closed

[2016-06-28 17:57] mhegazy commented on #8717
@dbaeumer so what is the resolution here?

[2016-06-28 17:58] sandersn commented on #9374
Microsoft/TSJS-lib-generator#126 will address this.

[2016-06-28 18:02] mhegazy commented on #9392
:D i think there still a few more out there. the TS compiler uses them internally as well to support running on cscript.

[2016-06-28 18:09] mhegazy commented on #7926
is your code base modules? have you tried using `--allowJS` and migrating only one module at a time?

The compiler makes assumptions about the files based on their extensions. including finding modules,  parsing, reporting errors, etc.. and i believe the editor has enough APIs to enable this if needed. but do not think this needs to be backed in the command line compiler.

[2016-06-28 18:09] mhegazy commented on #9274
thanks for getting back on this. closing.

[2016-06-28 18:09] #9274 closed

[2016-06-28 18:10] niieani opened #9394 "Destructuring array as function parameters results in a type error"
**TypeScript Version:**  2.0.0-dev.20160628 (the same error in all older versions)

**Code**

[code]

**Expected behavior:**
The destructured array should resolve to the same types for each of the parameters and should not give an error.

**Actual behavior:**
Error:

[2016-06-28 18:20] DanielRosenwasser commented on #9394
Looks like a dupe of #5296.

[2016-06-28 18:20] #9394 closed

[2016-06-28 18:20] niieani commented on #7926
@mhegazy yes, the codebase makes use of modules. `AllowJS` is not good enough in our case, since we already have started adding typings to most of the files -- they're just not everywhere yet. We use `babel-dts-generator` to generate .d.ts from the partially typed `.js` files, we then distribute those typings with the packages for the TS users, but the typings are only partially complete (the most

[2016-06-28 18:33] mhegazy commented on #9390
This should be flagged as an error by the compiler. a type parameter can not depend on itself, this is not supported.
I think what you are looking for is something like a type operator that gives you an all optional version of a type. this is tracked by https://github.com/Microsoft/TypeScript/issues/7004

[2016-06-28 18:33] dpogue opened #9395 "Problems with @types/angularjs"
**TypeScript Version:**  nightly (1.9.0-dev.20160627-1.0)

**Code**

[code]

[code]

**Expected behavior:** No compiler errors.

**Actual behavior:** Could not find module 'angular'.

---

The reason this happens is because typings for several separate Angular npm packages are being published as a single types package with an incorrect name.
The name of the Angular npm module is `angular`, but Typ

[2016-06-28 18:40] #9392 closed

[2016-06-28 19:02] mhegazy commented on #9387
@yui can you update the files, since you last touched them, and add the missing documentation from  https://github.com/Microsoft/vscode/blob/master/extensions/javascript/schemas/jsconfig.schema.json

[2016-06-28 19:13] #6716 closed

[2016-06-28 19:13] #8817 closed

[2016-06-28 19:13] ihsw commented on #8152
Just want to chime in that I am also experiencing the same issue.

* full code analysis is disabled
* running VS 2015 in safe mode works but obviously no Node/TypeScript projects compile
* VS 2015 memory usage continues climbing and it becomes so unstable (flashing Not Responding) until it crashes
* using VS 2015 Update 3

[2016-06-28 19:18] mhegazy commented on #8152
@heejaechang any ideas?

[2016-06-28 19:20] mhegazy commented on #9388
PRs welcomed. You can find more information about contributing lib.d.ts fixes at https://github.com/Microsoft/TypeScript/blob/master/CONTRIBUTING.md#contributing-libdts-fixes.

[2016-06-28 19:21] mhegazy commented on #9335
looks like a duplicate of  #8905 then. can you give the nightly a try and see if it resolves the issue for you? here are the instructions: https://github.com/Microsoft/TypeScript-Handbook/blob/master/pages/Nightly%20Builds.md#visual-studio-code.

[2016-06-28 19:23] martine commented on #9391
Perhaps some layer (the compiler? or tslint?) could warn on `typeof(x)` expressions to avoid this problem.

[2016-06-28 19:26] DanielRosenwasser commented on #9389
Is this a duplicate of #6405?

[2016-06-28 19:31] giacomorebonato commented on #9335
Problem still present with
"typescript": "^2.0.0-dev.20160628"
"tslint": "^3.12.0-dev.2"

[2016-06-28 19:32] niieani commented on #5296
This is a pretty basic and useful feature (e.g. for restoring JSON defaults).
Is there any workaround to make this work?
Typing the input array as `any` doesn't have any effect: :(

[code]

[2016-06-28 19:35] DanielRosenwasser commented on #5296
You can assert the type of the function to `any`:

[code]

[2016-06-28 19:37] niieani commented on #5296
Ah, right. Thanks @DanielRosenwasser. Hope this gets implemented soon!

[2016-06-28 19:58] heejaechang commented on #8152
we found a leak where we are leaking preview window and preview workspace in certain cases. we are planning to release the fix on next micro-update. meanwhile, let me see whether we can share that nightly fix with you to see whether that address the issue you are seeing.

[2016-06-28 20:01] #9186 closed

[2016-06-28 20:33] #9363 closed

[2016-06-28 20:50] MCKRUZ opened #9398 "tsc.exe exited with error code 1 - Exclude not working"
**TypeScript Version:**  1.8.10
**TypeScript Tools Version:** 1.8.6

I'm using Visual Studio 2015 sp3.  Here is my project
https://github.com/MCKRUZ/TestCode

I'm getting issues where I will get an error tsc.exe exited with code 1 no matter what I do.

It seems like the "exclude" attribute isn't working at all in tsconfig.json.  Can someone please try this and help me?

**Expected behavior:**
The

[2016-06-28 21:12] mindplay-dk commented on #9312
The compiler can't know precisely what comes out of `getElementById()`, or any other method.

But in the case where I'm directly casting an object literal, it knows precisely what properties that object literal has; there's no way the assertion in the two first examples could be correct, it's guaranteed to fail.

An object literal with a type-cast is kind of like a construction, and if that object

[2016-06-28 21:25] GeorgDangl commented on #9398
Your project should build when you change `watch` in tsconfig.json to `false`. I got the error described [here](https://github.com/Microsoft/TypeScript/issues/7362).

However, it seems that some *.cs files are missing in your repository (Momentum.ASPCoreNg2.Template.Services namespace is referenced in `AccountController` but not present in the repository), so it still won't compile. But all the er

[2016-06-28 21:33] mhegazy commented on #9398
as noted by @GeorgDangl `--watch` is not supported in `tsc.exe` using node to build should do the trick. my recommendation is to remove that from the tsconfig.json, along with the other not needed flags like `diagnostics`, `listFiles`, `pretty`, `locale`..

in general, i would remove all the properties that has the default, i.e. "false".

[2016-06-28 21:42] mhegazy commented on #9389
thanks. i looked for this one and could not find it.

[2016-06-28 21:42] #9389 closed

[2016-06-28 22:07] mhegazy opened #9402 "catch variables should not be flagged as unused with `--noUnusedParamters`"
[code]

`e` should not be an error.

[2016-06-28 22:11] mhegazy opened #9403 "Names used in nested functions should not be flagged as unsued"
[code]

`a` should not be marked us unused

[2016-06-28 22:24] RyanCavanaugh commented on #9312
I guess we fundamentally disagree on what a type assertion is used for. My take is, a type assertion is there to let you do things you normally wouldn't be able to do. If you don't want unsafe coercions to take place, *don't write a type assertion there!* Adding new errors around type assertions that are plausibly correct seems counter to the very goal of a type assertion.

[2016-06-28 22:59] falsandtru opened #9404 "Incorrect file reference of @types"
**TypeScript Version:**  master

**Code**

On the TypeScript repo's root directory.

[code]

**Expected behavior:**

[code]

**Actual behavior:**

[code]

[2016-06-28 23:25] weswigham commented on #9404
We don't have a straight promise implementation in our `node_modules/@types` directory (because we use the `@types/q` we include due to other includes to provide those types), which is why it errors when used outside out build context (as the global patch `type Promise<T> = Q.Promise<T>` is in our Gulpfile).

Workaround: This is just caused by out new automatic inclusion of `@types` directories in

[2016-06-28 23:25] lahloumehdi commented on #8950
The bad thing is that TypeScript it worked perfectly with uwp/visual studio 2015 Update 1 and Typescript 1.7.6.

There was something broken after the update 2 of VS or the update of typescript (1.8>)

I have a very big UWP project that use TypeScript and I'm not able to upgrade VS or TypeScript because of to this issue ...

[2016-06-28 23:26] falsandtru opened #9406 "Type checks of generic classes don't work when its class member is referred own class"
**TypeScript Version:**  master

**Code**

[code]

**Expected behavior:**

[code]

**Actual behavior:**

[code]

[2016-06-28 23:35] zspitz commented on #9392
@mhegazy See [here](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/9868). I've written a tool that uses tlbinf32.dll to generate Typescript definitions from type libraries.

[2016-06-28 23:41] falsandtru commented on #9404
I tried `--types` option but it seems not to work, and `--typeRoots` option doesn't exist in the option list.

[code]

[2016-06-28 23:42] billti commented on #6964
Actually, #7075 didn't resolve this. As I commented at https://github.com/Microsoft/TypeScript/pull/7075#issuecomment-228665658

If you like, I can quickly add the change to resolve this issue later this evening. I just didn't want to conflate the two and risk not getting in the other fix if the were concerns on this issue (as there had been some discussion above). Let me know.

[2016-06-29 00:22] aleksey-bykov commented on #9403
how is this going to work with

fiction third<T>(x:any, y: any, z: T) : T { return z; }

[2016-06-29 00:24] ahejlsberg commented on #9322
This is working as intended. The inferred type for `foo` is `never[]` because we don't widen types in `--strictNullChecks` mode. Full details in #8944.

[2016-06-29 00:48] #9398 closed

[2016-06-29 00:48] MCKRUZ commented on #9398
Thank you so much guys that did it!

[2016-06-29 02:12] SaschaNaz commented on #8950
@lahloumehdi Does your problem also happen on VS2015 Update 3?

[2016-06-29 03:23] texastoland opened #9408 "Arrow syntax missing a closure in ES5"
**TypeScript Version:**  1.8.0 / nightly (`2.0.0-dev.20160628`)

I'm currently using `async` in ES5 from the compiler service (similar to https://github.com/Microsoft/TypeScript/issues/1564#issuecomment-220025449) via Regenerator. Could #7706 be fixed since it's on the 2.0 roadmap?

**Code**
[code]

**ES2015:**
[code]
**Actual ES5:**

[code]

**Expected ES5:**

[code]

CC @spicydonuts

[2016-06-29 03:38] ahejlsberg commented on #2983
Boolean literal types are now available in #9407. Once that is merged we can update the return type of generators and iterators.

[2016-06-29 03:39] ahejlsberg commented on #6149
This issue is fixed with #9407.

[2016-06-29 03:40] ahejlsberg commented on #6155
Checking for exhaustive switch statements is now possible with #9407.

[2016-06-29 03:41] ahejlsberg commented on #7447
The original suggestion in this issue along with a number of other features is now implemented by #9407.

[2016-06-29 03:43] ahejlsberg commented on #7642
With #9407 const enum members become literal types.

[2016-06-29 03:51] aleksey-bykov commented on #6155
best day ever! thanks a bunch

[2016-06-29 03:51] #6155 closed

[2016-06-29 05:29] aluanhaddad commented on #7426
@basarat I actually did mean `null` because I was trying to map the concept of a JavaScript object in terms of a some arbitrary, statically typed language to point out that a JavaScript object would be modeled as an associate collection type. But thank you :heart:

My point was exactly what you went on to say

Exactly this. One shouldn't need to care. It's unfortunate that we have to deal with bot

[2016-06-29 05:34] mhegazy opened #9409 "Can not specify an empty list of `--types`"

[2016-06-29 05:34] mhegazy commented on #9409
@weswigham can you take a look.

[2016-06-29 05:49] Quantumplation opened #9410 "Intersection types and string literals"
**TypeScript Version:**  1.8.0

**Code**

[code]

**Expected behavior:**
(prefix: I'm not sure if this was intentional or not, or whether it's a known issue or not, and I looked through other issues looking for mention of it and didn't see anything)

Case 1 and 2 should be valid, while case 3 should be an error.

**Actual behavior:**
All three cases are errors, as the intersection results in an em

[2016-06-29 05:49] athyuttamre commented on #6615
@mhegazy thank you!

[2016-06-29 05:52] weswigham commented on #9409
I [removed](https://github.com/Microsoft/TypeScript/pull/9090/commits/d20459607b96b17dacfd018eb6f8e29a97805dfc) the bare comma option after discussion around the PR in the office - people found it confusing. You need to just supply a following command line argument (like `--sourcemaps`), or supply an empty following parameter (if calling using some shelling out API).

If we do actually want the ba

[2016-06-29 06:02] weswigham commented on #9404
Hm, [type roots should exist](https://github.com/Microsoft/TypeScript/blob/master/src/compiler/commandLineParser.ts#L340), (as does `--types`). They're recent additions which only [just got added to schemastore](https://github.com/Microsoft/TypeScript/issues/9355).

By the way, the issue with `node built/local/tsc.js --types index.ts` is that `--types` expects a list (so it looks like you're massi

[2016-06-29 06:31] DanielRosenwasser commented on #9410
There are two things that you might consider issues.

The first is that `"A" | "B"` does not undergo subtype reduction in the intersection of `("A" | "B") & string`. @ahejlsberg can answer better than I can here.

Another is that the way that we check the contextual type for the strings `"A"` and `"B"`. We basically check if the contextual type for a string literal expression is a string literal t

[2016-06-29 06:37] jesseschalken commented on #7426
See
- http://kiro.me/blog/typeof_null.html
- http://www.2ality.com/2013/10/typeof-null.html
- https://twitter.com/BrendanEich/status/652440848299372544
- https://twitter.com/BrendanEich/status/286600050023469056
- https://twitter.com/BrendanEich/status/330775086208524288
- https://twitter.com/BrendanEich/status/617450289889607681
- https://twitter.com/BrendanEich/status/157868556837584896
- https:

[2016-06-29 06:48] nillis commented on #6615
Great solution!

[2016-06-29 06:53] MartinJohns commented on #6615
@mhegazy Do you know by chance if there's a way to change the used TS version in a per-project base? I'd like to switch it for Visual Studio, but changing the registry which will affect the whole system is a no-go to me.

[2016-06-29 07:20] falsandtru commented on #9404
Thanks! I'm waiting for the fix of #9409.

Here is full list of options. `typeRoots` option doesn't exist.

[code]

[2016-06-29 07:20] #9404 closed

[2016-06-29 07:23] falsandtru commented on #9409
Help messages should have a `types` option's parameter such as `--types TYPES`.

[code]

[2016-06-29 07:57] SwintDC commented on #8152
Since we changed our tsconfig.json (see below) Visual Studio doesn't crash as often anymore, and it also doesn't use as much memory anymore.

**tsconfig.json: before**
{
  "compilerOptions": {
    "declaration": true,
    "noImplicitAny": true,
    "noEmitOnError": false,
    "module": "amd",
    "target": "es5"
  },
  "exclude": [
    "**/src/defs",
    "**/*.d.ts"
  ]
}

**tsconfig.json: after**

[2016-06-29 08:07] mhegazy commented on #6615
The option is universal for VS and VSCode.

[2016-06-29 08:09] ananthakumaran opened #9411 "tsserver throws exception on format command"
**TypeScript Version:**  master commit 47bee47c7553956988c7188271733f91bc4f7541

**Code**

[code]

**StackTrace**
[code]

[2016-06-29 08:10] DickvdBrink opened #9412 "noUnusedLocals: errors on variables that are used"
Version: 2.0.0-dev.20160629

Compile below code with --noUnused Locals
`tsc --noUnusedLocals test.ts`

[code]

**Expected**
No errors but got one for `test.ts(5,13): error TS6133: 'that' is declared but never used.`

[2016-06-29 08:12] mhegazy commented on #9412
duplicate of https://github.com/Microsoft/TypeScript/issues/9403

[2016-06-29 08:12] #9412 closed

[2016-06-29 08:23] wendellm commented on #563
+1 As a developer I want partial classes so that multiple templates can generate/modify the same class spread out over multiple files.

[2016-06-29 08:29] benjamin-hg commented on #9390
@mhegazy yes, exactly -- thanks for pointing me to #7004

[2016-06-29 08:52] dbaeumer opened #9413 "Support Go-to-Implementation"
_From @frogcjn on June 28, 2016 7:36_

Intellisense allows us using command + click to jump into definition (*.d.ts) or other typescript source files,
but some module needs us to quick view its javascript source file. like 'express' module or 'mongoose' module.

Is there is a quick way to jump into /node_modules/express/index.js or /node_module/express/mongoose/index.js from symbols in TypeScript

[2016-06-29 08:52] dbaeumer commented on #9413
I am not aware of one. I tried to do a import and then use navigation but that didn't work. Will move to the TS team since such a smartness has to come from them.

[2016-06-29 09:20] niieani opened #9414 "Compiling a directory with --outDir causes generation of paths not matching the source when some .ts files are symlinked"
**TypeScript Version:**  either 1.8.10 and 2.0.0-dev.20160629

**Expected behavior:**
We're sharing code between frontend and backend projects in TypeScript by symlinking a directory with files that are common to both of them.
The expected behavior is that the output directory mirrors the source directory - i.e. both the symlinked and real files are placed in their correct, respectful output direc

[2016-06-29 10:04] passle-chris commented on #7445
@paulvanbrenk Yeah, mhegazy, explained above how this happened. I certainly hadn't manually edited any of these files. The reason for my post is that I was considering it after RHCoenen's comment. In the end what worked for me was uninstalling all typescripts, removing the relevant directories from MSBuild to make sure no old files were lying around and then reinstalling 1.4 and 1.7 (the two versi

[2016-06-29 11:56] Quantumplation commented on #9410
This definitely makes sense for intersecting it with anything other than other string literals,but what about this case?

[code]

This also currently fails typechecking.

[2016-06-29 11:57] deadZedd commented on #8518
@mhegazy Using the 2015 update 2 fix-file you provide stops typescript from compiling on my VS update 3 (silent, no output). Using the original backup-file from update 2 doesnt compile TS either (as someone suggested) so my only "solution" to get it compiling is to use the original update 3 file and live with the errors.

[2016-06-29 12:03] leegee commented on #9072
I thought it was working, but should it not format the below?
[code]

![image](https://cloud.githubusercontent.com/assets/512816/16451250/c58b0300-3df9-11e6-8600-1c1f671970a2.png)

[2016-06-29 12:33] exoszajzbuk opened #9415 "New Website Logo: Supercharge"
Please fill the following out:

- Name: Supercharge
- Homepage url: https://supercharge.io
- Brand Guidelines/Licensing: please use the logo centered in canvas
- Logo: https://s3-eu-west-1.amazonaws.com/uploads-eu.hipchat.com/34464/236879/sUYy2hFHoBTxbPt/supercharge_logo.svg

[2016-06-29 12:36] GeorgDangl opened #9416 "Visual Studio 2015 Update 3: compileOnSave from tsconfig.json no longer works"
**TypeScript Version:**  1.8.34.0 / 1.8.6.0

Since I've upgraded to Visual Studio 2015 Update 3 with the .Net Core 1.0 SDK and the Visual Studio Tooling Preview 2 for .Net Core, the `compileOnSave` entry from `tsconfig.json` is no longer being honored by Visual Studio. I've followed the [advice given here](https://github.com/Microsoft/TypeScript/issues/8518#issuecomment-223156931) to be able to co

[2016-06-29 12:37] Vilx2 opened #9417 "Visual Studio crashes due to TypeScript running out of memory"
**TypeScript Version:**  1.8.34.0

Since I updated my Visual Studio 2015 to Update 3 this morning, it has started to crash very often. Basically at least once an hour. It's quite random, and unfortunately I cannot share any code (it happens when working on our commercial product). But I can share a stack trace that I get out of Event Viewer:

[code]

From this it is visible that it crashes when do

[2016-06-29 13:11] twilliamsgsnetx commented on #8518
@mhegazy It does work, thankfully. I remember in a previous version doing this fix, it caused my visual studio to crash fairly frequently.

[2016-06-29 13:37] HarshdeepGupta opened #9418 "Output test files don't delete/rename themselves after doing the same operation in src files"
**TypeScript Version:**  1.8.5
**VSCode Version:** 1.2.1
**OS Version:** Windows 10

I am building a VS Code extension, and on writing test cases for it, I noticed that files in out/test get created automatically upon creation in /test but don't get renamed or deleted.

**Steps to Reproduce:**

1. Start Yo Code and scaffold a TS extension (Yo code)
2. open the extension in VS Code and build once (

[2016-06-29 14:43] frogcjn opened #9419 "Feature Request: switch tuple"
for example:
[code]

currently, tuple will not match any case, though its value is [3, 3]

[2016-06-29 15:13] mortb commented on #9419
If you can't wait for the team to answer, here is a workaround:
[code]

[2016-06-29 15:25] jdmichal commented on #9391
I'd be happy with pretty much anything other than the current status of silently failing to narrow types with no documentation or warning indicating that the statement could be changed to enable narrowing. A warning would be fine, though I would definitely want it in the compiler and not a separate linter. But this seems like one of those instances where by the time the compiler could issue a warn

[2016-06-29 16:07] sandersn commented on #9419
I don't think TypeScript can help in this case because `switch` working with arrays would be quite different from JavaScript's behaviour. You probably should support [the ECMAScript pattern matching proposal](https://gist.github.com/bterlson/da8f02b95b484cd4f8d9). If that's accepted into the standard, you will get tuple matching and more.

[2016-06-29 16:08] #9419 closed

[2016-06-29 16:32] andy-ms opened #9423 "Can not access name of `export default async function`"
**TypeScript Version:**  next

**Code**

(with `--target ES6`)

[code]

**Expected behavior:**
`foo` can be accessed

**Actual behavior:**
`src/index.ts(2,1): error TS2304: Cannot find name 'foo'.`

[2016-06-29 16:46] frogcjn commented on #9419
@sandersn
does ECMAScript has tuple?

[2016-06-29 16:48] sandersn commented on #9419
You just need array matching to get the semantics you want. Tuples are just a type to make sure that you aren't matching against nonsensical patterns.

Of course if ES20xx adds support for pattern matching, then TypeScript will allow you to type arrays as tuple in a matching context.

[2016-06-29 16:52] frogcjn commented on #9419
@martb, thanks. I solved it what as you writes.
But as I suggest, typescript has a "tuple" concept, then it should has an ability to match tuple in switch.

[2016-06-29 16:53] frogcjn commented on #9419
@sandersn OK. I'll proposal ECMASCript has all type features like typescript. And then I wait until 2019.

[2016-06-29 16:56] sandersn commented on #9419
Pattern matching isn't really a type-system concept. There are plenty of languages with pattern matching but no compile-time types. (Erlang, Clojure, Common Lisp and Scheme come to mind immediately.)

[2016-06-29 17:11] aluanhaddad commented on #563
My comments were specifically in regard to partial classes, not to mixins. The two are fundamentally different. Partial classes are about breaking up physical code, mixins are about breaking up logical behavior into reusable traits enriching other objects at both the type and the value level.
I do not think think partial classes are a good idea for TypeScript. Mixins, on the other hand are a good

[2016-06-29 17:13] zhengbli commented on #9072
Hmmm. @leegee  This is what I got using your code:
![gif](https://cloud.githubusercontent.com/assets/1171301/16461578/0e6b2784-3de2-11e6-93fb-c06ef6a82312.gif)
I am using the same commit of VSCode as you, and I'm using the typescript version that comes with it as well.

[2016-06-29 17:15] Peter-Juhasz opened #9424 "Right paren is not a completion commit character"
**Visual Studio 2015 Update 3**
**TypeScript Version:**  1.8.34

**Code**
![image](https://cloud.githubusercontent.com/assets/9047283/16461397/a5e7fe44-3e2c-11e6-95ae-4eb91c3e1808.png)

**Expected behavior:**
I type the next character ')' without fully typing the word or explicitly committing the selected completion item by Enter; the completion item gets committed and the character I typed gets i

[2016-06-29 17:26] DanielRosenwasser commented on #9423
This may just be a matter of us parsing that as a function expression instead of a function declaration.

[2016-06-29 17:28] aluanhaddad commented on #563
@wendellm can you think of a clean way to do this given that ES Modules are physical. Partial classes work well and make a lot of sense in a language like C# where modules are logical not physical. From the point of view of the CLR, namespaces don't exist, it's just that class names can have dots in them (source an interview with @ahejlsberg)

[2016-06-29 17:51] rterra commented on #8518
I seems that work if Upgrade 3 RC but not with final version. I copy over VS 15 Update 3 and typescript compilation stopped with unknown exception.

[2016-06-29 17:53] mhegazy commented on #9417
Thanks. we would love to look at the project if possible. we would be happy to sing any NDA to get access to your code.

The stack trace does not tell really where the memory is gone before this call. other than compile on save, do you notice increase in the VS process private working set?

[2016-06-29 17:54] mhegazy commented on #9417
//cc @vladima

[2016-06-29 17:59] ahejlsberg commented on #9410
I'm not quite sure what the intent of `T & string` is the original example since it will only produce a meaningful type when `T` itself is `string`. An intersection type `X & Y` conceptually represents a value that is *both* an `X` and a `Y`. Unlike union types, intersection types aren't always meaningful (e.g. a value can't be both a `string` and a `number`) and sometimes serve no other purpose t

[2016-06-29 18:12] kitsonk commented on #9419
JavaScript does not `switch` on non-primatives (references).  You cannot `switch` on Objects, Arrays, etc..

While a tuple type is a TypeScript concept, it is still a non-primative concept.  As tuples stand at the moment, they are a design time only concept, with their typing information fully erasable by using Array literals at run-time. Implementing this feature it would break several of the Typ

[2016-06-29 18:34] yuit commented on #9363
@shovon I have another PR to fix your second comment, if you would like to take a look !

[2016-06-29 18:38] #9322 closed

[2016-06-29 18:52] Quantumplation commented on #9410
I'll elaborate a bit on our use case (which is, admittedly, a bit of type system abuse...)

For many of our types, they come in two varieties: design time view and runtime view.  Thus, we might have the following two types:

[code]

This pattern happens over and over, and in every case the properties on the type, and the underlying type that they take are identical, meaning we have two places to m

[2016-06-29 19:15] Vilx2 commented on #9417
No, I didn't pay attention to overall memory usage of VS (though it's a pretty big memory hog by default anyway).

Another hint that just came to my mind was that what I was doing this morning was some refactoring. While not a big thing in and of itself, it did introduce quite a bit of compilation errors for a while. Perhaps that is related? I'll check out if I can force it to crash this way.

I'l

[2016-06-29 19:47] mhegazy commented on #9417
If you can share a heap dump we can also see what is using up your memroy

[2016-06-29 20:00] leegee commented on #9072
What can I say?

How did you record the animation?

On Wed, 29 Jun 2016, 18:14 Zhengbo Li, <notifications@github.com> wrote:

[2016-06-29 20:18] weswigham opened #9427 "Typescript LS is preferring .js to @types .d.ts when loading types"
**TypeScript Version:**  nightly (2.0.0-dev.201xxxxx)

**Code**
`npm install --save-dev gulp`
`npm install --save-dev @types/gulp`

[code]

**Expected behavior:**

Right click -> Go to definition on `gulp` -> Opens `@types/gulp/index.d.ts`

**Actual behavior:**

Right click -> Go to definition on `gulp` -> Opens `gulp/index.js`

Using the imported `gulp` also makes it obvious that all the types ar

[2016-06-29 20:21] weswigham commented on #9427
@billti I think this has something to do with #9384. I think it's taking priority over #8670 and #9095 - which are headlining features for 2.0!

[2016-06-29 20:36] yuit opened #9429 "Binding patterns should imply non-nullability"
**TypeScript Version:**  master-build
As originally suggested by @shovon in [comment](https://github.com/Microsoft/TypeScript/issues/9363#issuecomment-228611751) in additional of passing undefined/null in destructing parameter as suggested by the comment, destructing, in general, should never be allow undefined or null
**Code**

[code]

[2016-06-29 20:36] billti commented on #9427
Doh! Yeah, makes sense. I'll need to somehow locate the .js file, but defer using it until other type resolution from other search locations fail. Will take a look a bit later, but will revert in the meantime.

[2016-06-29 20:37] zhengbli commented on #9072
I used [GifCam](http://blog.bahraniapps.com/gifcam/).

If you set the settings to
[code]
Would you see exception & trace information in your output panel, TypeScript channel?

[2016-06-29 20:41] sandersn commented on #9374
#9401 fixes this.

[2016-06-29 20:41] #9374 closed

[2016-06-29 20:46] weswigham commented on #9427
@billti I think I can make a PR fixing it - one of my other PRs already alters that area a bit, so I'm familiar with it.

[2016-06-29 20:55] billti commented on #9427
We'll need to add a project test covering a realistic NPM file layout with @types definitions installed too. That would have caught this.

[2016-06-29 21:12] paulvanbrenk commented on #9416
@GeorgDangl did it work without updating `typescriptServices.js'?

[2016-06-29 21:26] GeorgDangl commented on #9416
I can't check that today since I don't have access to the backed up typescriptServices.js file until tomorrow, I'll report asap. But Angular2 wouldn't compile with the fresh installation of VS Update 3.

I found out, however, that compile on save _does_ work in either a TypeScriptHtmlProject (so no .Net Core) or alternatively if I remove the tsconfig.json file from the .Net Core project. It also w

[2016-06-29 21:30] paulvanbrenk commented on #9416
@GeorgDangl The `typescriptservices.js` file referenced here https://github.com/Microsoft/TypeScript/issues/8518#issuecomment-223156931 doesn't return the state of `compileOnSave` in the `tsconfig.json` to VS, so we don't enable it. @mhegazy should update that to point to the right `typescriptservices.js` to work with both angular and compile on save.

[2016-06-29 21:30] #9416 closed

[2016-06-29 21:33] xjamundx commented on #6468
Hey so I'm trying to figure this out.

Seeing this message:

[code]

[2016-06-29 21:35] GeorgDangl commented on #8518
Yeah @rterra, @paulvanbrenk confirmed in #9416 that the fix for typescriptServices.js must be updated.

[2016-06-29 21:36] xjamundx commented on #6468
Running into the same issue. Again I'm coming from a babel ecosystem and have a polyfill for these. I noticed these online, but not quite sure how to install them:
http://definitelytyped.org/docs/typescript-services--typescriptServices/classes/typescript.stringutilities.html

[2016-06-29 21:41] cwalv commented on #5711
The problem is that I don't need always need the declarations in the code (obviously, since it works without `--declarations`), and including them is noisy, causing things like `tslint` to complain about the "unused import".  I can see why you wouldn't want the compiler to add dependencies to emitted javascript, but what's the problem with adding them to emitting declarations?

[2016-06-29 21:51] mhegazy commented on #5711
feel free to log an issue to track this suggestion. the rational was imports are a declaration of dependency, and the compiler should not create one for you unless you instruct it to do.

[2016-06-29 22:07] RyanCavanaugh commented on #9406
This seems according to spec. `L<number>` is assignable to `R<number>`, so the assignment to `E<Error, number>.n` succeeds.

[2016-06-29 22:19] mhegazy commented on #8518
Here are the updated instructions for VS 2015 Update 3

To summarize the workarounds:

For VS 2015 (Update 3):
- Install VS 2015 Update 3
- Replace `C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\CommonExtensions\Microsoft\TypeScript\typescriptServices.js` with the file in https://raw.githubusercontent.com/Microsoft/TypeScript/Fix8518-U3/lib/typescriptServices.js. First take a loc

[2016-06-29 22:31] mhegazy commented on #9414
symlinks are not fully supported. they are supported for node modules (i.e. npm link), other than that they are not used.

[2016-06-29 22:32] falsandtru commented on #9406
I see, thanks. However, I think this behavior is confusing.

[2016-06-29 22:35] mhegazy commented on #9416
I have updated the workaround for 8518, see https://github.com/Microsoft/TypeScript/issues/8518#issuecomment-229506507

[2016-06-29 22:38] #9406 closed

[2016-06-30 00:06] DanielRosenwasser commented on #9385
The actual suggestion here is somewhat difficult from a technical perspective. I wonder if an "add missing member" code-fix would possibly help alleviate some of the pain of the current experience.

[2016-06-30 00:08] CarsonF commented on #9365
Info here as well: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/8787

[2016-06-30 00:11] DanielRosenwasser commented on #9386
On a Unix system (like Mac OS X), that path might have nothing to do with your project. Instead, it is the root of the file-system. I don't think we could change that behavior.

Automatically resolving import paths *should* work though, but I'd file a separate issue if that's not actually the case.

[2016-06-30 00:11] #9386 closed

[2016-06-30 00:27] DanielRosenwasser opened #9432 "Turn on --strictNullChecks in codebase"
This is important for consumers of our API and for testing the feature in general

[2016-06-30 01:31] #9320 closed

[2016-06-30 01:33] yortus commented on #9408
Looks like #7334, which is fixed in `typescript@next`.

[2016-06-30 02:01] texastoland commented on #9408
^ I've been using nightlies the entire time I've encountered it.

[2016-06-30 02:11] yortus commented on #9408
With the currently nightly, if your target is ES5, then the expression `async () => aPromise` should give you a compile-time error (`Async functions are only available when tyargering ES2015 or higher`). Are you getting this error?

The bug in v1.8 was not the invalid emitted code, it was the lack of error message. v1.8 didn't support `async` in ES5, but it didn't produce an error message if the a

[2016-06-30 02:17] texastoland commented on #9408
Yes the diagnostic message is working. But the [2.0 roadmap](https://github.com/Microsoft/TypeScript/wiki/Roadmap#20) indicates planned support in #1564? I assume there's a bigger architectural theme but we've been using Regenerator with `async` successfully and I thought the missing closure might be a legitimate bug.

[2016-06-30 02:22] yortus commented on #9408
Yeah, I'd say the current emit is not a bug since there are no guarantees about emitted code when there are compile errors.

The v2.0 milestone is currently at 96% completion, so if you wait a little longer you'll be able to target ES5 and get valid emitted code. However it won't look much like your `Expected ES5` code above since that contains an ES6 generator function. I expect it will look some

[2016-06-30 02:25] texastoland commented on #9408
Okay I understood that's the probable resolution. When I set up our build a few months ago I was silencing a number of other messages and you've already made all of the rest work. Thanks!

[2016-06-30 02:25] #9408 closed

[2016-06-30 02:39] tinganho commented on #9385
Yes that would also be preferrable.

[2016-06-30 02:44] mitermayer commented on #5858
I also expect to be able to provide my own configuration that should not reside in the root of the project

[2016-06-30 02:50] aluanhaddad commented on #7699
Flow adds things to .js files that need to be removed before native execution even on fully feature compliant runtimes. The same is true when jsx markup is included in a plain .js file. The difference between this and say native es6 code that has not been transpiled is that the latter is actually JavaScript. I think this is a terrible idea

[2016-06-30 03:32] zspitz commented on #2541
@nycdotnet I've added a [PR to DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/9868) for Scripting Runtime and WIA, which uses this.

[2016-06-30 03:37] yortus opened #9433 "Can't use a class like an interface if has private members"
**TypeScript Version:**  nightly (2.0.0-dev.20160629)

**Code**

[code]

**Expected behavior:**
I expected all the examples above to compile without errors.

**Actual behavior:**
Compile-time errors are issued as shown in the code comments above.

**Additional Info:**
I should note that I'm using a technique above that I'm not 100% sure is officially sanctioned, even though it works beautifully as

[2016-06-30 03:40] zspitz commented on #956
@RyanCavanaugh Can I define a signature with multiple parameters? Or with types other than `number` or `string`?

[2016-06-30 05:01] yortus commented on #9433
After deeper digging, this is a duplicate of #471 (coincidentally duplicated right down to the `MockFoo` in the example).

#471 is closed, but tagged 'revisit'. I do hope it can be revisited with a workable solution.

[2016-06-30 05:01] #9433 closed

[2016-06-30 05:24] envygeeks commented on #4130
For us we use spreads to allow users to configure argv requirements in a base app without the need to build their own helpers.  For example:

[code]

[code]

[2016-06-30 06:02] ikarienator commented on #8544
I made a project to reproduce this issue: https://github.com/ikarienator/TS-Issue-8544. `quickinfo` works on `master` branch but reports "No Project" on `failure` branch. The two branch has only one line of diffrence.

VCS: Version 1.2.1 (1.2.1)
fe7f407b95b7f78405846188259504b34ef72761

[2016-06-30 06:33] mhegazy opened #9434 "Assert in navbar for namespace imports"
[code]

[code]

[2016-06-30 07:03] Vilx2 commented on #9417
Gladly! But how do I make one? When VS crashes, it just shows the regular "Windows is checking for a solution..." and then "Restarting Visual Studio...". There isn't even a JIT debugger prompt for some reason. :/

I checked it out some more. It seems that the errors don't have much to do with it. The project compiles fine right now, but the problem is still there. I enter a new blank line, save th

[2016-06-30 07:31] ludakuca opened #9435 "Microsoft.TypeScript.targets(156,5): error MSB4018: The "FindConfigFiles" task failed unexpectedly."
**TypeScript Version:**  1.8.34 (build server 1.8.6 and 1.7.5

**Code**
C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\TypeScript\Microsoft.TypeScript.targets(156,5): error MSB4018: The "FindConfigFiles" task failed unexpectedly. [D:\Builds\TFSBuild.proj]
C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\TypeScript\Microsoft.TypeScript.targets(156,5): error MSB4018: System.A

[2016-06-30 08:04] mhegazy commented on #9417
Can you watt until memory/CPU usage spikes, make a full heap dump using '[procexp](https://technet.microsoft.com/en-us/sysinternals/bb896653)' or '[procdump](https://technet.microsoft.com/en-us/sysinternals/dd996900.aspx)' and share it?

[2016-06-30 08:15] Vilx2 commented on #9417
I just found how I can do it with Visual Studio itself (attach another VS as a debugger, wait to crash, then Debug->Save Dump). Will that do?

[2016-06-30 08:19] Vilx2 commented on #9417
Also, is there some private way how I could send you a link to the dump file? I don't mind sharing it with you, but I wouldn't want to make it publicly available.

[2016-06-30 08:24] mhegazy commented on #9417
feel free to email it to me `mhegazy` at `microsoft` dot `com`

[2016-06-30 08:39] Vilx2 commented on #9417
Sent it.

[2016-06-30 08:43] rajeevkumarsharma opened #9436 "Property 'fill' does not exist on type 'any[]'"
**TypeScript Version:**  1.8.0 / nightly (2.0.0-dev.201xxxxx)

**var arr = new Array(10).fill(1);**

[code]

**Expected behavior:**

**Actual behavior:**

[2016-06-30 08:43] mhegazy commented on #9435
@paulvanbrenk can you take a look.

[2016-06-30 09:05] Blasz commented on #4130
A real world example using the [combineLatest](http://reactivex.io/rxjs/class/es6/Observable.js~Observable.html#instance-method-combineLatest) function of https://github.com/ReactiveX/rxjs where I want to preserve the `this` value when calling `projectFn` using an arrow function and use rest parameters to propagate the arguments.

[code]

Currently I have to do

[code]

[2016-06-30 09:05] SaschaNaz opened #9437 "Indentation bug on array"
**TypeScript Version:**  master branch

**Code**

Copy-pasting #7503 but with a slight change...

[code]

**Expected behavior:**

[code]

**Actual behavior:** No change

[2016-06-30 09:44] keyiis opened #9438 "How to judge class type?"
Hi all,I have a question that how to  judge the class type in typescript? pseudo-code as below:
[code]

[2016-06-30 10:49] myitcv commented on #7848
@RyanCavanaugh - apologies, this is on the back-burner from my perspective at the moment. But I will get round to responding.

[2016-06-30 11:12] davidkmenta opened #9440 "insertAdjacent* methods should be part of the Element interface"
**TypeScript Version:**  1.8.10

**Expected behavior:** According to the MDN (https://developer.mozilla.org/en-US/docs/Web/API/Element), insertAdjacent* methods should be part of the Element interface.

**Actual behavior:** insertAdjacent* methods are part of the HTMLElement interface.

[2016-06-30 12:11] Kflash commented on #3364
This is marked with Milestone 2.1, but on the Roadmap it's under v. 2.0.

[2016-06-30 12:31] tp opened #9441 "typescript dependency on typescript@next"
**TypeScript Version:**  1.9.0-dev.20160627-1.0

I tried to install typescript only once using https://github.com/mariocasciaro/npm-workspace in a project with many small components, each of whom depend on TypeScript as a dev dependency.

When evaluating the output I saw that the typescript/node_modules folder contained a link pointing to itself again.

After some investigation I found out that th

[2016-06-30 12:48] kitsonk commented on #9436
I assume you are targeting ES5 though you have not provided that information... If you change the target to ES6 those will go away, but TypeScript does not polyfill functionality, so that could would only work in an ES6+ environment.

[2016-06-30 12:49] kitsonk commented on #9440
As you have done, filing the issue in TSJS-lib-generator is the proper place, you should/could close this issue here.

[2016-06-30 12:54] kitsonk commented on #9438
General questions should be filed on StackOverflow or discussed on Gitter or IRC.  The TypeScript issues are for issues (potential bugs) for TypeScript.

This is basic JavaScript and little to nothing to do with TypeScript, if you want to know if an instance is an instance of a class, you use the `instanceof` operator.  For example:

[code]

At a technical level it determines if the prototype of `

[2016-06-30 13:13] niieani commented on #1295
Has anybody done any work on this yet, or is it on anybody's radar? This will be a major improvement to how many standard libraries can use typings, including the likes of `lodash` or `ramda`.

[2016-06-30 13:50] zhuravlikjb opened #9443 "String literal type inconsistency in overload resolution"
As far as I see, the TS compiler still sees a string literal type of a single literal as an old style "string parameter" thing. I thought that the concept of string literal types should replace overloading on string parameters, but seems that it doesn't.

That complicates things, and results in a "strange" behaviour in overload resolution:
[code]

What should be the correct logic with string liter

[2016-06-30 13:51] gcnew opened #9444 "Syntax coloring fails if the method return type ends with a digit"
**TypeScript Version:**  1.8.0 / nightly (2.0.0-dev.201xxxxx)

**Code**

[code]

**Behavior:**
Everything following `EndsWithDigit1` to the end of `wrongSyntaxHighlight` stops being colored. This behavior is exhibited in Sublime / VS Code / Github with both nightly and 1.8  versions.

[2016-06-30 14:15] yuit commented on #9441
We have dependency on typescript@next is used in out build system, `gulp` and `tslint`.

[2016-06-30 14:15] davidkmenta commented on #9440
Oh, I'm sorry. README in TSJS-lib-generator mentions creating issue in this repo.. closing ;)

[2016-06-30 14:15] #9440 closed

[2016-06-30 14:19] saschanaz opened #9446 "No indentation gets inserted after comment on enter key press"
**TypeScript Version:**  The master branch as of 7b77f6b3fd88f012a2b1f93cd49505ac5cef1099

**Code**

Put the cursor on '|' position and press enter.

[code]

**Expected behavior:**

[code]

**Actual behavior:**

[code]

[2016-06-30 14:24] yuit commented on #9436
as @kitsonk  mentioned, `fill` function is ES6 specific and if you have `target` ES5 in your tsconfig (or project setting in VS), the editor will load default library which is ES5 library and therefore will not show you `fill` function. if you want to use ES6 library you can use our new compiler flag, `lib` which is available in nightly build

If our understanding is not correct, please complete t

[2016-06-30 14:26] rajeevkumarsharma commented on #9436
Thanks u

[2016-06-30 14:26] #9436 closed

[2016-06-30 14:40] tp commented on #9441
Interesting, I assumed there was some more sophisticated bootstrapping.

I can resolve this issue on my end by installing in "production" mode (i.e. ignoring the devDependencies).

[2016-06-30 14:40] #9441 closed

[2016-06-30 14:40] ludakuca commented on #9435
I realized after installing the newer version of TypeScript as well that neither my build servers or my local has any entry in the Parh for the environmental variables.  Is this something we should add manually if we want to be able to access the typescript compiler from anywhere other then TS folder?

[2016-06-30 14:40] gcnew commented on #9444
Closing this issue as it is part of the tooling and not the core language.

Superseded by: https://github.com/Microsoft/TypeScript-TmLanguage/pull/199

[2016-06-30 14:40] #9444 closed

[2016-06-30 15:35] jukibom commented on #4433
@nomaed yes, please! I was about to embark on something similar myself, the imports are causing us issues.

[2016-06-30 16:36] mindplay-dk commented on #9312
That all makes sense, and I don't think we fundamentally disagree - I'm only talking about the the case where a type-cast is being applied directly to an object literal, because that's kind of like an informal/dynamic constructor, and it's a common JS pattern, constructing something with a known shape but with no formal constructor.

Anyhow, yeah, maybe what I'm describing isn't actually a type-ca

[2016-06-30 16:43] nomaed commented on #4433
@jukibom I did upload that module to github/npm and I am using it for our build system, but I haven't written any tests or proper documentation of how to use it.

You can find it here: https://github.com/nomaed/dts-builder
I will add some text about how to use it later on today.

You can check and see if it works for you.

[2016-06-30 17:09] mprobst commented on #7271
Another example, in this case TS picks the `never` type:

[code]

[2016-06-30 17:24] born2net commented on #4094
I agree, I think a developer should a super power of TS to hide an error if he/she decides to...
maybe a ///TS_IGNORE above a line that ts inferred an error on...
be great!

[2016-06-30 17:35] nomaed commented on #4433
@jukibom I added some info to the README.
If you have any issues/questions/suggestions, feel free to open an issue.

[2016-06-30 17:44] born2net opened #9448 "Ability to over power TS and ignore specific error by developer"
A developer should be able to add a comment above a ts error such as

[code]

and have the compiler not report that error...
there are certain scenarios the developer knows best and want to quiet down the error reports.

kind of like :any

regards

Sean

[2016-06-30 17:46] mhegazy commented on #9435
correct. since TS 1.1, the installer does not add any thing to the path.

[2016-06-30 18:00] skorlir commented on #9448
Agreed. Longing for something like Java's @SuppressWarnings, in particular for the case described [here](https://github.com/Microsoft/TypeScript/issues/4534#issuecomment-218653346):

[2016-06-30 18:04] born2net commented on #9448
I just gave an example, not really a case (I know all about casting) , I do have other cases such as
super being called after  first line of constructor and other issues...
+ will make transition into TS easier from JS + sometime you change a lib and get tons of errors and you just want to clean things up as you know as the developer for the reason...

this is an important feature

[2016-06-30 18:07] rozzzly commented on #9448
So something like `//tslint:disable`, letting you turn on/off specific checks by ts

[2016-06-30 18:07] born2net commented on #9448
that would be awesome...

[2016-06-30 18:13] rozzzly commented on #9448
I don't know... I think that might be out of the scope of tsserver. That's what linters are for.

[2016-06-30 18:14] born2net commented on #9448
there has to be able to "shut it up" :)

[2016-06-30 18:26] ludakuca commented on #9435
Cool, thanks.

I uninstalled 1.8.6 from the build server, and have only 1.7.5.  I did a repair on the 1.7.5 and still getting the same error.  Not sure what changed and how was this working prior to me trying to upgrade to 1.8.6

Also I have VS2015 on build servers, and when I installed the 1.8.6 it was telling me in the version that its actually 1.8.5 (which should be the version for VS2013).  Ki

[2016-06-30 18:41] T917820981726 opened #9449 "Allow to run TypeScript (Compiler, Services) in strict mode"
**TypeScript Version:**  master

Currently, `tsc.js`, `typescriptServices.js` and `tsserver.js` cannot be run in a strict mode environment due to using the identifier [`static` in `checker.ts`](https://github.com/Microsoft/TypeScript/commit/675d176cef2bfed298ab0250398e905ba76ef58a?diff=unified#diff-c3ed224e4daa84352f7f1abcd23e8ccaR12971).

`static` is a reserved identifier in strict mode, so if yo

[2016-06-30 19:07] Raynos opened #9450 "--strictNullChecks does not gaurd against optional arguments assignment"
**TypeScript Version:**  Version 1.9.0-dev.20160610-1.0

**Code**

[code]

**Expected behavior:**

Expected "Cannot call foo() with undefined"

**Actual behavior:**

No errors output.

When running `node wat.js` we get an expected uncaught exception

[code]

My actual production use case is more complicated and involves assigning interfaces into a generic container class where the generic containe

[2016-06-30 19:22] ludakuca commented on #9435
got update 3 of visual studio on the build server, the version is showing as 1.8.34 (same as what I have locally)

When I build again getting the same error.

[2016-06-30 19:34] mhegazy commented on #3364
updated the roadmap. thanks.

[2016-06-30 19:35] skorlir opened #9451 "New tsconfig.json "include" syntax does not work with "..""
**TypeScript Version:**  nightly (2.0.0-dev.20160630)

**tsconfig.json**
[code]

**Expected behavior:**

Running `tsc` will compile all `.ts` files in `../app`.

**Actual behavior:**

Running `tsc` does nothing.

**NOTE**

Specifying `"files": [ "../app/someFile.ts" ]` *does* work; it is just that "include" seems to ignore "..".

[2016-06-30 19:35] #9438 closed

[2016-06-30 19:37] mhegazy commented on #5858
sure. `--p` argument can be a file path. you can pass any valid json file to it.

[2016-06-30 19:39] mhegazy commented on #9418
The compiler does not delete files. if you have renamed a source file, you need to delete the generated files as well. I do not think we have any intentions to change this behavior.

[2016-06-30 19:39] #9418 closed

[2016-06-30 19:41] #9341 closed

[2016-06-30 19:49] paulvanbrenk commented on #9435
@ludakuca Can you share your project file?

[2016-06-30 20:01] ludakuca commented on #9435
Project file within solution has this code at the top added for typescript:
`<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="12.0" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Import Project="$(MSBuildExtensionsPath32)\Microsoft\VisualStudio\v$(VisualStudioVersion)\TypeScript\Microsoft.TypeScript.Default.props" Condition="Exists('$(MSBuildExt

[2016-06-30 20:05] paulvanbrenk commented on #9435
@ludakuca Can you share your whole project file, there may be some subtle things going on. Does this work on your local machine? Further can you share the log file when you build with the following options `msbuild /fl /flp:verbosity=diagnostic`

[2016-06-30 20:07] ludakuca commented on #9435
@paulvanbrenk

everything works fine on my local machine.  What project file are you talking about, the msBuild, or the project file within my solution?

[2016-06-30 20:10] paulvanbrenk commented on #9435
@ludakuca The project file that contains the typescript files, so probably the one in your solution.

[2016-06-30 20:12] ludakuca commented on #9435
@paulvanbrenk but everything builds fine in my local computer and even other coworkers when getting latest can build and work with it.

Only time this fails is when I am trying to push code to the build server to build

[2016-06-30 20:13] paulvanbrenk commented on #9435
@ludakuca How about the log file from the server build?

[2016-06-30 20:16] mhegazy commented on #9451
@riknoll can you take a look

[2016-06-30 20:29] skorlir commented on #9448
I think there's a case to be argued for suppressing errors/warnings on "experimental" features, like decorators, where the API is usually subject to change. You get a (very specific) version of this just using the tsconfig "experimentalDecorators" field, but it only suppresses one type of warning.

To play my own devil's advocate, this could encourage new users of TypeScript to suppress warnings t

[2016-06-30 20:31] #9434 closed

[2016-06-30 20:32] ludakuca commented on #9435
@paulvanbrenk

This is pretty much it in the log file.  its the first thing that fails.

[code]

i removed the names of the servers, etc.  for privacy concerns.

[2016-06-30 20:33] mhegazy commented on #9448
The problem with "shutting it up" is you do not know what you get out of "it".  so is `let a:string = 1` a `number` or a `string`?, what if there is another declaration of `a`, does it merge or not? what if some one captured the type of this variable e.g. `return {a} ;` , should they be assignable to `{ a : number }` or `{ a: string }`, or both.

one fundamental thing, errors are all ignoble. erro

[2016-06-30 20:34] paulvanbrenk commented on #9435
@ludakuca Can you post the*while* log file with the verbosity set to `diagnostic` I need to know all the variables that are being set by msbuild in one way or another.

[2016-06-30 20:37] riknoll commented on #9451
@mhegazy yep, I can reproduce this. I'll work on a fix.

[2016-06-30 20:39] ludakuca commented on #9435
this is pretty much it with the logging verbosity set to diagnostic.  Do I have to run the build from the command prompt?

[2016-06-30 20:45] paulvanbrenk commented on #9435
@ludakuca Yes, you probably do. If I compile a tiny project with diagnostic logging enabled I get a 200KB log, that starts with a bunch of variables being setup like this:

[code]

[2016-06-30 20:50] fluffywaffles opened #9453 "Decorator Type Mismatch?"
**TypeScript Version:**  nightly (2.0.0-dev.20160630)

**Code** (This is a fairly contrived example.)

[code]

**Expected behavior:**

Everything typechecks.

**Actual behavior:**

Code compiles, but logs a hard to understand error. Compiled code works as expected.

[code]

This is strange - looking at the signature for `ClassDecorator`:

[code]

I would think that I am allowed to return a Functio

[2016-06-30 20:55] #9423 closed

[2016-06-30 21:16] ludakuca commented on #9435
@paulvanbrenk I do not have Teambuild on my local box and cant run this locally.  On the server I do not have the files to build it on the server.

we first copy all the files to the build server and then build things.

[2016-06-30 21:21] #9411 closed

[2016-06-30 21:46] paulvanbrenk commented on #9435
Can't you set the verbosity of the msbuild step to `diagnostic` either direct or via a command-line parameter (I can on the version we use here).

[2016-06-30 21:47] paulvanbrenk commented on #9435
It looks like a variable `projectdir` isn't set as expected in your server build... I need those logs to figure out why.

[2016-06-30 21:50] mikolaj-milewski opened #9455 "Wrong field value in inherited constructor's submethod and after"
**TypeScript Version:**  1.8.10

**Code**

[code]

**Expected behavior:**
Console prints out:
[code]

**Actual behavior:**
Console prints out:
[code]

[2016-06-30 22:05] ludakuca commented on #9435
Initial Property Values
BinariesSubdirectory =
BuildDirectory = D:\Builds\12\myproject
CommandLineArguments =
ConfigurationFolderPath = $/(myproject)/Build
DoNotDownloadBuildType = False
LogFilePerProject = True
MaxProcesses = 1
NodeReuse = False
RecursionType = Full
SourcesSubdirectory =
TargetsNotLogged =
TestResultsSubdirectory =
ToolPath =
ToolPlatform = Auto
Verbosity = Diagnostic

![afsfa](h

[2016-06-30 22:07] paulvanbrenk commented on #9435
@ludakuca Can you share the whole log?

[2016-06-30 22:09] laskos opened #9456 "Dont require declaration files after compile"
I use `import` instead of `<reference ..` to import my `d.ts` files. But after I'd compiled this:

[code]

I've got:

[code]

My config file:
[code]

Can i change this behaviour by config?

[2016-06-30 22:21] RyanCavanaugh commented on #9027
Non-consecutive function overloads in the same block:
[code]

[2016-06-30 22:23] ludakuca commented on #9435
that was the whole log above.

Can the log you are looking for be generated by changing the build defitions and running the build from there.  The way this is set up I cannot run the builds using the cmd.

[2016-06-30 22:27] mhegazy commented on #9456
do not put the file extension in the require statement. use the module name. so:

[code]

[2016-06-30 22:28] ablankholm commented on #165
Any reason https://github.com/bendetat/SimplicityJS wouldn't work with TS?

[2016-06-30 22:30] paulvanbrenk commented on #9435
On my build server I can get detailed logs from the step that builds the proj file... you should be able to set those to diagnostic and grab those. Or log on the machine after the build is completed and grab them there.. without those logs I'm not able to tell you what's happening.

![image](https://cloud.githubusercontent.com/assets/5273975/16506456/582ec83a-3ed7-11e6-8f47-56a3ca015963.png)

[2016-06-30 22:33] laskos commented on #9456
@mhegazy I use version `1.8.10`

[code]

[2016-06-30 22:36] mhegazy commented on #9455
Please see my comment in https://github.com/Microsoft/TypeScript/issues/9060#issuecomment-225033658

Duplicate of https://github.com/Microsoft/TypeScript/issues/7724 and https://github.com/Microsoft/TypeScript/issues/9209

[2016-06-30 22:37] #9455 closed

[2016-06-30 22:38] mhegazy commented on #9456
no. module names are resource identifiers, they are written in the output the same way they are read. the compiler will not change the import name or extension.

[2016-06-30 22:41] ludakuca commented on #9435
This is all i get as options....
![screenss](https://cloud.githubusercontent.com/assets/20220724/16506717/ebea8732-3ee9-11e6-9520-72d3d2a03b97.PNG)

[2016-06-30 22:43] paulvanbrenk commented on #9435
What do you get when you 'download all logs as zip'

[2016-06-30 22:46] ludakuca commented on #9435
I get the file that I posted above.BuildLog.txt.

ah this is giving me too many headaches :) I wish I can get you more information, I know you would know lots more if I had more detailed log, but its just not possible it seems like.

This error seems to be happening even before my project is being built.

[2016-06-30 22:51] paulvanbrenk commented on #9435
Ok, I can see in the screenshot that the call to msbuild doesn't set the verbosity of the log to `diagnostic` in the build step in your definition there should be an option to set `MSBuild Arguments` can you try setting `/verbosity=diagnostic` there.. the error you're seeing is part of the TypeScript build.

[2016-06-30 22:53] ludakuca commented on #9435
Trying now..

[2016-06-30 23:07] paulvanbrenk commented on #9435
What's the error you're getting?

[2016-06-30 23:07] falsandtru opened #9457 "Supporting the narrow type inference assertion operator"
## Motivation

String literal types and tuple types require type assertion. Our key typing for its assertion is WET. The narrow type inference assertion operator facilitates assertions of string literal types and tuple types, and makes DRY code.

## String literal types

[code]

## Tuple types

[code]

[2016-06-30 23:10] ludakuca commented on #9435
ah it seems like you gave me the wrong switch :)

should be `/verbosity:diagnostic`

[2016-06-30 23:10] paulvanbrenk commented on #9435
Aah, yeah `:` vs. `=` is a common issue

[2016-06-30 23:11] ludakuca commented on #9435
so is a copy paste :)

[2016-06-30 23:13] #9403 closed

[2016-06-30 23:13] #9402 closed

[2016-06-30 23:22] mikolaj-milewski commented on #9455
I agree that calling virtual methods from constructor of a base class is risky because specific order of calling constructors chain - but here I have an issue with field initializers. C# treats them well:

[code]

C# code from above gives expected output: foobar. TypeScript treats field initializers differently - in generated JS code it just puts them to the constructor, between super() call and r

[2016-06-30 23:23] aleksey-bykov opened #9458 "with --noUnusedParameters how can i skip uneeded parameters"
sorry for being persistent, same question as in

https://github.com/Microsoft/TypeScript/issues/9403#issuecomment-229222818

how is this going to work with unused parameters?

[code]

[2016-06-30 23:26] mhegazy commented on #9458
i was thinking of `_` as a special case. but that does not seem nice. the other option is to use arguments.

[2016-06-30 23:29] aleksey-bykov commented on #9458
`_` works well in f#, and i like it a lot, but might be a breaking change for stuff like underscore.js

[2016-06-30 23:30] RyanCavanaugh commented on #9455
Putting field initializers before the super call is even worse because base class field initialization occurs during the `super` call. This results in derived class initializations getting overwritten by base class initializations. In other words:
[code]

[2016-06-30 23:32] RyanCavanaugh commented on #9455
See also #1617

[2016-06-30 23:34] RyanCavanaugh commented on #9458
I would propose that any local starting with `_` is not subject to unused checks. For multiple parameters you could then write `(_0, _1, x) => x`

[2016-06-30 23:34] riknoll commented on #9451
So I think we should support using `..` before recursive wildcards (i.e. `**`), but it is an error if they are used after one. It isn't immediately clear what they mean in that scenario and I don't think it gains us any power. In other words,

This is all good:
[code]

But this will be an error:
[code]

And this probably will be too, since really there is no reason to have `..` anywhere but the be

[2016-06-30 23:35] aleksey-bykov commented on #9458
consider `third<T>(,, z: T): T { return z; }`

[2016-06-30 23:39] ludakuca commented on #9435
is this good log?

[2016-06-30 23:39] paulvanbrenk commented on #9435
Ok, looks like we want to set this option ` /flp:verbosity=normal` to `diagnostic` as well..

[2016-06-30 23:46] ludakuca commented on #9435
I think thats it.. getting the file ready to upload

[2016-06-30 23:48] paulvanbrenk commented on #9435
Please don't post it here, but either zip it or email it directly to me. I assume it's pretty big.

[2016-06-30 23:53] mikolaj-milewski commented on #9455
Also agree, wrong idea. What about this one?

[code]

I've moved field initializers from constructor to the dedicated virtual method. It works well in my scenario, does not break yours and also fixes #1617.

[2016-07-01 00:00] ludakuca commented on #9435
I removed bunch of stuff

[2016-07-01 00:06] RyanCavanaugh commented on #9455
Breaking change concerns aside, in general we don't know whether a given base class is a TypeScript-generated class or not, so we wouldn't know whether to put initializers in `__initializers` or the constructor body.

[2016-07-01 00:08] RyanCavanaugh commented on #9455
I should also add that the current initialization order is very likely to be the spec'd behavior of ES7+ class property initializers.

[2016-07-01 00:20] RyanCavanaugh commented on #9458
Discussed quite a bit here https://esdiscuss.org/topic/uninteresting-parameters and I would defer to their judgement

[2016-07-01 00:21] mikolaj-milewski commented on #9455
Well, with non-TS base classes it is indeed a problem - I haven't taken that into consideration. What do you think about compiler warning on reading fields in constructor and constructor's submethods? That would save much of a developer time in all mentioned scenarios, I think.

[2016-07-01 00:29] mhegazy commented on #9451
I think this makes sense.

[2016-07-01 00:48] RyanCavanaugh commented on #9455
Literally you'd want a warning for this code?
[code]

[2016-07-01 01:01] mikolaj-milewski commented on #9455
Yeah. This initialization order is specific to TypeScript, so warning would help beginers like me to get the very idea, without hitting the wall, searching forums, even starting discussions like this one.

[2016-07-01 01:35] dilijev opened #9460 "Angled quotes in ThirdPartyNoticesText.txt seem to have been saved incorrectly."
Probably an encoding issue.

?Third Party Code? should be "Third Party Code"

[2016-07-01 02:01] nevir opened #9462 "Interface lost when re-exported"
**TypeScript Version:**  1.8.10 & nightly (2.0.0-dev.20160630)

**Code**

`one.ts`:
[code]

`two.ts`:
[code]

`three.ts`:
[code]

**Expected behavior:**

No compile errors (I should be able to refer to `Two.Oneone` as an alias to the `One` interface from `one.ts`, right?)

**Actual behavior:**

[code]

Note that the generated JS code _does_ alias and export `Oneone`:

`two.js`:
[code]

[2016-07-01 02:11] AlexLeung opened #9463 "TypeScript setting type of new JSX.Element"
After importing React-Router, when I type the following
`let test = <Route /> as Route;`
I get the following error: `error TS2352: Neither type 'Element' nor type 'Route' is assignable to the other.
  Property 'setState' is missing in type 'Element'.`

This should work; why does it not?

[2016-07-01 02:31] #9460 closed

[2016-07-01 02:37] mhegazy commented on #9458
I have a fix out in https://github.com/Microsoft/TypeScript/pull/9464. any parameter name starting with `_` is exempt from the check.

[2016-07-01 02:37] mhegazy commented on #9458
if @RyanCavanaugh gives me a :+: i can get it in

[2016-07-01 02:47] #6964 closed

[2016-07-01 03:45] ludakuca commented on #9435
Thanks for helping me out over the email.  TThe build completed but no javascript files were generated on the build server.

[2016-07-01 04:29] aleksey-bykov commented on #9458
@RyanCavanaugh the discussion you mentioned ended nowhere, but I like the point that was raised there: destructuring has been *already* accepting commas for unused array elements:

[code]

[2016-07-01 05:04] ovrmrw commented on #563
+1 I need partial class!

[2016-07-01 05:05] samchon opened #9465 "Accepts some statements of C++; typedef, friend, override and final"
# Accepts some statements of C++
I have made a STL (Standard Template Library, a standard libraries with containers, functions and algorithms of C++) for TypeScript, named [TypeScript-STL](https://github.com/samchon/typescript-stl). Well, because I've tried to migrate C++ code to TypeScript, I strongly aspire TypeScript to accept some grammers and conceptions of C++, **typedef**, **friend**, **ove

[2016-07-01 05:32] DanielRosenwasser commented on #9465
Hey @samchon! Glad to see the enthusiasm here. One thing I'll mention is that there are existing issues for some of what you've brought up here:

* #7692 is a proposal for `friend` declarations.
* #2000 is an issue open for the `override` keyword.
* #1534 is an issue for `sealed` or `final` classes.

I think one thing that you've mentioned here is that you'd like to be able to have type alias decl

[2016-07-01 05:47] samchon commented on #9465
Wow, most of what I mentioned is almost have argued. Class inline type defitnition, there was an indirect method defining same named namespace.

@DanielRosenwasser Thanks for your replying.

[2016-07-01 05:48] aluanhaddad commented on #7426
@jesseschalken I know the behaviour is well specified and standardized, I'm saying it's semantically wrong for null to have type of object.
See the remarks by Brendan Eich in this thread
http://wiki.ecmascript.org/doku.php?id=discussion:typeof
Actually found my way there by following some of the links you provided which were quite interesting.

[2016-07-01 06:31] nojvek opened #9466 "Typescript should support --lib node"
Typescript already has settings to include lib.d.ts for es6, browser, dom e.t.c. Setting up typescript with node is really painful. It seems tutorials on the web are outdated. There is tsd , typings, and supposedly some integration with npm. What is the way to go? I spent a couple of days trying to get node and typescript to work and eventually just gave up and went with javascript.

I feel typesc

[2016-07-01 07:20] kitsonk commented on #9466
You are raising multiple items here.

First, supporting node typings more "first class" will be occurring with TypeScript 2 and the @typings.  Because type acquisition is hard, this is why the TypeScript team have been working to make it easier.  TS2 needs to be released and the documentation, etc. will need to be flushed through.

That seems to be a wider community issue.  While there is no plain

[2016-07-01 07:36] Vilx2 commented on #9417
For the benefit of others coming across this issue, adding info from an email by @mhegazy.

The problem is caused by the combination of "compile on save" and "combine javascript output into file". The output from the operation is very large and causes large object heap fragmentation. The workaround is to avoid "compile on save" and use `tsc --watch` instead, or just compile manually. The fix for t

[2016-07-01 09:31] Knagis opened #9467 "Suggestion: show system notification when `tsc --watch` is used"
We are currently using Visual Studio to develop our library with compileOnSave - whenever the compilation completes, the status bar displays "Output generated successfully.". It is a very small notification but still useful.

However, due to the issue described in #9417 we now have to move away from compileOnSave. One option is to use explicit build however that requires at least me to change my h

[2016-07-01 09:44] jancha opened #9468 "New Website Logo: ZoomCharts"
Please fill the following out:

- Name: ZoomCharts
- Homepage url: https://zoomcharts.com/
- Brand Guidelines/Licensing: No special usage requirements.
- Logo: https://zoomcharts.com/templates/default/img/zoomcharts-logo-color.svg

[2016-07-01 10:35] eyalsk commented on #198
I love the idea, I've used CodeContracts in my C# projects for years but recently dropped it because the development is not  as active as it should be but really dislike the proposed syntax.

I really love the syntax proposed by @RichiCoder1 and iirc it's similar to SpecSharp.

[2016-07-01 10:42] Liero commented on #1178
I'm not sure what is the final syntax for documenting generic arguments. Can you point to documentation or briefly describe, please?

[2016-07-01 11:31] Liero commented on #5854
I'm not sure what is the final syntax for documenting generic arguments. Can you point to documentation or briefly describe, please?

[2016-07-01 11:33] HolgerJeromin opened #9469 "Missing type guard with Arrays"
**TypeScript Version:**  1.8.0

**Code**

[code]

**Expected behavior:**
myAny should be of type any[] and not any after the check.
Tested with Visual Studio 2015 Update 2 and TypeScript Playground mouse hover.
And compile should break.

[2016-07-01 11:55] HerringtonDarkholme commented on #9449
I also encounter this when trying to compress typescript services using Closure compiler.

@mhegazy can I submit a pull request for this? Or you prefer to do it yourself?

[2016-07-01 12:20] Lenne231 opened #9470 "Strict object literal checking with union type"
**TypeScript Version:**  1.8.0

Is this a bug or does it work as intended?

**Code**

[code]

**Expected behavior:**
`var t2 : Test = { a: '...', b: '...' };` should throw a compiler error as well because `b` is of type `string` and not `number`.

**Actual behavior:**
There is no compiler error.

[2016-07-01 12:23] kitsonk commented on #9469
`any` is never narrowed...  expected TypeScript behaviour

If the type was `any[] | string` then it could be narrowed.

[2016-07-01 13:37] MattiasBuelens commented on #1564
Is this still on track for TypeScript 2.0? The implementing PR #9175 for this depends on the new emitter #5595, but the milestone of the latter has been updated to 2.1.

I'd appreciate it if one of the core contributors could update the [roadmap](https://github.com/Microsoft/TypeScript/wiki/Roadmap) and the issues linked in the roadmap with the correct milestones. It'd help get a better idea what

[2016-07-01 14:26] billti commented on #1178
@liero see the examples at https://github.com/Microsoft/TypeScript/wiki/JsDoc-support-in-JavaScript

[2016-07-01 14:33] SaschaNaz opened #9471 "Visual Studio: unexistent file causes ambiguous error"
**TypeScript Version:**  master branch

**Repro:**

1. Make a new empty JS project
2. Add any two new TS files on VS
3. Remove one of the TS file outside of VS (via File Explorer, PowerShell, or anything)
4. Build

**Expected behavior:**

An error with "File not found" message

**Actual behavior:**

Code: MSB6006
Description: "tsc.exe" exited with code 1.
Project: App1
File: C:\Program Files (x86)

[2016-07-01 14:48] agaricus opened #9472 "ignoreFileNamePattern apply to non project context path(absolute) with default tsconfig.include section"
**TypeScript Version:**  nightly (2.0.0-dev.20160701)

**Code**
[code]
[https://github.com/Microsoft/TypeScript/blob/master/src/compiler/commandLineParser.ts#L692-L694](url)

but this _file_ is absolute and ignored this file
[https://github.com/Microsoft/TypeScript/blob/master/src/compiler/commandLineParser.ts#L991](url)
and

.outer
└─ project
...├─ test.ts
...└─ tsconfig.json

**Expected behavior

[2016-07-01 14:49] agaricus commented on #9472
#9451 bad ignoreFileNamePattern RegExp

[2016-07-01 15:22] kito99 commented on #5228
+1 This would really help with testing; right now you have to make methods public that you really just want to be visible for testing but not part of the public API.

[2016-07-01 15:30] skorlir commented on #4031
Would it be possible to enable the transpilation of `for..of` when targeting ES5 in tsconfig.json?

Something like, `"enableForOfTranspilation": true` - with the caveat that it will be slower, and requiring that you must have imported typings and a polyfill for `Symbol` in order to compile. I believe checking for typings for Symbol, and whether it is imported in your source either globally or as a

[2016-07-01 15:36] skorlir commented on #4031
Also of note, the following compiles and works (possibly only with polyfills, but still):

[code]

[2016-07-01 16:14] aleksey-bykov commented on #9457
related #9217

[2016-07-01 16:22] aleksey-bykov commented on #9448
just use any, this is how "shut it up", merits of doing so  (or actually a lack of thereof) is a different question
[code]

[2016-07-01 16:36] rashfmnb commented on #4836
in Visual studio i did this by doing this

[2016-07-01 16:39] mhegazy commented on #9472
@riknoll can you take a look. if a dotted file or minifided file path is listed explicitly in the include list it should always be included regardless of the check.

[2016-07-01 16:51] #9449 closed

[2016-07-01 16:51] mhegazy commented on #9449
thanks @HerringtonDarkholme.

[2016-07-01 17:00] tsschaffert opened #9474 "allowJs option with namespaces"
I am currently trying to put the compiler option "allowJs" to use. My goal is to convert an existing JavaScript application into TypeScript step by step. The application does not use (external) modules, so I'm converting the JavaScript namespaces into real TypeScript namespaces, but I'm running into "duplicate identifier" errors as outlined below. Shouldn't it be possible to combine TypeScript and

[2016-07-01 17:10] jwbay commented on #9471
This bit me really badly last week. Took me forever to figure out what was going on.

[2016-07-01 17:16] HolgerJeromin commented on #9469
OK, thanks for the explanation.
Can we change that? :-)

[2016-07-01 17:29] born2net commented on #9448
ok but again, the issue is not specifically on casting

[2016-07-01 17:48] aleksey-bykov commented on #9448
<any> gives you vanila javascript with 100% freedom from all annoying things of TypeScript, so what else do you need?

[2016-07-01 17:48] aleksey-bykov commented on #9448
`<any>` gives you vanila javascript with 100% freedom from all annoying things of TypeScript, so what else do you need?

[2016-07-01 18:01] ajpalkovic commented on #9432
Greetings.  OOC, has any thought been given on how best to convert a large codebase to use strictNullChecks?  It seems like an awesome feature and I'd love to turn it on.  But my team has ~400k LOC in typescript.  Turning this on all at once thus results in about 33 thousand lines of error output from 5,170 distinct errors :(  That is certainly not your fault but it does make it really hard to use

[2016-07-01 18:14] nevir commented on #9462
If I _also_ export the type, I can get a bit further (but no longer refer to types that hang off of the aliased module):

`one.ts` (no change)
`two.ts`:
[code]

`three.ts`:
[code]

[code]

[2016-07-01 18:27] kellyelton commented on #11
Poke

[2016-07-01 18:33] ludakuca commented on #9435
@paulvanbrenk I did put some error logging in that file and I am seeing that both ProjectDir and Content parameters are null.  Am I not passing those properly?

[2016-07-01 18:36] josh-endries opened #9480 "Block comments don't get created as a "block" and don't continue on new lines"
**TypeScript Version:**  1.8.30

**Code**

[code]

Or:

[code]

**Expected behavior:**

[code]

The `/**` variant works correctly here, but not with the next step.

And, after pressing Enter:

[code]

**Actual behavior:**

[code]

(Your template has no "description" section, which seems valuable. I'm adding one. Here it comes!)

**Description:**

I'm not really sure if this belongs here or [maybe

[2016-07-01 18:38] paulvanbrenk commented on #9435
@ludakuca is this an ASP.NET v5/Core project... ? Is the ConfigFiles collection empty?

Since you have a `tsconfig.json` file, the Content parameter is ignored, but we should be able to find the `tsconfig.json` file if that's inside the cone of the project (i.e. in the same dir as the proj file being build, or one of the sub-directories)

[2016-07-01 18:48] DanielRosenwasser commented on #9480
We do auto-fill for the second star on `/**` if the following thing can be JSDoc'd (see some of the checklist on #4447). That said, I don't remember if there's a good reason why we don't always fill in the comment.

Adding a new `*` when pressing enter in a multi-line comment is something we were looking at but I can't find the issue tracking it.

[2016-07-01 18:50] ludakuca commented on #9435
this is legacy / MVC 5 type project.  I have tsconfig inside the root of the web project.  its just the basic config file that generates when add new typescript file is added and I just added option compileOnSave = true

[2016-07-01 19:06] mhegazy commented on #9432
We have the same issues with the TypeScript code base moving it strict null checks. The approach we have taken is to start with components/modules that are lowest in the dependency graph, turn on --strictNullChecks and look at the errors for this specific component/module, fix them, but do not turn on the flag for the whole build. iterate until the whole code base is in a good shape, then switch i

[2016-07-01 21:02] nevir commented on #9462
Ok, so I found an approach that does what I want, but I'm supremely confused about the syntax, and whether this is being used appropriately (e.g. `export import` o.O):

`one.ts`:
[code]

`two.ts`:
[code]

`three.ts`:
[code]

[2016-07-01 21:51] yuit opened #9481 "Incompatible between ES6-promise thenable and recent PromiseLike change in lib.d.ts"
Our Angular2 code-base of RWC uses es6-promise for defining Promise interface as well as PromiseLike definition from our lib.d.ts. With our recent change, `Thenable` and `PromiseLike` is no longer compatible.

[2016-07-01 22:10] mhegazy commented on #9481
@rbuckton can you see if reverting the changes to PromiseLike would do?

[2016-07-01 22:13] #9451 closed

[2016-07-01 22:33] nojvek commented on #9466
I agree with some of your points.

Basically typescript already understands browser types because it has a pre-set built of libs e.g.

[code]
 --moduleResolution                  Specify module resolution strategy: 'node' (Node.js) or 'classic' (TypeScript pre-1.6).
[code]

[2016-07-01 23:04] #9458 closed

[2016-07-01 23:06] mhegazy commented on #9395
just pushed a fix for this. republishing now. should be updated within the next few hours.

[2016-07-01 23:06] #9395 closed

[2016-07-01 23:42] billti commented on #9427
Fixed with the above merges.

[2016-07-01 23:42] #9427 closed

[2016-07-02 01:07] cartant opened #9486 "Public APIs not normalizing paths"
As discussed in [this](https://github.com/Microsoft/TypeScript/issues/9123) issue, the `parseJsonConfigFileContent` public API can fail on Windows when passed non-normalized paths (that is, paths containing backslash delimiters).

It appears that this is not the only public API with which this occurs. The following two public API functions call [`getDirectoryPath`](https://github.com/otbe/TypeScri

[2016-07-02 01:10] tomwanzek commented on #4668
Hi All,

It seems this is an existing issue, related to [my issue involving local module augmentation](https://github.com/tomwanzek/d3-v4-definitelytyped/issues/4).

I have been working away on typescript definition files for the new modular version 4 of Mike Bostock's famous **D3js**. I staged the _work in progress_ in a repo for now, as I am experimenting with the ability to type the `this` cont

[2016-07-02 01:20] basarat opened #9487 "Build failed with npm install not working"
Today's NTypeScript build failed : https://travis-ci.org/TypeStrong/ntypescript/builds/141776988#L207

Something wrong with `@types` automation? :rose:

[2016-07-02 01:50] rozzzly commented on #9448
Instead of trying to force it to accept an anti-paten, why not write try something like this:

_`ClassA.ts`_
[code]
_`ClassB.ts`_
[code]

[2016-07-02 01:57] mhegazy commented on #9487
Should be fixed by https://github.com/Microsoft/types-publisher/pull/44. publishing now.

[2016-07-02 03:37] rbuckton commented on #9481
I reviewed this with @yuit, reverting the change to PromiseLike fixes the issue, and does not impact the improved typing for Promise.

[2016-07-02 04:43] aluanhaddad commented on #8836
This is a serious problem. But when you say that

it is important to note that the way npm resolves these transitive dependencies is by recursively installing and resolving packages as nested dependencies. Versioning is handled by directory nesting. This is far from ideal and is part of the reason why tools like jspm exist. I'm bringing this up here, in a npm issue, because I think the problem is

[2016-07-02 06:09] kitsonk commented on #9469
Changing `any` to be narrowed would be a gigantic breaking change.  In order to have TypeScript be compatible with JavaScript, it needs a universal top type like `any`.  If you want to keep it from not accepting `any` value, don't assign that as the variable type.

Why is assigning a type other than `any` a challenge/issue?

[2016-07-02 06:14] DanielRosenwasser commented on #9466
Hey guys, I was actually pushing for a `--lib node` pretty recently. It very much **does** seem to be the ideal workflow for users in some sense.

However, after discussing it with @bowdenk7, we're a bit of the opinion that `@types` is better suited for this task. The rationale is that the Node API is not necessarily as stable as something like the API surface described in the ES spec, and so vers

[2016-07-02 06:18] DanielRosenwasser commented on #9469
Unfortunately, as @kitsonk said, it broke a lot for when people do something like `myAny instanceof Object`, because you basically can't get any distinct information off of an `Object`.

See #5011 for when I tried to address this.

[2016-07-02 06:18] #9469 closed

[2016-07-02 06:21] DanielRosenwasser commented on #9462
Yup, that's an import alias. IIRC, it creates an alias of every meaning of an identifier/qualified name. Sorry you had to jump through hoops.

[2016-07-02 06:21] #9462 closed

[2016-07-02 06:23] DanielRosenwasser commented on #9470
Linking to a previous discussion at #4452.

[2016-07-02 06:24] DanielRosenwasser commented on #9470
@Lenne231 is there a specific scenario you were hit by this?

[2016-07-02 06:47] mhegazy commented on #9481
Fixed by https://github.com/Microsoft/TypeScript/pull/9484#issuecomment-230081306

[2016-07-02 07:41] yortus commented on #9466
My observations with using `typescript@next` for both browser and node.js projects:

#### Browser Project Setup

1. **Done.** Source files will have all browser APIs ambiently defined without any config needed.

#### Node.js Project Setup (with `typescript@next`):

1. `npm install @types/node --save-dev` to get node.d.ts from npm into the project
2. In `tsconfig.json`, add `"lib": ["es2015"]` to *

[2016-07-02 07:46] nojvek commented on #9466
I'm fine with either typings or --lib as long as there is a consistent way
to get it for everything.

Back in the day when I used eclipse with java, it would be smart to
auto-fix my imports.

I'd really love to see the language service offer hints of fixing
automatically. It would really make the experience shine.

e.g

1) User types: `import * as fs from 'fs'`
2) There is a yellow squigly under f

[2016-07-02 08:54] basarat opened #9488 "`npm install @types/react-router`"
There is a bug in `typings` http://stackoverflow.com/questions/38157103/dtreact-router-error-ts2503-cannot-find-namespace-historymodule so I thought I'd give `@types` a go. However that didn't do a stellar job either.

[code]

Errors:

[code]

Where should people put `@types` issues? :rose:

[2016-07-02 08:56] basarat commented on #9487
Yup, passed https://travis-ci.org/TypeStrong/ntypescript/builds/141816682 :rose: :heart:

[2016-07-02 08:56] #9487 closed

[2016-07-02 10:31] bolismauro opened #9489 "Union Types And Strings"
**TypeScript Version:**  2.0.0-dev.20160702

**Code**

[code]

**Expected behavior:**
No errors

**Actual behavior:**
[code]

This is just a toy example, and can be fixed with enums or other approaches.
I'm actually having this issue, where tsc gives me a lot of error in the CSS.
For example
[code]

Please also note that
[code]
doesn't give any error, but I can't really use it to solve the react i

[2016-07-02 13:44] lahloumehdi commented on #8950
@SaschaNaz Unfortunately no.

[2016-07-02 14:27] gbaumgart opened #9490 "compile in browser ?"
Hi,

i found a few repos doing that but they seem all outdated. I found also posts about webpack but still I am not sure that's the official way to compile TS in the browser (I am accepting the potential problems).

Your official web-page has an editor. Is there the source code for this somewhere ?

thanks a lot.

[2016-07-02 14:43] JabX commented on #9488
I have the same issue with the `history` module. It looks like the problem is that `npm install @types/**` only takes the `index.d.ts` file and ignores the `lib` directory.

[2016-07-02 15:04] ulrikaugustsson opened #9491 "Doesn't remember the class inside a Array.map"
**TypeScript Version:** nightly (2.0.0-dev.201xxxxx)

**Code**

[code]

**Expected behavior:**
Typescript should know that `bug` is of the type SomeOtherClass inside of the map function.

**Actual behavior:**
Property 'name' does not exist on type SomeClass | SomeOtherClass.

[2016-07-02 16:21] ahejlsberg commented on #9489
You need a type annotation to give `b` a literal type:

[code]

I think it is reasonable to require a type annotation to get a literal type for a `var` or `let` since you might later mutate the variable, but it does seem a bit silly not to just infer the literal type for a `const`.

@DanielRosenwasser @mhegazy @RyanCavanaugh I recall discussing this before, perhaps we should consider making this c

[2016-07-02 16:24] frogcjn commented on #8884
Any Progress? Thanks!

[2016-07-02 16:38] frogcjn commented on #9184
Will you make a tool for automatic grab d.ts files for JS library?

[2016-07-02 17:55] kitsonk commented on #9491
Duplicate of #9263 and #7662 and #9345 as narrowing is currently reset across function boundaries as explained in [#7718 (comment)](https://github.com/Microsoft/TypeScript/issues/7719#issuecomment-202684512).

Though this keeps coming up and it seems logical that anonymous functions, this could be potentially preserved? (or at least arrow functions used as callbacks?) @mhegazy @ahejlsberg @RyanCav

[2016-07-02 17:56] kitsonk commented on #9490
The website's editor is based on [Monaco Editor](https://github.com/Microsoft/monaco-editor).

[2016-07-02 17:57] jedmao commented on #9184
I [built the PostCSS declaration files](https://github.com/jedmao/postcss/tree/typescript) and somehow managed to convince @ai to [accept them into the official repository](https://github.com/postcss/postcss/pull/446), but he's recently [stressed interest in removing them from the repo](https://github.com/postcss/postcss/issues/480#issuecomment-229475163), concerned that 99% of the users won't nee

[2016-07-02 18:00] frogcjn opened #9492 "[2.0.0alpha] TypeScript type inference for function"
with
2.0.0-dev.20160702
[code]
will trigger compiler error
[code]

but when I use typescript 1.8, tsc would automatically infer req, res, and next type for me, and would not trigger any error.

[2016-07-02 18:09] aluanhaddad commented on #9184
@jedmao I'm sorry to hear that, it's just a single file and even for JavaScript users it allows for better tooling. For example JetBrains have been using DTS files to power JavaScript intellisense for a while, and now we're seeing the same thing in Visual Studio and Visual Studio Code, as a formalized part of the typescript language service! This is going to mean that more and more IDEs are going

[2016-07-02 18:11] frogcjn opened #9493 "[2.0.0alpha] Recursive function variable"
with typescript-2.0.0-dev.20160702

[code]
will trigger error:
[code]

This error will not be triggered using old version of typescript.
Is this a bug?

and
[code]
will not trigger error both in  typescript-2.0.0-dev.20160702 and older version.

[2016-07-02 18:12] ai commented on #9184
@aluanhaddad my dream is to have a special `typescript: { typings: URL }` property in `package.json`, so JetBrains or VS will download typings only if user really develop with PostCSS API :).

Most of PostCSS users don’t use JS API, so it is better for us to reduce npm package size.

[2016-07-02 18:17] frogcjn commented on #9492
Another example:
[code]
This would also work in older version of TypeScript.
but fail in new version.

[2016-07-02 18:20] aluanhaddad commented on #9184
@ai I follow you. I wasn't thinking about the specific nature of your library when I made my comment.
However I think your idea is a wonderful idea. This would benefit a number of other scenarios including other package managers and generally decoupled typescript from mpm

[2016-07-02 18:41] frogcjn opened #9494 "[2.0.0-alpha] Conflicting library definitions for 'node' found"
when using the new way to install d.ts introduced by https://github.com/Microsoft/TypeScript/issues/9184

[code]
then there is a conflict:

[code]

[2016-07-02 18:46] frogcjn commented on #9494
tough `"skipLibCheck": true` in `tsconfig.json`, there is still error log from tsc.

[2016-07-02 18:51] cerebrl commented on #6468
@xjamundx I did a bit of research, and it seems extending the "basic types" in TypeScript is pretty easy. I just tossed the below `interface` into my *custom* typings directory (not the "typings" directory that is managed by `typings`, the NPM module), and all my ES6 string methods were essentially ignored by the compiler and complied as written:

[code]

Just use it as an "ambient definition", me

[2016-07-02 18:53] jedmao commented on #9184
That's definitely a good idea, so long as versioning is accounted for. I suppose the URL would have to change every time the declaration files are updated to a newer version.

[2016-07-02 18:55] aluanhaddad commented on #9184
I think that your own should point to a registry and have an embedded semver tag. That would redirect to the actual definition.

[2016-07-02 19:01] jedmao commented on #9184
The only thing that's odd is that an IDE would automatically install something at startup. I'm not sure that's a normal IDE responsibility. Maybe it would be best to prompt the user to install or ignore, but that's an implementation detail.

[2016-07-02 19:10] aluanhaddad commented on #9184
I think that's normal IDE behavior. Like for storing packages on build or downloading extension manifests

[2016-07-02 19:13] aluanhaddad commented on #9184
I'd consider that normal IDE Behavior like restoring packages or downloading extension manifests, I don't see that as an issue at all.

[2016-07-02 19:59] frogcjn commented on #9492
This might be related to bad .d.ts issues.

When using with typings instead of `npm install @type`, there is no error.

[2016-07-02 19:59] gbaumgart commented on #9490
Whoa, Kitsonk to the rescue, again. thanks man.
g

[2016-07-02 19:59] #9490 closed

[2016-07-02 21:48] calebmer opened #9495 "Add JSX spread children"
The JSX specification was just updated (here: https://github.com/facebook/jsx/pull/59) to add for JSX spread children. See the rationale here: https://github.com/facebook/jsx/issues/57

What would be involved in adding support for this new feature of the JSX specification to the TypeScript parser?

[2016-07-02 22:24] basarat commented on #9490
Don't recommend it. But makes for a good demo : https://github.com/basarat/typescript-script ;) `script` tag in TypeScript :rose:

[2016-07-02 22:26] basarat commented on #9474
Personal opinino: Recommend using modules please (https://basarat.gitbooks.io/typescript/content/docs/tips/outFile.html) :rose:

[2016-07-03 00:09] basarat opened #9496 "`npm install @types/atom` failure"
**Command**

[code]

**Expected**

Success! :rose:

**Actual**

[code]

[2016-07-03 00:54] AlexLeung commented on #364
This could be very very useful with React-Radium

[2016-07-03 01:32] ahejlsberg commented on #9489
Specifically, I think we should add this to #9407 by considering the initializer of a `const` variable declaration a literal type location.

[2016-07-03 01:39] emzero commented on #2709
Newcomer to Typescript here. Read the whole issue but it's not clear to me yet how importing untyped javascript modules is going to be in 2.0?

I find very frustrating that I can't just `import * as packageAlias from "npm-package"` if I don't have the typings for the package. The compiler error doesn't help either when it says it couldn't find the module.

I'd really like to write that line and if

[2016-07-03 02:51] ahejlsberg commented on #9491
The solution here is to guard on a `const` variable. Type guards are in effect across function expression and arrow function boundaries for `const` variables. We are considering allowing `const` as a parameter modifier so you don't have to copy parameters into `const` locals.

[2016-07-03 03:13] aluanhaddad commented on #2709
@emzero

Try something like this
_unknown.d.ts_
[code]
In 2.0 there will be an even shorter declaration form.

[2016-07-03 03:50] emzero commented on #2709
@aluanhaddad

So I have to declare a module for every untyped npm packaged I want to use? There's no way of importing it directly as any?

[2016-07-03 03:58] yortus commented on #9493
I think this is a duplicate of #9382.

Simpler repro:

[code]

Note this seems to occur only with `"strictNullChecks": true`.

[2016-07-03 04:39] frogcjn commented on #9493
@yortus yes, it is the same issue. I'll close this issue.

[2016-07-03 04:39] #9493 closed

[2016-07-03 04:39] #9492 closed

[2016-07-03 04:45] aluanhaddad commented on #2709
If you enable `allowJs` it may work, but it will depend on the shape of the module you're importing. The salsa project aims to allow this for a certain set of module formats, I haven't messed around with it much. A lot of these features are available in the nightly builds.

[2016-07-03 05:50] PaulBGD commented on #4639
I'm with this, one thing I've found lacking is more types of numbers in typescript. There's definitely a difference between an byte, int, float, and double but there's no difference in typescript at the moment. I'd love to require a specific type of number than a generic number type.

[2016-07-03 06:36] Peter-Juhasz commented on #9424
Hey @DanielRosenwasser the title you changed the bug to is wrong. Not only "right paren" but **all** completion characters do not work. So please change it back, because the overall behavior of commiting on specific characters does not work.

[2016-07-03 07:22] gbaumgart commented on #9490
yup, confirmed, TS in Browser renders the whole consumer app useless, FPS down to 5-10, and on low-spec machines its pretty unusable.
g

[2016-07-03 07:43] ulrikaugustsson commented on #9491
Yeah, I solved my real issue by assigning the value to a const but it seems wrong to have to that. The behaviour is the same when using interfaces with a .kind property as guard.

[2016-07-03 09:39] bolismauro commented on #9489
Not sure if this can help, but this is a snippet of the original error

[code]

[2016-07-03 10:10] DerFlatulator commented on #5611
@LPGhatguy even if aliasing were possible, that doesn't solve the `eval` case.

To avoid the issues pointed out by @jeffreymorlan, would the emitter have to emit `Object.defineProperty(...)` for all methods? If so:

1. It would probably compromise TypeScript's "compiles to clean JavaScript output" slogan.
2. It wouldn't work on ES3 targets.

This complexity explains why the issue has been pushed b

[2016-07-03 10:45] aleksey-pastuhov opened #9497 "Implement default parameters for NodeJS"
**TypeScript Version:**  1.8.10
**NodeJS LTS Version:**  4.4.7

I have a project, which I write for NodeJS. I use `async/await` so there is need to set **tartget: es6**. But when I wrote function(or lamba) with default parameter value, compiler work well, but NodeJS gave me an error.

**TSConfig**

[code]

**Code**

[code]

**Expected behavior:**

Output JS:
[code]

Display **1** as output.

**Act

[2016-07-03 13:16] wesleycho opened #9498 "Difficulty in determining code coverage with TypeScript classes"
**TypeScript Version:**  1.8.0 / nightly (2.0.0-dev.201xxxxx)

All

**Code**

[code]
compiles to
[code]

**Expected behavior:**

I would expect this to be compiled in a way that can be statically analyzed by code coverage tools such as Istanbul.

**Actual behavior:**

This is not analyzable, so that when tests are run, all methods in that class are marked as missed coverage. In the example code ab

[2016-07-03 16:16] vladima commented on #9497
Default parameters in node are available under a flag ` --harmony-default-parameters` and eventually should be enabled by default.

[2016-07-03 16:56] wesleycho commented on #9498
Closing, I think something else might be going on in my app as I see it being counted as covered in some areas and not covered in others.

[2016-07-03 16:56] #9498 closed

[2016-07-03 18:18] aleksey-bykov opened #9499 "--noUnusedLocals and a loop-index variable"
[code]

[2016-07-03 18:26] frogcjn commented on #9
can we extension interface? interface can also have some implemented functions, just like Swift:
[code]
Swift version:
[code]

[2016-07-03 18:27] frogcjn commented on #563
can we extension interface? interface can also have some implemented functions, just like Swift:
[code]
Swift version:
[code]

[2016-07-03 18:32] SaschaNaz commented on #9
It can be dangerous: https://github.com/Microsoft/TypeScript/issues/9#issuecomment-52329918, https://github.com/Microsoft/TypeScript/issues/9#issuecomment-52347966

[2016-07-03 18:33] frogcjn commented on #9
@SaschaNaz I don't think so. Swift already deal with it.

[2016-07-03 19:15] frogcjn commented on #9
@SaschaNaz I think interface extension is no more dangerous than class extension.

The way to solve the conflicting problem is using developer‘s import to decides which implementation should use

In Swift, when different module extends some global interface or properties, they always use perfix to identify the extension. For example, RxSwift package extends UIView class with rx_dellocated. When de

[2016-07-03 19:22] DanielRosenwasser commented on #9497
I'll point out that we have #4692 which covers granular targeting for certain feature sets, so I'm going to close in favor of that.

[2016-07-03 19:22] #9497 closed

[2016-07-03 19:28] DanielRosenwasser commented on #9489
The only reason I didn't do this is because it's a breaking change. Either way, someone is going to have to write a type annotation. Given the types of programming `const` is used for, the ergonomics might win out here, but we should discuss it.

[2016-07-03 19:46] clavecoder commented on #3917
I'm guessing it's not allowed because interfaces and enums are not **EcmaScript* objects, correct? What's the list of types this fails on? Just `interface` and `enum` or are there more?

[2016-07-03 19:48] ahejlsberg commented on #9489
@bolismauro I'm not sure you'll be able to avoid a type annotation. It works if you do the following:

[code]

Once you add this type annotation everything works because we have a contextual type for each of the properties. (Plus of course you get completion lists when writing the object literal and errors if you write the wrong values.)

Even with the proposed change to consider the initializer f

[2016-07-03 19:49] clavecoder commented on #3194
I'm OK with leaving it as is if the reasoning is that interfaces, et al, are not vaid **EcmaScript** and #3917 is implemented.

[2016-07-03 19:50] clavecoder commented on #3792
I'm OK with leaving it as is if the reasoning is that interfaces, et al, are not vaid **EcmaScript** and #3917 is implemented.

[2016-07-03 19:50] clavecoder commented on #3320
I'm OK with leaving it as is if the reasoning is that interfaces, et al, are not vaid **EcmaScript** and #3917 is implemented.

[2016-07-03 19:54] ahejlsberg commented on #9489
@bolismauro Alternatively you could use the `as` type assertion operator:

[code]

[2016-07-03 22:08] weswigham commented on #9494
What version of npm are you running, and what other `@types` packages do you have installed?

[2016-07-03 22:21] mhegazy commented on #9499
The _ is only for paeans right now, I guess no harm in extending it to locals too.