[2015-08-09 08:01] OlegDokuka commented on #3895
If they want their object constructor, they should use it, but just imagine how it would be cool if compiller would help you to build the object like in C#. Even groovy support this feature.

It is easier way to initialize object with intellisense supporting where when you type the word you get some hint.(like in C#)

[2015-08-09 08:02] reshadi commented on #2655
@RyanCavanaugh thanks for clarification, I did not know about that.
Would it make sense to at least create the . notation instead of [], whenever the enum member is a valid identifier?

[2015-08-09 08:10] yortus commented on #4233
If this facility existed as a purely compile-time thing, say `__returnTypeof expr` or `decltype(expr)` or whatever, could it be used in an ambient context? E.g:

[code]

This covers a likely use case for the construct, but would involve allowing expressions to appear in ambient declarations. Is that feasible with the design of the compiler?

[2015-08-09 08:15] mhegazy commented on #4243
the release 1.5.4 only had one issue fixed (#3939), there are no version changes to the compiler or the language service code. they all still have the 1.5.3 version.

[2015-08-09 08:15] #4243 closed

[2015-08-09 08:39] CyrusNajmabadi commented on #3283
@GaryChamberlain

We've never guaranteed the results of compilation.  No more than the C# compiler guarantees the IL instructions it will emit (regardless of compiler flags specified).

Our emit format has already changed several times since we originally launched TS, and I expect it to change more in the future.  It is currently not a supported scenario to take a dependency on the specific output

[2015-08-09 11:13] mwinkler commented on #4238
Ok, the re-installation of "Tools and Windows SDK 10.0.10240" brings back the JavaScript support and seems to work.

But if i open a project, now i get this error:
![vs-error](https://cloud.githubusercontent.com/assets/1729418/9154573/a3d1aba0-3e96-11e5-8c74-b3e11d631dd3.png)

In the log file this exceptions appears:
[code]

[2015-08-09 11:29] veikkoeeva commented on #4242
I don't know where to look for the logs, but on Windows 10, VS 2015 RTM Enterprise the update to version 1.5.4 from "Extensions and Updates" looks like just hangs as even after a few hours the installation is still acquiring the bits/applying (the lower "apply" bar doesn't show progress) and hasn't made any progress. I have removed all but ``C:\Program Files (x86)\Microsoft SDKs\TypeScript\1.5``,

[2015-08-09 12:57] myitcv commented on #4237
Thanks for the pointer, specifically it's a duplicate of https://github.com/Microsoft/TypeScript/issues/295

[2015-08-09 12:57] #4237 closed

[2015-08-09 14:55] SetTrend commented on #4225
Yes, I think so.

In Visual Studio it doesn't seem like there is a filter on what input files the TypeScript compiler is using, so I assume it's taking them all. Given that case, main.ts should contain a gobal that's requiring all the others:

![typescriptempty](https://cloud.githubusercontent.com/assets/9283914/9155396/23aeca5e-3eb7-11e5-9766-3d863ef17ab3.png)

However, I'm trying to create a lib

[2015-08-09 19:04] mbraude commented on #4238
My guess is that only reinstalling the SDK didn't update the MEF cache. You can do this manually by following these steps:

1. Open a command prompt as administrator.
2. CD into C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE
3. Run devenv /updateconfiguration
4. Run devenv /clearcache

If that doesn't fix it, please redo the steps I outlined above, but toggle the outer 'Universal

[2015-08-09 19:22] anjdreas commented on #4223
Thanks, will give this a try.

[2015-08-09 19:27] sccolbert opened #4244 "block scoped variables erroneously error on declaration order"
The following example does not compile, claiming the block-scoped variables are used before declaration, which is not true. The equivalent JavaScript version executes correctly.

[code]

[Playground Example](http://www.typescriptlang.org/Playground#src=function%20foo()%20%7B%0A%09a%20%3D%2013%3B%0A%09var%20c%20%3D%20b%3B%0A%7D%0A%0Alet%20a%3A%20number%3B%0Aconst%20b%20%3D%2042%3B)

[2015-08-09 20:04] alexkrauss commented on #4145
The referenced issues only cover ES3 behaviour. However, IE9 claims *ES5* support, but it still does not accept `modulevar.default`.

Does this mean we must use ES3 to be compatible with IE9? Or could tsc output `modulevar["default"]` also in ES5 mode?

[2015-08-09 20:06] KnisterPeter commented on #4145
Currently you have to use ES3 to support IE9.

Alexander Krauss <notifications@github.com> schrieb am So., 9. Aug. 2015
22:05:

[2015-08-09 20:31] anjdreas commented on #4223
Seemed to work nicely!

[2015-08-09 20:43] NoelAbrahams opened #4245 "Compile-on-save not resolving macros"
Hi,

**Version**: VS 2015/TS 1.5.4

I have the following settings.

On the "Build" settings page I have
![image](https://cloud.githubusercontent.com/assets/1106823/9156813/ef56d8f0-3ede-11e5-8004-cb3c6eaa4d7a.png)

On the "TypeScript Build" settings page I have
![image](https://cloud.githubusercontent.com/assets/1106823/9156820/16b1662c-3edf-11e5-9dd2-0ac408bf74c0.png)

When I build the whole proj

[2015-08-09 20:46] DickvdBrink commented on #4245
Looks a bit like https://github.com/Microsoft/TypeScript/issues/4109

[2015-08-09 20:48] NoelAbrahams commented on #4245
Ah, yes, thanks... looks like a duplicate. Leaving it open for the moment as it works on build but fails on compile-on-save.

[2015-08-09 20:51] Lenne231 opened #4246 "Property to define entry files for compilation process in tsconfig"
Currently we have two ways to define the files include in the compilation process.

1. Include all files from the root directory except the files and directories defined in the `exclude` property #3188

2. Include all files defined in the `files` property https://github.com/Microsoft/TypeScript/wiki/tsconfig.json

It would be much simpler if we could just define some entry files (only modules) and

[2015-08-09 20:57] mwinkler commented on #4238
@mbraude Thank you, the /updateconfiguration & /clearcache worked, error is gone.

[2015-08-09 21:01] NoelAbrahams commented on #4245
Incidentally, writing `bin` in the box (instead of `$(OutDir)` does fix the problem, but then we have the output directory hard-coded in two places.

[2015-08-09 21:12] mhegazy commented on #4246
Just put them in "files"; the compiler will follow the imports and include then too. "files" is really "rootFiles".

[2015-08-09 21:47] Lenne231 commented on #4246
Thanks, didn't know that!

[2015-08-09 21:47] #4246 closed

[2015-08-09 22:10] DanielRosenwasser commented on #3895
I'll also point out that the production for this would necessitate that the open curly brace be on the same line due to ASI rules.

For instance:

[code]

The above is a `new`-expression followed by a block body.

[2015-08-09 22:12] weswigham commented on #4244
Background from [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/let):

and from the [spec](http://people.mozilla.org/~jorendorff/es6-draft.html#sec-let-and-const-declarations).

The equivalent JS in question:
[code]

Quite obviously this JS never actually executes `foo`, so any runtime binding errors aren't found by executing it as written (unless, say, by stati

[2015-08-09 22:21] sccolbert commented on #4244
My particular use case which demonstrated this problem had to do with namespace-level variables. I like to structure my code with the exported "public" symbols at the top of the namespace, and the inaccessible "private" variables at the bottom. This allows a user/reader to immediately see what can be consumed from the public API without having to wade through a bunch of implementation details.

So

[2015-08-09 22:55] weswigham commented on #4244
This is only safe because of the implementation details of TS `namespace`s - in effect, abusing the `namespace` system to guarantee safety. If your code wasn't automatically wrapped in an IIFE and executed in order by the TS emit it would be unsafe (but valid) JS. The sad truth is that when you abuse `let` in this manner if you had wanted to instantiate `PublicClass` and increment `globalID` in th

[2015-08-10 00:54] CyrusNajmabadi commented on #3895
@DanielRosenwasser Is correct.  But i would not consider this an ASI issue.  The concern here would be syntactic ambiguity.  What was unambiguously a specific construct in ES6 could now have two meanings if we introduced a production like this.  If we did really want this, we'd likely need something very syntactically unambiguous to avoid these problems.

Also, see https://github.com/Microsoft/Typ

[2015-08-10 00:57] DanielRosenwasser commented on #3895
Yes, I don't consider there to be an issue with ASI, I consider this to be an easy pitfall for users.

[2015-08-10 01:16] chocolatechipui opened #4247 "Incorrect parsing of IIFE"
A fairly common form of IIFE is to enclose the function in parens, followed by another set of parens which are used to pass in a global object, such as window or jQuery. In Babel we can do the following:
[code]
This returns;
[code]
But in your TypeScript playground I get this for the same expression:
[code]

Notice that the TypeScript transpiler is incorretly detach the final parens with window an

[2015-08-10 01:37] S-YOU commented on #4247
Not sure about ES6 IIFE, but for normal IIFE, you need wrap a bracket to function.

[code]

[2015-08-10 01:38] basarat commented on #4247
I think babel is wrong here. Babel also works for :

[code]
[Making it](https://babeljs.io/repl/#?experimental=true&evaluate=true&loose=false&spec=false&playground=false&code=function%20(exports)%20%7B%0D%0A%20%20%20%20var%20foo%20%3D%20function%20(msg)%20%7B%20return%20console.log(msg)%3B%20%7D%3B%0D%0A%20%20%20%20exports.foo%20%3D%20foo%3B%0D%0A%7D(window)%3B%0D%0A) :
[code]

[TypeScript errors]

[2015-08-10 02:02] chocolatechipui commented on #4247
Thanks S-YOU, that works in TypeScript and Babel. Didn't think about wrapping the whole expression in parens ;-)

[2015-08-10 02:02] #4247 closed

[2015-08-10 04:22] RyanCavanaugh commented on #3895
Maybe we need a label for "This is a nice idea to bring to ESDiscuss" :wink:

[2015-08-10 07:30] tpdi opened #4248 "Error in Handbook documentation?"
http://www.typescriptlang.org/Handbook

s/return/refer/"Just as in JavaScript, functions can return to variables outside of the function body."

[2015-08-10 08:31] llgcode commented on #3297
As Robertbiggs, I'm the only one in my company to use typescript and javascript so formatting is important for others that read only the js. Jsbeautify is not a good solution for me cause I use generated sourcemap file .js.map to debug in the navigator. I've chosen typescript cause the generated javascript is pretty, so if you choose to not keep js readable. I'll drop typescript.

[2015-08-10 08:42] geirsagberg commented on #2294
Just FYI, in VS2015 RTM there is an easier way to disable TypeScriptCompile:
Just add `<TypeScriptCompileBlocked>true</TypeScriptCompileBlocked>` to the `.csproj`, e.g. in the first `<PropertyGroup>`.

[2015-08-10 08:51] glatzert commented on #4161
Well we'd like to use something like this:
[code]

Which should be build into this:
[code]
Currently we can only make one js file per ts file or one js file with all the code. (The latter  `out: "../wwwroot/js/Output.js"´ seems not to work either.)

[2015-08-10 09:52] OlegDokuka commented on #3895
wooooohoooo!)))

[2015-08-10 10:05] OlegDokuka commented on #3895
May be it is possible to add special rule to compiler. As I understand correctly, the main problem is that the JS ASI provide a cause for this syntax, but I point on that TS convert to JS and JS syntax is just a part of TS.

[2015-08-10 10:56] billccn opened #4249 "`arguments` not in intellisense list"
Start typing `argu` in a function body and the only suggestion is the `IArguments` interface.

What's more annoying is that VS Code always accepts the first item in the list on the dot key no matter what you have typed...

 (I do not think it normally suggests interface names in non-type positions, so I guess somewhere in the code the interface is confused with the `arguments` keyword?)

[2015-08-10 13:00] Gitgiddy commented on #3939
:+1: Yes, it works now.  Thanks so much for getting this fix out.

Are there release notes for it?  I can't find any documentation on it whether it had anything else in there.

Thanks!

[2015-08-10 13:33] greendimka commented on #563
+1 extremely helpful for code generation

[2015-08-10 14:05] Kinchkun opened #4250 "Broken d.ts generation for destructuring"
Hello,

we moved recently from TS 1.4 to TS 1.5 with Visual Studio 2013.

When we have the following class definition:

    export class ErrorClass {
        public foo({bar: number}) { }
    }

With the Option "Generate declaration files" and "combine javascript output into file" to true, the resulting declaration for this file will be:

    class ErrorClass {
        foo({bar: }: {
            b

[2015-08-10 14:09] spion commented on #563
Why not use inheritance for code generation?

[2015-08-10 14:20] JoshMcCullough commented on #563
Inheritance is messier and has more overhead.

On Mon, Aug 10, 2015, 10:09 AM Gorgi Kosev <notifications@github.com> wrote:

[2015-08-10 14:23] yahiko00 commented on #563
​Inheritance creates useless name coupings

[2015-08-10 14:26] hdachev commented on #563
Inheritance is less awesome because it:

1. Deepens the prototype chain needlessly and slows down instantiation,
although thats not a big deal for most apps, likely everything but games;

2. For lack of abstract and override either loses some type safety or
introduces the need for some ackward patterns like casting between the two
types;

3. Is confusing overall as having a base class communicates

[2015-08-10 15:03] spion commented on #563
@JoshMcCullough Inheritance overhead in JS is minimal, and I don't see how its messier than partial classes: with those you can potentially split a class into 10 files and chase your methods all over the place.

@yahiko00 What kind of "useless name coupling" are we talking about here? Do you refer to the things you'd need to do to get No. 2 below (hardcode the name of the extended class)?

[code]

[2015-08-10 15:40] nycdotnet commented on #2294
Thanks.

[2015-08-10 15:55] JoshMcCullough commented on #563
It's straightforward in TS but the JS behind the scenes would double the
"protoyping" if you were using base classes for all of your generated data
objects. Probably not a serious performance impact unless you have a ton of
data objects, but it still is unnecessary when we know that "partial
classes" are possible.

On Mon, Aug 10, 2015 at 11:03 AM Gorgi Kosev <notifications@github.com>
wrote:

[2015-08-10 15:55] thr0w opened #4251 "Types when destructuring arrays"
[code]
it's possible write something like that?
[code]

[2015-08-10 15:58] AyaMorisawa commented on #4251
You can write:
[code]

[2015-08-10 16:02] NoelAbrahams opened #4252 "Compile-on-save generates `_references.d.ts` with absolute paths"
Hi,

**Version**: VS 2015 / TS 1.5.4

To reproduce:

* Set `"Redirect JavaScript output to directory"` to say `bin`.
* Set `"Generate declarations files"`.
* Set `"Compile on save"`.
* Add file `_references.ts` to the project, with content

[code]

* Build the project and check the output directory. The content of `_references.d.ts` should be

[code]

* Now modify one file in the project and trigg

[2015-08-10 16:12] ascholz81 opened #4253 "MultiLine ternary statements are not combined to single line statements causing JSHint errors"
Typescript Statement:
[code]
v1.5 Compiled JS file result:
[code]
v1.4 Compiled JS file result:
[code]
My project's JSHint throws a 'Bad Line breaking' error using v1.5.  To alleviate this JSHint error I can move the ternary operator to the same line as the condition.  What changed? Is this a bug?

[2015-08-10 16:52] kamilbiela opened #4254 "Constructor overloading issue"
I have following error when using bluebird typescript definitions.
[code]

I have extracted definitions from file and here is the code to reproduce issue.

definitions:
[code]
code to trigger error:
[code]

interesting is that when You move second constructor definition before the first one, code starts to work ok, and no errors are shown.

link to playground: http://goo.gl/iwROXb

[2015-08-10 16:54] paulvanbrenk commented on #4161
@glatzert  thanks, this is good feedback. You should be able to enable this scenario right now using a grunt task, however I don't think there is any good information available right now (I couldn't find any just now). I'll try to add some information to the [ASP.NET + TypeScript wiki](https://github.com/microsoft/TypeScript/wiki/Using-TypeScript-With-ASP.NET-5) this week.

[2015-08-10 17:00] thr0w commented on #4251
Thank you @AyaMorisawa

[2015-08-10 17:00] #4251 closed

[2015-08-10 17:07] RyanCavanaugh commented on #4251
Cross-post reference http://stackoverflow.com/questions/31923739/types-when-destructuring-arrays

[2015-08-10 17:14] RyanCavanaugh commented on #4254
This is the correct behavior.

One fact we use when resolving overloads is that it's impossible, at runtime, to look at a function and know what kind of arguments it's expecting. In other words, it's not possible that `Promise`'s constructor can "tell" which constructor overload you were invoking, so it doesn't know whether it should be calling `callback` with the function that accepts `Thenable<R

[2015-08-10 17:14] #4254 closed

[2015-08-10 17:17] RyanCavanaugh commented on #4253
Our newline preservation policy is generally "best effort". Preserving your JS as you wrote it is not considered a bug.

I don't have a link, but I'm guessing someone logged a bug complaining that we *didn't* preserve newlines in this case, and we fixed them and broke you.

[2015-08-10 17:18] Gitgiddy commented on #4015
Node.d.ts, which doesn't assume a windowed environment, needs types `Uint8Array`, `Uint16Array`, `Uint32Array`, `ArrayBuffer`, `DataView`, `Float32Array`, `Float64Array`, `Int16Array`, `Int32Array`, `Int8Array`, and `Intl` which are in lib.d.ts but not lib.core.d.ts.  I propose that these types be moved to the core.

`console`/`Console` is also required by Node, but it should maybe not be moved as

[2015-08-10 17:22] aleksey-bykov commented on #2727
I wish I could pass these guys as parameters rather than having them hardcoded:
https://github.com/Microsoft/TypeScript/blob/bb4aa2c4897431048695f435e99e2410f92043c8/src/compiler/emitter.ts#L165-L172
[code]

Is there any chance you would allow customizing them?

[2015-08-10 17:23] aleksey-bykov commented on #4212
Was there any luck figuring out whether it is a bug or was done by design?

[2015-08-10 17:27] aleksey-bykov commented on #4241
wow...

guys, you keep make people really pissed with all your specs and the way you do you work, you need to double your effort and stop letting good developers down, jeez..

[2015-08-10 17:29] mhegazy commented on #2727
@aleksey-bykov we are looking into changing how we emit to a more transformation based approach. no ETA at the moment. but when it happens it should allow for more flexibility in extending the emitter functionality.

[2015-08-10 17:39] mhegazy commented on #3297
@llgcode tools like [uglify](https://github.com/mishoo/UglifyJS2/) support beautification and sourcemaps support using [--in-source-map](https://github.com/mishoo/UglifyJS2/#composed-source-map). hope that helps.

[2015-08-10 17:42] mhegazy commented on #4249
`arguments` is never put in the completion list (see #2433). we could inject it in the list if you are requesting completion inside a function.

[2015-08-10 17:45] mhegazy commented on #4245
That is a dupe of  #4109. @paulvanbrenk is looking into it.

[2015-08-10 17:45] #4245 closed

[2015-08-10 17:47] LordJZ opened #4255 "IntelliSense/navigation for private class member crashes VS 2015"
To reproduce, create an empty typescript project, add 2 typescript files.

In file1.ts add this:

    class C {
        private v = 10;
    }

In file2.ts add this:

    var g = new C().v;

Put caret after the dot `.` before `v`. VS 2015 crashes immediately. (If not, try to navigate to declaration of `v`.)

[2015-08-10 17:48] mhegazy commented on #4250
duplicate of #3912

[2015-08-10 17:48] #4250 closed

[2015-08-10 17:55] Piusn opened #4256 "Javascript intellisence lost"
I installed this extension for vs 2015 today, and now there is no intellisense for javascript. Even the colorful highlighting of javascript keywords like 'function' is now lost and every is black

[2015-08-10 17:58] vladima commented on #4255
I can repro this locally.
Pinging @CyrusNajmabadi, who've recently done a major rework in this area: can you please check if  this bug still occurs in your bits?

[2015-08-10 18:02] mhegazy commented on #4256
looks like #4238.

This is probably caused by "Tools and Windows SDK 10.0.10240"; follow the instructions in https://github.com/Microsoft/TypeScript/issues/4238#issuecomment-129060370 to restore JS support.

[2015-08-10 18:02] #4256 closed

[2015-08-10 18:04] mhegazy commented on #4255
@CyrusNajmabadi and @vladima is there anything we can do until the roslyn fix goes out? this is the second report of this issue. see  #4129.

[2015-08-10 18:19] #3912 closed

[2015-08-10 18:21] mhegazy commented on #4250
Fix is in master now. please give it a try on the nightly build later tonight/tomorrow using `npm install typescript@next`

[2015-08-10 18:30] GeertVL opened #4258 "Installing Typescript 1.5 for VS2013 after VS2015 gives me wrong reference paths to follow"
I get the following error when installing the latest setup for Typescript 1.5

Error	1	Your project file uses a different version of the TypeScript compiler and tools than is currently installed on this machine.  No compiler was found at C:\Program Files (x86)\Microsoft SDKs\TypeScript\1.5\1.5\tsc.exe.  You may be able to fix this problem by changing the <TypeScriptToolsVersion> element in your pr

[2015-08-10 18:32] jaliyaudagedara commented on #4238
Faced the issue and got it fixed following the given steps.

Thanks.

[2015-08-10 18:47] jbrantly commented on #3928
@ngbrown To answer your question about `"jsx": "react"` in tsconfig.json, yes, TypeScript supports that.

[2015-08-10 18:56] mhegazy commented on #4258
looks like a dupe of  #3493. @paulvanbrenk can you take a look.

[2015-08-10 18:56] mhegazy commented on #4258
also @paulvanbrenk is there a workaround or a fix that you can share with @GeertVL?

[2015-08-10 19:10] mhegazy commented on #4244
As @weswigham explained earlier, there is not a way to know for sure if this is a runtime error or not. as it depends on execution order. We could do control flow analysis as well as alias analysis to identify cases where it would be safe to use the declaration.

Alternatively we could relax the restriction of being "syntactically declared before used", but that means we are leaving more possible

[2015-08-10 19:11] GeertVL commented on #4258
I fixed it by reinstalling the latest Typescript for 2015 install. Fixed for 2013 and 2015.
It seems a typo of some sort in the targets.

[2015-08-10 19:11] #4258 closed

[2015-08-10 19:16] hoda5 opened #4260 "Syntax suggestion: Ignore last void parameters"
[code]

[code]

test case: tests/cases/compiler/genericObjectLitReturnType.ts

maybe the solution is the same for #3356

[2015-08-10 19:30] jonstelly commented on #4238
After updating the windows universal app development tools, I was still getting the same error.  I had to delete the directory: %localappdata%\Microsoft\VisualStudio\14.0\ComponentModelCache

Everything seems to be working again.  Thanks.

[2015-08-10 19:43] weswigham commented on #4260
Would I be correct in saying that the type signature `T|void` should be equivalent to `T?`? (Any type which contains the ) This equality is true in the closure compiler type system (but it uses `undefined` rather than `void` for the type name).

[2015-08-10 19:44] paulvanbrenk commented on #4258
Yep, there is some kind of mismatch in the targets between VS 2013 and VS 2015.

[2015-08-10 19:52] NoelAbrahams opened #4261 "Parameter JSDoc could be included in tooltip"
Hi,

**Version**: VS 2015 / TS 1.5

![image](https://cloud.githubusercontent.com/assets/1106823/9182144/118545b6-3fa1-11e5-9432-220044004c2e.png)

When hovering over the property `foo`, it would be helpful if the JSDoc `"The foo option"` was also displayed. At present the only way to figure out what the property represents seems to be to delete and type it again:

![image](https://cloud.githubuser

[2015-08-10 19:53] bryanrideshark commented on #8
@mhegazy, you mentioned that it would be difficult to do, assuming that you weren't just looking for white space removal, and variable name shortening.

In my opinion, it is the second item in your list which would be the most beneficial. In our pipeline, we use UglifyJS to handle minification of TypeScript output, and it handles the AST optimization pretty well. What it can't handle, that Typescr

[2015-08-10 19:59] thr0w commented on #4260
No @weswigham.
[code]

t: T it's mandatory because is not the last function argument and we can't lose u: U. My suggestion it's only for last argument. However, the rule can be last void parameters because if X<void,void> f function can be invoke with f() lossless

I don't understand when T|undefined equality is true in the closure compiler, can you send me a sample?

Thanks

[2015-08-10 20:04] mhegazy commented on #8
@bryanerayner we are currently looking into updating the implementation the emitter to allow for a transformation pipeline. no ETA at the point, but when this happens emitter changes should be much simpler to do.

I worry that a set of options to partially minify will not solve the original issue, but will introduce new complexities for users and in the code base. if this is something that you fin

[2015-08-10 20:11] jasonwilliams200OK commented on #8
@mhegazy, so theoretically speaking, given the compiler is now exposed for third-party/external extensibilities, we can get a hook into AST and then implement the ultimate minification possible with all the trans-compilation context info. In this case, minification should be a feature of tsc, so consumers of TS should not rely on the external module (uglifyjs etc.).

[2015-08-10 20:12] RyanCavanaugh commented on #4244
I think we should error on the side of allowing anything that *might* work. It's a *temporal* dead zone, not a *lexical* dead zone, after all. The only case we should error on is where the use occurs in the same scope (i.e. not a function body) prior to the declaration.

[2015-08-10 20:13] weswigham commented on #4260
Oh, sorry, I was (completely) mistaken - The equality's not true for optional function arguments, only optional record type members. :S

[2015-08-10 20:14] mhegazy commented on #4261
looks like a dupe of #290

[2015-08-10 20:17] mhegazy commented on #8
@jasonwilliams200OK i agree. i believe the request here is for tsc to subsume your minifier in the tool chain. i do not think you would want to run `tsc --minify` then run your minifier again.

[2015-08-10 20:20] weswigham commented on #4244
Aye. I personally don't like that it even _can_ work, but since it can by the JS spec it should probably be supported. But the question then becomes should we relax the requirements on `let` scope checking, or should we do that but also add the analysis @mhegazy mentioned to detect uses within the temporal deadzone?

[2015-08-10 20:20] NoelAbrahams commented on #4261
Yes, I think it's a duplicate.

[2015-08-10 20:20] #4261 closed

[2015-08-10 20:23] weswigham opened #4262 "Getting completions when writing out a dot in a parameter should suggest the splat operator"
At present the completions returned seem arbitrary. Example:
[code]
Getting completions at the marker yields the typical alphabetical list of global things - worse yet, in VSCode, pressing `.` again auto-completes the first one (`.AbstractWorker.` isn't really a valid argument name)! Very frustrating.

[2015-08-10 20:25] mhegazy commented on #4262
This should be fixed in master. can you update your VSCode with latest tsserve.js and try again?

[2015-08-10 20:26] mhegazy commented on #4262
See #3242 for the original issue.

[2015-08-10 20:35] kamilbiela commented on #4254
@RyanCavanaugh thank You for explanation! :)

[2015-08-10 20:36] RyanCavanaugh commented on #4260
Chatting with @danquirk, our proposal (roughly) is that at a call expression, we treat the unprovided required arguments as if they were of type `void`, then check that those are assignable to the parameter types (modulo `any`). Leave assignability/subtyping of function types unchanged.

[2015-08-10 20:52] mhegazy commented on #3790
Can you file this on https://code.visualstudio.com/Issues/List instead?

[2015-08-10 20:52] #3790 closed

[2015-08-10 20:53] mhegazy commented on #3786
Looks like the original issue has been answered. please reactivate if you are running into other issues.

[2015-08-10 20:53] #3786 closed

[2015-08-10 20:56] acterhd opened #4263 "How to connect typescript with ecmascript 6 library?"
Hello. I'm writed in modern ES6 typed library and want use with typescript. How to I can use declarations in typescript, If I used ES6 classes and statics?

Do not question what better ES6 or TS.

[2015-08-10 20:56] weswigham commented on #4262
It no longer yields a list of completions, but I'd still suggest that the splat operator itself be on the suggestion list. We offer completions for the `get` keyword, why not the `...` operator?

[2015-08-10 20:57] mhegazy commented on #4235
Looks like the original issue has been answered. please reactivate if you are running into other issues.

[2015-08-10 20:57] #4235 closed

[2015-08-10 20:59] #4162 closed

[2015-08-10 21:05] weswigham commented on #4262
Similarly, when doing an assignment we no longer offer any completions while typing out the splat operator; why not suggest the splat operator itself?

[2015-08-10 21:31] mhegazy commented on #4214
@jbrantly the current module resolution logic is a bit weird :D. if you are loafing module "helpers", the compiler will look for a file called "helpers.d.ts" in the current directory, then will keep walking up the directory tree searching for "helpers.d.ts"...

obviously this is not correct, hence #2338. @vladima is actively working on this now. so hopefully we have some relief soon.

but just to

[2015-08-10 21:35] skinnysoftware opened #4264 "Specialized overload signature is not assignable to any non-specialized signature."
The following block of code will generate the error "Specialized overload signature is not assignable to any non-specialized signature.":
[code]
This block of code is accepted by the compiler (and of course provides an unwanted overload):
[code]

This occurs in VS 2015 using TypeScript 1.5.3

[2015-08-10 21:39] jbrantly commented on #4214
In short, yes.

[2015-08-10 21:41] RyanCavanaugh commented on #4264
The `any` overload is not actually there. When you declare a function with overloads, the implementation signature is not visible.

[2015-08-10 21:41] #4264 closed

[2015-08-10 21:42] BobFrGit opened #4265 "spurious errors on HTMLSourceElement interpretted as HTMLElement"
`var source = <HTMLSourceElement> document.createElement("source");`
` source.src = path + fmt;`

Works fine but

`var source = document.createElement("source");`
`source.src = path + fmt;`
gets **error TS2339: Build: Property 'src' does not exist on type 'HTMLElement'.**

but if I hover over the "source" intellisense says **HTMLSourceElement**
![image](https://cloud.githubusercontent.com/assets/5

[2015-08-10 21:44] mhegazy commented on #4263
TypeScript is a super-set of ES6. so any valid ES6 code is valid TypeScript code. this includes classes and modules..

[code]
For more information take a look at the handbook at: https://github.com/Microsoft/TypeScript-Handbook

[2015-08-10 21:44] #4263 closed

[2015-08-10 21:46] mhegazy commented on #4262
but that is the same as other punctuation tokens..

[2015-08-10 21:51] mhegazy commented on #4265
which version of compiler are you using? `tsc --version`

[2015-08-10 21:52] mhegazy commented on #4214
good.. it should be soon :D

[2015-08-10 21:52] #4214 closed

[2015-08-10 21:59] jbrantly commented on #4214
Thanks for confirmation of intended behavior :+1:

[2015-08-10 22:02] jods4 opened #4266 "ES5: inheritance of static properties is incorrect"
Assume
[code]

The default `__extends` is copying each own property of `B` to `C`. This is a problem because it means that a property of `B` becomes indistinguishable from a property of `C` (by virtue of copy, it is its own).

This doesn't seem like much, but sometimes you _need_ each class to have a different value for a property.

For a real life use-case, I was bitten here: Aurelia/metadata#22.

[2015-08-10 22:20] weswigham commented on #4262
What do you mean the same as other punctuation tokens? I see no reason why TS couldn't offer completions for operators consisting of punctuation?

The splat is the only 3-character punctuation token and thereby the only one you can actually save a keypress by using completions to write it. I can't think of a situation where you type a `.` at the start of a statement (with no LHS to the dot) and do

[2015-08-10 22:22] skinnysoftware commented on #4264
I'd like to clarify ... although this is by design, does it not defeat the purpose of using specialize signatures and stray from the pattern set by non-specialized overloads?

(What I'm getting at is this seems like a confusing design)

With non-specialized overloads, only the implementation signature is required to be compatible with all overloads. By forcing specialized overloads to be assignabl

[2015-08-10 22:36] danquirk commented on #4212
Seems like a bug if the type predicate is intended to work the same as other type guard forms. That is, if you apply this logic (from 4.24 in the spec):
[code]
it seems like the two cases in the original post should work as you expected and not how they are at the moment.

[2015-08-10 22:40] sheetalkamat commented on #3317
@Masclaux I installed vs2015 and now the project wont open saying its incompatible.It would be easier to get steps to repro this on vs2015. Thanks.

[2015-08-10 22:43] thr0w commented on #4260
Yes @RyanCavanaugh, just for call expressions. I don't know how works typescript checker then I can't say if it's better don't throw error if last parameter is void and missing or if it's treat the unprovided required arguments as if they were of type `void`.  But it's what you say, just in call expression leaving assignability/subtyping of function types unchanged.

If I can help you just tell wh

[2015-08-10 23:04] sheetalkamat commented on #4252
This seems to be resulting because outputdirectory path isn't expanded. Its duplicate of #4109

[2015-08-10 23:04] mhegazy commented on #2404
@Griffork i do not think i understand the issue. is this still a problem?

[2015-08-10 23:06] mhegazy commented on #3053
looks like #420 would address the underlying issue.

[2015-08-10 23:06] #3053 closed

[2015-08-10 23:06] mhegazy commented on #3416
Looks like the original issue has been answered. please reactivate if you are running into other issues.

[2015-08-10 23:06] #3416 closed

[2015-08-10 23:08] mhegazy commented on #3562
Constant propagation is covered by #3964

[2015-08-10 23:08] #3562 closed

[2015-08-10 23:09] mhegazy commented on #3571
@DanielRosenwasser  can you log an issue to track contextual-type-driven completion?

[2015-08-10 23:09] #3571 closed

[2015-08-10 23:10] mhegazy commented on #3569
Looks like the original issue has been answered. please reactivate if you are running into other issues.

[2015-08-10 23:10] #3569 closed

[2015-08-10 23:11] BobFrGit commented on #4265
**Short answer 1.5.3**

If I go to dos (W10 command prompt) I get TS6029: Version 1.4.1.0

So I explicitly went to the visual studio prompt and got TS6029: Version 1.5.3

I just uninstalled VS203 but apparently it left debris so I uninstalled Typescript 1.4 explicitly.

Now I’m not getting the spurious error.

But when I go to DOS it still says “message TS6029: Version 1.4.1.0”??

Just as an FYI

[2015-08-10 23:12] RyanCavanaugh commented on #4264
Note that "specialized" means **only** "contains a string literal". In your example, the visible overload taking `any` is not required.

This is a legal declaration:
[code]

This is *not* a legal declaration:
[code]
We disallow this because there's no reasonable way to enforce, at an arbitrary call site, that you're only passing in the exact strings "left" and "right".

[2015-08-10 23:15] mhegazy commented on #3594
@yui can we put a version of the perf script in scripts\

[2015-08-10 23:15] #3654 closed

[2015-08-10 23:15] #3657 closed

[2015-08-10 23:15] #3662 closed

[2015-08-10 23:19] #3794 closed

[2015-08-10 23:20] mhegazy commented on #3857
this is now tracked in  #4166

[2015-08-10 23:20] #3857 closed

[2015-08-10 23:21] mhegazy commented on #3005
this is now tracked in #4168.

[2015-08-10 23:21] #3005 closed

[2015-08-10 23:31] mhegazy commented on #3598
[intersection types](https://github.com/Microsoft/TypeScript/pull/3622) are now available in `npm install typescript@next`; consider using:

[code]

[2015-08-10 23:31] #3598 closed

[2015-08-10 23:31] #3597 closed

[2015-08-10 23:31] #3865 closed

[2015-08-10 23:32] #3934 closed

[2015-08-10 23:33] mhegazy commented on #4188
@deryl27 is this still an issue?

[2015-08-10 23:33] #4176 closed

[2015-08-10 23:34] mhegazy commented on #3833
@aleksey-bykov and @DanielRosenwasser what is the action item here? do we have a proposal?

[2015-08-10 23:35] mhegazy commented on #3988
Looks like the original issue has been answered. please reactivate if you are running into other issues.

[2015-08-10 23:35] #3988 closed

[2015-08-10 23:35] #4069 closed

[2015-08-10 23:35] #4123 closed

[2015-08-10 23:36] #4218 closed

[2015-08-10 23:36] #4216 closed

[2015-08-10 23:36] mhegazy commented on #4216
Looks like the original issue has been answered. please reactivate if you are running into other issues.

[2015-08-10 23:36] mhegazy commented on #4160
Looks like the original issue has been answered. please reactivate if you are running into other issues.

[2015-08-10 23:36] #4160 closed

[2015-08-10 23:36] aleksey-bykov commented on #3833
Can be closed.
On Aug 10, 2015 7:35 PM, "Mohamed Hegazy" <notifications@github.com> wrote:

[2015-08-10 23:37] mhegazy commented on #3691
Looks like the original issue has been answered. please reactivate if you are running into other issues.

[2015-08-10 23:37] #3691 closed

[2015-08-10 23:37] #4209 closed

[2015-08-10 23:39] mhegazy commented on #3523
looks like the original issue has been answered. closing.

[2015-08-10 23:39] #3523 closed

[2015-08-10 23:39] mhegazy commented on #4171
Looks like the original issue has been answered. please reactivate if you are running into other issues.

[2015-08-10 23:39] #4171 closed

[2015-08-10 23:40] skinnysoftware commented on #4264
Thank you @RyanCavanaugh. When one considers that a developer might be doing `setValue(myVariable)` instead of `setValue("some text")` it becomes easy to understand the reason behind the design.

[2015-08-10 23:40] mhegazy commented on #4057
that was not intentional.

[2015-08-10 23:42] mhegazy commented on #2105
We would be open to refactoring parts and exposing more functionality. let us know what you need and will work on it. alternatively you can send us a PR.

[2015-08-10 23:42] #2105 closed

[2015-08-10 23:43] mhegazy commented on #3833
thanks. closing.

[2015-08-10 23:43] #3833 closed

[2015-08-10 23:44] mhegazy commented on #4149
@jiaweihli is still an issue?

[2015-08-10 23:48] mhegazy commented on #4265
Locally, i get this error message only on 1.4. 1.5* seems to have it fixed.

here is the code i am trying:

[code]

[2015-08-10 23:51] mhegazy commented on #4252
just to explain. the value of outDir should be passed to the compiler as the realized value of "$(ProjectDir)\bin". with #4109 this is not happening.

@NoelAbrahams is this a new issue? we believe this has been broken in VS2015 prereleases as well.

[2015-08-10 23:52] mhegazy commented on #4262
is there a precedence in other tools\languages? i find it strange to find "==" and ">" in my completion list after "=".

[2015-08-10 23:57] BobFrGit commented on #4265
I wonder why VS2015 was finding the old version not the new one that was in its search path.

[2015-08-10 23:59] weswigham commented on #4266
I think the difference has to do with our downlevel emit not relying on either the ES5.1 `Object.setPrototypeOf` or the (only standardized in ES6) `__proto__` - the downlevel does ruin some expected prototype chain walking semantics, but doesn't rely on either of those. See #1601 for some past discussion on the issue.

Conveniently, you can define your own global `__extends` function which provide

[2015-08-10 23:59] #3184 closed

[2015-08-11 00:00] #3163 closed

[2015-08-11 00:01] mhegazy commented on #3086
Seems there is no action items here. closing.

[2015-08-11 00:01] #3086 closed

[2015-08-11 00:02] mhegazy commented on #3153
We have made a lot of changes in VS2015 to handle similar issues. can you give 2015 a try?

[2015-08-11 00:02] #3153 closed

[2015-08-11 00:02] #2896 closed

[2015-08-11 00:02] #2972 closed

[2015-08-11 00:03] mhegazy commented on #3017
looks like this has been fixed. closing. please reactive if that is not correct.

[2015-08-11 00:03] #3017 closed

[2015-08-11 00:05] #3891 closed

[2015-08-11 00:05] #3633 closed

[2015-08-11 00:05] jiaweihli commented on #4149
Yes, both for the case I mentioned above ^, and for the case of static getters, which are immediately evaluated.

[2015-08-11 00:05] #3199 closed

[2015-08-11 00:06] NoelAbrahams commented on #4252
@mhegazy, compile-on-save only started working after 1.5.4, so I can't say.

[2015-08-11 00:07] mhegazy commented on #3710
@theqwertman  and @thewiseman is this still an issue?

[2015-08-11 00:08] mhegazy commented on #4063
@hawkerm can you provide more information..

[2015-08-11 00:16] mhegazy commented on #4252
thanks @NoelAbrahams

[2015-08-11 00:18] mhegazy commented on #4265
do you happen, by any chance, `HKEY_CURRENT_USER\SOFTWARE\Microsoft\VisualStudio\14.0\TypeScriptLanguageService\Custom*` in your registry?

[2015-08-11 00:20] vladima commented on #3444
Deduplication of dependencies was added in #https://github.com/Microsoft/TypeScript/pull/4257

[2015-08-11 00:20] #3444 closed

[2015-08-11 00:23] weswigham commented on #4262
Operators are just infix functions which happen to be made up of punctuation. (Well, in Haskell anyway. In JS we have way less control over our symbols and no way to define custom operators.)

I don't know of any widely used editor which supports operator completions (yet) - when it comes to completions, VS is usually the go-to reference. I suppose in my mind I don't see why _not_ to support them

[2015-08-11 00:26] yortus commented on #4168
If more granuar targetting is on the cards, then some consideration ought to be given to **emit**, not just lib files, for precisely the same motivations.

As @weswigham points out, JS environments implement and release features incrementally. Babel reflects this reality. With TypeScript one must choose the lowest common denominator for the target, even if the environment supports many but not all

[2015-08-11 00:30] mhegazy commented on #4149
static getter/setter is by design. you can find more about it at https://github.com/Microsoft/TypeScript/issues/1520#issuecomment-67369005

[2015-08-11 00:34] mhegazy commented on #4185
We have tracked this issue to Chakra (tschost.dll). I am working with the Chakra team to see how ans when we can fix this. i will update the issue once i have more information..

for now, node does not seem to show a similar issue. so you can replace references to `tsc.exe` with `node tsc.js`

[2015-08-11 00:37] jods4 commented on #4266
Yes, this is basically the same as #1601.
The reported issue is not the same but the underlying discussion is exactly the same.

I kinda feel bad about it because with the "modern" web stack it can easily screw you when you start using advanced features, such as metadata. I stumbled upon it by accident and it took me some time to figure it all out.

I am relying on Babel for the ES5 generation and

[2015-08-11 00:44] mhegazy commented on #4248
@DanielRosenwasser can you take a look

[2015-08-11 01:08] BobFrGit commented on #4265
No such entry. Of course it could’ve been removed by a uninstall.

From: Mohamed Hegazy [mailto:notifications@github.com]
Sent: Monday, August 10, 2015 8:19 PM
To: Microsoft/TypeScript <TypeScript@noreply.github.com>
Cc: BobFrGit <Github@bob.ma>
Subject: Re: [TypeScript] spurious errors on HTMLSourceElement interpretted as HTMLElement (#4265)

do you happen, by any chance, HKEY_CURRENT_USER\SOFTWA

[2015-08-11 02:53] CubOfJudahsLion opened #4268 "Destructuring assignment to structure/object notation asymmetry (compared to ES6)"
When I perform a destructuring assignment using object notation for the left-hand side, I've noticed that I have to wrap the assignment in parenthesis to avoid a compiler error, like this:

[code]

(To others reading who haven't used the feature, the omission of member names causes them to default to the names of the variables -- yet another TypeScript benefit).

Reading the ES6 spec, however, I n

[2015-08-11 02:59] tinganho commented on #4212
@danquirk If this is a bug then probably my above comment is also?

[code]

TS doesn't seem to remove matched types before the type parameter is decided. Though I would argue that if you have more than 1 type parameter it would be very hard to decide which type the type parameter should have.

[code]

[2015-08-11 03:11] ShMcK opened #4269 "Separate Compile Steps with Meteor & Angular2"
I'm trying to create an up-to-date TypeScript compiler for Meteor & Angular2.

[An existing compiler works with TypeScript 1.5.0-beta](https://github.com/netanelgilad/meteor-angular2-typescript/) but results in 'Uncaught ReferenceError: require is not defined' errors for each Angular2 module loaded.

When running with TypeScript 1.5.3, the transpiler errors out with a `System is not defined` error

[2015-08-11 03:18] gaurav21r commented on #1664
@deathspike can you elaborate on the **sourcemap** details for such a setup? Can the `babel` produced code link back to the original `TypeScript` code?

[2015-08-11 03:20] gaurav21r commented on #1664
I know this has been asked above but I dont see a definitive solution anywhere!

[2015-08-11 04:33] thewiseman commented on #3710
I think my issue was from Visual Studio's TypeScript being older than I thought (and using its own version of some files). After I pulled down the latest and replaced VS's stored files everything was working as expected for me!

[2015-08-11 07:47] acterhd opened #4270 "How do I enable strict mode in TypeScript?"
I can't found option in Visual Studio for enable strict mode when compiling typescript to JS. Without this option Ecmascript 6 code not working in chrome, because required strict mode.
[code]

[2015-08-11 07:48] Deathspike commented on #1664
In `tsconfig.json` enable `inlineSourceMap`, `inlineSources` and `sourceMap` like this:

    "compilerOptions": {
        "experimentalAsyncFunctions": true,
        "inlineSourceMap": true,
        "inlineSources": true,
        "module": "commonjs",
        "noImplicitAny": true,
        "sourceMap": true,
        "suppressImplicitAnyIndexErrors": false,
        "target": "es6"
    },

I've inst

[2015-08-11 07:51] DanielRosenwasser commented on #4270
Just add `"use strict"` to the top of your file.

[2015-08-11 07:56] #4248 closed

[2015-08-11 07:57] DanielRosenwasser commented on #4248
Thanks @tpdi, in the future, handbook-related documentation can be filed on https://github.com/Microsoft/TypeScript-Handbook

[2015-08-11 08:02] YuryStrozhevsky opened #4271 "Updated TypeScript for VS2015 removes JavaScript support"
After installation of latest TypeScript update on VS2015 Comunity Edition I found that support for JS was removed. There is no "JavaScript" branch in "Configuration / Text Editor" and VS does not recognize JS syntax. However, Node.js Tools do recognize JS files, but I think it is a separate tool.
S
o, because of the bug I need to completelly remove VS2015 and then try to make "cleare installation"

[2015-08-11 08:08] YuryStrozhevsky commented on #4238
Yes, I also have the same issue. Installing the TypeScript update was only an experiment for me. The "experiment" will costs me whole day work. Microsoft, please check your updates!

[2015-08-11 08:12] DickvdBrink commented on #4271
Duplicatie of https://github.com/Microsoft/TypeScript/issues/4238?

[2015-08-11 08:24] YuryStrozhevsky commented on #4271
Yes, the duplicate.

[2015-08-11 08:50] NoelAbrahams commented on #4252
@sheetalkamat,

I'm not entirely sure that this issue is an exact duplicate of #4109. The point is things work normally when selecting Project > Build. It only fails on compile-on-save.

Furthermore, I currently don't have any macros in the output path. It's set simply as `"bin"`.

[2015-08-11 08:56] rostacik commented on #1664
Gents,
any hints on when we will be able to compile async functions against ES5 (with TS nightly)? I really need this to work as soon as possible on browsers to swap old showModalDialog calls with async calls in an older web app I service.

Thx in advance.

[2015-08-11 09:03] DanielRosenwasser commented on #4268
My favorite thing is to grok the ES6 spec before I go to sleep. :smile:

So let's start off with the production in question:

*AssignmentExpression* <span class="geq">:</span> *LeftHandSideExpression* `=` *AssignmentExpression*

Now let's refer to the spec draft:

-   It is an early [Reference](https://people.mozilla.org/~jorendorff/es6-draft.html#sec-reference-specification-type) Error if *LeftHa

[2015-08-11 09:35] araqiel-dev commented on #312
``region`` snippet missing in Visual Studio 2015 :'(

[2015-08-11 10:02] benliddicott commented on #4234
@DanielRosenwasser , I am pretty sure this is a new message introduced to help catch typos in object literals, which TBH are a big problem for many devs.

Note that you can also resolve your example problem with a cast either on the assignment or within the literal, at the cost of disabling typo checking:

    let x: Container = {
      a: <Base>{
        kind: "Derived1",
        prop1: 1000,

[2015-08-11 10:13] Lexey commented on #4242
The same error on Win7 x64, VS 2015 Pro:

[2648:23A0][2015-08-11T13:09:21]i001: Burn v3.7.4029.0, Windows v6.1 (Build 7601: Service Pack 1), path: C:\ProgramData\Package Cache\{1ef6a030-1244-4d01-95f3-299c0e3a3362}\vs_professional.exe, cmdline: '/filterfeatureselectiontree TypeScriptV2 /installselectableitems TypeScriptV2'
[2648:23A0][2015-08-11T13:09:21]i000: Initializing string variable 'SKUFrie

[2015-08-11 10:16] ivogabe commented on #1664
@gaurav21r @Deathspike You can use gulp to create a two-step compilation with source maps that link back to the TypeScript sources. Have you read [this](http://dev.ivogabe.com/combine-typescript-with-babel/)?

[2015-08-11 11:06] majo44 opened #4272 "Compile together multiple ES6 modules imported by canonical names."
I have library and application written in TypeScript.

[code]
[code]
For libA I created d.ts file
[code]
I compiling them separately with --module system.
[code]
[code]
Such code is properly working with System.js lib in browser and also after bundling by System.js builder:
[code]
[code]

And now is question. What if I will want to compile libA/src/libA.ts and app/src/app.ts together at once. I ha

[2015-08-11 11:10] benliddicott commented on #3598
@mhegazy Intersection types are great and would be a workaround for the MCV as given but unfortunately don't solve the underlying problem. If you have two interfaces *you don't control* and need to extend both of them you cannot. (The workaround would be to declare all the methods by hand and rely on structural typing to recognise the second interface, but you lose some of the benefit of the compi

[2015-08-11 11:14] gaurav21r commented on #1664
@ivogabe @Deathspike THanks a lot for your response. Seems there is a good enough way to use async/await *for now*. Will check it out and report back here since there are many in the thread wanting the same. @ivogabe I am assuming if this works with `Gulp` it should work with `Grunt` as well!

[2015-08-11 11:19] Deathspike commented on #1664
Thanks for sharing your article and `gulp` plugin, @ivogabe. I suspected this would be possible in a manner like this, but unfortunately, I personally don't use `gulp` which makes this a bit of a sore point for those that don't use, or intent to use, a task runner like that. All those `gulp`-specific abstractions freak me out.

[2015-08-11 11:27] Lenne231 opened #4273 "Is there a way to get all references to external modules from the compiler API?"
I would like to have a list of all references to external modules after compilation to be able to bundle these modules for the browser.

[2015-08-11 11:32] vvakame opened #4274 "unexpected definition file generated with es6 import export expression."
unexpected definition file generated with es6 import export expression.

expected
[code]

actual
[code]

index.ts
[code]

utils.ts
[code]

this example is exec in tsc 1.5.3 and master/HEAD.

repro code.
https://gist.github.com/vvakame/92a86decdcccdf8dfbf2

[2015-08-11 11:53] vvakame commented on #4274
ah... not only for definition file. tsc can't emit expected js file too.
I think my code is es6 valid. isn't it?

[2015-08-11 11:56] sguryev commented on #4238
@YuryStrozhevsky all of us have the same issue and only you have maid the clean install and have lost the whole day.

[2015-08-11 12:24] YuryStrozhevsky commented on #4238
@sguryev Тебя вот не спросил

[2015-08-11 13:15] thr0w opened #4275 "Intersection types with duplicated properties of different types"
[code]

[2015-08-11 13:20] kitsonk commented on #4275
But some could read this as the resulting type is:

[code]

I am not sure of the rules of the intersection types in 1.6 though, but I think there has been a lot of discussion lately that they are more "merge-like" types then strictly "intersection" types, but I believe they are intended to be quite permissive.

[2015-08-11 13:22] #4188 closed

[2015-08-11 13:31] thr0w commented on #4275
ok @kitsonk , It works well the way it is, my suggestion it's only for better error message.

However `number|string` it's not the same that `number&string`. `number|string` it's possible and very useful whilst `number&string` it's not possible.

[2015-08-11 14:05] sguryev commented on #4238
@YuryStrozhevsky так а че ты плачешь еще и при всех? Тикеты даплить научился, а гуглить проблему нет.

[2015-08-11 16:38] YuryStrozhevsky commented on #4238
@sguryev Заглохни и пиши код, мальчик. А то даже Гугле о тебе не знает.

[2015-08-11 16:45] jamesxv7 commented on #4238
Хорошо иметь Google Translate близ.

[2015-08-11 17:13] #4270 closed

[2015-08-11 17:34] yuit commented on #4242
@erikread and @Lexey , I am investigating the issue now and I will update you guys on this

[2015-08-11 17:38] DanielRosenwasser commented on #4234
@benliddicott I understand why it was introduced, and I understand the workaround. As I've stated above, the problem is that for some examples you'll have deeply nested structures of objects which are typed as base-types containing other base-types. which means you'll need not one, but several type assertions.

I mentioned offline with @danquirk and @CyrusNajmabadi that this would not be quite as

[2015-08-11 17:49] RyanCavanaugh commented on #4275
We recognize that intersections between primitives are hard to rationalize, but it's not obvious where or why we would actually issue an error.

Consider some code:
[code]

If we think about some 'bigger' types:
[code]
Is `C` actually a problem? Maybe you only want to use `y` and `z` on it. It'd be silly to stop you. For any sufficiently large types, a conflict like this is actually rather likely.

[2015-08-11 17:50] danquirk commented on #4212
It's not clear whether that's really desirable. For instance:
```let c = f('hello');```
Did you want c to be {} here? Or is string a valid type for T and c should be string?

[2015-08-11 17:51] #3710 closed

[2015-08-11 17:53] #4271 closed

[2015-08-11 17:54] danquirk commented on #4252
Re-opening for further investigation.

[2015-08-11 17:59] danquirk commented on #4268
A separate issue for a better error may be good. The current one is technically correct (the best kind of correct!) but doesn't really lead you to success:
[code]

[2015-08-11 17:59] RyanCavanaugh commented on #4266
I think the general observation is that it's better to be slightly incorrect, but consistent, than to be correct on some platforms and incorrect on others. Browser compat testing is already a nightmare and we don't want to make it worse by having silently different behavior on different browsers.

The fact that you became aware of this now, rather than way later when you had your code running on I

[2015-08-11 18:00] thr0w commented on #4275
Thank you @RyanCavanaugh , I understood the point. It's not problem to me, typescript compiler already issues the error on assignment, it's enough.
I'll will close this issue because it's ultra low priority.
Thanks for all!

[2015-08-11 18:00] #4275 closed

[2015-08-11 18:02] aleksey-bykov commented on #4212
if I were you I would have banned unions with more than one bare type parameter

i mean from practical stand point `f<U, T>(x: U|T)` is the same as `f<W>(x: W)` because in both cases `f` has no idea what it deals with be that some `U` or some `T` or just some `W`

[2015-08-11 18:03] tinganho commented on #4212
I'm not sure whether this is desirable or not to have the functionality in my previous comment. Though my point is that my described problem is the same as OP?

[code]

Notice the parameter type for `isNonVoid` is `void | a`, where `a` is a type parameter. It's quite similar to me described problem above. And if you don't think it is desirable. Then this feature should not be desirable for type gu

[2015-08-11 18:07] danquirk commented on #3356
I think we're going to just dupe this against #4260 since there's a proposed solution there but we should keep all the cases here in mind when discussing it further. If you think there's something unique here that isn't captured in that discussion we can reopen this.

[2015-08-11 18:07] #3356 closed

[2015-08-11 18:07] jods4 commented on #4266
I see your point, one way or another you can't be correct in all situations. Being consistent on all platform is a good thing, indeed.

I still think that the metadata apis are going to make this issue very visible, yet I am unsure what you should do about it. Maybe limit attributes usage to ES6+ codegen? Along with some documentation of why this is forbidden (or behind a flag) that would make peo

[2015-08-11 18:07] aleksey-bykov commented on #4212
I think situations like in `isNonVoid` are valid and should be supported just like anything else that involves a union with **not more than one type parameter**

unions with more than one type parameter regardless of the context should end up with a compilation error

[2015-08-11 18:16] danquirk commented on #3598
@benliddicott this seems like a reasonable idea, can you make a separate issue for it?

[2015-08-11 18:29] fkollmann opened #4277 "Debug Failure. False expression: end must be the bounds of the file"
Hi,

when developing on my laptop, I ran into the following error, when trying to compile a project using VS:

[code]

However, out of the blue, I now got the error on my primary development machine. I also get this issue when building using the commandline:

[code]

I currently try to get a full stacktrace, but no luck so far.

Getting a clean workspace/source files does not help. Using another n

[2015-08-11 18:32] RyanCavanaugh commented on #4277
Can you post a file that reproduces the issue?

[2015-08-11 18:38] CyrusNajmabadi commented on #4255
@vladima Is working on a local workaround.  Until the Roslyn fix goes out we can address this by not returning tags for documents that Roslyn did not ask for.

[2015-08-11 18:46] sheetalkamat commented on #4252
The issue here is that just setting it as bin - during build it will change that to (ProjectOutputPath)/bin but in compile on save - compiler gets it as bin and hence resulting in full paths.

[2015-08-11 18:49] NoelAbrahams commented on #4252
@sheetalkamat, thanks that makes sense. I think the title for #4109 should be changed to reflect the fact that it is only a problem with compile-on-save.

[2015-08-11 18:55] fkollmann commented on #4277
Well, I was able to figure out, that it has sth to do with the references I use. Not with my code, directly:

[code]

Let me try to figure out which one causes this.

[2015-08-11 18:56] #4207 closed

[2015-08-11 18:56] Arnavion commented on #3356
@danquirk Sure, but after you did #4260, you'd still need to make the `value` parameter here required to prevent (6) from compiling.

[2015-08-11 18:58] fkollmann commented on #4277
Here is the result:

[code]

[2015-08-11 19:00] fkollmann commented on #4277
Okay, problem solved! The error went away after fixing the file encoding of the *body-parser.d.ts* file.

[2015-08-11 19:05] benliddicott opened #4278 "Rules for intersection types are inconsistent with rules for implementing multiple interfaces."
It seems like the rules for **a)** implementing multiple interfaces and **b)** intersection types should be consistent.

Example 1: Optional members
[code]
Example 2: Protected members
[code]

1. Implementing multiple interfaces should create a type which is the intersection of the types of the interfaces (but with any new members added).
2. It should not be an error to make an optional member non

[2015-08-11 19:06] benliddicott commented on #3598
@danquirk , done Rules for intersection types are inconsistent with rules for implementing multiple interfaces. #4278. Cheers!

[2015-08-11 19:12] yuit commented on #4242
In the meantime, to get unblocked, you can download TypeScript 1.5.4 for VS 2015 directly from this [link](http://go.microsoft.com/fwlink/?LinkID=619584)

[2015-08-11 19:15] benliddicott commented on #3854
This is a wider issue as it also applies to optional status. See *Rules for intersection types are inconsistent with rules for implementing multiple interfaces.* #4278

Perhaps this issue should be closed as a duplicate of #4278.

There is a workaround for this (at least in 1.6, I haven't tried earlier versions):
Given these classes:
[code]
To create a class implementing both `B` and `C` we can in

[2015-08-11 19:20] ivogabe commented on #1664
@gaurav21r gulp and grunt are not that much related to each other. I think it's possible to configure this in grunt too, but it'll require some more configuration. I haven't tried that myself. The downside of gunt in this case is that you have to write the compiled typescript sources to the disk before you can compile them with babel, whereas gulp keeps these files in memory.

[2015-08-11 19:21] mhegazy commented on #4109
Also note, this is causing the issue outlined in #4252.  courtesy of @NoelAbrahams

* Set `"Redirect JavaScript output to directory"` to say `bin`.
* Set `"Generate declarations files"`.
* Set `"Compile on save"`.
* Add file `_references.ts` to the project, with content

[code]

* Build the project and check the output directory. The content of `_references.d.ts` should be

[code]

* Now modify on

[2015-08-11 19:22] mhegazy commented on #4273
take a look at  #3687. let us know if this addresses your needs.

[2015-08-11 19:23] CubOfJudahsLion commented on #4268
Ah. Learned more about it than I expected to, but I get it now. Thanks.

My mistake was to trust the ECMA wiki (specifically, http://wiki.ecmascript.org/doku.php?id=harmony:destructuring). Seeing the dates, it probably hasn't been updated in ages. Hah. In my defense, it was rather late. That'll teach me to post half-asleep.

Still, happy to have the feature. And TS of course.

[2015-08-11 19:25] #4268 closed

[2015-08-11 19:28] mhegazy commented on #4274
@vvakame the js file looks good to me..

this is what i get with latest from master:

[code]

[2015-08-11 19:30] mhegazy commented on #4221
thanks @SaschaNaz!

[2015-08-11 19:54] benliddicott commented on #4234
@DanielRosenwasser, Sorry to be so slow on the uptake.

OK so since this works:

[code]
That means the compiler is perfectly happy to accept a `Derived1` in that position, so it just needs to figure out that it *has one* without us telling it explicitly. The workaround above goes against the grain of the spellchecker feature though as it kills the spellchecker for the `Derived1` portion.

Thinks t

[2015-08-11 20:05] DanielRosenwasser commented on #4234
Right, the issue is there's no way for to say with certainty that it was one or the other; we can't just say that the union of the derived and the base are equivalent.

The drawbacks of specifying your types in a union type is that it's tedious; however, that's just part of the [expression problem](http://c2.com/cgi/wiki?ExpressionProblem) anyway, and if that's the way the code was structured, we'

[2015-08-11 20:32] sguryev commented on #4238
@YuryStrozhevsky знает, я же сказал, что у тебя проблемы с погуглить) Ты че-то слишком дерзкий, для недоумка, который потратил день на переустановку, при наличи мануалов на фикс. Ты бы лучше вместо сайтика своего убогого, 5 лет 1С-а и пререканий со мной занялся бы достойными вещами. Глядишь и не кидался бы переустанавливать начисто все вокруг при малейшей проблеме)

[2015-08-11 20:47] aleksey-bykov commented on #4236
Also see: https://github.com/Microsoft/TypeScript/issues/1213

[2015-08-11 20:51] DanielRosenwasser commented on #4238
@YuryStrozhevsky @sguryev could you limit discussion to English and keep things on topic with the issue? Translators only go so far, so it's difficult for most of us on the team to follow.

[2015-08-11 20:54] DanielRosenwasser commented on #4236
I notice that you have a function extending a type - can you explain what you mean by this?

[2015-08-11 21:07] mhegazy commented on #4182
@DanielRosenwasser feel free to send a PR for this if it is blocking your validation work.

[2015-08-11 21:08] mhegazy commented on #4057
feel free to send a PR removing the `/* @internal */` comment and that will make it show up again.

[2015-08-11 21:11] mhegazy commented on #3593
@hoanhtien is looking into this.

[2015-08-11 21:36] BobFrGit commented on #4265
I replied to the previous question in email but don't see it here -- don't have such a registerly etnry.

But as an FYI I found this line in a different csprroj file

`    <Exec Command="&quot;$(PROGRAMFILES)\Microsoft SDKs\TypeScript\1.4\tsc&quot; --sourcemap  --target ES5  @(TypeScriptCompile ->'&quot;%(fullpath)&quot;' , ' ')" Condition="'@(TypeScriptCompile)'!=''" />`

guess updating is not pe

[2015-08-11 22:12] adidahiya commented on #4057
I'll take up this PR.

[2015-08-11 22:16] adidahiya commented on #4057
wait, nevermind, this is no longer an issue on `master`, despite the `/* @internal */` above `createScanner`. maybe that's because of the comment in between the internal flag and the function name? https://github.com/Microsoft/TypeScript/blob/master/src/compiler/scanner.ts#L677

looks like `/* @internal */` should be removed there anyway though.

we also use `computeLineStarts()` in tslint and wou

[2015-08-11 22:43] mhegazy commented on #4277
@fkollmann what version of tsc are you using?  `tsc --version`?

[2015-08-11 22:47] fkollmann commented on #4277
Latest. "Version 1.5.3" with VS2015  (actually the 1.5.4 installer). But I had the same issue with VS2013.

[2015-08-11 22:49] sheetalkamat commented on #4208
@KhoaSydney Can you please share your project and steps to repro. The error isn't in the sourcemap itself but while reading the sourcemap from the disk. I would need to take a look at where and how the sourcemap is being read to investigate further

[2015-08-11 23:04] DanielRosenwasser commented on #4057
@adidahiya if you can send a quick PR that would be great, it should indeed be removed

[2015-08-11 23:05] DanielRosenwasser commented on #4057
Oh, regarding `computeLineStarts`, @mhegazy should answer that

[2015-08-11 23:53] paulvanbrenk commented on #3998
Is that in the `File -> New Web Site...` 'project' or `File -> New Project -> ASP.NET Web Application`?

[2015-08-11 23:57] mhegazy commented on #3656
looks like dupe of #4244

[2015-08-12 00:02] mhegazy commented on #3656
current proposal is to disable the error/warning if the declaration and reference are in different functions.

[2015-08-12 00:02] #3656 closed

[2015-08-12 00:03] #3976 closed

[2015-08-12 00:11] Arnavion commented on #4244
@RyanCavanaugh By "same scope" do you mean lexical scope? So you won't error in this case:

[code]

because they're in different scopes, even though the assignment is obviously executed in the TDZ of `a` ?

If you do decide to complain in that case, then how will you differentiate it from this case:

[code]

where the assignment is not executed in the TDZ of `a` ?

I assume you'll not complain in

[2015-08-12 00:23] mhegazy commented on #4244
As @RyanCavanaugh mentioned, it is only function bodies, not block scopes. so the two cases you reference are still errors, only something like `a` below would be allowed.

[code]

[2015-08-12 00:24] mhegazy commented on #4265
So this is not an issue any longer?

[2015-08-12 00:27] mhegazy commented on #4057
what do you uses that for? would not `getPositionOfLineAndCharacter`  and `getLineAndCharacterOfPosition` be sufficient? lineStarts is really an implementation detail.

[2015-08-12 00:41] Arnavion commented on #3356
(To be clear, I'm saying this isn't a duplicate.)

[2015-08-12 00:46] mhegazy commented on #4277
I can not get a repro for this locally using latest tsd and latest. any additional information would be appreciated.

[2015-08-12 00:58] Griffork commented on #2404
Short answer: No.
We created some really big ugly work-around because this wasn't supported in typescript.

The main point was that code that was shared between server and client where the client is to be concatenated and the server isn't is not doable in typescript.
This is specifically a big issue because our launched files for server and client changed for every unit test (the test would run th

[2015-08-12 01:02] vladima commented on #4255
resolved in #4279

[2015-08-12 01:02] #4255 closed

[2015-08-12 01:06] thr0w commented on #4236
@DanielRosenwasser isn't `function createProxy` extending but the type `T` is extending the type `Data` . And how type `Data` needs `K,V` arguments, my suggestion is typescript support use that arguments in type `T`.

@aleksey-bykov I don't know if #1213 solves my problem. It's new to me, looks complex. I'll study and later answer here.

Thanks guys

[2015-08-12 01:09] DanielRosenwasser commented on #4236
Whoops, misread that, sorry.

[2015-08-12 01:27] BobFrGit commented on #4265
I seem to be fine now.

From: Mohamed Hegazy [mailto:notifications@github.com]
Sent: Tuesday, August 11, 2015 8:25 PM
To: Microsoft/TypeScript <TypeScript@noreply.github.com>
Cc: BobFrGit <Github@bob.ma>
Subject: Re: [TypeScript] spurious errors on HTMLSourceElement interpretted as HTMLElement (#4265)

So this is not an issue any longer?

—
Reply to this email directly or view it on GitHub <https:

[2015-08-12 01:31] adidahiya commented on #4057
Figured out a way to get around using `computeLineStarts`. Must've been left over from usage of an older version of the LS API. So that can remain internal.

I made an error my above comment; this issue is _not_ resolved on `master`: (https://github.com/Microsoft/TypeScript/blob/master/lib/typescriptServices.d.ts#L1416), so I'll go ahead and fix it.

[2015-08-12 01:45] vvakame commented on #4274
oops, you are right. js file is valid.

[2015-08-12 02:31] IgorMinar opened #4282 "Slow compilation times when target=ES6"
On Angular2 we noticed that our ES6 builds are taking much longer than ES5 builds for almost identical code base.

- target=es5: ~11s
- target=es6: ~21s

To repro with tsc on the angular code base:
- check out: https://github.com/IgorMinar/angular/tree/tsc-perf-repro
- `cd angular`
- `npm install`
- `time ./node_modules/.bin/tsc -p modules`

Please note that we are using custom build of typescript

[2015-08-12 02:40] IgorMinar commented on #4282
To add, we also noticed similar perf difference between the two modes when doing incremental compilation which can be tested with the `-w` flag passed into `tsc`.

[2015-08-12 03:28] YuryStrozhevsky commented on #4238
@sguryev yury@strozhevsky.com - пиши, если такой доёбистый.

[2015-08-12 04:56] KhoaSydney commented on #4208
@sheetalkamat,
My project is quiet complicated but I will try see if I can come up with a sample for you.

cheers,
Khoa

[2015-08-12 05:21] rotemdan commented on #4278
Or, alternatively, drop the intersection concept altogether (which is in practice just an [unnecessarily complex and abstract reinvention of multiple inheritance](https://github.com/Microsoft/TypeScript/pull/3622#issuecomment-118979030) with many caveats, subtle incompatibilities, and limited to the [relatively narrow] scope of non-strict types, that are not intuitive for programmers and generally

[2015-08-12 06:23] vladima commented on #4282
Interesting, I would not expect significant differences when targeting different ES versions. Also I cannot reproduce this issue locally on Ubuntu box (there is some minor difference but it does not seem to be consistent)
[code]
I'll check the behavior on Windows box tomorrow, meanwhile can you please try to re-run the compiler for both ES5 and ES6  with `--diagnostics` key to see where we spent m

[2015-08-12 06:30] vladima commented on #4282
Ok, I guess I can see the problem. What version of Node do you use?

[2015-08-12 06:43] vladima commented on #4282
To elaborate, we've noticed before that the same version of typescript compiler shows better performance on older versions of node and performance goes down on more recent versions. I.e timings from my previous post are made using node v0.10.35 (v8 version 3.14.5.9). If I switch to node v.12.7 (v8 version 3.28.71.19) then timings become almost the same as yours (~11s and ~22s).

[2015-08-12 06:53] vladima commented on #4282
I've tried to install iojs-v3.0.0 (v8 version 4.4.63.26) from nvm and it seems to improve the situation. Compilation times for both ES6 and ES5 dropped to ~8s

[2015-08-12 08:13] motek80 opened #4284 "Sometimes produced js file name is fully lower case"
For my ts files I using PascalCase notation. Sometimes, consistently, some of the compiled js files get lower case file name. For example: AbsenceRequestDataService.ts converted to absencerequestdataservice.js

[2015-08-12 08:23] huytnd opened #4285 "After updating TypeScript for Visual Studio 2015 to 1.5.4, could not create any project, js files of the certain project became text files"
I updated TypeScript for VS 2015 RTM yesterday, and after restarting VS, I got this message when opening my project.
![alt text](https://cloud.githubusercontent.com/assets/2102905/9197869/3ac8ed44-4062-11e5-95d9-d30e875888d4.jpg)
The problem entry I found in the log file
[code]
I used this command
[code]
And i got this error message after restarting VS again.
![alt text](https://cloud.githubuserco

[2015-08-12 08:33] kitsonk commented on #4284
What operating system, what version of tsc and NodeJS?

[2015-08-12 09:37] fkollmann commented on #4277
Here is a case to reproduce: [http://public.fkollmann.de/Tickets/GitHub/TypeScript4277/repro.zip]

The issue happens if a file with *wrong* encoding is referenced after one with *correct* encoding. If the *wrong* encoded file is referenced first, the correct encoding error is shown.

[code]

Have fun!

[2015-08-12 09:45] ahejlsberg commented on #4278
The biggest difference (and one that is continually lost in the discussion) between intersection types and `extends` with multiple interfaces is that the intersection type operator `&` permits the operands to be type parameters. [More details here](https://github.com/Microsoft/TypeScript/pull/3622#issuecomment-118417888). This ability adds important new expressiveness and is the key motivator for

[2015-08-12 10:17] NeuwirthD opened #4286 "Keep tabs option in VS 2015 is not preserved"
When I select "Keep tabs" option in Visual Studio 2015 I get "Insert spaces" option selected on the next run of Visual Studio.

Visual Studio: 14.0.23107.0
TypeScript: 1.5.3.0

[2015-08-12 10:19] benliddicott commented on #4278
Intersection types are great, certainly don't change them! I'll try to write up a more concrete proposal for how I'd like `implements` to change.

These are two situations where `implements` could be made more consistent with intersection types, rather than the other way around, specifically by relaxing some constraints on `implements`.

(I think also in a way which would be useful to the programm

[2015-08-12 11:40] benliddicott commented on #471
see alsp #4278

[2015-08-12 11:55] htryggva commented on #4285
I got exactly the same errors after upgrading. Please fix.

[2015-08-12 11:59] Kinchkun commented on #3200
Hi,

i want to add, that for us this is also problem. We have larger projects and compiling them into on js file, but then we have to manage the ordering for our modules (resp. namespaces).

I think collecting all namespaces during the compilation and put them as empty object into the beginning of the outputting js file, will solve this issue.

Minimal example of the error condition:

    namespac

[2015-08-12 12:02] benliddicott commented on #4278
Proposal:

Where an implementing class or extending interface inherits a member of the same name from two or more base types (extended class or implemented or extended interfaces) the following rules should apply.

If the member is optional in all base types, or required in all, and is public in in all, and has the same type, there is no error. (This is the current situation).

Otherwise, if the m

[2015-08-12 12:13] rotemdan commented on #4278
@ahejlsberg

The issues you describe seem very technical in nature and don't seem to suggest a fundamentally conceptual conflict between inheritance, or the wider concept of extension (which is conceptually more permissive with regards to things like cycles and member redeclaration - as it doesn't suggest a need to be bound to a well defined inheritance chain), and the scenarios you describe.

If

[2015-08-12 13:29] rotemdan commented on #4278
@benliddicott

I haven't yet read the details of your proposal but wanted to mention that if your suggestion is to match the logic of an operation called "intersection" to that of multiple inheritance of interfaces - there's no reason in essence that would be (completely) possible while staying loyal to its theory and mathematical foundations . These are two different concepts based on two differe

[2015-08-12 14:21] nippur72 commented on #4286
perhaps related to #4014

[2015-08-12 14:29] Lexey commented on #4242
@yuit I have sent the feed file to your e-mail.

[2015-08-12 14:35] IgorMinar opened #4287 "Compilation quickly slows down with increasing codebase size"
This is a followup issue to #4282.

As our Angular2 codebase grows we noticed that the compilation time seems to be increasing non-linearly/exponentially with the code size growth.

In Angular repo we have several modules that we are compiling together and I noticed that simply removing some modules can significantly improve the performance. What's interesting is that it doesn't matter which modul

[2015-08-12 15:15] IgorMinar commented on #4282
Interesting! I'm on node v0.12.2. We can't use v0.10 because of some npm issues. We've also had problems with iojs in the past but I haven't tried v3.0.0 yet.

[2015-08-12 16:06] jdavidberger opened #4288 "Inconsistent treatment of classes from external modules."
I ran across an issue when trying to package multiple external modules into another for consumption from another API. The version of TSC here is 1.5.3.

It generates an error where it can not resolve a nested class as such; but has no issue when the class isn't nested. The generated javascript has no qualms with the generated code however; it resolves the nested class properly and the inheritance

[2015-08-12 16:10] ToddThomson commented on #3998
That would be: File -> New -> Web Site from top menu. Select 'ASP.NET Empty Web Site' ( or any web site template ). Then: Add -> Add New Item . There is no Typescript file type option.
For an ASP.NET 'Project', the Add New Item dialog has a Typescript type listed.

[2015-08-12 17:45] mhegazy commented on #4285
This was caused by updating the "Tools for Universal Windows Apps Development"; please follow the steps outlined in https://github.com/Microsoft/TypeScript/issues/4238#issuecomment-129060370 to get JS support working again.

[2015-08-12 17:45] #4285 closed

[2015-08-12 18:03] yuit commented on #4242
@Lexey I investigated your feed file and talked with other team. It seems that the system to get the feed may be temporary down at that time. I can't repo the issue on our machines. So could you try to the update again? Thanks

[2015-08-12 18:08] benliddicott commented on #4278
@rotemdan I think you've made a small mistake in your example, since **these are not strict types**. Once you work through that I think you will see that, other than the syntax, there is probably very little difference between your proposal and what has actually been implemented in intersection types (available in typescript@next if you want to try them out). I'd be happy to continue the discussio

[2015-08-12 18:10] mhegazy commented on #4265
thanks!

[2015-08-12 18:10] #4265 closed

[2015-08-12 18:14] danquirk commented on #4284
Or more generally, what are you building with? (command line node, VS, etc)

[2015-08-12 18:16] drake7707 opened #4289 "Hierarchy with getNavigationBarItems with modules"
Calling getNavigationBarItems on a file with the following code:

[code]

will return 3 items, a module, a class and a module:
![nodes](https://cloud.githubusercontent.com/assets/5351764/9232539/8b4b155e-412e-11e5-84a8-82f4a99c9c6b.png)

I had expected to find the Hello class item as a childItem for the first module A item. Is this a bug or by design?

[2015-08-12 18:42] paulvanbrenk commented on #3998
Thanks

[2015-08-12 19:02] danquirk commented on #4288
With the latest bits from ```master``` you'll get no errors here. The rules for what is allowed in the ```extends``` clause has been relaxed but the fix wasn't in 1.5.x.

[2015-08-12 19:02] #4288 closed

[2015-08-12 19:24] mhegazy commented on #4289
@DanielRosenwasser can you take a look

[2015-08-12 19:45] vladima commented on #4282
FYI: this is V8 issue that was filed back in Jan 2015 a to track these perf regressions: https://code.google.com/p/v8/issues/detail?id=3817

[2015-08-12 19:50] weswigham commented on #4282
https://code.google.com/p/v8/issues/detail?id=3842 was created at roughly the same time, [(found here)](https://github.com/nodejs/node/issues/472) and reported perf regressions in escodegen. I can't imagine we're that different from their use case in terms of perf profile.

[2015-08-12 19:53] SaschaNaz commented on #3673
Fixed by #3738?

[2015-08-12 20:07] mhegazy commented on #4277
thanks got the repro.

[2015-08-12 20:08] mhegazy commented on #3673
Indeed fixed. thanks @SaschaNaz!

[2015-08-12 20:08] #3673 closed

[2015-08-12 20:08] weswigham commented on #4287
Almost all the extra time is spent in the checker:
With `angular2/tests`:
[code]
When you remove tests:
[code]
Perhaps tellingly there are almost _half as many types when compiling without tests_. Despite only cutting ~25% LOC, you cut ~50% of the types!

[2015-08-12 20:09] kuon commented on #3673
Yep, looks good, thanks!

[2015-08-12 20:13] mhegazy commented on #2404
Thanks. i will close this one then. I would appreciate it, when you have time of course,  if you give us a write-up with some more details on the solution you have built and what we need to change to enable a simpler workflow.

[2015-08-12 20:13] #2404 closed

[2015-08-12 20:16] mhegazy commented on #3200
@Kinchkun this looks like a separate issue; and the solution for one does not really fix the other, although we probably should error in both cases. i would log this issue in a different suggestion to make sure it is not lost.

[2015-08-12 20:29] mhegazy commented on #4287
@sheetalkamat can you take a look..

[2015-08-12 20:31] jdavidberger commented on #4288
Would it be helpful at all if I added a conformance test case for these two things?

[2015-08-12 20:32] mhegazy commented on #3244
@hoanhtien is looking on adding either a directory watcher or a new command to allow for updating the project strucutre

[2015-08-12 20:35] mhegazy commented on #3700
we still want  property1 to show if you are in the middle, so that ctrl+Enter would get you the right thing again.

[code]

[2015-08-12 20:38] mhegazy commented on #3619
//CC: @SaschaNaz

[2015-08-12 20:40] mhegazy commented on #3862
@danquirk what is the proposal here, if not #1809?

[2015-08-12 20:42] mhegazy commented on #3488
pinging @jbrantly.

@jbrantly any ideas here on loading issue with webpack?

[2015-08-12 20:45] mhegazy commented on #4288
thanks @jdavidberger! Tests are always welcomed.

[2015-08-12 20:45] sheetalkamat commented on #3961
@MihaMarkic I was looking at the [Aurelia AppInsights Project shared here](https://github.com/colindembovsky/aurelia-appInsights) and saw that the js files are moved to the dist folder as part of some build step. Since the map files aren't present next to js files it results in breakpoints not being able to be hit. You would need to use <TypeScriptMapRoot> and <TypeScriptSourceRoot> property in yo

[2015-08-12 20:46] #4221 closed

[2015-08-12 21:36] mhegazy opened #4291 "No warning message for typescript for using different ToolsVersions property"
Open a project in VS2015 with TypeScriptToolsVersion set to 1.4.  Expected an warring message that version of the project is out-dated. actual not error.

Also building should show and error for missing tools version. actual no.

This breaks backward compatability for VS projects.

[2015-08-12 21:44] adidahiya commented on #4175
_Note_: I edited `test.tsx` above to remove the `private` modifier, which made the repro code incorrect.

In trying to debug this, I found that `ts.getTouchingWord` returns the node for the whole `onChange` method instead of just the node for the `onChange` identifier. This in turn causes `getDocumentHighlights` to return `undefined`.

[2015-08-12 22:01] vjau opened #4293 "Bug in transpiled __extend code ?"
I have a problem with some code produced by typescript.
[code]
I get the following error when run under node :
[code]

The only calling code of __extends in the transpiled code is this:
[code]
Problem present both in 1.5.3 and in 1.6.0-dev.20150812 nigthly
I can give you more information and try to do a minimal repro if you need it.

Thank you.

[2015-08-12 22:08] adidahiya commented on #4293
Your super class hasn't been defined at that point in the code yet. Check that the order of your scripts is correct.

[2015-08-12 22:12] #3884 closed

[2015-08-12 22:40] danquirk commented on #3862
That gives people who want this pattern somewhere to go, but it doesn't get them there. If we implement #1809 tomorrow all the places where anyone wrote ```Object | string``` are still valid and still unknown bugs. Making this pattern an error would then alert them to their bug, and we could offer a better alternative.

In addition, any case where one union constituent completely captures the set

[2015-08-12 22:48] #4293 closed

[2015-08-12 22:58] paulvanbrenk commented on #3983
Closing this as by design, using #4161 to track this.

[2015-08-12 22:59] #3983 closed

[2015-08-12 23:00] paulvanbrenk commented on #3493
This is fixed in TS 1.5 both for VS 2013 and VS 2015.

If you have the same issue with 1.5 please re-open.

[2015-08-12 23:00] #3493 closed

[2015-08-12 23:11] mhegazy commented on #3838
@vladima or @SaschaNaz if either is interested in this issue, please feel free to send a PR and will pull it in.

[2015-08-12 23:28] danmarshall commented on #3493
@paulvanbrenk nice!!

[2015-08-13 00:08] RyanCavanaugh commented on #3862
I think that's clear in some contexts, but unclear in others. In the compiler we have some functions like (made up example):
[code]
Then later I made `CallExpression` extend `Declaration`. It's not obvious that means `isExportLike` is now an error.

Similarly, I wanted to write a function:
[code]
This is probably an abuse of union types, but conveys well the intent of the function ("You can pass m

[2015-08-13 00:14] mhegazy commented on #3412
closing for the lack of activity. please feel free to repost/open a new issue if there are new details.

[2015-08-13 00:14] #3412 closed

[2015-08-13 01:49] gwicksted opened #4294 "Date.toLocaleDateString signature incorrect"
It is incorrectly defined as no arguments in both `lib.d.ts` as well as the most recent DefinitelyTyped `date.format.d.ts`

[See spec](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleTimeString)

I believe it should be this:

[code]

JavaScript example:

[code]

NOTE: I believe toLocaleTimeString has the same problem.

I am willing to submit a pull req

[2015-08-13 01:52] danquirk commented on #4294
We generally don't write tests for lib.d.ts changes so you don't need to worry about that part.

[2015-08-13 01:55] #3844 closed

[2015-08-13 03:23] jduc88 opened #4295 "lib.d.ts: Incorrect MessageEvent constructor signature."
# Description:
MessageEvent constructor signature should be same as base Event class ie.

instead of,

# Documentation:
http://www.javascripture.com/MessageEvent

# Error message on chrome:

[2015-08-13 04:03] rotemdan commented on #4278
My example was given for a hypothetical variation of an the interface type including the "strict" modifier (`strict interface A`) that would, actually be that defined that way - similar to, say, structs in C: `struct A { bool x }`. I'm aware that TypeScript interfaces are non-strict and would work the way you describe. I mentioned that introducing these kinds of types was considered at some point,

[2015-08-13 04:11] jbrantly commented on #3488
This has been a fun one. I tried skirting around the issue in webpack using the official `imports-loader` and `exports-loader` but couldn't find a way to make it work. I was able to make it work using an unofficial loader called `wrap-loader`.

[code]

This works by first making sure webpack does not parse TypeScript for `require` by using the `noParse` config. Secondly it wraps TypeScript, renami

[2015-08-13 06:41] vjau commented on #4293
You are right, but how comes the compiler doesn't warn me about that ?

[2015-08-13 06:57] sgireddy commented on #3054
Was a non-issue in windows 7, this issue popped up as soon as I upgraded to Windows 10. Tried everything disabled intellisense, disabled analysis for node modules etc. Reinstalled VS & NTVS. Nothing helped. CPU is at constant 15-20% on a six core server. takes about 5 minutes to load then everything is fine.

[2015-08-13 07:09] DanielRosenwasser commented on #4293
@vjau we're tracking this in #2854

[2015-08-13 07:15] Lanayx opened #4296 "TS 1.5.4, VS2015, compile on save is not working"
I've tested this on two different machines with vs2015 pro and enterprise versions. 1.5.4 broke the compile on save.  ( I didn't touch default settings, compilation type is AMD).  When I reverted to 1.5.3 it worked fine again.

[2015-08-13 08:35] ahejlsberg commented on #4101
As I mentioned in the comments on #4259, emitting the export assignment at the location of the export declaration will break the following code:

[code]

Export declarations will quite often appear before the entity they're exporting.

I don't know that there is a solution that doesn't have *some* problem, and I still think our current scheme is the best compromise. Another alternative is to put t

[2015-08-13 09:15] benliddicott commented on #4278
@rotemdan, In that case can you please make a new issue for it as it doesn't belong here.

[2015-08-13 09:35] ahejlsberg commented on #4101
Just so we have all the data in one place, here are the possible solutions and their issues:

* Emit export assignment at variable declaration site. Only works when declaration has an initializer.
* Emit export assignment at export declaration site. Doesn't work when export declaration precedes variable declaration and/or assignments. Also not clear what happens when there are multiple export decl

[2015-08-13 09:50] hawkerm commented on #4063
Sorry I haven't had a chance to try and isolate or repro it consistently in a controlled environment yet, been pretty heads down lately trying to fight with some other issues.

[2015-08-13 10:09] jbrantly commented on #3488
One refinement: `typeof process !== "undefined" && !process.browser` is probably too liberal and can pick up a stray `process` variable. Probably also need a positive property check as @vladima proposed. LESS uses `typeof process !== "undefined" && process.nextTick` for this purpose. Something like `typeof process !== "undefined" && process.nextTick && !process.browser` seems reasonable to me. The

[2015-08-13 11:47] benliddicott commented on #4234
On the topic of improving the error messages, It seems like we might be being stricter than really necessary here?

Am I right in saying, the main use-case for this feature is if
* the user has supplied an additional member which is not expected AND ALSO
* the user has not supplied at least one optional member
* so we warn the programmer in case the additional member is a misspelt optional member

[2015-08-13 13:49] aleksey-bykov opened #4297 "type guards don't work over property accessors (projection operator `.`)"
[code]

[2015-08-13 13:55] aleksey-bykov commented on #4212
@ahejlsberg, there seems to be an unresolved question related to how TypeScript is designed, would you please take a look?

[2015-08-13 14:26] aleksey-bykov opened #4298 "type guards can not assess supertype"
Consider
[code]

As we can see C is subtype of A, meaning

[code]

Is so,why would not the predicate `value is A` be satisfied?

[code]

[2015-08-13 15:13] RyanCavanaugh commented on #4234
One of the (many) bugs Dan found while updating DefinitelyTyped was something like this:
[code]

My question is, when someone writes this line of code:
[code]
Why did they put a type annotation on `a2` ?

If the next use of `a2` is in a position where it's going to be assignability-checked vs `A` (e.g. as a function argument), the type annotation adds very little value (just contextual typing) ove

[2015-08-13 15:20] laurentiustamate94 opened #4299 "Go to definition in Visual Studio 2015 on a private method"
In Visual Studio 2015 Community Edition, running the latest ts 1.5.4.0, when I try to go to the definition (F12) of a private method or attribute in an external class it crashes the IDE. I agree it should not navigate, but it shouldn't crash the environment.

[2015-08-13 15:34] danquirk commented on #4297
You might also want to look at https://github.com/Microsoft/TypeScript/issues/1260

[2015-08-13 15:37] aleksey-bykov commented on #4297
thanks, mine is clearly a dup

[2015-08-13 15:37] #4297 closed

[2015-08-13 15:40] danquirk commented on #3054
@NoelAbrahams this is with 1.5 (not beta) now yes? Should we be re-opening this issue or filing something new?

[2015-08-13 15:44] NoelAbrahams commented on #3054
I'm not having any performance issues with Windows 10 using VS 2015 RTM/TS 1.5.4.

So I would say that @sgireddy is probably experiencing a separate issue.

[2015-08-13 15:56] danquirk commented on #4296
Hm, we shipped 1.5.4 in part to fix a compile on save issue in 1.5.3 with --out https://github.com/Microsoft/TypeScript/issues/3939, haven't seen other reports like this yet. Are you using any other tools/extensions in your build process that could be affecting it?

[2015-08-13 15:59] flyfishMT opened #4300 "Build: Cannot compile modules unless the '--module' flag is provided."
I get this error - Build: Cannot compile modules unless the '--module' flag is provided.
even though I have AMD checked in the project settings.
Visual Studio 2015. 14.0.23107.0 D14REL
TypeScript Tools for Microsoft Visual Studio 2015 1.5.4.0

[2015-08-13 16:04] ashwinr commented on #4175
presume this also happens for variable references from within JSX.

[2015-08-13 16:12] danquirk commented on #4299
See https://github.com/Microsoft/TypeScript/issues/4129

[2015-08-13 16:12] #4299 closed

[2015-08-13 16:17] danquirk commented on #4300
What project type? Can you share the project file settings associated with Typescript and the actual compiler invocation from the output window?

[2015-08-13 16:32] flyfishMT commented on #4300
It is a .NET FW 4.6 Web Application, Empty Template. Not much in the output window:

1>------ Build started: Project: xxx, Configuration: Debug Any CPU ------
1>C:\xxx\app\path\to\xxx\xxx.ts(16,1): error TS1148: Build: Cannot compile modules unless the '--module' flag is provided.
========== Build: 0 succeeded, 1 failed, 3 up-to-date, 0 skipped ==========

The code it is complaining about looks li

[2015-08-13 16:37] flyfishMT commented on #4300
From project file:
<PropertyGroup Condition="'$(Configuration)|$(Platform)' == 'Debug|Any CPU'">
    <TypeScriptTarget>ES5</TypeScriptTarget>
    <TypeScriptCompileOnSaveEnabled>True</TypeScriptCompileOnSaveEnabled>
    <TypeScriptNoImplicitAny>False</TypeScriptNoImplicitAny>
    <TypeScriptModuleKind>AMD</TypeScriptModuleKind>
    <TypeScriptRemoveComments>False</TypeScriptRemoveComments>
    <Ty

[2015-08-13 16:50] mhegazy commented on #3198
Porting this fix to VS2013 does not seem be something we can take on in the time being; the code bases have diverged a lot, and to fix this we need to re-architect the language service, which we have done in VS2015 anyways; we believe the issue has been addressed in VS2015.

[2015-08-13 16:50] #3198 closed

[2015-08-13 16:53] mhegazy commented on #3054
@sgireddy can you provide more information about your project? a proc dump? also can you please file a new issue.

[2015-08-13 17:38] mhegazy commented on #4300
looks like a dupe of #4077

the project property pages saved the property changes under a wrong platform name "Any CPU" with a space in the middle. for now, just edit the file manually, change `"'$(Configuration)|$(Platform)' == 'Debug|Any CPU'"` to `"'$(Configuration)' == 'Debug'">` and it should work again.

[2015-08-13 17:38] #4300 closed

[2015-08-13 17:43] mhegazy opened #4301 "Change name of transpiled file if it matches the name of the output file to allow source maps to work"
see https://github.com/systemjs/systemjs/issues/636#issuecomment-130649492 for more details

from @guybedford comments:

To see the in-browser transpilation, open for example https://github.com/systemjs/systemjs/blob/master/test/test-typescript.html, and see that the original ES6 is not present in comparison to others. Looking at the original source it seems like the reason is that the source map

[2015-08-13 17:44] rotemdan opened #4302 "Proposal: structural overloading for interfaces"
An alternative to `extends` that is mostly identical but with the following variation: instead of erroring when properties are re-declared with different types, it would resolve to the type unions instead (properties having a function type are already overloaded in inheritance, so there's no need to address them):

[code]

An operator based on this variation of inheritance would have the property

[2015-08-13 17:48] mhegazy commented on #4063
thanks @hawkerm for getting back on this. i will close this one then. Feel free to reactivate if you run into it again.

[2015-08-13 17:56] mhegazy commented on #4101
@ahejlsberg if we can not, or would not, emulate the ES6 semantics correctly by rewriting references, emitting the export declaration in the place it is authored is easier for users to understand.

I would argue that the case reported in this issue is more common than an export declaration before the variable is assigned. also see related report in #4162.

Moreover, with allowing the export declar

[2015-08-13 18:12] UTGuy commented on #3949
Ok I have figured this out finally....

With this config, compile on build will create an app.js in the /project root/wwwroot/lib folder, but this same config will produce a NEW wwwroot folder inside the scripts folder (WHAT?)...

[code]

THIS config will work properly with compile-on-save, but puts a NEW wwwroot abover the project root (WHAT?)...

[code]

There is a discrepancy with the 2 differe

[2015-08-13 18:14] mhegazy commented on #4294
@gwicksted I would add the overload in https://github.com/Microsoft/TypeScript/blob/master/src/lib/intl.d.ts, since it is using `options` of a type defined in that file.

[2015-08-13 18:31] #4278 closed

[2015-08-13 18:50] paulvanbrenk commented on #3949
Did you install TS 1.5.4 or are you still on the 1.5.3 which shipped with RTM?

[2015-08-13 18:57] aleksey-bykov opened #4304 "exported/imported/aliased const enum doens't work in class default property initializers"
[code]

can be seen at [playground](http://www.typescriptlang.org/playground#src=module%20h%20%7B%0D%0A%09export%20const%20enum%20A%20%7B%20B%2C%20C%20%7D%0D%0A%7D%0D%0Amodule%20g%20%20%7B%0D%0A%09export%20type%20X%20%3D%20h.A%3B%20%2F%2F%20%3C--%20Here%20I%20found%20it!%0D%0A%09class%20Y%20%7B%0D%0A%09%09public%20value%20%3D%20X.A%3B%20%2F%2F%20%3C--%20%3F%3F%3F%20Cannot%20find%20name%20'X'%20%0D

[2015-08-13 19:05] mhegazy commented on #4298
the problem is we are [checking](https://github.com/Microsoft/TypeScript/blob/f92aa8681a3298b1505b1867fad9cd7c674d1604/src/compiler/checker.ts#L10337) if `A` is assignable to `C` and this fails.

I am not sure i understand the rational for this check though. maybe @tinganho or @JsonFreeman can explain why?

[2015-08-13 19:13] mhegazy commented on #4304
The error message is the issue. it means "Cannot find **value** with name 'X'".

A type alias only aliases the type-side of an entity, leaving behind its value side. Enums, even const enums, represent both a type (collection of values) and a value (the actual object you dot of to get the const value).

you can switch the type alias declaration to use `import` so you get *all* meanings of the entit

[2015-08-13 19:13] flyfishMT commented on #4300
I made this change.  When you open the project settings in VS, "None" is checked as the module system. Change to AMD, save, same error. It adds a duplicate settings section just like I pasted, so it is ignoring the one I manually changed.

[2015-08-13 19:13] #4304 closed

[2015-08-13 19:15] mhegazy commented on #4300
can you share more details? are your changes before or after the import to "Microsoft.TypeScript.targets"? it has to be before it to be picked up by the targets.

[2015-08-13 19:21] flyfishMT commented on #4300
I did not move anything around, just removed the |Any Cpu text as recommended.  It is a stock proj file otherwise. The section in question is directly before the Microsoft.TypesScript.Targets line. To illustrate what I was describing, here's what that part looks like after - deleting |Any CPU, opening the project settings in VS, setting it back to AMD, and saving:
[code]

Maybe changing it to AnyC

[2015-08-13 19:21] ahejlsberg commented on #4101
Yes, emitting the export assignment at the location of the export declaration allows the user to *work around the problem*. But it doesn't really *solve* the problem. If we're going to change this, wouldn't we solve more problems by emitting the export assignments at the end of the module? Surely this would make even more real world code work correctly. I think there are far more cases of export d

[2015-08-13 19:24] mhegazy commented on #4300
it should be:
[code]

instead of:

[code]

[2015-08-13 19:24] mhegazy commented on #4300
changing it to `AnyCPU` with no spaces, will work for build, but you will not get the correct properties in the project properties.

[2015-08-13 19:27] mhegazy commented on #3619
thanks @SaschaNaz !

[2015-08-13 19:27] #3619 closed

[2015-08-13 19:28] UTGuy commented on #3949
1.5.4.0 (per the "TypeScript for Microsoft Visual Studio" extension)

[2015-08-13 19:35] flyfishMT commented on #4300
Yes, I missed the platform part. This workaround works thank you.

[2015-08-13 19:36] UTGuy commented on #4296
is it like this #3949?

[2015-08-13 19:46] mhegazy commented on #4300
sorry for the hassle. hopefully this will be fixed soon.

[2015-08-13 21:23] DanielRosenwasser commented on #4298
First we should be asking what the behavior of this code should exhibit when called. If you pass in something of type `C`, should its type be narrowed to `A` in the guarded context?

I'd argue not because this isn't how `instanceof` type guards work. Otherwise I'm not sure what behavior we're actually aiming for.

So let's assume we don't narrow - then what is the utility of this code? Should we a

[2015-08-13 21:33] mhegazy commented on #3896
looks like a duplicate of #4083.

should be handled by #4307

[2015-08-13 21:33] #3896 closed

[2015-08-13 21:47] SamuelEnglard commented on #4249
I'd like to second the request for it to be in the auto completion inside a function.

[2015-08-13 22:00] mhegazy commented on #2795
thanks @ToddThomson!

[2015-08-13 22:00] #2795 closed

[2015-08-13 23:04] sheetalkamat commented on #4287
@IgorMinar : I ran this with node and the result was this:
Files:             573
Lines:          100438
Nodes:          455129
Identifiers:    147854
Symbols:         72082
Types:           67959
Memory used:   237189K
I/O read:        0.41s
I/O write:       0.00s
Parse time:      1.14s
Bind time:       0.66s
Check time:     23.41s
Emit time:       0.00s
Total time:     25.20s

Vs without test fo

[2015-08-13 23:10] prayaggandhi1080 opened #4311 "Type Script cause VS 2015 Enterprise to use high CPU continuously"
I had type script installed for VS 2015 Enterprise edition and as soon as I opened a solution containing java script files VS 2015 continuously used high CPU. It also prevented VS 2015 from detaching from the debugging session. Further more it prevented VS 2015 process to terminate even after closing VS 2015.

All of the issues went away as soon as I uninstalled TypeScript for VS 2015. Before unin

[2015-08-13 23:17] mhegazy commented on #4311
@prayaggandhi1080 can you take a process dump when VS is hung?

[2015-08-14 00:27] mhegazy commented on #1762
@DanielRosenwasser, I believe these two are in lib.es6.d.ts. please reactivate if i am missing something.

For `RegExp`.`flags` see https://github.com/Microsoft/TypeScript/blob/e34238cb9232a01abf2f5ab29ea62745535bddf8/src/lib/es6.d.ts#L666

For `Symbol` functions:
https://github.com/Microsoft/TypeScript/blob/e34238cb9232a01abf2f5ab29ea62745535bddf8/src/lib/es6.d.ts#L63-L87

[2015-08-14 00:27] #1762 closed

[2015-08-14 00:30] paulvanbrenk commented on #4017
Noticed this also happens in VS 2015. Checked in a fix for both.

[2015-08-14 00:30] #4017 closed

[2015-08-14 05:39] JsonFreeman commented on #4298
@DanielRosenwasser check out https://github.com/Microsoft/TypeScript/issues/4107#issuecomment-126970141 for the justification on why we use assignability here.

The behavior reported here is by design. In the signature for isA, the type predicate is trivial because it is always true. Namely any value of type `C` is of type `A` because of how C is defined. From the type system's perspective, you co

[2015-08-14 05:48] JsonFreeman commented on #4302
Seems like there are two ideas here. One is a new kind of heritage clause that is slightly different from extends, but is similar in spirit. I think that would be feasible, but why would it be useful?

The second idea is a type operator that takes any two types, and creates a new type that inherits from both operand types? But it is not obvious how this operator would work when the operands are ty

[2015-08-14 06:16] #4122 closed

[2015-08-14 06:36] JsonFreeman commented on #4241
I believe the rationale here is that you either want the function's entire parameter list explicitly typed, or the entire parameter list inferred. It has been spec'd this way because the thinking was, if the user put a type annotation on any parameter, it means the user wants the type system to back off and let them do the typing.

In this case, it looks like the intent of the contextual signature

[2015-08-14 06:54] Lanayx commented on #4296
Here are all the VS extensions I have. I have neither tsconfig.json nor Redirect JavaScript output to directory set (Project type is Telerik Appbuilder project and it doesn't have such an option). What I notieced is when I saved .ts file, I got a visual studio message in the left bottom corner which said "output generation cancelled".

![ce3b1-clip-63kb 1](https://cloud.githubusercontent.com/asset

[2015-08-14 07:12] Roaders commented on #1206
Hi, I am not sure if I can vote for this or what but I'd just just to say that a String based Enum would be incredibly helpful for me.
I have a problem that all Enums in our json are in string format. The server guys really don't want to convert them to integers so I have to consider changing the value of each one as the data arrives over the wire.

[2015-08-14 07:23] zhengbli commented on #4012
The spec says ``(Document or Window)`` on the return type of ``Document.open``, but I found on Edge, IE, Chrome and Firefox it is always of type ``Document``, so I guess it is safe to change it back.

[2015-08-14 08:54] SaschaNaz opened #4314 "How can I debug language service with TSX?"
I've been debugging TypeScript with dev mode in Visual Studio but my VS2015 does not support .tsx file. Adding extension mapping does not help me very much as it doesn't really load language service.

Are there other good tools to debug language service with TSX file?

[2015-08-14 09:36] rotemdan commented on #4302
For a start, I first wanted to consider what is the actual scope and character of the "overloads" heritage relation (not the operator). The first thing that I wanted to check if this applies to anything else than interfaces. Primitives (and possibly unions) would not fit of course, because they don't have an internal structure. In the cases of classes, it will violate OOP by having a derived type

[2015-08-14 09:52] rotemdan commented on #4302
An example of how this would work with two hybrid function/object interfaces (and also applies to cases where only one is hybrid, as well):

[code]

[2015-08-14 10:32] rotemdan commented on #4302
Before attempting to go into the details of the operator, there is first a consideration of a theoretical issue with a class that implements an overloaded interface. This is more of a question for language experts. The question is:

Consider a class that implements an interface, and another class that implements an interface that is hierarchically higher than the other one (I'm intentionally avoid

[2015-08-14 11:11] Davidhanson90 opened #4315 "Issues exporting a single d.ts for our code base"
So we have built a large library which is structured as follows

src
---------- >Foo
----------> Bar
----------> Baz

Foo folder contains many ts files and at the root of each folder is a index.ts  Folders like foo may also have sub folders with their own index.ts files in them.  We compile all this by doing a  tsc compile to produce a single js file.

[code]

This all works well  in our current a

[2015-08-14 11:43] benliddicott commented on #4234
**TL;DR:** There are additional use-cases which work in 1.5, therefore you won't have bug reports for them, but I think you will get bug reports in 1.6 if they suddenly don't work

@DanielRosenwasser, maybe you'll like the partial workaround I suggest at the bottom.
@RyanCavanaugh,

Good question. In the more usual case:
[code]
Given that Arthur wrote the annotation, what does Brian want to happen

[2015-08-14 12:35] benliddicott commented on #4278
# Workarounds

I didn't notice this but Rule 4 works currently in typescript@1.6. The other two are annoying but there are workarounds - essentially declare an throwaway interface which modifies member.

## Workaround 1: Base type members differ by optional/required status

**Problem:** It is not possible to extend or implement two interfaces, where a shared member differs in that it is optional i

[2015-08-14 12:51] benliddicott commented on #3598
I've posted a workaround for this on #4278.

[2015-08-14 12:57] benliddicott commented on #471
This is NeedsProposal. Here's a proposal which would allow the workaround posted to #3854  and #4278  work for `private` members as well as `protected` members.

### Proposal: Allow an extending class to modify the protection of a private member.

Currently an extending class can modify a `protected` member to be `public`:

[code]
The proposal is to allow the same syntax to expose a `private` memb

[2015-08-14 12:58] benliddicott commented on #3854
Note that this workaround above does not work for `private` members. see #471 which is currently `NeedsProposal` for a proposal which would allow the workaround to succeed.

[2015-08-14 13:07] rjamesnw commented on #4241
Sounds about right.  I expected that if a parameter type of a function in context *is missing* and other parameters are the same or super types of the expected signature, that it is quite obvious the developer wants the *missing* parameter types inferred.

[2015-08-14 13:10] GeertVL opened #4316 "Latest version of typescript causes "Could not load Microsoft.VisualStudio.JSLS""
I know that the solution is to get the setup from the iso of Visual Studio but does that not give a problem with versions?

And will there be a fix shortly in the install?

edit: to be precise, this error occurs when you use the Project Template of Typescript "HTML Application with TypeScript"

[2015-08-14 13:11] Chaotic-Limited opened #4317 "Installing from Visual Studio 2015 breaks... a lot!"
Hello!  (Visual Studio 2015 Enterprise) All I did was go to Tools => Extensions and Updates and update TypeScript from version 1.5.3.0 to 1.5.4.0.  That was the only update I did.  When I then restart Visual Studio and open my solution, I am presented with a number of errors:
The JavaScriptWebExtensionsPackage package did not load correctly.
Upon loading (at least one, but not all) a web forms pag

[2015-08-14 13:13] Chaotic-Limited commented on #4317
The content I'm cutting is HTML, which isn't encoded by GitHub it seems - you'd need to view source to get what I mean - apologies for the poor formatting.

[2015-08-14 13:27] rotemdan commented on #4302
First I would explain why I considered defining a hierarchical relation (which does seem to have its problems and may not turn out to be a good idea). It is not just to explore its use but also to try to consider on how to integrate the operation more strongly and consistently into the language (and observe things like OOP issues etc.). This may turn out to only be a hypothetical experiment (as th

[2015-08-14 15:19] SaschaNaz commented on #4317
You can use this to present HTML code:

[code]

[2015-08-14 16:24] mhegazy commented on #4317
This is not caused by updating TypeScript update. this is causes by updating "Tools for Universal Windows Apps Development"

Please follow the steps in https://github.com/Microsoft/TypeScript/issues/4238#issuecomment-129060370 to restore your JavaScript support.

[2015-08-14 16:24] #4317 closed

[2015-08-14 16:28] mhegazy commented on #4316
This is not caused by updating TypeScript update. this is causes by updating "Tools for Universal Windows Apps Development"

Please follow the steps in https://github.com/Microsoft/TypeScript/issues/4238#issuecomment-129060370 to restore your JavaScript support.

[2015-08-14 16:28] #4316 closed

[2015-08-14 17:00] paulvanbrenk commented on #4296
What kind of project is this, can you share a small sample project this happens in?

[2015-08-14 17:12] DanielRosenwasser commented on #4241
@aleksey-bykov @rjamesnw my apologies. When I said it's in the spec, I didn't mean to shoot you down - that's why I didn't close the issue as "by design". I mostly wanted to just give context that this isn't a compiler bug, but rather, a potential improvement for the language.

I didn't realize this was the case either, and indeed, I expected the un-annotated parameters to be contextually typed as

[2015-08-14 17:29] jasongrout commented on #3896
I'd say #4083 was a duplicate of this, since this was opened way before that :).  But no matter, thanks for fixing it!

[2015-08-14 18:41] #3488 closed

[2015-08-14 19:03] HuanhuanSunMSFT commented on #3343
Hi @jonathandturner @sant123 @DickvdBrink . In this walkthrough,  Horse extends Animal, does it also inherited the move method in Animal. From the perspective of C#/JAVA, should tom.move(34) just invokes the move method defined in Animal? Just started playing around TypeScript. This walkthrough example is a little weird to me. Thanks.

[2015-08-14 19:13] Lanayx commented on #4296
Here is the sample template project telerik provide
https://github.com/Lanayx/TelerikAppbuilderTypescriptSample
To run it you need to create a temp account here: https://platform.telerik.com/. Also, Telerik Appbuilder extension is needed. What I expect is when saving index.ts file, index.js should also be changed. It has been working for me more than a year before 1.5.4 typescript version.

[2015-08-14 19:48] tex23bm commented on #3343
Yeah, that's essentially what I find confusing.

When you pass a horse a parameter, it's calling a parameter-less function. I would expect the Horse.move function to be called if it matched the signature of the call.

That appears not to be the case.

Also, why was the bug label removed? What's the status on this?

[2015-08-14 20:25] alan-compeat commented on #4286
Same versions and result as NeuwirthD.  Frustrating and creating a lot of trash diffs on source that was all 'keep tabs' previously.  The CurrentSettings.vssettings file keeps getting overwritten by a InsertTabs: false value on VS close.  Changing the option in the UI writes the correct value to the file at the time changes are saved.

[2015-08-14 20:35] DanielRosenwasser opened #4320 "Consider exporting 'getOwnEmitOutputFilePath'"
Courtesy of @ivogabe in [Gitter on August 14, 2015 5:26 AM](https://gitter.im/Microsoft/TypeScript?at=55cdde93057d8c9d3a6d55d2):

[2015-08-14 20:35] JsonFreeman commented on #4302
I think the key problem is the one you've mentioned in https://github.com/Microsoft/TypeScript/issues/4302#issuecomment-131048667. This problem exists for interfaces too. I don't think the assignment `let baseInstance: Base = derivedInstance;` from your example should be allowed because Derived is simply not assignable to Base. With the `extends` keyword, the assumption on the user's part is that

[2015-08-14 20:59] JsonFreeman commented on #4241
It would be a breaking change though, if we suddenly contextually typed all missing parameters. It's just a question of how many partially annotated contextually type-able parameter lists there are out there.

[2015-08-14 21:06] billti commented on #1823
I left a comment in the pull request also to this effect, but this functionality is deprecated in the Node API. Specifically, it states at https://nodejs.org/api/globals.html#globals_require_extensions

`*Deprecated* In the past, this list has been used to load non-JavaScript modules into Node by compiling them on-demand. However, in practice, there are much better ways to do this, such as loading

[2015-08-14 21:22] IgorMinar commented on #4287
Thanks! I'll try to play with different node versions

[2015-08-14 21:32] DanielRosenwasser commented on #2710
I discussed with @wwwsevolod over Gitter - something like `$ResultOf` would be decently useful for the resulting type of calling a value of some type. This could return the union of types returned by all call signatures for a type.

[2015-08-14 21:43] paulvanbrenk commented on #4077
Checked in a fix, this is in the next release for VS.

[2015-08-14 21:43] #4077 closed

[2015-08-14 21:47] #4104 closed

[2015-08-14 22:11] #4170 closed

[2015-08-14 22:12] paulvanbrenk commented on #4296
Is this the only project type where Compile on Save doesn't work for you?

[2015-08-14 22:18] mkusher commented on #1823
@billti I can replace this register hook with bin `ts-node`(like `babel-node`), which will hook require and start application. And there'll be no way to "pollute" npm using this bin, what do you think?

[2015-08-14 23:06] rjamesnw commented on #4241
Only for those not using "no implicit any". ;) And even then, it would be of type "any", so I'm guessing it wouldn't break much.  In fact, it'll probably help people find bugs and push them to add proper types for the rare cases.  I think there are more benefits than not.

[2015-08-14 23:31] ldminoc opened #4322 "Compiler option rootDir breaks compilation"
It's unclear whether the option footnote at https://github.com/Microsoft/TypeScript/wiki/Compiler-Options means that it is only available to version 1.5, or 1.5 and higher.

The option is not in the schema shown at http://json.schemastore.org/tsconfig; however,
Visual Studio Code 0.7.0 seems to think its type is Boolean. Furthermore, including the option causes VSC to fail or not perform compilati

[2015-08-14 23:44] ldminoc opened #4323 "outDir compiler option description or function unclear"
The description "Redirect output structure to the directory" seems to imply mimicing of the source structure in the specified directory.

For example, I take the above description to mean:
if source is "app/app.ts", then output should be <outDir>/app/app.js

Outputs are placed in directory without structure. What is the correct behavior?

[2015-08-15 00:24] paulvanbrenk commented on #4291
This will be in the next release for VS 2015.

[2015-08-15 00:24] #4291 closed

[2015-08-15 01:25] aleksey-bykov opened #4324 "type guards can not work"
[code]

[2015-08-15 01:28] aleksey-bykov commented on #4298
i didn't get a word of what you guys said, shame on me, if it doesn't workout this way for you, then fine, i myself personally find it counter-intuitive that assignment compatibility isn't enough here

[2015-08-15 01:39] aleksey-bykov commented on #4298
on a unrelated note, why do we care what it can or cannot be? why can't we leave it to the developer's discretion to decide what can be what:

i wish i could do this:

[code]

type guards won't allow it ever, because Id and string have nothing in common, but again why would it matter, after if I said so?

[2015-08-15 01:44] aleksey-bykov commented on #4298
I  mean as I see it, the predicate part should proclaim things rather than trying to assert them, in that predicate I can state whatever I want and it has to be believed to be so by the type system, as long as the result returned by the type guard is true, shouldn't it?

[2015-08-15 02:02] buzinas commented on #1810
In fact #12 and this one is completely different.

The other is talking about readonly properties in interfaces (something that the current **language** does not support). This one is talking about a simple validation to throw a compiler error when trying to change a getter only property.

This one is very simple to implement (and, for me, it's a must), totally different from the other.

[2015-08-15 02:02] aleksey-bykov commented on #4241
@DanielRosenwasser I was kidding when I said that (wasn't too funny I know), but @rjamesnw  seemed seriously upset

[2015-08-15 02:22] rjamesnw commented on #4241
Annoyed, but not upset, lol. ;)

[2015-08-15 02:40] rotemdan commented on #4302
@JsonFreeman

Yes I have detected and explained the problem myself in detail. It does not maintain assignment integrity that is consistent with the position in the hierarchy, so it doesn't seem to be suitable as a hierarchical operation. Exploring this problem is an important part of considering the introduction of the operator. Please don't use that as a way to discount the concept, because it ha

[2015-08-15 03:33] sccolbert commented on #2249
Is there a reason to treat property decorators differently than method decorators with respect to return value? (Babel doesn't).

What I mean is that, if I want to define functionality for a property via decorator I have to do this:
[code]

Whereas Babel requires the descriptor to be returned:
[code]

This makes writing a decorator in TypeScript which will be consumed by Babel, difficult.

I would

[2015-08-15 03:50] DanielRosenwasser commented on #4241
It'd be a breaking change, but the workaround would be casting the function to `any`, so I don't think it would be terrible.

@aleksey-bykov tone sometimes doesn't transfer online all that well, but I can sorta see it now - @rjamesnw awesome, as long as you're not upset! :smile:

[2015-08-15 04:10] tinganho commented on #4324
I think this might be related to that assignments is not allowed on type guards or they will revert back to the original type?

[2015-08-15 04:39] vladima opened #4325 "dotted names in export assignments"
Current description of export assignments in the spec states:

[code]
A module containing an export assignment can be imported using an import require declaration (11.3.3), and the local alias introduced by the import require declaration then takes on all meanings of the **identifier** named in the export assignment.

However current implementation also [permits](https://github.com/Microsoft/TypeS

[2015-08-15 04:41] vladima commented on #4325
adding @alexeagle since he reported this issue originally

[2015-08-15 05:32] Lenne231 commented on #2710
There is another issue on this #3779

[2015-08-15 05:56] rjamesnw commented on #4241
I'd rather give types for the parameters missing the types, since that's the better point of **Type**Script I think (and was what I was doing anyhow). ;) It's not a huge issue, just an annoying one.

[2015-08-15 08:11] davetayls commented on #3464
@mhegazy yep, i can confirm this is working on version 1.6.0-dev.20150815

[2015-08-15 09:11] Lanayx commented on #4296
I've found out the actual issue, that happens for any type of project.
It depends on the TypeScriptCompile tag for the file. If it exists, compile succeeds, if not it fails. All my existing files doesn't have such a tag, that's why none of them compiles.
Currently, if you add a .ts file through the Add new item, this tag is added to the project file, but if you copy a .ts file from existing one, t

[2015-08-15 11:54] LPGhatguy commented on #247
Is this going to stay on track for 2.0? It seems like kind of an important feature for Node.js adoption, which right now is painful, even with DefinitelyTyped and the likes.

[2015-08-15 12:28] OlegDokuka opened #4326 "Interface that extends from class"
Hi guys, is it okay, that the interface can exteds from class without any compilation error??

[code]

I think it is a bit strange...

[2015-08-15 14:09] jesseschalken commented on #4326
No that's not strange. I imagine it's saying "a `BBB` has to be have all the things an `AAA` has, plus a publc `asdasd:string` property".

In fact it follows from TypeScript's structural typing. When you use `AAA` as a type it doesn't necessarily mean "an instance of the `AAA` class", it just means "a thing with all the public methods/properties of `AAA`".

[2015-08-15 14:30] PLEEROCK commented on #3582
I think some solution should be found for this problem. providing function to toJSON method each time you dont want your private methods to be exposed is overkill.

right, but in ES6 there is no `private` properties. Since typescript introduces new feature "private properties" that is not in es6, it should handle it proper way. And right now Im not sitisfied the way it works - it should not expose

[2015-08-15 15:07] matthewjh opened #4327 "Static getters / setters can have incorrect `this` binding"
[code]

[code]

I believe this is because the `foo` getter will be defined via `Object.defineProperty(Base, {..})`, which hard-wires `this` to `Base` within the getter, rather than binding as expected to `Inherited` in `Inherited.foo`.

[2015-08-15 16:20] OlegDokuka commented on #4326
it breake all my imaging about OOP, that is why it is very strang!)

[2015-08-15 16:27] matthewjh commented on #4327
I have a fix in #4328, I just need some advice on testing it. Please take a look.

[2015-08-15 16:41] DanielRosenwasser commented on #4314
You can create a fourslash test and run the test in the browser with `jake runtests-browser tests=yourTestName` or add a `debugger` statement to your test and run `jake runtests-browser tests=fourslash`.

[2015-08-15 17:47] jesseschalken commented on #4326
It's just [structural](https://en.wikipedia.org/wiki/Structural_type_system) instead of [nominal](https://en.wikipedia.org/wiki/Nominal_type_system) typing. Make of it what you will, but it fits very well in JavaScript world and often comes in handy. You can probably ignore it and just code like you're used to and things will work out fine.

[2015-08-15 19:03] SaschaNaz commented on #4314
`jake runtest-browser`. Thanks! :+1:

[2015-08-15 21:15] OlegDokuka commented on #4326
We talk about Typescript, and if I understand correctly, the TS is trying to provide **nominal** typing like in C#, Java, etc

[2015-08-15 22:33] BobFrGit opened #4329 "Visual Studio Time Machine?"
I was editing a .ts file and had it stopped accepting input in that file. I edited it externally and went back to VS and the changes I made got automatically read in. Things worked well for a while but the same symptom appeared so to be safe I close the .ts file in VS 2015 and reopened it and found that I was editing a version from a few ours ago?

WTF?

This may be a weird warp in space time and

[2015-08-16 01:37] jesseschalken commented on #4326
No, TS is trying to provide *static* typing like C#, Java, etc. Static typing can be either nominal or structural.

[2015-08-16 03:31] S-YOU commented on #4329
Have you tried closing that file and "Refresh" button from Folder tree?

[2015-08-16 03:35] BobFrGit commented on #4329
Yes and looked at it in the file system -- very strange. I went back to a two hour old backup copy and redid my program. But found no way to recover the file.

[2015-08-16 04:00] DanielRosenwasser commented on #4326
Yes, @jesseschalken is correct, we are going for static typing; nominal/structural is an orthogonal concern. My understanding is that the static type systems in languages like Go, OCaml, F#, and C++ all exhibit characteristics of a structural type system, whether fully or partially.

[2015-08-16 04:00] #4326 closed

[2015-08-16 04:07] DanielRosenwasser commented on #4327
This is actually a duplicate of #1520. See http://typescript.codeplex.com/workitem/2324 for the rationale/workaround, and as @danquirk mentions on https://github.com/Microsoft/TypeScript/issues/1868#issuecomment-72256645, I don't think we've changed our position on it.

[2015-08-16 04:08] JsonFreeman commented on #4298
@aleksey-bykov

It is enough. It's precisely the assignability check which fails because A is not assignable to C.

In answer to your broader question, I don't think it makes sense to consider that a string can sometimes be indexable by `''` to get a const enum type. And why would the type system care? It's the same reason it would care about anything the user writes. It is to make sure the user i

[2015-08-16 04:10] JsonFreeman commented on #4298
But I see your point as well, namely that there is nothing unsafe about allowing the user to write whatever they want. It's just trying to catch code that smells funny.

[2015-08-16 04:44] JsonFreeman commented on #4241
That is not quite true. The proposal to let the types flow through would *reduce* the number of `any`s, so you'd get fewer "implicit any" errors, but stricter types. That is what I meant by breaking change.

I think this is worth considering, I'm just noting it is a breaking change. To reduce the damage of the breaking change, we may have to come up with a heuristic, but no obvious one comes to mi

[2015-08-16 07:19] #4314 closed

[2015-08-16 09:25] tobich commented on #3628
@danquirk So when @jonathandturner said at http://blogs.msdn.com/b/typescript/archive/2015/03/05/angular-2-0-built-on-typescript.aspx

he meant metadata generated only for decorators, not full-scale reflection (for all public symbols, for example)?

[2015-08-16 09:28] aleksey-bykov commented on #4298
Thank to dynamic the nature of JavaScript and type erasure we could benefit from tricking TypeScript by saying that a value of a certain type is in fact of a different type. Practical application: my example with treating an actual value of `string` as a  value of a pseudo-type `Id<Whatever>`. Thank to being a certain type such `Id` (a string in disguise) has its own well defined and limited set o

[2015-08-16 12:28] dreifachstein opened #4331 "Allow user to define the global object"
ECMAScript has the concept of implementation defined [global object](http://es5.github.io/#x15.1), so that properties of the _window_ object in a web page can be accessed globally. Implementing this can eliminate a bunch of duplicated declarations in the default lib and also make it easier to target other runtime environments.

[2015-08-16 13:22] matthewjh commented on #4327
OK, so I'll (continue to) use my custom `__extends` so that my code functions as expected. Feels dirty as hell that I should have to do that, though.

Thanks Daniel!

[2015-08-16 17:05] SaschaNaz opened #4332 "getIndentation fails with JsxElement"
[code]

This causes error (in master branch):

[code]

Inserting a text line prevents this error. (foo)

[code]

[2015-08-16 17:47] acterhd opened #4333 "Visual Studio - how to run TypeScript in io.js (not browser)?"
Hello, I have simple and non simple question. Can I run typescript through io.js, not web browser in VS environments? How to run compiled js instead of index.html?

[2015-08-16 18:00] jesseschalken commented on #4333
I'm not sure about Visual Studio, but running TypeScript through io.js or node is generally just a matter of compiling it with `--module commonjs` or `--module umd` and running `node` or `iojs` on the resulting .js file.

[2015-08-16 18:10] acterhd commented on #4333
I want try ecmascript 6 and these module system unavailable.

[2015-08-16 19:30] bobzhang opened #4334 "how can I declare an abstract data type"
I am compiling ocaml to typescript, for ocaml, the type declaration does not make sense in typescript, so I want make it abstract type

[code]

is this below correct?

[code]

or
[code]

Thanks

[2015-08-16 20:26] dbaeumer opened #4335 "Format on type incorrectly formats code when pressing enter or ; after closing bracket"
Example: type foo(<enter>bar,<enter>arg

now move curso to next line behind the closing ). Code looks like this (. represents a space)

foo(
....bar,
....arg
)<cursor>

Now press enter or insert ;

You get

foo(
....bar,
....arg
....)

You can reproduce in VSCode 0.7.0 with the following editor settings:

{
	"editor.tabSize": 4,
	"editor.insertSpaces": true,
	"editor.formatOnType": true
}

[2015-08-16 21:50] JsonFreeman commented on #4298
I see your point. I think it is a judgment call as to whether or not to do this assignability check.

I will add that this question is very similar to one that could be asked about type assertions. A type assertion provides a way for the user to bypass the type system, asserting that the type system does not have complete knowledge of something. Yet, in a type assertion `<T>x` where `x` is statica

[2015-08-16 22:07] jbrantly commented on #2719
I wrote a blog post on interop between CommonJS and ES6 modules in TypeScript. It has a section on this issue that I thought might be useful to some of the people here (and future people who find this issue) so I thought I'd share. It's basically the TS -> ES6 -> Babel -> CJS solution but actually shows a brief example of how to do it using webpack.

http://www.jbrantly.com/es6-modules-with-typesc

[2015-08-16 23:53] basarat commented on #247
@LPGhatguy Please see https://github.com/Microsoft/TypeScript/issues/2338. @vladima is working on it but don't think its been assigned any milestone yet :rose:

[2015-08-17 01:26] jbrantly opened #4336 "Re-exporting namespace declarations in ES6 ambient declaration"
Right now many declaration files take this form:

[code]

However, there doesn't seem to be an equivalent for ES6 modules:

[code]

[2015-08-17 01:47] jbrantly opened #4337 "Guidance on writing declaration file for multi-targeted libraries"
It is now possible for a library to hit every type of target that TypeScript supports (module, namespace, and ES6). Currently, writing a declaration file for a library like this can be very challenging. The default today is something like this:

[code]

This has a couple issues:

1. If you're using this in the module sense, using this declaration file will result in TypeScript thinking there is a

[2015-08-17 02:10] rjamesnw commented on #4241
Sorry, yes, you're right, in the _new_ case the types would be inferred. It would, however, be much better and safer IMHO for everyone to have those types come through.  Consider that the interface index signature shows what the developer IS expecting - a very _specific_ signature. In fact, I don't see how this would be a big breaking change at all!  In my example, you CAN'T type the parameters AN

[2015-08-17 02:24] DanielRosenwasser commented on #4334
Hi there @bobzhang. In the future, [StackOverflow](https://stackoverflow.com] may be better suited for questions like this.

There is no integer type in JavaScript, so TypeScript has the `number` type. That said, you probably want

[code]

`undefined` or `null` would be your `Nil`/`Null`/`[]`.

The class declaration you gave implies that there exists a class with a default constructor *in your Jav

[2015-08-17 04:32] johnnyreilly commented on #4337
I'd love to hear what other people have to say about this - I'm in agreement that things are somewhat broken at present.

As a little digression, I've just taken over an app that is built using Browserify + Babel and written in ES6.  I'd hoped I'd be able to drop TypeScript into the mix by just having it export ES6 which can then be processed by Babel but found that the definition file story was v

[2015-08-17 04:35] JsonFreeman commented on #4241
Sorry, I had indeed read you wrong on the noImplicitAny thing.

It is a breaking change because let's say your original code did something like this (I just changed the body of handler2):
[code]
Today you would get no error for `bop` because `a` is any, but with the proposed change you'd get an error because `a` is a string. So it is a breaking change.

[2015-08-17 05:05] johnnyreilly commented on #2338
I'm not too close to the detail of this issue but I was wondering if the npm 3 changes have any bearing?

https://github.com/npm/npm/releases/tag/v3.0.0

[2015-08-17 05:43] basarat commented on #2338
@johnnyreilly thanks for bringing that up. No, it does not impact how `node_modules` resolution works so  will not have any impact of what is proposed / discussed here :rose:

Side note: npm3 only changes how `npm install` works ;)

[2015-08-17 05:47] johnnyreilly commented on #2338
Thanks for clarity @basarat!

[2015-08-17 06:40] Knecke commented on #4296
I'm running 1.5.4 and I still have the problem when using "${ProjectDir}/output" as the place to compile the files. If I specify the absolute path, compile on save works as expected.

[2015-08-17 07:04] acterhd commented on #4333
I'm close.

[2015-08-17 07:04] #4333 closed

[2015-08-17 07:54] kitsonk commented on #3582
It would be complicated and surprising.  What if someone wants toJSON to serialise the state of their objects, which includes `private` properties?  What solution would you offer them @PLEEROCK?

[2015-08-17 10:21] guybedford commented on #4301
Thanks for looking into this, as mentioned in https://github.com/systemjs/systemjs/issues/636#issuecomment-130847617 it is actually working fine as-is. The `sourceMappingURL` on its own is enough to inform the debugging representation it seems.

[2015-08-17 10:39] Lenne231 commented on #2103
Rest/Spread is approved for Stage 2 now https://github.com/tc39/tc39-notes/blob/master/es7/2015-07/july-30.md

[2015-08-17 12:34] panuhorsmalahti opened #4338 "Type for arbitrary number of function parameters of specified types"
I'd like to have a type for a function which takes in zero or more parameters, and then use the type for the parameters, e.g.

[code]

This is useful in e.g. typing the spread function here:
https://github.com/borisyankov/DefinitelyTyped/commit/3eb67c9e8258d2894f728016a427b963a94f22ce

I need to use the ``...args: any[]``, which is not quite what I'm looking for.

In essence, the type I want to us

[2015-08-17 12:49] Masclaux commented on #3317
yes i'm working on it.

[2015-08-17 15:17] Chaotic-Limited commented on #4317
@SaschaNaz I added the tag you suggested there but it doesn't appear to have worked.  :-/
@mhegazy Thanks for the response!  I ended up uninstalling VS and reinstalling it again.  There is clearly a clash of some kind - but fair enough if the bug is on the universal apps side.  Regardless the issue is resolved.  Thanks!

[2015-08-17 15:25] gdi2290 commented on #16
:+1:
Angular 2 added Elvis Operator to their template syntax

[2015-08-17 15:47] jjrv commented on #2262
I've come up with one solution that already seems to work today. It relies on a small tool called [autodts](https://www.npmjs.com/package/autodts) which is based on previous work from `tsd` and `dts-generator`. There's an [example package](https://github.com/charto/example-typescript-dependency) which is [published on npm](https://www.npmjs.com/package/@lib/dependency-example) and an [example proj

[2015-08-17 16:57] fstanis opened #4339 "Using both fat arrow notation and (the original value of) this"
I've recently written a [question on SO](http://stackoverflow.com/questions/32025342/typescript-how-to-use-both-fat-arrow-and-this) regarding this issue and since the offered solution was interesting, I thought about suggesting it as a possible future feature in TS.

Consider the following:

    function callback() {
        // How to access the button that was clicked?
    }
    $('.button').clic

[2015-08-17 17:02] mhegazy commented on #4333
io.js as well as node do not support the ES6 module system yet. So untill the support is available, you will need to compiler with `--m commonjs`.

[2015-08-17 17:37] mhegazy commented on #4291
@paulvanbrenk  what is the behavior on build? do we get a warning as well if the toolset (older) is not installed on the machine?

[2015-08-17 17:41] mhegazy commented on #4323
`--outDir` will mimic the input structure. the root of the input files is computed to be the longest common subpath of all input files, if you have one file, that is not going to work obviously.

use `--rootDir` to tell the compiler where is the root of your sources is. so in your case `--rootDir ./` should result in `<outDir>/app/app.js`

[2015-08-17 17:41] #4323 closed

[2015-08-17 17:43] vladima commented on #4301
closing as original issue is resolved

[2015-08-17 17:43] #4301 closed

[2015-08-17 17:50] mhegazy commented on #4335
I believe this is fixed in latest. can you give it a try and reactivate if this is not the case.
![formating](https://cloud.githubusercontent.com/assets/8000722/9311822/c2a6ed82-44cd-11e5-8936-482bf8310e02.gif)

[2015-08-17 17:50] #4335 closed

[2015-08-17 17:52] sheetalkamat commented on #4021
@Sharpiro , could you please share your sample project that you are having issues with breakpoint. It would be easier to investigate it futher. Thanks.

[2015-08-17 18:08] mhegazy commented on #4331
I remember discussing this issue around the 0.8 time frame, and the conclusion was that global namespace polluters (e.g. Window) are not a good practice in general, and thus should not be nativelly supported. what i am talking about is things like window properties can be accessible with no qualifications, and window becoming the value for `this` in global functions etc..

The way you would do thi

[2015-08-17 18:08] mhegazy commented on #3464
thanks @davetayls!

[2015-08-17 18:09] paulvanbrenk commented on #4296
@cannehag Yes, the aliases don't work for 1.5.4, that's something we're looking at for 1.6.

[2015-08-17 18:09] mhegazy commented on #4336
so why use `export =` then?

[2015-08-17 18:10] paulvanbrenk commented on #4296
@Lanayx where do you copy the file from, a project in the same solution or a file from the file explorer?

[2015-08-17 18:10] mhegazy commented on #3628
correct.

[2015-08-17 18:12] rjamesnw commented on #4241
I think my point was it's not a BIG breaking change - who on earth would do such a stupid thing? lol  :P  ;)

[2015-08-17 18:14] paulvanbrenk commented on #4291
@mhegazy No, we removed that a while ago. It was considered annoying, since they already got the warning on project open.

[2015-08-17 18:30] drake7707 opened #4341 "TypeError: b is undefined in __extends"
[code]

If the super class of B is defined after A you'll get a runtime error.

Just tested the above code in the typescript playground and I get the same error

[2015-08-17 18:31] mhegazy commented on #4322
i have sent a PR for the schemastore to add `rootDir` (https://github.com/SchemaStore/schemastore/pull/37).

The flag is supported in 1.5. for VSC, @jrieken and @dbaeumer any ideas why this is failing?

[2015-08-17 18:42] jbrantly commented on #4336
@mhegazy Sorry, I didn't understand your comment. Could you clarify?

The `export = MyLib` pattern is useful for making a module from a namespace without having to actually redeclare everything. The goal of the issue, in words, would be to allow making an ES6 module from a namespace without having to actually redeclare everything.

[2015-08-17 18:49] mhegazy commented on #4341
This issue has been discussed in  #21 and has been closed for some bigger issue. this has been a reoccurring pain though.

The consensuses in #21 is to show a compiler error about what the wrong order. we should be able to do this easily using `checker.ts::isDefinedBefore`.

[2015-08-17 18:53] mhegazy commented on #4336
We have talked about 1. allowing external modules to access the global namespace (#4166) and 2. extending `export *` to namespaces. none has enough traction though.

what is the proposal here?

[2015-08-17 18:55] mhegazy commented on #247
@LPGhatguy we are trying to get this in the next release. hopefully soon.

[2015-08-17 18:57] sccolbert commented on #4091
Thanks. This works for now. Looking forward to the official support!

[2015-08-17 18:58] mhegazy commented on #3838
thanks @SaschaNaz !

[2015-08-17 19:10] giggio commented on #247
@mhegazy You mean 1.6? That would be awesome!

[2015-08-17 19:11] giggio commented on #247
Is that related to #2338?

[2015-08-17 19:18] #4057 closed

[2015-08-17 19:18] mhegazy commented on #247
yes for TypeScript 1.6 (at least this is what we are trying to do), an yes for #2338; there are a couple of other changes and issues around this around including #3147 and #4154

[2015-08-17 19:21] jbondc commented on #4234
Oh my, just updating TS with a simple app I now see this:
![snap](https://cloud.githubusercontent.com/assets/199519/9313815/165f3d74-44f3-11e5-99ab-463981b01291.png)

I didn't 'opt in' to the strictness?

[2015-08-17 19:30] jonathandturner commented on #3628
What he said :)

[2015-08-17 19:50] jbondc commented on #4234
@RyanCavanaugh Types can be used a form of documentation not some strict contract. This change is pretty bad, need to add : ```[x: string]: any``` everywhere to preserve 'extensible by default'. There's a reason XML/XMHL, the strict things don't do very well.

[2015-08-17 20:14] #4327 closed

[2015-08-17 20:36] drake7707 commented on #4289
It seems modules aren't nested at all, even nested modules keep getting added to the root array.

I built a navigation pane with the TS 1.5.3 release on http://drake7707.github.io/Typescript-Editor/ (toggle the pane with the > button or use CTRL+W), where you can clearly see the issue.

Furthermore, adding a simple
[code]
will make the method listed under <Global> and in the root.

I build the ent

[2015-08-17 20:39] paulvanbrenk opened #4342 "Keep comments on public API's in d.ts files"
consider the following

[code]
Now even without the `removeComments` option there are no comments on the public APIs in the d.ts which would help with the documentation of the APIs

[2015-08-17 20:45] mhegazy commented on #4342
this is actually by desing. only jsdoc style comments are preserved. see https://github.com/Microsoft/TypeScript/blob/2ffc37510d2f8b74ca03f41633bd06fe2777e94f/src/compiler/declarationEmitter.ts#L307-L314

so far does not seem to bother anyone. would be interested to see if this is not true.

[2015-08-17 20:52] DanielRosenwasser commented on #4289
Sorry for the delay - this was meant to be in-line with the way C# did it, but I definitely agree there should be a better scheme whereupon top level items should also be considered children.

[2015-08-17 21:11] jbrantly commented on #4336
I don't think #4166 applies here. I'm not trying to access the global namespace. I'm trying to re-export the exported declarations of an existing namespace.

Extending `export *` to namespaces might be applicable but it's hard to tell without more context on what you mean.

As far as a proposal, I would suggest new syntax for ambient ES6 module declarations which allows re-exporting declarations f

[2015-08-17 21:11] paulvanbrenk commented on #4252
The bugs are related, but it's a different issue.. re-opening.

[2015-08-17 21:11] paulvanbrenk commented on #4252
https://github.com/Microsoft/TypeScript/issues/4252

[2015-08-17 21:11] mhegazy commented on #3909
@matthiasg, how about https://github.com/Microsoft/TypeScript/wiki/Integrating-with-Build-Tools#browserify? can you let us know what is missing, and how can we make it better?

[2015-08-17 22:21] #4277 closed

[2015-08-17 22:34] #4003 closed

[2015-08-17 22:38] S-ed opened #4344 "Array Type Intefrace paradox"
This code will not throw an error:
[code]
[id: string] is more general index than 'a', so the returned type of 'a' should be subtype of 'boolean'. But 'any' is more general than 'boolean'.
Am I right?

[2015-08-17 22:53] mhegazy commented on #4344
correct. any is special. it is both a subtype and a supertype of all other types. so it is more of a wildcard.

[2015-08-17 22:55] #4274 closed

[2015-08-17 22:56] mhegazy commented on #4274
sorry for the delay. @vvakame can you give tonight's typescript@next a try.

[2015-08-17 22:59] DanielRosenwasser commented on #4344
Specifically, we check if the types are *assignable*, which is in part affected by the rules of subtype/supertype compatibility. `any` can, in a sense, be *thought of* as a supertype/subtype of all other things, but really it comes down to what the TypeScript spec deems assignable.

From [3.9.4 Index Signatures](https://github.com/Microsoft/TypeScript/blob/82b78d85d77085412c87051fb50bf31126476683/

[2015-08-17 23:06] S-ed opened #4345 "Array Type Interface dotted notation"
[code]
Throws an error:
[code]
Possible to solve? Maybe treat Array index as 'any':
[code]
This one is ok.

[2015-08-17 23:14] #4344 closed

[2015-08-17 23:19] mhegazy commented on #4345
to access the member `b` you need to define it in the interface. e.g:
[code]

alternatively you can use string indexing to access your property:

[code]

if you give a value the type `any`, it can have any number of properties, and the compiler will not enforce any rules there.

[2015-08-17 23:38] #4345 closed

[2015-08-17 23:57] adidahiya opened #4346 "TypeCheckerHost interface should not be exported"
The `TypeCheckerHost` interface isn't referenced anywhere else in `typescriptServices.d.ts`. Is this an error? Unlike `LanguageService`, you can get a `TypeChecker` with `getTypeChecker()` on `ts.Program`. So exposing `TypeCheckerHost` seems unnecessary.

[2015-08-18 00:10] mhegazy commented on #4346
Sounds correct. A PR would be appreciated!

[2015-08-18 00:51] ldminoc commented on #4323
Thanks, your answer describes the behavior I was expecting. (Looks like <outDir>  got left out in my original post).

[2015-08-18 00:54] ldminoc commented on #4322
Thanks for the rapid response.

[2015-08-18 01:30] basarat commented on #16
If you meant `''?.toString()` it would be :

[code]

[Sample](http://coffeescript.org/#try:''%3F.toString())

[2015-08-18 01:34] dreifachstein commented on #4331
I agree that it is easy to emulate the global object in a library file, which is usually a one-time effort. So I will close issue.

FYI I am writing automation scripts for our artists. Having to duplicate a bunch of declarations was quite frustrating at first. After writing scripts to generate .d.ts from photoshop and aftereffects reference manual this become a non-issue.

[2015-08-18 01:34] #4331 closed

[2015-08-18 01:45] basarat commented on #16
@kevinb7 it already exists : http://wiki.ecmascript.org/doku.php?id=strawman:existential_operator

[2015-08-18 05:04] Lanayx commented on #4296
A project in the same solution. Haven't you reproduced that? What I want is files to be compiled even without TypeScriptCompile tag like in previous versions.

[2015-08-18 07:19] heycalmdown commented on #247
Then, why does it tagged as TypeScript 2.0 as a milestone?

[2015-08-18 07:47] rvdn commented on #4151
Any news?

[2015-08-18 07:54] nippur72 commented on #4311
This also happens to me in VS2015 Community Edition, in a node `.njsproj` project.

All was doing fine, but at a certain point VS became slow:
- slow to load the `.sln` (up to 15 seconds on a small project)
- always high CPU intensive (30%) and lagging while typing
- sometimes unable to be shut down (I have to kill `devenv.exe`)

Using `typescript@next`.

[2015-08-18 08:20] kitsonk commented on #4003
Thank you @sheetalkamat!!!!! :smile:

[2015-08-18 09:58] ProfessionalNihilist commented on #4296
Hey,

Both myself and a colleague have hit this issue today.

We have a number of projects that use TypeScript, each .TS file has been added through the `Add New Item` menu and so each one has a `TypeScriptCompile` element in the project file. The projects in question are either library or console projects.

We are compiling our typescript as AMD modules, the JavaScript files are not combined or m

[2015-08-18 10:44] drake7707 commented on #12
I would already be very happy if a simple compiler warning could be generated when trying to assign something to a property without a setter.
I was refactoring by encapsulating fields into properties with only getters and forgot to change some references. (In hindsight I should have done a refactor -> rename and add an underscore to the field before changing it to private and exposing the getter).

[2015-08-18 12:22] MarenkovIgor opened #4348 "Assignment to getter"
Following code is compiling without errors and warnings:
[code]

I think it`s wrong behavior. Typescript compiler should prevent assignment to property without setter.

[2015-08-18 12:29] impinball commented on #3960
By the looks of it, this would require a single town of lookahead in the parser. Basically this:

- If the next token is an angle brace (`< Foo <`), parse the production as a JSX element with a generic constructor.
- Otherwise, parse it as a normal JSX element.

I don't have a lot of time to look into this, since college just started back up for me.

[2015-08-18 13:08] gilamran commented on #3610
Sorry for polluting this discussion, but why isn't the result code just use ES5 getters/setters ? Why use defineProperty?

[2015-08-18 13:36] jbondc commented on #4234
I would have preferred to see leveraging "use strict" as a way to opt-in to this extra strictness. The benefits of #3823 are totally debatable. Maybe you'll catch a few bugs and likely better for optimizations but at the cost of freedom & flexibility. Seems like high cost considering that's the selling point of the dynamic languages.

[2015-08-18 13:43] nadav2511 opened #4349 "Import modules with AMD"
I've started a Web Application project in VS15.
I have the following as my root component in TS file:
[code]
I also have another TS file as another component that I'd like to use:
[code]
My my problem is with the import of comp - in the code above I don't have a compilation error, but when I run it I get a 404 error in the browser for not finding "http://localhost:60553/comp", which is correct, si

[2015-08-18 15:07] bgever commented on #12
I agree with @drake7707, this was my main reason to start following this thread.

[2015-08-18 15:49] kpko commented on #1927
Hi,

is this still a thing? We have a huge typescript project and want to convert from the Visual Studio integrated typescript compilation to tsconfig.json files. We organized our files (mostly components) into many subfolders and it would be great if we could import them into the compilation without having to write hundreds of lines of "files" array items.

[2015-08-18 16:15] panuhorsmalahti commented on #1927
Tip: you can use the "unofficial" glob property with e.g. atom-typescript and it works fine (the plugin will autocomplete all the files from the globs). It would be nice to get this into core, of course.

[2015-08-18 16:45] paulvanbrenk commented on #4296
@ProfessionalNihilist did that work before? Which version of VS are you using? And to confirm you're using a "Windows Console App".

[2015-08-18 16:51] mhegazy commented on #4249
Thanks @Schmavery!

[2015-08-18 16:51] #4249 closed

[2015-08-18 17:03] paulvanbrenk opened #4350 "Compile on Save not Working Console App"
Hey,

Both myself and a colleague have hit this issue today.

We have a number of projects that use TypeScript, each .TS file has been added through the  Add New Item  menu and so each one has a  TypeScriptCompile  element in the project file. The projects in question are either library or console projects.

We are compiling our typescript as AMD modules, the JavaScript files are not combined or m

[2015-08-18 17:03] paulvanbrenk commented on #4350
@ProfessionalNihilist did that work before? Which version of VS are you using? Do you see a TypeScript Build Tab in the project properties? And to confirm you're using a "Windows Console App".

[2015-08-18 17:04] paulvanbrenk commented on #4296
@Lanayx I couldn't reproduce that with any of the standard project in Visual Studio, it seems to only happen in the Telerik Appbuild project, and in there Compile on Save works as expected when you set the content type to TypeScriptCompile.

So closing this as External.

@ProfessionalNihilist since you're issue doesn't seem related I copied it over to #4350

[2015-08-18 17:04] #4296 closed

[2015-08-18 17:05] Serguzest commented on #4296
@ProfessionalNihilist  @Lanayx  do you see "output generation cancelled" when you save ts files?
![image](https://cloud.githubusercontent.com/assets/841238/9336796/2592a2d0-45e4-11e5-82ce-c5c5ccf566d6.png)

[2015-08-18 17:29] vladima commented on #2830
fixed in #4154

[2015-08-18 17:29] #2830 closed

[2015-08-18 17:39] Serguzest commented on #4350
@paulvanbrenk

I see the same buggy behaviour in the project type which created with "file -> open -> website"

I created test.ts file with notepad. Not through visual studio..

It compiles succesfully with tsc test.ts command, however not Visual studio 2015, TS 1.5.4
It was working before the update. (Btw, how can I revert this?)

![image](https://cloud.githubusercontent.com/assets/841238/9337324

[2015-08-18 18:09] Kurtz1993 opened #4351 "It'd be usefull add a Node.js API so we can compile in runtime."
A module like this:
[code]
So we can use it like this:

[code]

It would be awesome to have this Node API.

[2015-08-18 18:20] Lanayx commented on #4296
@Serguzest - yes, I do

[2015-08-18 18:25] adidahiya commented on #4351
have you seen https://github.com/Microsoft/TypeScript/wiki/Using-the-Compiler-API?

[2015-08-18 18:26] #4351 closed

[2015-08-18 18:30] mhegazy commented on #4311
@nippur72 so are you using DevMode to enable loading LS from `typescript@next`? what version of TypeScript 1.53? or 1.5.4? is this consistent for all projects? or is it a specific project that causes the problem?

[2015-08-18 18:47] Kurtz1993 commented on #4351
Sorry hadn't seen it, thank you! I'll take a look at it.

____________________
Best Regards,
Luis Rogelio Hernández López
Email: luis.hlopez@outlook.com
Sent from my Windows Phone
________________________________
From: Adi Dahiya<mailto:notifications@github.com>
Sent: ‎8/‎18/‎2015 1:25 PM
To: Microsoft/TypeScript<mailto:TypeScript@noreply.github.com>
Cc: Luis Rogelio Hernández López<mailto:luis.hl

[2015-08-18 19:01] mhegazy commented on #4349
what module loader are you using? how are your input file folder structure look like?

[2015-08-18 19:04] mhegazy commented on #247
thanks @heycalmdown, removed the milestone. we do not usually tag milestones to suggestions. hopefully we have an update within a week or so on this issue. stay tuned.

[2015-08-18 19:07] mhegazy commented on #3610
@gilamran you want to put the instance getters/setters on the prototype of the constructor function, and the static ones on the function itself. there is no other way to create something that is both a function, and set properties on it. you can do this with object literals, but then they are not functions.

[2015-08-18 19:37] Justin-Credible commented on #12
:+1: for @drake7707's idea; also the reason I am following this thread.

[2015-08-18 19:43] mhegazy commented on #4016
@Anupheaus i a can not reproduce this locally. i get the correct message when saving. are you seeing this behavior on a vanilla project? or is it a specific project?

[2015-08-18 19:45] paulvanbrenk commented on #4350
@Serguzest I'm afraid there is no way to revert to 1.5.3, however I did identify the bug you're encountering and have a fix which will be in 1.6.

[2015-08-18 19:55] mhegazy commented on #3311
The proposal is to remove the restriction on super being the first statement in the constructor body, and only require the existence of at least one call to super.

[2015-08-18 20:05] Davidhanson90 commented on #563
I have a good example of where partial would be useful.

https://github.com/Microsoft/TypeScript/blob/master/src/compiler/parser.ts

[2015-08-18 20:13] RyanCavanaugh commented on #4348
See nearly identical duplicate #4237 and its root #12.

[2015-08-18 20:13] #4348 closed

[2015-08-18 20:16] RyanCavanaugh commented on #563
@Davidhanson90 that file has zero classes in it. Did you mean to post this in a different thread?

[2015-08-18 20:24] Davidhanson90 commented on #563
No my original request was not for partial classes which I do think is a code smell but for partial modules/namespaces https://github.com/Microsoft/TypeScript/issues/447

[2015-08-18 20:28] RyanCavanaugh commented on #4298
The example with `A` and `B` and `C` is *very* confusing to me. According to our type system, every `C` is an `A` -- the function should *always* return true. My intuition is that type predicates like this should not exist.

Is there an example where this kind of type predicate makes sense?

[2015-08-18 20:29] gilamran commented on #3610
@mhegazy Got it, thanks!

[2015-08-18 20:35] RyanCavanaugh commented on #1810
"Property without a setter" and "Property that is read-only" is a distinction without a difference.

For example, if we have some class
[code]
This is its corresponding .d.ts:
[code]
Without a `readonly` modifier, there's no way to represent this *except* when we can see the implementation. Trying to implement this as via "see if there's a setter" would be a hack.

[2015-08-18 20:37] RyanCavanaugh commented on #4324
Assignments to `c` "turn off" type guards everywhere because we don't yet use control flow analysis to detect that the `else` branch does not affect the consequent branch.

See #2388

[2015-08-18 20:37] #4324 closed

[2015-08-18 20:38] RyanCavanaugh commented on #4329
Never heard of this before. If you find a way to reproduce this, please let us know!

[2015-08-18 20:39] #4287 closed

[2015-08-18 20:49] BobFrGit commented on #4329
I don't know how to give a repro but I keep finding that when I click on an error message and get positioned in the code it's a copy of the TS code and my keyboard input gets ignored. So I close the window and then find the one with the editable copy of the code. I ran into a year or so ago first working with TS (maybe in VS2012?) and thought it had gotten fixed.

[2015-08-18 20:55] aleksey-bykov commented on #2388
:+1:

[2015-08-18 20:56] RyanCavanaugh commented on #4339
Arrow functions are part of the ES spec now; this kind of proposal should start with ESDiscuss.

Probably the cleanest workaround in most cases is to use `var self = this;` and a regular function instead of an arrow function.

[2015-08-18 20:56] #4339 closed

[2015-08-18 21:30] NekR commented on #3311
@mhegazy and access to the ``this`` before ``super()`` call should be still banned, otherwise it won't compile correctly to ES2015.

[2015-08-18 21:43] mhegazy commented on #4329
is it a specific file/error that cases this behavior? is there a consistent set of steps that land you in this situation?

[2015-08-18 21:58] mhegazy commented on #3311
this is kinda hard to do right all the time without control flow analysis.. this is why the restriction of `super` being the first statement.. consider this:

[code]

[2015-08-18 22:02] BobFrGit commented on #4329
That's the challenge ... the only consistent symptom is seeing the file a second time in VS2015. What information can I provide for you next time it happens?

[2015-08-18 22:05] mhegazy commented on #4329
does this mean that there are two instances of the file opened in editor at the same time? or you have closed the file and then opened it again?

[2015-08-18 22:10] NekR commented on #3311
Hmm.. seems reasonable. ES2015 will have such kind of errors reporting anyway, so people will get them at a runtime. Looks better than completely disallowing any statements before ``super()`` call.

[2015-08-18 22:28] DanielRosenwasser commented on #2881
@rbuckton it looks like `Promise.all` and `Promise.race` already take an iterable.

[code]

[2015-08-18 22:47] adidahiya commented on #3311
The argument of "users will get this error at runtime anyway" feels very weak -- it kind of defeats the purpose of static type checking. Compiler errors >> runtime errors.

[2015-08-18 23:39] RyanCavanaugh commented on #4234
@benliddicott

I agree this is a problem, but it is not a *new* problem. If someone adds a new overload, or adds a member to a type that you want to access via `x.newProp`, or adds a new function, or makes a required property optional, etc, etc, etc, then TypeScript isn't going to let you get away with it without updating your definition file.

A major forcing function for .d.ts files to become co

[2015-08-19 00:03] BobFrGit commented on #4329
It means that the TS support has opened a second view or instance on the file -- this is the confused part in the past changes in one wouldn't necessarily be reflect in the other. Next time this happens I'm going to change it externally and see which, if either or both, get reloaded.

[2015-08-19 00:53] Sharpiro commented on #4021
@sheetalkamat
Here is the link: https://github.com/Sharpiro/Asp5Testing

it's pretty much a default MVC app in ASP.NET 5 VS 2015 at this point.

my test TS files are under "wwwroot/app" and are currently being combined into "testOutput.js" via GULP with the associated MAP file in that same directory.

Putting a breakpoint in any of the 3 .ts files while the project is running and refreshing Intern

[2015-08-19 01:07] DavidSouther opened #4354 "Invalid identifiers generated when importing files with leading numbers"
Targeting commonjs, when importing files with leading numbers in their names results in invalid js emitted.

Given these inputs:

### 10_lib.ts
[code]

### main.ts
[code]

Compiling with

[code]

Generates

### main.js
[code]

Which is invalid, and when run errors with:

[code]

[2015-08-19 01:29] duanyao commented on #3311
I think control flow analysis for `super()` is nice to have, just like control flow analysis for `return` in most static typed language:

[code]

If it turns out too complicated for TS, how about just disallow `super()` in conditions and loops?

[2015-08-19 01:36] bryanerayner commented on #1579
:thumbsup:

I'm putting in a quick run-time duck typing checker for de-serializing URL parameters. This is how I would expect the syntax to work in this situation:

    class Foo {
        prop: string;
    }

    function isFoo(obj: Foo): boolean;
    function isFoo(obj: any) {
        return (typeof obj === 'object') &&
                  (obj !== null) &&
                  (nameof(Foo.prop) in o

[2015-08-19 01:37] adidahiya commented on #3311
@duanyao btw, side note: we do a bit of control flow analysis in [tslint](https://github.com/palantir/tslint/#supported-rules) to detect unreachable code

[2015-08-19 01:40] bryanerayner commented on #1579
@frodegil , that would be an awesome use case. Would reduce a lot of code-smell and repetitive copy/pasting from my daily work-flow.

@Bobris, one would hope that the minified strings for the purposes of my example, I think if minification were to make its way into the tsc, this would be desired behavior.

[2015-08-19 01:47] jklmli opened #4356 "`new myVariable.constructor()` doesn't compile"
[code]

This code throws a compile error, but appears to produce valid code when entered into http://www.typescriptlang.org/Playground.

EDIT:
This code correctly compiles after changing the last line to:

[code]

[2015-08-19 01:48] Serguzest commented on #4350
@paulvanbrenk that's unfortunate.

People who are affected of this bug can still use tsc --watch from commandline to continue the development. I am using the one installed with NPM.

[2015-08-19 01:49] duanyao commented on #3311
@adidahiya Glad to know tslint, thanks!

[2015-08-19 03:32] DanielRosenwasser commented on #4356
The compiler will still emit code in the presence of errors unless given the `--noEmitOnError` flag. Emit in the face of syntactic errors is a best-effort emit with no guarantees in syntactic validity.

[2015-08-19 03:37] jiaweihli commented on #4356
This code should be supported on all browsers, given https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/constructor.

I appreciate the `--noEmitOnError` flag when doing development, but this doesn't help when our CI blocks deploy when there's a compile error, and there's no option to disable errors on lines (a la [tslint](https://github.com/palantir/tslint)).

[2015-08-19 04:45] richardbullin commented on #1980
I don't believe this is fixed? I updated to typescript 1.5.3 and the sourcemap generated from my previously listed code snippet in the comments above is exactly the same as versions 1.1.0-1, 1.3.0 and 1.4.1 and the breakpoints still do not get hit, for the same code the breakpoints only get hit in version 1.0.1 only, so it looks like a change between v1.0.1 and 1.1.0-1 generates the sourcemaps dif

[2015-08-19 04:47] richardbullin opened #4357 "Incorrect sourcemap/ Breakpoints not being hit"
I've been having issues getting my breakpoints to hit.

Please refer to previous bug #1980 "Incorrect sourcemap for comments in module function" as I don't believe this has been fixed. Please read through the comments to get my previously listed example source code to help reproduce the issue.

I just updated to typescript v1.5.3 and the sourcemaps being generated are exactly the same as the sourc

[2015-08-19 04:56] richardbullin commented on #4357
Hmm related to #2880 and #2014, whats the status of this problem? Sorry I'm new to Github. #1980 and #2014 says closed and #1980 was closed in typescript 1.5? But then the merged #2880 says it was also merged into 1.5? Have the fixes not been released?

[2015-08-19 05:09] DanielRosenwasser commented on #4356
I apologize, I misread the original issue. I thought you were suggesting that the code should not have been emitted at all.

[2015-08-19 05:15] NN--- commented on #1980
I agree.
The issue was not fixed with TypeScript 1.5.3.

[2015-08-19 05:22] basarat commented on #16
I did some quick tests to implement this on top of `PropertyAccessExpression` as its special case but didn't work out well as we really need `?.` to be right associative (instead of left associative like `.`) otherwise the emitter becomes needlessly complex.

There is comment by BrendenEich [here](https://github.com/JSFixed/JSFixed/issues/71#issuecomment-9325586) that reflects this as well.

[2015-08-19 06:01] zlumer commented on #16
@basarat can you please elaborate on that? An example of the difference between right associative and left associative `?.` would be very helpful to me.

[2015-08-19 06:19] basarat commented on #16
@zlumer

`.` is left associative so the the expression `foo?.bar?.baz` becomes in AST (if we treat `?.` the same):

[code]

The JavaScript emit needed is

[code]
Its just easier to do this emit (especially *recursively*) if we had the following in the AST:
[code]

Just think of *how would you convert the first AST to JavaScript* and the complexities would be clearer. Hope this helps :rose:

[2015-08-19 07:13] nippur72 commented on #4311
Some additional info:
- the problem is with a specific `.njsproj` project only. I tried creating a fresh new `.njsproj` and it seems to work normally.
- when using `typescript@1.5.3` solution doesn't close, it hangs with `devenv.exe` and `svchost.exe` both at 29% of cpu time.
- when using latest `typescript@1.6.0-dev.20150819` the solution closes, but `devenv.exe` is still at 29% while typing (in

[2015-08-19 07:16] DanielRosenwasser commented on #16
@zlumer, to add to what @basarat said, I'll just put out the example `1 + 2 + 3`.

When parsing, we have to decide which of these operations will happen first.

If `+` is left-associative, this will be interpreted as `((1 + 2) + 3)`.

If `+` is right-associative, this will be interpreted as `(1 + (2 + 3))`.

You might question whether this would actually make a difference. In JavaScript it would!

[2015-08-19 07:18] DanielRosenwasser commented on #16
@basarat, my understanding of what @BrendanEich said (and he can correct me if I'm wrong - sorry for the ping!) is *not* that `?.` is right-associative, but that CoffeeScript special cases property accesses on the right of the `?.` to be right-associative. For example, it will parse

[code]

as

[code]

instead of

[code]

because it's easier to emit.

Our AST needs to lend well to sane semantic a

[2015-08-19 07:19] euzureau opened #4358 "New Website Logo: Criteo"
Please fill the following out:

- Name: CRITEO
- Homepage url: http://labs.criteo.com
- Brand Guidelines: ![brand_guidelines](https://cloud.githubusercontent.com/assets/9035585/9350713/465bead4-4653-11e5-95ba-9cab9b9ded2c.png)
- Logo: ![logo-500w](https://cloud.githubusercontent.com/assets/9035585/9350628/aaeedb9c-4652-11e5-85e3-37ef7a0c7fe4.png)

Note: Logo png already has the necessary padding f

[2015-08-19 07:28] zlumer commented on #16
@basarat @DanielRosenwasser thank you for the explanations. So far I understand it, but I'm still not certain about one thing.
The left-associative `?.` is pretty obvious and expected:
[code]
Becomes
[code]
But I don't understand at all how would a right-associative `?.` work. Can you please provide an example?

[2015-08-19 07:36] basarat commented on #16
@zlumer The runtime behaviour will be left associative. I was just talking about the AST as DanielRosenwasser also clarified: `is not that ?. is right-associative, but that CoffeeScript special cases property accesses on the right of the ?. to be right-associative`.

@DanielRosenwasser thanks for the feedback :rose:

[2015-08-19 07:43] zlumer commented on #16
@basarat thank you, suddenly it all became clear :smiley:

[2015-08-19 08:02] ProfessionalNihilist commented on #4350
@paulvanbrenk Visual Studio 2015 Enterprise, Class Library project. There is no TypeScript Build tab in project properties (there never has been either).

[2015-08-19 08:59] SaschaNaz opened #4359 "`jake runtests-browser t=yourTestName` does not load any test on master branch"
`jake runtests-browser t=yourTestName` has got broken and the `Run Tests` button just shows `passes: 0 failures: 0 duration: 0s`.

I'm testing on Windows 10 build 10240 and io.js v2.3.1. It had worked a week ago and got broken when I received the latest TypeScript bits. Updating io.js to version 3.0.0 doesn't fix this problem.

`jake runtests t=yourTestName` still works as expected.

[2015-08-19 09:30] Davidhanson90 opened #4360 "Cannot debug TypeScript applications in Visual Studio 2013/2015 when --inlineSourceMap and --inlineSources set"
1.) There appears to be no way to set the flags (inlineSourceMap ,inlineSources ) in visual studio 2013 with the 1.5 TypeScript extension installed.  Is this a known bug?

2.)  As a result of the above I have a pre-build event which runs this.

[code]

However, while I can debug the TS source in both chrome and IE11, visual studio will no longer break on breakpoints.

[2015-08-19 09:35] Davidhanson90 commented on #447
I have a good example of where partial would be useful.

https://github.com/Microsoft/TypeScript/blob/master/src/compiler/parser.ts

[2015-08-19 10:53] frodegil commented on #1579
@bryanerayner , your assumption is correct. The nameof operator is only used during compilation to convert type information into a string.
[code]
Its so easy to get these hardcoded strings out-of-sync during refactoring

[2015-08-19 11:14] kungfusheep opened #4361 "Suggestion: Implicitly resolve properties/methods without 'this' property access."
I've just had a look through previous issues and couldn't find anything that resembles this, so apologies if it's been brought up before.

It seems like there's enough information available to TypeScript that would enable it to infer the `this` keyword.  It's a nice feature of a few other languages and it would be great if TypeScript could do the same where possible.

For example the following cla

[2015-08-19 11:39] Masclaux commented on #3317
@sheetalkamat  hi

you can try now with vs2015.

Bug reproductible.

[2015-08-19 12:20] jbondc commented on #4234
First is unrelated, think it might be a feature I added in: e.g.
[code]
You can infer the string index for an untyped object literal by looking at assignments.
The other errors are from a 'typings.d.ts' I created for:
http://www.idangero.us/framework7/#.VdRyMrJVhBc

So yes you can blame me for not writing the full definitions file but that's the point raised by @benliddicott that definition files

[2015-08-19 12:25] jbondc commented on #4234
To be clear, I do like the feature :+1: just not 'on by default' or alternative(s) ?

[2015-08-19 12:55] vvakame commented on #4274
thanks! :+1:

[2015-08-19 13:36] Anupheaus commented on #4016
@mhegazy Both myself and my colleague have this issue, on very different machines, but it is with the same project and both of us are using VS2013.  Neither of us have another project to test it on but if I get chance this afternoon I will create a new project with an error and see if the issue occurs on other projects.

[2015-08-19 13:48] jbrantly opened #4362 "Allow JSX element attributes type to be an intersection"
Consider the following:

[code]

This results in the error: JSX element attributes type '[type parameter] & { ref?: string; }' must be an object type.

An alternative would be an additional member of the JSX namespace that allowed specifying "global" attributes (that would apply to both value-based and intrinsic elements). For example:

[code]

See also borisyankov/DefinitelyTyped#5347

[2015-08-19 14:19] SonofNun15 opened #4363 "Typescript Libraries"
We are separating our application into distinct repositories to keep the pieces small and reusable.

We want something like DLLs in .NET where a TypeScript repository is compiled down to a distributable that can be imported into another TypeScript project and consumed. The compiled medium in TypeScript is JavaScript, so right now we're compiling down to a .js file and a .d.ts file.

Currently we a

[2015-08-19 14:42] SonofNun15 commented on #4363
Ultimately, this could change the way the Definitely Typed project works because willing open source projects could include a .d.ts file with the .js file as part of their distributable, potentially allowing the project to be imported via TypeScript...

[2015-08-19 15:15] pcan opened #4364 "[Emitter] Wrong design:type metadata for decorated fields"
When I compile this code:

[code]

The emitter produces the following code:

[code]

But the expected output for metadata should be `__metadata('design:type', A)`. Furthermore, if I change the param declaration to `x: A = new A();`, the emitter will output `__metadata('design:type', )` (type not specified at all).

[2015-08-19 15:55] Davidhanson90 commented on #4363
Related https://github.com/Microsoft/TypeScript/issues/4315

[2015-08-19 15:59] Davidhanson90 commented on #4361
This could be dangerous, for example the code below. What would you expect testMethod to return.  In javascript window would point to the global object and would be in conflict with the class field.

[code]

[2015-08-19 16:01] SonofNun15 commented on #4363
Yes, that issue is similar. They encountered some of the same issues that we encountered along the way.

[2015-08-19 16:04] SonofNun15 commented on #4315
We resolved this issue to a degree by removing all `/// <reference path="*.d.ts" />` and instead feeding all of the type definitions to the compiler in the compile step. This fixed the issue for us (relative paths to *.d.ts files were no longer required), but most editors can't follow this so the global types referenced in those *.d.ts files are listed as errors in the editors even though the comp

[2015-08-19 16:21] aleksey-bykov opened #4365 "problem with referencing external modules in 1.6.0-dev.20150818"
a.ts
[code]

b.ts
[code]

tsconfig.json
[code]

[code]

gives:
[code]

[2015-08-19 16:26] aleksey-bykov commented on #4298
Thank you for your answers. The original issue turned out to be non-existing and can be closed unless there is something else to talk about.

[2015-08-19 16:29] fopsdev commented on #4364
i thin i'm running into the same issue here:

import {bindable} from 'aurelia-framework';

[code]
gets translated to:

[code]

[2015-08-19 16:33] alexeagle commented on #4325
+cc @mprobst

[2015-08-19 16:51] paulvanbrenk commented on #4350
@ProfessionalNihilist That's what I expected, in that case the fix I put in for @Serguzest will work for your case to.

[2015-08-19 16:51] #4350 closed

[2015-08-19 17:10] mhegazy commented on #4016
thanks @Anupheaus, appreciate the help!

[2015-08-19 17:11] mhegazy commented on #4359
was that ever working? @danquirk?

[2015-08-19 17:13] mhegazy commented on #4274
thanks for verifying.

[2015-08-19 17:17] mhegazy commented on #4329
One thing that we have seen before is the file path having different slashes. It was triggered by clicking on an error in the error list, that has a "Build" prefix.
if/when you see a file opened twice, can you capture the full file path from each tab, and capture the error message that you clicked on to open the file, and ideally the build log that generated the error.

[2015-08-19 17:19] mhegazy commented on #4311
@nippur72 can you share the project that is causing the issue? you can email me on mhegazy at microsoft.

[2015-08-19 17:25] #4354 closed

[2015-08-19 17:25] DanielRosenwasser commented on #4359
@SaschaNaz if you make it `t=fourslash` and then change your browser URL from `grep=fourslash` to `grep=yourTestName`, does that work at all?

[2015-08-19 17:25] mhegazy commented on #4354
thanks @DavidSouther!

[2015-08-19 17:31] mhegazy commented on #4360
@sheetalkamat, the VS debug extension does not support inline soruce maps, is this correct?

[2015-08-19 17:41] DanielRosenwasser commented on #4361
While I do prefer this in other traditional OO-style languages, this conflicts directly with ECMAScript's semantics, which were chosen intentionally to avoid the scenario @Davidhanson90 gave.

[2015-08-19 17:41] #4361 closed

[2015-08-19 17:41] SaschaNaz commented on #4359
@DanielRosenwasser No, it doesn't work and `grep=fourslash` also does not. I've found that even `jake runtests-browser` without `t=yourTestName` does not work now.

[2015-08-19 17:48] kungfusheep commented on #4361
Fair enough. Thanks.

[2015-08-19 18:09] JsonFreeman commented on #4234
It is not feasible to allow the type of a variable to change based on subsequent mutations of that variable. In your example, you could assign `opt` to something else, and we would be unable to track what happens to it.

It is also not desirable, as there is nothing that checks whether future assignments are even correct.

The feature cannot be user configurable because it is an assignability rule

[2015-08-19 18:09] BobFrGit commented on #4329
Sounds right -- will watch out and report it when it happens again.

[2015-08-19 18:11] mhegazy commented on #4364
This is by design. the intended behavior is not doable for the general case. one thing to keep in mind is we are serializing the type using the constructor function. if you alias it, the constructor function might not be, and probably is not,  in scope.

consider this:

[code]

and
[code]

Solutions, either you use `import aliasForA = A`, which will generate a variable `aliasForA = A` so the seria

[2015-08-19 18:11] mhegazy commented on #4364
@fopsdev this is a different issue. i will file a different bug to track it.

[2015-08-19 18:15] #4282 closed

[2015-08-19 18:58] RyanCavanaugh commented on #4362
Removing this restriction for the sake of intersection types makes sense. It was put in place because we don't really correctly support the JSX Attributes type being a union type.

[2015-08-19 18:59] RyanCavanaugh commented on #4298
Thanks!

[2015-08-19 18:59] #4298 closed

[2015-08-19 18:59] drake7707 opened #4366 "Incorrect this when passing a method from 1 class to another"
[code]

This will give 2 alerts, the first one, "I am key from B", obviously, considering I call it directly

However the second alert returns "I am key from A", while the B::test() method is called from a method from A.

The intellisense provided by the compiler in the test() from B is seeing "this" as the B class, which is not always true.

You can verify the code above on the typescript playgro

[2015-08-19 19:22] RyanCavanaugh commented on #4366
This is the ECMAScript behavior of `this`.

See http://stackoverflow.com/a/20627988/1704166 for other solutions.

[2015-08-19 19:22] #4366 closed

[2015-08-19 19:26] #4334 closed

[2015-08-19 19:32] #3961 closed

[2015-08-19 19:35] mhegazy commented on #3981
Fix should be in next release.

[2015-08-19 19:35] #3981 closed

[2015-08-19 19:49] Zlatkovsky opened #4367 "Bug in async/await when doing a "return" statement inside of a for loop that awaits in an async function"
In current prototype of the Async/Await downlevel support, we found a bug causes an erroneous exception to occur in code that should otherwise work.

## Repro:

The gist of the issue is that **having a “return” statement inside of a for loop in a function that has an await in it causes an error**.

Run this code an you’ll see that whenever the “num” is > .5 (and the “return true” statement gets ev

[2015-08-19 20:22] paulvanbrenk commented on #4252
@sheetalkamat there is an issue in the emit in the script side. The compile doesn't hand an expanded path to the 'outdir' argument either.

[2015-08-19 20:45] sheetalkamat commented on #4357
@richardbullin this is fixed by #4086, which is not yet in any of the release.

[2015-08-19 21:04] richardbullin commented on #4357
:+1:

[2015-08-19 21:08] Petah commented on #1544
As a newbie to TS I found this very confusing....

[2015-08-19 21:25] #3979 closed

[2015-08-19 21:25] #3999 closed

[2015-08-19 21:26] #4012 closed

[2015-08-19 21:29] #4015 closed

[2015-08-19 21:48] #4083 closed

[2015-08-19 22:13] mhegazy commented on #4357
@richardbullin can you give the nighties a try to make sure the issue has been fixed. `npm install typescript@next`.

[2015-08-19 23:05] sheetalkamat commented on #4021
@Sharpiro: It seems like the sourcemap generated is wrong. This is my folder structure
![folderstructure](https://cloud.githubusercontent.com/assets/8052792/9370618/7edf2104-4686-11e5-8778-27b4fed9af72.JPG)

The map has:
![sourcemap](https://cloud.githubusercontent.com/assets/8052792/9371226/e0a87be2-468b-11e5-82f9-f78aab289747.JPG)

So it is expecting file at:
file:///E:/GitHub/Asp5Testing/src/As

[2015-08-19 23:56] Sharpiro commented on #4021
@sheetalkamat

After following your advice I was able to get it working by specifying the sourceRoot option in Gulp.

Thanks for your help.

[2015-08-20 00:00] jsen- commented on #3978
I think the issue is not yet gone.

I'm using ```typescript 1.6.0-dev.20150819``` with ```experimentalAsyncFunctions``` enabled, targetting ```es6```

The following code seems to trigger the error:
[code]
or
[code]
The following compiles (unfortunately there's no awaiting mechanism):
[code]

[code]

iojs versions:
[code]

[2015-08-20 00:00] mhegazy commented on #4021
looks like the issue is resolved. closing.

[2015-08-20 00:00] #4021 closed

[2015-08-20 00:00] #4365 closed

[2015-08-20 00:11] richardbullin commented on #4357
@mhegazy Yep that worked :+1:

[2015-08-20 01:13] DanielRosenwasser opened #4370 "Provide suggested fixes for unresolved entities"
Something like the following:

![image](https://cloud.githubusercontent.com/assets/972891/9373302/c205a9c8-469d-11e5-929f-80988968fb77.png)

See https://github.com/Microsoft/TypeScript-Sublime-Plugin/issues/327 for the original suggestion.

[2015-08-20 02:35] d180cf commented on #4367
This state machine looks like a downlevel emit of generators. Does it mean that tsc@1.7 is going to support `yield` when targeting es5?

[2015-08-20 04:40] #4220 closed

[2015-08-20 04:55] mhegazy commented on #4367
@d180cf we are working on it :)

[2015-08-20 04:55] mhegazy commented on #4357
thanks @richardbullin for verifying.

[2015-08-20 04:55] #4357 closed

[2015-08-20 05:00] mhegazy commented on #4242
looks like this was an intermittent issue that was resolved. closing for now. please feel free to reactivate or create a new issue if you are still running into trouble with the update.

[2015-08-20 05:00] #4242 closed

[2015-08-20 05:04] basarat commented on #2338
Worth linking here : https://github.com/Microsoft/TypeScript/pull/4154

[2015-08-20 06:23] ivogabe opened #4372 "Allow intersected numbers to be used in arithmetics & element access"
I was experimenting with intersection types and primitives, and I discovered that when you create an intersection type with a number, you can't use it in arithmetics and element access:
[code]
Though you can't create properties on numbers, this can be useful to add brands to numbers, like this:
[code]
Currently intersections are only allowed on these locations if all parts of the intersection are

[2015-08-20 06:40] DanielRosenwasser commented on #4372
I was thinking about this just for the sake of things like units of measure. As I mentioned in your PR, I think the only open questions are what to do with `number & string` (which I'm glad you added test coverage for). Otherwise, it sounds like this would be the right direction.

[2015-08-20 07:01] ahejlsberg commented on #4356
The `constructor` property will only be correct if the constructor function chooses to initialize it. Although TypeScript generates code to do so, it is not a requirement and you can't generally rely on it for an arbitrary constructor function (e.g. one implemented in a JavaScript framework). For that reason TypeScript doesn't strongly type the `constructor` property.

[2015-08-20 07:38] basarat opened #4374 "JSX `<a>#</a>` fails to emit because a shebang trivia scan is attempted"
This line https://github.com/Microsoft/TypeScript/pull/4120/files#diff-a15280067dcb3b0929808762f8352e86R468

Followed by https://github.com/Microsoft/TypeScript/pull/4120/files#diff-a15280067dcb3b0929808762f8352e86R543

Fix coming soon :rose:

[2015-08-20 07:41] SaschaNaz commented on #4359
I just found that `ts.sys` in bundle.js is being undefined and that causes an error.

[2015-08-20 07:45] basarat commented on #4374
Weird that this : https://github.com/Microsoft/TypeScript/pull/4120/files#diff-a15280067dcb3b0929808762f8352e86R406 didn't block a trivia scan.

[2015-08-20 08:19] basarat opened #4376 "JSX: Whitespace missing in emit for `<something/> foo`"
Consider the following:

[code]
it emits :

[code]

[Should emit](https://babeljs.io/repl/#?experimental=true&evaluate=true&loose=false&spec=false&playground=false&code=%3Cdiv%3Eword%20%3Ccode%3Ecode%3C%2Fcode%3E%20word%3C%2Fdiv%3E):

[code]

[2015-08-20 08:29] #4374 closed

[2015-08-20 08:30] mhegazy commented on #4374
thanks @basarat !

[2015-08-20 08:31] matthiasg commented on #3909
i am on vacation now so i wont write a lot or re-check, but last time i tried using tsify etc they all failed on me. They work when i start from scratch but not when trying to partially start with ts inside a larger existing project. with babelify there was no issue at all. i just added it and was able to use es6/7 features everywhere i wanted with full compatibility to existing es5 code.

1) I co

[2015-08-20 08:38] nippur72 commented on #3978
Yes the issue is back, I re-discovered it yesterday in 1.6 nightly, so I'm reopening it.

[2015-08-20 08:46] basarat commented on #4374
:rose:

[2015-08-20 09:22] nbellowe commented on #4341
Why isn't this expected behavior?
[code]

Generates
[code]

The IIFE after `var B =` has a parameter of `A`, but `var A = ...`isn't called until just after that.

I don't know how you could get the above functionality ... maybe:

[code]

[2015-08-20 10:23] ivogabe commented on #4320
I've taken a look at this and found some other functions (like `isExpression`, `isFunctionLike`) that I can use in my project. I actually (re)implemented some of them already in my project, but I'd prefer to use the TypeScript api of course. Can these be exported? I exported them in PR #4377.

[2015-08-20 11:14] M0ns1gn0r commented on #4286
Every member of our team experience the same problem. Any workarounds?

[2015-08-20 12:09] benliddicott commented on #4234
**TL;DR:** It would be nice to have some way for the **caller** to relax strict type checking at the call site, so pain points can be reduced on a case by case basis. I suggest a clumsy workaround below. I would also like a broader feature of loose and strict type assertions.

@RyanCavanaugh

The problem with applying pressure on library authors in this way is that *you first have to hurt the libr

[2015-08-20 13:27] NoelAbrahams commented on #4370
@DanielRosenwasser,

A small point: this would make most sense if TypeScript were to support a `using`-style directive.

Something like `import * from A` (as suggested in #2956).

The suggestion in Microsoft/TypeScript-Sublime-Plugin#327 is about adding an `import Task = ...`, which I don't believe many people would do, because that is a sort of per type import (i.e. a simple alias).

[2015-08-20 13:44] OlegDokuka commented on #4370
looks good, it will be cool if we get this feature

[2015-08-20 14:02] jbondc commented on #4234
@JsonFreeman About overload resolution, it could be improved:
https://github.com/Microsoft/TypeScript/blob/master/src/compiler/checker.ts#L5215

In:
https://github.com/Microsoft/TypeScript/blob/master/src/compiler/checker.ts#L4603
[code]
So you know you're checking for a type in overload resolution. Haven't dug into the details but understand enough to know its not impossible. I'm sure you guys ca

[2015-08-20 14:58] jbrantly commented on #1790
Was this closed as "the spread operator will work here sometime in the future" or "the spread operator will work here now"?

I just using the spread operator in the super call and I get `Supplied parameters do not match any signature of call target.`

[2015-08-20 16:25] kungfusheep commented on #4370
A using directive would be nice, but I think that is a separate issue in this case. 327 mentions that the generated statement would be dependent on the `"module"` setting in tsconfig - based on current ways we have to import code.

[2015-08-20 17:24] DanielRosenwasser commented on #4341
It's expected, it's just that the compiler should warn you that this will happen.

[2015-08-20 17:56] paulvanbrenk commented on #4109
This will be in the next TS release for VS 2015

[2015-08-20 17:56] #4109 closed

[2015-08-20 18:06] sheetalkamat commented on #3317
I am getting this error:
![errorrunninglightreaderproject](https://cloud.githubusercontent.com/assets/8052792/9391414/7c111ba8-472b-11e5-9e11-5da4657b3ee8.JPG)

[2015-08-20 18:38] jpierson commented on #4363
I have just recently [starting looking into solutions](http://stackoverflow.com/questions/32012952/what-is-the-story-for-creating-and-consuming-typescript-libraries) for sharing an internal TypeScript library myself and was surprised not to see an existing story on how to accomplish this.

[2015-08-20 18:42] jpierson commented on #4315
Do `/// <reference path="mylib.d.ts" />` statements support URL paths? If not should they? It seems like an interesting way to resolve and expose typescript definition files. For internal projects it wouldn't be much different than setting up a private NuGet server which appears to be pretty common place for .NET project.

[2015-08-20 18:47] vladima commented on #4359
PR with the fix: https://github.com/Microsoft/TypeScript/pull/4379

[2015-08-20 18:49] jpierson commented on #4315
Is dts-generator a solution? I haven't had time to explore it. I was hoping to leverage something built into the compiler to create a type definition file and also an equally simple way to consume it without having to either place on DefinitelyTyped or copy locally into each project.

[2015-08-20 18:52] JsonFreeman commented on #4234
@jbondc I'm not sure what rule you have in mind, but it does not seem sensible to special case assignability for overload resolution.

@benliddicott If I understand you correctly, you are saying that the purpose of a type assertion expression has nothing to do with the checking of excess properties, so why mix the two concepts? You want the ability to control whether an excess property check is re

[2015-08-20 18:55] SonofNun15 commented on #4315
I'll take a look at dts-generator. I was hoping for some native TypeScript support so that external TypeScript libraries could be imported via ES6 imports as well. Something like `import {part1, part2} from 'path/to/my/js/and/dts/files';`